﻿@model IEnumerable<eAcademy.ViewModel.HomeworkList>
@using eAcademy.Models
@{
    ViewBag.Title = "Assign Subject with Faculty";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        <section class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageClassTimetable")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="box-body" id="MyInfoText" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("allAcademicYears_List", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("allClass_List", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("allSection_List", new List<SelectListItem>() { new SelectListItem() { Text =ResourceCache.Localize("SelectSection"), Value = "" } })
                        </div>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="BtnTimetable"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                </form>
                <div id="TStable" style="display:none">
                    <div class="col-sm-12 btn-down">
                        <div class="col-sm-2 right"></div>
                        <div id="box" class="col-sm-12 col-md-8 right pull-right"></div>
                        <div class="left col-sm-2 subject_table" id="SubjectList" style="display:none">
                            <table id="tblSubList" class="sub_list"></table>
                        </div>
                        
                        <div class="col-sm-offset-3 col-sm-9 btn-down" id="saveDiv" style="display:none">
                            <button id="SavePeriodSubject" class="btn btn-sm btn_save btn_left btn-align" name="saveperiodsubject"><i class="fa fa-save about-section"></i>@ResourceCache.Localize("Save")</button>
                        </div>
                        <div><label>@ResourceCache.Localize("Note_Wait_for_10_Sec_to_check_the_selected_subject_faculty_is_free_or_not")</label> </div>
                    </div>
                    
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
    </div>
</section>



@section scriptsContainer{
    <script src="~/js/jquery.easyui.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('#allAcademicYears_List').val(@Session["Add_ChosenAcademicYearId"]);

        $('#allAcademicYears_List').change(function (event) {
            $("#TStable").hide();
            $('#allClass_List').val("");
            $("#allSection_List").empty().append('<option value=""> @ResourceCache.Localize("--SelectSection--") </option>');
            event.preventDefault();
            var YearId = $('#allAcademicYears_List').val();
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                        function (orderdetails) {
                        });
        });

        $('#allClass_List').change(function (event) {
            $("#TStable").hide();
            $("#allSection_List").empty().append('<option value=""> @ResourceCache.Localize("--SelectSection--") </option>');
            event.preventDefault();
            LoadClassDetailsAFS_List();
        });


        function LoadClassDetailsAFS_List() {
            var ClassId = $('#allClass_List').val();
            $.getJSON('/TimeTableManagement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#allSection_List").empty().append('<option value=""> @ResourceCache.Localize("--SelectSection--") </option>');
                    $.each(orderdetails, function (i, c) {
                        $("#allSection_List").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }

        $('#allSection_List').change(function (event) {
            $("#TStable").hide();
        });

        $("#allAcademicYears_List").addClass("current_button");
        $("#allClass_List").addClass("current_button");
        $("#allSection_List").addClass("current_button");
        var Periodcounter = 1;

        $("#BtnTimetable").click(function () {

            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
            $("#ClassTimetableSuccessMessage").hide();
            $("#TStable").hide();

            var yearId = $("#allAcademicYears_List").val();
            var classId = $("#allClass_List").val();
            var secId = $("#allSection_List").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears_List') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'allSection_List') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {

                }
            });

            if (a.length != 0) {
                $("#ClassTimetableErrorMessage").hide();
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            $("#TStable").show();
            $("#Loading_Sec").removeClass("loading-new");
            $.getJSON('/TimetableManagement/getPeriodSubject', { passYearId: yearId, passClassId: classId, passSecId: secId },
             function (data2) {

                 if (data2.ErrorMessage != null) {
                     $("#TStable").hide();
                     $("#MandatoryFieldErrorMessage_Add").hide();
                     $("#ClassTimetableErrorMessage").show();
                     $("#Loading_Sec").removeClass("loading-new");
                     return false;
                 }

                 $("#ClassTimetableErrorMessage").hide();
                 $("#tblSubList").empty();
                 $("#basicTable").empty();
                 $("#basicTable").remove();
                 $("#basicTable tbody").empty();
                 $(".title").empty();

                 $("#GetTimetable").show();
                 $("#SubjectList").show();
                 $("#saveDiv").show();
                 $("#TStable").show();

                 var DayCount = data2.day;
                 var PeriodCount = data2.period;
       
                 //alert("DayCount=" + DayCount);
                 //alert("PeriodCount=" + PeriodCount);

                 for (var x = 0; x < data2.subList.length; x++) {
                     var subList = data2.subList[x];
                     var subject1 = subList.SubjectName;
                     $("#tblSubList").append($('<tr><td> <div class="item">' + subject1 + '</div> </td></tr>'));
                 }

                 mytable = $('<table class="tbl_Period" ></table>').attr({ id: "basicTable" });

                 var cols = new Number(PeriodCount);
                 var rows = new Number(DayCount);
                 var tr = [];
                 var k = 0;
                 var id = 1;
                 var Header = data2.PeriodsList.length;
                 for (var i = 0; i <= Header; i++) {

                     if (i == 0) {
                         $('<td class="title"id="Period' + i + '"></td>').text('@ResourceCache.Localize("Day/Period")').appendTo(mytable);
                     } else {
                         var List = data2.PeriodsList[k];
                         var time = List.txt_PeriodTime;
                         var PeriodName = List.PeriodName;
                         var type = List.PeriodType;
                         if (type == "Period") {
                             $('<td class="title item"id="Period' + id + '"><label>' + PeriodName + '</label><br><label>' + time + '</label></td>').appendTo(mytable);
                             id++;
                         } k++;
                     }
                 }

                 for (var i = 1; i <= rows; i++) {
                     var row = $('<tr></tr>').appendTo(mytable);
                     $('<td></td>').text("Day" + i).appendTo(row);

                     for (var j = 1; j <= cols; j++) {
                         $('<td id="day' + i + 'period' + j + '" class="drop droppable"></td>').appendTo(row);
                     }
                 }

                 console.log("TTTTT:" + mytable.html());
                 mytable.appendTo("#box");

                 $(function () {
                     $('.left .item').draggable({
                         revert: true,
                         proxy: 'clone'
                     });
                     $('.right td.drop').droppable({
                         onDragEnter: function () {
                             $(this).addClass('over');
                             $("#MandatoryFieldErrorMessage_Add").hide();
                             $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                             $("#ClassTimetableSuccessMessage").hide();
                         },
                         onDragLeave: function () {
                             $(this).removeClass('over');
                             $("#MandatoryFieldErrorMessage_Add").hide();
                             $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                             $("#ClassTimetableSuccessMessage").hide();
                         },
                         onDrop: function (e, source) {
                             $("#MandatoryFieldErrorMessage_Add").hide();
                             $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                             $("#ClassTimetableSuccessMessage").hide();
                             ////$("#saveDiv").hide();
                             $("#Loading_Sec").addClass("loading-new");
                             $(this).removeClass('over');
                             if ($(source).hasClass('assigned')) {
                                 $(this).append(source);

                                 var c = $(source).clone().addClass('assigned');
                                 $(this).empty().append(c);

                                 for (var i = 1; i <= DayCount; i++) {

                                     for (var j = 1; j <= PeriodCount; j++) {

                                         var subject = $("#day" + i + "period" + j + " div").text();


                                         if (subject != "") {

                                             var dayId = i;
                                             var periodId = j;

                                             $.getJSON('/TimetableManagement/IsFacultyFree', { passYearId: yearId, passClassId: classId, passSectionId: secId, passSubject: subject, passDayId: dayId, passPeriodId: periodId },
                                              function (data) {
                                                  if (data.IsFacultyFree == "No") {
                                                      
                                                      alert("@ResourceCache.Localize("The_selected_subject_faculty_is_not_free_in_this_period_and_He_She_is_going_for_the_class") " + data.ClassName + " " + data.secName);
                                                      
                                                      var dId = data.passDayId;
                                                      var pId = data.passPeriodId;
                                                      $("#day" + dId + "period" + pId + " div").remove();
                                                      //setTimeout(function () {
                                                      //    $("#saveDiv").show();
                                                      //}, 500);
                                                  }
                                                  

                                              });
                                         }

                                     }
                                     //setTimeout(function () {
                                     //    $("#saveDiv").show();
                                     //}, 500);

                                 }
                                 //$("#day" + dId + "period" + pId + " div").remove();
                                 //setTimeout(function () {
                                 //    $("#saveDiv").show();
                                 //}, 500);

                             } else {

                                 var c = $(source).clone().addClass('assigned');
                                 $(this).empty().append(c);

                                 for (var i = 1; i <= DayCount; i++) {

                                     for (var j = 1; j <= PeriodCount; j++) {

                                         var subject = $("#day" + i + "period" + j + " div").text();

                                         if (subject != "") {

                                             var dayId = i;
                                             var periodId = j;

                                             $.getJSON('/TimetableManagement/IsFacultyFree', { passYearId: yearId, passClassId: classId, passSectionId: secId, passSubject: subject, passDayId: dayId, passPeriodId: periodId },
                                              function (data) {
                                                  if (data.IsFacultyFree == "No") {
                                                     
                                                      alert("@ResourceCache.Localize("The_selected_subject_faculty_is_not_free_in_this_period_and_He_She_is_going_for_the_class") " + data.ClassName + " " + data.secName);
                                                      
                                                      var dId = data.passDayId;
                                                      var pId = data.passPeriodId;
                                                      $("#day" + dId + "period" + pId + " div").remove();
                                                      $("#day" + dId + "period" + pId + " div").remove();
                                                      //setTimeout(function () {
                                                      //    $("#saveDiv").show();
                                                      //}, 500);
                                                  }
                                                
                                              });
                                         }

                                     }

                                 }

                                 c.draggable({
                                     revert: true
                                     
                                 });
                             }
                             //$("#day" + dId + "period" + pId + " div").remove();
                             setTimeout(function () {
                                 $("#Loading_Sec").removeClass("loading-new");
                             }, 2000);
                             $("#MandatoryFieldErrorMessage_Add").hide();
                             $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                             $("#ClassTimetableSuccessMessage").hide();
                            
                         }
                     });
                     $('.left').droppable({
                         accept: '.assigned',
                         onDragEnter: function (e, source) {
                             $(source).addClass('trash');
                         },
                         onDragLeave: function (e, source) {
                             $(source).removeClass('trash');
                         },
                         onDrop: function (e, source) {
                             $(source).remove();
                         }
                     });
                 });


                 var GetList = data2.getList;
                 console.log("List" + GetList);
                 if (GetList != "empty") {

                     for (var i = 1; i <= DayCount; i++) {
                         for (var j = 1; j <= PeriodCount ; j++) {
                             for (var k = 0; k < data2.getList.length; k++) {
                                 var List = data2.getList[k];
                                 var DayNo = List.day;
                                 var PeriodNumber = List.period;

                                 if (i == DayNo && j == PeriodNumber) {
                                     var subject = List.subject;
                                     $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'))
                                 }
                             }
                         }
                     }
                 }

             });

        });


        var subId1 = "";

        $("#SavePeriodSubject").click(function () {

            var yearId = $("#allAcademicYears_List").val();
            var classId = $("#allClass_List").val();
            var secId = $("#allSection_List").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'allSection_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
            $("#Loading_Sec").addClass("loading-new");
            var m;
            var n;
            var IsAllFieldsEmpty = "Yes";
            $.getJSON('/TimetableManagement/getDayPeriod', { passYearId: yearId, passClassId: classId, passSecId: secId },
             function (data3) {

                 var NoDays = data3.day;
                 var NoPeriods = data3.period;

                 for (m = 1; m <= NoDays; m++) {

                     for (n = 1; n <= NoPeriods; n++) {

                         var subject = $("#day" + m + "period" + n + " div").text();

                         var Currentday = m;
                         var CurrentPeriod = n;

                         if (subject != "") {
                             $.getJSON('/TimetableManagement/AddPeriodSubject', { passYearId: yearId, passClassId: classId, passSectionId: secId, passSubject: subject, passDayId: Currentday, passPeriodId: CurrentPeriod },
                             function (data1) {
                                 if (data1.InfoMessage != "" && data1.InfoMessage != null) {
                                     $("#ClassTimetableSuccessMessage").hide();
                                     $("#MyInfoText").show();
                                     $("#AddInfoText").empty();
                                     $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                     $("#Loading_Sec").removeClass("loading-new");
                                 }
                                 else {
                                     $("#MyInfoText").hide();
                                     $("#ClassTimetableSuccessMessage").show();
                                 }
                             });
                             IsAllFieldsEmpty = "No";
                         }
                         else {
                         }
                     }

                 }
             });

            if (IsAllFieldsEmpty == "No") {
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#AddErrorText").text("Please assign subject to period");
            }

            $("#Loading_Sec").removeClass("loading-new");


        });


    });
    </script>
}

<style>
    /*.btn-align {
        margin-left: 2px;
    }*/
    .left {
        width: 120px;
        float: left;
    }

        .left table {
            background: #E0ECFF;
        }

        .left td {
            background: #eee;
        }

    .right {
        float: right;
        /*width: 570px;*/
    }

        .right table {
            background: #E0ECFF;
            width: 100%;
        }

        .right td {
            background: #fafafa;
            color: #444;
            text-align: center;
            padding: 2px;
        }

        .right td {
            background: #E0ECFF;
        }

            .right td.drop {
                background: #fafafa;
                width: 100px;
                height: 30px;
            }

            .right td.over {
                background: #FBEC88;
            }

    .item {
        text-align: center;
        border: 1px solid #499B33;
        background: #fafafa;
        color: #444;
        width: 100px;
    }

    .assigned {
        border: 1px solid #BC2A4D;
    }

    .trash {
        background-color: red;
    }

    #basicTable tbody tr td {
        border: groove;
        width: 100px;
    }

    #basicTable td {
        border: groove;
    }

    #basicTable tr {
        border: groove;
    }
</style>