﻿@using eAcademy.Models
@{
    ViewBag.Title = "ExamTimetable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ExamTimeTable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="box-body" id="MyInfoText" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                                </div>
                            </div>
                            <div class="alert alert-info alert-dismissable" id="Info" style="display:none">
                                <b>@ResourceCache.Localize("Info_You_cannot_change_the_details_for_completed_exams")</b>
                            </div>
                            <div class="alert alert-info alert-dismissable" id="TotalCalculated" style="display:none">
                                <b>@ResourceCache.Localize("Info_Total_already_calculated_So_unable_to_create_timetable_for_recently_added_subject")</b>
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("XallAcademicYears", new SelectList(ViewBag.XallAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>
                            <div class="col-lg-3">
                                <div><label></label><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("XallClass", new SelectList(ViewBag.XallClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                            </div>
                            <div class="col-lg-3" id="hideBtn">
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnShowSubject_ExamTimetable"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            </div>
                            <div class="col-lg-12" id="div_ShowSubject_ExamTimetable" style="display:none">
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped col-lg-3">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("Subject") <span class="glyphicon glyphicon-asterisk"></span>
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Date") <span class="glyphicon glyphicon-asterisk"></span>
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Schedule") <span class="glyphicon glyphicon-asterisk"></span><select id="TimeSchedule">@ResourceCache.Localize("Select_Schedule")</select>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="Subject_DateList"></tbody>
                                    </table>
                                    <div class="col-lg-6">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <input type="hidden" id="count" />
                                    <button type="button" class="btn btn-sm btn_save btn-down" id="btnCreateExamTimetable"><i class="fa fa-save"></i> @ResourceCache.Localize("Save")</button>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-info alert-dismissable" id="NoRecords" style="display:none">
                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#XallAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            $('#XallAcademicYears').change(function (event) {
                event.preventDefault();
                $("#div_ShowSubject_ExamTimetable").hide();
                var YearId = $('#XallAcademicYears').val();
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                            function (orderdetails) {
                            });
            });

            $('#allExams').change(function (event) {
                $("#div_ShowSubject_ExamTimetable").hide();
            });

            $('#XallClass').change(function (event) {
                $("#div_ShowSubject_ExamTimetable").hide();
            });

            $("#XallAcademicYears").addClass("current_button");
            $("#allExams").addClass("current_button");
            $("#XallClass").addClass("current_button");

            $("#btnShowSubject_ExamTimetable").click(function (event) {
                $("#hideBtn").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#Info").hide();
                $("#TotalCalculated").hide();

                $("#Loading_Sec").addClass("loading-new");
                $(".jsonError").hide();
                $("#Warning1").hide();
                $("#Warning2").hide();
                $('#Subject_DateList').empty();
                $("#div_ShowSubject_ExamTimetable").hide();
                event.preventDefault();
                var yearId = $("#XallAcademicYears").val();
                var ExamId = $("#allExams").val();
                var ClassId = $("#XallClass").val();

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'XallAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                        if (null_id == 'XallClass') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    $("#Loading_Sec").removeClass("loading-new");
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();


                    $('#Subject_DateList').empty();
                    $.getJSON('/TimeTableManagement/getSubjectList', { passYearId: yearId, passClassId: ClassId, passExamId: ExamId },
                      function (data) {

                          $("#TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                          $.each(data.ScheduleList, function (i, c) {
                              $("#TimeSchedule").append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                          });

                          if (data.msg == "new") {
                              var count = data.count;
                              if (count == 0) {
                                  $("#NoRecords").show();
                                  $("#div_ShowSubject_ExamTimetable").hide();
                              }

                              $.each(data.List, function (i, v) {
                                  var atn = "atn" + i;
                                  var att = "att";

                                  row = $("<tr id=''><td><select class='sub' id='subject" + i + "'> </select></td> <td><input type='textbox' id='textbox_Date" + i + "' name='textbox_Date" + i + "'  class='txt_Date' readonly /></td> <td> <select class=" + att + " id='" + atn + "'> </select>  </td> </tr>");
                                  $('#Subject_DateList').append(row);
                                  $("#div_ShowSubject_ExamTimetable").show();
                                  $("#NoRecords").hide();
                                  $("#count").val(i);
                              });

                              $(".sub").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                              $.each(data.List, function (i, c) {
                                  $(".sub").append($('<option></option>').val(c.SubjectId).html(c.SubjectName));
                              });

                              $(".att").empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                              $.each(data.ScheduleList, function (i, c) {
                                  $(".att").append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                              });

                              var mdate = data.sd + "------" + data.ed;
                              $(function () {
                                  var dates = $(".txt_Date").datepicker({
                                      dateFormat: 'dd/mm/yy',
                                      minDate: 0,
                                      maxDate: data.ed,
                                      changeMonth: true,
                                      changeYear: true
                                  });
                              });

                          }


                          if (data.msg == "old") {

                              $('#Subject_DateList').empty();
                              var icount;
                              $.each(data.ExistList, function (i, v) {

                                  var subject = "subject" + i;
                                  var atn = "atn" + i;
                                  var att = "att";
                                  row = $("<tr id=''><td><select class='sub' id='" + subject + "'> </select></td> <td><input type='textbox' id='textbox_Date" + i + "' name='textbox_Date" + i + "' value='" + v.date + "'  class='txt_Date' readonly /></td> <td> <select class=" + att + " id='" + atn + "'> </select>  </td> <input type='hidden' id='id" + i + "' value='" + v.id + "'  name='id" + i + "' ></td> </tr>");
                                  $('#Subject_DateList').append(row);
                                  $("#div_ShowSubject_ExamTimetable").show();
                                  $("#NoRecords").hide();
                                  icount = i;
                                  $("#count").val(i);

                                  $("#" + subject).empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                                  $.each(data.List, function (i, c) {
                                      $("#" + subject).append($('<option></option>').val(c.SubjectId).html(c.SubjectName));
                                  });

                                  var selVal = v.SubjectId;
                                  $("#" + subject).val(selVal);


                                  $("#" + atn).empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                                  $.each(data.ScheduleList, function (i, c) {
                                      $("#" + atn).append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                                  });

                                  var selSchedule = v.Schedule;
                                  $("#" + atn).val(selSchedule);

                              });

                              if (data.TotalCalculated == "No") {

                                  $.each(data.List1, function (i, v) {
                                      //  alert("i=" + i);
                                      var newicount = icount + (i + 1);
                                      //  alert("newicount=" + newicount);
                                      var subject = "subject" + newicount;
                                      var atn = "atn" + newicount;
                                      var att = "att";

                                      row = $("<tr id=''><td><select class='sub' id='subject" + newicount + "'> </select></td> <td><input type='textbox' id='textbox_Date" + newicount + "' name='textbox_Date" + newicount + "'  class='txt_Date' readonly /></td> <td> <select class=" + att + " id='" + atn + "'> </select>  </td> </tr>");
                                      $('#Subject_DateList').append(row);
                                      $("#div_ShowSubject_ExamTimetable").show();
                                      $("#NoRecords").hide();
                                      $("#count").val(newicount);

                                      $("#" + subject).empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                                      $.each(data.List, function (i, c) {
                                          $("#" + subject).append($('<option></option>').val(c.SubjectId).html(c.SubjectName));
                                      });


                                      $("#" + atn).empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                                      $.each(data.ScheduleList, function (i, c) {
                                          $("#" + atn).append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                                      });

                                  });
                              }

                              if (data.TotalCalculated == "Yes") {
                                  $("#TotalCalculated").show();

                              }

                              var mdate = data.sd + "------" + data.ed;
                              $(function () {
                                  var dates = $(".txt_Date").datepicker({
                                      dateFormat: 'dd/mm/yy',
                                      minDate: 0,
                                      maxDate: data.ed,
                                      changeMonth: true,
                                      changeYear: true
                                  });
                              });


                              if (data.schedule == "All") {
                                  $("#TimeSchedule").val(data.val)
                              }

                              $("#btnCreateExamTimetable").prop('value', 'Update');
                          }

                      });
                    $("#Loading_Sec").removeClass("loading-new");
                }

                setTimeout(function () {
                    $("#hideBtn").show();
                }, 500);
            });

            $("#TimeSchedule").change(function (event) {
                var schedule = $("#TimeSchedule").val();
                if (schedule != "0") {
                    $('.att').val(schedule);
                }
                else {
                    $('.att').val("0");
                }
            });

            $(document).on('change', '.att', function () {

                var n = $(".att").length;
                var j = 0;

                for (var i = 0; i < n; i++) {
                    var selVal = $("#atn" + i).val();
                    var mainSelVal = $("#TimeSchedule").val();
                    var defVal = mainSelVal;

                    if (selVal == defVal) {
                        j++;

                    }
                    else {

                    }
                }

                if (j == n) {
                    $("#TimeSchedule").val(defVal);
                }
                else {
                    $("#TimeSchedule").val("0");
                }

            });

            $("#btnCreateExamTimetable").click(function () {
                $("#btnCreateExamTimetable").prop('disabled', true);
                $(".jsonError").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#Warning2").hide();
                $("#Info").hide();
                $("#TotalCalculated").hide();
                var yearId = $("#XallAcademicYears").val();
                var ExamId = $("#allExams").val();
                var ClassId = $("#XallClass").val();

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'XallAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                        if (null_id == 'XallClass') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                    }
                    else {
                    }
                });

                var c = $("#count").val();

                var subject = [];
                var date = [];
                var scheduleval = [];
                var rid = [];
                var subject1 = [];

                var s = 1;
                var d = 1;
                var sh = 1;
                for (var i = 0; i <= c; i++) {

                    subject[i] = $("#subject" + i).val();
                    subject1[i] = $("#subject" + i).val();
                    date[i] = $("#textbox_Date" + i).val();
                    scheduleval[i] = $("#atn" + i).val();
                    rid[i] = $("#id" + i).val();

                    if (subject[i] == "") {
                        s = 0;
                    }
                    if (date[i] == "") {
                        d = 0;
                    }
                    if (scheduleval[i] == "") {
                        sh = 0;
                    }
                }

                if (s == 0) {
                    a.push("@ResourceCache.Localize("Please_select_subject_to_all_fields")");
                }
                if (d == 0) {
                    a.push("@ResourceCache.Localize("Please_select_date_to_all_fields")");
                }
                if (sh == 0) {
                    a.push("@ResourceCache.Localize("Please_select_schedule_to_all_fields")");
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    $("#btnCreateExamTimetable").prop('disabled', false);
                    return false;
                }

                $("#MandatoryFieldErrorMessage_Add").hide();

                for (var i = 0; i <= c; i++) {

                    var sorted_arr = subject1.sort();

                    if (sorted_arr[i] == subject1[i + 1]) {
                        $("#Warning1").show();
                        $("#btnCreateExamTimetable").prop('disabled', false);
                        return false;
                    }
                }
                $("#Warning1").hide();
                $("#Warning2").hide();

                var values = { AcademicYears: yearId, Exam: ExamId, Class: ClassId, TotalCount: c, subjectId: subject, Examdate: date, ScheduleVal: scheduleval, ID: rid };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/TimeTableManagement/SaveExamTimetable',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#btnCreateExamTimetable").prop('disabled', false);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.InfoMessage != "" && data.InfoMessage != null) {
                                $("#TotalCalculated").hide();
                                $("#Info").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#MyInfoText").show();
                                $("#AddInfoText").empty();
                                $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.TotalCalculated == "Yes") {
                                $("#TotalCalculated").show();
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.Info == "You_cannot_change_the_details_for_completed_exams") {
                                $("#Info").show();
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                            }


                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).text(data.Message);
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ErrorSameTimePeriod != "" && data.ErrorSameTimePeriod != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jSuccessMsg").hide();
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#Warning2").show();
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#btnCreateExamTimetable").prop('disabled', false);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }

                    }

                });
                $("#btnCreateExamTimetable").prop('disabled', false);
            });
        });
    </script>
}