﻿@model IEnumerable<eAcademy.ViewModel.AchievementList>
@using eAcademy.Models
@{
    ViewBag.Title = "SchoolAchievement";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="div_EditExamTimeSchedule" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-pencil-square-o "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditExamTimeSchedule")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Schedule_Name")</label></div>
                                <input class="col-lg-12" type="text" id="txt_EditScheduleName" name="txt_EditScheduleName" placeholder="@ResourceCache.Localize("Schedule_Name")" title="@ResourceCache.Localize("Schedule_Name")" maxlength="20" required="required" readonly />
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Start_Time")</label></div>
                                <input class="col-lg-12" type="text" id="txt_EditStime" name="txt_EditStime" placeholder="@ResourceCache.Localize("Start_Time")" title="@ResourceCache.Localize("Start_Time")" required="required" readonly />
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("End_Time")</label></div>
                                <input class="col-lg-12" type="text" id="txt_EditEtime" name="txt_EditEtime" placeholder="@ResourceCache.Localize("End_Time")" title="@ResourceCache.Localize("End_Time")" required="required" readonly />
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div id="editActive" style="display: none">
                                    <select name="status" id="status">
                                        <option value="true">@ResourceCache.Localize("Active")</option>
                                        <option value="false">@ResourceCache.Localize("In_Active")</option>
                                    </select>
                                </div>
                                <div id="editInActive" style="display: none">
                                    <select name="status" id="status">
                                        <option value="false">@ResourceCache.Localize("In_Active")</option>
                                        <option value="true">@ResourceCache.Localize("Active")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12"><label></label> </div>
                            <input type="hidden" id="EScheduleId" name="EScheduleId" />
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-sm btn_update btn_update btn_double" id="EditExamTimeSchedule" title="@ResourceCache.Localize("Update")"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-sm btn_cancel " name="btnCancel_EditExamTimeSchedule" id="btnCancel_EditExamTimeSchedule" title="@ResourceCache.Localize("Cancel")"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="div_AddExamTimeSchedule">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-plus "></i>
                    <h3 class="box-title">@ResourceCache.Localize("AddExamTimeSchedule")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-lg-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Schedule_Name")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_ScheduleName" name="txt_ScheduleName" placeholder="@ResourceCache.Localize("Schedule_Name")" title="@ResourceCache.Localize("Schedule_Name")" maxlength="20" required="required" />
                        </div>
                        <div class="col-lg-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Start_Time")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_stime" name="txt_stime" placeholder="@ResourceCache.Localize("Start_Time")" title="@ResourceCache.Localize("Start_Time")" required="required" readonly />
                        </div>
                        <div class="col-lg-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("End_Time")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_etime" name="txt_etime" placeholder="@ResourceCache.Localize("End_Time")" title="@ResourceCache.Localize("End_Time")" required="required" readonly />
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnAddExamTimeSchedule"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="reset" class=" btn  btn-sm btn_reset btn-down" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("ManageExamTimeSchedule")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 btn-down">
                    <table class="col-lg-12" id="ExamTimeScheduleGrid"></table>
                    <div id="ExamTimeSchedulePager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
            <div class="box-footer clearfix no-border">
            </div>
        </section>
        <div id="dialog-confirm" title="@ResourceCache.Localize("DeleteFromList")" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txt_EditScheduleName').filter_input({ regex: '[0-9A-Za-z]' });
            $('#txt_ScheduleName').filter_input({ regex: '[0-9A-Za-z]' });
            var startTimeTextBox = $('#txt_stime');
            var endTimeTextBox = $("#txt_etime");
            $.timepicker.timeRange(
                startTimeTextBox,
                endTimeTextBox,
                {
                    minInterval: (1000 * 60 * 60), // 1hr
                    timeFormat: 'HH:mm',
                    start: {}, // start picker options
                    end: {} // end picker options
                }
            );

            $("#btnAddExamTimeSchedule").click(function () {
                var scheduleName = $('#txt_ScheduleName').val();
                var stime = $('#txt_stime').val();
                var etime = $('#txt_etime').val();

                $("#txt_ScheduleName").addClass("current_button");
                $("#txt_stime").addClass("current_button");
                $("#txt_etime").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'txt_ScheduleName') {

                            a.push('@ResourceCache.Localize("Please_enter_schedule_name")');
                        }
                        if (null_id == 'txt_stime') {

                            a.push('@ResourceCache.Localize("Please_select_start_time")');
                        }
                        if (null_id == 'txt_etime') {

                            a.push('@ResourceCache.Localize("Please_select_end_time")');
                        }
                    }
                    else {
                    }
                });

                if (stime > etime) {
                    a.push('@ResourceCache.Localize("End_time_should_be_greater_than_start_time")');
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                $("#MandatoryFieldErrorMessage_Add").hide();
                var values = { txt_ScheduleName: scheduleName, txt_stime: stime, txt_etime: etime, };              
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/TimeTableManagement/ExamTimeSchedule',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#ExamTimeScheduleGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });


            });

            var b;

            jQuery("#ExamTimeScheduleGrid").jqGrid({

                url: "/TimeTableManagement/ExamScheduleResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['', '@ResourceCache.Localize("Schedule_Name")', '@ResourceCache.Localize("Start_Time")', '@ResourceCache.Localize("End_Time")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Action")'],
                colModel: [
                    { key: true, hidden: true, name: 'ExamScheduleId', index: 'ExamScheduleId' },
                    { key: false, name: 'ScheduleName', index: 'ScheduleName' },
                    { key: false, name: 'StartTime', index: 'StartTime' },
                    { key: false, name: 'EndTime', index: 'EndTime' },
                     { key: false, name: 'Status', index: 'Status' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#ExamTimeSchedulePager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,


                gridComplete: function () {
                    var ids = jQuery("#ExamTimeScheduleGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        b = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_ExamSchedule btn_Edit ui-icon-pencil' id='" + b + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                        de = "<input style='height:23px;width:22px;' type='button' class='btn_del_ExamSchedule btn_Delete ui-icon-trash' id='" + b + "' value=''  title='@ResourceCache.Localize("Delete")' />";
                        jQuery("#ExamTimeScheduleGrid").jqGrid('setRowData', ids[i], { act: be + de });
                    }
                },

            }).navGrid('#ExamTimeSchedulePager', { edit: false, add: false, del: false, search: false, refresh: false }
                 ).jqGrid('navButtonAdd', '#ExamTimeSchedulePager',
        {
            caption: " @ResourceCache.Localize("Excel") ",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../TimeTableManagement/ExamTimeSchedule_ExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#ExamTimeSchedulePager',
        {
            caption: "@ResourceCache.Localize("Pdf") ",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../TimeTableManagement/ExamTimeSchedule_ExportToPdf";
            }
        });

            $("#ExamTimeScheduleGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Exam_Time_Schedule_List")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


            $(document).on('click', '.btn_edit_ExamSchedule', function () {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_Edit").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                var id = $(this).attr('id');
                $.getJSON('/TimeTableManagement/EditExamTimeSchedule', { passId: id },
                   function (data) {
                       $("#div_EditExamTimeSchedule").show();
                       $("#div_AddExamTimeSchedule").hide();
                       $("#txt_EditScheduleName").val(data.scheduleName);
                       $("#txt_EditStime").val(data.stime);
                       $("#txt_EditEtime").val(data.etime);

                       if (data.status == "true") {
                           $("#editActive").show();
                           $("#editInActive").hide();
                       }
                       else {
                           $("#editInActive").show();
                           $("#editActive").hide();
                       }

                       $("#EScheduleId").val(id);
                   });
            });

            $("#EditExamTimeSchedule").click(function () {
                var id = $('#EScheduleId').val();
                var status = $('#status').val();
                $("#status").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'status') {

                            a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Edit").show();
                    $(".Edit_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Edit_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                $("#MandatoryFieldErrorMessage_Edit").hide();
                var values = { scheduleId: id, Status: status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/TimeTableManagement/EditExamTimeSchedule',
                    type: 'POST',
                    processData: false,
                    contentType: false,


                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#ExamTimeScheduleGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });

            $(document).on('click', '.btn_del_ExamSchedule', function () {
                var id = $(this).attr('id');
                $("#dialog-confirm").dialog({
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $(this).dialog("close");
                            $.getJSON('/TimeTableManagement/DeleteExamTimeSchedule', { passId: id },
                               function (data) {
                                   $("#ExamTimeScheduleGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                   var totalError = data.ex;
                                   var li = [];
                                   if (data.Success == 0) {
                                       $(".jsonExceptionMsg").hide();
                                       $(".jsonSuccessMsg").hide();
                                       $(".jsonErrorMsg").hide();

                                       $(".jsonError").show();
                                       $(".jErr").append().empty();
                                       $.each(totalError, function (i, v) {
                                           if (totalError[i] != "" && totalError[i] != null) {
                                               li = $("<li></li>").text(totalError[i]);
                                               $(".jErr").append(li);
                                           }
                                       });
                                   }
                                   else {

                                       if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                           $(".jsonError").hide();
                                           $(".jsonExceptionMsg").hide();
                                           $(".jsonSuccessMsg").hide();
                                           $(".jsonErrorMsg").show();
                                           $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                       }
                                       if (data.Message != "" && data.Message != null) {
                                           $(".jsonError").hide();
                                           $(".jsonErrorMsg").hide();
                                           $(".jsonExceptionMsg").hide();
                                           $(".jsonSuccessMsg").show();
                                           $("#ExamTimeScheduleGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                           $(".jSuccessMsg").html(data.Message).val(data.Message);
                                       }

                                       if (data.ExceptionError != "" && data.ExceptionError != null) {
                                           $(".jsonError").hide();
                                           $(".jsonErrorMsg").hide();
                                           $(".jsonSuccessMsg").hide();
                                           $(".jsonExceptionMsg").show();
                                           $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                       }
                                   }
                               });
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#btnCancel_EditExamTimeSchedule").click(function () {
                $("#div_EditExamTimeSchedule").hide();
                $("#div_AddExamTimeSchedule").show();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
            });
        });
    </script>
}
