﻿@model IEnumerable<eAcademy.ViewModel.StaffTimetableList>
@using eAcademy.Models
@{
    ViewBag.Title = "StaffTimetable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<style>
    #box td, th {
        padding: 22px;
        border: groove;
    }
</style>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("StaffTimeTable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <form>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Faculty")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allFaculties", new SelectList(ViewBag.allFaculties, "FacultyId", "FacultyName"), ResourceCache.Localize("--SelectFaculty--"))
                            </div>
                            <div class="col-lg-3" id="hideBtn">
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnShowFacultyTimetable"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </form>
                    </div>                
                    <div id="show" style="display:none">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div id="PrintSelection" class="PrintSection" style="display:none">
                            <div>
                                <label>@ResourceCache.Localize("AcademicYear") :</label> <label id="prtAcYear"></label>
                            </div>
                            <div>
                                <label class="PrintSectionLabelSpace">@ResourceCache.Localize("Faculty") :</label> <label id="prtFaculty"></label>
                            </div>
                        </div>
                        <div id="box" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("FacultyTimetable")@*<hr />*@</h2> </div>
                        <div id="NoClassAssigned" style="display:none"><label class="input-label-sm1">@ResourceCache.Localize("No_class_assigned_in_this_period")</label></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {
        $('#allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        $('#allAcademicYears').change(function (event) {
            event.preventDefault();
            $("#show").hide();
            var YearId = $('#allAcademicYears').val();
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                        function (orderdetails) {
                        });
        });

        $('#allFaculties').change(function (event) {
            event.preventDefault();
            $("#show").hide();
        });

        $('#show').hide();
        $("#btnShowFacultyTimetable").click(function () {
            $("#Loading_Sec").addClass("loading-new");
            $("#hideBtn").hide();
            $("#MandatoryFieldErrorMessage_List").hide();
            $("#FacultyTimetable").empty();
            $("#FacultyTimetable").remove();
            $("#FacultyTimetable tbody").empty();
            $(".title").empty();
            $("#show").hide();
            $(".assigned").empty();
            $(".assigned").remove();

            var year = $("#allAcademicYears").val();
            var faculty = $("#allFaculties").val();

            $("#allAcademicYears").addClass("current_button");
            $("#allFaculties").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allFaculties') {

                        a.push('@ResourceCache.Localize("PleaseSelectFaculty")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                $("#Loading_Sec").removeClass("loading-new");
                $("#hideBtn").show();
                return false;
            }
            $("#Loading_Sec").addClass("loading-new");

            $.getJSON('/TimetableManagement/getFacultyPeriodSubject', { passYearId: year, passFacultyId: faculty },
            function (data) {
                var DayCount = data.day;
                var PeriodCount = data.period;
                $('#show').show();
                mytable = $('<table border="1" class="table-responsive col-sm-12"></table>').attr({ id: "FacultyTimetable" });
                myhead = $('<thead></thead>').appendTo(mytable);
                myheadtr = $('<tr></tr>').appendTo(myhead);

                var cols = new Number(PeriodCount);
                var rows = new Number(DayCount);
                var tr = [];

                for (var i = 0; i <= cols; i++) {

                    if (i == 0) {
                        $('<th class="title"></th>').appendTo(mytable);
                    } else {
                        $('<th class="title"></th>').text('@ResourceCache.Localize("Period")' + i).appendTo(mytable);
                    }
                }

                mytbody = $('<tbody></tbody>').appendTo(mytable);

                for (var i = 1; i <= rows; i++) {

                    var mytbodytd = $('<tr><td id="day' + i + '"></td>').appendTo(mytbody);

                    for (var j = 1; j <= cols; j++) {

                        $('<td id="day' + i + 'period' + j + '" class=""></td></tr>').appendTo(mytbodytd);
                    }

                }

                mytable.appendTo("#box");

                for (var i = 1; i <= rows; i++) {
                    $("#day" + i).text('@ResourceCache.Localize("Day")' + i);
                }

                for (var i = 1; i <= DayCount; i++) {
                    for (var j = 1; j <= PeriodCount ; j++) {
                        var x = "Empty";
                        for (var k = 0; k < data.FacultyPeriodSubject.length; k++) {
                            var List = data.FacultyPeriodSubject[k];
                            var DayNo = List.day;
                            var PeriodNumber = List.period;

                            if (i == DayNo && j == PeriodNumber) {
                                var subject = List.subject;
                                var time = List.PeriodTime;
                                x = "Value";
                                $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '<br>' + time + '</div>'))
                            }
                        }
                        if (x == "Empty") {
                            subject = "N";
                            $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'));
                            $("#NoClassAssigned").show();
                        }
                    }

                }
                $("#prtAcYear").text(data.getYear);
                $("#prtFaculty").text(data.getFacultyName);
                $("#show").show();
            });
            $("#Loading_Sec").removeClass("loading-new");

            setTimeout(function () {
                $("#hideBtn").show();
            }, 500);

        });

    });
    </script>
}