﻿@using eAcademy.Models
@{
    ViewBag.Title = "FacultyAssignment";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Assign_Faculty_to_Exam_Hall")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <div class="box-body" id="MyInfoText" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Inv_allAcademicYears", new SelectList(ViewBag.InvAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>

                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Inv_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>

                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="Inv_txt_ExamDate" name="Inv_txt_ExamDate" placeholder="@ResourceCache.Localize("Date")" title="@ResourceCache.Localize("Date")" required="required" readonly />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Schedule")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("TimeSchedule", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectSchedule--"), Value = "" } })
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnShowExamAssignedRoom"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                        <div class="NoRecords box-body" id="NoRecords" style="display:none">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                            </div>
                        </div>
                        <div class="NoRecords box-body" id="ExamRoomIsNotAssigned" style="display:none">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Info:ExamRoomIsNotAssigned")</b>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="div_ExamRoomList" style="display:none">
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("ExamRoomInvigilator")<hr /></h2>
                                    <table class="table table-bordered table-striped col-lg-12">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("RoomName")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Faculty")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ExamRoomList"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="hidden" id="count" class="col-lg-3" />
                                <button type="button" class="btn pull-right btn-sm btn_save" id="btnSaveInvigilator"><i class="fa fa-save"></i> @ResourceCache.Localize("Save")</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {

        $('#Inv_allAcademicYears').val(@Session["CurrentAcYearId"]);
        Changedate();

        $('#Inv_allAcademicYears').change(function (event) {
            event.preventDefault();
            var YearId = $('#Inv_allAcademicYears').val();
            AssignAcademicYear(YearId);
            $("#div_ExamRoomList").hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $('#TimeSchedule').change(function (event) {
            $("#div_ExamRoomList").hide();
        });



        function Changedate() {

            $("#Inv_txt_ExamDate").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                beforeShowDay: available,
                onSelect: function (dateText, inst) {
                    var date = $(this).val();
                    var dt = date.split('/');
                     date = dt[2] + '/' + dt[1] + '/' + dt[0];
                    var YearId = $('#Inv_allAcademicYears').val();
                    var ExamId = $('#Inv_allExams').val();
                    $("#div_ExamRoomList").hide();
                    $.getJSON('/ExamManagement/GetScheduleByDate', { PassYearId: YearId, PassExamId: ExamId, PassDate: date },
                  function (data) {
                      $("#TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("SelectSchedule")</option>');
                      $.each(data, function (i, c) {
                          $("#TimeSchedule").append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                      });
                  });
                }
            });
        }

        $("#Inv_allAcademicYears").addClass("current_button");
        $("#Inv_allExams").addClass("current_button");
        $("#Inv_txt_ExamDate").addClass("current_button");
        $("#TimeSchedule").addClass("current_button");

        var date1 = [];

        $('#Inv_allExams').change(function (event) {
            event.preventDefault();
            $("#MyInfoText").hide();
            var YearId = $('#Inv_allAcademicYears').val();
            var ExamId = $('#Inv_allExams').val();

            $.getJSON('/ExamManagement/GetExamDates', { PassYearId: YearId, PassExamId: ExamId },
                function (data) {
                    if (data.count == 0)
                    {
                        $("#AddInfoText").text("@ResourceCache.Localize("Exam_room_is_not_assigned")");
                        $("#MyInfoText").show();
                        return false;
                    }
                    $.each(data.getDate, function (i, c) {
                        date1[i] = c.date;
                    });
                });
        });

        var availableDates = date1;            // ["9-6-2015", "14-6-2015", "15-6-2015"];           // [date1];          // ["9-6-2015", "14-6-2015", "15-6-2015"]; 2-6-2015,3-6-2015,4-6-2015,5-6-2015,6-6-2015

        function available(date) {
            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
            if ($.inArray(dmy, availableDates) != -1) {
                return [true, "", "Available"];
            } else {
                return [false, "", "unAvailable"];
            }
        }

        $('#Inv_allExams').change(function (event) {
            $("#div_ExamRoomList").hide();
            var YearId = $('#Inv_allAcademicYears').val();
            var ExamId = $('#Inv_allExams').val();

            if (YearId != "" && ExamId != "")
            {
                List_ExamDates(YearId, ExamId);
            }
            else {
                $("#Inv_txt_ExamDate").datepicker("destroy");
            }
        });

        $('#Inv_allAcademicYears').change(function (event) {

            var YearId = $('#Inv_allAcademicYears').val();
            var ExamId = $('#Inv_allExams').val();

            if (YearId != "" && ExamId != "") {
                List_ExamDates(YearId, ExamId);
            }
            else {
                $("#Inv_txt_ExamDate").datepicker("destroy");
            }
        });

        function List_ExamDates(YearId,ExamId) {
            $("#Inv_txt_ExamDate").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                beforeShowDay: available,
                onSelect: function (dateText, inst) {
                    var date = $(this).val();
                    var dt = date.split('/');
                    date = dt[2] + '/' + dt[1] + '/' + dt[0];
                    $.getJSON('/ExamManagement/GetScheduleByDate', { PassYearId: YearId, PassExamId: ExamId, PassDate: date },
                    function (data) {
                        $("#TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("SelectSchedule")</option>');
                        $.each(data, function (i, c) {
                            $("#TimeSchedule").append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                        });
                    });

                }
            });
        }

        $("#btnShowExamAssignedRoom").click(function (event) {
            event.preventDefault();
            $("#MyInfoText").hide();
            $("#div_ExamRoomList").hide();
            $("#NoRecords").hide();
            $("#ExamRoomIsNotAssigned").hide();
            $("#MandatoryFieldErrorMessage_List").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var YearId = $('#Inv_allAcademicYears').val();
            var ExamId = $('#Inv_allExams').val();
            var date = $("#Inv_txt_ExamDate").val();
            var schedule = $("#TimeSchedule").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Inv_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectYear")');
                    }
                    if (null_id == 'Inv_allExams') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                    if (null_id == 'Inv_txt_ExamDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'TimeSchedule') {

                        a.push('@ResourceCache.Localize("PleaseSelectSchedule")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $('#ExamRoomList').empty();
                $("#div_ExamRoomList").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                var dt = date.split('/');
                date = dt[2] + '/' + dt[1] + '/' + dt[0];

                $.getJSON('/ExamManagement/GetExamAssignedRoom', { PassYearId: YearId, PassExamId: ExamId, PassDate: date, PassSchedule: schedule },
                function (data) {

                    if (data.msg == "ExamRoomIsNotAssigned")
                    {
                        $("#ExamRoomIsNotAssigned").show();
                        return false;
                    }

                    if (data.msg == "new") {
                        var count = data.count;
                        if (count == 0) {
                            $("#NoRecords").show();
                            return false;
                        }

                        $.each(data.getAssignedExamRoomList, function (i, v) {
                            var atn = "atn" + i;
                            var att = "att";

                            row = $("<tr id=''> <td><label>" + v.RoomNumber + "</label> <input type='hidden' id='Roomid" + i + "' value='" + v.RoomId + "'  name='Roomid" + i + "' > </td> <td> <select class=" + att + " id='" + atn + "'> </select>  </td> </tr>");
                            $('#ExamRoomList').append(row);
                            $("#div_ExamRoomList").show();
                            $("#NoRecords").hide();
                            $("#count").val(i);
                        });


                        $(".att").empty().append('<option value="0">@ResourceCache.Localize("SelectFaculty")</option>');
                        $.each(data.FacultyList, function (i, c) {
                            $(".att").append($('<option></option>').val(c.FacultyId).html(c.FacultyName));
                        });

                    }

                    if (data.msg == "old") {

                        $.each(data.ExistList, function (i, v) {
                            var atn = "atn" + i;
                            var att = "att";
                            row = $("<tr id=''><td><label>" + v.RoomNumber + "</label> <input type='hidden' id='Roomid" + i + "' value='" + v.RoomId + "'  name='Roomid" + i + "' ></td> <td> <select class=" + att + " id='" + atn + "'> </select> <input type='hidden' id='id" + i + "' value='" + v.id + "'  name='id" + i + "' ></td> </tr>");
                            $('#ExamRoomList').append(row);
                            $("#div_ExamRoomList").show();
                            $("#NoRecords").hide();
                            $("#count").val(i);


                            $("#" + atn).empty().append('<option value="0">@ResourceCache.Localize("SelectFaculty")</option>');
                            $.each(data.FacultyList, function (i, c) {
                                $("#" + atn).append($('<option></option>').val(c.FacultyId).html(c.FacultyName));
                            });

                            var selVal = v.FacultyId;
                            $("#" + atn).val(selVal);

                        });

                    }

                });
            }

        });


        // To check selected faculty is free
        $(document).on('change', ".att", function () {
            var YearId = $('#Inv_allAcademicYears').val();
            var ExamId = $('#Inv_allExams').val();
            var date = $('#Inv_txt_ExamDate').val();
            var schedule = $('#TimeSchedule').val();
            var empRegId = this.value;
            var id = $(this).attr('id');
            var dt = date.split('/');
            date = dt[2] + '/' + dt[1] + '/' + dt[0];
            $.getJSON('/ExamManagement/CheckInvigilatorIsFree', { PassYearId: YearId, PassExamId: ExamId, passExamDate: date, passSchedule: schedule, passEmpRegId: empRegId },
                function (data) {
                    if (data.Invigilator == "NotFree") {
                        alert(data.ErrorMessage);

                        $("#" + id).empty().append('<option value="0">@ResourceCache.Localize("SelectFaculty")</option>');
                        $.each(data.FacultyList, function (i, c) {
                            $("#" + id).append($('<option></option>').val(c.FacultyId).html(c.FacultyName));
                        });
                    }
                    if (data.Invigilator == "Free") {

                    }
                });
        });


        $("#btnSaveInvigilator").click(function () {
            var YearId = $('#Inv_allAcademicYears').val();
            var ExamId = $('#Inv_allExams').val();
            var date = $('#Inv_txt_ExamDate').val();
            var Schedule = $('#TimeSchedule').val();
            $("#MyInfoText").hide();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Inv_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Inv_allExams') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                    if (null_id == 'Inv_txt_ExamDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'TimeSchedule') {

                        a.push('@ResourceCache.Localize("PleaseSelectSchedule")');
                    }
                }
                else {
                }
            });

            $("#MandatoryFieldErrorMessage_List").hide();
            var c = $("#count").val();


            var RoomId = [];
            var FacultyId = [];
            var rid = [];

            var Room = 1;
            var faculty = 1;

            for (var i = 0; i <= c; i++) {

                RoomId[i] = $("#Roomid" + i).val();
                FacultyId[i] = $("#atn" + i).val();
                rid[i] = $("#id" + i).val();

                if (RoomId[i] == "") {
                    Room = 0;
                }

                if (FacultyId[i] == "0" || rid[i] == "") {
                    faculty = 0;
                }

            }

            if (Room == 0) {
                a.push("@ResourceCache.Localize("Please_select_room_to_all_fields")");
            }

            if (faculty == 0) {
                a.push("@ResourceCache.Localize("Please_select_faculty_to_all_fields")");
            }
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            $("#MandatoryFieldErrorMessage_List").hide();
            for (var i = 0; i <= c; i++) {

                var sorted_arr = FacultyId.sort();

                if (sorted_arr[i] == FacultyId[i + 1]) {
                    $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                    $("#ErrorText").text("@ResourceCache.Localize("Cannot_assign_same_faculty_for_more_than_one_hall")");
                    return false;
                }
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            var dt = date.split('/');
            date = dt[2] + '/' + dt[1] + '/' + dt[0];
            var values = { AcademicYears: YearId, Exam: ExamId, Date: date, TotalCount: c, Schedule: Schedule, ClassRoomId: RoomId, EmployeeRegId: FacultyId, ID: rid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ExamManagement/SaveInvigilator',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.InfoMessage != "" && data.InfoMessage != null){
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $("#MyInfoText").show();
                            $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });

    });


    </script>
}