﻿@model IEnumerable<eAcademy.ViewModel.HomeworkList>
@using eAcademy.Models
@{
    ViewBag.Title = "ExamClassRoom";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right" id="AddExamRoom">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Assign_Exam_Room")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="box-body" id="MyInfoText" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ECR_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Subjects", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } })
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RoomNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Room_Number", new SelectList(ViewBag.allClassRooms, "ClassRoomId", "ClassRoomName"), ResourceCache.Localize("--SelectRoom--"))
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-sm btn_submit" id="btnGetStudentCount"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Go")</button>
                                </div>
                            </div>

                            <div class="col-lg-12" id="StudentCountDetail" style="display:none">
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RoomCapacity") : </label></div>
                                    <label id="RoomCapacityCount"></label>
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AlreadyAssignedStudent") : </label></div>
                                    <label id="AlreadyAssignedStudentCount"></label>
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AvailableVacancy") : </label></div>
                                    <label id="AvailableVacancyCount"></label>
                                </div>
                            </div>

                            <div class="bs-example btn-down" id="AssignCapacity" style="display:none">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger">
                                        <strong>@ResourceCache.Localize("Error")! </strong>@ResourceCache.Localize("Please_assign_capacity_for_class_room")
                                    </div>
                                </div>
                            </div>

                            <div class="bs-example btn-down" id="NoSpace" style="display:none">
                                <div class="col-sm-12">
                                    <div class="alert alert-success">
                                        <strong>@ResourceCache.Localize("Success")! </strong>@ResourceCache.Localize("Class_room_full_please_choose_any_other_room")
                                    </div>
                                </div>
                            </div>

                            <div id="selectStudent" style="display:none">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("StartRollNumber")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                        @Html.DropDownList("start_RollNumber", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectRollNumber--"), Value = "" } })
                                    </div>

                                    <div class="col-lg-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("EndRollNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        @Html.DropDownList("end_RollNumber", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectRollNumber--"), Value = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-sm btn_submit btn-down " id="btnAddExamRoom"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageExamRoom")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-12">

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allAcademicYears_List", new SelectList(ViewBag.InvAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allClass_List", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"), new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Section_List", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allExams_List", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"), new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Subjects_List", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } }, new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="btn_ExamRoomList_filterButton"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="ExamRoomListGrid"></table>
                        <div id="ExamRoomListPager"></div>
                    </div>

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>

    </div>
</section>



@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {

        $('#allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        $('#allAcademicYears_List').val(@Session["List_ChosenAcademicYearId"]);

        $('#allAcademicYears').change(function (event) {
            event.preventDefault();
            $('#allClass').val("");
            $("#ECR_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Subjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            $("#start_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            $("#end_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            var YearId = $('#allAcademicYears').val();
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },
                     function (orderdetails) {
                     });
            $("#allAcademicYears_List").val(YearId);

            $("#AssignCapacity").hide();
            $("#StudentCountDetail").hide();
            $("#NoSpace").hide();
            $("#selectStudent").hide();

            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();
        });

        $('#allAcademicYears_List').change(function (event) {
            event.preventDefault();
            $("#allClass_List").val("");
            $("#Section_List").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Subjects_List").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            var YearId = $('#allAcademicYears').val();
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                     function (orderdetails) {
                     });
           // $("#allAcademicYears").val(YearId);
        });

        $('#allClass').change(function (event) {
            event.preventDefault();
            $("#ECR_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Subjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            $("#start_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            $("#end_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            Add_LoadSection();
            $("#AssignCapacity").hide();
            $("#StudentCountDetail").hide();
            $("#NoSpace").hide();
            $("#selectStudent").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();
        });

        function Add_LoadSection() {
            var ClassId = $('#allClass').val();
            $.getJSON('/ExamManagement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#ECR_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#ECR_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }


        $('#ECR_Section').change(function (event) {
            event.preventDefault();
            $("#Subjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            $("#start_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            $("#end_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            Add_LoadSubject();
            Add_LoadStartRollNumber();
            $("#AssignCapacity").hide();
            $("#StudentCountDetail").hide();
            $("#NoSpace").hide();
            $("#selectStudent").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();
        });

        function Add_LoadSubject() {
            var YearId = $('#allAcademicYears').val();
            var ClassId = $('#allClass').val();
            var SectionId = $('#ECR_Section').val();

            $.getJSON('/ExamManagement/GetSelectedClassSectionSubject', { passYearId: YearId, passClassId: ClassId, passSecId: SectionId },
                function (orderdetails) {
                    $("#Subjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Subjects").append($('<option></option>').val(c.SubjectId).html(c.SubjectName));
                    });
                });
        }

        $('#allExams').change(function (event) {
            $("#AssignCapacity").hide();
            $("#StudentCountDetail").hide();
            $("#NoSpace").hide();
            $("#selectStudent").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();
        });

        $("#Subjects").change(function (event) {
            $("#AssignCapacity").hide();
            $("#StudentCountDetail").hide();
            $("#NoSpace").hide();
            $("#selectStudent").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();
        });

        $("#Room_Number").change(function (event) {
            $("#AssignCapacity").hide();
            $("#StudentCountDetail").hide();
            $("#NoSpace").hide();
            $("#selectStudent").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();
        });

        function Add_LoadStartRollNumber() {
            var YearId = $('#allAcademicYears').val();
            var ClassId = $('#allClass').val();
            var SectionId = $('#ECR_Section').val();

            $.getJSON('/ExamManagement/GetRollNumber', { passYearId: YearId, passClassId: ClassId, passSectionId: SectionId },
                function (orderdetails) {
                    $("#start_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#start_RollNumber").append($('<option></option>').val(c.RollNumberId).html(c.StudentRollNumber));
                    });
                });
        }

        $('#start_RollNumber').change(function (event) {
            $("#end_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
            event.preventDefault();
            Add_LoadEndRollNumber();
        });

        function Add_LoadEndRollNumber() {
            var YearId = $('#allAcademicYears').val();
            var ClassId = $('#allClass').val();
            var SectionId = $('#ECR_Section').val();
            var startRollNumId = $('#start_RollNumber').val();

            $.getJSON('/ExamManagement/GetEndRollNumber', { yId: YearId, cId: ClassId, sId: SectionId, passStartRollNumberId: startRollNumId },
                function (orderdetails) {
                    $("#end_RollNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRollNumber")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#end_RollNumber").append($('<option></option>').val(c.RollNumberId).html(c.StudentRollNumber));
                    });
                });
        }



        $('#btnGetStudentCount').click(function (event) {
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();

            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass").val();
            var secId = $("#ECR_Section").val();
            var examId = $("#allExams").val();
            var subjectId = $("#Subjects").val();
            var RoomNo = $("#Room_Number").val();

            $("#allAcademicYears").addClass("current_button");
            $("#allClass").addClass("current_button");
            $("#ECR_Section").addClass("current_button");
            $("#allExams").addClass("current_button");
            $("#Subjects").addClass("current_button");
            $("#Room_Number").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'ECR_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'allExams') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                    if (null_id == 'Subjects') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                    if (null_id == 'Room_Number') {

                        a.push('@ResourceCache.Localize("Please_select_room_number")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            $.getJSON('/ExamManagement/GetRoomCapacity', { passYearId: yearId, passClassId: classId, passSecId: secId, passExamId: examId, passSubjectId: subjectId, passRoomNo: RoomNo },
                function (data) {
                    if (data.PleaseAssignCapacity != "") {
                        $("#AssignCapacity").show();
                        $("#StudentCountDetail").hide();
                        $("#NoSpace").hide();
                        return false;
                    }

                    if (data.ClassRoomFull != "") {
                        $("#NoSpace").show();
                        $("#AssignCapacity").hide();
                        $("#StudentCountDetail").hide();
                        return false;
                    }

                    if (data.showCountDetails == "Yes") {
                        $("#NoSpace").hide();
                        $("#AssignCapacity").hide();
                        $("#StudentCountDetail").show();
                        $("#RoomCapacityCount").text(data.RoomCapacity);
                        $("#AlreadyAssignedStudentCount").text(data.AssignedStudentCount);
                        $("#AvailableVacancyCount").text(data.availableCapacity);
                        $("#selectStudent").show();
                        return false;
                    }
                });
        });


        $("#btnAddExamRoom").click(function () {

            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();

            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass").val();
            var secId = $("#ECR_Section").val();
            var examId = $("#allExams").val();
            var subjectId = $("#Subjects").val();
            var sRollNo = $("#start_RollNumber").val();
            var eRollNo = $("#end_RollNumber").val();
            var RoomNo = $("#Room_Number").val();

            $("#allAcademicYears").addClass("current_button");
            $("#allClass").addClass("current_button");
            $("#ECR_Section").addClass("current_button");
            $("#allExams").addClass("current_button");
            $("#Subjects").addClass("current_button");
            $("#start_RollNumber").addClass("current_button");
            $("#end_RollNumber").addClass("current_button");
            $("#Room_Number").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'ECR_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'allExams') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                    if (null_id == 'Subjects') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                    if (null_id == 'start_RollNumber') {

                        a.push('@ResourceCache.Localize("Please_select_start_roll_number")');
                    }
                    if (null_id == 'end_RollNumber') {

                        a.push('@ResourceCache.Localize("Please_select_end_roll_number")');
                    }
                    if (null_id == 'Room_Number') {

                        a.push('@ResourceCache.Localize("Please_select_room_number")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            $("#MandatoryFieldErrorMessage_Add").hide();
            var values = { allAcademicYears: yearId, allClass: classId, Section: secId, allExams: examId, allSubjects: subjectId, start_RollNumber: sRollNo, end_RollNumber: eRollNo, RoomNumberId: RoomNo };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ExamManagement/AddExamClassRoom',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.InfoMessage != "" && data.InfoMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#MyInfoText").show();
                            $("#AddInfoText").empty();
                            $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#ExamRoomListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });



        $('#allClass_List').change(function (event) {
            event.preventDefault();
            $("#Section_List").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Subjects_List").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            List_LoadSection();
        });

        function List_LoadSection() {
            var ClassId = $('#allClass_List').val();
            $.getJSON('/ExamManagement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Section_List").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Section_List").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }


        $('#Section_List').change(function (event) {
            event.preventDefault();
            List_LoadSubject();
        });

        function List_LoadSubject() {
            var YearId = $('#allAcademicYears_List').val();
            var ClassId = $('#allClass_List').val();
            var SectionId = $('#Section_List').val();

            $.getJSON('/ExamManagement/GetSelectedClassSectionSubject', { passYearId: YearId, passClassId: ClassId, passSecId: SectionId },
                function (orderdetails) {
                    $("#Subjects_List").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Subjects_List").append($('<option></option>').val(c.SubjectId).html(c.SubjectName));
                    });
                });
        }



        var ExamClassRoomId;

        jQuery("#ExamRoomListGrid").jqGrid({
            url: "/ExamManagement/ExamRoomListResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id', '@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Start_Roll_Number")', '@ResourceCache.Localize("End_Roll_Number")', '@ResourceCache.Localize("ClassRoom")', 'Actions'],
            colModel: [
                { key: true, hidden: true, name: 'ClassRoomId', index: 'ClassRoomId' },
                { key: false, name: 'ExamDate', index: 'ExamDate' },
                { key: false, name: 'StartRollNumber', index: 'StartRollNumber' },
                { key: false, name: 'EndRollNumber', index: 'EndRollNumber' },
                { key: false, name: 'RoomNumber', index: 'RoomNumber' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#ExamRoomListPager"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,

            gridComplete: function () {
                var ids = jQuery("#ExamRoomListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    ExamClassRoomId = ids[i];
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_ExamRoom btn_Delete ui-icon-trash' id='" + ExamClassRoomId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                    jQuery("#ExamRoomListGrid").jqGrid('setRowData', ids[i], { act: de });
                }
            },

        }).navGrid('#ExamRoomListPager', { edit: false, add: false, del: false, search: false, refresh: false }
        ).jqGrid('navButtonAdd', '#ExamRoomListPager',
        {
            caption: "@ResourceCache.Localize("Excel")",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../ExamManagement/ExamRoom_ExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#ExamRoomListPager',
        {
            caption: "@ResourceCache.Localize("Pdf")",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../ExamManagement/ExamRoom_ExportToPdf";
            }
        });

        $("#ExamRoomListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Exam_Room_List")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


        $('#btn_ExamRoomList_filterButton').click(function (event) {

            var yearId = $("#allAcademicYears_List").val();
            var classId = $("#allClass_List").val();
            var SecId = $("#Section_List").val();
            var ExamId = $("#allExams_List").val();
            var SubId = $("#Subjects_List").val();

            $("#allAcademicYears_List").addClass("current_button");
            $("#allClass_List").addClass("current_button");
            $("#Section_List").addClass("current_button");
            $("#allExams_List").addClass("current_button");
            $("#Subjects_List").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Section_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'allExams_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                    if (null_id == 'Subjects_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            event.preventDefault();
            ExamRoomList_filterGrid();
        });

        function ExamRoomList_filterGrid() {

            var postDataValues = $("#ExamRoomListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#ExamRoomListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        };



        //$(document).on('click', '.btn_edit_ExamRoom', function () {
        //    var id = $(this).attr('id');
        //    $.getJSON('/ExamManagement/EditClassRoom', { passId: id },
        //       function (data) {
        //           $("#EditExamClassRoom").show();
        //           $("#AddExamRoom").hide();

        //           $("#allAcademicYears_Edit").val(data.getRow.year);
        //           $("#allClass_Edit").val(data.getRow.clas);
        //           $("#Section_Edit").val(data.getRow.sec);
        //           $("#allExams_Edit").val(data.getRow.exam);
        //           $("#Subjects_Edit").val(data.getRow.sub);

        //           $("#yearId").val(data.getRow.yearId);
        //           $("#classId").val(data.getRow.ClassId);
        //           $("#secId").val(data.getRow.SectionId);

        //           $("#ExamRoomId").val(data.getRow.RowId);

        //           $("#start_RollNumber_Edit").empty().append('<option value="">Select RollNumber</option>');
        //           $.each(data.StartRollNumberList, function (i, c) {
        //               $("#start_RollNumber_Edit").append($('<option></option>').val(c.RollNumberId).html(c.StudentRollNumber));
        //            });

        //           $("#start_RollNumber_Edit").val(data.getRow.StartRollNumId);

        //           $("#end_RollNumber_Edit").empty().append('<option value="">Select RollNumber</option>');
        //           $.each(data.EndRollNumberList, function (i, c) {
        //               $("#end_RollNumber_Edit").append($('<option></option>').val(c.RollNumberId).html(c.StudentRollNumber));
        //           });

        //           $("#end_RollNumber_Edit").val(data.getRow.EndRollNumId);

        //           $("#Room_Number_Edit").val(data.getRow.ClassRoomId);


        //       });
        //});


        //$('#start_RollNumber_Edit').change(function (event) {
        //    event.preventDefault();
        //    Edit_LoadEndRollNumber();
        //});

        //function Edit_LoadEndRollNumber() {
        //    var YearId = $('#yearId').val();
        //    var ClassId = $('#classId').val();
        //    var SectionId = $('#secId').val();
        //    var startRollNumId = $('#start_RollNumber_Edit').val();

        //    $.getJSON('/ExamManagement/GetEndRollNumber', { yId: YearId, cId: ClassId, sId: SectionId, passStartRollNumberId: startRollNumId },
        //        function (orderdetails) {
        //            $("#end_RollNumber_Edit").empty().append('<option value="">Select RollNumber</option>');
        //            $.each(orderdetails, function (i, c) {
        //                $("#end_RollNumber_Edit").append($('<option></option>').val(c.RollNumberId).html(c.StudentRollNumber));
        //            });
        //        });
        //}


        //$("#btnEditExamRoom").click(function () {

        //    var sRollNo = $("#start_RollNumber_Edit").val();
        //    var eRollNo = $("#end_RollNumber_Edit").val();
        //    var RoomNo = $("#Room_Number_Edit").val();
        //    var rowId = $("#ExamRoomId").val();

        //    if (sRollNo == "" || eRollNo == "" || RoomNo == "") {
        //        $(".EditExamRoom_message").text("Please select all the mantratory fields").css("color", "#ff0000");
        //        return false;
        //    }

        //    $(".EditExamRoom_message").hide();
        //    var values = { RowId : rowId, start_RollNumber: sRollNo, end_RollNumber: eRollNo, RoomNumberId: RoomNo };

        //    $.ajax({
        //        url: '/ExamManagement/EditExamClassRoom',
        //        type: 'POST',
        //        data: JSON.stringify(values),
        //        dataType: 'json',
        //        contentType: "application/json",
        //        success: function (data) {

        //            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
        //                $("#jsonExceptionMsg").hide();
        //                $("#jsonSuccessMsg").hide();
        //                $("#jsonErrorMsg").show();
        //                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
        //            }
        //            if (data.Message != "" && data.Message != null) {
        //                $("#jsonErrorMsg").hide();
        //                $("#jsonExceptionMsg").hide();
        //                $("#jsonSuccessMsg").show();
        //                $("#ExamRoomListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        //                $("#jSuccessMsg").html(data.Message).val(data.Message);
        //            }

        //            if (data.ExceptionError != "" && data.ExceptionError != null) {
        //                $("#jsonErrorMsg").hide();
        //                $("#jsonSuccessMsg").hide();
        //                $("#jsonExceptionMsg").show();
        //                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
        //            }
        //        }

        //    });
        //});


        $(document).on('click', '.btn_del_ExamRoom', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/ExamManagement/DeleteExamClassRoom', { passId: id },
                           function (data) {
                               $("#ExamRoomListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                               var totalError = data.ex;
                               var li = [];
                               if (data.Success == 0) {
                                   $(".jsonExceptionMsg").hide();
                                   $(".jsonSuccessMsg").hide();
                                   $(".jsonErrorMsg").hide();

                                   $(".jsonError").show();
                                   $(".jErr").append().empty();
                                   $.each(totalError, function (i, v) {
                                       if (totalError[i] != "" && totalError[i] != null) {
                                           li = $("<li></li>").text(totalError[i]);
                                           $(".jErr").append(li);
                                       }
                                   });
                               }
                               else {

                                   if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                       $(".jsonError").hide();
                                       $(".jsonExceptionMsg").hide();
                                       $(".jsonSuccessMsg").hide();
                                       $(".jsonErrorMsg").show();
                                       $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                   }
                                   if (data.Message != "" && data.Message != null) {
                                       $(".jsonError").hide();
                                       $(".jsonErrorMsg").hide();
                                       $(".jsonExceptionMsg").hide();
                                       $(".jsonSuccessMsg").show();
                                       $("#ExamTimeScheduleGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                       $(".jSuccessMsg").html(data.Message).val(data.Message);
                                   }

                                   if (data.ExceptionError != "" && data.ExceptionError != null) {
                                       $(".jsonError").hide();
                                       $(".jsonErrorMsg").hide();
                                       $(".jsonSuccessMsg").hide();
                                       $(".jsonExceptionMsg").show();
                                       $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                   }
                               }
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });


    });

</script>
}