﻿@model eAcademy.Models.StudentParentProfile
@using eAcademy.Models
@{
    ViewBag.Title = "Communication Details";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("Communication")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardParent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Parent/Profile1" class="btn btn-info">@ResourceCache.Localize("Academics")</a>
                    <a href="/Parent/Communication" class="btn btn-info">@ResourceCache.Localize("Communication")</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/Parent/Profile1">@ResourceCache.Localize("Profile")</a></li>
    <li><a href="~/Parent/FeeManagement">@ResourceCache.Localize("Fee")</a></li>
    <li><a href="~/Parent/AttendanceReport">@ResourceCache.Localize("Attendance")</a></li>
    <li><a href="~/Parent/LeaveRequest">@ResourceCache.Localize("LeaveRequest")</a></li>
    <li><a href="~/Parent/ProgressCard">@ResourceCache.Localize("ProgressCard")</a></li>
    <li><a href="~/Parent/Communication">@ResourceCache.Localize("Communication")</a></li>
</ul>

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student" class="col-lg-12">
                <div class="box box-solid bg-teal-gradient">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard"></i>
                        <h3 class="box-title">@ResourceCache.Localize("Communication")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>

                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div id="leavedeletesuccess" style="display:none">
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_txt_FromDate_List" name="SM_txt_FromDate_List" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_txt_ToDate_List" name="SM_txt_ToDate_List" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-3">
                                <button type="button" class="btn btn-sm btn_submit filterItem btn-down" id="btn_List_communication"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>

                            <div class="box-footer clearfix no-border">
                            </div>

                        </div>
                    </form>

                    <div class="col-lg-12 btn-down">
                        <table class="col-lg-12" id="grid1"></table>
                        <div id="pager1"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong> @ResourceCache.Localize("Click_the_file_icon") <i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i> @ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            jQuery("#grid1").jqGrid({
                url: "/Parent/CommunicationResults",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['', '@ResourceCache.Localize("EventDate")', '@ResourceCache.Localize("Title")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("PostedDate")'],
                colModel: [
                      { key: true, hidden: true, name: 'Cid', index: 'Cid' },
                    { key: false, name: 'EventDate', index: 'EventDate' },
                    { key: false, name: 'Title', index: 'Title' },
                     { key: false, name: 'Description', index: 'Description' },
                    { key: false, name: 'PostedDate', index: 'PostedDate' }
                ],
                pager: jQuery("#pager1"),
                rowNum: 50,
                rowList: [50, 100, 500, 1000],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
                gridComplete: function () {
                    var ids = jQuery("#grid1").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        RoleId = ids[i];
                        if (RoleId != "null") {
                            be = "<input style='height:23px;width:22px;' type='button' class='btn_open_file btn_Document  ui-icon-document' id='" + RoleId + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                            jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                        }
                    }
                },
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
          ).jqGrid('navButtonAdd', '#pager1',
          {
              caption: " Excel ",
              buttonicon: "ui-icon-bookmark",
              onClickButton: function () {
                  window.location.href = "../Parent/CommunicationExportToExcel";
              }
          }).jqGrid('navButtonAdd', '#pager1',
          {
              caption: " Pdf ",
              buttonicon: "ui-icon-print",
              position: "last",
              onClickButton: function () {
                  window.location.href = "../Parent/CommunicationExportToPDF";
              }
          });
            $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Communication")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#btn_List_communication').click(function (event) {
                $("#MandatoryFieldErrorMessage_List").hide();
                var fDate = $("#SM_txt_FromDate_List").val();
                var toDate = $("#SM_txt_ToDate_List").val();

                $("#SM_txt_FromDate_List").addClass("current_button");
                $("#SM_txt_ToDate_List").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_txt_FromDate_List') {
                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_txt_ToDate_List') {
                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                event.preventDefault();
                CommunicationList_filterGrid();
            });

            function CommunicationList_filterGrid() {
                var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    var dt = $(item).val().split('/');
                    var newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#grid1').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            }

            $(document).on('click', '.btn_open_file', function () {
                var id = $(this).attr('id');
                var url = "OpenCommunicationFile1/" + id;
                window.open(url);
            });

            $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker("destroy");
            var HolidayDate1 = [];
            var HolidayReason1 = [];

            $.getJSON("/Parent/CurrentActiveDate",
                function (data) {
                    var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                    $(function () {
                        var dates = $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true,
                            onSelect: function (selectedDate) {
                                var option = this.id == "SM_txt_FromDate_List" ? "minDate" : "maxDate",
                                instance = $(this).data("datepicker"),
                                date = $.datepicker.parseDate(
                                instance.settings.dateFormat ||
                                $.datepicker._defaults.dateFormat,
                                selectedDate, instance.settings);
                                dates.not(this).datepicker("option", option, date);
                            }
                        });
                    });
                });
        });
    </script>
}
