﻿@model IEnumerable<eAcademy.ViewModel.FeeDetails>
@using eAcademy.Models
@{
    ViewBag.Title = "FeeManagement";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("FeeDetails")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardParent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Parent/Profile1" class="btn btn-info">@ResourceCache.Localize("Academics")</a>
                    <a href="/Parent/FeeManagement" class="btn btn-info">@ResourceCache.Localize("FeeDetails")</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/Parent/Profile1">@ResourceCache.Localize("Profile")</a></li>
    <li><a href="~/Parent/FeeManagement">@ResourceCache.Localize("Fee")</a></li>
    <li><a href="~/Parent/AttendanceReport">@ResourceCache.Localize("Attendance")</a></li>
    <li><a href="~/Parent/LeaveRequest">@ResourceCache.Localize("LeaveRequest")</a></li>
    <li><a href="~/Parent/ProgressCard">@ResourceCache.Localize("ProgressCard")</a></li>
    <li><a href="~/Parent/Communication">@ResourceCache.Localize("Communication")</a></li>
</ul>

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student" class="col-lg-6">
                <div class="box box-solid bg-teal-gradient">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard"></i>
                        <h3 class="box-title">@ResourceCache.Localize("AnnualFeesStructure")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @if (ViewBag.AnnualfeeName != null)
                    {
                        System.Collections.ArrayList AnnualfeeName = (System.Collections.ArrayList)ViewBag.AnnualfeeName;
                        System.Collections.ArrayList AnnualFee = (System.Collections.ArrayList)ViewBag.AnnualfeeAmount;
                        System.Collections.ArrayList AnnualFeeLastDate = (System.Collections.ArrayList)ViewBag.AnnualfeeLastDate;

                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @ResourceCache.Localize("FeeName")
                                </th>
                                <th>
                                    @ResourceCache.Localize("Amount")
                                </th>
                                <th>
                                    @ResourceCache.Localize("LastDate")
                                </th>
                            </tr>

                            @if (AnnualfeeName.Count > 0)
                            {
                                for (int a = 0; a < AnnualfeeName.Count; a++)
                                {
                                    <tr>
                                        <td>
                                            @AnnualfeeName[a]
                                        </td>
                                        <td>
                                            Rs. @AnnualFee[a]
                                        </td>
                                        <td>
                                            @AnnualFeeLastDate[a]
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>


            <div id="div_student" class="col-lg-6">
                <div class="box box-solid bg-teal-gradient">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard"></i>
                        <h3 class="box-title">@ResourceCache.Localize("TermFeesStructure")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @if (ViewBag.TermName != null)
                    {
                        System.Collections.ArrayList termName = (System.Collections.ArrayList)ViewBag.TermName;
                        System.Collections.ArrayList termFeeName = (System.Collections.ArrayList)ViewBag.TermFeeName;
                        System.Collections.ArrayList termFeeAmount = (System.Collections.ArrayList)ViewBag.TermFeeAmount;
                        System.Collections.ArrayList termFeeLastDate = (System.Collections.ArrayList)ViewBag.TermFeeLastDate;
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @ResourceCache.Localize("TermName")
                                </th>
                                <th>
                                    @ResourceCache.Localize("FeeName")
                                </th>
                                <th>
                                    @ResourceCache.Localize("Amount")
                                </th>
                                <th>
                                    @ResourceCache.Localize("LastDate")
                                </th>
                            </tr>

                            @if (termName.Count > 0)
                            {
                                for (int a = 0; a < termName.Count; a++)
                                {
                                    <tr>
                                        <td>
                                            @termName[a]
                                        </td>
                                        <td>
                                            @termFeeName[a]
                                        </td>
                                        <td>
                                            Rs. @termFeeAmount[a]
                                        </td>
                                        <td>
                                            @termFeeLastDate[a]
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FeeManagement")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>

                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYearId", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear", ViewBag.yearId),ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-6">
                                <div class="col-md-12"> <button type="button" class="btn btn-sm btn_submit btn-down" id="btnSM_Fee"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button></div>
                            </div>
                           
                        </div>
                        <div class="alert alert-info alert-dismissable" id="NoRecords" style="display:none">
                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>

                    <div class="box-body btn-down" id="paidList" style="display:none">
                        <div id="tbl_scrol">
                            <table class="table table-bordered table-striped col-lg-12">
                                <thead>
                                    <tr>
                                        <th>
                                           @ResourceCache.Localize("FeeName")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("Rs.") @ResourceCache.Localize("FeeAmountWithTax")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("PaidDate")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="FeePaidList"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#AcademicYearId').val(@Session["Add_ChosenAcademicYearId"]);

            $('#AcademicYearId').change(function (event) {
                event.preventDefault();
                var YearId = $('#AcademicYearId').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            $("#btnSM_Fee").click(function (event) {
                $("#NoRecords").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                var yearId = $("#AcademicYearId").val();
                if (yearId == "") {
                    $("#MandatoryFieldErrorMessage_List").show();
                    return false;
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                $('#FeePaidList').empty();
                $("#paidList").hide();
                $.getJSON('/Parent/FeeManagementList', { PassYearId: yearId },
                  function (data) {

                      if (data.count == 0) {
                          $("#NoRecords").show();
                      }
                      else {
                          $.each(data.list, function (i, v) {
                              var atn = "atn" + i;
                              var cmt = "cmt" + i;
                              row = $("<tr id=''><td><label>" + v.FeeName + "</label></td><td><label>Rs. " + v.FeeAmount + "</label></td><td><label>" + v.PaidDate1 + "</label></td></tr>");
                              $('#FeePaidList').append(row);
                              $("#paidList").show();
                          });
                      }

                  });
            });

        });
    </script>
}
