﻿@model IEnumerable<eAcademy.ViewModel.LeaveRequestStatus>
@using eAcademy.Models
@{
    ViewBag.Title = "LeaveRequest";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("LeaveRequest")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardParent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Parent/Profile1" class="btn btn-info">@ResourceCache.Localize("Academics")</a>
                    <a href="/Parent/LeaveRequest" class="btn btn-info">@ResourceCache.Localize("LeaveRequest")</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/Parent/Profile1">@ResourceCache.Localize("Profile")</a></li>
    <li><a href="~/Parent/FeeManagement">@ResourceCache.Localize("Fee")</a></li>
    <li><a href="~/Parent/AttendanceReport">@ResourceCache.Localize("Attendance")</a></li>
    <li><a href="~/Parent/LeaveRequest">@ResourceCache.Localize("LeaveRequest")</a></li>
    <li><a href="~/Parent/ProgressCard">@ResourceCache.Localize("ProgressCard")</a></li>
    <li><a href="~/Parent/Communication">@ResourceCache.Localize("Communication")</a></li>
</ul>

<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_txt_FromDate_List" name="SM_txt_FromDate_List" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_txt_ToDate_List" name="SM_txt_ToDate_List" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-3">
                                <button type="button" class="btn btn-sm btn_submit filterItem btn-down" id="btn_List_ParentLeaveReason"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>

                            <div class="box-footer clearfix no-border">
                            </div>
                        </div>
                    </form>

                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="ParentLeaveReqListGrid"></table>
                        <div id="ParentLeaveReqListPager"></div>
                    </div>

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="AddLeaveRequest">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("LeaveRequest")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>

                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-lg-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="SM_txt_FromDate" name="SM_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                        </div>

                        <div class="col-lg-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="SM_txt_ToDate" name="SM_txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                        </div>

                        <div class="col-lg-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Reason")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <textarea id="txt_ParentLeaveReason" name="txt_ParentLeaveReason" class="col-lg-12" placeholder="@ResourceCache.Localize("Reason")" title="@ResourceCache.Localize("Reason")" required="required"></textarea>
                            <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>

                        <div class="col-lg-6">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnAddLeaveReason"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                </form>

                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="EditLeaveRequest" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>

                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="SM_Edit_txt_FromDate" name="SM_Edit_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="SM_Edit_txt_ToDate" name="SM_Edit_txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Reason")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea id="SM_Edit_txt_ParentLeaveReason" name="SM_Edit_txt_ParentLeaveReason" class="col-lg-12" placeholder="@ResourceCache.Localize("Reason")" title="@ResourceCache.Localize("Reason")" required="required"></textarea>
                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>

                            <div class="col-lg-6">
                                <input type="hidden" id="RequestId" />
                                <button type="button" class="btn btn-sm btn_submit btn-down " id="btnEditParentLeaveReason"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>

                        </div>
                    </form>

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {

        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
            $('#chars1').text(length);
        });

        var LeavReqId;

        jQuery("#ParentLeaveReqListGrid").jqGrid({
            url: "/Parent/LeaveRequestListResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id', '@ResourceCache.Localize("FromDate")', '@ResourceCache.Localize("ToDate")', '@ResourceCache.Localize("Number_Of_Days")', '@ResourceCache.Localize("Reason")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("ClassIncharge")', 'Actions'],
            colModel: [
                { key: true, hidden: true, name: 'Request_Id', index: 'Request_Id' },
                { key: false, name: 'From_Date', index: 'From_Date' },
                { key: false, name: 'To_Date', index: 'To_Date' },
                { key: false, name: 'NumberOfDays', index: 'NumberOfDays' },
                { key: false, name: 'LeaveReason', index: 'LeaveReason' },
                { key: false, name: 'Status', index: 'Status' },
                 { key: false, name: 'ClassIncharge', index: 'ClassIncharge' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#ParentLeaveReqListPager"),
          
            rowList: [50,100, 250,500,1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,

            gridComplete: function () {
                var ids = jQuery("#ParentLeaveReqListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    LeavReqId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_LeaveReq btn_Edit ui-icon-pencil' id='" + LeavReqId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_LeaveRequest btn_Delete ui-icon-trash' id='" + LeavReqId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                    jQuery("#ParentLeaveReqListGrid").jqGrid('setRowData', ids[i], { act: be + de });
                }
            },

        }).navGrid('#ParentLeaveReqListPager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#ParentLeaveReqListPager',
            {
                caption: "@ResourceCache.Localize("Excel") ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../Parent/LeaveRequest_ExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#ParentLeaveReqListPager',
            {
                caption: " @ResourceCache.Localize("Pdf") ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../Parent/LeaveRequest_ExportToPdf";
                }
            });

        $("#ParentLeaveReqListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("LeaveRequestList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


        $('#btn_List_ParentLeaveReason').click(function (event) {
            $("#MandatoryFieldErrorMessage_List").hide();
            var fDate = $("#SM_txt_FromDate_List").val();
            var toDate = $("#SM_txt_ToDate_List").val();

            $("#SM_txt_FromDate_List").addClass("current_button");
            $("#SM_txt_ToDate_List").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'SM_txt_FromDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'SM_txt_ToDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
            }
            event.preventDefault();
            ParentLeavReqList_filterGrid();
        });

        function ParentLeavReqList_filterGrid() {
            var postDataValues = $("#ParentLeaveReqListGrid").jqGrid('getGridParam', 'postData');
            var newdt;
            $('.filterItem').each(function (index, item) {
                var dt = $(item).val().split('/');
                newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                postDataValues[$(item).attr('id')] = newdt;
            });          
            $('#ParentLeaveReqListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }

        $("#SM_txt_FromDate, #SM_txt_ToDate").datepicker("destroy");
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/Parent/FutureActiveDate",

            function (data) {
                $.each(data.HolidaysList, function (i, c) {
                    HolidayDate1[i] = c.Date;
                    HolidayReason1[i] = c.Holiday;
                });

                var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                $(function () {
                    var dates = $("#SM_txt_FromDate, #SM_txt_ToDate").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.StartingEnableDate,
                        maxDate: data.EndingEnableDate,
                        changeMonth: true,
                        changeYear: true,
                        beforeShowDay: function (date) {
                            show = true;
                            for (var i = 0; i < holidays.length; i++) {
                                if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                            }
                            if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                            var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                            return display;
                        },
                        onSelect: function (selectedDate) {
                            var option = this.id == "SM_txt_FromDate" ? "minDate" : "maxDate",
                            instance = $(this).data("datepicker"),
                            date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings);
                            dates.not(this).datepicker("option", option, date);
                        }
                    });
                });
            });
    });


    $(document).on('click', '.btn_edit_LeaveReq', function () {
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_Edit").hide();
        $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
        var id = $(this).attr('id');
        $.getJSON('/Parent/EditLeaveRequest', { passId: id },
           function (data) {
               $("#EditLeaveRequest").show();
               $("#AddLeaveRequest").hide();

               $("#SM_Edit_txt_FromDate").val(data.fDate);
               $("#SM_Edit_txt_ToDate").val(data.toDate);
               $("#SM_Edit_txt_ParentLeaveReason").val(data.reason);
               $("#RequestId").val(id);
           });
    });


    $("#btnEditParentLeaveReason").click(function () {
        var fDate = $("#SM_Edit_txt_FromDate").val();
        var toDate = $("#SM_Edit_txt_ToDate").val();
        var reason = $("#SM_Edit_txt_ParentLeaveReason").val();
        var Reqid = $("#RequestId").val();

        $("#SM_Edit_txt_FromDate").addClass("current_button");
        $("#SM_Edit_txt_ToDate").addClass("current_button");
        $("#SM_Edit_txt_ParentLeaveReason").addClass("current_button");

        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'SM_Edit_txt_FromDate') {

                    a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'SM_Edit_txt_ToDate') {

                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
                if (null_id == 'SM_Edit_txt_ParentLeaveReason') {

                    a.push('@ResourceCache.Localize("PleaseEnterReason")');
                }
            }
            else {
            }
        });

        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Edit").show();
            $(".Edit_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Edit_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_Edit").hide();
        }

        $("#MandatoryFieldErrorMessage_Edit").hide();
        var values = { FL_Edit_txt_FromDate: fDate, FL_Edit_txt_ToDate: toDate, FL_Edit_txt_ParentLeaveReason: reason, RequestId: Reqid };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/Parent/EditLeaveRequest',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();

                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {

                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#ParentLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#Loading_Sec").removeClass("loading-new");
                    }

                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            }
        });
    });


    $("#btnAddLeaveReason").click(function () {
        $("#MandatoryFieldErrorMessage_Add").hide();
        var fdate = $("#SM_txt_FromDate").val();
        var toDate = $("#SM_txt_ToDate").val();
        var Reason = $("#txt_ParentLeaveReason").val();

        $("#SM_txt_FromDate").addClass("current_button");
        $("#SM_txt_ToDate").addClass("current_button");
        $("#txt_ParentLeaveReason").addClass("current_button");

        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'SM_txt_FromDate') {

                    a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'SM_txt_ToDate') {

                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
                if (null_id == 'txt_ParentLeaveReason') {

                    a.push('@ResourceCache.Localize("PleaseEnterReason")');
                }
            }
            else {
            }
        });

        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_Add").hide();
        }
        var values = { SM_txt_FromDate: fdate, SM_txt_ToDate: toDate, txt_ParentLeaveReason: Reason, };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/Parent/LeaveRequest',
            type: 'POST',
            processData: false,
            contentType: false,


            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();

                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#ParentLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#Loading_Sec").removeClass("loading-new");
                    }

                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            }
        });


    });

    $("#SM_Edit_txt_FromDate, #SM_Edit_txt_ToDate").datepicker("destroy");
    var HolidayDate1 = [];
    var HolidayReason1 = [];
    $.getJSON("/Parent/FutureActiveDate",
        function (data) {
            $.each(data.HolidaysList, function (i, c) {
                HolidayDate1[i] = c.Date;
                HolidayReason1[i] = c.Holiday;
            });
            var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
            $(function () {
                var dates = $("#SM_Edit_txt_FromDate, #SM_Edit_txt_ToDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: data.StartingEnableDate,
                    maxDate: data.EndingEnableDate,
                    changeMonth: true,
                    changeYear: true,
                    beforeShowDay: function (date) {
                        show = true;
                        for (var i = 0; i < holidays.length; i++) {
                            if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                        }
                        if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                        var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                        return display;
                    },
                    onSelect: function (selectedDate) {
                        var option = this.id == "SM_Edit_txt_FromDate" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                        dates.not(this).datepicker("option", option, date);
                    }
                });
            });
        });





    $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker("destroy");
    var HolidayDate1 = [];
    var HolidayReason1 = [];

    $.getJSON("/Parent/CurrentActiveDate",
        function (data) {
            var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
            $(function () {
                var dates = $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: data.sd,
                    maxDate: data.ed,
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function (selectedDate) {
                        var option = this.id == "SM_txt_FromDate_List" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                        dates.not(this).datepicker("option", option, date);
                    }
                });
            });
        });

    $(document).on('click', '.btn_del_LeaveRequest', function () {
        var id = $(this).attr('id');
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            buttons: {
                "Delete": function () {
                    $(this).dialog("close");
                    $.getJSON('/Parent/DeleteLeaveRequest', { passId: id },
                       function (data) {
                           $("#ParentLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                       });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });


    </script>
}
