﻿@model IEnumerable<eAcademy.ViewModel.ProgressCard>
@using eAcademy.Models
@{
    ViewBag.Title = "ProgressCard";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("ProgressCard")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardParent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Parent/Profile1" class="btn btn-info">@ResourceCache.Localize("Academics")</a>
                    <a href="/Parent/ProgressCard" class="btn btn-info">@ResourceCache.Localize("ProgressCard")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/Parent/Profile1">@ResourceCache.Localize("Profile")</a></li>
    <li><a href="~/Parent/FeeManagement">@ResourceCache.Localize("Fee")</a></li>
    <li><a href="~/Parent/AttendanceReport">@ResourceCache.Localize("Attendance")</a></li>
    <li><a href="~/Parent/LeaveRequest">@ResourceCache.Localize("LeaveRequest")</a></li>
    <li><a href="~/Parent/ProgressCard">@ResourceCache.Localize("ProgressCard")</a></li>
    <li><a href="~/Parent/Communication">@ResourceCache.Localize("Communication")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("CreateProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form action="@Url.Action("ProgressCard", "Parent")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PC_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PC_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>

                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn-sm btn_submit btn-down" id="btnParent_ProgressCard"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>

                            </div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>

                    @if (ViewBag.Record == "No student found")
                    {
                        <div class="col-lg-12">
                            <div class="NoRecords box-body">
                                <div class="alert alert-info alert-dismissable" id="NoRecords">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                        </div>
                    }

                    @if (ViewBag.list != null)
                    {
                        if (ViewBag.list > 0)
                        {
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>
                                        @ResourceCache.Localize("Subject")
                                    </th>
                                    <th>
                                        @ResourceCache.Localize("Mark")
                                    </th>
                                    <th>
                                        @ResourceCache.Localize("MinMark")
                                    </th>
                                    <th>
                                        @ResourceCache.Localize("MaxMark")
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MinMark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaxMark)
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <div class="NoRecords box-body">
                                <div class="alert alert-info alert-dismissable" id="NoRecords">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                        
                        }
                    }

                    @if (ViewBag.Total != null)
                    {
                        <label>@ResourceCache.Localize("Total=") </label> @ViewBag.Total
                    }
                    @if (ViewBag.Result != null)
                    {
                        <label>@ResourceCache.Localize("Result=") </label> @ViewBag.Result
                    }
                    @if (ViewBag.Rank != null)
                    {
                        <label>@ResourceCache.Localize("Rank=") </label> @ViewBag.Rank
                    }
                    @if (ViewBag.comment != null)
                    {
                        <label>@ResourceCache.Localize("TeacherComment=") </label> @ViewBag.comment
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#PC_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);

            $('#PC_allAcademicYears').change(function (event) {
                event.preventDefault();
                var YearId = $('#PC_allAcademicYears').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

        $("#btnParent_ProgressCard").click(function (event) {
            var yearId = $("#PC_allAcademicYears").val();
            var examId = $("#PC_allExams").val();

            $("#PC_allAcademicYears").addClass("current_button");
            $("#PC_allExams").addClass("current_button");
            $("#NoRecords").hide();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'PC_allAcademicYears') {
                        a.push('@ResourceCache.Localize("PleaseSelectYear")');
                        }
                        if (null_id == 'PC_allExams') {
                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
            });

        });
    </script>
}
