﻿@model IEnumerable<eAcademy.ViewModel.LeaveRequestStatus>
@using eAcademy.Models
@{
    ViewBag.Title = "LeaveRequest";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditLeaveRequest" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")

                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="FL_Edit_txt_FromDate" name="FL_Edit_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="FL_Edit_txt_ToDate" name="FL_Edit_txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>


                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Reason")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea id="FL_Edit_txt_ParentLeaveReason" name="FL_Edit_txt_ParentLeaveReason" class="col-lg-12" placeholder="@ResourceCache.Localize("Reason")" title="@ResourceCache.Localize("Reason")" required="required"></textarea>
                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>

                            <div class="col-sm-6">
                                <input type="hidden" id="RequestId" />
                                <button type="button" class="btn btn-sm btn_update btn-down btn_double" id="btnEditFacultyLeaveReason" title=@ResourceCache.Localize("Update")><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-sm btn_cancel btn-down" name="btnCancel_EditFacultyLeaveReason" id="btnCancel_EditFacultyLeaveReason" title=@ResourceCache.Localize("Cancel")><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel")  </button>
                            </div>

                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="AddLeaveRequest">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("AddLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>

                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="SM_txt_FromDate" name="SM_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="SM_txt_ToDate" name="SM_txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>


                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Reason")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea id="txt_ParentLeaveReason" name="txt_ParentLeaveReason" class="col-lg-12" placeholder="@ResourceCache.Localize("Reason")" title="@ResourceCache.Localize("Reason")" required="required"></textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>

                            <div class="col-sm-6">
                                <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnFacultyLeaveReason"><i class="fa fa-plus"></i> @ResourceCache.Localize("Add")</button>
                            </div>

                            <div class="col-sm-6">
                                <button type="reset" id="btnResetLeaveReq" class=" btn  btn-sm btn_reset btn-down" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>

                        </div>
                    </form>

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->

                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem current_button" type="text" id="SM_txt_FromDate_List" name="SM_txt_FromDate_List" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem current_button" type="text" id="SM_txt_ToDate_List" name="SM_txt_ToDate_List" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-4">
                                <button type="button" class="btn btn-sm btn_search btn-down " id="FacultyLeavReq_filterButton"><i class="fa fa-search"></i> @ResourceCache.Localize("Submit")</button>
                            </div>

                            <div class="box-footer clearfix no-border">
                            </div>
                        </div>
                    </form>

                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="FacultyLeaveReqListGrid"></table>
                        <div id="FacultyLeaveReqListPager"></div>
                    </div>

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>

    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });

            var LeavReqId;

            jQuery("#FacultyLeaveReqListGrid").jqGrid({
                url: "/FacultyLeaveRequest/LeaveRequestListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("FromDate")', '@ResourceCache.Localize("ToDate")', '@ResourceCache.Localize("Number_Of_Days")', '@ResourceCache.Localize("Reason")', '@ResourceCache.Localize("Status")', 'Actions'],
                colModel: [
                    { key: true, hidden: true, name: 'Request_Id', index: 'Request_Id' },
                    { key: false, name: 'From_Date', index: 'From_Date' },
                    { key: false, name: 'To_Date', index: 'To_Date' },
                    { key: false, name: 'NumberOfDays', index: 'NumberOfDays' },
                    { key: false, name: 'LeaveReason', index: 'LeaveReason' },
                    { key: false, name: 'Status', index: 'Status' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#FacultyLeaveReqListPager"),

                rowList: [50, 100, 250, 500, 1000],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

                gridComplete: function () {
                    var ids = jQuery("#FacultyLeaveReqListGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        LeavReqId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_LeaveReq btn_Edit ui-icon-pencil' id='" + LeavReqId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                        de = "<input style='height:23px;width:22px;' type='button' class='btn_del_LeaveRequest btn_Delete ui-icon-trash' id='" + LeavReqId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                        jQuery("#FacultyLeaveReqListGrid").jqGrid('setRowData', ids[i], { act: be + de });
                    }
                },

            }).navGrid('#FacultyLeaveReqListPager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#FacultyLeaveReqListPager',
        {
            caption: "@ResourceCache.Localize("Excel")",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../FacultyLeaveRequest/LeaveRequest_ExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#FacultyLeaveReqListPager',
        {
            caption: " @ResourceCache.Localize("Pdf") ",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../FacultyLeaveRequest/LeaveRequest_ExportToPdf";
            }
        });

            $("#FacultyLeaveReqListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("LeaveRequestList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#FacultyLeavReq_filterButton').click(function (event) {

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_txt_FromDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_txt_ToDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {

                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                event.preventDefault();
                FacultyLeavReqList_filterGrid();
            });

            function FacultyLeavReqList_filterGrid() {
                var postDataValues = $("#FacultyLeaveReqListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    var dt = $(item).val().split('/');
                    newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#FacultyLeaveReqListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };

        });




        $(document).on('click', '.btn_edit_LeaveReq', function () {
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#Edit_jErr").hide();
            var id = $(this).attr('id');
            $.getJSON('/FacultyLeaveRequest/EditLeaveRequest', { passId: id },
               function (data) {
                   $("#EditLeaveRequest").show();
                   $("#AddLeaveRequest").hide();
                   $("#FL_Edit_txt_FromDate").val(data.fDate);
                   $("#FL_Edit_txt_ToDate").val(data.toDate);
                   $("#FL_Edit_txt_ParentLeaveReason").val(data.reason);
                   $("#RequestId").val(id);
               });
        });


        $("#btnEditFacultyLeaveReason").click(function () {

            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();

            var fDate = $("#FL_Edit_txt_FromDate").val();
            var toDate = $("#FL_Edit_txt_ToDate").val();
            var reason = $("#FL_Edit_txt_ParentLeaveReason").val();
            var Reqid = $("#RequestId").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'FL_Edit_txt_FromDate') {

                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'FL_Edit_txt_ToDate') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                }
                else {
                }
            });

            var comment = $('#FL_Edit_txt_ParentLeaveReason').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterLeaveReason")');
            }
            else {
                var txchar = $("#FL_Edit_txt_ParentLeaveReason").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterLeaveReason")');
                }
            }

            if (a.length != 0) {

                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".Edit_jErr").show();
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }

            var values = { FL_Edit_txt_FromDate: fDate, FL_Edit_txt_ToDate: toDate, FL_Edit_txt_ParentLeaveReason: reason, RequestId: Reqid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/FacultyLeaveRequest/EditLeaveRequest',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#FacultyLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });


        $("#btnFacultyLeaveReason").click(function () {

            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonError").hide();

            var fdate = $("#SM_txt_FromDate").val();
            var toDate = $("#SM_txt_ToDate").val();
            var Reason = $("#txt_ParentLeaveReason").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'SM_txt_FromDate') {

                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'SM_txt_ToDate') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                }
            });

            var comment = $('#txt_ParentLeaveReason').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterLeaveReason")');
            }
            else {
                var txchar = $("#txt_ParentLeaveReason").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterLeaveReason")');
                }
            }

            if (a.length != 0) {

                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            var values = { SM_txt_FromDate: fdate, SM_txt_ToDate: toDate, txt_ParentLeaveReason: Reason, };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/FacultyLeaveRequest/LeaveRequest',
                type: 'POST',
                processData: false,
                contentType: false,


                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#FacultyLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });


        $("#btnResetLeaveReq").click(function () {
            $("#jsonErrorMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            $('#chars').text(250);
        });

        $("#btnCancel_EditFacultyLeaveReason").click(function () {

            $("#AddLeaveRequest").show();
            $("#EditLeaveRequest").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/FacultyLeaveRequest/FutureActiveDate",
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                 $(function () {
                     var dates = $("#SM_txt_FromDate, #SM_txt_ToDate").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.StartingEnableDate,
                         maxDate: data.EndingEnableDate,
                         changeMonth: true,
                         changeYear: true,
                         beforeShowDay: function (date) {
                             show = true;
                             for (var i = 0; i < holidays.length; i++) {
                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                             }
                             if (date.getDay() == 0 || date.getDay() == 7) { return [false, 'holiday red', '']; }//No Weekends
                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                             return display;
                         },
                         onSelect: function (selectedDate) {
                             var option = this.id == "SM_txt_FromDate" ? "minDate" : "maxDate",
                             instance = $(this).data("datepicker"),
                             date = $.datepicker.parseDate(
                             instance.settings.dateFormat ||
                             $.datepicker._defaults.dateFormat,
                             selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                         },

                     });
                 });
             });
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/FacultyLeaveRequest/FutureActiveDate",
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                 $(function () {
                     var dates = $("#FL_Edit_txt_FromDate,#FL_Edit_txt_ToDate").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.StartingEnableDate,
                         maxDate: data.EndingEnableDate,
                         changeMonth: true,
                         changeYear: true,
                         beforeShowDay: function (date) {
                             show = true;
                             for (var i = 0; i < holidays.length; i++) {
                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                             }
                             if (date.getDay() == 0 || date.getDay() == 7) { return [false, 'holiday red', '']; }//No Weekends
                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                             return display;
                         },
                         onSelect: function (selectedDate) {
                             var option = this.id == "FL_Edit_txt_FromDate" ? "minDate" : "maxDate",
                             instance = $(this).data("datepicker"),
                             date = $.datepicker.parseDate(
                             instance.settings.dateFormat ||
                             $.datepicker._defaults.dateFormat,
                             selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                         },

                     });
                 });
             });
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/FacultyLeaveRequest/CurrentActiveDate",
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                 $(function () {
                     var dates = $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.sd,
                         maxDate: data.ed,
                         changeMonth: true,
                         changeYear: true,
                         beforeShowDay: function (date) {
                             show = true;
                             for (var i = 0; i < holidays.length; i++) {
                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                             }
                             if (date.getDay() == 0 || date.getDay() == 7) { return [false, 'holiday red', '']; }//No Weekends
                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                             return display;
                         },
                         onSelect: function (selectedDate) {
                             var option = this.id == "SM_txt_FromDate_List" ? "minDate" : "maxDate",
                             instance = $(this).data("datepicker"),
                             date = $.datepicker.parseDate(
                             instance.settings.dateFormat ||
                             $.datepicker._defaults.dateFormat,
                             selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                         },

                     });
                 });
             });

        $(document).on('click', '.btn_del_LeaveRequest', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/FacultyLeaveRequest/DeleteLeaveRequest', { passId: id },
                           function (data) {
                               $("#FacultyLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

    </script>
}