﻿@using eAcademy.Models
@{
    ViewBag.Title = "Grade";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Grade")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="box-body" id="MyInfoText" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Mark_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">class</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">Subject</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Mark_allSubjects", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">Exam</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Mark_Exam", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnGradeInfoGrade"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="GradeInfoStudentList" style="display:none">
                            <label>@ResourceCache.Localize("MaximumMark") </label> <label id="MaxMark">  </label>
                            <input type="hidden" id="ivalue" name="ivalue" />
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentMarkDetails")<hr /></h2>
                                    <table border="1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("StudentId")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("StudentName")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Mark")  <span class="glyphicon glyphicon-asterisk"></span>
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Comments")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="GradeInfoStudentList_body"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12 GradeInfoSaveGrade_message"><label></label> </div>
                                <div class="col-md-12"> <button type="button" class="btn btn-sm btn_save" id="btnSaveGrade"><i class="fa fa-save"></i>@ResourceCache.Localize("Save") </button></div>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Mark_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            $('#Mark_allAcademicYears').change(function (event) {
                $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#Mark_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                $("#Mark_Exam").val("");
                event.preventDefault();
                var YearId = $('#Mark_allAcademicYears').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            $(".tmark").filter_input({ regex: '[0-9]' });
            $('#Mark_allAcademicYears').change(function (event) {
                $("#GradeInfoStudentList").hide();
                event.preventDefault();
                var YearId = $('#Mark_allAcademicYears').val();
                LoadClassWithSection(YearId);
            });

            function LoadClassWithSection(YearId) {
                $.getJSON('/GradeInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#CI_ClassWithSection').change(function (event) {
                $("#GradeInfoStudentList").hide();
                $("#Mark_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                $("#Mark_Exam").val("");
                event.preventDefault();
                LoadSubjectDetailsReport();
            });

            function LoadSubjectDetailsReport() {
                var yearId = $('#Mark_allAcademicYears').val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];

                $.getJSON('/GradeInfo/showSubjects1', { passYearId: yearId, passClassId: classId, passSecId: secId },
                   function (orderdetails) {
                       $("#Mark_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                       $.each(orderdetails, function (i, c) {
                           $("#Mark_allSubjects").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                       });
                   });
            }
            $('#Mark_allSubjects').change(function (event) {
                $("#Mark_Exam").val("");
                $("#GradeInfoStudentList").hide();
            });

            $('#Mark_Exam').change(function (event) {
                $("#GradeInfoStudentList").hide();
            });

            $("#btnGradeInfoGrade").click(function (event) {
                $("#Loading_Sec").addClass("loading-new");
                $("#GradeInfoStudentList").hide();
                event.preventDefault();
                $("#GradeInfoStudentList_body").empty();
                $('#GradeInfoStudentList_body').empty();
                var yearId = $("#Mark_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];
                var subId = $("#Mark_allSubjects").val();
                var examId = $("#Mark_Exam").val();
                $("#Mark_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");
                $("#Mark_allSubjects").addClass("current_button");
                $("#Mark_Exam").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Mark_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'Mark_allSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'Mark_Exam') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {

                    $("#MandatoryFieldErrorMessage_List").show();
                    $("#Loading_Sec").removeClass("loading-new");
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#GradeInfoStudentList").show();
                }

                $("#GradeInfoStudentList").hide();
                $.post('/GradeInfo/getStudentListForGrade', { passYearId: yearId, passClassId: classId, passSecId: secId, passSubId: subId, passExamId: examId },
                  function (data) {
                      $("#jsonSuccessMsg").hide();
                      $("#jsonErrorMsg").hide();
                      $("#jsonExceptionMsg").hide();
                      $("#jsonError").hide();
                      $("#MandatoryFieldErrorMessage_List").hide();

                      if (data.msg1 == "Error") {
                          $("#GradeInfoStudentList").hide();
                          $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                          $("#Loading_Sec").removeClass("loading-new");
                          $("#ErrorText").text("@ResourceCache.Localize("Please_assign_maximum_mark_to_all_subjects")");
                      }
                      else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                          $("#jsonExceptionMsg").hide();
                          $("#jsonSuccessMsg").hide();
                          $("#jsonErrorMsg").show();
                          $("#Loading_Sec").removeClass("loading-new");
                          $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                      }
                      else {
                          $("#GradeInfoStudentList").show();
                          $("#GradeInfoStudentList_body").empty();
                          $("#Loading_Sec").removeClass("loading-new");
                          var MaxMark = data.MaxMark;
                          $('<tr><td><label>' + MaxMark + '</label></td></tr>');
                          $("#MaxMark").val(MaxMark).html(MaxMark);
                          if (data.msg == "old") {
                              $.each(data.getMarkExist, function (i, v) {

                                  var txt_mark = "txt_mark" + i;
                                  var txt_comment = "txt_comment" + i;
                                  var grade_Id = "grade_Id" + i;
                                  var id = "ID" + i;
                                  row = $('<tr><td><label >' + v.rollnumber + '</label></td><td><label id="Name">' + v.name + '</label> </td><td><input type="textbox" class="tmark" maxlength="3" value=' + v.mark + ' id=' + txt_mark + ' name="' + txt_mark + '" /><input type="hidden" id=' + id + ' name="' + id + '" value="' + v.id + '"  /></td><td><input type="textbox" class="" maxlength="100" value="' + v.comment + '" id="' + txt_comment + '"  name="' + txt_comment + '" /><input type="hidden" id="' + grade_Id + '" name="' + grade_Id + '" value=' + v.gradeId + '></td></tr>');
                                  $('#GradeInfoStudentList_body').append(row);
                                  $("#ivalue").val(i);
                                  $("#" + txt_mark).filter_input({ regex: '[0-9]' });
                              });
                          }

                          if (data.msg == "new") {
                              $.each(data.studentList, function (i, v) {
                                  console.log(i);
                                  var txt_mark = "txt_mark" + i;
                                  var txt_comment = "txt_comment" + i;
                                  var id = "ID" + i;
                                  row = $('<tr><td><label >' + v.rollnumber + '</label></td><td><label id="Name">' + v.name + '</label> </td><td><input type="textbox" class="tmark" maxlength="3" id=' + txt_mark + ' name="' + txt_mark + '" /><input type="hidden" id=' + id + ' name="' + id + '" value="' + v.id + '"  /></td><td><input type="textbox" class="" maxlength="100" id=' + txt_comment + ' name="' + txt_comment + '" /></td></tr>');
                                  $('#GradeInfoStudentList_body').append(row);
                                  $("#ivalue").val(i);

                                  $("#" + txt_mark).filter_input({ regex: '[0-9]' });
                              });
                          }
                      }

                  }, 'json');
            });
            $("#btnSaveGrade").click(function () {
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonError").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                var yearId = $("#Mark_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];
                var subId = $("#Mark_allSubjects").val();
                var examId = $("#Mark_Exam").val();
                var maxMark = $("#MaxMark").val();
                $("#Mark_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");
                $("#Mark_allSubjects").addClass("current_button");
                $("#Mark_Exam").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Mark_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'Mark_allSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'Mark_Exam') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                var c = $("#ivalue").val();
                var mark = [];
                var id = [];
                var cmt = [];
                var gradeid = [];
                for (var i = 0; i <= c; i++) {
                    mark[i] = $("#txt_mark" + i).val();
                    id[i] = $("#ID" + i).val();
                    cmt[i] = $("#txt_comment" + i).val();
                    id[i] = $("#ID" + i).val();
                    gradeid[i] = $("#grade_Id" + i).val();

                    if (mark[i] == null || mark[i] == "") {
                        a.push('@ResourceCache.Localize("Please_enter_mark_to_all_student")');
                    }
                    else if (mark[i] != null || mark[i] != "") {
                        var markLength = mark[i].length;
                        if (markLength > 3) {
                            a.push('@ResourceCache.Localize("Mark_can_contains_maximum_3_digit")');
                        }
                    }
                    else {
                        $("#errorMsg").text("");
                        $("#div_Error").hide();
                    }

                    if (mark[i] != null || mark[i] != "") {

                        var currentMark = parseInt(mark[i]);
                        if (currentMark > maxMark) {
                            a.push('@ResourceCache.Localize("Mark_should_not_greater_than_maxmimum_mark")');
                        }
                    }
                    if (a.length != 0) {

                        $("#MandatoryFieldErrorMessage_List").show();
                        $(".List_jErr").append().empty();
                        $.each(a, function (i, v) {
                            if (a[i] != "" && a[i] != null) {
                                li = $("<li></li>").text(a[i]);
                                $(".List_jErr").append(li);
                            }
                        });
                        a = [];
                        return false;
                    }
                    else {
                        $("#MandatoryFieldErrorMessage_List").hide();
                    }
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                var values = { Mark_allAcademicYears: yearId, Mark_allClass: classId, Mark_Section: secId, Mark_allSubjects: subId, Mark_Exam: examId, Mark: mark, Id: id, TotalCount: c, Comment: cmt, grade_Id: gradeid };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/GradeInfo/Grade',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.InfoMessage != "" && data.InfoMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#MyInfoText").show();
                                $("#AddInfoText").empty();
                                $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }

                });
            });
        });
    </script>
}