﻿@model IEnumerable<eAcademy.ViewModel.ProgressCard>
@using eAcademy.Models
@{
    ViewBag.Title = "ProgressCard";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PG_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PG_allStudents", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div> <label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PG_Exam", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="GradeInfoProgressCard_message col-lg-12"><label></label></div>
                                <button type="button" class="btn btn-sm btn_submit" id="btnGradeInfoProgressCard"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>
                            
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>
                    <div class="box-body" id="show" style="display:none">
                        <div id="PrintSelection" style="display:none">
                            <div><label>@ResourceCache.Localize("AcademicYear") :</label> <label id="prtAcYear"></label></div>
                            <div><label class="PrintSectionLabelSpace">@ResourceCache.Localize("Class") :</label> <label id="prtClass"></label></div>
                            <div><label>@ResourceCache.Localize("Student") :</label> <label id="prtStudent"></label></div>
                            <div><label>@ResourceCache.Localize("Exam") :</label> <label id="prtExam"></label></div>
                        </div>
                        <div id="div_tbl_Progresscard">
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentProgressCard")<hr /></h2>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th style="text-align:left">
                                        @ResourceCache.Localize("Subject")
                                    </th>
                                    <th style="text-align:left">
                                        @ResourceCache.Localize("Grade")
                                    </th>
                                </tr>
                                <tbody id="tbl_bdy_GradeProgresscard"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PG_allAcademicYears').val(@Session["CurrentAcYearId"]);
            LoadClassWithSection(@Session["CurrentAcYearId"]);
            $('#PG_allStudents').change(function (event) {
                $("#show").hide();
            });
            $('#PG_Exam').change(function (event) {
                $("#show").hide();
            });
            $('#PG_allAcademicYears').change(function (event) {
                event.preventDefault();
                $("#show").hide();
                $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#PG_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $("#PG_Exam").val("");
                var YearId = $('#PG_allAcademicYears').val();
                AssignAcademicYear(YearId);
                LoadClassWithSection(YearId);
            });

            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            function LoadClassWithSection(YearId) {
                $.getJSON('/GradeInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {

                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#CI_ClassWithSection').change(function (event) {
                event.preventDefault();
                $("#show").hide();
                $("#PG_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                LoadStudentDetailsCIReport();
            });
            function LoadStudentDetailsCIReport() {
                var yearId = $('#PG_allAcademicYears').val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];
                $.getJSON('/GradeInfo/GetStudents', { passYearId: yearId, passClassId: classId, passSecId: secId },
                    function (orderdetails) {
                        $("#PG_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#PG_allStudents").append($('<option></option>').val(c.StudentRegId).html(c.StudentName));
                        });
                    });
            }

            $("#btnGradeInfoProgressCard").click(function (event) {
                $("#NoRecords").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                var yearId = $("#PG_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var stuId = $("#PG_allStudents").val();
                var examId = $("#PG_Exam").val();
                $("#PG_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");
                $("#PG_allStudents").addClass("current_button");
                $("#PG_Exam").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'PG_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'PG_allStudents') {

                            a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                        }
                        if (null_id == 'PG_Exam') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $('#prtAcYear').text($('#PG_allAcademicYears option:selected').text());
                    $('#prtClass').text($('#CI_ClassWithSection option:selected').text());
                    $('#prtStudent').text($('#PG_allStudents option:selected').text());
                    $('#prtExam').text($('#PG_Exam option:selected').text());
                    $("#MandatoryFieldErrorMessage_List").hide();

                    var values = { PG_allAcademicYears: yearId, PG_Exam: examId, CI_ClassWithSection: classWithSection, PG_allStudents: stuId };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/GradeInfo/ProgressCard',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();

                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            else {
                                if (data.count == 0) {
                                    $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").show();
                                    $("#InfoText").text('@ResourceCache.Localize("NoRecordsFound")');
                                }
                                if (data.count != 0) {
                                    $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                                    $('#tbl_bdy_GradeProgresscard').empty();
                                    $.each(data.list, function (i, v) {
                                        row = $("<tr><td><label>" + v.Subject + "</label></td><td><label>" + v.Grade + "</label></td></tr>");
                                        $('#tbl_bdy_GradeProgresscard').append(row);
                                    });
                                    $("#show").show();
                                    $("#div_tbl_Progresscard").show();
                                }
                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $("#jsonExceptionMsg").hide();
                                    $("#jsonSuccessMsg").hide();
                                    $("#jsonErrorMsg").show();
                                    $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $("#jsonErrorMsg").hide();
                                    $("#jsonExceptionMsg").hide();
                                    $("#jsonSuccessMsg").show();
                                    $("#jSuccessMsg").html(data.Message).val(data.Message);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $("#jsonErrorMsg").hide();
                                    $("#jsonSuccessMsg").hide();
                                    $("#jsonExceptionMsg").show();
                                    $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                        }

                    });
                }
                $("#MandatoryFieldErrorMessage_List").hide();
            });
        });
    </script>
}