﻿@using eAcademy.Models
@{
    ViewBag.Title = "Mark";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Mark")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="box-body" id="MyInfoText" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Mark_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), "-- Select Year --")
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })                                   
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Mark_allSubjects", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Mark_Exam", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnMarksInfoMark"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit") </button>
                            </div>
                        </div>
                        <div class="NoRecords box-body">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Noneofthestudentavailable")</b>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="MarksInfoStudentList" style="display:none">
                            <label> @ResourceCache.Localize("MaximumMark")</label> <label id="MaxMark">  </label>
                            <input type="hidden" id="ivalue" name="ivalue" />
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentMarkDetails")<hr /></h2>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("StudentId")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("StudentName")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Attendance")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Mark") <span class="glyphicon glyphicon-asterisk"></span>
                                                </th>
                                                <th>
                                                   @ResourceCache.Localize("Comment") 
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="MarksInfoStudentList_body"></tbody>
                                    </table>
                                    <label class="col-sm-12"><strong>Note:</strong>P-Present, A-Absent, H-Half Day, L-Late, R-Religious, E-Excused</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn_save " id="btnSaveMark"><i class="fa fa-save"></i> @ResourceCache.Localize("Save") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#Mark_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
        $('#Mark_allAcademicYears').change(function (event) {
            event.preventDefault();
            $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#Mark_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            $("#Mark_Exam").val("");
            var YearId = $('#Mark_allAcademicYears').val();
            $("#MarksInfoStudentList").hide();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $(".tmark").filter_input({ regex: '[0-9]' });
        $("#NoRecords").hide();
        $("#Mark_allAcademicYears").addClass("current_button");
        $("#CI_ClassWithSection").addClass("current_button");
        $("#Mark_allSubjects").addClass("current_button");
        $("#Mark_Exam").addClass("current_button");
        $('#Mark_allAcademicYears').change(function (event) {
            event.preventDefault();
            var YearId = $('#Mark_allAcademicYears').val();
            LoadClassWithSection(YearId);
        });

        function LoadClassWithSection(YearId) {
            $.getJSON('/MarksInfo/getClassWithSection', { passYearId: YearId },
                function (orderdetails) {
                    $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                    });
                });
        }
        $('#CI_ClassWithSection').change(function (event) {
            event.preventDefault();
            $("#MarksInfoStudentList").hide();
            $("#Mark_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
            $("#MarksInfoStudentList").hide();
            LoadSubjectDetailsReport();
        });

        function LoadSubjectDetailsReport() {
            var yearId = $('#Mark_allAcademicYears').val();
            var classWithSection = $("#CI_ClassWithSection").val();
            var clasSec = classWithSection.toString();
            var split = clasSec.split(' ');
            var classId = split[0];
            var secId = split[1];
            $.getJSON('/MarksInfo/showSubjects1', { passYearId: yearId, passClassId: classId, passSecId: secId },

               function (orderdetails) {
                   $("#Mark_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                   $.each(orderdetails, function (i, c) {
                       $("#Mark_allSubjects").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                   });
               });
        }

        $('#Mark_allSubjects').change(function (event) {
            $("#MarksInfoStudentList").hide();
        });

        $('#Mark_Exam').change(function (event) {
            $("#MarksInfoStudentList").hide();
        });

        $("#btnMarksInfoMark").click(function (event) {
            event.preventDefault();
            $("#jsonErrorMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jSuccessMsg").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();

            $('#MarksInfoStudentList_body').empty();
            var yearId = $("#Mark_allAcademicYears").val();
            var classWithSection = $("#CI_ClassWithSection").val();
            var clasSec = classWithSection.toString();
            var split = clasSec.split(' ');
            var classId = split[0];
            var secId = split[1];
            var subId = $("#Mark_allSubjects").val();
            var examId = $("#Mark_Exam").val();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Mark_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'CI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Mark_allSubjects') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                    if (null_id == 'Mark_Exam') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            $("#MarksInfoStudentList").hide();
            $('#MarksInfoStudentList_body').empty();
            $.post('/MarksInfo/getStudentListForMark', { passYearId: yearId, passClassId: classId, passSecId: secId, passSubId: subId, passExamId: examId },
              function (data) {
                  $("#MandatoryFieldErrorMessage_List").hide();
                  if (data.msg1 == "Error1")
                  {
                     //alert("AttendanceNotTaken");
                      $("#MarksInfoStudentList").hide();
                      $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                      $("#ErrorText").text("@ResourceCache.Localize("Exam_attendance_not_taken")");
                  }
                  else if (data.msg1 == "Error") {
                      //alert("Error");
                      $("#MarksInfoStudentList").hide();
                      $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                      $("#ErrorText").text("@ResourceCache.Localize("Please_assign_maximum_mark_to_all_subjects")");
                  }
                  else {
                     //alert("yes");
                      $("#MarksInfoStudentList").show();
                      $("#NoRecords").hide();
                      $('#MarksInfoStudentList_body').empty();
                      var MaxMark = data.MaxMark;                      
                      $('<tr><td><label>' + MaxMark + '</label></td></tr>');
                      $("#MaxMark").val(MaxMark).html(MaxMark);
                      
                      if (data.msg == "old") {
                          $.each(data.getMarkExist, function (i, v) {

                              var txt_mark = "txt_mark" + i;
                              var txt_comment = "txt_comment" + i;
                              var atn = "txtatn" + i;
                              var id = "ID" + i;
                              row = $('<tr><td><label >' + v.rollnumber + '</label></td><td><label id="Name">' + v.name + '</label> </td><td><label >' + v.attendance + '</label><td><input type="textbox" class="tmark" maxlength="3" value=' + v.mark + ' id=' + txt_mark + ' name="' + txt_mark + '" /><input type="hidden" id=' + id + ' name="' + id + '" value="' + v.id + '"  /></td><td><input type="textbox"  value="' + v.comment + '"  id="' + txt_comment + '" name="' + txt_comment + '" /></td></tr>');
                              $('#MarksInfoStudentList_body').append(row);
                              $("#ivalue").val(i);
                              $("#" + txt_mark).filter_input({ regex: '[0-9]' });
                          });
                      }

                      if (data.msg == "new") {
                          $.each(data.studentList, function (i, v) {
                              console.log(i);
                              var txt_mark = "txt_mark" + i;
                              var txt_comment = "txt_comment" + i;
                              var id = "ID" + i;
                              row = $('<tr><td><label >' + v.rollnumber + '</label></td><td><label id="Name">' + v.name + '</label> </td><td><label >' + v.attendance + '</label><td><input type="textbox" class="tmark" maxlength="3" id=' + txt_mark + ' name="' + txt_mark + '" /><input type="hidden" id=' + id + ' name="' + id + '" value="' + v.id + '"  /></td><td><input type="textbox" id=' + txt_comment + ' name="' + txt_comment + '" /></td></tr>');
                              $('#MarksInfoStudentList_body').append(row);
                              $("#ivalue").val(i);
                              $("#" + txt_mark).filter_input({ regex: '[0-9]' });
                          });
                      }
                      if (data.studentCount == 0) {
                          //alert("Error");
                          $("#MarksInfoStudentList").hide();
                          $("#NoRecords").show();                      
                      }
                  }
              }, 'json');
        });
        $("#btnSaveMark").click(function () {
            var yearId = $("#Mark_allAcademicYears").val();
            var classWithSection = $("#CI_ClassWithSection").val();
            var clasSec = classWithSection.toString();
            var split = clasSec.split(' ');
            var classId = split[0];
            var secId = split[1];
            var subId = $("#Mark_allSubjects").val();
            var examId = $("#Mark_Exam").val();
            var maxMark = $("#MaxMark").val();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Mark_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'CI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Mark_allSubjects') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                    if (null_id == 'Mark_Exam') {

                        a.push('@ResourceCache.Localize("PleaseSelectExam")');
                    }
                }
                else {
                }
            });
            var c = $("#ivalue").val();
            var mark = [];
            var id = [];
            var cmt = [];
            var x = 0;
            for (var i = 0; i <= c; i++) {
                cmt[i] = $("#txt_comment" + i).val();
                mark[i] = $("#txt_mark" + i).val();
                id[i] = $("#ID" + i).val();
                if (mark[i] == null || mark[i] == "") {
                    x = 1;
                }
                else {
                    $("#errorMsg").text("");
                    $("#div_Error").hide();
                }
            }

            if (x == 1) {
                a.push('@ResourceCache.Localize("Please_enter_mark_to_all_student")');
            }
            var ErrorMaxMark = "No";
            for (var i = 0; i <= c; i++) {
                if (mark[i] != null || mark[i] != "") {
                    var currentMark = parseInt(mark[i]);
                    if (currentMark > maxMark) {
                        ErrorMaxMark = "Yes";
                    }
                }
            }

            if (ErrorMaxMark == "Yes")
            {
                a.push('@ResourceCache.Localize("Mark_should_not_greater_than_maxmimum_mark")');
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_List").hide();

            var values = { Mark_allAcademicYears: yearId, Mark_allClass: classId, Mark_Section: secId, Mark_allSubjects: subId, Mark_Exam: examId, Mark: mark, Id: id, TotalCount: c, Comment: cmt };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/MarksInfo/Mark',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.InfoMessage != "" && data.InfoMessage != null) {
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#MyInfoText").show();
                        $("#AddInfoText").empty();
                        $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $("#jsonErrorMsg").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").show();
                        $("#jSuccessMsg").show();
                        $("#jSuccessMsg").html(data.Message).val(data.Message);
                        $("#Loading_Sec").removeClass("loading-new");
                    }

                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $("#jsonErrorMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonExceptionMsg").show();
                        $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }

            });
        });

    });
</script>
}