﻿@model IEnumerable<eAcademy.ViewModel.ProgressCard>
@using eAcademy.Models
@{
    ViewBag.Title = "ProgressCard";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PG_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PG_allStudents", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PG_Exam", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="button" class="btn btn-sm btn_submit btn-down " id="btnMarksInfoProgressCard"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>
                    <div id="DivStatus" style="display:none">
                        <label>@ResourceCache.Localize("Status=") </label> <label id="lbl_status"></label>
                    </div>
                    <div class="DivNoRecords box-body" style="display:none">
                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                        </div>
                    </div>
                    <div class="box-body" id="show" style="display:none">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div id="PrintSelection" style="display:none">
                            <div><label>@ResourceCache.Localize("AcademicYear") :</label> <label id="prtAcYear"></label></div>
                            <div><label class="PrintSectionLabelSpace">@ResourceCache.Localize("Class") :</label> <label id="prtClass"></label></div>
                            <div><label>@ResourceCache.Localize("Student") :</label> <label id="prtStudent"></label></div>
                            <div><label>@ResourceCache.Localize("Exam") :</label> <label id="prtExam"></label></div>
                        </div>
                        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentProgressCard")<hr /></h2>
                        <table class="table table-bordered table-striped" id="tblProgresscard" style="display:none">
                            <tr>
                                <th style="text-align:left">
                                    @ResourceCache.Localize("Subject")
                                </th>
                                <th style="text-align:left">
                                    @ResourceCache.Localize("Mark")
                                </th>
                                <th style="text-align:left">
                                    @ResourceCache.Localize("MinMark")
                                </th>
                                <th style="text-align:left">
                                    @ResourceCache.Localize("MaxMark")
                                </th>
                            </tr>
                            <tbody id="tbl_bdy_progresscard"></tbody>
                        </table>
                        <div id="DivTotal" style="display:none">
                            <label>@ResourceCache.Localize("Total=") </label> <label id="lbl_total"></label>
                        </div>
                        <div id="DivResult" style="display:none">
                            <label>@ResourceCache.Localize("Result=")</label> <label id="lbl_Result"></label>
                        </div>
                        <div id="DivRank" style="display:none">
                            <label>@ResourceCache.Localize("Rank=") </label> <label id="lbl_Rank"></label>
                        </div>
                        <div id="DivComment" style="display:none">
                            <label>@ResourceCache.Localize("TeacherComment=") </label> <label id="lbl_Comment"></label>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PG_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            $('#PG_allAcademicYears').change(function (event) {
                event.preventDefault();
                $("#tblProgresscard").hide();
                $("#DivStatus").hide();
                $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#PG_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $("#PG_Exam").val("");
                var YearId = $('#PG_allAcademicYears').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                            function (orderdetails) {
                            });
            }

            $('#PG_allAcademicYears').change(function (event) {
                event.preventDefault();
                var YearId = $('#PG_allAcademicYears').val();
                clean();
                LoadClassWithSection(YearId);
            });

            function LoadClassWithSection(YearId) {
                $.getJSON('/MarksInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#CI_ClassWithSection').change(function (event) {
                event.preventDefault();
                $("#tblProgresscard").hide();
                $("#DivStatus").hide();
                $("#PG_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $("#PG_Exam").val("");
                clean();
                LoadStudentDetailsCIReport();
            });

            function LoadStudentDetailsCIReport() {
                var yearId = $('#PG_allAcademicYears').val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];

                $.getJSON('/MarksInfo/GetStudents', { passYearId: yearId, passClassId: classId, passSecId: secId },
                    function (orderdetails) {
                        $("#PG_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#PG_allStudents").append($('<option></option>').val(c.StudentRegId).html(c.StudentName));
                        });
                    });
            }

            $('#PG_allStudents').change(function (event) {
                event.preventDefault();
                $("#tblProgresscard").hide();
                $("#DivStatus").hide();
                clean();
            });

            $('#PG_Exam').change(function (event) {
                event.preventDefault();
                $("#tblProgresscard").hide();
                $("#DivStatus").hide();
                clean();
            });

            function clean() {
                $("#jsonExceptionMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jErrMsg").hide();
                $("#jSuccessMsg").hide();
                $("#jExceptionMsg").hide();
                $("#tblProgresscard").hide();
                $("#DivTotal").hide();
                $("#DivResult").hide();
                $("#DivRank").hide();
                $("#DivComment").hide();
            }

            $("#btnMarksInfoProgressCard").click(function (event) {
                clean();

                var yearId = $("#PG_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var stuId = $("#PG_allStudents").val();
                var examId = $("#PG_Exam").val();

                $("#PG_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");
                $("#PG_allStudents").addClass("current_button");
                $("#PG_Exam").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'PG_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'PG_allStudents') {

                            a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                        }
                        if (null_id == 'PG_Exam') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                var values = { PG_allAcademicYears: yearId, PG_Exam: examId, CI_ClassWithSection: classWithSection, PG_allStudents: stuId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/MarksInfo/ProgressCard',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.count == 0) {
                                $("#DivNoRecords").show();
                            }
                            if (data.status != "" && data.status != null) {
                                $("#DivStatus").show();
                                $("#lbl_status").text(data.status);
                            }
                            if (data.count != 0) {

                                $('#prtAcYear').text($('#PG_allAcademicYears option:selected').text());
                                $('#prtClass').text($('#CI_ClassWithSection option:selected').text());
                                $('#prtStudent').text($('#PG_allStudents option:selected').text());
                                $('#prtExam').text($('#PG_Exam option:selected').text());
                                $('#tbl_bdy_progresscard').empty();
                                $.each(data.list, function (i, v) {
                                    row = $("<tr><td><label>" + v.Subject + "</label></td><td><label>" + v.Mark + "</label></td><td><label>" + v.MinMark + "</label></td><td><label>" + v.MaxMark + "</label></td></tr>");
                                    $('#tbl_bdy_progresscard').append(row);
                                });
                                $("#tblProgresscard").show();
                                $("#show").show();
                            }
                            if (data.Total != "" && data.Total != null) {
                                $("#DivTotal").show();
                                $("#lbl_total").text(data.Total);
                            }
                            if (data.Result != "" && data.Result != null) {
                                $("#DivResult").show();
                                $("#lbl_Result").text(data.Result);
                            }
                            if (data.Rank != "" && data.Rank != null) {
                                $("#DivRank").show();
                                $("#lbl_Rank").text(data.Rank);
                            }
                            if (data.comment != "" && data.comment != null) {
                                $("#DivComment").show();
                                $("#lbl_Comment").text(data.comment);
                            }
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });
        });
    </script>
}