﻿@{
    ViewBag.Title = "AddResource";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Resource</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        
                                                
                        <form role="form" method="post" action="@Url.Action("AddResource","Resource")">
                            <div id="parent" class="row">
                                <div class="form-group">
                                    <label for="sel1">Resource Type:</label><span class="mandatory">*</span>
                                    @Html.DropDownList("TypeId", new SelectList(ViewBag.RType, "Id", "Name"), "-- Select Resource Type --")
                                </div>
                                <div class="form-group">
                                    <label for="email">Culture :</label><span class="mandatory">*</span>
                                    @Html.DropDownList("ResourcelanquageId", new SelectList(ViewBag.CultureType, "ResourcelanquageId", "CultureName"), "-- Select Culture --")
                                </div>
                                <div class="form-group">
                                    <label for="email">Resource Name:</label><span class="mandatory">*</span>
                                    <input type="text" class="form-control" id="Resource_Name" name="Resource_Name" placeholder="Enter Resource Name">
                                </div>

                                <div class="form-group">
                                    <label for="pwd">Resource Value:</label><span class="mandatory">*</span>
                                    <input type="text" class="form-control" id="Resource_Value" name="Resource_Value" placeholder="Enter Resource Value">
                                </div>
                                <button type="submit" class="btn btn-sm btn_search btn-down">Submit</button>
                                </div>
                        </form>
                        <div>
                            @Html.ActionLink("Back to List", "Datatable")
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
