﻿@model eAcademy.ViewModel.AddResourceLanguage
@{
    ViewBag.Title = "EditCulture";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Resource Language</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                   @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    <div class="box-body">
                        @if (ViewBag.success != null)
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong>  @ViewBag.success.
                            </div>
                        }
                        @if (ViewBag.validationmsg != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error!</strong>  @ViewBag.validationmsg.
                            </div>
                        }
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div id="parent" class="row">



                                <div class="editor-field form-group">
                                    @Html.HiddenFor(model => model.ResourceLanguageId)

                                </div>

                                <div class="editor-label form-group">
                                    @Html.LabelFor(model => model.LanguageDisplayname)
                                </div>
                                <div class="editor-field form-group">
                                    @Html.EditorFor(model => model.LanguageDisplayname)
                                    
                                </div>

                                <div class="editor-label form-group">
                                    @Html.LabelFor(model => model.LanguageCultureName)
                                </div>
                                <div class="editor-field form-group">
                                    @Html.EditorFor(model => model.LanguageCultureName)
                                    
                                </div>

                                <div class="editor-label form-group">
                                    @Html.LabelFor(model => model.LanguageCultureCode)
                                </div>
                                <div class="editor-field form-group">
                                    @Html.EditorFor(model => model.LanguageCultureCode)
                                    
                                </div>

                                <div class="editor-label form-group">
                                    @Html.LabelFor(model => model.LanguageCountryCode)
                                </div>
                                <div class="editor-field form-group">
                                    @Html.EditorFor(model => model.LanguageCountryCode)
                                    
                                </div>

                                <div class="editor-label form-group">
                                    @Html.LabelFor(model => model.status)
                                </div>
                                <div class="editor-field form-group">
                                    @Html.EditorFor(model => model.status)
                                    
                                </div>

                                <p>
                                    <input type="submit" value="Save" class="btn btn-sm btn_search btn-down" />
                                </p>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "ResourceLanguageDatatable")
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsDataTableContainer{

}
