﻿@model List<eAcademy.Models.ResourceList>
@using eAcademy.Models;
@{
    ViewBag.Title = "Datatable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Resource Table</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        <div id="parent" class="row">
                            <div class="headline">
                                @*<h2>Manage Resources</h2> <h1>@ResourceCache.Localize("result") </h1>*@
                            </div>
                            <div id="toolbar" class="btn-group">
                                <a href="@Url.Action("AddResource", "Resource")" class="btn btn-default"><i class="fa fa-plus-square"></i>&nbsp; Add New</a>
                            </div>
                            <table id="table1"
                                   data-toggle="table"
                                   data-search="true"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-sortable="true"
                                   data-minimum-count-columns="4"
                                   data-show-export="true"
                                   data-detail-view="true"
                                   data-detail-formatter="detailFormatter"
                                   data-response-handler="responseHandler"
                                   data-pagination="true"
                                   data-page-list="[10, 25, 50, 100, ALL]"
                                   data-toolbar="#toolbar"
                                   data-export-types="['csv']"
                                   data-classes="table table-hover table-condensed"
                                   data-striped="true">
                                <thead>
                                    <tr>
                                        <th data-field="Id">Id</th>
                                        <th data-field="Type">Type</th>
                                        <th data-field="Name">Name</th>
                                        <th data-field="Culture">Culture</th>
                                        <th data-field="Value">Value</th>
                                        <th data-field="Action">Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsDataTableContainer{
    <script>
        var data = [];
        //add data to table
        @foreach (var item in Model) {

        //build links
            string links = "<a href='" + Url.Action("EditResource", "Resource", new { id = item.Id }) + "'>" + "Edit" + "</a>";

        //links += "<a href='" + Url.Action("DeleteResource", "Home", new { id = item.Id }) + "'>" + "Delete" + "</a> •";

        <text>data.push({ "Id": "@item.Id", "Type": "@item.RType", "Name": "@item.Name", "Culture": "@item.Culture", "Value": "@item.Value", "Action": "@Html.Raw(links)" })</text>
    }

        var $table = $('#table1');

        $(function () {

            $table.bootstrapTable("append", data);


            // sometimes footer render error.
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);



            $(window).resize(function () {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });
        });

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                if (key != 'undefined') {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                }
            });
            return html.join('');
        }

        function responseHandler(res) {
            $.each(res, function (i, row) {
                $.inArray(row.id) !== -1;
            });
            return res;
        }

        function getHeight() {
            return $(window).height() - $('h1').outerHeight(true);
        }



    </script>
}

