﻿@{
    ViewBag.Title = "Upload excel";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Resource</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.success != null)
                            {
                                <div class="alert alert-success">
                                    <strong>Success!</strong>  @ViewBag.success
                                </div>
                            }
                            @if (ViewBag.ErrorMesssage != null)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong>  @ViewBag.ErrorMesssage
                                </div>

                            }
                            
                        </div>
                    </div>
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @using (Html.BeginForm("Resource_Lanaguage_Excel", "Resource", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">Upload Excel File Here:</div>
                                    <div class="col-md-5">
                                        <input type="file" id="FileUpload" name="FileUpload" class="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Upload" class="btn btn-primary" />

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
