﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.ViewModel.AnnouncementList>
@using eAcademy.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link href="~/css/flipclock.css" rel="stylesheet" />
<link href="~/css/dashboard.css" rel="stylesheet" />

<section class="maincontent-header">
    <div class="s_head col-lg-12">
        @ResourceCache.Localize("Dashboard")
    </div>
</section>
<div class="row">
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-primary1 ani">
            <div class="col-xs-3">
                <i class="fa fa-info fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h4>
                    @ResourceCache.Localize("LeaveRequest")
                </h4>
                <p>
                    @if (ViewBag.status != null)
                    {
                        <label>   @ViewBag.fdate - @ViewBag.todate is @ViewBag.status</label>
                    }
                    else
                    {
                        <label>@ResourceCache.Localize("No_leave_request_for_current_month")</label>
                    }
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-green ani1">
            <div class="col-xs-3">
                <i class="fa fa-book fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h4>
                    @ResourceCache.Localize("TodayHomework")
                </h4>
                <p>
                    @if (ViewBag.Homework != null)
                    {
                    @ViewBag.Homework
                    }
                    else
                    {
                    <label>@ResourceCache.Localize("Today_no_homework_available")</label>
                    }
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-yellow ani2">
            <div class="col-xs-2">
                <i class="fa fa-clock-o fa-5x "></i>
            </div>
            <div class="col-xs-10 text-right">
                <div class="clock pull-right"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-red ani3">
            <div class="col-xs-3">
                <i class="fa fa-sign-in fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h4>@ResourceCache.Localize("LastLogin")</h4>

                <p>
                    <label>  On</label>
                    @if (ViewBag.LastLogin != null)
                    {
                    @ViewBag.LastLogin
                    }
                </p>

            </div>
        </div>
    </div>
</div>
<section class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
    <div class="box box-solid bg-teal-gradient dash-bg ani4">
        <div class="box-header bg-gray ">
            <i class="fa fa-bullhorn c1"></i>
            <h3 class="box-title">@ResourceCache.Localize("Announcements")</h3>
            <div class="box-tools pull-right">
                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="box-body row border-radius-none bb">
            <div class="demo">
                <marquee behavior="scroll" height="300" width="100%" direction="up" scrollamount="1" style="font-weight:700;color:black">
                    @if (ViewBag.count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <a href="#" onclick="ShowPopup('@item.id');">@item.Announcement </a>
                            <br />
                        }
                    }
                    else
                    {
                        <label>@ResourceCache.Localize("NoAnnouncementAvailable")</label>
                    }
                </marquee>
            </div>

            <script type="text/javascript">

                function ShowPopup(a) {
                    var link = document.createElement('link');
                    link.type = 'image/x-icon';
                    link.rel = 'shortcut icon';
                    link.href = '~/Images/favicon.ico';
                    document.getElementsByTagName('head')[0].appendChild(link);
                    var x = a;
                    window.open('/DashboardStudent/OpenPopup/' + parseInt(x), "PopupWindow", 'width=400px,height=400px,top=150,left=250');
                }
            </script>
        </div>
    </div>

    <div class="box box-solid bg-teal-gradient dash-bg ani5">
        <div class="box-header bg-gray ">
            <i class="fa fa-bar-chart c3"></i>
            <h3 class="box-title">@ResourceCache.Localize("Attendance")</h3>
            <div class="box-tools pull-right">
                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
        <div id="NoRecordsMonthly" class="NoRecords box-body" style="display:none">
            <div class="alert alert-info alert-dismissable">
                <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
            </div>
        </div>
        <div class="box-body bb" id="stChart">
            <div id="Stu_Attendance_ChartWithNumberOfWorkinDays" class="hh"></div>
            <a href="/Student/AttendanceReport">
                <div class="panel-footer">
                    @ResourceCache.Localize("Moreinfo")<i class="fa fa-arrow-circle-right"></i>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
    <div class="box box-solid bg-teal-gradient dash-bg ani7">
        <div class="box-header bg-gray ">
            <i class="fa fa-calendar c4"></i>
            <h3 class="box-title">@ResourceCache.Localize("Events")</h3>
            <div class="box-tools pull-right">
                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="box-body bb">
            <div class="col-lg-offset-0" id="ecal" style="height:100%;"></div>
        </div>
    </div>
</section>
@section scriptsContainer{
<script src="~/js/flipclock.js"></script>
<script type="text/javascript">
        var clock;
        $(document).ready(function () {

            $.getJSON('/DashboardStudent/totalstudent',
            function (data) {
                $('#totalstudent').text(data.total);

                var ss = data.serverTime;

                clock = $('.clock').FlipClock(ss, {
                    clockFace: 'TwelveHourClock'
                });


                $("#sendEmail").click(function () {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                    $("#jsonSuccessMsg").hide();
                    $(".jsonSuccessMsg").hide();

                    var mailTo = $("#emailto").val();
                    var subj = $("#subject").val();
                    var message = $("#message").val();

                    $("#emailto").addClass("current_button");
                    $("#subject").addClass("current_button");
                    $("#message").addClass("current_button");

                    var a = [];
                    var field_val = [];
                    $(".current_button").each(function () {
                        var valu = $(this).val();
                        if (valu == '') {
                            var null_id = $(this).attr('id');
                            if (null_id == 'emailto') {
                                a.push('@ResourceCache.Localize("Please_enter_to_mail")');
                            }
                            if (null_id == 'subject') {
                                a.push('@ResourceCache.Localize("Please_enter_subject")');
                            }
                            if (null_id == 'message') {
                                a.push('@ResourceCache.Localize("Please_enter_message")');
                            }
                        }
                        else {
                        }
                    });

                    if (a.length != 0) {
                        $("#MandatoryFieldErrorMessage_Add").show();
                        $(".Add_jErr").append().empty();
                        $.each(a, function (i, v) {
                            if (a[i] != "" && a[i] != null) {
                                li = $("<li></li>").text(a[i]);
                                $(".Add_jErr").append(li);
                            }
                        });
                        a = [];
                        return false;
                    }
                    else {
                        $("#MandatoryFieldErrorMessage_Add").hide();
                    }

                    var values = { emailto: mailTo, subject: subj, message: message, };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/DashboardStudent/QuickMail',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            $('#leavedeletesuccess').hide();
                            $('#leaveaddsuccess').show();
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            else {
                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $(".jsonError").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").show();
                                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $(".jsonError").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").show();
                                    $("#ParentLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                                    $("#emailto").val("");
                                    $("#subject").val("");
                                    $("#message").val("");
                                    $("#Loading_Sec").removeClass("loading-new");
                                }

                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $(".jsonError").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonExceptionMsg").show();
                                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                            }
                        }
                    });
                });

            });

        });
</script>
}
 