﻿@model IEnumerable<eAcademy.DataModel.ApplySeparation>
@using eAcademy.Models;
@{
    ViewBag.Title = "AppliedSeparationForms";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">

        <form action="@Url.Action("AppliedSeparationForms", "StudentEnrollment")" method="post" enctype="multipart/form-data">
            <section class="col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-primary ">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">@ResourceCache.Localize("SeparateStudents")</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>

                        </div><!-- /.box-header -->
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @if(ViewBag.year != null)
                                {
                                  @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear",@ViewBag.year))
                                }
                                else
                                {
                                    @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                }
                            </div>

                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-sm btn_save btn-down" id="btnApplySeparation"><i class="fa fa-save"></i>@ResourceCache.Localize("Save")</button>
                            </div>

                        </div>
                        @if (ViewBag.count != null)
                        {
                            <div class="col-lg-12">
                                @if (ViewBag.count > 0)
                                {
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <div class="box-body" id="show">
                                        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("Eligible_Student_List")<hr/></h2>
                                        <div id="tbl_scrol">
                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    @*<th>
                                                            @Html.DisplayNameFor(model => model.SeparationApplyId)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ParentRegisterId)
                                                        </th>*@
                                                    <th>
                                                        @ResourceCache.Localize("Student_Register_Id")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("StudentName")
                                                    </th>
                                                    @*<th>
                                                            @Html.DisplayNameFor(model => model.AcademicYearId)
                                                        </th>*@
                                                    <th>
                                                        @ResourceCache.Localize("Class")    
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("Section")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("DateOfApply")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("FeesDue")
                                                    </th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        @*<td>
                                                                @Html.DisplayFor(modelItem => item.SeparationApplyId)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ParentRegisterId)
                                                            </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StudentRegisterId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StudentName)
                                                        </td>
                                                        @*<td>
                                                                @Html.DisplayFor(modelItem => item.AcademicYearId)
                                                            </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Class)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Section)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DateOfApply)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FeesDue)
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>

                                    </div>
                                }
                                else
                                {

                                    <div class="col-lg-12">
                                        <div class="alert alert-info alert-dismissable">
                                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        </form>

    </div>
</section>