﻿@using eAcademy.Models;
@{
    ViewBag.Title = "ChangeSection";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ChangeSection")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body ">
                        <form>
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")

                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">Academic Year</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>

                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">Class</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allClass_List", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                            </div>

                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">Section</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("change_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } })
                            </div>

                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnChangeSectionStudentList"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            </div>


                            <div class="box-body row border-radius-none" id="div_ChangeSection_StudentList" style="display:none">
                                <input type="hidden" id="ivalue" name="ivalue" />
                                @Html.Partial("~/Views/Shared/Print.cshtml")
                                <div class="box-body" id="show">
                                    <div id="tbl_scrol" class="">
                                        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("Change_Section_to_Student")<hr/></h2>
                                        <table class="table table-bordered table-striped table-responsive col-sm-12" border="1">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" name="EM_Att_allSelect" id="EM_Att_allSelect" />
                                                    </th>
                                                    @*<th>
                                                        Admission Id
                                                    </th>
                                                    <th>
                                                        Student RegisterId
                                                    </th>*@
                                                    <th>
                                                        @ResourceCache.Localize("StudentId")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("Name")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("Gender")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("FirstLanguage")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("Mediumofstudy")
                                                    </th>
                                                    @*<th>
                                                        Way of Enrollment
                                                    </th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="ChangeSection_StudentList"></tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <input type="hidden" id="count" class="col-lg-3" />
                                    <button type="button" class="btn pull-right btn-sm btn_save" id="btnShow_ChangeSection">@ResourceCache.Localize("Go")</button>
                                </div>
                            </div>


                            <div class="col-sm-12 btn-down row" id="NoRecords" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>

                            <div class="col-lg-12" id="ToChangeSection" style="display:none">

                                <div class="col-lg-3">
                                    <div>@ResourceCache.Localize("AcademicYear") <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <label id="toYear"></label>
                                </div>

                                <div class="col-lg-3">
                                    <div>@ResourceCache.Localize("Class")<span class="glyphicon glyphicon-asterisk"></span></div>
                                    <label id="toClass"></label>
                                </div>

                                <div class="col-lg-3">
                                    <div>@ResourceCache.Localize("Section")<span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ToSection", new List<SelectListItem>() { new SelectListItem() { Text =ResourceCache.Localize("SelectSection"), Value = "" } })
                                </div>

                            </div>

                            <div class="col-lg-12" id="ClassRoomStrength" style="display:none">
                                <div class="col-lg-3">
                                    <label>@ResourceCache.Localize("Totalstudent")</label>
                                    <label id="TotalStudent"></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>@ResourceCache.Localize("Already_assigned_student")</label>
                                    <label id="AssignedStudent"></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>@ResourceCache.Localize("Available_vacant_space")</label>
                                    <label id="vacant"></label>
                                </div>
                            </div>

                            <div class="col-lg-12" id="AssignClass" style="display:none">
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-sm btn_submit" id="btnSaveChangeSectionStudentList"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>

            </div>
        </section>

    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
  
        var att = "att";
        $('#allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);

        $('#allAcademicYears').change(function (event) {
            event.preventDefault();
            var YearId = $('#allAcademicYears').val();
            $("#div_ChangeSection_StudentList").hide();
            $("#ToChangeSection").hide();
            $("#ClassRoomStrength").hide();
            $("#AssignClass").hide();
            $('#allClass_List').val("");
            $("#change_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#allClass_List').change(function (event) {
            event.preventDefault();
            $("#div_ChangeSection_StudentList").hide();
            $("#ToChangeSection").hide();
            $("#ClassRoomStrength").hide();
            $("#AssignClass").hide();
            $("#change_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            LoadSection();
        });
        function LoadSection() {
            var ClassId = $('#allClass_List').val();
            $.getJSON('/StudentEnrollment/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#change_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#change_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }

        $("#btnChangeSectionStudentList").click(function (event) {
            $("#jsonSuccessMsg").hide();
            $("#EM_Att_allSelect").removeAttr("checked");
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            $("#div_ChangeSection_StudentList").hide();
            $("#NoRecords").hide();
            $("#ToChangeSection").hide();
            $("#ClassRoomStrength").hide();
            $("#AssignClass").hide();
            event.preventDefault();
            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass_List").val();
            var sectionId = $("#change_Section").val();

            $("#allAcademicYears").addClass("current_button");
            $("#allClass_List").addClass("current_button");
            $("#change_Section").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'change_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {

                $("#MandatoryFieldErrorMessage_List").hide();
                $('#ChangeSection_StudentList').empty();
                $.getJSON('/StudentEnrollment/getStudentListToChangeSection', { passYearId: yearId, passClassId: classId, passSectionId: sectionId },
                  function (data) {
                      var count = data.count;
                      if (count == 0) {
                          $("#NoRecords").show();
                      }
                      $.each(data.List, function (i, v) {
                          row = $("<tr id=''><td><input type='checkbox' id='E_checkbox" + i + "' name='E_checkbox" + i + "'  class='att' /></td>  <td><label>" + v.StudentId + " </label></td> <td><label>" + v.FirstName + "  " + v.LastName + "</label></td> <td><label>" + v.Gender + "</label></td> <td><label>" + v.FirstLanguage + "</label></td> <td><label>" + v.MediumOfStudy + "<input type='hidden' value='" + v.Student_RegId + "' id='studentRegId" + i + "'/></label></td></tr>"); //<td><label>" + v.AdmissionId + " </label></td> <td><label>" + v.StudentRegId + " </label></td><label>" + v.WayOfEnrollment + "</label>
                          $('#ChangeSection_StudentList').append(row);
                          $("#div_ChangeSection_StudentList").show();
                          $("#count").val(i);
                          $("#NoRecords").hide();
                      });

                  });
            }
        });


        $("#btnShow_ChangeSection").click(function (event) {
            $("#jsonSuccessMsg").hide();
            var x = $("input[class='att']:checked").length;
            if (x == 0) {
                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                $("#ErrorText").text('@ResourceCache.Localize("Please_select_any_one_of_the_student")');
                return false;
            }
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            $("#ToChangeSection").show();

            var yearId1 = $("#allAcademicYears").val();
            var classId1 = $("#allClass_List").val();
            var secId1 = $("#change_Section").val();

            $.getJSON('/StudentEnrollment/GetSelectedClassSectionForChangeClass', { passYearId: yearId1, passClassId: classId1, passSectionId: secId1 },
            function (data) {
                $("#ToSection").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $.each(data.List, function (i, c) {
                    $("#ToSection").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                });

                $("#toYear").html(data.getYear);
                $("#toClass").html(data.getClass);

            });
        });


        $("#btnSaveChangeSectionStudentList").click(function () {
            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass_List").val();
            var secId = $("#ToSection").val();

            $("#allAcademicYears").addClass("current_button");
            $("#allClass_List").addClass("current_button");
            $("#ToSection").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'ToSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            var x = $("input[class='att']:checked").length;
            if (x == 0) {
                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                $("#ErrorText").text('@ResourceCache.Localize("Please_select_any_one_of_the_student")');
                return false;
            }
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            var c = $("#count").val();

            var checkbox = [];
            var studentRegisterId = [];

            for (var i = 0; i <= c; i++) {

                if ($("#E_checkbox" + i).prop('checked') == true) {
                    checkbox[i] = "on";
                }
                else {
                    checkbox[i] = "off";
                }


                studentRegisterId[i] = $("#studentRegId" + i).val();
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            var values = { ToAcademicYears: yearId, ToClass: classId, ToSection: secId, TotalCount: c, StudentRegisterId: studentRegisterId, checkboxId: checkbox };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentEnrollment/Edit_ChangeSection',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#div_ChangeSection_StudentList").hide();
                            $("#ToChangeSection").hide();
                            $("#ClassRoomStrength").hide();
                            $("#AssignClass").hide();
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }

                }

            });
        });
        
        $("#ToSection").change(function (event) {
            $("#jsonSuccessMsg").hide();
            $("#jsonSuccessMsg").hide();
            var yearId1 = $("#allAcademicYears").val();
            var classId1 = $("#allClass_List").val();
            var secId = $("#ToSection").val();

            $.getJSON('/StudentEnrollment/GetClassRoomStrength', { passYearId: yearId1, passClassId: classId1, passSectionId: secId },
                function (data) {
                    if (data.totalStrength != null && data.AssignedStudentStrength != null) {
                        $("#ClassRoomStrength").show();
                        $("#TotalStudent").text(data.totalStrength);
                        $("#AssignedStudent").text(data.AssignedStudentStrength);
                        var vacant = data.totalStrength - data.AssignedStudentStrength;
                        $("#vacant").text(vacant);
                        if (vacant > 0) {
                            var selectedStudentCount = $("input[class='att']:checked").length;
                            if (selectedStudentCount > vacant) {
                                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                $("#ErrorText").text('@ResourceCache.Localize("Selected_student_count_exceeds_from_vacant_of_selected_section_vacancy")');

                                $("#ClassRoomStrength").hide();
                                $("#TotalStudent").empty();
                                $("#AssignedStudent").empty();
                                $("#vacant").empty();
                                return false;
                            }
                            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                            $("#AssignClass").show();
                        }
                        else {
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").text('@ResourceCache.Localize("No_vacancy_available_int_the_selected_section")');
                            $("#ClassRoomStrength").hide();
                            $("#TotalStudent").empty();
                            $("#AssignedStudent").empty();
                            $("#vacant").empty();
                            return false;
                        }
                        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                    }
                    if (data.ErrorMessage != null) {
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").text('@ResourceCache.Localize("Section_strength_is_not_defined")');

                            $("#ClassRoomStrength").hide();
                            $("#TotalStudent").empty();
                            $("#AssignedStudent").empty();
                            $("#vacant").empty();
                            return false;
                        }
                        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                    });
            });
        
            $("#EM_Att_allSelect").click(function (event) {
                if (this.checked) {
                    $('.att').each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $('.att').each(function () {
                        this.checked = false;
                    });
                }
            });
            $(document).on('click', '.att', function () {
                if (this.checked) {
                    $('.att').each(function () {
                        if (this.checked) {
                            $('#EM_Att_allSelect').prop("checked", true);
                        }
                    });
                }
            });

            $(document).on('click', '.att', function () {
                if ($("input[class='att']").length == $("input[class='att']:checked").length) {
                    $("#EM_Att_allSelect").attr("checked", "checked");
                }
                else {
                    $("#EM_Att_allSelect").removeAttr("checked");
                }
            });
            
                });
    </script>
}
