﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.ViewModel.OldStudents>
@{
    ViewBag.Title = "OldStudents";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <form action="@Url.Action("OldStudents", "StudentEnrollment")" method="post" enctype="multipart/form-data">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-gray ">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">@ResourceCache.Localize("OldStudents")</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div><!-- /.box-header -->
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">

                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @if (ViewBag.year != null)
                                {
                                    @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear", ViewBag.year), ResourceCache.Localize("SelectYear"))
                                }
                                else
                                {
                                    @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                }
                            </div>

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @if (ViewBag.class1 != null)
                                {
                                    @Html.DropDownList("allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName", ViewBag.class1), ResourceCache.Localize("SelectClass"))
                                }
                                else
                                {
                                    @Html.DropDownList("allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"),ResourceCache.Localize("SelectClass"))
                                }
                            </div>


                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @if (ViewBag.sec != null)
                                {
                                    @Html.DropDownList("Section", new SelectList(ViewBag.secList, "selSectionId", "selSectionName", ViewBag.sec), ResourceCache.Localize("SelectSection"))
                                }
                                else
                                {
                                    @Html.DropDownList("Section", new List<SelectListItem>() { new SelectListItem() { Text =ResourceCache.Localize("SelectSection"), Value = "" } })
                                }
                            </div>

                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-sm btn_submit btn-down" id="btnOldStudent"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>


                        @if (ViewBag.count != null)
                        {
                            <div class="col-lg-12" id="OldStudentList">
                                @if (ViewBag.count > 0)
                                {


                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <th>
                                                @ResourceCache.Localize("RegisterId")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("StudentId")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("StudentName")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Contact")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Class")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Section")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Reason")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("TC")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("CC")
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StudentRegisterId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StudentId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StudentName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Contact)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Class)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Section)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Reason)
                                                </td>
                                                <td>
                                                    <a href="~/Documents/Generated_TC/@item.TC" target="_blank"> @item.TC </a>
                                                    @*@Html.ActionLink("view", "Open_TC", new { fid = item.TC }, new { target = "_blank" })*@
                                                </td>
                                                <td>
                                                    <a href="~/Documents/Generated_CC/@item.CC" target="_blank"> @item.CC </a>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                }
                                else
                                {
                                    <div class="NoRecords box-body">
                                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        </form>

    </div>
</section>
@section scriptsContainer{
<script type="text/javascript">
    $(document).ready(function () {

        $('#allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);

        $('#allAcademicYears').change(function (event) {
            event.preventDefault();
            $('#allClass').val("");
            $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            var YearId = $('#allAcademicYears').val();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $("#allClass").change(function (event) {
            $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            var ClassId = $('#allClass').val();
            $.getJSON('/StudentEnrollment/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        });

        $("#btnOldStudent").click(function (event) {
            $("#OldStudentList").hide();
            $("#NoRecords").hide();
        });


    });</script>
}