﻿@using eAcademy.Models;
@{
    ViewBag.Title = "SeparateStudents";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("CertificateGeneration")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <form>
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            <div class="box-body row border-radius-none">
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")

                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allClass_List", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"),ResourceCache.Localize("SelectClass"))
                                </div>

                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("change_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } })
                                </div>

                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-sm btn_submit btn-down" id="btnSectionStudentList"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>

                                <div class="col-lg-12" id="div_Section_StudentList" style="display:none">
                                    <input type="hidden" id="ivalue" name="ivalue" />
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <div class="box-body" id="show">
                                        <div id="tbl_scrol">
                                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("SeparatedStudents")<hr/></h2>

                                            <table class="table table-responsive table-bordered table-striped col-sm-12" border="1">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" name="EM_Att_allSelect" id="EM_Att_allSelect" />
                                                        </th>
                                                        @*<th>
                                                Admission Id
                                            </th>
                                            <th>
                                                Student RegisterId
                                            </th>*@
                                                        <th>
                                                            @ResourceCache.Localize("StudentId")
                                                        </th>
                                                        <th>
                                                            @ResourceCache.Localize("RollNumber")
                                                        </th>
                                                        <th>
                                                            @ResourceCache.Localize("Name")
                                                        </th>
                                                        <th>
                                                            @ResourceCache.Localize("Gender")
                                                        </th>
                                                        <th>
                                                            @ResourceCache.Localize("Conduct") <input type="checkbox" name="Conduct_allSelect" id="Conduct_allSelect" value="Good" /> @ResourceCache.Localize("AllGood")
                                                        </th>
                                                        <th>
                                                           @ResourceCache.Localize("Reason")<input type="checkbox" name="Transfer_allSelect" id="Transfer_allSelect" value="Higher Secondary" />@ResourceCache.Localize("AllHigherSecondary")
                                                        </th>
                                                        <th>
                                                           @ResourceCache.Localize("CC")
                                                        </th>
                                                        <th>
                                                            @ResourceCache.Localize("TC")
                                                        </th>
                                                        <th>
                                                            @ResourceCache.Localize("Status")
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Section_StudentList"></tbody>
                                            </table>

                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <input type="hidden" id="count" class="col-lg-3" />
                                        <input type="hidden" id="webUrl" name="webUrl" value="@Session["WebsiteUrl"]" />
                                        <div class="col-lg-3">
                                            <button type="button" class="btn btn-sm btn_save" id="btn_Generate_CC">@ResourceCache.Localize("GenerateCC")</button>
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" class="btn btn-sm btn_save" id="btn_Generate_TC">@ResourceCache.Localize("GenerateTC")</button>
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" class="btn btn-sm btn_save" id="btn_Separate">@ResourceCache.Localize("Separate")</button>
                                        </div>
                                    </div>
                                </div>

                                

                            </div>
                            <div class="NoRecords box-body" style="display:none" id="NoRecords">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                            <div class="NoRecords box-body" style="display:none" id="studentAvailableCountWithoutAssigningRollnumber">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:PleaseAssignRollnumberToRecentlyAddedStudent")</b>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>



@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {

        $('#allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);

        $('#allAcademicYears').change(function (event) {
            $("#allClass_List").val("");
            $("#change_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#div_Section_StudentList").hide();
            event.preventDefault();
            var YearId = $('#allAcademicYears').val();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $("#allAcademicYears").addClass("current_button");
        $("#allClass_List").addClass("current_button");
        $("#change_Section").addClass("current_button");


        var con = "con";
        var tra = "tra";

        $("#btnSectionStudentList").click(function (event) {
            $("#Loading_Sec").addClass("loading-new");
            $("#studentAvailableCountWithoutAssigningRollnumber").hide();
            $("#NoRecords").hide();
            $(".jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $('#EM_Att_allSelect').prop("checked", false);
            $('#Conduct_allSelect').prop("checked", false);
            $('#Transfer_allSelect').prop("checked", false);
            event.preventDefault();

            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass_List").val();
            var sectionId = $("#change_Section").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'change_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                $("#Loading_Sec").removeClass("loading-new");
                return false;
            }
            else {
                $("#Loading_Sec").addClass("loading-new");
                $("#MandatoryFieldErrorMessage_List").hide();
                $('#Section_StudentList').empty();
                $.getJSON('/StudentEnrollment/getStudentListToGenerate_CC', { passYearId: yearId, passClassId: classId, passSectionId: sectionId },
                  function (data) {
                      $('#Section_StudentList').empty();
                      if (data.studentAvailableCountWithoutAssigningRollnumber != 0) {
                          $("#studentAvailableCountWithoutAssigningRollnumber").show();
                          return false;
                      }
                      var count = data.count;
                      if (count == 0) {
                          $("#NoRecords").show();
                          return false;
                      }
                      $.each(data.List, function (i, v) {

                          var conduct = "conduct" + i;
                          var trans = "trans" + i;

                          var row1 = "<tr id=''><td><input type='checkbox' id='E_checkbox" + i + "' name='E_checkbox" + i + "'  class='att' /></td>  <td><label>" + v.StudentId + " </label></td> <td><label>" + v.RollNumber + " </label></td>  <td><label>" + v.FirstName + "  " + v.LastName + "</label></td> <td><label>" + v.Gender + "</label></td> <td><select class=" + con + " id='" + conduct + "'> </select></td> <td><select class=" + tra + " id='" + trans + "'> </select></td>";
                          var row2;
                          if (v.CC == null) {
                              row2 = "<td>-</td>";
                          }
                          else {
                              row2 = "<td><input type='button' class='btn_view_CC alignbtnTc' id='" + v.Student_RegId + "' value='" + v.CC + "'  title='Open CC'/></td>";   //  ui-icon-document
                          }
                          var row3;
                          if (v.TC == null) {
                              row3 = "<td>-</td>";
                          }
                          else {
                              row3 = "<td><input type='button' class='btn_view_TC alignbtnTc' id='" + v.Student_RegId + "' value='" + v.TC + "'  title='Open TC'/></td>";
                          }

                          var row4 = "<td><label>" + v.Status + "</label>  <input type='hidden' value='" + v.Student_RegId + "' id='studentRegId" + i + "'/> </td></tr>"; //<td><label>" + v.AdmissionId + " </label></td> <td><label>" + v.StudentRegId + " </label></td>

                          row = $(row1 + row2 + row3 + row4);

                          $('#Section_StudentList').append(row);
                          $("#div_Section_StudentList").show();
                          $("#count").val(i);
                          $("#NoRecords").hide();

                      });


                      $.getJSON('/StudentEnrollment/GetConductStatusList',
                         function (data) {
                             $(".con").empty().append('<option value="">@ResourceCache.Localize("SelectStatus")</option>');
                             $.each(data, function (i, c) {
                                 $(".con").append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                             });
                         });

                      $.getJSON('/StudentEnrollment/GetTransferStatusList',
                      function (data) {
                          $(".tra").empty().append('<option value="">@ResourceCache.Localize("SelectStatus")</option>');
                          $.each(data, function (i, c) {
                              $(".tra").append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                          });
                      });


                  });
                $("#Loading_Sec").removeClass("loading-new");
            }
        });

        $("#btn_Generate_CC").click(function () {

            $("#jsonErrorMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jExceptionMsg").hide();

            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass_List").val();
            var secId = $("#change_Section").val();



            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'change_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_List").hide();

            var x = $("input[class='att']:checked").length;
            if (x == 0) {
                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                $("#ErrorText").text('@ResourceCache.Localize("Please_select_any_one_of_the_student")');
                return false;
            }
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();

            var c = $("#count").val();

            var checkbox = [];
            var studentRegisterId = [];
            var conduct = [];

            for (var i = 0; i <= c; i++) {
                if ($("#E_checkbox" + i).prop('checked') == true) {
                    conduct[i] = $("#conduct" + i).val();
                    var conductt = conduct[i];
                    if (conductt == "0" || conductt == "" || conductt == null) {
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").text('@ResourceCache.Localize("Please_select_conduct_to_all_the_selected_student")');
                        return false;
                    }
                }
            }

            $("#ErrorText").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();

            for (var i = 0; i <= c; i++) {

                if ($("#E_checkbox" + i).prop('checked') == true) {
                    checkbox[i] = "on";
                }
                else {
                    checkbox[i] = "off";
                }


                studentRegisterId[i] = $("#studentRegId" + i).val();
                conduct[i] = $("#conduct" + i).val();
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            var values = { ToAcademicYears: yearId, ToClass: classId, ToSection: secId, TotalCount: c, StudentRegisterId: studentRegisterId, checkboxId: checkbox, Conduct: conduct };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentEnrollment/Generate_CC',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }

            });
        });

        $(document).on('click', '.btn_view_CC', function () {
            var id = $(this).attr('id');
            var WebsiteUrl = $("#webUrl").val();
            var url = WebsiteUrl + "StudentEnrollment/Open_CC/" + id;
            window.open(url);
        });

        $("#btn_Generate_TC").click(function () {
            $("#jsonErrorMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jExceptionMsg").hide();
            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass_List").val();
            var secId = $("#change_Section").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'change_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            var x = $("input[class='att']:checked").length;
            if (x == 0) {
                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                $("#ErrorText").text('@ResourceCache.Localize("Please_select_any_one_of_the_student")');
                return false;
            }
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            var c = $("#count").val();

            var checkbox = [];
            var studentRegisterId = [];
            var transfer = [];

            for (var i = 0; i <= c; i++) {
                if ($("#E_checkbox" + i).prop('checked') == true) {
                    transfer[i] = $("#trans" + i).val();
                    var tra_Reason = transfer[i];
                    if (tra_Reason == "0" || tra_Reason == "" || tra_Reason == null) {
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").text('@ResourceCache.Localize("Please_select_transfer_reason_to_all_the_selected_student")');
                        return false;
                    }
                }
            }
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();

            for (var i = 0; i <= c; i++) {

                if ($("#E_checkbox" + i).prop('checked') == true) {
                    checkbox[i] = "on";
                }
                else {
                    checkbox[i] = "off";
                }
                studentRegisterId[i] = $("#studentRegId" + i).val();
                transfer[i] = $("#trans" + i).val();
            }
            $("#MandatoryFieldErrorMessage_List").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            var values = { ToAcademicYears: yearId, ToClass: classId, ToSection: secId, TotalCount: c, StudentRegisterId: studentRegisterId, checkboxId: checkbox, TransferReason: transfer };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentEnrollment/Generate_TC',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                    }
                }

            });
        });

        $(document).on('click', '.btn_view_TC', function () {
            var id = $(this).attr('id');
            var WebsiteUrl = $("#webUrl").val();
            var url = WebsiteUrl + "StudentEnrollment/Open_TC/" + id;
            window.open(url);
        });

        $("#btn_Separate").click(function () {
            $("#jsonErrorMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jExceptionMsg").hide();

            var yearId = $("#allAcademicYears").val();
            var classId = $("#allClass_List").val();
            var secId = $("#change_Section").val();

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'change_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            var x = $("input[class='att']:checked").length;
            if (x == 0) {
                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                $("#ErrorText").text('@ResourceCache.Localize("Please_select_any_one_of_the_student")');
                return false;
            }
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();

            $("#MandatoryFieldErrorMessage_List").hide();

            var c = $("#count").val();

            var checkbox = [];
            var studentRegisterId = [];

            for (var i = 0; i <= c; i++) {

                if ($("#E_checkbox" + i).prop('checked') == true) {
                    checkbox[i] = "on";
                }
                else {
                    checkbox[i] = "off";
                }


                studentRegisterId[i] = $("#studentRegId" + i).val();
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();

            var values = { ToAcademicYears: yearId, ToClass: classId, ToSection: secId, TotalCount: c, StudentRegisterId: studentRegisterId, checkboxId: checkbox };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentEnrollment/Separate_Student',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }

            });
        });



        $("#EM_Att_allSelect").click(function (event) {
            if (this.checked) {
                $('.att').each(function () {
                    this.checked = true;
                });
            }
            else {
                $('.att').each(function () {
                    this.checked = false;
                });
            }
        });


        $(document).on('click', '.att', function () {
            if (this.checked) {
                $('.att').each(function () {
                    if (this.checked) {
                        $('#EM_Att_allSelect').prop("checked", true);
                    }
                });
            }
        });

        $(document).on('click', '.att', function () {
            if ($("input[class='att']").length == $("input[class='att']:checked").length) {
                $("#EM_Att_allSelect").attr("checked", "checked");
            }
            else {
                $("#EM_Att_allSelect").removeAttr("checked");
            }
        });


        $('#allClass_List').change(function (event) {
            event.preventDefault();
            $("#change_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#div_Section_StudentList").hide();
            LoadSection();
        });


        $('#change_Section').change(function (event) {
            event.preventDefault();
            $("#div_Section_StudentList").hide();
        });

        function LoadSection() {
            var ClassId = $('#allClass_List').val();
            $.getJSON('/StudentEnrollment/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#change_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#change_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }

        $("#Conduct_allSelect").click(function (event) {
            if (this.checked) {
                $('.con').val(this.value);
            }
            else {
                $('.con').val('');
            }
        });

        $(document).on('change', '.con', function () {
            var n = $(".con").length;
            var j = 0;

            for (var i = 0; i < n; i++) {
                var selVal = $("#conduct" + i).val();
                var defVal = "Good";

                if (selVal == defVal) {
                    j++;
                }
                else {

                }
            }

            if (j == n) {
                $('#Conduct_allSelect').prop("checked", true);
            }
            else {
                $("#Conduct_allSelect").removeAttr("checked");
            }

        });

        $("#Transfer_allSelect").click(function (event) {
            if (this.checked) {
                $('.tra').val(this.value);
            }
            else {
                $('.tra').val('');
            }
        });

        $(document).on('change', '.tra', function () {
            var n = $(".tra").length;
            var j = 0;

            for (var i = 0; i < n; i++) {
                var selVal = $("#trans" + i).val();
                var defVal = "Higher Secondary";

                if (selVal == defVal) {
                    j++;
                }
                else {

                }
            }

            if (j == n) {
                $('#Transfer_allSelect').prop("checked", true);
            }
            else {
                $("#Transfer_allSelect").removeAttr("checked");
            }

        });
    });
</script>
}
