﻿@using eAcademy.Models;
@using eAcademy.Areas.HostelManagement.LocalResources
@{
    ViewBag.Title = "Blog Configuration";
    Layout = "~/Views/Shared/afterLogin.cshtml";

}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12" id="AddHosteldetails">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("AddBlockRoom")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @*<select id="lang" name="lang">
                            <option value="en-IN">English</option>
                            <option value="fr-FR">French</option>
                            <option value="de-DE">Arabic</option>
                        </select>*@
                    <form>
                        <div class="box-body row border-radius-none">
                            <div class="col-sm-12">
                                @Html.Partial("~/Views/Shared/RequiredField.cshtml")

                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                                @Html.Partial("~/Areas/HostelManagement/Views/Shared/ErrorPartial.cshtml")
                                @Html.ValidationSummary()
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-4 col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("BlockName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input type="text" name="BlockName" id="BlockName" required="" maxlength="25" placeholder="@ResourceCache.Localize("BlockName")" class="current_button">
                            </div>
                            <div class="col-sm-4 col-lg-4" id="hosteltypeadd">
                                <div><label class="input-label-sm ">@ResourceCache.Localize("Hosteltype")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <select id="HostelType" name="HostelType" class="current_button">
                                    <option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("pleaseselecthosteltype")</option>
                                    <option value="Male">@ResourceCache.Localize("Boys")</option>
                                    <option value="Female">@ResourceCache.Localize("Girls")</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-lg-4" id="hosteltypeedit" style="display:none;">
                                <div>
                                    <label class="input-label-sm ">@ResourceCache.Localize("Hosteltype")</label> <span class="glyphicon glyphicon-asterisk"></span>
                                    <input type="text" name="HostelType1" id="HostelType1" maxlength="25" class="current_button" readonly>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4" id="statusid" style="display:none;">
                                <div><label class="input-label-sm ">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <select id="HostelStatus" name="HostelStatus" class="">
                                    <option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("pleaseselecthostelstatus")</option>
                                    <option value="Active">@ResourceCache.Localize("Active")</option>
                                    <option value="InActive">@ResourceCache.Localize("InActive")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <table class="table table-bordered table-striped itemlist">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("RoomName")</th>
                                        <th>@ResourceCache.Localize("RoomCapacity") (@ResourceCache.Localize("Number_of_students"))</th>
                                        <th>@ResourceCache.Localize("Roomtype")</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_itemlist">
                                    <tr>
                                        <td><input type="text" id="RoomName1" name="RoomName1" placeholder="@ResourceCache.Localize("RoomName")" class="col-xs-12 current_button " title="@ResourceCache.Localize("RoomName")" maxlength="20" /></td>
                                        <td><input type="text" id="RoomCapacity1" name="RoomCapacity1" placeholder="@ResourceCache.Localize("RoomCapacity")" class="col-xs-12 current_button Numval" title="@ResourceCache.Localize("Roomcapacity")" maxlength="20" onkeypress="return isNumber(event)" /></td>
                                        <td>
                                            <select id="RoomType1" name="RoomType1" class="current_button">
                                                <option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("Roomtype")</option>
                                                <option value="Employee">@ResourceCache.Localize("staff")</option>
                                                <option value="Student">@ResourceCache.Localize("Student")</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody id="tbody_edititemlist" style="display:none"></tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                        <div class="box-footer no-border">
                            <div class="row">
                                <div id="addrow1" class="col-xs-12 col-sm-12">
                                    <a id="additem" name="additem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddRoom")</i> </a> /<a id="ibtnDel" name="del" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Deleteroom")</i></a>
                                </div>
                                <div id="addrow2" class="col-sm-12" style="display:none;">
                                    <a id="additem1" name="additem1" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddRoom")</i> </a> /<a id="updatedel" name="del1" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Deleteroom")</i></a>
                                </div>
                                <div class="footer foot_row col-xs-12" id="footer1">
                                    <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddBlock" name="btnAddBlock"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                    <button type="reset" class=" btn  btn-sm btn_reset " id="btnReset" name="btnReset" style="margin-left: -36px;" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                                </div>
                                <div class="footer foot_row col-xs-12" id="footer2" style="display:none;">
                                    <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdateBlock" name="btnUpdateBlock"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                    <button type="reset" class=" btn btn-sm btn_cancel" id="btnReset1" name="btnReset1" style="margin-left: -36px;"><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>
        <section class="col-sm-12 col-xs-12 col-md-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Existhosteldetails")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="col-xs-12  col-sm-12 col-lg-12 table table-bordered table-striped" id="MI_BlockRoomListGrid"></table>
                    <div id="MI_BlockRoomListPager"></div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">

    var counter = 1;
    $("#additem").click(function (event) {
        $("#div_Error").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        var roomtype = $('#RoomType' + counter).val();
        var roomname = $('#RoomName' + counter).val();
        var roomcapacity = $('#RoomCapacity' + counter).val();
        if (roomname == 0 || roomcapacity == 0 || roomtype == 0) {
            $(".jsonError").hide();
            $("#div_Error").show();
            $("#errorMsg").text('@ResourceCache.Localize("PleaseEnterRoomNumberRoomCapacityandselectRoomtype")');
            return false;
        }
        $("#div_Error").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        counter++;
        var newRow = jQuery(' <tr><td><input type="text" id="RoomName' + counter + '"  name="RoomName' + counter + '" placeholder="Room Name" class="col-xs-12" title="Room Name" maxlength="20"   /></td><td><input type="text" id="RoomCapacity' +
            counter + '" name="RoomCapacity' + counter
            + '" placeholder="@ResourceCache.Localize("RoomCapacity")" class="col-xs-12 Numval" title="@ResourceCache.Localize("RoomCapacity")" maxlength="20"  onkeypress="return isNumber(event)"/></td><input type="text" id="RoomName' + counter + '"  name="RoomName' + counter +
            '" placeholder="@ResourceCache.Localize("RoomName")" class="col-xs-12" title="@ResourceCache.Localize("RoomName")" maxlength="20"   /><td><select id="RoomType' + counter + '" name="RoomType'
                + counter + '" ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectRoomtype")</option><option value="Employee">@ResourceCache.Localize("Staff")</option> <option value="Student">@ResourceCache.Localize("Student")</option></select></td></tr>');
        jQuery('table.itemlist').append(newRow);
    });
    $("#ibtnDel").click(function (event) {
        if (counter == 1) {
            $(".jsonError").hide();
            $("#div_Error").show();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#errorMsg").text("@ResourceCache.Localize("Cannotremovetheroom")");
        }
        else {
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("table.itemlist tr:last").remove();
            counter--;
        }
    });
    $(document).ready(function () {
        $("#RoomCapacity").filter_input({ regex: '[0-9]' });
        $("#BlockName").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#RoomName").filter_input({ regex: '[0-9A-Za-z ]' });
        $('#btnAddBlock').click(function () {
            var a = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');

                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'BlockName') {

                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterBlockName")')
                    }
                    if (null_id == 'HostelType') {
                        flag = 1;

                        a.push('@ResourceCache.Localize("pleaseselecthosteltype")')
                    }
                    if (null_id == 'RoomName' + counter) {
                        flag = 1;

                        a.push('@ResourceCache.Localize("PleaseEnterRoomName")')
                    }
                    if (null_id == 'RoomCapacity' + counter) {
                        flag = 1;

                        a.push('@ResourceCache.Localize("PleaseEnterRoomCapacity")')
                    }
                    if (null_id == 'RoomType' + counter) {
                        flag = 1;

                        a.push('@ResourceCache.Localize("PleaseEnterRoomtype")')
                    }
                }
            });
            if (a.length != 0) {
                var li = [];
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#div_Error").hide();
                $('#errormsg').hide();
                $('#successmsg').hide();
                $("#jsonError").show();
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                $('html,body').animate({

                    scrollTop: 0
                }, 700);
                return false;
            }
            else {
                $(".jsonError").hide();
            }

            var rname = [];
            for (var i = 0; i < counter; i++) {
                rname[i] = $("#RoomName" + (i + 1)).val().toLowerCase();
            }
            var rnamesort = rname.sort();
            var duplicatename = [];
            for (var i = 0; i < rnamesort.length - 1; i++) {
                if (rnamesort[i + 1] == rnamesort[i]) {
                    duplicatename.push(rnamesort[i]);
                    $("#div_Error").show();
                    $("#errorMsg").html('@ResourceCache.Localize("Pleasedonotrepeatsameroomnameroomnameshouldbeunique")');
                    return false;
                }
            }
            var roomtype = [];
            var roomname = [];
            var roomcapacity = [];
            for (var i = 0; i < counter; i++) {
                roomname[i] = $("#RoomName" + (i + 1)).val();
                roomcapacity[i] = $("#RoomCapacity" + (i + 1)).val();
                roomtype[i] = $("#RoomType" + (i + 1)).val();
                if (roomname[i] == "0" || roomname[i] == null || roomname[i] == "") {
                    $("#div_Error").show();
                    $("#errorMsg").html('@ResourceCache.Localize("PleaseEnterRoomName")');
                    return false;
                }
                else if (roomcapacity[i] == "0" || roomcapacity[i] == null || roomcapacity[i] == "") {
                    $("#div_Error").show();
                    $("#errorMsg").text('@ResourceCache.Localize("PleaseEnterRoomCapacity")');
                    return false;

                }
                else if (roomtype[i] == "0" || roomtype[i] == null || roomtype[i] == "") {
                    $("#div_Error").show();
                    $("#errorMsg").text('@ResourceCache.Localize("PleaseEnterRoomtype")');
                    return false;

                }
                else {
                    $("#errorMsg").empty();
                    $("#div_Error").hide();
                }
            }
            var name = $("#BlockName").val();
            var type = $("#HostelType").val();

            var ss = { name: name, type: type, roomname: roomname, roomcapacity: roomcapacity, roomtype: roomtype, count: counter };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/HostelInfrastructure/AddBlockRoom',
                traditional: true,
                data: ss,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $("#jsonError").show();
                        $("#jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $("#jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.Errormessage != "" && data.Errormessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.Errormessage).val(data.Errormessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jsonErrorMsg").hide();
                            $("#MI_BlockRoomListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });
        var BlockRoomId;
        jQuery("#MI_BlockRoomListGrid").jqGrid({
            url: "/HostelInfrastructure/BlockList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id', '@ResourceCache.Localize("BlockName")', '@ResourceCache.Localize("Hosteltype")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Actions")'],
            colModel: [
                { key: true, hidden: true, name: 'BlockId', index: 'BlockId' },
                { key: false, name: 'BlockName', index: 'BlockName' },
                { key: false, name: 'BlockType', index: 'BlockType' },
                { key: false, name: 'status', index: 'status' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#MI_BlockRoomListPager"),
            rowNum: 10,
            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            emptyrecords:"@ResourceCache.Localize("Norecorddisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#MI_BlockRoomListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    BlockRoomId = ids[i];

                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_HostelDetails btn_Edit ui-icon-pencil' id='" + BlockRoomId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    jQuery("#MI_BlockRoomListGrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#MI_BlockRoomListPager', { edit: false, add: false, del: false, search: false, refresh: false })
          .jqGrid('navButtonAdd', '#MI_BlockRoomListPager',
          {
              caption: "Excel",
              buttonicon: "ui-icon-bookmark",
              onClickButton: function () {
                  window.location.href = "../HostelInfrastructure/HostelDetailsExportToExcel";
              }
          })
           .jqGrid('navButtonAdd', '#MI_BlockRoomListPager',
           {
               caption: "Pdf",
               buttonicon: "ui-icon-print",
               position: "last",
               onClickButton: function () {
                   window.location.href = "../HostelInfrastructure/HostelDetailsExportToPDF";
               }
           });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        var _index = 0;
        var numberofrooms = 0;
        var TimeScheduleId = 0;
        $(document).on('click', '.btn_edit_HostelDetails', function () {
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#div_Error").hide();
            $("#errorMsg").empty();
            $("#div_Error").hide();
            var BlockId = $(this).attr('id');

            TimeScheduleId = BlockId;
            var values = {
                BlockId: TimeScheduleId
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/HostelInfrastructure/EditHostelDetails',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#tbody_itemlist").hide();
                    $("#statusid").show();
                    $("#hosteltypeedit").show();
                    $("#hosteltypeadd").hide();


                    $("#BlockName").val(data.hosteldetails.blockname).html(data.hosteldetails.blockname);
                    $('#HostelType1').val(data.hosteldetails.bnametype).attr("selected", "true");
                    if (data.hosteldetails.blockstatus == "Active") {
                        $('#HostelStatus').val("Active").attr("selected", "true");
                    }
                    else {
                        $('#HostelStatus').val("InActive").attr("selected", "true");
                    }
                    $("#tbody_edititemlist").show();
                    $("#addrow1").hide();
                    $("#addrow2").show();
                    $("#footer1").hide();
                    $("#footer2").show();
                    $("#tbody_edititemlist").append().empty();
                    $.each(data.roomdetails, function (i, v) {
                        numberofrooms = (i + 1);
                        var id = "_id_" + (i + 1);
                        var row = "<tr><input type='hidden' id='RoomId_1" + (i + 1) + "'  value=" + v.roomId + " /><td> <input type='text' id='RoomName_1" + (i + 1) + "'  name='RoomName_1" + (i + 1)
                            + "' placeholder='@ResourceCache.Localize("RoomName")' maxlength='20' class='col-xs-12' title='@ResourceCache.Localize("RoomName")' value=" + v.roomname
                            + " /></td><td><input  type='text' id='RoomCapacity_1" + (i + 1)
                            + "'  name='RoomCapacity_1" + (i + 1) + "' placeholder='@ResourceCache.Localize("RoomCapacity")'  class='col-xs-12 Numval' value=" + v.roomcapacity + " title='@ResourceCache.Localize("RoomCapacity")' onkeypress='return isNumber(event)' /><td><select select id='" + id + "'   class='" + id
                            + "' ><option value='Employee'>@ResourceCache.Localize("Staff")</option> <option value='Student'>@ResourceCache.Localize("Student")</option></select></td> </tr>";
                        $("#tbody_edititemlist").append(row);
                        $("._id_" + (i + 1)).val(v.roomtype);
                    });
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });
        var rowCount = 0;
        var id = 0;
        $("#additem1").click(function (event) {
            $("#div_Error").hide();
            $("#errorMsg").empty();
            rowCount = $('#tbody_edititemlist tr').length;
            id = "_id_" + (rowCount + 1);
            $("#div_Error").hide();
            $("#errorMsg").empty();
            var roomtype = $('#_id_' + rowCount).val();
            var roomname = $('#RoomName_1' + rowCount).val();
            var roomcapacity = $('#RoomCapacity_1' + rowCount).val();
            if (roomname == 0 || roomcapacity == 0 || roomtype == 0 || roomtype == null) {
                $(".jsonError").hide();
                $("#div_Error").show();
                $("#errorMsg").text('@ResourceCache.Localize("PleaseEnterRoomNumberRoomCapacityandselectRoomtype")');
                return false;
            }

            $("#div_Error").hide();
            $("#errorMsg").empty();
            rowCount++;
            var newRow = jQuery(' <tr><input id="RoomId_1' + rowCount + '" value="0" type="hidden"><td><input type="text" id="RoomName_1' + rowCount + '"  name="RoomName_1' + rowCount + '" placeholder="Room Name" class="col-xs-12" title="Room Name" maxlength="20"   /></td><td><input type="text" id="RoomCapacity_1' +
             rowCount + '" name="RoomCapacity_1' + rowCount
             + '" placeholder="@ResourceCache.Localize("RoomCapacity")" class="col-xs-12 Numval" title="@ResourceCache.Localize("RoomCapacity")" maxlength="20"  onkeypress="return isNumber(event)"/></td><input type="text" id="RoomName_1'
             + rowCount + '"  name="RoomName_1' + rowCount + '" placeholder="@ResourceCache.Localize("RoomName")" class="col-xs-12" title="@ResourceCache.Localize("RoomName")" maxlength="20"   /><td><select id=' + id
             + ' name=' + id + '><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectRoomtype")</option><option value="Employee">@ResourceCache.Localize("Staff")</option> <option value="Student">@ResourceCache.Localize("Student")</option></select></td></tr>');
            jQuery("#tbody_edititemlist").append(newRow);
        });


        $("#updatedel").click(function (event) {
            rowCount = $('#tbody_edititemlist tr').length;
            if (rowCount == 1) {
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#div_Error").show();
                $("#errorMsg").text('@ResourceCache.Localize("Cannotremovetheroom")');
            }
            else {
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                var drid = $("#RoomId_1" + (rowCount)).val();
                if (drid == 0) {
                    $("table.itemlist tr:last").remove();
                    rowCount--;
                }
                if (drid > 0) {
                    values = { drid: drid }
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/HostelInfrastructure/deleteroomdetails',
                        traditional: true,
                        data: values,
                        success: function (data) {

                            if (data.Errormessage != "" && data.Errormessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.Errormessage).val(data.Errormessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {

                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jsonErrorMsg").hide();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    });
                    $("table.itemlist tr:last").remove();
                    rowCount--;
                }
            }
        });
        $('#btnUpdateBlock').click(function () {
            $(".jErr").append().empty();
            var a = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');

                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'BlockName') {

                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterBlockName")')
                    }
                    if (null_id == 'HostelType1') {
                        flag = 1;

                        a.push('@ResourceCache.Localize("pleaseselecthosteltype")')
                    }
                    if (null_id == 'HostelStatus') {
                        flag = 1;

                        a.push('@ResourceCache.Localize("pleaseselecthostelstatus")')
                    }
                }
            });

            if (a.length != 0) {
                $(".jsonSuccessMsg").hide();
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
            var rowCount = $('#tbody_edititemlist tr').length;

            var rname = [];
            for (var i = 0; i < rowCount; i++) {
                rname[i] = $("#RoomName_1" + (i + 1)).val().toLowerCase();
            }
            var rnamesort = rname.sort();
            var duplicatename = [];
            for (var i = 0; i < rnamesort.length - 1; i++) {
                if (rnamesort[i + 1] == rnamesort[i]) {
                    duplicatename.push(rnamesort[i]);
                    $("#div_Error").show();
                    $("#errorMsg").html('@ResourceCache.Localize("Pleasedonotrepeatsameroomnameroomnameshouldbeunique")');
                    return false;
                }
            }
            var roomid = [];
            var roomname = [];
            var roomcapacity = [];
            var roomid = [];
            var roomtype = [];
            for (var i = 0; i < rowCount; i++) {
                roomid[i] = $("#RoomId_1" + (i + 1)).val();
                roomname[i] = $("#RoomName_1" + (i + 1)).val();
                roomcapacity[i] = $("#RoomCapacity_1" + (i + 1)).val();
                roomtype[i] = $("#_id_" + (i + 1)).val();
                if (roomname[i] == "0" || roomname[i] == null || roomname[i] == "") {
                    $("#div_Error").show();
                    $(".jsonSuccessMsg").hide();
                    $("#errorMsg").html('@ResourceCache.Localize("PleaseEnterRoomName")');
                    return false;
                }
                else if (roomcapacity[i] == "0" || roomcapacity[i] == null || roomcapacity[i] == "") {
                    $("#div_Error").show();
                    $(".jsonSuccessMsg").hide();
                    $("#errorMsg").text('@ResourceCache.Localize("PleaseEnterRoomCapacity")');
                    return false;

                }
                else if (roomtype[i] == "0" || roomtype[i] == null || roomtype[i] == "") {
                    $("#div_Error").show();
                    $(".jsonSuccessMsg").hide();
                    $("#errorMsg").text('@ResourceCache.Localize("PleaseEnterRoomtype")');
                    return false;

                }
                else {
                    $("#errorMsg").empty();
                    $("#div_Error").hide();
                }
            }
            var name = $("#BlockName").val();
            var type = $("#HostelType1").val();
            var status = $("#HostelStatus").val();
            var ss = { BlockId: TimeScheduleId, name: name, type: type, status: status, roomname: roomname, roomcapacity: roomcapacity, roomid: roomid, roomtype: roomtype, count: rowCount };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/HostelInfrastructure/UpdateHostelDetails',
                traditional: true,
                data: ss,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.Errormessage != "" && data.Errormessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.Errormessage).val(data.Errormessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jsonErrorMsg").hide();
                            $("#MI_BlockRoomListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });
        $("#btnReset1").click(function () {
            $("#tbody_itemlist").show();
            $("#tbody_edititemlist").hide();
            $("#hosteltypeadd").show();
            $("#hosteltypeedit").hide();
            $("#statusid").hide();
            $("#addrow1").show();
            $("#addrow2").hide();
            $("#footer1").show();
            $("#footer2").hide();
            $("#errorMsg").empty();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
        });
        $("#btnReset").click(function () {
            $("#tbody_itemlist").show();
            $("#tbody_edititemlist").hide();
            $("#hosteltypeadd").show();
            $("#hosteltypeedit").hide();
            $("#statusid").hide();
            $("#addrow1").show();
            $("#addrow2").hide();
            $("#footer1").show();
            $("#footer2").hide();
            $("#errorMsg").empty();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    });
    //text box accept only numbers
    $(document).ready(function () {

        $('.Numval').keypress(function (e) {

            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                return false;
            }
        });
    });
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
}