﻿@model eAcademy.Areas.HostelManagement.ViewModel.EditHostelDetails

@{
    ViewBag.Title = "EditHostelDetails";
}

<h2>EditHostelDetails</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EditHostelDetails</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlockId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlockId)
            @Html.ValidationMessageFor(model => model.BlockId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.roomname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.roomname)
            @Html.ValidationMessageFor(model => model.roomname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.roomcapacity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.roomcapacity)
            @Html.ValidationMessageFor(model => model.roomcapacity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.count)
            @Html.ValidationMessageFor(model => model.count)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.roomstatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.roomstatus)
            @Html.ValidationMessageFor(model => model.roomstatus)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
