﻿@using eAcademy.Models;
@using eAcademy.Areas.HostelManagement.LocalResources
@{
    ViewBag.Title = "StaffRoomAllotment";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
<style>
    #Employeeimg {
        width: 118px !important;
        height: 98px !important;
    }
</style>
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-12 ">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("staffhostelroomallotment")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <div class="col-sm-12">
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        </div>
                        <form>             
                            <div class="row" id="Request_Div">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeId")<span class="glyphicon glyphicon-asterisk"></span></label>  </div>
                                        <input class="col-lg-6" type="text" id="RequestId" name="RequestId" placeholder="@ResourceCache.Localize("Employeeid")" title="@ResourceCache.Localize("Employeeid")" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-4">
                                        @*<button type="button" id="BtnSearch" name="BtnSearch" class="btn btn-down btn-sm btn_search filterItem btn-primary">@ResourceCache.Localize("Search")</button>*@
                                        <button type="button" id="BtnSearch" name="BtnSearch" class="btn btn-down btn-down_hostel btn-sm btn_search filterItem btn-success"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8" id="Employee" style="display:none;">
                                    <div class="col-sm-9">
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeName")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="EmpregRegId" name="EmpregRegId" />
                                            <input type="hidden" id="Etype" name="Etype" />
                                            <input class="col-lg-12 " type="text" id="txt_EmployeeName" name="txt_EmployeeName" title="@ResourceCache.Localize("EmployeeName")" readonly />
                                        </div>
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Employeeid")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="col-lg-12 " id="txt_EmployeeId" name="txt_EmployeeId" title="EmployeeId" readonly />
                                        </div>
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeType")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="col-lg-12 " id="txt_EmployeeType" name="txt_EmployeeType" title="@Resource.EmployeeType" readonly />
                                        </div>
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Designation")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="col-lg-12 " id="txt_EmployeeDesignation" name="txt_EmployeeDesignation" title="@ResourceCache.Localize("Designation")" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <img id="Employeeimg" src="" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8" id="Rooms" style="display:none;">
                                    <div class="col-sm-9">
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Hosteltype")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="RoomAllotmentId" name="RoomAllotmentId" />
                                            <input class="col-lg-12 " type="text" id="txt_Hosteltype" name="txt_Hosteltype" title="@ResourceCache.Localize("Hosteltype")" readonly />
                                        </div>
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("BlockName")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("BlockName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("Selectblockname"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                                        </div>
                                        <div class="col-sm-6">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Roomnumber")</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("RoomNumber", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("Roomnumber"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-12" id="Save_Div">
                                        <div class="col-sm-2">
                                            <button type="button" id="BtnSave" name="BtnSave" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Save")</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" id="Update_Div" style="display:none;">
                                        <div class="col-sm-2">
                                            <button type="button" id="BtnUpdate" name="BtnUpdate" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Update")</button>
                                        </div>
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <button type="button" id="BtnCancel" name="BtnCancel" class="btn btn-sm btn-danger btn_double">@ResourceCache.Localize("Cancel")</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer clearfix no-border">
                                </div>
</form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class=" col-xs-12 col-sm-12 col-md-12 ">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("staffroomallotmentdetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <div class="col-sm-12">                           
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        </div>
                      
                    </div>
                    <div class="row col-xs-12 col-sm-12 col-lg-12 btn-down" id="show">
                        <table class="col-xs-12 col-sm-12  col-lg-12" id="hostelgrid"></table>
                        <div id="pager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#hostelgrid').setGridWidth(width);
            $('div').setGridWidth(width);
        });
        $("#RequestId").filter_input({ regex: '[0-9A-Za-z ]' });
        var xcount = 0;
        $("#BtnSearch").click(function () {
            var RegId = $('#RequestId').val();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            if (RegId != '' && RegId != null) {
                var ss = { RegId: RegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/HostelInfrastructure/CheckStaff',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#Employee').hide();
                            $('#Rooms').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Employee').hide();
                            $('#Rooms').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.Techemployee != "" && data.Techemployee != null) {
                            $('#Employee').show();
                            $('#Rooms').show();
                            $('#txt_EmployeeName').val(data.Techemployee.EmployeeName);
                            $('#txt_EmployeeId').val(data.Techemployee.EmployeeId);
                            $('#txt_EmployeeType').val(data.Techemployee.EmployeeType);
                            $('#txt_EmployeeDesignation').val(data.Techemployee.EmployeeDesignation);
                            $('#EmpregRegId').val(data.Techemployee.EmployeeRegisterId);
                            $('#Etype').val(data.Techemployee.Etype);
                            $('#Employeeimg').attr('src', '/img/EmployeePhotos/' + data.Techemployee.EmployeeId + '/' + data.Techemployee.ImgFile + '');
                            if (data.Techemployee.Gender == "Male") {
                                $('#txt_Hosteltype').val("Male");
                            }
                            else {
                                $('#txt_Hosteltype').val("Female");
                            }
                            var hosteltype = $('#txt_Hosteltype').val();
                            $.getJSON('/HostelInfrastructure/GetBlock', { hosteltype: hosteltype },
          function (data) {
              $("#BlockName").empty().append('<option value="">@ResourceCache.Localize("SelectBlock")</option>');
              $.each(data, function (i, c) {
                  $("#BlockName").append($('<option></option>').val(c.BlockId).html(c.BlockName));
              });
          });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.otheremployee != "" && data.otheremployee != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#Employee').show();
                            $('#Rooms').show();
                            $('#txt_EmployeeName').val(data.otheremployee.EmployeeName);
                            $('#txt_EmployeeId').val(data.otheremployee.EmployeeId);
                            $('#txt_EmployeeType').val(data.otheremployee.EmployeeType);
                            $('#txt_EmployeeDesignation').val(data.otheremployee.EmployeeDesignation);
                            $('#EmpregRegId').val(data.otheremployee.EmployeeRegisterId);
                            $('#Etype').val(data.otheremployee.Etype);
                            $('#Employeeimg').attr('src', '/img/OthersPhotos/' + data.otheremployee.EmployeeId + '/' + data.otheremployee.ImgFile + '');
                            if (data.otheremployee.Gender == "Male") {
                                $('#txt_Hosteltype').val("Male");
                            }
                            else {
                                $('#txt_Hosteltype').val("Female");
                            }
                            var hosteltype = $('#txt_Hosteltype').val();
                            $.getJSON('/HostelInfrastructure/GetBlock', { hosteltype: hosteltype },
          function (data) {
              $("#BlockName").empty().append('<option value="">@ResourceCache.Localize("SelectBlock")</option>');
              $.each(data, function (i, c) {
                  $("#BlockName").append($('<option></option>').val(c.BlockId).html(c.BlockName));
              });
          });
                        }
                    },
                });
            }
            else {
                $('#Employee').hide();
                $('#Rooms').hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html('@ResourceCache.Localize("Please_enter_employee_Id")');
                $("#Loading_Sec").removeClass("loading-new");
                return false;
            }
        });
        jQuery("#hostelgrid").jqGrid({
            url: "/HostelInfrastructure/StaffRoomAllotmentList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("EmployeeName")', '@ResourceCache.Localize("EmployeeType")', '@ResourceCache.Localize("Designation")', '@ResourceCache.Localize("BlockName")',
                '@ResourceCache.Localize("Roomname")', '@ResourceCache.Localize("Address")', '@ResourceCache.Localize("StudentConduct")', '@ResourceCache.Localize("Conductperson")', '@ResourceCache.Localize("EmergencyContactNumber")', '@ResourceCache.Localize("Actions")'],
            colModel: [
                  { key: true, hidden: true, name: 'AllomentIdEtype', index: 'AllomentIdEtype' },
                    { key: false, name: 'EmployeeId', index: 'EmployeeId' },
                    { key: false, name: 'EmployeeName', index: 'EmployeeName' },
                    { key: false, name: 'EmployeeType', index: 'EmployeeType' },
                     { key: false, name: 'EmployeeDesignation', index: 'EmployeeDesignation' },
                     { key: false, name: 'BlockName', index: 'BlockName' },
                    { key: false, name: 'RoomNumber', index: 'RoomNumber' },
                    { key: false, name: 'Address', index: 'Address' },
                    { key: false, name: 'EmployeeContact', index: 'EmployeeContact' },
                    { key: false, name: 'EmergencyContactPerson', index: 'EmergencyContactPerson' },
                    { key: false, name: 'EmergencyContactPersonNo', index: 'EmergencyContactPersonNo' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager"),
            rowNum: 10,
            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            caption: "@ResourceCache.Localize("staffroomallotmentdetails")",
            emptyrecords:"@ResourceCache.Localize("Norecorddisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#hostelgrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeCatIdId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_StaffAllotment btn_Edit ui-icon-pencil' id='" + FeeCatIdId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";

                    jQuery("#hostelgrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager',
                {
                    caption: "Excel",
                    buttonicon: "ui-icon-bookmark",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../HostelInfrastructure/StaffRoomAllotment_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager',
                {
                    caption: "Pdf",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../HostelInfrastructure/StaffRoomAllotment_ExportToPdf?pdf=true";
                    }
                });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#hostelfilter').click(function (event) {
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'List_Roomnumber') {
                        flag = 1;
                        a.push('@Resource.Hostelstudentdetails');
                    }

                }
            });
            if (flag == 0) {
                event.preventDefault();
                hostelfilterGrid();
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function hostelfilterGrid() {
            var postDataValues = $("#hostelgrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#hostelgrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        $('#BlockName').change(function () {
            var bname = $('#BlockName').val();
            $.getJSON('/HostelInfrastructure/GetStaffRoom', { BlockName: bname },
        function (data) {
            $("#RoomNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
            $.each(data, function (i, c) {
                $("#RoomNumber").append($('<option></option>').val(c.RoomId).html(c.RoomName));
            });
        });
        });
        $('#BtnSave').click(function () {
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'BlockName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectBlockName")');
                    }
                    if (null_id == 'RoomNumber') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectRoomName")');
                    }
                }
            });
            if (flag == 0) {
                var UserId = $('#EmpregRegId').val();
                var BlockName = $('#BlockName').val();
                var RoomNumber = $('#RoomNumber').val();
                var Etype = $('#Etype').val();
                var ss = { UserId: UserId, BlockName: BlockName, RoomNumber: RoomNumber, Etype: Etype };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/HostelInfrastructure/HostelRoomAllotmenttoStaff',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                scrollTop: 0
                            }, 700);
                            return false;

                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $("#jErr").append(li);
                    }
                });
                a = [];
                return false;
                $("#Loading_Sec").removeClass("loading-new");
            }
            else {
                $(".jsonError").hide();
            }
        });
        $(document).on('click', '.btn_edit_StaffAllotment', function () {
            var id = $(this).attr('id');
            values = { RoomAllotmentId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/HostelInfrastructure/EditStaffRoomAllotment',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != '' && data.ErrorMessage != null) {
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.RoomDetails != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#Request_Div").hide();
                        $("#Save_Div").hide();
                        $('#Employee').show();
                        $('#Rooms').show();
                        $("#Update_Div").show();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#div_Error").hide();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jsonError").hide();
                        $('#txt_EmployeeName').val(data.EmployeeData.EmployeeName);
                        $('#txt_EmployeeId').val(data.EmployeeData.EmployeeId);
                        $('#txt_EmployeeType').val(data.EmployeeData.EmployeeType);
                        $('#txt_EmployeeDesignation').val(data.EmployeeData.EmployeeDesignation);
                        $('#RoomAllotmentId').val(data.RoomDetails.RoomAllotmentId);
                        $('#EmpregRegId').val(data.EmployeeData.EmployeeRegisterId);
                        $('#Etype').val(data.EmployeeData.Etype);
                        if (data.EmployeeData.Etype == "Tech") {
                            $('#Employeeimg').attr('src', '/img/EmployeePhotos/' + data.EmployeeData.EmployeeId + '/' + data.EmployeeData.ImgFile + '');
                        }
                        else {
                            $('#Employeeimg').attr('src', '/img/OthersPhotos/' + data.EmployeeData.EmployeeId + '/' + data.EmployeeData.ImgFile + '');
                        }
                        if (data.EmployeeData.Gender == "Male") {
                            $('#txt_Hosteltype').val("Male");
                        }
                        else {
                            $('#txt_Hosteltype').val("Female");
                        }
                        var hosteltype = $('#txt_Hosteltype').val();
                        var x = data.RoomDetails.BlockId;
                        $.getJSON('/HostelInfrastructure/GetBlock', { hosteltype: hosteltype },
      function (data) {
          $("#BlockName").empty().append('<option value="">@ResourceCache.Localize("SelectBlock")</option>');
          $.each(data, function (i, c) {
              if (x == c.BlockId) {
                  $("#BlockName").append($('<option selected></option>').val(c.BlockId).html(c.BlockName));
              }
              else {
                  $("#BlockName").append($('<option></option>').val(c.BlockId).html(c.BlockName));
              }
          });
      });
                        var bname = x;
                        var y = data.RoomDetails.RoomId;
                        $.getJSON('/HostelInfrastructure/GetStaffRoom', { BlockName: bname },
                    function (data) {
                        $("#RoomNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                        $.each(data, function (i, c) {
                            if (y == c.RoomId) {
                                $("#RoomNumber").append($('<option selected></option>').val(c.RoomId).html(c.RoomName));
                            }
                            else {
                                $("#RoomNumber").append($('<option></option>').val(c.RoomId).html(c.RoomName));
                            }
                        });
                    });

                    }
                }
            });
        });
        $('#BtnCancel').click(function () {
            $("#Request_Div").show();
            $("#Save_Div").show();
            $("#Update_Div").hide();
            $('#Employee').hide();
            $('#Rooms').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();

        });
        $('#BtnUpdate').click(function () {
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'BlockName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectBlockName")');
                    }
                    if (null_id == 'RoomNumber') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectRoomName")');
                    }
                }
            });
            if (flag == 0) {
                var UserId = $('#EmpregRegId').val();
                var BlockName = $('#BlockName').val();
                var RoomNumber = $('#RoomNumber').val();
                var Etype = $('#Etype').val();
                var roomallotid = $('#RoomAllotmentId').val();
                var ss = { UserId: UserId, BlockName: BlockName, RoomNumber: RoomNumber, Etype: Etype, RoomAllotmentId: roomallotid };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/HostelInfrastructure/UpdateHostelRoomAllotmenttoStaff',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;

                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
                $("#Loading_Sec").removeClass("loading-new");
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    });
</script>
}