﻿@using eAcademy.Models;
@using eAcademy.Areas.HostelManagement.LocalResources
@{
    ViewBag.Title = "StudentRoomAllotment";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
<style>
    #Studentimg {
        width: 118px !important;
        height: 98px !important;
    }
</style>
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("studentroomallotment")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-sm-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>                            
                            <div class="col-sm-12 col-md-8" id="Request_Div">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("StudentId")<span class="glyphicon glyphicon-asterisk"></span></label>  </div>
                                        <input class="col-lg-12" type="text" id="RequestId" name="RequestId" placeholder="@ResourceCache.Localize("StudentId")" title="@ResourceCache.Localize("StudentId")" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-4">
                                        
                                        <button type="button" id="BtnSearch" name="BtnSearch" class="btn btn-sm btn_search btn-success hostelsearchbutton btn-down btn-down_hostel"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8" id="Student" style="display:none;">
                                <div class="col-sm-9">
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Studentname")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="hidden" id="StudentRegId" name="StudentRegId" />
                                        <input class="col-lg-12 " type="text" id="txt_StudentName" name="txt_StudentName" title="@ResourceCache.Localize("Studentname")" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("studentid")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="col-lg-12 " id="txt_StudentId" name="txt_StudentId" title="@ResourceCache.Localize("studentid")" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Academicyear")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="col-lg-12 " id="txt_AcademicYear" name="txt_AcademicYear" title="@ResourceCache.Localize("Academicyear")" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="col-lg-12 " id="txt_Class" name="txt_Class" title="@ResourceCache.Localize("Class")" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="col-lg-12 " id="txt_Section" name="txt_Section" title="@ResourceCache.Localize("Section")" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <img id="Studentimg" src="" />
                                </div>
                            </div>
                 
                            <div class="col-sm-12 col-md-8" id="Rooms" style="display:none;">
                                <div class="col-sm-9">
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Hosteltype")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="hidden" id="RoomAllotmentId" name="RoomAllotmentId" />
                                        <input class="col-lg-12 " type="text" id="txt_Hosteltype" name="txt_Hosteltype" title="@ResourceCache.Localize("Hosteltype")" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BlockName")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("BlockName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("Selectblockname"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                                    </div>
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Roomname")</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("RoomNumber", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("Selectroomnumber"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-12" id="Save_Div">
                                    <div class="col-sm-2">
                                        <button type="button" id="BtnSave" name="BtnSave" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Save")</button>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="Update_Div" style="display:none;">
                                    <div class="col-sm-2">
                                        <button type="button" id="BtnUpdate" name="BtnUpdate" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Update")</button>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-2">
                                        <button type="button" id="BtnCancel" name="BtnCancel" class="btn btn-sm btn-danger btn_double">@ResourceCache.Localize("Cancel")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class=" col-xs-12 col-sm-12 col-md-12 ">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("HostelStudentList")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <div class="col-sm-12">
                           
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        </div>
                       
                    </div>
                   
                    <div class="row col-xs-12 col-sm-12 col-lg-12 btn-down" id="show" >
                        <table class="col-xs-12 col-sm-12  col-lg-12" id="hostelgrid"></table>
                        <div id="pager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#hostelgrid').setGridWidth(width);
            $('div').setGridWidth(width);
        });
        $("#RequestId").filter_input({ regex: '[0-9A-Za-z ]' });
        var xcount = 0;
        $("#BtnSearch").click(function () {
            var RegId = $('#RequestId').val();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            if (RegId != '' && RegId != null) {
                var ss = { RegId: RegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/HostelInfrastructure/CheckStudent',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#Student').hide();
                            $('#Rooms').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Student').hide();
                            $('#Rooms').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.student != "" && data.student != null) {
                            $('#Student').show();
                            $('#Rooms').show();
                            $('#txt_StudentName').val(data.student.StuFirstName);
                            $('#txt_StudentId').val(data.student.StudentId);
                            $('#txt_AcademicYear').val(data.student.txt_academicyear);
                            $('#txt_Class').val(data.student.txt_Class);
                            $('#txt_Section').val(data.student.txt_Section);
                            $('#StudentRegId').val(data.student.StudentRegisterId);
                            $('#Studentimg').attr('src', '/Documents/' + data.student.StudentId + '/' + data.student.StudentPhoto + '');
                            if (data.student.Gender == "Male") {
                                $('#txt_Hosteltype').val("Male");
                            }
                            else {
                                $('#txt_Hosteltype').val("Female");
                            }
                            var hosteltype = $('#txt_Hosteltype').val();
                            $.getJSON('/HostelInfrastructure/GetBlock', { hosteltype: hosteltype },
          function (data) {
              $("#BlockName").empty().append('<option value="">@ResourceCache.Localize("Selectblockname")</option>');
              $.each(data, function (i, c) {
                  $("#BlockName").append($('<option></option>').val(c.BlockId).html(c.BlockName));
              });
          });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                });
            }
            else {
                $("#Loading_Sec").removeClass("loading-new");
                $('#Student').hide();
                $('#Rooms').hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html('@ResourceCache.Localize("Please_enter_student_Id")'); 
                return false;
            }
        });
        jQuery("#hostelgrid").jqGrid({
            url: "/HostelInfrastructure/StudentRoomAllotmentList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("StudentId")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("Section")', '@ResourceCache.Localize("BlockName")',
                    '@ResourceCache.Localize("RoomName")', '@ResourceCache.Localize("Address")', '@ResourceCache.Localize("Conductperson")', '@ResourceCache.Localize("EmergencyContactNumber")', '@ResourceCache.Localize("Actions")'],
            colModel: [
                  { key: true, hidden: true, name: 'RoomAllotmentId', index: 'RoomAllotmentId' },
                    { key: false, name: 'StudentId', index: 'StudentId' },
                    { key: false, name: 'StudentName', index: 'StudentName' },
                     { key: false, name: 'AcademicYear', index: 'AcademicYear' },
                    { key: false, name: 'Class', index: 'Class' },
                    { key: false, name: 'Section', index: 'Section' },
                     { key: false, name: 'BlockName', index: 'BlockName' },
                    { key: false, name: 'RoomNumber', index: 'RoomNumber' },
                    { key: false, name: 'Address', index: 'Address' },
                    { key: false, name: 'EmergencyContactPerson', index: 'EmergencyContactPerson' },
                    { key: false, name: 'EmergencyContactPersonNo', index: 'EmergencyContactPersonNo' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager"),
            rowNum: 10,
            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            caption:"@ResourceCache.Localize("HostelStudentList")",
            emptyrecords:"@ResourceCache.Localize("Norecorddisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#hostelgrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeCatIdId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_StudentRoomAllotment btn_Edit ui-icon-pencil' id='" + FeeCatIdId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    jQuery("#hostelgrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager',
                {
                    caption: "Excel",
                    buttonicon: "ui-icon-bookmark",
                    position: "last",
                    onClickButton: function () {
                    window.location.href = "../HostelInfrastructure/StudentRoomAllotment_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager',
                {
                    caption: "Pdf",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                    window.location.href = "../HostelInfrastructure/StudentRoomAllotment_ExportToPdf?pdf=true";
                    }
                });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#hostelfilter').click(function (event) {
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'List_Roomnumber') {
                        flag = 1;
                        a.push(' @ResourceCache.Localize("PleaseselectRoomName")');
                    }

                }
            });
            if (flag == 0) {
                event.preventDefault();
                hostelfilterGrid();
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function hostelfilterGrid() {
            var postDataValues = $("#hostelgrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#hostelgrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        $('#BlockName').change(function () {
            var bname = $('#BlockName').val();
            $.getJSON('/HostelInfrastructure/GetStudentRoom', { BlockName: bname },
        function (data) {
            $("#RoomNumber").empty().append('<option value="">@ResourceCache.Localize("Selectroomnumber")</option>');
            $.each(data, function (i, c) {
                $("#RoomNumber").append($('<option></option>').val(c.RoomId).html(c.RoomName));
            });
        });
        });
        $('#BtnSave').click(function () {
            var a = [];
            var field_val = [];
            var flag = 0;
            @*$(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'BlockName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectBlockName")');
                    }
                    if (null_id == 'RoomNumber') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectRoomName")');
                    }
                }
            });*@


            if (flag == 0) {
                var UserId = $('#StudentRegId').val();
                var BlockName = $('#BlockName').val();
                var RoomNumber = $('#RoomNumber').val();
                var Etype = "";
                var ss = { UserId: UserId, BlockName: BlockName, RoomNumber: RoomNumber, Etype: Etype };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/HostelInfrastructure/HostelRoomAllotmenttoStudent',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }

                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({

                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $(document).on('click', '.btn_edit_StudentRoomAllotment', function () {
            var id = $(this).attr('id');
            values = { RoomAllotmentId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/HostelInfrastructure/EditStudentRoomAllotment',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != '' && data.ErrorMessage != null) {
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.RoomDetails != null) {
                        $("#Request_Div").hide();
                        $("#Save_Div").hide();
                        $("#Update_Div").show();
                        $('#Student').show();
                        $('#Rooms').show();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#div_Error").hide();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jsonError").hide();

                        $('#txt_StudentName').val(data.StudentData.StuFirstName);
                        $('#txt_StudentId').val(data.StudentData.StudentId);
                        $('#txt_AcademicYear').val(data.StudentData.txt_academicyear);
                        $('#txt_Class').val(data.StudentData.txt_Class);
                        $('#txt_Section').val(data.StudentData.txt_Section);
                        $('#StudentRegId').val(data.StudentData.StudentRegisterId);
                        $('#RoomAllotmentId').val(data.RoomDetails.RoomAllotmentId);
                        $('#Studentimg').attr('src', '/Documents/' + data.StudentData.StudentId + '/' + data.StudentData.StudentPhoto + '');
                        if (data.StudentData.Gender == "Male") {
                            $('#txt_Hosteltype').val("Male");
                        }
                        else {
                            $('#txt_Hosteltype').val("Female");
                        }
                        var hosteltype = $('#txt_Hosteltype').val();
                        var x = data.RoomDetails.BlockId;
                        $.getJSON('/HostelInfrastructure/GetBlock', { hosteltype: hosteltype },
      function (data) {
          $("#BlockName").empty().append('<option value="">@ResourceCache.Localize("SelectBlock")</option>');
          $.each(data, function (i, c) {
              if (x == c.BlockId) {
                  $("#BlockName").append($('<option selected></option>').val(c.BlockId).html(c.BlockName));
              }
              else {
                  $("#BlockName").append($('<option></option>').val(c.BlockId).html(c.BlockName));
              }
          });
      });

                        var bname = x;
                        var y = data.RoomDetails.RoomId;
                        $.getJSON('/HostelInfrastructure/GetStudentRoom', { BlockName: bname },
                    function (data) {
                        $("#RoomNumber").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                        $.each(data, function (i, c) {
                            if (y == c.RoomId) {
                                $("#RoomNumber").append($('<option selected></option>').val(c.RoomId).html(c.RoomName));
                            }
                            else {
                                $("#RoomNumber").append($('<option></option>').val(c.RoomId).html(c.RoomName));
                            }
                        });
                    });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });
        $('#BtnCancel').click(function () {
            $("#Request_Div").show();
            $("#Save_Div").show();
            $("#Update_Div").hide();
            $('#Student').hide();
            $('#Rooms').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
        });
        $('#BtnUpdate').click(function () {
            var a = [];
            var field_val = [];
            var flag = 0;
            @*$(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'BlockName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectBlockName")');
                    }
                    if (null_id == 'RoomNumber') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectRoomName")');
                    }
                }
            });*@
            if (flag == 0) {
                var UserId = $('#StudentRegId').val();
                var BlockName = $('#BlockName').val();
                var RoomNumber = $('#RoomNumber').val();
                var Etype = "";
                var roomallotid = $('#RoomAllotmentId').val();
                var ss = { UserId: UserId, BlockName: BlockName, RoomNumber: RoomNumber, Etype: Etype, RoomAllotmentId: roomallotid };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/HostelInfrastructure/UpdateHostelRoomAllotmenttoStudent',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;

                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#Loading_Sec").removeClass("loading-new");
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    });
</script>
}