﻿@using eAcademy.Models
@{
    ViewBag.Title = "AssignSubstitudeFaculty";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FacultyLeaveList")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <form>
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            <div class="box-body row border-radius-none">
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Fac_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>
                                <div class="col-lg-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="LeaveDate" name="@ResourceCache.Localize("Date")" placeholder="@ResourceCache.Localize("Date")" title="@ResourceCache.Localize("Date")" required="required" readonly />
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-sm btn_submit btn-down" id="btnSubstitudeFaculty"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="NoRecord" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="FacultyList" style="display:none">
                            <div class="box-body" id="show">
                                <table border="1" class="table table-responsive table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @ResourceCache.Localize("EmployeeId")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("EmployeeName")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Action")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="FacultyList_body"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down">
                            <div class="alert alert-info alert-dismissable" id="NoClassAssigned" style="display:none">
                                <b>@ResourceCache.Localize("Info_No_class_available_for_the_selected_day_of_this_faculty")</b>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down">
                            <div class="alert alert-info alert-dismissable" id="DateClosed" style="display:none">
                                <b>@ResourceCache.Localize("Can_not_assign_faculty_for_ended_days")</b>
                            </div>
                        </div>

                        <div class="NoRecords box-body" id="info_text" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="Add_Substitude" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("AssignSubstitudeFaculty")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                    <div class="col-lg-12" id="FacultyPeriodList" style="display:none">
                        <div class="col-lg-12">
                            <div class="col-lg-4"><label> @ResourceCache.Localize("Date:") </label> <label id="date">  </label></div>
                            <div class="col-lg-4"><label> @ResourceCache.Localize("DayOrder:") </label> <label id="dayOrder"></label></div>
                            <div class="col-lg-4"><label> @ResourceCache.Localize("Name:")</label> <label id="name"> </label></div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="Div_ListFacultyClass">
                            <div id="tbl_scrol">
                                <input type="hidden" id="ivalue" name="ivalue" />
                                <input type="hidden" id="ActualEmpRegId" name="ActualEmpRegId" />
                                <table border="1" class="table table-responsive table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @ResourceCache.Localize("Period")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Class")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Subject")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Faculty") <span class="glyphicon glyphicon-asterisk"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="FacultyPeriodList_body"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12" id="Div_btnAssignSubstitudeFaculty">
                            <div class="AssignSubstitudeFaculty_message col-lg-12"><label></label></div>
                            <div class="col-md-12"> <button type="button" class="btn btn-sm btn_save " id="btnAssignSubstitudeFaculty"><i class="fa fa-save"></i> @ResourceCache.Localize("Save") </button></div>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#Fac_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            DateByAcYear(@Session["Add_ChosenAcademicYearId"]);

            $('#Fac_allAcademicYears').change(function (event) {
                event.preventDefault();
                $("#LeaveDate").val("");
                var YearId = $('#Fac_allAcademicYears').val();
                AssignAcademicYear(YearId);
                $("#LeaveDate").val("");
                DateByAcYear(YearId);
                $("#FacultyList").hide();
                $("#Add_Substitude").hide();
                $("#FacultyPeriodList").hide();
                $("#jsonSuccessMsg").hide();
                $("#DateClosed").hide();
            });

            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }



            function DateByAcYear(Yid) {
                $("#LeaveDate").datepicker("destroy");
                $.getJSON("/EmployeeManagement/getDate", { acid: Yid },
                   function (data) {
                       var mdate = data.sd + "------" + data.ed;
                       console.log(mdate);
                       $(function () {
                           var dates = $("#LeaveDate").datepicker({
                               dateFormat: 'dd/mm/yy',
                               minDate: data.sd,
                               maxDate: data.ed,
                               changeMonth: true,
                               changeYear: true,
                               onSelect: function (dateText) {
                                   $("#FacultyList").hide();
                                   $("#Add_Substitude").hide();
                                   $("#FacultyPeriodList").hide();
                                   $("#jsonSuccessMsg").hide();
                                   $("#DateClosed").hide();
                               }
                           });
                       });
                   });
            }



            $("#Fac_allAcademicYears").addClass("current_button");
            $("#LeaveDate").addClass("current_button");

            $("#btnSubstitudeFaculty").click(function (event) {
                $("#Loading_Sec").addClass("loading-new");
                $("#NoClassAssigned").hide();
                $("#FacultyList").hide();
                $("#Add_Substitude").hide();
                $("#FacultyPeriodList").hide();
                $("#jsonSuccessMsg").hide();
                $("#DateClosed").hide();
                event.preventDefault();
                $('#FacultyList_body').empty();
                var date = $("#LeaveDate").val();

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Fac_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'LeaveDate') {

                            a.push('@ResourceCache.Localize("PleaseSelectDate")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    $("#Loading_Sec").removeClass("loading-new");
                    return false;
                }
                else {
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();

                $.post('/EmployeeManagement/getLeaveFacultyList', { passDate: date },
                  function (data) {
                      if (data.count == 0) {
                          $("#NoRecord").show();
                      }
                      else {
                          $("#NoRecord").hide();
                          $("#FacultyList").show();
                          $('#FacultyList_body').empty();
                          $.each(data.getLeaveFacultyList, function (i, v) {
                              console.log(i);
                              row = $('<tr><td><label >' + v.EmployeeId + '</label></td><td><label id="Name">' + v.EmployeeName + '</label></td><td><input style="height:23px;width:22px;" type="button" class="btn_assignSubstitude btn_Remark  ui-icon-document" id=' + v.EmployeeRegId + '   title="@ResourceCache.Localize("clickHereToAssignSubstitude")"/></td></tr>');
                              $('#FacultyList_body').append(row);
                          });
                      }
                  }, 'json');
            });

            $(document).on('click', '.btn_assignSubstitude', function () {
                $("#NoClassAssigned").hide();
                var id = $(this).attr('id');
                var date = $("#LeaveDate").val();
                var year = $("#Fac_allAcademicYears").val();
                $("#ActualEmpRegId").val(id);
                $.post('/EmployeeManagement/getFacultyPeriodList', { passDate: date, passEmpRegId: id, passYear: year },
                  function (data) {
                      console.log(data);
                      $("#date").val(date).html(date);

                      var dayOrder1 = data.DayOrder;
                      $("#dayOrder").val(dayOrder1).html(dayOrder1);

                      var name1 = data.EmployeeName;
                      $("#name").val(name1).html(name1);

                      if (data.dateStatus == "DateEnded") {
                          $("#Div_ListFacultyClass").hide();
                          $("#Div_btnAssignSubstitudeFaculty").hide();
                          $("#NoClassAssigned").hide();
                          $("#DateClosed").show();
                          return false;
                      }

                      if (data.periodCount == 0) {
                          $("#Div_ListFacultyClass").hide();
                          $("#Div_btnAssignSubstitudeFaculty").hide();
                          $("#NoClassAssigned").show();
                          return false;
                      }

                      if (data.msg == "new") {
                          $("#NoClassAssigned").hide();
                          $("#NoRecords").hide();
                          $('#FacultyPeriodList_body').empty();
                          $("#Add_Substitude").show();
                          $("#FacultyPeriodList").show();

                          $.each(data.FacultyPeriodList, function (i, v) {
                              console.log(i);
                              row = $('<tr><td><label > Period' + v.Period + '</label> <input type="hidden" id="Period' + i + '" value=' + v.Period1 + ' /> </td><td><label>' + v.Class + ' ' + v.Section + '</label><input type="hidden" id="Class' + i + '" value=' + v.ClassId1 + ' /> <input type="hidden" id="Sec' + i + '" value=' + v.SectionId1 + ' />  </td><td><label>' + v.Subject + '</label> <input type="hidden" id="Sub' + i + '" value=' + v.SubjectId1 + ' /> </td><td> <select class="allFaculty" id="Faculty' + i + '"> </select></td></tr>');
                              $('#FacultyPeriodList_body').append(row);
                              $("#ivalue").val(i);
                          });

                          $.getJSON('/EmployeeManagement/GetAllFaculty',
                            function (orderdetails) {
                                $(".allFaculty").empty().append('<option value="0">@ResourceCache.Localize("SelectFaculty")</option>');
                                $.each(orderdetails, function (i, c) {
                                    $(".allFaculty").append($('<option></option>').val(c.eid).html(c.ename));
                                });
                            });

                      }
                      if (data.msg == "old") {
                          $("#NoClassAssigned").hide();
                          $("#NoRecords").hide();
                          $('#FacultyPeriodList_body').empty();
                          $("#Add_Substitude").show();
                          $("#FacultyPeriodList").show();

                          $.each(data.getExistFacultyPeriodList, function (i, v) {

                              var faculty = "Faculty" + i;

                              row = $('<tr><td><label > Period' + v.Period + '</label> <input type="hidden" id="Period' + i + '" value=' + v.Period1 + ' /> </td><td><label>' + v.Class + ' ' + v.Section + '</label><input type="hidden" id="Class' + i + '" value=' + v.ClassId1 + ' /> <input type="hidden" id="Sec' + i + '" value=' + v.SectionId1 + ' />  </td><td><label>' + v.Subject + '</label> <input type="hidden" id="Sub' + i + '" value=' + v.SubjectId1 + ' /> </td><td> <select class="allFaculty" id="Faculty' + i + '"> </select></td></tr>');
                              $('#FacultyPeriodList_body').append(row);
                              $("#ivalue").val(i);

                              var selVal = v.substitudeFacultyId;
                              var selName = v.substitudeFacultyName;
                        
                              $.getJSON('/EmployeeManagement/GetAllFaculty',
                                function (orderdetails) {
                                    $("#" + faculty).empty().append('<option selected value=' + v.substitudeFacultyId + '>' + v.substitudeFacultyName + '</option>');
                                    $.each(orderdetails, function (i, c) {
                                        $("#" + faculty).append($('<option></option>').val(c.eid).html(c.ename));
                                    });
                                });
                          });
                      }

                  }, 'json');

            });



            $("#btnAssignSubstitudeFaculty").click(function () {
                $("#info_text").hide();
                var date = $("#LeaveDate").val();
                var yearId = $("#Fac_allAcademicYears").val();
                var dayOrder = $("#dayOrder").text();
                var ActualEmpRegId = $("#ActualEmpRegId").val();

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Fac_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'LeaveDate') {

                            a.push('@ResourceCache.Localize("PleaseSelectDate")');
                        }
                    }
                    else {
                    }
                });

                var c = $("#ivalue").val();

                var classId = [];
                var secId = [];
                var subId = [];
                var facultyId = [];
                var periodId = [];

                var fal = 1;
                for (var i = 0; i <= c; i++) {

                    classId[i] = $("#Class" + i).val();
                    secId[i] = $("#Sec" + i).val();
                    subId[i] = $("#Sub" + i).val();
                    facultyId[i] = $("#Faculty" + i).val();
                    periodId[i] = $("#Period" + i).val();

                    if (facultyId[i] == "0" || facultyId[i] == null || facultyId[i] == "") {
                        fal = 0;
                    }
                    else {
                        $("#errorMsg").text("");
                        $("#div_Error").hide();
                    }
                }
                if (fal == 0) {
                    a.push("@ResourceCache.Localize("Please_select_faculty_to_all_period")");
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_Edit").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                var values = { DateOfSubstitude: date, YearId: yearId, DayOrder: dayOrder, ClassId: classId, SectionId: secId, SubjectId: subId, PeriodId: periodId, FacultyId: facultyId, TotalCount: c, ActualEmployeeRegId: ActualEmpRegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/EmployeeManagement/AssignSubstitude',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.InfoMessage != "" && data.InfoMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#info_text").show();
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                        }
                    }

                });
            });

            $("#Fac_allAcademicYears").change(function (event) {
                $("#LeaveDate").datepicker("destroy");
                var acid = $("#Fac_allAcademicYears").val();
                $.getJSON("/EmployeeManagement/getDate", { acid: acid },

                    function (data) {

                        var mdate = data.sd + "------" + data.ed;
                        console.log(mdate);
                        $(function () {
                            var dates = $("#LeaveDate").datepicker({


                                dateFormat: 'dd/mm/yy',
                                minDate: data.sd,
                                maxDate: data.ed,
                                changeMonth: true,
                                changeYear: true,

                            });
                        });
                    });
            });


            $(document).on('change', '.allFaculty', function () {
                var date = $("#LeaveDate").val();
                var dayOrder = $("#dayOrder").text();
                var c = $("#ivalue").val();
                var yearId = $("#Fac_allAcademicYears").val();

                for (var i = 0; i <= c; i++) {

                    var FacultyId = $('#Faculty' + i).val();
                    var PeriodId = $('#Period' + i).val();

                    var x;

                    var DropdownId = i;
                    $.getJSON('/EmployeeManagement/IsFacultyFree', { passEmployeeId: FacultyId, pasDdayOrder: dayOrder, passPeriodId: PeriodId, facultyDropdownId: DropdownId, passDate: date, passYearId: yearId },
                        function (data) {

                            if (data.IsFacultyLeave == "Yes") {
                                alert("@ResourceCache.Localize("Selected_faculty_is_leave_Please_choose_any_other_faculty")");

                                $.getJSON('/EmployeeManagement/GetAllFaculty',
                                   function (data1) {
                                       $("#Faculty" + data.facultyDropdownId).empty().append('<option value="0">@ResourceCache.Localize("SelectFaculty")</option>');
                                       $.each(data1, function (i, c) {
                                           $("#Faculty" + data.facultyDropdownId).append($('<option></option>').val(c.eid).html(c.ename));
                                       });
                                   });
                            }
                            else {
                                x = data.IsFacultyFree;
                                if (x == "No") {
                                    alert("@ResourceCache.Localize("Selected_faculty_is_not_free_in_this_period_Please_choose_any_other_faculty")");

                                    $.getJSON('/EmployeeManagement/GetAllFaculty',
                                        function (data1) {
                                            $("#Faculty" + data.facultyDropdownId).empty().append('<option value="0">@ResourceCache.Localize("SelectFaculty")</option>');
                                            $.each(data1, function (i, c) {
                                                $("#Faculty" + data.facultyDropdownId).append($('<option></option>').val(c.eid).html(c.ename));
                                            });
                                        });

                                }
                            }

                        });

                    if (x == "No") {
                        break;
                    }
                }
            });

        });
    </script>
}


