﻿@model IEnumerable<eAcademy.ViewModel.R_FacultyFeedback>
@using eAcademy.Models
@{
    ViewBag.Title = "FacultyFeedback";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FacultyFeedback")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form action="@Url.Action("FacultyFeedback", "EmployeeManagement")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FacultyName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @if (ViewBag.FacultyId != null)
                                {
                                    @Html.DropDownList("FacultyId", new SelectList(ViewBag.allTechFaculties, "FacultyId", "FacultyName", ViewBag.FacultyId), ResourceCache.Localize("--SelectFaculty--"))
                                }
                                else
                                {
                                    @Html.DropDownList("FacultyId", new SelectList(ViewBag.allTechFaculties, "FacultyId", "FacultyName"), ResourceCache.Localize("--SelectFaculty--"))
                                }
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="R_Feedback_FromDate" name="R_Feedback_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" value="@ViewBag.fDate" readonly />
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="R_Feedback_ToDate" name="R_Feedback_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" value="@ViewBag.toDate" readonly />
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-sm btn_submit btn-down" id="btnReport_FacultyFeedback1"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>
                        </div>
                    </form>
                    @if (ViewBag.action == "post")
                    {
                        if (ViewBag.val == "empty")
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                @Html.Partial("~/Views/Shared/Print.cshtml")
                                <div class="box-body" id="show">
                                    <div id="tbl_scrol">
                                        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("FacultyLeaveRequestDetails")</h2>
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("Name")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Date")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Feedback")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("UserType")
                                                </th>
                                            </tr>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UserName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Date)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Feedback)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UserType)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                var dates = $("#R_Feedback_FromDate, #R_Feedback_ToDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function (selectedDate) {
                        var option = this.id == "R_Feedback_FromDate" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                        dates.not(this).datepicker("option", option, date);
                    }
                });
            });

            $("#btnReport_FacultyFeedback").click(function (event) {
                var facultyId = $("#R_Feedback_FacultyName").val();
                var fdate = $("#SR_Feedback_FromDate").val();
                var edate = $("#R_Feedback_ToDate").val();


                if (facultyId == "" || fdate == "" || edate == "") {
                    $(".Report_FacultyFeedback-message").text("Please select all the mantratory fields").css("color", "#ff0000");
                    return false;
                }
            });
            $("#btnReport_FacultyFeedback1").click(function (event) {
                var facultyId = $("#FacultyId").val();
                var fdate = $("#R_Feedback_FromDate").val();
                var todate = $("#R_Feedback_ToDate").val();
                $("#FacultyId").addClass("current_button");
                $("#R_Feedback_FromDate").addClass("current_button");
                $("#R_Feedback_ToDate").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'FacultyId') {

                            a.push('@ResourceCache.Localize("PleaseSelectFaculty")');
                        }
                        if (null_id == 'R_Feedback_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'R_Feedback_ToDate') {

                            a.push('@ResourceCache.Localize("PleaseSelectTodate")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });

        });
    </script>
}