﻿@model IEnumerable<eAcademy.ViewModel.LeaveRequestStatus>
@using eAcademy.Models
@{
    ViewBag.Title = "ViewLeaveRequest";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int k = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form action="@Url.Action("LeaveRequest", "EmployeeManagement")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            @if (ViewBag.LeaveRequest != null)
                            {
                                <div class="alert alert-success alert-dismissable" id="divSuccess1">
                                    <strong>@ResourceCache.Localize("Success")</strong> <b>@ViewBag.LeaveRequest</b>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            }
                            @if (ViewBag.success != null)
                            {
                                <div class="alert alert-success alert-dismissable" id="divSuccess2">
                                    <strong>@ResourceCache.Localize("Success")</strong> <b> @ViewBag.success</b>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            }
                            @if (ViewBag.InfoMsg != null)
                            {
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b> @ViewBag.InfoMsg </b>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            }
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="SM_txt_FromDate_List" name="SM_txt_FromDate_List" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" value="@ViewBag.fDate" readonly />
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="SM_txt_ToDate_List" name="SM_txt_ToDate_List" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" value="@ViewBag.toDate" readonly />
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Status", ViewBag.StatusList as List<SelectListItem>, ResourceCache.Localize("SelectStatus"))
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-sm btn_submit btn-down" id="btn_List_ParentLeaveReason"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </div>
                    </form>

                    @if (ViewBag.list != null)
                    {
                        if (ViewBag.count != 0)
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="leaveList">
                                <form action="@Url.Action("Decision", "EmployeeManagement")" method="post" enctype="multipart/form-data">
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <div class="box-body" id="show">
                                        <div id="tbl_scrol">
                                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("FacultyLeaveRequestDetails")<hr /></h2>
                                            <table border="1" class="table table-responsive table-bordered table-striped">
                                                <tr>
                                                    <th>
                                                        @ResourceCache.Localize("SelectAll")
                                                        <input type="checkbox" id="selectAll" name="selectAll">
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("ClassIncharge")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("FromDate")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("ToDate")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("NumberOfDays")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("LeaveReason")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("Status")
                                                    </th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    k++;
                                                    var sel_Stu = "selectStudent" + k;
                                                    var Req_id = "Req_id" + k;
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="FacultyLeaveApprover" id=@sel_Stu name=@sel_Stu>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ClassIncharge)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.From_Date)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.To_Date)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NumberOfDays)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LeaveReason)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Status)
                                                            <input type="hidden" id=@Req_id name=@Req_id value="@item.RequestId">
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                    <input type="hidden" id="count" name="count" value="@ViewBag.count">
                                    <input type="submit" id="BtnApprove" name="BtnApprove" class="btn btn-success" value="@ResourceCache.Localize("Approve")">
                                    <input type="submit" id="BtnReject" name="BtnReject" class="btn btn-danger" value="@ResourceCache.Localize("Decline")">
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="NoRecordFound">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            </div>
                        }
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker("destroy");
            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/EmployeeManagement/CurrentActiveDate",
          function (data) {
              var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
              $(function () {
                  var dates = $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker({
                      dateFormat: 'dd/mm/yy',
                      minDate: data.sd,
                      maxDate: data.ed,
                      changeMonth: true,
                      changeYear: true,
                      onSelect: function (selectedDate) {
                          var option = this.id == "SM_txt_FromDate_List" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                          dates.not(this).datepicker("option", option, date);
                      }
                  });
              });
          });

            $("#btn_List_ParentLeaveReason").click(function (event) {
                $("#divSuccess1").hide();
                $("#divSuccess2").hide();
                $("#NoRecordFound").hide();
                $("#leaveList").hide();
                var fdate = $("#SM_txt_FromDate_List").val();
                var todate = $("#SM_txt_ToDate_List").val();
                var status = $("#Status").val();
                $("#SM_txt_FromDate_List").addClass("current_button");
                $("#SM_txt_ToDate_List").addClass("current_button");
                $("#Status").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_txt_FromDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_txt_ToDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                        if (null_id == 'Status') {

                            a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });

            $("#BtnApprove").click(function (event) {
                $("#divSuccess1").hide();
                $("#divSuccess2").hide();
                var fdate = $("#SM_txt_FromDate_List").val();
                var todate = $("#SM_txt_ToDate_List").val();
                var status = $("#Status").val();

                $("#SM_txt_FromDate_List").addClass("current_button");
                $("#SM_txt_ToDate_List").addClass("current_button");
                $("#Status").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_txt_FromDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_txt_ToDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                        if (null_id == 'Status') {

                            a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                        }
                    }
                    else {
                    }
                });
                var c = $("#count").val();
                var atLeastOneIsChecked = false;
                $('input:checkbox').each(function () {
                    if ($(this).is(':checked')) {
                        atLeastOneIsChecked = true;
                        // Stop .each from processing any more items
                        return false;
                    }
                });

                if (atLeastOneIsChecked == false) {
                    a.push("@ResourceCache.Localize("Please_select_atleast_one_student")");;
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });

            $("#BtnReject").click(function (event) {
                $("#divSuccess1").hide();
                $("#divSuccess2").hide();
                var fdate = $("#SM_txt_FromDate_List").val();
                var todate = $("#SM_txt_ToDate_List").val();
                var status = $("#Status").val();

                $("#SM_txt_FromDate_List").addClass("current_button");
                $("#SM_txt_ToDate_List").addClass("current_button");
                $("#Status").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_txt_FromDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_txt_ToDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                        if (null_id == 'Status') {

                            a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                        }
                    }
                    else {
                    }
                });
                var c = $("#count").val();
                var atLeastOneIsChecked = false;
                $('input:checkbox').each(function () {
                    if ($(this).is(':checked')) {
                        atLeastOneIsChecked = true;
                        return false;
                    }
                });

                if (atLeastOneIsChecked == false) {
                    a.push("@ResourceCache.Localize("Please_select_atleast_one_student")");;
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });
        });
    </script>
}
