﻿@using eAcademy.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditRoute" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditMapping")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="hidden" id="hide_Transportallotmentid" name="hide_Transportallotmentid" />
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                      @*  @Html.DropDownList("Edit_Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("academicyear"), new { @class = "current_button1", @title = "Academic Year" })*@
                                        <input class="col-lg-12 current_button1" type="text" id="Edit_Acyear" name="Edit_Acyear" placeholder="@ResourceCache.Localize("academicyear")" title="@ResourceCache.Localize("academicyear")" readonly required="required" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                       @*@Html.DropDownList("Edit_Class", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("Class"), new { @class = "current_button1", @title = "Class" })*@
                                        <input class="col-lg-12 current_button1" type="text" id="Edit_Class" name="Edit_Class" placeholder="@ResourceCache.Localize("Class")" title="@ResourceCache.Localize("Class")" readonly required="required" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                      @*  @Html.DropDownList("Edit_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button1" })*@
                                        <input class="col-lg-12 current_button1" type="text" id="Edit_Section" name="Edit_Section" placeholder="@ResourceCache.Localize("SelectSection")" title="@ResourceCache.Localize("SelectSection")" readonly required="required" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                   @* @Html.DropDownList("Edit_Student", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } }, new { @class = "current_button1" })*@
                                    <input class="col-lg-12 current_button1" type="text" id="Edit_Student" name="Edit_Student" placeholder="@ResourceCache.Localize("SelectStudent")" title="@ResourceCache.Localize("SelectStudent")" readonly required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Destination")</label> </div>
                                    <input class="col-lg-12 current_button1" type="text" id="Edit_txt_destination" name="Edit_txt_destination" placeholder="@ResourceCache.Localize("Destination")" title="@ResourceCache.Localize("Destination")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("PickPoint")</label> </div>
                                    <input class="col-lg-12 current_button1" type="text" id="Edit_txt_PickPoint" name="Edit_txt_PickPoint" placeholder="@ResourceCache.Localize("PickPoint")" title="@ResourceCache.Localize("PickPoint")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FeesStatus")</label> </div>
                                    <input class="col-lg-12 current_button1" type="text" id="Edit_txt_feeStatus" name="Edit_txt_feeStatus" value="Paid" placeholder="@ResourceCache.Localize("FeesStatus")" title="@ResourceCache.Localize("FeesStatus")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RouteNumber")</label> </div>
                                    <input class="col-lg-12 current_button1" type="text" id="Edit_txt_RouteNumber" name="Edit_txt_RouteNumber" placeholder="@ResourceCache.Localize("RouteNumber")" title="@ResourceCache.Localize("RouteNumber")" readonly required="required" />
                                </div>
                            </div>
                            <div class="col-lg-6" id="statusid" style="display:none;">
                                <div><label class="input-label-sm ">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <select id="status" name="status" class="current_button1">
                                    <option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseSelectStatus")</option>
                                    <option value="true">@ResourceCache.Localize("Active")</option>
                                    <option value="false">@ResourceCache.Localize("In_Active")</option>
                                </select>
                            </div>
                            <div class="row col-sm-12">
                                <div class=" col-xs-6">
                                    <input type="hidden" id="Edit_Destn_Id" name="Edit_Destn_Id" class="current_button1" />
                                    <input type="hidden" id="Edit_PickPoint_Id" name="Edit_PickPoint_Id" class="current_button1" />
                                    <input type="hidden" id="Edit_Route_Id" name="Edit_Route_Id" class="current_button1" />
                                    <button type="button" class="btn btn-sm btn_update btn_double " id="btnUpdateRoute" name="btnUpdateRoute" title="Update"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-sm btn_cancel " name="btnCancel_EditRoute" id="btnCancel_EditRoute" title="Cancel"><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer col-sm-12">
                            <button type="button" class="btn  btn-sm btn_cancel" id="btnCancel_EditInfo" name="btnCancel_EditInfo" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="AddRoute">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("BusAllotment")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                            <div class="row">
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("Acyear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("AcademicYear"), new { @class = "current_button", @title = "Academic Year" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("Class", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("Class"), new { @class = "current_button", @title = "Class" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("Section"), Value = "" } }, new { @class = "current_button" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Student", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Destination")</label> </div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_destination" name="txt_destination" placeholder="@ResourceCache.Localize("Destination")" title="@ResourceCache.Localize("Destination")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("PickPoint")</label> </div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_PickPoint" name="txt_PickPoint" placeholder="@ResourceCache.Localize("PickPoint")" title="@ResourceCache.Localize("PickPoint")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FeesStatus")</label> </div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_feeStatus" name="txt_feeStatus" placeholder="@ResourceCache.Localize("FeesStatus")" title="@ResourceCache.Localize("FeesStatus")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RouteNumber")</label> </div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_RouteNumber" name="txt_RouteNumber" placeholder="@ResourceCache.Localize("RouteNumber")" title="@ResourceCache.Localize("RouteNumber")" readonly required="required" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <input type="hidden" id="ivalue" />
                                <input type="hidden" id="e_AcademicYeaer_Id" name="e_AcademicYeaer_Id" class="current_button" />
                                <input type="hidden" id="e_Class_Id" name="e_Class_Id" class="current_button" />
                                <input type="hidden" id="e_Sec_Id" name="e_Sec_Id" class="current_button" />
                                <input type="hidden" id="e_Student_Id" name="e_Student_Id" class="current_button" />
                                <input type="hidden" id="Destn_Id" name="Destn_Id" class="current_button" />
                                <input type="hidden" id="PickPoint_Id" name="PickPoint_Id" class="current_button" />
                                <input type="hidden" id="Route_Id" name="Route_Id" class="current_button" />
                                <button type="button" id="btnBusAllotment" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Save")</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="reset" class="btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageRoute")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            <div class="box-body" id="MandatoryFieldErrorMessage_List_TransportAllotment" style="display:none;">
                                <div class=" col-sm-12 alert alert-danger alert-dismissable">
                                    <b>@ResourceCache.Localize("Error")!</b>
                                    <div><ul id="List_jErr" class="List_jErr"><li></li></ul></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RouteNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ListRouteNumber", new SelectList(ViewBag.allRouteList, "Id", "RouteNumber"), ResourceCache.Localize("RouteNumber"), new { @class = "current_button filterItem" })
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="BusAllotment_filterButton"><i class="fa fa-search"></i>@ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="RouteListGrid"></table>
                        <div id="RouteListPager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
        $('#Acyear').change(function (event) {
            $('#Class').val("");
            $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            event.preventDefault();
            var YearId = $('#Acyear').val();
            AssignAcademicYear(YearId);
            Add_AssignAcademicYear(YearId)
        });

        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        $('#Class').change(function (event) {
            $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            var ClassId = $('#Class').val();
            $.getJSON('/Transport/TransportAllotment/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        });
        $('#Section').change(function (event) {
            $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            var YearId = $('#Acyear').val();
            var ClassId = $('#Class').val();
            var SecId = $('#Section').val();
            $.getJSON('/Transport/TransportAllotment/showStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
                function (orderdetails) {
                    $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Student").append($('<option></option>').val(c.id).html(c.name));
                    });
                });
        });
        $('#Student').change(function (event) {
            var YearId = $('#Acyear').val();
            var ClassId = $('#Class').val();
            var SecId = $('#Section').val();
            var studentId = $('#Student').val();
            $.getJSON('/Transport/TransportAllotment/getStudentTransport', { passYearId: YearId, passClassId: ClassId, passSecId: SecId, passStudentId: studentId },
                function (data) {
                    $("#txt_destination").val(data.TransportDetail.DestinationName);
                    $("#txt_PickPoint").val(data.TransportDetail.PickPointName);
                    $("#Destn_Id").val(data.TransportDetail.destination_Id);
                    $("#PickPoint_Id").val(data.TransportDetail.PickPoint_Id);
                    $("#txt_RouteNumber").val(data.RouteNumber);
                    $("#Route_Id").val(data.RouteId);
                    $("#txt_feeStatus").val("Paid");

                });
        });
        $("#btnBusAllotment").click(function () {
            //   alert("ppp");
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonError").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '' || valu == '0') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Acyear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'Student') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                    }
                    if (null_id == 'Destn_Id') {
                        a.push('@ResourceCache.Localize("Please_select_destination")');
                    }
                    if (null_id == 'PickPoint_Id') {
                        a.push('@ResourceCache.Localize("Please_select_pickpoint")');
                    }
                    if (null_id == 'Route_Id') {
                        a.push('@ResourceCache.Localize("Please_enter_route_name")');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }
            $("#MandatoryFieldErrorMessage_Add").hide();
            var yearId = $("#Acyear").val();
            var classId = $("#Class").val();
            var sectionId = $("#Section").val();
            var studentRegId = $("#Student").val();
            var destinationId = $("#Destn_Id").val();
            var PickPointId = $("#PickPoint_Id").val();
            var Route = $("#Route_Id").val();

            $("#MandatoryFieldErrorMessage_Add").hide();
            var values = {
                academicYearId: yearId, classId: classId, sectionId: sectionId, studentId: studentRegId, destination_Id: destinationId, pickpoint_Id: PickPointId, Route_Id: Route
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Transport/TransportAllotment/BusAllotment',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#RouteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        });
        var BusAllotmentId;
        jQuery("#RouteListGrid").jqGrid({
            url: "/Transport/TransportAllotment/BusAllotmentListResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("Destination")', '@ResourceCache.Localize("RouteNumber")', '@ResourceCache.Localize("PickPoint")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Actions")'],
            colModel: [
                { key: true, hidden: true, name: 'Id', index: 'Id' },
                { key: false, name: 'StudentName', index: 'StudentName' },
                { key: false, name: 'Year', index: 'Year' },
                { key: false, name: 'Class', index: 'Class' },
                { key: false, name: 'Destination', index: 'Destination' },
                 { key: false, name: 'RouteNumber', index: 'RouteNumber' },
                { key: false, name: 'PickPoint', index: 'PickPoint' },
                 { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#RouteListPager"),
            rowNum: 10,
            rowList: [10, 25, 50, 100],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                repeatitems: false,
                records: "records",
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#RouteListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    BusAllotmentId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Route btn_Edit ui-icon-pencil' id='" + BusAllotmentId + "' value=''  title='Edit'/>";
                    jQuery("#RouteListGrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#RouteListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                    ).jqGrid('navButtonAdd', '#RouteListPager',
                    {
                        caption: "@ResourceCache.Localize("Excel")",
                        buttonicon: "ui-icon-bookmark",
                        onClickButton: function () {
                            window.location.href = "../TransportAllotment/RouteList_ExportToExcel";
                        }
                    }).jqGrid('navButtonAdd', '#RouteListPager',
        {
            caption: "@ResourceCache.Localize("Pdf")",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../TransportAllotment/RouteList_ExportToPdf";
            }
        });
        $("#RouteListGrid").setCaption(' <span class="fa fa-table"></span>' + 'Route List');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#BusAllotment_filterButton').click(function (event) {
            var RouteId = $("#ListRouteNumber").val();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'ListRouteNumber') {
                        a.push('Please select route number');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List_TransportAllotment").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List_TransportAllotment").hide();
            }
            $("#MandatoryFieldErrorMessage_List_TransportAllotment").hide();
            event.preventDefault();
            Route_filterGrid();
        });
        function Route_filterGrid() {
            var postDataValues = $("#RouteListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#RouteListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        };

        $(document).on('click', '.btn_edit_Route', function () {
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonError").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            var TransportallotmentId = $(this).attr('id');
            var values = { TransportallotmentId: TransportallotmentId };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Transport/TransportAllotment/EditBusAllotment',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#AddRoute").hide();
                    $("#EditRoute").show();
                    $("#statusid").show();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#div_Error").hide();
                    $("#errorMsg").empty();
                    $("#div_Error").hide();
                    if (data.InfoMessage != null) {
                        $("#AddRoute").hide();
                        $("#EditRoute").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#info_text").show();
                    }
                    else {
                        $("#info_text").hide();
                    }

                    $("#hide_Transportallotmentid").val(data.Edit_Allotment.TransportAllotmentId).html(data.Edit_Allotment.TransportAllotmentId);
                    //$("#Edit_Acyear").val(data.Edit_Allotment.academicYearId);
                    //$("#Edit_Class").val(data.Edit_Allotment.classId);
                    //$("#Edit_Section").val(data.Edit_Allotment.sectionId);
                    //$("#Edit_Student").val(data.Edit_Allotment.StudentId);
                    $("#e_AcademicYeaer_Id").val(data.Edit_Allotment.academicYearId);
                    $("#e_Class_Id").val(data.Edit_Allotment.classId);
                    $("#e_Sec_Id").val(data.Edit_Allotment.sectionId);
                    $("#e_Student_Id").val(data.Edit_Allotment.studentId);
                    $("#Edit_Acyear").val(data.Edit_Allotment.AcademicYear);
                    $("#Edit_Class").val(data.Edit_Allotment.Class);
                    $("#Edit_Section").val(data.Edit_Allotment.Section);
                    $("#Edit_Student").val(data.Edit_Allotment.Student);

                    $("#Edit_txt_destination").val(data.Edit_Allotment.Destinaion).html(data.Edit_Allotment.Destinaion);
                    $("#Edit_txt_PickPoint").val(data.Edit_Allotment.Pickpoint).html(data.Edit_Allotment.Pickpoint);
                    $("#Edit_txt_RouteNumber").val(data.Edit_Allotment.Route).html(data.Edit_Allotment.Route);
                    $("#Edit_Route_Id").val(data.Edit_Allotment.Route_Id);
                    $("#Edit_PickPoint_Id").val(data.Edit_Allotment.pickpoint_Id);
                    $("#Edit_Destn_Id").val(data.Edit_Allotment.destination_Id);
                    if (data.Edit_Allotment.Status == true) {
                        $('#status').val("true").attr("selected", "true");
                    }
                    else {

                        $('#status').val("false").attr("selected", "true");
                    }


                    @*var ClassId = data.Edit_Allotment.classId;
                    $.getJSON('/Transport/TransportAllotment/GetSelectedClassSection', { passClassId: ClassId },
                            function (orderdetails) {
                                $("#Edit_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                                $.each(orderdetails, function (i, c) {
                                    $("#Edit_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                                    $("#Edit_Section").val(data.Edit_Allotment.sectionId);
                                });
                            });
                    var YearId = data.Edit_Allotment.academicYearId;
                    var ClassId = data.Edit_Allotment.classId;
                    var SecId = data.Edit_Allotment.sectionId;
                    $.getJSON('/Transport/TransportAllotment/showStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
                        function (orderdetails) {
                            $("#Edit_Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                            $.each(orderdetails, function (i, c) {
                                $("#Edit_Student").append($('<option></option>').val(c.id).html(c.name));
                                $("#Edit_Student").val(data.Edit_Allotment.studentId);
                            });
                        });*@


                    @*$('#Edit_Class').change(function (event) {
                        var ClassId = $('#Edit_Class').val();
                        $("#Edit_Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                        $.getJSON('/Transport/TransportAllotment/GetSelectedClassSection', { passClassId: ClassId },
                            function (orderdetails) {
                                $("#Edit_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                                $.each(orderdetails, function (i, c) {
                                    $("#Edit_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                                });
                            });
                    });
                    $('#Edit_Section').change(function (event) {
                        var YearId = $('#Edit_Student').val();
                        var ClassId = $('#Edit_Class').val();
                        var SecId = $('#Edit_Section').val();
                        $.getJSON('/Transport/TransportAllotment/showStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
                            function (orderdetails) {
                                $("#Edit_Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                                $.each(orderdetails, function (i, c) {
                                    $("#Edit_Student").append($('<option></option>').val(c.id).html(c.name));
                                });
                            });
                    });*@

                }
            });
        });

        $('#btnUpdateRoute').click(function () {
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonError").hide();


            var a = [];
            var field_val = [];
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');

                if (valu == '') {
                    var null_id = $(this).attr('id');

                    if (null_id == 'Edit_Acyear') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Edit_Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Edit_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'Edit_Student') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                    }
                }
                else {

                }
            });
            if (a.length != 0) {

                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }

            $("#MandatoryFieldErrorMessage_Add").hide();
            var yearId = $("#e_AcademicYeaer_Id").val();
            var classId = $("#e_Class_Id").val();
            var sectionId = $("#e_Sec_Id").val();
            var studentRegId = $("#e_Student_Id").val();
            var destinationId = $("#Edit_Destn_Id").val();
            var PickPointId = $("#Edit_PickPoint_Id").val();
            var Route = $("#Edit_Route_Id").val();
            var Status = $("#status").val();
            var TransportallotmentId = $("#hide_Transportallotmentid").val();
            $("#MandatoryFieldErrorMessage_Add").hide();
            var values = {
                academicYearId: yearId, classId: classId, sectionId: sectionId, studentId: studentRegId, destination_Id: destinationId, pickpoint_Id: PickPointId, Route_Id: Route, Status: Status,
                TransportallotmentId: TransportallotmentId
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Transport/TransportAllotment/UpdateBusAllotment',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#RouteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        });
        
        $("#btnCancel_EditInfo").click(function () {
            $("#AddRoute").show();
            $("#info_text").hide();
            $("#errorMsg").empty();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
        });
        $("#btnCancel_EditRoute").click(function () {
            $("#AddRoute").show();
            $("#EditRoute").hide();
            $("#errorMsg").empty();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    </script>
}