﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.GuardianStudentList>
@{
    ViewBag.Title = "StudentCredential";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<style>
    .btn-radio {
        width: 100%;
    }

    .img-radio {
        opacity: 0.5;
        margin-bottom: 5px;
        height: 112px;
        width: 135px;
        margin-left: 1px;
    }

    .space-20 {
        margin-top: 20px;
    }

    .st_credential {
        margin-left: 0px;
        margin-right: 86px;
        width: 1310px;
    }

    .credential_form {
        margin-top: 51px;
        width: auto;
    }

    #btn_StudentCredential {
        margin-left: 167px;
    }
</style>

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-solid bg-teal-gradient st_credential">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("StudentCredential")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <form action="@Url.Action("StudentCredential", "DashboardParent")" method="post" enctype="multipart/form-data" class="form-horizontal well credential_form" role="form">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-xs-4">
                                            <img src="~/Documents/StudentPhoto/@item.StudentPhoto" class="img-responsive img-radio">
                                            <button type="button" class="btn btn-primary btn-radio" id="@item.StudentRegId" value="@item.StudentRegId">@ResourceCache.Localize("Select_Student")</button>
                                            <input type="checkbox" id="left-item" class="hidden">
                                        </div>
                                    }
                                    <input type="hidden" id="sel_StudentRegId" class="current_button" name="sel_StudentRegId" value="@ViewBag.stuReg">
                                </div>
                                <div class="row space-20">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="inputTitle" class="col-sm-4 control-label">@ResourceCache.Localize("StudentId")</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="current_button col-lg-12" id="txt_StudentId" name="txt_StudentId" value="@ViewBag.StudentId">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputTitle" class="col-sm-4 control-label">@ResourceCache.Localize("DateofBirth")</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="current_button col-lg-12" id="txt_dob" name="txt_dob" value="@ViewBag.DOB">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="submit" id="btn_StudentCredential" name="btn_StudentCredential" class="btn btn-primary" value="@ResourceCache.Localize("Submit")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
                $('.btn-radio').click(function (e) {
                    $('.btn-radio').not(this).removeClass('active')
                        .siblings('input').prop('checked', false)
                        .siblings('.img-radio').css('opacity', '0.5');
                    $(this).addClass('active')
                        .siblings('input').prop('checked', true)
                        .siblings('.img-radio').css('opacity', '1');
                });
            });

            var x;
            $(document).on('click', '.btn-radio', function () {
                x = $(this).attr('id');
                $("#sel_StudentRegId").val(x);
            });

            $("#btn_StudentCredential").click(function (event) {
                $("#divSuccess1").hide();
                $("#divSuccess2").hide();

                var studentId = $("#txt_StudentId").val();
                var dob = $("#txt_dob").val();
                var r = $("#sel_StudentRegId").val();
                alert(studentId);
                alert(dob);
                alert(r);

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'sel_StudentRegId') {

                            a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                        }
                        if (null_id == 'txt_StudentId') {

                            a.push('@ResourceCache.Localize("Please_enter_student_Id")');
                        }
                        if (null_id == 'txt_dob') {

                            a.push('@ResourceCache.Localize("Please_enter_date_of_birth")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });
        });
    </script>
}