﻿@using eAcademy.Models;
@{
    ViewBag.Title = "AllocateClassRooms";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Allocate_Class_Rooms")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>

                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    @*@Html.Partial("~/Views/Shared/Print.cshtml")*@
                    <div class="box-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {


                    <div class="col-sm-4 col-lg-3">
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>@Html.DropDownList("Capacity_AcademicYrId", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("PleaseSelectAcademicYear"))</div>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>@Html.DropDownList("class_Sub", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), ResourceCache.Localize("SelectClass"))</div>
                    </div>
                    <div class="col-sm-12 btn-down" id="div_loadSection" style="display:none;">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("Section")</th>
                                        <th>@ResourceCache.Localize("Strength")</th>
                                        <th>@ResourceCache.Localize("ClassRoom")</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_loadSection"></tbody>
                            </table>

                        <input type="hidden" id="hidden_Strenthcount" />
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer">
                                    <button type="button" class="btn btn_double btn-sm btn_add" id="btnAllocateClassRoom" name="btnAllocateClassRoom" title="Add Year"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                    <button type="reset" class=" btn  btn-sm btn_reset" id="btnResetClassStrength" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->

                    </div>
    <div class="btn-down col-sm-12 row">
       
                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
         
    </div>
                    <div class="box-footer no-border footer">
                       
                    </div>
                    }
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
    </section>


@section scriptsDataTableContainer{

    <script type="text/javascript">

        $('#Capacity_AcademicYrId').val(@Session["Add_ChosenAcademicYearId"]);
        $('#Capacity_AcademicYrId').change(function (event) {
            event.preventDefault();
            var YearId = $('#Capacity_AcademicYrId').val();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $("#btnResetClassStrength").click(function () {
            $("#div_loadSection").hide();
            
        });
        
    $("#btnAllocateClassRoom").click(function () {

        var hidden_count = $("#hidden_Strenthcount").val();
        var SectionStrength = [];
        var ClassRoom = [];

        for (var i = 0; i < hidden_count; i++) {
            SectionStrength[i] = $("#strength_id" + (i + 1)).val();
            ClassRoom[i] = $("#ddClassRoom" + (i + 1)).val();
        }
        var acyearid = $("#Capacity_AcademicYrId").val();
        var classid = $("#class_Sub").val();

        var values = { SSId: SectionStrength, CRid: ClassRoom, Count: hidden_count, Acyear: acyearid, Class: classid};
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/InfraManagement/AllocateClassRooms',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.Message != "" && data.Message != null) {

                    $(".jsonError").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();
                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                    $("#Loading_Sec").removeClass("loading-new");
                }

                if (data.ExceptionError != "" && data.ExceptionError != null) {

                    $(".jsonError").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });

    $("#Capacity_AcademicYrId").change(function () {
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();

        $("#class_Sub").empty().append('<option>@ResourceCache.Localize("SelectClass")</option>');
        $("#div_loadSection").hide();
        $("#tbody_loadSection").empty();
        $.getJSON('/InfraManagement/getClass',

       function (data) {
           $("#class_Sub").empty().append('<option>@ResourceCache.Localize("SelectClass")</option>');
               $.each(data, function (i, c) {
                   $("#class_Sub").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
        });
        $("#class_Sub").change(function () {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#div_loadSection").hide();
            var cid = $("#class_Sub").val();
            var acid = $("#Capacity_AcademicYrId").val();
            $.getJSON('/InfraManagement/getSectionList', { acid: acid, cid: cid },
           function (data) {
               if (data == null || data == "") {
                   $(".NoRecords").show();
                   $("#div_loadSection").hide();
               }
               else {
                   $(".NoRecords").hide();
                   var row;
                   $("#div_loadSection").show();
                   $("#tbody_loadSection").empty();
                   $.each(data, function (i, c) {

                       row = "<tr><td><input type='hidden' value='" + c.SectionStrengthId + "' id='strength_id" + (i + 1) + "'  name='strength_id" + (i + 1)
                           + "'  /><input type='text' id='Section" + (i + 1) + "' value='" + c.Section + "' readonly /></td><td><input type='text' value='" + c.Strength + "'   id='strength" + (i + 1) + "'  name='strength" + (i + 1)
                            + "' readonly /> </td><td><select class='ddClsClassRoom' id='ddClassRoom" + (i + 1) + "' ></select></td></tr>"
                       var strength = c.Strength;

                       $("#tbody_loadSection").append(row);
                       $("#hidden_Strenthcount").val((i + 1)).html((i + 1));

                       var x = (i+1);

                       $.getJSON('/InfraManagement/getClassRoomsstrength', { strength: strength },

                         function (list) {
                             $("#ddClassRoom" + (i + 1)).empty().append('<option>@ResourceCache.Localize("SelectClassRoom")</option>');

                             $.each(list, function (i, c) {
                              //   alert(c.RoomNumber);
                                 $("#ddClassRoom"+x).append($('<option></option>').val(c.CRid).html(c.RoomNumber + " (" + c.Capacity + ")"));
                             });

                             $.each(data, function (i, c) {
                                 if (c.ClassRoomId != null) {
                                     $("#ddClassRoom" + (i + 1)).val(c.ClassRoomId);
                                 }
                             });
                         });
                   });


                   //$.getJSON('/InfraManagement/getClassRooms',

                   //  function (list) {
                   //      $(".ddClsClassRoom").empty().append('<option>Select Class Room</option>');


                   //      $.each(list, function (i, c) {

                   //          //alert(c.RoomNumber);
                   //          $(".ddClsClassRoom").append($('<option></option>').val(c.CRid).html(c.RoomNumber + " (" + c.Capacity + ")"));
                   //      });



                   //      $.each(data, function (i, c) {


                   //          if (c.ClassRoomId != null) {

                   //              $("#ddClassRoom" + (i + 1)).val(c.ClassRoomId);
                   //          }

                   //      });
                   //  });


               }


           });
        });

    </script>
}
