﻿@using eAcademy.Models;
@{
    ViewBag.Title = "ClassRooms";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_updateClassRooms" style="display:none;">
                    <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_Class_Rooms")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")

                    <div class="box-body row border-radius-none">

                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="hidden_classRoomId" name="hidden_classRoomId" />

                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("RoomNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-sm-12 current_button" type="text" id="txt_roomNo1" name="txt_roomNo1" placeholder="@ResourceCache.Localize(" Enter_Class_Room_Number ")" title="@ResourceCache.Localize("RoomNumber")" maxlength="20" /></div>
                        </div>

                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("RoomCapacity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-sm-12 current_button" type="text" id="txt_capacity1" name="txt_capacity1" placeholder="@ResourceCache.Localize("EnterCapacity")" title="@ResourceCache.Localize("RoomCapacity")" maxlength="4" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnUpdateClassRooms" name="btnUpdateClassRooms" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_updateClassRooms" name="btncancel_updateClassRooms" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>

                }
            </div><!-- /.box -->
                </section><!-- right col -->
                <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="idSection_addClassRooms">

            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("AddClassRooms")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>

                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {  @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")

                        <div >
                            <div><label class="input-label-sm">@ResourceCache.Localize("RoomNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div >
                                <input class="col-sm-12 current_button" type="text" id="txt_roomNo" name="txt_roomNo" placeholder="@ResourceCache.Localize("Enter_Class_Room_Number")" title="@ResourceCache.Localize("RoomNumber")" maxlength="20" />
                            </div>
                        </div>

                        <div >
                            <div><label class="input-label-sm">@ResourceCache.Localize("RoomCapacity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div > <input class="col-sm-12 current_button" type="text" id="txt_capacity" name="txt_capacity" placeholder="@ResourceCache.Localize("EnterCapacity")" title="@ResourceCache.Localize("RoomCapacity")" maxlength="4" /></div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddClassRooms" name="btnAddClassRooms" title="@ResourceCache.Localize("AddYear")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->



        <section class="col-xs-12 col-sm-12 col-md-8 ">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Class_Rooms")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>

                </div><!-- /.box-header -->

                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body" >
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div id="parent" class="row">
                        <div class="col-sm-6 col-md-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("RoomCapacity")</label>  <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div><input class="col-lg-12 filterItem" type="text" id="capacity" name="capacity" placeholder="@ResourceCache.Localize("RoomCapacity")" title="@ResourceCache.Localize("Capacity")" /></div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <button type="submit" id="btnCR_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>

                    @*@Html.Partial("~/Views/Shared/Print.cshtml")*@

           <div class="col-sm-12" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">

                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->

        </section><!-- /.Left col -->

    </div>
    
</section>




@section scriptsDataTableContainer{

   <script src="~/js/jquery.filter_input.js"></script>
   
     <script type="text/javascript">


    $("#txt_roomNo").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_roomNo1").filter_input({ regex: '[0-9A-Za-z- ]' });

    $("#txt_capacity").filter_input({ regex: '[0-9]' });
    $("#txt_capacity1").filter_input({ regex: '[0-9]' });

    $(function () {

        var classRoomId;
        jQuery("#grid1").jqGrid({

            url: "/InfraManagement/ClassRoomList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("ClassRoomId")', '@ResourceCache.Localize("RoomNumber")', '@ResourceCache.Localize("Capacity")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],

            colModel: [


                { key: true, hidden: true, name: 'ClassRoomId', index: 'ClassRoomId' },
                { key: false, name: 'RoomNumber', index: 'RoomNumber', editable: true },
                { key: false, name: 'Capacity', index: 'Capacity', editable: true },
                { key: false, name: 'Status', index: 'Status', editable: true },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],

            pager: jQuery("#pager1"),            
            rowList: [50,100, 250,500,1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,


            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    classRoomId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_ClassRoom btn_Edit ui-icon-pencil' id='" + classRoomId + "' value=''  title=@ResourceCache.Localize("Edit")/>";
                    //de = "<input style='height:23px;width:22px;' type='button' class='btn_del_StudentAchievement btn_Delete ui-icon-trash' id='" + cl + "' value='' title='Delete'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },

        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Excel ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../InfraManagement/ClassRoomExportToExcel";
                        //ExportDataToExcel("#grid");
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Pdf ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {

                        window.location.href = "../InfraManagement/ClassRoomExportToPDF";
                        //exportPDF();
                    }
                });

        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + 'Class Rooms');

        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

        $('#btnCR_Filter').click(function (event) {
            event.preventDefault();

            var check_id = $("#capacity").val();
            if (check_id == "0" || check_id == null || check_id == "") {

                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Enter_Room_Capacity ")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
                filterGrid();
            }



        });


        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');

            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };


        $(document).on('click', '.btn_edit_ClassRoom', function () {
            var id = $(this).attr('id');
            // alert("xhjfdhjvgdhjfgdfgh");
            values = { CRid: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/InfraManagement/EditClassRooms',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {

                    $("#idSection_addClassRooms").hide();
                    $("#idSection_updateClassRooms").show();
                    //Error Messages
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();

                    //Values

                    $("#txt_roomNo1").val(data.ans.RoomNumber);
                    $("#txt_capacity1").val(data.ans.Capacity);
                    $("#hidden_classRoomId").val(id).html(id);

                    if (data.ans.Status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });

        });

        $("#btncancel_updateClassRooms").click(function () {

            $("#idSection_addClassRooms").show();
            $("#idSection_updateClassRooms").hide();
            //Error Messages
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });

    });


    $("#btnAddClassRooms").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();

        var bool = jsFormValidation();
        if (bool == true) {
            var RoomNumber = $("#txt_roomNo").val();
            var RoomCapacity = $("#txt_capacity").val();
            var values = { RoomNumber: RoomNumber, RoomCapacity: RoomCapacity };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/InfraManagement/ClassRooms',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {


                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);

                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }

    });

    $("#btnUpdateClassRooms").click(function () {

        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();

        var bool = jsFormValidation1();

        if (bool == true) {
            var ClassRoomId = $("#hidden_classRoomId").val();
            var RoomNumber = $("#txt_roomNo1").val();
            var RoomCapacity = $("#txt_capacity1").val();


            var check = $("#txt_status").is(':checked');

            var Status;
            if (check == true) {
                Status = "Active";
            }
            else {
                Status = "Inactive";
            }
            var values = { RoomNumber: RoomNumber, RoomCapacity: RoomCapacity, ClassRoomId: ClassRoomId, Status: Status };

            $("#Loading_Sec").addClass("loading-new");

            $.ajax({
                url: '/InfraManagement/SaveEditClassRooms',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {


                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                //alert(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);

                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
       }

    });



    function jsFormValidation() {

        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_roomNo') {

                    a.push('@ResourceCache.Localize("Room_number_is_required")');
                }

                if (null_id == 'txt_capacity') {

                    a.push('@ResourceCache.Localize("Room_capacity_is_required")');
                }


            }
            else {
                if (field_name == 'txt_roomNo') {
                    var sname = $("#txt_roomNo").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 20) {
                            a.push('@ResourceCache.Localize("Room_number_should_not_exceed_20_characters ")');
                        }
                    }
                }

            }
        });

        if (a.length != 0) {


            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;


        }
        else {
            $(".jsonError").hide();

            return true;
        }
    }



    function jsFormValidation1() {

        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_roomNo1') {

                    a.push('@ResourceCache.Localize("Room_number_is_required")');
                }

                if (null_id == 'txt_capacity1') {

                    a.push('@ResourceCache.Localize("Room_capacity_is_required")');
                    }


                }
                else {
                    if (field_name == 'txt_roomNo1') {
                        var sname = $("#txt_roomNo1").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 20) {
                                a.push('@ResourceCache.Localize("Room_number_should_not_exceed_20_characters")');
                            }
                        }
                    }

                }
            });

            if (a.length != 0) {


                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;


            }
            else {
                $(".jsonError").hide();

                return true;
            }
        }

    </script>
}