﻿@model System.Data.DataTable
@using System.Data;
@using eAcademy.Models
@{
    ViewBag.Title = "UploadEmployeeDetails";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("UploadEmployeeDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @if (ViewBag.message != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong>  @ViewBag.message.
                        </div>
                    }
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @using (Html.BeginForm("UploadEmployeeDetails", "StudentAdmission", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="col-lg-12">
                                <div class="form-group col-lg-2 col-sm-4">
                                    <input type="file" id="dataFile" name="upload"/>
                                </div>

                                <div class="form-group col-lg-2 col-sm-4">
                                    <input type="submit" value="@ResourceCache.Localize("Upload")" class="btn btn-default" style="margin-top:0px;" />
                                </div>
                            </div>

                        }
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>