﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.TimeTable>
@{
    ViewBag.Title = "ClassTimeTable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int k = 1;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ClassTimetable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("ClassTimeTable", "ClassReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("--SelectAcademicYear--"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="ClassTimeTable" name="ClassTimeTable"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none btn-down" style=" display:none;">
                                <div class="row btn-down">
                                    <div class="row col-lg-12 btn-down">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_CLASS_TIMETABLE_DETAILS")</b></label><hr /></center>
                                        <table class="col-sm-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year" class="empalin"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class" class="empalin"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec" class="empalin"></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <div id="box" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                                    @*<table class="col-lg-12 table table-bordered table-striped" id="ClassTimeTableTable" border="1"></table>*@
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    //$('#show').hide();
    $("#ClassTimeTableTable").empty();
    $("#ClassTimeTableTable").remove();
    $("#ClassTimeTableTable tbody").empty();
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#show').hide();
            $('#NoRecords').hide();
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        });
        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#show').hide();
            $('#NoRecords').hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            var year = $('#Class').val();
            //$("#Rep_section").empty().append('<option value="0">Select</option>');
            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {
                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });
               });
        });

        var Period_Count = 0;
        var Periodcounter = 0;
        var Breakcounter = 0;

        var Count = 0;
        $('#ClassTimeTable').click(function () {
            
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var a = [];
            //var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        flag = 1;
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        flag = 1;
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                        flag = 1;
                    }
                }
            });
            
            if (flag == 0) {
                var ss = {
                    AcademicYear: acyear, Class: Class, Rpt_Section: sec
                };
                
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/ClassReport/JsonClassTimeTable',
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#show').hide();
                            $('#Err').show();
                            $('.NoRecords').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('.NoRecords').hide();
                            $('#show').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else {
                            $('#show').show();
                            $('#Err').hide();
                            $('.NoRecords').hide();
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#ClassTimeTableTable tr').remove();
                            var row = 0;
                            var row1 = 0;
                            var sub_table = 0;
                            if (data.DayOrder == 0 || data.Periods == 0 || data.result == 0) {
                                $('#Err').hide();
                                $('.NoRecords').show();
                                $('#show').hide();
                            }
                            else {
                                var DayOrder_Count = data.DayOrder;
                                var Period_Count = data.Periodcount;

                                mytable = $('<table border="1" class="table-responsive col-sm-12"></table>').attr({ id: "ClassTimeTableTable" });
                                myhead = $('<thead></thead>').appendTo(mytable);
                                myheadtr = $('<tr></tr>').appendTo(myhead);
                                var cols = new Number(Period_Count);
                                var rows = new Number(DayOrder_Count);
                                var tr = [];
                                $('<th>Day/Period</th>').appendTo(myheadtr);
                                $.each(data.PeriodsList, function (i, v) {
                                    var type = v.PeriodType;
                                    if (type =="Period")
                                    {
                                        $('<th><label>' + v.PeriodName + '<br/>' + v.txt_PeriodTime + '</th></label><input type="hidden" id="Period' + Periodcounter + '" name="Period' +
                                            Periodcounter + '" class="current_button" />').appendTo(myheadtr);
                                        Periodcounter++;
                                    }
                                    else
                                    {
                                        $('<th><label>' + v.PeriodName + '<br/>' + v.txt_PeriodTime + '</th></label><input type="hidden" id="Break' + Breakcounter + '" name="Break' + Breakcounter + '" class="current_button" />').appendTo(myheadtr);
                                        Breakcounter++;
                                    }

                                    });
                                mytbody = $('<tbody></tbody>').appendTo(mytable);

                                for (var i = 1; i <= rows; i++) {
                                    var mytbodytd = $('<tr><td id="day' + i + '" ></td>').appendTo(mytbody);

                                    var cellcount = 0;
                                    for (var j = 1; j <= cols; j++) {

                                        if (cellcount <cols) {
                                        var Period = data.PeriodsList[cellcount];
                                        var type = Period.PeriodType;

                                        if (type == "Period") {
                                            $('<td id="day' + i + 'period' + j + '" class=""></td></tr>').appendTo(mytbodytd);
                                           
                                        }
                                        else {
                                            //$('<td id="dayBreak" class="" ></td></tr>').appendTo(mytbodytd);
                                            $('<td id="dayBreak" class="" ><div class = "item assigned">Break</div></td></tr>').appendTo(mytbodytd);
                                           
                                           // $('<td id="dayBreak" class="Break" value="Break"></td></tr>').appendTo(mytbodytd);
                                            j--;


                                        }
                                        cellcount++;
                                    }

                                        }
                                    }

                                mytable.appendTo("#box");

                                for (var i = 1; i <= rows; i++) {
                                    $("#day" + i).text("Day" + i);
                                }
                                for (var i = 1; i <= DayOrder_Count; i++) {
                                    for (var j = 1; j <= Period_Count ; j++) {
                                        var x = "Empty";
                                        for (var k = 0; k < data.StudentPeriodSubject.length; k++) {
                                            var List = data.StudentPeriodSubject[k];
                                            var DayNo = List.day;
                                            var PeriodNumber = List.period;

                                            if (i == DayNo && j == PeriodNumber) {
                                                var subject = List.subject;
                                                x = "Value";
                                                $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'))
                                            }
                                            //else {
                                            //    $("#dayBreak").append($('<div class = "item assigned">' + "Break" + '</div>'))
                                            //}
                                        }
                                        if (x == "Empty") {
                                            subject = "N";
                                            $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'));
                                            $("#NoClassAssigned").show();
                                        }
                                    }

                                }
                                //$(".Break").append($('<div class = "item assigned">' + "Break" + '</div>'));

                            }
                        }
                        $("#Loading_Sec").removeClass("loading-new");
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
    </script>
}