﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.getclassandsection>
@{
    ViewBag.Title = "MarkList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int r, n = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("MarkList")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("MarkList", "ClassReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("--SelectAcademicYear--"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ExamType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ExamTypeId", new SelectList(ViewBag.exam, "ExamId", "ExamName"), @ResourceCache.Localize("SelectExamType"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="ClassMarkList" name="ClassMarkList"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style=" display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_CLASS_MARK_LIST_DETAILS")</b></label><hr /></center>
                                        <table class="col-sm-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year" class="empalin"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class" class="empalin"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec" class="empalin"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("ExamType")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_ExamType" class="empalin"></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                  
                                    <table class="col-lg-12 table table-bordered table-striped" id="ClassMarkListTable" border="1"></table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
            $('#AcademicYear').change(function (event) {
                event.preventDefault();
                var YearId = $('#AcademicYear').val();
                AssignAcademicYear(YearId);
                $('#Class').val("");
                $('#show').hide();
                $("#NoRecords").hide();
                $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $('#ExamTypeId').val("");
            });
        $('#Class').change(function () {          
                $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#ExamTypeId').val("");
            $('#show').hide();
            });
        $('#Class').change(function () {
            var year = $('#Class').val();
            //$("#Rep_section").empty().append('<option value="0">Select</option>');
            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {
                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });
               });
        });
        $('#Rpt_Section').change(function () {
            $('#ExamTypeId').val("");
            $('#show').hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        });
        $('#ClassMarkList').click(function () {
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var ExamType = $('#ExamTypeId').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'ExamTypeId') {
                        a.push('@ResourceCache.Localize("PleaseSelectExamType")');
                    }
                }
            });
            if (flag == 0) {
                var ss = {
                    AcademicYear: acyear, Class: Class, Rpt_Section: sec, ExamType: ExamType
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/ClassReport/JsonClassMarkList',
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#show').hide();
                            $('#Err').show();
                            $('.NoRecords').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('.NoRecords').hide();
                            $('#show').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else {
                            $('.NoRecords').hide();
                            $('#show').show();
                            $('#Err').hide();
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#Txt_ExamType').text($('#ExamTypeId option:selected').text());
                            $('#ClassMarkListTable tr').remove();
                            if (data.Subject == 0 || data.TotalMark == 0) {
                                $('#Err').hide();
                                $('.NoRecords').show();
                                $('#show').hide();
                            }
                            else {
                                var row = 0;
                                var Subjectname = 0;
                                $.each(data.Subject, function (i, v) {
                                    Subjectname = Subjectname + "<th>" + v.subjectName + "</th>";
                                });
                                var table_head = "<tr><th>@ResourceCache.Localize("StudentId")</th><th>@ResourceCache.Localize("RollNumber")</th><th>@ResourceCache.Localize("StudentName")</th>" + Subjectname + "<th>@ResourceCache.Localize("TotalMark")</th><th>@ResourceCache.Localize("Rank")</th></tr>";
                                $('#ClassMarkListTable').append(table_head);
                                $.each(data.TotalMark, function (i, v) {
                                    var Mark_table = 0;
                                    $.each(data.Subject, function (i, b) {
                                        var check = 0;
                                        $.each(data.ClassSubjectMark, function (i, k) {
                                            if (v.StudentRegid == k.StudentRegId && b.subjectName == k.subjectName) {
                                                check = 1;
                                                Mark_table = Mark_table + "<td>" + k.SubjectMark + "</td>";
                                            }
                                        });
                                        if (check == 0) {
                                            Mark_table = Mark_table + "<td>-</td>";
                                        }
                                    });
                                    if (v.Rank == null) {
                                        var Table_Data1 = "<tr><td>" + v.StudentId + "</td><td>" + v.RollNumber1 + "</td><td>" + v.StudentName + "</td>" + Mark_table + "<td>" + v.TotalMark + "</td><td>-</td></tr>";
                                        $('#ClassMarkListTable').append(Table_Data1);
                                    }
                                    else {
                                        var Table_Data = "<tr><td>" + v.StudentId + "</td><td>" + v.RollNumber1 + "</td><td>" + v.StudentName + "</td>" + Mark_table + "<td>" + v.TotalMark + "</td><td>" + v.Rank + "</td></tr>";
                                        $('#ClassMarkListTable').append(Table_Data);
                                    }
                                });
                            }
                        }
                        $("#Loading_Sec").removeClass("loading-new");
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
    </script>
}