﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.getclassandsection>
@{
    ViewBag.Title = "StudentNameList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("StudentNameList")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("StudentNameList", "ClassReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-lg-12">
                                <div class=" col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("--SelectAcademicYear--"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div> <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="ClassStudentNameListFilter" name="ClassStudentNameListFilter"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                                </div>
                            </div>
                            <div class="row col-lg-12 col-xs-12 col-sm-12 btn-down" id="show" style="display:none;">
                                <table class="col-lg-12 col-xs-12 col-sm-12" id="ClassStudentNameListGrid"></table>
                                <div id="pager"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            });
            $('#Class').change(function () {
                $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            $('#Class').change(function () {
                var year = $('#Class').val();
                //$("#Rep_section").empty().append('<option value="0">Select</option>');
                $.getJSON('/Report/getSectionList', { clas: year },
                   function (data) {
                       $("#Rpt_Section").empty().append('<option value="">Select Section</option>');
                       $.each(data, function (i, c) {
                           $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                       });
                   });
            });
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#ClassStudentNameListGrid').setGridWidth(width, true); //Back to original width
            $('#ClassStudentNameListGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        //Function TimeTable
        jQuery("#ClassStudentNameListGrid").jqGrid({
            url: "/ClassReport/JQgridStudentNameList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("StudentId")', '@ResourceCache.Localize("RollNumber")', '@ResourceCache.Localize("StudentName")'],
            colModel: [
                    { key: false, name: 'StudentId', index: 'StudentId', editable: true },
                    { key: false, name: 'rollnumber', index: 'rollnumber', editable: true },
                    { key: false, name: 'StudentName', index: 'StudentName', editable: true },
            ],
            pager: jQuery("#pager"),
            rowList: [50, 100,250,500,1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("ClassStudentNameList")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
               ).jqGrid('navButtonAdd', '#pager',
               {
                   caption: " Excel ",
                   buttonicon: "ui-icon-bookmark",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../ClassReport/StudentNameListReport_ExportToExcel";
                   }
               }).jqGrid('navButtonAdd', '#pager',
               {
                   caption: " Pdf ",
                   buttonicon: "ui-icon-print",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../ClassReport/StudentNameListReport_ExportToPdf?pdf=true";
                   }
               });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#ClassStudentNameListFilter').click(function (event) {
            var acyear = $('#AcademicYear').val();
            var classs = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
            });
            if (flag == 0) {
                $('#show').show();
                $('#Err').hide();
                $('#Errors').hide();
                event.preventDefault();
                ClassStudentNameListFilterGrid();
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function ClassStudentNameListFilterGrid() {
            var postDataValues = $("#ClassStudentNameListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#ClassStudentNameListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
    });
    </script>
}