﻿@using eAcademy.Models
@{
    ViewBag.Title = "AssignGamestoStudent";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-lg-5 col-sm-12 col-md-4  pull-right" id="Section_addgamestudent">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>

                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="row">
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>

                                    @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"),ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>

                                    @Html.DropDownList("SessionName", new List<SelectListItem>() { new SelectListItem() { Text =ResourceCache.Localize("PleaseSelectSession"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("Class", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"),ResourceCache.Localize("PleaseSelectClass"), new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("Section", new List<SelectListItem>() { new SelectListItem() { Text =ResourceCache.Localize("PleaseSelectSection"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("Student", new List<SelectListItem>() { new SelectListItem() { Text =ResourceCache.Localize("PleaseSelectStudent"), Value = "" } }, new { @class = "current_button" })

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("House_Name") <span class="glyphicon glyphicon-asterisk"></span></label></div>
                                <div>
                                    @Html.DropDownList("allHouse", new SelectList(ViewBag.allHouses, "HouseId", "HouseName"), ResourceCache.Localize("PleaseSelectHouseName"), new { @class = "current_button" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><label class="input-label-sm current_button">@ResourceCache.Localize("StudentType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <select id="stype" name="stype" class="current_button">
                                <option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("pleaseselectStudentType")</option>
                                <option value="Participant">@ResourceCache.Localize("Participant")</option>
                                <option value="ViceCaptain">@ResourceCache.Localize("ViceCaptain")</option>
                                <option value="Captain">@ResourceCache.Localize("Captain")</option>
                            </select>
                        </div>
                            <div class="col-xs-12 ">
                                <label class="input-label-sm current_button">@ResourceCache.Localize("GameDetail")</label>
                                <table class="table table-bordered table-striped itemlist">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("GameName")</th>
                                            <th>@ResourceCache.Localize("LevelName")</th>
                                            <th>@ResourceCache.Localize("Participant")</th>
                                            <th>@ResourceCache.Localize("Marks")</th>
                                            <th>@ResourceCache.Localize("Description")</th>
                                        </tr>
                                    </thead>
                                    <tbody class="current_button" id="tbody_detaillist">
                                        <tr>
                                            <td>@Html.DropDownList("GameName1", new SelectList(ViewBag.allGameNames, "GameId", "GameName"), ResourceCache.Localize("PleaseSelectGameName"), new { @class = "current_button allGameNames" })</td>
                                            <td>@Html.DropDownList("Level1", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectLevel"), Value = "" } }, new { @class = "current_button AddRow" })</td>
                                            <td> @Html.DropDownList("GamePrize1", new SelectList(ViewBag.SportsGamePoints, "PointId", "PointName"), ResourceCache.Localize("Please_select_Points"), new { @class = "current_button AddRow " })</td>
                                            <td><input type="text" id="Mark1" name="Mark" placeholder="@ResourceCache.Localize("Marks")" class="current_button " /></td>
                                            <td><input type="text" id="Description1" name="Description" placeholder="@ResourceCache.Localize("Description")" class="current_button " /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div id="addrow1" class="col-xs-12 col-sm-12">
                                        <a id="additem" name="additem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="btnDel" name="btnDel" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_save" id="btnaddGameStudent" name="btnaddGameStudent" title="Add GametoStudent"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="btnreset"> <i class="fa fa-refresh" id="btnreset"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </form>
            </div>
        </section>
        <section class="col-lg-5 col-sm-12 col-md-4  pull-right" id="EditGameStudent_section" style="display:none">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div class="row">
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditAcyear" name="EditAcyear" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditAcyear" name="hide_EditAcyear" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditSessionName" name="EditSessionName" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditSessionName" name="hide_EditSessionName" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditClass" name="EditClass" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditClass" name="hide_EditClass" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditSection" name="EditSection" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditSection" name="hide_EditSection" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditStudentName" name="EditStudentName" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditStudentName" name="hide_EditStudentName" />

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("House_Name")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("EditallHouse", new SelectList(ViewBag.allHouses, "HouseId", "HouseName"),ResourceCache.Localize("SelectHouseName"), new { @class = "current_button_Edit" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-sm-6"><label class="input-label-sm"> @ResourceCache.Localize("StudentType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <select id="Editstype" name="Editstype" class="current_button">
                                <option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("pleaseselectStudentType")</option>
                                <option value="Participant">@ResourceCache.Localize("Participant")</option>
                                <option value="ViceCaptain">@ResourceCache.Localize("ViceCaptain")</option>
                                <option value="Captain">@ResourceCache.Localize("Captain")</option>
                            </select>
                        </div>

                            <div class="col-xs-12 ">
                                <label class="input-label-sm">@ResourceCache.Localize("GameDetail")</label>
                                <table class="table table-bordered table-striped Editdrop">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("GameName")</th>
                                            <th>@ResourceCache.Localize("LevelName")</th>
                                            <th>@ResourceCache.Localize("Participant")</th>
                                            <th>@ResourceCache.Localize("Marks")</th>
                                            <th>@ResourceCache.Localize("Description")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_Editdetaillist">
                                        <tr></tr>
                                    </tbody>

                                </table>
                                <div class="row">
                                    <div id="Editaddrow" class="col-xs-12 col-sm-12">
                                        <a id="Editadditem" name="Editadditem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="EditbtnDel" name="EditbtnDel" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                                <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                            </div>

                        </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <input type="hidden" id="hide_GameStudentid" name="hide_GameStudentid" />
                                <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateGameStudent" name="btnUpdateGameStudent" title=Update><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateGameStudent" name="btncancel_updateGameStudent" title=Cancel> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-lg-7 col-sm-12 col-md-8 " id="Studentgame_list">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("GameStudentList")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="col-sm-12">
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                </div>
                <form>

                    <div class="col-sm-4 col-lg-3 col-md-4">
                        <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>

                        @Html.DropDownList("fAcyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "filterItem" })
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-4">
                        <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>

                        
                        @Html.DropDownList("fSession", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSession"), Value = "" } }, new { @class = "filterItem" })
                    </div>
                    <div class="col-sm-4 col-lg-3 col-md-4">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Class")<span class="glyphicon glyphicon-asterisk"></span></label> </div>

                        @Html.DropDownList("fClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("PleaseSelectClass"), new { @class = "filterItem" })
                    </div>
                    <div class="col-sm-4 col-lg-3 col-md-4">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Section")<span class="glyphicon glyphicon-asterisk"></span></label> </div>

                        @Html.DropDownList("fSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSection"), Value = "" } }, new { @class = "filterItem" })

                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-sm-3">
                            <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="btnRemarks"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                    <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="show">
                        @*<h3>Student Assign List</h3>*@
                        <table class="col-lg-12 col-xs-12  col-sm-12 col-md-12" id="studentgameListGrid" style="width: 1528px;"></table>
                        <div id="studentgameListPager" style="width: 1528px;"></div>
                    </div>
                    @*<div class="col-sm-6 col-md-4 col-lg-3" id="show">
                        <table class="table table-bordered table-striped" border="1" id="studentgameListGrid"></table>
                        <div id="studentgameListPager"></div>
                    </div>*@
                    <div class="box-footer clearfix no-border">
                    </div>

                </form>

            </div><!-- /.box -->
            <!-- quick email widget -->
        </section>
    </div>
</section>

<div id="dialog-confirm" title="Delete from list?" style="display:none; ">
    <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreYouSureToDelete?")</p>
</div>




@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    //$("#show").hide();
       // $('#Acyear').val(@Session["CurrentAcYearId"]);

    $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
    $('#fAcademicYear').val(@Session["List_ChosenAcademicYearId"]);
    var YearId = $('#Acyear').val();
    AssignAcademicYear(YearId);
    $('#fAcyear').val(YearId);
    Add_AssignAcademicYear(YearId);
    getSessionAcademicYear(YearId);
    var FYearId = $('#fAcyear').val();
    fgetSessionAcademicYear(YearId);

    //Add Form
    $('#Acyear').change(function (event) {
        event.preventDefault();
        var YearId = $('#Acyear').val();
        AssignAcademicYear(YearId);
        $('#fAcyear').val(YearId);
        Add_AssignAcademicYear(YearId);
        getSessionAcademicYear(YearId);
        var FYearId = $('#fAcyear').val();
        fgetSessionAcademicYear(YearId);

    });
    //List
    $('#fAcyear').change(function (event) {
        event.preventDefault();
        var YearId = $('#fAcyear').val();
        AssignAcademicYear(YearId);
    });
    function AssignAcademicYear(YearId) {
        $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                  function (orderdetails) {
                  });
    }
    function Add_AssignAcademicYear(YearId) {
        $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                  function (orderdetails) {
                  });
    }


    function getSessionAcademicYear(YearId) {
        $.getJSON('/SportsManagement/GetSelectedYearSession', { passYearId: YearId },
       function (orderdetails) {
           $("#SessionName").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSession")</option>');
           $.each(orderdetails, function (i, c) {
               $("#SessionName").append($('<option></option>').val(c.SessionlId).html(c.SessionName));
           });
       });
    }


    function fgetSessionAcademicYear(FYearId) {
        $.getJSON('/SportsManagement/GetSelectedYearSession', { passYearId: FYearId },
       function (orderdetails) {
           $("#fSession").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSession")</option>');
           $.each(orderdetails, function (i, c) {
               $("#fSession").append($('<option></option>').val(c.SessionlId).html(c.SessionName));
           });
       });
    }


    //Add New Row

    var counter = 1
    $("#additem").click(function (event) {
        $("#Loading_Sec").addClass("loading-new");
        $("#div_Error").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        // $("#AddErrorText").hide();
        $("#errorMsg").empty();

        var GameName = $('#GameName' + counter).val();
        var Gamelevel = $('#Level' + counter).val();
        var GamePrize = $('#GamePrize' + counter).val();
        var Mark = $('#Mark' + counter).val();
        var Description = $('#Description' + counter).val();

        if (GameName == 0 || GamePrize == 0 || Gamelevel == 0) {
            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
            $("#Loading_Sec").removeClass("loading-new");
            $("#AddErrorText").text('@ResourceCache.Localize("PleaseSelectGameDetails")');
            return false();

        }

        $("#div_Error").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        counter++;
        // $('#Mark' + counter).filter_input({ regex: '[0-9]' });
        // var newRow = jQuery('<tr><td><select id="GameName' + counter + '" class="current_button allGameNames" name="GameName' + counter + '" ><option value="" disabled="disabled">@@ResourceCache.Localize("PleaseselectGameName")</option></select> </td><td><select id="Level' + counter + '" class="current_button allLevelNames" name="Level' + counter + '" ><option value="" disabled="disabled">@@ResourceCache.Localize("PleaseselectLevelName")</option></select> </td><td><select id="GamePrize' + counter + '"   class="current_button allSportsGamePoints" name="GamePrize' + counter + '"  ><option value="" disabled="disabled" selected="selected">@@ResourceCache.Localize("SelectGamePrize")</option></select> </td><td><input type="text" class="current_button" id="Mark' + counter + '" name="Mark' + counter + '" title="Marks" maxlength="20" value=""placeholder="@@ResourceCache.Localize("Marks")" /></td><td><input type="text" class="current_button" id="Description' + counter + '" name="Description' + counter + '" title="Description" maxlength="200" value="" placeholder="@@ResourceCache.Localize("Description")" /></td></tr>');
        var newRow = jQuery('<tr><td><select id="GameName' + counter + '" class="current_button allGameNames" name="GameName' + counter + '" ><option value="" disabled="disabled">@ResourceCache.Localize("PleaseselectGameName")</option></select> </td><td><select id="Level' + counter + '" class="current_button allLevelNames" name="Level' + counter + '" ><option value="" disabled="disabled">@ResourceCache.Localize("PleaseSelectLevel")</option></select> </td><td><select id="GamePrize' + counter + '"   class="current_button allSportsGamePoints" name="GamePrize' + counter + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("Please_select_Points")</option></select> </td><td><input type="text" class="current_button" id="Mark' + counter + '" name="Mark' + counter + '" title="Marks" maxlength="20" value=""placeholder="@ResourceCache.Localize("Marks")" /></td><td><input type="text" class="current_button" id="Description' + counter + '" name="Description' + counter + '" title="Description" maxlength="200" value="" placeholder="@ResourceCache.Localize("Description")" /></td></tr>');
        jQuery('#tbody_detaillist').append(newRow);

        GetGameDetail(counter);
        Prizestatus(counter);

        $("#Loading_Sec").removeClass("loading-new");
    });
    //Values Loaded in New Drop Down
    function GetGameDetail(cnt) {

        $.getJSON('/SportsManagement/GetGameNamelist',
             function (orderdetails) {

                 $("#GameName" + cnt).empty().append('<option value="">@ResourceCache.Localize("PleaseSelectGameName")</option>');
                 $.each(orderdetails, function (i, c) {
                     $("#GameName" + cnt).append($('<option></option>').val(c.GameId).html(c.GameName));
                 });
             });
    }
    function Prizestatus(cnt) {
        $.getJSON('/SportsManagement/GetPrizeStatus',
             function (orderdetails) {
                 $("#GamePrize" + cnt).empty().append('<option value="">@ResourceCache.Localize("Please_select_Points")</option>');
                 $.each(orderdetails, function (i, c) {
                     $("#GamePrize" + cnt).append($('<option></option>').val(c.PointId).html(c.PointName));
                 });
             });
    }

    $(document).on('change', '.allGameNames', function () {
        //alert('here');
        var id = $(this).attr('id');
        var ret = id.split("GameName");
        var str1 = ret[0];
        var str2 = ret[1];
        var GameId = $("#" + id).val();
        //alert("idnumber=" + str2);
        //alert("GameId=" + GameId);
        // alert("id=" + id);
        //var GameId = $(".allGameNames").attr('id');
        //$(".allGameNames").attr('id')
        $.getJSON('/SportsManagement/GetSelectedGameLevel', { passGameId: GameId },
            function (orderdetails) {
                $("#Level" + str2).empty().append('<option value="">@ResourceCache.Localize("PleaseSelectLevel")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#Level" + str2).append($('<option></option>').val(c.GameLevelId).html(c.GameLevelName));


                });
            });
    });

    @*$('#Acyear').change(function (event) {
        //alert("Search");
        var YearId = $('#Acyear').val();
        $.getJSON('/SportsManagement/GetSelectedYearSession', { passYearId: YearId },
            function (orderdetails) {
                $("#SessionName").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSession")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#SessionName").append($('<option></option>').val(c.SessionlId).html(c.SessionName));


                });
            });
    });*@
    $('#Class').change(function (event) {
        //alert("kjhea");
        var ClassId = $('#Class').val();
        $.getJSON('/SportsManagement/GetSelectedClassSection', { passClassId: ClassId },
            function (orderdetails) {
                $("#Section").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSection")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));


                });
            });
    });
    $('#Section').change(function (event) {
        var YearId = $('#Acyear').val();
        var ClassId = $('#Class').val();
        var SecId = $('#Section').val();

        $.getJSON('/SportsManagement/GetSectionStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
            function (orderdetails) {
                $("#Student").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectStudent")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#Student").append($('<option></option>').val(c.id).html(c.name));
                });
            });
    });
    //Delete the row
    $("#btnDel").click(function (event) {
        //$("#Loading_Sec").addClass("loading-new");
        //alert("Del work")
        if (counter == 1) {
            $("#Loading_Sec").removeClass("loading-new");
            $(".jsonError").hide();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            //$("#Loading_Sec").removeClass("loading-new");
            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
            $("#AddErrorText").text('@ResourceCache.Localize("CannotRemovetheGameDetails")');
            //$("#errorMsg").text("Cannotremovetherow");
        }
        else {
            // $("#Loading_Sec").removeClass("loading-new");
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#tbody_detaillist tr:last").remove();
            counter--;
        }
    });
    //alert("delete call");
    $(document).on('click', '.btn_delete_StudentAssignGame', function () {
        //alert("delete");
        //$("#Loading_Sec").addClass("loading-new");
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        var id = $(this).attr('id');
        //alert(id)
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            buttons: {

                "Delete": function () {

                    //alert(id);
                    $.getJSON('/SportsManagement/DeleteStudentGame', { AssignGamestoStudentId: id },
                      function (data) {
                          $("#studentgameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                          $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                          $("#SuccessText").text('@ResourceCache.Localize("DeletedSuccessfully")');
                      });
                    $(this).dialog("close");

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    $('#btnreset').click(function () {
        for (var i = 1; 1 < counter; i++) {
            $("#tbody_detaillist tr:last").remove();
            counter--;
        }
        $("#Section_addgamestudent").show();
        $("#jsonSuccessMsg").hide();
        $("#jsonErrorMsg").hide();
        $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
        $("#MandatoryFieldErrorMessage_Add").hide();
        $("#jsonExceptionMsg").hide();
    });

    //Add Assgin
    $('#btnaddGameStudent').click(function () {
        $("#Loading_Sec").addClass("loading-new");
        // $("#MandatoryFieldErrorMessage_Add").hide();
        //$(".alert-danger").hide();
        $("#jsonSuccessMsg").hide();
        $("#jsonErrorMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#AddErrorText").hide();
        var a = [];
        var field_val = [];

        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '' || valu == null) {
                var null_id = $(this).attr('id');
                if (null_id == 'Acyear') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'SName') {
                    a.push('@ResourceCache.Localize("PleaseSelectSession")');
                }
                if (null_id == 'Class') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'Section') {
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'Student') {
                    a.push('@ResourceCache.Localize("PleaseSelectStudent")');

                }
                if (null_id == 'allHouse') {
                    a.push('@ResourceCache.Localize("PleaseSelectHouseName")');
                }

                if (null_id == 'stype') {
                    a.push('@ResourceCache.Localize("pleaseselectStudentType")');
                }

            }
            else {
            }
        });
        if (a.length != 0) {
            $("#Loading_Sec").removeClass("loading-new");
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_Edit").hide();
        }



        var acyear = $("#Acyear").val();

        var Session = $("#SessionName").val();

        var Class = $("#Class").val();

        var Section = $("#Section").val();

        var Student = $("#Student").val();

        var House = $("#allHouse").val();


        var Studenttype = $("#stype").val();
        var GameName = $('#GameName' + counter).val();
        var Level = $('#Level' + counter).val();
        var GamePrize = $('#GamePrize' + counter).val();
        var Mark = $('#Mark' + counter).val();

        var Description = $('#Description' + counter).val();


        var GameName = [];
        var GameLevel = [];
        var GamePrize = [];
        var GameMark = [];
        var GameDescription = [];

        for (var i = 1; i <= counter; i++) {
            var Name = $("#GameName" + i).val();
            if (Name == null || Name == "" || Name == 0) {
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#AddErrorText").text('@ResourceCache.Localize("PleaseSelectGameName")');
                return false;
            }
            var Level = $("#Level" + i).val();
            if (Level == null || Level == "" || Level == 0) {
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#AddErrorText").text('@ResourceCache.Localize("PleaseSelectLevel")');
                return false;
            }
            var Prize = $("#GamePrize" + i).val();
            if (Prize == null || Prize == "" || Prize == 0) {
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#AddErrorText").text('@ResourceCache.Localize("Please_select_Points")');
                return false;
            }


            else {
                GameName.push($("#GameName" + i).val());
                GameLevel.push($("#Level" + i).val());
                //$("#GamePrize" + i).filter_input({ regex: '[0-9]' });
                GamePrize.push($("#GamePrize" + i).val());
                GameMark.push($("#Mark" + i).val());

                GameDescription.push($("#Description" + i).val());
            }
        }


        var values = { acyear: acyear, SessionId: Session, ClassId: Class, SectionId: Section, StudentId: Student, HouseId: House, StudentType: Studenttype, GameId: GameName, levelId: GameLevel, PointId: GamePrize, Marks: GameMark, Description: GameDescription };
        //  alert(JSON.stringify(values));
        $.ajax({

            url: '/SportsManagement/addStudent',
            type: 'POST',
            data: values,
            datatype: 'json',
            contenttype: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];

                if (data.Success == 0) {

                    $(".jsonExceptionMsg").hide();
                    $("#Loading_Sec").removeClass("loading-new");
                    $(".jsonSuccessMsg").hide();
                    // $(".jsonErrorMsg").hide();
                    // $(".jsonError").hide();
                    //$(".jErr").append().empty();
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            // $(".jErr").append(li);
                            $(".Add_jErr").append(li);
                        }
                    });
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    }
                    if (data.Message != "" && data.Message != null) {

                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#studentgameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $("#Section_addgamestudent").show();

                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").show();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    }


                }




            }

        });

    });



    //filter Change Function in class & year
    $('#fClass').change(function (event) {
        //alert("Search");
        var ClassId = $('#fClass').val();
        $.getJSON('/SportsManagement/GetSelectedClassSection', { passClassId: ClassId },
            function (orderdetails) {
                $("#fSection").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSection")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#fSection").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));


                });
            });
    });
    $('#fAcyear').change(function (event) {
        //alert("Search");
        var YearId = $('#fAcyear').val();
        $.getJSON('/SportsManagement/GetSelectedYearSession', { passYearId: YearId },
            function (orderdetails) {
                $("#fSession").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSession")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#fSession").append($('<option></option>').val(c.SessionlId).html(c.SessionName));


                });
            });
    });
    $('#btnRemarks').click(function (event) {
        //alert("Submit");
        $("#Loading_Sec").addClass("loading-new");
        $("#MandatoryFieldErrorMessage_List").hide(); //add
        $("#jsonExceptionMsg").hide();
        $("#jsonSuccessMsg").hide();
        $("#jsonErrorMsg").hide();
        //$("#divStudent").hide();
        $("#jsonError").hide();
        var a = [];
        var flag = 0;
        $(".filterItem").each(function () {
            var valu = $(this).val();
            //alert("valu" + valu);
            var field_name = $(this).attr('name');
            //alert("field_name" + field_name);
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'fAcyear') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'fSession') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSession")');
                }
                if (null_id == 'fClass') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'fSection') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
            }
        });
        if (flag == 0) {
            // $('#Studentgame_list').show();
            $("#Loading_Sec").removeClass("loading-new");
            event.preventDefault();
            filterGrid();
            $("#show").show();
        }
        if (a.length != 0) {
            //$('#show').hide();
            //alert("error");

            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#show").hide();
            //$("#divStudent").hide();
            $("#MandatoryFieldErrorMessage_List").show();
            $("#Loading_Sec").removeClass("loading-new");// add
            var li = [];
            $("#List_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $("#List_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
        }


    });

    function filterGrid() {
        var postDataValues = $("#studentgameListGrid").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {

            postDataValues[$(item).attr('id')] = $(item).val();
        });

        $('#studentgameListGrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');

        $("#studentgameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };

    var AssignGamestoStudentId;
    jQuery("#studentgameListGrid").jqGrid({
        url: "/Sports/SportsManagement/StudentGameList",
        datatype: 'json',
        mtype: 'Get',
        colNames: ["AssignGamestoStudentId", '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("House_Name")', '@ResourceCache.Localize("StudentType")', '@ResourceCache.Localize("GameNameWithLevel")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Action")'],
        colModel: [
        { key: true, hidden: true, name: 'AssignGamestoStudentId', index: 'AssignGamestoStudentId' },
        { key: false, name: 'AcademicYear', index: 'AcademicYear', editable: true },
        { key: false, name: 'StudentName', index: 'StudentName', editable: true },
        { key: false, name: 'HouseName', index: 'HouseName', editable: true },
        { key: false, name: 'StudentType', index: 'StudentType', editable: true },
        { key: false, name: 'GameName', index: 'GameName', editable: true },
        { key: false, name: 'Status', index: 'Status', editable: true },
        { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' }
        ],
        pager: jQuery("#studentgameListPager"),
        rowNum: 50,
        rowList: [50, 75, 100, 125],
        height: '100%',
        viewrecords: true,
        emptyrecords: '@ResourceCache.Localize("Norecordstodisplay")',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        autowidth: true,
        hoverrows: true,

        gridComplete: function () {
            var ids = jQuery("#studentgameListGrid").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
                AssignGamestoStudentId = ids[i];
                ce = "<input style='height:23px;width:22px;' type='button' class='btn_edit_StudentGame  btn_Edit ui-icon-pencil ' id='" + AssignGamestoStudentId + "' value=''  title='Edit' />";

                de = "<input style='height:23px;width:22px;' type='button' class='btn_delete_StudentAssignGame btn_Delete ui-icon-trash' id='" + AssignGamestoStudentId + "' value='' title='Delete'/>";
                jQuery("#studentgameListGrid").jqGrid('setRowData', ids[i], { act: ce + de });
            }
        },
    }).navGrid('#studentgameListPager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#studentgameListPager',
            {
                caption: "Excel",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../SportsManagement/studentgameListExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#studentgameListPager',
            {
                caption: "Pdf",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../SportsManagement/studentgameListExportToPdf?pdf=true";
                }
            });
    $("#Loading_Sec").removeClass("loading-new");
    $("#studentgameListGrid").setCaption(' <span class="fa fa-table"></span>' + 'studentgame List');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
    //var editcount = 0;



    var numberofgameDetails = 0;
    $(document).on('click', '.btn_edit_StudentGame', function () {
        $("#Loading_Sec").addClass("loading-new");
        //numberofgameDetails = 0;
        $("#jsonErrorMsg").hide();
        //alert("Edit funstion");

        var id = $(this).attr('id');
        //alert("AssignGamestoStudentId" + id);
        //var AssGametoStuId = $("#" + id).val();
        $.getJSON('/Sports/SportsManagement/EditStudentGame', { AssignGamestoStudentId: id },
           function (data) {
               //$("#jsonSuccessMsg").hide();
               //$(".jsonSuccessMsg").hide();
               $("#Loading_Sec").removeClass("loading-new");
               $(".jsonSuccessMsg").hide();
               $(".jsonErrorMsg").hide();
               $("#jsonExceptionMsg").hide();
               $("#EditGameStudent_section").show();
               $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
               $("#MandatoryFieldErrorMessage_EditWithMsg").hide();

               $("#MandatoryFieldErrorMessage_Edit").hide();
               $("#tbody_Editdetaillist").empty();
               //$("#tbody_Editdetaillist").empty();
               $("#Section_addgamestudent").hide();
               $("#EditAcyear").val(data.ans.Acyear);
               $("#hide_EditAcyear").val(data.ans.AcyearId);
               $("#EditSessionName").val(data.ans.SessionName);
               $("#hide_EditSection").val(data.ans.SessionId);
               $("#EditClass").val(data.ans.Class);
               $("#hide_EditClass").val(data.ans.ClassId);
               $("#EditSection").val(data.ans.Section);
               $("#hide_EditSection").val(data.ans.SectionId);
               $("#EditStudentName").val(data.ans.StudentName);
               $("#hide_EditStudentName").val(data.ans.StudentRegisterId);
               $("#Editstype").val(data.ans.StudentType);
               //$("#EditallHouse").val(data.ans.HouseId);
               $("#EditallHouse").val(data.ans.HouseId);

               var Status = data.ans.Status;
               if (Status == true) {

                   $('#txt_status').prop('checked', true); //.val("true"); //.attr("selected", "true");
               }
               else {

                   $('#txt_status').prop('checked', false);// .val("false"); //.attr("selected", "true");
               }

               $("#hide_GameStudentid").val(data.ans.AssignGametoStudentId);
               $.each(data.ansGameDetails, function (i, c) {
                   //alert(c.AssignGamestoStudentConfigId);
                   numberofgameDetails = i + 1;
                   //alert("hi");
                   var id1 = "EditGameName" + numberofgameDetails;
                   var id2 = "EditGameLevel" + numberofgameDetails;
                   var id3 = "EditGamePrize" + numberofgameDetails;
                   var id4 = "EditGameMarks" + numberofgameDetails;
                   //var id5 = "EditGameDetails" + numberofgamepoint;
                   var id5 = "EditGameDescription" + numberofgameDetails;

                   //  var newRow = jQuery('<tr><td><select id="' + id1 + '" class="current_button_Edit EditallGameNames" name="' + id1 + '" ><option value="" disabled="disabled"selected="selected">PleaseselectGameName</option></select> </td><td><select id="' + id2 + '" class="current_button_Edit allLevelNames" name="' + id2 + '" ><option value="" disabled="disabled"selected="selected">PleaseselectLevelName</option></select> </td><td><select id="' + id3 + '"   class="current_button_Edit allSportsGamePoints" name="' + id3 + '"  ><option value="" disabled="disabled" selected="selected">"SelectGamePrize"</option></select> </td><td><input type="text" class="current_button_Edit" id="' + id4 + '" name="' + id4 + '"  /></td><td><input type="text" class="current_button_Edit" id="' + id5 + '" name="' + id5 + '" /></td><input type="hidden" id="EditGameTrans' + numberofgameDetails + '" name="EditGameTrans' + numberofgameDetails + '"value="' + c.AssignGamestoStudentConfigId + '" /></tr>');
                   var newRow = jQuery('<tr><td><select id="' + id1 + '" class="current_button_Edit EditallGameNames" name="' + id1 + '" ><option value="" disabled="disabled"selected="selected">@ResourceCache.Localize("PleaseselectGameName")</option></select> </td><td><select id="' + id2 + '" class="current_button_Edit allLevelNames" name="' + id2 + '" ><option value="" disabled="disabled"selected="selected">@ResourceCache.Localize("PleaseSelectLevel")</option></select> </td><td><select id="' + id3 + '"   class="current_button_Edit allSportsGamePoints" name="' + id3 + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("Please_select_Points")</option></select> </td><td><input type="text" class="current_button_Edit" id="' + id4 + '" name="' + id4 + '"  /></td><td><input type="text" class="current_button_Edit" id="' + id5 + '" name="' + id5 + '" /></td><input type="hidden" id="EditGameTrans' + numberofgameDetails + '" name="EditGameTrans' + numberofgameDetails + '"value="' + c.AssignGamestoStudentConfigId + '" /></tr>');


                   jQuery('#tbody_Editdetaillist').append(newRow);
                   //alert(c.GameId);
                   GameName(numberofgameDetails, c.GameId);

                   GameLevelstatus(numberofgameDetails, c.LevelId);

                   GamePrizestatus(numberofgameDetails, c.PointId);

                   GameMarksstatus(numberofgameDetails, c.GameMark);
                   GameDescription(numberofgameDetails, c.GameDescription);

                   var GameDetailsConficId = $("#EditGameTrans" + numberofgameDetails).val();

               });
           });

    });
    function GameName(count, value) {
        //alert("Game Mtd call")
        $.getJSON('/SportsManagement/GetGameNamelist',
             function (orderdetails) {
                 //alert("Game get game name")
                 $.each(orderdetails, function (i, c) {
                     $("#EditGameName" + count).append($('<option></option>').val(c.GameId).html(c.GameName));
                 });

                 $("#EditGameName" + count).val(value);
             });
    }
    function GameLevelstatus(count, value) {
        //alert("level Mtd call")
        $.getJSON('/SportsManagement/getLevel',
             function (orderdetails) {
                 $.each(orderdetails, function (i, c) {
                     $("#EditGameLevel" + count).append($('<option></option>').val(c.LevelId).html(c.LevelName));
                 });

                 $("#EditGameLevel" + count).val(value);
             });
    }
    function GamePrizestatus(count, value) {
        $.getJSON('/SportsManagement/GetPrizeStatus',
               function (orderdetails) {
                   $.each(orderdetails, function (i, c) {
                       $("#EditGamePrize" + count).append($('<option></option>').val(c.PointId).html(c.PointName));
                   });
                   $("#EditGamePrize" + count).val(value);
               });
    }
    function GameMarksstatus(count, value) {

        $("#EditGameMarks" + count).val(value);

    }
    function GameDescription(count, value) {

        $("#EditGameDescription" + count).val(value);

    }

    $(document).on('change', '.EditallGameNames', function () {

        var id = $(this).attr('id');
        var ret = id.split("GameName");
        var str1 = ret[0];
        var str2 = ret[1];
        var GameId = $("#" + id).val();

        $.getJSON('/SportsManagement/GetSelectedGameLevel', { passGameId: GameId },
            function (orderdetails) {
                $("#EditGameLevel" + str2).empty().append('<option value="">@ResourceCache.Localize("PleaseSelectLevel")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#EditGameLevel" + str2).append($('<option></option>').val(c.GameLevelId).html(c.GameLevelName));


                });
            });
    });
    //Edit add new game details

    $("#Editadditem").click(function (event) {
        $("#Loading_Sec").addClass("loading-new");

        $("#div_Error").hide();
        $(".jsonError").hide();


        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        //$("#EditGameMarks").filter_input({ regex: '[0-9]' });
        var GameName = $('#EditGameName' + numberofgameDetails).val();
        var Level = $('#EditGameLevel' + numberofgameDetails).val();
        var GamePrize = $('#EditGamePrize' + numberofgameDetails).val();
        var Mark = $('#EditGameMarks' + numberofgameDetails).val();
        var Description = $('#EditGameDescription' + numberofgameDetails).val();

        if (GameName == 0 || GamePrize == 0 || Level == 0) {
            $("#MandatoryFieldErrorMessage_Edit").show();
            $("#Loading_Sec").removeClass("loading-new");
            $("#Edit_jErr").text('@ResourceCache.Localize("PleaseSelectGameDetails")');
            return false();

        }

        $("#div_Error").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        numberofgameDetails++;

        // var newRow = jQuery('<tr><td><select id="EditGameName' + numberofgameDetails + '" class="current_button EditallGameNames" name="EditGameName' + numberofgameDetails + '" ><option value="" disabled="disabled">PleaseselectGameName</option></select> </td><td><select id="EditGameLevel' + numberofgameDetails + '" class="current_button allLevelNames" name="EditGameLevel' + numberofgameDetails + '" ><option value="" disabled="disabled">PleaseselectLevelName</option></select> </td><td><select id="EditGamePrize' + numberofgameDetails + '"   class="current_button allSportsGamePoints" name="EditGamePrize' + numberofgameDetails + '"  ><option value="" disabled="disabled" selected="selected">"SelectGamePrize"</option></select> </td><td><input type="text" class="current_button" id="EditGameMarks' + numberofgameDetails + '" name="EditGameMarks' + numberofgameDetails + '" title="Marks" maxlength="20" value="" /></td><td><input type="text" class="current_button" id="EditGameDescription' + numberofgameDetails + '" name="EditGameDescription' + numberofgameDetails + '" title="Description" maxlength="200" value="" /></td><input type="hidden" id="EditGameTrans' + numberofgameDetails + '" name="EditGameTrans' + numberofgameDetails + '"value="" /></tr>');
        var newRow = jQuery('<tr><td><select id="EditGameName' + numberofgameDetails + '" class="current_button EditallGameNames" name="EditGameName' + numberofgameDetails + '" ><option value="" disabled="disabled">PleaseselectGameName</option></select> </td><td><select id="EditGameLevel' + numberofgameDetails + '" class="current_button allLevelNames" name="EditGameLevel' + numberofgameDetails + '" ><option value="" disabled="disabled">PleaseselectLevel</option></select> </td><td><select id="EditGamePrize' + numberofgameDetails + '"   class="current_button allSportsGamePoints" name="EditGamePrize' + numberofgameDetails + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("Please_select_Points")</option></select> </td><td><input type="text" class="current_button" id="EditGameMarks' + numberofgameDetails + '" name="EditGameMarks' + numberofgameDetails + '" title="Marks" maxlength="20" value="" /></td><td><input type="text" class="current_button" id="EditGameDescription' + numberofgameDetails + '" name="EditGameDescription' + numberofgameDetails + '" title="Description" maxlength="200" value="" /></td><input type="hidden" id="EditGameTrans' + numberofgameDetails + '" name="EditGameTrans' + numberofgameDetails + '"value="" /></tr>');
        jQuery('#tbody_Editdetaillist').append(newRow);

        GetGameDetail1(numberofgameDetails);
        Prizestatus1(numberofgameDetails);
        $("#Loading_Sec").removeClass("loading-new");
    });
    //Values Loaded in New Drop Down
    function GetGameDetail1(cnt) {

        $.getJSON('/SportsManagement/GetGameNamelist',
             function (orderdetails) {

                 $("#EditGameName" + cnt).empty().append('<option value="">@ResourceCache.Localize("PleaseSelectGameName")</option>');
                 $.each(orderdetails, function (i, c) {
                     $("#EditGameName" + cnt).append($('<option></option>').val(c.GameId).html(c.GameName));
                 });
             });
    }
    function Prizestatus1(cnt) {
        $.getJSON('/SportsManagement/GetPrizeStatus',
             function (orderdetails) {
                 $("#EditGamePrize" + cnt).empty().append('<option value="">@ResourceCache.Localize("Please_select_Points")</option>');
                 $.each(orderdetails, function (i, c) {
                     $("#EditGamePrize" + cnt).append($('<option></option>').val(c.PointId).html(c.PointName));
                 });
             });
    }
    $("#EditbtnDel").click(function (event) {
        $("#Loading_Sec").addClass("loading-new");
        //alert("#EditGameTrans" + numberofgameDetails);

        var GameDetailsConficId = $("#EditGameTrans" + numberofgameDetails).val();
        //alert("come to else part" + numberofgameDetails);
        //alert("GameDetailsConficId=" + GameDetailsConficId);
        if (GameDetailsConficId != "" && numberofgameDetails != 1 && GameDetailsConficId != null && GameDetailsConficId != 0) {
            //alert("come to else part" + numberofgameDetails);
            $.getJSON('/SportsManagement/DeleteStudentGameDetails', { passGameDetailsConficId: GameDetailsConficId },
                                     function (data) {
                                         if (data.Message == "Deleted Successfully") {
                                             $("#Loading_Sec").removeClass("loading-new");
                                             $("#tbody_Editdetaillist tr:last").remove();
                                             numberofgameDetails--;
                                         }

                                     });

        }
        else if (numberofgameDetails == 1) {
            $(".jsonError").hide();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#Loading_Sec").removeClass("loading-new");
            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
            $("#EditErrorText").text('@ResourceCache.Localize("CannotRemovetheGameDetails")');

        }
        else {
            $("#Loading_Sec").removeClass("loading-new");
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#tbody_Editdetaillist tr:last").remove();
            numberofgameDetails--;

        }
    });




    $("#btnUpdateGameStudent").click(function () {
        //alert("Update")
        $("#Loading_Sec").addClass("loading-new");
        $("#Section_addgamestudent").hide();
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_Edit").hide();
        $("#MandatoryFieldErrorMessage_List").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();

        var a = [];
        var flag = 0;
        $(".current_button_Edit").each(function () {
            var valu = $(this).val();
            //alert("valu" + valu);
            var field_name = $(this).attr('name');
            //alert("field_name" + field_name);
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'EditallHouse') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectHouseName")');
                }
                if (null_id == 'Editstype') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("pleaseselectStudentType")');
                }
            }
        });
        if (a.length != 0) {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#show").hide();
            $("#Loading_Sec").removeClass("loading-new");
            $("#MandatoryFieldErrorMessage_Edit").show();
            //$("#MandatoryFieldErrorMessage_List").show();// add
            var li = [];
            $("#Edit_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $("#Edit_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
        }

        //alert("else Update")
        var AssignGametoStudentId = $("#hide_GameStudentid").val();
        //alert(AssignGametoStudentId)
        var HouseId = $("#EditallHouse").val();
        //alert(HouseId)
        var StudentType = $("#Editstype").val();
        //var Status = data.ans.Status;
        //alert(StudentType)

        //alert(check)

        var check = $("#txt_status").is(':checked');
        var Status;
        if (check == true) {
            Status = true;
        }
        else {
            Status = false;
        }
        var GameId = [];
        var LevelId = [];
        var PointId = [];
        var Marks = [];
        var Description = [];
        var UpdateAssgConfigId = [];

        //alert(numberofgameDetails);

        for (var i = 1; i <= numberofgameDetails; i++) {
            var Name = $("#EditGameName" + i).val();

            if (Name == null || Name == "" || Name == 0) {
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#EditErrorText").text('@ResourceCache.Localize("PleaseSelectGameName")');
                return false;
            }
            var Level = $("#EditGameLevel" + i).val();
            if (Level == null || Level == "" || Level == 0) {
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#EditErrorText").text('@ResourceCache.Localize("PleaseSelectLevel")');
                return false;
            }
            var Prize = $("#EditGamePrize" + i).val();
            if (Prize == null || Prize == "" || Prize == 0) {
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#EditErrorText").text('@ResourceCache.Localize("Please_select_Points")');
                return false;
            }


            else {
                GameId.push($("#EditGameName" + i).val());
                LevelId.push($("#EditGameLevel" + i).val());
                PointId.push($("#EditGamePrize" + i).val());
                Marks.push($("#EditGameMarks" + i).val());
                Description.push($("#EditGameDescription" + i).val());
                UpdateAssgConfigId.push($("#EditGameTrans" + i).val());
            }
        }

        var values = { AssignGametoStudentId: AssignGametoStudentId, HouseId: HouseId, StudentType: StudentType, Status: Status, UpdateGameId: GameId, UpdateLevelId: LevelId, UpdatePointId: PointId, UpdateMarks: Marks, UpdateDescription: Description, UpdateAssgConfigId: UpdateAssgConfigId };
        //alert(JSON.stringify(values));
        $.ajax({
            url: '/SportsManagement/UpdateStudentGame',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    //alert("Enter game details");
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#MandatoryFieldErrorMessage_Edit").show();
                    // $("#Edit_jErr").text("Enter game Details");
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();

                    $("#Edit_jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $("#Edit_jErr").append(li);
                        }

                        //$(".jsonExceptionMsg").hide();
                        //$(".jsonSuccessMsg").hide();
                        //$(".jsonErrorMsg").hide();
                        //$(".jsonError").show();
                        //$(".jErr").append().empty();
                        //$.each(totalError, function (i, v) {
                        //    if (totalError[i] != "" && totalError[i] != null) {
                        //        li = $("<li></li>").text(totalError[i]);
                        //        $(".jErr").append(li);
                        //    }


                    });
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonErrorMsg").show();
                        $("#MandatoryFieldErrorMessage_List").hide();
                        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                        $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#studentgameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $("#EditGameStudent_section").hide();
                        $("#Section_addgamestudent").show();

                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    }
                }
            }
        });


    });

    $("#btncancel_updateGameStudent").click(function () {

        $("#Section_addgamestudent").show();

        $("#EditGameStudent_section").hide();

        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });

</script>
}
