﻿@using eAcademy.Models
@{
    ViewBag.Title = "GameSchedule";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row1">
        <section class=" col-lg-5 col-sm-12 col-md-4  pull-right" id="Section_addgameschedule">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("EntryForm")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <!--Add Form-->
                <form>
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="row">
                            <div class="col-sm-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @*@Html.DropDownList("SName", new SelectList(ViewBag.allSessionNames, "SessionId", "SessionName"), ("Select Session Name"), new { @class = "current_button" })*@
                                    @Html.DropDownList("SName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSession"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div> <label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("GameName", new SelectList(ViewBag.allGameNames, "GameId", "GameName"), ResourceCache.Localize("SelectGameName"), new { @class = "current_button" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("LevelName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @*@Html.DropDownList("allLevel", new SelectList(ViewBag.allLevels, "LevelId", "LevelName"),("Select Level Name"), new { @class = "current_button" })*@
                                    @Html.DropDownList("Level", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectLevel"), Value = "" } }, new { @class = "current_button" })
                                </div>

                            </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("GameType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div>
                                            <input type="text" id="GameType" name="GameType" placeholder="@ResourceCache.Localize("GameType")" title="@ResourceCache.Localize("GameType")" class="current_button " readonly />
                                            @*<input type="hidden" id="hide_EditGameType" name="hide_EditGameType" />*@
                                        </div>

                                        @*<select id="Gtype" name="Gtype" class="current_button">
                    <option value="" disabled="disabled" selected="selected">Please Select Game Type</option>
                    <option value="Individual">Individual</option>
                    <option value="Team">Team</option>

                </select>*@
                                    </div>
                                </div>
                                    <div class="col-xs-12  player">

                                        <div id="div_player"> <label class="input-label-sm  current_button">@ResourceCache.Localize("ParticipatedPlayers")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <table class="table table-bordered table-striped player">
                                            <thead>
                                                <tr>
                                                    <th>@ResourceCache.Localize("PlayerName")</th>
                                                    <th>@ResourceCache.Localize("House")</th>
                                                    <th>@ResourceCache.Localize("Points")</th>

                                                </tr>
                                            </thead>

                                            <tbody id="tbody_player">

                                                <tr>
                                                    @*<td><input type="text" id="Players1" name="Players" placeholder="Players" class="current_button " title="Players" maxlength="20" /></td>*@

                                                    <td><label class="current_button" id="Player" name="Player">@ResourceCache.Localize("Competitor1")</label></td>
                                                    <td>@Html.DropDownList("allHouse1", new SelectList(ViewBag.allHouses, "HouseId", "HouseName"), ResourceCache.Localize("PleaseSelectHouseName"), new { @class = "current_button" })</td>
                                                    <td>   @Html.DropDownList("Point1", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectPoint"), Value = "" } }, new { @class = "current_button new_current_button" })</td>


                                                    @*<td>  @Html.DropDownList("Gstatus1", new SelectList(ViewBag.allSportsGamePoints, "PointId", "PointName"), "Select Point Name﻿", new { @class = "current_button" })</td>*@


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div id="addrow1" class="col-xs-12 col-sm-12">
                                            <a id="additem" name="additem" class="cursor"><i class="fa fa-plus">@ResourceCache.Localize("AddNew")</i> </a> /<a id="btnDel" name="btnDel" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                                        </div>
                                    </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ScheduleDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button" type="text" id="ADate" name="ADate" placeholder="@ResourceCache.Localize("EventDate")" title="@ResourceCache.Localize("EventDate")" readonly />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ScheduleTime")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class=" txt_starttime col-xs-12 tpicker1 current_button" type="text" id="Time" name="Time" placeholder="@ResourceCache.Localize("EventTime")" title="@ResourceCache.Localize("EventTime")" readonly />

                                </div>
                            </div>
                        </div>
                            <div class="box-footer no-border">
                                <div class="row">
                                    <div class="footer">
                                        <button type="button" class="btn btn_double  btn-sm btn_save" id="btnaddGameShedule" name="btnaddGameShedule" title="AddGametoStudent"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                        <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="btnreset"> <i class="fa fa-refresh" id="btnreset"></i>@ResourceCache.Localize("Reset")</button>
                                    </div>
                                </div><!-- /.row -->
                            </div>
                        </div>
                </form>
            </div>

        </section>
        <section class="col-lg-7 col-sm-12 col-md-8 " id="gameschedule_list">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("GameScheduleList")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->

                <div class="col-lg-12 btn-down">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    </div>
                    <form>
                        <div class="col-lg-3 col-sm-6">
                            <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label><span class="glyphicon glyphicon-asterisk"></span>
                                   @Html.DropDownList("fAcademicYear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "filterItem" })
                            </div>

                        <div class="col-lg-3 col-sm-6">
                            <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label><span class="glyphicon glyphicon-asterisk"></span>
                            @*@Html.DropDownList("SessionName", new SelectList(ViewBag.allSessionNames, "SessionId", "SessionName"),("Select Session Name"), new { @class = "filterItem" })*@

                            @Html.DropDownList("fSessionName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSession"), Value = "" } }, new { @class = "filterItem" })
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <button type="button" id="filterButton" class="btn btn-sm btn_search  btn-down"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>

                    </form>
                </div>
                <div class="col-sm-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="gamescheduleListGrid"></table>
                    <div id="gameScheduleListPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section>




        <!--Edit Form-->

        <section class="col-lg-5 col-sm-12 col-md-4  pull-right" id="EditGameSchedule_section" style="display:none">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditGameSchedule")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                       
                                             

                        <div class="row">
                            <div class="col-sm-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditAcyear" name="EditAcyear" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditAcyear" name="hide_EditAcyear" />

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditSessionName" name="EditSessionName" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditSessionName" name="hide_EditSessionName" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditGameName" name="EditGameName" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditGameName" name="hide_EditGameName" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("LevelName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditLevelName" name="EditLevelName" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditLevelName" name="hide_EditLevelName" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("GameType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input type="text" id="EditGameType" name="EditGameType" class="current_button_Edit " readonly />
                                    <input type="hidden" id="hide_EditGameType" name="hide_EditGameType" />
                                </div>
                            </div>
                        </div>
                            <div class="col-xs-12  player">

                                <div id="Edit_div_player"> <label class="input-label-sm" style=" font-size:14px;">@ResourceCache.Localize("ParticipatedPlayers")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <table class="table table-bordered table-striped Editplayer">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("PlayerName")</th>
                                            <th>@ResourceCache.Localize("House")</th>
                                            <th>@ResourceCache.Localize("Points")</th>

                                        </tr>
                                    </thead>

                                    <tbody id="tbody_Editplayer" class="current_button_Edit">

                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div id="EditAddrow" class="col-xs-12 col-sm-12">
                                    <a id="EditAdditem" name="EditAdditem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="EditbtnDel" name="EditbtnDel" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ScheduleDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button_Edit" type="text" id="EditDate" name="EditDate" placeholder="@ResourceCache.Localize("EventDate")" title="@ResourceCache.Localize("EventDate")" readonly />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ScheduleTime")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class=" txt_starttime col-xs-12 tpicker1" type="text" id="EditTime" name="EditTime" placeholder="@ResourceCache.Localize("EventTime")" title="@ResourceCache.Localize("EventTime")" readonly />
                                </div>
                            </div>
                        </div>
                            <div style="margin-left:20px">

                                <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                                <div><input class="current_button_Edit" type="checkbox" id="EditStatus" name="EditStatus" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                            </div>
                        </div><!-- /.box-body -->

                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer">
                                    <input type="hidden" id="hide_GameScheduleid" name="hide_GameScheduleid" />
                                    <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateGameSchedule" name="btnUpdateGameSchedule" title=Update><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                    <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateGameSchedule" name="btncancel_updateGameSchedule" title=Cancel> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                                </div>
                            </div><!-- /.row -->
                        </div>

</form>
            </div><!-- /.box -->
        </section><!-- right col -->

        <div id="dialog-confirm" title="@ResourceCache.Localize("DeleteFromList")" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>

  </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#Time").timepicker({ timeFormat: 'HH:mm' });
        $("#EditTime").timepicker({ timeFormat: 'HH:mm' });


        //Current Academic year value
       
        $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
        $('#fAcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        DateByAcYear(@Session["Add_ChosenAcademicYearId"]);
        var YearId = $('#Acyear').val();
        AssignAcademicYear(YearId);
        Add_AssignAcademicYear(YearId);
        DateByAcYear(YearId);
        getSessionAcademicYear(YearId);
        var FYearId = $('#fAcademicYear').val();
        fgetSessionAcademicYear(YearId);
        //Add Form
        $('#Acyear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Acyear').val();
            AssignAcademicYear(YearId);
            $('#fAcademicYear').val(YearId);
            Add_AssignAcademicYear(YearId);
            DateByAcYear(YearId);
            getSessionAcademicYear(YearId);
            var FYearId = $('#fAcademicYear').val();
            fgetSessionAcademicYear(YearId);
        });

        //List
        $('#fAcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#fAcademicYear').val();
            AssignAcademicYear(YearId);

        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        function getSessionAcademicYear(YearId) {
            $.getJSON('/SportsManagement/GetSelectedSession', { passAcademicYearId: YearId },
        function (orderdetails) {
            $("#SName").empty().append('<option value="">@ResourceCache.Localize("SelectSession")</option>');
            $.each(orderdetails, function (i, c) {
                $("#SName").append($('<option></option>').val(c.SessionId).html(c.SessionName));
            });
        });
        }


        function fgetSessionAcademicYear(FYearId) {
           
            $.getJSON('/SportsManagement/GetSelectedSession', { passAcademicYearId: FYearId },
        function (orderdetails) {
            $("#fSessionName").empty().append('<option value="">@ResourceCache.Localize("SelectSession")</option>');
            $.each(orderdetails, function (i, c) {
                $("#fSessionName").append($('<option></option>').val(c.SessionId).html(c.SessionName));
            });
        });
        }
            










// EditDate(EditAcademicYearId);
var gamedetails = 0;
            $('#Point1').append($('<option>', { value: 1, text: '@ResourceCache.Localize("NotConducted")' }));

            function DateByAcYear(AcademicYearId) {
                // alert("iii");
                $("#ADate").datepicker("destroy");
                $.getJSON("/SportsManagement/CustomeActiveDate", { acid: AcademicYearId },
               function (data) {

                   // alert("ed" + data.ed);
                   var dates = $("#ADate").datepicker({
                       dateFormat: 'dd/mm/yy',
                       minDate: data.sd,
                       maxDate: data.ed,
                       changeMonth: true,
                       changeYear: true,

                   });

               });
            }

            //$(function (data) {
            //            var dates = $("#EditDate").datepicker({
            //                dateFormat: 'dd/mm/yy',
            //                minDate: data.sd,
            //                maxDate: data.ed,
            //                changeMonth: true,
            //                changeYear: true,

            //            });
            //        });


            //var EditAcademicYearId = $("#hide_EditAcyear").val(data.ans.AcademicYearId);
            //alert("EditAcademicYearId " + EditAcademicYearId);

            function EditDate(YearId) {
                // alert("iii");
                $("#EditDate").datepicker("destroy");
                $.getJSON("/SportsManagement/CustomeActiveDate", { acid: YearId },
               function (data) {
                   // alert("get "+data.sd);
                   //  alert("EditAcademicYearId " + data.acid);
                   //  alert("ed" + data.ed);
                   var dates = $("#EditDate").datepicker({
                       dateFormat: 'dd/mm/yy',
                       minDate: data.sd,
                       maxDate: data.ed,
                       changeMonth: true,
                       changeYear: true,

                   });

               });
            }



            //AcademicYear With Session Change function
            @*$('#Acyear').change(function (event) {
        // alert("year" + Acyear);
        var AcademicYearId = $('#Acyear').val();
        DateByAcYear(AcademicYearId);
        $.getJSON('/SportsManagement/GetSelectedSession', { passAcademicYearId: AcademicYearId },
            function (orderdetails) {
                $("#SName").empty().append('<option value="">@ResourceCache.Localize("SelectSession")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#SName").append($('<option></option>').val(c.SessionId).html(c.SessionName));
                });
            });
    });*@

            //GameName With Level Change function
            $('#GameName').change(function (event) {
                var GameId = $('#GameName').val();
                $.getJSON('/SportsManagement/GetGameLevel', { passGameId: GameId },
                    function (orderdetails) {
                        $("#Level").empty().append('<option value="">@ResourceCache.Localize("SelectLevel")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Level").append($('<option></option>').val(c.GameLevelId).html(c.GameLevelName));
                        });
                    });
            });

            //GameName with gametype
            $('#GameName').change(function (event) {
                var GameId = $('#GameName').val();
                $.getJSON('/SportsManagement/GetSelectedGameType', { PGameId: GameId },
                    function (data) {
                        $("#GameType").val(data.gtype)
                    })
            });

            //GameName with points
            $('#GameName').change(function (event) {
                var GameId = $('#GameName').val();
                $.getJSON('/SportsManagement/GetSelectedGamePoints', { passGameId: GameId },
                    function (orderdetails) {
                        $("#Point1").empty().append('<option value="">@ResourceCache.Localize("SelectPoint")</option>');
                        $("#Point1").append('<option value="1">@ResourceCache.Localize("NotConducted")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Point1").append($('<option></option>').val(c.PointId).html(c.PointName));
                        });
                    });
            });

            //FilterGameName With Level Change function
            $('#fGameName').change(function (event) {
                var GameId = $('#fGameName').val();
                $.getJSON('/SportsManagement/GetSelectedGameLevel', { passGameId: GameId },
                    function (orderdetails) {
                        $("#fLevel").empty().append('<option value="">@ResourceCache.Localize("SelectLevel")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#fLevel").append($('<option></option>').val(c.GameLevelId).html(c.GameLevelName));
                        });
                    });
            });

            //FilterAcademicYear With Session Change function
            $('#fAcademicYear').change(function (event) {
                // alert('year');
                var AcademicYearId = $('#fAcademicYear').val();
                $.getJSON('/SportsManagement/GetSelectedSession', { passAcademicYearId: AcademicYearId },
                    function (orderdetails) {
                        $("#fSessionName").empty().append('<option value="">@ResourceCache.Localize("SelectSession")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#fSessionName").append($('<option></option>').val(c.SessionId).html(c.SessionName));
                        });
                    });
            });
            //Add New Row in DropDown
            var counter = 1;
            $("#additem").click(function (event) {
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").show();
                $(".jsonErrorMsg").hide();
                $("#errorMsg").empty();

                var house = $('#allHouse' + counter).val();
                var Point = $('#Point' + counter).val();

                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#errorMsg").empty();
                counter++;

                if (house == 0 && Point == 0) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#MandatoryFieldErrorMessage_Add").hide();
                    $("#AddErrorText").text('@ResourceCache.Localize("PleaseselectHouseandPoints")');
                    return false();
                }
                if (house == 0 || Point == 0) {

                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#MandatoryFieldErrorMessage_Add").hide();
                    $("#AddErrorText").text('@ResourceCache.Localize("PleaseselectFields")');
                    return false();
                }

                var newRow = jQuery('<tr><td><label>@ResourceCache.Localize("Competitorplayer")' + counter + '</label></td>  <td><select id="allHouse' + counter + '"   class="current_button allHouse" name="allHouse' + counter + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("SelectHouseName")</option></select> </td><td><select id="Point' + counter + '"  class="current_button Point" name="Point' + counter + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("SelectPointName")</option><option value="1" selected="selected">@ResourceCache.Localize("NotConducted")</option></select> </td></tr>');
                jQuery('table.player').append(newRow);
                Housestatus(counter);
                Pointstatus(counter);

            });


            function Pointstatus(cnt) {
                var GameId = $('#GameName').val();
                $.getJSON('/SportsManagement/GetSelectedGamePoints', { passGameId: GameId },
                     function (orderdetails) {
                         $("#Point" + cnt).empty().append('<option value="">@ResourceCache.Localize("SelectPoint")</option>');
                         $("#Point" + cnt).append('<option value="1">@ResourceCache.Localize("NotConducted")</option>');
                         $.each(orderdetails, function (i, c) {
                             $("#Point" + cnt).append($('<option></option>').val(c.PointId).html(c.PointName));
                         });
                     });
            }

            function Housestatus(cnt) {
                $.getJSON('/SportsManagement/GetHouseStatus',
                     function (orderdetails) {
                         $("#allHouse" + cnt).empty().append('<option value="">@ResourceCache.Localize("SelectHouse")</option>');
                         $.each(orderdetails, function (i, c) {
                             $("#allHouse" + cnt).append($('<option></option>').val(c.HouseId).html(c.HouseName));
                         });
                     });
            }

            //Delete Row in Dropdown
            $("#btnDel").click(function (event) {
                if (counter == 1) {
                    $(".jsonError").hide();
                    $("#div_Error").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text('@ResourceCache.Localize("CannotRemoveRow")');
                }
                else {
                    // $("#Loading_Sec").removeClass("loading-new");
                    $("#div_Error").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("table.player tr:last").remove();
                    counter--;
                }

                @*if (counter == 1) {
            $(".jsonError").hide();
            $("#div_Error").show();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
            $("#AddErrorText").text(("@ResourceCache.Localize("CannotRemoveRow")"));
        }
        else {
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".alert-danger").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("table.player tr:last").remove();
            counter--;
        }*@
            });



            $('#btnaddGameShedule').click(function () {
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                //$("#AddErrorText").hide();
                //$(".alert - danger").hide();

                // alert("Add");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');

                        if (null_id == 'Acyear') {
                            a.push("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                        }
                        if (null_id == 'SName') {
                            a.push("@ResourceCache.Localize("PleaseSelectSessionName")");
                        }
                        if (null_id == 'GameName') {
                            a.push("@ResourceCache.Localize("PleaseSelectGameName")");
                        }
                        if (null_id == 'allLevel') {
                            a.push("@ResourceCache.Localize("PleaseSelectLevelName")");
                        }
                        if (null_id == 'GameType') {
                            a.push("@ResourceCache.Localize("Pleaseselectgametype")");
                        }
                        if (null_id == 'ADate') {
                            a.push("@ResourceCache.Localize("PleaseSelectScheduleDate")");
                        }
                        if (null_id == 'Time') {

                            a.push("@ResourceCache.Localize("PleaseSelectScheduleTime")");
                        }
                        if (null_id == 'allHouse' + counter) {
                            a.push("@ResourceCache.Localize("PleaseSelectHouseName")");
                        }
                        if (null_id == 'Point' + counter) {
                            a.push("@ResourceCache.Localize("PleaseSelectPoint")");
                        }
                    }
                    else {
                        $("#MandatoryFieldErrorMessage_Edit").hide();
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Edit").hide();
                }

                var allHouseId = [];
                for (var i = 1; i <= counter; i++) {
                    var house = $("#allHouse" + i).val();
                    if ((house == null || house == "" || house == 0) && (Point == null || Point == "")) {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $(".Add_jErr").append().empty();
                        $("#AddErrorText").text('@ResourceCache.Localize("PleaseselectHouseandPoints")');
                        return false;
                    }
                    else {

                        allHouseId.push($("#allHouse" + i).val());
                    }

                }

                var rnamesort = allHouseId.sort();
                for (var i = 0; i < rnamesort.length - 1; i++) {
                    if (rnamesort[i + 1] == rnamesort[i]) {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $(".Add_jErr").append().empty();
                        $("#AddErrorText").text('@ResourceCache.Localize("PleasedonotrepeatsameHouse")');
                        return false;
                    }
                }

                var PointId = [];
                for (var i = 1; i <= counter; i++) {
                    var Point = $("#Point" + i).val();
                    if (Point == null || Point == "") {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $(".Add_jErr").append().empty();
                        $("#AddErrorText").text('@ResourceCache.Localize("PleaseSelectPoint")');
                        return false;
                    }
                    else {
                        PointId.push($("#Point" + i).val());
                    }
                }

                var Academicyear = $("#Acyear").val();
                var Session = $("#SName").val();
                var Game = $("#GameName").val();
                var Level = $("#Level").val();
                var GameType = $("#GameType").val();
                var Date = $("#ADate").val();
                var Time = $("#Time").val();

                var values = { AcademicYearId: Academicyear, SessionId: Session, GameId: Game, LevelConFigId: Level, GameType: GameType, HouseId: allHouseId, PlayerStatusId: PointId, ScheduleDate: Date, ScheduleTime: Time };
                //  alert(JSON.stringify(values));
                $.ajax({
                    url: '/SportsManagement/AddGameSchedule',
                    type: 'POST',
                    data: values,
                    datatype: 'json',
                    contenttype: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").hide();
                            // $(".jErr").append().empty();
                            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_Add").show();
                            $(".Add_jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".Add_jErr").append(li);
                                }
                            });

                            //$.each(totalError, function (i, v) {
                            //    if (totalError[i] != "" && totalError[i] != null) {
                            //        li = $("<li></li>").text(totalError[i]);
                            //        $(".jErr").append(li);
                            //    }
                            //});
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").show();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#AddErrorText").hide();
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#gamescheduleListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Section_addgameschedule").show();
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }

                    }
                });
            });

            //Reset
            $('#btnreset').click(function () {
                // alert("reset");

                //  alert("counter " + counter);
                for (var i = 1; 1 < counter; i++) {
                    // alert("rr");
                    $("table.player tr:last").remove();
                    counter--;
                }
                $("#Section_addgameschedule").show();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                //  $(".tbody_player").remove();
                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
            });

            //for (var i = 1; 1 < counter; i++) {
            //    $("#tbody_drop tr:last").remove();
            //    counter--;
            //}


            //Grid Table List

            var GameScheduleId;
            jQuery("#gamescheduleListGrid").jqGrid({
                url: "/Sports/SportsManagement/GamescheduleList",
                datatype: 'json',
                mtype: 'Get',
                colNames: ["", "@ResourceCache.Localize("GameName")", "@ResourceCache.Localize("LevelName")", "@ResourceCache.Localize("GameType")", "@ResourceCache.Localize("House_Name")", "@ResourceCache.Localize("Date")", "@ResourceCache.Localize("Time")", "@ResourceCache.Localize("Status")", "@ResourceCache.Localize("Action")"],
                colModel: [
                 { key: true, hidden: true, name: 'GameScheduleId', index: 'GameScheduleId' },
                 { key: false, name: 'GameName', index: 'GameName', editable: true },
                 { key: false, name: 'LevelName', index: 'LevelName', editable: true },
                 { key: false, name: 'GameType', index: 'GameType', editable: true },
                 { key: false, name: 'HouseName', index: 'HouseName', editable: true },
                 { key: false, name: 'Date', index: 'Date', editable: true },
                 { key: false, name: 'GTime', index: 'GTime', editable: true },
                 { key: false, name: 'Status', index: 'Status', editable: true },
                 { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' }
                ],
                pager: jQuery("#gameScheduleListPager"),
                rowNum: 10,
                rowList: [50, 100, 250, 500, 1000],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

                gridComplete: function () {
                    var ids = jQuery("#gamescheduleListGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        GameScheduleId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_GameSchedule btn_Edit ui-icon-pencil '  id='" + GameScheduleId + "' value=''  title='@ResourceCache.Localize("Edit")' />";
                        de = "<input style='height:23px;width:22px;' type='button' class='btn_delete_GameSchedule   btn_Delete ui-icon-trash' id='" + GameScheduleId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                        jQuery("#gamescheduleListGrid").jqGrid('setRowData', ids[i], { act: be + de });
                    }
                },

            }).navGrid('#gameScheduleListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                            ).jqGrid('navButtonAdd', '#gameScheduleListPager',
                            {
                                caption: "Excel",
                                buttonicon: "ui-icon-bookmark",
                                onClickButton: function () {
                                    window.location.href = "../SportsManagement/GameScheduleListToExcel";
                                }
                            }).jqGrid('navButtonAdd', '#gameScheduleListPager',
                            {
                                caption: "Pdf",
                                buttonicon: "ui-icon-print",
                                position: "last",
                                onClickButton: function () {
                                    window.location.href = "../SportsManagement/GameScheduleListToPdf?pdf=true";
                                }
                            });

            $("#gamescheduleListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("GameScheduleList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            //   alert('ListEnd');

            //Filter-SearchButton
            $('#filterButton').click(function (event) {

                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();

                var a = [];
                var flag = 0;
                $(".filterItem").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        // alert("jjj " + null_id);
                        if (null_id == 'fAcademicYear') {
                            flag = 1;
                            a.push("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                        }
                        if (null_id == 'fSessionName') {
                            flag = 1;
                            a.push("@ResourceCache.Localize("SelectSessionname")");
                        }
                    }
                });
                if (flag == 0) {
                    $('#show').show();
                    event.preventDefault();
                    filterGrid();
                }
                // List_jErr
                if (a.length != 0) {
                    $('#show').hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#jsonError").show();
                    $("#jErr").show();
                    $("#List_jErr").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }

            });

            function filterGrid() {
                var postDataValues = $("#gamescheduleListGrid").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#gamescheduleListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
                $("#gamescheduleListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };




            //EDITGAMESCHEDULE

            $(document).on('click', '.btn_edit_GameSchedule', function () {
                $("#Section_addgameschedule").hide();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_Edit").hide();
                $("#tbody_Editplayer").empty();



                // $("#jsonErrorMsg").hide();
                var id = $(this).attr('id');
                $.getJSON('/SportsManagement/EditGameSchedule', { GameScheduleId: id },
                   function (data) {
                       $("#EditGameSchedule_section").show();
                       $("#Section_addgameschedule").hide();
                       $("#hide_GameScheduleid").val(data.ans.GameScheduleId);
                       $("#hide_EditAcyear").val(data.ans.AcademicYearId);
                       $("#EditAcyear").val(data.ans.AcademicYear);

                       $("#hide_EditSessionName").val(data.ans.SessionId);
                       $("#EditSessionName").val(data.ans.SessionName);
                       $("#hide_EditGameName").val(data.ans.GameId);
                       $("#EditGameName").val(data.ans.GameName);
                       $("#hide_EditLevelName").val(data.ans.LevelId);
                       $("#EditLevelName").val(data.ans.LevelName);
                       $("#hide_EditGameType").val(data.ans.GameType);
                       $("#EditGameType").val(data.ans.GameType);


                       $("#EditDate").val(data.ans.EDate);
                       $("#EditTime").val(data.ans.ETime);
                       var Status = data.ans.Status;
                       if (Status == true) {
                           $('#EditStatus').prop('checked', true);
                       }
                       else {
                           $('#EditStatus').prop('checked', false);
                       }
                       YearId = data.ans.AcademicYearId;
                       //  alert("YearId " + YearId);
                       EditDate(YearId);
                       $.each(data.detail, function (i, c) {
                           gamedetails = i + 1;
                           var id1 = "EditPlayer" + gamedetails;
                           var id2 = "EditHouse" + gamedetails;
                           var id3 = "EditPoint" + gamedetails;

                           var newRow = jQuery('<tr><td><label>@ResourceCache.Localize("Competitorplayer")' + gamedetails + '</label></td><td><select id="' + id2 + '" class="current_button_Edit EditHouse" name="' + id2 + '" ><option value="" disabled="disabled"selected="selected">@ResourceCache.Localize("PleaseSelectHouse")</option></select> </td><td><select id="' + id3 + '"   class="current_button_Edit EditPoint" name="' + id3 + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseSelectPoint")</option></select><input type="hidden" id="EditScheduleTrans' + gamedetails + '" name="EditScheduleTrans' + gamedetails + '"value="' + c.ScheduleConfigId + '" /></td></tr>');
                           jQuery('#tbody_Editplayer').append(newRow);

                           getEditHouseValue(gamedetails, c.HouseId);
                           getEditPointValue(gamedetails, c.PointId);

                           //var Eid = ($("#hide_EditAcyear").val(data.ans.AcademicYearId));
                           //alert("EditAc " + Eid);
                           //EditDate(Eid);

                           // var ScheduleConfigId = $("#EditScheduleTrans" + gamedetails).val();
                           // EditDate(@Session["EditAcademicYearId"]);
                       });
                   });

                function getEditHouseValue(count, value) {
                    $.getJSON('/SportsManagement/GetEditHouseDetail',
                        function (orderdetails) {
                            $.each(orderdetails, function (i, c) {
                                $("#EditHouse" + count).append($('<option></option>').val(c.HouseId).html(c.HouseName));
                            });
                            $("#EditHouse" + count).val(value);
                        })
                }


                function getEditPointValue(count, value) {
                    var GameId = $('#hide_EditGameName').val();
                    $.getJSON('/SportsManagement/GetEditPointDetail', { passGameId: GameId },
                        function (orderdetails) {

                            $.each(orderdetails, function (i, c) {
                                $("#EditPoint" + count).append($('<option></option>').val(c.PointId).html(c.PointName));
                            });
                            $("#EditPoint" + count).val(value);
                        })
                }
            });


            //Add New Drop Down in Edit Function
            $("#EditAdditem").click(function (event) {
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#errorMsg").empty();

                var Player = $('#EditPlayer' + gamedetails).val();
                var House = $('#EditHouse' + gamedetails).val();
                var Point = $('#EditPoint' + gamedetails).val();


                if (House == 0 && Point == 0) {
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text('@ResourceCache.Localize("PleaseselectHouseandPoints")');
                    return false();
                }
                if (House == 0 || Point == 0) {

                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text('@ResourceCache.Localize("PleaseselectFields")');
                    return false();
                }


                $(".EditAddrow").each(function () {
                    if (House == 0 && Point == 0) {
                        $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                        $("#EditErrorText").text('@ResourceCache.Localize("PleaseselectHouseandPoints")');
                        return false();
                    }
                    if (House == 0 || Point == 0) {
                        $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                        $("#EditErrorText").text('@ResourceCache.Localize("PleaseSelectPoint")');
                        return false();
                    }
                });
                //var ScheduleConfigId = $("#EditScheduleTrans" + gamedetails).val();

                gamedetails++;

                var newRow = jQuery('<tr><td><label>@ResourceCache.Localize("Competitorplayer")' + gamedetails + '</label></td><td><select id="EditHouse' + gamedetails + '" class="current_button EditHouse" name="EditHouse' + gamedetails + '" ><option value="" disabled="disabled">@ResourceCache.Localize("PleaseSelectHouse")</option></select> </td><td><select id="EditPoint' + gamedetails + '"   class="current_button EditPoint" name="EditPoint' + gamedetails + '"  ><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseSelectPoint")</option></select><input type="hidden" id="EditScheduleTrans' + gamedetails + '" name="EditScheduleTrans' + gamedetails + '"value="" /></td></tr>');
                jQuery('#tbody_Editplayer').append(newRow);

                EditHousestatus(gamedetails);
                EditPointstatus(gamedetails);
            });


            function EditHousestatus(cnt) {
                $.getJSON('/SportsManagement/GetEditHouseStatus',
                     function (orderdetails) {
                         $("#EditHouse" + cnt).empty().append('<option value="">@ResourceCache.Localize("SelectHouse")</option>');
                         $.each(orderdetails, function (i, c) {
                             $("#EditHouse" + cnt).append($('<option></option>').val(c.HouseId).html(c.HouseName));
                         });
                     });
            }

            function EditPointstatus(cnt) {
                var GameId = $('#hide_EditGameName').val();
                $.getJSON('/SportsManagement/GetSelectedGamePoints', { passGameId: GameId },
                     function (orderdetails) {
                         // alert("Points11");
                         $("#EditPoint" + cnt).empty().append('<option value="">@ResourceCache.Localize("SelectPoint")</option>');
                         $("#EditPoint" + cnt).append('<option value="1">@ResourceCache.Localize("NotConducted")</option>');
                         $.each(orderdetails, function (i, c) {
                             $("#EditPoint" + cnt).append($('<option></option>').val(c.PointId).html(c.PointName));
                         });
                     });
            }






            $("#EditbtnDel").click(function (event) {
                //alert("gamedetails " + gamedetails);
                var ScheduleConfigId = $("#EditScheduleTrans" + gamedetails).val();
                //alert("ScheduleConfigId " + ScheduleConfigId);
                @*if (ScheduleConfigId == "") {
            // alert("editdelete");
            $(".jsonError").hide();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#tbody_Editplayer tr:last").remove();
            gamedetails--;
            //$("#MandatoryFieldErrorMessage_AddWithMsg").show();
            //$("#AddErrorText").text(("Cannot Remove Row"));
        }
        else if (gamedetails == 1) {
            $(".jsonError").hide();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
            $("#EditErrorText").text('@ResourceCache.Localize("Cannotremoverow")');
        }
        else {
            //  alert("del");
            $.getJSON('/SportsManagement/DeleteGameScheduleDetails', { passGameScheduleConficId: ScheduleConfigId },
                                     function (data) {
                                         // alert('delete');
                                         if (data.Message == "DeletedSuccessfully") {
                                             $(".jsonError").hide();
                                             $(".jsonErrorMsg").hide();
                                             $(".jsonExceptionMsg").hide();
                                             $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                                             //$(".jsonSuccessMsg").show();
                                             $(".jSuccessMsg").html(data.Message).val(data.Message);
                                             $("#tbody_Editplayer tr:last").remove();
                                             gamedetails--;

                                         }

                                     });
        }*@

                if (ScheduleConfigId != "" && gamedetails != 1 && ScheduleConfigId != null && ScheduleConfigId != 0) {
                    //alert("come to else part" + numberofgameDetails);
                    $.getJSON('/SportsManagement/DeleteGameScheduleDetails', { passGameScheduleConficId: ScheduleConfigId },
                                             function (data) {
                                                 if (data.Message == "DeletedSuccessfully") {
                                                     $(".jsonError").hide();
                                                     $(".jsonErrorMsg").hide();
                                                     $(".jsonExceptionMsg").hide();
                                                     $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                                                     $("#tbody_Editplayer tr:last").remove();
                                                     gamedetails--;
                                                 }

                                             });

                }
                else if (gamedetails == 1) {
                    $(".jsonError").hide();
                    $("#div_Error").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text('@ResourceCache.Localize("CannotRemoveRow")');

                }
                else {
                    $("#div_Error").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#tbody_Editplayer tr:last").remove();
                    gamedetails--;

                }


            });



            $("#btnUpdateGameSchedule").click(function () {
                // alert("update");
                $("#Section_addgameschedule").hide();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();

                var GameScheduleId = $("#hide_GameScheduleid").val();
                var check = $("#EditStatus").is(':checked');
                var Date = $("#EditDate").val();
                var Time = $("#EditTime").val();
                var Status;
                if (check == true) {
                    Status = true;
                }
                else {
                    Status = false;
                }

                var HouseId = [];
                var PointId = [];
                var ScheduleConfigId = [];


                for (var i = 1; i <= gamedetails; i++) {
                    // alert("loop " + gamedetails);
                    var House = $("#EditHouse" + i).val();
                    //alert("House " + House);
                    if (House == null || House == "" || House == 0) {
                        $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                        $("#EditErrorText").text('@ResourceCache.Localize("PleaseSelectHouse")');
                        return false;
                    }
                    else {

                        HouseId.push(House);
                    }

                }

                var rnamesort = HouseId.sort();
                for (var i = 0; i < rnamesort.length - 1; i++) {
                    if (rnamesort[i + 1] == rnamesort[i]) {
                        $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                        $("#EditErrorText").text('@ResourceCache.Localize("PleasedonotrepeatsameHouse")');
                        return false;
                    }
                }

                for (var i = 1; i <= gamedetails; i++) {
                    var Point = $("#EditPoint" + i).val();
                    // alert("Point " + Point);
                    if (Point == null || Point == "") {
                        $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                        $("#EditErrorText").text('@ResourceCache.Localize("PleaseSelectPoint")');
                        return false;
                    }
                    else {
                        //PointId.push($("#EditPoint" + i).val());
                        PointId.push(Point);
                        ScheduleConfigId.push($("#EditScheduleTrans" + i).val());
                    }
                }



                //for (var i = 1; i <= gamedetails; i++) {
                //    HouseId.push($("#EditHouse" + i).val());
                //    PointId.push($("#EditPoint" + i).val());
                //    ScheduleConfigId.push($("#EditScheduleTrans" + i).val());
                //}

                var values = { GameScheduleId: GameScheduleId, HouseId: HouseId, PointId: PointId, ScheduleDate: Date, ScheduleTime: Time, Status: Status, ScheduleConfigId: ScheduleConfigId };

                // alert(JSON.stringify(values));

                $.ajax({
                    url: '/SportsManagement/updateGameSchedule',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {

                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").hide();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#gamescheduleListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    }
                });
            });

            $("#btncancel_updateGameSchedule").click(function () {
                $("#Section_addgameschedule").show();
                $("#EditGameSchedule_section").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });

            //Delete
            $(document).on('click', '.btn_delete_GameSchedule', function () {
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                var id = $(this).attr('id');

                $("#dialog-confirm").dialog({

                    resizable: false,
                    modal: true,
                    buttons: {
                        "Delete": function () {

                            $(this).dialog("close");

                            $.getJSON('/SportsManagement/DeleteGameSchedule', { GameScheduleId: id },
                               function (data) {
                                   $("#gamescheduleListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                   $("#SuccessText").text(("@ResourceCache.Localize("Deletedsuccessfully")"));
                               });

                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
</script>
        }




