﻿@using eAcademy.Models

@{
    ViewBag.Title = "SessionResult";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-9 col-lg-9 " id="Section_SessionResult">         
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("SessionResult")</span>
                    <div class="box-tools">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = " current_button" })                           
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnsubmityear" name=" btnsubmityear" ><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                        <div class="col-lg-12 " id="Div_GetSessionlist" style="display:none">
                            <div id="Div_Table">
                                <label class="input-label-sm ">@ResourceCache.Localize("SessionDetail")</label>
                            </div>
                             <div class="box-footer no-border">
                                <div class="row">
                                    <div class="footer">
                                        <center><input type="hidden" id="savecount" class="col-lg-3" /> <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnaddSessionresult" name="btnaddSessionresult" title="Save Sessionresult"> <i class="fa fa-save"></i>@ResourceCache.Localize("Save")</button></center>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </div>                  
                </form>
            </div>
        </section>       
             </div>
        </section>
        

@section scriptsContainer{
            <script src="~/js/jquery.filter_input.js"></script>
            <script type="text/javascript">
                $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
                var YearId = $('#Acyear').val();
                AssignAcademicYear(YearId);
                Add_AssignAcademicYear(YearId);
    

                function AssignAcademicYear(YearId) {
                    $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                              function (orderdetails) {
                              });
                }
                function Add_AssignAcademicYear(YearId) {
                    $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                              function (orderdetails) {
                              });
                }


    var counter = 0;
    var SessionCounts = 0;
    var FRCount = 0;
    var EditHouseCounts = 0;
    $('#btnsubmityear').click(function () {

       // alert("btnsubmityear");
        SessionCounts = 0;
        var FRCount = 0;
        $("#SessionList").empty();
        $("#SessionList").remove();
        $("#SessionList tbody").empty();
        $(".title").empty();
        $("#MandatoryFieldErrorMessage_Add").hide();
        $(".ShowjsonSuccessMsg").hide();
        $("#jsonErrorMsg").hide();
        $(".ShowjSuccessMsg").hide();
        $("#successmsg").hide();
        $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
        $("#AddErrorText").hide();


        var YearId = $('#Acyear').val();
        var a = [];
        var field_val = [];
        var flag = 0;
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Acyear') {
                    flag = 1;
                    a.push("@ResourceCache.Localize("PleaseSelectYear")");
                }
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
                $(".Add_jErr").hide();
            }
        });
        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }

        $.getJSON('/SportsManagement/GetGameDetail', { passYearId: YearId },
            function (orderdetails) {
                if (orderdetails.Message == "new") {
                    $("#Div_GetSessionlist").show();
                    // alert("This is new TABLE......");
                    mytable = $('<table border=1 class=" table table-bordered table-striped col-lg-12"></table>').attr({ id: "SessionList" });
                    myhead = $('<thead></thead>').appendTo(mytable);
                    myheadtr = $('<tr></tr>').appendTo(myhead);

                    var rows = orderdetails.GameNameList.length;
                    var cols = orderdetails.SessionNameList.length;
                    //Table Header.............

                    $('<th> @ResourceCache.Localize("GameName")</th>').appendTo(myheadtr);
                    $.each(orderdetails.SessionNameList, function (cols, c) {
                        $('<th><label>' + c.SessionName + '</label></th><input type="hidden" id="Sessionnameid' + counter + '" name="Sessionnameid' +
                            counter + '" class="Sessionnameid current_button"  value="' + c.SessionId + '"/>').appendTo(myheadtr);
                        counter++;
                    });
                    $('<th>@ResourceCache.Localize("FinalResult")</th>').appendTo(myheadtr);

                    //Table Body.............

                    var counts = 0;
                    mytbody = $('<tbody></tbody>').appendTo(mytable);
                    for (var i = 0; i < rows; i++) {
                        var List = orderdetails.GameNameList[i];
                        var gameName = List.GameName;
                        var gameid = List.GameId;
                        var sessiongameNames;
                        var mytbodytd = $('<tr><td>' + gameName + '</td><input type="hidden" id="gameID' + i + '" name="gameID' + i + '" class="GameNameId current_button" value= "' + gameid + '"/>').appendTo(mytbody);

                        for (var j = 0; j < cols; j++) {
                            var SnList = orderdetails.SessionNameList[j];
                            var sessionNames = SnList.SessionName;
                            sessiongameNames = sessionNames + gameName;
                            $('<td> <select id="Game' + i + 'Session' + j + '" class="Load_HouseName current_button1" name="Game' + i + 'Session' + j + '"><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseSelectHouse")</option><option value="" disabled="enabled">@ResourceCache.Localize("NoneoftheHouse")</option></select></td>').appendTo(mytbodytd);
                            SessionCounts++;
                            Housestatus(cols);
                        }
                        $('<td><select id="FinalResult' + i + '" class="Load_HouseName current_button1" name="FinalResult' + i + '"><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectHouse")</option><option value="" disabled="enabled">@ResourceCache.Localize("NoneoftheHouse")</option></select></td></tr>').appendTo(mytbodytd);
                        Housestatus(rows);
                    }
                    mytable.appendTo("#Div_Table");

                    function Housestatus() {
                        $.getJSON('/SportsManagement/GetHouse',
                             function (orderdetails) {
                                 $(".Load_HouseName").empty().append('<option value="">@ResourceCache.Localize("SelectHouseName")</option><option value=" ">@ResourceCache.Localize("NoneoftheHouse")</option>');
                                 $.each(orderdetails, function (i, c) {
                                     $(".Load_HouseName").append($('<option ></option>').val(c.HouseId).html(c.HouseName));
                                 });
                             });
                    }
                }
                //Edit Table...........
                if (orderdetails.Message == "old") {
                    $("#Div_GetSessionlist").show();
                    //  alert("This is oldddd TABLE......");
                    mytable = $('<table border=1 class=" table table-bordered table-striped col-lg-12"></table>').attr({ id: "SessionList" });
                    myhead = $('<thead></thead>').appendTo(mytable);
                    myheadtr = $('<tr></tr>').appendTo(myhead);

                    var EditGameCount = orderdetails.GameNameList.length;
                    var EditSessionCount = orderdetails.SessionNameList.length;

                    //Table Header.............

                    $('<th> @ResourceCache.Localize("GameName")</th>').appendTo(myheadtr);
                    $.each(orderdetails.SessionNameList, function (EditSessionCount, c) {
                        $('<th><label>' + c.SessionName + '</label></th><input type="hidden" id="Sessionnameid' + counter + '" name="Sessionnameid' +
                            counter + '" class="EditSessionnameid current_button"  value="' + c.SessionId + '"/>').appendTo(myheadtr);
                        counter++;
                    });
                    $('<th>@ResourceCache.Localize("FinalResult")</th>').appendTo(myheadtr);

                    //Table Body.............
                    var savedDropDownCounts = orderdetails.getHid.length;
                    var SavedDropDownCountsFR = orderdetails.getCHid.length;
                    var counts = 0;
                    mytbody = $('<tbody></tbody>').appendTo(mytable);
                    var k = 0;
                    var createdtd = savedDropDownCounts;
                    var CreatedFRtd = SavedDropDownCountsFR;
                    var l = 0;

                    for (var i = 0; i < EditGameCount; i++) {
                        var List = orderdetails.GameNameList[i];
                        var gameid = List.GameId;
                        var Listgname = orderdetails.GameNameList[i];
                        var gameName = Listgname.GameName;
                        var sessiongameNames;
                        var mytbodytd = $('<tr><td>' + gameName + '</td><input type="hidden" id="gameID' + i + '" name="gameID' + i + '" class="EditLoad_GameName " value= "' + gameid + '"/>').appendTo(mytbody);
                        for (var j = 0; j < EditSessionCount; j++) {
                            var SnList = orderdetails.SessionNameList[j];
                            var sessionNames = SnList.SessionName;
                            var sessionid = SnList.SessionId;
                            if (createdtd > 0) {
                                var HousepkList = orderdetails.getHid[k];
                                var HousePk = HousepkList.SessionResultId;
                                $('<td> <select id="Game' + i + 'Session' + j + '" class=" EditLoad_HouseName " name="Game' + i + 'Session' + j + '"><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectHouse")</option><option value="" disabled="enabled">@ResourceCache.Localize("NoneoftheHouse")</option><input type="hidden" id="SessionResultId' + k + '" name="SessionResultId' + k + '" value= ""/></select></td>').appendTo(mytbodytd);
                                createdtd--;
                            }
                            else {
                                $('<td> <select id="Game' + i + 'Session' + j + '" class=" EditLoad_HouseName " name="Game' + i + 'Session' + j + '"><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectHouse")</option><option value="" disabled="enabled">@ResourceCache.Localize("NoneoftheHouse")</option><input type="hidden" id="SessionResultId' + k + '" name="SessionResultId' + k + '" value=""/></select></td>').appendTo(mytbodytd);
                            }
                            k++;
                        }
                        if (CreatedFRtd > 0) {
                            var FRpkList = orderdetails.getCHid[l];
                            var FinalResultpk = FRpkList.Id;
                            $('<td><select id="FinalResult' + i + '" class="EditLoad_HouseName current_button1 " name="FinalResult' + i + '"><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectHouse")</option><option value="" disabled="enabled">@ResourceCache.Localize("NoneoftheHouse")</option><input type="hidden" id="HiddenEditFinalResult' + l + '" name="HiddenEditFinalResult' + l + '" value= ""/></select></td></tr>').appendTo(mytbodytd);
                            CreatedFRtd--;
                        }
                        else {
                            $('<td><select id="FinalResult' + i + '" class="EditLoad_HouseName current_button1 " name="FinalResult' + i + '"><option value="" disabled="disabled" selected="selected">@ResourceCache.Localize("PleaseselectHouse")</option><option value="" disabled="enabled">@ResourceCache.Localize("NoneoftheHouse")</option><input type="hidden" id="HiddenEditFinalResult' + l + '" name="HiddenEditFinalResult' + l + '" value=""/></select></td></tr>').appendTo(mytbodytd);
                        }
                        l++;
                    }
                    mytable.appendTo("#Div_Table");

                    //Sessions DropDown Values Append
                    $.getJSON('/SportsManagement/GetHouse',
                               function (orderdetails) {
                                   $.each(orderdetails, function (i, c) {
                                       $(".EditLoad_HouseName").append($('<option ></option>').val(c.HouseId).html(c.HouseName));
                                   });
                               });

                    setTimeout(function () {
                        var l = 0;
                        for (var i = 0; i < EditGameCount; i++) {
                            for (var j = 0; j < EditSessionCount; j++) {
                                var gameId = $("#gameID" + i).val();
                                var sessionId = $("#Sessionnameid" + j).val();
                                $("#Game" + gameId + "Session" + sessionId);
                                for (var k = 0; k < savedDropDownCounts; k++) {
                                    var SavedList = orderdetails.getHid[k];
                                    var SavedGameId = SavedList.GameId;
                                    var SavedSessionId = SavedList.SessionId;
                                    var HouseValue = SavedList.HouseId;
                                    var SavedPk = SavedList.SessionResultId;
                                    $("#Game" + SavedGameId + "Session" + SavedSessionId);
                                    if (gameId == SavedGameId && sessionId == SavedSessionId) {
                                        $("#Game" + i + "Session" + j).val(HouseValue);
                                        $("#SessionResultId" + l).val(SavedPk);
                                    }
                                }
                                l++;
                            }
                        }
                        var n = 0;
                        for (var i = 0; i < EditGameCount; i++) {
                            var gameId = $("#gameID" + i).val();
                            for (var m = 0; m < SavedDropDownCountsFR; m++) {
                                var FinalList = orderdetails.getCHid[m];
                                var FRSavedGameId = FinalList.GameId;
                                var FRSavedId = FinalList.Id;
                                var FRHouseValue = FinalList.ChampionHouseId;
                                if (gameId == FRSavedGameId) {
                                    $("#FinalResult" + i).val(FRHouseValue);
                                    $("#HiddenEditFinalResult" + n).val(FRSavedId);
                                }
                            }
                            n++;
                        }
                    }, 500);
                }
            })
    });

    ////Add House to DB.................

    $('#btnaddSessionresult').click(function () {
         // alert("BtnSAveCLickeddd");
        var YearId = $('#Acyear').val();
        $.getJSON('/SportsManagement/GetGameDetail', { passYearId: YearId },
          function (orderdetails) {

              //$("#MandatoryFieldErrorMessage_Add").hide();
              //$("#jsonSuccessMsg").hide();
              //$(".jsonSuccessMsg").hide();
              //$("#jsonErrorMsg").hide();
              //  $(".jSuccessMsg").hide();
              //   $("#successmsg").hide();

              var a = [];
              var field_val = [];
              var HasValue = false;
              $(".current_button1").each(function () {
                  var valu = $(this).val();
                  if (valu != '') {
                      HasValue = true;
                      return false;
                  }
              });

              if (HasValue == false) {
                  $(".ShowjsonSuccessMsg").hide();
                  $(".ShowjSuccessMsg").hide();
                  $("#successmsg").hide();
                  $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                  $("#AddErrorText").show();
                  $("#AddErrorText").text("@ResourceCache.Localize("PleaseSelectHouse")");
              } else {

                  var rowadd = orderdetails.GameNameList.length;
                  var coladd = orderdetails.SessionNameList.length;
                  var acyearId = $("#Acyear").val();

                  var SessionId = [];
                  for (var j = 0; j < coladd; j++) {
                      var Sid = $("#Sessionnameid" + j).val();
                      SessionId.push(Sid);
                  }

                  var GameId = [];
                  for (var i = 0; i < rowadd; i++) {
                      var Gid = $("#gameID" + i).val();
                      GameId.push(Gid);
                  }

                  var FinalResultHouseId = [];
                  var FinalResultHouseIdCount;
                  for (var i = 0; i < rowadd; i++) {
                      var ff = ($("#FinalResult" + i).val());
                      if (ff == "" || ff == null) {
                          FinalResultHouseIdCount = 0;
                      }
                      else {
                          FinalResultHouseIdCount = ff;
                      }
                      FinalResultHouseId.push(FinalResultHouseIdCount);
                  }
                  var HouseId = [];
                  var HIDcount;
                  for (var i = 0; i < rowadd; i++) {
                      for (var j = 0; j < coladd; j++) {
                          var Hid = ($("#Game" + i + 'Session' + j).val());
                          if (Hid == "" || Hid == null) {
                              HIDcount = 0;
                          }
                          else {
                              HIDcount = Hid;
                          }
                          HouseId.push(HIDcount);
                      }
                  }
                  var HouseIdPKarr = [];
                  var FinalResultPkarr = [];
                  var k = 0;
                  for (var i = 0; i < rowadd; i++) {
                      for (var j = 0; j < coladd; j++) {
                          var HidPK = $("#SessionResultId" + k).val();
                          HouseIdPKarr.push(HidPK);
                          k++;
                      }
                      var FRidPK = ($("#HiddenEditFinalResult" + i).val());
                      FinalResultPkarr.push(FRidPK);
                  }

                  var values = { AcademicYearId: acyearId, SessionId: SessionId, GameId: GameId, HouseId: HouseId, ChampionHouseId: FinalResultHouseId, HouseIdPK: HouseIdPKarr, FinalResultPk: FinalResultPkarr };
                  $.ajax({

                      url: '/SportsManagement/addSessionresult',
                      type: 'POST',
                      data: values,
                      datatype: 'json',
                      contenttype: "application/json",
                      success: function (data) {
                          var totalError = data.ex;
                          var li = [];
                          if (data.Success == 0) {
                              $(".jsonExceptionMsg").hide();
                              $(".ShowjsonSuccessMsg").show();
                              $(".jsonErrorMsg").hide();
                              $(".jsonError").hide();
                              $(".jErr").append().empty();
                              $.each(totalError, function (i, v) {
                                  if (totalError[i] != "" && totalError[i] != null) {
                                      li = $("<li></li>").text(totalError[i]);
                                      $(".jErr").append(li);
                                  }
                              });
                          }
                          else {
                              if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                  $(".jsonError").show();
                                  $(".jsonExceptionMsg").hide();
                                  $(".ShowjsonSuccessMsg").hide();
                                  $(".jsonErrorMsg").show();
                                  $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                              }
                              if (data.Message != "" && data.Message != null) {
                                  $(".jsonError").hide();
                                  $(".jsonErrorMsg").hide();
                                  $(".jsonExceptionMsg").hide();
                                 // $(".Add_jErr").show();
                                //  $(".ShowjsonSuccessMsg").show();
                                  $(".jsonSuccessMsg").show();
                                  $(".jSuccessMsg").html(data.Message).val(data.Message);
                                 // $(".showjSuccessMsg").html(data.Message).val(data.Message);
                                  $("#SessionresultListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                              }
                              if (data.ExceptionError != "" && data.ExceptionError != null) {
                                  $(".jsonError").show();
                                  $(".jsonErrorMsg").hide();
                                  $(".ShowjsonSuccessMsg").hide();
                                  $(".jsonExceptionMsg").show();
                                  $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                              }
                          }
                      }
                  })
              }
          })
    });
 </script>

        }
