﻿@using eAcademy.Models;

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>@ResourceCache.Localize("eAcademy")</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="icon" href="~/Images/favicon.ico">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>*@
    <!-- Theme style -->
    <link href="~/css/skin.css" rel="stylesheet" />
    <link href="~/css/effect.css" rel="stylesheet" />
    <link href="~/css/Style1.css" rel="stylesheet" />
    <link href="~/css/mainstyle.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg1">
    <div id="cen" class="container cs">
        <div class="head-logo center">
            <a href="#" class="te"><img src="/../Images/school logo and text w.png" class="h-logo" /></a>
        </div>

        <section class="top">
            <div class="form-box" id="login-box">
                @RenderBody()
            </div>
        </section>
        <footer class="footer2">
            <div class="copy">© Copyright 2016. All Rights Reserved.</div>
        </footer>
    </div>
    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="~/js/main.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Language').change(function () {
                var Language = $("#Language").val();
                $.getJSON('/Resource/Changelanguage', { Language: Language },
           function (orderdetails) {
               location.reload();
           });
            });
        });
    </script>

</body>
</html>