﻿@using eAcademy.Models;
<div class="box-body" id="div_Error" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>@ResourceCache.Localize("Error")!</b>

        <div id="schedule_Error">

        </div>

        <div id="errorMsg">

        </div>



    </div>
</div>


<div class="box-body" id="div_Error1" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>@ResourceCache.Localize("Error")!</b>
        <div id="errorMsg1">

        </div>
        <div id="errorMsg2">

        </div>
        <div id="errorMsg3">

        </div>

    </div>
</div>