﻿@using eAcademy.Models;
<div class="box-body" id="MandatoryFieldErrorMessage_List" style="display:none;">
    <div class=" col-sm-12 alert alert-danger alert-dismissable">
        <b>@ResourceCache.Localize("Error")!</b>
        <div><ul id="List_jErr" class="List_jErr"><li></li></ul></div>
    </div>
</div>

<div class="bs-example btn-down" id="MandatoryFieldErrorMessage_ListWthMsg" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <strong>@ResourceCache.Localize("Error")!</strong> <b id="ErrorText" style="font-weight:normal"></b>
        </div>
    </div>
</div> 


<div class="bs-example btn-down" id="MandatoryFieldSuccessMessage_ListWthMsg" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-success">
            <strong>@ResourceCache.Localize("Success")!</strong> <b id="SuccessText" style="font-weight:normal"></b>
        </div>
    </div>
</div>


<div class="bs-example btn-down" id="MandatoryFieldSuccessMessage_ListWthMsgInfo" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <strong>@ResourceCache.Localize("Info")!</strong> <b id="InfoText" style="font-weight:normal"></b>
        </div>
    </div>
</div>

