﻿@using eAcademy.Models;
<div class="box-body" id="MandatoryFieldErrorMessage_Add" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>@ResourceCache.Localize("Error")! </b>
        <div><ul id="Add_jErr" class="Add_jErr"><li></li></ul></div>
    </div>
</div>

<div class="bs-example btn-down" id="Warning1" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-danger ">
            <strong>@ResourceCache.Localize("Error")! </strong>@ResourceCache.Localize("Please_do_not_repeat_the_same_subject")
        </div>
    </div>
</div>

<div class="bs-example btn-down" id="Warning2" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <strong>@ResourceCache.Localize("Error")! </strong>@ResourceCache.Localize("You_have_selected_same_time_period_for_more_than_one_subject")
        </div>
    </div>
</div>


<div class="bs-example btn-down" id="ClassTimetableErrorMessage" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <strong>@ResourceCache.Localize("Error")! </strong>@ResourceCache.Localize("Please_assign_subject_to_section")
        </div>
    </div>
</div>

<div class="bs-example btn-down" id="ClassTimetableSuccessMessage" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-success">
            @*fade in*@
            <strong>@ResourceCache.Localize("Success")! </strong>@ResourceCache.Localize("Records_saved_successfully")
        </div>
    </div>
</div>


<div class="bs-example btn-down" id="MandatoryFieldErrorMessage_AddWithMsg" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <strong>@ResourceCache.Localize("Error")! </strong> <b id="AddErrorText" style="font-weight:normal">  </b>
        </div>
    </div>
</div>

<div class="NoRecords box-body" id="MandatoryFieldErrorMessage_AddWithMsgInfo" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <b>@ResourceCache.Localize("Info")</b>
            <div><ul id="AddInfo_jErr" class="AddInfo_jErr"><li></li></ul></div>
        </div>
    </div>
</div>
