@using eAcademy.Models;

<div class="box-body" id="MandatoryFieldErrorMessage_Edit" style="display:none;">
    <div class="col-sm-12 alert alert-danger">
        <b>@ResourceCache.Localize("Error")!</b>
        <div><ul id="Edit_jErr" class="Edit_jErr"><li></li></ul></div>
    </div>
</div>

<div class="bs-example btn-down" id="MandatoryFieldErrorMessage_EditWithMsg" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <strong>@ResourceCache.Localize("Error")!</strong> <b id="EditErrorText" style="font-weight:normal">  </b>
        </div>

    </div>
</div>
