﻿@using eAcademy.Models;
@if (Html.ValidationSummary(true)!=null)
{
    <div class="box-body">
        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg">
            <b>@ResourceCache.Localize("Error")!</b>
            @Html.ValidationSummary()
        </div>
      
    </div>
}

@if (TempData["modelState"] != null)
{
    <div class="box-body">
        <div class="alert alert-danger alert-dismissable">
           <b>@ResourceCache.Localize("Error")! @TempData["modelState"]</b>
        </div>
    </div>
}

<div class="box-body jsonError" id="jsonError" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b> @ResourceCache.Localize("Error")! </b>
        <div><ul id="jErr" class="jErr"></ul></div>
    </div>
</div>


