﻿@using eAcademy.Models;
@if (ViewBag.modelState != null)
{
    <div class="box-body  ">
        <div class="col-lg-12 alert alert-danger alert-dismissable" id="modelErrMsg">
            @Html.ValidationSummary()
            @ViewBag.modelState

        </div>

    </div>
}
@if (TempData["modelState"] != null)
{
    <div class="box-body ">
        <div class="col-lg-12 alert alert-danger alert-dismissable">
            <b>@ResourceCache.Localize("Error")! @TempData["modelState"]</b>

        </div>

    </div>
}

<div class="box-body   jsonError" id="jsonError" style="display:none;">
    <div class=" col-lg-12 alert alert-danger alert-dismissable">
        <b>@ResourceCache.Localize("Error")!</b>
        <div><ul id="jErr" class="jErr"><li></li></ul></div>
    </div>
</div>