﻿@using eAcademy.Models;
<div class="NoRecords box-body"  style="display:none">
    <div class="alert alert-info alert-dismissable" id="NoRecords">
        <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
    </div>
</div>

