﻿@{
    Layout = null;

}
@using eAcademy.Models
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/AfterLogin/css")
    <link href="~/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/metismenu.min.css" rel="stylesheet" />
    @Styles.Render("~/AfterLogin2/css")
    <link href="~/css/fullcalendar.print.css" rel="stylesheet" media="print" />
    @Styles.Render("~/StudentAfterLogin/css")
    <link href="~/css/bootstrap.icon-large.min.css" rel="stylesheet" />
    <link href="~/css/effect.css" rel="stylesheet" />

    @if (Session["skin"] == null || Session["skin"] == "")
    {
        <link href="~/css/skin2.css" rel="stylesheet" title="skin2" />
    }
    else
    {
        if (Session["skin"] != null)
        {
            var d = Convert.ToString(Session["skin"]);
            if (d == "skin1")
            {
                <link href="~/css/skin.css" rel="stylesheet" title="skin1" />
            }
            else if (d == "skin2")
            {
                <link href="~/css/skin2.css" rel="stylesheet" title="skin2" />
            }
            else if (d == "skin3")
            {
                <link href="~/css/skin3.css" rel="stylesheet" title="skin3" />
            }
            else if (d == "skin4")
            {
                <link href="~/css/skin4.css" rel="stylesheet" title="skin4" />
            }
            else if (d == "skin5")
            {
                <link href="~/css/skin5.css" rel="stylesheet" title="skin5" />
            }
        }
    }
    @Styles.Render("~/StudentAfterLogin2/css")

</head>
<body class="bg3">
    <div id="Loading_Sec"></div>
    <div id="wrapper" class="active">
        <noscript>
            <div style="border: 1px solid purple; padding: 10px; background-color:white">
                <span style="color:red; font-size:large">@ResourceCache.Localize("JavaScript_is_not_enabled!_Please_enable_javascript_in_your_browser").</span>
            </div>
        </noscript>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <a id="menu-toggle"><span id="main_icon" class="fa fa-bars pull-left fa-lg"></span></a>
            <div class="logo"><a href="@Url.Action("Dashboard", "Dashboard")"> <img class="" src="~/img/logo.png" alt="Generic placeholder image"></a></div>
            <div class="school_name">
                @if (Session["schoolName"] != null)
                {
                    <label class="sname2">@Session["schoolName"]</label>
                }
                else
                {
                    <label class="sname2">@ResourceCache.Localize("School Name")</label>
                }

            </div>
            @if (Session["StudentName"] != null)
            {

                <div class="nav navbar-right top-nav dropdown side_menu1">
                    <div class="stud1 nright">
                        @*@if (Session["Language"] != null)
                        {
                            var ses = Convert.ToString(Session["Language"]);
                            if (ses == "en-US")
                            {
                                <select id="Language">
                                    <option value="">@ResourceCache.Localize("Select")</option>
                                    <option value="en-US" selected>@ResourceCache.Localize("English")</option>
                                    <option value="ta-IN">@ResourceCache.Localize("Tamil")</option>
                                    <option value="fr-BE">@ResourceCache.Localize("French")</option>
                                </select>
                            }
                            else if (ses == "ta-IN")
                            {
                                <select id="Language">
                                    <option value="">@ResourceCache.Localize("Select")</option>
                                    <option value="en-US">@ResourceCache.Localize("English")</option>
                                    <option value="ta-IN" selected>@ResourceCache.Localize("Tamil")</option>
                                    <option value="fr-BE">@ResourceCache.Localize("French")</option>
                                </select>
                            }
                            else
                            {
                                <select id="Language">
                                    <option value="">@ResourceCache.Localize("Select")</option>
                                    <option value="en-US">@ResourceCache.Localize("English")</option>
                                    <option value="ta-IN">@ResourceCache.Localize("Tamil")</option>
                                    <option value="fr-BE" selected>@ResourceCache.Localize("French")</option>
                                </select>

                            }
                        }
                        else
                        {
                            <select id="Language">
                                <option value="">@ResourceCache.Localize("Select")</option>
                                <option value="en-US">@ResourceCache.Localize("English")</option>
                                <option value="ta-IN">@ResourceCache.Localize("Tamil")</option>
                                <option value="fr-BE">@ResourceCache.Localize("French")</option>
                            </select>
                        }*@

                    </div>
                    <div class="stud1 nright">
                        <label for="inputTitle nright" class="">@ResourceCache.Localize("Class")</label>
                        <div class="sname1 nright">
                            <input type="text" value="@Session["studentclass"]" readonly>
                        </div>
                    </div>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;">
                        <i class="fa fa-user"></i>
                        <span>@Session["StudentName"] <i class="caret navhover"></i></span>
                    </a>
                    <ul class="dropdown-menu ddmenu">
                        <li>
                            <center>
                                <a href="@Url.Action("StudentProfile", "Student")"> <img src="@Session["image"]" class="img-circle featurette-image" alt="User Image"> </a>
                            </center>
                            <div class="col-lg-12" id="navid5">
                                <center>
                                    Student
                                </center>
                            </div>
                        </li>
                        <li class="dropdown-header col-lg-12">@ResourceCache.Localize("Skin"):</li>
                        <li>
                            <div class="col-lg-12" id="navid5">
                                <center>
                                    <div class="skin skin1"></div>
                                    <div class="skin skin2"></div>
                                    <div class="skin skin4"></div>
                                    <div class="skin skin3"></div>
                                    <div class="skin skin5"></div>
                                </center>
                            </div>
                        </li>

                        <li class="divider col-lg-12"></li>
                        <li class="user-footer">
                            <div class="navid6">
                                <center>
                                    <a href="@Url.Action("StudentLogout", "Home")" class="btn btn-danger btn-sm"><i class="fa fa-power-off"></i>@ResourceCache.Localize("SignOut")</a>
                                </center>
                            </div>
                        </li>

                    </ul>

                </div>
            }

            @if (Session["ParentUserName"] != null)
            {

                <div class="nav navbar-right top-nav dropdown side_menu">
                    @if (Session["GuardianStudentName"] != null)
                    {
                        <div class="stud1 nright">
                            <label for="inputTitle nright pad-right" class="">@ResourceCache.Localize("Student"):</label>
                            <div class="sname1 nright">
                                <label for="inputTitle nright">@Session["GuardianStudentName"]-</label>
                            </div>
                        </div>
                        <div class="stud1 nright pad-right">
                            @*<label for="inputTitle nright" class=""></label>*@
                            <div class="sname1 nright">
                                <label for="inputTitle nright">[@Session["GuardianStudentClass"]]</label>
                            </div>
                        </div>
                    }
                    @if (Session["ParentStudentList"] != null)
                    {
                        ViewBag.ParentStudentList = Session["ParentStudentList"];
                        ViewBag.DefaultStudentRegId = Session["DefaultStudentRegId"];

                        <div class="stud1  nright pad-right">
                            <label for="inputTitle nright" class=" ">@ResourceCache.Localize("Student")</label>
                            <div class="sname1 nright">
                                @Html.DropDownList("ParentStudentRegId", new SelectList(ViewBag.ParentStudentList, "StudentRegisterId", "StudentName", ViewBag.DefaultStudentRegId))
                            </div>
                        </div>
                        <div class="stud1 nright">
                            @*  <label for="inputTitle nright" class="">Class</label>*@
                            <div class="sname1 nright pad-right">
                                <label for="inputTitle nright">@Session["parentstudentclass"]</label>

                            </div>
                        </div>

                    }

                    <a href="#" class="dropdown-toggle nright" data-toggle="dropdown" style="color:white;">
                        <i class="fa fa-user nright"></i>
                        <span class="nright">@Session["ParentUserName"] <i class="caret navhover"></i></span>
                    </a>


                    <ul class="dropdown-menu ddmenu">
                        <li>
                            <center>
                                <a href="@Url.Action("Profile1", "Parent")"> @*<img src="@Session["image"]" class="img-circle featurette-image" alt="User Image">*@ </a>
                            </center>
                            <div class="col-lg-12" id="navid5">
                                <center>
                                    @ResourceCache.Localize("Parent")
                                </center>
                            </div>
                        </li>
                        <li class="dropdown-header col-lg-12">@ResourceCache.Localize("Skin"):</li>
                        <li>
                            <div class="col-lg-12" id="navid5">
                                <center>
                                    <div class="skin skin1"></div>
                                    <div class="skin skin2"></div>
                                    <div class="skin skin4"></div>
                                    <div class="skin skin3"></div>
                                    <div class="skin skin5"></div>
                                </center>
                            </div>
                        </li>
                        <li class="divider col-lg-12"></li>

                        <li class="user-footer">
                            <div class="navid6">
                                <center>
                                    <a href="@Url.Action("ParentLogout", "Home")" class="btn btn-danger btn-sm"><i class="fa fa-power-off"></i>@ResourceCache.Localize("SignOut")</a>
                                </center>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </nav>

        <div class="s_bar">
            @if (Session["Guardian_menu"] == "DontShow")
            {

            }
            else
            {
                if (Session["StudentName"] != null)
                {
                    <span class="fa fa-dashboard stuSidemenu cc1"><a href="@Url.Action("Dashboard", "DashboardStudent")">@ResourceCache.Localize("Dashboard")</a></span>
                    <span class="fa fa-university stuSidemenu cc2"><a href="@Url.Action("StudentProfile", "Student")">@ResourceCache.Localize("Profile")</a></span>
                    <span class="fa fa-book stuSidemenu cc3"><a href="@Url.Action("Homework", "StudentModuleAssigned")">@ResourceCache.Localize("Academics")</a></span>
                    <span class="fa fa-table stuSidemenu cc4"><a href="@Url.Action("ClassTimetable", "Timetable")">@ResourceCache.Localize("TimeTable")</a></span>
                    <span class="fa fa-thumbs-up stuSidemenu cc5"><a href="@Url.Action("StudentAchievement", "Achievements")">@ResourceCache.Localize("Achievement")</a></span>
                }

                if (Session["ParentUserName"] != null)
                {
                    <span class="fa fa-dashboard cc1"><a href="@Url.Action("Dashboard", "DashboardParent")">@ResourceCache.Localize("Dashboard")</a></span>
                    <span class="fa fa-university cc2"><a href="@Url.Action("Profile1", "Parent")">@ResourceCache.Localize("Profile")</a></span>
                    <span class="fa fa-book cc3"><a href="@Url.Action("Homework", "ParentModuleAssigned")">@ResourceCache.Localize("Academics")</a></span>
                    <span class="fa fa-table cc4"><a href="@Url.Action("ClassTimetable", "Timetable")">@ResourceCache.Localize("TimeTable")</a></span>
                    <span class="fa fa-thumbs-up cc5"><a href="@Url.Action("StudentAchievement", "Achievements")">@ResourceCache.Localize("Achievement")</a></span>
                    if (Session["GuardianStudentName"] != null)
                    {
                        <span class="fa fa-retweet"><a href="@Url.Action("ChangeStudent", "Guardian")">@ResourceCache.Localize("ChangeStudent")</a></span>
                    }
                }
            }
        </div>

        @if (Session["Guardian_menu"] == "DontShow")
        {

        }
        else
        {
            <div id="sidebar-wrapper">
                @if (Session["StudentName"] != null)
                {

                    @*<ul id="sidebar_menu" class="sidebar-nav">
                            <li class="sidebar-brand"><a id="menu-toggle"><span id="main_icon" class="fa fa-toggle-right pull-right fa-lg"></span></a></li>
                        </ul>*@

                    <aside id="left-panel">
                        <nav class="sidebar-nav" id="sidebar">
                            <ul id="menu" class="sidebar-nav1">
                                <li>
                                    <a href="@Url.Action("Dashboard", "DashboardStudent")"><span class="fa fa-dashboard stuSidemenu cc1"></span>@ResourceCache.Localize("Dashboard")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("StudentProfile", "Student")"><span class="fa fa-university stuSidemenu cc2"></span>@ResourceCache.Localize("Profile")</a>
                                </li>
                                <li id="toAct">
                                    <a href="@Url.Action("Homework", "StudentModuleAssigned")"><span class="fa fa-book stuSidemenu cc3"></span>@ResourceCache.Localize("Academics")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ClassTimetable", "Timetable")"><span class="fa fa-table stuSidemenu cc4"></span>@ResourceCache.Localize("TimeTable")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("StudentAchievement", "Achievements")"><span class="fa fa-thumbs-up stuSidemenu cc5"></span>@ResourceCache.Localize("Achievement")</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                }

                @if (Session["ParentUserName"] != null)
                {
                    @*<ul id="sidebar_menu" class="sidebar-nav">
                            <li class="sidebar-brand"><a id="menu-toggle"><span id="main_icon" class="fa fa-toggle-right pull-right fa-lg"></span></a></li>
                        </ul>*@
                    <aside id="left-panel">
                        <nav class="sidebar-nav" id="sidebar">
                            <ul id="menu" class="sidebar-nav1">
                                <li>
                                    <a href="@Url.Action("Dashboard", "DashboardParent")"><span class="fa fa-dashboard cc1"></span>@ResourceCache.Localize("Dashboard")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Profile1", "Parent")"><span class="fa fa-university cc2"></span>@ResourceCache.Localize("Profile")</a>
                                </li>
                                <li id="toAct">
                                    <a href="@Url.Action("Homework", "ParentModuleAssigned")"><span class="fa fa-book cc3"></span>@ResourceCache.Localize("Academics")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ClassTimetable", "Timetable")"><span class="fa fa-table cc4"></span>@ResourceCache.Localize("TimeTable")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("StudentAchievement", "Achievements")"><span class="fa fa-thumbs-up cc5"></span>@ResourceCache.Localize("Achievement")</a>
                                </li>
                                @if (Session["GuardianStudentName"] != null)
                                {
                                    <li>
                                        <a href="@Url.Action("ChangeStudent", "Guardian")"><span class="fa fa-retweet"></span>@ResourceCache.Localize("ChangeStudent")</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </aside>
                }
            </div>
        }
        <div id="page-content-wrapper">
            <div class="container-content row">
                @RenderBody()
            </div>
        </div>

    </div>

    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    @Scripts.Render("~/bundles/AfterLoginJs")
    <script src="~/js/vendor/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/StudentAfterLoginJs2")
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    @Scripts.Render("~/bundles/StudentAfterLoginJs3")
    <script src="~/js/metismenu.min.js"></script>
    <script src="~/js/prism.min.js"></script>
    @Scripts.Render("~/bundles/StudentAfterLoginJs4")
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/canvasjs.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    @*<script src="~/js/Nav_Header.js"></script>*@
    <script>
        $(document).ready(function () {
            $(".skin1").click(function (event) {
                var passkin = "skin1";
                var url = '/Home/Changeskin/' + passkin;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {},
                    success: function (data) {
                        location.reload();
                    },
                    dataType: "html"
                });
            });
            $(".skin2").click(function (event) {

                var passkin = "skin2";
                var url = '/Home/Changeskin/' + passkin;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                    },
                    success: function (data) {
                        location.reload();
                    },
                    dataType: "html"
                });
            });
            $(".skin3").click(function (event) {

                var passkin = "skin3";
                var url = '/Home/Changeskin/' + passkin;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                    },
                    success: function (data) {
                        location.reload();
                    },
                    dataType: "html"
                });
            });
            $(".skin4").click(function (event) {

                var passkin = "skin4";
                var url = '/Home/Changeskin/' + passkin;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                    },
                    success: function (data) {
                        location.reload();
                    },
                    dataType: "html"
                });
            });
            $(".skin5").click(function (event) {

                var passkin = "skin5";
                var url = '/Home/Changeskin/' + passkin;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                    },
                    success: function (data) {
                        location.reload();
                    },
                    dataType: "html"
                });
            });
        });
        $(function () {
            $('#hrefPrint').click(function () {
                $('#show').print();
            });
        });
        $(document).ready(function () {
            var scroll_start = 0;
            var startchange = $('.navbar');
            var offset = startchange.offset();
            if (startchange.length) {
                $(document).scroll(function () {
                    scroll_start = $(this).scrollTop();
                    if (scroll_start > offset.top) {

                        $(".navbar-inverse").css('background-color', 'rgb(58, 58, 58)');
                    } else {

                        $('.navbar-inverse').css('background-color', 'rgba(255, 255, 255, 0.15) !important ');
                    }
                });
            }

            $('#Language').change(function () {
                var Language = $("#Language").val();

                $.getJSON('/Resource/Changelanguage', { Language: Language },
           function (orderdetails) {
               location.reload();
           });
            });
        });

    </script>
    @RenderSection("scriptsContainer", required: false)
</body>
</html>
