﻿<section class="maincontent-header">
    <div class="s_head col-lg-12">
        @Session["UrlControllerName"]
    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="#" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="#" class="btn btn-info">@Session["UrlGroupName"]</a>
                    <a href="#" class="btn btn-info">@Session["UrlControllerName"]</a>
                    <a href="#" class="btn btn-info">@Session["UrlActionName"]</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    @{ System.Collections.ArrayList menu = (System.Collections.ArrayList)Session["Sub_Menu"];
     System.Collections.ArrayList link = (System.Collections.ArrayList)Session["Sub_MenuLink"];
     System.Collections.ArrayList menu_fid = (System.Collections.ArrayList)Session["Sub_MenuFeatureId"];
     int urlId = Convert.ToInt32(Session["UrlId"]);

     for (int i = 0; i < menu.Count; i++)
     {
         if (urlId == Convert.ToInt32(menu_fid[i]))
         {
            <li role="presentation"> <a href="@link[i]">@menu[i]</a></li>
         }

     }
    }

</ul>
