﻿@using eAcademy.Models;
@if (ViewBag.ErrorMessage != null)
{
    <div class="box-body">
        <div class="alert alert-danger alert-dismissable" id="errormsg">
            <b>Error! @ViewBag.ErrorMessage</b>
        </div>
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="box-body">
        <div class="alert alert-success alert-dismissable" id="successmsg">
            <b>Success! </b>
            <div>@ViewBag.Message</div>
        </div>
    </div>
}



<div class="box-body jsonErrorMsg" id="jsonErrorMsg" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>Error!</b>
        <div id="jErrMsg" class="jErrMsg"></div>

    </div>
</div>
<div class="box-body jsonEditErrorMsg" id="jsonEditErrorMsg" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>Error!</b>
        <div id="jEditErrorMsg" class="jEditErrorMsg"></div>

    </div>
</div>
<div class="box-body EditErrorMsg" id="EditErrorMsg" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>Error!</b>
        <div id="EditMsg" class="EditMsg"></div>

    </div>
</div>

<div class="box-body EditErrorMsg" id="EditErrorMsg" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>Error!</b>
        <div id="EditMsg" class="EditMsg"></div>

    </div>
</div>

<div class="box-body updateErrorMsg" id="updateErrorMsg" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>Error!</b>
        <div id="updateErrMsg" class="updateErrMsg"></div>

    </div>
</div>

<div class="box-body jsonSuccessMsg" id="jsonSuccessMsg" style="display:none;">
    <div class="alert alert-success alert-dismissable">
        <b>Success!</b>
        <div id="jSuccessMsg" class="jSuccessMsg"></div>
        <div id="Register_btn" style="display:none;"><button id="register" name="register" class="btn btn-sm btn_search btn-success nextBtn " type="button">@ResourceCache.Localize("Register")</button></div>        
    </div>
</div>
            @*ShowInfo For Success*@

<div class="box-body jsonSuccessMsgInfo" id="jsonSuccessMsgInfo" style="display:none;">
    <div class="alert alert-info alert-dismissable">
        <b>Success!</b>
        <div id="jSuccessMsgInfo" class="jSuccessMsgInfo"></div>
        <div id="Register_btn_Info" style="display:none;"><button id="registerInfo" name="registerInfo" class="btn btn-sm btn_search btn-success nextBtn " type="button">@ResourceCache.Localize("Register")</button></div>
    </div>
</div>

<div class="box-body jupdateSuccessMsg" id="jupdateSuccessMsg" style="display:none;">
    <div class="alert alert-success alert-dismissable">
        <b>Success!</b>
        <div id="updateSuccessMsg" class="updateSuccessMsg"></div>
    </div>
</div>

<div class="box-body jsonExceptionMsg" id="jsonExceptionMsg" style="display:none;">
    <div class="alert alert-danger alert-dismissable">
        <b>Error!</b>
        <div id="jExceptionMsg" class="jExceptionMsg"></div>
    </div>
</div>

<div class="box-body" id="jsonInfoMsg" style="display:none">
    <div class="alert alert-info alert-dismissable" >
        <b>Info!</b>
        <div id="jInfoMsg" class="jInfoMsg"></div>
    </div>
</div>

