﻿@using eAcademy.Models
@{
    ViewBag.Title = "ClassTimetable";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}

@if (Session["StudentRegId_SessionAttribute"] != null)
{
    @Html.Partial("~/Views/Shared/NavbarHeader.cshtml")
}
<style>
    #box td, th {
        padding: 22px;
        border: groove;
    }
</style>
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
       @ResourceCache.Localize("ClassTimetable")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Timetable/ClassTimetable" class="btn btn-info">@ResourceCache.Localize("Timetable")</a>
                    <a href="/Timetable/ClassTimetable" class="btn btn-info">@ResourceCache.Localize("ClassTimetable")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/Timetable/ClassTimetable">@ResourceCache.Localize("ClassTimetable")</a></li>
    <li><a href="~/Timetable/ExamTimetable">@ResourceCache.Localize("ExamTimeTable")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="show">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ClassTimetable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/Print.cshtml")

                    <div class="NoRecords box-body" style="display:none">
                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                            <b>@ResourceCache.Localize("Info:Still_Timetable_is_not_Created")</b>
                        </div>
                    </div>
                    <div class="btn-down">
                        <h2 id="Report_head" class="Active_Print"></h2>
                        <div id="box" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                    </div>
                    <div id="NoClassAssigned" style="display:none"><label class="input-label-sm">@ResourceCache.Localize("No_subject_assigned_in_this_period")</label></div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {
        $("#NoRecords").hide();
        $.getJSON('/Timetable/getStudentTimetable',
        function (data) {
            $("#FacultyTimetable").empty();
            $("#FacultyTimetable").remove();
            $("#FacultyTimetable tbody").empty();
            $(".title").empty();
            var SubjectCount = data.StudentPeriodSubject.length;
            if (SubjectCount == 0) {

                $("#NoRecords").show();
            }
            else
            {
                var Period_Count = 0;
                var Periodcounter = 0;
                var Breakcounter = 0;

                var Count = 0;
                $("#NoRecords").hide();
                var DayOrder_Count = data.day;
                var Period_Count = data.period;

                mytable = $('<table border=1 class="col-lg-12"></table>').attr({ id: "ClassTimeTableTable" });
                myhead = $('<thead></thead>').appendTo(mytable);
                myheadtr = $('<tr></tr>').appendTo(myhead);
                var cols = new Number(Period_Count);
                var rows = new Number(DayOrder_Count);

                $('<th>@ResourceCache.Localize("Day/Period")</th>').appendTo(myheadtr);
                $.each(data.PeriodsList, function (i, v) {
                    var type = v.PeriodType;

                    if (type == "Period") {
                        $('<th><label>' + v.PeriodName + '<br/>' + v.txt_PeriodTime + '</th></label><input type="hidden" id="Period' + Periodcounter + '" name="Period' +
                            Periodcounter + '" class="current_button" />').appendTo(myheadtr);
                        Periodcounter++;
                    }
                    else {
                        $('<th><label>' + v.PeriodName + '<br/>' + v.txt_PeriodTime + '</th></label><input type="hidden" id="Break' + Breakcounter + '" name="Break' + Breakcounter + '" class="current_button" />').appendTo(myheadtr);
                        Breakcounter++;
                    }

                });
                mytbody = $('<tbody></tbody>').appendTo(mytable);

                for (var i = 1; i <= rows; i++) {
                    var mytbodytd = $('<tr><td id="day' + i + '" ></td>').appendTo(mytbody);

                    var cellcount = 0;
                    for (var j = 1; j <= cols; j++) {

                        if (cellcount < cols) {
                            var Period = data.PeriodsList[cellcount];
                            var type = Period.PeriodType;

                            if (type == "Period") {
                                $('<td id="day' + i + 'period' + j + '" class=""></td></tr>').appendTo(mytbodytd);

                            }
                            else {

                                $('<td id="dayBreak" class="" ><div class = "item assigned">@ResourceCache.Localize("Break")</div></td></tr>').appendTo(mytbodytd);

                                j--;
                            }
                            cellcount++;
                        }

                    }
                }

                mytable.appendTo("#box");


                for (var i = 1; i <= rows; i++) {
                    $("#day" + i).text('@ResourceCache.Localize("Day")' + i);
                }
                for (var i = 1; i <= DayOrder_Count; i++) {
                    for (var j = 1; j <= Period_Count ; j++) {
                        var x = "Empty";
                        for (var k = 0; k < data.StudentPeriodSubject.length; k++) {
                            var List = data.StudentPeriodSubject[k];
                            var DayNo = List.Day;
                            var PeriodNumber = List.Period;

                            if (i == DayNo && j == PeriodNumber) {
                                var subject = List.Subject;

                                x = "Value";
                                $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'))
                            }

                        }
                        if (x == "Empty") {
                            subject = "N";
                            $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'));
                            $("#NoClassAssigned").show();
                        }
                    }

                }

            }
        });

    });
    </script>
}