﻿@using eAcademy.Models
@{
    ViewBag.Title = "ExamTimetable";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@if (Session["StudentRegId_SessionAttribute"] != null)
{
    @Html.Partial("~/Views/Shared/NavbarHeader.cshtml")
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("ExamTimeTable")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Timetable/ClassTimetable" class="btn btn-info">@ResourceCache.Localize("Timetable")</a>
                    <a href="/Timetable/ExamTimetable" class="btn btn-info">@ResourceCache.Localize("ExamTimeTable")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/Timetable/ClassTimetable">@ResourceCache.Localize("ClassTimetable")</a></li>
    <li><a href="~/Timetable/ExamTimetable">@ResourceCache.Localize("ExamTimeTable")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ExamTimeTable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form action="@Url.Action("ClassTimetable", "Timetable")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="row">
                            <div class="box-body row border-radius-none">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Exams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>

                    <div class="box-body " id="divExamTt" style="display:none">
                        <div id="show">
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <div id="tbl_scrol">
                                <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("ExamTimeTable")<hr /></h2>
                                <table class="table table-bordered table-striped" border="1">
                                    <thead>
                                        <tr>
                                            <th>
                                                @ResourceCache.Localize("Date")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Subject")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Stu_ExamTimetableList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="NoRecord" class="NoRecords box-body" style="display:none">
                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">

        $("#Exams").change(function (event) {
            event.preventDefault();
            $("#NoRecord").hide();
            $("#divExamTt").hide();
            $('#Stu_ExamTimetableList').empty();
            var ExamId = $("#Exams").val();

            $("#RemarksList").show();
            $.post('/Timetable/ExamTimetable', { passExamId: ExamId },

              function (data) {
                  if (data.count > 0) {
                      $("#divExamTt").show();
                      $("#RemarksList").show();
                      $.each(data.ExamList, function (i, v) {
                          row = $('<tr><td><label id="Period">' + v.Date + ' </td><td><label id="subject">' + v.Subject + '</label> </td></tr>');
                          $('#Stu_ExamTimetableList').append(row);
                      });
                  }
                  else {
                      $("#NoRecord").show();
                  }
              }, 'json');
        });

    </script>
    }


       
