﻿@model IEnumerable<eAcademy.ViewModel.HomeworkList>
@using eAcademy.Models
@{
    ViewBag.Title = "Assign Subject with Faculty";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-5 pull-right" id="EditSubjectWithFaculty" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient">
                    <div class="box-header bg-gray">
                        <i class="fa fa-pencil-square-o "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Edit")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            <div class="NoRecords box-body" id="info_text" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                                </div>
                            </div>
                            <div class="NoRecords box-body" id="StatusSuccessMsg" style="display:none">
                                <div class="alert alert-success alert-dismissable">
                                    <b>@ResourceCache.Localize("StatusUpdatedSuccessfully")</b>
                                </div>
                            </div>
                            <div class="NoRecords box-body" id="info_Message" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:Please_check_timetable_management_module")</b>
                                </div>
                            </div>
                            <div class="NoRecords box-body" id="ClassInchargeSuccessMessage" style="display:none">
                                <div class="alert alert-success alert-dismissable">
                                    <b>@ResourceCache.Localize("Class_Incharge_updated")</b>
                                </div>
                            </div>
                            <div class="NoRecords box-body" id="ClassInchargeErrorMessage" style="display:none">
                                <div class="alert alert-danger alert-dismissable" >
                                    <b>@ResourceCache.Localize("Class_incharge_already_exist")</b>
                                </div>
                            </div>
                            <div class="NoRecords box-body" id="FacultySuccessMessage" style="display:none">
                                <div class="alert alert-success alert-dismissable" >
                                    <b>@ResourceCache.Localize("Faculty_updated")</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> </div>
                                    <input class="col-lg-12" type="text" id="txt_Subject" name="txt_Subject" placeholder="@ResourceCache.Localize("Subject")" title="@ResourceCache.Localize("Subject")" readonly required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label></div>
                                    <div id="editActive" style="display: none">
                                        <select name="status" id="status">
                                            <option value="true">@ResourceCache.Localize("Active")</option>
                                            <option value="false">@ResourceCache.Localize("In_Active")</option>
                                        </select>
                                    </div>
                                    <div id="editInActive" style="display: none">
                                        <select name="status" id="status">
                                            <option value="false">@ResourceCache.Localize("In_Active")</option>
                                            <option value="true">@ResourceCache.Localize("Active")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Faculty")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Edit_AssignFaculty", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectFaculty--"), Value = "" } })
                                </div>
                                <div class="col-lg-6">
                                    <div><label></label></div>
                                    <div><input type="checkbox" id="Edit_CI_SubjectWithFaculty" />   <label class="input-label-sm">@ResourceCache.Localize("IsClassIncharge?") </label></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="hidden" id="SubjectWithFacultyId" name="SubjectWithFacultyId" />
                                <button type="button" class="btn btn-sm btn_update btn-down btn_double" name="btnEditSubjectWithFaculty" id="btnEditSubjectWithFaculty" title="@ResourceCache.Localize("Update")"><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel btn-down" name="btnCancel_EditSubjectWithFaculty" id="btnCancel_EditSubjectWithFaculty" title="@ResourceCache.Localize("Cancel")"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-5  pull-right" id="AddSubjectWithFaculty">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Add")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("XallAcademicYears", new SelectList(ViewBag.XallAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("AssignFacultyToSubject_allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("AssignFacultyToSubject_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectSection--"), Value = "" } })
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("AssignFacultyToSubjects", new SelectList(ViewBag.allSubjects, "SubjectId", "SubjectName"), ResourceCache.Localize("SelectSubject"))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Faculty")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allFaculties", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectFaculty--"), Value = "" } })
                                </div>
                                <div class="col-lg-6">
                                    <div><label></label></div>
                                    <input type="checkbox" id="CI_SubjectWithFaculty" name="CI_SubjectWithFaculty" />  <label class="input-label-sm">@ResourceCache.Localize("IsClassIncharge?")</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnAddSubjectWithFaculty"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset btn-down" id="btnReset_AddSubjectWithFaculty" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title"> @ResourceCache.Localize("ManageSubjectAndFaculty") </h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")<span class="glyphicon glyphicon-asterisk"></span></label></div>
                                @Html.DropDownList("allAcademicYears_List", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")<span class="glyphicon glyphicon-asterisk"></span></label></div>
                                @Html.DropDownList("allClass_List", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"), new { @class = "filterItem" })
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")<span class="glyphicon glyphicon-asterisk"></span></label></div>
                                @Html.DropDownList("allSection_List", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectSection--"), Value = "" } }, new { @class = "filterItem" })
                            </div>
                            <div class="col-lg-3">
                                <input type="hidden" id="cid" name="cid" />
                                <button type="button" class="btn btn-sm btn_submit btn-down3 btn_search filterItem" id="SubjectWithFaculty_filterButton"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12 btn-down3" id="show">
                        <table class="col-lg-12" id="SubjectWithFacultyListGrid"></table>
                        <div id="SubjectWithFacultyListPager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {

        $('#XallAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        $('#allAcademicYears_List').val(@Session["List_ChosenAcademicYearId"]);

        $('#XallAcademicYears').change(function (event) {
            $('#AssignFacultyToSubject_allClass').val("");
            $("#AssignFacultyToSubject_Section").empty().append('<option value=""> @ResourceCache.Localize("SelectSection") </option>');
            $("#allFaculties").empty().append('<option value="">@ResourceCache.Localize("--SelectFaculty--")</option>');
            $("#AssignFacultyToSubjects").val("");
            event.preventDefault();
            var YearId = $('#XallAcademicYears').val();
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },
                     function (orderdetails) {
                     });
            $("#allAcademicYears_List").val(YearId);
        });

        $('#allAcademicYears_List').change(function (event) {
            $("#allClass_List").val("");
            $("#allSection_List").empty().append('<option value=""> @ResourceCache.Localize("--SelectSection--") </option>');
            event.preventDefault();
            var YearId = $('#allAcademicYears_List').val();
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                     function (orderdetails) {
                     });
            //  $("#XallAcademicYears").val(YearId);
        });


        $('#AssignFacultyToSubject_allClass').change(function (event) {
            event.preventDefault();
            AssignFacultyToSubject_Section();
            getClassFaculty();
        });


        function AssignFacultyToSubject_Section() {
            var ClassId = $('#AssignFacultyToSubject_allClass').val();
            $.getJSON('/ClassManagement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#AssignFacultyToSubject_Section").empty().append('<option value="">@ResourceCache.Localize("--SelectSection--")  </option>');
                    $.each(orderdetails, function (i, c) {
                        $("#AssignFacultyToSubject_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }

        function getClassFaculty() {
            var ClassId = $('#AssignFacultyToSubject_allClass').val();
            $.getJSON('/ClassManagement/GetSelectedClassFaculty', { passClassId: ClassId },
                function (orderdetails) {
                    $("#allFaculties").empty().append('<option value="">@ResourceCache.Localize("--SelectFaculty--")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#allFaculties").append($('<option></option>').val(c.FacultyId).html(c.FacultyName));
                    });
                });
        }

        $('#allClass_List').change(function (event) {
            event.preventDefault();
            LoadClassDetailsAFS_List();
        });


        function LoadClassDetailsAFS_List() {
            var ClassId = $('#allClass_List').val();
            $.getJSON('/ClassManagement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#allSection_List").empty().append('<option value=""> @ResourceCache.Localize("--SelectSection--") </option>');
                    $.each(orderdetails, function (i, c) {
                        $("#allSection_List").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }

        $("#btnAddSubjectWithFaculty").click(function () {
            var yearId = $("#XallAcademicYears").val();
            var classId = $("#AssignFacultyToSubject_allClass").val();
            var SecId = $("#AssignFacultyToSubject_Section").val();
            var subId = $("#AssignFacultyToSubjects").val();
            var FacultyId = $("#allFaculties").val();
            var isCI;

            var x = $('#CI_SubjectWithFaculty').is(':checked');
            if (x == true) {
                isCI = "true";
            }
            else {
                isCI = "false";
            }

            $("#XallAcademicYears").addClass("current_button");
            $("#AssignFacultyToSubject_allClass").addClass("current_button");
            $("#AssignFacultyToSubject_Section").addClass("current_button");
            $("#AssignFacultyToSubjects").addClass("current_button");
            $("#allFaculties").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'XallAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'AssignFacultyToSubject_allClass') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'AssignFacultyToSubject_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'AssignFacultyToSubjects') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                    if (null_id == 'allFaculties') {

                        a.push('@ResourceCache.Localize("PleaseSelectFaculty")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_Add").hide();

            var values = { allAcademicYears: yearId, AssignFacultyToSubject_allClass: classId, AssignFacultyToSubject_Section: SecId, AssignFacultyToSubjects: subId, allFaculties: FacultyId, CI_SubjectWithFaculty: isCI };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ClassManagement/AddSubjectWithFaculty',
                type: 'POST',
                processData: false,
                contentType: false,
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });


        var SubFacultyId;

        jQuery("#SubjectWithFacultyListGrid").jqGrid({
            url: "/ClassManagement/SubjectFacultyListResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("Faculty")', '@ResourceCache.Localize("ClassIncharge")', '@ResourceCache.Localize("SubjectStatus")', 'AsubId', 'ACI_Id', 'Actions'],
            colModel: [
                { key: true, hidden: true, name: 'AFacultyId', index: 'AFacultyId' },
                { key: false, name: 'Subject', index: 'Subject' },
                { key: false, name: 'Faculty', index: 'Faculty' },
                { key: false, name: 'ClassIncharge', index: 'ClassIncharge' },
                { key: false, name: 'SubjectStatus', index: 'SubjectStatus' },
                { key: false, hidden: true, name: 'AsubId', index: 'AsubId' },
                { key: false, hidden: true, name: 'ACI_Id', index: 'ACI_Id' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#SubjectWithFacultyListPager"),

            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,

            gridComplete: function () {
                var ids = jQuery("#SubjectWithFacultyListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    SubFacultyId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_SubjectFaculty btn_Edit ui-icon-pencil' id='" + SubFacultyId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    jQuery("#SubjectWithFacultyListGrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },

        }).navGrid('#SubjectWithFacultyListPager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#SubjectWithFacultyListPager',
            {
                caption: "@ResourceCache.Localize("Excel")",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../ClassManagement/SubjectFacultyList_ExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#SubjectWithFacultyListPager',
            {
                caption: "@ResourceCache.Localize("Pdf")",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../ClassManagement/SubjectFacultyList_ExportToPdf";
                }
            });

        $("#SubjectWithFacultyListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("SubjectFacultyList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

        $('#SubjectWithFaculty_filterButton').click(function (event) {

            var yearId = $("#allAcademicYears_List").val();
            var classId = $("#allClass_List").val();
            var SecId = $("#allSection_List").val();

            $("#cid").val(classId);

            $("#allAcademicYears_List").addClass("current_button");
            $("#allClass_List").addClass("current_button");
            $("#allSection_List").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '' || valu == "0") {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'allClass_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'allSection_List') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            event.preventDefault();
            SubjectWithFaculty_filterGrid();
        });

        function SubjectWithFaculty_filterGrid() {

            var postDataValues = $("#SubjectWithFacultyListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#SubjectWithFacultyListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        };

        $(document).on('click', '.btn_edit_SubjectFaculty', function () {
            $("#StatusSuccessMsg").hide();
            $("#info_Message").hide();
            $("#ClassInchargeSuccessMessage").hide();
            $("#ClassInchargeErrorMessage").hide();
            $("#FacultySuccessMessage").hide();
            $("#info_text").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            var id = $(this).attr('id');
            var CID = $("#cid").val();
            $.getJSON('/ClassManagement/EditSubjectWithFaculty', { passId: id },
               function (data) {
                   $("#EditSubjectWithFaculty").show();
                   $("#AddSubjectWithFaculty").hide();
                   if (data.Info == "") {
                       $("#info_text").show();
                       return false;
                   }
                   if (data.subStatus1 == "true") {
                       $("#editActive").show();
                       $("#editInActive").hide();
                   }
                   else {
                       $("#editInActive").show();
                       $("#editActive").hide();
                   }

                   if (data.IsCI == "Yes") {
                       $('#Edit_CI_SubjectWithFaculty').prop("checked", true);
                   }
                   else {
                       $("#Edit_CI_SubjectWithFaculty").removeAttr("checked");
                   }

                   $("#SubjectWithFacultyId").val(id);
                   $("#txt_Subject").val(data.subject);

                   $.getJSON('/ClassManagement/getFaculties', { passClassId: CID },
                       function (orderdetails) {
                           $("#Edit_AssignFaculty").empty();
                           $.each(orderdetails, function (i, c) {
                               $("#Edit_AssignFaculty").append($('<option></option>').val(c.FacultyId).html(c.FacultyName));
                           });
                           var selVal = data.empRegid;
                           $("#Edit_AssignFaculty").val(selVal);
                       });
               });
        });


        $("#btnEditSubjectWithFaculty").click(function () {
            $("#info_text").hide();
            $("#StatusSuccessMsg").hide();
            $("#info_Message").hide();
            $("#ClassInchargeSuccessMessage").hide();
            $("#ClassInchargeErrorMessage").hide();
            $("#FacultySuccessMessage").hide();

            var empId = $("#Edit_AssignFaculty").val();
            var isCI;

            var x = $('#Edit_CI_SubjectWithFaculty').is(':checked');
            if (x == true) {
                isCI = "true";
            }
            else {
                isCI = "false";
            }

            var status = $("#status").val();
            var SubjectWithFacultyId = $("#SubjectWithFacultyId").val();

            $("#status").addClass("current_button");
            $("#SubjectWithFacultyId").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'status') {

                        a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                    }
                    if (null_id == 'SubjectWithFacultyId') {

                        a.push('@ResourceCache.Localize("PleaseSelectFaculty")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_Edit").hide();
            var values = { Edit_AssignFaculty: empId, Edit_CI_SubjectWithFaculty: isCI, status: status, SubjectWithFacultyId: SubjectWithFacultyId };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ClassManagement/EditSubjectWithFaculty',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.StatusSuccessMsg != "")
                        {
                            $("#StatusSuccessMsg").show();
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.info_Message != "") {
                            $("#info_Message").show();
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ClassInchargeSuccessMessage != "") {
                            $("#ClassInchargeSuccessMessage").show();
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ClassInchargeErrorMessage != "") {
                            $("#ClassInchargeErrorMessage").show();
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.FacultySuccessMessage != "") {
                            $("#FacultySuccessMessage").show();
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null && data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $(".#SubjectWithFacultyListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jsonSuccessMsg").show();
                            $(".jsonErrorMsg").show();
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });

        $("#btnCancel_EditSubjectWithFaculty").click(function () {
            $("#AddSubjectWithFaculty").show();
            $("#EditSubjectWithFaculty").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        $("#btnReset_AddSubjectWithFaculty").click(function () {
            $("#AssignFacultyToSubject_Section").empty().append('<option value=""> @ResourceCache.Localize("--SelectSection--")  </option>');
            $("#allFaculties").empty().append('<option value="">@ResourceCache.Localize("--SelectFaculty--")</option>');
            $(".jsonSuccessMsg").hide();
            $(".jErrMsg").empty();
            $("#MandatoryFieldErrorMessage_Add").hide();
            $(".jsonErrorMsg").hide();

        });
    });
</script>
}