﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ClassStudent>
@{
    ViewBag.Title = "AcademicResult";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Promote/Demote")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("AcademicResult", "StudentManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("AcyearStdList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("ClassStdList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), ResourceCache.Localize("SelectClass"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="SectionStdList1" name="SectionStdList1" required>
                                    <option value="">@ResourceCache.Localize("SelectSection")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <button type="submit" class="btn btn-down btn-sm btn_search filterItem " id="btnPromote_Filter"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>
                }
                <!-- quick email widget -->
                <div class="box-body col-sm-12" id="section_PromoteSection" style="display:none;">
                    <div class="box-body row col-sm-12" id="show">
                        <table class="table table-bordered table-striped">
                            <thead id="thead_studentResults">
                            </thead>
                            <tbody id="tbody_studentResults"></tbody>
                        </table>
                    </div>

                    <form>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div> <button type="button" class="btn  btn-sm btn_submit " name="Promote" id="btn_promote"><i class="fa fa-check"></i>@ResourceCache.Localize("Pass")</button></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div> <button type="button" class="btn btn-sm btn_cancel " name="Depromote" id="btn_demote"><i class="fa fa-remove"></i>@ResourceCache.Localize("Fail")</button></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div> <button type="button" class="btn btn-sm btn_cancel " name="Remove" id="btn_Remove"><i class="fa fa-remove"></i>@ResourceCache.Localize("InComplete_Remove")</button></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div> <button type="button" class="btn btn-sm btn_cancel " name="ReAppear" id="btn_ReAppear"><i class="fa fa-remove"></i>@ResourceCache.Localize("ReAppear")</button></div>
                        </div>
                    </form>

                </div>
                <div class="box-footer clearfix no-border">
                </div>
                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
            </div>
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SectionStdList1").addClass("col-lg-12");
        $('#AcyearStdList').val(@Session["CurrentAcYearId"]);
        ChangeClassandSection();
        function ChangeClassandSection() {
            $.getJSON('/StudentManagement/ClassList',
      function (data) {

          $("#ClassStdList").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
          $("#SectionStdList").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
          $("#StudentList").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
          $("#ExamList").empty().append('<option value>Select Exam</option>');
          $("#Student_List").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
          $("#SectionStdList1").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
          $.each(data, function (i, c) {

              $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
          });

      });
        }
        $('#AcyearStdList').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcyearStdList').val();
            AssignAcademicYear(YearId); $('#ClassStdList').val("");
            $("#SectionStdList1").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#section_PromoteSection").hide();
        });
            $('#ClassStdList').change(function () {
                //alert("get section");
            $("#SectionStdList1").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#section_PromoteSection").hide();
            var cid = $("#ClassStdList").val();

            $.getJSON('/StudentManagement/getSectionList', { cid: cid },
               function (data) {
                   $("#SectionStdList1").empty().append('<option value>Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#SectionStdList1").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });
               });
        });

        $("#SectionStdList1").change(function () {
            $("#section_PromoteSection").hide();
        });
        $('#Promo_Acyear').change(function () {
            $("#Promo_Class").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#Promo_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        });
        $('#Promo_Class').change(function () {
            $("#Promo_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        var std_count;
        var acid, cid, secid;
        $('#btnPromote_Filter').click(function (event) {
            event.preventDefault();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            acid = $("#AcyearStdList").val();
            cid = $("#ClassStdList").val();
            secid = $("#SectionStdList1").val();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcyearStdList') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'ClassStdList') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'SectionStdList1') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
            });
            if (a.length != 0) {
                $('#div_Error').hide();
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                displayStudentResult();
            }
        });
            function displayStudentResult() {
                //alert("Call the function");
            $("#div_Error").hide();
            $("#thead_studentResults").empty();
            var row1 = "<tr><th><input type='checkbox' id='selectAll' /></th><th>@ResourceCache.Localize("StudentId")</th><th>@ResourceCache.Localize("Name")</th><th>@ResourceCache.Localize("RollNumber")</th><th>@ResourceCache.Localize("EducationStatus")</th><th>@ResourceCache.Localize("SchoolingCompleted")</th><th>@ResourceCache.Localize("ClassAssignedForNextAcYear")</th>";
            var row3 = "<th>@ResourceCache.Localize("FinalResult")</th>"
            var row = row1 + row3 + "</tr>";
            $("#thead_studentResults").append(row);            
            values = { AcyearStdList: acid, ClassStdList: cid, SectionStdList1: secid };
            //alert(JSON.stringify(values));
            $.ajax({
                url: '/StudentManagement/AcademicGradeResultList',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (list) {
                    console.log(list);
                    main_count = list.count;
                    if (list.ans_count == 0) {
                        $("#section_PromoteSection").hide();
                        $(".NoRecords").show();
                    }
                    else {
                        $(".NoRecords").hide();
                        $("#section_PromoteSection").show();
                        $("#tbody_studentResults").empty();
                        var main_row = null;
                        var columns1 = null;
                        var column = null;
                        var xxx;
                        var flag = 0;
                        $.each(list.ans, function (i, v) {
                            std_count = i + 1;
                            columns1 = "<tr><td><input type='hidden' value='" + v.StudentRegId + "'  id='StudentRegId" + (i + 1) + "'   /><input class='chkbox'  type='checkbox' id='chkbox" + (i + 1) + "' /></td><td>" + v.StudentId + "</td><td>" + v.StudentName + "</td><td>" + v.StudentRollNumber + "</td><td>" + v.StudentEducationStatus + "</td><td>" + v.SchoolingCompleted + "</td><td>" + v.ClassAssignedForNextAcYear + "</td>";
                            
                            var column3;
                            if(v.FinalResult == "Pass")
                            {
                                column3 = "<td style='color:green;'><label>" + v.FinalResult + "</label></td>";
                            }
                            else if (v.FinalResult == "Fail")
                            {
                                column3 = "<td style='color:red;'><label>" + v.FinalResult + "</label></td>";
                            }
                            else {
                                column3 = "<td>NULL</td>";
                            }
                            main_row = columns1 + column3 + "</tr>";
                            $("#tbody_studentResults").append(main_row);
                        });
                        $("#Promo_Acyear").empty().append('<option value="">@ResourceCache.Localize("SelectAcademicYear")</option>');
                        $("#Promo_Class").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $("#Promo_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                        $.each(list.Ayear, function (a, val) {
                            $("#Promo_Acyear").append($('<option></option>').val(val.AcYearId).html(val.AcYear));
                        });
                    }
                }

            });


        }
        $(document).on('click', '#selectAll', function () {
            if ($(this).is(':checked')) {
                $('.chkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.chkbox').each(function () {
                    this.checked = false;
                });
            }
        })

        $(document).on('click', '.chkbox', function () {
            if (this.checked) {
                $('.chkbox').each(function () {
                    if (this.checked) {
                        $('#selectAll').prop("checked", true);
                    }
                });
            }
        });

        $(document).on('click', '.chkbox', function () {
            if ($("input[class='chkbox']").length == $("input[class='chkbox']:checked").length) {
                $("#selectAll").attr("checked", "checked");
            }
            else {
                $("#selectAll").removeAttr("checked");
            }
        });




        $("#Promo_Acyear").change(function () {
            $("#Promo_Class").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#Promo_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $.getJSON('/StudentManagement/getClassList1', { cid: cid },
               function (data) {
                   $.each(data, function (i, c) {
                       if (1 >= i) {
                           $("#Promo_Class").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                       }
                   });
               });
        });
        $("#Promo_Class").change(function () {
            var cid1 = $("#Promo_Class").val();
            $.getJSON('/StudentManagement/getSectionList', { cid: cid1 },
               function (data) {
                   $("#Promo_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                   $.each(data, function (i, c) {
                       $("#Promo_Section").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });
               });
        });
        $("#btn_promote").click(function () {
            var stdRegID = new Array;
            for (var i = 0; i < std_count; i++) {
                var check = $("#chkbox" + (i + 1)).is(":checked");
                if (check == true) {
                    stdRegID.push($("#StudentRegId" + (i + 1)).val());
                }
            }
            if (stdRegID == null || stdRegID == "") {
                $(".jsonError").hide();
                $(".jsonSuccessMsg").hide();
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Select_Student_To_Promote")");
                return false;
            }
            $(".jsonError").hide();
            $("#div_Error").hide();
            var values = { StudentRegId: stdRegID, Old_AcademicYearId: acid, Old_ClassId: cid, Old_SectionId: secid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentManagement/Promote',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        displayStudentResult();
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });
        $("#btn_demote").click(function () {
            var stdRegID = new Array;
            for (var i = 0; i < std_count; i++) {
                var check = $("#chkbox" + (i + 1)).is(":checked");
                if (check == true) {
                    stdRegID.push($("#StudentRegId" + (i + 1)).val());
                }
            }
            if (stdRegID == null || stdRegID == "") {
                $(".jsonError").hide();
                $(".jsonSuccessMsg").hide();
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Select_Student_To_Demote")");
                return false;
            }
            $(".jsonError").hide();
            $("#div_Error").hide();
            var values = { StudentRegId: stdRegID, Old_AcademicYearId: acid, Old_ClassId: cid, Old_SectionId: secid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentManagement/Depromote',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        displayStudentResult();
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });

        $("#btn_Remove").click(function () {
            var stdRegID = new Array;
            for (var i = 0; i < std_count; i++) {
                var check = $("#chkbox" + (i + 1)).is(":checked");
                if (check == true) {
                    stdRegID.push($("#StudentRegId" + (i + 1)).val());
                }
            }
            if (stdRegID == null || stdRegID == "") {
                $(".jsonError").hide();
                $(".jsonSuccessMsg").hide();
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Select_Student_To_Remove")");
                return false;
            }
            $(".jsonError").hide();
            $("#div_Error").hide();
            var values = { StudentRegId: stdRegID, Old_AcademicYearId: acid, Old_ClassId: cid, Old_SectionId: secid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentManagement/Remove',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        displayStudentResult();
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });

        $("#btn_ReAppear").click(function () {
            var stdRegID = new Array;
            for (var i = 0; i < std_count; i++) {
                var check = $("#chkbox" + (i + 1)).is(":checked");
                if (check == true) {
                    stdRegID.push($("#StudentRegId" + (i + 1)).val());
                }
            }
            if (stdRegID == null || stdRegID == "") {
                $(".jsonError").hide();
                $(".jsonSuccessMsg").hide();
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Select_Student_To_ReAppear")");
                return false;
            }
            $(".jsonError").hide();
            $("#div_Error").hide();
            var values = { StudentRegId: stdRegID, Old_AcademicYearId: acid, Old_ClassId: cid, Old_SectionId: secid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentManagement/ReAppear',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        displayStudentResult();
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });


    });
    </script>
}
