﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ClassStudent>
@{
    ViewBag.Title = "Student RollNumber";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("AssignRollNumber")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form action="@Url.Action("RollNumberManagement", "StudentManagement")" method="post" enctype="multipart/form-data">
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row">
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @if (TempData["frm_acid"] != null)
                                {
                                    @Html.DropDownList("AcyearStdList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1", TempData["frm_acid"]), ResourceCache.Localize("SelectAcademicYear"))
                                }
                                else
                                {
                                    @Html.DropDownList("AcyearStdList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>     
                                                          
                                @if (TempData["frm_cid"] != null)
                                {
                                    <input type="hidden" id="cid" name="cid" value="@TempData["frm_cid"]" />
                                    @Html.DropDownList("ClassStdList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType", TempData["frm_cid"]), ResourceCache.Localize("SelectClass"))
                                }
                                else
                                {
                                    <input type="hidden" id="cid" name="cid" value="" />
                                    @Html.DropDownList("ClassStdList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "current_button" })
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @if (TempData["frm_secid"] != null)
                                {
                                    <input type="hidden" id="sid" name="sid" value="@TempData["frm_secid"]" />
                                    @Html.DropDownList("SectionStdList", new SelectList(ViewBag.Section, "SectionId", "SectionName", TempData["frm_secid"]), ResourceCache.Localize("SelectSection"))
                                }
                                else
                                {
                                    <input type="hidden" id="sid" name="sid" value="" />
                                    <select class="col-lg-12 current_button" id="SectionStdList" name="SectionStdList" required>
                                        <option value="">@ResourceCache.Localize("SelectSection")</option>
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <input type="submit" class="btn btn-down btn-sm btn_submit fa fa-caret-right btn_go" id="btn_StudentRollNumber" name="Go" value="Go" />
                        </div>
                    </div>
                    <div class="box-body row">
                        <div>
                            @if (Model != null)
                            {
                                if (Convert.ToInt32(TempData["count"]) > 0)
                                {
                                    <div>
                                        @ResourceCache.Localize("Click")<input type="submit" id="RollNumber" name="RollNumber" value="Here" class="btn-sm btn_submit fa fa-caret-right" />@ResourceCache.Localize("to_Generate_Roll_Number")
                                    </div>
                                    <div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>@ResourceCache.Localize("SNo")</th>
                                                    <th>@ResourceCache.Localize("StudentName")</th>
                                                </tr>
                                            </thead>
                                            <tbody id="manageAcademicYear">
                                                @foreach (var i in Model)
                                                {
                                                    sno++;
                                                    <tr>
                                                        <td>@sno</td>
                                                        <td>@i.StudentName</td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>@ResourceCache.Localize("SNo")</th>
                                                    <th>@ResourceCache.Localize("StudentName")</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-info alert-dismissable">
                                        <b>@ResourceCache.Localize("Info")@ResourceCache.Localize("Already_rollnumber_assigned_to_students")</b>
                                    </div>
                                }
                               
                            }
                        </div>
                    </div><!-- /.box-body -->
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $('#AcyearStdList').val(@Session["CurrentAcYearId"]);     
        $('#AcyearStdList').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcyearStdList').val();
            AssignAcademicYear(YearId);
            $('#ClassStdList').val("");
            $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        });
        $('#ClassStdList').change(function () {
            $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $("#ClassStdList").change(function () {
            $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            var cid = $("#ClassStdList").val();

            $.getJSON('/StudentManagement/getSectionList', { cid: cid },
               function (data) {
                   $("#SectionStdList").empty().append('<option value>Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#SectionStdList").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });
               });

        });

        
    $("#btn_StudentRollNumber").click(function () {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'AcyearStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'ClassStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'SectionStdList') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                $("#Loading_Sec").addClass("loading-new");
                return true;
            }
    });
          
    </script>
}