﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ClassStudent>
@{
    ViewBag.Title = "Student Performance";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Student_Performance")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("StudentPerformance", "StudentManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("AcyearStdList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="ClassStdList" name="ClassStdList" required>
                                    <option value="">@ResourceCache.Localize("SelectClass")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="SectionStdList" name="SectionStdList" required>
                                    <option value="">@ResourceCache.Localize("SelectSection")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="ExamList" name="ExamList" required>
                                    <option value="">@ResourceCache.Localize("--SelectExam--")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="Student_List" name="Student_List" required>
                                    <option value="">@ResourceCache.Localize("SelectStudent")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <button type="button" class="btn btn-down btn-sm btn_submit " id="btn_StudentPerfomance"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                }
                <div class="box-body">
                    <div class="row" id="div_student_performance" style="display:none;">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="box-body" id="show">
                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentPerformance")</h2>
                            <table class="col-sm-4" border="0">
                                <tr>
                                    <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                    <td><p>:</p></td>
                                    <td><p id="Txt_Year"></p></td>
                                </tr>
                                <tr>
                                    <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                    <td><p>:</p></td>
                                    <td><p id="Txt_Class"></p></td>
                                </tr>
                                <tr>
                                    <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                    <td><p>:</p></td>
                                    <td><p id="Txt_Sec"></p></td>
                                </tr>
                                <tr>
                                    <td>@ResourceCache.Localize("caps_Exam")</td>
                                    <td><p>:</p></td>
                                    <td><p id="Txt_Exam"></p></td>
                                </tr>
                                <tr>
                                    <td>@ResourceCache.Localize("Cap_NAME")</td>
                                    <td><p>:</p></td>
                                    <td><p id="Txt_Name"></p></td>
                                </tr>
                            </table>
                            <table border="1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("SNo")</th>
                                        <th>@ResourceCache.Localize("Subject")</th>
                                        <th>@ResourceCache.Localize("MinimumMark")</th>
                                        <th>@ResourceCache.Localize("MaximumMark")</th>
                                        <th>@ResourceCache.Localize("Mark/Outoff")</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_manageAcademicYear"></tbody>
                                <tfoot>
                                    <tr>                                       
                                        <th colspan="4" style="text-align:right;">@ResourceCache.Localize("Total")</th>
                                        <th><label id="lb_total"></label></th>
                                    </tr>
                                    <tr>                                        
                                        <th colspan="4" style="text-align:right;">@ResourceCache.Localize("Result")</th>
                                        <th> <label id="lb_result" style="color:green;"></label> <label id="lb_result_fail" style="color:red;"></label></th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" style="text-align:right;">@ResourceCache.Localize("Rank")</th>
                                        <th> <label id="lb_rank"></label></th>
                                    </tr>
                                    <tr>                                        
                                        <th colspan="4" style="text-align:right;">@ResourceCache.Localize("Comments")</th>
                                        <th> <label id="lb_comment"></label></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                    @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $('#AcyearStdList').val(@Session["CurrentAcYearId"]);
        $.getJSON('/StudentManagement/getExam',
          function (data) {
              $("#ExamList").empty().append('<option value>Select Exam</option>');
              $.each(data, function (i, c) {
                  $("#ExamList").append($('<option></option>').val(c.examId).html(c.exam));
              });
          });

    ChangeClassandSection();
    function ChangeClassandSection() {
        $("#div_student_performance").hide();
        $.getJSON('/StudentManagement/ClassList',
  function (data) {
      $("#ClassStdList").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
      $("#SectionStdList").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
      $("#StudentList").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
      $("#Student_List").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
      $("#SectionStdList1").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
      $.each(data, function (i, c) {
          $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
      });
  });
    }
    $('#AcyearStdList').change(function (event) {
        event.preventDefault(); 
        $("#ExamList").val("");
        $("#div_student_performance").hide();
        var YearId = $('#AcyearStdList').val();
        $("#ClassStdList").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
        $("#SectionStdList").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
        $("#Student_List").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
        var YearId = $('#AcyearStdList').val();
        if (YearId != "") {
            AssignAcademicYear(YearId);
            $.getJSON('/StudentManagement/ClassList',
            function (data) {
                $.each(data, function (i, c) {
                    $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                });
            });

           

        }
    });
    function AssignAcademicYear(YearId) {
        $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                    function (orderdetails) {
                    });
    }
    $('#ExamList').change(function (event) {
        $("#div_student_performance").hide();
    });
    $("#ClassStdList").change(function () {
        $("#div_student_performance").hide();
        $("#SectionStdList").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
        $("#Student_List").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
        $("#ExamList").val("");

        var cid = $("#ClassStdList").val();
        $.getJSON('/StudentManagement/getSectionList', { cid: cid },
           function (data) {
               $("#SectionStdList").empty().append('<option value>Select Section</option>');
               $.each(data, function (i, c) {
                   $("#SectionStdList").append($('<option></option>').val(c.SectionId).html(c.Section));
               });
        });
    });

        $("#SectionStdList").change(function () {
            $("#div_student_performance").hide();
            $("#ExamList").val("");
        var acid = $("#AcyearStdList").val();
        var cid = $("#ClassStdList").val();
        var sec_id = $("#SectionStdList").val();
        $.getJSON('/StudentManagement/StudentListWhoHaveStudied', { acid: acid, cid: cid, sec_id: sec_id },
            function (data) {
                $("#Student_List").empty().append('<option value>Select Student</option>');
                $.each(data, function (i, c) {
                    $("#Student_List").append($('<option></option>').val(c.std_id).html(c.std));
                });

            });

    });

  
    $("#btn_StudentPerfomance").click(function () {
        $('.NoRecords').hide();
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation();
        if (bool == true) {
            var acid = $("#AcyearStdList").val();
            var cid = $("#ClassStdList").val();
            var sec_id = $("#SectionStdList").val();
            var examid = $("#ExamList").val();
            var stdid = $("#Student_List").val();
            var values = { AcademicYearId: acid, ClassId: cid, SectionId: sec_id, ExamId: examid, StudentId: stdid };
            $.ajax({
                url: '/StudentManagement/StudentPerformance',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.ans != "" && data.ans != null) {
                            $('#Txt_Year').text($('#AcyearStdList option:selected').text());
                            $('#Txt_Class').text($('#ClassStdList option:selected').text());
                            $('#Txt_Sec').text($('#SectionStdList option:selected').text());
                            $('#Txt_Exam').text($('#ExamList option:selected').text());
                            $('#Txt_Name').text($('#Student_List option:selected').text());
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $("#div_student_performance").show();
                            $('#tbody_manageAcademicYear').empty();
                            $.each(data.ans, function (i, v) {
                                var mark_td;
                                if (v.Mark < v.MinMark) {
                                    mark_td = '<td style="color:red;">' + v.Mark + '/' + v.MaxMark + '</td>';
                                }
                                else {
                                    mark_td = '<td>' + v.Mark + '/' + v.MaxMark + '</td>';
                                }
                                row = $('<tr><td>' + (i + 1) + '</td><td>' + v.Subject + '</td><td>' + v.MinMark + '</td><td>' + v.MaxMark + '</td>' + mark_td + '</tr>');
                                $('#tbody_manageAcademicYear').append(row);
                            });
                            if (data.MarkTotal.Result == "Fail") {
                                $("#lb_result").hide();
                                $("#lb_result_fail").show();
                                $("#lb_result_fail").html(data.MarkTotal.Result);
                            }
                            else {
                                $("#lb_result_fail").hide();
                                $("#lb_result").show();
                                $("#lb_result").html(data.MarkTotal.Result);
                            }
                            $("#lb_total").html(data.MarkTotal.TotalMark);
                            $("#lb_rank").html(data.MarkTotal.StudentRank);
                            $("#lb_comment").html(data.MarkTotal.Comment);
                        }
                        else {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $("#div_student_performance").hide();
                            $(".NoRecords").show();
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        }
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'AcyearStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'ClassStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'SectionStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'ExamList') {
                    a.push('@ResourceCache.Localize("PleaseSelectExam")');
                }
                if (null_id == 'Student_List') {
                    a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}