﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.Student>
@{
    ViewBag.Title = "StudentProfiles";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("StudentProfile")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("StudentProfiles", "StudentManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("AcyearStdList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="ClassStdList" name="ClassStdList" required>
                                    <option value="">@ResourceCache.Localize("SelectClass")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="SectionStdList" name="SectionStdList" required>
                                    <option value="">@ResourceCache.Localize("SelectSection")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="StudentList" name="StudentList" required>
                                    <option value="">@ResourceCache.Localize("SelectStudent")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <button type="button" class="btn btn-down btn-sm btn_submit" id="btn_StudentProfile" name="btn_StudentProfile"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                }
                <div class="box-body">
                    <div class="row" id="div_student_profile" style="display:none;">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="box-body" id="show">
                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentProfile")</h2>
                                <section class="col-xs-12">
                                    <!-- TO DO List -->
                                    <div class="box-body">
                                        <div class="col-lg-12">
                                            <center><div><img id="lb_image" alt="User Profile" width="170" height="150" /></div></center>
                                        </div>
                                        <div>
                                            <div class="box-body row border-radius-none">
                                                <div class="col-sm-12">
                                                    <div class="widget box-solid bg-teal-gradient">
                                                        <table class="col-lg-12 table table-bordered table-striped" border="1">
                                                            <tr>
                                                                <th>@ResourceCache.Localize("PersonalDetails") </th>
                                                            </tr>
                                                            <tr><td>@ResourceCache.Localize("StudentName")</td><td id="lb_student_name"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("DateOfBirth")</td><td id="lb_dob"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("Gender")</td><td id="lb_gender"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("BloodGroup")</td><td id="lb_bgroup"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("Community")</td><td id="lb_community"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("Religion")</td><td id="lb_religion"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("Nationality")</td><td id="lb_nationality"></td></tr>
                                                            <tr>
                                                                <th>@ResourceCache.Localize("ContactDetails") </th>
                                                            </tr>
                                                            <tr><td>@ResourceCache.Localize("PhoneNumber")</td><td id="lb_phone"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("Email")</td><td id="lb_email"></td></tr>
                                                            <tr>
                                                                <th>@ResourceCache.Localize("AddressDetails") </th>
                                                            </tr>
                                                            <tr><td>@ResourceCache.Localize("Address")</td><td id="lb_address"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("City")</td><td id="lb_city"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("State")</td><td id="lb_state"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("Country")</td><td id="lb_country"></td></tr>
                                                            <tr>
                                                                <th>@ResourceCache.Localize("ProfessionalDetails") </th>
                                                            </tr>
                                                            <tr><td>@ResourceCache.Localize("DateofJoining")</td><td id="lb_doj"></td></tr>
                                                            <tr>
                                                                <th>@ResourceCache.Localize("ProfessionalDetails") </th>
                                                            </tr>
                                                            <tr><td>@ResourceCache.Localize("Name")</td><td id="lb_emg_name"></td></tr>
                                                            <tr><td>@ResourceCache.Localize("ContactNumber")</td><td id="lb_emg_contact"></td></tr>
                                                        </table>
                                                </div>
                                                </div>
                                                                                      
                                            </div><!-- /.box-body -->
                                            
                                        </div>
                                    </div>
                                   
                                    <!-- quick email widget -->
                                </section><!-- /.Left col -->
                           
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $('#AcyearStdList').val(@Session["CurrentAcYearId"]);
    $("#AcyearStdList").addClass("col-lg-12");
    ChangeClassandSection();
    function ChangeClassandSection() {
        $.getJSON('/StudentManagement/ClassList',
  function (data) {

      $("#ClassStdList").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
      $("#SectionStdList").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
      $("#StudentList").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
      $("#Student_List").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
      $.each(data, function (i, c) {
          $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
      });

  });
    }
        $('#AcyearStdList').change(function (event) {
          $('#div_student_profile').hide();
        event.preventDefault();
        var YearId = $('#AcyearStdList').val();
        AssignAcademicYear(YearId);
        $("#ClassStdList").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
        $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
        $("#StudentList").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
        $.getJSON('/StudentManagement/ClassList',
            function (data) {
                $.each(data, function (i, c) {
                    $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                });
            });
    });

        $("#ClassStdList").change(function () {
            $('#div_student_profile').hide();
        $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            var cid = $("#ClassStdList").val();

            $.getJSON('/StudentManagement/getSectionList', { cid: cid },
               function (data) {
                   $("#SectionStdList").empty().append('<option value>Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#SectionStdList").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });
               });

        });

        $("#SectionStdList").change(function () {
            $('#div_student_profile').hide();
            $("#StudentList").empty().append('<option value>@ResourceCache.Localize("SelectStudent")</option>');
            var acid = $("#AcyearStdList").val();
            var cid = $("#ClassStdList").val();
            var sec_id = $("#SectionStdList").val();
            $.getJSON('/StudentManagement/StudentListWhoHaveStudied', { acid: acid, cid: cid, sec_id: sec_id },
               function (data) {
                   $("#StudentList").empty().append('<option value>Select Student</option>');
                   $.each(data, function (i, c) {
                       $("#StudentList").append($('<option></option>').val(c.std_id).html(c.std));
                   });
               });
        });

    
    function AssignAcademicYear(YearId) {
        $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                  function (orderdetails) {
                  });
    }

    $("#btn_StudentProfile").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation();
        if (bool == true) {
            var acid = $("#AcyearStdList").val();
            var cid = $("#ClassStdList").val();
            var sec_id = $("#SectionStdList").val();
            var stdid = $("#StudentList").val();
            var values = { AcademicYearId: acid, ClassId: cid, SectionId: sec_id, StudentId: stdid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/StudentManagement/StudentProfiles',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.ans != "" && data.ans != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $("#div_student_profile").show();
                            var loc = "/Documents/" + data.ans.StudentId + "/" + data.ans.Photo;
                            $('#lb_image').attr("src", loc);
                            $("#lb_student_name").html(data.ans.StudentName);
                            $("#lb_dob").html(data.ans.Date_birth);
                            $("#lb_bgroup").html(data.ans.BloodGroup);
                            $("#lb_gender").html(data.ans.Gender);
                            $("#lb_community").html(data.ans.Community);
                            $("#lb_religion").html(data.ans.Religion);
                            $("#lb_nationality").html(data.ans.Nationality);
                            $("#lb_phone").html(data.ans.Contact);
                            $("#lb_email").html(data.ans.Email);
                            $("#lb_address").html(data.ans.Address);
                            $("#lb_city").html(data.ans.City);
                            $("#lb_state").html(data.ans.State);
                            $("#lb_country").html(data.ans.Country);
                            $("#lb_doj").html(data.ans.Date_join);
                            $("#lb_emg_name").html(data.ans.EmergencyContactPerson);
                            $("#lb_emg_contact").html(data.ans.EmergencyContactNumber);
                        }
                        else {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $("#div_student_profile").hide();
                            $(".NoRecords").show();
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        }
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'AcyearStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'ClassStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'SectionStdList') {
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'StudentList') {
                    a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    </script>
}