﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ClassStudent>
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <div class="col-lg-11">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageStudent")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    <div class="box-body">
                        <form>
                            <div class=" col-sm-4 col-lg-3 col-md-4">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcyearStdList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "filterItem", title = "Academic year" })
                                <input type="hidden" name="hidden_AcyearStdList" id="hidden_AcyearStdList" />
                            </div>
                            <div class=" col-sm-4 col-lg-3 col-md-4">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ClassStdList", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem", title = "Class" })
                                <input type="hidden" name="hidden_ClassStdList" id="hidden_ClassStdList" />
                            </div>
                            <div class=" col-sm-4 col-lg-3 col-md-4">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("SectionStdList", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "filterItem", title = "Class" })
                                <input type="hidden" name="hidden_SectionStdList" id="hidden_SectionStdList" />
                            </div>
                            <div class="col-sm-4 col-lg-3 col-md-4">
                                <button type="submit" id="filterBtn" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                            </div>
                            <div class="row col-xs-12 col-lg-12 col-sm-12 col-md-12" id="show">
                                <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                                <div id="pager1"></div>
                                <div class="row col-lg-12 col-xs-12 col-sm-12">
                                    <input type="button" id="sendEmail" name="sendEmail" class=" btn btn_search btn-success btn-down" value="ResendPassword" style=" margin-left: 0px;" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">

        $(document).on('click', '#cb_grid1', function () {
            if ($(this).is(':checked')) {
                $('.cbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.cbox').each(function () {
                    this.checked = false;
                });
            }
        })

        $(document).on('click', '.cbox', function () {
            if (this.checked) {
                $('.cbox').each(function () {
                    if (this.checked) {
                        $('#cb_grid1').prop("checked", true);
                    }
                });
            }
        });

        $(document).on('click', '.cbox', function () {
            if ($("input[class='cbox']").length == $("input[class='cbox']:checked").length) {
                $("#cb_grid1").attr("checked", "checked");
            }
            else {
                $("#cb_grid1").removeAttr("checked");
            }
        });



        $(function () {
            $('#AcyearStdList').val(@Session["CurrentAcYearId"]);
            ChangeClassandSection();

            $('#AcyearStdList').change(function (event) {
                $('#show').hide();
                $("#ClassStdList").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
                $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                event.preventDefault();
                var YearId = $('#AcyearStdList').val();
                if (YearId != "")
                {
                    AssignAcademicYear(YearId);
                    $.getJSON('/StudentManagement/ClassList',
                    function (data) {
                        $.each(data, function (i, c) {
                            $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                        });
                    });
                }
               
            });

            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            function ChangeClassandSection() {
                $.getJSON('/StudentManagement/ClassList',
                function (data) {

                  $("#ClassStdList").empty().append('<option value>Select Class</option>');
                  $("#SectionStdList").empty().append('<option value>Select Section</option>');

                  $.each(data, function (i, c) {
                      $("#ClassStdList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                  });

                });
            }

            $("#ClassStdList").change(function () {
                $('#show').hide();
                $("#SectionStdList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                var cid = $("#ClassStdList").val();

                $.getJSON('/StudentManagement/getSectionList', { cid: cid },
                   function (data) {
                       $("#SectionStdList").empty().append('<option value>Select Section</option>');
                       $.each(data, function (i, c) {
                           $("#SectionStdList").append($('<option></option>').val(c.SectionId).html(c.Section));
                       });
                   });

            });

            $("#ClassStdList").change(function () {
                $('#show').hide();
            });
            $('#show').hide();
            //var width = $('#show').width();
            //$('#grid1').setGridWidth(width, true); //Back to original width
            //$('#grid1').setGridWidth($('#show').width(), true); //Resized to new width as per window
            var AcademicYearId;
            jQuery("#grid1").jqGrid({
                url: "/StudentManagement/ResultStudentList",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['', '@ResourceCache.Localize("StudentId")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("PrimaryUser")', '@ResourceCache.Localize("PrimaryUserEmail")', '@ResourceCache.Localize("ContactPerson")', '@ResourceCache.Localize("ContactNumber")'], //,  'Hosteller'
                colModel: [
                   { key: true, hidden: true, name: 'StdRegid', index: 'StdRegid' },
                    { key: false, name: 'StudentId', index: 'StudentId', editable: true },
                    { key: false, name: 'StudentName', index: 'StudentName', formatter: 'showlink', formatoptions: { baseLinkUrl: '/StudentManagement/StudentProfile' } },
                    { key: false, name: 'PrimaryUserName', index: 'PrimaryUserName', editable: true },
                    { key: false, name: 'PrimaryUserEmail', index: 'PrimaryUserEmail', editable: true },
                    { key: false, name: 'EmergencyContactPerson', index: 'EmergencyContactPerson', editable: true },
                    { key: false, name: 'ContactpersonContact', index: 'ContactpersonContact', editable: true }
                ],
                pager: jQuery("#pager1"),
                rowNum: 10,
                rowList: [10, 20, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                multiselect: true,
                autowidth: true,
                hoverrows: true,
                gridComplete: function () {
                    var ids = jQuery("#grid1").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        AcademicYearId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_AcademicYear btn_Edit ui-icon-pencil' id='" + AcademicYearId + "' value=''  title='Edit'/>";
                        jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                    }
                },
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
                    {
                        caption: " Excel ",
                        buttonicon: "ui-icon-bookmark",
                        onClickButton: function () {
                            window.location.href = "../StudentManagement/StudentListExportToExcel";
                        }
                    }).jqGrid('navButtonAdd', '#pager1',
                    {
                        caption: " Pdf ",
                        buttonicon: "ui-icon-print",
                        position: "last",
                        onClickButton: function () {
                            window.location.href = "../StudentManagement/StudentListExportToPDF";
                        }
                    });
            $("#grid1").setCaption(' <span class="fa fa-table"></span>' + 'Student List');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />');
            $('#filterBtn').click(function (event) {
                event.preventDefault();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                var bool = jsFormValidation();
                if (bool == true) {
                    $('#show').show();
                    filterGrid();
                }
            });
            function filterGrid() {
                var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#grid1').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };
        });
        function jsFormValidation() {
            var a = [];
            var field_val = [];
            $(".filterItem").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcyearStdList') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear").');
                    }
                    if (null_id == 'ClassStdList') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass").');
                    }
                    if (null_id == 'SectionStdList') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection").');
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                $("#hidden_AcyearStdList").val($("#AcyearStdList").val());
                $("#hidden_ClassStdList").val($("#ClassStdList").val());
                $("#hidden_SectionStdList").val($("#SectionStdList").val());
                return true;
            }
        }
        $(document).ready(function () {
            $('#sendEmail').click(function () {
                var grid = $('#grid1');
                var ids = grid.jqGrid('getGridParam', 'selarrrow');


                if (ids.length > 0) {
                    var names = [];
                    for (var i = 0, il = ids.length; i < il; i++) {
                        var name = grid.jqGrid('getCell', ids[i], 'StdRegid');
                        names.push(name);
                    }
                    var Registers = {
                        RegId: names, SelectCount: ids.length
                    };
                    $.ajax({
                        type: "POST",
                        url: '/StudentManagement/SendEmail',
                        traditional: true,
                        data: Registers,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                            }
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
                else {

                    $("#jsonError").hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Please_select_any_records")").val("@ResourceCache.Localize("Please_select_any_records")");
                }

            });
        });
    </script>
}