﻿@using eAcademy.Models
@model  eAcademy.ViewModel.StudentProfile
@{
    ViewBag.Title = "StudentProfile";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content">
    <div class="row">
        @Html.Partial("~/Views/Shared/Print.cshtml")
        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentProfile")</h2>
        <div class="box-body" id="show">

            <section class="col-xs-12">
                <!-- TO DO List -->
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Profile")</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-12">
                            <center><div><img src="/Documents/@Model.StudentId/@Model.Photo.ToString()" alt="User Profile" width="170" height="150" /></div></center>
                        </div>
                        <div>
                            <div class="box-body row border-radius-none">
                                <div class="col-sm-12">
                                    <div class="box box-solid bg-teal-gradient">
                                        <div class="box-header bg-light-gray">
                                            <h3 class="subHeading">@ResourceCache.Localize("PersonalDetails") </h3>
                                        </div>
                                        <div class="box-body row border-radius-none  ">
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("StudentName"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.StudentName</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("DateOfBirth"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Date_birth</label></div>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Gender"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Gender</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("BloodGroup"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.BloodGroup</label></div>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Community"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Community</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Religion"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Religion</label></div>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Nationality"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Nationality</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="box box-solid bg-teal-gradient">
                                        <div class="box-header bg-light-gray">
                                            <h3 class="subHeading">@ResourceCache.Localize("ContactDetails")</h3>
                                        </div>
                                        <div class="box-body row border-radius-none  ">
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("PhoneNumber"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Contact</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Email"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Email</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="box box-solid bg-teal-gradient">
                                        <div class="box-header bg-light-gray">
                                            <h3 class="subHeading">@ResourceCache.Localize("AddressDetails")  </h3>
                                        </div>
                                        <div class="box-body row border-radius-none  ">
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Address"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Address</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("City"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.City</label></div>
                                                </div>
                                            </div>
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("State"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.State</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Country"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Country</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="box box-solid bg-teal-gradient">
                                        <div class="box-header bg-light-gray">
                                            <h3 class="subHeading">@ResourceCache.Localize("ProfessionalDetails") </h3>
                                        </div>
                                        <div class="box-body row border-radius-none  ">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("DateofJoining"): </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.Date_join</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="box box-solid bg-teal-gradient">
                                        <div class="box-header bg-light-gray">
                                            <h3 class="subHeading">@ResourceCache.Localize("EmergencyDetails") </h3>
                                        </div>
                                        <div class="box-body row border-radius-none  ">
                                            <div class="row col-lg-12 ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("Name"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.EmergencyContactPerson</label></div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">@ResourceCache.Localize("ContactNumber"): </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label class="col-lg-12 col-md-12 col-lg-pull-7 col-md-pull-5 col-sm-12 col-sm-pull-2 col-xs-12">@Model.EmergencyContactNumber</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->
                            <div class="box-footer no-border">
                            </div><!-- /.box-footer -->
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div><!-- /.box -->
                <!-- quick email widget -->
            </section><!-- /.Left col -->

        </div>
    </div>
</section>