﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Areas.Transport.Models.DestinationPickpoints>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("AddDestination")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
               
                    <form id="form1_PickPoint">
                        <div class="box-body" id="div_Error" style="display:none;">
                            <div class="alert alert-danger alert-dismissable">
                                <b>@ResourceCache.Localize("Error")!</b>
                                <div id="Destination_Error">
                                </div>
                                <div id="errorMsg">
                                </div>
                              
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Destination")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="txt_Destination" name="txt_Destination" placeholder="@ResourceCache.Localize("DestinationName")" class="col-xs-12 col-sm-12 col-md-6" title="@ResourceCache.Localize("DestinationName")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="btn-down">
                                        <input type="checkbox" id="check_Destination" name="check_Destination" checked readonly title="Destination Status" /> <label class="input-label-sm">@ResourceCache.Localize("Status")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped PickpointList">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("PickPoint")</th>
                                            <th>@ResourceCache.Localize("Distance") (in Km)</th>
                                            <th>@ResourceCache.Localize("Amount") (@ResourceCache.Localize("InRs")) <input type="hidden" id="count" name="count" value="1" /></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_PickpointList">
                                        <tr>
                                            <td><input type="text" id="txt_PickPoint1" name="txt_PickPoint1" placeholder="@ResourceCache.Localize("PickPoint")" class="col-xs-12 Pickpoint" title="@ResourceCache.Localize("PickPoint")" maxlength="30" /></td>
                                            <td><input type="text" id="txt_Distance1" name="txt_Distance1" placeholder="@ResourceCache.Localize("Distance")" class="col-xs-12 Dist" title="@ResourceCache.Localize("Distance")" maxlength="30" /></td>
                                            <td><input type="text" id="txt_Charge1" name="txt_Charge1" placeholder="@ResourceCache.Localize("Amount")" class="col-xs-12 Charge" title="@ResourceCache.Localize("Amount")" maxlength="30" /></td>
                                        </tr>
                                    </tbody>
                                    <tbody id="tbody_EditPickpointList" style="display:none"></tbody>
                                </table>
                            </div>
                            <div id="addrow1">
                                <a id="BtnAddPickpoint" name="BtnAddPickpoint" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("Add_Row")</i> </a> / <a id="btnDelPickpoint" name="btnDelPickpoint" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete_Row")</i></a>
                            </div>
                            <div id="EditAddRow1" style="display:none">
                                <a id="BtnEditAddPickpoint" name="BtnEditAddPickpoint" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("Add_Row")</i> </a> / <a id="btnEditDelPickpoint" name="btnEditDelPickpoint" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete_Row")</i></a>
                            </div>
                        </div>
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer foot_row" id="footer1">
                                    <button type="button" class="btn btn_double btn-sm btn_add" id="btnSavePickpoint" name="btnSavePickpoint"><i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                    <button type="reset" class=" btn btn-sm btn_reset" id="btnReset" name="btnReset"><i class="fa fa-refresh "></i>@ResourceCache.Localize("Reset")</button>
                                </div>
                                <div class="footer" id="footer2" style="display:none;">
                                    <input type="hidden" id="DestinationId" name="DestinationId" />
                                    <input type="hidden" id="PickPointCount" name="PickPointCount" />
                                    <input type="hidden" id="ExistPickPointCount" name="ExistPickPointCount" />
                                    <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdatePickPoint" name="btnUpdatePickPoint"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                    <button type="button" class="btn btn-sm btn_cancel" name="btnCancel_EditPickPoint" id="btnCancel_EditPickPoint" title="Cancel"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel")  </button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </form>
                
            </div>
        </section>
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ExistDestination")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                    @if (Model.Count() == 0)
                {
                   <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable" id="NoRecords">
                        <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                    </div>
                   </div>
                }
                    else
                    {
                        <div class="box-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("DestinationName")</th>
                                        <th>@ResourceCache.Localize("PickPoints")</th>
                                        <th>@ResourceCache.Localize("Status")</th>
                                        <th>@ResourceCache.Localize("Edit")</th>
                                    </tr>
                                </thead>
                                <tbody id="id_tbody_PickPoint">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.DestinationName</td>
                                            <td>@item.PickPointsList</td>
                                            @if (item.Status == true)
                                            {
                                                <td style="color:green">Active</td> }
                                            else
                                            {
                                                <td style="color:red">Inactive</td> }
                                            <td class="no_print cursor"><i class='fa fa-edit btnEditPickPointSettings' id="@item.DestinationId"></i></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                <div class="box-footer no-border">
                    <div class="row">
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_Destination").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(".Pickpoint").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(".Dist").filter_input({ regex: '[0-9.]' });
    $(".Charge").filter_input({ regex: '[0-9.]' });
    var counter = 1;
    $("#BtnAddPickpoint").click(function (event) {
        $("#div_Error").hide();
        $("#errorMsg").empty();
        var PreviousPickPoint = $('#txt_PickPoint' + counter).val();
        var PreviousDistance = $('#txt_Distance' + counter).val();
        var PreviousCharge = $('#txt_Charge' + counter).val();
        if (PreviousPickPoint == null || PreviousDistance == null || PreviousCharge == null || PreviousPickPoint == "" || PreviousDistance == "" || PreviousCharge == "") {
            $("#div_Error").show();
            $("#errorMsg").text("@ResourceCache.Localize("Please_enter_pick_point_Distance_and_charge_to_existing_record")");
            return false;
        }
        $("#div_Error").hide();
        $("#errorMsg").empty();
        counter++;
        var newRow = jQuery('<tr><td><input type="text" id="txt_PickPoint' + counter + '" name="txt_PickPoint' +
            counter + '" placeholder="Pick point" class="col-xs-12 Pickpoint" title="Pick point" maxlength="30" /></td><td><input type="text" id="txt_Distance' + counter + '" name="txt_Distance' +
            counter + '" placeholder="Distance" class="col-xs-12 Dist" title="Distance"   /></td><td><input type="text" id="txt_Charge' + counter + '" name="txt_Charge' +
            counter + '" placeholder="Charge" class="txt_EndTime col-xs-12 Charge" title="Charge"   /></td></tr>');
        jQuery('table.PickpointList').append(newRow);
        $("#count").val(counter).html(counter);
    });

        $("#btnReset").click(function () {
            $("#div_Error").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        $("#btnCancel_EditPickPoint").click(function () {
            location.reload();
        });

    $("#btnSavePickpoint").click(function () {
        $("#div_Error").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        var c = $("#count").val();
        var Destination_Name = $("#txt_Destination").val();
        var check = $("#check_Destination").is(':checked');
        var status;
        if (check == true) {
            status = true;
        }
        else {
            status = false;
        }
        if (Destination_Name == "0" || Destination_Name == null || Destination_Name == "") {
            $("#div_Error").show();
            $("#Destination_Error").text("@ResourceCache.Localize("Please_enter_destination_name")");
            return false;
        }
        else {
            $("#Destination_Error").text("");
        }
        if (status == false) {
            $("#div_Error").show();
            $("#Destination_Error").text("@ResourceCache.Localize("PleaseSelectStatus")");
        }
        var pick_Pt = [];
        var distance = [];
        var charge = [];
        for (var i = 0; i < c; i++) {
            pick_Pt[i] = $("#txt_PickPoint" + (i + 1)).val();
            distance[i] = $("#txt_Distance" + (i + 1)).val();
            charge[i] = $("#txt_Charge" + (i + 1)).val();
            if (pick_Pt[i] == "0" || pick_Pt[i] == null || pick_Pt[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Fill_pick_point_to_all_Added_Rows")");
                return false;
            }
            else if (distance[i] == "0" || distance[i] == null || distance[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").text("@ResourceCache.Localize("Fill_distance_to_all_Added_Rows")");
                return false;
            }
            else if (charge[i] == "0" || charge[i] == null || charge[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").text("@ResourceCache.Localize("Fill_charge_to_all_Added_Rows")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
            }
        }
        var values = {
            DestinationName: Destination_Name,
            PickPointName: pick_Pt,
            Distance: distance,
            Charge: charge,
            Count: c,
            Status: status
        };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/Transport/FeeConfig/PickPointSettings',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.Message != "" && data.Message != null) {
                    location.reload();
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();

                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                    //location.reload();
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.ExceptionError != "" && data.ExceptionError != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });
    var DestinationId = 0;
    $(document).on('click', '.btnEditPickPointSettings', function () {
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#div_Error").hide();
        $("#errorMsg").empty();
        $("#div_Error").hide();
        $("#EditAddRow1").show();
        var editid = $(this).attr('id');
        var values = {
            DestinationId: editid
        };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/Transport/FeeConfig/EditPickPoints',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#tbody_PickpointList").hide();
                if (data.ans.Status == true) {
                    $("#check_Destination").prop("checked", true);
                }
                if (data.ans.Status == false) {
                    $("#check_Destination").prop("checked", false);
                }
                $("#txt_Destination").val(data.ans.DestinationName).html(data.ans.DestinationName);
                $("#DestinationId").val(data.ans.DestinationId);
                $("#tbody_EditPickpointList").show();
                $("#addrow1").hide();
                $("#addrow2").show();
                $("#footer1").hide();
                $("#footer2").show();
                $("#tbody_EditPickpointList").append().empty();
                //var list = data.Pickpt.length();
                //alert(list);
                $.each(data.Pickpt, function (i, v) {
                    var id = "_id_" + (i + 1);
                    var row = "<tr><td><input type='hidden' id='PickPointId" + (i + 1) + "'  value=" + v.PickPointId + " /> <input type='text' id='update_PickPoint" + (i + 1) + "'  name='update_PickPoint" + (i + 1) + "' placeholder='Pick Point' maxlength='30' class='col-xs-12 Pickpoint' title='Pick Point' value=" + v.PickPointName
                        + " /></td><td><input type='text' id='update_Distance" + (i + 1)
                        + "'  name='update_Distance" + (i + 1) + "' placeholder='Distance' class='col-xs-12 Dist' value=" + v.Distance1
                        + " title='Distance'  /> </td><td><input type='text' id='update_Charge" + (i + 1) + "' name='update_Charge" + (i + 1) + "' placeholder='Amount' class='col-xs-12 Charge' value=" + v.Charge
                        + " title='Amount'  /> </td></tr>";
                    $("#tbody_EditPickpointList").append(row);
                    $("#PickPointCount").val(i + 1);
                    $("#ExistPickPointCount").val(i + 1);
                    $("#Loading_Sec").removeClass("loading-new");
                });
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.Message != "" && data.Message != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();
                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.ExceptionError != "" && data.ExceptionError != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });

 
    $("#BtnEditAddPickpoint").click(function (event) {
        $("#div_Error").hide();
        $("#errorMsg").empty();
        var ExistCount = $("#PickPointCount").val();
        var PreviousPickPoint = $('#update_PickPoint' + ExistCount).val();
        var PreviousDistance = $('#update_Distance' + ExistCount).val();
        var PreviousCharge = $('#update_Charge' + ExistCount).val();
        if (PreviousPickPoint == null || PreviousDistance == null || PreviousCharge == null || PreviousPickPoint == "" || PreviousDistance == "" || PreviousCharge == "") {
            $("#div_Error").show();
            $("#errorMsg").text("@ResourceCache.Localize("Please_enter_pick_point_Distance_and_charge_to_existing_record")");
            return false;
        }
        $("#div_Error").hide();
        $("#errorMsg").empty();
        ExistCount++;
        var newRow = jQuery('<tr><td><input type="hidden" id="PickPointId' + ExistCount + '" name="PickPointId' + ExistCount + '"  value="" /><input type="text" id="update_PickPoint' + ExistCount + '" name="update_PickPoint' +
            ExistCount + '" placeholder="Pick point" class="col-xs-12 Pickpoint" title="Pick point" maxlength="30" /></td><td><input type="text" id="update_Distance' + ExistCount + '" name="update_Distance' +
            ExistCount + '" placeholder="Distance" class="col-xs-12 Dist" title="Distance"   /></td><td><input type="text" id="update_Charge' + ExistCount + '" name="update_Charge' +
            ExistCount + '" placeholder="Charge" class="txt_EndTime col-xs-12 Charge" title="Charge"   /></td></tr>');
        $("#tbody_EditPickpointList").append(newRow);
        $("#PickPointCount").val(ExistCount);
        $("#count").val(ExistCount).html(ExistCount);
    });

    $("#btnEditDelPickpoint").click(function (event) {
        var ExistCount = $("#PickPointCount").val();
        if (ExistCount == 1) {
            $("#div_Error").show();
            $("#errorMsg").text("@ResourceCache.Localize("Can_not_remove_the_row")");
        }
        else {
            $("#div_Error").hide();
            var PicPointId = $("#PickPointId" + ExistCount).val();
            if (PicPointId == "")
            {
                $("table #tbody_EditPickpointList tr:last").remove();
                ExistCount--;
                $("#PickPointCount").val(ExistCount);
            }
            else {
                $.getJSON('/FeeConfig/CheckPickPointUsed', { pickPointId: PicPointId },
                 function (data) {
                     if(data.msg == "AlreadyUsed")
                     {
                         $("#div_Error").show();
                         $("#errorMsg").text("@ResourceCache.Localize("Can_not_delete_the_pickpoint_bcoz_already_alloted_to_student")");
                     }
                     if(data.msg =="NotUsed")
                     {
                         $("table #tbody_EditPickpointList tr:last").remove();
                         ExistCount--;
                         $("#PickPointCount").val(ExistCount);
                     }
                 });
            }
        }
       
    });

    $("#btnUpdatePickPoint").click(function () {
        $("#jsonSuccessMsg").hide();
        $("#jsonError").hide();
        $("#jsonErrorMsg").hide();
        $(".jsonExceptionMsg").hide();

        var Destination_Name = $("#txt_Destination").val();
        var DestinationId = $("#DestinationId").val();
        var check = $("#check_Destination").is(':checked');
        var status;
        if (check == true) {
            status = true;
        }
        else {
            status = false;
        }
        if (Destination_Name == "0" || Destination_Name == null || Destination_Name == "") {
            $("#div_Error").show();
            $("#Destination_Error").text("@ResourceCache.Localize("Please_enter_destination_name")");
            return false;
        }
        else {
            $("#Destination_Error").text("");
        }
        var Edit_pick_PtId = [];
        var Edit_pick_Pt = [];
        var Edit_distance = [];
        var Edit_charge = [];
        var x = $("#PickPointCount").val();
        for (var i = 0; i < x; i++) {
            Edit_pick_Pt[i] = $("#update_PickPoint" + (i + 1)).val();
            Edit_distance[i] = $("#update_Distance" + (i + 1)).val();
            Edit_charge[i] = $("#update_Charge" + (i + 1)).val();
            Edit_pick_PtId[i] = $("#PickPointId" + (i + 1)).val();
            if (Edit_pick_Pt[i] == "0" || Edit_pick_Pt[i] == null || Edit_pick_Pt[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("Fill_pick_point_to_all_Added_Rows")");
                return false;
            }
            else if (Edit_distance[i] == "0" || Edit_distance[i] == null || Edit_distance[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").text("@ResourceCache.Localize("Fill_distance_to_all_Added_Rows")");
                return false;
            }
            else if (Edit_charge[i] == "0" || Edit_charge[i] == null || Edit_charge[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").text("@ResourceCache.Localize("Fill_charge_to_all_Added_Rows")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
            }
        }
        var values = {
            DestinationName: Destination_Name,
            PickPointName: Edit_pick_Pt,
            Distance: Edit_distance,
            Charge: Edit_charge,
            Count: x,
            Status: status,
            PickPointId: Edit_pick_PtId,
            DestinationId: DestinationId
        };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/Transport/FeeConfig/UpdatePickPointSettings',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.Message != "" && data.Message != null) {
                    location.reload();
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();

                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.ExceptionError != "" && data.ExceptionError != null) {
                    $("#Loading_Sec").removeClass("loading-new");
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                }
            }
        });
    });
    $("#btnDelPickpoint").click(function (event) {
        if (counter == 1) {
            $("#div_Error").show();
            $("#errorMsg").text("@ResourceCache.Localize("Can_not_remove_the_row")");
            }
        else {
            $("#div_Error").hide();
            $("table.PickpointList tr:last").remove();
            counter--;
        }
        $("#count").val(counter).html(counter);
    });
    $('#lang').change(function (event) {
        event.preventDefault();
        var CultureId = $('#lang').val();
        $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
            function (data) {
                $("#lang").val(data.selVal);
                location.reload();
            });
    });
    $(window).load(function () {
        $.getJSON('/Home/getCulture',
           function (data) {
               if (data.cul == "empty") {
               }
               else {
                   $("#lang").val(data.cul);
               }
           });
    });
</script>
}