﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.ViewModel.R_ExamResult>
@{
    ViewBag.Title = "GradeResult";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

<h2>GradeResult</h2>

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("GradeResult")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("GradeResult", "GradeResult")" method="post" enctype="multipart/form-data">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-lg-12 row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_allAcademicYears", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_allClass", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), @ResourceCache.Localize("SelectExamType"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                              
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div> <button type="button" class=" btn btn-sm btn_search filterItem btn-down" id="ExamResultFilter" name="ExamResultFilter"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                                </div>
                            </div>
                          
                                
</form>
                        <div class="box-body col-sm-12" id="section_PromoteSection" style="display:none;">
                            <div class="box-body row col-sm-12" id="show">
                                <form>
                                    <table class="table table-bordered table-striped">
                                        <thead id="thead_studentResults">
                                        </thead>
                                        <tbody id="tbody_studentResults"></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#R_ExamResult_allAcademicYears').val(@Session["List_ChosenAcademicYearId"]);
        $('#R_ExamResult_allAcademicYears').change(function (event) {
            event.preventDefault();
            var YearId = $('#R_ExamResult_allAcademicYears').val();
            AssignAcademicYear(YearId);
            $('#R_ExamResult_allClass').val("");
            $('#show').hide();
            $("#R_ExamResult_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#R_ExamResult_allExams').val("");
            $('#sort').val("");
        });
        $('#R_ExamResult_allClass').change(function () {
            $("#R_ExamResult_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#R_ExamResult_allExams').val("");
            $('#show').hide();
            $('#sort').val("");
        });
        $('#R_ExamResult_Section').change(function () {
            $('#R_ExamResult_allExams').val("");
            $('#show').hide();
            $('#sort').val("");
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#R_ExamResult_allClass').change(function (event) {
            event.preventDefault();
            LoadSection_ExamResult();
        });

        function LoadSection_ExamResult() {
            var yearId = $("#R_ExamResult_allAcademicYears").val();
            var classId = $('#R_ExamResult_allClass').val();
            $.getJSON('/ExamReport/GetSelectedClassSection', { passClassId: classId },
                function (orderdetails) {
                    $("#R_ExamResult_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#R_ExamResult_Section").append($('<option></option>').val(c.SectionId).html(c.SectionName));
                    });
                });
        }

        $("#btnReport_ExamResult").click(function (event) {
            var yearId = $("#R_ExamResult_allAcademicYears").val();
            var classId = $("#R_ExamResult_allClass").val();
            var secId = $("#R_ExamResult_Section").val();
            var examId = $("#R_ExamResult_allExams").val();
            var sort = $("#sort").val();
            if (yearId == "" || classId == "" || secId == "" || examId == "" || sort == "") {
                $(".Report_ExamResult-message").text("Please select all the mantratory fields").css("color", "#ff0000");
                return false;
            }
        });
        $('#Class').change(function () {
            var year = $('#Class').val();
            //$("#Rep_section").empty().append('<option value="0">Select</option>');
            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {
                   $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                   $.each(data, function (i, c) {
                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });
               });
        });
        $('#Rpt_Section').change(function () {
            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
                   $.each(data, function (i, c) {
                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });
               });
        });
        $('#show').hide();
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#ExamResultGrid').setGridWidth(width, true); //Back to original width
            $('#ExamResultGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        //Function TimeTable
     
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#ExamResultFilter').click(function (event) {
            var acyear = $('#R_ExamResult_allAcademicYears').val();
            var classs = $('#R_ExamResult_allClass').val();
            var sec = $('#R_ExamResult_Section').val();
            var examtypeid = $('#R_ExamResult_allExams').val();
           // var sort = $('#sort').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'R_ExamResult_allAcademicYears') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'R_ExamResult_allClass') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'R_ExamResult_Section') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'R_ExamResult_allExams') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectExam")');
                }
                if (null_id == 'sort') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSortBy")');
                }
            }
        });
        if (flag == 0) {
            $('#show').show();
            $('#Err').hide();
            event.preventDefault();
        }
        if (a.length != 0) {
            $('#Err').show();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").show();
            var li = [];
            $("#jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            $('#show').show();
            displayStudentResult();
        }
        });

        function displayStudentResult() {
            var SubjectId = [];
            var StudentRegId = [];
            var columns_count;
            var main_count;
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ExamReport/SubjectList',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                        return false;
                    }
                    else {
                        
                        $("#errorMsg").text("");
                        $("#div_Error").hide();
                        $("#thead_studentResults").empty();
                        var row1 = "<tr><th>@ResourceCache.Localize("StudentId")</th><th>@ResourceCache.Localize("Name")</th><th>@ResourceCache.Localize("RollNumber")</th>";
                       
                        var row2 = "";
                        $.each(data.ans, function (i, v) {
                           
                            StudentRegId[i] = v.StudentRegId;
                            SubjectId[i] = v.SubjectId;
                            row2 = row2 + "<th>" + v.Subject + "</th>";
                            columns_count = i;
                           
                        });
                        var row3 = "<th>@ResourceCache.Localize("FinalResult")</th>"
                        var row = row1 + row2 + row3 + "</tr>";
                       
                        $("#section_PromoteSection").show();
                        $("#thead_studentResults").append(row);
                        $("#Loading_Sec").removeClass("loading-new");
                        var acyear = $('#R_ExamResult_allAcademicYears').val();
                        var classs = $('#R_ExamResult_allClass').val();
                        var sec = $('#R_ExamResult_Section').val();
                        var examtypeid = $('#R_ExamResult_allExams').val();
                        values = { AcademicYears: acyear, Class: classs, Section: sec, Exam: examtypeid, Subject: SubjectId };
                        $.ajax({
                            url: '/ExamReport/GradeResultList',
                            type: 'POST',
                            data: JSON.stringify(values),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (list) {
                                console.log(list);
                                main_count = list.count;
                                if (list.ans_count == 0) {
                                    $("#section_PromoteSection").hide();
                                    $(".NoRecords").show();
                                }
                                else {
                                    $(".NoRecords").hide();
                                   $("#section_PromoteSection").show();
                                    $("#tbody_studentResults").empty();
                                    var main_row = null;
                                    var columns1 = null;
                                    var column = null;
                                    var xxx;
                                    var flag = 0;
                                   
                                    $.each(list.ans, function (i, v) {
                                        std_count = i + 1;
                                        columns1 = "<tr><td><input type='hidden' value='" + v.StudentRegId + "'  id='StudentRegId" + (i + 1) + "'/>" + v.StudentId + "</td><td>" + v.StudentName + "</td><td>" + v.StudentRollNumber + "</td>";
                                        var columns2 = null;
                                        flag = 0;
                                       
                                        for (var j = 0; j <= columns_count; j++) {
                                            $.each(list.result, function (k, v1) {
                                                flag = flag + 1;
                                                if (v1.Subject == SubjectId[j] && v.StudentRegId == v1.StudentRegId) {
                                                    flag = flag - 1;
                                                    xxx = "<td><label>" + v1.Result + "</label></td>";
                                                }
                                            });
                                            if (flag == main_count - 1) {
                                                flag = 0;
                                                columns2 = columns2 + xxx;
                                            }
                                            else if (flag == main_count) {
                                                flag = 0;
                                                xxx = "<td>NULL</td>";
                                                columns2 = columns2 + xxx;
                                            }
                                        }
                                        var column3;
                                        if (v.FinalResult == "Pass")
                                        {
                                            column3 = "<td style='color:green;'><label>" + v.FinalResult + "</label></td>";
                                        }
                                        else if (v.FinalResult == "Fail")
                                        {
                                            column3 = "<td style='color:red;'><label>" + v.FinalResult + "</label></td>";
                                        }
                                        else {
                                            column3 = "<td>NULL</td>";
                                        }
                                        main_row = columns1 + columns2 + column3 + "</tr>";
                                        $("#tbody_studentResults").append(main_row);
                                    });
                                    $("#Promo_Acyear").empty().append('<option value="">@ResourceCache.Localize("SelectAcademicYear")</option>');
                                    $("#Promo_Class").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                                    $("#Promo_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                                    $.each(list.Ayear, function (a, val) {
                                        $("#Promo_Acyear").append($('<option></option>').val(val.AcYearId).html(val.AcYear));
                                    });
                                }
                            }
                        });




                    }
                }
            });
        }

    });
    </script>
}
