﻿@using eAcademy.Models
@using eAcademy.HelperClass;
@model IEnumerable<eAcademy.Models.Ranklist>
@{
    ViewBag.Title = "EmployeeLeaves";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    DateTime d = DateTimeByZone.getCurrentDateTime();
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EmployeeLeaveDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("EmployeeLeaves", "EmployeeReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="row col-lg-12">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem current_button" type="text" id="Fromdate" name="Fromdate" required="required" placeholder="@ResourceCache.Localize("FromDate")" readonly />
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem current_button" type="text" id="Todate" name="Todate" required="required" placeholder="@ResourceCache.Localize("ToDate")" readonly />
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <button type="button" id="EmployeeLeaveRequesttablefilter" class=" btn btn-sm btn_search filterItem btn-down"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                            <div class=" row col-lg-12 col-xs-12 col-sm-12 btn-down" id="show" style="display:none;">
                                <table class="col-lg-12 col-xs-12 col-sm-12" id="EmployeeLeaveRequestgrid"></table>
                                <div id="pager"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#EmployeeLeaveRequestgrid').setGridWidth(width, true); //Back to original width
            $('#EmployeeLeaveRequestgrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        //Function TimeTable
        jQuery("#EmployeeLeaveRequestgrid").jqGrid({
            url: "/EmployeeReport/JQgridEmployeeLeaveRequest",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("EmployeeName")', '@ResourceCache.Localize("StartDate")', '@ResourceCache.Localize("EndDate")', '@ResourceCache.Localize("NoOfDays")', '@ResourceCache.Localize("Status")'],
            colModel: [
                    { key: false, name: 'EmployeeId', index: 'EmployeeId', editable: true },
                    { key: false, name: 'EmployeeName', index: 'EmployeeName', editable: true },
                    { key: false, name: 'FromDate', index: 'FromDate', editable: true },
                    { key: false, name: 'ToDate', index: 'ToDate', editable: true },
                    { key: false, name: 'TotalLeave', index: 'TotalLeave', editable: true },
                    { key: false, name: 'status', index: 'status', editable: true },
            ],
            pager: jQuery("#pager"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("EmployeeLeaveRequest")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
               ).jqGrid('navButtonAdd', '#pager',
               {
                   caption: " Excel ",
                   buttonicon: "ui-icon-bookmark",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../EmployeeReport/EmployeeLeaveRequestReport_ExportToExcel";
                   }
               }).jqGrid('navButtonAdd', '#pager',
               {
                   caption: " Pdf ",
                   buttonicon: "ui-icon-print",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../EmployeeReport/EmployeeLeaveRequestReport_ExportToPdf?pdf=true";
                   }
               });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#EmployeeLeaveRequesttablefilter').click(function (event) {
            var acyear = $('#Fromdate').val();
            var classs = $('#Todate').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            @*$(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Fromdate') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'Todate') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
            }
        });*@
        if (flag == 0) {
            $('#show').show();
            $('#Err').hide();
            event.preventDefault();
            EmployeeLeaveRequesttablefilterGrid();
        }
        if (a.length != 0) {
            $('#show').hide();
            $('#Err').show();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").show();
            var li = [];
            $("#jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
        }
    });
    function EmployeeLeaveRequesttablefilterGrid() {
        var postDataValues = $("#EmployeeLeaveRequestgrid").jqGrid('getGridParam', 'postData');
        var newdt;
        $('.filterItem').each(function (index, item) {
            
                var dt = $(item).val().split('/');
                newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
            
            postDataValues[$(item).attr('id')] = newdt;
        });
        $('#EmployeeLeaveRequestgrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    }
    var HolidayDate1 = [];
    var HolidayReason1 = [];
    $.getJSON("/Dashboard/PastActiveDate",
         function (data) {
             $.each(data.HolidaysList, function (i, c) {
                 HolidayDate1[i] = c.Date;
                 HolidayReason1[i] = c.Holiday;
             });
             var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
             $(function () {
                 var dates = $("#Fromdate, #Todate").datepicker({
                     dateFormat: 'dd/mm/yy',
                     minDate: data.StartingEnableDate,
                     maxDate: data.EndingEnableDate,                    
                     changeMonth: true,
                     changeYear: true,
                     beforeShowDay: function (date) {
                         show = true;
                         for (var i = 0; i < holidays.length; i++) {
                             if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                         }
                         if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                         var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                         return display;
                     },
                     onSelect: function (selectedDate) {
                         var option = this.id == "Fromdate" ? "minDate" : "maxDate",
                         instance = $(this).data("datepicker"),
                         date = $.datepicker.parseDate(
                         instance.settings.dateFormat ||
                         $.datepicker._defaults.dateFormat,
                         selectedDate, instance.settings);
                         dates.not(this).datepicker("option", option, date);
                     },
                 });
             });
         });
    });
    </script>
}