﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.Eprofile>
@{
    ViewBag.Title = "EmployeeProfile";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<style>
    #imgg {
        float: right;
       
    }
</style>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EmployeeProfile")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("EmployeeProfile", "EmployeeReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div> @Html.DropDownList("EmployeeType", new SelectList(ViewBag.EmployeeTypes, "EmployeeTypeId", "EmployeeTypes"), @ResourceCache.Localize("SelectEmployeeCategory"), new { @class = "current_button" })</div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeDesignation")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div> @Html.DropDownList("EmployeeDesignation", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectDesignation"), Value = "" } }, new { @class = "current_button" })</div>
                            </div>
                            <div class="col-sm-6 col-md-3 ">
                                <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("EmployeeName", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectEmployeeName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-3 ">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="EmployeeProfile" name="EmployeeProfile"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body border-radius-none" style=" display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_EMPLOYEE_PROFILE_DETAILS")</b></label><hr /></center>
                                        <div id="head" class="col-lg-12 div_hight">
                                            @*<div class="col-lg-3"><span class="label label-default lbl2">EMPLOYEE Category</span><span class="label label-primary lbl2"><b id="Txt_EmpType"></b></span></div><div class="col-lg-3"><span class="label label-default lbl2">EMPLOYEE Designation</span><span class="label label-primary lbl2"><b id="Txt_EmpDesign"></b></span></div><div class="col-lg-3"><span class="label label-default lbl2">EMPLOYEE NAME</span>  <span class="label label-primary lbl2"><b id="Txt_EmpName"></b></span></div>*@
                                            <table class="col-sm-4" border="0">
                                                <tr>
                                                    <td>@ResourceCache.Localize("Cap_EMPLOYEE_CATEGORY")</td>
                                                    <td><p>:</p></td>
                                                    <td><p id="Txt_EmpType"></p></td>
                                                </tr>
                                                <tr>
                                                    <td>@ResourceCache.Localize("Cap_EMPLOYEE_DESIGNATION")</td>
                                                    <td><p>:</p></td>
                                                    <td><p id="Txt_EmpDesign"></p></td>
                                                </tr>
                                                <tr>
                                                    <td>@ResourceCache.Localize("Cap_EMPLOYEE_NAME")</td>
                                                    <td><p>:</p></td>
                                                    <td><p id="Txt_EmpName"></p></td>
                                                </tr>                                              

                                            </table>
                                            <div class="col-lg-2" id="imgg" style="float:right;"></div>
                                        </div>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <div class="col-sm-12">
                                        <div class="box box-solid bg-teal-gradient">
                                          
                                            <table class="col-lg-12 table table-bordered table-striped" id="TechnicalEmployeeProfileTable" border="1"></table>
                                            <table class="col-lg-12 table table-bordered table-striped" id="OtherEmployeeProfileTable" border="1"></table>
                                        </div>
                                    </div>
                                    <div id="Educational" style="display:none;">
                                        <div class="col-sm-12">
                                            <div class="box box-solid bg-teal-gradient">
                                                <div class="box-header bg-primary">
                                                    <h3 class="box-title">@ResourceCache.Localize("EducationalDetails")</h3>
                                                </div>
                                                <table class="col-lg-12 table table-bordered table-striped" id="TechnicalEmployeeEduCationTable" border="1"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Experience" style="display:none;">
                                        <div class="col-sm-12">
                                            <div class="box box-solid bg-teal-gradient">
                                                <div class="box-header bg-primary">
                                                    <h3 class="box-title">@ResourceCache.Localize("ExperienceDetails")</h3>
                                                </div>
                                                <table class="col-lg-12 table table-bordered table-striped" id="TechnicalEmployeeExperienceTable" border="1"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ClassDetails" style="display:none;">
                                        <div class="col-sm-12">
                                            <div class="box box-solid bg-teal-gradient">
                                                <div class="box-header bg-primary">
                                                    <h3 class="box-title">@ResourceCache.Localize("ClassDetails")</h3>
                                                </div>
                                                <table class="col-lg-12 table table-bordered table-striped" id="TechnicalEmployeeClassTable" border="1"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#EmployeeType').change(function () {
            $("#EmployeeDesignation").empty().append('<option value="">@ResourceCache.Localize("SelectDesignation")</option>');
            $("#EmployeeName").empty().append('<option value="">@ResourceCache.Localize("SelectEmployeeName")</option>');
            $("#show").hide();
            var EmployeeType = $('#EmployeeType').val();
            $.getJSON('/EmployeeConfiguration/GetEmployeeDesination', { EmployeeType: EmployeeType },
               function (data) {
                   $("#EmployeeDesignation").empty().append('<option value="">@ResourceCache.Localize("SelectDesignation")</option>');
                   $.each(data, function (i, c) {
                       $("#EmployeeDesignation").append($('<option></option>').val(c.DesignationId).html(c.DesignationName));
                   });
               });
        });
        $('#EmployeeDesignation').change(function () {
            var DesignationId = $('#EmployeeDesignation').val();
            $("#EmployeeName").empty().append('<option value="">@ResourceCache.Localize("SelectEmployeeName")</option>');
            $("#show").hide();
            if (DesignationId <= 9 && DesignationId > 0) {
                $.getJSON('/Report/getTechEmpId', { eid: DesignationId },
                   function (data) {
                       $("#EmployeeName").empty().append('<option value="">@ResourceCache.Localize("SelectEmployeeName")</option>');                     
                       $.each(data, function (i, c) {                        
                           $("#EmployeeName").append($('<option></option>').val(c.empRid).html(c.EmpName));
                       });
                   });
            }
            if (DesignationId <= 14 && DesignationId >= 10) {
                $.getJSON('/Report/getOtherEmpId', { eid: DesignationId },
                   function (data) {
                       $("#EmployeeName").empty().append('<option value="">@ResourceCache.Localize("SelectEmployeeName")</option>');                      
                       $.each(data, function (i, c) {                         
                           $("#EmployeeName").append($('<option></option>').val(c.empRid).html(c.EmpName));
                       });
                   });
            }
        });
        $('#EmployeeProfile').click(function () {
            var EmployeeType = $('#EmployeeType').val();
            var EmployeeId = $('#EmployeeName').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'EmployeeType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectEmployeeCategory")');
                    }
                    if (null_id == 'EmployeeDesignation') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectEmployeeDesignation")');
                    }
                    if (null_id == 'EmployeeName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectEmployeeName")');
                    }
                }
            });
            if (flag == 0) {                
                var ss = {
                    EmployeeTypeId: EmployeeType, EmployeeId: EmployeeId
                };
                if (EmployeeType >= 1 && EmployeeType <= 3) {
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/EmployeeReport/JsonTechnicalEmployeeProfile',
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $('#show').hide();
                                $('#Err').show();
                                $('.NoRecords').hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#divStudent").hide();
                                $("#jsonError").show();
                                $("#jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });
                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('.NoRecords').hide();
                                $('#Err').show();
                                $('#show').hide();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            else {
                                $('#Txt_EmpType').text($('#EmployeeType option:selected').text());
                                $('#Txt_EmpName').text($('#EmployeeName option:selected').text());
                                $('#Txt_EmpDesign').text($('#EmployeeDesignation option:selected').text());
                                if (data != null) {
                                    $('.NoRecords').hide();
                                    $('#Err').hide();
                                    $('#show').show();
                                    $('#theImg').remove();
                                    $('#TechnicalEmployeeProfileTable tr').remove();
                                    $('#TechnicalEmployeeEduCationTable tr').remove();
                                    $('#TechnicalEmployeeExperienceTable tr').remove();
                                    $('#TechnicalEmployeeClassTable tr').remove();
                                    $('#OtherEmployeeProfileTable tr').remove();
                                    var row1 = "<tr><th class='col-lg-6'>@ResourceCache.Localize("Info")</th><th class='col-lg-6'>@ResourceCache.Localize("Details")</th></tr>";
                                    $('#TechnicalEmployeeProfileTable').append(row1);
                                    if (data.Profile != 0) {
                                        $.each(data.Profile, function (i, v) {
                                            $('#imgg').prepend('<img id="theImg" src="/img/EmployeePhotos/' + v.EmployeeId + '/' + v.ImgFile + '" width="100" height="100"/>');
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_PERSONAL_INFORMATION")</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmployeeName")</td><td class='col-lg-6'>" + v.EmployeeName + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmployeeRegisterId")</td><td class='col-lg-6'>" + v.EmployeeRegisterId + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmployeeId")</td><td class='col-lg-6'>" + v.EmployeeId + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Gender")</td><td class='col-lg-6'>" + v.Gender + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfBirth")</td><td class='col-lg-6'>" + v.DateOfBirth + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("BloodGroup")</td><td class='col-lg-6'>" + v.BloodGroup + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmailAddress")</td><td class='col-lg-6'>" + v.Email + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Religion")</td><td class='col-lg-6'>" + v.Religion + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Community")</td><td class='col-lg-6'>" + v.Community + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Nationality")</td><td class='col-lg-6'>" + v.Nationality + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_ADDRESS")</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Address")</td><td class='col-lg-6'>" + v.Addressline1 + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("City")</td><td class='col-lg-6'>" + v.City + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("State")</td><td class='col-lg-6'>" + v.State + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_CONTACT_INFORMATION")</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MobileNumber")</td><td class='col-lg-6'>" + v.Contact + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("LandlineNumber")</td><td class='col-lg-6'>" + v.LandlineNo + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmergencyContactPersonName")</td><td class='col-lg-6'>" + v.EmergencyContactPerson + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmergencyContactNumber")</td><td class='col-lg-6'>" + v.EmergencyContactNumber + "</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_EMPLOYEE_HISTORY")</td></tr>";
                                            $('#TechnicalEmployeeProfileTable').append(row9);
                                            if (v.DateOfJoin != null) {
                                                var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateofJoining")</td><td class='col-lg-6'>" + v.DateOfJoin + "</td></tr>";
                                                $('#TechnicalEmployeeProfileTable').append(row9);
                                            }
                                            else {
                                                var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateofJoining")</td><td class='col-lg-6'>-</td></tr>";
                                                $('#TechnicalEmployeeProfileTable').append(row9);
                                            }
                                            if (v.DateOfRegister != null) {
                                                var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfRegister")</td><td class='col-lg-6'>" + v.DateOfRegister + "</td></tr>";
                                                $('#TechnicalEmployeeProfileTable').append(row9);
                                            }
                                            else {
                                                var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfRegister")</td><td class='col-lg-6'>-</td></tr>";
                                                $('#TechnicalEmployeeProfileTable').append(row9);
                                            }
                                            if (v.DateOfLeaving != null) {
                                                var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfLeaving")</td><td class='col-lg-6'>" + v.DateOfLeaving + "</td></tr>";
                                                $('#TechnicalEmployeeProfileTable').append(row9);
                                            }
                                            else {
                                                var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfLeaving")</td><td class='col-lg-6'>-</td></tr>";
                                                $('#TechnicalEmployeeProfileTable').append(row9);
                                            }
                                        });
                                        if (data.educational != 0) {
                                            var row1 = "<tr><th>@ResourceCache.Localize("Course")</th><th>@ResourceCache.Localize("Institute")</th><th>@ResourceCache.Localize("University")</th><th>@ResourceCache.Localize("YearOfCompletion")</th><th>@ResourceCache.Localize("Mark")</th></tr>";
                                            $('#TechnicalEmployeeEduCationTable').append(row1);
                                            $.each(data.educational, function (i, v) {
                                                $('#Educational').show();
                                                var row1 = "<tr><td>" + v.Cours + "</td><td>" + v.Institute + "</td><td>" + v.University + "</td><td>" + v.YearOfCompletion + "</td><td>" + v.Mark + "</td></tr>";
                                                $('#TechnicalEmployeeEduCationTable').append(row1);
                                            });
                                        }
                                        else {
                                            $('#Educational').hide();
                                        }
                                        if (data.experience != 0) {
                                            var row1 = "<tr><th >@ResourceCache.Localize("Institute")</th><th>@ResourceCache.Localize("Designation")</th><th>@ResourceCache.Localize("Expertise")</th><th>@ResourceCache.Localize("StartDate")</th><th>@ResourceCache.Localize("EndDate")</th><th>@ResourceCache.Localize("TotalYears")</th></tr>";
                                            $('#TechnicalEmployeeExperienceTable').append(row1);
                                            $.each(data.experience, function (i, v) {
                                                $('#Experience').show();
                                                var row1 = "<tr><td>" + v.Institute + "</td><td>" + v.Designation + "</td><td>" + v.Expertise + "</td><td>" + v.StartDate + "</td><td>" + v.EndDate + "</td><td>" + v.Tootalyears + "</td></tr>";
                                                $('#TechnicalEmployeeExperienceTable').append(row1);
                                            });
                                        }
                                        else {
                                            $('#Experience').hide();
                                        }
                                        if (data.ClassSubject != 0) {
                                            var row1 = "<tr><th >@ResourceCache.Localize("Institute")</th><th>@ResourceCache.Localize("Designation")</th></tr>";
                                            $('#TechnicalEmployeeClassTable').append(row1);
                                            $.each(data.ClassSubject, function (i, v) {
                                                $('#ClassDetails').show();
                                                var row1 = "<tr><td>" + v.ClassName + "</td><td>" + v.SubjectName + "</td></tr>";
                                                $('#TechnicalEmployeeClassTable').append(row1);
                                            });
                                        }
                                        else {
                                            $('#ClassDetails').hide();
                                        }
                                    }
                                    else {
                                        $('#Err').hide();
                                        $('.NoRecords').show();
                                        $('#show').hide();
                                    }
                                }
                                else {
                                    $('#Err').hide();
                                    $('.NoRecords').show();
                                    $('#show').hide();
                                }
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
                else if (EmployeeType >= 4 && EmployeeType <= 5) {
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/EmployeeReport/JsonOtherEmployeeProfile',
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $('#show').hide();
                                $('#Err').show();
                                $('.NoRecords').hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#divStudent").hide();
                                $("#jsonError").show();
                                $("#jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });
                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#Err_Message').hide();
                                $('#Err').show();
                                $('#show').hide();
                                $('.NoRecords').hide();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            else {
                                $('#Txt_EmpType').text($('#EmployeeType option:selected').text());
                                $('#Txt_EmpName').text($('#EmployeeName option:selected').text());
                                $('#Txt_EmpDesign').text($('#EmployeeDesignation option:selected').text());
                                if (data != null) {
                                    $('.NoRecords').hide();
                                    $('#Err_Message').hide();
                                    $('#Err').hide();
                                    $('#show').show();
                                    $('#theImg').remove();
                                    $('#TechnicalEmployeeProfileTable tr').remove();
                                    $('#TechnicalEmployeeEduCationTable tr').remove();
                                    $('#TechnicalEmployeeExperienceTable tr').remove();
                                    $('#TechnicalEmployeeClassTable tr').remove();
                                    $('#OtherEmployeeProfileTable tr').remove();
                                    var row1 = "<tr><th class='col-lg-6'><center>@ResourceCache.Localize("Info")</center></th><th class='col-lg-6'><center>@ResourceCache.Localize("Details")</center></th></tr>";
                                    $('#OtherEmployeeProfileTable').append(row1);
                                    if (data.Profile != 0) {
                                        $.each(data.Profile, function (i, v) {
                                            $('#imgg').prepend('<img id="theImg" src="/img/OthersPhotos/' + v.EmployeeId + '/' + v.ImgFile + '" width="100" height="100"/>');
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_PERSONAL_INFORMATION")</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmployeeName")</td><td class='col-lg-6'>" + v.EmployeeName + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmployeeRegisterId")</td><td class='col-lg-6'>" + v.EmployeeRegisterId + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmployeeId")</td><td class='col-lg-6'>" + v.EmployeeId + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Gender")</td><td class='col-lg-6'>" + v.Gender + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfBirth")</td><td class='col-lg-6'>" + v.DateOfBirth + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("BloodGroup")</td><td class='col-lg-6'>" + v.BloodGroup + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmailAddress")</td><td class='col-lg-6'>" + v.Email + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Religion")</td><td class='col-lg-6'>" + v.Religion + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Community")</td><td class='col-lg-6'>" + v.Community + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Nationality")</td><td class='col-lg-6'>" + v.Nationality + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_ADDRESS")</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Address")</td><td class='col-lg-6'>" + v.Address + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("City")</td><td class='col-lg-6'>" + v.City + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("State")</td><td class='col-lg-6'>" + v.State + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_CONTACT_INFORMATION")</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MobileNumber")</td><td class='col-lg-6'>" + v.Contact + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmergencyContactPersonName")</td><td class='col-lg-6'>" + v.EmergencyContactPerson + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmergencyContactNumber")</td><td class='col-lg-6'>" + v.EmergencyContactNumber + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_QUALLIFICATION_AND_EXPERIENCE")</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Qualification")</td><td class='col-lg-6'>" + v.Qualification + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Experience")</td><td class='col-lg-6'>" + v.Experience + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_EMPLOYEE_HISTORY")</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateofJoining")</td><td class='col-lg-6'>" + v.DateOfJoin + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfRegister")</td><td class='col-lg-6'>" + v.DateOfRegister + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                            var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfLeaveing")</td><td class='col-lg-6'>" + v.DateOfLeaving + "</td></tr>";
                                            $('#OtherEmployeeProfileTable').append(row9);
                                        });
                                        if (data.educational != 0) {
                                            var row1 = "<tr><th >Cours</th><th>@ResourceCache.Localize("Institute")</th><th>@ResourceCache.Localize("University")</th><th>@ResourceCache.Localize("YearOfCompletion")</th><th>@ResourceCache.Localize("Mark")</th></tr>";
                                            $('#TechnicalEmployeeEduCationTable').append(row1);
                                            $.each(data.educational, function (i, v) {
                                                $('#Educational').show();
                                                var row1 = "<tr><td>" + v.Cours + "</td><td>" + v.Institute + "</td><td>" + v.University + "</td><td>" + v.YearOfCompletion + "</td><td>" + v.Mark + "</td></tr>";
                                                $('#TechnicalEmployeeEduCationTable').append(row1);
                                            });
                                        }
                                        else {
                                            $('#Educational').hide();
                                        }
                                        if (data.experience != 0) {
                                            var row1 = "<tr><th >@ResourceCache.Localize("Institute")</th><th>@ResourceCache.Localize("Designation")</th><th>@ResourceCache.Localize("Expertise")</th><th>@ResourceCache.Localize("StartDate")</th><th>@ResourceCache.Localize("EndDate")</th><th>@ResourceCache.Localize("TotalYears")</th></tr>";
                                            $('#TechnicalEmployeeExperienceTable').append(row1);
                                            $.each(data.experience, function (i, v) {
                                                $('#Experience').show();
                                                var row1 = "<tr><td>" + v.Institute + "</td><td>" + v.Designation + "</td><td>" + v.Expertise + "</td><td>" + v.StartDate + "</td><td>" + v.EndDate + "</td><td>" + v.Tootalyears + "</td></tr>";
                                                $('#TechnicalEmployeeExperienceTable').append(row1);
                                            });
                                        }
                                        else {
                                            $('#Experience').hide();
                                        }
                                    }
                                    else {
                                        $('#Err').hide();
                                        $('.NoRecords').show();
                                        $('#show').hide();
                                    }
                                }
                                else {
                                    $('#Err').hide();
                                    $('.NoRecords').show();
                                    $('#show').hide();
                                }
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
}