﻿@using eAcademy.Models
@model IEnumerable<eAcademy.ViewModel.R_FacultyFeedback>
@{
    ViewBag.Title = "FacultyFeedback";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FacultyFeedback")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("FacultyFeedback", "EmployeeReport")" method="post" enctype="multipart/form-data">
                            <div class="box-body row border-radius-none">
                                <div class="col-xs-12" id="Err" style="display:none;">
                                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FacultyName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_Feedback_FacultyName", new SelectList(ViewBag.allTechFaculties, "FacultyId", "FacultyName"), @ResourceCache.Localize("--SelectFaculty--"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem current_button" type="text" id="R_Feedback_FromDate" name="R_Feedback_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem current_button" type="text" id="R_Feedback_ToDate" name="R_Feedback_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div> <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="btnReport_FacultyFeedback"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Search")</button></div>
                                </div>
                            </div>
                            <div class=" row col-lg-12 col-xs-12 col-sm-12 btn-down" id="show" style="display:none;">
                                <table class="col-lg-12 col-xs-12 col-sm-12" id="FacultyFeedbackgrid1"></table>
                                <div id="pager"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#FacultyFeedbackgrid1').setGridWidth(width, true); //Back to original width
            $('#FacultyFeedbackgrid1').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/Dashboard/PastActiveDate",
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                 $(function () {
                     var dates = $("#R_Feedback_FromDate, #R_Feedback_ToDate").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.StartingEnableDate,
                         maxDate: data.EndingEnableDate,
                         changeMonth: true,
                         changeYear: true,
                         beforeShowDay: function (date) {
                             show = true;
                             for (var i = 0; i < holidays.length; i++) {
                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                             }
                             if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                             return display;
                         },
                         onSelect: function (selectedDate) {
                             var option = this.id == "R_Feedback_FromDate" ? "minDate" : "maxDate",
                             instance = $(this).data("datepicker"),
                             date = $.datepicker.parseDate(
                             instance.settings.dateFormat ||
                             $.datepicker._defaults.dateFormat,
                             selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                         },
                     });
                 });
             });
        jQuery("#FacultyFeedbackgrid1").jqGrid({
            url: "/EmployeeReport/JQgridFacultyFeedback1",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("Date")', '@ResourceCache.Localize("SubjectName")', '@ResourceCache.Localize("Feedback")', '@ResourceCache.Localize("UserName")', '@ResourceCache.Localize("UserType")'],
            colModel: [
                     { key: false, name: 'Date', index: 'Date', editable: true },
                     { key: false, name: 'SubjectName', index: 'SubjectName', editable: true },
                     { key: false, name: 'Feedback', index: 'Feedback', editable: true },
                     { key: false, name: 'UserName', index: 'UserName', editable: true },
                     { key: false, name: 'UserType', index: 'UserType', editable: true },
            ],
            pager: jQuery("#pager"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("FacultyFeedback")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
             ).jqGrid('navButtonAdd', '#pager',
             {
                 caption: " Excel ",
                 buttonicon: "ui-icon-bookmark",
                 position: "last",
                 onClickButton: function () {
                     window.location.href = "../EmployeeReport/FacultyFeedbackReport_ExportToExcel";
                 }
             }).jqGrid('navButtonAdd', '#pager',
             {
                 caption: " Pdf ",
                 buttonicon: "ui-icon-print",
                 position: "last",
                 onClickButton: function () {
                     window.location.href = "../EmployeeReport/FacultyFeedbackReport_ExportToPdf?pdf=true";
                 }
             });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnReport_FacultyFeedback').click(function (event) {
            var fname = $('#R_Feedback_FacultyName').val();
            var fdate = $('#R_Feedback_FromDate').val();
            var fto = $('#R_Feedback_ToDate').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            @*$(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'R_Feedback_FacultyName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Please_select_faculty_name")');
                    }
                    if (null_id == 'R_Feedback_FromDate') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'R_Feedback_ToDate') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                }
            });*@
            if (flag == 0) {
                $('#show').show();
                $('#Err').hide();
                event.preventDefault();
                btnReport_FacultyFeedbackGrid();
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function btnReport_FacultyFeedbackGrid() {
         
            var postDataValues = $("#FacultyFeedbackgrid1").jqGrid('getGridParam', 'postData');
            var newdt;
            $('.filterItem').each(function (index, item) {
                if (index == 0) {
                    newdt = $(item).val();
                }
                else {
                    var dt = $(item).val().split('/');
                    newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                }
                postDataValues[$(item).attr('id')] = newdt;
            });
            $('#FacultyFeedbackgrid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/Dashboard/PastActiveDate",
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                 $(function () {
                     var dates = $("#Fromdate, #Todate").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.StartingEnableDate,
                         maxDate: data.EndingEnableDate,
                         changeMonth: true,
                         changeYear: true,
                         beforeShowDay: function (date) {
                             show = true;
                             for (var i = 0; i < holidays.length; i++) {
                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                             }
                             if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                             return display;
                         },
                         onSelect: function (selectedDate) {
                             var option = this.id == "Fromdate" ? "minDate" : "maxDate",
                             instance = $(this).data("datepicker"),
                             date = $.datepicker.parseDate(
                             instance.settings.dateFormat ||
                             $.datepicker._defaults.dateFormat,
                             selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                         },
                     });
                 });
             });
    });
    </script>
}