﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.TimeTable>
@{
    ViewBag.Title = "TeacherTimeTable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int k = 0, j = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("TeacherTimetable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("TeacherTimeTable", "EmployeeReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Academicyear1", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @if (ViewBag.id == null)
                                {
                                    @Html.DropDownList("EmpName1", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectEmployeeName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                                }
                                else
                                {
                                    @Html.DropDownList("EmpName1", new SelectList(ViewBag.empname, "EmployeeRegisterId", "EmployeeName", @ViewBag.id), new { @class = "col-lg-12 current_button" })
                                }
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="TeacherTimeTable" name="TeacherTimeTable"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style=" display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_TEACHER_TIMETABLE_DETAILS")</b></label><hr /></center>
                                        <table class="col-sm-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_ACADEMIC_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year" class="empalin"></p></td>
                                            </tr>                                           
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_EMPLOYEE_NAME")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Employee" class="empalin"></p></td>
                                            </tr>

                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                 
                                    <table class="col-lg-12 table table-bordered table-striped" id="TeacherTimeTableTable" border="1"></table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Academicyear1').val(@Session["List_ChosenAcademicYearId"]);
            $('#Academicyear1').change(function (event) {
                event.preventDefault();
                var YearId = $('#Academicyear1').val();
                AssignAcademicYear(YearId);
                $('#EmpName1').val("");
                $('#show').hide();
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            var yid = $('#Academicyear1').val();
            $.getJSON('/Report/AyidTechEmpname', { yid: yid },
          function (data) {
              $("#EmpName1").empty().append('<option value="">Select EmployeeName</option>');

              $.each(data, function (i, c) {

                  $("#EmpName1").append($('<option></option>').val(c.empid).html(c.empname));
              });

          });


            $('#Academicyear1').change(function () {
                var yid = $('#Academicyear1').val();
                $('#show').hide();
                $('#NoRecords').hide();
                //$("#Rep_EmpName1").empty().append('<option value="0">Select</option>');
                $.getJSON('/Report/AyidTechEmpname', { yid: yid },
                   function (data) {
                       $("#EmpName1").empty().append('<option value="">Select EmployeeName</option>');

                       $.each(data, function (i, c) {

                           $("#EmpName1").append($('<option></option>').val(c.empid).html(c.empname));
                       });

                   });
            });
            $('#EmpName1').change(function () {
                $('#show').hide();
                var empid = $('#EmpName1').val();


                //$("#Rep_Empid").empty().append('<option value="0">Select</option>');
                $.getJSON('/Report/getTechEmpId', { eid: empid },
                   function (data) {
                       $("#EmployeeId").empty().append('<option value="">Select EmployeeId</option>');

                       $.each(data, function (i, c) {

                           $("#EmployeeId").append($('<option></option>').val(c.empRid).html(c.empid));
                       });

                   });
            });
        $('#TeacherTimeTable').click(function () {
            var acyear = $('#Academicyear1').val();
            var employeeid = $('#EmpName1').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Academicyear1') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'EmpName1') {
                            flag = 1;
                            a.push('@ResourceCache.Localize("PleaseSelectEmployeeName")');
                        }
                    }
                });
                if (flag == 0) {
                    var ss = {
                        AcademicYear: acyear, EmployeeId: employeeid
                    };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/EmployeeReport/JsonTeacherTimeTable',
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $('#show').hide();
                                $('#Err').show();
                                $('.NoRecords').hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#divStudent").hide();
                                $("#jsonError").show();
                                $("#jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });
                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#show').hide();
                                $('#Err').show();
                                $('.NoRecords').hide();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            else {
                                $('.NoRecords').hide();
                                $('#show').show();
                                $('#Err').hide();
                                $('#Txt_Year').text($('#Academicyear1 option:selected').text());
                                $('#Txt_Employee').text($('#EmpName1 option:selected').text());
                                var row = 0;
                                var row1 = 0;
                                var sub_table = 0;
                                var DayOrder_Count = data.DayOrder;
                                var Period_Count = data.Periods;
                                var k;
                                var z;
                                $('#TeacherTimeTableTable tr').remove();
                                if (data.Profile != 0) {
                                    for (z = 1; z <= Period_Count; z++) {
                                        sub_table = sub_table + "<th>" + z + "</th>";
                                    }
                                    row = "<tr><th>Day/Period</th>" + sub_table + "</tr>";
                                    $("#TeacherTimeTableTable").append(row);
                                    for (k = 1; k <= DayOrder_Count; k++) {
                                        var sub_table1 = 0;
                                        for (z = 1; z <= Period_Count; z++) {
                                            var flag = 0;
                                            $.each(data.Profile, function (i, d) {
                                                //var List = data.FacultyPeriodSubject[i];
                                                if (k == d.day && z == d.period) {
                                                    flag = 1;                                                    
                                                    //var time = List.PeriodTime;
                                                    //alert(d.subject);
                                                    sub_table1 = sub_table1 + "<td>" + d.subject + '<br>' + d.PeriodTime + "</td>";
                                                    
                                                }
                                            });
                                            if (flag == 0) {
                                                sub_table1 = sub_table1 + "<td class='colors1'>Free</td>";
                                            }
                                        }
                                        row1 = "<tr><td> Day" + k + "</td> " + sub_table1 + "</tr>";
                                        $("#TeacherTimeTableTable").append(row1);
                                    }
                                }
                                else {
                                    $('#Err').hide();
                                    $('.NoRecords').show();
                                    $('#show').hide();
                                }
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
                if (a.length != 0) {
                    $('#show').hide();
                    $('#Err').show();
                    $('.NoRecords').hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
            });
        });
    </script>
}