﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}
@using eAcademy.Models
<div class="loginbox">
    <div class="btn-block bg-olive">
        <center>   <img id="img_frpsw" src="~/img/school_logo/reset1.png" style="height:75px;" /></center>
    </div>

    <div id="div_reset_emp">
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>
        <form action="" method="post" id="form_reset_emp" class="">
            <div class="body-content">
                <div class="col-lg-12">
                    <div class="alert alert-danger alert-dismissable" id="EmpError">
                    </div>
                </div>
                <input type="password" id="Employee_reset_newpsw" name="Employee_reset_newpsw" class="newinput" placeholder="@ResourceCache.Localize("Password")" required maxlength="20" />
                <input type="password" id="Employee_reset_confirmpsw" name="Employee_reset_confirmpsw" class="newinput" placeholder="@ResourceCache.Localize("ConfirmPassword")" required maxlength="20" />
                @Html.Partial("~/Views/Shared/Captcha.cshtml")
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/ParentLogin" class="cap-blk blk"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="footer">
                <center>
                    <button type="submit" id="emp_reset" class="bbtn">@ResourceCache.Localize("Submit")</button>
                    <p>@ResourceCache.Localize("Do_you_want_to_Login?")<a href="@Url.Action("Login", "Home")" class="reset">@ResourceCache.Localize("Click")</a>@ResourceCache.Localize("here").</p>

                </center>

            </div>
        </form>
    </div>
</div>
@*<div class="body">

    </div>*@

<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();
        $("#EmpError").hide();


        $("#emp_reset").click(function () {
            $("#EmpError").hide();
            var a = [];
            var password = $("#Employee_reset_newpsw").val();
            var confirmpassword = $("#Employee_reset_confirmpsw").val();
            var passwordlength = password.length;
            var confirmpasswordlength = confirmpassword.length;
            $(".newinput").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('id');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Employee_reset_newpsw') {
                        a.push("@ResourceCache.Localize("PleaseEnterPassword")");
                    }
                    if (null_id == 'Employee_reset_confirmpsw') {
                        a.push("@ResourceCache.Localize("PleaseEnterConfirmPassword")");
                    }
                    if (null_id == 'Captcha') {
                        a.push("@ResourceCache.Localize("PleaseEnterSecurityCode")");
                    }
                } else {
                    if (field_name == 'Employee_reset_newpsw') {
                        if (passwordlength < 3) {
                            a.push("@ResourceCache.Localize("PasswordMustContainsMininum3Characters")");
                        }
                    }
                    if (field_name == 'Employee_reset_confirmpsw') {
                        if (password != confirmpassword) {
                            a.push("@ResourceCache.Localize("PasswordandConfirmPasswordmustbesame")");
                        }
                    }
                }
            });

            if (a.length != 0) {
                $("#EmpError").show();
                $('#successmsg').hide();
                $('#Err').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $('#errormsg').hide();
                $("#divStudent").hide();
                $("#jsonError").hide();
                $("#EmpError").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $("#EmpError").append(li);
                    }
                });
                a = [];
                return false;
            }
        });
    });
</script>
