﻿@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}
@using eAcademy.Models
<div class="loginbox">
    <div class="btn-block bg-olive">
        <center>   <img id="img_frpsw" src="~/img/school_logo/Mail-Password-icon.png" style="height:75px;" /></center>
    </div>
    <div id="div_parent_login_fgpsw">
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>
        <form action="" method="post" id="form_Employee_login_frpsw" class="">
            <div class="body-content">
                <center>
                    <div class="form-group">
                        @ResourceCache.Localize("Enter_your_email_address_below_and_we'll_send_a_special_reset_password_link_to_your_inbox").
                    </div>
                </center>
                <input type="text" id="Employee_frpsw_username" name="Employee_frpsw_username" class="newinput" value="@ViewBag.EmailAddress" placeholder="@ResourceCache.Localize("EnterEmailID")" required maxlength="50" />
                @Html.Partial("~/Views/Shared/Captcha.cshtml")
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/Employee_forgetpassword" class="cap-blk blk"><i class="fa fa-refresh"></i></a>

            </div>
            <div class="body-footer">
                <div class="block">
                    <a href="@Url.Action("Login","Home")" class=""><i class="fa fa-sign-in"></i>&nbsp;@ResourceCache.Localize("Login")</a>
                </div>
                <div class="block text-right">
                    <button type="submit" id="employee_frpsw_submit" name="employee_frpsw_submit" class="bbtn">@ResourceCache.Localize("Submit")</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();
        $("#employee_frpsw_submit").click(function (event) {
            $('#Err').hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".newinput").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Employee_frpsw_username') {
                        a.push('@ResourceCache.Localize("Pleaseenteremailid")');
                    }
                    if (null_id == 'Captcha') {
                        a.push('@ResourceCache.Localize("PleaseEnterSecurityCode")');
                    }
                }
                else {
                    if (field_name == 'Employee_frpsw_username') {
                        var email = $('#Employee_frpsw_username').val().toLowerCase();
                        var email_regexpr = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/;
                        if (!email.match(email_regexpr) || email.length == 0) {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Enter_correct_email_address")');
                        }
                    }
                }
            });
            if (a.length != 0) {
                $('#successmsg').hide();
                $('#Err').show();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $('#errormsg').hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>