﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}
@using eAcademy.Models

<nav class="accordion1 arrows">
    <input type="radio" name="accordion" id="cb3" class="input" checked />
    <section class="box1">
        <label class="box-title1" for="cb3"><span>Staff Login</span></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content">
            <div class="loginicon"><span><img src="~/Images/admin.png" class="" alt="@ResourceCache.Localize("admin")" title="Admin Login" /></span></div>
            <div class="body">
                @if (TempData["NoValues"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["NoValues"]
                        </div>
                    </div>
                }
                @if (TempData["modelState"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["modelState"]
                        </div>
                    </div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["ErrorMessage"]
                        </div>
                    </div>
                }
            </div>
            <form action="@Url.Action("AdminLogin","Home")" method="post" id="form_Admin_login" class="">              
                <div class="box-body LoginAdminError" id="LoginAdminError" style="display:none">
                    <div class="alert alert-danger alert-dismissable">
                        <b>@ResourceCache.Localize("Error")!</b>
                        <div><ul id="LoginjErr" class="LoginjErr"></ul></div>
                    </div>
                </div>
                    <input type="text" id="admin_userid" name="admin_userid" class="newinput current_button1" value="@TempData["AdminUserId"]" placeholder="@ResourceCache.Localize("User_Id")" required maxlength="15" />
                    <input type="password" id="admin_password" name="admin_password" class="newinput current_button1" placeholder="@ResourceCache.Localize("Password")" required maxlength="20" />

                    <link href="~/css/css-login/style.css" rel="stylesheet" />
                    <link href="~/css/css-login/demo.css" rel="stylesheet" />
                    <p class="field">
                        <input type="text" id="Captcha" name="Captcha" class="newinput current_button1" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5" />
                    </p>
                    <div class="form-group caps cap-blk">
                        <img alt="@ResourceCache.Localize("Captcha")" id="captcha" src="@Url.Action("CaptchaImage")" style=" margin-right:10px;" />
                    </div>
                    <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/ParentLogin" class="cap-blk blk"><i class="fa fa-refresh"></i></a>
                    <div class="footer center">
                        <button type="submit" id="admin_submit" class="bbtn">@ResourceCache.Localize("Login")</button>
                        <p><a href="@Url.Action("Employee_forgetpassword", "Home")">@ResourceCache.Localize("Forgotpassword")</a></p>
                    </div>
                </form>
        </div>
    </section>
    <input type="radio" name="accordion" id="cb2" class="input" />
    <section class="box1">
        <label class="box-title1" for="cb2"><span>Parent Login</span></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content">

            <div class="loginicon"><span><img src="~/Images/parent.png" class=" " alt="@ResourceCache.Localize("parent")" title="Parent Login" /></span></div>
            <div class="body">
                @if (TempData["ParentNoValues"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg1">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["ParentNoValues"]
                        </div>
                    </div>
                }
                @if (TempData["ParentmodelState"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg1">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["ParentmodelState"]
                        </div>
                    </div>
                }
                @if (TempData["ParentErrorMessage"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg1">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["ParentErrorMessage"]
                        </div>
                    </div>
                }
            </div>
            <form action="@Url.Action("ParentLogin","Home")" method="post" id="form_Parent_login" class="">             
                <div class="box-body LoginParentError" id="LoginParentError" style="display:none">
                    <div class="alert alert-danger alert-dismissable">
                        <b>@ResourceCache.Localize("Error")!</b>
                        <div><ul id="ParentjErr" class="ParentjErr"></ul></div>
                    </div>
                </div>
                <input type="text" id="parent_userName" name="parent_userName" class="newinput current_button2" value="@TempData["ParentUserId"]" placeholder="@ResourceCache.Localize("User_Id")" required maxlength="15" />
                <input type="password" id="parent_password" name="parent_password" class="newinput current_button2" placeholder="@ResourceCache.Localize("Password")" required maxlength="20" />
                <link href="~/css/css-login/style.css" rel="stylesheet" />
                <link href="~/css/css-login/demo.css" rel="stylesheet" />
                <p class="field">
                    <input type="text" id="Captcha" name="Captcha" class="newinput current_button2" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5" />
                </p>
                <div class="form-group caps cap-blk">
                    <img alt="@ResourceCache.Localize("Captcha")" id="captcha" src="@Url.Action("CaptchaImage")" style=" margin-right:10px;" />
                </div>
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/ParentLogin" class="cap-blk blk"><i class="fa fa-refresh"></i></a>
                <div class="footer center">
                    <button type="submit" id="Parent_submit" class="bbtn">@ResourceCache.Localize("Login")</button>
                    <p><a href="@Url.Action("Parent_forgetpassword", "Home")">@ResourceCache.Localize("Forgotpassword")</a></p>
                </div>
            </form>
        </div>
    </section>
    <input type="radio" name="accordion" id="cb1" class="input" />
    <section class="box1">
        <label class="box-title1" for="cb1"><span>Student Login</span></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content">
            <div class="loginicon"><span><img src="~/Images/student.png" class="" alt="@ResourceCache.Localize("student")" title="Student Login" /></span></div>
            <div class="body">
                @if (TempData["StdNoValues"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg2">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["StdNoValues"]
                        </div>
                    </div>
                }
                @if (TempData["StdmodelState"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg2">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["StdmodelState"]
                        </div>
                    </div>
                }
                @if (TempData["StdErrorMessage"] != null)
                {
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissable" id="Validation_SummaryErrMsg2">
                            <b>@ResourceCache.Localize("Error")!</b>
                            @TempData["StdErrorMessage"]
                        </div>
                    </div>
                }
            </div>
            <form action="@Url.Action("StudentLogin","Home")" method="post" id="form_Student_login" class="">              
                <div class="box-body LoginStudentError" id="LoginStudentError" style="display:none">
                    <div class="alert alert-danger alert-dismissable">
                        <b>@ResourceCache.Localize("Error")!</b>
                        <div><ul id="StudentjErr" class="StudentjErr"></ul></div>
                    </div>
                </div>
                <input type="text" id="std_userName" name="std_userName" class=" newinput current_button3" value="@TempData["StdUserId"]" placeholder="@ResourceCache.Localize("User_Id")" required maxlength="15" />
                <input type="password" id="std_password" name="std_password" class=" newinput current_button3" placeholder="@ResourceCache.Localize("Password")" required maxlength="20" />
                <p class="field">
                    <input type="text" id="Captcha" name="Captcha" class="newinput current_button3" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5" />
                </p>
                <div class="form-group caps cap-blk">
                    <img alt="@ResourceCache.Localize("Captcha")" id="captcha" src="@Url.Action("CaptchaImage")" style=" margin-right:10px;" />
                </div>
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/StudentLogin" class="cap-blk blk"><i class="fa fa-refresh"></i></a>
                <div class="footer center">
                    <button type="submit" id="std_submit" class="bbtn">@ResourceCache.Localize("Login")</button>
                    <p><a href="@Url.Action("Student_forgetpassword", "Home")">@ResourceCache.Localize("Forgotpassword")</a></p>
                </div>
            </form>
        </div>
    </section>
    <input type="radio" name="accordion" id="acc-close" class="input" />
</nav>


<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();
        $("#LoginAdminError").hide();
        $("#LoginParentError").hide();
        $("#LoginStudentError").hide();
    });
    //Admin Login
    $("#admin_submit").click(function () {
        $("#LoginAdminError").hide();
        var a = [];
        var adminpassword = $("#admin_password").val();
        var adminpasswordlength = adminpassword.length;
        $(".current_button1").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('id');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'admin_userid') {
                    a.push('@ResourceCache.Localize("PleaseEnterUserId")');
                }
                if (null_id == 'admin_password') {
                    a.push("@ResourceCache.Localize("PleaseEnterPassword")");
                }
                if (null_id == 'Captcha') {
                    a.push("@ResourceCache.Localize("PleaseEnterSecurityCode")");
                }
            }
            else {
                if (field_name == 'admin_password') {
                    if (adminpasswordlength < 3) {
                        a.push("@ResourceCache.Localize("PasswordMustContainsMininum3Characters")");
                    }
                }
            }
        });
        if (a.length != 0) {
            $("#LoginAdminError").show();
            $('#successmsg').hide();
            $('#Err').hide();
            $('#Validation_SummaryErrMsg').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $('#errormsg').hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            $(".LoginjErr").append().empty();
            $.each(a, function (i, v) {               
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);                  
                    $(".LoginjErr").append(li);
                }
            });
            a = [];
            return false;
        }
    });

    //Parent Login
    $("#Parent_submit").click(function () {
        $("#LoginParentError").hide();
        var b = [];
        var Parentpassword = $("#parent_password").val();
        var Parentpasswordlength = Parentpassword.length;
        $(".current_button2").each(function () {
            var Parentvalu = $(this).val();
            var Parentfield_name = $(this).attr('id');
            if (Parentvalu == '') {
                var Parentnull_id = $(this).attr('id');
                if (Parentnull_id == 'parent_userName') {
                    b.push('@ResourceCache.Localize("PleaseEnterUserId")');
                }
                if (Parentnull_id == 'parent_password') {
                    b.push("@ResourceCache.Localize("PleaseEnterPassword")");
                }
                if (Parentnull_id == 'Captcha') {
                    b.push("@ResourceCache.Localize("PleaseEnterSecurityCode")");
                }
            }
            else {
                if (Parentfield_name == 'parent_password') {
                    if (Parentpasswordlength < 3) {
                        b.push("@ResourceCache.Localize("PasswordMustContainsMininum3Characters")");
                    }
                }
            }
        });
        if (b.length != 0) {
            $("#LoginParentError").show();
            $('#successmsg').hide();
            $('#Err').hide();
            $('#Validation_SummaryErrMsg1').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $('#errormsg').hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            $("#ParentjErr").append().empty();
            $.each(b, function (i, v) {
                if (b[i] != "" && b[i] != null) {
                    li = $("<li></li>").text(b[i]);
                    $("#ParentjErr").append(li);
                }
            });
            b = [];
            return false;
        }
    });

    //Student Login
    $("#std_submit").click(function () {
        $("#LoginStudentError").hide();
        var s = [];
        var Stdpassword = $("#std_password").val();
        var Stdpasswordlength = Stdpassword.length;
        $(".current_button3").each(function () {
            var Stdvalu = $(this).val();
            var Stdfield_name = $(this).attr('id');
            if (Stdvalu == '') {
                var Stdnull_id = $(this).attr('id');
                if (Stdnull_id == 'std_userName') {
                    s.push("@ResourceCache.Localize("PleaseEnterUserId")");
                }
                if (Stdnull_id == 'std_password') {
                    s.push("@ResourceCache.Localize("PleaseEnterPassword")");
                }
                if (Stdnull_id == 'Captcha') {
                    s.push("@ResourceCache.Localize("PleaseEnterSecurityCode")");
                }
            }
            else {
                if (Stdfield_name == 'std_password') {
                    if (Stdpasswordlength < 3) {
                        s.push("@ResourceCache.Localize("PasswordMustContainsMininum3Characters")");
                    }
                }
            }
        });

        if (s.length != 0) {
            $("#LoginStudentError").show();
            $('#successmsg').hide();
            $('#Err').hide();
            $('#Validation_SummaryErrMsg2').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $('#errormsg').hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            $("#StudentjErr").append().empty();
            $.each(s, function (i, v) {
                if (s[i] != "" && s[i] != null) {
                    li = $("<li></li>").text(s[i]);
                    $("#StudentjErr").append(li);
                }
            });
            s = [];
            return false;
        }
    });

</script>


