﻿@using eAcademy.Models;
@{
    ViewBag.Title = "ResetPasswordMail";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}

<div id="div_Student_login_fgpsw" class="loginbox">
    <div class="btn-block bg-olive">
        <center>   <img id="img_frpsw" src="~/img/school_logo/Mail-Password-icon.png" style="height:75px;" /></center>
    </div>
    <div class="body bg-gray ">
        <center>
            <div class="form-group">
                @ResourceCache.Localize("Link_has_been_sent_to_your_mail_address._Please_Login_using_that_Link")
            </div>
        </center>
    </div>
</div>

<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();

    });
</script>