﻿@using eAcademy.Models;

@{
    ViewBag.Title = "ResetPasswordMsg";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}
<div id="div_Student_login_fgpsw" class="loginbox">
    <div class="btn-block bg-olive">
        <center> <img id="img_frpsw" src="~/img/school_logo/Mail-Password-icon.png" style="height:75px;" /></center>
    </div>
    <div class="body bg-gray">
        <center>
            <div class="form-group">
                @ResourceCache.Localize("Thank_you_Your_password_has_been_reset")
            </div>
            <div class="form-group">
                @ResourceCache.Localize("Click_here_to")<a href="Login">@ResourceCache.Localize("Login")</a>
            </div>
        </center>
    </div>
</div>
<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();

    });
</script>