﻿@using eAcademy.Models;
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}
<div class="loginbox">
    <div class="btn-block bg-olive">
        <center><img id="img_frpsw" src="~/img/school_logo/reset1.png" style="height:75px;" /></center>
    </div>
    <div id="div_reset_std">
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>
        <form action="" method="post" id="form_reset_std" class="">
            <div class="body-content">
                <div class="alert alert-danger alert-dismissable" id="StudentError">
                </div>
                <input type="password" id="student_reset_newpsw" name="student_reset_newpsw" class="newinput" placeholder="@ResourceCache.Localize("Password")" required maxlength="20" />
                <input type="password" id="student_reset_confirmpsw" name="student_reset_confirmpsw" class="newinput" placeholder="@ResourceCache.Localize("ConfirmPassword")" required maxlength="20" />
                <input type="hidden" value="@ViewBag.uid" name="uid" id="uid">
                @Html.Partial("~/Views/Shared/Captcha.cshtml")
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/ParentLogin" class="cap-blk blk"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="footer">
                <center>
                    <button type="submit" id="std_reset" class="bbtn">@ResourceCache.Localize("Submit")</button>
                    <p>@ResourceCache.Localize("Do_you_want_to_Login?")<a href="@Url.Action("Login", "Home")" class="reset">@ResourceCache.Localize("Click")</a>@ResourceCache.Localize("here")</p>
                </center>
            </div>
        </form>
    </div>
</div>

@*<div class="body">

    </div>*@



<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();
        $("#StudentError").hide();
    });

    $("#std_reset").click(function () {
        $("#StudentError").hide();
        var a = [];
        var password = $("#student_reset_newpsw").val();
        var confirmpassword = $("#student_reset_confirmpsw").val();
        var passwordlength = password.length;
        var confirmpasswordlength = confirmpassword.length;

        $(".newinput").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('id');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'student_reset_newpsw') {
                    a.push("@ResourceCache.Localize("PleaseEnterPassword").");
                }
                if (null_id == 'student_reset_confirmpsw') {
                    a.push("@ResourceCache.Localize("PleaseEnterConfirmPassword").");
                }
                if (null_id == 'Captcha') {
                    a.push("@ResourceCache.Localize("PleaseEnterSecurityCode").");
                }
            } else {
                if (field_name == 'student_reset_newpsw') {
                    if (passwordlength < 3) {
                        a.push("@ResourceCache.Localize("PasswordMustContainsMininum3Characters")");
                    }
                }
                if (field_name == 'student_reset_confirmpsw') {
                    if (password != confirmpassword) {
                        a.push("@ResourceCache.Localize("PasswordandConfirmPasswordmustbesame")");
                    }
                }
            }
        });

        if (a.length != 0) {
            $("#StudentError").show();
            $('#successmsg').hide();
            $('#Err').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $('#errormsg').hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            $("#StudentError").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $("#StudentError").append(li);
                }
            });
            a = [];
            return false;
        }
    });

</script>