﻿@using eAcademy.Models;
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/beforeLogin.cshtml";
}
<div class="loginbox">
    <div class="btn-block bg-olive">
        <center>   <img id="img_frpsw" src="~/img/school_logo/Mail-Password-icon.png" style="height:75px;" /></center>
    </div>
    <div id="div_Student_login_fgpsw">
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>
        <form action="" method="post" id="form_Student_login_frpsw" class="">
            <div class="body-content">
                <center>
                    <div class="form-group">
                        @ResourceCache.Localize("Enter_your_user_id_below_and_we'll_send_a_special_reset_password_link_to_your_inbox")
                    </div>
                </center>
                <input type="text" id="student_frpsw_UserName" name="student_frpsw_UserName" class="newinput" value="@ViewBag.StdUserId" placeholder="@ResourceCache.Localize("YourUserId")" required maxlength="15" />
                @Html.Partial("~/Views/Shared/Captcha.cshtml")
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/Home/Student_forgetpassword" class="cap-blk blk"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="body-footer">
                <div class="block">
                    <a href="@Url.Action("Login","Home")" class=""><i class="fa fa-sign-in"></i>&nbsp;@ResourceCache.Localize("Login")</a>
                </div>
                <div class="block text-right">
                    <button type="submit" id="std_frpsw_submit" name="std_frpsw_submit" class="bbtn">@ResourceCache.Localize("Submit")</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/demoLogin.js"></script>
<script>
    $(document).ready(function () {
        $(".pshow").hide();
        $("#std_frpsw_submit").click(function (event) {
            $('#Err').hide();

            var a = [];
            var field_val = [];
            var flag = 0;
            $(".newinput").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    flag = 1;
                    if (null_id == 'student_frpsw_UserName') {
                        a.push('@ResourceCache.Localize("PleaseEnterUserId")');
                    }
                    if (null_id == 'Captcha') {
                        a.push("@ResourceCache.Localize("PleaseEnterSecurityCode")");
                    }
                }
            });
            if (a.length != 0) {
                $('#successmsg').hide();
                $('#Err').show();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $('#errormsg').hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $("#jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
