﻿@model IEnumerable<eAcademy.Models.ELearnReplyStudentList>
@using eAcademy.Models
@{
    ViewBag.Title = "ELearnAnswer";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    var k = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ELearningAnswers")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                    @if (ViewBag.Student == "Empty")
                    {
                        <div class="NoRecords box-body">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                            </div>
                        </div>
                    }
                    else
                    {
                        <form>
                            <table class="table table-bordered table-striped col-lg-12">
                                <tr>
                                    <th>
                                        @ResourceCache.Localize("RollNumber")
                                    </th>
                                    <th>
                                        @ResourceCache.Localize("Name")
                                    </th>
                                    <th>
                                        @ResourceCache.Localize("Answer")
                                    </th>
                                    <th>
                                        @ResourceCache.Localize("Remark")
                                    </th>
                                    <th>@ResourceCache.Localize("ViewFile")</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentRollNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Answer)
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(modelItem => item.Remark, new { id = "Remark" + k, name = "Remark" + k })  @Html.HiddenFor(modelItem => item.HomeworkAnswer_Id, new { id = "AnswerId" + k, name = "AnswerId" + k }) @*<input type="hidden" id="AnswerId @k" name="AnswerId @k" value="@item.HomeworkAnswer_Id" />*@
                                        </td>
                                        <td>
                                            @Html.ActionLink("View Document", "OpenELearnAnswerFile", new { id = item.HomeworkAnswer_Id })
                                        </td>
                                    </tr>
                                    k++;
                                }

                            </table>
                            <input type="hidden" id="count" value="@k" />
                            <button type="button" class="btn btn_exWidth btn_submit btn-down" id="btn_HomeworkRemark"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("SaveComments")</button>
                        </form>
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn_HomeworkRemark").click(function (event) {
                var c = $("#count").val();
                var cmt = [];
                var id = [];
                for (var i = 0; i < c; i++) {
                    cmt[i] = $("#Remark" + i).val();
                    id[i] = $("#AnswerId" + i).val();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                var values = { Id: id, ELearn_comment: cmt, TotalCount: c };

                $.ajax({
                    url: '/ModulesInfo/SaveELearnRemarks',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.Message == "Remarks saved successfully") {
                            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                            $("#ErrorText").empty();
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                            $("#SuccessText").text("@ResourceCache.Localize("CommentsSavedSuccessfully")");
                            $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                            $("#InfoText").empty();
                            $("#InfoText").hide();
                        }
                    }
                });
            });

        });
    </script>
}