﻿@using eAcademy.Models
@{
    ViewBag.Title = "ELearning";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="AddHomework">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("AddOnlineTest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ELearn_allAcademicYears", new SelectList(ViewBag.CurrentDateAcYear, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ELearn_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Title")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="ELearn_txt_Title" name="ELearn_txt_Title" placeholder="@ResourceCache.Localize("Title")" title="@ResourceCache.Localize("Title")" required="required" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="ELearn_txt_description" name="ELearn_txt_description" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required"></textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SubmissionDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="ELearn_txt_DateToComplete" name="ELearn_txt_DateToComplete" placeholder="@ResourceCache.Localize("SubmissionDate")" title="@ResourceCache.Localize("SubmissionDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                    <input type="file" id="EFile" name="EFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                    <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                    <p class="File_message"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" name="Mail" id="Mail" value="email" />
                                    <label class="input-label-sm">@ResourceCache.Localize("Email")</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="checkbox" name="Sms" id="Sms" value="sms" />
                                    <label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" id="btnAdd_ELearn" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Save")</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageOnlineTest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ELearn_List_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem current_button" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ELearn_List_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem current_button" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem current_button" type="text" id="ELearn_List_txt_fromDate" name="ELearn_List_txt_fromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem current_button" type="text" id="ELearn_List_txt_toDate" name="ELearn_List_txt_toDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="ELearn_filterButton"><i class="fa fa-search"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="ELearn_Grid"></table>
                        <div id="ELearn_Pager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ELearn_List_allAcademicYears').val(@Session["List_ChosenAcademicYearId"]);
            $('#ELearn_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            List_LoadClassWithSection(@Session["List_ChosenAcademicYearId"]);
            Add_LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            futureDate(@Session["List_ChosenAcademicYearId"]);
            Add_futureDate(@Session["Add_ChosenAcademicYearId"]);

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });
            //List
            $('#ELearn_List_allAcademicYears').change(function (event) {
                $("#ELearn_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                event.preventDefault();
                $("#ELearn_List_txt_fromDate, #ELearn_List_txt_toDate").val("");
                var YearId = $('#ELearn_List_allAcademicYears').val();
                List_LoadClassWithSection(YearId);
                // $('#ELearn_allAcademicYears').val(YearId);
                Add_LoadClassWithSection(YearId);
                futureDate(YearId);
            });

            function List_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#ELearn_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#ELearn_List_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }
            //Add
            $('#ELearn_allAcademicYears').change(function (event) {
                $("#ELearn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#ELearn_txt_DateToComplete").val("");
                event.preventDefault();
                var YearId = $('#ELearn_allAcademicYears').val();
                Add_LoadClassWithSection(YearId);
                $('#ELearn_List_allAcademicYears').val(YearId);
                List_LoadClassWithSection(YearId);
                Add_futureDate(YearId);
            });

            function Add_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#ELearn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#ELearn_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            function futureDate(yearId) {
                $("#ELearn_List_txt_fromDate").datepicker("destroy");
                $("#ELearn_List_txt_toDate").datepicker("destroy");
                var HolidayDate1 = [];
                var HolidayReason1 = [];
                $.getJSON("/Dashboard/getDate", { acid: yearId },
                 function (data) {
                     $.each(data.HolidaysList, function (i, c) {
                         HolidayDate1[i] = c.Date;
                         HolidayReason1[i] = c.Holiday;
                     });
                     var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                     $(function () {
                         var dates = $("#ELearn_List_txt_fromDate, #ELearn_List_txt_toDate").datepicker({
                             dateFormat: 'dd/mm/yy',
                             minDate: data.sd,
                             maxDate: data.ed,
                             changeMonth: true,
                             changeYear: true,
                             onSelect: function (selectedDate) {
                                 var option = this.id == "ELearn_List_txt_fromDate" ? "minDate" : "maxDate",
                                 instance = $(this).data("datepicker"),
                                 date = $.datepicker.parseDate(
                                 instance.settings.dateFormat ||
                                 $.datepicker._defaults.dateFormat,
                                 selectedDate, instance.settings);
                                 dates.not(this).datepicker("option", option, date);
                             }
                         });
                     });
                 });
            }

            function Add_futureDate(yearId) {
                $("#ELearn_txt_DateToComplete").datepicker("destroy");
                var HolidayDate1 = [];
                var HolidayReason1 = [];
                $.getJSON("/Dashboard/getDate", { acid: yearId },
                 function (data) {
                     $.each(data.HolidaysList, function (i, c) {
                         HolidayDate1[i] = c.Date;
                         HolidayReason1[i] = c.Holiday;
                     });
                     var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                     $(function () {
                         var dates1 = $("#ELearn_txt_DateToComplete").datepicker({
                             dateFormat: 'dd/mm/yy',
                             minDate: 0,  // data.sd,
                             maxDate: data.ed,
                             changeMonth: true,
                             changeYear: true
                         });
                     });
                 });
            }


            $("#btnAdd_ELearn").click(function () {
                var yearId = $("#ELearn_allAcademicYears").val();
                var classIdSecId = $("#ELearn_ClassWithSection").val();
                var title = $("#ELearn_txt_Title").val();
                var desc = $("#ELearn_txt_description").val();
                var completionDate = $("#ELearn_txt_DateToComplete").val();
                var FileName = document.getElementById("EFile").value;
                //alert(FileName);
                $("#ELearn_allAcademicYears").addClass("current_button");
                $("#ELearn_ClassWithSection").addClass("current_button");
                $("#ELearn_txt_Title").addClass("current_button");
                $("#ELearn_txt_DateToComplete").addClass("current_button");
                $("#ELearn_txt_description").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'ELearn_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'ELearn_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'ELearn_txt_Title') {

                            a.push('@ResourceCache.Localize("PleaseEnterTitle")');
                        }
                        if (null_id == 'ELearn_txt_description') {

                            a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                        }
                        if (null_id == 'ELearn_txt_DateToComplete') {

                            a.push('@ResourceCache.Localize("PleaseSelectDate")');
                        }
                    }
                    else {
                    }
                });
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                $("#MandatoryFieldErrorMessage_Add").hide();

                var data = new FormData();
                if ($('#EFile').val() != "") {
                    var ext = $('#EFile').val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                        return false;

                    }

                    var files = $("#EFile").get(0).files;
                    if (files.length > 0) {
                        updateSize(files);
                        data.append("HelpSectionImages", files[0]);
                    }
                }

                data.append("year", jQuery('#ELearn_allAcademicYears').val());
                data.append("classSection", jQuery('#ELearn_ClassWithSection').val());
                data.append("title", jQuery('#ELearn_txt_Title').val());
                data.append("desc", jQuery('#ELearn_txt_description').val());
                data.append("dat", jQuery('#ELearn_txt_DateToComplete').val());

                if (document.getElementById('Mail').checked) {
                    data.append("email", jQuery('#Mail').val());
                }

                if (document.getElementById('Sms').checked) {
                    data.append("sms", jQuery('#Sms').val());
                }
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ModulesInfo/AddELearn',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {

                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#MI_HomeworkListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });

            var ELearnId;

            jQuery("#ELearn_Grid").jqGrid({
                url: "/ModulesInfo/ELearningListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Title")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("CompletionDate")', '@ResourceCache.Localize("Status")'],
                colModel: [
                    { key: true, hidden: true, name: 'ELearn_Id', index: 'ELearn_Id' },
                    { key: false, name: 'PostedtDate', index: 'PostedtDate' },
                    { key: false, name: 'ElearningAttachfilename', index: 'ElearningAttachfilename' },
                    { key: false, name: 'Description', index: 'Description' },
                    { key: false, name: 'LastDate', index: 'LastDate' },
                    { key: false, name: 'Status', index: 'Status' },
                   // { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#ELearn_Pager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
            }).navGrid('#ELearn_Pager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#ELearn_Pager',
                {
                    caption: " @ResourceCache.Localize("Excel")",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../ModulesInfo/ELearn_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#ELearn_Pager',
                {
                    caption: "@ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../ModulesInfo/ELearn_ExportToPdf";
                    }
                });

            $("#ELearn_Grid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("ELearningList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#ELearn_filterButton').click(function (event) {
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'ELearn_List_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'ELearn_List_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'ELearn_List_txt_fromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'ELearn_List_txt_toDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                ELearn_StudentList_filterGrid();
            });

            function ELearn_StudentList_filterGrid() {
                var postDataValues = $("#ELearn_Grid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 2 || index == 3) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#ELearn_Grid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };

            $(document).on('click', '.btn_open_file', function () {
                var id = $(this).attr('id');
                var url = "OpenELearnFile/" + id;
                window.open(url);
            });

            function updateSize(files) {
                var fsize;
                var nBytes = 0,
                    oFiles = files,
                    nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }
                var sOutput = nBytes + " bytes";

                for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                    fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
                }

                document.getElementById("fileSize").innerHTML = fsize;

                if (nBytes > 5242880) {

                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    return false;
                }
            }
        });
    </script>
}