﻿@model IEnumerable<eAcademy.ViewModel.HomeworkList>
@using eAcademy.Models
@{
    ViewBag.Title = "Homework";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditHomework" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditHomework")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("SubmissionDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="MI_HW_Edit_txt_submissionDate" name="MI_HW_Edit_txt_submissionDate" placeholder="@ResourceCache.Localize("SubmissionDate")" title="@ResourceCache.Localize("SubmissionDate")" readonly required="required" />
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Topic")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="MI_HW_Edit_txt_Homework" name="MI_HW_Edit_txt_Homework" placeholder="@ResourceCache.Localize("Topic")" title="@ResourceCache.Localize("Topic")" required="required" />
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="MI_HW_Edit_txt_description" name="MI_HW_Edit_txt_description" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required">  </textarea>
                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm main">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div class="col-lg-12" id="editActive" style="display: none">
                                    <select name="status" id="status" class="col-lg-12">
                                        <option value="true">@ResourceCache.Localize("Active")</option>
                                        <option value="false">@ResourceCache.Localize("InActive")</option>
                                    </select>
                                </div>
                                <div class="col-lg-12" id="editInActive" style="display: none">
                                    <select name="status" id="status" class="col-lg-12">
                                        <option value="false">@ResourceCache.Localize("InActive")</option>
                                        <option value="true">@ResourceCache.Localize("Actice")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                <input type="file" id="EHFile" name="EHFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                <p>@ResourceCache.Localize("TotalSize") <span id="EfileSize">0</span></p>
                                <p class="EFile_message"></p>
                                <p class="ExistFileName"></p>
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" id="HomeworkId" name="HomeworkId" />
                                <button type="button" class="btn btn-sm btn_update btn_double btn-down" id="btnEditHomework" title="@ResourceCache.Localize("Update")"><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-sm btn_cancel btn-down" name="btnCancel_EditHomework" id="btnCancel_EditHomework" title="@ResourceCache.Localize("Cancel")"><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="AddHomework">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("AddHomework")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_HW_allAcademicYears", new SelectList(ViewBag.CurrentDateAcYear, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_HW_allSubjects1", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } })
                                </div>


                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Homework")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="MI_HW_txt_Homework" name="MI_HW_txt_Homework" placeholder="@ResourceCache.Localize("Homework")" title="@ResourceCache.Localize("Homework")" required="required" />
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="MI_HW_txt_description" name="MI_HW_txt_description" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required"></textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SubmissionDate")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="MI_HW_txt_DateToComplete" name="MI_HW_txt_DateToComplete" placeholder="@ResourceCache.Localize("SubmissionDate")" title="@ResourceCache.Localize("SubmissionDate")" required="required" readonly />
                                </div>

                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                    <input type="file" id="HFile" name="HFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                    <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                    <p class="File_message"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" name="Mail" id="Mail" value="email" />
                                    <label class="input-label-sm">@ResourceCache.Localize("Email")</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="checkbox" name="Sms" id="Sms" value="sms" />
                                    <label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" id="btnAddHomework" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Save")</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="reset" id="btnResetAddHW" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")  </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageHomework")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_HW_List_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_List_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_HW_List_allSubjects", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } }, new { @class = "filterItem" })
                                </div>

                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="MI_HW_List_txt_fromDate" name="MI_HW_List_txt_fromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="MI_HW_List_txt_toDate" name="MI_HW_List_txt_toDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <button type="submit" class="btn btn-sm btn_search filterItem btn-down" id="MI_Homework_filterButton"><i class="fa fa-search"></i> @ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="MI_HomeworkListGrid"></table>
                        <div id="MI_HomeworkListPager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>
    </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#MI_HW_List_allAcademicYears').val(@Session["List_ChosenAcademicYearId"]);
            $('#MI_HW_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            List_LoadClassWithSection(@Session["List_ChosenAcademicYearId"]);
            Add_LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            futureDate(@Session["List_ChosenAcademicYearId"]);
            Add_futureDate(@Session["Add_ChosenAcademicYearId"]);

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });
            //List
            $('#MI_HW_List_allAcademicYears').change(function (event) {
                $("#MI_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#MI_HW_List_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                $("#MI_HW_List_txt_fromDate, #MI_HW_List_txt_toDate").val("");
                $("#MI_HW_List_txt_fromDate, #MI_HW_List_txt_toDate").datepicker("destroy");
                event.preventDefault();
                var YearId = $('#MI_HW_List_allAcademicYears').val();
                List_LoadClassWithSection(YearId);
               // $('#MI_HW_allAcademicYears').val(YearId);
                Add_LoadClassWithSection(YearId);
                futureDate(YearId);
            });

            function List_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#MI_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_List_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#MI_List_ClassWithSection').change(function (event) {
                event.preventDefault();
                List_LoadSubject();
            });

            function List_LoadSubject() {
                var YearId = $('#MI_HW_List_allAcademicYears').val();
                var classWithSection = $('#MI_List_ClassWithSection').val();
                $.getJSON('/ModulesInfo/showSubjects1', { passYearId: YearId, passClassSec: classWithSection },
                    function (orderdetails) {
                        $("#MI_HW_List_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_HW_List_allSubjects").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                        });
                    });
            }

            //Add
            $('#MI_HW_allAcademicYears').change(function (event) {
                $("#MI_HW_txt_DateToComplete").val("");
                $("#MI_HW_txt_DateToComplete").datepicker("destroy");
                $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#MI_HW_allSubjects1").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                event.preventDefault();
                var YearId = $('#MI_HW_allAcademicYears').val();
                Add_LoadClassWithSection(YearId);
                $('#MI_HW_List_allAcademicYears').val(YearId);
                List_LoadClassWithSection(YearId);
                Add_futureDate(YearId);
            });

            function Add_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#MI_ClassWithSection').change(function (event) {
                event.preventDefault();
                Add_LoadSubject();
            });

            function Add_LoadSubject() {
                var YearId = $('#MI_HW_allAcademicYears').val();
                var classWithSection = $('#MI_ClassWithSection').val();
                $.getJSON('/ModulesInfo/showSubjects1', { passYearId: YearId, passClassSec: classWithSection },
                    function (orderdetails) {
                        $("#MI_HW_allSubjects1").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_HW_allSubjects1").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                        });
                    });
            }

            var HomeworkId;

            jQuery("#MI_HomeworkListGrid").jqGrid({
                url: "/ModulesInfo/HomeworkListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Homework")', '@ResourceCache.Localize("Description")', 'Completion Date'],
                colModel: [
                    { key: true, hidden: true, name: 'HomeWork_Id', index: 'HomeWork_Id' },
                    { key: false, name: 'PostedtDate', index: 'PostedtDate' },
                    { key: false, name: 'HomeWorkWithFileName', index: 'HomeWorkWithFileName' },
                    { key: false, name: 'Descriptions', index: 'Descriptions' },
                    { key: false, name: 'LastDate', index: 'LastDate' },
                ],
                pager: jQuery("#MI_HomeworkListPager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

            }).navGrid('#MI_HomeworkListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#MI_HomeworkListPager',
                {
                    caption: "@ResourceCache.Localize("Excel")",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../ModulesInfo/Homework_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#MI_HomeworkListPager',
                {
                    caption: " @ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../ModulesInfo/Homework_ExportToPdf";
                    }
                });

            $("#MI_HomeworkListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("HomeworkList")');

            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#MI_Homework_filterButton').click(function (event) {

                var yearId = $("#MI_HW_List_allAcademicYears").val();
                var classIdSecId = $("#MI_List_ClassWithSection").val();
                var subId = $("#MI_HW_List_allSubjects").val();
                var fromDate = $("#MI_HW_List_txt_fromDate").val();
                var toDate = $("#MI_HW_List_txt_toDate").val();
                $("#MI_HW_List_allAcademicYears").addClass("current_button");
                $("#MI_List_ClassWithSection").addClass("current_button");
                $("#MI_HW_List_allSubjects").addClass("current_button");
                $("#MI_HW_List_txt_fromDate").addClass("current_button");
                $("#MI_HW_List_txt_toDate").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'MI_HW_List_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'MI_List_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'MI_HW_List_allSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'MI_HW_List_txt_fromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'MI_HW_List_txt_toDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                MI_StudentList_filterGrid();
            });

            function MI_StudentList_filterGrid() {
                var postDataValues = $("#MI_HomeworkListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 3 || index == 4) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#MI_HomeworkListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };

        });

        $(document).on('click', '.btn_edit_Homework', function () {
            var id = $(this).attr('id');
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $.getJSON('/ModulesInfo/EditHomework', { passId: id },
               function (data) {
                   $("#EditHomework").show();
                   $("#AddHomework").hide();
                   if (data.status = "true") {
                       console.log("true");
                       $("#editActive").show();
                       $("#editInActive").hide();
                   }
                   else {
                       $("#editInActive").show();
                       $("#editActive").hide();
                   }
                   $("#MI_HW_Edit_txt_Homework").val(data.Homework);
                   $("#MI_HW_Edit_txt_description").val(data.desc);
                   $("#MI_HW_Edit_txt_submissionDate").val(data.CompleionDate);
                   $("#HomeworkId").val(id);
                   $(".ExistFileName").empty();
                   if (data.ExistFile != null) {
                       $(".ExistFileName").val(data.ExistFile).html("Exist file name: " + data.ExistFile);
                   }
               });
        });

        function updateSize(files) {
            var fsize;
            var nBytes = 0,
                oFiles = files,
                nFiles = oFiles.length;
            for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                nBytes += oFiles[nFileId].size;
            }
            var sOutput = nBytes + " bytes";

            // optional code for multiples approximation
            for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
            }

            document.getElementById("fileSize").innerHTML = fsize;
            document.getElementById("EfileSize").innerHTML = fsize;

            if (nBytes > 5242880) {

                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#AddErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                return false;
            }
        }

        $("#btnAddHomework").click(function () {
            var yearId = $("#MI_HW_allAcademicYears").val();
            var classIdSecId = $("#MI_ClassWithSection").val();
            var subId = $("#MI_HW_allSubjects1").val();
            var homework = $("#MI_HW_txt_Homework").val();
            var desc = $("#MI_HW_txt_description").val();
            var completionDate = $("#MI_HW_txt_DateToComplete").val();
            var FileName = document.getElementById("HFile").value;

            $("#MI_HW_allAcademicYears").addClass("current_button");
            $("#MI_ClassWithSection").addClass("current_button");
            $("#MI_HW_allSubjects1").addClass("current_button");
            $("#MI_HW_txt_Homework").addClass("current_button");
            $("#MI_HW_txt_description").addClass("current_button");
            $("#MI_HW_txt_DateToComplete").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'MI_HW_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'MI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'MI_HW_allSubjects1') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }

                    if (null_id == 'MI_HW_txt_Homework') {

                        a.push('@ResourceCache.Localize("PleaseEnterHomework")');
                    }

                    if (null_id == 'MI_HW_txt_description') {
                        a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                    }
                    if (null_id == 'MI_HW_txt_DateToComplete') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }

                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            $("#MandatoryFieldErrorMessage_Add").hide();

            var data = new FormData();

            if ($('#HFile').val() != "") {
                var ext = $('#HFile').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                    return false;
                }

                var files = $("#HFile").get(0).files;
                if (files.length > 0) {
                    updateSize(files);
                    data.append("HelpSectionImages", files[0]);
                }
            }
            data.append("year", jQuery('#MI_HW_allAcademicYears').val());
            data.append("classSection", jQuery('#MI_ClassWithSection').val());
            data.append("subject", jQuery('#MI_HW_allSubjects1').val());
            data.append("hw", jQuery('#MI_HW_txt_Homework').val());
            data.append("desc", jQuery('#MI_HW_txt_description').val());
            data.append("dat", jQuery('#MI_HW_txt_DateToComplete').val());

            if (document.getElementById('Mail').checked) {
                data.append("email", jQuery('#Mail').val());
            }

            if (document.getElementById('Sms').checked) {
                data.append("sms", jQuery('#Sms').val());
            }
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ModulesInfo/AddHomework',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MI_HomeworkListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });

        });


        $("#btnEditHomework").click(function () {
            var homework = $("#MI_HW_Edit_txt_Homework").val();
            var desc = $("#MI_HW_Edit_txt_description").val();
            var status = $("#status").val();
            var CompletionDate = $("#MI_HW_Edit_txt_submissionDate").val();
            var Homeworkid = $("#HomeworkId").val();
            var FileName = document.getElementById("EHFile").value;

            $("#MI_HW_Edit_txt_Homework").addClass("current_button");
            $("#status").addClass("current_button");
            $("#MI_HW_Edit_txt_submissionDate").addClass("current_button");
            $("#MI_HW_Edit_txt_description").addClass("current_button");
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'MI_HW_Edit_txt_Homework') {

                        a.push('@ResourceCache.Localize("PleaseEnterHomework")');
                    }
                    if (null_id == 'status') {

                        a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                    }

                    if (null_id == 'MI_HW_Edit_txt_description') {
                        a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                    }
                    if (null_id == 'MI_HW_Edit_txt_submissionDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubmissionDate")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }

            $("#MandatoryFieldErrorMessage_Edit").hide();

            var data1 = new FormData();
            if ($('#EHFile').val() != "") {
                var ext = $('#EHFile').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                    return false;
                }
                var files = $("#EHFile").get(0).files;
                if (files.length > 0) {
                    updateSize(files);
                    data1.append("HelpSectionImages", files[0]);
                }
            }

            data1.append("hw", jQuery('#MI_HW_Edit_txt_Homework').val());
            data1.append("desc", jQuery('#MI_HW_Edit_txt_description').val());
            data1.append("dat", jQuery('#MI_HW_Edit_txt_submissionDate').val());
            data1.append("status", jQuery('#status').val());
            data1.append("homeworkid", jQuery('#HomeworkId').val());
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ModulesInfo/EditHomework',
                type: "POST",
                processData: false,
                contentType: false,
                data: data1,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MI_HomeworkListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });

        $(document).on('click', '.btn_open_file', function () {
            var id = $(this).attr('id');
            var url = "OpenHomeworkFile/" + id;
            window.open(url);
        });

        $(document).on('click', '.btn_del_Homework', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/ModulesInfo/DeleteHomework', { passId: id },
                           function (data) {
                               $("#MI_HomeworkListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });


        function futureDate(yearId) {
            $("#MI_HW_List_txt_fromDate").datepicker("destroy");
            $("#MI_HW_List_txt_toDate").datepicker("destroy");
            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/Dashboard/getDate", { acid: yearId },
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
               
                 $(function () {
                     var dates = $("#MI_HW_List_txt_fromDate, #MI_HW_List_txt_toDate").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.sd,
                         maxDate: data.ed,
                         changeMonth: true,
                         changeYear: true,
                         onSelect: function (selectedDate) {
                             var option = this.id == "MI_HW_List_txt_fromDate" ? "minDate" : "maxDate",
                             instance = $(this).data("datepicker"),
                             date = $.datepicker.parseDate(
                             instance.settings.dateFormat ||
                             $.datepicker._defaults.dateFormat,
                             selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                         }
                     });
                 });
             });
        }

        function Add_futureDate(yearId) {
            $("#MI_HW_txt_DateToComplete").datepicker("destroy");
            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/Dashboard/getDate", { acid: yearId },
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                 $(function () {
                     var dates1 = $("#MI_HW_txt_DateToComplete").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: 0,  // data.sd,
                         maxDate: data.ed,
                         changeMonth: true,
                         changeYear: true
                     });
                 });
             });
        }

        $("#btnCancel_EditHomework").click(function () {

            $("#AddHomework").show();
            $("#EditHomework").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        $(document).on('click', '.btn_view_Answer', function () {
            var id = $(this).attr('id');
            var url = "OpenHomeworkAnswerFile/" + id;
            window.open(url);
        });

        $("#btnResetAddHW").click(function () {
            $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#MI_HW_allSubjects1").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
        });

    </script>
}