﻿@model IEnumerable<eAcademy.ViewModel.R_FacultyFeedback>
@using eAcademy.Models
@{
    ViewBag.Title = "FacultyQueries";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="Reply_Form" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("SendReply")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("StudentId")</label> </div>
                                    <input class="col-lg-12" type="text" id="Query_StudentId" name="Query_StudentId" readonly />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> </div>
                                    <input class="col-lg-12" type="text" id="Query_StudentName" name="Query_StudentName" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                                    <input class="col-lg-12" type="text" id="Query_Class" name="Query_Class" readonly />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> </div>
                                    <input class="col-lg-12" type="text" id="Query_Subject" name="Query_Subject" readonly />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Query")</label> </div>
                                <textarea class="col-lg-12" id="MI_txt_Query" name="MI_txt_Query" placeholder="@ResourceCache.Localize("Query")" title="@ResourceCache.Localize("Query")" required="required" readonly> </textarea>
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Reply")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="MI_txt_Reply" name="MI_txt_Reply" placeholder="@ResourceCache.Localize("Reply")" title="@ResourceCache.Localize("Reply")" required="required"> </textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                    <input type="file" id="RFile" name="RFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                    <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                    <p class="File_message"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" id="QueryId" name="QueryId" />
                                <button type="button" id="btnSendReply" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Send")</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="Reply_Form1" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("SendReply")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="NoRecords box-body">
                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                            <b>@ResourceCache.Localize("Info_You_have_sent_reply_already_for_this_query_You_can_not_send_again")</b>
                        </div>
                    </div>
                    <div class="NoRecords box-body">
                        <div class="alert alert-info alert-dismissable" id="NoRecords1">
                            <b>@ResourceCache.Localize("You_Can_Reply_for_Current_AcademicYear_Query_Only")</b>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FacultyQueries")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_Queries_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_Queries_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3" id="div_sub">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_Queries_allSubjects1", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="R_Query_FromDate" name="R_Query_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="R_Query_ToDate" name="R_Query_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="btnReport_FacultyQueries"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="MI_QueryListGrid"></table>
                        <div id="MI_QueryListPager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MI_Queries_allAcademicYears").val(@Session["Add_ChosenAcademicYearId"]);
            Add_LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            futureDate(@Session["Add_ChosenAcademicYearId"]);

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });

            $('#MI_Queries_allAcademicYears').change(function (event) {
                $("#MI_Queries_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#MI_Queries_allSubjects1").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                $("#R_Query_FromDate,#R_Query_ToDate").val("");
                event.preventDefault();
                var YearId = $('#MI_Queries_allAcademicYears').val();
                Add_LoadClassWithSection(YearId);
                futureDate(YearId);
            });


            function Add_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#MI_Queries_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $("#MI_Queries_ClassWithSection").append($('<option></option>').val("all").html("All"));
                        $.each(orderdetails, function (i, c) {
                            $("#MI_Queries_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#MI_Queries_ClassWithSection').change(function (event) {
                event.preventDefault();
                var classWithSection = $('#MI_Queries_ClassWithSection').val();
                if (classWithSection == "all") {
                    $("#div_sub").hide();
                }
                else {
                    $("#div_sub").show();
                    Add_LoadSubject();
                }
            });

            function Add_LoadSubject() {
                var YearId = $('#MI_Queries_allAcademicYears').val();
                var classWithSection = $('#MI_Queries_ClassWithSection').val();
                $.getJSON('/ModulesInfo/showSubjects1', { passYearId: YearId, passClassSec: classWithSection },
                    function (orderdetails) {
                        $("#MI_Queries_allSubjects1").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_Queries_allSubjects1").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                        });
                    });
            }

            function futureDate(yearId) {
                $("#R_Query_FromDate, #R_Query_ToDate").datepicker("destroy");
                var HolidayDate1 = [];
                var HolidayReason1 = [];
                $.getJSON("/Dashboard/getDate", { acid: yearId },
                     function (data) {
                         $.each(data.HolidaysList, function (i, c) {
                             HolidayDate1[i] = c.Date;
                             HolidayReason1[i] = c.Holiday;
                         });
                         var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                         $(function () {

                             var dates = $("#R_Query_FromDate, #R_Query_ToDate").datepicker({
                                 dateFormat: 'dd/mm/yy',
                                 minDate: data.sd,
                                 maxDate: data.ed,
                                 changeMonth: true,
                                 changeYear: true,
                                 onSelect: function (selectedDate) {
                                     var option = this.id == "R_Query_FromDate" ? "minDate" : "maxDate",
                                     instance = $(this).data("datepicker"),
                                     date = $.datepicker.parseDate(
                                     instance.settings.dateFormat ||
                                     $.datepicker._defaults.dateFormat,
                                     selectedDate, instance.settings);
                                     dates.not(this).datepicker("option", option, date);
                                 }
                             });

                         });

                     });
            }

            var QueryId;

            jQuery("#MI_QueryListGrid").jqGrid({
                url: "/ModulesInfo/QueryListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("Date")', '@ResourceCache.Localize("StudentId")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("RollNumber")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("QueryFrom")', '@ResourceCache.Localize("Query")', '@ResourceCache.Localize("Reply")', '@ResourceCache.Localize("Action")'],
                colModel: [
                    { key: true, hidden: true, name: 'Query_Id', index: 'Query_Id' },
                    { key: false, name: 'Date', index: 'Date' },
                    { key: false, name: 'StudentId', index: 'StudentId' },
                    { key: false, name: 'StudentName', index: 'StudentName' },
                    { key: false, name: 'RollNumber', index: 'RollNumber' },
                    { key: false, name: 'classs', index: 'classs' },
                    { key: false, name: 'subject', index: 'subject' },
                    { key: false, name: 'SentBy', index: 'SentBy' },
                    { key: false, name: 'staffqueryfilename', index: 'staffqueryfilename' },
                    { key: false, name: 'staffqueryreplyfilename', index: 'staffqueryreplyfilename' },
                    { name: 'actReply', index: 'actReply', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#MI_QueryListPager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

                gridComplete: function () {
                    var ids = jQuery("#MI_QueryListGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        QueryId = ids[i];
                        ab = "<input style='height:23px;width:22px;' type='button' class='btn_open_Qfile btn_Document  ui-icon-document' id='" + QueryId + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_open_Rfile btn_Document ui-icon-document' id='" + QueryId + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                        de = "<input style='height:23px;width:22px;' type='button' class='btn_reply_Form btn_Reply ui-icon ui-icon-arrowreturnthick-1-n' id='" + QueryId + "' value=''  title='@ResourceCache.Localize("ToReply")'/>";
                        jQuery("#MI_QueryListGrid").jqGrid('setRowData', ids[i], { QueryFile: ab });
                        jQuery("#MI_QueryListGrid").jqGrid('setRowData', ids[i], { act: be });
                        jQuery("#MI_QueryListGrid").jqGrid('setRowData', ids[i], { actReply: de });
                    }
                },

            }).navGrid('#MI_QueryListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid();

            $("#MI_QueryListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("QueryList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#btnReport_FacultyQueries').click(function (event) {

                var yearId = $("#MI_Queries_allAcademicYears").val();
                var classIdSecId = $("#MI_Queries_ClassWithSection").val();
                var subId = $("#MI_Queries_allSubjects1").val();
                var fromDate = $("#R_Query_FromDate").val();
                var toDate = $("#R_Query_ToDate").val();

                $("#MI_Queries_allAcademicYears").addClass("current_button");
                $("#MI_Queries_ClassWithSection").addClass("current_button");
                $("#MI_Queries_allSubjects1").addClass("current_button");
                $("#R_Query_FromDate").addClass("current_button");
                $("#R_Query_ToDate").addClass("current_button");

                var a = [];
                var field_val = [];

                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var null_id = $(this).attr('id');
                    if (valu == '') {
                        if (null_id == 'MI_Queries_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'MI_Queries_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                            if (subId == "" || subId == "0" || subId == null) {
                                a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                            }
                        }
                        if (null_id == 'R_Query_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'R_Query_ToDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                        if (null_id == 'MI_Queries_ClassWithSection') {
                            if (classIdSecId == "all") {

                            }
                            else {
                                if (subId == "" || subId == "0" || subId == null) {
                                    a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                                }
                            }
                        }
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                MI_StudentList_filterGrid();
            });

            function MI_StudentList_filterGrid() {
                var postDataValues = $("#MI_QueryListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 3 || index == 4) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#MI_QueryListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };

            $(document).on('click', '.btn_open_Qfile', function () {
                var id = $(this).attr('id');
                var url = "OpenQueryFile/" + id;
                window.open(url);
            });

            $(document).on('click', '.btn_open_Rfile', function () {
                var id = $(this).attr('id');
                var url = "OpenReplyFile/" + id;
                window.open(url);
            });

            $(document).on('click', '.btn_reply_Form', function () {
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();

                var id = $(this).attr('id');
                $.getJSON('/ModulesInfo/showReplyFormWithStudentName', { id: id },
                   function (data) {
                       if (data.txt == "ReplySent") {
                           $("#Reply_Form1").show();
                           $("#Reply_Form").hide();
                           $("#NoRecords1").hide();
                           $("#NoRecords").show();
                       }
                       else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                           $("#Reply_Form1").show();
                           $("#Reply_Form").hide();
                           $("#NoRecords").hide();
                           $("#NoRecords1").show();
                       }
                       else {
                           $("#Reply_Form1").hide();
                           $("#Query_StudentId").val(data.studentId);
                           $("#Query_StudentName").val(data.studentName);
                           $("#Query_Class").val(data.classsSec);
                           $("#Query_Subject").val(data.sub);
                           $("#MI_txt_Query").val(data.Query);
                           $("#Reply_Form").show();
                           $("#QueryId").val(id);
                       }
                   });
            });

            function updateSize(files) {
                var fsize;
                var nBytes = 0,
                    oFiles = files,
                    nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }
                var sOutput = nBytes + " bytes";

                for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                    fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
                }

                document.getElementById("fileSize").innerHTML = fsize;

                if (nBytes > 5242880) {
                    alert("File size should be less than 5MB");
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    return false;
                }
            }

            $("#btnSendReply").click(function () {
                var QueryId = $("#QueryId").val();
                var Reply = $("#MI_txt_Reply").val();
                var a = [];
                var comment = $('#MI_txt_Reply').val();
                if (comment.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterReply")');
                }
                else {
                    var txchar = $("#MI_txt_Reply").val().replace(/ /g, '');
                    if (txchar.length == 0) {
                        a.push('@ResourceCache.Localize("PleaseEnterReply")');
                    }
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                $("#MandatoryFieldErrorMessage_Add").hide();
                var data = new FormData();
                if ($('#RFile').val() != "") {
                    var ext = $('#RFile').val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                        return false;
                    }
                    var files = $("#RFile").get(0).files;
                    if (files.length > 0) {
                        updateSize(files);
                        data.append("HelpSectionImages", files[0]);
                    }
                }

                data.append("QId", jQuery('#QueryId').val());
                data.append("Reply", jQuery('#MI_txt_Reply').val());
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ModulesInfo/AddReply',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#MI_QueryListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });
        });
    </script>
}
