﻿@model IEnumerable<eAcademy.ViewModel.MI_Students>
@using eAcademy.Models
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageStudents")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("MI_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("MI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem" })
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-sm btn_submit btn-down filterItem" id="MI_StudentList_filterButton"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="MI_StudentListGrid"></table>
                        <div id="MI_StudentListPager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#MI_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
        jQuery("#MI_StudentListGrid").jqGrid({
            url: "/ModulesInfo/StudentsListResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("RollNumber")', '@ResourceCache.Localize("Name")', '@ResourceCache.Localize("Gender")', '@ResourceCache.Localize("ContactPerson")', '@ResourceCache.Localize("ContactNumber")'],
            colModel: [
                { key: false, name: 'RollNumber', index: 'RollNumber' },
                { key: false, name: 'StudentName', index: 'StudentName' },
                { key: false, name: 'Gender', index: 'Gender' },
                { key: false, name: 'EmergencyContactPerson', index: 'EmergencyContactPerson' },
                { key: false, name: 'EmergencyContactNumber', index: 'EmergencyContactNumber' },
            ],
            pager: jQuery("#MI_StudentListPager"),          
            rowList: [50,100, 250,500,1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
        }).navGrid('#MI_StudentListPager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#MI_StudentListPager',
            {
                caption: " @ResourceCache.Localize("Excel") ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../ModulesInfo/StudentList_ExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#MI_StudentListPager',
            {
                caption: "@ResourceCache.Localize("Pdf") ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../ModulesInfo/StudentList_ExportToPdf";
                }
            });

        $("#MI_StudentListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("StudentList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

        $('#MI_StudentList_filterButton').click(function (event) {
            var yearId = $("#MI_allAcademicYears").val();
            var classwithSec = $("#MI_ClassWithSection").val();
            $("#MI_allAcademicYears").addClass("current_button");
            $("#MI_ClassWithSection").addClass("current_button");
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'MI_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'MI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            event.preventDefault();
            MI_StudentList_filterGrid();
        });
        function MI_StudentList_filterGrid() {

            var postDataValues = $("#MI_StudentListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#MI_StudentListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        };

        $('#MI_allAcademicYears').change(function (event) {
            $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            event.preventDefault();
            var YearId = $('#MI_allAcademicYears').val();
            LoadClassWithSection(YearId);
        });

        function LoadClassWithSection(YearId) {
            $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                function (orderdetails) {
                    $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#MI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                    });
                });
        }
    });
    </script>
}