﻿@model IEnumerable<eAcademy.ViewModel.SubjectNotesList>
@using eAcademy.Models
@{
    ViewBag.Title = "SubjectNotes";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditNotes" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditSubjectNotes")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("DateOfNotes") </label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="txt_EDateOfNotes" name="txt_EDateOfNotes" placeholder="@ResourceCache.Localize("DateOfNotes")" title="@ResourceCache.Localize("DateOfNotes")" required="required" readonly />
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Topic")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="txt_ETopic" name="txt_ETopic" placeholder="@ResourceCache.Localize("Topic")" title="@ResourceCache.Localize("Topic")" required="required" />
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="txt_Edescription" name="txt_Edescription" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required"></textarea>
                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm main">@ResourceCache.Localize("Status")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div class="col-lg-12" id="editActive" style="display: none">
                                    <select name="status" id="status" class="col-lg-12">
                                        <option value="true">@ResourceCache.Localize("Active")</option>
                                        <option value="false">@ResourceCache.Localize("InActive")</option>
                                    </select>
                                </div>
                                <div class="col-lg-12" id="editInActive" style="display: none">
                                    <select name="status" id="status" class="col-lg-12">
                                        <option value="false">@ResourceCache.Localize("InActive")</option>
                                        <option value="true">@ResourceCache.Localize("Actice")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm main">@ResourceCache.Localize("AddFile")</label></div>
                                <input type="file" id="ENFile" name="ENFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                <p>@ResourceCache.Localize("TotalSize") <span id="EfileSize">0</span></p>
                                <p class="EFile_message"></p>
                                <p class="ExistFileName"></p>
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" id="NotesId" name="NotesId" />
                                <button type="button" class="btn btn-sm btn_update btn_double btn-down " id="btnEditSubjectNotes" title="Update"><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-sm btn_cancel btn-down" name="btnCancel_EditSubjectNotes" id="btnCancel_EditSubjectNotes" title="Cancel"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="AddNotes">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-plus "></i>
                        <h3 class="box-title">@ResourceCache.Localize("AddSubjectNotes")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_add_allAcademicYears", new SelectList(ViewBag.CurrentDateAcYear, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_allSubjects", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Topic")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="txt_Topic" name="txt_Topic" placeholder="@ResourceCache.Localize("Topic")" title="@ResourceCache.Localize("Topic")" required="required" />
                                </div>
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <textarea class="col-lg-12" id="txt_description" name="txt_description" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required"></textarea>
                                    <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm main">@ResourceCache.Localize("AddFile")</label>  </div>
                                    <input type="file" id="NFile" name="NFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                    <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                    <p class="File_message"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" name="Mail" id="Mail" value="email" />
                                    <label class="input-label-sm">@ResourceCache.Localize("Email")</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="checkbox" name="Sms" id="Sms" value="sms" />
                                    <label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnAddSubjectNotes"><i class="fa fa-plus"></i> @ResourceCache.Localize("Add")</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="reset" id="btnReset_SubNotes" class=" btn  btn-sm btn_reset btn-down" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageSubjectNotes")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_List_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_NotesList_allSubjects", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSubject"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="MI_notes_List_txt_fromDate" name="MI_notes_List_txt_fromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="MI_notes_List_txt_toDate" name="MI_notes_List_txt_toDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="MI_Notes_filterButton"><i class="fa fa-search"></i>@ResourceCache.Localize("Search") </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="MI_NoteListGrid"></table>
                        <div id="MI_NoteListPager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MI_allAcademicYears').val(@Session["List_ChosenAcademicYearId"]);
            $('#MI_add_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            List_LoadClassWithSection(@Session["List_ChosenAcademicYearId"]);
            Add_LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            futureDate(@Session["List_ChosenAcademicYearId"]);
            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });
            //List
            $('#MI_allAcademicYears').change(function (event) {
                $("#MI_notes_List_txt_fromDate, #MI_notes_List_txt_toDate").val("");
                $("#MI_notes_List_txt_fromDate, #MI_notes_List_txt_toDate").datepicker("destroy");
                $("#MI_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#MI_NotesList_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                event.preventDefault();
                var YearId = $('#MI_allAcademicYears').val();
                List_LoadClassWithSection(YearId);
                //$('#MI_add_allAcademicYears').val(YearId);
                Add_LoadClassWithSection(YearId);
                futureDate(YearId);
            });

            function List_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#MI_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_List_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#MI_List_ClassWithSection').change(function (event) {
                event.preventDefault();
                List_LoadSubject();
            });

            function List_LoadSubject() {
                var YearId = $('#MI_allAcademicYears').val();
                var classWithSection = $('#MI_List_ClassWithSection').val();
                $.getJSON('/ModulesInfo/showSubjects1', { passYearId: YearId, passClassSec: classWithSection },
                    function (orderdetails) {
                        $("#MI_NotesList_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_NotesList_allSubjects").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                        });
                    });
            }

            //Add
            $('#MI_add_allAcademicYears').change(function (event) {
                $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#MI_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                
                event.preventDefault();
                var YearId = $('#MI_add_allAcademicYears').val();
                Add_LoadClassWithSection(YearId);
                $('#MI_allAcademicYears').val(YearId);
                List_LoadClassWithSection(YearId);
                futureDate(YearId);
            });
            function Add_LoadClassWithSection(YearId) {
                $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $('#MI_ClassWithSection').change(function (event) {
                event.preventDefault();
                Add_LoadSubject();
            });

            function Add_LoadSubject() {
                var YearId = $('#MI_add_allAcademicYears').val();
                var classWithSection = $('#MI_ClassWithSection').val();
                $.getJSON('/ModulesInfo/showSubjects1', { passYearId: YearId, passClassSec: classWithSection },
                    function (orderdetails) {
                        $("#MI_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#MI_allSubjects").append($('<option></option>').val(c.subjectId).html(c.subjectName));
                        });
                    });
            }

            function futureDate(YearId) {
                $("#MI_notes_List_txt_fromDate").datepicker("destroy");
                $("#MI_notes_List_txt_toDate").datepicker("destroy");
                var HolidayDate1 = [];
                var HolidayReason1 = [];
                $.getJSON("/Dashboard/getDate", { acid: YearId },
                 function (data) {
                     $.each(data.HolidaysList, function (i, c) {
                         HolidayDate1[i] = c.Date;
                         HolidayReason1[i] = c.Holiday;
                     });
                     $(function () {
                         var dates = $("#MI_notes_List_txt_fromDate, #MI_notes_List_txt_toDate").datepicker({
                             dateFormat: 'dd/mm/yy',
                             minDate: data.sd,
                             maxDate: data.ed,
                             changeMonth: true,
                             changeYear: true,
                             onSelect: function (selectedDate) {
                                 var option = this.id == "MI_notes_List_txt_fromDate" ? "minDate" : "maxDate",
                                 instance = $(this).data("datepicker"),
                                 date = $.datepicker.parseDate(
                                 instance.settings.dateFormat ||
                                 $.datepicker._defaults.dateFormat,
                                 selectedDate, instance.settings);
                                 dates.not(this).datepicker("option", option, date);
                             }
                         });
                     });
                 });
            }

            var NoteId;

            jQuery("#MI_NoteListGrid").jqGrid({
                url: "/ModulesInfo/NotesListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Note")', '@ResourceCache.Localize("Description")'],   @*'@ResourceCache.Localize("Status")', 'Actions'*@
                colModel: [
                    { key: true, hidden: true, name: 'Notes_Id', index: 'Notes_Id' },
                    { key: false, name: 'DateOf_Notes', index: 'DateOf_Notes' },
                    { key: false, name: 'subjectnotesfilename', index: 'subjectnotesfilename' },
                    { key: false, name: 'Descriptions', index: 'Descriptions' },

                ],
                pager: jQuery("#MI_NoteListPager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

            }).navGrid('#MI_NoteListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#MI_NoteListPager',
                {
                    caption: "@ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../ModulesInfo/Note_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#MI_NoteListPager',
                {
                    caption: " @ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../ModulesInfo/Note_ExportToPdf";
                    }
                });

            $("#MI_NoteListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("NotesList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#MI_Notes_filterButton').click(function (event) {

                var yearId = $("#MI_allAcademicYears").val();
                var classIdSecId = $("#MI_List_ClassWithSection").val();
                var subId = $("#MI_NotesList_allSubjects").val();
                var fromDate = $("#MI_notes_List_txt_fromDate").val();
                var toDate = $("#MI_notes_List_txt_toDate").val();

                $("#MI_allAcademicYears").addClass("current_button");
                $("#MI_List_ClassWithSection").addClass("current_button");
                $("#MI_NotesList_allSubjects").addClass("current_button");
                $("#MI_notes_List_txt_fromDate").addClass("current_button");
                $("#MI_notes_List_txt_toDate").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'MI_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'MI_List_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'MI_NotesList_allSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'MI_notes_List_txt_fromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'MI_notes_List_txt_toDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }


                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                MI_NotesList_filterGrid();
            });


            function MI_NotesList_filterGrid() {
                var postDataValues = $("#MI_NoteListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 3 || index == 4) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#MI_NoteListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };

        });

        function updateSize(files) {
            var fsize;
            var nBytes = 0,
                oFiles = files,
                nFiles = oFiles.length;
            for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                nBytes += oFiles[nFileId].size;
            }
            var sOutput = nBytes + " bytes";

            for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
            }

            document.getElementById("fileSize").innerHTML = fsize;
            document.getElementById("EfileSize").innerHTML = fsize;


            if (nBytes > 5242880) {

                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#AddErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");

                var xxx = "exceed";
                return xxx;
            }
        }

        $("#btnAddSubjectNotes").click(function () {

            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();

            var yearId = $("#MI_add_allAcademicYears").val();
            var classIdsecId = $("#MI_ClassWithSection").val();
            var subId = $("#MI_allSubjects").val();
            var topic = $("#txt_Topic").val();
            var desc = $("#txt_description").val();

            $("#MI_add_allAcademicYears").addClass("current_button");
            $("#MI_ClassWithSection").addClass("current_button");
            $("#MI_allSubjects").addClass("current_button");
            $("#txt_Topic").addClass("current_button");
            $("#txt_description").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'MI_add_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'MI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'MI_allSubjects') {

                        a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                    }
                    if (null_id == 'txt_Topic') {

                        a.push('@ResourceCache.Localize("PleaseEnterTopic")');
                    }
                    if (null_id == 'txt_description') {

                        a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                    }

                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }
            var data = new FormData();

            if ($('#NFile').val() != "") {
                var ext = $('#NFile').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                    return false;
                }
                var files = $("#NFile").get(0).files;
                if (files.length > 0) {
                    updateSize(files);
                    data.append("HelpSectionImages", files[0]);
                }
            }

            data.append("year", jQuery('#MI_add_allAcademicYears').val());
            data.append("classSection", jQuery('#MI_ClassWithSection').val());
            data.append("subject", jQuery('#MI_allSubjects').val());
            data.append("topic", jQuery('#txt_Topic').val());
            data.append("desc", jQuery('#txt_description').val());

            if (document.getElementById('Mail').checked) {
                data.append("email", jQuery('#Mail').val());
            }

            if (document.getElementById('Sms').checked) {
                data.append("sms", jQuery('#Sms').val());
            }
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ModulesInfo/AddSubjectNotes',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MI_NoteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });

        });

        $(document).on('click', '.btn_edit_Note', function () {
            var id = $(this).attr('id');
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $.getJSON('/ModulesInfo/EditSubjectNotes', { passId: id },
               function (data) {
                   $("#EditNotes").show();
                   $("#AddNotes").hide();
                   if (data.status = "true") {
                       $("#editActive").show();
                       $("#editInActive").hide();
                   }
                   else {
                       console.log("false");
                       $("#editInActive").show();
                       $("#editActive").hide();
                   }

                   $("#txt_EDateOfNotes").val(data.date);
                   $("#txt_ETopic").val(data.topic);
                   $("#txt_Edescription").val(data.desc);
                   $("#NotesId").val(id);
                   $(".ExistFileName").empty();
                   $("#EfileSize").empty();
                   $(".EFile_message").empty();
                   if (data.ExistFile != null) {
                       $(".ExistFileName").val(data.ExistFile).html("Exist file name: " + data.ExistFile);
                   }
               });
        });

        $("#btnEditSubjectNotes").click(function () {
            var notesDate = $("#txt_EDateOfNotes").val();
            var Etopic = $("#txt_ETopic").val();
            var Edesc = $("#txt_Edescription").val();
            var Estatus = $("#status").val();
            var EnotesId = $("#NotesId").val();

            $("#txt_EDateOfNotes").addClass("current_button");
            $("#txt_ETopic").addClass("current_button");
            $("#status").addClass("current_button");
            
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_EDateOfNotes') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'txt_ETopic') {

                        a.push('@ResourceCache.Localize("PleaseEnterTopic")');
                    }
                    if (null_id == 'status') {

                        a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                    }

                }
                else {
                }
            });

            var comment = $('#txt_Edescription').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterDescription")');
            }
            else {
                var txchar = $("#txt_Edescription").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                }
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }

            $("#MandatoryFieldErrorMessage_Edit").hide();
            var data1 = new FormData();

            if ($('#NFile').val() != "") {

                var ext = $('#ENFile').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                    return false;
                }

                var files = $("#ENFile").get(0).files;
                if (files.length > 0) {
                    updateSize(files);
                    data1.append("HelpSectionImages", files[0]);
                    $(".ExistFileName").empty();
                }
            }

            data1.append("topic", jQuery('#txt_ETopic').val());
            data1.append("desc", jQuery('#txt_Edescription').val());
            data1.append("dat", jQuery('#txt_EDateOfNotes').val());
            data1.append("status", jQuery('#status').val());
            data1.append("notesId", jQuery('#NotesId').val());
            $("#Loading_Sec").addClass("loading-new");

            $.ajax({
                url: '/ModulesInfo/EditSubjectNotes1',
                type: "POST",
                processData: false,
                contentType: false,
                data: data1,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MI_NoteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });

        });

        $("#btnCancel_EditSubjectNotes").click(function () {

            $("#AddNotes").show();
            $("#EditNotes").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        $(document).on('click', '.btn_open_file', function () {
            var id = $(this).attr('id');
            var url = "OpenSubjectNotesFile/" + id;
            window.open(url);
        });

        $(document).on('click', '.btn_del_Note', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/ModulesInfo/DeleteSubjectNotes', { passId: id },
                           function (data) {
                               $("#MI_NoteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        $("#btnReset_SubNotes").click(function () {
            $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#MI_allSubjects").empty().append('<option value="">@ResourceCache.Localize("SelectSubject")</option>');
        });

    </script>
}