﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")


<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-12" id="AddHomework">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">Send Email/SMS</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>

                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                            <div class="col-lg-4">
                                <div><label class="input-label-sm">Academic Year</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Commn_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), "-- Select Year --")
                            </div>

                            <div class="col-lg-4">
                                <div><label class="input-label-sm">Date</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="Commn_txt_Date" name="Commn_txt_Date" placeholder="Date" title="Date" required="required" readonly />
                            </div>

                            <div class="col-lg-4">
                                <div><label class="input-label-sm">Title</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="Commn_txt_title" name="Commn_txt_title" placeholder="Title" title="Title" required="required" />
                            </div>

                            <div class="col-lg-12">
                                <div><label class="input-label-sm">Description</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12 current_button" id="Commn_txt_description" name="Commn_txt_description" placeholder="Description" title="Description" required="required"> </textarea>
                            </div>

                            <div class="col-lg-4">
                                <div><label class="input-label-sm">Select File</label></div>
                                <input type="file" id="CFile" name="CFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">eg(.pdf, .docx)
                                <p>total size: <span id="fileSize">0</span></p>
                                <p class="File_message"></p>
                            </div>

                            <div class="col-lg-6">
                                <div>
                                    <label class="input-label-sm">Communication Type</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="checkbox" name="Mail" id="Mail" value="email" />
                                    <label class="input-label-sm">Email</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="checkbox" name="Sms" id="Sms" value="sms" />
                                    <label class="input-label-sm">SMS</label>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 " id="Div_SelectOption">

                                    <div class="col-lg-12"><label class="input-label-sm">To</label> <span class="glyphicon glyphicon-asterisk"></span></div>

                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="All" class="current_button">All
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="Class" class="current_button">Class
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="Student" class="current_button">Student
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="AllStaff" class="current_button">All Staff
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="SingleStaff" class="current_button">Single Staff
                                    </div>

                                </div>
                            </div>

                            <div id="Div_Class" style="display:none">
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">Class</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div><label class="input-label-sm">All Class</label>  <input class="current_button" id="check_AllClass1" value="AllClass" name="check_AllClass1" type="checkbox" /></div>
                                    <div id="div_SelClass">
                                        @Html.ListBox("Class", new MultiSelectList(ViewBag.allClasses, "ClassId", "ClassName"), new { @class = "chzn-select current_button", data_placeholder = "Choose Class" })
                                    </div>
                                </div>
                            </div>

                            <div id="Div_Student" style="display:none">
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">Class</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Stu_allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), "-- Select Class --")
                                </div>

                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">Section</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Stu_Section", new List<SelectListItem>() { new SelectListItem() { Text = "-- Select Section --", Value = "" } })
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" id="btnShowStudents" class="btn btn-sm btn_save btn_down btn_double">Submit</button>
                                </div>
                            </div>

                            <div id="Div_AllStaff" style="display:none">
                                <div class="col-lg-12 col-sm-12">
                                    <div><label class="input-label-sm">Staff</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div><label class="input-label-sm">All Staff</label>  <input class="current_button" id="check_AllStaff" name="check_AllStaff" type="checkbox" /></div>
                                    <div id="div_selStaf">
                                        @Html.ListBox("Staff", new MultiSelectList(ViewBag.AllEmployeeType, "EmployeeTypeId", "EmployeeType"), new { @class = "chzn-select current_button", data_placeholder = "Choose Staff" })
                                    </div>
                                </div>
                            </div>

                            <div id="Div_SingleStaff" style="display:none">
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">Staff</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allStaff", new SelectList(ViewBag.AllEmployeeType, "EmployeeTypeId", "EmployeeType"), "-- Select Staff Type --")
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" id="btnShowStaff" class="btn btn-sm btn_save btn_down btn_double">Submit</button>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type="button" id="btnAddCommunication" class="btn btn-sm btn_save btn_double">Submit</button>
                                <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i> Reset </button>
                            </div>

                            <div class="col-lg-12"></div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>


                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>

@section scriptsContainer{
<script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Commn_txt_title").filter_input({ regex: '[0-9A-Za-z \\.]' });

            $('#Stu_allClass').change(function (event) {
                var ClassId = $('#Stu_allClass').val();
                $.getJSON('/Communication/GetSelectedClassSection', { passClassId: ClassId },
                    function (orderdetails) {
                        $("#Stu_Section").empty().append('<option value="">Select Section</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Stu_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                        });
                    });
            });

            $("#Div_SelectOption input:radio").click(function () {
                var selVal = $('input[name=SelectOption]:checked').val();
                if (selVal == "Class") {
                    $("#Div_Class").show();
                    $("#Div_Student").hide();
                    $("#Div_AllStaff").hide();
                    $("#Div_SingleStaff").hide();
                }
                if (selVal == "Student") {
                    $("#Div_Class").hide();
                    $("#Div_Student").show();
                    $("#Div_AllStaff").hide();
                    $("#Div_SingleStaff").hide();
                }
                if (selVal == "AllStaff") {
                    $("#Div_Class").hide();
                    $("#Div_Student").hide();
                    $("#Div_AllStaff").show();
                    $("#Div_SingleStaff").hide();
                }
                if (selVal == "SingleStaff") {
                    $("#Div_Class").hide();
                    $("#Div_Student").hide();
                    $("#Div_AllStaff").hide();
                    $("#Div_SingleStaff").show();
                }
                if (selVal == "All") {
                    $("#Div_Class").hide();
                    $("#Div_Student").hide();
                    $("#Div_AllStaff").hide();
                    $("#Div_SingleStaff").hide();
                }
            });


            $("#check_AllClass1").click(function (event) {
                if (this.checked) {
                    $("#div_SelClass").hide();
                }
                else {
                    $("#div_SelClass").show();
                }
            });

            $("#check_AllStaff").click(function (event) {
                if (this.checked) {
                    $("#div_selStaf").hide();
                }
                else {
                    $("#div_selStaf").show();
                }
            });



            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/Communication/FutureActiveDate",
                 function (data) {
                     $.each(data.HolidaysList, function (i, c) {
                         HolidayDate1[i] = c.Date;
                         HolidayReason1[i] = c.Holiday;
                     });
                     var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                     $(function () {
                         var dates = $("#Commn_txt_Date").datepicker({
                             dateFormat: 'yy/mm/dd',
                             minDate: data.StartingEnableDate,
                             maxDate: data.EndingEnableDate,
                             changeMonth: true,
                             changeYear: true,
                             beforeShowDay: function (date) {
                                 show = true;
                                 for (var i = 0; i < holidays.length; i++) {
                                     if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                 }
                                 if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                 var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                 return display;
                             },

                         });
                     });
                 });









            $("#btnAddCommunication").click(function () {

                $("#Commn_allAcademicYears").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Commn_allAcademicYears') {

                            a.push('Please select academic year');
                        }
                        if (null_id == 'Commn_txt_Date') {

                            a.push('Please select date');
                        }
                        if (null_id == 'Commn_txt_title') {

                            a.push('Please enter title');
                        }
                        if (null_id == 'Commn_txt_description') {

                            a.push('Please enter description');
                        }                    
                    }
                    else {
                    }
                });

                var comment = $('#Commn_txt_description').val();
                if (comment.length == 0) {
                    a.push('Please enter description');
                }
                else {
                    var txchar = $("#Commn_txt_description").val().replace(/ /g, '');
                    if (txchar.length == 0) {
                        a.push('Please enter description');
                    }
                }

                var optVal =  $('input[name=SelectOption]:checked').val();
                if (optVal == null)
                {
                    a.push('Please select To option');
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                $("#MandatoryFieldErrorMessage_Add").hide();




                var data = new FormData();

                if ($('#CFile').val() != "") {
                    alert("type");
                    var ext = $('#CFile').val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $("#AddErrorText").text("Invalid extension! File format does not support");
                        return false;
                    }

                    var files = $("#CFile").get(0).files;
                    if (files.length > 0) {
                        alert("size");
                        updateSize(files);
                        data.append("HelpSectionImages", files[0]);
                    }
                }
                alert("fffff");
                data.append("year", jQuery('#Commn_allAcademicYears').val());
                data.append("date", jQuery('#Commn_txt_Date').val());
                data.append("title", jQuery('#Commn_txt_title').val());
                data.append("desc", jQuery('#Commn_txt_description').val());


                alert("e");
                if (document.getElementById('Mail').checked) {
                    data.append("email", jQuery('#Mail').val());
                }

                alert("m");
                if (document.getElementById('Sms').checked) {
                    data.append("sms", jQuery('#Sms').val());
                }






                var selVal = $('input[name=SelectOption]:checked').val();
                if (selVal == "Class") {

                    data.append("optional", jQuery('input[name=SelectOption]:checked').val());
                  
                }
                if (selVal == "Student") {
                    
                }
                if (selVal == "AllStaff") {
                   
                }
                if (selVal == "SingleStaff") {
                  
                }
                if (selVal == "All") {
                  
                }


                if (document.getElementById('check_AllClass').checked) {
                    data.append("AllClass", jQuery('#check_AllClass').val());
                }
            });

          
            function updateSize(files) {
                var fsize;
                var nBytes = 0,
                    oFiles = files,
                    nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }
                var sOutput = nBytes + " bytes";


                // optional code for multiples approximation
                for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                    fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
                }

                document.getElementById("fileSize").innerHTML = fsize;
                document.getElementById("EfileSize").innerHTML = fsize;

                if (nBytes > 5242880) {

                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("File size should be less than 5MB");
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("File size should be less than 5MB");

                    //alert("File size exceeds");
                    //$(".File_message").text("File size should be less than 5MB").css("color", "#ff0000");
                    //$(".EFile_message").text("File size should be less than 5MB").css("color", "#ff0000");
                    return false;
                }
            }
          
    });
        



    </script>
}