@import url('demo.css');
@import url('font-awesome.css');

/* GLOBALS */

 

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}
.rfoot {
margin-bottom: 21px;
}
.form-1 { 
    position: relative;  
}
.form-1 .back{
position: relative;
top: 7px;
left:10%;
float:left;
font-size: 15px;

}
.footer center p .reset {
color:red !important;

padding-left:2px;padding-right:2px;
font-weight:500;
}
    .form-1 .back:hover a{
    color:red !important;
    }

.form-1 .field {
    margin: 20px 9px;
    position: relative; /* For the icon positioning */
    border: 1px solid gray;
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password] {
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 0px 18px 0px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
 
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    /*background: #ffffff;*/
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;
    
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.button {
margin:9px 0px 10px 0px;
}

 /*button.button{
		background: #ECECEC;
		border-radius: 15px;
        padding: 7px 12px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 145px;
		margin-bottom:10px;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
	}
	button.button i{
		float: right;
		margin-top: 2px;
	}
	button.button:hover{
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	}
	button.button:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
	}*/
.caps {
background-color:white;
}
.footer center p a:hover , .body a:hover{
color:black !important;
opacity:1;
}
/*.demo-pass {
perspective:500px;
-webkit-transition-duration: 6s; 
transition-duration: 6s;
}*/ 
 
.myButton3{
	-moz-box-shadow: 1px 5px 24px -3px #7E7E7E;
	-webkit-box-shadow: 1px 5px 24px -3px #7E7E7E;
box-shadow: 1px 5px 24px -3px #7E7E7E;
	background-color: #335A1C;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
    letter-spacing:3px;
    border: none !important;
}
.login_margin {
    margin-left:5px;
}
.myButton3:hover {
background-color: #46A224;
color:#ffffff;
}
.myButton3:active {
	position:relative;
	top:1px;
} 
.myButton2{
	-moz-box-shadow: 1px 5px 24px -3px #7E7E7E;
	-webkit-box-shadow: 1px 5px 24px -3px #7E7E7E;
    box-shadow: 1px 5px 24px -3px #7E7E7E;
	background-color: #B48653;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
    letter-spacing:3px;
    border: none !important;
}
.mtop{
    margin-top:12px;
}
.myButton2:hover {
background-color: #98673E;
color:#ffffff;
}
.myButton2:active {
	position:relative;
	top:1px;
} 
.myButton1{
    text-shadow: 2px 2px 2px #020000;
	-moz-box-shadow: 1px 5px 24px -3px #7E7E7E;
	-webkit-box-shadow: 1px 5px 24px -3px #7E7E7E;
box-shadow: 1px 5px 24px -3px #7E7E7E;
	background-color: #6f1418;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
    letter-spacing:3px;
    border: none !important;
}
.myButton1:hover {
background-color: #6f1418;
color: #FFF;
}
.myButton1:active {
	position:relative;
	top:1px;
}
.myButton {
	-moz-box-shadow: 1px 5px 24px -3px #7E7E7E;
	-webkit-box-shadow: 1px 5px 24px -3px #7E7E7E;
box-shadow: 1px 5px 24px -3px #7E7E7E;
	background-color: #696E71;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
    letter-spacing:3px;
    border: none;
}
.myButton:hover {
	background-color:#949494;
    color:black;
}
.myButton:active {
	position:relative;
	top:1px;
}

       .button {
    position: absolute;
    top: 100px;
    left: 200px;
    display: inline-block;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.myButton4 {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .myButton4 :hover {
            color: #AEBF3B;
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

        .myButton4:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .myButton4:active {
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

    .myButton4 :after {
        content: ">";
        display: block;
        width: 10px;
        height: 10px;
    
        position: absolute;
        right: 14px;
        top: 12px;    

        font-weight: 700;
        color: #AEBF3B;
        text-shadow: 0px 1px #fff, 0px -1px #97A63A;
        font-size: 26px;
    } 
 
/*.a.myButton5 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: 0px 0px 0px 2px rgba(30, 22, 54, 0.4) inset;
}
.a {
    transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36) 0s;
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}*/
.abutton:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 80px 0px 2px rgba(30, 22, 54, 0.7) inset;
}
.a.myButton5 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: 0px 0px 0px 2px rgba(30, 22, 54, 0.4) inset;
}
.a {
    transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36) 0s;
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}
a:active, a:hover {
    outline: 0px none;
}
.btn {
    position: relative;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #FFF;
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
    overflow: hidden;
    font-weight: 300;
    transition: all 250ms ease-in-out 0s;
}