﻿@using eAcademy.Models
@{
    ViewBag.Title = "StaffTimetable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<style>
    #box td, th {
        padding: 22px;
        border: groove;
    }
</style>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FacultyTimetable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <form>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-3" id="hideBtn">
                                <div class="col-md-12"> <button type="button" class="btn btn-sm btn_submit btn-down" id="btnShowFacultyTimetable"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button></div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </form>
                    </div>
                    <div id="show">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="col-lg-12 " id="PrintDetails" style="display:none">
                            <label>@ResourceCache.Localize("AcademicYear") : </label> <label id="lbl_AcYear"></label><br />
                        </div>
                        <div id="box" class="col-lg-12 "> </div>
                        <div id="NoClassAssigned" class="time_assign" style="display:none"><label class="input-label-sm">@ResourceCache.Localize("No_class_assigned_in_this_period")</label></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            
        $("#allAcademicYears").val(@Session["Add_ChosenAcademicYearId"]);
        $('#allAcademicYears').change(function (event) {
            event.preventDefault();
            $("#show").hide();
            var YearId = $('#allAcademicYears').val();
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                  function (orderdetails) {
                  });
        });
        $('#show').hide();
        $("#btnShowFacultyTimetable").click(function () {
             
            $("#Loading_Sec").addClass("loading-new");
            $("#hideBtn").hide();
            $("#MandatoryFieldErrorMessage_List").hide();
            $("#show").hide();
            $("#FacultyTimetable").empty();
            $("#FacultyTimetable").remove();
            $("#FacultyTimetable tbody").empty();
            $(".title").empty();
            var year = $("#allAcademicYears").val();
            $("#allAcademicYears").addClass("current_button");
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#hideBtn").show();
                    return false;
                }
                $("#FacultyTimetable").delay("slow").fadeIn();
                $.getJSON('/FacultyInfo/getFacultyPeriodSubject', { passYearId: year },
                function (data) {
                    var DayCount = data.day;
                    var PeriodCount = data.period;
                    $('#show').show();
                    mytable = $('<table border=1 class="col-lg-12"></table>').attr({ id: "FacultyTimetable" });
                    myhead = $('<thead></thead>').appendTo(mytable);
                    myheadtr = $('<tr></tr>').appendTo(myhead);

                    var rows = new Number(DayCount);
                    var cols = new Number(PeriodCount);
                    var tr = [];

                    for (var i = 0; i <= cols ; i++) {
                        if (i == 0) {
                            $('<th class="title">@ResourceCache.Localize("Day/Period")</th>').appendTo(myheadtr);
                        } else {
                            $('<th class="title"></th>').text('@ResourceCache.Localize("Period")' + i).appendTo(myheadtr);
                    }
                }
                mytbody = $('<tbody></tbody>').appendTo(mytable);

                for (var i = 1; i <= rows ; i++) {
                    var mytbodytd = $('<tr><td id="Day' + i + '"></td>').appendTo(mytbody);
                    for (var j = 1; j <= cols; j++) {
                        $('<td id="day' + i + 'period' + j + '" class=""></td></tr>').appendTo(mytbodytd);
                    }

                }
                mytable.appendTo("#box");
                for (var i = 1; i <= rows; i++) {
                    $("#Day" + i).text('@ResourceCache.Localize("Day")' + i);
                }
                for (var i = 1; i <= DayCount ; i++) {
                    for (var j = 1; j <= PeriodCount  ; j++) {
                        var x = "Empty";
                        for (var k = 0; k < data.FacultyPeriodSubject.length; k++) {
                            var List = data.FacultyPeriodSubject[k];
                            var DayNo = List.day;
                            var PeriodNumber = List.period;
                            if (i == DayNo && j == PeriodNumber) {
                                var subject = List.subject;
                                var time = List.PeriodTime;
                                x = "Value";
                                $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '<br>' + time + '</div>'));
                            }
                        }
                        if (x == "Empty") {
                            subject = "N";
                            $("#day" + i + "period" + j).append($('<div class = "item assigned">' + subject + '</div>'));
                            $("#NoClassAssigned").show();
                        }
                    }

                }
            });
            $.getJSON('/Report/getAcademicyearName', { YearId: year },
                  function (orderdetails) {
                      $("#lbl_AcYear").text(orderdetails);
                  });
            $("#Loading_Sec").removeClass("loading-new");
            setTimeout(function () {
                $("#hideBtn").show();
            }, 500);
        });
    });
    </script>
}