﻿@using eAcademy.Models
@model IEnumerable<eAcademy.ViewModel.ModulesAssignedList>
@{
    ViewBag.Title = "ModulesAssigned";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("SubjectAssigned")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <form action="@Url.Action("ModulesAssigned", "FacultyInfo")" method="post" enctype="multipart/form-data">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Fac_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-3">
                                <div class="col-md-12"> <button type="submit" class="btn btn-sm btn_submit btn-down" id="btn_FacultyIfo_ClassAssigned"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button></div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </form>
                        @if (ViewBag.moduleCount > 0)
                        {
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("AssignedSubjectListToFaculty")<hr /></h2>
                                    <table border="1" class="table table-bordered table-striped">
                                        <tr>
                                            <th>
                                                @ResourceCache.Localize("Class")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Section")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Subject")
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ClassName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SectionName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                        @if (ViewBag.moduleCount == 0)
                        {
                            <div class="NoRecords box-body">
                                <div class="alert alert-info alert-dismissable" id="NoRecords">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

    $(document).ready(function () {
        $("#Fac_allAcademicYears").val(@Session["Add_ChosenAcademicYearId"]);
            $('#Fac_allAcademicYears').change(function (event) {
                event.preventDefault();
                var YearId = $('#Fac_allAcademicYears').val();
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
            });
            $("#btn_FacultyIfo_ClassAssigned").click(function (event) {
                $("#show").hide();
                $("#NoRecords").hide();
                var yearId = $("#Fac_allAcademicYears").val();
                $("#Fac_allAcademicYears").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Fac_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                    }
                    else {
                    }
                });
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#show").show();
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
            });
        });
    </script>
}