﻿@using eAcademy.Models
@{
    ViewBag.Title = "StudentRemarks";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("StudentRemark")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Remark_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Remark_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Remark_Student", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } }, new { @class = "filterItem" })
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SortBy")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Status", ViewBag.StatusList as List<SelectListItem>, ResourceCache.Localize("SelectStatus"), new { @class = "filterItem" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="Remark_fdate" name="Remark_fdate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 filterItem" type="text" id="Remark_toDate" name="Remark_toDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="btnRemarks"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="StuRemarkGrid"></table>
                        <div id="StuRemarkPager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Remark_allAcademicYears").val(@Session["Add_ChosenAcademicYearId"]);
            LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
            Changedate();
            function Changedate() {
                $("#Remark_fdate").datepicker("destroy");
                $("#Remark_toDate").datepicker("destroy");
                var acid = $("#Remark_allAcademicYears").val();
                $("#Remark_fdate").val("").html("");
                $("#Remark_toDate").val("").html("");
                $.getJSON("/ModulesInfo/getDate", { acid: acid },
                    function (data) {
                        var mdate = data.sd + "------" + data.ed;
                        console.log(mdate);
                        $("#Remark_fdate").val("").html("");
                        $("#Remark_toDate").val("").html("");
                        $(function () {
                            var dates = $("#Remark_fdate, #Remark_toDate").datepicker({
                                dateFormat: 'dd/mm/yy',
                                minDate: data.sd,
                                maxDate: data.ed,
                                changeMonth: true,
                                changeYear: true,
                                onSelect: function (selectedDate) {
                                    var option = this.id == "Remark_fdate" ? "minDate" : "maxDate",
                                    instance = $(this).data("datepicker"),
                                    date = $.datepicker.parseDate(
                                    instance.settings.dateFormat ||
                                    $.datepicker._defaults.dateFormat,
                                    selectedDate, instance.settings);
                                    dates.not(this).datepicker("option", option, date);
                                }
                            });
                        });
                    });
            }

            $('#Remark_allAcademicYears').change(function (event) {
                $("#Remark_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#Remark_Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $("#Status").val("");
                event.preventDefault();
                var YearId = $('#Remark_allAcademicYears').val();
                LoadClassWithSection(YearId);
            });

            function LoadClassWithSection(YearId) {
                $.getJSON('/FacultyInfo/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#Remark_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Remark_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }
            $('#Remark_ClassWithSection').change(function (event) {
                event.preventDefault();
                LoadStudents();
            });
            function LoadStudents() {
                var YearId = $('#Remark_allAcademicYears').val();
                var classIdSecId = $('#Remark_ClassWithSection').val();
                $.getJSON('/FacultyInfo/GetStudents', { passYearId: YearId, passClassSecId: classIdSecId },
                    function (orderdetails) {
                        $("#Remark_Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Remark_Student").append($('<option></option>').val(c.StudentRegId).html(c.StudentName));
                        });
                    });
            }
            $("#Remark_allAcademicYears").change(function (event) {
                $("#Remark_fdate").datepicker("destroy");
                $("#Remark_toDate").datepicker("destroy");
                var acid = $("#Remark_allAcademicYears").val();
                $("#Remark_fdate").val("").html("");
                $("#Remark_toDate").val("").html("");

                $.getJSON("/ModulesInfo/getDate", { acid: acid },
                    function (data) {
                        var mdate = data.sd + "------" + data.ed;
                        console.log(mdate);
                        $("#Remark_fdate").val("").html("");
                        $("#Remark_toDate").val("").html("");
                        $(function () {
                            var dates = $("#Remark_fdate, #Remark_toDate").datepicker({
                                dateFormat: 'dd/mm/yy',
                                minDate: data.sd,
                                maxDate: data.ed,
                                changeMonth: true,
                                changeYear: true,
                                onSelect: function (selectedDate) {
                                    var option = this.id == "Remark_fdate" ? "minDate" : "maxDate",
                                    instance = $(this).data("datepicker"),
                                    date = $.datepicker.parseDate(
                                    instance.settings.dateFormat ||
                                    $.datepicker._defaults.dateFormat,
                                    selectedDate, instance.settings);
                                    dates.not(this).datepicker("option", option, date);
                                }
                            });
                        });
                    });
            });
            jQuery("#StuRemarkGrid").jqGrid({
                url: "/FacultyInfo/RemarkListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['@ResourceCache.Localize("Date")', '@ResourceCache.Localize("From")', '@ResourceCache.Localize("Remark")'],
                colModel: [
                    { name: 'date', index: 'date', },
                    { name: 'CommentFrom', index: 'CommentFrom' },
                  //   { name: 'Name', index: 'Name' },
                    { name: 'Remark', index: 'Remark' },
                ],
                pager: jQuery("#StuRemarkPager"),
                rowNum: 50,
                rowList: [10, 50, 100, 500],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

            }).navGrid('#StuRemarkPager', { edit: false, add: false, del: false, search: false, refresh: false }
         ).jqGrid('navButtonAdd', '#StuRemarkPager',
     {
         caption: "@ResourceCache.Localize("Excel")",
         buttonicon: "ui-icon-bookmark",
         onClickButton: function () {
             window.location.href = "../FacultyInfo/StudentRemark_ExportToExcel";
         }
     }).jqGrid('navButtonAdd', '#StuRemarkPager',
     {
         caption: " @ResourceCache.Localize("Pdf") ",
         buttonicon: "ui-icon-print",
         position: "last",
         onClickButton: function () {
             window.location.href = "../FacultyInfo/StudentRemark_ExportToPdf";
         }
     });
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $("#StuRemarkGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("RemarkList")');

            $('#btnRemarks').click(function (event) {
                var YearId = $('#Remark_allAcademicYears').val();
                var classIdSecId = $('#Remark_ClassWithSection').val();
                var stuId = $('#Remark_Student').val();
                var fDate = $("#Remark_fdate").val();
                var toDate = $("#Remark_toDate").val();
                var sorBy = $("#Status").val();

                $("#Remark_allAcademicYears").addClass("current_button");
                $("#Remark_ClassWithSection").addClass("current_button");
                $("#Remark_Student").addClass("current_button");
                $("#Remark_fdate").addClass("current_button");
                $("#Remark_toDate").addClass("current_button");
                $("#Status").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Remark_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'Remark_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'Remark_Student') {

                            a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                        }
                        if (null_id == 'Status') {

                            a.push('@ResourceCache.Localize("PleaseSelectSortBy")');
                        }
                        if (null_id == 'Remark_fdate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'Remark_toDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                RemarkList_filterGrid();
            });
            function RemarkList_filterGrid() {
                var postDataValues = $("#StuRemarkGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 2) {
                        newdt = $(item).val();
                    }
                    else {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#StuRemarkGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };
        });
    </script>
}