﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.AcademicYear>
@{
    ViewBag.Title = "AcademicYear";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_updateAcademic" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_Academic_Year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditAcademicYear", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="hide_acid" name="hide_acid" />
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Academic_Year_Start_Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="EditacYSD" name="EditacYSD" placeholder="@ResourceCache.Localize("Academic_Year_Start_Date")" required title="@ResourceCache.Localize("Academic_Year_Start_Date")" readonly /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Academic_Year_End_Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="EditacYED" name="EditacYED" placeholder="@ResourceCache.Localize("Academic_Year_End_Date")" required title="@ResourceCache.Localize("Academic_Year_End_Date")" readonly /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="AcademicStatus_status" name="AcademicStatus_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer col-sm-12">
                                <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateAcademic" name="btnUpdateAcademic" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateAcademic" name="btncancel_updateAcademic" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="idSection_addAcademic">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Academic_Year")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("AcademicYear", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {     @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Academic_Year_Start_Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="acYSD" name="acYSD" placeholder="@ResourceCache.Localize("Academic_Year_Start_Date")" title="@ResourceCache.Localize("Academic_Year_Start_Date")" readonly />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Academic_Year_End_Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-md-12 current_button" type="text" id="acYED" name="acYED" placeholder="@ResourceCache.Localize("Academic_Year_End_Date")" title="@ResourceCache.Localize("Academic_Year_End_Date")" readonly /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer col-sm-12">
                                <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddAcademicYear" name="btnAddAcademicYear" title="Add Year"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8 ">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Academic_Year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")                
                <div class="box-body">
                    <div class="col-sm-6">
                        <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @Html.DropDownList("yr_search", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), "All", new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" id="filterBtn" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div>
                <div class="col-sm-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer col-sm-12">
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_NoRecordAcademic" name="btncancel_NoRecordAcademic" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("These_Term_will_be_permanently_deleted_and_cannot_be_recovered._Are_you_sure?")</p>
        </div>
    </div>
</section>

@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(function () {
        $('#EditacYSD').val(@Session["CurrentAcYearId"]);
        // $('#acYSD').val(@Session["CurrentAcYearId"]);
        $('#yr_search').val(@Session["Add_ChosenAcademicYearId"]);
        // $('#acYSD').val(@Session["CurrentAcYearId"]);
        List_LoadClassWithSection(@Session["CurrentAcYearId"]);
        Add_LoadClassWithSection(@Session["CurrentAcYearId"]);

        //List
        $('#EditacYSD').change(function (event) {
            event.preventDefault();
            var YearId = $('#EditacYSD').val();
            List_LoadClassWithSection(YearId);
            $('#acYSD').val(YearId);
            Add_LoadClassWithSection(YearId);
        });


        function List_LoadClassWithSection(YearId) {
            $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                function (orderdetails) {
                    $("#MI_List_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#MI_List_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                    });
                });
        }
        function Add_LoadClassWithSection(YearId) {
            $.getJSON('/ModulesInfo/getClassWithSection', { passYearId: YearId },
                function (orderdetails) {
                    $("#MI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#MI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                    });
                });
        }


        var AcademicYearId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/AcademicYearList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("AcademicYearId")', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Start_Date")', '@ResourceCache.Localize("End_Date")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Action")'],
            colModel: [
                { key: true, hidden: true, name: 'AcYearId', index: 'AcYearId' },
                { key: false, name: 'AcademicYear', index: 'AcademicYear', editable: true },
                { key: false, name: 'StartDate', index: 'StartDate', editable: true },
                //{
                //    key: false, name: 'AcademicYearStartDate', index: 'AcademicYearStartDate', formatter: 'date',
                //    formatoptions: {
                //        srcformat: 'ISO8601Long',
                //        newformat: 'M d, Y',
                //        defaultValue: null // does nothing!
                //    },},
                { key: false, name: 'EndDate', index: 'EndDate', editable: true },
                { key: false, name: 'AcademicYearStatus', index: 'AcademicYearStatus', editable: true },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    AcademicYearId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_AcademicYear btn_Edit ui-icon-pencil' id='" + AcademicYearId + "' value=''  title='Edit'/>";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_AcademicYear btn_Delete ui-icon-trash' id='" + AcademicYearId + "' value='' title='Delete'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be + de });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: "@ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../AcademicsConfiguration/AcademicYearExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: "@ResourceCache.Localize("Pdf")",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../AcademicsConfiguration/AcademicYearExportToPDF";
                    }
                });
            $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Academic_Year_List")');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

    $(document).on('click', '.btn_del_AcademicYear', function () {
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        var id = $(this).attr('id');       
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 200,
            modal: true,
            buttons: {
                "Delete": function () {
                    $(this).dialog("close");
                    $.getJSON('/AcademicsConfiguration/DeleteAcademicYear', { acid: id },
                       function (data) {
                           if (data.Message != "" && data.Message != null) {
                               $(".jsonError").hide();
                               $(".jsonErrorMsg").hide();
                               $(".jsonExceptionMsg").hide();
                               $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                               $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                               $("#SuccessText").html(data.Message).val(data.Message);
                               $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                           }
                           else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                               $(".jsonError").hide();
                               $(".jsonExceptionMsg").hide();
                               $(".jsonSuccessMsg").hide();
                               $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                               $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                               $("#ErrorText").html(data.ErrorMessage).val(data.ErrorMessage);
                           }
                           else {
                           }
                       });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });


    $('#filterBtn').click(function (event) {      
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        event.preventDefault();
        filterGrid();
    });
    function filterGrid() {
        var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#grid1').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };
    $(document).on('click', '.btn_edit_AcademicYear', function () {
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        var id = $(this).attr('id');
        values = { id: id };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/AcademicsConfiguration/EditAcademicYear',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#idSection_addAcademic").hide();

                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                if (data.InfoMessage != null) {
                    $("#idSection_addAcademic").hide();
                    $("#idSection_updateAcademic").hide();
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#info_text").show();
                }
                else {
                    $("#info_text").hide();
                    $("#idSection_updateAcademic").show();
                    $("#EditacYSD").val(data.ans.SDate);
                    var dd = data.ans.EDate.split("/");
                    var checkdate = dd[2] + "/" + dd[1] + "/" + dd[0];
                    var d = new Date();
                    var curr_date = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
                    var curr_month = d.getMonth();
                    var curr_year = d.getFullYear();
                    if (new Date(checkdate) <= new Date(curr_date)) {
                        $("#EditacYSD").datepicker("option", "disabled", true);
                        $("#EditacYED").datepicker("option", "disabled", true);
                    }
                    else {
                        $("#EditacYSD").datepicker("option", "disabled", false);
                        $("#EditacYED").datepicker("option", "disabled", false);
                    }
                    $("#EditacYED").val(data.ans.EDate);
                    $("#hide_acid").val(id).html(id);
                    if (data.ans.academicstatus == true) {
                        $("#AcademicStatus_status").prop("checked", true);
                    }
                    //alert(data.ans.academicstatus);
                    if (data.ans.academicstatus == false) {
                        $("AcademicStatus_status").prop("checked", false);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });
    $("#btncancel_updateAcademic").click(function () {
        $("#idSection_addAcademic").show();
        $("#idSection_updateAcademic").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });
    $("#btncancel_NoRecordAcademic").click(function () {
        $("#idSection_addAcademic").show();
        $("#info_text").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
    });
    });
    $("#btnAddAcademicYear").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        var bool = jsFormValidation();
        //var bool = true;
        if (bool == true) {
            var acYSD = $("#acYSD").val();
            var acYED = $("#acYED").val();
            var values = { acYSD: acYSD, acYED: acYED };
            var months = $("#acYED").datepicker('getDate').getMonth() - $("#acYSD").datepicker('getDate').getMonth()
                        + (12 * ($("#acYED").datepicker('getDate').getFullYear() - $("#acYSD").datepicker('getDate').getFullYear()));
            if ($("#acYED").datepicker('getDate').getDate() < $("#acYSD").datepicker('getDate').getDate()) {
                months--;
            }
            if (months < 8 || months > 12) {
                $(".jsonErrorMsg").show();
                $(".jErrMsg").html('@ResourceCache.Localize("End_date_should_be_greater_than_8_months_and_less_than_12_months_from_Start_date")');
                return false;
            }
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/AcademicYear',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    $("#btnUpdateAcademic").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg       ").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        var bool = jsFormValidation1();
        if (bool == true) {
            var acYSD = $("#EditacYSD").val();
            var acYED = $("#EditacYED").val();
            var acid = $("#hide_acid").val();
            var months = $("#EditacYED").datepicker('getDate').getMonth() - $("#EditacYSD").datepicker('getDate').getMonth()
                      + (12 * ($("#EditacYED").datepicker('getDate').getFullYear() - $("#EditacYSD").datepicker('getDate').getFullYear()));
            if ($("#EditacYED").datepicker('getDate').getDate() < $("#EditacYSD").datepicker('getDate').getDate()) {
                months--;
            }
            if (months < 8 || months > 12) {
                $(".jsonErrorMsg").show();
                $(".jErrMsg").html('@ResourceCache.Localize("End_date_should_be_greater_than_8_months_and_less_than_12_months_from_Start_date")');
                return false;
            }
            var check = $("#AcademicStatus_status").is(':checked');
            // alert(check);
            var Academic_Status;
            if (check == true) {
                Academic_Status = true;
            }
            else {
                Academic_Status = false;
            }
            var values = { EditacYSD: acYSD, EditacYED: acYED, AcademicYearId: acid, AcademicStatus: Academic_Status };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/SaveEditAcademicYear',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'acYSD') {
                    a.push('@ResourceCache.Localize("Start_date_is_required").');
                }
                if (null_id == 'acYED') {
                    a.push('@ResourceCache.Localize("End_date_is_required").');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'EditacYSD') {
                    a.push('@ResourceCache.Localize("Start_date_is_required").');
                }
                if (null_id == 'EditacYED') {
                    a.push('@ResourceCache.Localize("End_date_is_required").');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    </script>
}