﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.Event>
@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditCalender" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_Holiday_in_Calendar")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditCalender", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" name="calendar_hiddenid" id="calendar_hiddenid" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                            <div><input class="col-md-12" type="text" id="txt_acYear1" name="txt_acYear1" title="@ResourceCache.Localize("AcademicYear")" readonly required /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("HolidayName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="txt_event1" name="txt_event1" placeholder="@ResourceCache.Localize("HolidayName")" required title="@ResourceCache.Localize("HolidayName")" maxlength="50" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectDate")</label> </div>
                            <div><input class="col-md-12" type="text" id="txt_event_date1" name="txt_event_date1" placeholder="@ResourceCache.Localize("SelectDate")" required title="@ResourceCache.Localize("SelectDate")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div class="row"><textarea class="col-md-12 current_button" id="txt_event_desc1" name="txt_event_desc1" placeholder="@ResourceCache.Localize("Description")" required title="@ResourceCache.Localize("Description")" style="resize:none;" maxlength="250"></textarea></div>
                            <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>

                        <div >
                            <label class="input-label-sm">@ResourceCache.Localize("Also_display_in_announcement?")</label>
                            <input type="radio" name="announcement_Edit" value="true" id="yes" />Yes
                            <input type="radio" name="announcement_Edit" value="false" id="no" />No
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnUpdateCalendar" name="btnUpdateCalendar" title="Update"> <i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_updateCalendar" name="btncancel_updateCalendar" title="Cancel"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddCalender">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Holiday_in_Calendar")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("Calender", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("Event_acYear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("HolidayName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="txt_event" name="txt_event" placeholder="@ResourceCache.Localize("HolidayName")" required title="@ResourceCache.Localize("HolidayName")" maxlength="50" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="txt_event_date" name="txt_event_date" placeholder="@ResourceCache.Localize("SelectDate")" required title="@ResourceCache.Localize("SelectDate")" readonly/></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div class="row"> <textarea class="col-md-12 current_button" id="txt_event_desc" name="txt_event_desc" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" style="resize:none;" maxlength="250"></textarea></div>
                            <span id="chars">250 </span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div >
                            <label class="input-label-sm">@ResourceCache.Localize("Also_display_in_announcement?")</label>
                            <input type="radio" name="announcement" value="true" id="yes" />Yes
                            <input type="radio" name="announcement" value="false" id="no" />No
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddCalendar" name="btnAddCalendar" title="Add Year"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset  " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer col-sm-12">
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_NorecordCalendar" name="btncancel_NorecordCalendar" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageHoliday")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div class="col-lg-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                        <div>
                            @Html.DropDownList("FAcademicYrId", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnRole_Filter" class="btn btn-sm btn-down2 btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div><!-- /.box-body -->
                <div class="box-body" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->

    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_event").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_event1").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {
        $('#Event_acYear').val(@Session["Add_ChosenAcademicYearId"]);
        $('#FAcademicYrId').val(@Session["List_ChosenAcademicYearId"]);
        date();             
        //Add
        $('#Event_acYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Event_acYear').val();
            AssignAcademicYear(YearId);
            $('#FAcademicYrId').val(YearId);
            Add_AssignAcademicYear(YearId);          
        });
        //List
        $('#FAcademicYrId').change(function (event) {
            event.preventDefault();
            var YearId = $('#FAcademicYrId').val();
            AssignAcademicYear(YearId);           
            
        });
        function date()
        {
            $("#txt_event_date").datepicker("destroy");
            var acid = $("#Event_acYear").val();
            $.getJSON("/AcademicsConfiguration/getDate", { acid: acid },

                function (data) {

                    var mdate = data.sd + "------" + data.ed;                    
                    $(function () {
                        var dates = $("#txt_event_date").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true
                        });
                    });


                });
        } 
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }

        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
            $('#chars1').text(length);
        });
        var Warden_Id, delete_WardenId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/HolidayResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("HolidayDate")', '@ResourceCache.Localize("Holiday")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'Holiday_Id', index: 'Holiday_Id' },
                { key: false, name: 'Date', index: 'Date' },
                { key: false, name: 'HolidayName', index: 'HolidayName' },
                { key: false, name: 'Description', index: 'Description' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 50, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    Warden_Id = ids[i];
                    delete_WardenId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Calender btn_Edit ui-icon-pencil' id='" + Warden_Id + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/HolidayExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/HolidayExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("HolidayList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRole_Filter').click(function (event) {
            event.preventDefault();
            var check_id = $("#FAcademicYrId").val();
            if (check_id == "0" || check_id == null || check_id == "") {
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("SelectAcademicYear")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
                filterGrid();
            }
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Calender', function () {
            var id = $(this).attr('id');
            values = { eventId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/EditCalender',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_EditCalender").show();
                    $("#idSection_AddCalender").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    if (data.InfoMessage != null) {
                        $("#idSection_EditCalender").hide();
                        $("#idSection_AddCalender").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#info_text").show();
                    }
                    else {
                        $("#info_text").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#calendar_hiddenid").val(id).html(id);
                        $("#txt_acYear1").val(data.ans.Acyear).html(data.ans.Acyear);
                        $("#txt_event1").val(data.ans.EventName).html(data.ans.EventName);
                        $("#txt_event_date1").val(data.ans.Date).html(data.ans.Date);
                        $("#txt_event_desc1").val(data.ans.EventDecribtion).html(data.ans.EventDecribtion);
                        if (data.EventId.eventid == null) {
                            $('input:radio[name=announcement_Edit]:nth(1)').attr('checked', true);
                        }
                        else {
                            $('input:radio[name=announcement_Edit]:nth(0)').attr('checked', true);
                        }
                        var length = $("#txt_event_desc1").val().length;
                        var length = maxLength - length;
                        $('#chars1').text(length);
                        if (data.ans.Status == true) {
                            $("#txt_status").prop("checked", true);
                        }
                        if (data.ans.Status == false) {
                            $("#txt_status").prop("checked", false);
                        }
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });
        $("#btncancel_updateCalendar").click(function () {
            $("#idSection_EditCalender").hide();
            $("#idSection_AddCalender").show();
            $('#txt_event_desc1').empty();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btncancel_NorecordCalendar").click(function () {
            $("#idSection_AddCalender").show();
            $("#info_text").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });

        $("#btnAddCalendar").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var acid = $("#Event_acYear").val();
                var event = $("#txt_event").val();
                var event_date = $("#txt_event_date").val();
                var event_desc = $("#txt_event_desc").val();
                var Ann_selectedVal = $('input[name=announcement]:checked').val();
               // alert(Ann_selectedVal);
                var values = { Event_acYear: acid, txt_event: event, txt_event_date: event_date, txt_event_desc: event_desc, Announcement_option: Ann_selectedVal };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/Calender',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        $("#btnUpdateCalendar").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation1();
            if (bool == true) {
                var EventId = $("#calendar_hiddenid").val();
                var event = $("#txt_event1").val();
                var event_date = $("#txt_event_date1").val();
                var event_desc = $("#txt_event_desc1").val();
                var check = $("#txt_status").is(':checked');
                var Status;
                if (check == true) {
                    Status = "Active";
                }
                else {
                    Status = "Inactive";
                }
                var Ann_Event_Edit = $('input[name=announcement_Edit]:checked').val();
                var values = { EventId: EventId, txt_event: event, txt_event_date: event_date, txt_event_desc: event_desc, Status: Status, Editannouncementstatus: Ann_Event_Edit };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/SaveEditCalender',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Event_acYear') {
                    a.push('@ResourceCache.Localize("SelectAcademicYear").');
                }
                if (null_id == 'txt_event') {
                    a.push('@ResourceCache.Localize("Holiday_name_is_required").');
                }
                if (null_id == 'txt_event_date') {
                    a.push('@ResourceCache.Localize("EventDate_is_required").');
                }
            }
            else {
                if (field_name == 'txt_event') {
                    var sname = $("#txt_event").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 50) {
                            a.push('@ResourceCache.Localize("Event_should_contain_3_characters_can_not_exceed_50_characters").');
                        }
                    }
                }
                if (field_name == 'txt_event_desc') {
                    var sname = $("#txt_event_desc").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 300) {
                            a.push('@ResourceCache.Localize("Event_description_should_not_exceed_250_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_event1') {
                    a.push('@ResourceCache.Localize("Holiday_name_is_required").');
                }
            }
            else {
                if (field_name == 'txt_event1') {
                    var sname = $("#txt_event1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 50) {
                            a.push('@ResourceCache.Localize("Event_should_contain_3_characters_can_not_exceed_50_characters").');
                        }
                    }
                }
                if (field_name == 'txt_event_desc1') {
                    var sname = $("#txt_event_desc1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 300) {
                            a.push('@ResourceCache.Localize("Event_description_should_not_exceed_250_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}