﻿@model IEnumerable<eAcademy.Models.ClassSection>
@using eAcademy.Models
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <div id="div_viewSection" style="display:none">
            <section class="col-xs-12 col-sm-12 col-md-4 pull-right">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Manage_Section_for_Class") <label id="lbClassName"></label></h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <section class="col-md-12 noprint" style="display:none;" id="idSection_addSection">
                            <!-- solid sales graph -->
                            <div class="box box-solid bg-teal-gradient ">
                                @using (Html.BeginForm("ViewSection", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                    <div class="box-body row border-radius-none">
                                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                        <input type="hidden" id="classid" name="classid" />
                                        <input type="hidden" name="txt-ClassType" id="txt-ClassTyp" />

                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SectionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                <input class="col-md-12 current_button" type="text" id="txt_section" name="txt_section" placeholder="@ResourceCache.Localize("SectionName")" required title="@ResourceCache.Localize("SectionName")" maxlength="5" />
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer no-border">
                                        <div class="row">
                                            <div class="col-sm-6 footer">
                                                <button type="button" class="btn btn-sm btn_double btn_add" id="btnAddSec" name="btnAddSec"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                            </div>
                                            <div class="col-sm-6 footer">
                                                <button type="reset" class=" btn  btn-sm btn_reset  " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                                            </div><!-- /.row -->
                                        </div>
                                    </div><!-- /.box-footer -->
                                }
                            </div><!-- /.box -->
                        </section><!-- right col -->
                        <section class="col-md-12" style="display:none;" id="idSection_EditSection">
                            <!-- solid sales graph -->
                            <div class="box box-solid bg-teal-gradient ">
                                @using (Html.BeginForm("SaveEditSection", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                    <div class="box-body row border-radius-none">
                                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                        <input type="hidden" name="cid" id="cid" />
                                        <input type="hidden" name="section_id" id="section_id" />
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SectionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                <input class="col-md-12 current_button" type="text" id="txt_section1" name="txt_section1" placeholder="@ResourceCache.Localize("SectionName")" required title="@ResourceCache.Localize("SectionName")" maxlength="5" />
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer no-border">
                                        <div class="row">
                                            <div class="footer">
                                                <button type="button" class="btn  btn-sm btn_update" id="btnUpdateSec" name="btnUpdateSec"><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update")</button>
                                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel" name="btncancel" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                                            </div>
                                        </div><!-- /.row -->
                                    </div><!-- /.box-footer -->
                                }
                            </div><!-- /.box -->
                        </section><!-- right col -->                       
                            <div class="box-body" id="show">
                                <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("ClassDetails")</h2>
                                <div id="tbl_scrol">
                                    <div class="NoRecords box-body" style="display:none" id="NoRecords">
                                        <div class="alert alert-info alert-dismissable">
                                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                        </div>
                                    </div>
                                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")                                    
                                    <table class="table table-bordered table-striped" border="1" id="SecTable">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("SNo")</th>
                                                <th>@ResourceCache.Localize("Section")</th>
                                                <th class="noprint">@ResourceCache.Localize("Edit")</th>
                                                <th class="noprint">@ResourceCache.Localize("Delete")</th>
                                            </tr>
                                        </thead>
                                        <tbody id="manageClassSection"></tbody>
                                    </table>
                                    </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
            </section>
        </div>
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageClass")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" id="show1">
                    <a href="#" class="pull-right " id="hrefPrint1" name="hrefPrint1" title="Print"> <i class="fa fa-print"></i> </a>
                    @if (ViewBag.count > 0)
                    {
                        <div id="tbl_scrol">
                            <center><h2 id="Report_head" style="display:none;">@ResourceCache.Localize("ClassList")</h2></center>
                            <table class="table table-bordered table-striped" border="1">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("SNo")</th>
                                        <th>@ResourceCache.Localize("Class")</th>
                                        <th class="noprint">@ResourceCache.Localize("Action")</th>
                                    </tr>
                                </thead>
                                <tbody id="manageClass">
                                    @foreach (var item in Model)
                                    {
                                        sno++;
                                        string s = "hidden_classid" + sno;
                                        string s1 = "hidden1_classid" + sno;
                                        <tr>
                                            <td>@sno</td>
                                            <td>@item.ClassType</td>
                                            <td class="noprint"><button type="button" class="btn btn-xs btn-default idViewSection" value="@item.ClassId" id="@s"><i class='fa fa-eye' title='View'></i></button> / <button type="button" class="btn btn-xs btn-default idAddSection" value="@item.ClassId" id="@s1"><i class='fa fa-plus' title='Add'></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info alert-dismissable">
                            <b>@ResourceCache.Localize("Info")! :- @ResourceCache.Localize("No_records_found")</b>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        </div>
                    }
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $("#txt_section").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_section1").filter_input({ regex: '[0-9A-Za-z- ]' });
        $(document).ready(function () {
            /* Class */
            var m = "clsViewClassSection";
            var _id_sec = "idViewClassSection";
            $(".idViewSection").click(function () {
                var id = $(this).attr('id');
                var v = $('#' + id).val();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $(".jsonError").hide();
                $("#idSection_EditSection").hide();
                $("#idSection_addSection").hide();
                values = { classid: v };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/getClassName',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $("#idSection_addSection").hide();
                        $("#idSection_EditSection").hide();
                        $("#lbClassName").val(data.ans).html(data.ans);
                        $("#div_viewSection").show();
                        $("#cid").val(v).html(v);
                        $("#manageClassSection").append().empty();
                        var SecCount = data.sec.length;                       
                        if (SecCount == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#NoRecords").show();
                            $("#SecTable").hide();

                        }
                        else {
                            $("#NoRecords").hide();
                            $("#SecTable").show();
                            $("#idSection_EditSection").hide();
                            $("#idSection_addSection").hide();
                            $.each(data.sec, function (i, v) {
                                var id = _id_sec + i;
                                var del = "delsect" + i;
                                var row = "<tr><td>" + (i + 1) + "</td><td>" + v.Section + "</td><td class='noprint'> <button  type='button' value=" + v.SectionId + "  id=" + id + " class='btn btn-xs btn-default " + m + "'> <i class='fa fa-edit noprint' title='Edit'></i> </button>  </td><td><button  type='button' value=" + v.SectionId
                                    + " id=" + del + " class='btn btn-xs btn-default btn-delsection'><i class='fa fa-trash-o noprint' title='Edit'></i></button></td></tr>";
                                $("#manageClassSection").append(row);
                            });
                            $("#Loading_Sec").removeClass("loading-new");

                        }
                    }
                });

            });
            $(".idAddSection").click(function () {
                var id = $(this).attr('id');
                var v = $('#' + id).val();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonError").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#NoRecords").hide();
                values = { classid: v };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/getClassName',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $("#lb_id_className").val(data.ans).html(data.ans);
                        $("#lbClassName").val(data.ans).html(data.ans);
                        $("#classid").val(v).html(v);
                        $("#cid").val(v).html(v);
                        $("#idSection_addSection").show();
                        $("#idSection_EditSection").hide();
                        $("#div_viewSection").show();
                        $("#manageClassSection").append().empty();
                        $('#txt_section').val("");
                        var SecCount = data.sec.length;                      
                        if (SecCount == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#NoRecords").hide();
                            $("#SecTable").hide();

                        }
                        else {
                            $("#NoRecords").hide();
                            $("#SecTable").hide();
                            $.each(data.sec, function (i, v) {
                                var id = _id_sec + i;
                                var del = "delsect" + i;
                                var row = "<tr><td>" + (i + 1) + "</td><td>" + v.Section + "</td><td class='noprint'> <button  type='button' value=" + v.SectionId
                                    + "  id=" + id + " class='btn btn-xs btn-default " + m + "'> <i class='fa fa-edit noprint' title='Edit'></i> </button>  </td><td><button  type='button' value=" + v.SectionId
                                    + "  id=" + del + " class='btn btn-xs btn-delsection " + m + "'><i class='fa fa-trash-o noprint' title='Delete'></i></button></td></tr>";
                                $("#manageClassSection").append(row);

                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });
            $(document).on('click', '.clsViewClassSection', function () {
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $(".jsonError").hide();
                var id = $(this).attr('id');
                var v = $('#' + id).val();
                values = { secid: v };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/getSectionName',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var lb = $("#lbClassName").val();
                        $("#lb_id_editSection").val(lb).html(lb);
                        $("#txt_section1").val(data.ans).html(data.ans);
                        $("#section_id").val(v).html(v);
                        $("#idSection_addSection").hide();
                        $("#idSection_EditSection").show();
                        $("#SecTable").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                });
            });
            $(document).on('click', '.btn-delsection', function () {
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonError").hide();
                $("#idSection_EditSection").hide();
                var id = $(this).attr('id');
                var v = $('#' + id).val();
                values = { secid: v };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/DeleteSectionName',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            //alert(data.ErrorMessage);
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $("#idSection_EditSection").show();
                            $("#idSection_addSection").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                           // alert(data.Message);
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $("#idSection_EditSection").hide();
                            $("#idSection_addSection").hide();
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                            $("#SuccessText").html(data.Message).val(data.Message);
                            $("table#SecTable tr:last").remove();
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        //var lb = $("#lbClassName").val();
                        //$("#lb_id_editSection").val(lb).html(lb);
                        //$("#txt_section1").val(data.ans).html(data.ans);
                        //$("#section_id").val(v).html(v);
                        //$("#idSection_addSection").hide();
                        //$("#idSection_EditSection").show();
                        //$("#Loading_Sec").removeClass("loading-new");
                    }
                });
            });
            $("#btnAddSec").click(function () {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                var bool = jsFormValidation();
                if (bool == true) {
                    var txt_section = $("#txt_section").val();
                    var classid = $("#classid").val();
                    var values = { section: txt_section, classid: classid };
                    $("#classid").val(classid).html(classid);
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/AcademicsConfiguration/Section',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            else {
                                $(".jsonError").hide();
                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").show();
                                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").show();
                                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonExceptionMsg").show();
                                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                $("#classid").val(classid).html(classid);
                                var val = { classid: classid };
                                $.ajax({
                                    url: '/AcademicsConfiguration/getClassName',
                                    type: 'POST',
                                    data: JSON.stringify(val),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    success: function (data) {
                                        $("#lbClassName").val(data.ans).html(data.ans);
                                        $("#div_viewSection").show();
                                        $("#manageClassSection").append().empty();
                                        $.each(data.sec, function (i, v) {
                                            var id = _id_sec + i;
                                            var del = "delsect" + i;
                                            var row = "<tr><td>" + (i + 1) + "</td><td>" + v.Section + "</td><td class='noprint'> <button  type='button' value=" + v.SectionId + "  id=" + id + " class='btn btn-xs btn-default " + m
                                                + "'> <i class='fa fa-edit noprint' title='Edit'></i> </button>  </td><td><button  type='button' value=" + v.SectionId
                                                + "  id=" + del + " class='btn btn-xs btn-delsection " + m + "'><i class='fa fa-trash-o noprint' title='Delete'></i></button></td></tr>";
                                            $("#manageClassSection").append(row);
                                        });
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                });
                            }
                        }
                    });
                }
            });

            
            $("#btncancel").click(function () {
                $("#idSection_addSection").show();
                $("#idSection_EditSection").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#SecTable").hide();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
            });

            $("#btnUpdateSec").click(function () {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                var bool = jsFormValidation1();
                if (bool == true) {
                    var txt_section = $("#txt_section1").val();
                    var classid = $("#cid").val();
                    var sid = $("#section_id").val();
                    var values = { section: txt_section, classid: classid, sectionId: sid };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/AcademicsConfiguration/SaveEditSection',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            else {
                                $(".jsonError").hide();
                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").show();
                                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").show();
                                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonExceptionMsg").show();
                                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                var val = { classid: classid };
                                $.ajax({
                                    url: '/AcademicsConfiguration/getClassName',
                                    type: 'POST',
                                    data: JSON.stringify(val),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    success: function (data) {
                                        $("#lbClassName").val(data.ans).html(data.ans);
                                        $("#div_viewSection").show();
                                        $("#manageClassSection").append().empty();
                                        $.each(data.sec, function (i, v) {
                                            var id = _id_sec + i;
                                            var del = "delsect" + i;
                                            var row = "<tr><td>" + (i + 1) + "</td><td>" + v.Section + "</td><td class='noprint'> <button  type='button' value=" + v.SectionId + "  id=" + id + " class='btn btn-xs btn-default " + m
                                                + "'> <i class='fa fa-edit' title='Edit'></i> </button><td><button  type='button' value=" + v.SectionId
                                               + "  id=" + del + " class='btn btn-xs btn-delsection " + m + "'><i class='fa fa-trash-o noprint' title='Delete'></i></button></td>  </td></tr>";
                                            $("#manageClassSection").append(row);

                                        });
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                });
                            }
                        }
                    });
                }
            });
        });
        function jsFormValidation() {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_section') {
                        a.push('@ResourceCache.Localize("Section_is_required").');
                    }
                }
                else {
                    if (field_name == 'txt_section') {
                        var sname = $("#txt_section").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 5) {
                                a.push('@ResourceCache.Localize("Section_should_not_exceed_5_characters").');
                            }
                        }
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
        function jsFormValidation1() {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_section1') {
                        a.push('@ResourceCache.Localize("Section_is_required").');
                    }
                }
                else {
                    if (field_name == 'txt_section1') {
                        var sname = $("#txt_section1").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 5) {
                                a.push('@ResourceCache.Localize("Section_should_not_exceed_5_characters").');
                            }
                        }
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
    </script>
}