﻿@{
    ViewBag.Title = "ClassStrength";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_updateClassStrength" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_Class_Strength")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="hidden_classStrength" name="hidden_classStrength" />
                        <input type="hidden" id="hidden_acyear" name="hidden_acyear" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-sm-12" type="text" id="Capacity_AcademicYrId1" title="@ResourceCache.Localize("AcademicYear")" readonly /> </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-sm-12" type="text" id="class_Sub1" title="Class" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-sm-12" type="text" id="SectionId2" title="@ResourceCache.Localize("Section")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Strength")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-sm-12" type="text" id="txt_strength1" name="txt_strength1" placeholder="@ResourceCache.Localize("Strength")" title="@ResourceCache.Localize("Strength")" maxlength="3" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">Status</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateClassStrength" name="btnUpdateClassStrength" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_updateClassStrength" name="btncancel_updateClassStrength" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="idSection_addClassStrength">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Config_Class_Strength")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {   @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("Capacity_AcademicYrId", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"))</div>
                        </div>
                        <div class="col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("class_Sub", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectClass") } })</div>
                        </div>
                        <div class="col-sm-12" id="div_loadSection" style="display:none;">
                            <table class="table table-bordered table-striped">
                                <thead><tr><th>@ResourceCache.Localize("Section")</th><th>@ResourceCache.Localize("Strength")</th></tr></thead>
                                <tbody id="tbody_loadSection"></tbody>
                            </table>
                        </div>
                        <input type="hidden" id="hidden_Strenthcount" />
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border" id="foot_btn" style="display:none;">
                        <div class="row">
                            <div class=" footer col-sm-12 ">
                                <button type="button" class="btn  btn-sm btn_double btn_add" id="btnAddClassStrength" name="btnAddClassStrength" title="Add Year"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" id="btnResetClassStrength" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                    <div class="box-footer clearfix no-border">
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8 ">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Class_Srength")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body" id="">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div id="parent" class="row">
                        <div class="col-sm-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("Strength_Acid", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem", value = "all" })</div>
                        </div>
                        <div class="col-sm-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("Strent_Cid", new SelectList(ViewBag.Class, "ClassId", "ClassType"), @ResourceCache.Localize("All"), new { @class = "filterItem" })</div>
                        </div>
                        <div>
                            <button type="submit" id="btnCR_Filter" class="btn btn-sm btn-down2 btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>
                </div>
                <div class="box-body corner_ui" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
        </section><!-- /.Left col -->
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer col-sm-12">
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_NoRecordClassStrength" name="btncancel_NoRecordClassStrength" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->

            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#txt_strength1").filter_input({ regex: '[0-9]' });     
        $("#txt_strength1").filter_input({ regex: '[0-9]' });      
        $('#Capacity_AcademicYrId').val(@Session["Add_ChosenAcademicYearId"]);
        $('#Strength_Acid').val(@Session["List_ChosenAcademicYearId"]);
        //Add Form
        $('#Capacity_AcademicYrId').change(function (event) {
            event.preventDefault();
            var YearId = $('#Capacity_AcademicYrId').val();
            AssignAcademicYear(YearId);
            $('#Strength_Acid').val(YearId);
            Add_AssignAcademicYear(YearId);

        });
        //List
        $('#Strength_Acid').change(function (event) {
            event.preventDefault();
            var YearId = $('#Strength_Acid').val();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }
        $("#class_Sub").empty().append('<option>@ResourceCache.Localize("SelectClass")</option>');
        $.getJSON('/AcademicsConfiguration/getClass',
       function (data) {
           $("#class_Sub").empty().append('<option>@ResourceCache.Localize("SelectClass")</option>');
           $.each(data, function (i, c) {
               $("#class_Sub").append($('<option></option>').val(c.ClassId).html(c.ClassType));
           });
       });
    });
    $(function () {
        var classStrengthId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/ClassStrengthResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Strength_Id', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class/Section")', '@ResourceCache.Localize("Strength")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'Strength_Id', index: 'Strength_Id' },
                { key: false, name: 'AcademicYear', index: 'AcademicYear', editable: true },
                { key: false, name: 'ClassSection', index: 'ClassSection', editable: true },
                { key: false, name: 'Strength', index: 'Strength', editable: true },
                { key: false, name: 'Status', index: 'Status', editable: true },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    classStrengthId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_ClassStrength btn_Edit ui-icon-pencil' id='" + classStrengthId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Excel ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../AcademicsConfiguration/ClassStrengthExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Pdf ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../AcademicsConfiguration/ClassStrengthExportToPDF";
                    }
                });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("ClassStrength")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnCR_Filter').click(function (event) {
            event.preventDefault();
            var check_id = $("#Strength_Acid").val();
            if (check_id == "0" || check_id == null || check_id == "") {
                $("#div_Error").show();
                $("#errorMsg").html("@ResourceCache.Localize("SelectAcademicYear")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
                filterGrid();
            }
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_ClassStrength', function () {
            var id = $(this).attr('id');
            values = { CSid: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/EditClassStrength',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_addClassStrength").hide();
                    $("#idSection_updateClassStrength").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    if (data.InfoMessage != null) {
                        $("#idSection_addClassStrength").hide();
                        $("#idSection_updateClassStrength").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#info_text").show();
                    }
                    else {
                        $("#info_text").hide();
                        $("#Capacity_AcademicYrId1").val(data.ans.AcademicYear);
                        $("#class_Sub1").val(data.ans.Class);
                        $("#SectionId2").val(data.ans.Section);
                        $("#txt_strength1").val(data.ans.Strength);
                        $("#hidden_classStrength").val(id).html(id);
                        $("#hidden_acyear").val(data.ans.Acid).html(data.ans.Acid);
                        if (data.ans.Status == true) {
                            $("#txt_status").prop("checked", true);
                        }
                        if (data.ans.Status == false) {
                            $("#txt_status").prop("checked", false);
                        }
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        });
        $("#btncancel_updateClassStrength").click(function () {
            $("#idSection_addClassStrength").show();
            $("#idSection_updateClassStrength").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btncancel_NoRecordClassStrength").click(function () {
            $("#idSection_addClassStrength").show();
            $("#info_text").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
    });
    $("#Capacity_AcademicYrId").change(function () {
        $("#class_Sub").empty().append('<option>@ResourceCache.Localize("SelectClass")</option>');
        $("#div_loadSection").hide();
        $("#tbody_loadSection").empty();
        $.getJSON('/AcademicsConfiguration/getClass',
       function (data) {
           $("#class_Sub").empty().append('<option>@ResourceCache.Localize("SelectClass")</option>');
           $.each(data, function (i, c) {
               $("#class_Sub").append($('<option></option>').val(c.ClassId).html(c.ClassType));
           });
       });
    });
    var Strength_Count = 0;
    $("#class_Sub").change(function () {
        var acid = $("#Capacity_AcademicYrId").val();
        var cid = $("#class_Sub").val();
        $.getJSON('/AcademicsConfiguration/getSectionList', { acid: acid, cid: cid },
       function (data) {
           $("#MandatoryFieldErrorMessage_Add").hide();
           if (data.sectionCount == "empty") {
               $(".jsonError").hide();
               $(".jsonExceptionMsg").hide();
               $(".jsonSuccessMsg").hide();
               $(".jsonErrorMsg").hide();
               $("#MandatoryFieldErrorMessage_AddWithMsgInfo").show();
               $("#AddInfo_jErr").text('@ResourceCache.Localize("Didnt_create_section_for_in_this_class_So_cant_add_strength")');
               $('#div_loadSection').hide();
               $("#foot_btn").hide();
               return false;
           }
           $("#MandatoryFieldErrorMessage_AddWithMsgInfo").hide();
           $("#AddInfo_jErr").empty();
           var row;
           $("#div_loadSection").show();
           $("#tbody_loadSection").empty();
           $("#foot_btn").show();
           $.each(data.ans, function (i, c) {
               row = "<tr><td><input type='hidden' value='" + c.SectionId + "' id='sec_id" + (i + 1) + "'  name='sec_id" + (i + 1)
                   + "'  /><input type='text' id='Section" + (i + 1) + "' value='" + c.Section + "' readonly   /></td><td><input type='text' class='current_button' placeholder='class strength' maxlength='3' id='strength" + (i + 1) + "'   name='strength" + (i + 1)
                    + "' </td></tr>"
               $("#tbody_loadSection").append(row);
               $(".current_button").filter_input({ regex: '[0-9]' });
               $("#hidden_Strenthcount").val((i + 1)).html((i + 1));
           });
       });
    });
    $("#btnResetClassStrength").click(function () {
        $("#tbody_loadSection").empty();
        $("#div_loadSection").hide();


    });
    $("#btnAddClassStrength").click(function () {
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#MandatoryFieldErrorMessage_Add").hide();
        $("#MandatoryFieldErrorMessage_AddWithMsgInfo").hide();
        $("#AddInfo_jErr").empty();
        var acid = $("#Capacity_AcademicYrId").val();
        var cid = $("#class_Sub").val();
        var classStrength = [];
        var sectionIds = [];
        var S_count = $("#hidden_Strenthcount").val();
        var Section = [];
        $("#Capacity_AcademicYrId").addClass("current_button");
        $("#class_Sub").addClass("current_button");
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '' || valu == 'Select Class') {
                var null_id = $(this).attr('id');
                if (null_id == 'Capacity_AcademicYrId') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'class_Sub') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
            }
            else {
            }
        });
        var x = 1;
        for (var i = 0; i < S_count; i++) {
            var y = $("#strength" + (i + 1)).val();
            if (y == null || y == "" || y == "0") {
                x = 0;
            }
        }
        if (x == 0) {
            a.push('@ResourceCache.Localize("Please_enter_class_strength_to_all_section_of_selected_class")');
        }
        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        $("#MandatoryFieldErrorMessage_Add").hide();
        for (var i = 0; i < S_count; i++) {
            sectionIds[i] = $("#sec_id" + (i + 1)).val();
            y=$("#strength" + (i + 1)).val();            
            if (y == null || y == "" || y == "0") {
                classStrength[i] = 0;
            }else{
                classStrength[i] = y;
            }
            Section[i] = $("#Section" + (i + 1)).val();
        }
        var values = { Acid: acid, Cid: cid, Secid: sectionIds, Strength: classStrength, Count: S_count, Section: Section };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/AcademicsConfiguration/ClassStrength',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            }
        });
    });
    $("#btnUpdateClassStrength").click(function () {
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        var StengthId = $("#hidden_classStrength").val();
        var classStrength = $("#txt_strength1").val();
        var check = $("#txt_status").is(':checked');
        var Status;
        if (check == true) {
            Status = "Active";
        }
        else {
            Status = "Inactive";
        }
        var academicId = $("#hidden_acyear").val();
        var values = { Strength: classStrength, Strength_Id: StengthId, Status1: Status, Acid: academicId };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/AcademicsConfiguration/SaveEditClassStrength',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            }
        });
    });
</script>
}