﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.ExtraActivity>
@{
    ViewBag.Title = "ExtraAcitivity";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditActivity" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditActivity") </h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditExtraAcitivity", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" name="Activity_hiddenid" id="Activity_hiddenid" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ExtraActivity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="txt_activity1" name="txt_activity1" placeholder="@ResourceCache.Localize("ExtraActivity")" required title="@ResourceCache.Localize("ExtraActivity")" maxlength="30" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div><textarea class="col-md-12 current_button" id="txt_activity_desc1" name="txt_activity_desc1" placeholder="@ResourceCache.Localize("Description")" required title="@ResourceCache.Localize("FacilityDescription")" style="resize:none;" maxlength="250"></textarea></div>
                            <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnUpdateActivity" name="btnUpdateActivity" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_updateActivity" name="btncancel_updateActivity" title="Cancel"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddActivity">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Activity")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("ExtraAcitivity", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ExtraActivity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button" type="text" id="txt_activity" name="txt_activity" placeholder="@ResourceCache.Localize("ExtraActivity")" required title="@ResourceCache.Localize("ExtraActivity")" maxlength="30" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div><textarea class="col-md-12 current_button" id="txt_activity_desc" name="txt_activity_desc" placeholder="@ResourceCache.Localize("Description")" required title="@ResourceCache.Localize("FacilityDescription")" style="resize:none;" maxlength="250"></textarea></div>
                            <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddActivity" name="btnAddActivity" title="Add Year"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset  " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Extra_Activity") </h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div class="col-lg-6">
                        @*<div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                        <div>
                            @Html.DropDownList("FAcademicYrId", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "filterItem" })
                        </div>*@
                        <div><label class="input-label-sm">@ResourceCache.Localize("ExtraActivity") </label> <span class="glyphicon glyphicon-asterisk"></span>  </div>
                        <div>
                            @Html.DropDownList("ddExtraActivity", new SelectList(ViewBag.ExtraActivity, "ActivityId", "Activity"), @ResourceCache.Localize("All"), new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnRole_Filter" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div><!-- /.box-body -->
                <div class="box-body corner_ui" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_activity").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_activity1").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {

        
        $('#FAcademicYrId').val(@Session["CurrentAcYearId"]);
        //List
     

        //$('#FAcademicYrId').change(function (event) {
        //    event.preventDefault();
        //    var YearId = $('#FAcademicYrId').val();
        //    AssignAcademicYear(YearId);            
        //});
        //function AssignAcademicYear(YearId) {
        //    $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
        //              function (orderdetails) {
        //              });
        //}


        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars1').text(length);
            $('#chars').text(length).val(length);
        });
        var Warden_Id, delete_WardenId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/ExtraAcitivityResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("Activity")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'Aid', index: 'Aid' },
                { key: false, name: 'Activity', index: 'Activity' },
                { key: false, name: 'Desc', index: 'Desc' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 50, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    Warden_Id = ids[i];
                    delete_WardenId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Activity btn_Edit ui-icon-pencil' id='" + Warden_Id + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/ActivityExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/ActivityExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Extra_Curricular_Activities")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRole_Filter').click(function (event) {          
            event.preventDefault();
            filterGrid();         
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });            
            $('#grid1').jqGrid().setGridParam({              
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Activity', function () {
            var id = $(this).attr('id');
            values = { AcitivityId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/EditExtraAcitivity',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_AddActivity").hide();
                    $("#idSection_EditActivity").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#Activity_hiddenid").val(id).html(id);
                    $("#txt_activity1").val(data.ans.Activity).html(data.ans.Activity);
                    $("#txt_activity_desc1").val(data.ans.Desc).html(data.ans.Desc);
                    var length = $("#txt_activity_desc1").val().length;
                    var length = maxLength - length;
                    $('#chars1').text(length);
                    if (data.ans.Status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.Status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });
        });
        $("#btncancel_updateActivity").click(function () {
            $("#idSection_EditActivity").hide();
            $("#idSection_AddActivity").show();
            $('#txt_activity_desc1').empty();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btnAddActivity").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var activity = $("#txt_activity").val();
                var desc = $("#txt_activity_desc").val();
                var values = { txt_activity: activity, txt_activity_desc: desc };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/ExtraAcitivity',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {                        
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
           }
        });
        $("#btnUpdateActivity").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation1();
            if (bool == true) {
                var Aid = $("#Activity_hiddenid").val();
                var activity = $("#txt_activity1").val();
                var desc = $("#txt_activity_desc1").val();
                var check = $("#txt_status").is(':checked');
                var Status;
                if (check == true) {
                    Status = "Active";
                }
                else {
                    Status = "Inactive";
                }
                var values = { ActivityId: Aid, txt_activity: activity, txt_activity_desc: desc, Status: Status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/SaveEditExtraAcitivity',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {                        
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_activity') {
                    a.push('@ResourceCache.Localize("Activity_is_required").');
                }
            }
            else {
                if (field_name == 'txt_activity') {
                    var sname = $("#txt_activity").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Activity_should_contain_3_characters,_can_not_exceed_20_characters").');
                        }
                    }
                }
                if (field_name == 'txt_fac_desc') {
                    var sname = $("#txt_fac_desc").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 300) {
                            a.push('@ResourceCache.Localize("Activity_description_should_not_exceed_300_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_activity1') {
                    a.push('@ResourceCache.Localize("Activity_is_required").');
                }
            }
            else {
                if (field_name == 'txt_activity1') {
                    var sname = $("#txt_activity1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Activity_should_contain_3_characters,_can_not_exceed_20_characters").');
                        }
                    }
                }
                if (field_name == 'txt_activity_desc1') {
                    var sname = $("#txt_activity_desc1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 300) {
                            a.push('@ResourceCache.Localize("Activity_description_should_not_exceed_300_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}