﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.Facility>
@{
    ViewBag.Title = "Facility";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditFacility" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditFacility﻿")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditFacility", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {     @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" name="hide_FacilityId" id="hide_FacilityId" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Facility")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-md-12 current_button" type="text" id="txt_facility1" name="txt_facility1" placeholder="@ResourceCache.Localize("Facility")" required title="@ResourceCache.Localize("Facility")" maxlength="30" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div> <textarea class="col-md-12 current_button" id="txt_fac_desc1" name="txt_fac_desc1" placeholder="@ResourceCache.Localize("Description")" required title="@ResourceCache.Localize("FacilityDescription")" style="resize:none;" maxlength="250"></textarea></div>
                            <span id="chars1">250</span>@ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateFacility" name="btnUpdateFacility" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_updateFacility" name="btncancel_updateFacility" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddFacility">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Facility")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("Facility", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Facility")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-md-12 current_button" type="text" id="txt_facility" name="txt_facility" placeholder="@ResourceCache.Localize("Facility")" required title="@ResourceCache.Localize("Facility")" maxlength="30" />    </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div> <textarea class="col-md-12 current_button" id="txt_fac_desc" name="txt_fac_desc" placeholder="@ResourceCache.Localize("Description")" required title="FacilityDescription" style="resize:none;" maxlength="250"></textarea></div>
                            <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddFacility" name="btnAddFacility" title="Add Year"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageFacility")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_facility").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_facility1").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {
        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
            $('#chars1').text(length);
        });
        var Warden_Id, delete_WardenId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/FacilityResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("Facility")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'FacilityId', index: 'FacilityId' },
                { key: false, name: 'Facility', index: 'Facility' },
                { key: false, name: 'Desc', index: 'Desc' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 50, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    Warden_Id = ids[i];
                    delete_WardenId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Facility btn_Edit ui-icon-pencil' id='" + Warden_Id + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/FacilityExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/FacilityExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("FacilityList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRole_Filter').click(function (event) {
            event.preventDefault();
            var check_id = $("#FAcademicYrId").val();
            if (check_id == "0" || check_id == null || check_id == "") {
                $("#div_Error").show();
                $("#errorMsg").html('@ResourceCache.Localize("SelectAcademicYear")');
            return false;
        }
        else {
            $("#errorMsg").text("");
            $("#div_Error").hide();
            filterGrid();
        }
    });
    function filterGrid() {
        var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#grid1').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };
    $(document).on('click', '.btn_edit_Facility', function () {
        var id = $(this).attr('id');
        values = { FacilityId: id };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/AcademicsConfiguration/EditFacility',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#idSection_AddFacility").hide();
                $("#idSection_EditFacility").show();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#hide_FacilityId").val(id).html(id);
                $("#txt_facility1").val(data.ans.Facility).html(data.ans.Facility);
                $("#txt_fac_desc1").val(data.ans.Desc).html(data.ans.Desc);
                var length = $("#txt_fac_desc1").val().length;
                var length = maxLength - length;
                $('#chars1').text(length);
                if (data.ans.Status == true) {
                    $("#txt_status").prop("checked", true);
                }
                if (data.ans.Status == false) {
                    $("#txt_status").prop("checked", false);
                }
                $("#Loading_Sec").removeClass("loading-new");
            }
        });
    });
    $("#btncancel_updateFacility").click(function () {
        $("#idSection_EditFacility").hide();
        $("#idSection_AddFacility").show();
        $('#txt_fac_desc1').empty();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });
    $("#btnAddFacility").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation();
        if (bool == true) {
            var fac = $("#txt_facility").val();
            var fac_desc = $("#txt_fac_desc").val();
            var values = { txt_facility: fac, txt_fac_desc: fac_desc };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/Facility',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    $("#btnUpdateFacility").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation1();
        if (bool == true) {
            var fid = $("#hide_FacilityId").val();
            var fac = $("#txt_facility1").val();
            var fac_desc = $("#txt_fac_desc1").val();
            var check = $("#txt_status").is(':checked');
            var Status;
            if (check == true) {
                Status = "Active";
            }
            else {
                Status = "Inactive";
            }
            var values = { FacilityId: fid, txt_facility: fac, txt_fac_desc: fac_desc, Status: Status };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/SaveEditFacility',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_facility') {
                    a.push('@ResourceCache.Localize("Facility_is_required").');
                }
            }
            else {
                if (field_name == 'txt_event') {
                    var sname = $("#txt_event").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Facility_should_contain_3_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
                if (field_name == 'txt_fac_desc') {
                    var sname = $("#txt_fac_desc").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 300) {
                            a.push('@ResourceCache.Localize("Facility_description_should_not_exceed_250_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_facility1') {
                    a.push('@ResourceCache.Localize("Facility_is_required").');
                }
            }
            else {
                if (field_name == 'txt_facility1') {
                    var sname = $("#txt_facility1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Facility_should_contain_3_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
                if (field_name == 'txt_fac_desc1') {
                    var sname = $("#txt_fac_desc1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 300) {
                            a.push('@ResourceCache.Localize("Facility_description_should_not_exceed_250_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}