﻿@using eAcademy.Models
@{
    ViewBag.Title = "GroupSubject";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    var x = 0;   
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="GroupSub_addSection">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("AddGroupSubjects")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("GroupName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="txt_GroupName" name="txt_GroupName" placeholder="@ResourceCache.Localize("GroupName")" required title="@ResourceCache.Localize("GroupName")" maxlength="30" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectSubjects")</label> <span class="glyphicon glyphicon-asterisk"></span></div>

                            @{
                                var GroupSubjectList = (List<eAcademy.ViewModel.GroupSubjectList>)ViewBag.GroupSubject;
                            }
                            <table>
                                @foreach (var p in GroupSubjectList)
                                {
                                    <tr>
                                        <td> @Html.CheckBox("GroupSubject" + x, false, new { value = p.SubjectId }) @p.Subject</td>

                                    </tr>x++;
                                }
                            </table>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <input type="hidden" id="SubjectCount" name="SubjectCount" value="@x">
                                <button type="button" class="btn  btn-sm btn_add btn_double" id="btnAddGroupSubject" name="btnAddGroupSubject" title="AddGroupSubject"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                                @*<button type="reset" class=" btn  btn-sm btn_reset  " id="btnResetGroupSubject" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>*@
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </form>
        </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" style="display:none;" id="GroupSub_EditSection">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("EditGroupSubjects")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <input type="hidden" name="Groupsub_hiddenid" id="Groupsub_hiddenid" />
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("GroupName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="txt_GroupName1" name="txt_GroupName1" placeholder="@ResourceCache.Localize("GroupName")" required title="@ResourceCache.Localize("GroupName")" maxlength="30" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectSubjects")</label> <span class="glyphicon glyphicon-asterisk"></span></div>

                            <table id="tbody_EditGrouplist">
                                <tr></tr>
                            </table>

                        </div>

                        <div>
                            <div><label class="input-label-sm">"Status"</label> </div>
                            <div><input type="checkbox" id="GroupStatus" name="GroupStatus" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                @*<input type="hidden" id="EditSubjectCount" name="EditSubjectCount" value="@y">*@
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnUpdateGroupSubject" name="btnUpdateGroupSubject" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_UpdateGroupSubject" name="btncancel_UpdateGroupSubject" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageGroupSubject")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                <div class="box-body" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
<script src="~/js/jquery.filter_input.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var GroupSubjectId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/GroupResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("GroupName")', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("GroupStatus")', '@ResourceCache.Localize("Edit")'],// 'Non Academic Subject',
            colModel: [
                { key: true, hidden: true, name: 'GroupSubjectId', index: 'GroupSubjectId' },
                { key: false, name: 'GroupName', index: 'GroupName' },
                //{ key: false, name: 'Subject', index: 'Subject' },
                { key: false, name: 'SubjectName', index: 'SubjectName' },
                 { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    GroupSubjectId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_GroupSubject btn_Edit ui-icon-pencil' id='" + GroupSubjectId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
        )//.jqGrid('navButtonAdd', '#pager1',
        //{
        //    caption: " Excel ",
        //    buttonicon: "ui-icon-bookmark",
        //    onClickButton: function () {
        //        window.location.href = "../AcademicsConfiguration/SubjectExportToExcel";
        //    }
        //}).jqGrid('navButtonAdd', '#pager1',
        //{
        //    caption: " Pdf ",
        //    buttonicon: "ui-icon-print",
        //    position: "last",
        //    onClickButton: function () {
        //        window.location.href = "../AcademicsConfiguration/SubjectExportToPDF";
        //    }
        //});
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("GroupSubjectList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

        $('#btnTerm_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
    });
    ///////////////////////Edit///////////////////////
    var EditCount = 0;
    $(document).on('click', '.btn_edit_GroupSubject', function () {
        //alert("Edit Click");
        EditCount = 0;
        $("#MandatoryFieldErrorMessage_Edit").hide();
        $("#tbody_EditGrouplist").empty();
        var id = $(this).attr('id');
        values = { GroupSubjectId: id };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/AcademicsConfiguration/EditGroup',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#GroupSub_addSection").hide();
                $("#GroupSub_EditSection").show();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#txt_GroupName1").val(data.ans.GroupName);
                $("#Groupsub_hiddenid").val(data.ans.GroupSubjectId);

                if (data.ans.Status == true) {
                    $("#GroupStatus").prop("checked", true);
                }
                if (data.ans.Status == false) {
                    $("#GroupStatus").prop("checked", false);

                }

                $.each(data.GroupSubList, function (i, v) {

                    var id1 = "EditGroupSubjectStatus" + i;
                    var id2 = "GroupConfig" + i;
                    var id3 = "EditGroupSubjectId" + i;
                    var row = jQuery('<tr><td><input type="checkbox" id="' + id1 + '"  name="' + id1 + '"  value="' + v.Status + '" ></td><td>' + v.Subject + '<input type="hidden" id="' + id2 + '"  name="' + id2 + '"  value="" ></td><td><input type="hidden" id="' + id3 + '"  name="' + id3 + '"  value="' + v.SubjectId + '" ></td></tr>');
                    jQuery('#tbody_EditGrouplist').append(row);
                    EditCount++;
                    var GroupSubjectId1 = data.GroupSubList[i].SubjectId;

                    $.each(data.SelectSubList, function (j, v) {

                        var GroupSubjectId2 = data.SelectSubList[j].SubId;

                        if (GroupSubjectId1 == GroupSubjectId2) {
                            var value = data.SelectSubList[j].Status;
                            var ConfigId = data.SelectSubList[j].SubjectConfigId;
                            $("#GroupConfig" + i).val(ConfigId);

                            if (value == true) {
                                $("#EditGroupSubjectStatus" + i).prop("checked", true);
                            }
                            if (value == false) {
                                $("#EditGroupSubjectStatus" + i).prop("checked", false);
                            }
                        }
                    });
                });
                $("#Loading_Sec").removeClass("loading-new");
            }
        });
    });

    /////////////////////////Update////////////////////////////
   

    $("#btnUpdateGroupSubject").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#Loading_Sec").addClass("loading-new");
        $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
        $("#MandatoryFieldErrorMessage_Edit").hide();
        //alert("Update button click");
        var bool = jsFormValidation1();
        //alert("bool" + bool);
        if (bool == true) {
            var EditGroupName = $("#txt_GroupName1").val();
            var GroupId = $("#Groupsub_hiddenid").val();
            var EditGroupSubjectStatus = [];
            var EditGroupSubjectId = [];
            var GroupConfigId = [];
            //alert("EditCount" + EditCount);
            var checkGroupStatus = $("#GroupStatus").is(':checked');
            var Status;
            if (checkGroupStatus == true) {
                GroupStatus = "Active";
            }
            else {
                GroupStatus = "Inactive";

            }
            var Updateflag = true;
            var checkCount = 0;
            for (var i = 0; i < EditCount; i++) {
                var check = $("#EditGroupSubjectStatus" + i).is(':checked');
                //alert("check" + check);
                if (check == true) {
                    //return false
                    Updateflag = false;
                    checkCount++;
                }
            }
            //alert("checkCount" + checkCount);
            if (Updateflag == true) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#Edit_jErr").html("@ResourceCache.Localize("GroupSubject_should_contain_2_Subject")");
                return false;

            }

            else if (checkCount == 1) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#Edit_jErr").html("@ResourceCache.Localize("GroupSubject_should_contain_2_Subject")");
                return false;

            }
            else {
                for (var i = 0; i < EditCount; i++) {
                    //alert("For loop");
                    var Statuscheck = $("#EditGroupSubjectStatus" + i).is(':checked');
                    if (Statuscheck == true) {
                        EditSubjectStatus = "Active";
                        checkCount++;
                    }
                    else {

                        EditSubjectStatus = "Inactive";
                    }
                    EditGroupSubjectStatus[i] = EditSubjectStatus;
                    EditGroupSubjectId[i] = ($("#EditGroupSubjectId" + i)).val();
                    var subId = ($("#EditGroupSubjectId" + i)).val();
                    GroupConfigId[i] = ($("#GroupConfig" + i)).val();

                }

            }

            @*if (Updateflag == false) {
                    for (var i = 0; i < EditCount; i++) {
                        //alert("For loop");
                        var Statuscheck = $("#EditGroupSubjectStatus" + i).is(':checked');
                        if (Statuscheck == true) {
                            EditSubjectStatus = "Active";
                            checkCount++;
                        }
                        else {

                            EditSubjectStatus = "Inactive";
                        }
                        EditGroupSubjectStatus[i] = EditSubjectStatus;
                        EditGroupSubjectId[i] = ($("#EditGroupSubjectId" + i)).val();
                        var subId = ($("#EditGroupSubjectId" + i)).val();
                        GroupConfigId[i] = ($("#GroupConfig" + i)).val();

                    }
                }
            else if (checkCount == 1) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#Edit_jErr").html("@ResourceCache.Localize("GroupSubject_should_contain_2_Subject")");
                return false;

            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#Edit_jErr").html("@ResourceCache.Localize("GroupSubject_should_contain_2_Subject")");
                return false;

            }*@
        
        
        var values = { GroupId: GroupId, GroupConfigId: GroupConfigId, GroupName: EditGroupName, GroupStatus: GroupStatus, GroupSubjectId: EditGroupSubjectId, GroupSubjectStatus: EditGroupSubjectStatus };
        //alert(JSON.stringify(values));
        $.ajax({
            url: '/AcademicsConfiguration/SaveEditGroupSubject',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();

                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#GroupSub_addSection").show();
                        //$("#idSection_addSection").hide();
                        $("#GroupSub_EditSection").hide();
                        //$("#idSection_EditSubject").hide();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            }
        });
    }
    });

    //////////////////////Add/////////////

    $("#btnAddGroupSubject").click(function () {
        //alert("add btn work");
        $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
        $("#Loading_Sec").addClass("loading-new");
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation();
        if (bool == true) {
            var GroupName = $("#txt_GroupName").val();
            var SubCount = $("#SubjectCount").val();
            var GroupSubjectStatus = [];
            var GroupSubjectId = [];          
            var addCount = 0
            var flag = true;
            for (var i = 0; i < SubCount; i++) {
                var check = $("#GroupSubject" + i).is(':checked');              
                var GroupSubjectStatus;
                if (check == true) {                   
                    flag = false;
                }
            }
            if (flag == false) {
                for (var i = 0; i < SubCount; i++) {
                    var check = $("#GroupSubject" + i).is(':checked');                
                    var GroupSubjectStatus;
                    if (check == true) {
                        SubjectStatus = "Active";
                        addCount++;
                    }
                    else {
                        SubjectStatus = "Inactive";
                    }
                    GroupSubjectStatus[i] = SubjectStatus;
                    GroupSubjectId[i] = ($("#GroupSubject" + i)).val();                  
                    var id = $("#GroupSubject" + i).val();
                }
            }
            else {
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#AddErrorText").html("@ResourceCache.Localize("GroupSubject_should_contain_2_Subject")");
                return false;
            }

            if (addCount == 1) {
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#Loading_Sec").removeClass("loading-new");
                $("#AddErrorText").html("@ResourceCache.Localize("GroupSubject_should_contain_2_Subject")");
                return false;
            }        
        var values = { GroupName: GroupName, GroupSubjectId: GroupSubjectId, GroupSubjectStatus: GroupSubjectStatus };       
        $.ajax({
            url: '/AcademicsConfiguration/GroupSubject',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                        $("#GroupSub_addSection").show();
                        $("#txt_GroupName").val("");
                        $("input:checkbox").prop('checked', false);
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        //setTimeout(function () { $(".jsonSuccessMsg").fadeOut(1500); }, 3000)
                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");

                    }
                }
            }
        });
    }
    });
    ///////////////////cancel////////////////////////
    $("#btncancel_UpdateGroupSubject").click(function () {
        $("#GroupSub_addSection").show();
        $("#GroupSub_EditSection").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });
    //////////////////////Valitations////////////////
    function jsFormValidation1() {
        //alert("Valitation work");
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_GroupName1') {
                    a.push('@ResourceCache.Localize("GroupSubjectName_is_required").');
                }
            }
            else {
                if (field_name == 'txt_GroupName1') {
                    var sname = $("#txt_GroupName1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("GroupSubjectName_should_contain_2_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $("#Loading_Sec").removeClass("loading-new");
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            $("#Loading_Sec").removeClass("loading-new");
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    //////////////////////Valitations////////////////
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_GroupName') {
                    a.push('@ResourceCache.Localize("GroupSubjectName_is_required").');
                }
            }
            else {
                if (field_name == 'txt_GroupName') {
                    var sname = $("#txt_GroupName").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("GroupSubjectName_should_contain_2_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $("#Loading_Sec").removeClass("loading-new");
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
            $("#Loading_Sec").removeClass("loading-new");
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }

</script>
}
