﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.SubjectList>
@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" style="display:none;" id="idSection_EditSubject">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("EditSubjects")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("SaveEditSubject", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <input type="hidden" name="sub_hiddenid" id="sub_hiddenid" />
                        
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="txt_sub1" name="txt_sub1"  placeholder="@ResourceCache.Localize("Subject")" required title="@ResourceCache.Localize("Subject")" maxlength="30" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Elective")</label> </div>
                            <div><input type="checkbox" id="EditGroupSubjectStatus" name="EditGroupSubjectStatus" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Yes")</label></div>
                        </div>
                        
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnUpdateSubject" name="btnUpdateSubject" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm btn_cancel" id="btncancel_updateSubject" name="btncancel_updateClassRooms" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <!-- solid sales graph -->
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_addSection">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("AddSubjects")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("Subject", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")                                                
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="txt_sub" name="txt_sub" placeholder="@ResourceCache.Localize("Subject")" required title="@ResourceCache.Localize("Subject")" maxlength="30" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Elective")</label> </div>
                            <div><input type="checkbox" id="GroupSubjectStatus" name="GroupSubjectStatus" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Yes")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn  btn-sm btn_add btn_double" id="btnAddSubject" name="btnAddSubject" title="Add Year"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset  " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageSubject")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_sub").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_sub1").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {
        var SubjectId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/SubjectResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Elective")', '@ResourceCache.Localize("Edit")'],// 'Non Academic Subject',
            colModel: [
                { key: true, hidden: true, name: 'SubId', index: 'SubId' },
                { key: false, name: 'Subject', index: 'Subject' },
               // { key: false, name: 'Non_Subject', index: 'Non_Subject' },
                 { key: false, name: 'Status', index: 'Status' },
                 { key: false, name: 'GroupSubjectStatus', index: 'GroupSubjectStatus' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    SubjectId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Subject btn_Edit ui-icon-pencil' id='" + SubjectId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/SubjectExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/SubjectExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("SubjectList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnTerm_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Subject', function () {
            var id = $(this).attr('id');
            values = { sub_id: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/EditSubject',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_addSection").hide();
                    $("#idSection_EditSubject").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#txt_sub1").val(data.ans.Subject);
                    $("#sub_hiddenid").val(id).html(id);
                    if (data.ans.Status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.Status == false) {
                        $("#txt_status").prop("checked", false);

                    }
                    //alert(data.ans.GroupSubjectStatus);
                    if (data.ans.GroupSubjectStatus == true) {
                        $("#EditGroupSubjectStatus").prop("checked", true);
                    }
                    if (data.ans.GroupSubjectStatus == false) {
                        $("#EditGroupSubjectStatus").prop("checked", false);

                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });
        });
        
        $("#btncancel_updateSubject").click(function () {
            $("#idSection_addSection").show();
            $("#idSection_EditSubject").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btnAddSubject").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var subject = $("#txt_sub").val();
                var check = $("#GroupSubjectStatus").is(':checked');
                var GroupSubjectStatus;
                if (check == true) {
                    GroupSubjectStatus = "Active";
                }
                else {
                    GroupSubjectStatus = "Inactive";

                }
                //var GroupSubjectStatus = $("#GroupSubjectStatus").val();
                var values = { subject: subject, GroupSubjectStatus: GroupSubjectStatus };
                //alert(JSON.stringify(values));
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/Subject',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#txt_sub").val("");
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                //setTimeout(function () { $(".jsonSuccessMsg").fadeOut(1500); }, 3000)
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#tacYSD1").val("").html("");
                                $('#GroupSubjectStatus').attr('checked', false);
                                $("#tacYED1").val("").html("");
                                $("#termname").val("").html("");
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        
        $("#btnUpdateSubject").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();           
            var bool = jsFormValidation1();
            if (bool == true ) {
                var subject = $("#txt_sub1").val();
                var subject_id = $("#sub_hiddenid").val();
                            
                var check = $("#txt_status").is(':checked');
                var Status;
                if (check == true) {
                    Status = "Active";
                }
                else {
                    Status = "Inactive";
                    
                }
                var check = $("#EditGroupSubjectStatus").is(':checked');
                var EditGroupSubjectStatus;
                if (check == true) {
                    EditGroupSub_Status = "Active";
                }
                else {
                    EditGroupSub_Status = "Inactive";

                }
                
                var values = { subject: subject, subject_id: subject_id, status: Status, GroupSubjectStatus: EditGroupSub_Status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/AcademicsConfiguration/SaveEditSubject',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#idSection_addSection").show();
                                $("#idSection_EditSubject").hide();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_sub') {
                    a.push('@ResourceCache.Localize("Subject_is_required").');
                }
            }
            else {
                if (field_name == 'txt_sub') {
                    var sname = $("#txt_sub").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Subject_should_contain_2_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_sub1') {
                    a.push('@ResourceCache.Localize("Subject_is_required").');
                }
            }
            else {
                if (field_name == 'txt_sub1') {
                    var sname = $("#txt_sub1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Subject_should_contain_2_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
            }
        });

        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}