﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.Term>
@{
    ViewBag.Title = "Term";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_TermEdit" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditTerm")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditTerm", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="hide_TermId" name="hide_TermId" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12" type="text" id="acadmicYear" name="acadmicYear" placeholder="@ResourceCache.Localize("AcademicYear")" required title="@ResourceCache.Localize("AcademicYear")" readonly />
                                <input type="hidden" id="acYear" name="acYear" readonly />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Term")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="txt_termname" name="txt_termname" placeholder="@ResourceCache.Localize("Term")" required title="@ResourceCache.Localize("Term")" maxlength="20" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("TermStartDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 tacYSD" type="text" id="tacYSD" name="tacYSD" placeholder="@ResourceCache.Localize("TermStartDate")" required title="@ResourceCache.Localize("TermStartDate")" readonly />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("TermEndDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 tacYED" type="text" id="tacYED" name="tacYED" placeholder="@ResourceCache.Localize("TermEndDate")" required title="@ResourceCache.Localize("TermEndDate")" readonly />
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnupdate_Term" name="btnupdate_Term" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateTerm" name="btncancel_updateTerm" title="Cancel"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_TermAdd">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Term")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("Term", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("term_acYear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Term")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="termname" name="termname" placeholder="@ResourceCache.Localize("Term")" required title="@ResourceCache.Localize("Term")" maxlength="20" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("TermStartDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="tacYSD1" name="tacYSD1" placeholder="@ResourceCache.Localize("TermStartDate")" required title="@ResourceCache.Localize("TermStartDate")" readonly />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("TermEndDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="tacYED1" name="tacYED1" placeholder="@ResourceCache.Localize("TermEndDate")" required title="@ResourceCache.Localize("TermEndDate")" readonly />
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddTerm" name="btnAddTerm" title="Add Term"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageTerms")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")                               
                <div class="box-body row ">
                    <div class="col-lg-6">
                        <div>
                            <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span>
                        </div>
                        <div>
                            @Html.DropDownList("acYear1", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnTerm_Filter" class="btn btn-sm btn-down2 btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div><!-- /.box-body -->
                <div class="col-lg-12 col-sm-12 corner_ui_term" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
                <!-- quick email widget -->
            </div>
        </section><!-- /.Left col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer col-sm-12">
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_NoRecordsTerm" name="btncancel_NoRecordsTerm" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("These_Term_will_be_permanently_deleted_and_cannot_be_recovered._Are_you_sure?")</p>
        </div>
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#termname").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_termname").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {
        $('#term_acYear').val(@Session["Add_ChosenAcademicYearId"]);
        $('#acYear1').val(@Session["List_ChosenAcademicYearId"]);
        Date();
        //Add
        $('#term_acYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#term_acYear').val();
            AssignAcademicYear(YearId);
            $('#acYear1').val(YearId);
            Add_AssignAcademicYear(YearId);
        });
        //List
        $('#acYear1').change(function (event) {
            event.preventDefault();
            var YearId = $('#acYear1').val();
            AssignAcademicYear(YearId);
        });

        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        function Date() {
            $("#tacYSD1").datepicker("destroy");
            $("#tacYED1").datepicker("destroy");
            var acid = $("#term_acYear").val();
            $("#tacYSD1").val("").html("");
            $("#tacYED1").val("").html("");
            var termid = $("#hide_TermId").val();
            $.getJSON("/AcademicsConfiguration/getDate1", { acid: acid },
                function (data) {
                    var mdate = data.sd + "------" + data.ed;
                    console.log(mdate);
                    $("#tacYSD1").val("").html("");
                    $("#tacYED1").val("").html("");
                    $(function () {
                        var dates = $("#tacYSD1, #tacYED1").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true,
                            onSelect: function (selectedDate) {
                                var option = this.id == "tacYSD1" ? "minDate" : "maxDate",
                                instance = $(this).data("datepicker"),
                                date = $.datepicker.parseDate(
                                instance.settings.dateFormat ||
                                $.datepicker._defaults.dateFormat,
                                selectedDate, instance.settings);
                                dates.not(this).datepicker("option", option, date);
                            }
                        });
                    });
                });
        }

        var TermId;
        jQuery("#grid1").jqGrid({
            url: "/AcademicsConfiguration/TermResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Term")', '@ResourceCache.Localize("Start_Date")', '@ResourceCache.Localize("End_Date")', '@ResourceCache.Localize("Action")'],
            colModel: [
                { key: true, hidden: true, name: 'Term_ID', index: 'Term_ID' },
                { key: false, name: 'AcademicYear', index: 'AcademicYear' },
                { key: false, name: 'TermName', index: 'TermName' },
                { key: false, name: 'TermStartDate', index: 'TermStartDate' },
                { key: false, name: 'TermEndDate', index: 'TermEndDate' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    TermId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Term btn_Edit ui-icon-pencil' id='" + TermId + "' value=''  title='Edit'/>";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_Term btn_Delete ui-icon-trash' id='" + TermId + "' value='' title='Delete'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be + de });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: "@ResourceCache.Localize("Excel")",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/TermExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: "@ResourceCache.Localize("Pdf")",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../AcademicsConfiguration/TermExportToPDF";
                }
            });
    $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("TermList")');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
    $(document).on('click', '.btn_del_Term', function () {
        var id = $(this).attr('id');
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 200,
            modal: true,
            buttons: {
                "Delete": function () {
                    $(this).dialog("close");
                    $.getJSON('/AcademicsConfiguration/DeleteTerm', { passId: id },
                       function (data) {
                           if (data.Message != "" && data.Message != null) {
                               $(".jsonError").hide();
                               $(".jsonErrorMsg").hide();
                               $(".jsonExceptionMsg").hide();
                               $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                               $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                               $("#SuccessText").html(data.Message).val(data.Message);
                               resetdatepicker();
                               $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                           }
                           else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                               $(".jsonError").hide();
                               $(".jsonExceptionMsg").hide();
                               $(".jsonSuccessMsg").hide();
                               $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                               $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                               $("#ErrorText").html(data.ErrorMessage).val(data.ErrorMessage);
                           }
                           else {
                           }
                       });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    $('#btnTerm_Filter').click(function (event) {
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        event.preventDefault();
        filterGrid();
    });
    function filterGrid() {
        var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#grid1').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };
    $(document).on('click', '.btn_edit_Term', function () {
        var id = $(this).attr('id');
        values = { tid: id };
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/AcademicsConfiguration/EditTerm',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#idSection_TermAdd").hide();
                $("#idSection_TermEdit").show();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                if (data.InfoMessage != null) {
                    $("#idSection_TermAdd").hide();
                    $("#idSection_TermEdit").hide();
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#info_text").show();
                }
                else {
                    $("#info_text").hide();
                    $("#acYear").val(data.ans.AcademicYearId);
                    $("#acadmicYear").val(data.ans.AcademicYear);
                    $("#txt_termname").val(data.ans.TermName).html(data.ans.TermName);
                    $("#hide_TermId").val(id).html(id);
                    $("#tacYSD").val(data.ans.SDate);
                    $("#tacYED").val(data.ans.EDate);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });
    $("#btncancel_updateTerm").click(function () {
        $("#idSection_TermAdd").show();
        $("#idSection_TermEdit").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });
    $("#btncancel_NoRecordsTerm").click(function () {
        $("#idSection_TermAdd").show();
        $("#info_text").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });
    $("#term_acYear").change(function (event) {
        resetdatepicker();
        //$("#tacYSD1").datepicker("destroy");
        //$("#tacYED1").datepicker("destroy");
        //var acid = $("#term_acYear").val();
        //$("#tacYSD1").val("").html("");
        //$("#tacYED1").val("").html("");
        //var termid = $("#hide_TermId").val();
        //$.getJSON("/AcademicsConfiguration/getDate1", { acid: acid },
        //    function (data) {
        //        var mdate = data.sd + "------" + data.ed;
        //        console.log(mdate);
        //        $("#tacYSD1").val("").html("");
        //        $("#tacYED1").val("").html("");
        //        $(function () {
        //            var dates = $("#tacYSD1, #tacYED1").datepicker({
        //                dateFormat: 'dd/mm/yy',
        //                minDate: data.sd,
        //                maxDate: data.ed,
        //                changeMonth: true,
        //                changeYear: true,
        //                onSelect: function (selectedDate) {
        //                    var option = this.id == "tacYSD1" ? "minDate" : "maxDate",
        //                    instance = $(this).data("datepicker"),
        //                    date = $.datepicker.parseDate(
        //                    instance.settings.dateFormat ||
        //                    $.datepicker._defaults.dateFormat,
        //                    selectedDate, instance.settings);
        //                    dates.not(this).datepicker("option", option, date);
        //                }
        //            });
        //        });
        //    });
    });
    $("#btnAddTerm").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation();
        if (bool == true) {
            var acYear = $("#term_acYear").val();
            var tacYSD = $("#tacYSD1").val();
            var tacYED = $("#tacYED1").val();
            var txt_termname = $("#termname").val();
            var values = { acYear: acYear, tacYSD: tacYSD, tacYED: tacYED, txt_termname: txt_termname };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/Term',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#tacYSD1").val("").html("");
                            $("#tacYED1").val("").html("");
                            $("#termname").val("").html("");
                            resetdatepicker();
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    $("#btnupdate_Term").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation1();
        if (bool == true) {
            var acYear = $("#acYear").val();
            var tacYSD = $("#tacYSD").val();
            var tacYED = $("#tacYED").val();
            var txt_termname = $("#txt_termname").val();
            var termid = $("#hide_TermId").val();
            var values = { acYear: acYear, tacYSD: tacYSD, tacYED: tacYED, txt_termname: txt_termname, TermID: termid };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AcademicsConfiguration/SaveEditTerm',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            resetdatepicker();
                            $("#tacYSD1").val("").html("");
                            $("#tacYED1").val("").html("");
                            $("#termname").val("").html("");
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'term_acYear') {
                    a.push('@ResourceCache.Localize("SelectAcademicYear").');
                }
                if (null_id == 'termname') {
                    a.push('@ResourceCache.Localize("Term_is_required").');
                }
                if (null_id == 'tacYSD1') {
                    a.push('@ResourceCache.Localize("Start_date_is_required").');
                }
                if (null_id == 'tacYED1') {
                    a.push('@ResourceCache.Localize("End_date_is_required").');
                }
            }
            else {
                if (field_name == 'termname') {
                    var sname = $("#termname").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 20) {
                            a.push('@ResourceCache.Localize("Term_should_contain_2_characters_can_not_exceed_20_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_termname') {
                    a.push('@ResourceCache.Localize("Term_is_required").');
                }
            }
            else {
                if (field_name == 'txt_termname') {
                    var sname = $("#txt_termname").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 20) {
                            a.push('@ResourceCache.Localize("Term_should_contain_2_characters,_can_not_exceed_20_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
        function resetdatepicker() {
            $("#tacYSD1").datepicker("destroy");
            $("#tacYED1").datepicker("destroy");
            var acid = $("#term_acYear").val();
            $("#tacYSD1").val("").html("");
            $("#tacYED1").val("").html("");
            var termid = $("#hide_TermId").val();
            $.getJSON("/AcademicsConfiguration/getDate1", { acid: acid },
                function (data) {
                    var mdate = data.sd + "------" + data.ed;
                    console.log(mdate);
                    $("#tacYSD1").val("").html("");
                    $("#tacYED1").val("").html("");
                    $(function () {
                        var dates = $("#tacYSD1, #tacYED1").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true,
                            onSelect: function (selectedDate) {
                                var option = this.id == "tacYSD1" ? "minDate" : "maxDate",
                                instance = $(this).data("datepicker"),
                                date = $.datepicker.parseDate(
                                instance.settings.dateFormat ||
                                $.datepicker._defaults.dateFormat,
                                selectedDate, instance.settings);
                                dates.not(this).datepicker("option", option, date);
                            }
                        });
                    });
                });
        }
</script>
}