﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ClassSection>
@{
    ViewBag.Title = "ViewSection";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="col-md-12">
    <div class="row">
        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
    </div>
</section>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-md-8">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-primary ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Section_for_Class") @ViewBag.ClassType</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/Print.cshtml")
                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("SectionDetail")</h2>
                    <div class="box-body" id="show">
                        @if (ViewBag.count > 0)
                        {
                            <div id="tbl_scrol">
                                <table border="1" class="table table-bordered table-striped" id="tbl_dataTable">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("S_No")</th>
                                            <th>@ResourceCache.Localize("Section")</th>
                                            <th class="no_print">@ResourceCache.Localize("Edit")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="manageClass">
                                        @foreach (var item in Model)
                                        {
                                            sno++;
                                            <tr>
                                                <td>@sno</td>
                                                <td>@item.Section</td>
                                                <td class="no_print">@Html.EncodedActionLink("<i class='fa fa-edit' title='Edit'></i>", "EditSection", "AcademicsConfiguration", new { sec_id = item.SectionId, cid = item.ClassId }, null)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@ResourceCache.Localize("S_No")</th>
                                            <th>@ResourceCache.Localize("Section")</th>
                                            <th class="no_print">@ResourceCache.Localize("Edit")</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info alert-dismissable">
                                <b>@ResourceCache.Localize("Info")! :- @ResourceCache.Localize("No_records_found")</b>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </section><!-- right col -->
        @if (TempData["Editid"] != null)
        {
            <section class="col-md-4">
                <!-- solid sales graph -->
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-primary">
                        <i class="fa fa-pencil-square-o"></i> <span class="box-title">@ResourceCache.Localize("EditSection")</span>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @using (Html.BeginForm("SaveEditSection", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            <input type="hidden" value="@TempData["Editid"]" name="hiddenid" id="hiddenid" />
                            <input type="hidden" value="@TempData["cid"]" name="cid" id="cid" />
                            <div>
                                <div>@ResourceCache.Localize("Section") <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12" type="text" id="txt_section" value="@TempData["SectionName"]" name="txt_section" placeholder="@ResourceCache.Localize("Section")" required title="@ResourceCache.Localize("Section")" />
                               </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn  btn-sm btn_update" id="btnUpdateSection" name="btnUpdateSection"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                    <a href="@Url.Action("ViewSection", "AcademicsConfiguration")" class=" btn btn-sm btn_cancel "> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</a>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    }
                </div><!-- /.box -->
            </section><!-- right col -->
        }
        else
        {
            <section class="col-md-4 noprint">
                <!-- solid sales graph -->
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-primary">
                        <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Section")</span>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @using (Html.BeginForm("ViewSection", "AcademicsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            @if (TempData["cid"] != null)
                            {
                                <input type="hidden" id="classid" name="classid" value="@TempData["cid"]" />
                            }
                            else
                            {
                                <input type="hidden" id="classid" name="classid" value="@ViewBag.cid" />
                            }
                            <input type="hidden" value="@ViewBag.ClassType" name="txt-ClassType" id="txt-ClassTyp" />
                            <div>
                                <div>@ResourceCache.Localize("Section") <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12" type="text" id="txt_section" name="txt_section" placeholder="@ResourceCache.Localize("Section")" required title="@ResourceCache.Localize("Section Name")" />
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn_add" id="btnAddSection" name="btnAddSection"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                    <button type="reset" class=" btn  btn-sm btn_reset  " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                                </div><!-- /.row -->
                            </div>
                        </div><!-- /.box-footer -->
                    }
                </div><!-- /.box -->
            </section><!-- right col -->
        }
    </div>
</section>