﻿@using eAcademy.Models
@{
    ViewBag.Title = "FeeDetails";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageFeeDetails")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->               
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    <div id="parent" class="row">
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  </div>
                            <div>
                                @Html.DropDownList("ddAcademicYear", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem", @title = @ResourceCache.Localize("AcademicYear") })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                            <div>
                                @Html.DropDownList("ddClass", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("All"), new { @class = "filterItem", @title = @ResourceCache.Localize("Class") })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" id="btnTerm_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_fees").filter_input({ regex: '[0-9.]' });
    $("#txt_fees1").filter_input({ regex: '[0-9.]' });
    $('#ddAcademicYear').val(@Session["List_ChosenAcademicYearId"]);            
    $('#ddAcademicYear').change(function (event) {
        event.preventDefault();
        var YearId = $('#ddAcademicYear').val();
        AssignAcademicYear(YearId);
    });
    function AssignAcademicYear(YearId) {
        $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                  function (orderdetails) {
                  });
    }


    var FeeConfigId;
    jQuery("#grid1").jqGrid({
        url: "/FeeManagement/FeeConfigResults",
        datatype: 'json',
        mtype: 'GET',
        colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("FeeCategory")', '@ResourceCache.Localize("Amount")', '@ResourceCache.Localize("Tax")', '@ResourceCache.Localize("Total")', '@ResourceCache.Localize("LastDate")'],
        colModel: [
            { key: true, hidden: true, name: 'FeeConfigId', index: 'FeeConfigId' },
            { key: false, name: 'AcYear', index: 'AcYear' },
            { key: false, name: 'Class', index: 'Class' },
            { key: false, name: 'FeeCategory', index: 'FeeCategory' },
            { key: false, name: 'Amount', index: 'Amount' },
            { key: false, name: 'Tax', index: 'Tax' },
            { key: false, name: 'Total', index: 'Total' },
            { key: false, name: 'Date', index: 'Date' },
        ],
        pager: jQuery("#pager1"),        
        rowList: [50, 100, 250, 500, 1000],
        rowNum: 50,
        height: '100%',
        viewrecords: true,
        emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeConfigId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_FeeCat btn_Edit ui-icon-pencil' id='" + FeeConfigId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
        ).jqGrid('navButtonAdd', '#pager1',
        {
            caption: " Excel ",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../FeeManagement/FeeConfigExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#pager1',
        {
            caption: " Pdf ",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../FeeManagement/FeeConfigExportToPDF";
            }
        });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("FeeDetails")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnTerm_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
    </script>
}