﻿@using eAcademy.Models
@{
    ViewBag.Title = "FeeDueList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeDueList")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    <div class="col-xs-12" id="Err" style="display:none;">
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @Html.DropDownList("AcyearList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-md-12 current_button1" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("PaymentType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        @Html.DropDownList("Termtype", new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "0" } }, new { @class = "col-md-12 current_button1" })<span id="Err_Termtype" class="colors2"></span>
                    </div>
                    <div class="col-lg-2  col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>                        
                            @Html.DropDownList("FeeCatList", new SelectList(ViewBag.feeCategory, "FeeCatId", "FeeType"), @ResourceCache.Localize("SelectFeeCategory"), new { @class = "col-md-12 current_button1" })
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>                        
                            @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-md-12 current_button1" })                        
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>                        
                            <select id="SectionList" name="SectionList" class="current_button1">
                                <option>@ResourceCache.Localize("SelectSection")</option>
                            </select>                        
                    </div>
                    <div class="col-lg-2  col-sm-6 col-xs-6">
                        <div> <button type="button" class="btn btn-sm btn_search btn-down " id="FeesDueDetails" name="FeesDueDetails"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                    </div>
                    @*<div class="row col-lg-12  col-sm-12 col-xs-12" id="div-feeDetais1" style="display:none;">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="col-lg-12">
                            <div class="box box-solid bg-teal-gradient">
                                <div class="box-header bg-light-gray">
                                    <h3 class="box-title">@ResourceCache.Localize("SingleTimePayment")</h3>
                                </div>
                                <div class="box-body row border-radius-none " id="show">
                                    <div id="tbl_scrol">
                                        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("SingleTimePayment")</h2>
                                        <table class="table table-bordered table-striped tbl_term">
                                            <thead>
                                                <tr>
                                                    <th>@ResourceCache.Localize("FeeCategory")</th>
                                                    <th>@ResourceCache.Localize("Type")</th>
                                                    <th>@ResourceCache.Localize("FeeAmount")</th>
                                                    <th>@ResourceCache.Localize("LastDatetoPay")</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody-feeDetails"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>*@
                    @*<div class="row col-lg-12 col-sm-12 col-xs-12" id="div-TermfeeDetais1" style="display:none;">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="col-lg-12">
                            <div class="box box-solid bg-teal-gradient">
                                <div class="box-header  bg-light-gray">
                                    <h3 class="box-title">@ResourceCache.Localize("TermwisePayment")</h3>
                                </div>
                                <div class="box-body row border-radius-none ">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("TermwisePayment")</h2>
                                    <table class="table table-bordered table-striped tbl_term" id="show">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("FeeCategory")</th>
                                                <th>@ResourceCache.Localize("Term")</th>
                                                <th>@ResourceCache.Localize("FeeAmount")</th>
                                                <th>@ResourceCache.Localize("LastDatetoPay")</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-TermfeeDetails"></tbody>
                                    </table>
                                </div>
                              
                            </div>
                        </div>
                    </div>*@
                    <div class="row col-lg-12 col-sm-12 col-xs-12" id="div-DueList" style="display:none;">
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="col-lg-12" id="show">
                            <div class="box box-solid bg-teal-gradient">
                                <div class="box-header bg-primary">
                                    <h3 class="box-title">@ResourceCache.Localize("FeeDueList")</h3>
                                </div>                                
                                <div class="col-lg-12">
                                    <table class="col-sm-12" border="0">
                                        <tr>
                                            <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                            <td><b id="Txt_Year"></b></td>
                                        </tr>
                                        <tr>
                                            <td>@ResourceCache.Localize("Cap_PAYMENTTYPE")</td>
                                            <td><b id="Txt_pay"></b></td>
                                        </tr>
                                        <tr>
                                            <td>@ResourceCache.Localize("Cap_FEECATEGORY")</td>
                                            <td><b id="Txt_Fee"></b></td>
                                        </tr>
                                        <tr>
                                            <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                            <td><b id="Txt_Class"></b></td>
                                        </tr>
                                        <tr>
                                            <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                            <td><b id="Txt_Sec"></b></td>
                                        </tr>
                                    </table>
                                </div>
                                <table border="1" class="table table-bordered table-striped tbl_term" id="show">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("SNO")</th>
                                            <th>@ResourceCache.Localize("RollNumber")</th>
                                            <th>@ResourceCache.Localize("StudentName")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-duelist"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 alert alert-info alert-dismissable" id="div-feeNoRec" style="display:none;">
                        <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#FeeCatList").change(function () {
                $("#SectionList").empty().append('<option value="">Select Section</option>');
                $("#ClassList").empty().append('<option value="">Select Class</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');
                $.getJSON('/FeeManagement/getClass',

               function (data) {
                   $("#ClassList").empty().append('<option value="">Select Class</option>');
                   $.each(data, function (i, c) {
                       $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });
               });
                $.getJSON('/FeeCollection/getClass',
              function (data) {
                  $("#ClassList").empty().append('<option value="">Select Class</option>');
                  $.each(data, function (i, c) {
                      $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                  });

              });
            });

            $("#ClassList").change(function () {
                $("#txt_rNo").val("").html("");
                $("#div-feeDetais1").hide();
                $("#div-TermfeeDetais1").hide();
                var cid = $("#ClassList").val();

                $("#SectionList").empty().append('<option value="">Select Section</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');

                $.getJSON('/FeeManagement/getSection', { cid: cid },

                function (data) {
                    $("#SectionList").empty().append('<option value="">Select Section</option>');
                    $.each(data, function (i, c) {
                        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                    });

                });

                $.getJSON('/FeeCollection/getSection', { cid: cid },
               function (data) {
                   $("#SectionList").empty().append('<option value="">Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });
               });
            });

            $("#SectionList").change(function () {
                $("#txt_rNo").val("").html("");
                $("#div-feeDetais1").hide();
                $("#div-TermfeeDetais1").hide();
                var cid = $("#ClassList").val();
                var secid = $("#SectionList").val();
                var acid = $("#AcyearList").val();
                $("#StudentList").empty().append('<option value="">Select Student</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');
                $.getJSON('/FeeManagement/getStudent', { acid: acid, sec_id: secid, cid: cid },

                   function (data) {
                       $("#StudentList").empty().append('<option value="">Select Student</option>');
                       $.each(data, function (i, v) {
                           $("#StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                       });
                   });

                $.getJSON('/FeeCollection/getStudent', { acid: acid, sec_id: secid, cid: cid },
                  function (data) {
                      $("#StudentList").empty().append('<option value="">Select Student</option>');
                      $.each(data, function (i, v) {
                          $("#StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                      });
                  });

            });

            $("#StudentList").change(function () {
                $("#txt_rNo").val("").html("");
                var acid = $("#AcyearList").val();
                var fid = $("#FeeCatList").val();
                var cid = $("#ClassList").val();
                $("#div-feeDetais1").hide();
                $("#div-TermfeeDetais1").hide();

                $.getJSON('/FeeCollection/getFeeAmount', { acid: acid, fid: fid, cid: cid },

                   function (data) {
                       $("#txt-amount").val(data.FeeAmount).html(data.FeeAmount);
                       $("#txt-totalamount").val(data.FeeAmount).html(data.FeeAmount);
                   });


            });


            $("#AcyearList").change(function () {

                $("#txt_rNo").val("").html("");
                $("#div-feeDetais1").hide();
                $("#div-TermfeeDetais1").hide();
                $("#SectionList").empty().append('<option value="">Select Section</option>');
                $("#ClassList").empty().append('<option value="">Select Class</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');

                $.getJSON('/FeeManagement/getClass',

               function (data) {
                   $("#ClassList").empty().append('<option value="">Select Class</option>');
                   $.each(data, function (i, c) {
                       $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });

               });



                $.getJSON('/FeeCollection/getClass',

               function (data) {
                   $("#ClassList").empty().append('<option value="">Select Class</option>');
                   $.each(data, function (i, c) {
                       $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });

               });
            });


            $(".StudentList1").change(function () {
                var acid = $("#AcyearList").val();
                var fid = $("#FeeCatList").val();
                var cid = $("#ClassList").val();
                var sec_id = $("#SectionList").val();
                var stu_id = $("#StudentList").val();

                $.getJSON('/FeeManagement/getFeeAmount', { acid: acid, fid: fid, cid: cid, sec_id: sec_id, stu_id: stu_id },

                   function (data) {
                       if (data.msg == null && data.msg == "") {
                           $("#div-feeNoRec").show();
                           $("#div-feeDetais").hide();
                       }
                       else {
                           $("#div-feeDetais").show();
                           $("#div-feeNoRec").hide();
                           $("#tbody-feePaid").empty().append();
                           $.each(data.ans, function (i, c) {
                               var total = c.famt + c.fine;

                               row = '<tr><td><input class="col-lg-12" type="text" title="Fee" value=' + data.term + '  readonly /></td> <td><input class="col-lg-12" type="text" value=' + c.Fee + ' title="Amount" readonly /></td><td><input class="col-lg-12" type="text" title="Fine Amount" value="0" placeholder="Enter Fine Amount" value=' + c.Fine + '  readonly /></td> <td><input class="col-lg-12" type="text"  title="Total Amount" value=' + total + ' readonly /></td>   <td><input class="col-lg-12" type="text" value=' + c.AmountCollected + ' title="Amount Collected"  readonly /></td><td><input class="col-lg-12" type="text" value=' + c.ReminingAmount + ' title="Remaining Amount"  readonly /></td><td><textarea class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  title="Remark" style="resize:none;">' + c.Remark + '</textarea></td></tr>';
                               $("#tbody-feePaid").append(row);
                           });
                       }




                   });


            });

        $('#AcyearList').val(@Session["List_ChosenAcademicYearId"]);
        ChangeClassandSection();
        function ChangeClassandSection() {
            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $("#ClassList").empty().append('<option value="">Select Student</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');

                $.getJSON('/FeeManagement/getClass',

               function (data) {
                   $("#ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                   $.each(data, function (i, c) {
                       $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });

               });
                var year = $('#AcyearList').val();
                $.getJSON('/Report/getTerm', { year: year },
                   function (data) {
                       $("#Termtype").empty().append('<option value="0">Annual</option>');
                       $.each(data, function (i, c) {
                           $("#Termtype").append($('<option></option>').val(c.termid).html(c.termname));
                       });
                   });
            }
            $('#AcyearList').change(function (event) {
                event.preventDefault();
                var YearId = $('#AcyearList').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            $("#FeesDueDetails").click(function () {
             $("#Loading_Sec").addClass("loading-new");
            $('#div-feeNoRec').hide();
            var acid = $("#AcyearList").val();
            var cid = $("#ClassList").val();
            var sid = $('#SectionList').val();
            var payid = $('#Termtype').val();
            var feeid = $('#FeeCatList').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcyearList') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'ClassList') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'SectionList') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'Termtype') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectPaymentType")');
                    }
                    if (null_id == 'FeeCatList') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectFeeCategory")');
                    }
                }
            });
            if (flag == 0) {
                $.getJSON('/FeeManagement/getStudentFees', { acid: acid, cid: cid },
                    function (data) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#Txt_Year').text($('#AcyearList option:selected').text());
                        $('#Txt_Class').text($('#ClassList option:selected').text());
                        $('#Txt_Sec').text($('#SectionList option:selected').text());
                        $('#Txt_Fee').text($('#FeeCatList option:selected').text());
                        $('#Txt_pay').text($('#Termtype option:selected').text());
                        $("#tbody-feeDetails").empty().append();
                        $("#tbody-TermfeeDetails").empty().append();
                        $.each(data.ans2, function (i, c) {
                            $("#div-feeDetais1").show();
                            row = '<tr><td><input class="col-lg-12" type="text" title="Fee" value=' + c.fid + '  readonly /></td> <td><input class="col-lg-12" type="text" value="Single" title="Amount" readonly /></td><td><input class="col-lg-12" type="text" title="Fine Amount" placeholder="Enter Fine Amount" value=' + c.fee + '  readonly /></td> <td><input class="col-lg-12" type="text"  title="Total Amount" value=' + c.ldate + ' readonly /></td></tr>';
                            $("#tbody-feeDetails").append(row);
                        });
                        $.each(data.ans1, function (i, c) {
                            $("#div-TermfeeDetais1").show();
                            row = '<tr><td><input class="col-lg-12" type="text" title="Fee" value=' + c.feeid + '  readonly /></td> <td><input class="col-lg-12" type="text" value=' + c.t + ' title="Amount" readonly /></td> <td><input class="col-lg-12" type="text"  title="Total Amount" value=' + c.tfee + ' readonly /></td>   <td><input class="col-lg-12" type="text" value=' + c.ldate + ' title="Remaining Amount"  readonly /></td></tr>';
                            $("#tbody-TermfeeDetails").append(row);
                        });
                        $.getJSON('/FeeManagement/GetStudentFeelist', { aid: acid, cid: cid, sid: sid, payid: payid, feeid: feeid },
                  function (data) {
                      if (data != 0) {
                          $("#tbody-duelist").empty().append();
                          var k = 0;
                          $.each(data, function (i, c) {
                              $("#div-DueList").show();
                              k = i + 1;
                              row = '<tr><td><input class="col-lg-12" type="text" title="S.No" value=' + k + '  readonly /></td> <td><input class="col-lg-12" type="text" title="Rollnumber" value=' + c.StudentRollNumber + '  readonly /></td> <td><input class="col-lg-12" type="text"   value=' + c.StuFirstName + ' readonly /></td></tr>';
                              $("#tbody-duelist").append(row);
                          });
                      }
                      else {
                          $("#tbody-duelist").empty().append();
                          $("#div-feeDetais1").hide();
                          $('#div-feeNoRec').show();
                          $("#div-DueList").hide();
                      }
                  });
                    });
            }
            if (a.length != 0) {
                $("#Loading_Sec").removeClass("loading-new");
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#AcyearList').change(function () {
            var year = $('#AcyearList').val();
            $.getJSON('/Report/getTerm', { year: year },
               function (data) {
                   $("#Termtype").empty().append('<option value="0">Annual</option>');
                   $.each(data, function (i, c) {
                       $("#Termtype").append($('<option></option>').val(c.termid).html(c.termname));
                   });
               });
        });
    });
    </script>
}