﻿@using eAcademy.Models
@{
    ViewBag.Title = "FeePaidList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Fee_Paid_Details")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    <div class=" col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear") </label><span class="glyphicon glyphicon-asterisk"></span> </div>
                        <div>
                            @Html.DropDownList("AcyearList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button", @title = @ResourceCache.Localize("AcademicYear") })
                        </div>
                    </div>
                    <div class=" col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @Html.DropDownList("FeeCatList", new SelectList(ViewBag.feeCategory, "FeeCatId", "FeeType"), @ResourceCache.Localize("SelectFeeCategory"), new { @class = "current_button", @title = @ResourceCache.Localize("Fee Category") })
                        </div>
                    </div>
                    <div class=" col-lg-2 col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label><span class="glyphicon glyphicon-asterisk"></span> </div>
                        @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "current_button col-lg-12 ", @title = @ResourceCache.Localize("Class") })
                    </div>
                    <div class="  col-lg-2  col-sm-6 col-xs-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label><span class="glyphicon glyphicon-asterisk"></span> </div>
                        <div>
                            <select id="SectionList" name="SectionList" class="current_button" title="Class col-lg-12">
                                <option value="">@ResourceCache.Localize("SelectSection")</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2">
                        <button type="button" class="btn btn-down btn-sm btn_search filterItem " id="btnPromote_Filter" name="btnPromote_Filter"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
                <div class="box-body col-sm-12" id="section_PromoteSection" style="display:none;">
                    @Html.Partial("~/Views/Shared/Print.cshtml")
                    <div class="box-body" id="show">
                        <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("FeePaidList")</h2>
                        <table class="col-sm-12" border="0">
                            <tr>
                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                <td><b id="Txt_Year"></b></td>
                            </tr>
                            <tr>
                                <td>@ResourceCache.Localize("Cap_FEECATEGORY")</td>
                                <td><b id="Txt_Fee"></b></td>
                            </tr>
                            <tr>
                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                <td><b id="Txt_Class"></b></td>
                            </tr>
                            <tr>
                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                <td><b id="Txt_Sec"></b></td>
                            </tr>                            
                        </table>
                        <table  border="1" class="table table-bordered table-striped">
                            <thead id="thead_studentResults">
                            </thead>
                            <tbody id="tbody_studentResults"></tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AcyearList').val(@Session["List_ChosenAcademicYearId"]);         
            ChangeClassandSection();
            function ChangeClassandSection() {
                $("#SectionList").empty().append('<option value="">Select Section</option>');
                $("#ClassList").empty().append('<option value="">Select Student</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');

                $.getJSON('/FeeManagement/getClass',

               function (data) {
                   $("#ClassList").empty().append('<option value="">Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });

               });
            }
            $('#AcyearList').change(function (event) {
                event.preventDefault();
                var YearId = $('#AcyearList').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            $("#ClassList").change(function () {
                //$("#txt_rNo").val("").html("");
                //$("#div-feeDetais1").hide();
                //$("#div-TermfeeDetais1").hide();
                var cid = $("#ClassList").val();

                $("#SectionList").empty().append('<option value="">Select Section</option>');
                $("#StudentList").empty().append('<option value="">Select Student</option>');

                $.getJSON('/FeeManagement/getSection', { cid: cid },

                function (data) {
                    $("#SectionList").empty().append('<option value="">Select Section</option>');
                    $.each(data, function (i, c) {
                        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                    });

                });

               // $.getJSON('/FeeCollection/getSection', { cid: cid },

               //function (data) {
               //    $("#SectionList").empty().append('<option value="">Select Section</option>');
               //    $.each(data, function (i, c) {
               //        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
               //    });

               //});
            });
        var std_count;
        var acid, cid, secid;
        $('#btnPromote_Filter').click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcyearList') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear").');
                    }
                    if (null_id == 'ClassList') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass").');
                    }
                    if (null_id == 'SectionList') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection").');
                    }
                    if (null_id == 'FeeCatList') {
                        a.push('@ResourceCache.Localize("PleaseSelectFeeCategory")');
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                displayStudentResult();
            }
        });
        function displayStudentResult() {
            var Termids = [];
            var columns_count;
            var main_count;
            acid = $("#AcyearList").val();
            cid = $("#ClassList").val();
            secid = $("#SectionList").val();
            fid = $("#FeeCatList").val();
            values = { acid: acid }
            $.ajax({
                url: '/FeeManagement/getTerms',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $('#Txt_Year').text($('#AcyearList option:selected').text());
                    $('#Txt_Class').text($('#ClassList option:selected').text());
                    $('#Txt_Sec').text($('#SectionList option:selected').text());
                    $('#Txt_Fee').text($('#FeeCatList option:selected').text());
                  
                    $("#errorMsg").text("");
                    $("#div_Error").hide();
                    $("#thead_studentResults").empty();
                    var row1 = "<tr><th>@ResourceCache.Localize("RegisterId")</th><th>@ResourceCache.Localize("Name")</th><th>@ResourceCache.Localize("RollNumber")</th><th>@ResourceCache.Localize("Annual")</th>";
                        var row2 = null;
                       // console.log(data);
                        $.each(data, function (i, v) {
                            Termids[i] = v.TermID;
                            row2 = row2 + "<th  id=" + Termids[i] + ">" + v.TermName + "</th>";
                            columns_count = i;
                        });
                        var row = row1 + row2 + "</tr>";
                        $("#thead_studentResults").append(row);
                        values = { acid: acid, cid: cid, secid: secid, fid: fid };
                        $.ajax({
                            url: '/FeeManagement/StudentsFeePaidList',
                            type: 'POST',
                            data: JSON.stringify(values),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (list) {
                                main_count = list.ans_count;
                                if (list.ans_count == 0) {
                                    $("#section_PromoteSection").hide();
                                    $(".NoRecords").show();
                                }
                                else {
                                    $(".NoRecords").hide();
                                    $("#section_PromoteSection").show();
                                    $("#tbody_studentResults").empty();
                                    var main_row = null;
                                    var columns1 = null;
                                    var column = null;
                                    var xxx, yyy;
                                    var flag = 0;
                                    var rno = [];
                                    var amt_term;
                                    $.each(list.ans, function (i, v) {
                                        var flag1 = 0;
                                        std_count = i + 1;
                                        rno.push(v.RollNumber);
                                        columns1 = "<tr><td>" + v.StudentID + "</td><td>" + v.StudentName + "</td><td>" + v.RollNumber + "</td>";
                                        var columns2 = null;
                                        flag = 0;
                                        var col_single = null;
                                        $.each(list.result, function (k, v1) {
                                            if (v1.PaymentTypeId == 0 && v.StudentID == v1.StudentID) {
                                                flag1 = flag1 + 1;
                                                yyy = "<td style='color:red;'><label>" + v1.Amount + "</label></td>";
                                                col_single = yyy;
                                            }
                                        });
                                        if (flag1 == 0) {
                                            flag1 = 0;
                                            yyy = "<td>NULL</td>";
                                            col_single = yyy;
                                        }
                                        for (var j = 0; j <= columns_count; j++) {
                                            $.each(list.result, function (k, v1) {
                                                flag = flag + 1;
                                                if (v1.PaymentTypeId == Termids[j] && v.StudentID == v1.StudentID) {
                                                    flag = flag - 1;
                                                    xxx = "<td style='color:red;'><label>" + v1.Amount + "</label></td>";
                                                }
                                            });
                                            if (flag == main_count - 1) {
                                                flag = 0;
                                                columns2 = columns2 + xxx;
                                            }
                                            else if (flag == main_count) {
                                                flag = 0;
                                                xxx = "<td>NULL</td>";
                                                columns2 = columns2 + xxx;
                                            }
                                        }
                                        main_row = columns1 + col_single + columns2 + "</tr>";
                                        $("#tbody_studentResults").append(main_row);
                                    });
                                }
                            }
                        });
                    }
                });
            }
        });

    </script>
}