﻿@model IEnumerable<eAcademy.Models.ClassSection>
@using eAcademy.Models;
@{
    ViewBag.Title = "ClassSettings";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Class_Settings")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                @if (ViewBag.count1 > 0)
                {
                    if (ViewBag.count > 0)
                    {
                        using (Html.BeginForm("ClassSettings", "SchoolConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="box-body" id="div_Error" style="display:none;">
                                <div class="alert alert-danger alert-dismissable">
                                    <b>Error!</b>
                                    <div id="errorMsg">
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("Status")</th>
                                                <th>@ResourceCache.Localize("Class")</th>
                                                <th>@ResourceCache.Localize("Time_Schedule")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var items in Model)
                                            {
                                                sno++;
                                                string c = "check" + sno;
                                                string cid = "classid" + sno;
                                                <tr>
                                                    @if (items.Status == true)
                                                    {
                                                        <td><input type="checkbox" id="@c" name="@c" checked /><input type="hidden" id="@cid" name="@cid" value="@items.ClassId" /></td>
                                                    }
                                                    else
                                                    {
                                                        <td><input type="checkbox" id="@c" name="@c" /><input type="hidden" id="@cid" name="@cid" value="@items.ClassId" /></td>
                                                    }
                                                    <td>@items.ClassType </td>
                                                    @if (items.ScheduleID != null && items.ScheduleID != 0)
                                                    {
                                                        <td> @Html.DropDownList("ClassTimeSchedule" + sno, new SelectList(ViewBag.TimeSchedule, "ScheduleID", "txt_Schedule", @items.ScheduleID))</td>
                                                    }
                                                    else
                                                    {
                                                        <td> @Html.DropDownList("ClassTimeSchedule" + sno, new SelectList(ViewBag.TimeSchedule, "ScheduleID", "txt_Schedule"), @ResourceCache.Localize("Select_Schedule"))</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer no-border">
                                <div class="row">
                                    <div class=" footer">
                                        <button type="button" class="btn btn_double btn-sm btn_save" id="btnAddClassSettings" name="btnAddClassSettings"><i class="fa fa-save"></i> @ResourceCache.Localize("Save")  </button>
                                        @*<button type="reset" class=" btn btn-sm btn_reset" id="btnReset" name="btnReset"><i class="fa fa-refresh "></i>@ResourceCache.Localize("Reset") </button>*@
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.box-footer -->
                        }
                    }
                    else
                    {
                        <div class="box-body">
                            <div class="alert alert-warning alert-dismissable">
                                <b>@ResourceCache.Localize("Warning") !</b>
                                <div>@ResourceCache.Localize("Please_Complete_Time_Scheduling")</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="box-body">
                        <div class="alert alert-warning alert-dismissable">
                            <b>@ResourceCache.Localize("Warning") !</b>
                            <div>@ResourceCache.Localize("Please_Complete_Basic_Settings_&_Time_Scheduling")</div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $("#btnAddClassSettings").click(function () {
            var c = 15;
            var Status = [];
            var ClassId = [];
            var ScheduleId = [];
            for (var i = 0; i < c; i++) {
                var check = $("#check" + (i + 1)).is(':checked');
                ClassId[i] = $("#classid" + (i + 1)).val();
                ScheduleId[i] = $("#ClassTimeSchedule" + (i + 1)).val();
                if (check == true) {
                    Status[i] = true;
                    if (ScheduleId[i] == "" || ScheduleId[i] == null) {
                        $("#div_Error").show();
                        $("#errorMsg").text("@ResourceCache.Localize("Choose_time_schedule_for_selected_classes")");
                        return false;
                    }
                }
                if (check == false) {
                    Status[i] = false;
                }
            }
            var values = {
                Status: Status,
                ClassID: ClassId,
                ScheduleID: ScheduleId,
            };
            $("#Loading_Sec").addClass("loading-new");
          
            $.ajax({
                url: '/SchoolConfiguration/ClassSettings',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jsonError").hide();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $("#div_Error").hide();
                        $(".jsonError").hide();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        return false;
                       
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jsonError").hide();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
                }
            });
        });
    </script>
}