﻿@model eAcademy.Models.SaveSchoolSettings
@using eAcademy.Models;
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("BasicSchoolSettings")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                @if (ViewBag.EditId != null)
                {
                    using (Html.BeginForm("EditSettings", "SchoolConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            <input type="hidden" id="sid" name="sid" value="@ViewBag.EditId" />
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("SchoolDetails") </h3>
                                    </div>
                                    <div class="box-body row border-radius-none  ">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SchoolCode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_schoolcode" maxlength="10" name="txt_schoolcode" value="@ViewBag.schoolCode" placeholder="@ResourceCache.Localize("SchoolCode")" title="@ResourceCache.Localize("SchoolCode")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SchoolName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_schoolName" maxlength="150" name="txt_schoolName" value="@ViewBag.schoolName" placeholder="@ResourceCache.Localize("SchoolName")" title="@ResourceCache.Localize("SchoolName")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div>
                                                <div><label class="input-label-sm">@ResourceCache.Localize("SchoolLogo")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div>
                                                    <div><input type="file" id="uploadfile" name="uploadfile" accept="image/png" title="@ResourceCache.Localize("SchoolLogo")" placeholder="@ResourceCache.Localize("SelectLogo")" /></div>
                                                </div>
                                                <p>@ResourceCache.Localize("Choosepngimageformat")</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div class="col-sm-12"><img src="~/img/logo.png" id="Edit_choosenImg" class="logo_img" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("AddressDetails")</h3>
                                    </div>
                                    <div class="box-body row border-radius-none ">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine1")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Address1" maxlength="100" name="txt_Address1" value="@ViewBag.Address1" placeholder="@ResourceCache.Localize("AddressLine1")" title="@ResourceCache.Localize("AddressLine1")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine2")</label> </div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Address2" maxlength="100" name="txt_Address2" value="@ViewBag.Address2" placeholder="@ResourceCache.Localize("AddressLine2")" title="@ResourceCache.Localize("AddressLine2")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("City")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_City" maxlength="50" name="txt_City" value="@ViewBag.City" placeholder="@ResourceCache.Localize("City")" title="@ResourceCache.Localize("City")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("State")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_State" maxlength="50" name="txt_State" value="@ViewBag.State" placeholder="@ResourceCache.Localize("State")" title="@ResourceCache.Localize("State")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("ZIPCode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_ZIP" maxlength="6" name="txt_ZIP" value="@ViewBag.Zip" placeholder="@ResourceCache.Localize("ZIPcode")" title="@ResourceCache.Localize("ZIPCode")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Country")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("txt_Country", new SelectList(ViewBag.Country, "CountryName", "CountryName", @ViewBag.Country1), new { @class = "current_button", @title = "Country" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("ContactDetails")</h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="row">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("PhoneNumber1")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Phone1" maxlength="14" name="txt_Phone1" value="@ViewBag.Phone1" placeholder="@ResourceCache.Localize("PhoneNumber1")" title="@ResourceCache.Localize("PhoneNumber1")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("PhoneNumber2")</label> </div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Phone2" maxlength="14" name="txt_Phone2" value="@ViewBag.Phone2" placeholder="@ResourceCache.Localize("PhoneNumber2")" title="@ResourceCache.Localize("PhoneNumber2")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("MobileNumber1")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Mobile1" maxlength="10" name="txt_Mobile1" value="@ViewBag.Mobile1" placeholder="@ResourceCache.Localize("MobileNumber1")" title="@ResourceCache.Localize("MobileNumber1")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("MobileNumber2")</label><span class="glyphicon glyphicon-asterisk"></span> </div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Mobile2" maxlength="10" name="txt_Mobile2" value="@ViewBag.Mobile12" placeholder="@ResourceCache.Localize("MobileNumber2")" title="@ResourceCache.Localize("MobileNumber2")" /></div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("Fax")</label> <span class="glyphicon glyphicon-asterisk"> </span></div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Fax" maxlength="14" name="txt_Fax" value="@ViewBag.Fax" placeholder="@ResourceCache.Localize("Fax")" title="@ResourceCache.Localize("Fax")" /></div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("Email")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Email" maxlength="70" name="txt_Email" value="@ViewBag.Email" placeholder="@ResourceCache.Localize("Email")" title="@ResourceCache.Localize("Email")" /></div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("WebsiteURL")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Website" maxlength="50" name="txt_Website" value="@ViewBag.Website" placeholder="@ResourceCache.Localize("WesiteURL")" title="@ResourceCache.Localize("Website")" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("UserIDFormat")</h3>
                                    </div>
                                    <div class="box-body row border-radius-none ">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("StudentIDFormat") (@ResourceCache.Localize("Thiscodewillbeusedastheprefixforstudentregisternumber")) <span class="glyphicon glyphicon-asterisk"></span> </label> </div>
                                            <div>
                                                <input type="text" id="txt_stdIdFormat" name="txt_stdIdFormat" value="@ViewBag.stdIdFormat" placeholder="S#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("StudentIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("ParentIDFormat") (@ResourceCache.Localize("Thiscodewillbeusedastheprefixforparentregisternumber")) <span class="glyphicon glyphicon-asterisk"></span></label>  </div>
                                            <div>
                                                <input type="text" id="txt_parentIdFormat" name="txt_parentIdFormat" value="@ViewBag.parentIdFormat" placeholder="P#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("ParentIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeIDFormat") (@ResourceCache.Localize("ThiscodewillbeusedastheprefixforEmployeeregisternumber")) <span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                            <div>
                                                <input type="text" id="txt_staffIdFormat" name="txt_staffIdFormat" value="@ViewBag.StaffIdFormat" placeholder="F#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("EmployeeIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("OtherEmployeeIDFormat") (@ResourceCache.Localize("ThiscodewillbeusedastheprefixforOtherEmployeeregisternumber")) <span class="glyphicon glyphicon-asterisk"></span> </label> </div>
                                            <div>
                                                <input type="text" id="txt_nonStaffIdFormat" name="txt_nonStaffIdFormat" value="@ViewBag.Non_StaffIdFormat" placeholder="E#YY#MM#Number#" title="@ResourceCache.Localize("OtherEmployeeIDFormat")" class="col-sm-12 current_button" maxlength="10" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("OtherDetails") </h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("CurrencyType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div>
                                                    @Html.DropDownList("txt_Currency", new SelectList(ViewBag.Currency, "id", "symbol", @ViewBag.Currency1), new { @class = "current_button", @title = "Currency" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("ServicesTax") (%)</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                                <div>
                                                    <input type="text" class="col-sm-12 current_button" id="txt_Tax" name="txt_Tax" value="@ViewBag.tax" placeholder="Services Tax" title="@ResourceCache.Localize("ServicesTax")" maxlength="6" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("VAT") (%)</label> </div>
                                                <div>
                                                    <input type="text" class="col-sm-12 current_button" id="txt_VAT" name="txt_VAT" value="@ViewBag.VAT" placeholder="@ResourceCache.Localize("VAT")" title="@ResourceCache.Localize("VAT")" maxlength="6" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("DayOrder")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div>
                                                    @Html.DropDownList("txt_dayOrder", new SelectList(ViewBag.DayOrderList, "dayorderId", "value", @ViewBag.dayOrder), new { @class = "current_button col-sm-12", @title = @ResourceCache.Localize("DayOrder") })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @if (ViewBag.markformat == "Mark")
                                            {
                                                <div class="col-sm-4 col-lg-3">
                                                    <div><label class="input-label-sm"> @ResourceCache.Localize("MarkingSchemeFormat") </label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                    <div>
                                                        <select class="col-sm-12 current_button" required id="txt_markFormat" name="txt_markFormat" title="@ResourceCache.Localize("MarkingSchemeFormat")">
                                                            <option selected value="Mark">@ViewBag.markformat</option>
                                                            <option value="Grade">Grade</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-4 col-lg-3">
                                                    <div><label class="input-label-sm">@ResourceCache.Localize("MarkingSchemeFormat")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                    <div>
                                                        <select class="col-sm-12 current_button" required id="txt_markFormat" name="txt_markFormat" title="@ResourceCache.Localize("MarkingSchemeFormat")">
                                                            <option value="Mark">Mark</option>
                                                            <option selected value="Grade">@ViewBag.markformat</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            @if (ViewBag.formformat == "Single Form")
                                            {
                                                <div class="col-sm-4 col-lg-3">
                                                    <div><label class="input-label-sm"> @ResourceCache.Localize("EnrollmentFormFormat") </label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                    <div>
                                                        <select class="col-sm-12 current_button" id="txt_formFormat" name="txt_formFormat" title="@ResourceCache.Localize("EnrollmentFormFormat")">
                                                            <option selected value="Single Form">@ViewBag.formformat</option>
                                                            <option value="Step Form">Step Form</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-4 col-lg-3">
                                                    <div><label class="input-label-sm"> @ResourceCache.Localize("EnrollmentFormFormat") </label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                    <div>
                                                        <select class="col-sm-12 current_button" id="txt_formFormat" name="txt_formFormat" title="@ResourceCache.Localize("EnrollmentFormFormat")">
                                                            <option selected disabled>Select</option>
                                                            <option value="Single Form">Single Form</option>
                                                            <option selected value="Step Form">@ViewBag.formformat</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("Features")</label></div>
                                                <div>
                                                    @{
                        if (ViewBag.Transport == true)
                        {
                                    <input type="checkbox" name="Transport" value="Transport" class="chkNumber" checked><label class="input-label-sm">@ResourceCache.Localize("Transport")</label>
                        }
                        else
                        {
                                    <input type="checkbox" name="Transport" value="Transport" class="chkNumber"><label class="input-label-sm">@ResourceCache.Localize("Transport")</label>
                        }
                        if (ViewBag.hostel == true)
                        {
                                    <input type="checkbox" name="Hostel" value="Hostel" class="chkNumber1" checked><label class="input-label-sm">@ResourceCache.Localize("Hostel")</label>
                        }
                        else
                        {
                                    <input type="checkbox" name="Hostel" value="Hostel" class="chkNumber1"><label class="input-label-sm">@ResourceCache.Localize("Hostel")</label>
                        }

}
                                                    </div>
                                                </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("Communication")</label></div>
                                                <div>
                                                                                                                                                            @{
                        if (ViewBag.Email1 == true)
                        {
                                                <input type="checkbox" name="Email" value="Email" class="chkNumber" checked><label class="input-label-sm">@ResourceCache.Localize("Email")</label>
                        }
                        else
                        {
                                                <input type="checkbox" name="Email" value="Email" class="chkNumber"><label class="input-label-sm">@ResourceCache.Localize("Email")</label>
                        }
                        if (ViewBag.Sms == true)
                        {
                                                <input type="checkbox" name="Sms" value="Sms" class="chkNumber1" checked><label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                        }
                        else
                        {
                                                <input type="checkbox" name="Sms" value="Sms" class="chkNumber1"><label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                        }
                        if (ViewBag.App == true)
                        {
                                                <input type="checkbox" name="App" value="App" class="chkNumber1" checked><label class="input-label-sm">@ResourceCache.Localize("App")</label>
                        }
                        else
                        {
                                                <input type="checkbox" name="App" value="App" class="chkNumber1"><label class="input-label-sm">@ResourceCache.Localize("App")</label>
                        }

}
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div><!-- /.box-body -->

                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="col-sm-12 footer">
                                    <button type="button" class="btn btn-sm btn_update btnregister" id="btnUpdateSettings" name="btnUpdateSettings"><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    }
                }
                else
                {
                    using (Html.BeginForm("Settings", "SchoolConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("SchoolDetails") </h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SchoolCode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_schoolcode" maxlength="10" name="txt_schoolcode" value="@ViewBag.schoolCode" placeholder="@ResourceCache.Localize("SchoolCode")" title="@ResourceCache.Localize("SchoolCode")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SchoolName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>   <input class="col-sm-12 current_button" type="text" id="txt_schoolName" maxlength="150" name="txt_schoolName" placeholder="@ResourceCache.Localize("SchoolName")" title="@ResourceCache.Localize("SchoolName")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SchoolLogo")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input type="file" id="uploadfile" name="uploadfile" accept="image/png" title="@ResourceCache.Localize("SchoolLogo")" /></div>
                                            <label>Choose png image format</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("AddressDetails")</h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine1")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Address1" maxlength="100" name="txt_Address1" placeholder="@ResourceCache.Localize("AddressLine1")" title="@ResourceCache.Localize("AddressLine1")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine2")</label> </div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Address2" maxlength="100" name="txt_Address2" placeholder="@ResourceCache.Localize("AddressLine2")" title="@ResourceCache.Localize("AddressLine2")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("City")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_City" maxlength="50" name="txt_City" placeholder="@ResourceCache.Localize("City")" title="@ResourceCache.Localize("City")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("State")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_State" maxlength="50" name="txt_State" placeholder="@ResourceCache.Localize("State")" title="@ResourceCache.Localize("State")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("ZIPCode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_ZIP" maxlength="6" name="txt_ZIP" placeholder="@ResourceCache.Localize("ZIPCode")" title="@ResourceCache.Localize("ZIPCode")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Country")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("txt_Country", new SelectList(ViewBag.Country, "CountryName", "CountryName"), "Select Country", new { @class = "current_button", @title = @ResourceCache.Localize("ZIPCode") })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("ContactDetails")</h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("PhoneNumber1")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Phone1" maxlength="14" name="txt_Phone1" placeholder="@ResourceCache.Localize("PhoneNumber1")" title="@ResourceCache.Localize("PhoneNumber1")" /></div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("PhoneNumber2")</label> </div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Phone2" maxlength="14" name="txt_Phone2" placeholder="@ResourceCache.Localize("PhoneNumber2")" title="@ResourceCache.Localize("PhoneNumber2")" /></div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("MobileNumber1")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Mobile1" maxlength="10" name="txt_Mobile1" placeholder="@ResourceCache.Localize("MobileNumber1")" title="@ResourceCache.Localize("MobileNumber1")" /></div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("MobileNumber2")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Mobile2" maxlength="10" name="txt_Mobile2" placeholder="@ResourceCache.Localize("MobileNumber2")" title="@ResourceCache.Localize("MobileNumber2")" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Email")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Email" maxlength="70" name="txt_Email" value="" placeholder="@ResourceCache.Localize("Email")" title="@ResourceCache.Localize("Email")" /></div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Fax")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div><input class="col-sm-12 current_button" type="text" id="txt_Fax" maxlength="14" name="txt_Fax" placeholder="@ResourceCache.Localize("Fax")" title="@ResourceCache.Localize("Fax")" /></div>
                                        </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("WebsiteURL")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div><input class="col-sm-12 current_button" type="text" id="txt_Website" maxlength="50" name="txt_Website" value="" placeholder="@ResourceCache.Localize("WesiteURL")" title="@ResourceCache.Localize("Website")" /></div>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">@ResourceCache.Localize("UserIDFormat")</h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("StudentIDFormat") (@ResourceCache.Localize("Thiscodewillbeusedastheprefixforstudentregisternumber")) <span class="glyphicon glyphicon-asterisk"></span></label>  </div>
                                            <div>
                                                <input type="text" id="txt_stdIdFormat" name="txt_stdIdFormat" placeholder="S#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("StudentIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("ParentIDFormat") (@ResourceCache.Localize("Thiscodewillbeusedastheprefixforparentregisternumber")) <span class="glyphicon glyphicon-asterisk"></span></label>  </div>
                                            <div>
                                                <input type="text" id="txt_parentIdFormat" name="txt_parentIdFormat" placeholder="P#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("ParentIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeIDFormat") (@ResourceCache.Localize("ThiscodewillbeusedastheprefixforEmployeeregisternumber")) <span class="glyphicon glyphicon-asterisk"></span> </label>  </div>
                                            <div>
                                                <input type="text" id="txt_staffIdFormat" name="txt_staffIdFormat" placeholder="F#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("EmployeeIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("OtherEmployeeIDFormat") (@ResourceCache.Localize("ThiscodewillbeusedastheprefixforOtherEmployeeregisternumber")) <span class="glyphicon glyphicon-asterisk"></span> </label>  </div>
                                            <div>
                                                <input type="text" id="txt_nonStaffIdFormat" name="txt_nonStaffIdFormat" placeholder="E#YY#MM#Number#" class="col-sm-12 current_button" title="@ResourceCache.Localize("OtherEmployeeIDFormat")" maxlength="10" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget box-solid bg-teal-gradient">
                                    <div class="box-header bg-light-gray">
                                        <h3 class="subHeading">Other Details </h3>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("CurrencyType") </label> <span class="glyphicon glyphicon-asterisk"></span>   </div>
                                                <div>
                                                    @Html.DropDownList("txt_Currency", new SelectList(ViewBag.Currency, "id", "symbol"), "Select Currency", new { @class = "current_button", @title = @ResourceCache.Localize("CurrencyType") })
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("ServiceTax") (%)</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                                <div>
                                                    <input type="text" class="col-sm-12 current_button" id="txt_Tax" name="txt_Tax" placeholder="Services Tax" title="Services Tax" maxlength="6" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm"> @ResourceCache.Localize("VAT") (%)</label> </div>
                                                <div>
                                                    <input type="text" class="col-sm-12  current_button" id="txt_VAT" name="txt_VAT" placeholder="@ResourceCache.Localize("VAT")" title="@ResourceCache.Localize("VAT")" maxlength="6" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm"> @ResourceCache.Localize("DayOrder")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div>
                                                    @Html.DropDownList("txt_dayOrder", new SelectList(ViewBag.DayOrderList, "dayorderId", "value"), "Select DayOrder", new { @class = "current_button col-sm-12", @title = @ResourceCache.Localize("DayOrder") })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm"> @ResourceCache.Localize("MarkingSchemeFormat") </label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div>
                                                    <select class="col-sm-12 current_button" id="txt_markFormat" name="txt_markFormat" title="@ResourceCache.Localize("MarkingSchemeFormat")">
                                                        <option selected disabled>Select</option>
                                                        <option value="Mark">Mark</option>
                                                        <option value="Grade">Grade</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm"> @ResourceCache.Localize("EnrollmentFormFormat") </label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                                <div>
                                                    <select class="col-sm-12 current_button" id="txt_formFormat" name="txt_formFormat" title="@ResourceCache.Localize("EnrollmentFormFormat")">
                                                        <option selected disabled>Select</option>
                                                        <option value="Single Form">Single Form</option>
                                                        <option value="Step Form">Step Form</option>
                                                    </select>
                                                </div>
                                            </div>
                                               <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("Features")</label></div>
                                                <div>
                                                    <input type="checkbox" name="Transport" value="Transport">@ResourceCache.Localize("Transport")<br />
                                                    <input type="checkbox" name="Hostel" value="Hostel" class="checkboxmargin"><label class="input-label-sm">@ResourceCache.Localize("Hostel")</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-lg-3">
                                                <div><label class="input-label-sm">@ResourceCache.Localize("Communication")</label></div>
                                                <div>
                                                    <input type="checkbox" name="Email" value="Email"><label class="input-label-sm">@ResourceCache.Localize("Email")</label>
                                                    <input type="checkbox" name="Sms" value="Sms"><label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                                                    <input type="checkbox" name="App" value="App"><label class="input-label-sm">@ResourceCache.Localize("App")</label>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" box-footer no-border">
                            <div class="row">
                                <div class="col-sm-12 footer">
                                    <button type="button" class="btn btn-sm btn_double btn_submit btnregister" id="btnAddBasicSettings" name="btnAddBasicSettings"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                                    <button type="reset" class=" btn btn-sm btn_reset" id="btnReset" name="btnReset"><i class="fa fa-refresh "></i> @ResourceCache.Localize("Reset") </button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    }
                }
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    /*Basic Settings*/
    $("#txt_schoolName").filter_input({ regex: '[0-9A-Za-z \\.]' });
    $("#txt_schoolcode").filter_input({ regex: '[0-9A-Za-z \\.]' });
    $("#txt_City").filter_input({ regex: '[A-Za-z ]' });
    $("#txt_State").filter_input({ regex: '[A-Za-z ]' });
    $("#txt_Address1").filter_input({ regex: '[0-9A-Za-z \\.&(),-_=]' });
    $("#txt_Address2").filter_input({ regex: '[0-9A-Za-z \\.&(),-_=]' });
    //$("#txt_Phone1").mask("(999) 999-9999");
    //$("#txt_Phone2").mask("(999) 999-9999");
    $("#txt_Phone1").filter_input({ regex: '[0-9-]' });
    $("#txt_Phone2").filter_input({ regex: '[0-9-]' });
    $("#txt_Mobile1").filter_input({ regex: '[0-9]' });
    $("#txt_Mobile2").filter_input({ regex: '[0-9]' });
    $("#txt_Fax").filter_input({ regex: '[0-9-]' });
    $("#txt_ZIP").filter_input({ regex: '[0-9]' });
    $("#txt_parentIdFormat").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_stdIdFormat").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_staffIdFormat").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_nonStaffIdFormat").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_Tax").filter_input({ regex: '[0-9\\.]' });
    $("#txt_VAT").filter_input({ regex: '[0-9\\.]' });
    $("#txt_dayOrder").filter_input({ regex: '[0-9]' });
    var xxxxxx;
    var hostel = false;
    var transport = false;
    var Email = false;
    var Sms = false;
    var App = false;
    if ($('input[name="Transport"]:checked').length > 0)
    {        
        transport = true;
    }
    else {     
        transport = false;
    }
    if ($('input[name="Hostel"]:checked').length > 0) {        
        hostel = true;
    }
    else {        
        hostel = false;
    }
    if ($('input[name="Email"]:checked').length > 0) {
        Email = true;
    }
    else {
        Email = false;
    }
    if ($('input[name="Sms"]:checked').length > 0) {
        Sms = true;
    }
    else {
        Sms = false;
    }
    if ($('input[name="App"]:checked').length > 0) {
        App = true;
    }
    else {
        App = false;
    }


    $("#btnAddBasicSettings").click(function () {
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        var bool = jsFormValidation();
        if ($('input[name="Transport"]:checked').length > 0) {            
            transport = true;
        }
        else {            
            transport = false;
        }
        if ($('input[name="Hostel"]:checked').length > 0) {            
            hostel = true;
        }
        else {            
            hostel = false;
        }
        if ($('input[name="Email"]:checked').length > 0) {
            Email = true;
        }
        else {
            Email = false;
        }
        if ($('input[name="Sms"]:checked').length > 0) {
            Sms = true;
        }
        else {
            Sms = false;
        }
        if ($('input[name="App"]:checked').length > 0) {
            App = true;
        }
        else {
            App = false;
        }
        if (bool == true) {
            var values = {
                txt_schoolName: $("#txt_schoolName").val(),
                txt_Address1: $("#txt_Address1").val(),
                txt_Address2: $("#txt_Address2").val(),
                txt_City: $("#txt_City").val(),
                txt_State: $("#txt_State").val(),
                txt_ZIP: $("#txt_ZIP").val(),
                txt_Country: $("#txt_Country").val(),
                txt_Phone1: $("#txt_Phone1").val(),
                txt_Phone2: $("#txt_Phone2").val(),
                txt_Mobile1: $("#txt_Mobile1").val(),
                txt_Mobile2: $("#txt_Mobile2").val(),
                txt_Website: $("#txt_Website").val(),
                txt_Email: $("#txt_Email").val(),
                txt_Fax: $("#txt_Fax").val(),
                txt_stdIdFormat: $("#txt_stdIdFormat").val(),
                txt_staffIdFormat: $("#txt_staffIdFormat").val(),
                txt_nonStaffIdFormat: $("#txt_nonStaffIdFormat").val(),
                txt_Currency: $("#txt_Currency").val(),
                txt_dayOrder: $("#txt_dayOrder").val(),
                txt_markFormat: $("#txt_markFormat").val(),
                txt_Tax: $("#txt_Tax").val(),
                txt_VAT: $("#txt_VAT").val(),
                txt_formFormat: $("#txt_formFormat").val(),
                txt_schoolcode: $("#txt_schoolcode").val(),
                txt_parentIdFormat: $("#txt_parentIdFormat").val(),
                TransportRequired: transport,
                HostelRequired: hostel,
                EmailRequired:Email,
                SmsRequired:Sms,
                AppRequired:App,
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/SchoolConfiguration/Settings',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        var FileName = $("#uploadfile").val();
                        var formData = new FormData();
                        if (FileName != null && FileName != "") {
                            var ext = $('#uploadfile').val().split('.').pop().toLowerCase();
                            if ($.inArray(ext, ['png']) == -1) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html("@ResourceCache.Localize("Schoollogoshouldbein.pngformat")").val("@ResourceCache.Localize("Schoollogoshouldbein.pngformat")");
                                return false;
                            }
                            var files = $("#uploadfile").get(0).files;
                            if (files.length > 0) {
                                formData.append("uploadfile", files[0]);
                            }
                        }
                        formData.append("sid", jQuery('#sid').val());
                        formData.append("txt_schoolName", jQuery('#txt_schoolName').val());
                        formData.append("txt_Address1", jQuery('#txt_Address1').val());
                        formData.append("txt_Address2", jQuery('#txt_Address2').val());
                        formData.append("txt_City", jQuery('#txt_City').val());
                        formData.append("txt_State", jQuery('#txt_State').val());
                        formData.append("txt_ZIP", jQuery('#txt_ZIP').val());
                        formData.append("txt_Country", jQuery('#txt_Country').val());
                        formData.append("txt_Phone1", jQuery('#txt_Phone1').val());
                        formData.append("txt_Phone2", jQuery('#txt_Phone2').val());
                        formData.append("txt_Mobile1", jQuery('#txt_Mobile1').val());
                        formData.append("txt_Mobile2", jQuery('#txt_Mobile2').val());
                        formData.append("txt_Website", jQuery('#txt_Website').val());
                        formData.append("txt_Email", jQuery('#txt_Email').val());
                        formData.append("txt_Fax", jQuery('#txt_Fax').val());
                        formData.append("txt_stdIdFormat", jQuery('#txt_stdIdFormat').val());
                        formData.append("txt_staffIdFormat", jQuery('#txt_staffIdFormat').val());
                        formData.append("txt_nonStaffIdFormat", jQuery('#txt_nonStaffIdFormat').val());
                        formData.append("txt_Currency", jQuery('#txt_Currency').val());
                        formData.append("txt_dayOrder", jQuery('#txt_dayOrder').val());
                        formData.append("txt_markFormat", jQuery('#txt_markFormat').val());
                        formData.append("txt_Tax", jQuery('#txt_Tax').val());
                        formData.append("txt_VAT", jQuery('#txt_VAT').val());
                        formData.append("txt_formFormat", jQuery('#txt_formFormat').val());
                        formData.append("txt_schoolcode", jQuery('#txt_schoolcode').val());
                        formData.append("txt_parentIdFormat", jQuery('#txt_parentIdFormat').val());
                        formData.append("TransportRequired", transport);
                        formData.append("HostelRequired", hostel);
                        formData.append("EmailRequired", Email);
                        formData.append("SmsRequired", Sms);
                        formData.append("AppRequired", App);
                        $("#Loading_Sec").addClass("loading-new");
                        $.ajax({
                            url: '/SchoolConfiguration/SaveSettings',
                            type: 'POST',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                var totalError = data.ex;
                                var li = [];
                                if (data.Success == 0) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonError").show();
                                    $(".jErr").append().empty();
                                    $.each(totalError, function (i, v) {
                                        if (totalError[i] != "" && totalError[i] != null) {
                                            li = $("<li></li>").text(totalError[i]);
                                            $(".jErr").append(li);
                                        }
                                    });
                                    $('html,body').animate({
                                        // scroll to end of page
                                        scrollTop: 0
                                    }, 700);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                else {
                                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                        $(".jsonError").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonErrorMsg").show();
                                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                        $('html,body').animate({
                                            // scroll to end of page
                                            scrollTop: 0
                                        }, 700);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.Message != "" && data.Message != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").show();
                                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                                        $('html,body').animate({
                                            // scroll to end of page
                                            scrollTop: 0
                                        }, 700);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonExceptionMsg").show();
                                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                        $('html,body').animate({
                                            // scroll to end of page
                                            scrollTop: 0
                                        }, 700);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                }
                            }
                        });
                    }
                }
            });
        }
    });
    $("#btnUpdateSettings").click(function () {
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        var bool = jsFormValidation();


        if ($('input[name="Transport"]:checked').length > 0) {
            transport = true;
        }
        else {
            transport = false;
        }
        if ($('input[name="Hostel"]:checked').length > 0) {
            hostel = true;
        }
        else {
            hostel = false;
        }
        if ($('input[name="Email"]:checked').length > 0) {
            Email = true;
        }
        else {
            Email = false;
        }
        if ($('input[name="Sms"]:checked').length > 0) {
            Sms = true;
        }
        else {
            Sms = false;
        }
        if ($('input[name="App"]:checked').length > 0) {
            App = true;
        }
        else {
            App = false;
        }
        if (bool == true) {
            var values = {
                sid: $("#sid").val(),
                txt_schoolName: $("#txt_schoolName").val(),
                txt_Address1: $("#txt_Address1").val(),
                txt_Address2: $("#txt_Address2").val(),
                txt_City: $("#txt_City").val(),
                txt_State: $("#txt_State").val(),
                txt_ZIP: $("#txt_ZIP").val(),
                txt_Country: $("#txt_Country").val(),
                txt_Phone1: $("#txt_Phone1").val(),
                txt_Phone2: $("#txt_Phone2").val(),
                txt_Mobile1: $("#txt_Mobile1").val(),
                txt_Mobile2: $("#txt_Mobile2").val(),
                txt_Website: $("#txt_Website").val(),
                txt_Email: $("#txt_Email").val(),
                txt_Fax: $("#txt_Fax").val(),
                txt_stdIdFormat: $("#txt_stdIdFormat").val(),
                txt_staffIdFormat: $("#txt_staffIdFormat").val(),
                txt_nonStaffIdFormat: $("#txt_nonStaffIdFormat").val(),
                txt_Currency: $("#txt_Currency").val(),
                txt_dayOrder: $("#txt_dayOrder").val(),
                txt_markFormat: $("#txt_markFormat").val(),
                txt_Tax: $("#txt_Tax").val(),
                txt_VAT: $("#txt_VAT").val(),
                txt_formFormat: $("#txt_formFormat").val(),
                txt_schoolcode: $("#txt_schoolcode").val(),
                txt_parentIdFormat: $("#txt_parentIdFormat").val(),
                TransportRequired: transport,
                HostelRequired: hostel,
                EmailRequired: Email,
                SmsRequired: Sms,
                AppRequired: App,
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/SchoolConfiguration/EditSettings',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();

                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $("#Loading_Sec").removeClass("loading-new");

                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        var FileName = $("#uploadfile").val();
                        var formData = new FormData();
                        if (FileName != null && FileName != "") {
                            var ext = $('#uploadfile').val().split('.').pop().toLowerCase();
                            if ($.inArray(ext, ['png']) == -1) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html("@ResourceCache.Localize("Schoollogoshouldbein.pngformat")").val("@ResourceCache.Localize("Schoollogoshouldbein.pngformat")");
                                return false;
                            }
                            var files = $("#uploadfile").get(0).files;
                            if (files.length > 0) {
                                formData.append("uploadfile", files[0]);
                            }
                        }
                        formData.append("sid", jQuery('#sid').val());
                        formData.append("txt_schoolName", jQuery('#txt_schoolName').val());
                        formData.append("txt_Address1", jQuery('#txt_Address1').val());
                        formData.append("txt_Address2", jQuery('#txt_Address2').val());
                        formData.append("txt_City", jQuery('#txt_City').val());
                        formData.append("txt_State", jQuery('#txt_State').val());
                        formData.append("txt_ZIP", jQuery('#txt_ZIP').val());
                        formData.append("txt_Country", jQuery('#txt_Country').val());
                        formData.append("txt_Phone1", jQuery('#txt_Phone1').val());
                        formData.append("txt_Phone2", jQuery('#txt_Phone2').val());
                        formData.append("txt_Mobile1", jQuery('#txt_Mobile1').val());
                        formData.append("txt_Mobile2", jQuery('#txt_Mobile2').val());
                        formData.append("txt_Website", jQuery('#txt_Website').val());
                        formData.append("txt_Email", jQuery('#txt_Email').val());
                        formData.append("txt_Fax", jQuery('#txt_Fax').val());
                        formData.append("txt_stdIdFormat", jQuery('#txt_stdIdFormat').val());
                        formData.append("txt_staffIdFormat", jQuery('#txt_staffIdFormat').val());
                        formData.append("txt_nonStaffIdFormat", jQuery('#txt_nonStaffIdFormat').val());
                        formData.append("txt_Currency", jQuery('#txt_Currency').val());
                        formData.append("txt_dayOrder", jQuery('#txt_dayOrder').val());
                        formData.append("txt_markFormat", jQuery('#txt_markFormat').val());
                        formData.append("txt_Tax", jQuery('#txt_Tax').val());
                        formData.append("txt_VAT", jQuery('#txt_VAT').val());
                        formData.append("txt_formFormat", jQuery('#txt_formFormat').val());
                        formData.append("txt_schoolcode", jQuery('#txt_schoolcode').val());
                        formData.append("txt_parentIdFormat", jQuery('#txt_parentIdFormat').val());
                        formData.append("TransportRequired", transport);
                        formData.append("HostelRequired", hostel);
                        formData.append("EmailRequired", Email);
                        formData.append("SmsRequired", Sms);
                        formData.append("AppRequired", App);
                        $("#Loading_Sec").addClass("loading-new");
                        $.ajax({
                            url: '/SchoolConfiguration/SaveEditSettings',
                            type: 'POST',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                var totalError = data.ex;
                                var li = [];
                                if (data.Success == 0) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonError").show();
                                    $(".jErr").append().empty();
                                    $.each(totalError, function (i, v) {
                                        if (totalError[i] != "" && totalError[i] != null) {
                                            li = $("<li></li>").text(totalError[i]);
                                            $(".jErr").append(li);
                                        }
                                    });
                                    $('html,body').animate({
                                        // scroll to end of page
                                        scrollTop: 0
                                    }, 700);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                else {
                                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                        $(".jsonError").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonErrorMsg").show();
                                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                        $('html,body').animate({
                                            // scroll to end of page
                                            scrollTop: 0
                                        }, 700);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.Message != "" && data.Message != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").show();
                                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                                        $('html,body').animate({
                                            // scroll to end of page
                                            scrollTop: 0
                                        }, 700);
                                        $("#Loading_Sec").removeClass("loading-new");

                                    }
                                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonExceptionMsg").show();
                                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                        $('html,body').animate({
                                            // scroll to end of page
                                            scrollTop: 0
                                        }, 700);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                }
                            }
                        });
                    }
                }
            });
        }
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_schoolcode') {
                    a.push('@ResourceCache.Localize("School_code_is_required").');
                }
                if (null_id == 'txt_schoolName') {
                    a.push('@ResourceCache.Localize("School_name_is_required").');
                }
                if (null_id == 'txt_Address1') {
                    a.push('@ResourceCache.Localize("AddressLine1_name_is_required").');
                }
                if (null_id == 'txt_City') {
                    a.push('@ResourceCache.Localize("City_is_required").');
                }
                if (null_id == 'txt_State') {
                    a.push('@ResourceCache.Localize("State_is_required").');
                }
                if (null_id == 'txt_ZIP') {
                    a.push('@ResourceCache.Localize("Zip_code_is_required").');
                }
                if (null_id == 'txt_Country') {
                    a.push('@ResourceCache.Localize("Country_is_required").');
                }
                if (null_id == 'txt_Phone1') {
                    a.push('@ResourceCache.Localize("Phone_Number1_is_required").');
                }
                if (null_id == 'txt_Mobile1') {
                    a.push('@ResourceCache.Localize("Mobile_Number1_is_required").');
                }
                if (null_id == 'txt_Mobile2') {
                    a.push('@ResourceCache.Localize("Mobile_Number2_is_required").');
                }
                if (null_id == 'txt_Fax') {
                    a.push('@ResourceCache.Localize("Fax_is_required").');
                }
                if (null_id == 'txt_Email') {
                    a.push('@ResourceCache.Localize("Email_is_required").');
                }
                if (null_id == 'txt_Website') {
                    a.push('@ResourceCache.Localize("Website_URL_is_required").');
                }
                if (null_id == 'txt_stdIdFormat') {
                    a.push('@ResourceCache.Localize("Student_ID_format_is_required").');
                }
                if (null_id == 'txt_parentIdFormat') {
                    a.push('@ResourceCache.Localize("Parent_ID_format_is_required").');
                }
                if (null_id == 'txt_staffIdFormat') {
                    a.push('@ResourceCache.Localize("Staff_ID_format_is_required").');
                }
                if (null_id == 'txt_nonStaffIdFormat') {
                    a.push('@ResourceCache.Localize("Non_Staff_ID_format_is_required").');
                }
                if (null_id == 'txt_Currency') {
                    a.push('@ResourceCache.Localize("Currency_type_is_required").');
                }
                if (null_id == 'txt_Tax') {
                    a.push('@ResourceCache.Localize("Services_tax_is_required").');
                }
                if (null_id == 'txt_dayOrder') {
                    a.push('@ResourceCache.Localize("Day_order_is_required").');
                }
                if (null_id == 'txt_markFormat') {
                    a.push('@ResourceCache.Localize("Marking_scheme_format_is_required").');
                }
                if (null_id == 'txt_formFormat') {
                    a.push('@ResourceCache.Localize("Enrollment_form_format_is_required").');
                }
            }
            else {
                if (field_name == 'txt_schoolcode') {
                    var sname = $("#txt_schoolcode").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 10) {
                            a.push('@ResourceCache.Localize("School_code_should_contain_3_characters_can_not_exceed_10_characters").');
                        }
                    }
                }
                if (field_name == 'txt_schoolName') {
                    var sname = $("#txt_schoolName").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 200) {
                            a.push('@ResourceCache.Localize("School_name_should_contain_3_characters_can_not_exceed_200_characters").');
                        }
                    }
                }
                if (field_name == 'txt_Address1') {
                    var sname = $("#txt_Address1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 100) {
                            a.push('@ResourceCache.Localize("Adress_line1_can_not_exceed_100_characters").');
                        }
                    }
                }
                if (field_name == 'txt_Address2') {
                    var sname = $("#txt_Address2").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 100) {
                            a.push('@ResourceCache.Localize("Adress_line2_can_not_exceed_100_characters").');
                        }
                    }
                }
                if (field_name == 'txt_City') {
                    var sname = $("#txt_City").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 50) {
                            a.push('@ResourceCache.Localize("City_should_contain_3_characters_can_not_exceed_50_characters").');
                        }
                    }
                }
                if (field_name == 'txt_State') {
                    var sname = $("#txt_State").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 2 || snameLength > 50) {
                            a.push('@ResourceCache.Localize("State_should_contain_2_characters_can_not_exceed_50_characters").');
                        }
                    }
                }
                if (field_name == 'txt_ZIP') {
                    var sname = $("#txt_ZIP").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 6 || snameLength > 6) {
                            a.push('@ResourceCache.Localize("Zip_code_should_contain_6_digit_can_not_exceed_6_digit").');
                        }
                    }
                }
                if (field_name == 'txt_Phone1') {
                    var sname = $("#txt_Phone1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 10) {
                            a.push('@ResourceCache.Localize("Phone_number1_can_contains_minimum_10_digit").');
                        }
                        else if (snameLength > 14) {
                            a.push('@ResourceCache.Localize("Phone_number1_can_not_exceed_14_digit").');
                        }
                    }
                }
                if (field_name == 'txt_Phone2') {
                    var sname = $("#txt_Phone2").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 10) {
                            a.push('@ResourceCache.Localize("Phone_number2_can_contains_minimum_10_digit").');
                        }
                        else if (snameLength > 14) {
                            a.push('@ResourceCache.Localize("Phone_number2_can_not_exceed_14_digit").');
                        }
                    }
                }
                if (field_name == 'txt_Mobile1') {
                    var sname = $("#txt_Mobile1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 10 || snameLength > 10) {
                            a.push('@ResourceCache.Localize("Mobile_number1_should_contain_10_digit_can_not_exceed_10_digit").');
                        }
                    }
                }
                if (field_name == 'txt_Mobile2') {
                    var sname = $("#txt_Mobile2").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 10 || snameLength > 10) {
                            a.push('@ResourceCache.Localize("Mobile_number2_should_contain_10_digit_can_not_exceed_10_digit").');
                        }
                    }
                }
                if (field_name == 'txt_Fax') {
                    var sname = $("#txt_Fax").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 14 || snameLength < 10) {
                            a.push('@ResourceCache.Localize("FAX_can_not_exceed_14_digit").');
                        }
                    }
                }
                if (field_name == 'txt_Email') {
                    var sname = $("#txt_Email").val();
                    if (sname != '') {
                        var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                        if (!emailReg.test(sname)) {
                            a.push('@ResourceCache.Localize("Invalid_email_address").');
                        }
                        else {
                            var snameLength = sname.length;
                            if (snameLength > 70) {
                                a.push('@ResourceCache.Localize("Email_can_not_exceed_70_characters").');
                            }
                        }
                    }
                }
                if (field_name == 'txt_Website') {
                    var sname = $("#txt_Website").val();
                    if (sname != '') {
                        var regexp = new RegExp("^http(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$");
                        if (!regexp.test(sname)) {
                            a.push('@ResourceCache.Localize("Please_enter_a_valid_url").');
                        }
                        else {
                            var snameLength = sname.length;
                            if (snameLength > 50) {
                                a.push('@ResourceCache.Localize("Website_URL_can_not_exceed_50_characters").');
                            }
                        }
                    }
                }
                if (field_name == 'txt_stdIdFormat') {
                    var sname = $("#txt_stdIdFormat").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 10) {
                            a.push('@ResourceCache.Localize("Student_ID_format_can_not_exceed_10_digit").');
                        }
                    }
                }
                if (field_name == 'txt_parentIdFormat') {
                    var sname = $("#txt_parentIdFormat").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 10) {
                            a.push('@ResourceCache.Localize("Parent_ID_format_can_not_exceed_10_digit").');
                        }
                    }
                }
                if (field_name == 'txt_staffIdFormat') {
                    var sname = $("#txt_staffIdFormat").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 10) {
                            a.push('@ResourceCache.Localize("Staff_ID_format_can_not_exceed_10_digit").');
                            }
                        }
                    }
                    if (field_name == 'txt_nonStaffIdFormat') {
                        var sname = $("#txt_nonStaffIdFormat").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 10) {
                                a.push('@ResourceCache.Localize("Non_Staff_ID_format_can_not_exceed_10_digit").');
                            }
                        }
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                $('html,body').animate({
                    // scroll to end of page
                    scrollTop: 0
                }, 700);
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Edit_choosenImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#uploadfile").change(function () {
            readURL(this);
        });
    </script>
}