﻿@model IEnumerable<eAcademy.Models.TimePeriodSchedule>
@using eAcademy.Models;
@{
    ViewBag.Title = "TimeSettings";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<style>
    #schedule_Error {
        color: crimson !important;
    }
</style>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Time_Scheduling")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")

                @if (ViewBag.count > 0)
                {
                    <form id="form1_TimeScheduling">
                        <div class="box-body" id="div_Error" style="display:none;">
                            <div class="alert alert-danger alert-dismissable">
                                <b>Error!</b>
                                <div id="schedule_Error">
                                </div>
                                <div id="errorMsg">
                                </div>
                                <div id="adderrorMsg">
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Schedule_Name")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="txt_Schedule" name="txt_Schedule" placeholder="@ResourceCache.Localize("Schedule_Name")" class="col-xs-12 col-sm-12 col-md-6" title="@ResourceCache.Localize("Schedule_Name")" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="btn-down">
                                        <input type="checkbox" id="check_Schedule" name="check_Schedule" checked title="Schedule Status" /> <label class="input-label-sm">@ResourceCache.Localize("Status")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-12  col-xs-12">
                                    <table class="table table-bordered table-striped itemlist">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("Period/Break")</th>
                                                <th>@ResourceCache.Localize("Type") </th>
                                                <th>@ResourceCache.Localize("Start_Time")</th>
                                                <th>@ResourceCache.Localize("End_Time") <input type="hidden" id="count" name="count" value="1" /></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_itemlist">
                                            <tr>
                                                <td><input type="text" id="txt_Period1" name="txt_Period1" placeholder="Period/Break" class="col-xs-12 txt_Period" title="Period/Break" maxlength="20" /></td>
                                                <td>
                                                    <select class="col-xs-12" id="txt_Type1" name="txt_Type1">
                                                        <option selected value="0" disabled>@ResourceCache.Localize("Select_Type")</option>
                                                        <option value="Period">@ResourceCache.Localize("Period")</option>
                                                        <option value="Break">@ResourceCache.Localize("Break")</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" id="txt_StartTime1" name="txt_StartTime1" placeholder="@ResourceCache.Localize("Start_Time")" class="txt_StartTime col-xs-12 tpicker1" title="@ResourceCache.Localize("Start_Time")" readonly /></td>
                                                <td><input type="text" id="txt_EndTime1" name="txt_EndTime1" placeholder="@ResourceCache.Localize("End_Time")" class="txt_EndTime col-xs-12 tpicker2" title="@ResourceCache.Localize("End_Time")" readonly /></td>
                                            </tr>
                                        </tbody>
                                        <tbody id="tbody_edititemlist" style="display:none"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="addrow1">
                                <div class="col-sm-12">
                                    <a id="additem" name="additem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("Add_Row")</i> </a> / <a id="ibtnDel" name="del" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete_Row")</i></a>
                                </div>
                            </div>
                            <div id="addrow2" style="display:none;">
                                <div class="col-sm-12">
                                    <a id="additem1" name="additem1" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("Add_Row")</i> </a> / <a id="ibtnDel1" name="del1" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete_Row")</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer foot_row" id="footer1">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddSchedule" name="btnAddSchedule"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                            <button type="reset" class=" btn btn-sm btn_reset" id="btnReset" name="btnReset"><i class="fa fa-refresh "></i>@ResourceCache.Localize("Reset") </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer" id="footer2" style="display:none;">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdateSchedule" name="btnUpdateSchedule"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                            <button type="reset" class=" btn btn-sm btn_cancel" id="btnReset1" name="btnReset1"><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </form>
                }
                else
                {
                    <div class="box-body">
                        <div class="alert alert-warning alert-dismissable">
                            <b>@ResourceCache.Localize("Warning") !</b>
                            <div>@ResourceCache.Localize("Please_Complete_Basic_Settings")</div>
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Exist_Time_Schedule")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->

                <div class="box-body">

                    @if (Model.Count() == 0)
                    {
                        <div class="NoRecords box-body">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                            </div>
                        </div>

                    }
                    else
                    {
                        <table class="table table-bordered table-striped" id="table">
                            <thead>
                                <tr>
                                    <th>@ResourceCache.Localize("Schedule_Name")</th>
                                    <th>@ResourceCache.Localize("No_of_Periods")</th>
                                    <th>@ResourceCache.Localize("Status")</th>
                                    <th>@ResourceCache.Localize("Edit")</th>
                                </tr>
                            </thead>
                            <tbody id="id_tbody_schedule">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.txt_Schedule</td>
                                        <td>@item.NumberPeriod</td>
                                        @if (item.Status == true)
                                        {
                                            <td style="color:green">@ResourceCache.Localize("Active")</td> }
                                        else
                                        {
                                            <td style="color:red">@ResourceCache.Localize("Inactive")</td> }
                                        <td class="no_print cursor"><i class='fa fa-edit btnEditTimeSettings' id="@item.ScheduleID"></i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    /*Time Scheduling*/
    $("#txt_Schedule").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(".txt_Period").filter_input({ regex: '[0-9A-Za-z_-]' });
    $(".txt_StartTime").timepicker({ timeFormat: 'HH:mm' });
    $(".txt_EndTime").timepicker({ timeFormat: 'HH:mm' });

    



    var counter = 1;
    var PeroidNo = 1;
    var EditCount = 0;

    $("#additem").click(function (event) {
        $("#div_Error").hide();
        $("#errorMsg").empty();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        var PreviousSTime = $('#txt_StartTime' + counter).val();
        var PreviousETime = $('#txt_EndTime' + counter).val();
        var PreviousPeriod = $('#txt_Period' + counter).val();
        var PreviousType = $('#txt_Type' + counter).val();
        if (PreviousSTime == null || PreviousETime == null || PreviousSTime == "" || PreviousETime == "" || PreviousPeriod == "" || PreviousPeriod == null || PreviousType == "0" || PreviousType == null) {
            $("#div_Error").show();
            $('#jsonErrorMsg').hide();
            //alert("Enter data");
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Please_select_period_type,_start_time_and_end_time_to_existing_record")");
            return false;
        }
        if (PreviousSTime == PreviousETime) {
            $("#div_Error").show();
            $('#jsonErrorMsg').hide();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Start_time_and_End_ time_should_not_be_same")");
            return false;
        }
        if (PreviousSTime >= PreviousETime) {
            $("#div_Error").show();
            $('#jsonErrorMsg').hide();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time")");
            return false;
        }
        $("#div_Error").hide();
        $("#errorMsg").empty();
        counter++;
        var newRow = jQuery('<tr><td><input type="text" id="txt_Period' + counter + '" name="txt_Period' +
            counter + '" placeholder="@ResourceCache.Localize("Period/Break")" class="col-xs-12 txt_Period" title="@ResourceCache.Localize("Period/Break")" maxlength="20" /></td><td><select class="col-xs-12" id="txt_Type' + counter + '" name="txt_Type'
                + counter + '"><option selected disabled>@ResourceCache.Localize("Select_Type")</option><option value="Period">@ResourceCache.Localize("Period")</option><option value="Break">@ResourceCache.Localize("Break")</option></select></td><td><input type="text" id="txt_StartTime' + counter + '" name="txt_StartTime' +
                counter + '" placeholder="@ResourceCache.Localize("Start_Time")" class="txt_StartTime col-xs-12 tpicker1"  readonly title="@ResourceCache.Localize("Start_Time")"   /></td><td><input type="text" id="txt_EndTime' + counter + '" name="txt_EndTime' +
                counter + '" placeholder="@ResourceCache.Localize("End_Time")" class="txt_EndTime col-xs-12 tpicker" readonly title="@ResourceCache.Localize("End_Time")"   /></td></tr>');
        jQuery('table.itemlist').append(newRow);
        $(".txt_Period").filter_input({ regex: '[0-9A-Za-z_-]' });
        var PreviousEndTime = $('#txt_EndTime' + (counter - 1)).val();
        var CurrentStartTime = $('#txt_StartTime' + counter).val(PreviousEndTime);
        $('#txt_EndTime' + counter).timepicker({ timeFormat: 'HH:mm' })
        $("#count").val(counter).html(counter);
    });


    $("#additem1").click(function (event) {
        $("#div_Error").hide();
        $("#errorMsg").empty();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        var PreviousSTime = $('#update_StartTime' + EditCount).val();
        var PreviousETime = $('#update_EndTime' + EditCount).val();
        var PreviousPeriod = $('#update_Period' + EditCount).val();
        var PreviousType = $('#_id_' + EditCount).val();
        if (PreviousSTime == null || PreviousETime == null || PreviousSTime == "" || PreviousETime == "" || PreviousPeriod == "" || PreviousPeriod == null || PreviousType == "0" || PreviousType == null) {
            $("#div_Error").show();
            $('#jsonErrorMsg').hide();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Please_select_period_type,_start_time_and_end_time_to_existing_record")");
            return false;
        }
        if (PreviousSTime >= PreviousETime) {
            $("#div_Error").show();
            $('#jsonErrorMsg').hide();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time")");
            return false;
        }
        $("#div_Error").hide();
        $("#errorMsg").empty();
        EditCount++;
        var id = "_id_" + EditCount;
        @*var newRow = jQuery('<tr><td><input type="text" id="update_Period' + EditCount + '" name="update_Period' + EditCount
               + '" placeholder="@ResourceCache.Localize("Period/Break")" class="col-xs-12 txt_Period" title="@ResourceCache.Localize("Period/Break")" maxlength="20" /></td> </tr>');*@

        var newRow = jQuery('<tr><td><input type="hidden" id="PeriodScheduleId' + EditCount + '"  value=' + 0 + ' /><input type="text" id="update_Period' + EditCount + '" name="update_Period' + EditCount
            + '" placeholder="@ResourceCache.Localize("Period/Break")" class="col-xs-12 txt_Period" title="@ResourceCache.Localize("Period/Break")" maxlength="20" /></td><td><select class="col-xs-12" id="' + id + '" name="' + id
                + EditCount + '"><option selected disabled>@ResourceCache.Localize("Select_Type")</option><option value="Period">@ResourceCache.Localize("Period")</option><option value="Break">@ResourceCache.Localize("Break")</option></select></td><td><input type="text" id="update_StartTime' + EditCount + '" name="update_StartTime' +
                EditCount + '" placeholder="@ResourceCache.Localize("Start_Time")" class="txt_StartTime col-xs-12 " readonly title="@ResourceCache.Localize("Start_Time")"   /></td><td><input type="text" id="update_EndTime' + EditCount + '" name="update_EndTime' +
                EditCount + '" placeholder="@ResourceCache.Localize("End_Time")" class="txt_EndTime col-xs-12 tpicker" readonly title="@ResourceCache.Localize("End_Time")"   /></td></tr>');
        $("#tbody_edititemlist").append(newRow);
        $(".txt_Period").filter_input({ regex: '[0-9A-Za-z_-]' });
        var PreviousEndTime = $('#update_EndTime' + (EditCount - 1)).val();
        var CurrentStartTime = $('#update_StartTime' + EditCount).val(PreviousEndTime);
        $('#update_EndTime' + EditCount).timepicker({ timeFormat: 'HH:mm' })
        //$('#update_StartTime' + EditCount).timepicker({ timeFormat: 'HH:mm' })
        $("#count").val(EditCount).html(EditCount);
        _index++;
    });
        $("#ibtnDel").click(function (event) {
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        if (counter == 1) {
            $("#div_Error").show();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Can_not_remove_the_row")");
        }
        else {
            $("#div_Error").hide();
            $("table.itemlist tr:last").remove();
            counter--;
        }
        $("#count").val(counter).html(counter);
    });

        $("#ibtnDel1").click(function (event) {
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        if (EditCount == 1) {
            $("#div_Error").show();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Can_not_remove_the_row")");
        }
        else {
            var periodid = $("#PeriodScheduleId" + EditCount).val();
            if (periodid > 0) {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Can_not_remove_the_row")");
            }
            if (periodid == '0') {
                $("#div_Error").hide();
                $("table.itemlist tr:last").remove();
                counter--;
                _index--;
                EditCount--;
            }

        }
        $("#count").val(EditCount).html(EditCount);
    });





    $("#btnAddSchedule").click(function () {
        $("#div_Error").hide();
        $("#errorMsg").empty();
        PeroidNo = 1;
        //$("#table").show();
        //$("#NoRecords").hide();
        var c = $("#count").val();
        var schedule_Name = $("#txt_Schedule").val();
        var check = $("#check_Schedule").is(':checked');
        var status;
        if (check == true) {
            status = true;
        }
        else {
            status = false;
        }
        if (schedule_Name == "0" || schedule_Name == null || schedule_Name == "") {
            $("#div_Error").show();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Please_Enter_Schedule_Name")");
            return false;
        }
        else {
            $("#errorMsg").text("");
        }
        var period_Name = [];
        var period_No = [];
        var type = [];
        var Stime = [];
        var Etime = [];
        var S_time = [];
        var E_time = [];
        var NumberPeriod = 0;
        for (var i = 0; i < c; i++) {
            period_Name[i] = $("#txt_Period" + (i + 1)).val();
            type[i] = $("#txt_Type" + (i + 1)).val();
            Stime[i] = $("#txt_StartTime" + (i + 1)).val();
            Etime[i] = $("#txt_EndTime" + (i + 1)).val();
            S_time[i] = moment($("#txt_StartTime" + (i + 1)).timepicker().val(), "HH:mm");
            E_time[i] = moment($("#txt_EndTime" + (i + 1)).timepicker().val(), "HH:mm");
            if (period_Name[i] == "0" || period_Name[i] == null || period_Name[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").html("@ResourceCache.Localize("Fill_Periods_in_all_Added_Rows")");
                return false;
            }
            else if (type[i] == "0" || type[i] == null || type[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Select_Type_in_all_Added_Rows")");
                return false;
            }
            else if (Stime[i] == "0" || Stime[i] == null || Stime[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Select_StartTime_in_all_Added_Rows")");
                return false;
            }
            else if (Etime[i] == "0" || Etime[i] == null || Etime[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Select_EndTime_in_all_Added_Rows")");
                return false;
            }
            else if (Stime[i] == Etime[i]) {
                $("#div_Error").show();
                $('#jsonErrorMsg').hide();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Start_time_and_End_ time_should_not_be_same")");
                return false;
            }
            else if (S_time[i] == E_time[i]) {
                $("#div_Error").show();
                $('#jsonErrorMsg').hide();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Start_time_and_End_ time_should_not_be_same")");
                return false;
            }
            else if (new Date(Etime[i]) > new Date(Stime[i])) {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time_in_all_added_rows")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
            }
            if (i == 0) {
                var st = $("#txt_StartTime" + (i + 1)).val();
                var et = $("#txt_EndTime" + (i + 1)).val();
                if (st > et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time_in_row") " + (i + 1));
                    return false;
                }
            }
            if (i > 0) {
                var st = $("#txt_StartTime" + (i + 1)).val();
                var et = $("#txt_EndTime" + (i + 1)).val();
                var p_et = $("#txt_EndTime" + (i)).val();
                if (st != p_et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("start_time_of_row") (" + (i + 1) + ")@ResourceCache.Localize("should_be_same_to_end_time_of_row") (" + i + ")");
                    return false;
                }
                if (p_et > st) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("Previous_row") (" + i + ") @ResourceCache.Localize("end_time_should_be_less_than_next_row") (" + (i + 1) + ")@ResourceCache.Localize("Start_Time")");
                    return false;
                }
                if (st > et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time_in_row") " + (i + 1));
                    return false;
                }
            }
            else {
                $("#errorMsg").empty();
                $("#div_Error").hide();
            }
        }
        for (var i = 0; i < c; i++) {
            if (type[i] == "Period") {
                NumberPeriod++;
                period_No[i]=PeroidNo++;
            }
            else {
                period_No[i] = "";
            }
        }
        var values = {
            txt_Schedule: schedule_Name,
            period_No:period_No,
            NumberPeriod: NumberPeriod,
            Periods: period_Name,
            Type: type,
            StartTime: Stime,
            EndTime: Etime,
            TotalCount: c,
            Status: status
        };
        //alert(JSON.stringify(values));
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/SchoolConfiguration/TimeSettings',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.Message != "" && data.Message != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();
                    $("#table").show();
                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                    $.ajax({
                        url: '/SchoolConfiguration/JsonTimeSettings',
                        type: 'GET',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (scheduleList) {
                            $("#id_tbody_schedule").append().empty();
                            $.each(scheduleList.ans, function (i, v) {
                                var color;
                                if (v.Status == true) {
                                    color = "<td style='color:green'>@ResourceCache.Localize("Active")</td>";
                                }
                                else {
                                    color = "<td style='color:red'>@ResourceCache.Localize("Inactive")</td>";
                                }
                                var row = "<tr><td>" + v.txt_Schedule + "</td><td>" + v.NumberPeriod
                                    + "</td>" + color + "</td><td class='no_print cursor'><i class='fa fa-edit btnEditTimeSettings' id=" + v.ScheduleID + "></i></td></tr>"
                                $("#id_tbody_schedule").append(row);
                            });
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.ExceptionError != "" && data.ExceptionError != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });


    $("#btnReset").click(function () {
        for (var i = 1; 1 < counter; i++) {
            $("table.itemlist tr:last").remove();
            counter--;
        }
        $("#tbody_itemlist").show();
        $("#table").show();
        $("#tbody_edititemlist").hide();
        $("#addrow1").show();
        $("#addrow2").hide();
        $("#footer1").show();
        $("#footer2").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#errorMsg").hide();
        $("#div_Error").hide();
        $("#schedule_Error").hide();
        $("#NoRecords").hide();
    });





    var _index = 0;
    var TimeScheduleId = 0;
    var EPeroidNo = 1;
    $(document).on('click', '.btnEditTimeSettings', function () {
        EPeroidNo = 1
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $("#div_Error").hide();
        $("#errorMsg").empty();
        $("#div_Error").hide();
        $("#table").show();
        var editid = $(this).attr('id');
        TimeScheduleId = editid;
        var values = {
            ScheduleId: editid
        };
        $.ajax({
            url: '/SchoolConfiguration/EditTimeSettings',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#tbody_itemlist").hide();
                if (data.Schedule.Status == true) {
                    $("#check_Schedule").prop("checked", true);
                }
                if (data.Schedule.Status == false) {
                    $("#check_Schedule").prop("checked", false);
                }
                $("#txt_Schedule").val(data.Schedule.txt_Schedule).html(data.Schedule.txt_Schedule);
                $("#tbody_edititemlist").show();
                $("#addrow1").hide();
                $("#addrow2").show();
                $("#footer1").hide();
                $("#footer2").show();
                $("#tbody_edititemlist").append().empty();
                $.each(data.ans, function (i, v) {
                    EditCount = i + 1;
                    var id = "_id_" + (i + 1);
                    //alert("EndTime==" +v.Periods);
                    var row = '<tr><td><input type="hidden" id="PeriodScheduleId' + (i + 1) + '"  value=' + v.PeriodScheduleId + ' /><input type="text" id="update_Period' + (i + 1) + '"name="update_Period' + (i + 1) + '"placeholder="@ResourceCache.Localize("Period/Break")" class="col-xs-12 txt_Period" value="' + v.Periods + '" /></td><td><select id="' + id + '"   class="' + id + '"  ><option value="Period">@ResourceCache.Localize("Period")</option><option value="Break">@ResourceCache.Localize("Break")</option></select></td><td><input type="text" id="update_StartTime' + (i + 1) + '"  name="update_StartTime' + (i + 1) + '" placeholder="@ResourceCache.Localize("Start_Time")" class="txt_StartTime col-xs-12" value=' + v.StartTime + ' title="@ResourceCache.Localize("Start_Time")" readonly/> </td><td><input type="text" id="update_EndTime' + (i + 1) + '" name="update_EndTime' + (i + 1) + '" placeholder="@ResourceCache.Localize("End_Time")" class="txt_EndTime col-xs-12" value=' + v.EndTime + ' title="@ResourceCache.Localize("End_Time")"readonly /> </td></tr>';
                    //   alert("row==="+row);
                    $("#tbody_edititemlist").append(row);
                    $("._id_" + (i + 1)).val(v.Type);
                    _index = i + 1;
                    $(".txt_Period").filter_input({ regex: '[0-9A-Za-z_-]' });
                    $("#update_StartTime1").timepicker({ timeFormat: 'HH:mm' });
                    $(".txt_EndTime").timepicker({ timeFormat: 'HH:mm' });
                });
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                }
                if (data.Message != "" && data.Message != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();
                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                }
                if (data.ExceptionError != "" && data.ExceptionError != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                }
            }
        });
    });

    $("#btnReset1").click(function () {
        $("#tbody_itemlist").show();
        $("#table").show();
        $("#tbody_edititemlist").hide();
        $("#addrow1").show();
        $("#addrow2").hide();
        $("#footer1").show();
        $("#footer2").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#errorMsg").hide();
        $("#div_Error").hide();
        $("#schedule_Error").hide();
        $("#NoRecords").hide();
    });

    $("#btnUpdateSchedule").click(function () {
        //alert();
        $("#jsonSuccessMsg").hide();
        //$("#addrow2").hide();
        //$("#footer2").hide();
        $("#tbody_itemlist").hide();
        $("#jsonError").hide();
        $("#jsonErrorMsg").hide();
        $("#tbody_edititemlist").show();
        //$("#footer1").show();
        //$("#addrow1").show();

        var c = _index;
        var schedule_Name = $("#txt_Schedule").val();
        var check = $("#check_Schedule").is(':checked');
        var status;
        if (check == true) {
            status = true;
        }
        else {
            status = false;
        }
        if (schedule_Name == "0" || schedule_Name == null || schedule_Name == "") {
            $("#div_Error").show();
            $("#errorMsg").show();
            $("#errorMsg").text("@ResourceCache.Localize("Please_Enter_Schedule_Name")");
            return false;
        }
        else {
            $("#errorMsg").text("");
        }
        var period_ScheduleId = [];
        var period_No = [];
        var period_Name = [];
        var type = [];
        var Stime = [];
        var Etime = [];
        var NumberPeriod = 0;
        for (var i = 0; i < c; i++) {
            period_ScheduleId[i] = $("#PeriodScheduleId" + (i + 1)).val();
            period_Name[i] = $("#update_Period" + (i + 1)).val();
            type[i] = $("#_id_" + (i + 1)).val();
            Stime[i] = $("#update_StartTime" + (i + 1)).val();
            Etime[i] = $("#update_EndTime" + (i + 1)).val();
            if (period_Name[i] == "0" || period_Name[i] == null || period_Name[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                //$("#tbody_edititemlist").show();
                
                $("#errorMsg").html("@ResourceCache.Localize("Fill_Periods_in_all_Added_Rows")");
                return false;
            }
            else if (type[i] == "0" || type[i] == null || type[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Select_Type_in_all_Added_Rows")");
                return false;
            }
            else if (Stime[i] == "0" || Stime[i] == null || Stime[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Select_StartTime_in_all_Added_Rows")");
                return false;
            }
            else if (Etime[i] == "0" || Etime[i] == null || Etime[i] == "") {
                $("#div_Error").show();
                $("#errorMsg").show();
                $("#errorMsg").text("@ResourceCache.Localize("Select_EndTime_in_all_Added_Rows")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
            }
            if (i == 0) {
                var st = $("#update_StartTime" + (i + 1)).val();
                var et = $("#update_EndTime" + (i + 1)).val();
                if (st > et || st == et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time_in_row") " + (i + 1));
                    return false;
                }
            }
            if (i > 0) {
                var st = $("#update_StartTime" + (i + 1)).val();
                var et = $("#update_EndTime" + (i + 1)).val();
                var p_et = $("#update_EndTime" + (i)).val();
                if (st != p_et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("start_time_of_row") (" + (i + 1) + ") @ResourceCache.Localize("should_be_same_to_end_time_of_row") (" + i + ")");
                    return false;
                }
                if (p_et > st) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("Previous_row") (" + i + ") @ResourceCache.Localize("end_time_should_be_less_than_next_row") (" + (i + 1) + ")@ResourceCache.Localize("Start_Time")");
                    return false;
                }
                if (st > et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time_in_row") " + (i + 1));
                    return false;
                }
                if (st == et) {
                    $("#div_Error").show();
                    $("#errorMsg").show();
                    $("#errorMsg").text("@ResourceCache.Localize("End_time_should_be_greater_than_start_time_in_row") " + (i + 1));
                    return false;
                }
            }
            else {
                $("#errorMsg").empty();
                $("#div_Error").hide();
            }
        }
        for (var i = 0; i < c; i++) {
            if (type[i] == "Period") {
                NumberPeriod++;
                period_No[i] = EPeroidNo++;
            }
            else {
                period_No[i] = "";
            }
        }
        var values = {
            TimeScheduleId: TimeScheduleId,
            period_No: period_No,
            period_ScheduleId: period_ScheduleId,
            txt_Schedule: schedule_Name,
            NumberPeriod: NumberPeriod,
            Periods: period_Name,
            Type: type,
            StartTime: Stime,
            EndTime: Etime,
            TotalCount: c,
            Status: status
        };
        //alert(JSON.stringify(values));
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/SchoolConfiguration/UpdateTimeSettings',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.Message != "" && data.Message != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").show();
                    $("#tbody_itemlist").show();
                    $("#footer1").show();
                    $("#addrow1").show();
                    $("#addrow2").hide();
                    $("#footer2").hide();
                    $("#txt_Schedule").val("");
                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                    $("#tbody_edititemlist").hide();
                    $.ajax({
                        url: '/SchoolConfiguration/JsonTimeSettings',
                        type: 'GET',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (scheduleList) {
                            $("#id_tbody_schedule").append().empty();
                            $.each(scheduleList.ans, function (i, v) {
                                var color;
                                if (v.Status == true) {
                                    color = "<td style='color:green'>Active</td>";
                                }
                                else {
                                    color = "<td style='color:red'>Inactive</td>";
                                }
                                var row = "<tr><td>" + v.txt_Schedule + "</td><td>" + v.NumberPeriod
                                    + "</td>" + color + "</td><td class='no_print cursor'><i class='fa fa-edit btnEditTimeSettings' id=" + v.ScheduleID + "></i></td></tr>"
                                $("#id_tbody_schedule").append(row);
                            });
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                if (data.ExceptionError != "" && data.ExceptionError != null) {
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").show();
                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            }
        });
    });
        $(document).on('click', '.txt_StartTime', function () {
            
            var name = $(this).val();
            
            var null_id = $(this).attr('name');
            var ret = null_id.split("update_StartTime");
            var str1 = ret[0];
            var str2 = ret[1];
            str2--;
           // alert("time " + time);
            var time = $("#update_EndTime" + str2).val();           
            str2++;          
            var CurrentStartTime = $('#update_StartTime' + str2).val(time);
            
        });
        $(document).on('click', '.tpicker1', function () {
            
            var name = $(this).val();

            var null_id = $(this).attr('name');
            var ret = null_id.split("txt_StartTime");
            var str1 = ret[0];
            var str2 = ret[1];
            str2--;

            var time = $("#txt_EndTime" + str2).val();
            //alert("time "+ time);
            str2++;

            var CurrentStartTime = $('#txt_StartTime' + str2).val(time);


        });
        
</script>
}