﻿@model IEnumerable<eAcademy.ViewModel.StudentSubjectList>
@using eAcademy.Models
@{
    ViewBag.Title = "ModulesAssigned";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/NavbarHeader.cshtml")

<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("ModulesAssigned")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="/StudentModuleAssigned/ModulesAssigned" class="btn btn-info">@ResourceCache.Localize("ModulesAssigned")</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/StudentModuleAssigned/Homework">@ResourceCache.Localize("Homework")</a></li>
    <li><a href="~/StudentModuleAssigned/Assignment">@ResourceCache.Localize("Assignment")</a></li>
    <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
    <li><a href="~/StudentModuleAssigned/ELearning">@ResourceCache.Localize("ELearning")</a></li>
    <li class="active"><a href="~/StudentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
    <li><a href="~/StudentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
    <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
</ul>


<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ModulesAssigned")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/Print.cshtml")
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    <div class="box-body" id="show">
                        <div id="tbl_scrol">
                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("FacultyFeedback")<hr /></h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @ResourceCache.Localize("Subject")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("Faculty")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("ClassTeacher")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("Feedback")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Subject)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Faculty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.classTeacher)
                                            </td>
                                            <td>
                                                <a href="#" id="@item.RowId" class="FeedbackLink">@ResourceCache.Localize("ClickHereToSendFeedback")</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="div_Feedback" style="display:none">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Feedback")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="row">
                            <div class="col-lg-3">
                                <div>
                                    <label class="input-label-sm">@ResourceCache.Localize("Subject")  :</label>
                                    <label class="input-label-sm" id="subName"></label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="input-label-sm">@ResourceCache.Localize("Faculty")  :</label>
                                <label class="input-label-sm" id="FacName"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Feedback")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea id="txt_facultyFeedback" name="txt_facultyFeedback" class="col-lg-12" placeholder="@ResourceCache.Localize("Feedback")" title="@ResourceCache.Localize("Feedback")" required="required"></textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="hidden" id="rowId" name="rowId" />
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnFacultyFeedback"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>


    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });

            $(".FeedbackLink").click(function (event) {
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#MandatoryFieldErrorMessage_Edit").hide();
                $("#jsonSuccessMsg").hide();

                var id = $(this).attr('id');
                $.getJSON('/StudentModuleAssigned/feedback', { passId: id },
                     function (data) {
                         $("#FacName").text(data.FacultyName);
                         $("#subName").text(data.subjectName);
                         $("#txt_facultyFeedback").val("");
                         $("#rowId").val(id);
                         $("#div_Feedback").show();
                         $("#div_Query").hide();
                     });
            });

            $('#btnFacultyFeedback').click(function (event) {
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#MandatoryFieldErrorMessage_Edit").hide();
                $("#jsonSuccessMsg").hide();

                var a = [];
                var comment = $('#txt_facultyFeedback').val();
                if (comment.length == 0) {
                    a.push("@ResourceCache.Localize("PleaseEnterFeedback")");
                }
                else {
                    var txchar = $("#txt_facultyFeedback").val().replace(/ /g, '');
                    if (txchar.length == 0) {
                        a.push("@ResourceCache.Localize("PleaseEnterFeedback")");
                    }
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                var id = $("#rowId").val();
                var values = { rowId: id, Feedback: comment };
                $("#Loading_Sec").addClass("loading-new");

                $.ajax({
                    url: '/StudentModuleAssigned/ModulesAssigned',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#div_Feedback").hide();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }

                });
            });

        });
    </script>
}