﻿@model IEnumerable<eAcademy.ViewModel.HomeworkList>
@using eAcademy.Models
@{
    ViewBag.Title = "Query";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/NavbarHeader.cshtml")

<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("Query")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="/StudentModuleAssigned/Query" class="btn btn-info">@ResourceCache.Localize("Query")</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/Modules/Homework">@ResourceCache.Localize("Homework")</a></li>
    <li><a href="~/Modules/Assignment">@ResourceCache.Localize("Assignment")</a></li>
    <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
    <li><a href="~/StudentModuleAssigned/ELearning">@ResourceCache.Localize("ELearning")</a></li>
    <li><a href="~/StudentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
    <li class="active"><a href="~/StudentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
    <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
</ul>

<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="AddHomework">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("SendQuery")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("MI_Query_allSubjects1", new SelectList(ViewBag.allSubjects, "SubjectId", "SubjectName"), ResourceCache.Localize("SelectSubject"))
                                </div>

                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Faculty")</label> </div>
                                    <input class="col-lg-12" type="text" id="MI_FacultyName" name="MI_FacultyName" readonly placeholder="@ResourceCache.Localize("FacultyName")" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Query")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="MI_txt_query" name="MI_txt_query" placeholder="Query" title="Query" required="required"> </textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                    <input type="file" id="QFile" name="QFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                    <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                    <p class="File_message"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" id="btnSendQuery" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Send")</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("QueryList")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("MI_Query_List_Subject", new SelectList(ViewBag.allSubjects, "SubjectId", "SubjectName"), ResourceCache.Localize("SelectSubject"), new { @class = "col-lg-12 filterItem" })
                            </div>

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="MI_Query_List_txt_fromDate" name="MI_Query_List_txt_fromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="MI_Query_List_txt_toDate" name="MI_Query_List_txt_toDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>

                            <div class="col-lg-3">
                                <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="MI_Query_filterButton"><i class="fa fa-search"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="MI_QueryListGrid"></table>
                        <div id="MI_QueryListPager"></div>
                    </div>

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>



@section scriptsContainer{
    <script src="~/js/jquery.fileupload.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
                $('#chars1').text(length);
            });

            $.getJSON("/StudentModuleAssigned/CurrentActiveDate",
           function (data) {
               $(function () {
                   var dates = $("#MI_Query_List_txt_fromDate, #MI_Query_List_txt_toDate").datepicker({
                       dateFormat: 'dd/mm/yy',
                       minDate: data.sd,
                       maxDate: data.ed,
                       changeMonth: true,
                       changeYear: true,
                       onSelect: function (selectedDate) {
                           var option = this.id == "MI_Query_List_txt_fromDate" ? "minDate" : "maxDate",
                           instance = $(this).data("datepicker"),
                           date = $.datepicker.parseDate(
                           instance.settings.dateFormat ||
                           $.datepicker._defaults.dateFormat,
                           selectedDate, instance.settings);
                           dates.not(this).datepicker("option", option, date);
                       }
                   });
               });
           });


            $("#MI_Query_List_Subject").append($('<option></option>').val("all").html("All"));

            var QueryId;

            jQuery("#MI_QueryListGrid").jqGrid({
                url: "/StudentModuleAssigned/QueryListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("Faculty")', '@ResourceCache.Localize("QueryFrom")', '@ResourceCache.Localize("Query")',  '@ResourceCache.Localize("Reply")'],
                colModel: [
                    { key: true, hidden: true, name: 'Query_Id', index: 'Query_Id' },
                    { key: false, name: 'Date', index: 'Date' },
                    { key: false, name: 'Subject', index: 'Subject' },
                    { key: false, name: 'Faculty', index: 'Faculty' },
                    { key: false, name: 'QueryFrom', index: 'QueryFrom' },
                    { key: false, name: 'Studentqueryattachementfilename', index: 'Studentqueryattachementfilename' },
                    { key: false, name: 'Studentreplyqueryattachementfilename', index: 'Studentreplyqueryattachementfilename' },
                ],
                pager: jQuery("#MI_QueryListPager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

                gridComplete: function () {
                    var ids = jQuery("#MI_QueryListGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        QueryId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_open_Qfile btn_Document  ui-icon-document' id='" + QueryId + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                        de = "<input style='height:23px;width:22px;' type='button' class='btn_open_Rfile btn_Document ui-icon-document' id='" + QueryId + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                        jQuery("#MI_QueryListGrid").jqGrid('setRowData', ids[i], { QueryFile: be });
                        jQuery("#MI_QueryListGrid").jqGrid('setRowData', ids[i], { ReplyFile: de });
                    }
                },

            }).navGrid('#MI_QueryListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#MI_QueryListPager',
                {
                    caption: " @ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../StudentModuleAssigned/Query_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#MI_QueryListPager',
                {
                    caption: " @ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../StudentModuleAssigned/Query_ExportToPdf";
                    }
                });


            $("#MI_QueryListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("QueryList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#MI_Query_filterButton').click(function (event) {

                var subId = $("#MI_Query_List_Subject").val();
                var fromDate = $("#MI_Query_List_txt_fromDate").val();
                var toDate = $("#MI_Query_List_txt_toDate").val();

                $("#MI_Query_List_Subject").addClass("current_button");
                $("#MI_Query_List_txt_fromDate").addClass("current_button");
                $("#MI_Query_List_txt_toDate").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'MI_Query_List_Subject') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'MI_Query_List_txt_fromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'MI_Query_List_txt_toDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                MI_QueryList_filterGrid();
            });

            function MI_QueryList_filterGrid() {

                var postDataValues = $("#MI_QueryListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 1 || index == 2) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#MI_QueryListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };






            function updateSize(files) {
                var fsize;
                var nBytes = 0,
                    oFiles = files,
                    nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }
                var sOutput = nBytes + " bytes";


                // optional code for multiples approximation
                for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                    fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
                }
                document.getElementById("fileSize").innerHTML = fsize;
                if (nBytes > 5242880) {
                    alert("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                    //$(".File_message").text("File size should be less than 5MB").css("color", "#ff0000");
                    //$(".EFile_message").text("File size should be less than 5MB").css("color", "#ff0000");
                    return false;
                }
            }


            $('#MI_Query_allSubjects1').change(function (event) {
                event.preventDefault();
                var subId = $("#MI_Query_allSubjects1").val();
                $.getJSON('/StudentModuleAssigned/getFacultyName', { passSubId: subId },
                   function (data) {
                       $("#MI_FacultyName").val(data);
                   });
            });


            $("#btnSendQuery").click(function () {
                $("#jsonSuccessMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide()
                var subId = $("#MI_Query_allSubjects1").val();

                $("#MI_Query_allSubjects1").addClass("current_button");
                var FileName = document.getElementById("QFile").value;

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'MI_Query_allSubjects1') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                    }
                    else {
                    }
                });

                var comment = $('#MI_txt_query').val();
                if (comment.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterQuery")');
                }
                else {
                    var txchar = $("#MI_txt_query").val().replace(/ /g, '');
                    if (txchar.length == 0) {
                        a.push('@ResourceCache.Localize("PleaseEnterQuery")');
                    }
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                $("#MandatoryFieldErrorMessage_Add").hide();


                var data = new FormData();

                if ($('#QFile').val() != "") {
                    //alert("has val");
                    var ext = $('#QFile').val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                        $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                        return false;
                    }

                    var files = $("#QFile").get(0).files;
                    if (files.length > 0) {
                        //alert("cal");
                        updateSize(files);
                        //alert("ret");
                        data.append("HelpSectionImages", files[0]);
                        //alert("ret1");
                    }
                }
                data.append("subId", jQuery('#MI_Query_allSubjects1').val());
                data.append("query", jQuery('#MI_txt_query').val());
                $("#Loading_Sec").addClass("loading-new");

                $.ajax({
                    url: '/StudentModuleAssigned/AddQuery',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {

                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#MI_QueryListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $(".jSuccessMsg").html(data.Message).val(data.Message);

                                $("#MI_Query_allSubjects1").val("");
                                $("#MI_txt_query").val("");
                                $('#QFile').val("");
                                $("#MI_FacultyName").val("");
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });


            });




            $(document).on('click', '.btn_open_Qfile', function () {
                var id = $(this).attr('id');
                var url = "OpenQueryFile/" + id;
                window.open(url);
            });

            $(document).on('click', '.btn_open_Rfile', function () {
                var id = $(this).attr('id');
                var url = "OpenReplyFile/" + id;
                window.open(url);
            });

        });
    </script>
}