﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.Ranklist>
@{
    ViewBag.Title = "IndividualStudentAttendance";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int k = 0;
    int a = 0, r;
}
<head>
    <title></title>
    <style>
        .colors1 {
            color: green;
        }

        .colors2 {
            color: crimson;
        }
         .dayorder li {
            list-style: none;
        }

        .dayorder{
            padding: 0px;
            text-align: center;
        }
    </style>
</head>
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("IndividualStudentAttendance")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("IndividualStudentAttendance", "StudentReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Report_Type")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ReportType", ViewBag.reporttype as List<SelectListItem>, new { @class = "col-lg-12 current_button" })
                            </div>
                            @if (ViewBag.from1 == null && ViewBag.to == null)
                            {
                                <div id="fromto" class="col-sm-6 col-md-4 col-lg-3" style="display:none">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <input type="text" id="Fromdate" name="Fromdate" class="col-lg-12 " readonly />
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <input type="text" id="Todate" name="Todate" class="col-lg-12 " readonly />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="fromto1" class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <input type="text" id="Fromdate" name="Fromdate" class="col-lg-12 " value="@ViewBag.from1" readonly />
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <input type="text" id="Todate" name="Todate" class="col-lg-12 " value="@ViewBag.to" readonly />
                                    </div>
                                </div>
                            }
                            @if (ViewBag.da == null)
                            {
                                <div id="date" class="col-sm-6 col-md-4 col-lg-3" style="display:none">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input type="text" id="Dates" name="Dates" class="col-lg-12 " readonly />
                                </div>
                            }
                            else
                            {
                                <div id="dates123" class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input type="text" id="Dates" name="Dates" class="col-lg-12 " value="@ViewBag.da" readonly />
                                </div>
                            }
                            @if (ViewBag.id == null)
                            {
                                <div id="monnth" class="col-sm-6 col-md-4 col-lg-3" style="display:none">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Month")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @*@Html.DropDownList("month", new SelectList(ViewBag.month, "MonthsId", "MonthsName"),@ResourceCache.Localize("SelectMonth"), new { @class = "col-lg-12 " })*@
                                    @Html.DropDownList("month", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectMonth"), Value = "" } }, new { @class = "col-lg-12" })
                                </div>
                            }
                            else
                            {
                                <div id="mon1" class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Month")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @*@Html.DropDownList("monnth", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectMonth"), Value = "" } }, new { @class = "col-lg-12" })*@
                                    @Html.DropDownList("month", new SelectList(ViewBag.month, "MonthsId", "MonthsName", @ViewBag.mid), @ResourceCache.Localize("SelectMonth"), new { @class = "col-lg-12 " })
                                </div>
                            }
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="attendance" name="attendance"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style=" display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("STUDENTATTENDANCEDETAILS")</b></label><hr /></center>
                                        <table class="col-sm-12 col-md-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_NAME")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Name"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Type")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Type"></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                                                            <table class="col-lg-12  table table-bordered table-striped " id="StudentAttendanceTable" border="1"></table>
                                    <label class="col-sm-12"><strong>Note:</strong>P-Present, A-Absent, H-Half Day, L-Late, R-Religious, E-Excused</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        var YearId = $('#AcademicYear').val();
        $.getJSON('/Report/GetMonth', { year: YearId },
               function (ans) {
                   $("#month").empty().append('<option value="">@ResourceCache.Localize("SelectMonth")</option>');
                   $.each(ans, function (i, c) {
                       $("#month").append($('<option></option>').val(c.MonthId).html(c.MonthName));
                   });
               });


        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#ReportType').val("");
            $('#date').hide();
            $('#NoRecords').hide();
            $('#show').hide();
            $('#monnth').hide();
            $.getJSON('/Report/GetMonth', { year: YearId },
           function (ans) {
               $("#month").empty().append('<option value="">@ResourceCache.Localize("SelectMonth")</option>');
               $.each(ans, function (i, c) {
                   $("#month").append($('<option></option>').val(c.MonthId).html(c.MonthName));
               });
           });
        });
        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#ReportType').val("");
            $('#date').hide();
            $('#show').hide();           
            $('#monnth').hide();
        });
        $('#Rpt_Section').change(function () {
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#ReportType').val("");
            $('#date').hide();
            $('#show').hide();          
            $('#monnth').hide();
        });
        $('#Class').change(function () {
            var year = $('#Class').val();

            //$("#Rep_section").empty().append('<option value="0">Select</option>');

            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {

                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {

                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });

               });
        });
        $('#Rpt_Section').change(function () {

            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();

            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">Select Student Name</option>');

                   $.each(data, function (i, c) {

                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });

               });
            $.getJSON('/Report/getExamSubject', { year: year, clas: clas, sec: sec },
             function (data) {
                 $("#Examsubject").empty().append('<option value="">Select ExamSubject</option>');

                 $.each(data, function (i, c) {

                     $("#Examsubject").append($('<option></option>').val(c.reg_id).html(c.sname));
                 });

             });
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        var acid = $("#AcademicYear").val();
        $("#Fromdate, #Todate").datepicker("destroy");
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/Dashboard/CustomeActiveDate", { acid: acid },
            function (data) {
                $.each(data.HolidaysList, function (i, c) {
                    HolidayDate1[i] = c.Date;
                    HolidayReason1[i] = c.Holiday;
                });
                var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];

                $(function () {
                    var dates = $("#Fromdate, #Todate").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.sd,
                        maxDate: data.ed,
                        changeMonth: true,
                        changeYear: true,
                        beforeShowDay: function (date) {
                            show = true;
                            for (var i = 0; i < holidays.length; i++) {
                                if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                            }
                            if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                            var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                            return display;
                        },
                        onSelect: function (selectedDate) {
                            var option = this.id == "Fromdate" ? "minDate" : "maxDate",
                            instance = $(this).data("datepicker"),
                            date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings);
                            dates.not(this).datepicker("option", option, date);
                        },

                    });
                });
            });
        var acid = $("#AcademicYear").val();
        $("#Dates").datepicker("destroy");
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/Dashboard/CustomeActiveDate", { acid: acid },
            function (data) {
                $.each(data.HolidaysList, function (i, c) {
                    HolidayDate1[i] = c.Date;
                    HolidayReason1[i] = c.Holiday;
                });
                var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];

                $(function () {
                    var dates = $("#Dates").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.sd,
                        maxDate: data.ed,
                        changeMonth: true,
                        changeYear: true,
                        beforeShowDay: function (date) {
                            show = true;
                            for (var i = 0; i < holidays.length; i++) {
                                if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                            }
                            if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                            var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                            return display;
                        },
                        onSelect: function (selectedDate) {
                            var option = this.id == "Dates" ? "minDate" : "maxDate",
                            instance = $(this).data("datepicker"),
                            date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings);
                            dates.not(this).datepicker("option", option, date);
                        },

                    });
                });
            });

        $('#attendance').click(function () {
            $('#Err').hide();
            $('.NoRecords').hide();
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var StudentId = $('#StudentId').val();
            var ReportType = $('#ReportType').val();
            var dates = $('#Dates').val();
            var fromdate = $('#Fromdate').val();
            var Todate = $('#Todate').val();
            var month = $('#month').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                    if (null_id == 'ReportType') {
                        a.push('@ResourceCache.Localize("PleaseSelectReportType")');
                    }
                }
            });
            if (flag == 0) {
                var ss = {
                    AcademicYear: acyear, Class: Class, Rpt_Section: sec, StudentId: StudentId, ReportType: ReportType, Dates: dates, FromDates: fromdate, Todates: Todate, month: month
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/StudentReport/JsonIndividualStudentAttendance',
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#show').hide();
                            $('#Err').show();
                            $('.NoRecords').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $('#show').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#Txt_Name').text($('#StudentId option:selected').text());
                            var row = 0;
                            var row1 = 0;
                            if (ReportType == 1) {
                                if (dates == null || dates == "") {
                                    $('#Err').show();
                                    $('.NoRecords').hide();
                                    $("#jsonError").hide();
                                    $("#jsonExceptionMsg").hide();
                                    $("#jsonSuccessMsg").hide();
                                    $("#jsonErrorMsg").show();
                                 @*$("#jErrMsg").html("@ResourceCache.Localize("PleaseSelectDate")").val("@ResourceCache.Localize("PleaseSelectDate")");*@
                                }
                                else {
                                    $('.NoRecords').hide();
                                    $('#show').show();
                                    $('#Err').hide();
                                    $('#Txt_Type').text("Day" + "(" + dates + ")");
                                    $('#StudentAttendanceTable tr').remove();
                                    if (data.AttendanceList != 0) {
                                        row = "<tr ><th>@ResourceCache.Localize("RollNumber")</th><th>@ResourceCache.Localize("StudentName")</th><th>@ResourceCache.Localize("Status")</th></tr>";
                                        $("#StudentAttendanceTable").append(row);
                                        var sub = 0;
                                        $.each(data.AttendanceList, function (i, d) {
                                            if (d.status == "P") {
                                                sub = sub + "<td class='colors1'>" + d.status + "</td>";
                                            }
                                            else {
                                                sub = sub + "<td class='colors2'>" + d.status + "</td>";
                                            }
                                            row1 = "<tr ><td> " + d.rollnumber + "</td><td> " + d.stuname + "</td> " + sub + "</tr>";
                                        });
                                        $("#StudentAttendanceTable").append(row1);
                                    }
                                    else {
                                        $('.NoRecords').show();
                                        $('#show').hide();
                                        $('#Err').hide();
                                    }
                                }
                            }
                            else if (ReportType == 2) {
                                if (fromdate == null || fromdate == "" || Todate == "" || Todate == null) {
                                    $('#Err').show();
                                    $('.NoRecords').hide();
                                    $("#jsonError").hide();
                                    $("#jsonExceptionMsg").hide();
                                    $("#jsonSuccessMsg").hide();
                                    $("#jsonErrorMsg").show();
                                    $("#jErrMsg").html("@ResourceCache.Localize("PleaseSelectFromdateAndTodate")").val("@ResourceCache.Localize("PleaseSelectFromdateAndTodate")");
                                }
                                else {
                                    $('#StudentAttendanceTable tr').remove();
                                    $('.NoRecords').hide();
                                    $('#show').show();
                                    $('#Err').hide();
                                    var row2 = 0;
                                    var row3 = 0;
                                    var sub_table = 0;
                                    var k;
                                    if (data.AttendanceList != null) {
                                        for (k = 0; k < data.date_Count; k++) {
                                            sub_table = sub_table + "<th>" + data.Attendancedates[k] + "</th>";
                                        }
                                        row2 = "<tr ><th>@ResourceCache.Localize("RollNumber")</th><th>@ResourceCache.Localize("StudentName")</th>" + sub_table + "<th>@ResourceCache.Localize("TotalDays")</th><th>@ResourceCache.Localize("Cap_NOP")</th><th>@ResourceCache.Localize("cap_NOA")</th></tr>";
                                        $("#StudentAttendanceTable").append(row2);
                                        var sum = 0;
                                        $.each(data.AttendanceList, function (i, d) {
                                            if (sum < 1) {
                                                var sub1 = 0;
                                                $.each(data.AttendanceList, function (i, b) {
                                                    if (b.rollnumber == d.rollnumber) {
                                                        if (b.status == "P") {
                                                            sub1 = sub1 + "<td class='colors1'>" + b.status + "</td>";
                                                        }
                                                        else {
                                                            sub1 = sub1 + "<td class='colors2'>" + b.status + "</td>";
                                                        }
                                                    }
                                                });
                                                var Noa = data.date_Count - data.Nop;
                                                row3 = "<tr><td> " + d.rollnumber + "</td><td>" + d.stuname + "</td>" + sub1 + "<td>" + data.date_Count + "</td><td>" + data.Nop + "</td><td> " + Noa + "</td></tr>";
                                                $("#StudentAttendanceTable").append(row3);
                                            }
                                            sum++;
                                        });
                                    }
                                    else {
                                        $('#Err').hide();
                                        $('.NoRecords').show();
                                        $('#show').hide();
                                    }
                                }
                            }
                            else if (ReportType == 3) {
                                if (month == null || month == "") {
                                    $('#Err').show();
                                    $('.NoRecords').hide();
                                    $("#jsonError").hide();
                                    $("#jsonExceptionMsg").hide();
                                    $("#jsonSuccessMsg").hide();
                                    $("#jsonErrorMsg").show();
                                   @*$("#jErrMsg").html("@ResourceCache.Localize("PleaseSelectMonth")").val("@ResourceCache.Localize("PleaseSelectMonth")");*@
                                }
                                else {
                                    $('#StudentAttendanceTable tr').remove();
                                    $('.NoRecords').hide();
                                    $('#show').show();
                                    $('#Err').hide();
                                    $('#Txt_Type').text("Month" + "(" + $('#month option:selected').text() + ")");
                                    var row4 = 0;
                                    var row5 = 0;
                                    var sub_table1 = 0;
                                    var k;
                                    if (data.AttendanceList != null) {
                                        for (k = 0; k < data.date_Count; k++) {
                                            if (data.Attendancedates[k] == "Sa" || data.Attendancedates[k] == "Su") {
                                                var check1 = 0;
                                                $.each(data.AttendanceList, function (i, b) {
                                                    var tt = parseInt(b.d);
                                                    if ((k + 1) == tt) {
                                                        sub_table1 = sub_table1 + "<th><ul class='dayorder' style='list-style: none;'><li>" + (k + 1) + "</li><li>" + data.Attendancedates[k] + "</li></ul></th>";
                                                        check1 = 1;
                                                    }
                                                });
                                                if (check1 == 0) {
                                                    sub_table1 = sub_table1 + "<th><ul class='dayorder' style='list-style: none;'><li class='colors2'>" + (k + 1) + "</li><li class='colors2'>" + data.Attendancedates[k] + "</li></ul></th>";
                                                }
                                            }
                                            else {
                                                sub_table1 = sub_table1 + "<th><ul class='dayorder' style='list-style: none;'><li>" + (k + 1) + "</li><li>" + data.Attendancedates[k] + "</li></ul></th>";
                                            }
                                        }
                                        row4 = "<tr ><th>@ResourceCache.Localize("RollNumber")</th><th>@ResourceCache.Localize("StudentName")</th>" + sub_table1 + "<th>@ResourceCache.Localize("TotalDays")</th><th>@ResourceCache.Localize("Cap_NOP")</th><th>@ResourceCache.Localize("cap_NOA")</th></tr>";
                                        $("#StudentAttendanceTable").append(row4);
                                        var sum = 0;
                                        $.each(data.AttendanceList, function (i, d) {
                                            if (sum < 1) {
                                                var sub2 = 0;
                                                var nop = 0, noa = 0;
                                                var halfday = 0;
                                                var c = 1;
                                                var daycount = 0;
                                                $.each(data.AttendanceList, function (i, b) {
                                                    var tt = parseInt(b.d);
                                                    if (c == tt) {
                                                        if (b.status == "P" || b.status == "L" || b.status == "R" || b.status == "E") {
                                                            sub2 = sub2 + "<td class='colors1'>" + b.status + "</td>";
                                                            nop++;
                                                            c++;
                                                            daycount++;
                                                        }
                                                        else if (b.status == "H") {
                                                            sub2 = sub2 + "<td class='colors3'>" + b.status + "</td>";
                                                            halfday = halfday + 0.5;
                                                            c++;
                                                            daycount++;
                                                        }
                                                        else {
                                                            sub2 = sub2 + "<td class='colors2'>" + b.status + "</td>";
                                                            noa++;
                                                            c++;
                                                            daycount++;
                                                        }

                                                    }
                                                    else {
                                                        var cou = tt - c;
                                                        for (i = 0; i < cou; i++) {
                                                            sub2 = sub2 + "<td class='colors1'>-</td>";
                                                            c++;
                                                            daycount++;
                                                        }
                                                        if (c == tt) {
                                                            if (b.status == "P" || b.status == "L" || b.status == "R" || b.status == "E") {
                                                                sub2 = sub2 + "<td class='colors1'>" + b.status + "</td>";
                                                                nop++;
                                                                c++;
                                                                daycount++;
                                                            }
                                                            else if (b.status == "H") {
                                                                sub2 = sub2 + "<td class='colors3'>" + b.status + "</td>";
                                                                halfday = halfday + 0.5;
                                                                c++;
                                                                daycount++;
                                                            }
                                                            else {
                                                                sub2 = sub2 + "<td class='colors2'>" + b.status + "</td>";
                                                                noa++;
                                                                c++;
                                                                daycount++;
                                                            }

                                                        }
                                                    }
                                                });
                                                var diff = data.date_Count - daycount;
                                                for (i = 0; i < diff; i++) {
                                                    sub2 = sub2 + "<td class='colors1'>-</td>";
                                                }
                                                nop = nop + halfday;
                                                noa = noa + halfday;
                                                var Noa = data.date_Count - data.Nop;
                                                row3 = "<tr ><td> " + d.rollnumber + "</td><td>" + d.stuname + "</td>" + sub2 + "<td>" + data.date_Count + "</td><td>" + nop + "</td><td> " + noa + "</td></tr>";
                                                $("#StudentAttendanceTable").append(row3);
                                            }
                                            sum++;
                                        });
                                    }
                                    else {
                                        $('#Err').hide();
                                        $('.NoRecords').show();
                                        $('#show').hide();
                                    }
                                }
                            }
                            else {
                                $('#show').hide();
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
    </script>
}