﻿@using eAcademy.Models
@model IEnumerable<eAcademy.ViewModel.ParentDetails>
@{
    ViewBag.Title = "Parentprofile";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row" id="printable">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ParentProfile")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("Parentprofile", "StudentReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="ParentProfile" name="ParentProfile"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style=" display:none;">
                                <div class="row ">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_PARENTSDETAILS")</b></label><hr /></center>
                                        <table class="col-sm-12 col-md-4" border="0">
                                            <tr>
                                                <td >@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td ><p id="Txt_Year"></p></td>
                                            </tr>
                                            <tr>
                                                <td >@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class"></p></td>
                                            </tr>
                                            <tr>
                                                <td >@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td ><p id="Txt_Sec"></p></td>
                                            </tr>
                                            <tr>
                                                <td >@ResourceCache.Localize("Cap_NAME")</td>
                                                <td><p>:</p></td>
                                                <td ><p id="Txt_Name"></p></td>
                                            </tr>

                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <table class="col-lg-12 table table-bordered table-striped" id="ParentProfileTable" border="1"></table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        $('#AcademicYear').change(function (event) {
            $("#show").hide();
            $("#No_Records").hide();
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $("#show").hide();
            $("#No_Records").hide();
        });
        $('#Rpt_Section').change(function () {
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $("#show").hide();
            $("#No_Records").hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            var year = $('#Class').val();

            //$("#Rep_section").empty().append('<option value="0">Select</option>');

            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {

                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {

                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });

               });
        });
        $('#Rpt_Section').change(function () {

            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();

            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">Select Student Name</option>');

                   $.each(data, function (i, c) {

                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });

               });
            $.getJSON('/Report/getExamSubject', { year: year, clas: clas, sec: sec },
             function (data) {
                 $("#Examsubject").empty().append('<option value="">Select ExamSubject</option>');

                 $.each(data, function (i, c) {

                     $("#Examsubject").append($('<option></option>').val(c.reg_id).html(c.sname));
                 });

             });
        });
        $('#ParentProfile').click(function () {
            $('#Err').hide();
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var StudentId = $('#StudentId').val();
            var a = [];
            var flag = 0;
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                }
            });
            if (flag == 0) {
                var ss = {
                    AcademicYear: acyear, Class: Class, Section: sec, StudentId: StudentId
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/StudentReport/JsonParentProfile',
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#show').hide();
                            $('#Err').show();
                            $('.NoRecords').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $('#show').hide();
                            $('.NoRecords').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#Txt_Name').text($('#StudentId option:selected').text());
                            if (data != null) {
                                $('.NoRecords').hide();
                                $('#ParentProfileTable tr').remove();
                                $('#Err').hide();
                                $('#show').show();
                                var row1 = "<tr><th class='col-lg-6'>@ResourceCache.Localize("Info")</th><th class='col-lg-6'>@ResourceCache.Localize("Details")</th></tr>";
                                $('#ParentProfileTable').append(row1);
                                $.each(data, function (i, v) {
                                    var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_PRIMARYUSERINFORMATION")</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Student_Register_Id")</td><td class='col-lg-6'>" + v.Stuadmissionid + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("PrimaryUser")</td><td class='col-lg-6'>" + v.PrimaryUser + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("PrimaryUserEmail")</td><td class='col-lg-6'>" + v.primaryUserEmail + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    if (v.FatherFirstName != null) {
                                        var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_FATHER_INFORMATION")</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("FatherFirstName")</td><td class='col-lg-6'>" + v.FatherFirstName + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Father_Last_Name")</td><td class='col-lg-6'>" + v.FatherLastName + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("FatherDOB")</td><td class='col-lg-6'>" + v.txt_Fatherdob + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("FatherContactNumber")</td><td class='col-lg-6'>" + v.FatherMobileNo + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("FatherEmail")</td><td class='col-lg-6'>" + v.FatherEmail + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Father_Qualification")</td><td class='col-lg-6'>" + v.FatherQualification + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("FatherOccupation")</td><td class='col-lg-6'>" + v.FatherOccupation + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                    }
                                    if (v.MotherFirstname != null) {
                                        var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_MOTHER_INFORMATION")</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MoterFirstName")</td><td class='col-lg-6'>" + v.MotherFirstname + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MoterLastName")</td><td class='col-lg-6'>" + v.MotherLastName + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MotherDOB")</td><td class='col-lg-6'>" + v.txt_Motherdob + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MotherContactNumber")</td><td class='col-lg-6'>" + v.MotherMobileNo + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MotherEmail")</td><td class='col-lg-6'>" + v.MotherEmail + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Mother_Qualification")</td><td class='col-lg-6'>" + v.MotherQualification + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("MotherOccupation")</td><td class='col-lg-6'>" + v.MotherOccupation + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                    }
                                    if (v.GuardianFirstname != null) {
                                        var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_GUARDIAN_INFORMATION")</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("GuardianFirstName")</td><td class='col-lg-6'>" + v.GuardianFirstname + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Guardian_Last_Name")</td><td class='col-lg-6'>" + v.GuardianLastName + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("GuardianDOB")</td><td class='col-lg-6'>" + v.txt_Guardiandob + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("GuardianQualification")</td><td class='col-lg-6'>" + v.GuardianQualification + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("GuardianQualification")</td><td class='col-lg-6'>" + v.GuardianOccupation + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("GuardianContact")</td><td class='col-lg-6'>" + v.GuardianMobileNo + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Guardian_Email_Address")</td><td class='col-lg-6'>" + v.GuardianEmail + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Guardian_Relationship_to_child")</td><td class='col-lg-6'>" + v.GuRelationshipToChild + "</td></tr>";
                                        $('#ParentProfileTable').append(row9);
                                    }
                                    var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_PRIMARY_USER_WORK_INFORMATION")</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyName")</td><td class='col-lg-6'>" + v.UserCompanyname + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyAddressLine1")</td><td class='col-lg-6'>" + v.CompanyAddress1 + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyAddressLine2")</td><td class='col-lg-6'>" + v.CompanyAddress2 + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyCity")</td><td class='col-lg-6'>" + v.CompanyCity + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyState")</td><td class='col-lg-6'>" + v.CompanyState + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyCountry")</td><td class='col-lg-6'>" + v.CompanyCountry + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyPostelcode")</td><td class='col-lg-6'>" + v.CompanyPostelcode + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("CompanyContactNo")</td><td class='col-lg-6'>" + v.CompanyContact + "</td></tr>";
                                    $('#ParentProfileTable').append(row9);
                                });
                            }
                            else {
                                $('#Err').hide();
                                $('.NoRecords').show();
                                $('#show').hide();
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
    </script>
}