﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.FeeInformation>
@{
    ViewBag.Title = "StudentFeeDetails";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Student_Fee_Details")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("StudentFeeDetails", "StudentReport")" method="post">
                            <div class="row col-lg-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), "Select Class", new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="StudentFees" name="StudentFees"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records" style="display:none;">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style="display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_STUDENT_FEES_DETAILS")</b></label><hr /></center>
                                        <table class="col-sm-12 col-md-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_STUDENT_NAME")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Name"></p></td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="box-body row border-radius-none">
                                        <div>
                                            @Html.Partial("~/Views/Shared/Print.cshtml")
                                            <table class="table table-bordered " border="1">
                                                <thead>
                                                    <tr>
                                                        <th>@ResourceCache.Localize("FeeCategory")</th>
                                                        <th>@ResourceCache.Localize("Amount")</th>
                                                        <th>@ResourceCache.Localize("Tax")</th>
                                                        <th>@ResourceCache.Localize("Total")</th>
                                                        <th>@ResourceCache.Localize("Last Date")</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_paymentCategory"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#show').hide();
            $('.NoRecords').hide();
        });

        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#show').hide();
            $('.NoRecords').hide();
        });
        $('#Rpt_Section').change(function () {
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#show').hide();
            $('.NoRecords').hide();
        });
        $('#StudentId').change(function () {
            $('#show').hide();
            $('.NoRecords').hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            var year = $('#Class').val();

            //$("#Rep_section").empty().append('<option value="0">Select</option>');

            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {

                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {

                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });

               });
        });
        $('#Rpt_Section').change(function () {

            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();

            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">Select Student Name</option>');

                   $.each(data, function (i, c) {

                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });

               });
            $.getJSON('/Report/getExamSubject', { year: year, clas: clas, sec: sec },
             function (data) {
                 $("#Examsubject").empty().append('<option value="">Select ExamSubject</option>');

                 $.each(data, function (i, c) {

                     $("#Examsubject").append($('<option></option>').val(c.reg_id).html(c.sname));
                 });

             });
        });
        var Term_Count, a_Count, VAT_amount = 0, Overall_Count = 0;
        var FeeCatIDList = new Array;
        var SubFeeCatIDList = new Array;
        var PayTypeIDList = new Array;
        var SubPayTypeIDList = new Array;
        var PaymentTypeIdList = [];
        var AmountList = [];
        var TaxList = [];
        var TotalAmountList = [];
        var itemtoRemove;
        $('#StudentFees').click(function () {
            var year = $('#AcademicYear').val();
            var classs = $('#Class').val();
            var section = $('#Rpt_Section').val();
            var stuid = $('#StudentId').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                }
            });
            if (flag == 0) {
                $('#Err').hide();
                $('#show').show();
                var datavalue = {
                    AcademicYearId: year, ClassId: classs
                };
                var datavalue1 = {
                    AcademicYearId: year, ClassId: classs, SectionId: section, StudentRegisterid: stuid
                };
                var p = 0;
                val_Term = { acid: year };
                function_TermCount();
                val_id = { acid: year, cid: classs, secid: section, stdid: stuid };
                function_collectFee();
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function function_collectFee() {
            var annual_count = 0;
            var term_coucnt = 0
            var id_cb = 0, tab = 0;
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/FeeCollection/getFees',
                type: 'POST',
                data: JSON.stringify(val_id),
                dataType: 'json',
                contentType: "application/json",
                success: function (list) {
                    if (list == null) {
                        $('#show').hide();
                        $('.NoRecords').hide();
                        $('#Err').show();
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        $('#Txt_Year').text($('#AcademicYear option:selected').text());
                        $('#Txt_Class').text($('#Class option:selected').text());
                        $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                        $('#Txt_Name').text($('#StudentId option:selected').text());
                        $('#show').show();
                        $('#Err').hide();
                        var td_body = 0;
                        var feeid = 0;
                        var subid_cb = 0;
                        $("#tbody_paymentCategory").append().empty();
                        var x = 1;
                        var scb_amt, cb_amt;
                        if (list.ans == 0) {
                            $('#Err').hide();
                            $('.NoRecords').show();
                            $('#show').hide();
                        }
                        else {
                            $.each(list.ans, function (i, v) {
                                var row, table1;
                                id_cb = "cb" + (annual_count + 1);
                                if (feeid == v.FeeId) {
                                    subid_cb = "scb" + x;
                                    scb_amt = "scb_amt" + x;
                                    feeid = v.FeeId;
                                    table = "<tr id='subrow" + (term_coucnt + 1) + "' ><td><input type='hidden' value='" + v.FeeCategoryId + "'  id='SubFeeCategoryId" + x + "'    /><input type='hidden' value='" + v.TermId + "'   id='SubTermId" + x + "'    />" +
                                        v.PaymentType + "</td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td><label id='" + scb_amt + "' >" + v.Total + "</abel></td><td><label class='SubLDate' id='SubLDate" + x + "' >" + v.Ldate + "</label></td></tr>";
                                    x++;
                                    $("#" + td_body).append(table);
                                    if (x > Term_Count) {
                                        x = 1;
                                    }
                                    else {
                                    }
                                }
                                else {
                                    td_body = "td_body" + (annual_count + 1);
                                    tab = "tab" + (annual_count + 1);
                                    cb_amt = "cb_amt" + (annual_count + 1);
                                    feeid = v.FeeId;
                                    row = "<tr id='row" + (annual_count + 1) + "'><td><input type='hidden'   value='" + v.FeeCategoryId + "'  id='FeeCategoryId" + (annual_count + 1) + "'    />" + v.FeeCategory
                                        + "<table class='table table-bordered' id=" + tab + " border='1'><tbody id=" + td_body + "></tbody></table></td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td><input type='hidden' value=" + v.Total + "   id='hiddenamt" + (annual_count + 1) + "'  /><label id='" + cb_amt + "' >" + v.Total
                                        + "</label></td><td><label id='Ldate" + (annual_count + 1) + "'  >" + v.Ldate
                                        + "</label></td></tr>";
                                    annual_count++;
                                    a_Count = annual_count;
                                }
                                $("#tbody_paymentCategory").append(row);
                                Overall_Count++;
                            });
                            $.each(list.result, function (index, v) {
                                if (v.PaymentTypeId == 0) {
                                    for (var i = 1; i <= a_Count; i++) {
                                        if ($("#FeeCategoryId" + i).val() == v.FeeCategoryId) {
                                            $('#Ldate' + i).closest('tr').addClass("highlightPaiedList");
                                            $('#cb' + i).prop('disabled', true);
                                            $('#Ldate' + i).text("Paid");
                                            $('#tab' + i).addClass("bg-success");
                                            $('#tab' + i + ' *').attr("disabled", "disabled");
                                            $('#tab' + i + ' .SubLDate').text("Paid");
                                        }
                                    }
                                }
                                else {
                                    var flag = 0;
                                    for (var j = 1; j <= a_Count; j++) {
                                        for (var i = 1; i <= Term_Count; i++) {
                                            if (flag == 0) {
                                                if ($('#tab' + j + " #SubFeeCategoryId" + i).val() == v.FeeCategoryId && $('#tab' + j + " #SubTermId" + i).val() == v.PaymentTypeId) {
                                                    $('#subrow' + i).addClass("highlightPaiedList")
                                                    $('#tab' + j + ' #SubLDate' + i).closest('tr').addClass("highlightPaiedList");
                                                    $('#tab' + j + ' #scb' + i).prop('disabled', true);
                                                    $('#tab' + j + ' #SubLDate' + i).text("Paid");
                                                    flag++;
                                                    $('#cb' + j).prop('disabled', true);
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        }
                        $("#Loading_Sec").removeClass("loading-new");
                    }

                }
            });
        }
        function function_TermCount() {
            $.ajax({
                url: '/FeeCollection/getTermCount',
                type: 'POST',
                data: JSON.stringify(val_Term),
                dataType: 'json',
                contentType: "application/json",
                success: function (list) {
                    Term_Count = list;
                }
            });
        }
    });
    </script>
}