﻿@using eAcademy.Models
@model IEnumerable<eAcademy.ViewModel.R_StudentRemark>
@{
    ViewBag.Title = "ExamResult";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("StudentRemarks")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("StudentRemark", "StudentReport")" method="post" enctype="multipart/form-data">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input type="text" id="Fromdate" name="Fromdate" class="col-lg-12 current_button" placeholder="@ResourceCache.Localize("FromDate")" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input type="text" id="Todate" name="Todate" class="col-lg-12 current_button" placeholder="@ResourceCache.Localize("ToDate")" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down " id="btnReport_StudentRemark" name="btnReport_StudentRemark"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style=" display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_STUDENT_REMARKS")</b></label><hr /></center>
                                        <table class="col-sm-12 col-md-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_NAME")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Name"></p></td>
                                            </tr>

                                        </table>
                                    </div>  
                                    <div class="row col-lg-12">
                                        @Html.Partial("~/Views/Shared/Print.cshtml")
                                        <table class="col-lg-12 table table-bordered table-striped" id="StudentremarkTable" border="1"></table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }
        FromtoDate();
        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");         
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');         
            $('#NoRecords').hide();
            $('#show').hide();
            $('#Fromdate').val("");
            $('#Todate').val("");
        });
        $('#Class').change(function () {
            $('#show').hide();
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        $('#Rpt_Section').change(function () {
            $('#show').hide();
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            var year = $('#Class').val();
            //$("#Rep_section").empty().append('<option value="0">Select</option>');
            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {

                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {

                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });

               });
        });
        $('#Rpt_Section').change(function () {

            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();

            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">Select Student Name</option>');

                   $.each(data, function (i, c) {

                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });

               });
            $.getJSON('/Report/getExamSubject', { year: year, clas: clas, sec: sec },
             function (data) {
                 $("#Examsubject").empty().append('<option value="">Select ExamSubject</option>');

                 $.each(data, function (i, c) {

                     $("#Examsubject").append($('<option></option>').val(c.reg_id).html(c.sname));
                 });

             });
        });
        $('#R_Remarks_allClass').change(function (event) {
            event.preventDefault();
            LoadSection_StudentRemark();
        });

        function LoadSection_StudentRemark() {
            var classId = $('#R_Remarks_allClass').val();
            $.getJSON('/StudentReport/GetSelectedClassSection', { passClassId: classId },
                function (orderdetails) {
                    $("#R_Remarks_Section").empty().append('<option value="">Select Section</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#R_Remarks_Section").append($('<option></option>').val(c.SectionId).html(c.SectionName));
                    });
                });
        }


        $('#R_Remarks_Section').change(function (event) {
            event.preventDefault();
            LoadStudent_StudentRemark();
        });

        function LoadStudent_StudentRemark() {
            var yid = $("#R_Remarks_allAcademicYears").val();
            var classId = $('#R_Remarks_allClass').val();
            var secId = $("#R_Remarks_Section").val();
            $.getJSON('/StudentReport/getSectionStudent', { passYearId: yid, passClassId: classId, passSecId: secId },
                function (orderdetails) {
                    $("#R_Remarks_students").empty().append('<option value="">Select Student</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#R_Remarks_students").append($('<option></option>').val(c.StudentId).html(c.StudentName));
                    });
                });
        }

        $("#btnReport_StudentRemark").click(function (event) {
            var yearId = $("#R_Remarks_allAcademicYears").val();
            var classId = $("#R_Remarks_allClass").val();
            var secId = $("#R_Remarks_Section").val();
            var stuId = $("#R_Remarks_students").val();

            if (yearId == "" || classId == "" || secId == "" || stuId == "") {
                $(".Report_StudentRemark-message").text("Please select all the mantratory fields").css("color", "#ff0000");
                return false;
            }
        });

        function FromtoDate() {
            var acid = $("#AcademicYear").val();
            $("#Fromdate, #Todate").datepicker("destroy");
            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/Dashboard/CustomeActiveDate", { acid: acid },
                function (data) {
                    $.each(data.HolidaysList, function (i, c) {
                        HolidayDate1[i] = c.Date;
                        HolidayReason1[i] = c.Holiday;
                    });
                    var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];

                    $(function () {
                        var dates = $("#Fromdate, #Todate").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true,
                            beforeShowDay: function (date) {
                                show = true;
                                for (var i = 0; i < holidays.length; i++) {
                                    if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                }
                                if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                return display;
                            },
                            onSelect: function (selectedDate) {
                                var option = this.id == "Fromdate" ? "minDate" : "maxDate",
                                instance = $(this).data("datepicker"),
                                date = $.datepicker.parseDate(
                                instance.settings.dateFormat ||
                                $.datepicker._defaults.dateFormat,
                                selectedDate, instance.settings);
                                dates.not(this).datepicker("option", option, date);
                            },

                        });
                    });
                });
        }
        $('#btnReport_StudentRemark').click(function () {
            $('.NoRecords').hide();
            $('#Err').hide();
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var StudentId = $('#StudentId').val();
            var fromdate = $('#Fromdate').val();
            var Todate = $('#Todate').val();
            var a = [];
            var flag = 0;
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                    if (null_id == 'Fromdate') {
                        a.push('@ResourceCache.Localize("PleaseSelectFromdate")');
                    }
                    if (null_id == 'Todate') {
                        a.push('@ResourceCache.Localize("PleaseSelectTodate")');
                    }
                }
            });
            if (flag == 0) {
                var Remark = {
                    R_Remarks_allAcademicYears: acyear, R_Remarks_allClass: Class, R_Remarks_Section: sec, R_Remarks_students: StudentId, From_date: fromdate, To_date: Todate
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/StudentReport/JsonStudentRemark',
                    data: Remark,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('.NoRecords').hide();
                            $('#show').hide();
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('.NoRecords').hide();
                            $('#Err').show();
                            $('#show').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#Txt_Name').text($('#StudentId option:selected').text());
                            var row = 0;
                            var row1 = 0;
                            if (data != 0) {
                                $('#StudentremarkTable tr').remove();
                                $('.NoRecords').hide();
                                $('#show').show();
                                $('#Err').hide();
                                row = "<tr><th>@ResourceCache.Localize("RemarkType")</th><th>@ResourceCache.Localize("Date")</th><th>@ResourceCache.Localize("Remark")</th><th>@ResourceCache.Localize("EmployeeName")</th></tr>";
                                $("#StudentremarkTable").append(row);
                                $.each(data, function (i, v) {
                                    row1 = "<tr><td>" + v.RemarkType + "</td><td>" + v.Dates + "</td><td>" + v.Remark + "</td><td>" + v.UserName + "</td></tr>";
                                    $("#StudentremarkTable").append(row1);
                                });
                            }
                            else {
                                $('#Err').hide();
                                $('.NoRecords').show();
                                $('#show').hide();
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
    </script>
}