﻿@model IEnumerable<eAcademy.DataModel.Student>
@using eAcademy.Models;
@{
    ViewBag.Title = "Studentprofile";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<style>
    #imgg{
            float: right;
    /*margin-top: -80px;*/
    margin-bottom: 10px;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("StudentProfile")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
<!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("Studentprofile", "StudentReport")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = "SelectSection", Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search  btn-down" id="StudentProfile" name="StudentProfile"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12" id="No_Records" >
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style=" display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center>  <label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_STUDENT_PROFILE_DETAILS")</b></label><hr /></center>
                                        <div id="head" class="col-lg-12 div_hight">
                                            @*<div class="col-lg-2"><span class="label label-default lbl2">YEAR</span>  <span class="label label-primary lbl2"><b id="Txt_Year"></b></span></div><div class="col-lg-2"><span class="label label-default lbl2">CLASS</span>  <span class="label label-primary lbl2"><b id="Txt_Class"></b></span></div><div class="col-lg-2"><span class="label label-default lbl2">SECTION</span>  <span class="label label-primary lbl2"><b id="Txt_Sec"></b></span></div><div class="col-lg-3"><span class="label label-default lbl2">NAME</span>  <span class="label label-primary lbl2"><b id="Txt_Name"></b></span></div>*@
                                            
                                        </div>
                                      
                                        <table class="col-sm-12 col-md-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec"></p></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_NAME")</td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Name"></p></td>
                                            </tr>
                                        </table>
                                        <div class="col-lg-2" id="imgg" ></div>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <table class="col-lg-12 table table-bordered table-striped" id="StudentProfileTable" border="1"></table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
<script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#show').hide();
            $('.NoRecords').hide();
        });


        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#show').hide();
            $('.NoRecords').hide();
        });
        $('#Rpt_Section').change(function () {
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
            $('#show').hide();
            $('.NoRecords').hide();
        });
        $('#StudentId').change(function () {
            $('#show').hide();
            $('.NoRecords').hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            var year = $('#Class').val();

            //$("#Rep_section").empty().append('<option value="0">Select</option>');

            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {

                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {

                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });

               });
        });
        $('#Rpt_Section').change(function () {

            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();

            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">Select Student Name</option>');

                   $.each(data, function (i, c) {

                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });

               });
            $.getJSON('/Report/getExamSubject', { year: year, clas: clas, sec: sec },
             function (data) {
                 $("#Examsubject").empty().append('<option value="">Select ExamSubject</option>');

                 $.each(data, function (i, c) {

                     $("#Examsubject").append($('<option></option>').val(c.reg_id).html(c.sname));
                 });

             });
        });
        $('#StudentProfile').click(function () {
            $('#Err').hide();
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var StudentId = $('#StudentId').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                }
            });
            if (flag == 0) {
                var ss = {
                    AcademicYear: acyear, Class: Class, Section: sec, StudentId: StudentId
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/StudentReport/JsonStudentProfile',
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#show').hide();
                            $('#Err').show();
                            $('.NoRecords').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $('#show').hide();
                            $('.NoRecords').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#Txt_Name').text($('#StudentId option:selected').text());
                            if (data != null) {
                                $('.NoRecords').hide();
                                $('#StudentProfileTable tr').remove();
                                $('#theImg').remove();
                                $('#Err').hide();
                                $('#show').show();
                                var row1 = "<tr><th class='col-lg-6'><b>Info</b></th><th class='col-lg-6'>Details</th></tr>";
                                $('#StudentProfileTable').append(row1);
                                $.each(data, function (i, v) {
                                    $('#imgg').prepend('<img id="theImg" src="/Documents/' + v.studentId + '/' + v.student_photo + '" width="100" height="100"/>');
                                    var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_PERSONAL_INFORMATION")</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("RegisterId")</td><td class='col-lg-6'>" + v.StudentRegId + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("StudentId")</td><td class='col-lg-6'>" + v.studentId + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("StudentName")</td><td class='col-lg-6'>" + v.StudentName + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Gender")</td><td class='col-lg-6'>" + v.Gender + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfBirth")</td><td class='col-lg-6'>" + v.Stu_DateOfBirth + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("BloodGroup")</td><td class='col-lg-6'>" + v.Bloodgroup + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    if (v.Student_Email != null) {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmailAddress")</td><td class='col-lg-6'>" + v.Student_Email + "</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    else {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmailAddress")</td><td class='col-lg-6'>-</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Religion")</td><td class='col-lg-6'>" + v.Religion + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Community")</td><td class='col-lg-6'>" + v.Community + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Nationality")</td><td class='col-lg-6'>" + v.Nationality + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_ADDRESS")</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("Address")</td><td class='col-lg-6'>" + v.Address + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("City")</td><td class='col-lg-6'>" + v.City + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("State")</td><td class='col-lg-6'>" + v.State + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_CONTACT_INFORMATION")</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    if (v.Contact != null) {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("ContactNumber")</td><td class='col-lg-6'>" + v.Contact + "</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    else {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("ContactNumber")</td><td class='col-lg-6'>-</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmergencyContactPerson")</td><td class='col-lg-6'>" + v.Emg_Person + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("EmergencyContactNumber")</td><td class='col-lg-6'>" + v.Emg_Contact + "</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    var row9 = "<tr><th colspan='2' class='col-lg-12'>@ResourceCache.Localize("Cap_STUDENT_HISTORY")</td></tr>";
                                    $('#StudentProfileTable').append(row9);
                                    if (v.DateOfJoin != null) {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateofJoining")</td><td class='col-lg-6'>" + v.DateOfJoin + "</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    else {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateofJoining")</td><td class='col-lg-6'>-</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    if (v.DateOfRegister != null) {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfRegister")</td><td class='col-lg-6'>" + v.DateOfRegister + "</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    else {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfRegister")</td><td class='col-lg-6'>-</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    if (v.DateOfLeave != null) {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfLeaveing")</td><td class='col-lg-6'>" + v.DateOfLeave + "</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                    else {
                                        var row9 = "<tr><td class='col-lg-6'>@ResourceCache.Localize("DateOfLeaveing")</td><td class='col-lg-6'>-</td></tr>";
                                        $('#StudentProfileTable').append(row9);
                                    }
                                });
                            }
                            else {
                                $('#Err').hide();
                                $('.NoRecords').show();
                                $('#show').hide();
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
}