﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.getclassandsection>
@{
    ViewBag.Title = "StudentProgressCard";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int k = 0, s = 1, i = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Student ProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("StudentProgressCard", "StudentReport")" method="post">
                          
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down" id="StudentProgressCard" name="StudentProgressCard"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style="display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center><label id="lbl1" class="label label-primary"><b>@ResourceCache.Localize("Cap_STUDENT_PROGRESS_CARD")</b></label><hr /></center>
                                        <table class="col-sm-12 col-md-4" border="0">
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_YEAR")</td>
                                                <td><p>:</p></td>
                                                <td><b id="Txt_Year"></b></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_CLASS")</td>
                                                <td><p>:</p></td>
                                                <td><b id="Txt_Class"></b></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_SECTION")</td>
                                                <td><p>:</p></td>
                                                <td><b id="Txt_Sec"></b></td>
                                            </tr>
                                            <tr>
                                                <td>@ResourceCache.Localize("Cap_NAME")</td>
                                                <td><p>:</p></td>
                                                <td><b id="Txt_Name"></b></td>
                                            </tr>

                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <table class="col-lg-12 table table-bordered table-striped" id="StudentProgressCardTable" border="1"></table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        $('#AcademicYear').change(function (event) {           
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");          
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');           
            $('#NoRecords').hide();
            $('#show').hide();            
        });

        $('#Class').change(function () {
            $('#show').hide();
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        $('#Rpt_Section').change(function () {
            $('#show').hide();
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#Class').change(function () {
            var year = $('#Class').val();

            //$("#Rep_section").empty().append('<option value="0">Select</option>');

            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {

                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {

                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });

               });
        });
        $('#Rpt_Section').change(function () {

            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();

            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">Select Student Name</option>');

                   $.each(data, function (i, c) {

                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });

               });
            $.getJSON('/Report/getExamSubject', { year: year, clas: clas, sec: sec },
             function (data) {
                 $("#Examsubject").empty().append('<option value="">Select ExamSubject</option>');

                 $.each(data, function (i, c) {

                     $("#Examsubject").append($('<option></option>').val(c.reg_id).html(c.sname));
                 });

             });
        });

        $('#StudentProgressCard').click(function () {
            $('.NoRecords').hide();
            $('#Err').hide();
            var acyear = $('#AcademicYear').val();
            var Class = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            var StudentId = $('#StudentId').val();
            var a = [];
            var flag = 0;
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                }
            });
            if (flag == 0) {
                var ss = {
                    Acdemicyear: acyear, Class: Class, Section: sec, StudentId: StudentId
                }
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/StudentReport/JsonStudentProgressCard',
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#show').hide();
                            $('.NoRecords').hide();
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('.NoRecords').hide();
                            $('#show').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            $('.NoRecords').hide();
                            $('#show').show();
                            $('#Err').hide();
                            $('#StudentProgressCardTable tr').remove();
                            $('#Txt_Year').text($('#AcademicYear option:selected').text());
                            $('#Txt_Class').text($('#Class option:selected').text());
                            $('#Txt_Sec').text($('#Rpt_Section option:selected').text());
                            $('#Txt_Name').text($('#StudentId option:selected').text());
                            var row = 0;
                            var row1 = 0;
                            var sub_table = 0;
                            if (data.ExamList_Count == 0 || data.Subjectlist == 0 || data.ExamList == 0 || data.Grades == 0) {
                                $('#Err').hide();
                                $('.NoRecords').show();
                                $('#show').hide();
                            }
                            else {
                                var examtype_Count = data.ExamList_Count;
                                var k;
                                $.each(data.Subjectlist, function (i, c) {
                                    sub_table = sub_table + "<th>" + data.Subjectlist[i] + "<input type=hidden id='"+data.subListOrder[i]+"' /></th>";
                                });
                                row = "<tr><th>@ResourceCache.Localize("ExamType")</th>" + sub_table + "<th>@ResourceCache.Localize("TotalMark")</th><th>@ResourceCache.Localize("Rank")</th><th>@ResourceCache.Localize("Result")</th></tr>";
                                $("#StudentProgressCardTable").append(row);

                                for (k = 0; k < data.conductedExamList.length; k++) {

                                    var td1 = 0; 

                                    var exam = data.conductedExamList[k].ExamName;
                                    var examId = data.conductedExamList[k].ExamId;
                                    row1 = "<tr><td id='ExamId" + examId + "'>" + exam + "</td>";

                                    var TotalSubCount = data.Subjectlist.length;

                                    for (var i = 0; i < TotalSubCount; i++) {
                                        var SecSubId = data.subListOrder[i];
                                        td1 = td1 + "<td id='examId"+ examId + "subjectId"+ SecSubId + "'></td>";
                                    }

                                    $.each(data.Total_mark, function (i, b) {
                                        if (exam == b.ExamType) {
                                            td2 = "<td>" + b.Totalmark + "</td><td>" + b.Rank +"</td><td>" + b.Result + "</td></tr>";
                                        }
                                    });

                                    $("#StudentProgressCardTable").append(row1+td1+td2);

                                    var GradeSubLength = data.Grades.length;
                                    var g = "empty";
                                    for (var s = 0; s < TotalSubCount; s++) {

                                        var SecSubId = data.subListOrder[s];

                                        for (y = 0; y < GradeSubLength; y++) {

                                            var gradeSubId = data.Grades[y].subjectId;
                                            var gradeExamId = data.Grades[y].ExamId;
                                            var gradeExamMark = data.Grades[y].SubjectMark;

                                            if(examId ==gradeExamId &&  SecSubId == gradeSubId)
                                            {
                                                $("#examId" + gradeExamId + "subjectId" + gradeSubId).text(gradeExamMark);
                                                g = "value";
                                            }
                                        }

                                        if(g == "empty")
                                        {
                                            $("#examId" + examId + "subjectId" + SecSubId).text("-");
                                        }
                                    }

                                }
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            }

            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
  
    });
</script>
    }
   
