﻿@model IEnumerable<eAcademy.ViewModel.StudentAssignment>
@using eAcademy.Models
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("Assignment")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="#" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="/ParentModuleAssigned/Assignment" class="btn btn-info">@ResourceCache.Localize("Assignment")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/ParentModuleAssigned/Homework">@ResourceCache.Localize("Homework")</a></li>
    <li class="active"><a href="~/ParentModuleAssigned/Assignment">@ResourceCache.Localize("Assignment")</a></li>
    <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
    <li><a href="~/ParentModuleAssigned/ELearning">@ResourceCache.Localize("ELearning")</a></li>
    <li><a href="~/ParentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
    <li><a href="~/ParentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
    <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Assignment")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("SM_AllSubjects", new SelectList(ViewBag.AllSubjects1, "SubjectId", "SubjectName"), ResourceCache.Localize("SelectSubject"), new { @class = "filterItem" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_Assignment_FromDate" name="SM_Assignment_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_Assignment_ToDate" name="SM_Assignment_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn btn-sm  btn_submit btn-down " id="btnSM_Assignment"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="AssignmentListGrid"></table>
                        <div id="AssignmentListPager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("/ParentModuleAssigned/CurrentActiveDate",
        function (data) {
            $(function () {
                var dates = $("#SM_Assignment_FromDate, #SM_Assignment_ToDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: data.sd,
                    maxDate: data.ed,
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function (selectedDate) {
                        var option = this.id == "SM_Assignment_FromDate" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                        dates.not(this).datepicker("option", option, date);
                    }
                });
            });
        });
            $("#SM_AllSubjects").append("<option value='0'>All</option>");
            var AssignmentId;
            jQuery("#AssignmentListGrid").jqGrid({
                url: "/ParentModuleAssigned/AssignmentListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Assignment")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("DateOfSubmission")'],
                colModel: [
                    { key: true, hidden: true, name: 'Assignment_Id', index: 'Assignment_Id' },
                    { name: 'Subject', index: 'Subject' },
                    { name: 'AssignmentPosted_Date', index: 'AssignmentPosted_Date' },
                    { name: 'parentAssignmentfilename', index: 'parentAssignmentfilename' },
                    { name: 'Descriptions', index: 'Descriptions' },
                    { name: 'DateOf_Submission', index: 'DateOf_Submission' },

                ],
                pager: jQuery("#AssignmentListPager"),
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

            }).navGrid('#AssignmentListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#AssignmentListPager',
                {
                    caption: " @ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../ParentModuleAssigned/Assignment_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#AssignmentListPager',
                {
                    caption: "@ResourceCache.Localize("Pdf")",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../ParentModuleAssigned/Assignment_ExportToPdf";
                    }
                });
            $("#AssignmentListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("AssignmentList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#btnSM_Assignment').click(function (event) {
                var sub = $("#SM_AllSubjects").val();
                var fDate = $("#SM_Assignment_FromDate").val();
                var toDate = $("#SM_Assignment_ToDate").val();

                $("#SM_AllSubjects").addClass("current_button");
                $("#SM_Assignment_FromDate").addClass("current_button");
                $("#SM_Assignment_ToDate").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_AllSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubjects")');
                        }
                        if (null_id == 'SM_Assignment_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_Assignment_ToDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                AssignmentList_filterGrid();
            });

            function AssignmentList_filterGrid() {
                var postDataValues = $("#AssignmentListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 1 || index == 2) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#AssignmentListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };
        });
        $(document).on('click', '.btn_open_file', function () {
            var id = $(this).attr('id');
            var url = "OpenAssignmentFile/" + id;
            window.open(url);
        });
    </script>
}