﻿@using eAcademy.Models
@{
    ViewBag.Title = "ELearning";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("ELearning")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="#" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="#" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="~/ParentModuleAssigned/ELearning" class="btn btn-info">@ResourceCache.Localize("ELearning")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/ParentModuleAssigned/Homework">@ResourceCache.Localize("Homework")</a></li>
    <li><a href="~/ParentModuleAssigned/Assignment">@ResourceCache.Localize("Assignment")</a></li>
    <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
    <li class="active"><a href="~/ParentModuleAssigned/ELearning">@ResourceCache.Localize("ELearning")</a></li>
    <li><a href="~/ParentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
    <li><a href="~/ParentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
    <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ELearning")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem current_button" type="text" id="ELearn_FromDate" name="ELearn_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem current_button" type="text" id="ELearn_ToDate" name="ELearn_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn btn-sm  btn_submit btn-down" id="btnSM_ELearn"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="ELearnGrid"></table>
                        <div id="ELearnPager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("/ParentModuleAssigned/CurrentActiveDate",
                   function (data) {
                       $(function () {
                           var dates = $("#ELearn_FromDate, #ELearn_ToDate").datepicker({
                               dateFormat: 'dd/mm/yy',
                               minDate: data.sd,
                               maxDate: data.ed,
                               changeMonth: true,
                               changeYear: true,
                               onSelect: function (selectedDate) {
                                   var option = this.id == "ELearn_FromDate" ? "minDate" : "maxDate",
                                   instance = $(this).data("datepicker"),
                                   date = $.datepicker.parseDate(
                                   instance.settings.dateFormat ||
                                   $.datepicker._defaults.dateFormat,
                                   selectedDate, instance.settings);
                                   dates.not(this).datepicker("option", option, date);
                               }
                           });
                       });
                   });

            var ElearnId;

            jQuery("#ELearnGrid").jqGrid({
                url: "/ParentModuleAssigned/ELearnListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Title")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("DateOfSubmission")'],
                colModel: [
                    { key: true, hidden: true, name: 'ELearn_Id', index: 'ELearn_Id' },
                    { name: 'PostedtDate', index: 'PostedtDate' },
                    { name: 'ElearningAttachfilename', index: 'ElearningAttachfilename' },
                    { name: 'Description', index: 'Description' },
                    { name: 'LastDate', index: 'LastDate' },
                 
                ],
                pager: jQuery("#ELearnPager"),
                rowNum: 10,
                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

            }).navGrid('#ELearnPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#ELearnPager',
                {
                    caption: " @ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../ParentModuleAssigned/ELearn_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#ELearnPager',
                {
                    caption: " @ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../ParentModuleAssigned/ELearn_ExportToPdf";
                    }
                });

            $("#ELearnGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("ELearnList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $('#btnSM_ELearn').click(function (event) {

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'ELearn_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'ELearn_ToDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                ELearn_filterGrid();
            });

            function ELearn_filterGrid() {
                var postDataValues = $("#ELearnGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {                  
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];                 
                    postDataValues[$(item).attr('id')] = newdt;
                });            
                $('#ELearnGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };

            $(document).on('click', '.btn_open_file', function () {
                var id = $(this).attr('id');
                var url = "OpenELearnFile/" + id;
                window.open(url);
            });
        });
    </script>
}
