﻿@model eAcademy.DataModel.TechEmployee
@using eAcademy.Models
@{
    ViewBag.Title = "FacultyDetails";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
<section class="maincontent-header">
    <div class="s_head col-lg-12">
        @ResourceCache.Localize("FacultyDetails")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardParent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/ParentModuleAssigned/ModulesAssigned" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="/ParentModuleAssigned/FacultyDetails" class="btn btn-info">@ResourceCache.Localize("FacultyDetails")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/Modules/Homework">@ResourceCache.Localize("Homework")</a></li>
    <li><a href="~/Modules/Assignment">@ResourceCache.Localize("Assignment")</a></li>
    <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
    <li><a href="~/ParentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
    <li><a href="~/ParentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
    <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FacultyProfile")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body row border-radius-none">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <a class="btn icon-btn btn-info" href="~/ParentModuleAssigned/ModulesAssigned"><span class="glyphicon glyphicon-circle-arrow-left img-circle"></span> @ResourceCache.Localize("BackToList")</a>
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-12">
                            <div class="col-lg-offset-5 col-lg-1"><img class="ProfilePhoto" src="~/img/EmployeePhotos/@Html.DisplayFor(Model => Model.ImgFile)" width="150px" height="150px" alt="Faculty Profile" /> </div>
                        </div>
                        <table id="t1" border="1" class="col-lg-12 table table-bordered table-striped">
                            <tr>
                                <th colspan="2"><center>@ResourceCache.Localize("Cap_PERSONAL_INFORMATION")</center></th>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("EmployeeName")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.EmployeeName)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Qualification")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Qualification)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Experience")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Experience)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Gender")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Gender)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("DateOfBirth")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.DOB)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("BloodGroup")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.BloodGroup)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Email")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Email)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Religion")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Religion)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Nationality")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Nationality)</td>
                            </tr>
                            <tr>
                                <th colspan="2"><center>@ResourceCache.Localize("ADDRESS")</center></th>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Address")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.AddressLine1) &nbsp;&nbsp; @Html.DisplayFor(Model => Model.AddressLine2)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("City")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.City)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("State")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.State)</td>
                            </tr>
                            <tr>
                                <th colspan="2"><center>@ResourceCache.Localize("Cap_CONTACT_INFORMATION")</center></th>

                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("ContactNumber")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.Contact)</td>
                            </tr>

                            <tr>
                                <th colspan="2"><center>@ResourceCache.Localize("FACULTYHISTORY")</center></th>

                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("DateOfJoin")</td>
                                <td class="col-lg-6">@Html.DisplayFor(Model => Model.DOJ)</td>
                            </tr>
                        </table>

                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>