﻿@model IEnumerable<eAcademy.DataModel.HostelFeesCategory>
@using eAcademy.Areas.HostelManagement.LocalResources
@using eAcademy.Models;
@{
    ViewBag.Title = "CollectFee";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 ">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeCollection")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("CollectHostelFee", "HostelFeesCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        @Html.Partial("~/Areas/HostelManagement/Views/Shared/ErrorPartial.cshtml")
                        @Html.ValidationSummary()
                    </div>
                    <div class="box-body row border-radius-none">
                        <div class="col-xs-12">
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptNumber")</label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_recId" name="txt_recId" value="@ViewBag.recID" readonly title="@ResourceCache.Localize("ReceiptNumber")" /></div>
                            </div>
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptDate")</label>  </div>
                                <div><input class="col-xs-12" type="text" id="txt_recdate" name="txt_recdate" value="@ViewBag.sysDate" readonly title="@ResourceCache.Localize("ReceiptDate")" /></div>
                            </div>
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentId")</label><span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div><input class="col-xs-12" type="text" id="txt_rNo" name="txt_rNo" placeholder="@ResourceCache.Localize("StudentId")" title="@ResourceCache.Localize("StudentId")" maxlength="15" /></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <hr />
                            </div>
                            <div class="col-sm-2" style="Color:darkblue;font-size:xx-large;font-weight:500;"><center>@ResourceCache.Localize("OR")</center></div>
                            <div class="col-sm-5">
                                <hr />
                            </div>
                        </div>
                        <div class="row col-sm-12">
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Acyear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button", @title = ResourceCache.Localize("AcademicYear") })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Class", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"), new { @class = "current_button", @title = ResourceCache.Localize("Class") })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Student", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } }, new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-lg-4">
                                <button type="button" class="btn btn_double btn-sm btn_submit  btngetFee col-sm-4 col-md-3 col-lg-2" id="btngetFee" name="btngetFee"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                <button type="reset" id="resetbtn" class=" btn  btn-sm btn_reset  col-sm-4 col-md-3 col-lg-2" title="@ResourceCache.Localize("Clear")"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row">
                        </div>
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8" id="Fee_Structure" style="display:none">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeStructure")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("CollectFee", "HostelFeesCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body row border-radius-none">
                        <div>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("feescategoryname")</th>
                                        <th>@ResourceCache.Localize("feescategoryamount")</th>
                                        <th>@ResourceCache.Localize("Tax")</th>
                                        <th>@ResourceCache.Localize("Total")</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_paymentCategory"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row footer">
                        </div>
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_CollectFee" style="display:none">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Summary")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <div>
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("feescategoryamount")</label> </div>
                            <div> <input class="col-md-12" type="text" id="txt_totalamt" name="txt_totalamt" placeholder="@ResourceCache.Localize("feescategoryamount")" readonly title="@ResourceCache.Localize("feescategoryamount")" />    </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Discount")</label>  </div>
                            <div> <input class="col-md-12 digit-validation" type="text" id="txt_discount" name="txt_discount" placeholder="@ResourceCache.Localize("Discount")" title="@ResourceCache.Localize("Discount")" maxlength="3" /></div>
                        </div>

                        <div>
                            <input type="hidden" id="txt_collectedTotal1" name="txt_collectedTotal1" />
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div> <input class="col-md-12" type="text" id="txt_collectedTotal" name="txt_collectedTotal" placeholder="@ResourceCache.Localize("Total")" title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("PaymentMode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-xs-12" id="txt-paymentMode" name="txt-paymentMode" title="@ResourceCache.Localize("PaymentMode")">
                                    <option value="0">@ResourceCache.Localize("SelectPaymentMode")</option>
                                    <option value="1">@ResourceCache.Localize("Cash")</option>
                                    <option value="2">@ResourceCache.Localize("Cheque")</option>
                                    <option value="3">@ResourceCache.Localize("DD")</option>
                                </select>
                            </div>
                        </div>
                        <div id="txt-cheque" style="display:none;">
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Bankname")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-xs-12" type="text" id="txt-bankCheque" name="txt-bankCheque" placeholder="@ResourceCache.Localize("Bankname")" title="@ResourceCache.Localize("Bankname")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Chequenumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="text" id="txt-ChequeNo" name="txt-ChequeNo" placeholder="@ResourceCache.Localize("Chequenumber")" title="@ResourceCache.Localize("Chequenumber")" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div id="txt-dd" style="display:none;">
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Bankname")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-xs-12" type="text" id="txt-bankDD" name="txt-bankDD" placeholder="@ResourceCache.Localize("Bankname")" title="@ResourceCache.Localize("Bankname")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("DDnumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-xs-12" type="text" id="txt-DDNo" name="txt-DDNo" placeholder="@ResourceCache.Localize("DDnumber")" title="@ResourceCache.Localize("DDnumber")" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Remark")</label> </div>
                            <div>
                                <textarea class="col-md-12" id="txt_remark" name="txt_remark" placeholder="@ResourceCache.Localize("Remark")" title="@ResourceCache.Localize("Remark")" style="resize:none;" maxlength="150"></textarea>
                                <span class="char-max-alert"></span>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer btn-down">
                            <button type="button" class="btn btn_double btn-sm btn_add" id="btnCollectFee" name="btnCollectFee" title="@ResourceCache.Localize("CollectFee")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("CollectFee")</button>
                            <button type="reset" class=" btn  btn-sm btn_reset"  id="reset12" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
    </div>
</section>
@*<section class="content" style="height:100%; ">
        <div class="row">
            <!-- solid sales graph -->
            <section class="col-xs-12 col-sm-12 col-md-12">
                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
            </section>
        </div>
    </section>*@
@section scriptsDataTableContainer{
    <script>
        $(document).ready(function () {
            $("#resetbtn").click(function () {
               $("#errorMsg").empty();
                $("#div_Error").hide();
                $("#jsonError").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                $("#MandatoryFieldErrorMessage_Edit").hide();
                $(".Edit_jErr").hide();
                $("#EditErrorText").hide();
                $(".Add_jErr").hide();
            });
            $("#reset12").click(function () {
                $("#errorMsg").empty();
                $("#div_Error").hide();
                $("#jsonError").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                $("#EditErrorText").hide();
                $(".Add_jErr").hide();
            });
        $("#txt_discount").filter_input({ regex: '[0-9]' });
        $("#txt-bankCheque").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt-ChequeNo").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt-bankDD").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt-DDNo").filter_input({ regex: '[0-9A-Za-z]' });
        $("#txt_remark").filter_input({ regex: '[0-9A-Za-z ]' });
        var feecategoryid = [];
        var discountAmount = 0;

        $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
            $('#Acyear').change(function (event) {
            $('#Class').val("");
            $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            event.preventDefault();
            var YearId = $('#Acyear').val();
            AssignAcademicYear(YearId);
            Add_AssignAcademicYear(YearId);
                   });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }


            $('#Class').change(function (event) {
            var ClassId = $('#Class').val();
            $.getJSON('/HostelFeesCollection/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        });
        $('#Section').change(function (event) {
            var YearId = $('#Acyear').val();
            var ClassId = $('#Class').val();
            var SecId = $('#Section').val();
            $.getJSON('/HostelFeesCollection/showStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
                function (orderdetails) {
                    $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Student").append($('<option></option>').val(c.id).html(c.name));
                    });
                });
        });
        $(document).on('click', '.btngetFee', (function () {
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            var rno = $("#txt_rNo").val();
            var acid = $("#Acyear").val();
            var cid = $("#Class").val();
            var secid = $("#Section").val();
            var stdid = $("#Student").val();
            //var acid = $('#Acyear').val();
            $('#idSection_CollectFee').hide();
            $('#Fee_Structure').hide();
            if (rno == "0" || rno == null || rno == "") {
                if (acid == "0" || acid == null || acid == "") {
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").text('@ResourceCache.Localize("Enter_either_RollNumber_or_Academic_Details")');
                    return false;
                }
                else {
                    var a = [];
                    var field_val = [];
                    $(".current_button").each(function () {
                        var valu = $(this).val();
                        if (valu == '') {
                            var null_id = $(this).attr('id');
                            if (null_id == 'Acyear') {
                                a.push('@ResourceCache.Localize("SelectAcademicYear")');
                            }
                            if (null_id == 'Class') {
                                a.push('@ResourceCache.Localize("PleaseSelectClass")');
                            }
                            if (null_id == 'Section') {
                                a.push('@ResourceCache.Localize("PleaseSelectSection")');
                            }
                            if (null_id == 'Student') {
                                a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                            }
                        }
                        else {
                        }
                    });
                    if (a.length != 0) {
                        $("#MandatoryFieldErrorMessage_Add").show();
                        $(".Add_jErr").append().empty();
                        $.each(a, function (i, v) {
                            if (a[i] != "" && a[i] != null) {
                                li = $("<li></li>").text(a[i]);
                                $(".Add_jErr").append(li);
                            }
                        });
                        a = [];
                        return false;
                    }

                    else {
                        $("#MandatoryFieldErrorMessage_Add").hide();

                        values = { AcYearId: acid, ClassId: cid, SectionId: secid, StudentId: stdid }
                        $.ajax(
                           {
                               url: '/HostelFeesCollection/getStudentRegisterId',
                               type: 'POST',
                               data: JSON.stringify(values),
                               dataType: 'json',
                               contentType: "application/json",
                               success: function (data) {
                                   if (data == null) {
                                       $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                                       $("#AddErrorText").html('@ResourceCache.Localize("InvalidStudent")');
                                       $('#MandatoryFieldErrorMessage_Add').hide();
                                   }
                                   else {
                                       $("#txt_rNo").val(data).html(data);
                                       var StudentRegId = $("#txt_rNo").val();
                                       //val_id = { acid: acid,StudentRegId:StudentRegId };
                                       function_collectFee();
                                   }
                               }
                           });
                    }
                }
            }
            else {
                if (cid != 0 && secid != 0 && stdid != 0 && acid != 0) {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                    values = { AcYearId: acid, ClassId: cid, SectionId: secid, StudentId: stdid }
                    $.ajax(
                       {
                           url: '/HostelFeesCollection/getStudentRegisterId',
                           type: 'POST',
                           data: JSON.stringify(values),
                           dataType: 'json',
                           contentType: "application/json",
                           success: function (data) {
                               if (data == null) {
                                   $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                                   $("#AddErrorText").html('@ResourceCache.Localize("InvalidStudent")');
                                   $('#MandatoryFieldErrorMessage_Add').hide();
                               }
                               else {
                                   $("#txt_rNo").val(data).html(data);
                                   var StudentRegId = $("#txt_rNo").val();
                                   function_collectFee();
                               }
                           }
                       });
                }
                else {
                    $("#errorMsg").text("");
                    var rno = $("#txt_rNo").val();
                    values = { RegNo: rno };
                    $.ajax({
                        url: '/HostelFeesCollection/getStudentDetailsByRollNumber',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            if (data.ans == null) {
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").text('@ResourceCache.Localize("InvalidStudentRegisterID")');
                            }
                            else {
                                var aaa = data.ans.AcademicYearId;
                                $("#AddErrorText").text("");
                                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                                $('#MandatoryFieldErrorMessage_Add').hide();
                                $("#Acyear").val(data.ans.AcademicYearId);
                                $.ajax({
                                    url: '/HostelFeesCollection/getClass',
                                    type: 'POST',
                                    dataType: 'json',
                                    contentType: "application/json",
                                    success: function (data1) {
                                        $("#Class").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                                        $.each(data1, function (i, c) {
                                            $("#Class").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                                        });
                                        $("#Class").val(data.ans.ClassId);
                                    }
                                });
                                val_cid = { cid: data.ans.ClassId };
                                $.ajax({
                                    url: '/HostelFeesCollection/getSection',
                                    type: 'POST',
                                    data: JSON.stringify(val_cid),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    success: function (data2) {
                                        $("#Section").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                                        $.each(data2, function (i, c) {
                                            $("#Section").append($('<option></option>').val(c.SectionId).html(c.Section));
                                        });
                                        $("#Section").val(data.ans.SectionId);
                                    }
                                });
                                val_sid = { acid: data.ans.AcademicYearId, sec_id: data.ans.SectionId, cid: data.ans.ClassId };
                                $.ajax({
                                    url: '/HostelFeesCollection/getStudent',
                                    type: 'POST',
                                    data: JSON.stringify(val_sid),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    success: function (data3) {
                                        $("#Student").empty().append('<option value="0">@ResourceCache.Localize("SelectStudent")</option>');
                                        $.each(data3, function (i, v) {
                                            $("#Student").append($('<option></option>').val(v.sid).html(v.sname));
                                        });
                                        $("#Student").val(data.ans.StudentRegId);
                                        function_collectFee();
                                    }
                                });

                            }
                        }
                    });
                }
            }
            //Create Table Structure for Fee Collection
            function function_collectFee() {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#txt_totalamt").val("").html("");
                $("#txt_discount").val("").html("");
                $("#txt_late").val("").html("");
                $("#txt_Vat").val("").html("");
                $("#txt_collectedTotal").val("").html("");
                $("#txt_remark").val("").html("");
                $("#txt_collectedTotal").val("").html("");
                $("#txt_collectedTotal1").val("");
                mainfee_total = [];
                tt1 = 0;
                total_term = 0;
                var annual_count = 0;
                var id_cb = 0, tab = 0;
                var StudentRegId = $("#Student").val();
                var acid = $('#Acyear').val();
                val_id = { acid: acid, StudentRegId: StudentRegId };
                $.ajax({
                    url: '/HostelFeesCollection/getStudentFeeDetails_Hostel',
                    type: 'POST',
                    data: JSON.stringify(val_id),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#idSection_CollectFee").hide();
                            $("#Fee_Structure").hide;
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                        else {
                            $("#Fee_Structure").show();
                            $("#idSection_CollectFee").show();
                            $(".NoRecords").hide();
                            var td_body = 0;
                            var feeid = 0;
                            var subid_cb = 0;
                            $("#tbody_paymentCategory").append().empty();
                            var x = 1;
                            var scb_amt, cb_amt;
                            var totant = 0;
                            $.each(data.ans, function (i, v) {
                                var row, table1;
                                id_cb = "cb" + (annual_count + 1);
                                {
                                    td_body = "td_body" + (annual_count + 1);
                                    tab = "tab" + (annual_count + 1);
                                    cb_amt = "cb_amt" + (annual_count + 1);
                                    feeid = v.FeeId;
                                    row = "<tr><input type='hidden' value='" + v.categoryid + "'  id='FeeCategoryId" + (annual_count + 1) + "'    /><td>" + v.categoryname + "</td><td>" + v.Amount + "</td><td>" + v.tax + "</td><td>" + v.total + "</td></tr>";
                                    a_Count = annual_count;
                                    totant = v.total + totant;
                                    feecategoryid.push(v.categoryid);
                                }
                                annual_count++;
                                $("#tbody_paymentCategory").append(row);
                                $("#txt_totalamt").val(totant).html(totant);
                                $("#txt_collectedTotal").val(totant).html(totant);
                            });
                            $("#txt_discount").keyup(function () {
                                var collectedTotal = $("#txt_totalamt").val();
                                var discount = $("#txt_discount").val();
                                var discount_amt = parseFloat(collectedTotal) * (parseFloat(discount) / 100);
                                discountAmount = discount_amt;
                                var ttl1 = parseFloat(collectedTotal) - discount_amt;
                                $("#txt_collectedTotal").val(ttl1).html(ttl1);
                                if (discount == '') {
                                    dd = 0;
                                    var discount_amt = parseFloat(collectedTotal) * (parseFloat(dd) / 100);
                                    var ttl1 = parseFloat(collectedTotal) - discount_amt;
                                    $("#txt_collectedTotal").val(ttl1).html(ttl1);
                                }
                            });
                            function validateRange(ele) {
                                var val = ele.val();
                                if (!$.isNumeric(val) || parseInt(val, 10) < 0 || parseInt(val, 10) > 100) {
                                    $('#result').html('false');
                                    $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                                    $("#EditErrorText").text('@ResourceCache.Localize("Discounttogivewith100only")');
                                    return false;
                                }
                                else {
                                    $('#result').html('true');
                                }
                            }
                            $('.digit-validation').keyup(function (event) {
                                validateRange($(this));
                            });
                            $("#txt_discount").keyup(function (event) {//check that the field isn't empty
                                if ($(this).val() == "") {
                                    $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                                }
                            });
                        }
                    }
                });
            }
        }));

        $("#btnCollectFee").click(function () {
            var CollectionDate = $("#txt_recdate").val();
            var Acid = $("#Acyear").val();
            var Std_id = $("#Student").val();
            var classId = $("#Class").val();
            var sectionId = $("#Section").val();
            var txt_collectedTotal = $("#txt_collectedTotal").val();
            var txt_discount = $("#txt_discount").val();
            var txt_totalamt = $("#txt_totalamt").val();
            var txt_paymentMode = $("#txt-paymentMode").val();
            var txt_bankCheque = $("#txt-bankCheque").val();
            var txt_ChequeNo = $("#txt-ChequeNo").val();
            var txt_bankDD = $("#txt-bankDD").val();
            var txt_DDNo = $("#txt-DDNo").val();
            var txt_remark = $("#txt_remark").val();

            var bank_name = "";
            if (txt_paymentMode == 2) {
                bank_name = txt_bankCheque;
            }
            else if (txt_paymentMode == 3) {
                bank_name = txt_bankDD;
            }
            var vat_checked = $("#vat_check").is(":checked");
            if (vat_checked == true) {
                txt_Vat = $("#txt_Vat").val();
            }
            else {
                txt_Vat = 0;
            }
            if (Std_id == null || Std_id == "" || Std_id == 0) {
                $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text('@ResourceCache.Localize("Please_Enter_Register_number")');
                return false;
            }
            if (txt_collectedTotal == null || txt_collectedTotal == "" || txt_collectedTotal == 0) {
                $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text('@ResourceCache.Localize("Please_Select_Payment_Mode")');
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                if (txt_paymentMode == null || txt_paymentMode == "" || txt_paymentMode == 0) {
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text('@ResourceCache.Localize("Please_Select_Payment_Mode")');
                    return false;
                }
                else {
                    if (txt_paymentMode == 2) {
                        if (txt_bankCheque == null || txt_bankCheque == "" || txt_bankCheque == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text('@ResourceCache.Localize("EnterBankName")');
                            return false;
                        }
                        else if (txt_ChequeNo == null || txt_ChequeNo == "" || txt_ChequeNo == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text('@ResourceCache.Localize("EnterChequeNumber")');
                            return false;
                        }
                        else {
                            collection_function();
                        }
                    }
                    else if (txt_paymentMode == 3) {
                        if (txt_bankDD == null || txt_bankDD == "" || txt_bankDD == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text('@ResourceCache.Localize("EnterBankName")');
                            return false;
                        }
                        else if (txt_DDNo == null || txt_DDNo == "" || txt_DDNo == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text('@ResourceCache.Localize("EnterDDNumber")');
                            return false;
                        }
                        else {

                            collection_function();
                        }
                    }
                    else {
                        collection_function();
                    }
                }
            }

            function collection_function() {
                FeeCollection_Value = {
                    FeeCollectiondate: CollectionDate, AcademicYearId: Acid, FeeAmount: txt_totalamt, PaymentMode: txt_paymentMode, BankName: bank_name, ChequeNumber: txt_ChequeNo, DDNumber: txt_DDNo, Remark: txt_remark, Discount: discountAmount,
                    AmountCollected: txt_collectedTotal, FeeCategoryId: feecategoryid, StudentRegId: Std_id, ClassId: classId, SectionId: sectionId
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/HostelFeesCollection/CollectFee_Hostel',
                    type: 'POST',
                    data: JSON.stringify(FeeCollection_Value),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (list) {
                        var totalError = list.ex;
                        var li = [];
                        if (list.Success == 0) {
                            feecategoryid.length = 0;
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                           // $(".jSuccessMsg").html(list.SuceessMessage).val(list.SuceessMessage);
                            // $(".jsonError").show();
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_Edit").show();
                            $(".Edit_jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".Edit_jErr").append(li);
                                }
                            });
                            //var sssss = list.feescollectionid;
                            //alert(sssss);
                            //sssss++;
                            //$('#txt_recId').val(sssss);
                            //var encrpt = list.Encrptid;
                            //$("#Loading_Sec").removeClass("loading-new");
                            //window.open('/HostelManagement/HostelFeesCollection/HostelBillReceipt/' + encrpt, "wndPopUp", 'width=900,height=850,resizable=no');
                        }
                        if (list.SuceessMessage != "" && list.SuceessMessage != null) {
                            feecategoryid.length = 0;
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jsonErrorMsg").hide();
                            $(".jSuccessMsg").html(list.SuceessMessage).val(list.SuceessMessage);
                            var sssss = list.feescollectionid;
                            sssss++;
                            $('#txt_recId').val(sssss);
                            var encrpt = list.Encrptid;
                            $("#Loading_Sec").removeClass("loading-new");
                            window.open('/HostelManagement/HostelFeesCollection/HostelBillReceipt/' + encrpt, "wndPopUp", 'width=900,height=850,resizable=no');
                        }

                        if (list.ErrorMessage != "" && list.ErrorMessage != null) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").html(list.ErrorMessage).val(list.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (list.ExceptionError != "" && list.ExceptionError != null) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").html(list.ExceptionError).val(list.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (list.correctid != "" && list.correctid != null) {
                            //alert("correctid");
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").html(list.correctid).val(list.correctid);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            }
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
        $('#txt_remark').keypress(function (e) {
            var tval = $('#txt_remark').val(),
                tlength = tval.length,
                set = 250,
                remain = parseInt(set - tlength);
            $(this).next('.char-max-alert').html(remain + ' characters remaining');
            if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
                $('#txt_remark').val((tval).substring(0, tlength - 1))
            }
        })
    });

</script>
}