﻿@model IEnumerable<eAcademy.DataModel.HostelFeesCategory>
@using eAcademy.Models;
@{
    ViewBag.Title = "getStudentFeeDetails_Hostel";
}

<h2>getStudentFeeDetails_Hostel</h2>



@{
    ViewBag.Title = "CollectFee";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">

    <div class="row">
        <section class="col-xs-12 ">

            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeCollection")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>

                @using (Html.BeginForm("CollectHostelFee", "HostelFeesCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @*@Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/JsonError.cshtml")*@
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                    </div>
                    <div class="box-body row border-radius-none">
                        <div class="col-xs-12">
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptNumber") </label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_recId" name="txt_recId" value="@ViewBag.recID" readonly title="@ResourceCache.Localize("ReceiptNumber")" /></div>

                            </div>

                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptDate")</label>  </div>
                                <div><input class="col-xs-12" type="text" id="txt_recdate" name="txt_recdate" value="@ViewBag.sysDate" readonly title="@ResourceCache.Localize("ReceiptDate")" /></div>

                            </div>

                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("RegisterNumber")</label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_rNo" name="txt_rNo" placeholder="@ResourceCache.Localize("StudentRollNumber")" title="@ResourceCache.Localize("StudentRollNumber")" maxlength="10" /></div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <hr />
                            </div>
                            <div class="col-sm-2" style="Color:darkblue;font-size:xx-large;font-weight:500;"><center>@ResourceCache.Localize("OR")</center></div>
                            <div class="col-sm-5">
                                <hr />
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("AcyearList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button", @title =ResourceCache.Localize("AcademicYear")})
                                </div>

                            </div>
                        </div>

                        <div class="row col-sm-12">

                            <button type="button" class="btn btn_double btn-sm btn_submit  btngetFee col-sm-4 col-md-3 col-lg-2" id="btngetFee" name="btngetFee"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>

                            <button type="reset" class=" btn  btn-sm btn_reset  col-sm-4 col-md-3 col-lg-2" title=@ResourceCache.Localize("Clear")> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>

                        </div>
                    </div>

                    <div class="box-footer no-border">

                        <div class="row">

                        </div>
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->



        </section><!-- right col -->

        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeStructure")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("CollectFee", "HostelFeesCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    @*@Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")*@
                <div class="box-body row border-radius-none">
                        <div>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@ResourceCache.Localize("FeeCategory")</th>
                                        <th>@ResourceCache.Localize("Amount")</th>
                                        <th>@ResourceCache.Localize("Tax")</th>
                                        <th>@ResourceCache.Localize("Total")</th>


                                    </tr>
                                </thead>
                                <tbody id="tbody_paymentCategory"></tbody>
                            </table>
                        </div>

                    </div>

                    <div class="box-footer no-border">

                        <div class="row footer">

                        </div>
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->


        </section>

    </div>
</section>



<section class="content" style="height:100%; ">
    <div class="row">
        <!-- solid sales graph -->
        <section class="col-xs-12 col-sm-12 col-md-12">
            @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
        </section>
    </div>
</section> 
@section scriptsDataTableContainer{
<script>
    $(document).ready(function () {
        //alert("scb");
        function_VAT();

        // alert(parseFloat(VAT_amount));
        $(document).on('click','.btngetFee',(function () {

            var rno = $("#txt_rNo").val();
            var acid = $("#AcyearList").val();

            $('#idSection_RefundFee').hide();
            $('#idSection_CollectFee').show();
            if (rno == "0" || rno == null || rno == "") {


                if (acid == "0" || acid == null || acid == "") {
                    $('#MandatoryFieldErrorMessage_AddWithMsg').show();
                    $("#AddErrorText").html('@ResourceCache.Localize("Enter_either_RollNumber_or_Academic_Details")');
                    return false;
                }
                else {

                    $("#AddErrorText").text("");
                    $("#MandatoryFieldErrorMessage_AddWithMsg").hide();


                    var a = [];
                    var field_val = [];
                    $(".current_button").each(function () {

                        var valu = $(this).val();
                        var field_name = $(this).attr('name');
                        if (valu == '') {
                            var null_id = $(this).attr('id');
                            if (null_id == 'AcyearList') {

                                a.push('@ResourceCache.Localize("SelectAcademicYear")');
                            }
                            if (null_id == 'ClassList') {

                                a.push('@ResourceCache.Localize("PleaseSelectClass")');
                            }
                            if (null_id == 'SectionList') {

                                a.push('@ResourceCache.Localize("PleaseSelectSection")');
                            }
                            if (null_id == 'StudentList') {

                                a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                            }
                        }

                    });



                    if (a.length != 0) {

                        $('#MandatoryFieldErrorMessage_Add').show();

                        $(".Add_jErr").append().empty();
                        $.each(a, function (i, v) {
                            if (a[i] != "" && a[i] != null) {
                                li = $("<li></li>").text(a[i]);
                                $(".Add_jErr").append(li);
                            }
                        });
                        a = [];
                        return false;


                    }
                    else {
                        $("#MandatoryFieldErrorMessage_Add").hide();

                        var cid = $("#ClassList").val();
                        var secid = $("#SectionList").val();
                        var stdid = $("#StudentList").val();

                        val_Term = { acid: acid };
                        function_TermCount();


                        values = { AcYearId: acid, ClassId: cid, SectionId: secid, StudentId: stdid }
                        $.ajax(
                            {
                                url: '/FeeCollection/getStudentFeeDetails',
                                type: 'POST',
                                data: JSON.stringify(values),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data) {
                                    if (data.ans == null) {
                                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                                        $("#AddErrorText").html("@ResourceCache.Localize("InvalidStudent") ");
                                        $('#MandatoryFieldErrorMessage_Add').hide();
                                    }
                                    else {
                                        $("#txt_rNo").val(data.ans.StudentId).html(data.ans.StudentId);
                                    }

                                }
                            });

                        val_id = { acid: acid, cid: cid, secid: secid, stdid: stdid };
                        function_collectFee();
                    }
                }

            }
            else {

                $("#errorMsg").text("");
                $("#div_Error").hide();
                values = { RegNo: rno };
                $.ajax({
                    url: '/FeeCollection/getStudentFeeDetailsByRollNumber',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {

                        if (data.ans == null) {
                            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                            $("#AddErrorText").html("@ResourceCache.Localize("InvalidStudentRegisterID")");
                            $('#MandatoryFieldErrorMessage_Add').hide();
                        }
                        else {

                            var aaa = data.ans.AcademicYearId;
                            val_Term = { acid: aaa };

                            function_TermCount();
                            $("#AddErrorText").text("");
                            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                            $('#MandatoryFieldErrorMessage_Add').hide();
                            $("#AcyearList").val(data.ans.AcademicYearId);

                            $.ajax({
                                url: '/FeeCollection/getClass',
                                type: 'POST',
                                //data: JSON.stringify(values),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data1) {
                                    $("#ClassList").empty().append('<option value="0">@ResourceCache.Localize("PleaseSelectSection")</option>');
                                    $.each(data1, function (i, c) {
                                        $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                                    });
                                    $("#ClassList").val(data.ans.ClassId);

                                }
                            });


                            val_cid = { cid: data.ans.ClassId };
                            $.ajax({
                                url: '/FeeCollection/getSection',
                                type: 'POST',
                                data: JSON.stringify(val_cid),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data2) {
                                    $("#SectionList").empty().append('<option value="0">@ResourceCache.Localize("PleaseSelectSection")</option>');
                                    $.each(data2, function (i, c) {
                                        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                                    });
                                    $("#SectionList").val(data.ans.SectionId);

                                }
                            });

                            val_sid = { acid: data.ans.AcademicYearId, sec_id: data.ans.SectionId, cid: data.ans.ClassId };
                            $.ajax({
                                url: '/FeeCollection/getStudent',
                                type: 'POST',
                                data: JSON.stringify(val_sid),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data3) {
                                    $("#StudentList").empty().append('<option value="0">@ResourceCache.Localize("PleaseSelectStudent")</option>');
                                    $.each(data3, function (i, v) {
                                        $("#StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                                    });
                                    $("#StudentList").val(data.ans.StudentRegId);

                                }

                            });
                            val_id = { acid: data.ans.AcademicYearId, cid: data.ans.ClassId, secid: data.ans.SectionId, stdid: data.ans.StudentRegId }

                            function_collectFee();


                        }
                    }
                });


            }

        }));





        $(document).on('click', '.annualcb', (function () {
            FeeCatIDList = [];
            PayTypeIDList = [];
            for (var i = 1; i <= a_Count; i++) {



                var check = $("#cb" + i).is(':checked');





                if (check == true) {

                    var yyy = 0;

                    $("#cb_amt" + i).val($("#hiddenamt" + i).val()).html($("#hiddenamt" + i).val());
                    var amnt = $("#cb_amt" + i).html();

                    mainfee_total[i] = parseFloat(amnt);
                    FeeCatIDList.push($("#FeeCategoryId" + i).val());
                    PayTypeIDList.push($("#TermId" + i).val());

                    for (var j = 1; j <= Term_Count; j++) {

                        var check1 = $("#tab" + i + " #scb" + j).is(':checked');
                        if (check1 == true) {


                            yyy = yyy + parseFloat($("#tab" + i + " #scb_amt" + j).html());




                        }

                    }
                    $("#tab" + i).find(':checkbox').prop("checked", false);

                    total_term = total_term - parseFloat(yyy);


                    $("#tab" + i).hide();


                }
                else {
                    $("#tab" + i).show();

                    mainfee_total[i] = 0;

                }
            }

            total_main = 0;

            for (var i = 1; i <= a_Count; i++) {

                if (mainfee_total != 0) {

                    total_main = total_main + mainfee_total[i];
                }
            }

            $("#txt_totalamt").val(total_main).html(total_main);
            $("#txt_collectedTotal").val(total_main).html(total_main);
            $("#txt_collectedTotal1").val(total_main);
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);

        }));


        var termfee_total = [, ];

        var calTotal = 0;

        $(document).on('click', '.termcb', (function () {



            var scb_count = 0;
            calTotal = 0;
            SubFeeCatIDList = [];
            SubPayTypeIDList = [];
            for (var j = 1; j <= a_Count; j++) {


                for (var i = 1; i <= Term_Count; i++) {

                    var ch1 = "#cb" + j;
                    var ch2 = "#scb" + i;


                    var check = $("#tab" + j + " #scb" + i).is(':checked');



                    if (check == true) {

                        scb_count++;

                        if (scb_count == Term_Count) {
                            $("#tab" + j).hide();
                            $("#cb" + j).prop("checked", true);
                            $("#cb_amt" + j).val($("#hiddenamt" + j).val()).html($("#hiddenamt" + j).val());

                            for (var k = 1; k <= a_Count; k++) {
                                var check = $("#cb" + k).is(':checked');

                                if (check == true) {

                                    var amnt = $("#cb_amt" + k).html();
                                    mainfee_total[k] = parseFloat(amnt);
                                    $("#tab" + k).hide();

                                }
                                else {
                                    $("#tab" + k).show();

                                    mainfee_total[k] = 0;

                                }
                            }

                            total_main = 0;
                            term_main1 = 0;
                            for (var k = 1; k <= a_Count; k++) {

                                if (mainfee_total != 0) {

                                    total_main = total_main + mainfee_total[k];
                                }
                            }

                            $("#txt_totalamt").val(total_main).html(total_main);
                            $("#txt_collectedTotal").val(total_main).html(total_main);
                            $("#txt_collectedTotal1").val(total_main);

                            var collectedTotal1 = $("#txt_collectedTotal1").val();
                            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
                            $("#txt_Vat").val(vvv_vat).html(vvv_vat);


                            $("#tab" + j).find(':checkbox').prop("checked", false);



                            var removeItem = $("#tab" + j + " #SubFeeCategoryId" + i).val();
                            SubFeeCatIDList = jQuery.grep(SubFeeCatIDList, function (value) {
                                return value != removeItem;
                            });

                            var removeItem_termid = $("#tab" + j + " #SubTermId" + i).val();
                            SubPayTypeIDList = jQuery.grep(SubPayTypeIDList, function (value) {
                                return value != removeItem_termid;
                            });


                            FeeCatIDList.push($("#FeeCategoryId" + j).val());
                            PayTypeIDList.push($("#TermId" + j).val());
                        }


                        else {
                            var xxxx = $("#tab" + j + " #scb_amt" + i).html();

                            termfee_total[j, i] = parseFloat(xxxx);






                            calTotal = parseFloat(calTotal) + termfee_total[j, i];

                            $("#cb_amt" + j).val(calTotal).html(calTotal);



                            SubFeeCatIDList.push($("#tab" + j + " #SubFeeCategoryId" + i).val());
                            SubPayTypeIDList.push($("#tab" + j + " #SubTermId" + i).val());


                            term_main = parseFloat(xxxx);


                            term_main1 = term_main1 + term_main;


                        }






                    }


                }



                scb_count = 0;

                calTotal = 0;

            }

            total_term = term_main1;
            $("#txt_totalamt").val(term_main1).html(term_main1);
            $("#txt_collectedTotal").val(term_main1).html(term_main1);

            $("#txt_collectedTotal1").val(term_main1);

            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);

            term_main1 = 0;
            // termfee_total = [, ];

        }));




        $(document).on('click', '.annualcb', (function () {

            tt1 = total_main + total_term;
            $("#txt_totalamt").val(tt1).html(tt1);
            $("#txt_collectedTotal").val(tt1).html(tt1);
            $("#txt_collectedTotal1").val(tt1);
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);
        }));


        $(document).on('click', '.termcb', (function () {
            tt1 = total_main + total_term;
            $("#txt_totalamt").val(tt1).html(tt1);
            $("#txt_collectedTotal").val(tt1).html(tt1);
            $("#txt_collectedTotal1").val(tt1);

            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);

        }));




        $("#txt_late").keyup(function () {
            function_keyup();
        });



        $("#txt_discount").keyup(function () {
            function_keyup();

        });

        $("#vat_check").click(function () {
            function_keyup();

        });




        $("#btnCollectFee").click(function () {
            var CollectionDate = $("#txt_recdate").val();
            var Acid = $("#AcyearList").val();
            var Cid = $("#ClassList").val();
            var Sec_id = $("#SectionList").val();
            var Std_id = $("#StudentList").val();
            var txt_collectedTotal = $("#txt_collectedTotal").val();
            var txt_Vat;
            var txt_late = $("#txt_late").val();
            var txt_discount = $("#txt_discount").val();
            var txt_totalamt = $("#txt_totalamt").val();
            var txt_paymentMode = $("#txt-paymentMode").val();
            var txt_bankCheque = $("#txt-bankCheque").val();
            var txt_ChequeNo = $("#txt-ChequeNo").val();
            var txt_bankDD = $("#txt-bankDD").val();
            var txt_DDNo = $("#txt-DDNo").val();
            var txt_remark = $("#txt_remark").val();


            var bank_name = "";

            if (txt_paymentMode == 2) {

                bank_name = txt_bankCheque;

            }
            else if (txt_paymentMode == 3) {
                bank_name = txt_bankDD;

            }

            var vat_checked = $("#vat_check").is(":checked");
            if (vat_checked == true) {

                txt_Vat = $("#txt_Vat").val();
            }
            else {

                txt_Vat = 0;
            }




            if (txt_collectedTotal == null || txt_collectedTotal == "" || txt_collectedTotal == 0) {
                $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text("@ResourceCache.Localize("Please_Select_Fees") ");
                return false;
            }
            else {

                $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                if (txt_paymentMode == null || txt_paymentMode == "" || txt_paymentMode == 0) {
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text("@ResourceCache.Localize("SelectPaymentMode")");
                    return false;
                }
                else {

                    if (txt_paymentMode == 2) {

                        if (txt_bankCheque == null || txt_bankCheque == "" || txt_bankCheque == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text("@ResourceCache.Localize("EnterBankName")");
                            return false;
                        }

                        else if (txt_ChequeNo == null || txt_ChequeNo == "" || txt_ChequeNo == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text("@ResourceCache.Localize("EnterChequeNumber")");
                            return false;
                        }
                        else {
                            collection_function();
                        }

                    }
                    else if (txt_paymentMode == 3) {
                        if (txt_bankDD == null || txt_bankDD == "" || txt_bankDD == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text("@ResourceCache.Localize("EnterBankName")");
                            return false;
                        }

                        else if (txt_DDNo == null || txt_DDNo == "" || txt_DDNo == 0) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").text("@ResourceCache.Localize("EnterDDNumber")");
                            return false;
                        }

                        else {
                            collection_function();
                        }
                    }

                    else {
                        collection_function();
                    }
                }
            }
                       
            function collection_function() {


                FeeCollection_Value = { FeeCollectiondate: CollectionDate, AcademicYearId: Acid, ClassId: Cid, SectionId: Sec_id, StudentRegId: Std_id, FeeAmount: txt_totalamt, AmountCollected: txt_collectedTotal, Fine: txt_late, Discount: txt_discount, VAT: txt_Vat, PaymentMode: txt_paymentMode, BankName: bank_name, ChequeNumber: txt_ChequeNo, DDNumber: txt_DDNo, Remark: txt_remark, FeeCategoryId: FeeCatIDList, PaymentTypeId: PayTypeIDList, SubFeeCategoryId: SubFeeCatIDList, SubPaymentTypeId: SubPayTypeIDList };

                $.ajax({
                    url: '/FeeCollection/CollectFee',
                    type: 'POST',
                    data: JSON.stringify(FeeCollection_Value),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (list) {

                        if (list.ErrorMessage != "" && list.ErrorMessage != null) {

                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").html(list.ErrorMessage).val(list.ErrorMessage);
                        }
                        if (list.Message != "" && list.Message != null) {
                            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();

                            $("#MandatoryFieldSuccessMessage_EditWithMsg").show();
                            $("#EditSuccessText").html(list.Message).val(list.Message);
                            $("#txt_collectedTotal").val("").html("");
                            $("#txt_late").val("").html("");
                            $("#txt_discount").val("").html("");
                            $("#txt_totalamt").val("").html("");

                            $("#txt-bankCheque").val("").html("");
                            $("#txt-ChequeNo").val("").html("");
                            $("#txt-bankDD").val("").html("");
                            $("#txt-DDNo").val("").html("");
                            $("#txt_remark").val("").html("");
                            $("#txt_Vat").val("").html("");
                            $("#vat_check").prop("checked", false);

                            val_id = { acid: Acid, cid: Cid, secid: Sec_id, stdid: Std_id };
                            function_collectFee();
                        }

                        if (list.ExceptionError != "" && list.ExceptionError != null) {
                            $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                            $("#EditErrorText").html(list.ExceptionError).val(list.ExceptionError);

                        }
                    }

                });
            }


        });
    });


    function function_keyup() {
        var discount = $("#txt_discount").val();
        var lateCharge = $("#txt_late").val();
        var collectedTotal = $("#txt_totalamt").val();
        var Check_VAT = $("#vat_check").is(":checked");

        if (Check_VAT == true) {
            var collectedTotal1 = $("#txt_collectedTotal1").val();

            var vvv_vat = $("#txt_Vat").val();

            var vat_collect = parseFloat(collectedTotal1) + parseFloat(vvv_vat);
            // $("#txt_collectedTotal").val(vat_collect).html(vat_collect);
            if (discount == null || discount == 0 || discount == "") {

                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {
                    $("#txt_collectedTotal").val(vat_collect).html(vat_collect);
                    // $("#txt_collectedTotal1").val(collectedTotal);

                }
                else {

                    var ttl2 = parseFloat(lateCharge) + parseFloat(collectedTotal) + parseFloat(vvv_vat);

                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                    // $("#txt_collectedTotal1").val(ttl2);

                }
            }
            else {

                var discount_amt = parseFloat(collectedTotal) * (parseFloat(discount) / 100);

                var ttl1 = parseFloat(collectedTotal) - discount_amt;

                var ttl5 = ttl1 + parseFloat(vvv_vat);
                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {

                    $("#txt_collectedTotal").val(ttl5).html(ttl5);
                    // $("#txt_collectedTotal1").val(ttl1);

                }
                else {

                    var ttl2 = parseFloat(lateCharge) + ttl5;

                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                    // $("#txt_collectedTotal1").val(ttl2);

                }
            }





        }
        else {
            if (discount == null || discount == 0 || discount == "") {

                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {

                    $("#txt_collectedTotal").val(collectedTotal).html(collectedTotal);
                    //$("#txt_collectedTotal1").val(collectedTotal);
                }
                else {

                    var ttl2 = parseFloat(lateCharge) + parseFloat(collectedTotal);

                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                    // $("#txt_collectedTotal1").val(ttl2);
                }
            }
            else {

                var discount_amt = parseFloat(collectedTotal) * (parseFloat(discount) / 100);

                var ttl1 = parseFloat(collectedTotal) - discount_amt;

                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {

                    $("#txt_collectedTotal").val(ttl1).html(ttl1);
                    //$("#txt_collectedTotal1").val(ttl1);
                }
                else {

                    var ttl2 = parseFloat(lateCharge) + ttl1;

                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                    // $("#txt_collectedTotal1").val(ttl2);
                }
            }
        }


    }

    //Create Table Structure for Fee Collection
    function function_collectFee() {

        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#txt_totalamt").val("").html("");
        $("#txt_discount").val("").html("");
        $("#txt_late").val("").html("");
        $("#txt_Vat").val("").html("");
        $("#txt_collectedTotal").val("").html("");
        $("#txt_remark").val("").html("");


        $("#txt_collectedTotal").val("").html("");
        $("#txt_collectedTotal1").val("");


        mainfee_total = [];

        tt1 = 0;
        total_term = 0;
        total_main = 0;
        term_main = 0;
        term_main1 = 0;

        var annual_count = 0;
        var id_cb = 0, tab = 0;
        $.ajax({
            url: '/FeeCollection/getFees',
            type: 'POST',
            data: JSON.stringify(val_id),
            dataType: 'json',
            contentType: "application/json",
            success: function (list) {
                if (list.ans == 0) {
                        $(".NoRecords").show();
                        $("#idSection_FeeCollection").hide();
                    }
                    else {
                        $("#idSection_FeeCollection").show();
                        $(".NoRecords").hide();
                        var td_body = 0;
                        var feeid = 0;
                        var subid_cb = 0;
                        $("#tbody_paymentCategory").append().empty();
                        var x = 1;
                        var scb_amt, cb_amt;
                        $.each(list.ans, function (i, v) {
                            var row, table1;
                            id_cb = "cb" + (annual_count + 1);

                            if (feeid == v.FeeId) {

                                subid_cb = "scb" + x;
                                scb_amt = "scb_amt" + x;
                                feeid = v.FeeId;
                                table = "<tr><td><input type='hidden' value='" + v.FeeCategoryId + "' id='SubFeeCategoryId" + x + "' /><input type='hidden' value='" + v.TermId + "' id='SubTermId" + x
                                    + "' /><input class='termcb' type='checkbox' id='" + subid_cb + "' /></td> <td>" +v.PaymentType + "</td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td><label id='" + scb_amt + "'>" + v.Total + "</abel></td> <td><label class='SubLDate' id='SubLDate" + x + "'>" + v.Ldate + "</label></td></tr>";
                            x++;
                            $("#" + td_body).append(table);

                            if (x > Term_Count) {
                                // alert("termcount::::" + Term_Count + "-" + x);
                                x = 1;
                            }
                            else {

                                //alert("termcount::::" + Term_Count+"-"+ x);
                            }
                        }
                        else {

                                td_body = "td_body" + (annual_count + 1);
                                tab = "tab" + (annual_count + 1);
                                cb_amt = "cb_amt" + (annual_count + 1);
                                feeid = v.FeeId;
                                row = "<tr><td><input type='hidden' value='" + v.FeeCategoryId + "' id='FeeCategoryId" + (annual_count + 1) + "' /><input type='hidden' value='" + v.TermId + "' id='TermId" + (annual_count + 1) + "' /><input type='hidden' id='CollectionId" + (annual_count + 1) + "' name='CollectionId" + (annual_count + 1) + "' /><input class='annualcb' id='" + id_cb + "' type='checkbox' /></td><td>" + v.FeeCategory + "<table class='table table-bordered' id=" + tab + "><tbody id=" + td_body + "></tbody></table></td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td> <input type='hidden' value=" + v.Total + " id='hiddenamt" + (annual_count + 1) + "' /><label id='" + cb_amt + "'>" + v.Total+ "</label></td><td><label id='Ldate" + (annual_count + 1) + "'>" + v.Ldate+ "</label> <a class='Refund_link' id='refund_" + (annual_count + 1) + "' name='refund_" + (annual_count + 1) + "' style='display:none;color:blue;'>(Refund)</a></td></tr>";
                            annual_count++;
                            a_Count = annual_count;

                        }
                        $("#tbody_paymentCategory").append(row);

                        Overall_Count++;
                    });




                }


                $.each(list.result, function (index, v) {

                    //alert("Index" + index);
                    //alert("v.PaymentTypeId" + v.PaymentTypeId);
                    if (v.PaymentTypeId == 0) {
                        // alert("Annual=" + v.FeeCategoryId);

                        for (var i = 1; i <= a_Count; i++) {

                            if ($("#FeeCategoryId" + i).val() == v.FeeCategoryId) {

                                $('#cb' + i).closest('tr').addClass("highlightPaiedList");
                                $('#cb' + i).prop('disabled', true);
                                $('#Ldate' + i).text("Paid");
                                $('#refund_' + i).show();
                                $('#CollectionId' + i).val(v.CollectedId);
                                $('#tab' + i).addClass("highlightPaiedList");
                                $('#tab' + i + ' *').attr("disabled", "disabled");
                                $('#tab' + i + ' .SubLDate').text("Paid");
                            }
                        }
                    }
                    else {


                        var flag1 = 0;

                        for (var j = 1; j <= a_Count; j++) {
                            //alert("main row=" + j);

                            for (var i = 1; i <= Term_Count; i++) {

                                //alert("main row=" + j+ " i=" + i);
                                if (flag1 == 0) {
                                    // alert("ans Cat+ Term:::::::::::"+ $("#SubFeeCategoryId" + i).val() +"=="+ v.FeeCategoryId +"&&"+ $("#SubTermId" + i).val() +"== "+v.PaymentTypeId);
                                    // alert($('#tab' + j + " #SubFeeCategoryId" + i).val() == v.FeeCategoryId && $('#tab' + j + " #SubTermId" + i).val() == v.PaymentTypeId);
                                    if ($('#tab' + j + " #SubFeeCategoryId" + i).val() == v.FeeCategoryId && $('#tab' + j + " #SubTermId" + i).val() == v.PaymentTypeId) {
                                        // alert("Term=" + v.PaymentTypeId);
                                        $('#tab' + j + ' #scb' + i).closest('tr').addClass("highlightPaiedList");
                                        $('#tab' + j + ' #scb' + i).prop('disabled', true);
                                        $('#tab' + j + ' #SubLDate' + i).text("Paid");
                                        flag1++;
                                        // $('.annualcb').prop('disabled', true);
                                        $('#cb' + j).prop('disabled', true);
                                    }
                                }
                            }
                        }

                    }

                });


            }
        });




    }

    $(document).on('click', '.Refund_link', (function () {

        var rno = $("#txt_rNo").val();
        var acid = $("#AcyearList").val();
        var null_id = [];
        null_id = $(this).attr('id').split('_');
        //alert(null_id[0] + "= val=" + null_id[1]);

        var CollectionId = $("#CollectionId" + null_id[1]).val();

        $.getJSON("/FeeCollection/GetRefundDetails", { CollectionId: CollectionId },
                            function (data) {
                                if (data.ans == null) {
                                    $("#div_Error").show();
                                    $("#errorMsg").html("Invalid Student ");
                                }
                                else {
                                    $('#idSection_RefundFee').show();
                                    $('#idSection_CollectFee').hide();
                                    $('#CollectedId').val(CollectionId);
                                    $('#txt_RefundFeeCategory').val(data.ans.FeeCategoryname);
                                    $('#txt_CollectedAmount').val(data.ans.CollectedAmount);


                                }
                                if (data.result != 0 && data.result != null)
                                {

                                    $('#ExistAmt').show();
                                    $('#txt_ExitRefundAmount').val(data.result);
                                }
                                else {
                                    $('#ExistAmt').hide();

                                }
                                if(data.amount !=null )
                                {
                                    $('#txt_RefundAmount').val(data.amount);
                                    if (data.amount != 0) {
                                        $('#txt_RefundAmount').prop('readonly', true);
                                        $('#FeeId').val(data.ans.FeeId);
                                    }
                                    else {
                                        $('#FeeId').val(0).html(0);
                                        $('#txt_RefundAmount').prop('readonly', false);
                                    }
                                    var x = $("#txt_RefundAmount").val();
                                    var tot = $('#txt_CollectedAmount').val();
                                    if (x <= tot) {
                                        var z = tot - x;
                                        $("#txt_NetAmount").val(z).html(z);


                                    }
                                }

                            });


    }));
    $('#Btn_Cancel').click(function () {
        $('#idSection_RefundFee').hide();
        $('#idSection_CollectFee').show();

    });

    //$("#txt_RefundAmount").change(function () {

    //    var x = $("#txt_RefundAmount").val();
    //    var tot = $('#txt_CollectedAmount').val();
    //    if (x <= tot) {

    //        var z = tot - x;

    //        $("#txt_NetAmount").val(z).html(z);

    //    }
    //    else {
    //        alert("Enter refund amount is less than collected amount");
    //    }


    //});
    $("#txt_RefundAmount").keyup(function () {

        var x = parseInt( $("#txt_RefundAmount").val(),10);
        var tot =parseInt( $('#txt_CollectedAmount').val(),10);


        if (x < tot) {

            var z = tot - x;

            $("#txt_NetAmount").val(z).html(z);
        }
        else {
            $("#txt_NetAmount").val(0).html(0);
        }


    });

    $('#btnrefundFee').click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var flag = 0;
        var a = [];
        var field_val = [];
        $(".current_button1").each(function () {

            var valu = $(this).val();
            var field_name = $(this).attr('name');

            if (valu == '' || valu == null) {

                var null_id = $(this).attr('id');

                if (null_id == 'txt_RefundAmount') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Enter refund amount")');
                }
                if (null_id == 'Reason') {

                    flag = 1;
                    a.push('@ResourceCache.Localize("Enter reason")');
                    }
                    if (null_id == 'txt_receiveby') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enter received by")');
                    }

                }

            });


            if(flag == 0)
            {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();

                var cid = $("#CollectedId").val();

                var extamt = $('#txt_CollectedAmount').val();

                var reamt = $('#txt_RefundAmount').val();

                var netamount = $('#txt_NetAmount').val();

                var reason = $('#Reason').val();

                var receiveby = $('#txt_receiveby').val();
                var feeid = $('#FeeId').val();

                var ee = { refundamt: reamt, netamount: netamount, Reason: reason, ReceivedBy: receiveby, ExistCollectedamt: extamt, CollectionId: cid, FeeId: feeid }

                //var ss1 = {}// refundamt: reamt, netamount: netamount, Reason: reason, ReceivedBy: receiveby , ExistCollectedamt: extamt CollectionId: cid

                $.ajax({
                    url: '/FeeCollection/FeesRefund',
                    type: 'POST',
                    data: JSON.stringify(ee),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (list) {
                        var totalError = list.ex;
                        var li = [];
                        if (list.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                        }

                        if (list.ErrorMessage != "" && list.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(list.ErrorMessage).val(list.ErrorMessage);
                        }
                        if (list.Message != "" && list.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(list.Message).val(list.Message);
                        }

                    }

                });
            }
            if (a.length != 0) {


                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;


            }

        });


        //Get Term Count
        function function_TermCount() {
            $.ajax({
                url: '/FeeCollection/getTermCount',
                type: 'POST',
                data: JSON.stringify(val_Term),
                dataType: 'json',
                contentType: "application/json",
                success: function (list) {

                    Term_Count = list;


                }
            });
        }

        //Get VAT Amount
        function function_VAT() {

            $.getJSON('/FeeCollection/getVAT', function (data) {
                if (data != "" || data != null) {
                    VAT_amount = parseFloat(data);
                    //alert("jjj" + VAT_amount + "data::::" + data);
                }
                else {

                    VAT_amount = 0;
                }

            });

        }

    </script>
}


