﻿@model IEnumerable<eAcademy.ViewModel.AnnouncementList>
@using eAcademy.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link href="~/css/flipclock.css" rel="stylesheet" />
<link href="~/css/dashboard.css" rel="stylesheet" />

<section class="maincontent-header">
    <div class="s_head col-lg-12">
        @ResourceCache.Localize("Dashboard")
    </div>
</section>
<div class="row">
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-primary1 ani">
            <div class="col-xs-3">
                @*fa-pencil-square-o*@
                <i class="fa fa-info fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h4> @ResourceCache.Localize("LeaveRequest") </h4>
                <p>
                    @if (ViewBag.status != null)
                    {
                        <label>   @ViewBag.fdate - @ViewBag.todate is @ViewBag.status</label>
                    }
                    else
                    {
                        <label>@ResourceCache.Localize("No_leave_request_for_current_month")</label>
                    }
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-green ani1">
            <div class="col-xs-3">
                <i class="fa fa-graduation-cap fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h4> @ResourceCache.Localize("TotalNumberOfStudents") </h4>
                <p>
                    <label id="totalstudent"></label>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-yellow ani2">
            <div class="col-xs-2">
                <i class="fa fa-clock-o fa-5x "></i>
            </div>
            <div class="col-xs-10 text-right">
                <div class="clock pull-right"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 my">
        <div class="panel panel-red ani3">
            <div class="col-xs-3">
                <i class="fa fa-sign-in fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h4>@ResourceCache.Localize("LastLogin")</h4>
                <p>
                    <label>
                        On
                        @if (ViewBag.LastLogin != null)
                        {
                            @ViewBag.LastLogin
                        }
                    </label>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
    <!-- solid sales graph -->
    <div class="box box-solid bg-teal-gradient dash-bg ani4">
        <div class="box-header bg-gray ">
            <i class="fa fa-bullhorn c1"></i>
            <h3 class="box-title">@ResourceCache.Localize("Announcements")</h3>
            <div class="box-tools pull-right">
                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>

        </div><!-- /.box-header -->
        <div class="box-body row border-radius-none bb">
            <div class="demo">
                <marquee behavior="scroll" height="210" width="100%" direction="up" scrollamount="1" style="font-weight:700;color:black">
                    @if (ViewBag.count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <a href="#" onclick="ShowPopup('@item.id');">@item.Announcement </a>   @*- @item.date.ToString("dd-MMM-yyyy")*@
                            <br />
                        }
                    }
                    else
                    {
                        <label>No announcement available</label>
                    }
                </marquee>
            </div>
            <script type="text/javascript">
                function ShowPopup(a) {
                    var link = document.createElement('link');
                    link.type = 'image/x-icon';
                    link.rel = 'shortcut icon';
                    link.href = '~/Images/favicon.ico';
                    document.getElementsByTagName('head')[0].appendChild(link);
                    var x = a;
                    window.open('/Dashboard/OpenPopup/' + parseInt(x), "PopupWindow", 'width=400px,height=400px,top=150,left=250');
                }
            </script>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- quick email widget -->
    <div class="box box-solid bg-teal-gradient dash-bg ani6">
        <div class="box-header bg-gray">
            <i class="fa fa-envelope c2"></i>
            <h3 class="box-title">@ResourceCache.Localize("QuickEmail")</h3>
            <div class="box-tools pull-right">
                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="box-body bb">
            <form>
                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                <div class="form-group">
                    <div>@ResourceCache.Localize("ToEmail"): <span class="glyphicon glyphicon-asterisk"></span></div>
                    <div><input type="text" id="emailto" class="form-control " name="emailto" placeholder="To Email" required /></div>
                </div>
                <div class="form-group">
                    <div>@ResourceCache.Localize("Subject"): <span class="glyphicon glyphicon-asterisk"></span></div>
                    <div><input type="text" id="subject" class="form-control " name="subject" placeholder="Subject" onmouseover="this.style.Color='white'" color="white" required /></div>
                </div>
                <div>
                    <div>@ResourceCache.Localize("Message"): <span class="glyphicon glyphicon-asterisk"></span></div>
                    <div><textarea class="textarea quick" name="message" id="message" style=" " required placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;resize:none;"></textarea></div>
                </div>
                <div class="row">
                    <div>
                        <div class="box-body pull-left"><strong><span class="glyphicon glyphicon-asterisk"></span> @ResourceCache.Localize("Required_Field")</strong></div>
                    </div>
                    <div>
                        <button type="button" class="pull-right btn btn-success" id="sendEmail"><i class="fa fa-arrow-circle-right"></i> @ResourceCache.Localize("Send")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section><!-- /.Left col -->
<section class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
    <!--Event Calendar-->
    <div class="box box-solid bg-teal-gradient dash-bg ani5">
        <div class="box-header bg-gray ">
            <i class="fa fa-calendar c4"></i>
            <h3 class="box-title">@ResourceCache.Localize("Events")</h3>
            <div class="box-tools pull-right">
                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
            </div>

        </div><!-- /.box-header -->
        <div class="box-body bb">
            <!--The calendar -->
            <div class="col-lg-offset-0" id="ecal" style="height:100%;"></div>
        </div><!-- /.box-body -->

    </div><!-- /.box -->
</section>
@section scriptsContainer{
    <script src="~/js/flipclock.js"></script>
    <script type="text/javascript">
        var clock;
        $(document).ready(function () {

            $.getJSON('/Dashboard/totalstudent',
            function (data) {
                $('#totalstudent').text(data.total);
                //alert(data.serverTime);
                var ss = data.serverTime;
                
                clock = $('.clock').FlipClock(ss,{
                    clockFace: 'TwelveHourClock'
                });
            });

            $("#sendEmail").click(function () {
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#jsonSuccessMsg").hide();
                $(".jsonSuccessMsg").hide();

                var mailTo = $("#emailto").val();
                var subj = $("#subject").val();
                var message = $("#message").val();

                $("#emailto").addClass("current_button");
                $("#subject").addClass("current_button");
                $("#message").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'emailto') {

                            a.push('@ResourceCache.Localize("Please_enter_to_mail")');
                        }
                        if (null_id == 'subject') {

                            a.push('@ResourceCache.Localize("Please_enter_subject")');
                        }
                        if (null_id == 'message') {

                            a.push('@ResourceCache.Localize("Please_enter_message")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                var values = { emailto: mailTo, subject: subj, message: message, };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Dashboard/QuickMail',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $('#leavedeletesuccess').hide();
                        $('#leaveaddsuccess').show();
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $("#ParentLeaveReqListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#emailto").val("");
                                $("#subject").val("");
                                $("#message").val("");
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });

        });

    </script>
}
