﻿@using eAcademy.Models
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}




<!-- Content Header (Page header) -->
<section class="content-header" style="background-color: #f1e9e9;">
    <h1>
       @ResourceCache.Localize("Error")

    </h1>
 
</section>

<section class="content" style="height:100%">

<div class="row">

        <section class="col-lg-12">

            <center>
                <div class="box-body">
                    <div class="alert alert-danger alert-dismissable">
                        <h2>@ResourceCache.Localize("AccessDenied")!</h2>
                    </div>
                </div>
            </center>

        </section>
</div>
</section>