﻿@model IEnumerable<eAcademy.ViewModel.StudentAssignment>
@using eAcademy.Models
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@if (Session["StudentRegId_SessionAttribute"] != null)
{
    @Html.Partial("~/Views/Shared/NavbarHeader.cshtml")
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("Assignment")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="/Modules/Assignment" class="btn btn-info">@ResourceCache.Localize("Assignment")</a>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Session["StudentRegId_SessionAttribute"] != null)
{
    <ul class="nav nav-tabs">
        <li><a href="~/Modules/Homework">@ResourceCache.Localize("Homework")</a></li>
        <li><a href="~/Modules/Assignment">@ResourceCache.Localize("Assignment")</a></li>
        <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
        <li><a href="~/Modules/ELearning">@ResourceCache.Localize("ELearning")</a></li>
        <li><a href="~/StudentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
        <li class="active"><a href="~/StudentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
        <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
    </ul>
}
else
{
    <ul class="nav nav-tabs">
        <li><a href="~/Modules/Homework">@ResourceCache.Localize("Homework")</a></li>
        <li><a href="~/Modules/Assignment">@ResourceCache.Localize("Assignment")</a></li>
        <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
        <li><a href="~/ParentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
        <li class="active"><a href="~/ParentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
        <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
    </ul>
}


<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-4 col-md-4  pull-right" id="Reply_Form" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("SendAnswer")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> </div>
                                    <input class="col-lg-12" type="text" id="Ans_Subject" name="Ans_Subject" readonly />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Title")</label> </div>
                                    <input class="col-lg-12" type="text" id="Ans_Title" name="Ans_Title" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                                    <input class="col-lg-12" type="text" id="Ans_Description" name="Ans_Description" readonly />
                                </div>

                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("DateOfSubmission")</label> </div>
                                    <input class="col-lg-12" type="text" id="Ans_SubmissionDate" name="Ans_SubmissionDate" readonly />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AnswerDescription")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12" id="Ans_Reply_Description" name="Ans_Reply_Description" placeholder="@ResourceCache.Localize("AnswerDescription")" title="@ResourceCache.Localize("AnswerDescription")" required="required"> </textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                    <input type="file" id="AnsFile" name="AnsFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("eg_pdf_docx")
                                    <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                    <p class="File_message"></p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="hidden" id="AssignmentId" name="AssignmentId" />
                                <input type="hidden" id="StudentReg_Id" name="StudentReg_Id" />
                                <button type="button" id="btnSendReply" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Send")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="Reply_Form1" style="display:none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("Answer")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="NoRecords box-body">
                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                            <b>@ResourceCache.Localize("Info_You_have_sent_answer_for_this_homework_You_can_not_send_again")</b>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Assignment")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("SM_AllSubjects", new SelectList(ViewBag.AllSubjects1, "SubjectId", "SubjectName"), ResourceCache.Localize("SelectSubject"), new { @class = "filterItem" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_Assignment_FromDate" name="SM_Assignment_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_Assignment_ToDate" name="SM_Assignment_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn btn-sm  btn_submit btn-down " id="btnSM_Assignment"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="AssignmentListGrid"></table>
                        <div id="AssignmentListPager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("/Modules/CurrentActiveDate",
        function (data) {
            $(function () {
                var dates = $("#SM_Assignment_FromDate, #SM_Assignment_ToDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: data.sd,
                    maxDate: data.ed,
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function (selectedDate) {
                        var option = this.id == "SM_Assignment_FromDate" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                        dates.not(this).datepicker("option", option, date);
                    }
                });
            });
        });
            $("#SM_AllSubjects").append("<option value='0'>@ResourceCache.Localize("All")</option>");
            var AssignmentId;
            jQuery("#AssignmentListGrid").jqGrid({
                url: "/Modules/AssignmentListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Assignment")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("DateOfSubmission")', '@ResourceCache.Localize("File")'],
                colModel: [
                    { key: true, hidden: true, name: 'Assignment_Id', index: 'Assignment_Id' },
                    { name: 'Subject', index: 'Subject' },
                    { name: 'AssignmentPosted_Date', index: 'AssignmentPosted_Date' },
                    { name: 'Assignment1', index: 'Assignment1' },
                    { name: 'Descriptions', index: 'Descriptions' },
                    { name: 'DateOf_Submission', index: 'DateOf_Submission' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#AssignmentListPager"),

                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
                gridComplete: function () {
                    var ids = jQuery("#AssignmentListGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        AssignmentId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_open_file btn_Document  ui-icon-document' id='" + AssignmentId + "' value=''  title='@ResourceCache.Localize("OpenFile")'/>";
                        ce = "<input style='height:23px;width:22px;' type='button' class='btn_replyAnswer btn_Document  ui-icon-document' id='" + AssignmentId + "' value=''  title='@ResourceCache.Localize("ToWriteAnswer")'/>";
                        jQuery("#AssignmentListGrid").jqGrid('setRowData', ids[i], { act: be + ce });
                    }
                },
            }).navGrid('#AssignmentListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#AssignmentListPager',
                {
                    caption: " @ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../Modules/Assignment_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#AssignmentListPager',
                {
                    caption: " @ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../Modules/Assignment_ExportToPdf";
                    }
                });
            $("#AssignmentListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("AssignmentList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#btnSM_Assignment').click(function (event) {
                var sub = $("#SM_AllSubjects").val();
                var fDate = $("#SM_Assignment_FromDate").val();
                var toDate = $("#SM_Assignment_ToDate").val();
                $("#SM_AllSubjects").addClass("current_button");
                $("#SM_Assignment_FromDate").addClass("current_button");
                $("#SM_Assignment_ToDate").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_AllSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'SM_Assignment_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_Assignment_ToDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                AssignmentList_filterGrid();
            });
            function AssignmentList_filterGrid() {
                var postDataValues = $("#AssignmentListGrid").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#AssignmentListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };
        });
        $(document).on('click', '.btn_open_file', function () {
            var id = $(this).attr('id');
            var url = "OpenAssignmentFile/" + id;
            window.open(url);
        });
        $(document).on('click', '.btn_replyAnswer', function () {
            var id = $(this).attr('id');
            alert(id);
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var id = $(this).attr('id');
            $.getJSON('/Modules/ReplyAnswerForAssignment', { id: id },
               function (data) {
                   if (data.txt == "ReplyCountExceeded") {
                       $("#Reply_Form1").show();
                       $("#Reply_Form").hide();
                   }
                   else {
                       $("#Reply_Form1").hide();
                       $("#Ans_Subject").val(data.subject);
                       $("#Ans_Title").val(data.title);
                       $("#Ans_Description").val(data.description);
                       $("#Ans_SubmissionDate").val(data.LastDate);
                       $("#Reply_Form").show();
                       $("#StudentReg_Id").val(data.StudentReg_Id);
                       $("#AssignmentId").val(id);
                   }
               });
        });
        $("#btnSendReply").click(function () {
            var HomeworkId = $("#AssignmentId").val();
            var Reply = $("#Ans_Reply_Description").val();
            var a = [];
            var comment = $('#Ans_Reply_Description').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("Please_enter_answer_description")');
            }
            else {
                var txchar = $("#Ans_Reply_Description").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("Please_enter_answer_description")');
                }
            }
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }
            $("#MandatoryFieldErrorMessage_Add").hide();
            var data = new FormData();
            if ($('#AnsFile').val() != "") {
                var ext = $('#AnsFile').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                    return false;
                }
                var files = $("#AnsFile").get(0).files;
                if (files.length > 0) {
                    updateSize(files);
                    data.append("HelpSectionImages", files[0]);
                }
            }
            data.append("AssignmentId", jQuery('#AssignmentId').val());
            data.append("StudentReg_Id", jQuery('#StudentReg_Id').val());
            data.append("Ans_Reply_Description", jQuery('#Ans_Reply_Description').val());
            $.ajax({
                url: '/Modules/AddAssignmentAnswer',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.txt == "ReplyCountExceeded") {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                            $("#AddErrorText").text("@ResourceCache.Localize("Cannot_reply_more_than_3_times")");
                            return false;
                        }
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MI_QueryListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        });
        function updateSize(files) {
            var fsize;
            var nBytes = 0,
                oFiles = files,
                nFiles = oFiles.length;
            for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                nBytes += oFiles[nFileId].size;
            }
            var sOutput = nBytes + " bytes";
            // optional code for multiples approximation
            for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
            }
            document.getElementById("fileSize").innerHTML = fsize;
            if (nBytes > 5242880) {
                alert("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#AddErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text("@ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                //$(".File_message").text("File size should be less than 5MB").css("color", "#ff0000");
                //$(".EFile_message").text("File size should be less than 5MB").css("color", "#ff0000");
                return false;
            }
        }
    </script>
}