﻿@model IEnumerable<eAcademy.ViewModel.StudentSubjectList>
@{
    ViewBag.Title = "ModulesAssigned";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/NavbarHeader.cshtml")


<section class="maincontent-header">
    <div class="s_head col-lg-12">
        Modules Assigned
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">Modules</a>
                    <a href="/Modules/ModulesAssigned" class="btn btn-info">Modules Assigned</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/Modules/SubjectNotes">Subject Notes</a></li>
    <li><a href="~/Modules/Homework">Homework</a></li>
    <li><a href="~/Modules/Assignment">Assignment</a></li>
    <li><a href="~/Modules/ModulesAssigned">Modules Assigned</a></li>
</ul>


<section class="content" style="height:100%">
    <div class="row">

        @Html.Partial("~/Views/Shared/TempMessage.cshtml")


        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-primary ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Modules Assigned</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>

                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/Print.cshtml")
                    <div class="box-body" id="show">
                        <div id="tbl_scrol">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Subject)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Faculty)
                                    </th>
                                    <th>
                                        Feedback
                                    </th>
                                    <th>
                                        Queries
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Faculty)
                                        @*@Html.ActionLink(@item.Faculty, "FacultyDetails", new { id = item.FacultyId })*@
                                    </td>
                                    <td>
                                        @Html.ActionLink("Click here to send a Feedback", "FacultyFeedback", new { id = item.FacultyId })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Click here to send a Query", "StudentQueries", new { id = item.FacultyId })
                                    </td>

                                </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @if (ViewBag.FacultyId != null)
        {
            <section class="col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-primary ">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">FeedBack</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>

                        </div><!-- /.box-header -->

                        <form action="@Url.Action("ModulesAssigned", "Modules")" method="post" enctype="multipart/form-data">
                            <div class="box-body border-radius-none">
                                @Html.Partial("~/Views/Shared/RequiredField.cshtml")


                                <div class="col-lg-6">

                                    <div>Feedback <span class="glyphicon glyphicon-asterisk"></span></div>
                                   
                                        <textarea id="txt_facultyFeedback" name="txt_facultyFeedback" class="col-lg-12" placeholder="Feedback" title="Feedback" required="required"></textarea>

                                    
                                </div>

                                <div class="col-lg-6">


                                    <div class="FacultyFeedback-message col-lg-12"> <label></label></div>
                                    <input type="hidden" value="@ViewBag.FacultyId" id="facultyId" name="facultyId" />
                                    <div class="col-md-12"> <button type="submit" class="btn btn-sm btn_submit " id="btnFacultyFeedback"><i class="fa fa-caret-right"></i> Submit</button></div>

                                </div>

                            </div>
                        </form>



                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        }


        @if (ViewBag.QueryFacultyId != null)
        {
            <section class="col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-primary ">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">Queries</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>

                        </div><!-- /.box-header -->

                        <form action="@Url.Action("StudentQueries", "Modules")" method="post" enctype="multipart/form-data">
                            <div class="box-body border-radius-none">
                                @Html.Partial("~/Views/Shared/RequiredField.cshtml")


                                <div class="col-lg-6">

                                    <div>Add Queries <span class="glyphicon glyphicon-asterisk"></span></div>
                                    
                                        <textarea id="txt_StudentQuery" name="txt_StudentQuery" class="col-lg-12" placeholder="Queries" title="Queries" required="required"></textarea>

                                   
                                </div>

                                <div class="col-lg-6">


                                    <div class="StudentQuery-message col-lg-12"> <label></label></div>
                                    <input type="hidden" value="@ViewBag.QueryFacultyId" id="facultyId" name="facultyId" />
                                    <div class="col-md-12"> <button type="submit" class="btn btn-sm btn_submit " id="btnStudentQuery"><i class="fa fa-caret-right"></i> Submit</button></div>

                                </div>

                            </div>
                        </form>



                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        }

    </div>

</section>