﻿@model IEnumerable<eAcademy.ViewModel.SubjectNotes>
@using eAcademy.Models
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}

@if (Session["StudentRegId_SessionAttribute"] != null)
{
    @Html.Partial("~/Views/Shared/NavbarHeader.cshtml")
}
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("SubjectNotes")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">@ResourceCache.Localize("Modules")</a>
                    <a href="/Modules/SubjectNotes" class="btn btn-info">@ResourceCache.Localize("SubjectNotes")</a>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Session["StudentRegId_SessionAttribute"] != null)
{
    <ul class="nav nav-tabs">
        <li><a href="~/StudentModuleAssigned/Homework">@ResourceCache.Localize("Homework")</a></li>
        <li><a href="~/StudentModuleAssigned/Assignment">@ResourceCache.Localize("Assignment")</a></li>
        <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
        <li><a href="~/StudentModuleAssigned/ELearning">@ResourceCache.Localize("ELearning")</a></li>
        <li><a href="~/StudentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
        <li class="active"><a href="~/StudentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
        <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
    </ul>
}
else
{
    <ul class="nav nav-tabs">
        <li><a href="~/ParentModuleAssigned/Homework">@ResourceCache.Localize("Homework")</a></li>
        <li><a href="~/ParentModuleAssigned/Assignment">@ResourceCache.Localize("Assignment")</a></li>
        <li><a href="~/Modules/SubjectNotes">@ResourceCache.Localize("SubjectNotes")</a></li>
        <li><a href="~/ParentModuleAssigned/ELearning">@ResourceCache.Localize("ELearning")</a></li>
        <li><a href="~/ParentModuleAssigned/ModulesAssigned">@ResourceCache.Localize("ModulesAssigned")</a></li>
        <li class="active"><a href="~/ParentModuleAssigned/Query">@ResourceCache.Localize("Query")</a></li>
        <li><a href="~/Modules/StudentRemark">@ResourceCache.Localize("Remarks")</a></li>
    </ul>
}
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("SubjectNotes")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("SM_AllSubjects", new SelectList(ViewBag.AllSubjects1, "SubjectId", "SubjectName"), ResourceCache.Localize("SelectSubject"), new { @class = "filterItem" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_Notes_FromDate" name="SM_Notes_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 filterItem" type="text" id="SM_Notes_ToDate" name="SM_Notes_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn btn-sm  btn_submit btn-down" id="btnSM_Notes"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="NotesListGrid"></table>
                        <div id="NotesListPager"></div>
                        <p class="note"> <strong>@ResourceCache.Localize("Note:")</strong>@ResourceCache.Localize("Click_the_file_icon ")<i class='fa fa-file-pdf-o'></i>/ <i class='fa fa-file-word-o'></i>@ResourceCache.Localize("to_download_attachments")</p>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("/Modules/CurrentActiveDate",
    function (data) {
        $(function () {
            var dates = $("#SM_Notes_FromDate, #SM_Notes_ToDate").datepicker({
                dateFormat: 'dd/mm/yy',
                minDate: data.sd,
                maxDate: data.ed,
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    var option = this.id == "SM_Notes_FromDate" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker"),
                    date = $.datepicker.parseDate(
                    instance.settings.dateFormat ||
                    $.datepicker._defaults.dateFormat,
                    selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        });
    });
            $("#SM_AllSubjects").append("<option value='0'>@ResourceCache.Localize("All")</option>");
            var NotesId;
            jQuery("#NotesListGrid").jqGrid({
                url: "/Modules/NotesListResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("PostedDate")', '@ResourceCache.Localize("Note")', '@ResourceCache.Localize("Description")'],   @*, '@ResourceCache.Localize("File")'*@
                colModel: [
                    { key: true, hidden: true, name: 'Notes_Id', index: 'Notes_Id' },
                    { name: 'Subject', index: 'Subject' },
                    { name: 'NotesPosted_Date', index: 'NotesPosted_Date' },
                    { name: 'studentattachedfilename', index: 'studentattachedfilename' },
                    { name: 'Descriptions', index: 'Descriptions' },
                  //  { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#NotesListPager"),

                rowList: [10, 25, 50, 100],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
            }).navGrid('#NotesListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#NotesListPager',
                {
                    caption: " @ResourceCache.Localize("Excel") ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../Modules/Notes_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#NotesListPager',
                {
                    caption: " @ResourceCache.Localize("Pdf") ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../Modules/Notes_ExportToPdf";
                    }
                });
            $("#NotesListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("NotesList")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#btnSM_Notes').click(function (event) {
                var sub = $("#SM_AllSubjects").val();
                var fDate = $("#SM_Notes_FromDate").val();
                var toDate = $("#SM_Notes_ToDate").val();
                $("#SM_AllSubjects").addClass("current_button");
                $("#SM_Notes_FromDate").addClass("current_button");
                $("#SM_Notes_ToDate").addClass("current_button");
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_AllSubjects') {

                            a.push('@ResourceCache.Localize("PleaseSelectSubject")');
                        }
                        if (null_id == 'SM_Notes_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_Notes_ToDate') {

                            a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                    }
                    else {
                    }
                });
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();
                NotesList_filterGrid();
            });
            function NotesList_filterGrid() {
                var postDataValues = $("#NotesListGrid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 1 || index == 2) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#NotesListGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };
        });
        $(document).on('click', '.btn_open_file', function () {
            var id = $(this).attr('id');
            var url = "OpenSubjectNotesFile/" + id;
            window.open(url);
        });
    </script>
}