﻿@using eAcademy.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-sm-12" id="EditVehicle" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">@ResourceCache.Localize("Editvehicle")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                    <form>
                        <div class="box-body">


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">

                                    <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_RegNumber" name="Edit_txt_RegNumber" placeholder="@ResourceCache.Localize("RegistrationNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("RegistrationNumber")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationDate")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_RegDate" name="Edit_txt_RegDate" placeholder="@ResourceCache.Localize("RegistrationDate")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("RegistrationDate")" readonly />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("OwnerFirstName")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_OwnerFirstName" name="Edit_txt_OwnerFirstName" placeholder="@ResourceCache.Localize("OwnerFirstName")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("OwnerFirstName")" maxlength="30" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("OwnerLastName")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_OwnerLastName" name="Edit_txt_OwnerLastName" placeholder="@ResourceCache.Localize("OwnerLastName")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("OwnerLastName")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine1")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_Address1" name="Edit_txt_Address1" placeholder="@ResourceCache.Localize("AddressLine1")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("AddressLine1")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine2")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_Address2" name="Edit_txt_Address2" placeholder="@ResourceCache.Localize("AddressLine2")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("AddressLine2")" maxlength="30" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("City")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_City" name="Edit_txt_City" placeholder="@ResourceCache.Localize("City")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("City")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("State")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_State" name="Edit_txt_State" placeholder="@ResourceCache.Localize("State")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("State")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Country")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        @Html.DropDownList("Edit_Country", new SelectList(ViewBag.Country, "CountryId", "CountryName"), @ResourceCache.Localize("PleaseSelectCountry"), new { @class = "current_button", @title = "Country" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("PIN_Code")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_Pincode" name="Edit_txt_Pincode" placeholder="@ResourceCache.Localize("PIN_Code")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("PIN_Code")" maxlength="6" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Boughton")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_BoughtOn" name="Edit_txt_BoughtOn" placeholder="@ResourceCache.Localize("Boughton")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Boughton")" readonly />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("VehicleType")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        @Html.DropDownList("Edit_Vehicle", new SelectList(ViewBag.VehicleList, "VehicleId", "VehicleType"), ResourceCache.Localize("VehicleType"), new { @class = "current_button", @title = "@Resource.VehicleType" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Manufacture")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_Manufacture" name="Edit_txt_Manufacture" placeholder="@ResourceCache.Localize("Manufacture")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Manufacture")" maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Color")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_Color" name="Edit_txt_Color" placeholder="@ResourceCache.Localize("Color")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Color")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("EngineNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_EngineNum" name="Edit_txt_EngineNum" placeholder="@ResourceCache.Localize("EngineNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("EngineNumber")" maxlength="50" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ChaseNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_ChaseNum" name="Edit_txt_ChaseNum" placeholder="@ResourceCache.Localize("ChaseNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("ChaseNumber")" maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FuelType")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        @Html.DropDownList("Edit_FuelType", new SelectList(ViewBag.FuelList, "FuelId", "FuelType"), ResourceCache.Localize("FuelType"), new { @class = "current_button", @title = "@Resource.Fueltype" })
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FuelCapacity")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_FuelCapacity" name="Edit_txt_FuelCapacity" placeholder="@ResourceCache.Localize("FuelCapacity")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("FuelCapacity")" maxlength="3" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SeatCapacity")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_SeatCapacity" name="Edit_txt_SeatCapacity" placeholder="@ResourceCache.Localize("SeatCapacity")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("SeatCapacity")" maxlength="3" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RegisterUpto")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_RegisterUptoDate" name="Edit_txt_RegisterUptoDate" placeholder="@ResourceCache.Localize("RegisterUpto")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("RegisterUpto")" readonly />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("TaxValidUpto")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_TaxValidUpto" name="Edit_txt_TaxValidUpto" placeholder="@ResourceCache.Localize("TaxValidUpto")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("TaxValidUpto")" maxlength="30" />
                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12 row">

                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("InsuranceNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_InsuranceNum" name="Edit_txt_InsuranceNum" placeholder="@ResourceCache.Localize("InsuranceNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("InsuranceNumber")" maxlength="30" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("InsuranceValidFrom")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_InsuranceValidFromDate" name="Edit_txt_InsuranceValidFromDate" placeholder="@ResourceCache.Localize("InsuranceValidFrom")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("InsuranceValidFrom")" readonly />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("InsuranceValidUpto")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                    <div>
                                        <input type="text" id="Edit_txt_InsuranceValidUpto" name="Edit_txt_InsuranceValidUpto" placeholder="@ResourceCache.Localize("InsuranceValidUpto")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("InsuranceValidUpto")" readonly />
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12 row">
                                <div class="col-xs-4">
                                    <div><label class="input-label-sm main">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div class="col-lg-4" id="editActive" style="display: none">
                                        <select name="status" id="status" class="col-lg-12">
                                            <option value="true">@ResourceCache.Localize("Active")</option>
                                            <option value="false">@ResourceCache.Localize("In_Active")</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" id="editInActive" style="display: none">
                                        <select name="status" id="status" class="col-lg-12">
                                            <option value="false">@ResourceCache.Localize("In_Active")</option>
                                            <option value="true">@ResourceCache.Localize("Active")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer foot_row col-xs-12">
                                    <input type="hidden" id="Vehicle_Id" />
                                    <button type="button" class="btn btn_double btn-sm btn_add" id="btnUpdateVehicle" name="btnUpdateVehicle"><i class="fa fa-plus"></i>@ResourceCache.Localize("Update")</button>
                                    <button type="button" class="btn btn-sm btn_cancel" name="btnCancel_VehicleConfig" id="btnCancel_VehicleConfig" title="Cancel"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel")  </button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->

                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-sm-12" id="AddVehicle">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Addvehicle")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                <form id="form1_PickPoint">
                    <div class="box-body" id="div_Error" style="display:none;">
                        <div class="alert alert-danger alert-dismissable">
                            <b>@ResourceCache.Localize("Error")!</b>
                            <div id="Destination_Error">
                            </div>
                            <div id="errorMsg">
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_RegNumber" name="txt_RegNumber" placeholder="@ResourceCache.Localize("RegistrationNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize(".RegistrationNumber")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationDate")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_RegDate" name="txt_RegDate" placeholder="@ResourceCache.Localize("RegistrationDate")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("RegistrationDate")" readonly />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("OwnerFirstName")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_OwnerFirstName" name="txt_OwnerFirstName" placeholder="@ResourceCache.Localize("OwnerFirstName")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("OwnerFirstName")" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("OwnerLastName")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_OwnerLastName" name="txt_OwnerLastName" placeholder="@ResourceCache.Localize("OwnerLastName")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("OwnerLastName")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine1")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_Address1" name="txt_Address1" placeholder="@ResourceCache.Localize("AddressLine1")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("AddressLine1")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AddressLine2")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_Address2" name="txt_Address2" placeholder="@ResourceCache.Localize("AddressLine2")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("AddressLine2")" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("City")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_City" name="txt_City" placeholder="@ResourceCache.Localize("City")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("City")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("State")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_State" name="txt_State" placeholder="@ResourceCache.Localize("State")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="State" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Country")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    @Html.DropDownList("Country", new SelectList(ViewBag.Country, "CountryId", "CountryName"), ResourceCache.Localize("Country"), new { @class = "current_button", @title = @ResourceCache.Localize("Country") })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("PIN_Code")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_Pincode" name="txt_Pincode" placeholder="@ResourceCache.Localize("PIN_Code")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("PIN_Code")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Boughton")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_BoughtOn" name="txt_BoughtOn" placeholder="@ResourceCache.Localize("Boughton")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Boughton")" readonly />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("VehicleType")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    @Html.DropDownList("Vehicle", new SelectList(ViewBag.VehicleList, "VehicleId", "VehicleType"), ResourceCache.Localize("VehicleType"), new { @class = "current_button", @title = @ResourceCache.Localize("VehicleType") })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Manufacture")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_Manufacture" name="txt_Manufacture" placeholder="@ResourceCache.Localize("Manufacture")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Manufacture")" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Color")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_Color" name="txt_Color" placeholder="@ResourceCache.Localize("Color")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Color")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("EngineNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_EngineNum" name="txt_EngineNum" placeholder="@ResourceCache.Localize("EngineNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("EngineNumber")" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ChaseNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_ChaseNum" name="txt_ChaseNum" placeholder="@ResourceCache.Localize("ChaseNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("ChaseNumber")" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FuelType")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    @Html.DropDownList("FuelType", new SelectList(ViewBag.FuelList, "FuelId", "FuelType"), ResourceCache.Localize("Fueltype"), new { @class = "current_button", @title = @ResourceCache.Localize("Fueltype") })
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FuelCapacity")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_FuelCapacity" name="txt_FuelCapacity" placeholder="@ResourceCache.Localize("FuelCapacity")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("FuelCapacity")" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("SeatCapacity")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_SeatCapacity" name="txt_SeatCapacity" placeholder="@ResourceCache.Localize("SeatCapacity")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("SeatCapacity")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("RegisterUpto")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_RegisterUptoDate" name="txt_RegisterUptoDate" placeholder="@ResourceCache.Localize("RegisterUpto")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("RegisterUpto")" readonly />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("TaxValidUpto")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_TaxValidUpto" name="txt_TaxValidUpto" placeholder="@ResourceCache.Localize("TaxValidUpto")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("TaxValidUpto")" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row">
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("InsuranceNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_InsuranceNum" name="txt_InsuranceNum" placeholder="@ResourceCache.Localize("InsuranceNumber")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("InsuranceNumber")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("InsuranceValidFrom")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_InsuranceValidFromDate" name="txt_InsuranceValidFromDate" placeholder="@ResourceCache.Localize("InsuranceValidFrom")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("InsuranceValidFrom")" readonly />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("InsuranceValidUpto")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    <input type="text" id="txt_InsuranceValidUpto" name="txt_InsuranceValidUpto" placeholder="@ResourceCache.Localize("InsuranceValidUpto")" class="col-xs-12 col-sm-12 col-md-6 current_button" title="@ResourceCache.Localize("Insurancevalidupto")" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="box-footer no-border ">
                            <div class="row">
                                <div class="footer foot_row  col-xs-12">
                                    <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddVehicle" name="btnAddVehicle"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                    <button type="reset" class=" btn btn-sm btn_reset" id="btnReset" name="btnReset"><i class="fa fa-refresh "></i>@ResourceCache.Localize("Reset")</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </div>
                </form>
            </div>
        </section>
        <section class="col-sm-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("VehicleList")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div>
                                @Html.DropDownList("VehicleRegistrationNumber", new SelectList(ViewBag.RegistrationNumber, "Id", "RegistrationNumber"), @ResourceCache.Localize("SelectRegistrationNumber"), new { @class = "current_button filterItem", @title = @ResourceCache.Localize("Pleaseselectregistrationnumber") })
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="btnFilterVehicle"><i class="fa fa-search"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down">
                        <table class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="VehicleListGrid"></table>
                        <div id="VehicleListPager"></div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row">
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $("#txt_RegNumber").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_State").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_City").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_OwnerLastName").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_OwnerLastName").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_Manufacture").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_Color").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_EngineNum").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_ChaseNum").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_InsuranceNum").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_FuelCapacity").filter_input({ regex: '[0-9.]' });
        $("#txt_SeatCapacity").filter_input({ regex: '[0-9]' });
        $("#txt_Pincode").filter_input({ regex: '[0-9]' });
        $("#txt_RegDate,#txt_BoughtOn,#txt_RegisterUptoDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
        $(function () {
            var dates = $("#txt_InsuranceValidFromDate, #txt_InsuranceValidUpto").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    var option = this.id == "txt_InsuranceValidFromDate" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker"),
                    date = $.datepicker.parseDate(
                    instance.settings.dateFormat ||
                    $.datepicker._defaults.dateFormat,
                    selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        });
        $("#Edit_txt_RegNumber").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#Edit_txt_OwnerFirstName").filter_input({ regex: '[A-Za-z ]' });
        $("#Edit_txt_OwnerLastName").filter_input({ regex: '[A-Za-z ]' });
        $("#Edit_txt_City").filter_input({ regex: '[A-Za-z ]' });
        $("#Edit_txt_State").filter_input({ regex: '[A-Za-z ]' });
        $("#Edit_txt_Manufacture").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#Edit_txt_Color").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#Edit_txt_EngineNum").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#Edit_txt_ChaseNum").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#Edit_txt_InsuranceNum").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#Edit_txt_FuelCapacity").filter_input({ regex: '[0-9.]' });
        $("#Edit_txt_SeatCapacity").filter_input({ regex: '[0-9]' });
        $("#Edit_txt_Pincode").filter_input({ regex: '[0-9]' });
        $("#Edit_txt_RegDate,#Edit_txt_BoughtOn,#Edit_txt_RegisterUptoDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
        $(function () {
            var dates = $("#Edit_txt_InsuranceValidFromDate, #Edit_txt_InsuranceValidUpto").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    var option = this.id == "Edit_txt_InsuranceValidFromDate" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker"),
                    date = $.datepicker.parseDate(
                    instance.settings.dateFormat ||
                    $.datepicker._defaults.dateFormat,
                    selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        });

        
        $("#btnCancel_VehicleConfig").click(function () {
            $("#AddVehicle").show();
            $("#EditVehicle").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        $("#btnAddVehicle").click(function () {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_RegNumber') {
                        a.push('@ResourceCache.Localize("Please_enter_registration_number")');
                    }
                    if (null_id == 'txt_RegDate') {
                        a.push('@ResourceCache.Localize("Please_enter_registration_date")');
                    }
                    if (null_id == 'txt_OwnerFirstName') {
                        a.push('@ResourceCache.Localize("@Resource.Please_enter_owner_first_name")');
                    }
                    if (null_id == 'txt_OwnerLastName') {
                        a.push('@ResourceCache.Localize("Please_enter_owner_last_name")');
                    }
                    if (null_id == 'txt_Address1') {
                        a.push('@ResourceCache.Localize("Please_enter_address_Line1")');
                    }
                    if (null_id == 'txt_Address2') {
                        a.push('@ResourceCache.Localize("Please_enter_address_Line2")');
                    }
                    if (null_id == 'txt_City') {
                        a.push('@ResourceCache.Localize("Please_enter_city")');
                    }
                    if (null_id == 'txt_State') {
                        a.push('@ResourceCache.Localize("Please_Enter_State")');
                    }
                    if (null_id == 'Country') {
                        a.push('@ResourceCache.Localize("PleaseSelectCountry")');
                    }
                    if (null_id == 'txt_Pincode') {
                        a.push('@ResourceCache.Localize("Please_enter_pincode")');
                    }
                    if (null_id == 'txt_BoughtOn') {
                        a.push('@ResourceCache.Localize("Please_enter_bought_date")');
                    }
                    if (null_id == 'Vehicle') {
                        a.push('@ResourceCache.Localize("Please_select_vehicle_type")');
                    }
                    if (null_id == 'txt_Manufacture') {
                        a.push('@ResourceCache.Localize("Please_enter_manufacture_name")');
                    }
                    if (null_id == 'txt_Color') {
                        a.push('@ResourceCache.Localize("Please_enter_color")');
                    }
                    if (null_id == 'txt_EngineNum') {
                        a.push('@ResourceCache.Localize("Please_enter_engine_number")');
                    }
                    if (null_id == 'txt_ChaseNum') {
                        a.push('@ResourceCache.Localize("Pleaseenterchasenumber")');
                    }
                    if (null_id == 'FuelType') {
                        a.push('@ResourceCache.Localize("Please_select_fuel_type")');
                    }
                    if (null_id == 'txt_FuelCapacity') {
                        a.push('@ResourceCache.Localize("Please_enter_fuel_capacity")');
                    }
                    if (null_id == 'txt_SeatCapacity') {
                        a.push('@ResourceCache.Localize("Please_enter_seat_capacity")');
                    }
                    if (null_id == 'txt_RegisterUptoDate') {
                        a.push('@ResourceCache.Localize("Please_enter_register_upto_date")');
                    }
                    if (null_id == 'txt_TaxValidUpto') {
                        a.push('@ResourceCache.Localize("Please_enter_tax_valid_upto")');
                    }
                    if (null_id == 'txt_InsuranceNum') {
                        a.push('@ResourceCache.Localize("Please_enter_insurance_number")');
                    }
                    if (null_id == 'txt_InsuranceValidFromDate') {
                        a.push('@ResourceCache.Localize("Please_enter_insurance_valid_from_date")');
                    }
                    if (null_id == 'txt_InsuranceValidUpto') {
                        a.push('@ResourceCache.Localize("Please_enter_insurance_valid_upto_date")');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            var txt_RegNumber = $("#txt_RegNumber").val();
            var txt_RegDate = $("#txt_RegDate").val();
            var txt_OwnerFirstName = $("#txt_OwnerFirstName").val();
            var txt_OwnerLastName = $("#txt_OwnerLastName").val();
            var txt_Address1 = $("#txt_Address1").val();
            var txt_Address2 = $("#txt_Address2").val();
            var txt_City = $("#txt_City").val();
            var txt_State = $("#txt_State").val();
            var Country = $("#Country").val();
            var txt_Pincode = $("#txt_Pincode").val();
            var txt_BoughtOn = $("#txt_BoughtOn").val();
            var Vehicle = $("#Vehicle").val();
            var txt_Color = $("#txt_Color").val();
            var txt_EngineNum = $("#txt_EngineNum").val();
            var txt_ChaseNum = $("#txt_ChaseNum").val();
            var FuelType = $("#FuelType").val();
            var txt_FuelCapacity = $("#txt_FuelCapacity").val();
            var txt_SeatCapacity = $("#txt_SeatCapacity").val();
            var txt_RegisterUptoDate = $("#txt_RegisterUptoDate").val();
            var txt_TaxValidUpto = $("#txt_TaxValidUpto").val();
            var txt_InsuranceNum = $("#txt_InsuranceNum").val();
            var txt_InsuranceValidFromDate = $("#txt_InsuranceValidFromDate").val();
            var txt_InsuranceValidUpto = $("#txt_InsuranceValidUpto").val();
            var txt_Manufacture4 = $("#txt_Manufacture").val();
            $("#MandatoryFieldErrorMessage_Add").hide();
            var values = {
                txt_RegNumber: txt_RegNumber, txt_RegDate: txt_RegDate, txt_OwnerFirstName: txt_OwnerFirstName, txt_OwnerLastName: txt_OwnerLastName, txt_Address1: txt_Address1,
                txt_Address2: txt_Address2, txt_City: txt_City, txt_State: txt_State, Country: Country, txt_Pincode: txt_Pincode, txt_BoughtOn: txt_BoughtOn, Vehicle: Vehicle, txt_Color: txt_Color, txt_EngineNum: txt_EngineNum,
                txt_ChaseNum: txt_ChaseNum, FuelType: FuelType, txt_FuelCapacity: txt_FuelCapacity, txt_SeatCapacity: txt_SeatCapacity, txt_RegisterUptoDate: txt_RegisterUptoDate,
                txt_TaxValidUpto: txt_TaxValidUpto, txt_InsuranceNum: txt_InsuranceNum, txt_InsuranceValidFromDate: txt_InsuranceValidFromDate, txt_InsuranceValidUpto: txt_InsuranceValidUpto, txt_Manufacture: txt_Manufacture4
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Transport/VehicleConfiguration/AddVehicleDetail',
                type: 'POST',
                processData: false,
                contentType: false,
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#VehicleRegistrationNumber").empty().append('<option value="0">@ResourceCache.Localize("Please_select_registration_number")</option>');
                            $.each(data.RegistrationNumber, function (i, c) {
                                $("#VehicleRegistrationNumber").append($('<option></option>').val(c.Id).html(c.RegistrationNumber));
                            });
                            $("#VehicleListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                        }


                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        });


        var VehicleId;
        jQuery("#VehicleListGrid").jqGrid({
            url: "/Transport/VehicleConfiguration/VehicleListResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id', '@ResourceCache.Localize("RegistrationNumber")', '@ResourceCache.Localize("VehicleType")', '@ResourceCache.Localize("Manufacture")', '@ResourceCache.Localize("Color")', '@ResourceCache.Localize("SeatCapacity")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Actions")'],
            colModel: [
                { key: true, hidden: true, name: 'Id', index: 'Id' },
                { key: false, name: 'RegistrationNumber', index: 'RegistrationNumber' },
                { key: false, name: 'VehicleType', index: 'VehicleType' },
                { key: false, name: 'Manufactured', index: 'Manufactured' },
                { key: false, name: 'Color', index: 'Color' },
                { key: false, name: 'SeatCapacity', index: 'SeatCapacity' },
                { key: false, name: 'status', index: 'status' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#VehicleListPager"),
            rowNum: 10,
            rowList: [10, 25, 50, 100],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#VehicleListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    VehicleId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Vehicle btn_Edit ui-icon-pencil' id='" + VehicleId + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    jQuery("#VehicleListGrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#VehicleListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                        ).jqGrid('navButtonAdd', '#VehicleListPager',
                        {
                            caption: " @ResourceCache.Localize("Excel") ",
                            buttonicon: "ui-icon-bookmark",
                            onClickButton: function () {
                                window.location.href = "../VehicleConfiguration/Vehicle_ExportToExcel";
                            }
                        }).jqGrid('navButtonAdd', '#VehicleListPager',
                        {
                            caption: "@ResourceCache.Localize("Pdf")",
                            buttonicon: "ui-icon-print",
                            position: "last",
                            onClickButton: function () {
                                window.location.href = "../VehicleConfiguration/Vehicle_ExportToPdf";
                            }
                        });
        $("#VehicleListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("VehicleList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnFilterVehicle').click(function (event) {
            var vehicleId = $("#VehicleRegistrationNumber").val();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'VehicleRegistrationNumber') {
                        a.push('@ResourceCache.Localize("Please_select_registration_number")');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
            }
            $("#MandatoryFieldErrorMessage_List").hide();
            event.preventDefault();
            Vehicle_filterGrid();
        });
        function Vehicle_filterGrid() {
            var postDataValues = $("#VehicleListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#VehicleListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Vehicle', function () {
            var id = $(this).attr('id');
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#Vehicle_Id").val(id);
            $.getJSON('/Transport/VehicleConfiguration/EditVehicle', { passId: id },
               function (data) {
                   $("#EditVehicle").show();
                   $("#AddVehicle").hide();
                   if (data.getRow.Status == true) {
                       $("#editActive").show();
                       $("#editInActive").hide();
                   }
                   else {
                       $("#editInActive").show();
                       $("#editActive").hide();
                   }
                   $("#Edit_txt_RegDate").val(data.getRow.txt_Reg_Date);
                   $("#Edit_txt_RegNumber").val(data.getRow.txt_RegNumber);
                   $("#Edit_txt_OwnerFirstName").val(data.getRow.txt_OwnerFirstName);
                   $("#Edit_txt_OwnerLastName").val(data.getRow.txt_OwnerLastName);
                   $("#Edit_txt_Address1").val(data.getRow.txt_Address1);
                   $("#Edit_txt_Address2").val(data.getRow.txt_Address2);
                   $("#Edit_txt_City").val(data.getRow.txt_City);
                   $("#Edit_txt_State").val(data.getRow.txt_State);

                   $("#Edit_txt_Pincode").val(data.getRow.txt_Pincode);
                   $("#Edit_txt_Manufacture").val(data.getRow.txt_Manufacture);
                   $("#Edit_txt_Color").val(data.getRow.txt_Color);
                   $("#Edit_txt_EngineNum").val(data.getRow.txt_EngineNum);
                   $("#Edit_txt_ChaseNum").val(data.getRow.txt_ChaseNum);
                   $("#Edit_txt_FuelCapacity").val(data.getRow.txt_FuelCapacity);
                   $("#Edit_txt_SeatCapacity").val(data.getRow.txt_SeatCapacity);
                   $("#Edit_txt_RegisterUptoDate").val(data.getRow.txt_RegisterUpto_Date);
                   $("#Edit_txt_TaxValidUpto").val(data.getRow.txt_TaxValidUpto);
                   $("#Edit_txt_InsuranceNum").val(data.getRow.txt_InsuranceNum);
                   $("#Edit_txt_InsuranceValidFromDate").val(data.getRow.txt_InsuranceValidFrom_Date);
                   $("#Edit_txt_InsuranceValidUpto").val(data.getRow.txt_InsuranceValid_Upto_Date);

                   $("#Edit_Country").val(data.getRow.Country);
                   $("#Edit_Vehicle").val(data.getRow.Vehicle);
                   $("#Edit_FuelType").val(data.getRow.FuelType);
                   $("#Edit_txt_BoughtOn").val(data.getRow.txt_Bought_On_Date);

               });
        });
        $("#btnUpdateVehicle").click(function () {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Edit_txt_RegNumber') {
                        a.push('@ResourceCache.Localize("Please_enter_registration_number")');
                    }
                    if (null_id == 'Edit_txt_RegDate') {
                        a.push('@ResourceCache.Localize("Please_enter_registration_date")');
                    }
                    if (null_id == 'Edit_txt_OwnerFirstName') {
                        a.push('@ResourceCache.Localize("Please_enter_owner_first_name")');
                    }
                    if (null_id == 'Edit_txt_OwnerLastName') {
                        a.push('@ResourceCache.Localize("Please_enter_owner_last_name")');
                    }
                    if (null_id == 'Edit_txt_Address1') {
                        a.push('@ResourceCache.Localize("Please_enter_address_Line1")');
                    }
                    if (null_id == 'Edit_txt_Address2') {
                        a.push('@ResourceCache.Localize("Please_enter_address_Line2")');
                    }
                    if (null_id == 'Edit_txt_City') {
                        a.push('@ResourceCache.Localize("Please_enter_city")');
                    }
                    if (null_id == 'Edit_txt_State') {
                        a.push('@ResourceCache.Localize("Please_Enter_State")');
                    }
                    if (null_id == 'Edit_Country') {
                        a.push('@ResourceCache.Localize("PleaseSelectCountry")');
                    }
                    if (null_id == 'Edit_txt_Pincode') {
                        a.push('@ResourceCache.Localize("Please_enter_pincode")');
                    }
                    if (null_id == 'Edit_txt_BoughtOn') {
                        a.push('@ResourceCache.Localize("Please_enter_bought_date")');
                    }
                    if (null_id == 'Edit_Vehicle') {
                        a.push('@ResourceCache.Localize("Please_select_vehicle_type")');
                    }
                    if (null_id == 'Edit_txt_Manufacture') {
                        a.push('@ResourceCache.Localize("Please_enter_manufacture_name")');
                    }
                    if (null_id == 'Edit_txt_Color') {
                        a.push('@ResourceCache.Localize("Please_enter_color")');
                    }
                    if (null_id == 'Edit_txt_EngineNum') {
                        a.push('@ResourceCache.Localize("Please_enter_engine_number")');
                    }
                    if (null_id == 'Edit_txt_ChaseNum') {
                        a.push('@ResourceCache.Localize("Please_enter_chase_number")');
                    }
                    if (null_id == 'Edit_FuelType') {
                        a.push('@ResourceCache.Localize("Please_select_fuel_type")');
                    }
                    if (null_id == 'Edit_txt_FuelCapacity') {
                        a.push('@ResourceCache.Localize("Please_enter_fuel_capacity")');
                    }
                    if (null_id == 'Edit_txt_SeatCapacity') {
                        a.push('@ResourceCache.Localize("Please_enter_seat_capacity")');
                    }
                    if (null_id == 'Edit_txt_RegisterUptoDate') {
                        a.push('@ResourceCache.Localize("Please_enter_register_upto_date")');
                    }
                    if (null_id == 'Edit_txt_TaxValidUpto') {
                        a.push('@ResourceCache.Localize("Please_enter_tax_valid_upto")');
                    }
                    if (null_id == 'Edit_txt_InsuranceNum') {
                        a.push('@ResourceCache.Localize("Please_enter_insurance_number")');
                    }
                    if (null_id == 'Edit_txt_InsuranceValidFromDate') {
                        a.push('@ResourceCache.Localize("Please_enter_insurance_valid_from_date")');
                    }
                    if (null_id == 'Edit_txt_InsuranceValidUpto') {
                        a.push('@ResourceCache.Localize("Please_enter_insurance_valid_upto_date")');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            var txt_RegNumber = $("#Edit_txt_RegNumber").val();
            var txt_RegDate = $("#Edit_txt_RegDate").val();
            var txt_OwnerFirstName = $("#Edit_txt_OwnerFirstName").val();
            var txt_OwnerLastName = $("#Edit_txt_OwnerLastName").val();
            var txt_Address1 = $("#Edit_txt_Address1").val();
            var txt_Address2 = $("#Edit_txt_Address2").val();
            var txt_City = $("#Edit_txt_City").val();
            var txt_State = $("#Edit_txt_State").val();
            var Country = $("#Edit_Country").val();
            var txt_Pincode = $("#Edit_txt_Pincode").val();
            var txt_BoughtOn = $("#Edit_txt_BoughtOn").val();
            var Vehicle = $("#Edit_Vehicle").val();
            var txt_Color = $("#Edit_txt_Color").val();
            var txt_EngineNum = $("#Edit_txt_EngineNum").val();
            var txt_ChaseNum = $("#Edit_txt_ChaseNum").val();
            var FuelType = $("#Edit_FuelType").val();
            var txt_FuelCapacity = $("#Edit_txt_FuelCapacity").val();
            var txt_SeatCapacity = $("#Edit_txt_SeatCapacity").val();
            var txt_RegisterUptoDate = $("#Edit_txt_RegisterUptoDate").val();
            var txt_TaxValidUpto = $("#Edit_txt_TaxValidUpto").val();
            var txt_InsuranceNum = $("#Edit_txt_InsuranceNum").val();
            var txt_InsuranceValidFromDate = $("#Edit_txt_InsuranceValidFromDate").val();
            var txt_InsuranceValidUpto = $("#Edit_txt_InsuranceValidUpto").val();
            var txt_Manufacture4 = $("#Edit_txt_Manufacture").val();
            var status = $("#status").val();
            var Vehicle_Id = $("#Vehicle_Id").val();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            var values = {
                txt_RegNumber: txt_RegNumber, txt_RegDate: txt_RegDate, txt_OwnerFirstName: txt_OwnerFirstName, txt_OwnerLastName: txt_OwnerLastName, txt_Address1: txt_Address1,
                txt_Address2: txt_Address2, txt_City: txt_City, txt_State: txt_State, Country: Country, txt_Pincode: txt_Pincode, txt_BoughtOn: txt_BoughtOn, Vehicle: Vehicle, txt_Color: txt_Color, txt_EngineNum: txt_EngineNum,
                txt_ChaseNum: txt_ChaseNum, FuelType: FuelType, txt_FuelCapacity: txt_FuelCapacity, txt_SeatCapacity: txt_SeatCapacity, txt_RegisterUptoDate: txt_RegisterUptoDate,
                txt_TaxValidUpto: txt_TaxValidUpto, txt_InsuranceNum: txt_InsuranceNum, txt_InsuranceValidFromDate: txt_InsuranceValidFromDate, txt_InsuranceValidUpto: txt_InsuranceValidUpto, txt_Manufacture: txt_Manufacture4,
                Vehicle_Id: Vehicle_Id, status: status
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Transport/VehicleConfiguration/UpdateVehicleDetail',
                type: 'POST',
                processData: false,
                contentType: false,
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#VehicleListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    </script>
}