﻿@using eAcademy.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12" id="AddRoute">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeCollection")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-xs-12">
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptNumber")</label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_recId" name="txt_recId" value="@ViewBag.recID" readonly title="@ResourceCache.Localize("ReceiptNumber")" /></div>
                            </div>
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptDate")</label>  </div>
                                <div><input class="col-xs-12" type="text" id="txt_recdate" name="txt_recdate" value="@ViewBag.sysDate" readonly title="@ResourceCache.Localize("@Resource.ReceiptDate")" /></div>
                            </div>
                            <div class="col-sm-4">
                                <div><label class="input-label-sm"> @ResourceCache.Localize("RegisterNumber")</label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_SRid" name="txt_SRid" placeholder="@ResourceCache.Localize("StudentRegisterNumber")" title="@ResourceCache.Localize("StudentRegisterNumber")" maxlength="15" /></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <hr />
                            </div>
                            <div class="col-sm-2" style="Color:darkblue;font-size:xx-large;font-weight:500;"><center> (OR) </center></div>
                            <div class="col-sm-5">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Acyear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("AcademicYear"), new { @class = "current_button", @title = "Academic Year" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Class", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"), new { @class = "current_button", @title = "Class" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Student", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudent"), Value = "" } }, new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="row col-sm-12">
                            <button type="button" class="btn btn_double btn-sm btn_submit  btngetFee col-sm-4 col-md-3 col-lg-2" id="btngetFee" name="btngetFee"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            <button type="reset" id="btnResetFee" class=" btn  btn-sm btn_reset  col-sm-4 col-md-3 col-lg-2" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                        </div>
                        <div class="box-footer no-border">
                            <div class="row">
                            </div>
                        </div><!-- /.box-footer -->
                        <div id="FeeSection" style="display:none">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Destination")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Destination", new SelectList(ViewBag.allDestination, "DestinationId", "DestinationName"), ResourceCache.Localize("SelectDestination"), new { @class = "current_button" })
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("PickPoint")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("PickPoint", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectPickPoint"), Value = "" } }, new { @class = "current_button" })
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FeeAmount")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" value="" id="txt_FeeAmount" name="txt_FeeAmount" placeholder="@ResourceCache.Localize("FeeAmount")" title="@ResourceCache.Localize("FeeAmount")" readonly required="required" />
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Discount(%)")</label>  </div>
                                    <input class="col-lg-12 current_button digit-validation" type="text" id="txt_Discount" value="0" name="txt_Discount" placeholder="@ResourceCache.Localize("Discount(%)")" title="@ResourceCache.Localize("Discount(%)")" required="required" maxlength="3" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("LateFee")</label>  </div>
                                    <input class="col-lg-12 current_button" type="text" value="0" id="txt_LateFee" name="txt_LateFee" placeholder="@ResourceCache.Localize("LateFee")" title="@ResourceCache.Localize("LateFee")" required="required" />
                                </div>

                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("VAT")</label> <input id="txt_CheckVAT" name="txt_CheckVAT" type="checkbox" /></div>
                                    <div><input class="col-lg-12 current_button" type="text" id="txt_VAT" name="txt_VAT" placeholder="@ResourceCache.Localize("VAT")" required title="@ResourceCache.Localize("VAT")" readonly /></div>
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("TotalAmount")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" value="" id="txt_TotalAmount" name="txt_TotalAmount" placeholder="@ResourceCache.Localize("TotalAmount")" title="@ResourceCache.Localize("TotalAmount")" readonly required="required" />
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("PaymentMode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        <select class="col-xs-12 current_button" id="txt-paymentMode" name="txt-paymentMode" title="@ResourceCache.Localize("PaymentMode")">
                                            <option value="0">@ResourceCache.Localize("SelectPaymentMode")</option>
                                            <option value="1">@ResourceCache.Localize("cash")</option>
                                            <option value="2">@ResourceCache.Localize("Cheque")</option>
                                            <option value="3">@ResourceCache.Localize("DD")</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div id="txt-cheque" style="display:none;">
                                    <div class="col-xs-12 col-lg-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BankName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div>
                                            <input class="col-xs-12" type="text" id="txt_bankName" name="txt_bankName" placeholder="@ResourceCache.Localize("BankName")" title="@ResourceCache.Localize("BankName")" maxlength="30" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("ChequeNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div>
                                            <input class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="text" id="txt_ChequeNo" name="txt_ChequeNo" placeholder="@ResourceCache.Localize("ChequeNumber")" title="@ResourceCache.Localize("ChequeNumber")" maxlength="20" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="txt-dd" style="display:none;">
                                    <div class="col-xs-12 col-lg-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BankName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div>
                                            <input class="col-xs-12" type="text" id="txt_bankNameDD" name="txt_bankNameDD" placeholder="@ResourceCache.Localize("BankName")" title="@ResourceCache.Localize("BankName")" maxlength="30" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("DDNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div>
                                            <input class="col-xs-12" type="text" id="txt_DDNo" name="txt_DDNo" placeholder="@ResourceCache.Localize("DDNumber")" title="@ResourceCache.Localize("DDNumber")" maxlength="20" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Remark")</label> </div>
                                    <div>
                                        <textarea class="col-md-12" id="txt_remark" name="txt_remark" placeholder="@ResourceCache.Localize("Remark")" title="@ResourceCache.Localize("Remark")" style="resize:none;" maxlength="250"></textarea>
                                        <span class="char-max-alert"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="box-footer no-border ">
                                    <div class="row footer btn-down">
                                        <button type="button" class="btn btn_double btn-sm btn_add" id="btnCollectFee" name="btnCollectFee" title="Collect Fee"> <i class="fa fa-plus"></i>@ResourceCache.Localize("CollectFee")</button>

                                    </div><!-- /.row -->
                                </div><!-- /.box-footer -->
                            </div>
                           
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </section><!-- right col -->
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $("#txt_recId").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_Discount").filter_input({ regex: '[0-9]' });
        $("#txt_LateFee").filter_input({ regex: '[0-9.]' });
        $("#txt-bankCheque").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt-ChequeNo").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt-bankDD").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt-DDNo").filter_input({ regex: '[0-9A-Za-z]' });
        $("#txt_remark").filter_input({ regex: '[0-9A-Za-z ]' });
        $(document).ready(function () {
            $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);

            $('#Acyear').change(function (event) {
                $('#Class').val("");
                $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                event.preventDefault();
                var YearId = $('#Acyear').val();
                AssignAcademicYear(YearId);
                Add_AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            function Add_AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                          function (orderdetails) {
                          });
            }
            $('#Class').change(function (event) {
                var ClassId = $('#Class').val();
                $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $.getJSON('/Transport/TransportFeesCollection/GetSelectedClassSection', { passClassId: ClassId },
                    function (orderdetails) {
                        $("#Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                        });
                    });
            });
            $('#Section').change(function (event) {
                var YearId = $('#Acyear').val();
                var ClassId = $('#Class').val();
                var SecId = $('#Section').val();
                $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $.getJSON('/Transport/TransportFeesCollection/showStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
                    function (orderdetails) {
                        $("#Student").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#Student").append($('<option></option>').val(c.id).html(c.name));
                        });
                    });
            });
            $('#Destination').change(function (event) {
                var DestinationId = $('#Destination').val();
                $.getJSON('/Transport/TransportFeesCollection/GetSelectedDestinationPickPoints', { passDestinationId: DestinationId },
                    function (orderdetails) {
                        $("#PickPoint").empty().append('<option value="">@ResourceCache.Localize("PickPoint")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#PickPoint").append($('<option></option>').val(c.PickPointId).html(c.PickPointName));
                        });
                    });
            });

            $("#btnResetFee").click(function (event) {
                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#FeeSection").hide();
            });

            $("#btngetFee").click(function () {
                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#FeeSection").hide();
                var rno = $("#txt_SRid").val();
                var acid = $("#Acyear").val();
                var classId = $("#Class").val();
                var sectionId = $("#Section").val();
                var studentRegId = $("#Student").val();
                $('#idSection_CollectFee').show();

                if (rno == "0" || rno == null || rno == "") {

                    if (acid == "0" || acid == null || acid == "") {

                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").text("Enter either RollNumber or Academic Details");
                        return false;
                    }
                    else {
                        var a = [];
                        var field_val = [];
                        $(".current_button").each(function () {
                            var valu = $(this).val();
                            if (valu == '') {
                                var null_id = $(this).attr('id');
                                if (null_id == 'Acyear') {
                                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                                }
                                if (null_id == 'Class') {
                                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                                }
                                if (null_id == 'Section') {
                                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                                }
                                if (null_id == 'Student') {
                                    a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                                }
                            }
                            else {
                            }
                        });
                        if (a.length != 0) {
                            $("#MandatoryFieldErrorMessage_Add").show();
                            $(".Add_jErr").append().empty();
                            $.each(a, function (i, v) {
                                if (a[i] != "" && a[i] != null) {
                                    li = $("<li></li>").text(a[i]);
                                    $(".Add_jErr").append(li);
                                }
                            });
                            a = [];
                            return false;
                        }
                        else {
                            $("#MandatoryFieldErrorMessage_Add").hide();
                            var cid = $("#Class").val();
                            var secid = $("#Section").val();
                            var stdid = $("#Student").val();
                            var acid = $('#Acyear').val();
                            values = { AcYearId: acid, ClassId: cid, SectionId: secid, StudentId: stdid }
                            $.ajax(
                               {
                                   url: '/Transport/TransportFeesCollection/getStudentRegisterId',
                                   type: 'POST',
                                   data: JSON.stringify(values),
                                   dataType: 'json',
                                   contentType: "application/json",
                                   success: function (data) {
                                       if (data == null) {
                                           $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                                           $("#AddErrorText").html("@ResourceCache.Localize("Invalid Student")");
                                           $('#MandatoryFieldErrorMessage_Add').hide();
                                       }
                                       else {
                                           $("#txt_SRid").val(data).html(data);
                                       }
                                   }
                               });
                        }
                    }
                }
                else {

                    if (acid != 0 && classId != 0 && sectionId != 0 && studentRegId != 0) {
                        $("#MandatoryFieldErrorMessage_Add").hide();
                        values = { AcYearId: acid, ClassId: classId, SectionId: sectionId, StudentId: studentRegId }
                        $.ajax(
                           {
                               url: '/Transport/TransportFeesCollection/getStudentRegisterId',
                               type: 'POST',
                               data: JSON.stringify(values),
                               dataType: 'json',
                               contentType: "application/json",
                               success: function (data) {
                                   if (data == null) {
                                       $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                                       $("#AddErrorText").html("InvalidStudent");
                                       $('#MandatoryFieldErrorMessage_Add').hide();
                                   }
                                   else {
                                       $("#txt_SRid").val(data).html(data);
                                   }
                               }
                           });
                    }
                    else {

                        $("#errorMsg").text("");

                        values = { RegNo: rno };

                        $.ajax({
                            url: '/Transport/TransportFeesCollection/getStudentDetailsByRollNumber',
                            type: 'POST',
                            data: JSON.stringify(values),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                if (data.ans == null) {
                                    $("#jsonErrorMsg").show();
                                    $("#jErrMsg").text("@ResourceCache.Localize("InvalidStudentRegisterID")");

                                }
                                else {
                                    var aaa = data.ans.AcademicYearId;
                                    $("#AddErrorText").text("");
                                    $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                                    $('#MandatoryFieldErrorMessage_Add').hide();
                                    $("#Acyear").val(data.ans.AcademicYearId);

                                    $.ajax({
                                        url: '/Transport/TransportFeesCollection/getClass',
                                        type: 'POST',

                                        dataType: 'json',
                                        contentType: "application/json",
                                        success: function (data1) {
                                            $("#Class").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                                            $.each(data1, function (i, c) {
                                                $("#Class").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                                            });
                                            $("#Class").val(data.ans.ClassId);
                                        }
                                    });
                                    val_cid = { cid: data.ans.ClassId };
                                    $.ajax({
                                        url: '/Transport/TransportFeesCollection/getSection',
                                        type: 'POST',
                                        data: JSON.stringify(val_cid),
                                        dataType: 'json',
                                        contentType: "application/json",
                                        success: function (data2) {
                                            $("#Section").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                                            $.each(data2, function (i, c) {
                                                $("#Section").append($('<option></option>').val(c.SectionId).html(c.Section));
                                            });
                                            $("#Section").val(data.ans.SectionId);
                                        }
                                    });
                                    val_sid = { acid: data.ans.AcademicYearId, sec_id: data.ans.SectionId, cid: data.ans.ClassId };
                                    $.ajax({
                                        url: '/Transport/TransportFeesCollection/getStudent',
                                        type: 'POST',
                                        data: JSON.stringify(val_sid),
                                        dataType: 'json',
                                        contentType: "application/json",
                                        success: function (data3) {
                                            $("#Student").empty().append('<option value="0">@ResourceCache.Localize("SelectStudent")</option>');
                                            $.each(data3, function (i, v) {
                                                $("#Student").append($('<option></option>').val(v.sid).html(v.sname));
                                            });
                                            $("#Student").val(data.ans.StudentRegId);
                                            Fun_CollectFee();
                                        }
                                    });

                                }
                            }
                        });
                    }
                }
                Fun_CollectFee();
            });

            function Fun_CollectFee() {

                var yearId = $("#Acyear").val();
                var classId = $("#Class").val();
                var sectionId = $("#Section").val();
                var studentRegId = $("#Student").val();
                $.getJSON('/Transport/TransportFeesCollection/GetPaidStudentDetail', { passYearId: yearId, PassClassId: classId, PassSecId: sectionId, PassStuRegId: studentRegId },
                    function (data) {
                        if (data.record == "Exist") {
                            $("#Destination").val(data.detail.DestinationId);
                            $.getJSON('/Transport/TransportFeesCollection/GetSelectedDestinationPickPoints', { passDestinationId: data.detail.DestinationId },
                            function (orderdetails) {
                                $.each(orderdetails, function (i, c) {
                                    $("#PickPoint").append($('<option></option>').val(c.PickPointId).html(c.PickPointName));
                                });
                                $("#PickPoint").val(data.detail.PickPointId);
                            });
                            $("#txt_FeeAmount").val(data.detail.FeeAmount);
                            $("#txt_Discount").val(data.detail.Discount);
                            $("#txt_LateFee").val(data.detail.LateFee);
                            $("#txt_VAT").val(data.detail.Vat);
                            $("#txt_TotalAmount").val(data.detail.TotalAmount);

                            if (data.detail.PaymentMode == "@ResourceCache.Localize("cash")") {

                                $("#txt-cheque").hide();
                                $("#txt-dd").hide();
                                $("#txt-paymentMode").val(1);
                            }
                            else if (data.detail.PaymentMode == "@ResourceCache.Localize("Cheque")") {

                                $("#txt-cheque").show();
                                $("#txt_bankName").val(data.detail.BankName);
                                $("#txt_ChequeNo").val(data.detail.ChequeNo);
                                $("#txt-paymentMode").val(2);
                            }
                            else if (data.detail.PaymentMode == "@ResourceCache.Localize("DD")") {

                                $("#txt-cheque").hide();
                                $("#txt_bankNameDD").val(data.detail.BankName);
                                $("#txt_DDNo").val(data.detail.DDno);
                                $("#txt-paymentMode").val(3);
                            }
                            else {
                            }
                            $("#txt_remark").val(data.detail.Remark);
                        }
                    });
                $("#FeeSection").show();
            }
            $('#PickPoint').change(function (event) {

                $("#txt_FeeAmount").empty();
                $("#txt_ServiceTax").empty();
                $("#txt_VAT").empty();
                $("#txt_VAT").empty();
                $("#txt_TotalAmount").empty();
                $("#txt_FeeAmount").empty();
                var PickPointId = $('#PickPoint').val();
                $.getJSON('/Transport/TransportFeesCollection/GetPickPointAmount', { passPickPointId: PickPointId },
                    function (data) {
                        $("#txt_FeeAmount").val(data.FeeAmount);
                        $("#txt_ServiceTax").val(data.ServiceTax);
                        $("#txt_VAT").val(data.VAT);
                        $("#txt_VAT").val(data.VAT);
                        $("#txt_TotalAmount").val(data.Total);
                    });
            });
            $("#txt_Discount").keyup(function () {

                function_keyup();
            });
            $("#txt_CheckVAT").click(function () {
                function_keyup();
            });
            $("#txt_LateFee").keyup(function () {
                function_keyup();
            });
            function validateRange(ele) {
                var val = ele.val();
                if (!$.isNumeric(val) || parseInt(val, 10) < 0 || parseInt(val, 10) > 100) {
                    $('#result').html('false');
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").text("@ResourceCache.Localize("Would_give_with_in_100%_only")");
                    return false;
                }
                else {
                    $('#result').html('true');
                }
            }
            $('.digit-validation').keyup(function (event) {
                validateRange($(this));
            });
            $("#txt_Discount").keyup(function (event) {//check that the field isn't empty
                if ($(this).val() == "") {
                    $("#jsonErrorMsg").hide();
                }
            });

            function function_keyup() {
                var discount = $("#txt_Discount").val();
                var lateCharge = $("#txt_LateFee").val();
                var collectedTotal = $("#txt_TotalAmount").val();
                var Check_ServiceTAX = $("#txt_checkServTax").is(":checked");
                var Check_VAT = $("#txt_CheckVAT").is(":checked");
                var fee = $("#txt_FeeAmount").val();
                if (Check_VAT == true) {
                    var collectedTotal1 = $("#txt_TotalAmount").val();
                    var vvv_vat = $("#txt_VAT").val();
                    var vat_collect = parseFloat(collectedTotal1) + parseFloat(vvv_vat);
                    if (discount == null || discount == 0 || discount == "" || discount == "0") {
                        if (lateCharge == null || lateCharge == 0 || lateCharge == "" || lateCharge == "0") {
                            $("#txt_TotalAmount").val(vat_collect).html(vat_collect);
                        }
                        else {
                            var ttl2 = parseFloat(lateCharge) + parseFloat(fee) + parseFloat(vvv_vat);
                            $("#txt_TotalAmount").val(ttl2).html(ttl2);
                        }
                    }
                    else {
                        var discount_amt = parseFloat(fee) * (parseFloat(discount) / 100);
                        var ttl1 = parseFloat(fee) - discount_amt;
                        var ttl5 = ttl1 + parseFloat(vvv_vat);
                        if (lateCharge == null || lateCharge == 0 || lateCharge == "") {
                            $("#txt_TotalAmount").val(ttl5).html(ttl5);
                        }
                        else {
                            var ttl2 = parseFloat(lateCharge) + ttl5;
                            $("#txt_TotalAmount").val(ttl2).html(ttl2);
                        }
                    }
                }
                else {
                    if (discount == null || discount == 0 || discount == "" || discount == "0") {
                        if (lateCharge == null || lateCharge == 0 || lateCharge == "" || lateCharge == "0") {
                            $("#txt_TotalAmount").val(fee).html(fee);
                        }
                        else {
                            var ttl2 = parseFloat(lateCharge) + parseFloat(fee);
                            $("#txt_TotalAmount").val(ttl2).html(ttl2);
                        }
                    }
                    else {
                        var discount_amt = parseFloat(fee) * (parseFloat(discount) / 100);
                        var ttl1 = parseFloat(fee) - discount_amt;
                        if (lateCharge == null || lateCharge == 0 || lateCharge == "" || lateCharge == "0") {
                            $("#txt_TotalAmount").val(ttl1).html(ttl1);
                        }
                        else {
                            var ttl2 = parseFloat(lateCharge) + ttl1;
                            $("#txt_TotalAmount").val(ttl2).html(ttl2);
                        }
                    }
                }
            }
            $("#btnCollectFee").click(function () {

                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonError").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '' || valu == '0') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Acyear') {
                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'Class') {
                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'Section') {
                            a.push('@ResourceCache.Localize("PleaseSelectSection")');
                        }
                        if (null_id == 'Student') {
                            a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                        }
                        if (null_id == 'Destination') {
                            a.push('@ResourceCache.Localize("Please_select_destination")');
                        }
                        if (null_id == 'PickPoint') {
                            a.push('@ResourceCache.Localize("Please_select_pickpoint")');
                        }
                        if (null_id == 'txt_FeeAmount') {
                            a.push('@ResourceCache.Localize("Please_select_fee_amount")');
                        }
                        if (null_id == 'txt_TotalAmount') {
                            a.push('@ResourceCache.Localize("Please_select_total_amount")');
                        }
                        if (null_id == 'txt-paymentMode') {
                            a.push('@ResourceCache.Localize("Please_Select_Payment_Mode")');
                        }
                    }
                    else {

                    }
                });
                var txt_VAT;
                var vat_checked = $("#txt_CheckVAT").is(":checked");

                if (vat_checked == true) {

                    txt_VAT = $("#txt_VAT").val();
                }
                else {

                    txt_VAT = 0;
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                $("#MandatoryFieldErrorMessage_Add").hide();
                var yearId = $("#Acyear").val();
                var classId = $("#Class").val();
                var sectionId = $("#Section").val();
                var studentRegId = $("#Student").val();
                var destinationId = $("#Destination").val();
                var PickPointId = $("#PickPoint").val();
                var feeAmount = $("#txt_FeeAmount").val();
                var TotalAmount = $("#txt_TotalAmount").val();
                var fine = $("#txt_LateFee").val();
                var discount = $("#txt_Discount").val();
                var paymentMode = $("#txt-paymentMode").val();
                var remark = $("#txt_remark").val();
                var bankName, chequeNumber, bankName2, chequeNumber2;
                if (paymentMode == 2) {

                    bankName = $("#txt_bankName").val();
                    chequeNumber = $("#txt_ChequeNo").val();
                }
                if (paymentMode == 3) {

                    bankName2 = $("#txt_bankNameDD").val();
                    chequeNumber2 = $("#txt_DDNo").val();
                }
                $("#MandatoryFieldErrorMessage_Add").hide();
                var values = {
                    academicYearId: yearId, classId: classId, sectionId: sectionId, studentId: studentRegId, destinationId: destinationId, pickpointId: PickPointId,
                    FeeAmount: feeAmount, AmountCollected: TotalAmount, FineAmount: fine, Discount: discount, VAT: txt_VAT, PaymentMode: paymentMode, BankName: bankName, ChequeNumber: chequeNumber, BankName2: bankName2,
                    DDNumber: chequeNumber2, Remark: remark
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Transport/TransportFeesCollection/CollectFee',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                var sssss = data.collectionid;
                                $('#txt_recId').val((sssss + 1));
                                var encrpt = data.EncrptCollectionid;
                                window.open('/Transport/TransportFeesCollection/TransportBillReceipt/' + encrpt, "wndPopUp", 'width=900,height=850,resizable=no');
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    }
                });
            });
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
        $('#txt_remark').keypress(function (e) {
            var tval = $('#txt_remark').val(),
                tlength = tval.length,
                set = 250,
                remain = parseInt(set - tlength);
            $(this).next('.char-max-alert').html(remain + ' @ResourceCache.Localize("CharactersRemaining")');
            if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
                $('#txt_remark').val((tval).substring(0, tlength - 1))
            }
        })
    </script>
}