﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.Employee>
@{
    ViewBag.Title = "Non_TechEmployeeList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Non-Tech_Employee")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/JsonError.cshtml")
                <div class="box-body">
                    <div class="col-lg-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Employee")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @Html.DropDownList("EmployeeRegisterId", new SelectList(ViewBag.OtherEmployee, "EmployeeId", "EmployeeName"), ResourceCache.Localize("SelectEmployee"), new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnRole_Filter" class="btn btn-sm btn-down1 btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        var Warden_Id, delete_WardenId;
        jQuery("#grid1").jqGrid({
            url: "/EmployeeConfiguration/OtherEmpResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("EmployeeName")', '@ResourceCache.Localize("EmployeeTypes")', '@ResourceCache.Localize("EmployeeDesignation")', '@ResourceCache.Localize("Address")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'EmpRegId', index: 'EmpRegId' },
                { key: false, name: 'EmployeeName', index: 'EmployeeName' },
                    { key: false, name: 'EmployeeTypes', index: 'EmployeeTypes' },
                 { key: false, name: 'EmployeeDesianations', index: 'EmployeeDesianations' },
                { key: false, name: 'EmpId', index: 'EmpId' },
                { key: false, name: 'Address', index: 'Address' },
                 { key: false, name: 'Status', index: 'Status' },
                { key: false, name: 'Edit', index: 'Edit', formatter: 'showlink', formatoptions: { baseLinkUrl: '/EmployeeConfiguration/EditOtherEmployee' }, width: 50 },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "NoRecordsToDisplay",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    Warden_Id = ids[i];
                    delete_WardenId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Facility btn_Edit ui-icon-pencil' id='" + Warden_Id + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../EmployeeConfiguration/OtherEmployeeListExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../EmployeeConfiguration/OtherEmployeeListExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + 'OtherEmployeeList');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRole_Filter').click(function (event) {
            //event.preventDefault();
            var check_id = $("#EmployeeRegisterId").val();
            //alert('check_id' + check_id);
            if (check_id == "0" || check_id == null || check_id == "") {
                $("#div_Error").show();
                //alert("PleaseSelectEmployee");
                $("#errorMsg").html("@ResourceCache.Localize("PleaseSelectEmployee")");
                return false;
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
                filterGrid();
            }
        });
        $('#EmployeeRegisterId').change(function (event) {
            $("#errorMsg").text("");
            $("#div_Error").hide();
        });


        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
    });
    </script>
}