﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.TechEmployee>
@{
    ViewBag.Title = "TechEmployeeList";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageTechEmployee") </h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/JsonError.cshtml")
                <div class="box-body">
                    <div class="col-lg-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Employee")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @Html.DropDownList("EmployeeRegisterId", new SelectList(ViewBag.Employee, "EmployeeRegisterId", "EmployeeName"), ResourceCache.Localize("SelectEmployee"), new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnRole_Filter" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        var Warden_Id, delete_WardenId;
        jQuery("#grid1").jqGrid({
            url: "/EmployeeConfiguration/EmpResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("EmployeeName")', '@ResourceCache.Localize("EmployeeTypes")', '@ResourceCache.Localize("EmployeeDesignation")', '@ResourceCache.Localize("Address")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'EmpRegId', index: 'EmpRegId' },
                 { key: false, name: 'EmpId', index: 'EmpId' },
                { key: false, name: 'EmployeeName', index: 'EmployeeName' },
                   { key: false, name: 'EmployeeTypes', index: 'EmployeeTypes' },
                 { key: false, name: 'EmployeeDesianations', index: 'EmployeeDesianations' },
                { key: false, name: 'Address', index: 'Address' },
                { key: false, name: 'Status', index: 'Status' },
                { key: false, name: 'Edit', index: 'Edit', formatter: 'showlink', formatoptions: { baseLinkUrl: '/EmployeeConfiguration/EditTechEmployee' }, width: 50 },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    Warden_Id = ids[i];
                    delete_WardenId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Facility btn_Edit ui-icon-pencil' id='" + Warden_Id + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                        jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                    }
                },
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../EmployeeConfiguration/TechEmployeeListExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../EmployeeConfiguration/TechEmployeeListExportToPDF";
                }
            });
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $("#grid1").setCaption(' <span class="fa fa-table"></span>' + 'TechEmployeeList');
            $('#btnRole_Filter').click(function (event) {
                event.preventDefault();
                var check_id = $("#EmployeeRegisterId").val();
                if (check_id == "0" || check_id == null || check_id == "") {
                    $("#div_Error").show();
                    $("#errorMsg").html("@ResourceCache.Localize("PleaseSelectEmployee")");
                    return false;
                }
                else {
                    $("#errorMsg").text("");
                    $("#div_Error").hide();
                    filterGrid();
                }
            });
        $('#EmployeeRegisterId').change(function (event) {
            $("#errorMsg").text("");
            $("#div_Error").hide();
        });
            function filterGrid() {
                var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#grid1').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };
            $(document).on('click', '.btn_edit_Facility', function () {
                var id = $(this).attr('id');
                values = { facId: id };
                $.ajax({
                    url: '/SchoolManagement/EditFacilityIncharge',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $("#idSection_AddFacility").hide();
                        $("#idSection_EditFacility").show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $("#hide_FacilityInchargeId").val(id).html(id);
                        $("#hostelWardenAcyear").val(data.ans.acYear).html(data.ans.acYear);
                        $("#hostelWardenEmpList").val(data.ans.ename).html(data.ans.ename);
                        if (data.ans.status == true) {
                            $("#txt_status").prop("checked", true);
                        }
                        if (data.ans.status == false) {
                            $("#txt_status").prop("checked", false);
                        }
                    }
                });
            });
            $("#btncancel_updateFacility").click(function () {
                $("#idSection_EditFacility").hide();
                $("#idSection_AddFacility").show();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });
            $("#btnAddFacility").click(function () {
                var acid = $("#hostelAcyear").val();
                var empid = $("#hostelEmpList").val();
                var values = { AcademicID: acid, EmployeeID: empid };
                $.ajax({
                    url: '/SchoolManagement/Warden',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    }
                });
            });
            $("#btnUpdateFacility").click(function () {
                var wid = $("#hide_FacilityInchargeId").val();
                var check = $("#txt_status").is(':checked');
                var status;
                if (check == true) {
                    status = "Active";
                }
                else {
                    status = "Inactive";
                }
                var values = { WardenId: wid, Status: status };
                $.ajax({
                    url: '/SchoolManagement/SaveEditWarden',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    }
                });
            });



            $("#hostelAcyear").addClass("col-lg-12");
            $("#hostelEmpList").addClass("col-lg-12");
            $("#hostelAcyear1").addClass("col-lg-12");
            $("#hostelClass").addClass("col-lg-12");
            $("#hostelSection").addClass("col-lg-12");
            $("#hostelStudent").addClass("col-lg-12");


            $("#hostelAcyear").change(function () {
                $("#hostelSection").empty().append('<option value="">Select Section</option>');
                $("#hostelStudent").empty().append('<option value="">Select Student</option>');
                $.getJSON('/HostelManagement/getEmployee',
                   function (data) {

                       $("#hostelEmpList").empty().append('<option value>Select Employee</option>');
                       $.each(data, function (i, c) {

                           $("#hostelEmpList").append($('<option></option>').val(c.eid).html(c.ename));
                       });

                   });

                $.getJSON('/HostelManagement/getClassList',
                   function (data) {

                       $("#hostelClass").empty().append('<option value="">Select Class</option>');
                       $.each(data, function (i, c) {

                           $("#hostelClass").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                       });

                   });

            });

            $("#hostelClass").change(function () {
                var cid = $("#hostelClass").val();
                $("#hostelStudent").empty().append('<option value="">Select Student</option>');
                $.getJSON('/HostelManagement/getSectionList', { cid: cid },
                   function (data) {
                       $("#hostelSection").empty().append('<option value="">Select Section</option>');
                       $.each(data, function (i, c) {
                           $("#hostelSection").append($('<option></option>').val(c.SectionId).html(c.Section));
                       });

                   });

            });

            $("#hostelSection").change(function () {
                var cid = $("#hostelClass").val();
                var sec_id = $("#hostelSection").val();
                var acid = $("#hostelAcyear").val();
                $.getJSON('/HostelManagement/getStudent', { acid: acid, cid: cid, sec_id: sec_id },
                   function (data) {
                       $("#hostelStudent").empty().append('<option value="">Select Student</option>');
                       $.each(data, function (i, c) {
                           $("#hostelStudent").append($('<option></option>').val(c.sid).html(c.sname));
                       });

                   });

            });
        });
    </script>
}