﻿@model IEnumerable<eAcademy.ViewModel.StudentAttendanceReport>
@using eAcademy.Models
@{
    ViewBag.Title = "AttendanceReport";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/NavbarHeader.cshtml")
<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("AttendanceReport")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Student/StudentProfile" class="btn btn-info">@ResourceCache.Localize("Academics")</a>
                    <a href="/Student/AttendanceReport" class="btn btn-info">@ResourceCache.Localize("Attendance")</a>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
    <li><a href="~/Student/StudentProfile">@ResourceCache.Localize("Profile")</a></li>
    <li><a href="~/Student/FeeManagement">@ResourceCache.Localize("Fee")</a></li>
    <li><a href="~/Student/AttendanceReport">@ResourceCache.Localize("Attendance")</a></li>
    <li><a href="~/Student/ProgressCard">@ResourceCache.Localize("ProgressCard")</a></li>
    <li><a href="~/Student/Communication">@ResourceCache.Localize("Communication")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student" class="col-lg-12">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("AttendanceReport")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form action="@Url.Action("AttendanceReport", "Student")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")

                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("SM_AcademicYear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "col-lg-12" })
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="SM_txt_FromDate" name="SM_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" value="@ViewBag.fdate" readonly />
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="SM_txt_ToDate" name="SM_txt_ToDate" placeholder="To Date" title="@ResourceCache.Localize("ToDate")" required="required" value="@ViewBag.todate" readonly />
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-sm btn_submit btn-success btn-down" id="btnSM_AttendanceReport"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                    </form>
                    <div id="show">
                        @if (ViewBag.prtAcYear != null)
                        {
                            <div id="PrintSelection" style="display:none">
                                <div><label>@ResourceCache.Localize("AcademicYear") :</label> <label id="prtAcYear">@ViewBag.prtAcYear</label></div>
                                <div><label>@ResourceCache.Localize("FromDate") :</label> <label id="prtFdate">@ViewBag.fdate</label></div>
                                <div><label>@ResourceCache.Localize("ToDate") :</label> <label id="prtToDate">@ViewBag.todate</label></div>
                            </div>
                        }

                        @if (ViewBag.NumberOfWorkingDays != null)
                        {
                            <div class="col-lg-12 btn-down">
                                <div class="col-lg-3">
                                    <div>
                                        @ResourceCache.Localize("TotalNumberOfWorkingDays")
                                        <label>@ViewBag.NumberOfWorkingDays</label> Day(s)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        @ResourceCache.Localize("NumberOfDaysPresent")
                                        <label>@ViewBag.PresentCount</label> Day(s)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        @ResourceCache.Localize("NumberOfDaysAbsent")
                                        <label>@ViewBag.AbsentCount</label> Day(s)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        @ResourceCache.Localize("AttendancePercentage")
                                        <label>@ViewBag.attendancePercentage %</label>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        }
                        @if (ViewBag.Records == "Empty")
                        {
                            <div class="NoRecords box-body">
                                <div class="alert alert-info alert-dismissable" id="NoRecords">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                            <div class="col-sm-12" id="attendanceshortcut" style="display:none;">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr class="info">
                                            <th>@ResourceCache.Localize("A_Absent")</th>
                                            <th>@ResourceCache.Localize("E_Excused")</th>
                                            <th>@ResourceCache.Localize("H_Halfday")</th>
                                            <th>@ResourceCache.Localize("L_late")</th>
                                            <th>@ResourceCache.Localize("P_Present")</th>
                                            <th>@ResourceCache.Localize("R_Religious")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        }
                        @if (ViewBag.PresentCount != null)
                        {
                            if (ViewBag.PresentCount != 0)
                            {
                                @Html.Partial("~/Views/Shared/Print.cshtml")
                                <div class="col-lg-12 btn-down">
                                    <div class="box-body">
                                        <div id="tbl_scrol">
                                            <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("AttendanceReport")<hr /></h2>
                                            <table border="1" class="table table-bordered table-striped">
                                                <tr>
                                                    <th style="text-align:left">
                                                        @ResourceCache.Localize("Date")
                                                    </th>
                                                    <th style="text-align:left">
                                                        @ResourceCache.Localize("Status")
                                                    </th>
                                                    <th style="text-align:left">
                                                        @ResourceCache.Localize("Reason")
                                                    </th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Date)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Status)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Reason)
                                                        </td>
                                                    </tr>
                                                }

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-12" id="attendanceshortcut">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr class="info">
                                            <th>@ResourceCache.Localize("A_Absent")</th>
                                            <th>@ResourceCache.Localize("E_Excused")</th>
                                            <th>@ResourceCache.Localize("H_Halfday")</th>
                                            <th>@ResourceCache.Localize("L_late")</th>
                                            <th>@ResourceCache.Localize("P_Present")</th>
                                            <th>@ResourceCache.Localize("R_Religious")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        }
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SM_AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);
            LoadDatePicker(@Session["Add_ChosenAcademicYearId"]);

            $('#SM_AcademicYear').change(function (event) {
                event.preventDefault();
                var YearId = $('#SM_AcademicYear').val();
                AssignAcademicYear(YearId);
                LoadDatePicker(YearId);
                $("#show").hide();
                $("#SM_txt_FromDate, #SM_txt_ToDate").datepicker("destroy");
                $("#SM_txt_FromDate, #SM_txt_ToDate").val("");
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            function LoadDatePicker(acid) {
                $("#SM_txt_FromDate, #SM_txt_ToDate").datepicker("destroy");
                $.getJSON("/Student/CustomeActiveDate", { acid: acid },
                 function (data) {
                     $(function () {
                         var dates = $("#SM_txt_FromDate, #SM_txt_ToDate").datepicker({
                             dateFormat: 'dd/mm/yy',
                             minDate: data.sd,
                             maxDate: data.ed,
                             changeMonth: true,
                             changeYear: true,
                             onSelect: function (selectedDate) {
                                 var option = this.id == "SM_txt_FromDate" ? "minDate" : "maxDate",
                                 instance = $(this).data("datepicker"),
                                 date = $.datepicker.parseDate(
                                 instance.settings.dateFormat ||
                                 $.datepicker._defaults.dateFormat,
                                 selectedDate, instance.settings);
                                 dates.not(this).datepicker("option", option, date);
                             }
                         });
                     });
                 });
            }


            $("#btnSM_AttendanceReport").click(function (event) {
                $("#MandatoryFieldErrorMessage_List").hide();
                var yearId = $("#SM_AcademicYear").val();
                var fdate = $("#SM_txt_FromDate").val();
                var toDate = $("#SM_txt_ToDate").val();

                $("#SM_AcademicYear").addClass("current_button");
                $("#SM_txt_FromDate").addClass("current_button");
                $("#SM_txt_ToDate").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_AcademicYear') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'SM_txt_FromDate') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                        }
                        if (null_id == 'SM_txt_ToDate') {

                            a.push('@ResourceCache.Localize("PleaseSelectTodate")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {

                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });



        });
    </script>
}
