﻿@model IEnumerable<eAcademy.ViewModel.ProgressCard>
@using eAcademy.Models
@{
    ViewBag.Title = "GradeProgressCard";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/NavbarHeader.cshtml")

<section class="maincontent-header">
    <div class="s_head h_head col-lg-12">
        @ResourceCache.Localize("ProgressCard")
        <div class="row">
            <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                <div class="btn-group btn-breadcrumb">
                    <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                    <a href="/Student/StudentProfile" class="btn btn-info">@ResourceCache.Localize("Profile")</a>
                    <a href="/Student/GradeProgressCard" class="btn btn-info">@ResourceCache.Localize("ProgressCard")</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ul class="nav nav-tabs">
    <li><a href="~/Student/StudentProfile">@ResourceCache.Localize("Profile")</a></li>
    <li><a href="~/Student/FeeManagement">@ResourceCache.Localize("Fee")</a></li>
    <li><a href="~/Student/AttendanceReport">@ResourceCache.Localize("Attendance")</a></li>
    <li><a href="~/Student/ProgressCard">@ResourceCache.Localize("ProgressCard")</a></li>
    <li><a href="~/Student/Communication">@ResourceCache.Localize("Communication")</a></li>
</ul>
<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>

                    <form action="@Url.Action("GradeProgressCard", "Student")" method="post" enctype="multipart/form-data">
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")

                            <div class="col-lg-4">
                                <div>Academic Year <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("stu_PC_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>

                            <div class="col-lg-4">
                                <div>Exam <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("stu_PC_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>

                            <div class="col-lg-4">
                                <div class="col-md-12"> <button type="submit" class="btn btn-sm btn_submit btn-down" id="btnStudent_ProgressCard"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit") </button></div>
                            </div>

                        </div>
                    </form>



                    @if (ViewBag.ListCount != null)
                    {
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="box-body" id="show">
                            <div id="tbl_scrol">
                                <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("ProgressCard")<hr /></h2>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>
                                            @ResourceCache.Localize("Subject")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("Grade")
                                        </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Subject)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Grade)
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    }
                    else
                    {
                        if (ViewBag.record == "empty")
                        {
                            <div class="col-lg-12 col-md-12">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                </div>
                            </div>
                        }
                    }

                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {

        $("#btnStudent_ProgressCard").click(function (event) {

            $("#MandatoryFieldErrorMessage_List").hide();
            var yearId = $("#stu_PC_allAcademicYears").val();
            var examId = $("#stu_PC_allExams").val();

            $("#stu_PC_allAcademicYears").addClass("current_button");
            $("#stu_PC_allExams").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'stu_PC_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'stu_PC_allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });

        });

    </script>
}