﻿@{
    ViewBag.Title = "CreateGame";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="Section_addsession">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">CREATE GAME</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>

                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                        <div class="col-sm-12">
                            <div><label class="input-label-sm">Game Name</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="gname" name="gname" placeholder="Session name" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div> <label class="input-label-sm">Game Type</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-lg-12 current_button" id="GameType" name="GameType" required>
                                    <option value="">Select GameType</option>
                                    <option value="winner">Winner</option>
                                    <option value="runner">Runner</option>
                                    <option value="none">None</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">Number of Players</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="Nplayer" name="Nplayer" placeholder="Players" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">Points</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @*@Html.DropDownList("yr_search", new SelectList(ViewBag.game, "AcademicYearId", "AcademicYear1"), "All", new { @class = "filterItem" })*@

                        </div>

                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer">
                                    <button type="button" class="btn btn_double  btn-sm btn_save" id="btnaddgame" name="btnaddgame" title="Add Game"> <i class="fa fa-plus"></i> ADD </button>
                                    <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh" id="btnReset"></i>Reset </button>
                                </div>
                            </div><!-- /.row -->
                </form>
                </div><!-
</section>



                          
              
            </div><!-- /.box -->
        </section><!-- right col -->
