﻿@using eAcademy.Models
@{
    ViewBag.Title = "GameLevel";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="Section_addlevel">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("CreateLevel")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>

                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                        <div class="col-sm-12">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("SName", new SelectList(ViewBag.allSessionNames, "SessionId", "SessionName"), ResourceCache.Localize("PleaseSelectSessionName"), new { @class = "current_button" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("GameName", new SelectList(ViewBag.allGameNames, "GameId", "GameName"), ResourceCache.Localize("PleaseSelectGameName"), new { @class = "current_button" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped itemlist">
                                <thead>
                                    <tr>
                                        <th style="font-size: 12px;">@ResourceCache.Localize("GameLevelName")</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_itemlist">
                                    <tr>
                                        <td><input type="text" id="lname1" name="lname1" placeholder="@ResourceCache.Localize("GameLevelName")" title="@ResourceCache.Localize("GameLevelName")" class="current_button txtlname1"  maxlength="20" />
                                            <input type="hidden" id="LevelCount" name="LevelCount" value="1" />
                                        </td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="row">
                            <div id="addrow1" class="col-xs-12 col-sm-12">
                                <a id="additem" name="additem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="btnDel" name="btnDel" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_save" id="btnaddlevel" name="btnaddlevel" title="AddLevel"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="btnreset"> <i class="fa fa-refresh" id="btnreset"></i>@ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>




                </form>
            </div>
        </section>  <!-- /.Right col Add form -->

        <section class="col-xs-12 col-sm-12 col-md-8 " id="GameLevel_list">

            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("GameLevelList")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                <div class="col-sm-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="LevelListGrid"></table>
                    <div id="GameLevelListPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!--  /.Left col Gridlist Show -->


        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditGameLevel_section" style="display:none">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditLevel")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>

                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")


                        <div class="col-sm-12">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label></div>
                            <div>
                                <input type="text" id="EditAcyear" name="EditAcyear" class="current_button_Edit " readonly />
                                <input type="hidden" id="hide_EditAcyear" name="hide_EditAcyear" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label></div>
                            <div>
                                <input type="text" id="EditSName" name="EditSName"  class="current_button_Edit " readonly />
                                <input type="hidden" id="hide_EditSName" name="hide_EditSName" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("EditGName", new SelectList(ViewBag.allGameNames, "GameId", "GameName"), ResourceCache.Localize("PleaseSelectGameName"), new { @class = "current_button_Edit" })
                            </div>
                        </div>
                                    <div class="col-sm-12">
                                    <table class="table table-bordered table-striped Edititemlist">
                                     <thead>
                                         <tr>
                                             <th style="font-size: 12px;">@ResourceCache.Localize("LevelName")</th>
                                         </tr>
                                        </thead>

                                        <tbody id="tbody_Edititemlist"></tbody>
                                    </table>
                                </div>
                        <div class="row">
                            <div id="addrow2" class="col-xs-12 col-sm-12">
                                <a id="additem1" name="additem1" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="btnDel1" name="btnDel1" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>   <!-- /Status div -->
                    </div>
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <input type="hidden" id="hide_Levelid" name="hide_Levelid" />
                                <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateGameLevel" name="btnUpdateGameLevel" title=Update><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateGameLevel" name="btncancel_updateGameLevel" title=Cancel> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </form>
            </div>
        </section><!-- /.Right col Edit Form -->

    </div>


    <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
        <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
    </div>


</section>




@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">

    $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
    var YearId = $('#Acyear').val();
    Add_AssignAcademicYear(YearId);
    AssignAcademicYear(YearId);
    getSessionAcademicYear(YearId);
    $('#Acyear').change(function (event) {
        event.preventDefault();
        var YearId = $('#Acyear').val();
        AssignAcademicYear(YearId);
        Add_AssignAcademicYear(YearId);
        getSessionAcademicYear(YearId);

    });
    function AssignAcademicYear(YearId) {
        $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                  function (orderdetails) {
                  });
    }
    function Add_AssignAcademicYear(YearId) {
        $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                  function (orderdetails) {
                  });
    }


    function getSessionAcademicYear(YearId) {
        $.getJSON('/SportsReport/GetSelectedYearSession', { passYearId: YearId },
        function (orderdetails) {
            $("#SName").empty().append('<option value="">"@ResourceCache.Localize("SelectSection")"</option>');
            $.each(orderdetails, function (i, c) {
                $("#SName").append($('<option></option>').val(c.SessionlId).html(c.SessionName));
            });
        });
    }

    @*$('#Acyear').change(function (event) {

        var YearId = $('#Acyear').val();
        var SessionId = $('#SName').val();

        $.getJSON('/SportsReport/GetSelectedYearSession', { passYearId: YearId },
            function (orderdetails) {
                $("#SName").empty().append('<option value="">"@ResourceCache.Localize("SelectSection")"</option>');
                $.each(orderdetails, function (i, c) {
                    $("#SName").append($('<option></option>').val(c.SessionlId).html(c.SessionName));
                });
            });
    });*@


    // Link ADDNEW in Create Level............................
    //alert("beforeadditem");
    var counter = 1;
    $("#additem").click(function (event) {
        // alert("additem");
        $("#div_Error").show();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsgshow").hide();
        $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
        $("#AddErrorText").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();

        var LevelName = $('#lname' + counter).val();
        if (LevelName == 0 || LevelName == "") {
            $(".jsonError").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
            $("#AddErrorText").show();
            $("#AddErrorText").text("@ResourceCache.Localize("Pleaseentergamelevelname")");
            return false;
        }
        $("#div_Error").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".AddSuccessMsgshow").hide();
        $(".jsonErrorMsg").hide();
        $("#errorMsg").empty();
        counter++;
        var newRow = jQuery('<tr><td><input type="text" class="lname txtlname1" id="lname' + counter + '"  name="lname' + counter + '" placeholder="@ResourceCache.Localize("GameLevelName") title="Level Name" maxlength="20" /></td></tr>');
        jQuery('table.itemlist').append(newRow);
        Levelstatus(counter);
        $("#LevelCount").val(counter);
    });

    // Link DELETE  in Create Level ...........................
    $("#btnDel").click(function (event) {
        if (counter == 1) {
            $(".jsonError").hide();
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".AddSuccessMsgshow").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
            $("#AddErrorText").show();
            $("#AddErrorText").text("@ResourceCache.Localize("Cannotremovetherow")");
            return false;
        }
        else {
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".AddSuccessMsgshow").hide();
            $(".jsonErrorMsg").hide();
            $("table.itemlist tr:last").remove();
            counter--;
        }
    });

    //Add Button  to list.......................

    $(document).ready(function () {
        //  alert("ready");
        $("#tbody_itemlist").filter_input({ regex: '[0-9A-Za-z]' });
        $("#tbody_Edititemlist").filter_input({ regex: '[0-9A-Za-z]' });

        $('#btnaddlevel').click(function () {         
            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#SuccessText").hide();
            $(".jsonSuccessMsgshow").hide();
            $(".jSuccessMsgshow").hide();
            $("#jsonErrorMsg").hide();
            var LevelName = $('#lname' + counter).val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');

                    if (null_id == 'SName') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectSessionName")");
                    }
                    if (null_id == 'Acyear') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                    }
                    if (null_id == 'GameName') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectGameName")");
                    }
                    if (null_id == 'lname1') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("Pleaseentergamelevelname")");
                    }
                }

                else {
                }

            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];

                return false;
            }
            else {

                $("#MandatoryFieldErrorMessage_Add").hide();

            }

            var acyear = $("#Acyear").val();
            var SessionName = $("#SName").val();
            var GameName = $("#GameName").val();

            var levelname = [];
            for (var i = 1; i <= counter; i++) {
                levelname.push($("#lname" + i).val());
            }
            /////////Level Name Duplicate check.......................

            var rnamesort = levelname.sort();
            var duplicatename = [];
            for (var i = 0; i < rnamesort.length - 1; i++) {
                if (rnamesort[i + 1] == rnamesort[i]) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").show();
                    $("#AddErrorText").text('@ResourceCache.Localize("Pleasedonotrepeatsamelevelname")');
                    return false;
                }
            }

            var values = { GameLevelName: levelname, acyear: acyear, SessionId: SessionName, GameId: GameName };
            //  alert(JSON.stringify(values));
            $.ajax({
                url: '/SportsConfiguration/addlevel',
                type: 'POST',
                data: values,
                datatype: 'json',
                contenttype: "application/json",
                success: function (data) {


                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsgshow").hide();
                        $(".jsonErrorMsg").hide();
                        //$(".jsonError").hide();
                        //$(".jErr").append().empty();
                        $("#MandatoryFieldErrorMessage_Add").show();
                        $(".Add_jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                // $(".jErr").append(li);
                                $(".Add_jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").show();
                            $(".jsonExceptionMsg").hide();
                            $(".AddSuccessMsgshow").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            //    alert(data.Message);
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".AddSuccessMsgshow").show();
                            $(".AddSuccessMsg").show();
                            $(".AddSuccessMsg").html(data.Message).val(data.Message);
                            $("#Section_addlevel").show();
                            $("#LevelListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").show();
                            $(".jsonErrorMsg").hide();
                            $(".AddSuccessMsgshow").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        });
        //Reset Button///////

        $("#btnreset").click(function () {
            for (var i = 1; 1 < counter; i++) {
                $("table.itemlist tr:last").remove();
                counter--;
            }

            $("#Section_addlevel").show();
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
            $("MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#SuccessText").hide();
            $("#EditGameLevel_section").hide();
            $("#EditErrorText").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".AddSuccessMsgshow").hide();
            $(".AddSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#AddErrorText").hide();
            $("#errorMsg").hide();
            $("#div_Error").hide();

        });

        //  alert("grid");

        var LevelId;
        jQuery("#LevelListGrid").jqGrid({
            url: "/Sports/SportsConfiguration/GameLevelList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("SessionName")', '@ResourceCache.Localize("GameName")', '@ResourceCache.Localize("GameLevelName")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Action")'],
            colModel: [
            { key: true, hidden: true, name: 'LevelId', index: 'LevelId' },
            { key: false, name: 'AcademicYearId', index: 'AcademicYearId', editable: true },
            { key: false, name: 'SessionName', index: 'SessionName', editable: true },
            { key: false, name: 'GameName', index: 'GameName', editable: true },
            { key: false, name: 'GameLevelName', index: 'GameLevelName', editable: true },
            { key: false, name: 'Status', index: 'Status', editable: true },
            { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' }
            ],
            pager: jQuery("#GameLevelListPager"),
            rowNum: 50,
            rowList: [10, 50, 100, 500],
            height: '100%',
            viewrecords: true,
            emptyrecords: '@ResourceCache.Localize("Norecordstodisplay")',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,

            gridComplete: function () {
                var ids = jQuery("#LevelListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    LevelId = ids[i];
                    ce = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Level  btn_Edit ui-icon-pencil ' id='" + LevelId + "' value=''  title='@ResourceCache.Localize("Edit")' />";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_delete_Level btn_Delete ui-icon-trash' id='" + LevelId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                    jQuery("#LevelListGrid").jqGrid('setRowData', ids[i], { act: ce + de });
                }
            },
        }).navGrid('#GameLevelListPager', { edit: false, add: false, del: false, search: false, refresh: false }
).jqGrid('navButtonAdd', '#GameLevelListPager',
{
    caption: "Excel",
    buttonicon: "ui-icon-bookmark",
    onClickButton: function () {
        window.location.href = "../SportsConfiguration/GameLevelListExportToExcel";
    }
}).jqGrid('navButtonAdd', '#GameLevelListPager',
{
    caption: "Pdf",
    buttonicon: "ui-icon-print",
    position: "last",
    onClickButton: function () {
        window.location.href = "../SportsConfiguration/GameLevelListExportToPdf";
    }
});

        $("#LevelListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("GameLevelList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


        ///////// Editing icon/....................
        var editcount = 0;
        $(document).on('click', '.btn_edit_Level', function () {
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsgdlt").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").hide();
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#SuccessText").hide();
            $(".EditDltRowExistErrorText").hide();
            $("#EditDltErrorText").hide();
            $("#SuccessText").hide();
            $("#AddErrorText").hide();
            $("#EditGameLevel_section").hide();
            $("#div_Error").hide();
            $("#errorMsg").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".AddSuccessMsgshow").hide();
            $(".AddSuccessMsgs").hide();
            $(".UpdateSuccessMsgShow").hide();
            $(".EditDltSuccessMsgshow").hide();
            $(".jsonErrorMsg").hide();
            $("#jsonErrorMsg").hide();


            jQuery('#tbody_Edititemlist').empty();
            var id = $(this).attr('id');
            $.getJSON('/SportsConfiguration/EditGameLevel', { LevelId: id },

               function (data) {
                   $("#EditGameLevel_section").show();
                   $("#Section_addlevel").hide();
                   $("#EditAcyear").val(data.ans.AcademicYearName);
                   $("#hide_EditAcyear").val(data.ans.acyear);
                   $("#EditSName").val(data.ans.SessionName);
                   $("#hide_EditSName").val(data.ans.SessionId);
                   $("#EditGName").val(data.ans.GameId);


                   $('#EditGameTrans').val(data.AnsPoint.id);
                   $("#EditGameLevel").val(data.AnsPoint.GameLevelName);

                   var Status = data.ans.Status;
                   if (Status == true) {
                       $('#txt_status').prop('checked', true);
                   }
                   else {
                       $('#txt_status').prop('checked', false);
                   }

                   $("#hide_Levelid").val(data.ans.LevelId);
                   $('#EditGameLevel').val(data.AnsPoint.id);

                   $.each(data.AnsPoint, function (i, c) {
                       numberofgamelevel = i + 1;
                       var id = "EditGameLevel" + numberofgamelevel;
                       var newRow = jQuery('<tr><td><input type="text" id="' + id + '" class="EditGameLevel1 " name="' + id + '" /></td></tr><input type="hidden"  id="EditGameTrans' + numberofgamelevel + '" name="EditGameTrans' + numberofgamelevel + '"value="' + c.Id + '" /></td></tr>');
                       jQuery('#tbody_Edititemlist').append(newRow);
                       Levelstatus(numberofgamelevel, c.GameLevelName)
                       editcount = i + 1;

                   });

                   function Levelstatus(count, value) {
                       $.getJSON('/SportsConfiguration/GetLevelStatus',
                            function (orderdetails) {
                                $.each(orderdetails, function (i, c) {
                                    $("#EditGameLevel" + count).empty().append(c.GameLevelName);
                                });

                                $("#EditGameLevel" + count).val(value);
                            });
                   }

                   //////ADD new gameLevelname Link in Edit

                   $("#additem1").click(function (event) {
                       $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                       $("#MandatoryFieldErrorMessage_EditWithMsgdlt").hide();
                       $("#EditDltErrorText").hide();
                       $("#EditErrorText").hide();
                       $("#div_Error").hide();
                       $(".jsonError").hide();
                       $(".jsonExceptionMsg").hide();
                       $(".jsonSuccessMsgshow").hide();
                       $(".EditDltSuccessMsgshow").hide();
                       $(".jsonErrorMsg").hide();
                       $("#errorMsg").empty();
                       var editgamelevel = $("#EditGameLevel" + editcount).val();

                       if (editgamelevel == 0) {
                           $(".jsonError").hide();
                           $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                           $("#EditErrorText").show();
                           $("#EditErrorText").text("@ResourceCache.Localize("PleaseEnterLevelName")");
                           return false;
                       }
                       $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                       $("#EditErrorText").hide();
                       $("#div_Error").hide();
                       $(".jsonError").hide();
                       $(".jsonExceptionMsg").hide();
                       $(".jsonSuccessMsgshow").hide();
                       $(".jsonErrorMsg").hide();
                       $("#errorMsg").empty();
                       editcount++;
                       var newRow = jQuery('<tr><td><input type="text" class="EditGameLevel1 AddRow1" id="EditGameLevel' + editcount + '"  name="EditGameLevel' + editcount + '" placeholder="@ResourceCache.Localize("LevelName")" title="@ResourceCache.Localize("LevelName")" maxlength="20"   /></td></tr><input type="hidden" id="EditGameTrans' + editcount + '" name="EditGameTrans' + editcount + ' value="" /></td></tr>');
                       jQuery('#tbody_Edititemlist').append(newRow);
                       EditPrizestatus(editcount);
                       var GameLevelId = $("#EditGameLevel" + editcount).val();

                   });


                   //////Delete  gameLevelname Link in Edit

                   $("#btnDel1").click(function (event) {
                       var Pid = $("#EditGameTrans" + editcount).val();
                       var id = "EditGameLevel" + numberofgamelevel;
                       var iddelete = "EditGameLevel" + numberofgamelevel;
                       var GameLevelId = $("#EditGameLevel" + editcount).val();
                       var Levelid = $("#hide_Levelid").val();
                       $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                       $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").hide();
                       $(".EditDltRowExistErrorText").hide();
                       $("#EditErrorText").hide();
                       $(".EditDltSuccessMsgshow").hide();
                       $(".EditDltSuccessMsg").hide();

                       if (editcount == 1) {
                           $(".jsonError").hide();
                           $("#div_Error").hide();
                           $(".jsonError").hide();
                           $(".jsonExceptionMsg").hide();
                           $(".jsonSuccessMsgshow").hide();
                           $(".EditDltSuccessMsgshow").hide();
                           $(".EditDltSuccessMsg").hide();
                           $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").hide();
                           $(".EditDltRowExistErrorText").hide();
                           $(".jsonErrorMsg").hide();
                           $("#MandatoryFieldErrorMessage_EditWithMsgdlt").show();
                           $("#EditDltErrorText").show();
                           $("#EditDltErrorText").text('@ResourceCache.Localize("Cannotremovetherow")');
                           return false;
                       }
                       else if (editcount != 1 && Pid != "") {
                           var Levelid = $("#hide_Levelid").val();
                           var Pid = $("#EditGameTrans" + editcount).val();
                           $.getJSON('/SportsConfiguration/CheckGameLevel', { LevelId: Levelid, Id: Pid },
                        function (data) {
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").hide();
                                $(".EditDltRowExistErrorText").hide();
                                $(".EditDltSuccessMsgshow").show();
                                $(".EditDltSuccessMsg").show();
                                $(".EditDltSuccessMsg").html(data.Message).val(data.Message);
                                $("#tbody_Edititemlist tr:last").remove();
                                //   alert("Insideeeeelseeeeditcount(before---)===" + editcount);
                                $("#LevelListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            editcount--;
                            if (data.DataExits == 1) {
                                $(".jsonError").hide();
                                $("#div_Error").hide();
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsgshow").hide();
                                $(".EditDltSuccessMsgshow").hide();
                                $(".jsonErrorMsg").hide();
                                $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").show();
                                $(".EditDltRowExistErrorText").show();
                                $("#EditDltRowExistErrorText").text('@ResourceCache.Localize("Cannotremovetherowlevelnameexist")');
                                return false;
                            }
                        });
                       }
                       else {
                           $("#div_Error").hide();
                           $(".jsonError").hide();
                           $(".jsonExceptionMsg").hide();
                           $(".jsonSuccessMsgshow").hide();
                           $(".jsonErrorMsg").hide();
                           $("#tbody_Edititemlist tr:last").remove();
                           editcount--;
                       }
                   });
               });
        });


        //Update the Edited Rows///////////

        $("#btnUpdateGameLevel").click(function () {
            // alert("Update");
            $("#Section_addlevel").hide();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsgshow").hide();
            $(".EditDltSuccessMsgshow").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").hide();
            $(".EditDltRowExistErrorText").hide();
            $("#EditErrorText").hide();
            //  $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#EditErrorText").hide();

            var a = [];
            var field_val = [];
            $(".current_button_Edit").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr("name");

                    if (null_id == 'EditGName') {
                        a.push("@ResourceCache.Localize("PleaseSelectGameName")");
                    }
                    if (null_id == 'EditSName') {
                        a.push("@ResourceCache.Localize("PleaseSelectSessionName")");
                    }
                    if (null_id == 'EditAcyear') {
                        a.push("@ResourceCache.Localize("PleaseSelectSessionName")");
                    }
                    if (null_id == 'EditGameLevel') {
                        a.push("@ResourceCache.Localize("PleaseSelectSessionName")");
                    }
                    if (null_id == 'txt_status') {
                        a.push("Pleaseselectstatus");
                    }
                }
                else {
                }
            });

            var LevelId = $("#hide_Levelid").val();
            var AcademicYearId = $("#hide_EditAcyear").val();
            var SessionId = $("#hide_EditSName").val();
            var GameId = $("#EditGName").val();
            var check = $("#txt_status").is(':checked');
            var Status;
            if (check == true) {
                Status = true;
            }
            else {
                Status = false;
            }

            var Idupdate = [];
            var EditLevelName = [];
            for (var i = 1; i <= editcount; i++) {
                EditLevelName.push($("#EditGameLevel" + i).val());
                Idupdate.push($("#EditGameTrans" + i).val());
            }
            var rnamesort = EditLevelName.sort();
            var duplicatename = [];
            for (var i = 0; i < rnamesort.length - 1; i++) {
                if (rnamesort[i + 1] == rnamesort[i]) {
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").show();
                    $("#EditErrorText").text('@ResourceCache.Localize("Pleasedonotrepeatsamelevelname")');
                    // return false;
                }
            }
            var values = { LevelId: LevelId, Idarr: Idupdate, GameLevelNamearr: EditLevelName, GameLevelId: LevelId, acyear: AcademicYearId, SessionId: SessionId, GameId: GameId, Status: Status };
            // alert(JSON.stringify(values));
            $.ajax({
                url: '/SportsConfiguration/updateGameLevel',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsgshow").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".UpdateSuccessMsgShow").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            //   alert("UPdated===" + data.Message);
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".UpdateSuccessMsgShow").show();
                            $(".UpdateSuccessMsg").html(data.Message).val(data.Message);
                            $("#LevelListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".UpdateSuccessMsgShow").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });

        });

        //Cancel button ////////////

        $("#btncancel_updateGameLevel").click(function () {
            $("#Section_addlevel").show();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsgRowExists").hide();
            $(".EditDltRowExistErrorText").hide();
            $("#EditGameLevel_section").hide();
            $("#EditErrorText").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".EditDltSuccessMsgshow").hide();
            $(".UpdateSuccessMsgShow").hide();
            $(".UpdateSuccessMsg").hide();
            //$(".ShowjsonSuccessMsg").html(data.Message).val(data.Message).hide();
            $(".jsonErrorMsg").hide();

        });



        $(document).on('click', '.btn_delete_Level', function () {
            // alert("delete");
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#SuccessText").hide();
            $(".UpdateSuccessMsgShow").hide();
            $(".AddSuccessMsgshow").hide();
            var id = $(this).attr('id');
            //  alert("Pkey=="+id);
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/SportsConfiguration/DeleteGameLevel', { LevelId: id },
                           function (data) {
                               if (data.Message != "" && data.Message != null) {
                                   $("#LevelListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                   $("#SuccessText").show();
                                   $("#SuccessText").text(("Deleted Successfully"));
                               }
                               if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                   $("#LevelListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                   $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                   $("#ErrorText").show();
                                   $("#ErrorText").text(data.ErrorMessage);
                               }

                               //$("#LevelListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                               //$("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                               //$("#SuccessText").show();
                               //$("#SuccessText").text("Deleted successfully");
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });


    });
</script>
}