﻿@using eAcademy.Models
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="Section_addgame">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    <div class="box-body row border-radius-none"> 
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")                       
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button" type="text" id="gname" name="gname" placeholder="@ResourceCache.Localize("GameName")" title="@ResourceCache.Localize("GameName")" maxlength="20" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("GameType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <select class="col-lg-12 current_button" id="GameType" name="GameType" required>
                                        <option value="">@ResourceCache.Localize("SelectGameType")</option>
                                        <option value="Team">@ResourceCache.Localize("TeamPlay")</option>
                                        <option value="Individual">@ResourceCache.Localize("Individual")</option>
                                        <option value="none">@ResourceCache.Localize("None")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("NumberofMainPlayers")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button" type="text" id="Mplayer" name="Mplayer" maxlength="20" placeholder="@ResourceCache.Localize("NumberofMainPlayers")" title="@ResourceCache.Localize("NumberofMainPlayers")" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("NumberofSubstitutePlayers")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button" type="text" id="Splayer" name="Splayer" maxlength="20" placeholder="@ResourceCache.Localize("NumberofSubstitutePlayers")" title="@ResourceCache.Localize("NumberofSubstitutePlayers")" />
                                </div>
                            </div>
                        </div>
                            <div class="col-sm-6 drop">
                                <div id="div_drop"> <label class="input-label-sm">@ResourceCache.Localize("Points")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <table class="table table-bordered table-striped drop">
                                    <tbody id="tbody_drop">
                                        <tr>
                                            <td> @Html.DropDownList("GamePrize1", new SelectList(ViewBag.allSportsGamePoints, "PointId", "PointName"),ResourceCache.Localize("Please_select_Points"), new { @class = "current_button AddRow " })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div id="addrow1" class="col-xs-12 col-sm-12">
                                    <a id="additem" name="additem" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="btnDel" name="btnDel" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                                </div>
                            </div>
                            <div class="box-footer no-border">
                                <div class="footer foot_row col-xs-12">
                                    <button type="button" class="btn btn_double  btn-sm btn_save" id="btnaddgame" name="btnaddgame" title="Add Game"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                    <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="btnreset"> <i class="fa fa-refresh" id="btnreset"></i>@ResourceCache.Localize("Reset")</button>
                                </div><!-- /.row -->
                            </div>
                        </div>

                </form>
            </div>
        </section>
       
        <section class="col-xs-12 col-sm-12 col-md-8 " id="game_list">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("GameDetails")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                                                
                        <div class="col-sm-4 col-lg-3 col-md-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("GameName", new SelectList(ViewBag.allGameNames, "GameId", "GameName"),ResourceCache.Localize("SelectGameName"), new { @class = "filterItem" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <button type="submit" id="btnRole_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div><!-- /.box-body -->
                </form>
                <div class="col-sm-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="GameListGrid"></table>
                    <div id="GameListPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditGame_section" style="display:none">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button_Edit" type="text" id="Editgname" name="Editgname" maxlength="20" placeholder="@ResourceCache.Localize("GameName")" title="@ResourceCache.Localize("GameName")" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("GameType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <select class="col-lg-12 current_button" id="EditGameType" name="EditGameType" maxlength="20" readonly>
                                        <option value="">@ResourceCache.Localize("SelectGameType")</option>
                                        <option value="Team">@ResourceCache.Localize("TeamPlay")</option>
                                        <option value="Individual">@ResourceCache.Localize("Individual")</option>
                                        <option value="none">@ResourceCache.Localize("None")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("NumberofMainPlayers")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button_Edit" type="text" id="EditMplayer" name="EditMplayer" maxlength="20" placeholder="@ResourceCache.Localize("NumberofMainPlayers")" title="@ResourceCache.Localize("NumberofMainPlayers")" />
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("NumberofSubstitutePlayers")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-md-12 current_button_Edit" type="text" id="EditSplayer" name="EditSplayer" maxlength="20" placeholder="@ResourceCache.Localize("NumberofSubstitutePlayers")" title="@ResourceCache.Localize("NumberofSubstitutePlayers")" />
                                </div>
                            </div>
                        </div>
                            <div class="col-sm-6 dropEdit">
                                <label class="input-label-sm">@ResourceCache.Localize("Points")</label><span class="glyphicon glyphicon-asterisk"></span>
                                <div id="div_dropEdit"> </div>
                                <div>

                                </div>
                                <table class="table table-bordered table-striped drop">
                                    <tbody id="tbody_dropEdit"></tbody>
                                </table>


                            </div>
                            <div class="row">
                                <div id="addrow1" class="col-xs-12 col-sm-12">
                                    <a id="additem1" name="additem1" class="cursor"><i class="fa fa-plus ">@ResourceCache.Localize("AddNew")</i> </a> /<a id="btnDel1" name="btnDel1" class="cursor"><i class="fa fa-trash">@ResourceCache.Localize("Delete")</i></a>
                                </div>
                            </div>
                            @*<div>
                                <div><label class="input-label-sm">Status</label> </div>
                                <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">Active</label></div>
                            </div>*@
                        ><div style="margin-left:25px">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                        </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <input type="hidden" id="hide_Gameid" name="hide_Gameid" />
                                <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateGame" name="btnUpdateGame" title=Update><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateGame" name="btncancel_updateGame" title=Cancel> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </section><!-- right col -->
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>

    </div><!-- /.box -->
</section><!-- right col -->

@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
   // alert("Submit");
    $(document).ready(function () {
     //   alert("Rety function");
        var GameId;
        jQuery("#GameListGrid").jqGrid({                        //Grid Table List
            url: "/Sports/SportsConfiguration/GameList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['Id','@ResourceCache.Localize("GameName")','@ResourceCache.Localize("GameType")','@ResourceCache.Localize("NumberofMainPlayers")','@ResourceCache.Localize("NumberofSubstitutePlayers")','@ResourceCache.Localize("Points")','@ResourceCache.Localize("Status")','@ResourceCache.Localize("Action")'],
            colModel: [
            { key: true, hidden: true, name: 'GameId', index: 'GameId' },
            { key: false, name: 'GameName', index: 'GameName', editable: true },
            { key: false, name: 'GameType', index: 'GameType', editable: true },
            { key: false, name: 'NumberOfMainPlayers', index: 'NumberOfMainPlayers', editable: true },
            { key: false, name: 'NumberOfSubPlayers', index: 'NumberOfSubPlayers', editable: true },
            { key: false, name: 'Points', index: 'Points', editable: true },
            { key: false, name: 'Status', index: 'Status', editable: true },

            { name: 'act', index: 'act', width: 125, sortable: false, align: 'center' }
            ],
            pager: jQuery("#GameListPager"),
            rowNum: 10,
            rowList: [10, 50, 75, 100, 125],
            height: '100%',
            viewrecords: true,
            emptyrecords:'@ResourceCache.Localize("Norecordstodisplay")',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,

            gridComplete: function () {
                var ids = jQuery("#GameListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    GameId = ids[i];
                    ce = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Game  btn_Edit ui-icon-pencil ' id='" + GameId + "' value=''  title='Edit' />";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_delete_Game btn_Delete ui-icon-trash' id='" + GameId + "' value='' title='Delete'/>";
                    jQuery("#GameListGrid").jqGrid('setRowData', ids[i], { act: ce + de });
                }
            },

        }).navGrid('#GameListPager', { edit: false, add: false, del: false, search: false, refresh: false }
        ).jqGrid('navButtonAdd', '#GameListPager',
        {
            caption: "Excel",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../SportsConfiguration/GameListToExcel";
            }
        }).jqGrid('navButtonAdd', '#GameListPager',
        {

            caption: "Pdf",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../SportsConfiguration/GameListToPdf?pdf=true";
            }
        });
        $("#GameListGrid").setCaption(' <span class="fa fa-table"></span>' + 'Game List');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
    });

    /////////////////////
        $('#btnRole_Filter').click(function (event) {
            //alert("Submit");
            // $("#Loading_Sec").addClass("loading-new");
            $("#MandatoryFieldErrorMessage_List").hide(); //add
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonError").hide();
            var a = [];
            var flag = 0;
            $(".filterItem").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'GameName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectGameName")');
                    }

                }
            });
            if (flag == 0) {
                event.preventDefault();
                filterGrid();
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                //$("#Loading_Sec").removeClass("loading-new");
                $("#MandatoryFieldErrorMessage_List").show();// add
                var li = [];
                $("#List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $("#List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }

        });

        function filterGrid() {
            var postDataValues = $("#GameListGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#GameListGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#GameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(function () {

            $("#GameType").change(function () {
                var status = this.value;
                if (status == "Team") {
                    $('#Mplayer').val();
                    $('#Splayer').val();
                }
                if (status == "Individual") {
                    $('#Mplayer').val('1');
                    $('#Splayer').val('0');
                }
                if (status == "none") {
                    $('#Mplayer').val('0');
                    $('#Splayer').val('0');
                }
            });

        });

        $("#EditGameType").change(function () {
            var status = this.value;
            if (status == "Team") {
                $('#EditMplayer').val('');
                $('#EditSplayer').val('');
            }
            if (status == "Individual") {
                $('#EditMplayer').val('1');
                $('#EditSplayer').val('0');
            }
            if (status == "none") {
                $('#EditMplayer').val('0');
                $('#EditSplayer').val('0');
            }
        });

        //Add New Drop Down
        var counter = 1;
        $("#additem").click(function (event) {
            // $("#Loading_Sec").addClass("loading-new");
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#errorMsg").empty();

            $(".AddRow").each(function () {
                var x = $('#GamePrize' + counter).val();
                //var id = $(this).attr('id');
                //var x = $("#" + id).val();
                if (x == 0) {

                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    // $("#Loading_Sec").removeClass("loading-new");
                    $("#AddErrorText").text('@ResourceCache.Localize("Please_select_Points")');
                    return false();
                }


            });
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#errorMsg").empty();
            counter++;

            var newRow = jQuery(' <tr><td><select id="GamePrize' + counter + '" class="AddRow current_button" name="GamePrize' + counter + '" ><option value="" disabled="disabled">PleaseselectPrize</option></select> </td></tr>');
            jQuery('table.drop').append(newRow);
            Prizestatus(counter);
            // $("#Loading_Sec").removeClass("loading-new");
        });
        //Values Loaded in New Drop Down
        function Prizestatus(cnt) {
            $.getJSON('/SportsConfiguration/GetPrizeStatus',
                 function (orderdetails) {
                     $("#GamePrize" + cnt).empty().append('<option value="">PleaseSelectPrize</option>');
                     $.each(orderdetails, function (i, c) {
                         $("#GamePrize" + cnt).append($('<option></option>').val(c.PointId).html(c.PointName));
                     });
                 });
        }
        //Delete the Drop Down
        $("#btnDel").click(function (event) {
            //$("#Loading_Sec").addClass("loading-new");
            if (counter == 1) {
                $(".jsonError").hide();
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#Loading_Sec").removeClass("loading-new");
                $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                $("#AddErrorText").text('@ResourceCache.Localize("CannotremovethePoints")');
                //$("#errorMsg").text("Cannotremovetherow");
            }
            else {
                $("#Loading_Sec").removeClass("loading-new");
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#tbody_drop tr:last").remove();
                counter--;
            }
        });
        //load the values in Edit function
        function EditPrizestatus(cnt) {
            $.getJSON('/SportsConfiguration/GetEditPrizeStatus',
                 function (orderdetails) {

                     $("#EditGamePrize" + cnt).empty().append('<option value="">PleaseSelectPrize</option>');

                     $.each(orderdetails, function (i, c) {
                         $("#EditGamePrize" + cnt).append($('<option></option>').val(c.PointId).html(c.PointName));
                     });
                 });
        }

        function PointPrizestatus(count, value) {
            $.getJSON('/SportsConfiguration/GetPrizeStatus',
                 function (orderdetails) {
                     $.each(orderdetails, function (i, c) {
                         $("#EditGamePrize" + count).append($('<option></option>').val(c.PointId).html(c.PointName));
                     });

                     $("#EditGamePrize" + count).val(value);
                 });
        }

        //validations
        $("#gname").filter_input({ regex: '[A-Za-z ]' });
        $("#Mplayer").filter_input({ regex: '[0-9]' });
        $("#Splayer").filter_input({ regex: '[0-9]' });

        $("#Editgname").filter_input({ regex: '[A-Za-z ]' });
        $("#EditMplayer").filter_input({ regex: '[0-9]' });
        $("#EditSplayer").filter_input({ regex: '[0-9]' });


        //Add Game
        $('#btnaddgame').click(function () {
            //$("#Loading_Sec").addClass("loading-new");
            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();

            var a = [];
            var field_val = [];
            var flag = 0;


            $(".current_button").each(function () {
                var valu = $(this).val();

                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');

                    if (null_id == 'gname') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterGameName")');
                    }
                    if (null_id == 'GameType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseselectgametype")');
                    }
                    if (null_id == 'Mplayer') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterMainplayers")');
                    }
                    if (null_id == 'Splayer') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterSubplayers")');
                    }

                }
                else {
                }
            });
            if (a.length != 0) {
                //$("#Loading_Sec").removeClass("loading-new");
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }
            var GamePrize = [];

            for (var i = 1; i <= counter; i++) {
                var point = $("#GamePrize" + i).val();
                if (point == null || point == "" || point == 0) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    //$("#Loading_Sec").removeClass("loading-new");
                    $("#AddErrorText").text('@ResourceCache.Localize("Please_select_Points")');
                    return false;
                }
                else {
                    GamePrize.push($("#GamePrize" + i).val());
                }
            }
            var rnamesort = GamePrize.sort();
            var duplicatename = [];
            for (var i = 0; i < rnamesort.length - 1; i++) {
                if (rnamesort[i + 1] == rnamesort[i]) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    //$("#Loading_Sec").removeClass("loading-new");
                    $("#AddErrorText").text('@ResourceCache.Localize("PleaseDoNotRepeatSamePoints")');
                    return false;
                }
            }
            var gamename = $("#gname").val();
            var gametype = $("#GameType").val();
            var mainplayer = $("#Mplayer").val();
            var subplayer = $("#Splayer").val();
            var values = { gname: gamename, GameType: gametype, Mplayer: mainplayer, Splayer: subplayer, GamePrize: GamePrize };
            //alert(JSON.stringify(values));
            $.ajax({
                url: '/SportsConfiguration/addgame',
                type: 'POST',
                data: values,
                datatype: 'json',
                contenttype: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        //$(".jsonErrorMsg").show();
                        //$(".jsonError").show();
                        //$(".jErr").append().empty();
                        ////$("#Loading_Sec").removeClass("loading-new");
                        $("#MandatoryFieldErrorMessage_Add").show();
                        $(".Add_jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                // $(".jErr").append(li);
                                $(".Add_jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            //$("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").show();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            // $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();

                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#GameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#gname").val("");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            //$("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").show();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }

                }
            });

        });

        $('#btnreset').click(function () {
            for (var i = 1; 1 < counter; i++) {
                $("#tbody_drop tr:last").remove();
                counter--;
            }
            $("#Section_addgame").show();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#jsonExceptionMsg").hide();
        });



        ///////////////////
        //Edit Button Click
        var editcount = 0;
        $(document).on('click', '.btn_edit_Game', function () {
            //$("#Loading_Sec").addClass("loading-new");
            $("#jsonErrorMsg").hide();
            jQuery('#div_dropEdit').empty();

            var id = $(this).attr('id');
            $.getJSON('/SportsConfiguration/EditGame', { GameId: id },
               function (data) {
                   $(".jsonSuccessMsg").hide();
                   $(".jsonErrorMsg").hide();
                   $("#div_dropEdit").empty();
                   $("#tbody_dropEdit").empty();

                   //$("#Loading_Sec").removeClass("loading-new");
                   $("#MandatoryFieldErrorMessage_Edit").hide();
                   $("#MandatoryFieldErrorMessage_EditWithMsg").hide();

                   $("#EditGame_section").show();
                   $("#Section_addgame").hide();
                   $("#hide_Gameid").val(data.ans.GameId);
                   $("#Editgname").val(data.ans.GameName);
                   $("#EditGameType").val(data.ans.GameType);
                   $("#EditMplayer").val(data.ans.NumberOfMainPlayers);
                   $("#EditSplayer").val(data.ans.NumberOfSubPlayers);


                   var Status = data.ans.Status;

                   if (Status == true) {

                       $('#txt_status').prop('checked', true);
                   }
                   else {
                       $('#txt_status').prop('checked', false);
                   }
                   //pass the Drop Down values from Controller
                   $("#hide_Gameid").val(data.ans.GameId);
                   $.each(data.AnsPoint, function (i, c) {
                       numberofgamepoint = i + 1;

                       var id = "EditGamePrize" + numberofgamepoint;
                       var idtrans = "EditGamePrize" + numberofgamepoint;

                       var newRow = jQuery(' <tr><td><select id="' + id + '" class="EditGamePrize" name="' + id + '" ><option value="" disabled="disabled" selected="selected">PleaseselectPrize</option></select><input type="hidden" id="EditGameTrans' + numberofgamepoint + '" name="EditGameTrans' + numberofgamepoint + '"value="' + c.GamePointId + '" /></td></tr>');

                       jQuery('#div_dropEdit').append(newRow);
                       PointPrizestatus(numberofgamepoint, c.PointId);
                       editcount = i + 1;
                   });
               });

        });


        //Add New Drop Down in Edit Function
        $("#additem1").click(function (event) {
            //$("#Loading_Sec").addClass("loading-new");
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            $("#errorMsg").empty();


            $(".AddRow1").each(function () {
                var editgameprize = $("#EditGamePrize" + editcount).val();
                if (editgameprize == 0) {
                    //$("#Loading_Sec").removeClass("loading-new");
                    $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                    $("#EditErrorText").text('@ResourceCache.Localize("Please_select_Points")');
                    return false();
                }

            });
            //$("#Loading_Sec").removeClass("loading-new");
            $("#div_Error").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#errorMsg").empty();
            editcount++;

            var newRow = jQuery(' <tr><td><select id="EditGamePrize' + editcount + '" class="EditGamePrize1 AddRow1" name="EditGamePrize' + editcount + '" ><option value="" disabled="disabled" selected="selected">Please select PrizeType</option></select> </td></tr>');
            jQuery('#div_dropEdit').append(newRow);
            EditPrizestatus(editcount);
            var GamePointId = $("#EditGamePrize" + editcount).val();

        });

        //Delete the New Drop Down in Edit Function
        $("#btnDel1").click(function (event) {
            //alert("Button work")
            // $("#Loading_Sec").addClass("loading-new");
            var GamePointId = $("#EditGameTrans" + numberofgamepoint).val();
            var PointId = $("#EditGamePrize" + editcount).val();
            var GameId = $("#hide_Gameid").val();
            if (PointId == 0) {

                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();

                //$("#Loading_Sec").removeClass("loading-new");
                $("#div_dropEdit tr:last").remove();
                editcount--;
            }
            else if (editcount == 1) {
                $(".jsonError").hide();
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                //$("#Loading_Sec").removeClass("loading-new");
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text('@ResourceCache.Localize("CannotremovethePoints")');

            }
            else {
                $.getJSON('/SportsConfiguration/CheckGamePoints', { GameId: GameId, GamePointId: GamePointId },
                                         function (data) {
                                             if (data.Message != "" && data.Message != null) {
                                                 $(".jsonError").hide();
                                                 $(".jsonErrorMsg").hide();
                                                 $(".jsonExceptionMsg").hide();
                                                 $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                                                 //$(".jsonSuccessMsg").show();
                                                 //$("#Loading_Sec").removeClass("loading-new");
                                                 $(".jSuccessMsg").html(data.Message).val(data.Message);
                                                 $("#div_dropEdit tr:last").remove();
                                                 editcount--;

                                             }
                                             if (data.DataExits == 1) {
                                                 $(".jsonError").hide();
                                                 $("#div_Error").hide();
                                                 $(".jsonError").hide();
                                                 $(".jsonExceptionMsg").hide();
                                                 $(".jsonSuccessMsg").hide();
                                                 $(".jsonErrorMsg").hide();
                                                 //$("#Loading_Sec").removeClass("loading-new");
                                                 $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                                                 $("#EditErrorText").text('@ResourceCache.Localize("Game_Point_Assign_The_Student_So_Cannot_Delete_the_Points")');

                                             }
                                         });

            }
        });
        //Update function
        $("#btnUpdateGame").click(function () {
            // $("#Loading_Sec").addClass("loading-new");
            $("#Section_addgame").hide();
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();

            var a = [];
            var field_val = [];
            $(".current_button_Edit").each(function () {

                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Editgname') {
                        a.push('@ResourceCache.Localize("PleaseEnterGameName")');
                    }
                    if (null_id == 'EditGameType') {
                        a.push('@ResourceCache.Localize("PleaseSelectGameType")');
                    }
                    if (null_id == 'EditMplayer') {
                        a.push('@ResourceCache.Localize("PleaseEnterMainplayers")');
                    }
                    if (null_id == 'EditSplayer') {
                        a.push('@ResourceCache.Localize("PleaseEnterSubplayers")');
                    }

                }
                else {
                }
            });
            var Game = $("#Editgname").val();
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                //$("#Loading_Sec").removeClass("loading-new");
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            }
            var GameId = $("#hide_Gameid").val();
            var GameName = $("#Editgname").val();
            var GameType = $("#EditGameType").val();
            var MainPlayers = $("#EditMplayer").val();
            var SubPlayers = $("#EditSplayer").val();
            var check = $("#txt_status").is(':checked');
            var PointId = [];
            var GamePointId = [];
            for (var i = 1; i <= editcount; i++) {
                var Prize = $("#EditGamePrize" + i).val();
                if (Prize == null || Prize == "" || Prize == 0) {
                    $("#MandatoryFieldErrorMessage_Edit").show();
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#Edit_jErr").text('@ResourceCache.Localize("Please_select_Points")');
                    return false;
                }
                PointId.push($("#EditGamePrize" + i).val());
                GamePointId.push($("#EditGameTrans" + i).val());

            }
            var rnamesort = PointId.sort();
            var duplicatename = [];
            for (var i = 0; i < rnamesort.length - 1; i++) {
                if (rnamesort[i + 1] == rnamesort[i]) {
                    $("#MandatoryFieldErrorMessage_Edit").show();
                    $("#Edit_jErr").text('@ResourceCache.Localize("PleaseDoNotRepeatSamePoints")');
                    return false;
                }
            }

            var Status;
            if (check == true) {
                Status = true;
            }
            else {
                Status = false;
            }

            var values = { GameId: GameId, GameName: GameName, GameType: GameType, NumberOfMainPlayers: MainPlayers, NumberOfSubPlayers: SubPlayers, Status: Status, UpdatePointId: PointId, IdUpdate: GamePointId };
            //alert(JSON.stringify(values));
            $.ajax({
                url: '/SportsConfiguration/UpdateGame',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        //$("#Loading_Sec").removeClass("loading-new");
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            //$("#Loading_Sec").removeClass("loading-new");
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            //$("#Loading_Sec").removeClass("loading-new");
                            $(".jsonSuccessMsg").show();

                            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#GameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });

        });


        $("#btncancel_updateGame").click(function () {
            $("#Section_addgame").show();
            $("#EditGame_section").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        ///////////////////////////
        $(document).on('click', '.btn_delete_Game', function () {
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/SportsConfiguration/DeleteGame', { GameId: id },
                                  function (data) {
                                      if (data.Message != "" && data.Message != null) {
                                          $(".jsonError").hide();
                                          $(".jsonErrorMsg").hide();
                                          $(".jsonExceptionMsg").hide();
                                          $("#GameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                          $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                          $("#SuccessText").text('@ResourceCache.Localize("DeletedSuccessfully")');
                                      }
                                      if (data.DataExits == 1) {
                                          $("#GameListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                          $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                          $("#ErrorText").text('@ResourceCache.Localize("Game_Assign_The_Student_So_Cannot_Delete_the_Game")');
                                      }
                                  });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }

            })

        });

</script>
}