﻿@using eAcademy.Models
@{
    ViewBag.Title = "House";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="idSection_addhouse">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_House")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("House", "SportsConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {     @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("House_Name")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="hname" name="hname" placeholder="@ResourceCache.Localize("House_Name")" title="@ResourceCache.Localize("House_Name")" maxength="20" />
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddhouse" name="btnAddhouse" title="@ResourceCache.Localize("Add")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="@ResourceCache.Localize("Clear")" id="btnreset"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->


        <section class="col-xs-12 col-sm-12 col-md-8 ">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("House_List")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @*@Html.Partial("~/Views/Shared/RequiredField.cshtml")*@
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                <div class="col-sm-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="HouseListGrid"></table>
                    <div id="HouseListPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->

        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_EditHouse" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_House_Name")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>

                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body row border-radius-none">
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    
                                        
                    <div class="col-sm-12">
                        <div><label class="input-label-sm">@ResourceCache.Localize("House_Name")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div><input class="col-md-12 current_button_Edit" type="text" id="Edithname" name="Edithname" placeholder="@ResourceCache.Localize("House_Name")" maxlength="20" required title="@ResourceCache.Localize("House_Name")" /></div>
                    </div>

                    <div style="margin-left:25px">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                        <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer">
                            <input type="hidden" id="hide_Houseid" name="hide_Houseid" />
                            <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateHouse" name="btnUpdateHouse" title="@ResourceCache.Localize("Update")"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateHouse" name="btncancel_updateHouse" title="@ResourceCache.Localize("Update")"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->


            </div><!-- /.box -->
        </section><!-- right col -->
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
                <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreYouSureToDelete?")</p>
            </div>
    </div>
</section>

@section scriptsContainer{
<script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">

        $(document).ready(function ()
        {
        $("#hname").filter_input({ regex: '[0-9A-Za-z- ]' });
        //AddHouse-Start
        $("#btnAddhouse").click(function () {
            $("#MandatoryFieldErrorMessage_Add").show();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '' || valu == null) {

                    var null_id = $(this).attr('id');

                    if (null_id == 'hname') {
                        a.push('@ResourceCache.Localize("PleaseEnterHouse")');

                    }
                    else {
                    }
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            var hname = $("#hname").val();
            var values = { HouseName: hname };
            $.ajax({
                url: "/Sports/SportsConfiguration/addhouse",
                type: 'POST',
                data: values,
                datatype: 'json',
                contenttype: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];

                    if (data.Success == 0) {

                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                       // $(".jsonError").show();
                       // $(".jErr").append().empty();
                        $("#MandatoryFieldErrorMessage_Add").show();
                        $(".Add_jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".Add_jErr").append(li);
                            }
                        });
                    }

                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#MandatoryFieldErrorMessage_Add").hide();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#HouseListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#hname").val("");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }

                }
            });
        }); //AddHouse-End
            //Reset
            $('#btnreset').click(function () {
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_Add").hide();

            });
        
        //HouseList-Start
        var HouseId;
        jQuery("#HouseListGrid").jqGrid({
            url: "/Sports/SportsConfiguration/HouseList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['','@ResourceCache.Localize("House_Name")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Action")'],
            colModel: [
            { key: true, hidden: true, name: 'HouseId', index: 'HouseId' },
            { key: false, name: 'HouseName', index: 'HouseName', editable: true },
            { key: false, name: 'Status', index: 'Status', editable: true },
            { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' }
            ],
            pager: jQuery("#HouseListPager"),
            rowNum: 10,
            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,

            gridComplete: function () {
                var ids = jQuery("#HouseListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    HouseId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_House btn_Edit ui-icon-pencil '  id='" + HouseId + "' value=''  title'@ResourceCache.Localize("Edit")' />";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_delete_House  btn_Delete ui-icon-trash' id='" + HouseId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                    jQuery("#HouseListGrid").jqGrid('setRowData', ids[i], { act: be + de });
                }
            },

        }).navGrid('#HouseListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                    ).jqGrid('navButtonAdd', '#HouseListPager',
                    {
                        caption: "Excel",
                        buttonicon: "ui-icon-bookmark",
                        onClickButton: function () {
                            window.location.href = "../SportsConfiguration/HouseNameExportToExcel";
                        }
                    }).jqGrid('navButtonAdd', '#HouseListPager',
                    {
                        caption: "Pdf",
                        buttonicon: "ui-icon-print",
                        position: "last",
                        onClickButton: function () {
                            window.location.href = "../SportsConfiguration/HouseNameExportToPDF?pdf=true";
                        }
                    });

        $("#HouseListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("House_List")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            //HouseList-End

            //Edit,UpdateHouse-Start
            $("#Edithname").filter_input({ regex: '[0-9A-Za-z- ]' });
            $(document).on('click', '.btn_edit_House', function () {
                var id = $(this).attr('id');
                values = { id: id };
                $.getJSON('/SportsConfiguration/EditHouse', { id: id },
                        function (data) {
                            $("#idSection_addhouse").hide();
                            $("#idSection_EditHouse").show();
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jErr").append().empty();
                            $("#hide_Houseid").val(data.HouseId);
                            $("#Edithname").val(data.HName);
                            var Status = data.status;

                            if (Status == true) {

                                $('#txt_status').prop('checked', true); //.val("true"); //.attr("selected", "true");
                            }
                            else {

                                $('#txt_status').prop('checked', false);// .val("false"); //.attr("selected", "true");
                            }
                        });

            });
            $("#btncancel_EditHouse").click(function () {
                $("#idSection_addhouse").show();
                $("#idSection_EditHouse").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jErr").append().empty();
            });

            $("#btnUpdateHouse").click(function () {
                $("#idSection_addhouse").hide();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $(".jErr").append().empty();
                var HouseId = $("#hide_Houseid").val();
                var HouseName = $("#Edithname").val();

                var check = $("#txt_status").is(':checked');

                var Status;
                if (check == true) {
                    Status = true;
                }
                else {
                    Status = false;
                }


                var a = [];
                var field_val = [];
                $(".current_button_Edit").each(function () {
                    var valu = $(this).val();
                    if (valu == '' || valu == null) {

                        var null_id = $(this).attr('id');

                        if (null_id == 'hname') {
                            a.push('@ResourceCache.Localize("PleaseEnterHouse")');

                        }
                        else {
                        }
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Edit").show();
                    $(".Edit_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Edit_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                var values = { HouseId: HouseId, HName: HouseName, Status: Status };
                $.ajax({
                    url: '/SportsConfiguration/updateHouse',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $("#MandatoryFieldErrorMessage_Edit").show();
                            $(".Edit_jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".Edit_jErr").append(li);
                                }
                            });
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#HouseListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    }
                });
            });

                $("#btncancel_updateHouse").click(function () {
                    $("#idSection_addhouse").show();
                    $("#idSection_EditHouse").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jErr").append().empty();
                });
            //Edit,UpdateHouse-End

            //DeleteHouse-Start
                $(document).on('click', '.btn_delete_House', function () {
                    $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                    var id = $(this).attr('id');
                    $("#dialog-confirm").dialog({
                        resizable: false,
                        modal: true,
                        buttons: {
                            "Delete": function () {
                                $(this).dialog("close");
                                $.getJSON('/SportsConfiguration/DeleteHouse', { id: id },
                                   function (data) {
                                       if (data.Message != "" && data.Message != null)
                                       {
                                           $("#HouseListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                           $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                           $("#SuccessText").text("@ResourceCache.Localize("DeletedSuccessfully")");
                                       }
                                       if (data.ErrorMessage != "" && data.ErrorMessage != null)
                                       {
                                           $("#HouseListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                           $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                           $("#ErrorText").text(data.ErrorMessage);
                                       }

                                   });
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }

                    })

                });//Delete-End

        });// document ready close
     </script>
}