﻿@using eAcademy.Models
@{
    ViewBag.Title = "SessionSchedule";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="Section_addschedule">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("CreateSession")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>

                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        
                        <div class="col-sm-8">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                    
                        <div class="col-sm-8">
                            <div><label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input class="col-md-12 current_button" type="text" id="ssname" name="ssname" placeholder="@ResourceCache.Localize("SessionName")" title="@ResourceCache.Localize("SessionName")" maxlength="20" />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_save" id="btnaddsession" name="btnaddsession" title="@ResourceCache.Localize("Add")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="@ResourceCache.Localize("Clear")" id="btnreset"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div><!-- /.row -->

                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </section><!-- right col -->

        <section class="col-xs-12 col-sm-12 col-md-8 " id="session_list">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("SessionList")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                <div class="col-sm-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="SessionListGrid"></table>
                    <div id="SessionListPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->


        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_EditSession" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditSessionName")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>

                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body row border-radius-none">
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")


                    <div class="col-sm-8">
                        <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @Html.DropDownList("EditAcyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button_Edit" })
                        </div>
                    </div>


                    <div class="col-sm-8">
                        <div><label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            <input class="col-md-12 current_button_Edit" type="text" id="Editssname" name="ssname" placeholder="@ResourceCache.Localize("SessionName")" title="@ResourceCache.Localize("SessionName")" maxlength="20" />
                        </div>
                    </div>

                </div><!-- /.box-body -->
                <div style="margin-left:25px">
                    <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                    <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                </div>
                <div class="box-footer no-border">
                  
                        <div class="footer">
                            <input type="hidden" id="hide_Sessionid" name="hide_Sessionid" />
                            <button type="button" class="btn  btn-sm btn_double btn_update" id="btnUpdateSession" name="btnUpdateSession" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateSession" name="btncancel_updateSession" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                        </div>
                 
                </div><!-- /.box-footer -->


            </div><!-- /.box -->
        </section><!-- right col -->

        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreYouSureToDelete?")</p>
        </div>
    </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
       
        $(document).ready(function ()
        {
            $("#ssname").filter_input({ regex: '[0-9A-Za-z- ]' });
            $("#Editssname").filter_input({ regex: '[0-9A-Za-z- ]' });
          // alert("add");
            //Current Academic year value
          //  $('#Acyear').val(@Session["CurrentAcYearId"]);
            $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
            var YearId = $('#Acyear').val();
            Add_AssignAcademicYear(YearId);
            function Add_AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                          function (orderdetails) {
                          });
            }

//AddSession-Start
        
        $('#btnaddsession').click(function ()
        {
          
            //$("#MandatoryFieldErrorMessage_Add").hide();
            //$("#jsonSuccessMsg").hide();
            //$("#jsonErrorMsg").hide();

            var a = [];
            var field_val = [];

            $(".current_button").each(function ()
            {
               
                var valu = $(this).val();
                if (valu == '')
                {
                    var null_id = $(this).attr('id');
                    if (null_id == 'ssname')
                    {
                        a.push('@ResourceCache.Localize("PleaseEnterSession")');
                    }
                    if (null_id == 'Acyear')
                    {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                }
                else
                {
                }
            });

            if (a.length != 0)
            {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v)
                {
                    if (a[i] != "" && a[i] != null)
                    {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            var ssname1 = $("#ssname").val();
            var acyear = $("#Acyear").val();

            var values = { ssname: ssname1, acyear: acyear };

            $.ajax({
                url: '/SportsConfiguration/addsession',
                type: 'POST',
                data: values,
                datatype: 'json',
                contenttype: "application/json",
                success: function (data)
                {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0)
                    {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        //$(".jsonErrorMsg").show();
                        //$(".jsonError").show();
                        //$(".jErr").append().empty();
                        $("#MandatoryFieldErrorMessage_Add").show();
                        $(".Add_jErr").append().empty();
                        $.each(totalError, function (i, v)
                        {
                            if (totalError[i] != "" && totalError[i] != null)
                            {
                                li = $("<li></li>").text(totalError[i]);
                               // $(".jErr").append(li);
                                $(".Add_jErr").append(li);
                            }
                        });
                    }
                    else
                    {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null)
                        {
                            $(".jsonError").show();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null)
                        {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#SessionListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#ssname").val("");
                            $("#Acyear").val("");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null)
                        {
                            $(".jsonError").show();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        
        });    //AddSession-End

        //Reset
            $('#btnreset').click(function ()
            {
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#jsonExceptionMsg").hide();
            });
        
        //SessionList-Start
        var SessionId;
        jQuery("#SessionListGrid").jqGrid({
            url: "/Sports/SportsConfiguration/SessionList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("SessionName")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Action")'],
            colModel: [
            { key: true, hidden: true, name: 'SessionId', index: 'SessionId' },
             { key: false, name: 'AcademicYear', index: 'AcademicYear', editable: true },
            { key: false, name: 'SessionName', index: 'SessionName', editable: true },
            { key: false, name: 'Status', index: 'Status', editable: true },
            { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' }
            ],
            pager: jQuery("#SessionListPager"),
            rowNum: 10,
            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function()
            {
                var ids = jQuery("#SessionListGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++)
                {
                    SessionId = ids[i];
                    ce = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Session btn_Edit ui-icon-pencil ' id='" + SessionId + "' value=''  title='@ResourceCache.Localize("Edit")' />";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_delete_Session  btn_Delete ui-icon-trash' id='" + SessionId + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                    jQuery("#SessionListGrid").jqGrid('setRowData', ids[i], { act: ce + de });
                }
            },
        }).navGrid('#SessionListPager', { edit: false, add: false, del: false, search: false, refresh: false }
    ).jqGrid('navButtonAdd', '#SessionListPager',
    {
        caption: "Excel",
        buttonicon: "ui-icon-bookmark",
        onClickButton: function () {
            window.location.href = "../SportsConfiguration/SessionListExportToExcel";
        }
    }).jqGrid('navButtonAdd', '#SessionListPager',
    {
        caption: "Pdf",
        buttonicon: "ui-icon-print",
        position: "last",
        onClickButton: function () {
            window.location.href = "../SportsConfiguration/SessionListExportToPdf?pdf=true";
        }
    });
        $("#SessionListGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("SessionList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            //SessionList-End

            //Edit

        $(document).on('click', '.btn_edit_Session', function ()
        {
            var id = $(this).attr('id');
            values = { SessionId: id };
            $.getJSON('/SportsConfiguration/EditSession', { SessionId: id },
                    function (data) {
                        $("#Section_addschedule").hide();
                        $("#idSection_EditSession").show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $("#hide_Sessionid").val(data.SessionId);
                        $("#Editssname").val(data.SessionName);
                        $("#EditAcyear").val(data.acyear);
                        var Status = data.Status;
                        if (Status == true) {
                            $('#txt_status').prop('checked', true); //.val("true"); //.attr("selected", "true");
                        }
                        else {
                            $('#txt_status').prop('checked', false);// .val("false"); //.attr("selected", "true");
                        }
                    });
        });

        //    //Cancel
        //$("#btncancel_EditSession").click(function ()
        //{
        //    $("#Section_addschedule").show();
        //    $("#idSection_EditSession").hide();
        //    $(".jsonError").hide();
        //    $(".jsonExceptionMsg").hide();
        //    $(".jsonSuccessMsg").hide();
        //    $(".jsonErrorMsg").hide();
        //});

    //Update-Start
        $("#btnUpdateSession").click(function ()
        {
        $("#idSection_addhouse").hide();
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_Edit").hide();
        var a = [];
        var field_val = [];
        $(".current_button_Edit").each(function ()
        {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'EditAcyear') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'Editssname') {
                    a.push('@ResourceCache.Localize("PleaseEnterSession")');
                }

            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }
        });

        var SessionId = $("#hide_Sessionid").val();
        var Academicyear = $("#EditAcyear").val();
        var SessionName = $("#Editssname").val();
        var check = $("#txt_status").is(':checked');
        var Status;
        if (check == true) {
            Status = true;
        }
        else {
            Status = false;
        }
        var values = { SessionId: SessionId, Acyear: Academicyear, SessionName: SessionName, Status: Status };
        $.ajax({
            url: '/SportsConfiguration/updateSession',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data)
            {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#SessionListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    }
                }
            }
        });
        });//Update Session-End

            //Cancel
       $("#btncancel_updateSession").click(function ()
            {
        $("#Section_addschedule").show();
        $("#idSection_EditSession").hide();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });

    //Delete Session-Start
            $(document).on('click', '.btn_delete_Session', function () {
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                var id = $(this).attr('id');
                $("#dialog-confirm").dialog({
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $(this).dialog("close");
                            $.getJSON('/SportsConfiguration/DeleteSession', { SessionId: id },
                               function (data) {
                                   if (data.Message != "" && data.Message != null)
                                   {
                                       $("#SessionListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                       $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                       $("#SuccessText").text("@ResourceCache.Localize("DeletedSuccessfully")");
                                   }
                                   if (data.ErrorMessage != "" && data.ErrorMessage != null)
                                   {
                                       $("#SessionListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                       $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                       $("#ErrorText").text(data.ErrorMessage);
                                   }
                               });
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                })
            });//Delete-End

    });//DocumentEnd
       </script>
    }
