﻿
@model eAcademy.Areas.HostelManagement.ViewModel.FeesCategory
@using eAcademy.Models;
@{
    //ViewBag.Title = "AddHostelFeescategory";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditFeescategory" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditFeesCategory")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        @Html.Partial("~/Areas/HostelManagement/Views/Shared/ErrorPartial.cshtml")
                        @Html.ValidationSummary()
                        <div class="box-body row border-radius-none">
                            <input type="hidden" id="hide_Feescategoryid" name="hide_Feescategoryid" />
                        </div>
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                        <div><input class="col-lg-12" id="acYear_Fees1" name="acYear_Fees1" type="text" title="@ResourceCache.Localize("Academicyear")" readonly /></div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("categoryname")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input type="text" name="FeesCategoryName_1" id="FeesCategoryName_1" required="" maxlength="45" placeholder="@ResourceCache.Localize("categoryname")">
                                <input type="hidden" id="acid" name="acid" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Fees")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12" type="text" id="txt_fees1" name="txt_fees1" placeholder="@ResourceCache.Localize("Fees")" required title="@ResourceCache.Localize("Fees")" maxlength="10" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ServiceTax")</label> <input id="txt_checkcTax1" name="txt_checkcTax1" type="checkbox" checked /></div>
                            <div><input class="col-lg-12 current_button" type="text" id="ServicesTax1" name="ServicesTax1" placeholder="@ResourceCache.Localize("ServiceTax")" required title="@ResourceCache.Localize("ServiceTax")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div><input class="col-lg-12 current_button" type="text" id="tTotal1" name="tTotal1" placeholder="@ResourceCache.Localize("Total")" required title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <select id="FeesCategoryStatus" name="FeesCategoryStatus" class="jsval">
                                <option value="Active">@ResourceCache.Localize("Active")</option>
                                <option value="InActive">@ResourceCache.Localize("InActive")</option>
                            </select>

                        </div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row footer">
                            <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdateFeescategory" name="btnUpdateFeescategory" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateFeescategory" name="btncancel_updateFacility" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                        </div>
                    </div>
                </form>
            </div>
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddFeescategory">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i><span class="box-title">@ResourceCache.Localize("AddFeesCategory")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        @Html.Partial("~/Areas/HostelManagement/Views/Shared/ErrorPartial.cshtml")
                        @Html.ValidationSummary()
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("acYear_Fees", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("Academicyear"), new { @class = "current_button", @title = ResourceCache.Localize("Academicyear") })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("categoryname")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <input type="text" name="FeesCategoryName" id="FeesCategoryName" required="" maxlength="45" placeholder="@ResourceCache.Localize("categoryname")">
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Fees")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_fees" name="txt_fees" placeholder="@ResourceCache.Localize("Fees")" required title="@ResourceCache.Localize("Fees")" maxlength="10" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ServiceTax")</label> <input id="txt_checkcTax" name="txt_checkcTax" type="checkbox" checked /></div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_ServicesTax" name="txt_ServicesTax" placeholder="@ResourceCache.Localize("ServiceTax")" required title="@ResourceCache.Localize("ServiceTax")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_Total" name="txt_Total" placeholder="@ResourceCache.Localize("Total")" required title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row footer">
                            <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddFees" name="btnAddFees" title="@ResourceCache.Localize("AddCategory")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                            <button type="reset" class=" btn  btn-sm btn_reset" id="resetcancel" title="@ResourceCache.Localize("Clear")"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Cancel")</button>
                        </div><!-- /.row -->
                    </div> <!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("HostelFeescategory")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#acYear_Fees').val(@Session["Add_ChosenAcademicYearId"]);
            $('#acYear_Fees').change(function (event) {
                event.preventDefault();
                var YearId = $('#acYear_Fees').val();
                AssignAcademicYear(YearId);
                Add_AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            function Add_AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                          function (orderdetails) {
                          });
            }

        $("#FeesCategoryName_1").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#FeesCategoryName").filter_input({ regex: '[0-9A-Za-z- ]' });
        $("#txt_fees").filter_input({ regex: '[0-9.]' });
        $("#txt_fees1").filter_input({ regex: '[0-9.]' });
        var ServicesTax;
        $.getJSON("/FeeConfiguration/getTax",
              function (data) {
                  ServicesTax = data.ans;
              });
        $("#txt_fees").keyup(function () {
            var x = $("#txt_fees").val();
            var check = $("#txt_checkcTax").is(":checked");
            if (check == true) {
                var y = x * (ServicesTax / 100);
                $("#txt_ServicesTax").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#txt_Total").val(z).html(z);
            }
            if(check==false)
            {
                ServicesTax = 0;
                var y = x * (ServicesTax / 100);
                $("#txt_ServicesTax").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#txt_Total").val(z).html(z);
            }
        });
        $("#txt_checkcTax").click(function () {
            var x = $("#txt_fees").val();
            var check = $("#txt_checkcTax").is(":checked");
            if (check == true) {
                var y = x * (ServicesTax / 100);
                $("#txt_ServicesTax").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#txt_Total").val(z).html(z);
            }
            if(check==false){
                //alert("check=" + check);
                Tax = 0;
                var y = x * (Tax / 100);
                $("#txt_ServicesTax").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#txt_Total").val(z).html(z);
            }
        });
        $("#txt_fees1").keyup(function () {
            var x = $("#txt_fees1").val();
            var check = $("#txt_checkcTax1").is(":checked");

            if (check == true) {
                var y = x * (ServicesTax / 100);
                $("#ServicesTax1").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#tTotal1").val(z).html(z);
            }
            else {
                $("#tTotal1").val(x).html(x);
            }
        });

        $("#txt_checkcTax1").click(function () {
            var x = $("#txt_fees1").val();
            var check = $("#txt_checkcTax1").is(":checked");
            if (check == true) {

                var y = x * (ServicesTax / 100);
                $("#ServicesTax1").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#tTotal1").val(z).html(z);
            }
            if (check == false) {
                Tax = 0;
                var y = x * (Tax / 100);
                $("#ServicesTax1").val(y).html(y);
                var z = parseFloat(x) + parseFloat(y);
                $("#tTotal1").val(z).html(z);
            }
        });

        $('#btnAddFees').click(function () {
            $(".jErr").append().empty();
            var a = [];
            var year = $("#acYear_Fees").val();
            if (year == 0 || $(year).val() == "") {
                a.push('@ResourceCache.Localize("SelectAcademicYear")')
            }
            var bname = $("#FeesCategoryName").val();
            if (bname == 0 || $(bname).val() == "") {
                a.push('@ResourceCache.Localize("plsenterfeescategoryname")')
            }
            var btype = $("#txt_fees").val();
            if (btype == 0 || $(btype).val() == "") {
                a.push('@ResourceCache.Localize("plsenterfeesamount")')
            }

            if (a.length != 0) {
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
            var fname = $("#FeesCategoryName").val();
            var famount = $("#txt_fees").val();
            var tax = $("#txt_ServicesTax").val();
            var ff = { feescategoryname: fname, camount: famount, tax: tax, AcYearId: year };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/HostelFeesCategory/AddHostelFeescategory',
                traditional: true,
                data: ff,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }

                    else {
                        if (data.Errormessage != "" && data.Errormessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.Errormessage).val(data.Errormessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jsonErrorMsg").hide();
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });
        var categoryid;
        jQuery("#grid1").jqGrid({
            url: "/HostelFeesCategory/FeescategoryList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("categoryname")', '@ResourceCache.Localize("feescategoryamount") ', '@ResourceCache.Localize("Status")','@ResourceCache.Localize("Tax")','@ResourceCache.Localize("Total")', '@ResourceCache.Localize("Actions")'],
            colModel: [
                { key: true, hidden: true, name: 'FeesCategoryId', index: 'FeesCategoryId' },
                 { key: false, name: 'acdemicyear', index: 'acdemicyear' },
                { key: false, name: 'feescategoryname', index: 'feescategoryname' },
                { key: false, name: 'camount', index: 'camount' },
                { key: false, name: 'status', index: 'status' },
                { key: false, name: 'tax', index: 'tax' },
                { key: false, name: 'total', index: 'total' },
                 { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowNum: 10,
            rowList: [50, 100, 250, 500, 1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("Norecorddisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    categoryid = ids[i];

                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Feescategory btn_Edit ui-icon-pencil' id='" + categoryid + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false })
  .jqGrid('navButtonAdd', '#pager1',
  {
      caption:"Excel",
      buttonicon: "ui-icon-bookmark",
      onClickButton: function () {
          window.location.href = "../HostelFeesCategory/HostelFeesDetailsExportToExcel";
      }
  })
   .jqGrid('navButtonAdd', '#pager1',
   {
       caption:"Pdf",
       buttonicon: "ui-icon-print",
       position: "last",
       onClickButton: function () {
           window.location.href = "../HostelFeesCategory/HostelFeesDetailsExportToPDF";
       }
   });
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $(document).on('click', '.btn_edit_Feescategory', function () {
            var id = $(this).attr('id');
            values = { FeesCategoryId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/HostelFeesCategory/EditHostelFeescategory',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#idSection_AddFeescategory").hide();
                    $("#idSection_EditFeescategory").show();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#div_Error").hide();
                    $("#errorMsg").empty();
                    $("#div_Error").hide();
                    $("#info_text").hide();
                    if (data.InfoMessage != null) {
                        $("#idSection_AddFeescategory").hide();
                        $("#idSection_EditFeescategory").hide();
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#info_text").show();
                    }
                    else {
                        $("#info_text").hide();
                        $("#hide_Feescategoryid").val(id).html(id);
                        $("#acYear_Fees1").val(data.feesdetails.acdemicyear).html(data.feesdetails.acdemicyear);
                        $("#acid").val(data.feesdetails.AcYearId).html(data.feesdetails.AcYearId);
                        $("#FeesCategoryName_1").val(data.feesdetails.feescategoryname).html(data.feesdetails.feescategoryname);
                        $("#txt_fees1").val(data.feesdetails.camount).html(data.feesdetails.camount);
                        $("#ServicesTax1").val(data.feesdetails.tax).html(data.feesdetails.tax);
                        if (data.feesdetails.tax == 0) {
                            $('#txt_checkcTax1').prop('checked', false);
                        }
                        else {
                            $('#txt_checkcTax1').prop('checked', true);
                        }

                        $("#tTotal1").val(data.feesdetails.total).html(data.feesdetails.total);


                        if (data.hosteldetails.status == "Active") {
                            $('#FeesCategoryStatus').val("Active").attr("selected", "true");
                        }
                        else {
                            $('#FeesCategoryStatus').val("InActive").attr("selected", "true");
                        }
                    }
                }

            });
        });
        $("#btncancel_updateFeescategory").click(function () {
            $("#idSection_EditFeescategory").hide();
            $("#idSection_AddFeescategory").show();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#errorMsg").hide();
            $("#div_Error").hide();
        });
        $("#resetcancel").click(function () {
            $("#idSection_EditFeescategory").hide();
            $("#idSection_AddFeescategory").show();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#errorMsg").hide();
            $("#div_Error").hide();
        });
        
        $("#btnUpdateFeescategory").click(function () {
            $(".jsonExceptionMsg").hide();
            $(".jsonError").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#div_Error").hide();
            $("#errorMsg").empty();
            $("#div_Error").hide();
            var feescatgryid = $("#hide_Feescategoryid").val();
            var acyear = $("#acid").val();
            var feename = $("#FeesCategoryName_1").val();
            var feeamount = $("#txt_fees1").val();
            var feestatus = $("#FeesCategoryStatus").val();
            var tax1 = $("#ServicesTax1").val();
            var total1 = $("#tTotal1").val();
            $(".jErr").append().empty();
            var a = [];
            if (feename == 0 || $(feename).val() == "") {
                a.push('@ResourceCache.Localize("plsenterfeescategoryname")')
            }

            if (feeamount == 0 || $(feeamount).val() == "") {
                a.push('@ResourceCache.Localize("plsenterfeesamount")')
            }
            if (feestatus == 0 || $(feestatus).val() == "") {
                a.push('@ResourceCache.Localize("pleaseselectstatus")')
            }
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
            var fa = { FeesCategoryId: feescatgryid, feescategoryname: feename, camount: feeamount, status: feestatus, tax: tax1,AcYearId:acyear}
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/HostelFeesCategory/UpdateHostelFeescategory',
                traditional: true,
                data: fa,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.Errormessage != "" && data.Errormessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.Errormessage).val(data.Errormessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jsonErrorMsg").hide();
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });
        });

            $(document).ready(function () {
                $('.Numval').keypress(function (e) {
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        return false;
                    }
                });
            });
            $('#lang').change(function (event) {
                event.preventDefault();
                var CultureId = $('#lang').val();
                $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                    function (data) {
                        $("#lang").val(data.selVal);
                        location.reload();
                    });
            });
            $(window).load(function () {
                $.getJSON('/Home/getCulture',
                   function (data) {
                       if (data.cul == "empty") {
                       }
                       else {
                           $("#lang").val(data.cul);
                       }
                   });
            });
</script>
        }
            