﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BillReceipt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/Bill.css" rel="stylesheet" />  
    <link href="~/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" /> 
   
</head>
<body>
    <div class="container" id="show">
        <div class="col-sm-12 head">
            <center><img src="~/img/logo.png" /></center>
            <label>Ace Class Room</label>          
        </div>
        <div class="col-sm-12">
            <hr />       
        </div>   
        
        <div class="col-sm-12 ">
            <table border="0" class="col-sm-12 row " id="head_Table">
                <tr class="tr_width">
                    <td class="td_width"><span>Receipt No</span></td>
                    <td class="td_width thalignment1"><label>1</label></td>
                    <td class="td_width thalignment1"><span>Date</span></td>
                    <td class="td_width thalignment1"><label>10-11-2015</label></td>
                </tr>
                <tr class="tr_width">
                    <td class="td_width"><span>Student Name</span></td>
                    <td class="td_width thalignment1"><label>Raja</label></td>
                    <td class="td_width thalignment1"><span>Admission No</span></td>
                    <td class="td_width thalignment1"><label>1234</label></td>
                </tr>
                <tr class="tr_width">
                    <td class="td_width"><span>RollNumber</span></td>
                    <td class="td_width thalignment1"><label>14LkgA12</label></td>
                    <td class="td_width thalignment1"><span>Academic Year</span></td>
                    <td class="td_width thalignment1"><label>2014-2015</label></td>
                </tr>
                <tr class="tr_width">
                    <td class="td_width"><span>Class</span></td>
                    <td class="td_width thalignment1"><label>LKG</label></td>
                </tr>
            </table>

            <table class="table-responsive table table-bordered table-hover table-striped  col-sm-12 row">
                <thead>
                    <tr>
                        <th class=".th1">S.No</th>
                        <th class=".th2">Fees Head</th>
                        <th class=".th3">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>TutionFees</td>
                        <td>10000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <td colspan="2" class="alignment">Fine</td>
                        <td>10000</td>
                    </tr>
                    <tr>

                        <td colspan="2" class="alignment">Discount</td>
                        <td>10000</td>
                    </tr>
                    <tr>

                        <td colspan="2" class="alignment">Total</td>
                        <td>10000</td>
                    </tr>
                </tfoot>
            </table>

            <div class="col-sm-12 row">
                <div class="col-sm-3 pull-left Sign">
                    <a role="button" href="#" id="printpage" name="printpage" onclick="window.print(); return false;"><i class="fa fa-print fa-2x"></i></a>
                </div>
                <div class="col-sm-3 pull-right Sign">
                    <label class="pull-right">Account Clerk</label>
                </div>
            </div>
            

            </div>
        </div>
    <script src="~/js/OnlineRegisterJs/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           
            $('#PrintPage').click(function () {
                alert("click print");
                window().print();
                //return false;

            });
           
        });
        
    </script>
</body>
</html>
