﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Photo</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <style>
        .Camera_Center{
           margin-top:10px; width: 980px; text-align: center;
        }
        .camera_div1{
            float: left; border: 4px solid #ccc; padding: 5px;
        }
        .camera_div2{
          float: left; margin-left: 20px; border: 4px solid #ccc; padding: 5px;
        }
        .Camera_img{
            width: 320px; height: 240px;
        }
        .flash,.flash1{
            margin-top:10px;
            display:none;        }

    </style>

</head>
<body>
    <div class=" box-body col-sm-12 flash">
        <div class="alert alert-info alert-dismissable">
            <b>Info! :- </b>
            <ul>
                <li>Please enable flash player to support webcamera</li>
                <li><a href="https://get.adobe.com/flashplayer/" target="_blank">Click here to enable flash player</a></li>
            </ul>
        </div>
    </div>
    <div class=" box-body col-sm-12 flash1">
        <div class="alert alert-info alert-dismissable">
            <b>Info! :- </b>
            <ul>
                <li>Please attach webcamera</li>
            </ul>
        </div>
    </div>
    <div class="Camera_Center">
        <div class="camera_div1">
            <div id="Camera">
            </div>
            <br>
            <a href="#" id="save_image1" onclick="webcam.capture();">Capture</a>
        </div>
        <div class="camera_div2">
            <img id="show" class="Camera_img" />
            <br>
            <br>
            <a href="#" id="save_image">Click to Save</a>
        </div>
       

    </div>
    <script src="~/js/OnlineRegisterJs/jquery.js"></script>
    <script src="~/Scripts/WebCamera/jquery.webcam.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            try {
            
                var hasFlash = false;
                try {
                    var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
                    if (fo) hasFlash = true;

                }
                catch (e) {
                    if (navigator.mimeTypes["application/x-shockwave-flash"] != undefined) hasFlash = true;
                }
               
                if (hasFlash == false) {

                    $('.flash').show();
                }
                else {
                    $('.flash').hide();
                }
                $("#Camera").webcam({
                    width: 320,
                    height: 240,
                    mode: "save",
                    swffile: "@Url.Content("~/Scripts/WebCamera/jscam.swf")",
                    onTick: function () { },
                    onSave: function () {
                        UploadPic();
                    },
                    onCapture: function () {
                        webcam.save("@Url.Content("~/Photo/Capture")");
                    },
                    debug: function (type, message) {
                      
                        if (message == "No camera was detected.")
                        {
                            $('.flash1').show();
                        }
                        else {
                            $('.flash1').hide();
                        }
                    },
                    onLoad: function () {
                    }
                });
            }
            catch (ex) {
                alert(ex);
            }
            function UploadPic() {
                $.ajax({
                    type: 'POST',
                    url: ("@Url.Content("~/Photo/Rebind")/"),
                    dataType: 'json',
                    success: function (data) {
                        //var url = window.location.href;
                        //url = url.split('/');
                        //alert(url[0]);
                        var res =data;                       
                        $("#show").attr("src", res);
                        $('#save_image').attr("href", res);
                        $('#save_image').attr("download", res);
                    }
                });
            }
        });
    </script>
</body>
</html>