﻿@model IEnumerable<eAcademy.ViewModel.AchievementList>
@using eAcademy.Models
@{
    ViewBag.Title = "SchoolAchievement";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="div_EditSchoolAchievement" style="display: none">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-pencil-square-o "></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditSchoolAchievement")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_EditDoa" name="txt_EditDoa" placeholder=@ResourceCache.Localize("DateOfAchievement") title=@ResourceCache.Localize("AchievementDate") required="required" readonly />
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Achievement")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_EditAchievement" name="txt_EditAchievement" placeholder=@ResourceCache.Localize("Achievement") title=@ResourceCache.Localize("Achievement") required="required" />
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <textarea class="col-lg-12" id="txt_EditDescription" name="txt_EditDescription" placeholder=@ResourceCache.Localize("Description") title=@ResourceCache.Localize("Description") required="required"></textarea>
                            <span id="chars2">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("PeopleInvolved")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <textarea class="col-lg-12" id="txt_EditPeople" name="txt_EditPeople" placeholder=@ResourceCache.Localize("PeopleInvolved") title=@ResourceCache.Localize("PeopleInvolved") required="required"></textarea>
                            <span id="chars3">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class="col-xs-6">
                            <input type="hidden" id="AchievementEId" name="AchievementEId" />
                            <button type="button" class="btn btn-sm btn_update btn-down btn_double" id="btnEditSchoolAchievement" title=@ResourceCache.Localize("Update")><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                        </div>
                        <div class=" col-xs-6">
                            <button type="button" class="btn btn-sm btn_cancel btn-down" name="btnCancel_EditSchoolAchievement" id="btnCancel_EditSchoolAchievement" title=@ResourceCache.Localize("Cancel")><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="div_AddSchoolAchievement">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-plus "></i>
                    <h3 class="box-title">@ResourceCache.Localize("AddSchoolAchievement")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Ach_allAcademicYears", new SelectList(ViewBag.XallAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_doa" name="txt_doa" placeholder=@ResourceCache.Localize("DateOfAchievement") title=@ResourceCache.Localize("AchievementDate") required="required" readonly />
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Achievement")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_achievement" name="txt_achievement" placeholder=@ResourceCache.Localize("Achievement") title=@ResourceCache.Localize("Achievement") required="required" />
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <textarea class="col-lg-12" id="txt_description" name="txt_description" placeholder=@ResourceCache.Localize("Description") title=@ResourceCache.Localize("Description") required="required"></textarea>
                            <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("PeopleInvolved")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <textarea class="col-lg-12" id="txt_people" name="txt_people" placeholder=@ResourceCache.Localize("PeopleInvolved") title="@ResourceCache.Localize("PeopleInvolved")" required="required"></textarea>
                            <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnAddSchoolAchievement"><i class="fa fa-plus"></i>@ResourceCache.Localize("Save")</button>
                        </div>
                        <div class=" col-xs-6">
                            <button type="reset" class=" btn  btn-sm btn_reset btn-down" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>


        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("ManageSchoolAchievement")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 btn-down">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                    </div>
                    <div class="col-lg-3">
                        <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>
                        @Html.DropDownList("Ach_allAcademicYearsA1", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="input-label-sm">@ResourceCache.Localize("Date")</label>
                        <input class="col-lg-3 filterItem" type="text" id="txt_doa_search" name="txt_doa_search" placeholder=@ResourceCache.Localize("DateOfAchievement") title=@ResourceCache.Localize("AchievementDate") required="required" readonly />
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="input-label-sm">@ResourceCache.Localize("Achievement")</label>
                        <input class="col-lg-3 filterItem" type="text" id="Achievement" name="Achievement" placeholder=@ResourceCache.Localize("Achievement") title=@ResourceCache.Localize("Achievement") />
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <button type="button" id="SchoolAchievement_filterButton" class="btn btn-sm btn_submit filterItem btn-down" value="Search"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 btn-down" id="show">
                    <table class="col-lg-12" id="SchoolAchievementGrid"></table>
                    <div id="SchoolAchievementPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Ach_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            $('#Ach_allAcademicYearsA1').val(@Session["List_ChosenAcademicYearId"]);
            AddDateByAcYear(@Session["Add_ChosenAcademicYearId"]);
            ListDateByAcYear(@Session["List_ChosenAcademicYearId"]);

            $('#Ach_allAcademicYears').change(function (event) {
                event.preventDefault();
                var YearId = $('#Ach_allAcademicYears').val();
                $("#txt_doa_search").val("");
                $("#txt_doa").val("");
                AssignAcademicYear(YearId);
                AddDateByAcYear(YearId);
                $('#Ach_allAcademicYearsA1').val(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            $('#Ach_allAcademicYearsA1').change(function (event) {
                event.preventDefault();
                $("#txt_doa_search").val("");
                $("#txt_doa").val("");
                var YearId = $('#Ach_allAcademicYearsA1').val();
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                   function (orderdetails) {
                });
                ListDateByAcYear(YearId);
               // $('#Ach_allAcademicYears').val(YearId);
            });

            var b;

            jQuery("#SchoolAchievementGrid").jqGrid({

                url: "/Achievement/SchoolAchievementResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['AchievementId', '@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Achievement")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("InvolvedMembers")', '', 'txt_doa_search', 'year_search', '@ResourceCache.Localize("Actions")'],
            colModel: [
                { key: true, hidden: true, name: 'AchievementId1', index: 'AchievementId1' },
                { key: false, name: 'Date', index: 'Date', align: 'center', sorttype: 'date', editable: true, width: 200 },
                { key: false, name: 'Achievement', index: 'Achievement', editable: true },
                { key: false, name: 'Descriptions', index: 'Descriptions', editable: true },
                { key: false, name: 'Name', index: 'Name', editable: true },
                { key: false, hidden: true, name: 'Id', index: 'Id', editable: true },
                { key: false, hidden: true, name: 'txt_doa_search', index: 'txt_doa_search' },
                { key: false, hidden: true, name: 'Ach_allAcademicYearsA1', index: 'Ach_allAcademicYearsA1' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#SchoolAchievementPager"),

            rowList: [10, 25, 50, 100],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,


            gridComplete: function () {
                var ids = jQuery("#SchoolAchievementGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    b = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_schoolAchievement btn_Edit ui-icon-pencil' id='" + b + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_schoolAchievement btn_Delete ui-icon-trash' id='" + b + "' value=''  title='@ResourceCache.Localize("Delete")' />";
                    jQuery("#SchoolAchievementGrid").jqGrid('setRowData', ids[i], { act: be + de });
                }
            },

        }).navGrid('#SchoolAchievementPager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#SchoolAchievementPager',
            {
                caption: " @ResourceCache.Localize("Excel") ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../Achievement/SchoolAchievementExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#SchoolAchievementPager',
            {
                caption: " @ResourceCache.Localize("Pdf") ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../Achievement/SchoolAchievement?pdf=true";
                }
            });

        $("#SchoolAchievementGrid").setCaption(' <span class="fa fa-table"></span>' + ' @ResourceCache.Localize("SchoolAchievementList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


        $('#SchoolAchievement_filterButton').click(function (event) {
            event.preventDefault();
            FacultyAchievement_filterGrid();
        });

        function FacultyAchievement_filterGrid() {

            var postDataValues = $("#SchoolAchievementGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#SchoolAchievementGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        };

        $(document).on('click', '.btn_edit_schoolAchievement', function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $('#txt_description').empty();
            $('#txt_people').empty();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            var id = $(this).attr('id');
            $.getJSON('/Achievement/EditSchoolAchievement', { passId: id },
               function (data) {
                   var maxLength = 250;
                   $("#div_EditSchoolAchievement").show();
                   $("#div_AddSchoolAchievement").hide();
                   $("#txt_EditDoa").val(data.date);
                   $("#txt_EditAchievement").val(data.achievement);
                   $("#txt_EditDescription").val(data.desc);
                   var length = $("#txt_EditDescription").val().length;
                   var length = maxLength - length;

                   $('#chars2').text(length);

                   $("#txt_EditPeople").val(data.peopleInvolved);
                   var length = $("#txt_EditPeople").val().length;
                   var length = maxLength - length;

                   $('#chars3').text(length);

                   $("#AchievementEId").val(id);
               });
        });


        $(document).on('click', '.btn_del_schoolAchievement', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/Achievement/DeleteSchoolAchievement', { passId: id },
                           function (data) {
                               if (data.Message != "" || data.Message != null) {
                                   $('#MandatoryFieldSuccessMessage_ListWthMsg').show();
                                   $('#SuccessText').text(data.Message);
                                   $("#SchoolAchievementGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                               }
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });



        var maxLength = 250;
        $('#txt_description').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);

        });
        //var maxLength = 250;
        $('#txt_people').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;

            $('#chars1').text(length);
        });
        $('#txt_EditDescription').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;

            $('#chars2').text(length);
        });
        $('#txt_EditPeople').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;

            $('#chars3').text(length);
        });
        $("#txt_EditAchievement").filter_input({ regex: '[0-9A-Za-z- &()-_]' });
        $("#txt_achievement").filter_input({ regex: '[0-9A-Za-z- &()-_]' });
        $("#Achievement").filter_input({ regex: '[0-9A-Za-z- &()-_]' });

        function AddDateByAcYear(Yid) {
            $("#txt_doa").datepicker("destroy");
            $("#txt_EditDoa").datepicker("destroy");
            $("#txt_doa_search").datepicker("destroy");

            $.getJSON("/Dashboard/CustomeActiveDate", { acid: Yid },
            function (data) {

                $(function () {
                    var dates = $("#txt_doa").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.sd,
                        maxDate: data.ed,
                        changeMonth: true,
                        changeYear: true,
                    });
                });

            });
        }

        function ListDateByAcYear(Yid) {
            $("#txt_doa").datepicker("destroy");
            $("#txt_EditDoa").datepicker("destroy");
            $("#txt_doa_search").datepicker("destroy");

            $.getJSON("/Dashboard/CustomeActiveDate", { acid: Yid },
            function (data) {

                $(function () {
                    var dates = $("#txt_doa_search").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.sd,
                        maxDate: data.ed,
                        changeMonth: true,
                        changeYear: true,
                    });
                });

            });
        }


        $("#btnCancel_EditSchoolAchievement").click(function () {

            $("#div_AddSchoolAchievement").show();
            $("#div_EditSchoolAchievement").hide();
            $('#txt_EditDescription').empty();
            $('#txt_EditPeople').empty();
            $('#txt_description').empty();
            $('#txt_people').empty();
            //Error Messages
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        // School Achievement

        $("#btnAddSchoolAchievement").click(function () {
            $('#MandatoryFieldSuccessMessage_ListWthMsg').hide();
            var Ach_allAcademicYears = $("#Ach_allAcademicYears").val();
            var txt_doa = $("#txt_doa").val();
            var txt_achievement = $("#txt_achievement").val();
            var txt_description = $("#txt_description").val();
            var txt_people = $("#txt_people").val();

            $("#Ach_allAcademicYears").addClass("current_button");
            $("#txt_doa").addClass("current_button");
            $("#txt_achievement").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Ach_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'txt_doa') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'txt_achievement') {

                        a.push('@ResourceCache.Localize("PleaseEnterAchievement")');
                    }
                }
                else {
                }
            });

            var comment = $('#txt_description').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterDescription")');
            }
            else {
                var txchar = $("#txt_description").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                }
            }

            var comment1 = $('#txt_people').val();
            if (comment1.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterPeopleInvolved")');
            }
            else {
                var txchar1 = $("#txt_people").val().replace(/ /g, '');
                if (txchar1.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterPeopleInvolved")');
                }
            }
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }


            $("#MandatoryFieldErrorMessage_Add").hide();


            var values = { Ach_allAcademicYears: Ach_allAcademicYears, txt_doa: txt_doa, txt_achievement: txt_achievement, txt_description: txt_description, txt_people: txt_people };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Achievement/AddSchoolAchievement',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#SchoolAchievementGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });


        $("#btnEditSchoolAchievement").click(function () {
            $('#MandatoryFieldSuccessMessage_ListWthMsg').hide();
            var txt_EditDoa = $("#txt_EditDoa").val();
            var txt_EditAchievement = $("#txt_EditAchievement").val();
            var txt_EditDescription = $("#txt_EditDescription").val();
            var txt_EditPeople = $("#txt_EditPeople").val();
            var AchievementEId = $("#AchievementEId").val();

            $("#txt_EditDoa").addClass("current_button");
            $("#txt_EditAchievement").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_EditDoa') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'txt_EditAchievement') {

                        a.push('@ResourceCache.Localize("PleaseEnterAchievement")');
                    }
                }
                else {
                }
            });

            var comment = $('#txt_EditDescription').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterDescription")');
            }
            else {
                var txchar = $("#txt_EditDescription").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                }
            }

            var comment1 = $('#txt_EditPeople').val();
            if (comment1.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterPeopleInvolved")');
            }
            else {
                var txchar1 = $("#txt_EditPeople").val().replace(/ /g, '');
                if (txchar1.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterPeopleInvolved")');
                }
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }

            $("#MandatoryFieldErrorMessage_Edit").hide();
            var values = { txt_EditDoa: txt_EditDoa, txt_EditAchievement: txt_EditAchievement, txt_EditDescription: txt_EditDescription, txt_EditPeople: txt_EditPeople, AchievementEId: AchievementEId };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Achievement/EditSchoolAchievement',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#SchoolAchievementGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });


    });
    </script>
}