﻿@model IEnumerable<eAcademy.ViewModel.AchievementList>
@using eAcademy.Models
@{
    ViewBag.Title = "StudentAchievement";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="div_EditStudentAchievement" style="display: none">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditStudentAchievement")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Date")<span class="glyphicon glyphicon-asterisk"></span></label></div>
                            <input class="col-lg-12" type="text" id="txt_EditDoa" name="txt_EditDoa" placeholder="@ResourceCache.Localize("DateOfAchievement")" title="@ResourceCache.Localize("AchievementDate")" required="required" readonly />
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Achievement")<span class="glyphicon glyphicon-asterisk"></span> </label></div>
                            <input class="col-lg-12" type="text" id="txt_EditAchievement" name="txt_EditAchievement" placeholder="@ResourceCache.Localize("Achievement")" title="@ResourceCache.Localize("Achievement")" required="required" />
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div><label class="input-label-sm">Description <span class="glyphicon glyphicon-asterisk"></span></label></div>
                            <textarea class="col-lg-12" id="txt_EditDescription" name="txt_EditDescription" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required"></textarea>
                            <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class="col-xs-6 btn-down">
                            <input type="hidden" id="AchievementEId" name="AchievementEId" />
                            <button type="button" class="btn btn-sm btn_update btn_double" id="btnEditStudentAchievement" title="@ResourceCache.Localize("Update")"><i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                        </div>
                        <div class=" col-xs-6  btn-down">
                            <button type="button" class="btn btn-sm btn_cancel " name="btnCancel_EditStudentAchievement" id="btnCancel_EditStudentAchievement" title="@ResourceCache.Localize("Cancel")"><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="div_AddStudentAchievement">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i>
                    <h3 class="box-title">@ResourceCache.Localize("AddStudentAchievement")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Ach_allAcademicYears", new SelectList(ViewBag.XallAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Ach_allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm"> @ResourceCache.Localize("Section") </label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Ach_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } })
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Ach_SectionStudent", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } })
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_doa" name="txt_doa" placeholder="@ResourceCache.Localize("DateOfAchievement")" title="@ResourceCache.Localize("AchievementDate")" required="required" readonly />
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Achievement")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_achievement" name="txt_achievement" placeholder="@ResourceCache.Localize("Achievement")" title="@ResourceCache.Localize("Achievement")" required="required" />
                        </div>
                        <div class="col-lg-12 col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <textarea class="col-lg-12" id="txt_description" name="txt_description" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required"></textarea>
                            <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class=" col-xs-6">
                            <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnStudentAchievement"><i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                        </div>
                        <div class=" col-xs-6">
                            <button type="reset" class=" btn  btn-sm btn_reset btn-down " title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset")</button>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("ManageStudentAchievement")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 btn-down">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>
                        @Html.DropDownList("Ach_allAcademicYearsA1", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="input-label-sm">@ResourceCache.Localize("Date")</label>
                        <input class="col-lg-3 filterItem" type="text" id="txt_doa_search" name="txt_doa_search" placeholder="@ResourceCache.Localize("DateOfAchievement")" title="@ResourceCache.Localize("AchievementDate")" required="required" readonly />
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <label class="input-label-sm">@ResourceCache.Localize("Achievement")</label>
                        <input class="col-lg-3 filterItem" type="text" id="Achievement" name="Achievement" placeholder="@ResourceCache.Localize("Achievement")" title="@ResourceCache.Localize("Achievement")" />
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <button type="button" id="filterButton" class="btn btn-sm btn_search filterItem btn-down"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 btn-down" id="div_Grid">
                    <table class="col-lg-12" id="grid"></table>
                    <div id="pager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("AreyouSureDelete?")</p>
        </div>

    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#Ach_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        $('#Ach_allAcademicYearsA1').val(@Session["List_ChosenAcademicYearId"]);
        Add_DateByAcYear(@Session["Add_ChosenAcademicYearId"]);
        List_DateByAcYear(@Session["List_ChosenAcademicYearId"]);

        $('#Ach_allAcademicYears').change(function (event) {
            $("#Ach_allClass").val("");
            $("#Ach_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Ach_SectionStudent").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            $("#txt_doa").val("");
            event.preventDefault();
            var YearId = $('#Ach_allAcademicYears').val();
            AssignAcademicYear(YearId);
            Add_DateByAcYear(YearId);
            $('#Ach_allAcademicYearsA1').val(YearId);
        });

        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $('#Ach_allAcademicYearsA1').change(function (event) {
            event.preventDefault();
            var YearId = $('#Ach_allAcademicYearsA1').val();
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                   function (orderdetails) {
                   });
            List_DateByAcYear(YearId);
           // $('#Ach_allAcademicYears').val(YearId);
        });

        $('#Ach_allClass').change(function (event) {
            $("#Ach_SectionStudent").val("");
            $("#Ach_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Ach_SectionStudent").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            event.preventDefault();
            LoadClassDetailsAch();
        });

        function LoadClassDetailsAch() {
            var ClassId = $('#Ach_allClass').val();
            $.getJSON('/Achievement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Ach_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Ach_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }

        $('#Ach_Section').change(function (event) {
            event.preventDefault();
            $("#Ach_SectionStudent").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            LoadStudentDetailsACS();
        });

        function LoadStudentDetailsACS() {
            var SectionId = $('#Ach_Section').val();
            var ClassId = $('#Ach_allClass').val();
            var YearId = $('#Ach_allAcademicYearsA1').val();
            $.getJSON('/Achievement/GetSectionStudents', { YearId: YearId, passClassId: ClassId, passSectionId: SectionId },
                function (orderdetails) {
                    $("#Ach_SectionStudent").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Ach_SectionStudent").append($('<option></option>').val(c.id).html(c.name));
                    });
                });
        }


        $("#btnStudentAchievement").click(function () {
            var Ach_allAcademicYears = $("#Ach_allAcademicYears").val();
            var Ach_allClass = $("#Ach_allClass").val();
            var Ach_Section = $("#Ach_Section").val();
            var Ach_SectionStudent = $("#Ach_SectionStudent").val();
            var txt_doa = $("#txt_doa").val();
            var txt_achievement = $("#txt_achievement").val();
            var txt_description1 = $("#txt_description").val();
            var text_count = $("#txt_description").count;


            $("#Ach_allAcademicYears").addClass("current_button");
            $("#Ach_allClass").addClass("current_button");
            $("#Ach_Section").addClass("current_button");
            $("#Ach_SectionStudent").addClass("current_button");
            $("#txt_doa").addClass("current_button");
            $("#txt_achievement").addClass("current_button");
            $('#MandatoryFieldSuccessMessage_ListWthMsg').hide();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Ach_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Ach_allClass') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Ach_Section') {

                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'Ach_SectionStudent') {

                        a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                    }
                    if (null_id == 'txt_doa') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'txt_achievement') {

                        a.push('@ResourceCache.Localize("PleaseEnterAchievement")');
                    }
                }
                else {
                }
            });

            var comment = $('#txt_description').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterDescription")');
            }
            else {
                var txchar = $("#txt_description").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                }
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }


            $("#MandatoryFieldErrorMessage_Add").hide();

            var values = { Ach_allAcademicYears: Ach_allAcademicYears, Ach_allClass: Ach_allClass, Ach_Section: Ach_Section, Ach_SectionStudent: Ach_SectionStudent, txt_doa: txt_doa, txt_achievement: txt_achievement, txt_description: txt_description1 };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Achievement/StudentAchievement',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {

                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#grid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });
        var cl;

        jQuery("#grid").jqGrid({
            shrinkToFit: false,
            url: "/Achievement/AchievementResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['AchievementId', '@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Achievement")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Name")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("Section")', 'txt_doa_search', 'year_search', '@ResourceCache.Localize("Actions")'],
            colModel: [
                { key: true, hidden: true, name: 'AchievementId1', index: 'AchievementId1' },
                { key: false, name: 'Date', index: 'Date', align: 'center', sorttype: 'date', editable: true, width: 200 },
                { key: false, name: 'Achievement', index: 'Achievement', editable: true },
                { key: false, name: 'Descriptions', index: 'Descriptions', editable: true },
                { key: false, name: 'Name', index: 'Name', editable: true },
                { key: false, name: 'Class', index: 'Class', editable: true },
                { key: false, name: 'Section', index: 'Section', editable: true },
               // { key: false, name: 'Id', index: 'Id', editable: true },
                { key: false, hidden: true, name: 'txt_doa_search', index: 'txt_doa_search' },
                { key: false, hidden: true, name: 'Ach_allAcademicYearsA1', index: 'Ach_allAcademicYearsA1' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager"),

            rowList: [10, 25, 50, 100],
            height: '100%',
            viewrecords: true,
            caption: 'Achievement List',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            // multiselect:true,

            gridComplete: function () {
                var ids = jQuery("#grid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    cl = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_StudentAchievement btn_Edit ui-icon-pencil' id='" + cl + "' value=''  title='@ResourceCache.Localize("Edit")'/>";
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_StudentAchievement btn_Delete ui-icon-trash' id='" + cl + "' value='' title='@ResourceCache.Localize("Delete")'/>";
                    jQuery("#grid").jqGrid('setRowData', ids[i], { act: be + de });
                }
            },

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager',
            {
                caption: " @ResourceCache.Localize("Excel") ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../Achievement/ExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager',
            {
                caption: " @ResourceCache.Localize("Pdf")  ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../Achievement/StudentAchievement?pdf=true";
                }
            });

        $("#grid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("StudentAchievementList")');

        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')



        $('#filterButton').click(function (event) {
            event.preventDefault();
            filterGrid();
        });

        function filterGrid() {

            var postDataValues = $("#grid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');

            $("#grid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };


        $(document).on('click', '.btn_edit_StudentAchievement', function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $('#txt_description').empty();

            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            var id = $(this).attr('id');
            $.getJSON('/Achievement/EditStudentAchievement', { passId: id },
               function (data) {
                   var maxLength = 250;
                   $("#div_EditStudentAchievement").show();
                   $("#div_AddStudentAchievement").hide();
                   $("#txt_EditDoa").val(data.date);
                   $("#txt_EditAchievement").val(data.achievement);
                   $("#txt_EditDescription").val(data.desc);
                   var length = $("#txt_EditDescription").val().length;
                   var length = maxLength - length;

                   $('#chars1').text(length);
                   $("#AchievementEId").val(id);
               });
        });


        $(document).on('click', '.btn_del_StudentAchievement', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/Achievement/DeleteStudentAchievement', { passId: id },
                           function (data) {
                               if (data.Message != "" || data.Message != null) {
                                   $('#MandatoryFieldSuccessMessage_ListWthMsg').show();
                                   $('#SuccessText').text(data.Message);
                                   $("#grid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                               }
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });


        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
            $('#chars1').text(length);
        });
        $("#txt_EditAchievement").filter_input({ regex: '[0-9A-Za-z- &()-_]' });
        $("#txt_achievement").filter_input({ regex: '[0-9A-Za-z- &()-_]' });
        $("#Achievement").filter_input({ regex: '[0-9A-Za-z- &()-_]' });

        function Add_DateByAcYear(Yid) {
            $("#txt_doa").datepicker("destroy");

            $.getJSON("/Dashboard/CustomeActiveDate", { acid: Yid },
            function (data) {

                $(function () {
                    var dates = $("#txt_doa").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.sd,
                        maxDate: data.ed,
                        changeMonth: true,
                        changeYear: true,
                    });
                });

            });
        }

        function List_DateByAcYear(Yid) {
            $("#txt_doa_search").datepicker("destroy");

            $.getJSON("/Dashboard/CustomeActiveDate", { acid: Yid },
            function (data) {

                $(function () {
                    var dates = $("#txt_doa_search").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.sd,
                        maxDate: data.ed,
                        changeMonth: true,
                        changeYear: true,
                    });
                });

            });
        }

        

        $("#btnCancel_EditStudentAchievement").click(function () {

            $("#div_AddStudentAchievement").show();
            $("#div_EditStudentAchievement").hide();
            $('#txt_EditDescription').empty();
            $('#txt_description').empty();
            //Error Messages
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
        });

        $("#btnEditStudentAchievement").click(function () {
            $('#MandatoryFieldSuccessMessage_ListWthMsg').hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").hide();
            $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
            var txt_EditDoa = $("#txt_EditDoa").val();
            var txt_EditAchievement = $("#txt_EditAchievement").val();
            var txt_EditDescription = $("#txt_EditDescription").val();
            var AchievementEId = $("#AchievementEId").val();


            $("#txt_EditDoa").addClass("current_button");
            $("#txt_EditAchievement").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_EditDoa') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'txt_EditAchievement') {

                        a.push('@ResourceCache.Localize("PleaseEnterAchievement")');
                    }
                }
                else {
                }
            });

            var comment = $('#txt_EditDescription').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterDescription")');
            }
            else {
                var txchar = $("#txt_EditDescription").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                }
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Edit").show();
                $(".Edit_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Edit_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Edit").hide();
            }


            $("#MandatoryFieldErrorMessage_Edit").hide();
            var values = { txt_EditDoa: txt_EditDoa, txt_EditAchievement: txt_EditAchievement, txt_EditDescription: txt_EditDescription, AchievementEId: AchievementEId };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Achievement/EditStudentAchievement',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $("#grid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });

    });
</script>
}