﻿@model IEnumerable<eAcademy.ViewModel.AchievementList>
@using eAcademy.Models;
@if (ViewBag.empRegId != null)
{
    ViewBag.Title = "SchoolAchievement";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
else
{
    ViewBag.Title = "SchoolAchievement";
    Layout = "~/Views/Shared/StudentAfterLogin.cshtml";
}
@if (Session["StudentRegId_SessionAttribute"] != null)
{
    @Html.Partial("~/Views/Shared/NavbarHeader.cshtml")
}
@if (ViewBag.empRegId != null)
{
    @Html.Partial("~/Views/Shared/SubMenus.cshtml")
}
else
{
    <section class="maincontent-header">
        <div class="s_head h_head col-lg-12">
            @ResourceCache.Localize("SchoolAchievement")
            <div class="row">
                <div class="col-lg-12 col-xs-12 sitemapBgcolor">
                    <div class="btn-group btn-breadcrumb">
                        <a href="/DashboardStudent/Dashboard" class="btn btn-info"><i class="fa fa-dashboard"></i></a>
                        <a href="/Achievements/StudentAchievement" class="btn btn-info">@ResourceCache.Localize("Achievement")</a>
                        <a href="/Achievements/SchoolAchievement" class="btn btn-info">@ResourceCache.Localize("SchoolAchievement")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <ul class="nav nav-tabs">
        <li><a href="~/Achievements/StudentAchievement">@ResourceCache.Localize("StudentAchievement")</a></li>
        <li><a href="~/Achievements/FacultyAchievement">@ResourceCache.Localize("FacultyAchievement")</a></li>
        <li><a href="~/Achievements/SchoolAchievement">@ResourceCache.Localize("SchoolAchievement")</a></li>
    </ul>
}
<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("SchoolAchievement")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form>
                        <div class="box-body row border-radius-none btn-down">
                            <div class="col-lg-3">
                                <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>
                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"), new { @class = "filterItem" })
                            </div>
                            <div class="col-lg-3">
                                <label class="input-label-sm">@ResourceCache.Localize("Date")</label>
                                <input class="col-lg-3 filterItem" type="text" id="txt_doa_search" name="txt_doa_search" placeholder="@ResourceCache.Localize("DateOfAchievement")" title="@ResourceCache.Localize("DateOfAchievement")" required="required" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label class="input-label-sm">@ResourceCache.Localize("Achievement")</label>
                                <input class="col-lg-3 filterItem" type="text" id="Achievement" name="Achievement" placeholder="@ResourceCache.Localize("Achievement")" title="@ResourceCache.Localize("Achievement")" />
                            </div>
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-sm btn_submit filterItem btn-down" id="btnSM_SchoolAchievement"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Search")</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="School_Achievement_grid"></table>
                        <div id="School_Achievement_pager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);
            DateByAcYear(@Session["Add_ChosenAcademicYearId"]);

            $('#AcademicYear').change(function (event) {
                event.preventDefault();
                var YearId = $('#AcademicYear').val();
                AssignAcademicYear(YearId);
                DateByAcYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            function DateByAcYear(Yid) {
                $("#txt_doa").datepicker("destroy");
                $("#txt_EditDoa").datepicker("destroy");
                $("#txt_doa_search").datepicker("destroy");

                $.getJSON("/Report/CustomeActiveDate", { acid: Yid },
                function (data) {

                    $(function () {
                        var dates = $("#txt_doa_search").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true,
                        });
                    });

                });
            }

            jQuery("#School_Achievement_grid").jqGrid({
                url: "/Achievements/SchoolAchievementResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Achievement")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Name")'],
                colModel: [
                    { key: false, name: 'Date', index: 'Date' },
                    { key: false, name: 'Achievement', index: 'Achievement' },
                    { key: false, name: 'Descriptions', index: 'Descriptions' },
                    { key: false, name: 'Name', index: 'Name' },
                ],
                pager: jQuery("#School_Achievement_pager"),
                rowList: [50, 100, 250, 500, 1000],
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,

            }).navGrid('#School_Achievement_pager', { edit: false, add: false, del: false, search: false, refresh: false }
             ).jqGrid('navButtonAdd', '#School_Achievement_pager',
             {
                 caption: "@ResourceCache.Localize("Excel")  ",
                 buttonicon: "ui-icon-bookmark",
                 onClickButton: function () {
                     window.location.href = "../Achievements/SchoolAchievement_ExportToExcel";
                 }
             }).jqGrid('navButtonAdd', '#School_Achievement_pager',
             {
                 caption: "@ResourceCache.Localize("Pdf")  ",
                 buttonicon: "ui-icon-print",
                 position: "last",
                 onClickButton: function () {
                     window.location.href = "../Achievements/SchoolAchievement_ExportToPdf";
                 }
             });
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

            $("#School_Achievement_grid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("SchoolAchievementList")');

            $('#btnSM_SchoolAchievement').click(function (event) {
                event.preventDefault();
                SM_FacultyAchievement_filterGrid();
            });

            function SM_FacultyAchievement_filterGrid() {
                var postDataValues = $("#School_Achievement_grid").jqGrid('getGridParam', 'postData');
                var newdt;
                $('.filterItem').each(function (index, item) {
                    if (index == 1) {
                        var dt = $(item).val().split('/');
                        newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                    }
                    else {
                        newdt = $(item).val();
                    }
                    postDataValues[$(item).attr('id')] = newdt;
                });
                $('#School_Achievement_grid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            };
        });
    </script>
}