﻿.blur{
    z-index: 0;
} 
.nright {
display:inline-block; 
}
.pad-right {
 padding-right:20px;
    }
.pad-left {
 padding-right:20px;
    }
.stud1 .sname1{ 
color:white;
}
.panel-footer {
    background-color: transparent;
}
.panel-primary1 i {
margin-left:10px;
}
.panel .text-right {
margin-top: 8px;
}
#Stu_Attendance_Chart {
width:100%;
height:290px;
}

    #totalstudent {
    font-size:30px;
    }
 .flip-clock-wrapper {
    text-align: center;
    position: relative;
    margin: 9px -1px 10px;
    position: relative;
    top: 10px;
}
.container-content .nav li a {
    color:white;
}
#sendEmail {
margin-top:10px;
}

#quick::-webkit-input-placeholder,
.quick::-webkit-input-placeholder
{
    color:    white;opacity:1;

}
#quick:-moz-placeholder,
.quick:-moz-placeholder 
{
    color:    white;opacity:1;
}
#quick::-moz-placeholder,
.quick::-moz-placeholder 
{
    color:    white;opacity:1;
}
#quick:-ms-input-placeholder,
.quick:-ms-input-placeholder 
{
    color:    white;opacity:1;
}

.quick {
background-color: transparent;
color: white;
border-color:grey;
border-radius:2px;
}
#quick {
background-color: transparent;
color: white;
border-color:grey;
border-radius:4px;
}
#quick:focus ,.quick:focus{
    background: white none repeat scroll 0% 0%;
text-indent: 0px;
z-index: 1;
color: black;
opacity:1;
    border-color: black !important;
    box-shadow: none;
}
 
 
.box {      background: rgba(255, 255, 255, 0.20) none repeat scroll 0% 0%;    }
    .dash { height:100px; }
    .dash > .row > .fo > div > p {  overflow-y:visible; }
    .box .box-header .fa { padding: 6px 6px 0px 10px;background-color:transparent !important; }
    .box-footer {  margin-top: -10px;  }
    .fc-toolbar h2 {  margin: 0px;font-family: 'Pontano Sans', sans-serif;}

    .fc-toolbar .ui-button, .fc-toolbar .ui-state-active {
      text-transform:uppercase;
      font-size: 11px;
    border: 1px solid #000000;
      letter-spacing: 1px;
    font-weight: 900;
}
.ui-state-hover{
background-color: gray !important;
}            
    .ui-widget-content {
    border: 1px solid rgb(164, 164, 164);
    background:transparent;
    color: #362B36;
}
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ACB1B8;
        border-style:double;
}
    .fc-day-grid-event > .fc-content {
    white-space: nowrap;
    margin-left: 6px;
}
    .fc-day-grid-event > .fc-content:hover {
    white-space: nowrap;
    overflow: auto;
     width: 100%;
}
    .fc-sun ,.fc-sat{
        
        color: #D51610 !important;
                text-shadow: 1px 0 white, 0 1px white, 1px 0 white, 0 1px white;
    }
.fc-right{
display:none !important;
}
.fc-center {
float:right !important;
}
.fc-toolbar .fc-left {
    margin-top: 5px;
}
    .ui-widget-content {
   /*border: 1px solid #FFF;*/
   color:black;
    }
    .ui-widget-header {   
        padding: 10px;
            border: 1px solid #FFFFFF;
    }

    .glyphicon-asterisk {
      color: #D51610;
    }
    .fc-toolbar h2 {
        /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
    .fc th {
        letter-spacing: 2px;
    }
    .ui-button {
    background-color:transparent;border:1px solid black;
    }
    .fc-event {
        border: none;
        background-color: transparent;
    }
.fc-event, .fc-event:hover, .ui-widget .fc-event {
    color: #FFF;
    text-decoration: none;
background: transparent linear-gradient(to bottom, #ED5353 0%, #E00000 100%) repeat scroll 0% 0%;
background: -moz-linear-gradient(to bottom, #ED5353 0%, #E00000 100%) repeat scroll 0% 0%; /* FF3.6+ */
background: -webkit-gradient(to bottom, #ED5353 0%, #E00000 100%) repeat scroll 0% 0%; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(to bottom, #ED5353 0%, #E00000 100%) repeat scroll 0% 0%; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(to bottom,#ED5353 0%, #E00000 100%) repeat scroll 0% 0%; /* Opera 11.10+ */
background: -ms-linear-gradient(to bottom, #ED5353 0%, #E00000 100%) repeat scroll 0% 0%; /* IE10+ */
background: linear-gradient(to bottom, #ED5353 0%, #E00000 100%) repeat scroll 0% 0%; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
    /*bb{
    background-image: linear-gradient(45deg, rgba(33, 33, 33, 0.8), rgba(164, 164, 164, 0.7));
    background-image: -webkit-linear-gradient(45deg, rgba(33, 33, 33, 0.8), rgba(164, 164, 164, 0.7));
background-image: -moz-linear-gradient(45deg, rgba(33, 33, 33, 0.8), rgba(164, 164, 164, 0.7));
	background-image: -o-linear-gradient(45deg, rgba(33, 33, 33, 0.8), rgba(164, 164, 164, 0.7));
	background-image: -ms-linear-gradient(45deg, rgba(33, 33, 33, 0.8), rgba(164, 164, 164, 0.7));
    }*/
    .bb {
  background-color: rgba(198, 198, 198, 0.2);
    }
    .ui-state-default .ui-icon {
        background-image: url('../Images/ui-icons_222222_256x240.png');
    }
    .ui-state-default:hover {
    color:white;
    background-color:gray;
    }
 thead {background-color: transparent; }
 body .fc {
        
}
 .ui-state-default .ui-icon {
    background-image: url('../Images/ui-icons_222222_256x240.png') !important;
}
    .fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: 900;
    }
 
 .fc-row .fc-content-skeleton {
    position: relative;
    z-index: 4;
    padding-bottom: 2px;
    height: 76px !important;  
}
.fc-content-skeleton {
overflow-y:auto;
overflow-x:hidden;
position:absolute;
}
 

 tbody .fc-event-container{overflow-y:auto;}
 .panel {
     height:111px;
     overflow:auto; 
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
    .panel i {
    margin-top: 18px;
margin-left: 6px;
    }
 .panel-primary1 {
color: #FFF;
background-color: #0981E9;
}
 .panel-green {
color: #FFF;
background-color: #25B325;
}
 .panel-yellow {
color: #FFF;
background-color: #FEBD3B;
}
 .panel-red  {
color: #FFF;
background-color: #AE2723;
}
 .animation-pullDown {
    animation-name: pullDown;
    animation-duration: 1.1s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0px 0px;
} 
    @media(min-width:1280px) and (max-width:1919px) {
        .col-lg-3 {    width: 50%;}
    }
    .box .box-body {
         margin-top: 0px;
    }
@media(min-width:768px) and (max-width:1023px) {
    .flip-clock-wrapper {
        text-align: center;
        position: relative;
        margin: 11px 0px 5px;
    }

    .flip-clock-wrapper {
        font: 29px "Helvetica Neue",Helvetica,sans-serif;
    }



    .box .box-body {
        margin-top: 0px;
    }

    .hider {
        display: block;
    }
}
       @media(min-width:1000px) and (max-width:1030px) {
.flip-clock-wrapper {
    text-align: center;
    position: relative;
    margin: 9px -12px 10px;
}
    }
     @media(max-width:600px) {

     /*.hider {
    display:none;
    }*/
        .huge h4 {
        font-size:16px;
        }
    }
         .container-content .nav li a {
    color:white;
    }
             .quick :focus {
        border-color: white;
    }
 .colors1 {
                color: green;
            }

            .colors2 {
                color: crimson;
            }

            input[type="submit"] {
                margin-top: 10px;
                margin-left: 18px;
            }

            input[type="button"] {
                margin-top: 10px;
                margin-left: 18px;
            }

            /*.navbar-inverse {
                background-color: rgba(0, 0, 0, 0.4);
            }*/

            .fifty {
                background-color: rgba(0, 0, 0, 0.4);
            }

            .ninty {
                background-color: rgba(0, 0, 0, 1);
            }

            .s_bar > span {
                margin: 0px -3px 20px !important;
                font-size: 14px;
                color: #FFF;
                position: relative;
                transition: all 2s ease-in-out 0s;
                padding: 0px;
                top: -9px;
                line-height: 25px;
                cursor: pointer;
                padding-right: 26px;
                z-index: 100;
            }

                .s_bar > span > a {
        font-family: Helvetica,Arial,sans-serif;
                    font-weight: normal;
                    overflow: hidden;
                    display: none;
                    margin-left: 33px;
                    border: 1px solid #837373;
                    color: #FFF;
                    width: 267px;
                    margin-top: -35px !important;
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 9px 0px 13px 50px;
                    left: -46px;
                    position: absolute;
                    z-index: -1;
                    text-align: left;
                }

                .s_bar > span:hover a {
                    display: block;
                    -webkit-transition: All 0.5s ease;
                    -moz-transition: All 0.5s ease;
                    -ms-transition: All 0.5s ease;
                    -o-transition: All 0.5s ease;
                    transition: All 0.5s ease;
                }

                .s_bar > span:hover ul {
                    display: block;
                    list-style: none;
       
                    font-weight: normal;
                    overflow: hidden;
                    margin-left: 33px;
                    color: #FFF;
                    width: 218px;
                    margin-top: -35px !important;
                    background-color: rgba(0, 0, 0, 0.8);
                    top: 74px;
                    left: 2px;
                    position: absolute;
                    z-index: -1;
                    text-align: left;
                    -webkit-transition: All 0.5s ease;
                    -moz-transition: All 0.5s ease;
                    -ms-transition: All 0.5s ease;
                    -o-transition: All 0.5s ease;
                    transition: All 0.5s ease;
                }


                .s_bar > span > ul > li > a {
                    font-family: Helvetica,Arial,sans-serif;
                    padding: 8px 21px;
                    color: #FFF !important;
                    margin-left: -49px;
                }

                .s_bar > span > ul {
                    display: none;
                }

            .s_bar > li, s_bar > li > ul > li > a {
                list-style: none;
            }

                .s_bar > li > span {
                    margin: 0px -3px 20px !important;
                    font-size: 14px;
                    color: #FFF;
                    position: relative;
                    transition: all 2s ease-in-out 0s;
                    padding: 0px;
                    top: -9px;
                    cursor: pointer;
                }

            .s_bar > a {
                display: none;
            }

            .s_bar > li > span > a {

                font-weight: normal;
                overflow: hidden;
                display: none;
                margin-left: 33px;
                border: 1px solid #837373;
                color: #FFF;
                width: 267px;
                margin-top: -35px !important;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 9px 0px 13px 50px;
                left: -46px;
                position: absolute;
                z-index: -1;
                text-align: left;
            }

            }

            .s_bar > li > span:hover a {
                display: block;
            }

            .s_bar > li > span > a {
       
                font-weight: normal;
                display: none;
                margin-left: 33px;
                border: 1px solid #837373;
                color: #FFF;
                width: 267px;
                margin-top: -35px !important;
                background-color: rgba(0, 0, 0, 0.2);
                padding: 9px 141px 13px 46px;
                left: -46px;
                position: absolute;
                z-index: -1;
            }

                .s_bar > li > span > a:hover a {
                    display: block;
                }

            .s_bar > span > ul > li > a:hover {
                color: #FFF;
                background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
            }
            /*.s_bar > li > a {
        display:none;
        }*/
 
            .navbar-right {
    float: right !important;
    margin-right: 0px;
}
 
.side_menu1 {
padding: 9px 25px 0px 50px;
}
           
            /* sarvesh styles*/
             /* Calendar */
            .fc-center h2 {
                color: white;
            }
            @media(min-width:1280px) and (max-width:1919px){
                .fc-center h2 {
                    color: #FFF;
                    font-size: 20px;
                }
}
@media(min-width:1280px) and (max-width:1919px) {
    .s_head {

        margin-left: 17px;
    }
    .fc-scroller {
    overflow-y: hidden;
    overflow-x: hidden;
}
    .ui-widget-header {
    background-color: transparent;
    padding: 0px;
    border: 1px solid #FFF;
}
.fc-row .fc-content-skeleton {
    position: relative;
    z-index: 4;
    padding-bottom: 2px;
    height: 48px !important;
    overflow: auto;
}
.fc th, .fc td {
    font-size: 13px;
}
}

@media (max-width:1024px) {
    .my {
        width: 50%; 
    }
}
@media (max-width:550px) {
    .my {
        width: 100%; 
    }
}
@media (max-width:1730px) {
    .panel {
    height: 100px;
    min-width:215px;
    }
    #totalstudent {
    font-size:16px;
    }
    .panel .text-right {
    margin-top: 1px;
    }
    .panel .fa-5x {
    font-size: 41px;
    margin-left: -4px;
    }
    .panel i {
    margin-top: 26px;
    }
    .panel h4 {
    font-size: 14px;
    font-weight: 700 !important;
    }
    .panel label{
    font-weight: 100 !important;
    font-size: 12px;
    }
    .panel-red,.panel-yellow,.panel-primary1 {
    padding-top: 0px !important;
    }
    .flip-clock-wrapper ul li a div div.inn {
    font-size: 20px;
    }
    .flip-clock-wrapper ul li {
    width: 50%;
    }
    .panel-green p {
    font-weight: 100 !important;
    font-size: 24px !important;
    }
    .flip-clock-wrapper ul {
    margin: 8px -19px 0px 0px;
    height: 35px;
    width: 40px;
    line-height: 38px;
    font-size: 11px !important;
    }
    .flip-clock-wrapper {
    position: absolute !important;
    right: 10px;
    top: 11px;
    overflow:hidden;
    }
    .flip-clock-divider {
    width: 4px;
    left: -2px;
    }
    #Stu_Attendance_Chart, #Stu_Attendance_Chart canvas {
width:100%;
height:240px;
}
    .panel-footer {
        padding: 5px 15px;
    }
}