﻿ 





.tabs #header_student img{ 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
     -webkit-animation-delay: 0s;    animation-delay: 0s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
         animation-name: fadeInDown;
         -webkit-animation-name: fadeInDown;
}  
.tabs #header_parent img{ 
    -webkit-animation-duration: 0.5s;     animation-duration: 0.5s;       -webkit-animation-delay: 0.15s;    animation-delay: 0.15s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
.tabs #header_admin img{ 
    -webkit-animation-duration: 0.5s;     animation-duration: 0.5s;        -webkit-animation-delay: 0.30s;    animation-delay: 0.30s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;    animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
@-webkit-keyframes fadeInDown {     0% {         opacity: 0;         -webkit-transform: translateY(-30px);     }     100% {         opacity: 1;         -webkit-transform: translateY(0);     } } 
@keyframes fadeInDown {     0% {         opacity: 0;         transform: translateY(-30px);     }     100% {         opacity: 1;         transform: translateY(0);     } } 




 


 