

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {	
    -webkit-font-smoothing: subpixel-antialiased;
     -webkit-transform-style: preserve-3d;
     text-rendering: inherit;
  -moz-osx-font-smoothing: grayscale;
    background:transparent;
	min-height:100%; 	
	line-height: 1.5em;
	font-size:14px;
      min-height: 100%;
  min-width:100%;
  position:absolute;
	color:black;
	margin:0px;
font: 13px/1.2 Arial,sans-serif;
color: #222;
  overflow-x: hidden!important;
   /*background: #f9f9f9;*/  
}
body {

}
.skin {
display:inline-block;
width:20px;
height:20px;
}
.skin1 {
background-color:black;
}
.skin2 {
background-color:white;
}
.skin3 {
background-color:red;
}
.form_box
{
	width: 360px;
	margin: 90px auto 0px;
	background-color:#eaeaec !important;
}   
   
.form_body
 {
   padding: 10px 20px;
}

.form_footer
 {
   padding: 10px 20px;
  
}
   
.logo_icon
{

    width:100px;
    height:100px;
}

hr 
{ display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}



a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}





.sidebar {
  display: block;
  float: left;
  width: 250px;
  background: #333;
   z-index: 100;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
 /* background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);*/
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav ul li,
.sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  /*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);*/
}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  /*background-color: rgba(255, 255, 255, 0.1);*/
}
.sidebar-nav ul ul a:hover,
.sidebar-nav ul ul a:focus,
.sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}

.user-panel {
  padding: 10px;
}
.user-panel:before,
.user-panel:after {
  display: table;
  content: " ";
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 45px;
  height: 45px;
}
.user-panel > .info {
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  line-height: 1;
}
.user-panel > .info > p {
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}



img {
    max-width: 100% !important;
}

.mainlogo
{
	height:60px;width:75px;
}



.topbar {
   
    padding: 50px 20px;
	
   
}


.right-side > .content-header {
    position: relative;
    padding: 15px 15px 10px 20px;
}

.right-side > .content-header > .breadcrumb {
    
    background: none repeat scroll 0% 0% transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 7px 5px;
    position: relative;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.bg-primary
{
	
 background-color:#3C8DBC;
}


.col-lg-12 {
    width: 100%;
}


.custom-navbar-toggle {
    margin-bottom: 8px;
    float: right;
    position: relative;
    margin-top: 8px;
    padding: 9px 10px;
    margin-right: 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-image: none;
    background-color: transparent;
}


.icon-bar {
    background-color: #FFF;
}


.sidebar_wrap
  {
	height:100%;
    margin-top:71px;
	
  }

@media (max-width: 157px)
{

.sidebar_fix
  {
  margin-top:180px;
  width:140px;
  }
  
   .primary_bar
  {
  margin-top:270px;
  }
body {font-size:1.0rem;}
.h_title
{
	color:white;font-size:10px; 
}  

}


@media (min-width: 158px) and (max-width: 213px)
{

.sidebar_fix
  {
  margin-top:140px;
  width:200px;
 
  }
 .primary_bar
  {
  margin-top:210px;
  }
  
.navbar_top
{

margin-left:0px; 
}
}




@media (min-width: 320px) and (max-width: 328px) {
  
  .primary_bar {
    margin-top: 128px !important;
}
}


@media (max-width: 360px) {
  .form_box {
    width: 90%;
  }  
}



@media (max-width: 767px) {

.header_box
  {
   text-align:center;
   width: 100%;
  }
  .sidebar_fix
  {
  margin-top:101px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1030;
  }
  
  .primary_bar
  {
  margin-top:110px;
  }
  
  .sidebar_wrap
  {
  display:none;
  }
  
  
  .navbar_top
{

margin-left:0px; 
}
}

/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 768px) {
 
  .navbar-nav > .user-menu > .dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    background: #ffffff;
  }
  
  
  
 
 
}


@media (min-width: 768px) and (max-width: 990px) {

.h_title
{
	color:white;font-size:14px; 
}   
  
   .primary_bar
  {
  margin-top:120px;
  margin-left: 250px;
  }
  .sidebar_wrap
  {
  display:block !important;
  position: fixed;
  right: 0px;
  left: 0px;
  
  }
  
.navbar_top
{
padding:0px;

}



}


@media (min-width: 993px) {
 .primary_bar
  {
  
  margin-left: 30px;
  }
}



@media (min-width: 991px) and (max-width:992px) {
 .primary_bar
  {margin-left: 250px;
 
  }
}
@media (min-width: 991px) {
 .primary_bar
  {
  margin-top:140px;
  
  }
  
  .h_title
{
	color:white;font-size:12px; 
}   
   .sidebar_wrap
  {
  display:block !important;
  position: fixed;
  right: 0px;
  left: 0px;

  }
  
.navbar_top
{
padding:0px;


}



}


/*font size*/
@media (min-width: 158px) and (max-width: 319px){

body {font-size:1.1rem;} 

.h_title
{
	color:white;font-size:8px; 
}   
 .primary_bar {
    margin-top: 128px;
}


}

@media (min-width: 310px) and (max-width: 360px) { 
body {font-size:1.15rem;}
.h_title
{
	color:white;font-size:10px; 
}   
.primary_bar {
    margin-top: 128px;
}


 } 

@media (min-width: 361px) and (max-width: 480px) { 
body {font-size:1.15rem;}
.h_title
{
	color:white;font-size:11px; 
}   


 } 
@media (min-width: 481px) and (max-width: 640px) { 
body {font-size:1.2rem;}
.h_title
{
	color:white;font-size:12px; 
}   


 }
@media (min-width:641px) and (max-width: 800px) { 

body {font-size:1.3rem;}



 } 
@media (min-width:841px) and (max-width: 891px) { 

body {font-size:1.4rem;} 
.h_title
{
	color:white;font-size:14px; 
}   


} 


@media (min-width:892px) and (max-width: 1280px) { 

body {font-size:1.4rem;} 
.h_title
{
	color:white;font-size:14px; 
}   


} 



@media (min-width:991px) and (max-width: 1158px) { 

.primary_bar
  {
  margin-top:120px;
 
  }

}

@media (min-width:1159px) and (max-width: 1199px) { 

.primary_bar
  {
  margin-top:70px;
 
  }

}




@media (min-width:1200px) 
{
body {font-size:1.5rem;} 
.h_title
{
	color:white;font-size:14px; 
}  
.primary_bar
  {
  margin-top:71px;
  margin-left: 30px;
  }
}




@media (min-width:1281px) 
{
body {font-size:1.5rem;} 
.h_title
{
	color:white;font-size:16px; 
	
	
}  
.primary_bar
  {
  margin-top:71px;
  margin-left: 30px;
  }
}



@media (min-width:1409px)
{
body {font-size:1.5rem;} 
.h_title
{
	color:white;font-size:18px; 
	
	
}  
.primary_bar
  {
  margin-top:71px;
  margin-left: 30px;
  }
}

@media (min-width:1880px)
{
body {font-size:1.5rem;} 
.h_title
{
	color:white;font-size:20px; 
	
	
}  
.primary_bar
  {
  margin-top:71.4px;
  margin-left: 30px;
  }
}
.navbar {
	margin-bottom:-1px;
    border-radius:0;
}

#submenu {
    background-color: #e7e7e7;
    margin-bottom:20px;
}

.collapsing {
	display:none;
}


/*#nav1 li.active
{
background-color:darkgray;
color:white;
}*/


.dynamicactive
{

    background-color:#C3B9B9;
    color:#333 ! Important;
}

#nav2 li.active
{


}

#nav2 li.active a
{
    color:#2A6496;
}
.navbar-inverse {
   
    border-color:#222222;
}


[class*="col-"]{
      margin-bottom:5px;
      margin-top:5px;
  }

/*a {
    color: #222222;
}*/

.secondary-menu
{
background-color: #F1E9E9;
z-index: 2000;
margin-top: -11px;
width: 1653px;
margin-left: -20px;
padding: 0px;
}


.s_menu
{
background-color: #F1E9E9;
position: fixed;
width: 1680px;
z-index: 1000;
padding:0px;
}

.s_head
{
   margin-top: -20px;
margin-left: -25px;
}

 .bcolor
   {
    background-color:#222222 !important; 
 }


 .breadcrumb {
    padding: 0px 0px;
    margin-bottom: -10px;
    list-style: outside none none;
    background-color: #F1E9E9;
    border-radius: 4px;
}


.Highlighted a {
        /*background-color : blue !important;*/
        background-image: none !important;
        color: red !important;
        font-weight: bold !important;
        font-size: 12pt;
    }

    .ui-datepicker td.ui-state-disabled > span {
        background: #3C8DBC;
    }

    .ui-datepicker td.ui-state-disabled {
        opacity: 100;
    }


    .ui-datepicker1 {
    width: auto;
    padding: 0.2em 0.2em 0px;
    display: none;
}

.glyphicon {
position: relative;
top: 1px !important;
display: inline-block;
font-family: Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 1;
color:red;
font-size:20px;
}
@media print{.noprint{display:none;}}



