 
.Active_Print{
    display:none;
    
}
.pass {
width:50px;
}
.fee h3 {color:white}
     .fee i {color:white}
     .rm-line{border:none !important}
   .colors1 {
            color: green;
        }

        .colors2 {
            color: crimson;
        }

        .Err {
            color: crimson;
        }
         .rc {
        background-color: rgba(255, 255, 255, 0.50);
        margin-top: 0px;
        padding-top: 20px;
    }
      
         .colors3 {
            color: blue;
        }
.File_name{
    width:248px;
    border:none;
    display:none;
}
.underline{
   text-decoration: underline;
}
.nav-tabs > li > a {

}

.loading-new{
   position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.5);
z-index: 10000;
    background-image: url('/img/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*Medical form print
    .hidden-print-wp {
    display: none !important;
  }

.font-size-wp{
    font-size:15px;
}

.wrapper-wp {
    padding-left: 0px !important;
   }*/

.fc-event-container{
    padding-left:2px !important;
}

.fa-file-pdf-o {
    color: red;
    font-size: 14px;
}

.fa-file-word-o {
    color: blue;
    font-size: 14px;
}
/*.canvasjs-chart-container .canvasjs-chart-canvas:nth-child(1){
position:relative !important;
}*/
.cattendance {
height:370px;
}
    .cattendance .panel-footer {
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
.pointer{font-weight:700;color:black;}
    .pointer a {
    line-height:35px;
    font-size:12px;
    }
.pointer a:hover{font-weight:700;color:#ea2626;}
.ui-datepicker-week-end {
color:red;
}
.skin {
display:inline-block;
width:20px;
height:20px;
border:1px solid gray;
padding:2px;
cursor:pointer;
}
.blk2 {
    float: right !important;
    position: relative !important;
    right: 11px !important;
    top: -37px !important;
}
.form-box .body > .form-group, .form-box .footer > .form-group {
    margin: 20px 9px;
    border: 1px solid #808080;
}
.form-3 input[type="text"], .form-1 input[type="password"] {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8) !important;
    width: 100%;
    padding: 0px 37px !important;
    color:black !important;
}
.form-3 .field {
    margin: 10px 0px;
}
 .ui-jqgrid .ui-state-default {
    border: 1px solid #AED0EA;
    /*background: #F2F2F2  url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% !important;*/
    font-weight: bold;
    color: #2779AA;
}
 .ui-state-active{     
   background: #ddd  url("images/ui-bg_highlight-hard_100_f9f9f9_1x100.png") repeat-x scroll 50% 50% !important;    
}
.skin1 {
  background-image: url('../img/bg2.png');
 
}
.skin2 {
background-color:white;
}
.skin3 {
background-color:#679286;
}
.skin4 {
background-color:#313D53 ;
}
.skin5{
    background-color:#21424B;
}
 .ui-datepicker{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.rfoot {
padding-bottom:20px;
margin-bottom:20px;
}
.ui-datepicker-week-end .ui-state-default{
    color: red !important;
}
.ui-jqgrid .ui-state-hover :hover td {
border:none !important;
}
.sub-head {
margin:12px 0px;
font-size:15px;
}
hr.soften {
    font-size: 3px;
    position:relative;
    top:-12px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}
.content {     
    background: rgba(255, 255, 255, 0.50) none repeat scroll 0% 0%;
    overflow: auto;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;    
    background-color: rgba(255, 255, 255, 0.50);
    margin-top: 1px;
    border:none;
}
.nav-tabs {
border:none;
}

.container-content2 .nav li a {
    color:white;
}
#sendEmail {
margin-top:10px;
}
#quick::-webkit-input-placeholder,
.quick::-webkit-input-placeholder
{
    color:    white;opacity:1;

}
#quick:-moz-placeholder,
.quick:-moz-placeholder 
{
    color:    white;opacity:1;
}
#quick::-moz-placeholder,
.quick::-moz-placeholder 
{
    color:    white;opacity:1;
}
#quick:-ms-input-placeholder,
.quick:-ms-input-placeholder 
{
    color:    white;opacity:1;
}


input::-webkit-input-placeholder ,select::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder{ /* WebKit browsers */
  line-height: 10px !important;
      padding-bottom: 6px !important;
}
 
input[type=file]::-webkit-file-upload-button {
 padding-top:5px;
 padding-bottom:5px;
  -webkit-appearance: textfield;
   -webkit-appearance: button;
}

/* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */
 
input:focus {
color: black !important;
opacity:1 !important;
}
.quick {
background-color: transparent;
color: white;
border-color:white;
border-radius:2px;
}
#quick {
background-color: transparent;
color: white;
border-color:white;
border-radius:4px;
}
#quick:focus ,.quick:focus{
    background: white none repeat scroll 0% 0%;
text-indent: 0px;
z-index: 1;
color: black;
opacity:1;

    border-color: black !important;
    box-shadow: none;
}
select,.quick:active{
border-color:black;
}

audio, canvas, progress, video {
 /*height: 312px;*/
    width: 100% !important;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#reportsnav {
    margin-right: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

.form_box {
    width: 360px;
    margin: 90px auto 0px;
    background-color: #eaeaec !important;
}

.form_body {
    padding: 10px 20px;
}

.form_footer {
    padding: 10px 20px;
}

.logo_icon {
    width: 100px;
    height: 100px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.sidebar {
    display: block;
    float: left;
    width: 250px;
    background: grey;
    z-index: 100;
    height: 100%;
}
.sidebar-nav {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
    /* background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);*/
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);*/
}

    .sidebar-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        
    }

        .sidebar-nav ul li,
        .sidebar-nav ul a {
            display: block;
        }

        .sidebar-nav ul a {
            padding: 10px 20px;
            color: #FFF9F9;
            border-top: 1px solid rgba(0, 0, 0, 0.3);

 
        }

            .sidebar-nav ul a:hover,
            .sidebar-nav ul a:focus,
            .sidebar-nav ul a:active {
                color: #fff;
                text-decoration: none;
            }

        .sidebar-nav ul ul a {
            padding: 10px 30px;
        }

            .sidebar-nav ul ul a:hover,
            .sidebar-nav ul ul a:focus,
            .sidebar-nav ul ul a:active {
                         color: white;
background-color: rgba(0, 0, 0, 0.33);
            }

.sidebar-nav-item {
    padding-left: 5px;
}

.sidebar-nav-item-icon {
    padding-right: 5px;
}

.user-panel {
    padding: 10px;
}

    .user-panel:before,
    .user-panel:after {
        display: table;
        content: " ";
    }

    .user-panel:after {
        clear: both;
    }

    .user-panel > .image > img {
        width: 45px;
        height: 45px;
    }

    .user-panel > .info {
        font-weight: 600;
        padding: 5px 5px 5px 15px;
        font-size: 14px;
        line-height: 1;
    }

        .user-panel > .info > p {
            margin-bottom: 9px;
        }

        .user-panel > .info > a {
            text-decoration: none;
            padding-right: 5px;
            margin-top: 3px;
            font-size: 11px;
            font-weight: normal;
        }

            .user-panel > .info > a > .fa,
            .user-panel > .info > a > .ion,
            .user-panel > .info > a > .glyphicon {
                margin-right: 3px;
            }


.ddmenu {
   margin-top:16px;
right: 5px !important;
left: -55px;
    top: 36px;
}
.menu .arrow {
margin-top:4px;
}
img {
    /*max-width:100%;*/
}

.mainlogo {
    height: 60px;
    width: 75px;
}



.topbar {
    padding: 50px 20px;
}


.right-side > .content-header {
    position: relative;
    padding: 15px 15px 10px 20px;
}

    .right-side > .content-header > .breadcrumb {
        background: none repeat scroll 0% 0% transparent;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        padding: 7px 5px;
        position: relative;
        top: 15px;
        right: 10px;
        border-radius: 2px;
    }

.btn-form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-primary {
    background-color: #428bca;
}

.textmargin {
    margin-top: 10px;
}

.boxcont {
    width: 50%;
}

label.vinlabel {
    font-weight: 100;
}

#navid5 {
    width: 100%;
    padding-right: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.navid6 {
    margin-left: 3px;
    margin-bottom: 10px;
}

.custom-navbar-toggle {
    margin-bottom: 8px;
    float: right;
    position: relative;
    margin-top: 8px;
    padding: 9px 10px;
    margin-right: 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-image: none;
    background-color: transparent;
}


.icon-bar {
    background-color: #FFF;
}


.sidebar_wrap {
    height: 100%;
}

@media (max-width: 157px) {

    .sidebar_fix {
        margin-top: 180px;
        width: 140px;
    }

    .primary_bar {
        margin-top: 270px;
    }

    body {
        font-size: 1.0rem;
    }

    .h_title {
        color: white;
        font-size: 10px;
    }
}


@media (min-width: 158px) and (max-width: 213px) {

    .sidebar_fix {
        margin-top: 140px;
        width: 200px;
    }

    .primary_bar {
        margin-top: 210px;
    }

    .navbar_top {
        margin-left: 0px;
    }
}




@media (min-width: 320px) and (max-width: 328px) {

    .primary_bar {
        margin-top: 128px !important;
    }
}


@media (max-width: 360px) {
    .form_box {
        width: 90%;
    }
}



@media (max-width: 767px) {

    .header_box {
        text-align: center;
        width: 100%;
    }

    .sidebar_fix {
        margin-top: 101px;
        position: fixed;
        right: 0px;
        left: 0px;
        z-index: 1030;
    }

    .primary_bar {
        margin-top: 110px;
    }

    .sidebar_wrap {
        display: none;
    }


    .navbar_top {
        margin-left: 0px;
    }
}

/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 768px) {

    .navbar-nav > .user-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        background: #ffffff;
    }
}


@media (min-width: 768px) and (max-width: 990px) {

    .h_title {
        color: white;
        font-size: 14px;
    }

    .primary_bar {
        margin-top: 120px;
        margin-left: 250px;
    }

    .sidebar_wrap {
        display: block !important;
        position: fixed;
        right: 0px;
        left: 0px;
    }

    .navbar_top {
        padding: 5px 5px 5px 5px;
        margin-left: 250px;
    }
}


@media (min-width: 993px) {
    .primary_bar {
        margin-left: 30px;
    }
}



@media (min-width: 991px) and (max-width:992px) {
    .primary_bar {
        margin-left: 250px;
    }
}

@media (min-width: 991px) {
    .primary_bar {
        margin-top: 140px;
    }

    .h_title {
        color: white;
        font-size: 12px;
    }

    .sidebar_wrap {
        display: block !important;
        position: fixed;
        right: 0px;
        left: 0px;
    }

    .navbar_top {
        padding: 5px 5px 5px 5px;
        margin-left: 250px;
    }
}


/*font size*/
@media (min-width: 158px) and (max-width: 319px) {
 

    .h_title {
        color: white;
        font-size: 8px;
    }

    .primary_bar {
        margin-top: 128px;
    }
}

@media (min-width: 310px) and (max-width: 360px) {
 

    .h_title {
        color: white;
        font-size: 10px;
    }

    .primary_bar {
        margin-top: 128px;
    }
}

@media (min-width: 361px) and (max-width: 480px) {
 
    .h_title {
        color: white;
        font-size: 11px;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
 

    .h_title {
        color: white;
        font-size: 12px;
    }
}

@media (min-width:641px) and (max-width: 800px) {


}

@media (min-width:841px) and (max-width: 891px) {



    .h_title {
        color: white;
        font-size: 14px;
    }
}


@media (min-width:892px) and (max-width: 1280px) {



    .h_title {
        color: white;
        font-size: 14px;
    }
}



@media (min-width:991px) and (max-width: 1158px) {

    .primary_bar {
        margin-top: 120px;
    }
}

@media (min-width:1159px) and (max-width: 1199px) {

    .primary_bar {
        margin-top: 70px;
    }
}




@media (min-width:1200px) {
    .primary_bar {
        margin-top: 71px;
        margin-left: 30px;
    }
}




@media (min-width:1281px) {
    .primary_bar {
        margin-top: 71px;
        margin-left: 30px;
    }
}



@media (min-width:1409px) {
    .primary_bar {
        margin-top: 71px;
        margin-left: 30px;
    }
}

@media (min-width:1880px) {
    .h_title {
        color: white;
        font-size: 20px;
    }

    .primary_bar {
        margin-top: 71.4px;
        margin-left: 30px;
    }
}

.navbar {
    margin-bottom: -1px;
    border-radius: 0;
}

#submenu {
    background-color: #e7e7e7;
    margin-bottom: 20px;
}

.collapsing {
    display: none;
}


 

#nav2 .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
}

#nav2 li.active {
    background-color: #367FE6;
}

.navbar2-brand {
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    vertical-align: middle;
}

.navbar-brand {
    float: left;
    height: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    vertical-align: middle;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    height: 50px;
}

.container-content {
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container-content2 {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.navfont1 {
    color: white;
    text-decoration: none;
}

.navbar-side {
    background-color: #222;
    border-color: #080808;
}

.navbar-fixed-side {
    top: 0;
    border-width: 0 0 1px;
}

#vineethnav li.active {
    background-color: black;
}

#vineethnav2 li.active {
    background-color: #EEEEE5;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.navhover .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #222222;
}

#error {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 170px;
}

#navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 20px;
}

#errorfont {
    color: red;
}

.imagesc {
    width: 45px;
    height: 40px;
}

.formdash {
    width: 100%;
    height: 125px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}




/*.dynamicactive {
    background-color: #428BCA;
    color: #333 ;
}*/



[class*="col-"] {
    margin-bottom: 5px;
    margin-top: 1px;
}



.glyphicon-asterisk {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 1px !important;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: red;
    font-size: 20px;
}



.Highlighted a {
    /*background-color : blue !important;*/
    background-image: none !important;
    color: red !important;
    font-weight: bold !important;
    font-size: 12pt;
}

.ui-datepicker td.ui-state-disabled > span {
    /*background: #3C8DBC;*/
    background-color:#D8D8D8;
    color:white;
    opacity:0.9;
}

.ui-datepicker td.ui-state-disabled {
    opacity: 100;
}


.fa-trash-o {
    color: red;
}

.fa-edit {
    color: darkcyan;
}
input[type="file"] {
    padding: 0px 0px !important;
}

tbody select, input[type="text"], input[type="number"], input[type="datetime"], input[type="email"], input[type="file"] {
    margin-bottom: 5px !important;

}
select, input[type=text],input[type=number], input[type=datetime], input[type=email], input[type=file] {
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    padding-left:10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
::-webkit-input-placeholder {
   padding: 3px 0px !important;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.fa {
    margin-right: 5px;
}

#menu .arrow {
padding-top:4px !important;
}
.ui-datepicker-title select {
    display: normal !important;
    width: auto !important;
    height: auto !important;
    padding: 0px !important;
    font-size: 14px;
    line-height: none !important;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    float:left;
    margin-left: 18px;
}

 .btn_x{
       margin-top:30px !important;
    }

    .box-title{
        font-size:17px !important;
    }

    .box-header{
        height:30px !important;

    }

    thead{
        background-color:rgb(172, 177, 184);
        color:rgb(33, 19, 53);
        
    }

 

/*prasath*/
    /*calender prev and next icon*/
  .ui-widget-header .ui-icon {
background-image: url("/Images/ui-icons_222222_256x240.png") !important;
}

  /*breadcrumb*/
/*breadcrumb*/
/*.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #1caddd !important;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid rgb(87,190,220) !important;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid rgb(0,172,214) !important;
}

.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #00C0EF !important;
}

.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5BC0DE !important;
}*/

/* gape between breadcrumb and nav_bar*/
.content-header{
    margin-bottom:40px !important;
}
/* Table rows color */

/*.table-striped > tbody > tr:nth-child(2n+1):hover > td{
    background-color:gainsboro !important;
}*/

.table-striped > tbody > tr:nth-child(n+1):hover > td{
 
}

/*jegadeesh report css*/

.colors1 {
            color: green;
        }

        .colors2 {
            color: crimson;
        }

        input[type="submit"] {
            margin-top: 10px;
            margin-left: 18px;
        }

        input[type="button"] {
            margin-top: 10px;
            margin-left: 18px;
        }

        #tbl_scrol {
            width: 100%;
            height: 100%;
            overflow-x: scroll;
        }
          #lbl1
        {
            padding:.4em .6em .3em;
            line-height:2 !important;
            font-size:12px !important;
        }
        .lbl2{
            /*line-height:2 !important;*/
             padding:.4em .6em .3em;
            font-size:12px !important;
        }
        .div_hight{
            margin-top:30px;
        }


/*Prasath*/

  .ui-jqgrid .loading {
        border: none;
    }

.reqField_space{
    margin-bottom:20px !important;
}

/*to move the button down*/
.btn-down{
    margin-top:21px !important;
}
 .btn-down1 {
    margin-top: 23px !important;
}
.btn-down2 {
margin-top:22px !important;
}
.btn-down3 {
margin-top:27px !important;
}
.btn-down-remark {
margin-top:8px !important;
}

.btn_double{
margin-right: 50px;   
}

.btn_exWidth{
    width:150px;
}

.HideMeFromPrint{
    display:none;
}

.PrintSection{
    padding-left:16px;
}
.PrintSectionLabelSpace{
    padding-left:30px;
}

/*jqGrid pager height*/
.ui-jqgrid .ui-jqgrid-pager {
    height:auto;
}
 
/*jqGrid table caption*/
.ui-jqgrid .ui-jqgrid-titlebar {
    font-size: 14px;
}

/*jqGrid header*/
.ui-widget-header {
    border: 1px solid #0B0C0C;
    color: #F4FBFA;
}

/*thead row height*/
.ui-jqgrid .ui-jqgrid-htable th div {
    height: 30px;
    padding-top: 5px;
}

/*tbody row height*/
.ui-jqgrid tr.ui-row-ltr td {
      height: 30px;
       
}
/*.ui-jqgrid tr.ui-row-ltr.ui-state-hover :hover td ,.ui-jqgrid tr.ui-row-ltr.ui-state-hover :before td ,.ui-jqgrid tr.ui-row-ltr.ui-state-hover :after td {
border:none !important;
}
.ui-state-default.ui-th-column.ui-th-ltr.ui-state-hover{
    padding:0px !important; 
}
.ui-state-hover{
padding:1px !important; 
}
.ui-pg-selbox {
margin-top:3px !important;
}
.ui-jqgrid .ui-pg-button .ui-pg-div {
overflow:hidden;
}
.ui-jqgrid tr.ui-row-ltr.ui-state-hover{
border:none !important;
}*/
/*.ui-jqgrid .ui-jqgrid-resize-ltr {
    float:initial !important;
}*/

/*thead row color*/
.fc-button-group .ui-state-default :hover {
    color: white !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #141515;
    background-color:rgb(245,245,245);
}

/*Table corner radius*/
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
   
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

/*edit icon*/
input.btn_Edit{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent; 
    width:20px !important;
    height:20px !important;
}

input.btn_Delete{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent;
     width:20px !important;
    height:20px !important; 
}
input.btn_Increment{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent; 
    width:20px !important;
    height:20px !important;
}
input.btn_ReFund{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent; 
    width:20px !important;
    height:20px !important;
}
input.btn_Document{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent; 
}

input.btn_Remark{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent; 
}

input.btn_Reply{
    background-image: url("/Images/ui-icons_222222_256x240.png") !important; /* 16px x 16px */
    background-color: transparent; 
}

.monthly_attendance{
        border: 1px solid #9E9E9E;
    border-radius: 0px 0px 4px 4px;
    margin-top: 0px;
}


.ui-widget-header a {
    color: #f2f8fb;
}

a .ui-jqgrid-titlebar-close{

}


.width_txt_All_Time {
    width : 150px !important;
}



/*alert dialog*/

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url('../Images/ui-icons_888888_256x240.png');
    background-position: -80px -128px;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url('../Images/ui-icons_cc0000_256x240.png');
 
}



.ui-widget-header .ui-icon {
    /*background-image: url("/Images/ui-icons_222222_256x240.png") !important;*/
    background-image: url('../Images/ui-icons_2694e8_256x240.png');
   
}
 .sub_list{

        margin-top: 0px;
    }
     @media(min-width:768px) and (max-width:1279px){
.sub_list {
    margin-top: -213px;
    margin-left: -5px;
}
.tbl_Period {
    margin-top: 36px;
    margin-left: -5px;
}
.btn_left {
    margin-left: -110px;
    float: left;
    margin-top: 16px;
}
    }


/*Faculty Timetable */

#FacultyTimetable td{
    background: #E0ECFF;
      border: groove;
}
#FacultyTimetable tr td{
    background: white;
}
#FacultyTimetable .title{
        width:auto;
}
#FacultyTimetable{
     border: groove;
}
#FacultyTimetable tr{
    background: #E0ECFF;
      border: groove;
}

    
   
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}
.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}
.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}
.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}
.ui-button-icon-only{width:2.2em}
button.ui-button-icon-only{width:2.4em}
.ui-button-icons-only{width:3.4em}
button.ui-button-icons-only{width:3.7em}
.ui-button .ui-button-text{display:block;line-height:normal}


/*.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
{
    border:none !important;
 background:rgb(241,241,241) url("images/ui-bg_glass_100_e4f1fb_1x400.png") 50% 50% repeat-x;
 font-weight:bold;color:black

}*/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  .ui-button-text-only .ui-button-text{padding:.4em 1em}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              .ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  
    background:  rgb(84, 150, 236) url("../img/cd-top-arrow.svg") no-repeat scroll center 50%;
border-radius:50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  /*opacity: .5;*/
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
  
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }

}                                             

.sec_up {
    margin-top: 1px;
}


@media(min-width:750px) and (max-width:1050px) {
    .sname2 {
    overflow:hidden;
    }
    .stud1 label {
        margin-right: -18px;
    }
    .sname1 {
    margin-right: -25px;
    }
}

@media only screen and (max-width: 768px) {
  .sname2 {
      overflow:hidden;
    }

    .stud1 label {
    display:none;
    }
}
@media only screen and (max-width: 768px) {
  .subject_table {
    margin-top:220px;
    }

   
}
#Daily_AttendanceChart canvas,#Monthly_AttendanceChart canvas,#chartContainer canvas{
height:500px !important;
}

  
 #ShowImages img{
    padding:5px;
}

 .gallery
{
    display: inline-block;
    margin-top: 20px;
}
 .AlbumHead h1{
     display: block;
text-decoration: none;
color: #303030;
font-size: 27.424px;
line-height: 36px;
 }
.post {
    padding: 0px;
}
.post img {
    width: 100%;
    height: auto;
    max-height: 400px;
}
.album_img img
{
    width:100%;
    height:100px;
}
.Aalbum_content {
    font-family: raleway;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.album_date{
    font-size: 12px;
    color: rgb(128, 128, 128);}
.bder_btm {
width: 80%;
margin-top: 15px;
margin-right: auto;
margin-left: auto;
margin-bottom: 15px;
height: 1px;
background: #d2d2d2;
}
.album_img {
padding:0px;
}
.fancybox img{
padding: 4px;
background-color: #fff;
border: 1px solid #ddd;
}

a.classname
{
    background: url(../img/backbutton.png) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

.but_design{
    margin-bottom:25px;
    margin-top:50px;
}
.sutmitbutdesign{
    margin-left:0px !important;
}


.headdesigndate{
    margin-left:15px;
}


.btn-down_hostel {
    margin-top: 27px !important;
}

.techreportbutton{
    margin-top:0px;
}

.checkboxmargin{
    margin-left:5px;
}
.alignbtnTc{
    margin-top: 0px !important;
}