﻿ 
.btn-nav:hover {
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}
.btn-nav.active {
    color: rgb(0,150,203);
    padding: 2px;
	border-top: 6px solid #e92d00;
	border-bottom: 6px solid #e92d00;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
border-color: #FFF;
}
.btn-nav.active:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 0;
 
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -6px;
	top: 0;
	left: 50%;
}
.btn-nav .glyphicon {
    padding-top: 16px;
	font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
}
@-webkit-keyframes pulsate {
 50% { color: #000; }
}
@keyframes pulsate {
 50% { color: #000; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}


/*mi*/
 .btn-group-justified>.x{
    width:5%;
}

/*.glyphicon {
    font-family: 'Glyphicons Halflings';
    color:gray;
}*/

.stuSidemenu {
  margin-right: 10px !important;
}

 
 

.btn-group, .btn-group-vertical {

 padding-top: 0px !important; 
 margin-left: -15px;
}

.btn-group-justified{
    text-align: center;
    }

glyphicon-asterisk{
    color:red;
    font-size:8px;
}


.content {
    background-color: rgba(255,255,255,0.50);
    margin-top: 0px !important;
}
.mt1 {
    margin-top: 1px !important;
}

/*calender
.fc-content-skeleton table thead tr td{
    background-color:red !important;
}

.fc-content-skeleton table tbody tr {
    background-color:red !important;
}*/
/*table{
border-color:red;
}*/
/*.ui-widget-header {
border: 1px solid rgb(0,150,203);
background: #deedf7 url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") 50% 50% repeat-x;
color: #362b36;
font-weight: bold;
}*/
.ui-widget-content {
   
background: #F9FDFF url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") 50% top repeat-x;
color: #362b36;
}
.fc-toolbar .fc-center{
    color:rgb(16, 136, 179);
}

.fc-view-container{
    border-color:red;
    color:red;
}
.fc-view fc-month-view fc-basic-view table thead {
   background-color:red;
}

.ui-widget .fc-toolbar{
     /*border-color:red;
     background-color:red;*/
}
td .fc-day-number .fc-sun .fc-past{
    border-color:red;
}

.fc-view-container *, .fc-view-container *::before, .fc-view-container *::after {
    box-sizing:border-box;
}





 @media(max-width:780px) {
    .btn-nav .glyphicon {
        padding-top: 4px;
        font-size: 15px;
        padding: 0px;
    }
 
    .x .btn p {
    display:none;
    }
    .btn-group-justified {
 
    }
    }
  @media(max-width:800px) {
 
 
    }
