﻿
  .fa{
    margin-right:5px;
}

  /* start  bg color*/

.navbar-inverse,.sidebar-nav, .navhover .nav>li>a:hover, .nav>li>a:focus,.box .box-header  {
background-color: #264348;
border-color: #264348;
}


  /* start aside text*/


    .sidebar-nav ul a, .dynamicactive, .sidebar-nav ul .dynamicactive a:hover,.navbar-inverse .navbar-brand,.top-nav > li > a ,
    .box .box-header{
        color:white;
    }

.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active,.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,.top-nav > li > a:hover, 
.top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus ,a:hover{
  color: #36D7B7;
  text-decoration: none;
}

.dynamicactive,.bg-primary
{
    background-color:rgb(30,122,122); /*#4DAF7C  rgb(23,152,126)   rgb(54,179,179) rgb(30,122,122)*/
}

/* Login user name*/

.top-nav > li > a {
     margin-top:-5px;
}



/*Logo width*/
img{
    width: auto;
}
/* School Name*/
#navbar-brand {
    padding-left:200px;
    margin-top:-8px;
}




/*Student */
h1, .h1 {
    font-size: 26px;
}


element.style {
border: 2px solid none;
border-color:none;
}
.box.box-primary {
    border-top-color: #264348;
}

/*box*/
.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title {
    font-size :18px;
}
.bg-primary {
    border:2px solid #4DAF7C;
}

/*general*/
a {
    color: #264348;
}