﻿
  .fa{
    margin-right:5px;
}

  /* start  bg color*/

.navbar-inverse,.sidebar-nav, .navhover .nav>li>a:hover, .nav>li>a:focus,.box .box-header  {
background-color:#33415A ;  /* #33415A   #661A48  #4D0732  rgb(45, 95, 134)  #113E69  rgb(55, 73, 87)  rgb(55, 73, 87)  rgb(0, 99, 116)*/
border-color:#33415A;
}


  /* start aside text*/


    .sidebar-nav ul a, .dynamicactive, .sidebar-nav ul .dynamicactive a:hover,.navbar-inverse .navbar-brand,.top-nav > li > a ,
    .box .box-header{
        color:white;
    }

.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active,.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,.top-nav > li > a:hover, 
.top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus ,a:hover{
  color: #89C4F4;
  text-decoration: none;
}

.dynamicactive,.bg-primary
{
    background-color: rgb(0,150,203) /*#7A97CB*/;   /*#7A97CB  #7C5774  #935585 #4780B8 rgb(45, 95, 134)  #757D75  #6C7A89    #5D94AD*/
   
}

/* Login user name*/

.top-nav > li > a {
     margin-top:-5px;
}



/*Logo width*/
.featurette-image{
    width: auto !important;
    max-width:none !important;
}

/* School Name*/
#navbar-brand {
    padding-left:200px;
    margin-top:-8px;
}




/*Student */
h1, .h1 {
    font-size: 26px;
}


element.style {
border: 2px solid none;
border-color:none;
}
.box.box-primary {
    border-top-color: #264348;
}

/*box*/
.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title {
    font-size :18px;
}
.bg-primary {
    border:2px solid #4DAF7C;
}

/*general*/
a {
    color: #264348;
}
body{
    font-size:16px;
}


/*nav bar color*/
/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: rgb(51,65,90);
    border-color: rgb(51,65,90);
     color: white;
}*/

/* Nav bar tab mouse over */
.nav-tabs>li>a:hover{border-color:rgb(51,65,90)}

.nav> li> a:hover, .nav >li >a:focus{
    background-color:rgb(51,65,90) ;
}


.ProfilePhoto{
    width:200px;
    height:100px;
}



.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}