﻿  /*login page */
 /*header,Footer*/
.m-head ,.footer2{
background-color: rgba(4, 6, 3, 0.63) !important;
}
/*background*/
.bg1{
    background: transparent url("../Images/1695_1280x8001.jpg") no-repeat fixed center center / cover !important;
        color: #000 !important;
}
 /*container background*/
#cen {
    background-color: rgba(255, 255, 255, 0.51) !important;
}
/*===========================================================================================================================*/
/*Dashboard*/
/*background*/
.bg2 {
background-color: rgb(239, 238, 238) !important;
    color: #000 !important;
}
.quick,#quick {
    background-color: transparent !important;
    color: #fff !important;
    border-color: white !important;
    border-radius: 2px !important;
}
  
/*email placeholder*/
#quick::-webkit-input-placeholder,
.quick::-webkit-input-placeholder
{    color: white !important;opacity:1;
}
#quick:-moz-placeholder,
.quick:-moz-placeholder 
{
    color:    white !important;opacity:1;
}
#quick::-moz-placeholder,
.quick::-moz-placeholder 
{
    color:    white  !important;opacity:1;
}
#quick:-ms-input-placeholder,
.quick:-ms-input-placeholder 
{
    color:    white !important;opacity:1;
}

.fc-view .ui-widget-header {
    background: transparent none repeat scroll 0% 0% !important;
    border: 1px solid #DADADA !important;
}
.fc-day, .fc-day-grid-container {
    border: 1px solid #DADADA !important;
}
.bg3 {
 background-color:#21424B !important;
    background-size: cover;
    background-attachment: fixed;
    color: black !important;
}
.credential_form {
 
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
 
}
/*Menu*/
#sidebar-wrapper, .s_bar ,.navbar-inverse,.btn-breadcrumb  {
background-color: #11333C !important;
 color:white !important;
}
.btn-breadcrumb {
border-radius:4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
}
/*breadcrum*/
.btn.btn-info,.btn.btn-info:hover {
background-color: #009DD1    !important;
    border-color: #009DD1    !important;
    color:white !important;
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::before   {
    border-left: 10px solid #FFF !important; 
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::after   {
    border-left: 10px solid #009DD1    !important; 
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::after {
    border-left: 10px solid #009DD1    !important;
}
.subHeading {
color:white !important;
}
.sidebar-nav li a:hover ,.s_bar > span > ul > li > a :hover,.dynamicactive a:hover{
color: #FFF !important;
background-color: #11333C  !important;
} 
.dynamicactive {
    background-color: white !important;
    color: black !important;
border-right: 5px solid black !important;

}
.box {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
 
}
.dynamicactive a {
        color: #000 !important;
    }
 .active a {
   
}
/*school font-face-name heading*/
.sname2 {  
    color: white !important;
}
.s_head {
color:white !important;
}
.stud1 .sname1{ 
color:white !important;
}
 
/*div head(calendar-announcement-mail)*/
/*head*/
.fc-center h2 {
    color: #FFF !important;
}
.box.box-solid[class*="bg"] > .box-header, .ui-widget-header, .widget-header,.box-header {
    border: medium none !important;
   color: #FFF !important;
background-color: rgba(38, 38, 38, 0.49) !important;
}
     /*background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(254,254,254,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(54%, rgba(210,210,210,1)), color-stop(86%, rgba(219,219,219,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb', GradientType=0 );*/
 
/*body*/
.bb {
background-color: rgba(198, 198, 198, 0.50);
}
/*content*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .content,.rc {
background: rgba(255, 255, 255, 0.31) none repeat scroll 0% 0% !important;
  /*box-shadow: 2px 2px 3px #B4B4B4;*/
    border-color:none!important;
}
.container-content .nav li a {
    color: #FFF !important;
}
.container-content .nav li a:hover {
    background-color:gray !important;
    color: white !important;
}
/*sub title*/
 
/*===========================================================================================================================*/
/*Student credential*/ 
/*title*/
 
        .in {
        display: inline-block;
        color: black !important;
 
    }
/*=====================================================================================================================================*/
/*studentlogin*/
/*submenu*/
.stuNavHeader {
    color: #FFF;
}
.btn-nav {
    background-color: transparent !important;
    border: 1px solid #FFF !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
.x { 
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0% !important;
}
.x:hover,.x:active
{
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, #4A4A4A 3%, #A4A4A4 100%) repeat scroll 0% 0% !important;
}
.x .btn-nav.active {
    background-color: #fff !important;
}
.x .btn p {
    color: #fff;
}
.btn-nav.active::before {
border-color: #000 transparent;
}
.btn-nav.active {
    	border-top: 6px solid #000 !important;
	border-bottom: 6px solid #000 !important;
    color: #0096CB;
    border-color: rgb(0, 0, 0);
}
 
.btn-nav:hover .glyphicon{
color: black;
}
.btn-nav:hover p{
color: black;
}
.btn-nav.active .glyphicon {
color: black;
}
.btn-nav.active p {
color: black !important;
}

/*============================================*/
/*dashborad*/
.ani,.btn-breadcrumb{   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
}
 .ddmenu {
    color: #000 !important;
}
 /*=====================================================================================================================================*/
/*studentlogin*/
/*submenu*/
 
 
.fc th, .fc td {
    color: #000 ;
}
.stepbutton { 
    background-color: #135469 !important; 
}
.active.stepbutton::after { 
    border-color: transparent #135469 #135469 transparent; 
}
 
.ui-state-hover:hover {
    background-color:white !important;
    color:black !important;

}
 .quick {
background-color: transparent;
color: white;
border-color:white;
border-radius:2px;
}
#quick {
background-color: transparent;
color: white;
border-color:white;
border-radius:4px;
}
 