﻿  /*login page */
 /*header,Footer*/
.m-head ,.footer2{
background-color: rgba(4, 6, 3, 0.63) !important;
}
/*background*/
.bg1 {   
    background-image: url('../img/schoo 1c.png');
    background-size: cover;
    background-attachment: fixed;
}
 /*container background*/
#cen {
    background-color: rgba(255, 255, 255, 0.51) !important;
}
/*===========================================================================================================================*/
/*Dashboard*/
/*background*/
.bg2 {
background-color: rgb(239, 238, 238) !important;
    color: #fff !important;
}
.bg3 {
    background-image: url('../img/bg2.png');
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIklEQVQIW2NkYGD4z4AKGBnRBMF8ZEE4G8ZA0QHigACKuQCw8QgCATN4bAAAAABJRU5ErkJggg==) repeat;*/
     background-attachment: fixed;
    color: #000 !important;
}
.credential_form {
    background-color: #7E7E7E !important;
color: black !important;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
 
}
.box-title {
    color: #FFF !important;
}
.dash-bg {
 background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% !important;
 box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.5) !important;
}
.box {

box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
}
    .box .box-footer {
    background-color:transparent !important;
    }
/*Menu*/
#sidebar-wrapper, .s_bar ,.btn-breadcrumb  {
background-color: rgba(255, 255, 255, 0.15) !important;
color: #FFF !important;
}
.ddmenu {
color:black !important;
}
.ui-state-hover:hover {
    background-color:white !important;
    color:black !important;
}
.fc-prev-button,.fc-next-button {
        background-color:gray !important;
    color:black !important;
}
.navbar-inverse {
 background-color: rgba(255, 255, 255, 0.15) ;
color: #FFF !important;
}
/*breadcrum*/
.btn.btn-info,.btn.btn-info:hover {
background-color: #FFF !important;
color: #000 !important;
border:none !important;
  
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::before   {
    border-left: 10px solid #000 !important; 
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::after {
    border-left: 10px solid white !important;
}
 
.sidebar-nav li a:hover ,.s_bar > span > ul > li > a :hover{
    color: white !important;
    background-color: black !important; 
} 
.dynamicactive {
    background-color: #C6C6C6 !important;
    
}
    .dynamicactive a {
        color: #000 !important;
    }
/*school font-face-name heading*/
.sname2 {  
    color: white !important;
}
.s_head {
color:white !important;
}
.stud1 .sname1{ 
color:white !important;
}
 .table-striped > tbody > tr:nth-child(n+1):hover > td {
    background-color: #AEAEAE  !important;
    color: #FFF;
}
.pointer a {
color:white;
}
.pointer a:hover {
color:rgba(184, 201, 218, 0.51) !important;
}
/*announcement*/
.pointer {
color: #D7D7D7 !important;
}
.panel-footer {
   background-color: transparent; 
   color: white;
}
.panel-footer:hover {
color:black;
}
/*div head(calendar-announcement-mail)*/
/*head*/
.box-header ,.ui-widget-header,.widget-header {
   background-color:#5A5A5A   !important; 
color: white !important;

} 
/*body*/
.bb {
background-color:transparent !important;
color:white !important;
}
/*content*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .content,.rc {
  background: rgba(191, 191, 191, 0.2) none repeat scroll 0% 0% !important;
  /*box-shadow: 2px 2px 3px #B4B4B4;*/
    border-color:none!important;
}
.container-content .nav li a {
    color: #FFF !important;
}
.container-content .nav li a:hover {
    background-color:gray !important;
    color: white !important;
}
/*sub title*/
.box-header .subHeading {
    color: #FFF !important;
}
/*calendar*/
.fc-toolbar .ui-button, .fc-toolbar .ui-state-active {
     border: 1px solid #FFF !important;
      color:white ;
}
 
 
.white {
color:white !important
}
.c1 {
color:#3FFF33;
}
.c2{
color:#FF6C00;
}
.c3{
    color:#18E7FF;
}
.c4{
    color:yellow;
}
.button-sc {
background-color: #8F55B9 !important;
border-radius: 0px;
color: rgb(255, 255, 255) !important;
}
/*===========================================================================================================================*/
/*Student credential*/ 
/*title*/
 
        .in {
        display: inline-block;
        color: black !important;
 
    }
      .fc .ui-widget-content {
    color: #FFF !important;
}
/*=====================================================================================================================================*/
/*studentlogin*/
/*submenu*/
.stuNavHeader {
    color: #FFF;
}
.btn-nav {
    background-color: transparent !important;
    border: 1px solid #FFF !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
.x { 
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0% !important;
}
.x:hover,.x:active
{
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, #4A4A4A 3%, #A4A4A4 100%) repeat scroll 0% 0% !important;
}
.x .btn-nav.active {
    background-color: #fff !important;
}
.x .btn p {
    color: #fff;
}
.btn-nav.active::before {
border-color: #000 transparent;
}
.btn-nav.active {
    	border-top: 6px solid #000 !important;
	border-bottom: 6px solid #000 !important;
    color: #0096CB;
    border-color: rgb(0, 0, 0);
}
 
.btn-nav:hover .glyphicon{
color: black;
}
.btn-nav:hover p{
color: black;
}
.btn-nav.active .glyphicon {
color: black;
}
.btn-nav.active p {
color: black !important;
}

/*============================================*/
/*dashborad*/
.ani,.btn-breadcrumb{   
 
}
.ani,.ani1,.ani2,.ani3 {
background-color:transparent !important;
}

.panel-primary1 .fa-5x ,.panel-primary1{
color: #3B6ABC;
border-color: rgb(66, 139, 202) !important;
 
}
.panel-green .fa-5x ,.panel-green{
 color: #509F50;
 border-color: rgb(92, 184, 92) !important;
}
.panel-yellow .fa-5x,.panel-yellow{
color: #BFBF04;
border-color: rgb(240, 173, 78) !important;

}
.panel-red .fa-5x ,.panel-red{
color: #EC2929;
 border-color: rgb(217, 83, 79)!important;
}

 
.ani {
box-shadow: 0px 4px 14px rgba(29, 153, 221, 0.5) !important;
}
.ani1{
    box-shadow: 0px 4px 14px rgba(92, 184, 92, 0.5) !important;
}
.ani2 {
    box-shadow: 0px 4px 14px rgba(240, 173, 78, 0.5) !important;
}
.ani3 {
      box-shadow: 0px 4px 14px rgba(217, 83, 79, 0.5) !important;
}
.fc th, .fc td {
    color: #FFF ;
}
#ecal .ui-widget-header {
background: rgba(255, 255, 255, 0) none repeat-x scroll 50% 50% !important;
}
 div.ani{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;     -webkit-animation-delay: 0s;    animation-delay: 0s;    -webkit-animation-fill-mode: both;    animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani1{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;       -webkit-animation-delay: 0.15s;    animation-delay: 0.15s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani2{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;        -webkit-animation-delay: 0.30s;    animation-delay: 0.30s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;    animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani3{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;        -webkit-animation-delay: 0.45s;    animation-delay: 0.45s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani4{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;        -webkit-animation-delay: 0.60s;    animation-delay: 0.60s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani5{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;        -webkit-animation-delay: 0.75s;    animation-delay: 0.75s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani6{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;        -webkit-animation-delay: 0.90s;    animation-delay: 0.90s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
div.ani7{ 
    -webkit-animation-duration: 1s;     animation-duration: 1s;        -webkit-animation-delay: 1.05s;    animation-delay: 1.05s;    -webkit-animation-fill-mode: both;     animation-fill-mode: both;     -webkit-animation-timing-function: linear;     animation-timing-function: linear;          animation-name: fadeInDown;         -webkit-animation-name: fadeInDown;
} 
@-webkit-keyframes fadeInDown {     0% {         opacity: 0;         -webkit-transform: translateY(-20px);     }     100% {         opacity: 1;         -webkit-transform: translateY(0);     } } 
@keyframes fadeInDown {     0% {         opacity: 0;         transform: translateY(-20px);     }     100% {         opacity: 1;         transform: translateY(0);     } } 

 .quick {
background-color: transparent;
color: white;
border-color:white;
border-radius:2px;
}
#quick {
background-color: transparent;
color: white;
border-color:white;
border-radius:4px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px double #ACB1B8;
background: #ffef8f url("images/ui-bg_diagonals-thick_15_444444_40x40.png") 50% top repeat;
 color: #fff !important;
}