﻿  /*login page */
 /*header,Footer*/
.m-head ,.footer2{
background-color: rgba(4, 6, 3, 0.63) !important;
}
/*background*/
.bg1{
    background: transparent url("../Images/1695_1280x8001.jpg") no-repeat fixed center center / cover !important;
        color: #000 !important;
}
 /*container background*/
#cen {
    background-color: rgba(255, 255, 255, 0.51) !important;
}
/*===========================================================================================================================*/
/*Dashboard*/
/*background*/
.bg2 {
background-color: rgb(239, 238, 238) !important;
    color: #000 !important;
}
.quick,#quick {
    background-color: transparent !important;
    color: #000 !important;
    border-color: #5F5F5F !important;
    border-radius: 2px !important;
}
#quick::-webkit-input-placeholder,
.quick::-webkit-input-placeholder
{
    color: gray !important;opacity:1;

}
#quick:-moz-placeholder,
.quick:-moz-placeholder 
{
    color:    gray !important;opacity:1;
}
#quick::-moz-placeholder,
.quick::-moz-placeholder 
{
    color:    gray  !important;opacity:1;
}
#quick:-ms-input-placeholder,
.quick:-ms-input-placeholder 
{
    color:    gray !important;opacity:1;
}
.fc-view .ui-widget-header {
    background: transparent none repeat scroll 0% 0% !important;
    border: 1px solid #808080;
}
.fc-day, .fc-day-grid-container {
    border: 1px solid #808080 !important;
}
.bg3 {
 
    background-size: cover;
    background-attachment: fixed;
    color: black !important;
}
.credential_form {
 
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
 
}
/*Menu*/
#sidebar-wrapper, .s_bar ,.navbar-inverse,.btn-breadcrumb  {
background-color: #313D53  !important;
 color:white !important;
}
.btn-breadcrumb {
border-radius:4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
}
/*breadcrum*/
.btn.btn-info,.btn.btn-info:hover {
background-color: #000   !important;
    border-color: #000   !important;
    color:white !important;
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::before   {
    border-left: 10px solid #FFF !important; 
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::after   {
    border-left: 10px solid #000   !important; 
}
 .btn-breadcrumb .btn.btn-info:not(:last-child)::after {
    border-left: 10px solid #000   !important;
}
 
.sidebar-nav li a:hover ,.s_bar > span > ul > li > a :hover{
    color: white !important;
    background-color: black !important; 
} 
.dynamicactive {
    background-color: black !important;
    color: rgb(236, 0, 0) !important;
border-right: 5px solid black !important;}
/*school font-face-name heading*/
.sname2 {  
    color: white !important;
}
.s_head {
color:black !important;
}
.stud1 .sname1{ 
color:white !important;
}
 
/*div head(calendar-announcement-mail)*/
/*head*/
.fc-center h2 {
    color: #363636 !important;
}
/*flipclock*/
.flip-clock-wrapper ul li a div div.inn {
color: #FFF !important;
background-color: #5D5D5D !important;
}
/*/////////////////////////////////////////////////////////////////*/
.box.box-solid[class*="bg"] > .box-header, .ui-widget-header, .widget-header, .box-header{
border: medium none !important;
color: #393939 !important;
background-color: #BFD1E6  !important; 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#ffffff', GradientType=0 );
     /*background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(254,254,254,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(54%, rgba(210,210,210,1)), color-stop(86%, rgba(219,219,219,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(210,210,210,1) 54%, rgba(219,219,219,1) 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb', GradientType=0 );*/
} 
/*body*/
.bb {
background: #fff!important;
}
/*content*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .content,.rc {
  background:#E6E6E6  none repeat scroll 0% 0% !important;
  /*box-shadow: 2px 2px 3px #B4B4B4;*/
    border-color:none!important;
}
.container-content .nav li a {
    color: black !important;
}
.container-content .nav li a:hover {
    background-color:gray !important;
    color: white !important;
}
/*sub title*/
 
/*===========================================================================================================================*/
/*Student credential*/ 
/*title*/
 
        .in {
        display: inline-block;
        color: black !important;
 
    }
/*=====================================================================================================================================*/
/*studentlogin*/
/*submenu*/
.box {
box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.25) !important;

}
 
.x { 
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, #33414E 3%, #696969 100%) repeat scroll 0% 0% !important;
}
.x:hover,.x:active
{
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, #4A4A4A 3%, #A4A4A4 100%) repeat scroll 0% 0% !important;
}
/*============================================*/
/*dashborad*/
.ani,.btn-breadcrumb{   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
}
 .ddmenu {
    color: #000 !important;
}
 /*=====================================================================================================================================*/
/*studentlogin*/
/*submenu*/
.stuNavHeader {
    color: #FFF;
}
.btn-nav {
    background-color: transparent !important;
    border: 1px solid #000 !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
.x { 
background: transparent linear-gradient(to bottom, #FFF 0%, #FFF 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0% !important;
}
.x:hover,.x:active
{
background-color:#303035 !important;
}
.x .btn-nav.active {
    background-color: #fff !important;
}
.x .btn p {
    color: #000;
}
.x .btn .glyphicon {
    color: #000;
}
.btn-nav.active::before {
border-color: #000 transparent;
}
.btn-nav.active {
    	border-top: 6px solid #000 !important;
	border-bottom: 6px solid #000 !important;
    color: #0096CB;
    border-color: rgb(0, 0, 0);
}
 
.btn-nav:hover .glyphicon{
color: white;
}
.btn-nav:hover p{
color: white;
}
.btn-nav.active .glyphicon {
color: black;
}
.btn-nav.active p {
color: black !important;
}
.ani,.ani1,.ani2,.ani3 { 
 background-color:transparent !important;
border:1px solid black !important;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24) !important;
color: #fff  !important;
}
.panel i, .panel h4, .panel label, .panel p {
    color: #313D53 !important;
}
.panel-primary1 .fa-5x ,.panel-primary1 h4 ,.panel-primary1{ 
/*background-color: #009DBF    !important;*/
 

}
.panel-green .fa-5x ,.panel-green h4 ,.panel-green p ,.panel-green{
 /*background-color:#2F9650     !important;*/ 
 
}
.panel-yellow .fa-5x ,.panel-yellow h4,.panel-yellow .flip-clock-meridium a ,.panel-yellow {
/*background-color:#E4A047    !important;*/
 

}
.panel-red .fa-5x ,.panel-red h4 ,.panel-red {
  /*background-color:#C33E3E      !important;*/ 
 

}
.fc th, .fc td {
    color: #000 ;
}
.stepbutton { 
    background-color: #135469 !important; 
}
.active.stepbutton::after { 
    border-color: transparent #135469 #135469 transparent; 
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px double #ACB1B8;
    /*background-color: #A1A1A1 !important;*/
}
.ui-state-hover:hover {
    background-color:white !important;
    color:black !important;

}

 div.ani{
    -webkit-animation-name: flipinx; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0s; -webkit-animation-iteration-count: 1; -webkit-animation-direction: normal; -webkit-animation-fill-mode: none; animation-name: flipinx; animation-duration: 1s; animation-timing-function: linear; animation-delay: 0s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: none;
 
}
div.ani1{
    -webkit-animation-name: flipinx; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0.15s; -webkit-animation-iteration-count: 1; -webkit-animation-direction: normal; -webkit-animation-fill-mode: none; animation-name: flipinx; animation-duration: 1s; animation-timing-function: linear; animation-delay: 0.15s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: none;
 
 }
 div.ani2{
-webkit-animation-name: flipinx; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0.30s; -webkit-animation-iteration-count: 1; -webkit-animation-direction: normal; -webkit-animation-fill-mode: none; animation-name: flipinx; animation-duration: 1s; animation-timing-function: linear; animation-delay: 0.30s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: none;
}
 div.ani3{
 -webkit-animation-name: flipinx; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0.45s; -webkit-animation-iteration-count: 1; -webkit-animation-direction: normal; -webkit-animation-fill-mode: none; animation-name: flipinx; animation-duration: 1s; animation-timing-function: linear; animation-delay: 0.45s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: none;
}
@-webkit-keyframes flipinx { 0%{opacity: 0;	-webkit-transform: perspective(400px) rotateX(0deg);	transform: perspective(400px) rotateX(90deg); } 40%{	-webkit-transform: perspective(400px) rotateX(0deg);	transform: perspective(400px) rotateX(-10deg); } 70%{	-webkit-transform: perspective(400px) rotateX(0deg);	transform: perspective(400px) rotateX(10deg); } 100%{	opacity: 1;	-webkit-transform: perspective(400px) rotateX(0deg);	transform: perspective(400px) rotateX(0deg); }}
@keyframes flipinx { 0%{	opacity: 0;	transform: perspective(400px) rotateX(90deg); } 40%{	transform: perspective(400px) rotateX(-10deg); } 70%{	transform: perspective(400px) rotateX(10deg); } 100%{	opacity: 1;	transform: perspective(400px) rotateX(0deg); }}


