﻿/*breadcrumb*/
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    /*border-left: 10px solid white !important;*/
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  /*border-left: 10px solid white !important;*/
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  /*border-left: 10px solid #C5C2C2 !important;*/
}

.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  /*border-left: 10px solid #CBCBCB !important;*/
}
background-color: #CBCBCB;
/*.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5BC0DE !important;background-color: #C5C2C2;
}*/

/*.sitemapBgcolor{
     background-color: #cbcbcb;
}*/