﻿@using eAcademy.Models
@{
    ViewBag.Title = "EmployeeAttendance";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("EmployeeAttendance")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <div class="box-body" id="MyInfoText" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Att_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-lg-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-md-12" type="text" id="txt_AttendanceDate" name="txt_AttendanceDate" placeholder="@ResourceCache.Localize("Date")" title="@ResourceCache.Localize("Date")" required="required" readonly />
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnEmployeeAttendance"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                        <div class="col-lg-12 btn-down" id="GetEmployee_Attendance" style="display:none">
                            <table class="col-lg-12 table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("EmployeeId")</th>
                                        <th>@ResourceCache.Localize("EmployeeName")</th>
                                        <th>
                                            @ResourceCache.Localize("Status")
                                            <input type="checkbox" name="present" id="present" class="rrr" value="P">
                                            @ResourceCache.Localize("AllPresent") <span class="glyphicon glyphicon-asterisk"></span>
                                        </th>
                                        <th>@ResourceCache.Localize("Comments")</th>
                                    </tr>
                                </thead>

                                <tbody id="MarkEmployeeAttendance"></tbody>
                            </table>
                            <div class="col-lg-6">
                                <input type="hidden" id="count" class="col-lg-3" />
                                <button type="button" class="btn btn-sm btn_save btn-down btn_double" id="btnAddEmployeeAttendance"><i class="fa fa-save"></i>@ResourceCache.Localize("Save")</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#Att_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        AttendanceDate();
        $('#Att_allAcademicYears').change(function (event) {
            event.preventDefault();
            var YearId = $('#Att_allAcademicYears').val();
            $("#GetEmployee_Attendance").hide();
            $("#txt_AttendanceDate").val("");
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        function AttendanceDate() {
            $("#txt_AttendanceDate").datepicker("destroy");
            var acid = $("#Att_allAcademicYears").val();

            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/Dashboard/CustomeActiveDate", { acid: acid },
                function (data) {
                    $.each(data.HolidaysList, function (i, c) {
                        HolidayDate1[i] = c.Date;
                        HolidayReason1[i] = c.Holiday;
                    });
                    var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];

                    $(function () {
                        var dates = $("#txt_AttendanceDate").datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: data.sd,
                            maxDate: data.ed,
                            changeMonth: true,
                            changeYear: true,
                            beforeShowDay: function (date) {
                                show = true;
                                for (var i = 0; i < holidays.length; i++) {
                                    if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                }
                                if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                return display;
                            },
                            onSelect: function (selectedDate) {
                                $("#GetEmployee_Attendance").hide();
                                var option = this.id == "txt_AttendanceDate" ? "minDate" : "maxDate",
                                instance = $(this).data("datepicker"),
                                date = $.datepicker.parseDate(
                                instance.settings.dateFormat ||
                                $.datepicker._defaults.dateFormat,
                                selectedDate, instance.settings);
                                dates.not(this).datepicker("option", option, date);
                            },

                        });
                    });
                });
        }
        var att = "att";

        $("#btnEmployeeAttendance").click(function (event) {
            $('#MarkEmployeeAttendance').empty();
            $("#MandatoryFieldErrorMessage_List").hide();
            $("#GetEmployee_Attendance").hide();
            $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
            $("#jsonSuccessMsg").hide();
            event.preventDefault();
            $("#present").removeAttr("checked");
            var yearId = $("#Att_allAcademicYears").val();
            var date = $("#txt_AttendanceDate").val();
            var array = date.split('/');
            date = array[2] + "/" + array[1] + "/" + array[0];
            $("#Att_allAcademicYears").addClass("current_button");
            $("#txt_AttendanceDate").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Att_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'txt_AttendanceDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
                $('#MarkEmployeeAttendance').empty();
                $.getJSON('/AttendanceManagement/GetEmployeeListToMarkAttendance', { passYearId: yearId, passDate: date },
                  function (data) {

                      if (data.StudentCount == "empty") {
                          $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").show();
                          $("#InfoText").text("@ResourceCache.Localize("No_employee_available")");
                      }

                      if (data.msg == "new") {
                          $('#MarkEmployeeAttendance').empty();
                          $.each(data.list, function (i, v) {

                              var atn = "atn" + i;
                              var cmt = "cmt" + i;
                              row = $("<tr><td><label>" + v.employeeId + "</label></td><td><label>" + v.employeeName + "</label></td><td> <select class=" + att + " id='" + atn + "'> </select></td><td><input type='text' maxlength='20'  placeholder='@ResourceCache.Localize("CommentsGoHere")' id='" + cmt + "'/><input type='hidden' value='" + v.empRegId + "' id='" + i + "'/></td></tr>");
                              $('#MarkEmployeeAttendance').append(row);
                              $("#GetEmployee_Attendance").show();
                              $("#count").val(i);
                          });
                          $.getJSON('/AttendanceManagement/GetAttendanceStatusList',
                          function (orderdetails) {
                              $(".att").empty().append('<option value="0">@ResourceCache.Localize("SelectStatus")</option>');
                              $.each(orderdetails, function (i, c) {
                                  $(".att").append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                              });
                          });
                      }

                      if (data.msg == "old") {
                          $('#MarkEmployeeAttendance').empty();
                          $.each(data.ExistList, function (i, v) {

                              var atn = "atn" + i;
                              var cmt = "cmt" + i;

                              row = $("<tr><td><label>" + v.EmployeeId + "</label></td><td><label>" + v.EmployeeName + "</label></td><td> <select class=" + att + " id='" + atn + "'> </select></td><td><input type='text' maxlength='20'    placeholder='@ResourceCache.Localize("CommentsGoHere")' value='" + v.comment + "' id='" + cmt + "'/><input type='hidden' value='" + v.EmployeeRegId + "' id='" + i + "'/></td></tr>");
                              $('#MarkEmployeeAttendance').append(row);
                              $("#GetEmployee_Attendance").show();
                              $("#count").val(i);

                              $.getJSON('/AttendanceManagement/GetAttendanceStatusList',
                             function (orderdetails) {
                                 $.each(orderdetails, function (i, c) {
                                     $("#" + atn).append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                                 });
                                 $("#" + atn).val(v.status);
                             });
                          });

                          if (data.status == "P") {
                              $('#present').prop("checked", true);
                          }
                          else {
                              $("#present").removeAttr("checked");
                          }
                      }
                  });
            }
        });

        $("#btnAddEmployeeAttendance").click(function () {
            var yearId = $("#Att_allAcademicYears").val();
            var date = $("#txt_AttendanceDate").val();

            $("#Att_allAcademicYears").addClass("current_button");
            $("#txt_AttendanceDate").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Att_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'txt_AttendanceDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                }
                else {
                }
            });

            var c = $("#count").val();
            var atn = [];
            var cmt = [];
            var id = [];
            var attStatus = 1;
            for (var i = 0; i <= c; i++) {

                atn[i] = $("#atn" + i).val();
                cmt[i] = $("#cmt" + i).val();
                id[i] = $("#" + i).val();

                if (atn[i] == "0" || atn[i] == null || atn[i] == "") {
                    attStatus = 0;
                }
                else {
                    $("#errorMsg").text("");
                    $("#div_Error").hide();
                }

            }

            if (attStatus == 0) {
                a.push("@ResourceCache.Localize("PleaseSelectAttendanceStatusToAllEmployee")");
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }

            $("#MandatoryFieldErrorMessage_List").hide();
            var values = { Att_allAcademicYears: yearId, txt_AttendanceDate: date, Id: id, atn_status: atn, atn_comment: cmt, TotalCount: c };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/AttendanceManagement/AddEmployeeAttendance',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {

                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();

                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.InfoMessage != "" && data.InfoMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#MyInfoText").show();
                            $("#AddInfoText").empty();
                            $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });


    });
    </script>
}