﻿@model IEnumerable<eAcademy.ViewModel.FacultyAttendanceReport>
@using eAcademy.Models
@{
    ViewBag.Title = "FacultyAttendanceReport";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("FacultyReport") </span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Faculty")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("allFaculties", new SelectList(ViewBag.allFaculties, "FacultyId", "FacultyName"), ResourceCache.Localize("SelectFaculty"), new { @class = "filterItem" })
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12 filterItem" type="text" id="faculty_txt_FromDate" name="faculty_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12 filterItem" type="text" id="faculty_txt_ToDate" name="faculty_txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-sm btn_submit btn-down" id="FacultyAttendanceReport_FilterButton"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12 btn-down" id="show">
                    <table class="col-lg-12" id="FacultyAttendanceReportGrid"></table>
                    <div id="FacultyAttendanceReportPager"></div>
                </div>

                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("EmployeeReport") </span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Employee")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("allEmployees", new SelectList(ViewBag.allEmployees, "EmployeeId", "EmployeeName"), ResourceCache.Localize("SelectEmployee"), new { @class = "filterItem" })
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12 filterItem" type="text" id="emp_txt_FromDate" name="emp_txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                        </div>

                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12 filterItem" type="text" id="emp_txt_ToDate" name="emp_txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-sm btn_submit btn-down" id="EmployeeAttendanceReport_FilterButton"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12 btn-down">
                    <table class="col-lg-12" id="EmployeeAttendanceReportGrid"></table>
                    <div id="EmployeeAttendanceReportPager"></div>
                </div>

                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard"></i> <span class="box-title">@ResourceCache.Localize("StudentReport")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Att_allAcademicYears1", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Att_allClass1", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"))
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Att_Section1", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } })
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk filterItem"></span></div>
                            @Html.DropDownList("Att_SectionStudent1", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } }, new { @class = "filterItem" })
                        </div>
                        <div class="col-sm-3">
                            <label class="input-label-sm">@ResourceCache.Localize("FromDate")</label><span class="glyphicon glyphicon-asterisk"></span>
                            <input class="col-lg-12 filterItem" type="text" id="txt_FromDate" name="txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                        </div>

                        <div class="col-sm-3">
                            <label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span>
                            <input class="col-lg-12 filterItem" type="text" id="txt_ToDate" name="txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                        </div>

                        <div class="col-sm-3">
                            <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="StudentAttendanceReport_filterButton"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12 btn-down">
                    <table class="col-lg-12" id="StudentAttendanceReportGrid"></table>
                    <div id="StudentAttendanceReportPager"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
    // alert("ssk");
       // alert(@Session["Add_ChosenAcademicYearId"]);
    $('#Att_allAcademicYears1').val(@Session["Add_ChosenAcademicYearId"]);
    $('#Att_allAcademicYears1').change(function (event) {
        event.preventDefault();
        $("#Att_allClass1").val("");
        $("#Att_Section1").empty().append('<option value="">Select Section</option>');
        $("#Att_SectionStudent1").empty().append('<option value="">Select Student</option>');
        $("#txt_FromDate").val("");
        $("#txt_ToDate").val("");
        var YearId = $('#Att_allAcademicYears1').val();
        AssignAcademicYear(YearId);
    });
    function AssignAcademicYear(YearId) {
        $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                  function (orderdetails) {
                  });
    }

    $(function () {
        var dates = $("#txt_FromDate, #txt_ToDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                var option = this.id == "txt_FromDate" ? "minDate" : "maxDate",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(
                instance.settings.dateFormat ||
                $.datepicker._defaults.dateFormat,
                selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
    });

    // Student Attendance Report

    jQuery("#StudentAttendanceReportGrid").jqGrid({

        url: "/AttendanceManagement/StudentAttendanceReportResults",
        datatype: 'json',
        mtype: 'Get',
        colNames: ['@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Comments")', 'Att_SectionStudent', 'txt_FromDate', 'txt_ToDate'],
        colModel: [
            { key: false, name: 'Date1', index: 'Date1', align: 'center' },
            { key: false, name: 'Status', index: 'Status', editable: true },
            { key: false, name: 'Reason', index: 'Reason', editable: true },
            { key: false, hidden: true, name: 'Att_SectionStudent', index: 'Att_SectionStudent' },
            { key: false, hidden: true, name: 'txt_FromDate', index: 'txt_FromDate' },
            { key: false, hidden: true, name: 'txt_ToDate', index: 'txt_ToDate' },
        ],
        pager: jQuery("#StudentAttendanceReportPager"),

        rowList: [10, 25, 50, 100],
        height: '100%',
        viewrecords: true,
        emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        autowidth: true,
        hoverrows: true,


    }).navGrid('#StudentAttendanceReportPager', { edit: false, add: false, del: false, search: false, refresh: false }
         ).jqGrid('navButtonAdd', '#StudentAttendanceReportPager',
         {
             caption: " @ResourceCache.Localize("Excel") ",
             buttonicon: "ui-icon-bookmark",
             onClickButton: function () {
                 window.location.href = "../AttendanceManagement/StudentAttendanceReport_ExportToExcel";
             }
         }).jqGrid('navButtonAdd', '#StudentAttendanceReportPager',
         {
             caption: " @ResourceCache.Localize("Pdf")  ",
             buttonicon: "ui-icon-print",
             position: "last",
             onClickButton: function () {
                 window.location.href = "../AttendanceManagement/StudentAttendanceReport_ExportToPdf?pdf=true";
             }
         });

    $("#StudentAttendanceReportGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("StudentAttendanceReportList")');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

    $('#StudentAttendanceReport_filterButton').click(function (event) {
        var yearId = $("#Att_allAcademicYears1").val();
        var classId = $("#Att_allClass1").val();
        var secId = $("#Att_Section1").val();
        var stuId = $("#Att_SectionStudent1").val();
        var fdate = $("#txt_FromDate").val();
        var toDate = $("#txt_ToDate").val();

        $("#Att_allAcademicYears1").addClass("current_button searchGrid");
        $("#Att_allClass1").addClass("current_button searchGrid");
        $("#Att_Section1").addClass("current_button searchGrid");
        $("#Att_SectionStudent1").addClass("current_button searchGrid");
        $("#txt_FromDate").addClass("current_button searchGrid");
        $("#txt_ToDate").addClass("current_button searchGrid");

        var a = [];
        var field_val = [];
        $(".searchGrid").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Att_allAcademicYears1') {

                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'Att_allClass1') {

                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'Att_Section1') {

                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'Att_SectionStudent1') {

                    a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                }
                if (null_id == 'txt_FromDate') {

                    a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'txt_ToDate') {

                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
            }
            else {
            }
        });

        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Edit").show();
            $(".Edit_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Edit_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_Edit").hide();
        }
        event.preventDefault();
        StudentAttendanceReport_filterGrid();
    });

    function StudentAttendanceReport_filterGrid() {
        $("#MandatoryFieldErrorMessage_Edit").hide();
        var postDataValues = $("#StudentAttendanceReportGrid").jqGrid('getGridParam', 'postData');
        var newdt;
        $('.searchGrid').each(function (index, item) {
            //postDataValues[$(item).attr('id')] = $(item).val();
            if (index == 4 || index == 5) {
                var dt = $(item).val().split('/');
                newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
            }
            else {
                newdt = $(item).val();
            }
            postDataValues[$(item).attr('id')] = newdt;
        });
        $('#StudentAttendanceReportGrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    };

    // Faculty Attendance Report

    jQuery("#FacultyAttendanceReportGrid").jqGrid({

        url: "/AttendanceManagement/FacultyAttendanceReportResults",
        datatype: 'json',
        mtype: 'Get',
        colNames: ['@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Comments")', 'allFaculties', 'faculty_txt_FromDate', 'faculty_txt_ToDate'],
        colModel: [
            { key: false, name: 'Date1', index: 'Date1', align: 'center' },
            { key: false, name: 'Status', index: 'Status', editable: true },
            { key: false, name: 'Reason', index: 'Reason', editable: true },
            { key: false, hidden: true, name: 'Att_SectionStudent', index: 'Att_SectionStudent' },
            { key: false, hidden: true, name: 'txt_FromDate', index: 'txt_FromDate' },
            { key: false, hidden: true, name: 'txt_ToDate', index: 'txt_ToDate' },
        ],
        pager: jQuery("#FacultyAttendanceReportPager"),

        rowList: [10, 25, 50, 100],
        height: '100%',
        viewrecords: true,
        emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        autowidth: true,
        hoverrows: true,


    }).navGrid('#FacultyAttendanceReportPager', { edit: false, add: false, del: false, search: false, refresh: false }
        ).jqGrid('navButtonAdd', '#FacultyAttendanceReportPager',
        {
            caption: " @ResourceCache.Localize("Excel") ",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../AttendanceManagement/FacultyAttendanceReport_ExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#FacultyAttendanceReportPager',
        {
            caption: " @ResourceCache.Localize("Pdf")  ",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../AttendanceManagement/FacultyAttendanceReport_ExportToPdf";
            }
        });

    $("#FacultyAttendanceReportGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("FacultyAttendanceReportList")');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

    $('#FacultyAttendanceReport_FilterButton').click(function (event) {
        var facultyId = $("#allFaculties").val();
        var fdate = $("#faculty_txt_FromDate").val();
        var toDate = $("#faculty_txt_ToDate").val();
        $("#allFaculties").addClass("current_button");
        $("#faculty_txt_FromDate").addClass("current_button");
        $("#faculty_txt_ToDate").addClass("current_button");
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'allFaculties') {

                    a.push('@ResourceCache.Localize("PleaseSelectFaculty")');
                }
                if (null_id == 'faculty_txt_FromDate') {

                    a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'faculty_txt_ToDate') {

                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
            }
            else {
            }
        });

        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_List").show();
            $(".List_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".List_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_List").hide();
        }
        event.preventDefault();
        FacultyAttendanceReport_filterGrid();
    });

    function FacultyAttendanceReport_filterGrid() {
        $("#MandatoryFieldErrorMessage_List").hide();
        var postDataValues = $("#FacultyAttendanceReportGrid").jqGrid('getGridParam', 'postData');
        var newdt;
        $('.filterItem').each(function (index, item) {
            if (index == 0) {
                newdt = $(item).val();
            }
            else {
                var dt = $(item).val().split('/');
                newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
            }
            postDataValues[$(item).attr('id')] = newdt;
        });
        $('#FacultyAttendanceReportGrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    };

    $(function () {
        var dates = $("#faculty_txt_FromDate, #faculty_txt_ToDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                var option = this.id == "faculty_txt_FromDate" ? "minDate" : "maxDate",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(
                instance.settings.dateFormat ||
                $.datepicker._defaults.dateFormat,
                selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
    });

    // Employee Attendance Report

    jQuery("#EmployeeAttendanceReportGrid").jqGrid({

        url: "/AttendanceManagement/EmployeeAttendanceReportResults",
        datatype: 'json',
        mtype: 'Get',
        colNames: ['@ResourceCache.Localize("Date")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Comments")', 'allFaculties', 'faculty_txt_FromDate', 'faculty_txt_ToDate'],
        colModel: [
            { key: false, name: 'Date1', index: 'Date1', align: 'center' },
            { key: false, name: 'Status', index: 'Status', editable: true },
            { key: false, name: 'Reason', index: 'Reason', editable: true },
            { key: false, hidden: true, name: 'Att_SectionStudent', index: 'Att_SectionStudent' },
            { key: false, hidden: true, name: 'txt_FromDate', index: 'txt_FromDate' },
            { key: false, hidden: true, name: 'txt_ToDate', index: 'txt_ToDate' },
        ],
        pager: jQuery("#EmployeeAttendanceReportPager"),

        rowList: [10, 25, 50, 100],
        height: '100%',
        viewrecords: true,
        emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        autowidth: true,
        hoverrows: true,


    }).navGrid('#EmployeeAttendanceReportPager', { edit: false, add: false, del: false, search: false, refresh: false }
       ).jqGrid('navButtonAdd', '#EmployeeAttendanceReportPager',
       {
           caption: " @ResourceCache.Localize("Excel") ",
           buttonicon: "ui-icon-bookmark",
           onClickButton: function () {
               window.location.href = "../AttendanceManagement/EmployeeAttendanceReport_ExportToExcel";
           }
       }).jqGrid('navButtonAdd', '#EmployeeAttendanceReportPager',
       {
           caption: " @ResourceCache.Localize("Pdf")  ",
           buttonicon: "ui-icon-print",
           position: "last",
           onClickButton: function () {
               window.location.href = "../AttendanceManagement/EmployeeAttendanceReport_ExportToPdf";
           }
       });

    $("#EmployeeAttendanceReportGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("EmployeeAttendanceReportList")');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')

    $('#EmployeeAttendanceReport_FilterButton').click(function (event) {
        var empId = $("#allEmployees").val();
        var fdate = $("#emp_txt_FromDate").val();
        var toDate = $("#emp_txt_ToDate").val();

        $("#allEmployees").addClass("current_button searchGridEmp");
        $("#emp_txt_FromDate").addClass("current_button searchGridEmp");
        $("#emp_txt_ToDate").addClass("current_button searchGridEmp");

        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'allEmployees') {

                    a.push('@ResourceCache.Localize("PleaseSelectEmployee")');
                }
                if (null_id == 'emp_txt_FromDate') {

                    a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'emp_txt_ToDate') {

                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
            }
            else {
            }
        });

        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_Add").hide();
        }
        event.preventDefault();
        employeeAttendanceReport_filterGrid();
    });

    function employeeAttendanceReport_filterGrid() {
        $("#MandatoryFieldErrorMessage_Add").hide();
        var postDataValues = $("#EmployeeAttendanceReportGrid").jqGrid('getGridParam', 'postData');
        var newdt;
        $('.searchGridEmp').each(function (index, item) {
            if (index == 0) {
                newdt = $(item).val();
            }
            else {
                var dt = $(item).val().split('/');
                newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
            }
            postDataValues[$(item).attr('id')] = newdt;
        });
        $('#EmployeeAttendanceReportGrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    };

    $(function () {
        var dates = $("#emp_txt_FromDate, #emp_txt_ToDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                var option = this.id == "emp_txt_FromDate" ? "minDate" : "maxDate",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(
                instance.settings.dateFormat ||
                $.datepicker._defaults.dateFormat,
                selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
    });

    $("#allEmployees").addClass("col-lg-12");

    $('#Att_allClass1').change(function (event) {
        event.preventDefault();
            $("#Att_Section1").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#Att_SectionStudent1").empty().append('<option value="">Select Student</option>');
            LoadClassDetailsA1();
        });


        function LoadClassDetailsA1() {
            var ClassId = $('#Att_allClass1').val();
            $.getJSON('/AttendanceManagement/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Att_Section1").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Att_Section1").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        }


        $('#Att_Section1').change(function (event) {
            event.preventDefault();
            LoadStudentDetailsAS();
        });

        function LoadStudentDetailsAS() {
            var yearId = $("#Att_allAcademicYears1").val();
            var classId = $("#Att_allClass1").val();
            var SectionId = $('#Att_Section1').val();
            $.getJSON('/AttendanceManagement/GetSectionStudents', { passYearId: yearId, passClassId: classId, passSectionId: SectionId },
                function (orderdetails) {
                    $("#Att_SectionStudent1").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#Att_SectionStudent1").append($('<option></option>').val(c.id).html(c.name));
                });
            });
    }

    </script>
}

