﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.Grade>
@{
    ViewBag.Title = "GradeType";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-6  pull-right" id="idSection_addGradeType">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_grade_type")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                        <div class="row">
                            <div class="col-lg-6">
                                <div><label class=" input-label-sm">@ResourceCache.Localize("GradeType")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                <div><input class="col-md-12 current_button" id="txt_GradeType" name="txt_GradeType" type="text" placeholder="@ResourceCache.Localize("GradeType")" title="@ResourceCache.Localize("GradeType")" /></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped Grade" id="addGradeDetails">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("GradeName")</th>
                                        <th>@ResourceCache.Localize("MinimumRange")</th>
                                        <th>@ResourceCache.Localize("MaximumRange")</th>
                                        <th>@ResourceCache.Localize("GradeDiscription")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input class="col-lg-12 current_button" type="text" id="gradeName1" name="gradeName1" placeholder="@ResourceCache.Localize("GradeName")" required title="@ResourceCache.Localize("GradeName")" /></td>
                                        <td><input type="text" class="col-lg-12 minMark current_button" id="minMark1" maxlength="3" name="minMark1" placeholder="@ResourceCache.Localize("MinMark")" required title="@ResourceCache.Localize("MinMark")" /></td>
                                        <td><input type="text" class="col-lg-12 maxMark current_button" id="maxMark1" maxlength="3" name="maxMark1" placeholder="@ResourceCache.Localize("MaxMark")" required title="@ResourceCache.Localize("MaxMark")" /></td>
                                        <td><textarea class=" col-lg-12 current_button" id="txt-gradeDesc1" name="txt-gradeDesc1" placeholder="@ResourceCache.Localize("GradeDescription")" required title="@ResourceCache.Localize("GradeDescription")" style="resize:none;height:50px;"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <div class="row">
                                <div id="addrow1" class="col-xs-12 col-sm-12">
                                    <a id="btnaddNewRow" name="btnaddNewRow" class="cursor"><i class="fa fa-plus ">Add New</i> </a> /<a id="ibtnDel" name="ibtnDel" class="cursor"><i class="fa fa-trash">Delete</i></a>
                                </div>
                            </div>

                            <div class="box-footer no-border">

                                <div class="footer foot_row col-xs-12">
                                    <button type="button" id="btnSaveGradeDetails" class="btn btn_double  btn-sm btn_add"><i class="fa fa-save"></i>@ResourceCache.Localize("Save")</button>
                                    <button type="reset" id="btnResetGradeDetails" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                                </div><!-- /.row -->
                            </div>
                        </div>
                </form>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-6 " >
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageGradeType")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")

                        <div class="col-sm-4 col-lg-3 col-md-4">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Grade")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div>@Html.DropDownList("dd_GradeType", new SelectList(ViewBag.GradeType, "GradeTypeId", "GradeTypeName"), @ResourceCache.Localize("All"), new { @class = "filterItem" })</div>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <button type="submit" id="btnRole_Filter" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div><!-- /.box-body -->
                </form>
                <div class="box-body">
                    <table class="table table-bordered table-striped" border="1" id="Grade_grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section>


        <section class="col-xs-12 col-sm-12 col-md-6 pull-right" id="idSection_EditGradeType" style="display:none">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_grade_type")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="input-label-sm">@ResourceCache.Localize("GradeType") </label> <span class="glyphicon glyphicon-asterisk"></span>
                                @Html.TextBox("GradeType2", "", new { @class = "col-lg-3 UpdateCurrent_button" })
                                <input type="hidden" id="txt-gradeType1" name="txt-gradeType1" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <table class="updateGrade table table-bordered table-striped" id="updateGradeDetails">
                                <thead>
                                    <tr>
                                        <th>@ResourceCache.Localize("GradeName")</th>
                                        <th>@ResourceCache.Localize("MinimumRange")</th>
                                        <th>@ResourceCache.Localize("MaximumRange")</th>
                                        <th>@ResourceCache.Localize("GradeDiscription")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="row">
                                <div id="addrow1" class="col-xs-12 col-sm-12">
                                    <a id="EditbtnaddNewRow" name="EditbtnaddNewRow" class="cursor"><i class="fa fa-plus ">AddNew</i> </a> /<a id="ibtnDel1" name="ibtnDel1" class="cursor"><i class="fa fa-trash">Delete</i></a>
                                </div>
                            </div>
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                                <div><input class="current_button_Edit" type="checkbox" id="txt_status" name="txt_status" /><label class="input-label-sm">Active</label></div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="footer">

                                    <button class="btn  btn-sm btn_double btn_update" type="button" id="btnUpdateGradeDetails"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                    <button class="btn btn-sm btn_cancel" type="button" id="btnCancelGradeDetails"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel")</button>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </div>
                </form>
            </div><!-- /.box -->
        </section><!-- right col -->
    </div>
</section>

@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $("#txt_schoolName").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#txt_schoolcode").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#txt_GradeType").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#txt-gradeDesc1").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#minMark1").filter_input({ regex: '[0-9]' });
        $("#maxMark1").filter_input({ regex: '[0-9]' });
        var EditNumberofrows;
        var Numberofrows = 0;
        $(document).ready(function () {
            var MapRoleId, gradetypeid;
            jQuery("#Grade_grid1").jqGrid({
                url: "/GradeConfiguration/GradeTypeResult",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['', '@ResourceCache.Localize("GradeType")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Actions")'],
                colModel: [
                    { key: true, hidden: true, name: 'IdGradeType', index: 'IdGradeType' },
                    { key: false, name: 'GradeType', index: 'GradeType' },
                    { key: false, name: 'Status', index: 'Status', editable: true },
                   //   { key: false, name: 'addview', index: 'addview', formatter: 'showlink', formatoptions: { baseLinkUrl: '/GradeConfiguration/GradeDetails' } },
                    { name: 'actt', index: 'actt', width: 75, sortable: false, align: 'center' },
                //      { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#pager1"),
                rowList: [50, 100, 250, 500, 1000],
                rowNum: 50,
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
                gridComplete: function () {
                    var ids = jQuery("#Grade_grid1").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        gradetypeid = ids[i];
                        bc = "<input style='height:23px;width:22px;' type='button' class='btn_edit_grdetypeDetails btn_Edit ui-icon-pencil' id='" + gradetypeid + "' value=''  title='Add/Edit'/>";
                        jQuery("#Grade_grid1").jqGrid('setRowData', ids[i], { actt: bc });
                    }
                },
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Excel ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../GradeConfiguration/GradetypeExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Pdf ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../GradeConfiguration/GradetypeExportToPDF";
                    }
                });
            $("#Grade_grid1").setCaption(' <span class="fa fa-table"></span>' + 'Grade Type List');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#btnRole_Filter').click(function (event) {
                event.preventDefault();
                filterGrid();
            });
            function filterGrid() {
                var postDataValues = $("#Grade_grid1").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#Grade_grid1').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
                $("#Grade_grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };
            $('#btnCancelGradeDetails').click(function () {
                $('#idSection_addGradeType').show();
                $('#idSection_EditGradeType').hide();
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jErr").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonEditErrorMsg").hide();
                $(".EditErrorMsg").hide();
                $(".EditMsg").hide();
                $(".jEditErrorMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#AddErrorText").hide();
                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                
            });

            
            


            var count = 1;                                                                          //Add Link in Add Grade
            $("#btnaddNewRow").click(function () {
                //count = 1;
                $(".jsonError").hide();
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonEditErrorMsg").hide();
                $(".jEditErrorMsg").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jErrMsg").hide();               
                var GradeName = $('#gradeName' + count).val();
                var addmin = $('#minMark' + count).val();
                var addmax = $('#maxMark' + count).val();
                var adddes = $('#txt-gradeDesc' + count).val();
                MinMark = parseInt(addmin);
                MaxMark = parseInt(addmax);
                //alert("addmax====" + addmax);
                //alert("addmin====" + addmin); 
                if (GradeName == 0 || GradeName == "" || addmin == "" || addmax == "" || adddes == "") {
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").show();
                    $("#jErrMsg").text('@ResourceCache.Localize("PleaseFillGradeName,Minimum Range,Maximum Range,Grade Discription").');

                }
                else if (MaxMark < MinMark) {
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("FillRow")  " + (count) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range") ").val("@ResourceCache.Localize("FillRow") " + (count) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range")");

                }

                else {
                    count++;
                    //alert("AFtcount====" + count);
                    row = $('<tr><td><input class="col-lg-12 current_button " type="text" id="gradeName' + count + '" name="gradeName' +
                        count + '" placeholder="Enter GradeName" required title="Grade Name" /></td> <td><input type="text" class="col-lg-12 current_button minMark " id="minMark' + count + '" name="minMark' +
                        count + '" placeholder="Enter Min Mark" required title="Min Mark" /></td><td><input type="text" class="col-lg-12 current_button maxMark " id="maxMark' + count + '" name="maxMark' +
                        count + '" placeholder="Enter Max Mark" required title="Max Mark" /></td><td><textarea class="col-lg-12 current_button " id="txt-gradeDesc' + count + '" name="txt-gradeDesc' +
                        count + '" placeholder="Grade Description" required title="Grade Description" style="resize:none;height:50px;"></textarea></td></tr>');//<td><a href="#" id="ibtnDel">Delete</a></td>
                    $("#addGradeDetails").append(row);
                    $('#minMark' + count).filter_input({ regex: '[0-9-.]' });
                    $('#maxMark' + count).filter_input({ regex: '[0-9-.]' });
                    $("#count").val(count).html(count);
                }
            });

            //Delete Link in Add Grade
            $("#ibtnDel").click(function () {
                if (count == 1) {
                    $(".jsonError").hide();
                    $("#div_Error").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonEditErrorMsg").hide();
                    $(".jEditErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").show();
                    $(".jErrMsg").text('@ResourceCache.Localize("Cannotremovetherow").');
                    return false;
                }
                else {
                    $("#div_Error").hide();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonEditErrorMsg").hide();
                    $(".jEditErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("table.Grade tr:last").remove();
                    count--;
                }
            });
            //Add Link in Edit Grade
            $('#EditbtnaddNewRow').click(function () {
                $(".jsonErrorMsg").hide();
                $(".jErrMsg").hide();
                $(".jsonEditErrorMsg").hide();
                $(".jEditErrorMsg").hide();
                EditNumberofrows = $(".updateGrade  tbody  tr").length;
                //alert("EditNumberofrows" + EditNumberofrows);
                var UpdateGradeName = $('#UpdategradeName' + EditNumberofrows).val();
                var Updatemin = $('#UpdateminMark' + EditNumberofrows).val();
                var Updatemax = $('#UpdatemaxMark' + EditNumberofrows).val();
                var Updatedes = $('#Updatetxt-gradeDesc' + EditNumberofrows).val();
                UpMinMark = parseInt(Updatemin);
                UpMaxMark = parseInt(Updatemax);
                //alert("Updatemin" + Updatemin);
               // alert("Updatemax" + Updatemax);
                if (UpdateGradeName == 0 || UpdateGradeName == "" || Updatemin == "" || Updatemax == "" || Updatedes == "") {
                    $(".jsonEditErrorMsg").show();
                    $(".jEditErrorMsg").show();
                    $(".jEditErrorMsg").text('@ResourceCache.Localize("PleaseFillGradeName,Minimum Range,Maximum Range,Grade Discription").');
                    return false;
                }
                else if (UpMaxMark <= UpMinMark) {
                    // alert("fhwer");
                    $(".jsonEditErrorMsg").show();
                    $(".jEditErrorMsg").show();
                    $(".jEditErrorMsg").html("@ResourceCache.Localize("FillRow")  " + (EditNumberofrows) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range") ").val("@ResourceCache.Localize("FillRow") " + (EditNumberofrows) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range")");

                }
                else {
                    EditNumberofrows++;
                    row = $('<tr><td><input class="col-lg-12" type="text" id="UpdategradeName' + EditNumberofrows + '" name="UpdategradeName' +
                            EditNumberofrows + '" placeholder="Enter GradeName"  required title="Grade Name" /></td> <td><input type="text" class="col-lg-12 minMark" id="UpdateminMark' + EditNumberofrows + '" name="UpdateminMark' +
                            EditNumberofrows + '" placeholder="Enter Min Mark" maxlength="3" required title="Min Mark" /></td><td><input type="text" class="col-lg-12 maxMark" id="UpdatemaxMark' + EditNumberofrows + '" name="UpdatemaxMark' +
                            EditNumberofrows + '" placeholder="Enter Max Mark" maxlength="3" required title="Max Mark" /></td><td><textarea class="col-lg-12" id="Updatetxt-gradeDesc' + EditNumberofrows + '" name="Updatetxt-gradeDesc' +
                            EditNumberofrows + '" placeholder="Grade Description" required title="Grade Description" style="resize:none;height:50px;"></textarea></td></tr>');
                    $("#updateGradeDetails").append(row);
                    //alert(EditNumberofrows);
                    $('#UpdateminMark' + EditNumberofrows).filter_input({ regex: '[0-9-.]' });
                    $('#UpdatemaxMark' + EditNumberofrows).filter_input({ regex: '[0-9-.]' });
                    $("#count").val(EditNumberofrows).html(EditNumberofrows);
                }


            });
            //Delete Link in Edit Grade
            $('#btnResetGradeDetails').click(function () {
                //alert("count"+count)
                for (var i = 1; 1 < count; i++) {
                    $("table.Grade tr:last").remove();
                    count--;
                }
                $('#GradeSystem').show();
                $('#div-displayGradeDetails').hide();
                $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jErr").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jupdateSuccessMsg").hide();
                $(".updateSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#AddErrorText").hide();
                $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                $('#GradeSystem').show();
            });
            $('#ibtnDel1').click(function () {
                var EditNumberofrows = $(".updateGrade  tbody  tr").length;
                if (EditNumberofrows == RowCount  ) {
                    $(".jsonError").hide();
                    $("#div_Error").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonEditErrorMsg").show();
                    $(".jEditErrorMsg").show();
                    $(".jEditErrorMsg").text('@ResourceCache.Localize("Cannotremovetherow").');
                    return false;
                }
                else if(EditNumberofrows==1)
                {
                    $(".jsonError").hide();
                    $("#div_Error").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonEditErrorMsg").show();
                    $(".jEditErrorMsg").show();
                    $(".jEditErrorMsg").text('@ResourceCache.Localize("Cannotremovetherow").');
                    return false;
                }
                else {
                    $("#div_Error").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonEditErrorMsg").hide();
                $(".jEditErrorMsg").hide();
                $("table.updateGrade tr:last").remove();
                EditNumberofrows--;
            }
                
            });

            //Update btn

            $('#btnUpdateGradeDetails').click(function () {
                $('#Div_Error').hide();

                $('#AddGrade').hide();
                $(".jsonEditErrorMsg").hide();
                $(".jEditErrorMsg").hide();
                var amountOfRows = $("#updateGradeDetails  tbody  tr").length;
                var gradename = [];
                var min = [];
                var max = [];
                var des = [];
                var gid = [];
                var min1 = 0;
                var max1 = 0;
                var check = $("#txt_status").is(':checked');
                var gradesystemname = $('#GradeType2').val();
                //   alert("gradesystemname====" + gradesystemname);
                var b = [];
                var field_value = [];

                $(".UpdateCurrent_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('id');
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'GradeType2') {
                            b.push('@ResourceCache.Localize("Grade_type_is_required").');
                        }
                    }
                });
                if (b.length != 0) {
                    $('#Div_Error').show();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").append().empty();
                    $.each(b, function (i, v) {
                        if (b[i] != "" && b[i] != null) {
                            li = $("<li></li>").text(b[i]);
                            $(".jErrMsg").show();
                            $(".jErrMsg").append(li);
                        }
                    });
                    b = [];
                    return false;
                }

                for (i = 0; i < amountOfRows; i++) {
                    gradename[i] = $('#UpdategradeName' + (i + 1)).val();
                    min[i] = $('#UpdateminMark' + (i + 1) + '').val();
                    max[i] = $('#UpdatemaxMark' + (i + 1) + '').val();
                    des[i] = $('#Updatetxt-gradeDesc' + (i + 1) + '').val();
                    gid[i] = $('#UpdategradeId' + (i + 1) + '').val();
                    min1 = parseInt(min[i]);
                    max1 = parseInt(max[i]);
                    //alert("min====" + min1);
                    //alert("max====" + max1);
                    if (gradename[i] == "0" || gradename[i] == null || gradename[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + " @ResourceCache.Localize("GradeName")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + " @ResourceCache.Localize("GradeName")");
                        return false;
                    }
                    else if (min[i] == null || min[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + " @ResourceCache.Localize("MinimumRange")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("MinimumRange")");
                        return false;
                    }
                    else if (max[i] == null || max[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("MaximumRange")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("MaximumRange")");
                        return false;
                    }
                    else if (des[i] == null || des[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("GradeDescription")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("GradeDescription")");
                        return false;
                    }
                    else if (min1 > max1) {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").show();
                        //alert("Error");
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range") ").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range")");
                        return false;
                    }
                    else {
                    }
                }
                var Status1;
                if (check == true) {
                    Status1 = true;
                }
                else {
                    Status1 = false;
                }

                var gradesystemid = $('#txt-gradeType1').val();
                values = { grdesystemid: gradesystemid, gradesystemname: gradesystemname, gradename: gradename, min: min, max: max, des: des, gid: gid, count: amountOfRows, Status: Status1 };

           // alert(JSON.stringify(values));

                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/GradeConfiguration/SaveEditGrade',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data != null) {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                //  $(".jsonSuccessMsg").hide();
                                $(".EditErrorMsg").show();
                                $(".EditMsg").show();
                                $(".EditMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $('#div-displayGradeDetails').show();
                                $('#div-enterGradeDetails').hide();
                                $('#idSection_addGradeType').hide();
                               
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $('#Div_Error').show();
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".EditErrorMsg").hide();
                                $(".EditMsg").hide();
                                $(".jupdateSuccessMsg").show();
                                $(".updateSuccessMsg").show();
                                $(".updateSuccessMsg").html(data.Message).val(data.Message);
                                $('#idSection_EditGradeType').hide();
                                $('#idSection_addGradeType').show();
                                $('#GradeSystem').show();
                                $("#Grade_grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });
            //Save btn in add grade
            $('#btnSaveGradeDetails').click(function () {
                $('#Div_Error').hide();

                var amountOfRows = $("#addGradeDetails  tbody  tr").length;
                var txt_GradeType = $("#txt_GradeType").val();
                var gradename = [];
                var min = [];
                var max = [];
                var des = [];
                var gid = [];
                var min1 = 0;
                var max1 = 0;

                var a = [];
                var field_val = [];

                var desError = $('#txt-gradeDesc1').val();
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'txt_GradeType') {
                            a.push('@ResourceCache.Localize("Grade_type_is_required").');
                        }
                        if (null_id == 'gradeName1') {
                            a.push("@ResourceCache.Localize("FillRow") " + (1) + " " + " @ResourceCache.Localize("GradeName")");
                        }
                        if (null_id == 'minMark1') {
                            a.push("@ResourceCache.Localize("FillRow") " + (1) + " " + " @ResourceCache.Localize("MinimumRange")");
                        }
                        if (null_id == 'maxMark1') {
                            a.push("@ResourceCache.Localize("FillRow") " + (1) + " " + " @ResourceCache.Localize("MaximumRange")");
                        }
                        if (null_id == 'txt-gradeDesc1') {
                            a.push("@ResourceCache.Localize("FillRow") " + (1) + " " + " @ResourceCache.Localize("GradeDescription")");
                        }
                    }
                });
                if (desError == " ") {
                    a.push("@ResourceCache.Localize("FillRow") " + (1) + " @ResourceCache.Localize("GradeDescription")");
                }
                if (a.length != 0) {
                    $('#Div_Error').show();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErrMsg").append(li);
                        }
                    });
                    a = [];
                    return false;
                }


                for (i = 0; i < amountOfRows; i++) {
                    gradename[i] = $('#gradeName' + (i + 1) + '').val();
                    min[i] = $('#minMark' + (i + 1) + '').val();
                    max[i] = $('#maxMark' + (i + 1) + '').val();
                    des[i] = $('#txt-gradeDesc' + (i + 1) + '').val();
                    min1 = parseInt(min[i]);
                    max1 = parseInt(max[i]);
                    //alert("min====" + min1);
                    //alert("max====" + max1);
                    if (gradename[i] == "0" || gradename[i] == null || gradename[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + " @ResourceCache.Localize("GradeName")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + " @ResourceCache.Localize("GradeName")");
                        return false;
                    }
                    else if (min[i] == null || min[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + " @ResourceCache.Localize("MinimumRange")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("MinimumRange")");
                        return false;
                    }
                    else if (max[i] == null || max[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("MaximumRange")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("MaximumRange")");
                        return false;
                    }
                    else if (des[i] == null || des[i] == " " || des[i] == "") {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("FillRow")" + (i + 1) + " " + "@ResourceCache.Localize("GradeDescription")").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("GradeDescription")");
                        return false;
                    }
                    else if (min1 > max1) {
                        $('#Div_Error').show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $("#jErrMsg").show();
                        $("#jsonErrorMsg").show();
                        //alert("Error");
                        $("#jErrMsg").html("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range") ").val("@ResourceCache.Localize("FillRow") " + (i + 1) + " " + "@ResourceCache.Localize("Maximum_Range_is_must_Greater_than_Minimum_Range")");

                        return false;
                    }
                    else {
                    }
                }
                values = { txt_GradeType: txt_GradeType, gradename: gradename, min: min, max: max, des: des, count: amountOfRows };
                // alert(JSON.stringify(values));
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/GradeConfiguration/addGradeDetails',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data != null) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#Div_Error').show();
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $('#div-displayGradeDetails').hide();
                                $('#idSection_addGradeType').show();
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                //$('#Div_Error').show();
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Grade_grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');                               
                                $('#idSection_addGradeType').show();
                                $(".current_button").each(function () {
                                    //alert("Clear")
                                    $(this).val('');
                                });
                                //alert("count" + count)
                                for (var i = 1; 1 < count; i++) {
                                    $("table.Grade tr:last").remove();
                                    count--;
                                }
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });



            });

            //Edit icon in Grid
            var RowCount = 0;
            $(document).on('click', '.btn_edit_grdetypeDetails', function () {
                $('#Div_Error').hide();
                $(".jsonSuccessMsg").hide();
                $(".jSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonEditErrorMsg").hide();
                $(".jupdateSuccessMsg").hide();
                $(".updateSuccessMsg").hide();
                $(".EditErrorMsg").hide();
                $(".EditMsg").hide();
                $(".jEditErrorMsg").hide();
                RowCount = 0;
                $('#idSection_addGradeType').hide();
                var id = $(this).attr('id');
                values = { id: id };
                $("#idSection_EditGradeType").show();
                $("#GradeSystem").hide();
                $("#div_Error1").hide();
                $("#errorMsg1").hide();
                $("#txt-gradeType1").val(id);
                var id = $("#txt-gradeType1").val(id);
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/GradeConfiguration/GradeDetails',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data != null) {
                            //if (data.count > 0) {
                                //alert(data.GradeTypeName);
                                $('#GradeType2').val(data.GradeTypeName);
                                $('#txt-gradeType1').val(data.gradeTypeId);
                                var Status = data.Status;
                                if (Status == true) {
                                    $('#txt_status').prop('checked', true);
                                }
                                else {
                                    $('#txt_status').prop('checked', false);
                                }
                                $('#div-displayGradeDetails').show();
                                $('#div-enterGradeDetails').hide();
                                $('#GradeSystem').hide();
                                $('#updateGradeDetails tbody tr').remove();
                                $.each(data.ans, function (i, v) {
                                    row = $('<tr><td> <input type="hidden" id="UpdategradeId' + (i + 1) + '" name="UpdategradeId' + (i + 1) + '" value=' + v.gid + ' /><input class="col-lg-12 UpdateCurrent_button" type="text" id="UpdategradeName' + (i + 1) + '" name="UpdategradeName' + (i + 1) + '" placeholder="@ResourceCache.Localize("GradeName")" required title="@ResourceCache.Localize("GradeName")" value=' + v.g + '  /></td><td><input type="text" class="col-lg-12 minMark UpdateCurrent_button" id="UpdateminMark' + (i + 1) + '" maxlength="3" name="UpdateminMark' + (i + 1) + '" placeholder="@ResourceCache.Localize("MinMark")" required title="@ResourceCache.Localize("MinMark")" value=' + v.m1 + '  /></td>' +
                        '<td><input type="text" class="col-lg-12 maxMark UpdateCurrent_button" id="UpdatemaxMark' + (i + 1) + '" maxlength="3" name="UpdatemaxMark' + (i + 1) + '" placeholder="@ResourceCache.Localize("MaxMark")" required title="@ResourceCache.Localize("MaxMark")" value=' + v.m2 + ' /></td><td><textarea class="col-lg-12 UpdateCurrent_button" id="Updatetxt-gradeDesc' + (i + 1) + '" name="Updatetxt-gradeDesc' + (i + 1) + '" placeholder="@ResourceCache.Localize("GradeDescription")" required title="@ResourceCache.Localize("GradeDescription")" style="resize:none;height:50px;">' + v.d + ' </textarea></td></tr>');
                                    $('#updateGradeDetails').append(row);
                                    RowCount++;
                                    $('#minMark' + (i + 1)).filter_input({ regex: '[0-9-.]' });
                                    $('#maxMark' + (i + 1)).filter_input({ regex: '[0-9-.]' });
                                });
                            //}
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });
        });


        @*function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_GradeType') {
                    a.push('@ResourceCache.Localize("Grade_type_is_required").');
                }
            }
        });
        if (a.length != 0) {
            $('#Div_Error').show();
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $('#Div_Error').hide();
            $(".jsonError").hide();
            return true;
        }
    }*@
    </script>
}
