﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.GradeClass>
@{
    ViewBag.Title = "GradePlanner";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageGrade")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    <form>
                        <div class="col-xs-12">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            
                        </div>
                        <div class="col-lg-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("GradeacYear1", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "filterItem current_button" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("Gradeclass1", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "filterItem current_button" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <button type="button" id="GradeSystemfilter" class="btn btn-sm btn_search filterItem btn-down"><i class=" fa fa-search"></i> @ResourceCache.Localize("Search")</button>
                        </div>
                    </form>
                    <div class="col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="grid1"></table>
                        <div id="pager"></div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
        <section class="col-lg-4" id="addgradeplanner">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus "></i>
                    <h3 class="box-title">@ResourceCache.Localize("AddGrade")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body row border-radius-none">
                    <form>
                        <div class="col-xs-12" id="Err" style="display:none;">
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("GradeacYear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button1" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AllClass")</label>  <input class="current_button1" id="txt_checkclass" name="txt_checkclass" type="checkbox" /></div>
                            <div>
                                @Html.ListBox(
                                             "class_Fees",
                                                    new MultiSelectList(ViewBag.ClassList, "ClassId", "ClassType"),
                                               new { @class = "chzn-select current_button1", data_placeholder = @ResourceCache.Localize("ChooseClass") }
                                            )
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("GradeType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("GradeType", new SelectList(ViewBag.GradeType, "GradeTypeId", "GradeTypeName"), @ResourceCache.Localize("SelectGradeType"), new { @class = "current_button1" })
                            </div>
                        </div>
                        <div>
                            <div><input id="hidden-count" name="hidden-count" type="hidden" value="0" /></div>
                        </div>
                        <div class="col-lg-12" id="divtable-Grade" style="display:none">
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <table id="table-Grade" class="table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("GradeName")</th>
                                                <th>@ResourceCache.Localize("MinimumRange")</th>
                                                <th>@ResourceCache.Localize("MaximumRange")</th>
                                                <th>@ResourceCache.Localize("GradeDiscription")</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-viewGradeDetails"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- /.box-body -->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer">
                            <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddGradePattern" name="btnAddGradePattern" title="Add"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                            <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-lg-4 pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
            </div>
        </section>
        <div id="dialog-confirm" title="Delete from list?" style="display:none; ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0;"></span>@ResourceCache.Localize("These_grade_system_will_be_permanently_deleted_and_cannot_be_recovered._Are_you_sure?")</p>
        </div>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#GradeacYear1').val(@Session["List_ChosenAcademicYearId"]);
        $('#GradeacYear').val(@Session["Add_ChosenAcademicYearId"]); 
        //List
        $('#GradeacYear1').change(function (event) {
            $('#Gradeclass1').val("");
            event.preventDefault();
            var YearId = $('#GradeacYear1').val();
            AssignAcademicYear(YearId);          
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }
        $('.btn_reset').click(function () {
            location.reload();
        });
        //Add
        $('#GradeacYear').change(function (event) {
            event.preventDefault();
            $('#GradeType').val("");
            var YearId = $('#GradeacYear').val();
            AssignAcademicYear(YearId);
            $('#GradeacYear1').val(YearId);
            Add_AssignAcademicYear(YearId);
        });

        $('#GradeSystemfilter').click(function (event) {
            $('#Err').hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'GradeacYear1') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Gradeclass1') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                }
            });
            if (flag == 0) {
                $('#Err').hide();
                event.preventDefault();
                GradeSystemfilterrGrid();
            }
            if (a.length != 0) {
                $('#Err').hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#MandatoryFieldErrorMessage_List").show();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                var li = [];
                $("#List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $("#List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            }
        });
        function GradeSystemfilterrGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        jQuery("#grid1").jqGrid({
            url: "/GradeConfiguration/ClassGradeSystem",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("GradeType")', '@ResourceCache.Localize("Action")'],
            colModel: [
                 { key: true, hidden: true, name: 'gradesysid', index: 'gradesysid' },
                 { key: false, name: 'AcYear', index: 'AcYear' },
                 { key: false, name: 'Class', index: 'Class' },
                 { key: false, name: 'GradeType', index: 'GradeType' },
                 { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("Class_Grade_System_details")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    GradeClassId = ids[i];
                    de = "<input style='height:23px;width:22px;' type='button' class='btn_del_Gradesystem btn_Delete ui-icon-trash' id='" + GradeClassId + "' value='' title='Delete'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: de });
                }
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager',
            {
                caption: "Excel ",
                buttonicon: "ui-icon-bookmark",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../GradeConfiguration/ClassGradeSystemExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager',
            {
                caption: "pdf ",
                buttonicon: "ui-icon-bookmark",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../GradeConfiguration/ClassGradeSystemExportToPDF";
                }
            });
        $(document).on('click', '.btn_del_Gradesystem', function () {
            var id = $(this).attr('id');
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $(this).dialog("close");
                        $.getJSON('/GradeConfiguration/DeleteGradeSystem', { passId: id },
                           function (data) {
                               if (data.InfoMessage != null) {
                                   alert("sdkfksadf");
                                   //$("#idSection_addAcademic").hide();
                                   $("#addgradeplanner").hide();
                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                   $("#MandatoryFieldErrorMessage_List").hide();
                                   $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                   $("#Loading_Sec").removeClass("loading-new");
                                   $("#info_text").show();
                               }
                               else {
                                   $("#info_text").hide();
                                   $("#addgradeplanner").show();
                               }
                               if (data.Message != "" && data.Message != null) {
                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                   $("#MandatoryFieldErrorMessage_List").hide();
                                   $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                   $("#SuccessText").html(data.Message).val(data.Message);
                                   $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                               }
                               else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                   $("#MandatoryFieldErrorMessage_List").hide();
                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                   $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                   $("#ErrorText").html(data.ErrorMessage).val(data.ErrorMessage);
                               }
                               else {
                               }
                           });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />');
        $('#btnAddGradePattern').click(function () {
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'GradeacYear') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'class_Fees') {
                        var status = $("#txt_checkclass").is(':checked')
                        if (status == false) {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Select_either_All_Class_or_Single_Class").');
                        }
                    }
                    if (null_id == 'GradeType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectGradeType")');
                    }
                }
            });
            if (flag == 0) {
                var checkclass;
                var year = $('#GradeacYear').val();
                var check = $("#txt_checkclass").is(':checked');
                var cid = $("#class_Fees").val();
                var gtype = $('#GradeType').val();
                if (check == true) {
                    checkclass = "on";
                }
                else {
                    checkclass = "off";
                }
                var values = { GradeacYear: year, class_Fees: String(cid), GradeType: gtype, CheckClass: checkclass };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/GradeConfiguration/AddGradeplanner',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_List").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                            $('#Err').show();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                $("#MandatoryFieldErrorMessage_List").hide();
                                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                $('#Err').show();
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Success != "" && data.Success != null) {
                                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                $("#MandatoryFieldErrorMessage_List").hide();
                                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                $('#Err').show();
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Success).val(data.Success);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                $("#MandatoryFieldErrorMessage_List").hide();
                                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                $('#Err').show();
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
            if (a.length != 0) {
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $('#Err').show();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
}