﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.M_StudentRegisteration>
@using eAcademy.Areas.Medical.LocalResource
@{
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="col-sm-12">

        <div id="div_student">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("MedicalForm")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body row border-radius-none">
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="row">
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    </div>
                    <div class="" style="height:100%;" id="Enrolement-form">
                        @*<div class="row">
                                <div class="col-lg-12">
                                    <select id="lang" name="lang">
                                        <option value="en-IN">English</option>
                                        <option value="fr-FR">French</option>
                                        <option value="de-DE">Arabic</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("M_AcyearList", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button", @title = ResourceCache.Localize("Academic Year") })
                            </div>

                        </div>

                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("M_ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), ResourceCache.Localize("SelectClass"), new { @class = "current_button", @title = ResourceCache.Localize("Class"), @value = "" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select id="M_SectionList" name="M_SectionList" class="current_button" title="Section">
                                    <option value="">@ResourceCache.Localize("SelectSection")</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <select id="M_StudentList" name="M_StudentList" class="current_button" title="Student">
                                <option value="">@ResourceCache.Localize("SelectStudent")</option>
                            </select>
                        </div>
                        <div class="row col-sm-12">
                            <button type="button" class="btn btn_double btn-sm btn_submit  btngetFee col-sm-4 col-md-3 col-lg-2" id="MedicalSearch" name="MedicalSearch"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit") </button>
                            <button type="reset" class="btn btn-sm btn_reset col-sm-4 col-md-3 col-lg-2" id="M_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                        </div>
                    </div>
                    <form enctype="multipart/form-data" id="AddMedical" style="display:none;">
                        <section class="">
                            <div id="div_student">
                                <div class=" col-xs-12">
                                    <div class="box-body row border-radius-none">
                                        <div class="col-xs-12" style="height:100%;" id="Enrolement-form">
                                            <input type="hidden" id="Edit" name="Edit" value="" style="display:none" />
                                            <input type="hidden" id="OfflineRegisterId" name="OfflineRegisterId" placeholder="  Application Id">
                                            <input type="hidden" id="PrimaryEmail" name="PrimaryEmail" value="" style="display:none" />
                                            <section class="col-xs-12" id="intro">
                                                <div class="col-xs-12">
                                                    <div class="box box-solid bg-teal-gradient ">
                                                        <div class="box-header bg-gray ">
                                                            <i class="fa fa-plus "></i>
                                                            <h3 class="box-title">@ResourceCache.Localize("GeneralMedicalQuestion")</h3>
                                                        </div><!-- /.box-header -->
                                                        <div class="widget-content">
                                                            <div class="row sub-head">
                                                                <div class="col-sm-4 "> <label class="red">@ResourceCache.Localize("MedicalQuestions")</label></div>
                                                                <div class="col-sm-3">
                                                                    <label class="red">(@ResourceCache.Localize("Yes") / @ResourceCache.Localize("No")) *</label>
                                                                </div>
                                                                <div class="col-sm-5"> <label class="red">@ResourceCache.Localize("Comments")</label> </div>
                                                            </div>
                                                             
                                                            <div class="row ">
                                                                <div class="col-sm-4  col-xs-12"> <label>@ResourceCache.Localize("BloodGroup")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                                                <div class="col-sm-3  col-xs-12">
                                                                    <label>--</label>
                                                                </div>
                                                                <div class="col-sm-5  col-xs-12">
                                                                    <select id="BloodGrp" name="BloodGrp">
                                                                        <option selected="selected" value="">@ResourceCache.Localize("Select")</option>
                                                                        <option value="O+ve">@ResourceCache.Localize("OPositive")</option>
                                                                        <option value="O-ve">@ResourceCache.Localize("ONegative")</option>
                                                                        <option value="A+ve">@ResourceCache.Localize("APositive")</option>
                                                                        <option value="A-ve">@ResourceCache.Localize("ANegative")</option>
                                                                        <option value="B+ve">@ResourceCache.Localize("BPositive")</option>
                                                                        <option value="B-ve">@ResourceCache.Localize("BNegative")</option>
                                                                        <option value="AB+ve">@ResourceCache.Localize("ABPositive")</option>
                                                                        <option value="AB-ve">@ResourceCache.Localize("ABNegative")</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12"> <label>@ResourceCache.Localize("CurrentWeight")<span> (Kg)</span></label><span class="glyphicon glyphicon-asterisk"></span></div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <label>--</label>
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <input type="text" class="t-area" id="Weight" name="Weight" maxlength="4" /> </div>

                                                            </div>

                                                            <div class="row  ">
                                                                <div class="col-sm-4 col-xs-12"> <label>@ResourceCache.Localize("CurrentHeight")<span> (Cm)</span></label><span class="glyphicon glyphicon-asterisk"></span></div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <label>--</label>
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <input type="text" class="t-area" id="Height" name="Height" maxlength="4" />     </div>

                                                            </div>

                                                            <div class="row  ">
                                                                <div class="col-sm-4 col-xs-12"> <label>@ResourceCache.Localize("Anyhealthconcerns")?</label></div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk " type="radio" name="Concerns_Status" id="Concerns_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Concerns_Status" id="Concerns_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" class="t-area" id="Concerns_Desc" name="Concerns_Desc" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="row  ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Anyotherallergies")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Allergies_Status" id="Allergies_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Allergies_Status" id="Allergies_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" class="t-area" id="Allegries_Desc" name="Allegries_Desc" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="row   ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Anyproblemswithvision")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Vision_Status" id="Vision_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Vision_Status" id="Vision_Status" value="No" checked> @ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" id="Vision_Desc" name="Vision_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="row   ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                       @ResourceCache.Localize("Usescontactsorglasses")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Glasses_Status" id="Glasses_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Glasses_Status" id="Glasses_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Glasses_Desc" id="Glasses_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Anyproblemshearing")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Hearing_Status" id="Hearing_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Hearing_Status" id="Hearing_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Hearing_Desc" id="Hearing_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Anyproblemswithspeech")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Speech_Status" id="Speech_Status" value="Yes">@Resource.Yes
                                                                    <input class="chk1" type="radio" name="Speech_Status" id="Speech_Status" value="No" checked> @Resource.No
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Speech_Desc" id="Speech_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row  ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("HospitalizationorEmergencyRoomvisit")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Emergency_Status" id="Emergency_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Emergency_Status" id="Emergency_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Emergency_Desc" id="Emergency_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                       @ResourceCache.Localize("Anybrokenbonesordislocations")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Broken_Status" id="Broken_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Broken_Status" id="Broken_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Broken_Desc" id="Broken_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row   ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Anymuscleorjointinjuries")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Injuries_Status" id="Injuries_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Injuries_Status" id="Injuries_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" id="Injuries_Desc" name="Injuries_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                       @ResourceCache.Localize("Problemsrunning")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Problems_Status" id="Problems_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Problems_Status" id="Problems_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12">
                                                                    <textarea rows="2" cols="50" name="Problems_Desc" id="Problems_Desc" class="t-area" maxlength="200"> </textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row   ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Dentalbracescapsorbridges")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Dental_Status" id="Dental_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Dental_Status" id="Dental_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12">
                                                                    <textarea rows="2" cols="50" name="Dental_Desc" id="Dental_Desc" class="t-area " maxlength="200"> </textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Chestpain")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Chest_Status" id="Chest_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Chest_Status" id="Chest_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" name="Chest_Desc" id="Chest_Desc" cols="50" class="t-area" maxlength=" 200"> </textarea> </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Heartproblems")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk " type="radio" name="Heart_Status" id="Heart_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Heart_Status" id="Heart_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Heart_Desc" id="Heart_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Highbloodpressure")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Highbp_Status" id="Highbp_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Highbp_Status" id="Highbp_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Highbp_Desc" id="Highbp_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Lowbloodpressure")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Lowbp_Status" id="Lowbp_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Lowbp_Status" id="Lowbp_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Lowbp_Desc" id="Lowbp_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Bleedingmorethanexpected")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Bleeding_Status" id="Bleeding_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Bleeding_Status" id="Bleeding_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Bleeding_Desc" id="Bleeding_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                       @ResourceCache.Localize("Problemsbreathingorcoughing")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Breathing_Status" id="Breathing_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Breathing_Status" id="Breathing_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Breathing_Desc" id="Breathing_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                       @ResourceCache.Localize("Asthmatreatment")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-xs-12">
                                                                    <input class="chk" type="radio" name="Asthma_Status" id="Asthma_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Asthma_Status" id="Asthma_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Asthma_Desc" id="Asthma_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>
                                                            <div class="row   ">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <label>
                                                                        @ResourceCache.Localize("Seizuretreatment")?
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3  col-xs-12">
                                                                    <input class="chk" type="radio" name="Seizure_Status" id="Seizure_Status" value="Yes">@ResourceCache.Localize("Yes")
                                                                    <input class="chk1" type="radio" name="Seizure_Status" id="Seizure_Status" value="No" checked>@ResourceCache.Localize("No")
                                                                </div>
                                                                <div class="col-sm-5 col-xs-12"> <textarea rows="2" cols="50" name="Seizure_Desc" id="Seizure_Desc" class="t-area" maxlength="200"> </textarea> </div>
                                                            </div>

                                                            <div class="col-xs-12 " align="center">
                                                                <button type="button" id="AddMedicalbtn" name="AddMedicalbtn" class="save btn btn-sm btn_search btn-primary">@ResourceCache.Localize("Save")</button>
                                                                @*<button type="button" id="PrintMedicalbtn" name="PrintMedicalbtn" class="btn btn-sm btn-default">Print</button>*@
                                                            </div> <!-- /widget-content -->
                                                        </div>
                                                    </div> <!-- /widget -->
                                                </div>
                                            </section>
                                        </div>
                                        <div class="box-footer clearfix no-border"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </div>
    </div>

</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#M_AcyearList').val(@Session["Add_ChosenAcademicYearId"]);    
        medicalCheckup();
        $('#M_AcyearList').change(function (event) {
            event.preventDefault();
            $("#jsonError").hide();
            var YearId = $('#M_AcyearList').val();
            AssignAcademicYear(YearId);
            medicalCheckup();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        function medicalCheckup()
        {
            var year = $('#M_AcyearList').val();
            //alert("year" + year);
            if (year == "")
            {
               // alert("year1" + year);
                $('#AddMedical').hide();
            }
        }


        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Medical/MedicalDetails/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Medical/MedicalDetails/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
        @*$("#Weight").keypress(function (e) {
            alert("rrrrrr");
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html('@ResourceCache.Localize("DigitsOnly")').show().fadeOut("slow");
                return false;
            }
        });

           $("#Height").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html('@ResourceCache.Localize("DigitsOnly")').show().fadeOut("slow");
                return false;
            }
        });*@

        $('#Weight').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
                return false;
            }
        });
        $('#Height').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
                return false;
            }
        });

        //$("#PrintMedicalbtn").click(function (event) {
        //    $(".navbar").addClass("hidden-print-wp");
        //    $(".s_bar").addClass("hidden-print-wp");
        //    $("#sidebar-wrapper").addClass("hidden-print-wp");
        //    $(".maincontent-header").addClass("hidden-print-wp");
        //    $(".nav").addClass("hidden-print-wp");
        //    $("#intro").addClass("font-size-wp");
        //    $("#wrapper.active").addClass("wrapper-wp");
        //    window.print();
        //});

        $("#M_reset").click(function () {
            $("#M_AcyearList").val("");
            $("#M_ClassList").val("");
            $("#M_SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            @*// $("#M_ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');*@
            $("#M_StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            $("#AddMedical").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $(".jsonError").hide();
            $(".jErr").hide();
            $("#jsonSuccessMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#jsonError").hide();
            $
        });
        function jsFormValidation() {

            var a = [];
            var field_val = [];
            $(".current_button ").each(function () {

                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'M_AcyearList') {
                        a.push('@ResourceCache.Localize("SelectAcademicYear")');
                    }
                    if (null_id == 'M_ClassList') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'M_SectionList') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'M_StudentList') {
                        a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                    }
                }
            });

            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").show();
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
        $(document).on('click', '#MedicalSearch', function () {
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $(".jsonError").hide();
            $(".jErr").hide();
            $("#jsonSuccessMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").hide();
            $("#jsonError").hide();
            jsFormValidation();
            var RegId = $("#M_StudentList").val();
            if (RegId == '' && RegId == null) {

            }
            else if (RegId != '' && RegId != null) {
                var ss = { RegId: RegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Medical/MedicalDetails/Check',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Employee').hide();
                            $('#Student').hide();
                            $('#BookTable').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.nostudent != "" && data.nostudent != null) {
                            $('#AddMedical').show();
                            $('#BloodGrp').val("");
                            $("#Weight").val("");
                            $("#Height").val("");
                            $("textarea").val("");
                            //$('input[name=Concerns_Status][value=' + data.student.Concerns_Status + ']').prop('checked', false)
                            $("#Concerns_Desc").val("");
                            //$('input[name=Allegries_Status][value=' + data.student.Allegries_Status + ']').prop('checked', false)
                            $("#Allegries_Desc").val("");
                            //$('input[name=Vision_Status][value=' + data.student.Vision_Status + ']').prop('checked', false)
                            $("#Vision_Desc").val("");
                            //$('input[name=Glasses_Status][value=' + data.student.Glasses_Status + ']').prop('checked', false)
                            $("#Glasses_Desc").val("");
                            //$('input[name=Hearing_Status][value=' + data.student.Hearing_Status + ']').prop('checked', false)
                            $("#Hearing_Desc").val("");
                            //$('input[name=Speech_Status][value=' + data.student.Speech_Status + ']').prop('checked', false)
                            $("#Speech_Desc").val("");
                            //$('input[name=Emergency_Status][value=' + data.student.Emergency_Status + ']').prop('checked', false)
                            $("#Emergency_Desc").val("");
                            //$('input[name=Broken_Status][value=' + data.student.Broken_Status + ']').prop('checked', false)
                            $("#Broken_Desc").val("");
                            //$('input[name=Injuries_Status][value=' + data.student.Injuries_Status + ']').prop('checked', false)
                            $("#Injuries_Desc").val("");
                            //$('input[name=Problems_Status][value=' + data.student.Problems_Status + ']').prop('checked', false)
                            $("#Problems_Desc").val("");
                            //$('input[name=Dental_Status][value=' + data.student.Dental_Status + ']').prop('checked', false)
                            $("#Dental_Desc").val("");
                            //$('input[name=Chest_Status][value=' + data.student.Chest_Status + ']').prop('checked', false)
                            $("#Chest_Desc").val("");
                            //$('input[name=Heart_Status][value=' + data.student.Heart_Status + ']').prop('checked', false)
                            $("#Heart_Desc").val("");
                            //$('input[name=Highbp_Status][value=' + data.student.Highbp_Status + ']').prop('checked', false)
                            $("#Highbp_Desc").val("");
                            //$('input[name=Lowbp_Status][value=' + data.student.Lowbp_Status + ']').prop('checked', false)
                            $("#Lowbp_Desc").val("");
                            //$('input[name=Bleeding_Status][value=' + data.student.Bleeding_Status + ']').prop('checked', false)
                            $("#Bleeding_Desc").val("");
                            //$('input[name=Breathing_Status][value=' + data.student.Breathing_Status + ']').prop('checked', false)
                            $("#Breathing_Desc").val("");
                            //$('input[name=Asthma_Status][value=' + data.student.Asthma_Status + ']').prop('checked', false)
                            $("#Asthma_Desc").val("");
                            //$('input[name=Seizure_Status][value=' + data.student.Seizure_Status + ']').prop('checked', false)
                            $("#Seizure_Desc").val("");
                            $(".chk").prop("checked", false);
                            $(".chk1").prop("checked", true);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.student != "" && data.student != null) {
                            $('#AddMedical').show();

                            $('#BloodGrp').val(data.student.BloodGrp);
                            $("#Weight").val(data.student.Weight);
                            $("#Height").val(data.student.Height);
                            $('input[name=Concerns_Status][value=' + data.student.Concerns_Status + ']').prop('checked', true)
                            $("#Concerns_Desc").val(data.student.Concerns_Desc);

                            $('input[name=Allergies_Status][value=' + data.student.Allergies_Status + ']').prop('checked', true)
                            $("#Allegries_Desc").val(data.student.Allegries_Desc);

                            $('input[name=Vision_Status][value=' + data.student.Vision_Status + ']').prop('checked', true)
                            $("#Vision_Desc").val(data.student.Vision_Desc);

                            $('input[name=Glasses_Status][value=' + data.student.Glasses_Status + ']').prop('checked', true)
                            $("#Glasses_Desc").val(data.student.Glasses_Desc);

                            $('input[name=Hearing_Status][value=' + data.student.Hearing_Status + ']').prop('checked', true)
                            $("#Hearing_Desc").val(data.student.Hearing_Desc);

                            $('input[name=Speech_Status][value=' + data.student.Speech_Status + ']').prop('checked', true)
                            $("#Speech_Desc").val(data.student.Speech_Desc);

                            $('input[name=Emergency_Status][value=' + data.student.Emergency_Status + ']').prop('checked', true)
                            $("#Emergency_Desc").val(data.student.Emergency_Desc);

                            $('input[name=Broken_Status][value=' + data.student.Broken_Status + ']').prop('checked', true)
                            $("#Broken_Desc").val(data.student.Broken_Desc);

                            $('input[name=Injuries_Status][value=' + data.student.Injuries_Status + ']').prop('checked', true)
                            $("#Injuries_Desc").val(data.student.Injuries_Desc);

                            $('input[name=Problems_Status][value=' + data.student.Problems_Status + ']').prop('checked', true)
                            $("#Problems_Desc").val(data.student.Problems_Desc);

                            $('input[name=Dental_Status][value=' + data.student.Dental_Status + ']').prop('checked', true)
                            $("#Dental_Desc").val(data.student.Dental_Desc);

                            $('input[name=Chest_Status][value=' + data.student.Chest_Status + ']').prop('checked', true)
                            $("#Chest_Desc").val(data.student.Chest_Desc);

                            $('input[name=Heart_Status][value=' + data.student.Heart_Status + ']').prop('checked', true)
                            $("#Heart_Desc").val(data.student.Heart_Desc);

                            $('input[name=Highbp_Status][value=' + data.student.Highbp_Status + ']').prop('checked', true)
                            $("#Highbp_Desc").val(data.student.Highbp_Desc);

                            $('input[name=Lowbp_Status][value=' + data.student.Lowbp_Status + ']').prop('checked', true)
                            $("#Lowbp_Desc").val(data.student.Lowbp_Desc);

                            $('input[name=Bleeding_Status][value=' + data.student.Bleeding_Status + ']').prop('checked', true)
                            $("#Bleeding_Desc").val(data.student.Bleeding_Desc);

                            $('input[name=Breathing_Status][value=' + data.student.Breathing_Status + ']').prop('checked', true)
                            $("#Breathing_Desc").val(data.student.Breathing_Desc);

                            $('input[name=Asthma_Status][value=' + data.student.Asthma_Status + ']').prop('checked', true)
                            $("#Asthma_Desc").val(data.student.Asthma_Desc);

                            $('input[name=Seizure_Status][value=' + data.student.Seizure_Status + ']').prop('checked', true)
                            $("#Seizure_Desc").val(data.student.Seizure_Desc);

                            $("#Loading_Sec").removeClass("loading-new");
                        }

                    },
                });
            }

        });

        $("#AddMedicalbtn").click(function () {
           
            $("#Loading_Sec").addClass("loading-new");
            
            var StudentRegisterId = $("#M_StudentList").val();
            var BloodGrp = $("#BloodGrp").val();
            var Weight = $("#Weight").val();
            var Height = $("#Height").val();
            var acid = $("#M_AcyearList").val();        
            var Concerns_Status = $('input[name=Concerns_Status]:checked').val();
            var Concerns_Desc = $("#Concerns_Desc").val();

            var Allergies_Status = $('input[name=Allergies_Status]:checked').val();
            var Allegries_Desc = $("#Allegries_Desc").val();

            var Vision_Status = $('input[name=Vision_Status]:checked').val();
            var Vision_Desc = $("#Vision_Desc").val();

            var Glasses_Status = $('input[name=Glasses_Status]:checked').val();
            var Glasses_Desc = $("#Glasses_Desc").val();

            var Hearing_Status = $('input[name=Hearing_Status]:checked').val();
            var Hearing_Desc = $("#Hearing_Desc").val();

            var Speech_Status = $('input[name=Speech_Status]:checked').val();
            var Speech_Desc = $("#Speech_Desc").val();

            var Emergency_Status = $('input[name=Emergency_Status]:checked').val();
            var Emergency_Desc = $("#Emergency_Desc").val();

            var Broken_Status = $('input[name=Broken_Status]:checked').val();
            var Broken_Desc = $("#Broken_Desc").val();

            var Injuries_Status = $('input[name=Injuries_Status]:checked').val();
            var Injuries_Desc = $("#Injuries_Desc").val();

            var Problems_Status = $('input[name=Problems_Status]:checked').val();
            var Problems_Desc = $("#Problems_Desc").val();

            var Dental_Status = $('input[name=Dental_Status]:checked').val();
            var Dental_Desc = $("#Dental_Desc").val();

            var Chest_Status = $('input[name=Chest_Status]:checked').val();
            var Chest_Desc = $("#Chest_Desc").val();

            var Heart_Status = $('input[name=Heart_Status]:checked').val();
            var Heart_Desc = $("#Heart_Desc").val();

            var Highbp_Status = $('input[name=Highbp_Status]:checked').val();
            var Highbp_Desc = $("#Highbp_Desc").val();

            var Lowbp_Status = $('input[name=Lowbp_Status]:checked').val();
            var Lowbp_Desc = $("#Lowbp_Desc").val();

            var Bleeding_Status = $('input[name=Bleeding_Status]:checked').val();
            var Bleeding_Desc = $("#Bleeding_Desc").val();

            var Breathing_Status = $('input[name=Breathing_Status]:checked').val();
            var Breathing_Desc = $("#Breathing_Desc").val();

            var Asthma_Status = $('input[name=Asthma_Status]:checked').val();
            var Asthma_Desc = $("#Asthma_Desc").val();

            var Seizure_Status = $('input[name=Seizure_Status]:checked').val();
            var Seizure_Desc = $("#Seizure_Desc").val();
            var a = [];
            var flag = 0;
            if (BloodGrp == null) {
                flag = 1;
                a.push('@Resource.Pleaseselectbloodgroup');
            }
            else {
                var txchar = $("#BloodGrp").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Pleaseselectbloodgroup")');
                }
            }
            if (Weight.length == 0) {
                flag = 1;
                a.push('@ResourceCache.Localize("Pleaseenteractualweight")');
            }
            else {
                var txchar = $("#Weight").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Pleaseenteractualweight")');
                }
            }
            if (Height.length == 0) {
                flag = 1;
                a.push('@ResourceCache.Localize("Pleaseenteractualheight")');
            }
            else {
                var txchar = $("#Height").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Pleaseenteractualheight")');
                }
            }
            if (Weight.length > 4) {
                flag = 1;
                a.push('@ResourceCache.Localize("Weightmaximumallows4characters")');
            }
            if (Height.length > 4) {
                flag = 1;
                a.push('@ResourceCache.Localize("Heightmaximumallows4characters")');
            }
            if (Concerns_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anyhealthconcernscommentsmaximumallows200characters")');
            }
            if (Allegries_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anyotherallergiescommentsmaximumallows200characters")');
            }
            if (Vision_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anyproblemswithvisioncommentsmaximumallows200characters")');
            }
            if (Glasses_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Usescontactsorglassescommentsmaximumallows200characters")');
            }
            if (Hearing_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anyproblemshearingcommentsmaximumallows200characters")');
            }
            if (Speech_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anyproblemswithspeechcommentsmaximumallows200characters")');
            }
            if (Emergency_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("HospitalizationorEmergencyRoomvisitcommentsmaximumallows200characters")');
            }
            if (Broken_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anybrokenbonesordislocationcommentsmaximumallows200characters")');
            }
            if (Injuries_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Anymuscleorjointinjuriescommentsmaximumallows200characters")');
            }
            if (Problems_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Problemsrunningcommentsmaximumallows200characters")');
            }
            if (Dental_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Dentalbracescapsorbridgecommentsmaximumallows200characters")');
            }
            if (Chest_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Chestpaincommentsmaximumallows200characters")');
            }
            if (Heart_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Heartproblemscommentsmaximumallows200characters")');
            }
            if (Highbp_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Highbloodpressurecommentsmaximumallows200characters")');
            }
            if (Lowbp_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Lowbloodpressurecommentsmaximumallows200characters")');
            }
            if (Bleeding_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Bleedingmorethanexpectedcommentsmaximumallows200characters")');
            }
            if (Breathing_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Problemsbreathingorcoughingcommentsmaximumallows200characters")');
            }
            if (Asthma_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Asthmatreatmentcommentsmaximumallows200characters")');
            }
            if (Seizure_Desc.length > 200) {
                flag = 1;
                a.push('@ResourceCache.Localize("Seizuretreatmentcommentsmaximumallows200characters")');
            }

            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];

                $('html,body').animate({
                    // scroll to end of page
                    scrollTop: 0
                }, 700);
                $("#Loading_Sec").removeClass("loading-new");
                return false;
            }
            else {
                $(".jsonError").hide();
            }
            $(".jsonError").hide();

            var val = {
                StudentRegisterId: StudentRegisterId,
                BloodGrp: BloodGrp,
                Weight: Weight,
                Height: Height,
                Concerns_Status: Concerns_Status,
                Concerns_Desc: Concerns_Desc,
                Allergies_Status: Allergies_Status,
                Allegries_Desc: Allegries_Desc,
                Vision_Status: Vision_Status,
                Vision_Desc: Vision_Desc,
                Glasses_Status: Glasses_Status,
                Glasses_Desc: Glasses_Desc,
                Hearing_Status: Hearing_Status,
                Hearing_Desc: Hearing_Desc,
                Speech_Status: Speech_Status,
                Speech_Desc: Speech_Desc,
                Emergency_Status: Emergency_Status,
                Emergency_Desc: Emergency_Desc,
                Broken_Status: Broken_Status,
                Broken_Desc: Broken_Desc,
                Injuries_Status: Injuries_Status,
                Injuries_Desc: Injuries_Desc,
                Problems_Status: Problems_Status,
                Problems_Desc: Problems_Desc,
                Dental_Status: Dental_Status,
                Dental_Desc: Dental_Desc,
                Chest_Status: Chest_Status,
                Chest_Desc: Chest_Desc,
                Heart_Status: Heart_Status,
                Heart_Desc: Heart_Desc,
                Highbp_Status: Highbp_Status,
                Highbp_Desc: Highbp_Desc,
                Lowbp_Status: Lowbp_Status,
                Lowbp_Desc: Lowbp_Desc,
                Bleeding_Status: Bleeding_Status,
                Bleeding_Desc: Bleeding_Desc,
                Breathing_Status: Breathing_Status,
                Breathing_Desc: Breathing_Desc,
                Asthma_Status: Asthma_Status,
                Asthma_Desc: Asthma_Desc,
                Seizure_Status: Seizure_Status,
                Seizure_Desc: Seizure_Desc,
                acid:acid
            };         
            $.ajax({
                type: "POST",
                url: '/Medical/MedicalDetails/AddMedicalDetails',
                data: val,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#divStudent").hide();
                        $("#jsonError").show();
                        $("#jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $("#jErr").append(li);
                            }
                        });

                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);
                    }

                    else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#AddMedical').hide();
                        $('#OfflineErrpage').show();
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").show();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);

                    }
                    if (data.Message != "" && data.Message != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#OfflineErrpage').hide();
                        $("#jsonErrorMsg").hide();
                        $("#jErrMsg").hide();
                        $("#jsonErrorMsg").hide();                      
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").show();
                        $('#AddMedical').hide();
                        $("#jSuccessMsg").html(data.Message).val(data.Message);
                        $('#Report_Div').show();
                        clearInputs();

                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);

                        ajaxRequest.done(function (xhr, textStatus) {
                            // Do other operation
                        });
                    }


                },
            });

        });

        $("#M_AcyearList").change(function () {
            $("#txt_rNo").val("").html("");
            $("#M_SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#M_ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#M_StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');

            $.getJSON('/FeeManagement/getClass',

           function (data) {
               $("#M_ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
               $.each(data, function (i, c) {
                   $("#M_ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });
           });
            $.getJSON('/MedicalDetails/getClass',
           function (data) {
               $("#M_ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
               $.each(data, function (i, c) {
                   $("#M_ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
        });
        $("#M_ClassList").change(function () {
            $("#txt_rNo").val("").html("");
            var cid = $("#M_ClassList").val();
            $("#M_SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#M_StudentList").empty().append('<option value="">Select Student</option>');

            $.getJSON('/MedicalDetails/getSection', { cid: cid },

            function (data) {

                $("#M_SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $.each(data, function (i, c) {
                    $("#M_SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });

            $.getJSON('/MedicalDetails/getSection', { cid: cid },

           function (data) {

               $("#M_SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
               $.each(data, function (i, c) {
                   $("#M_SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
               });

           });
        });

        $("#M_SectionList").change(function () {
            $("#txt_rNo").val("").html("");
            var cid = $("#M_ClassList").val();
            var secid = $("#M_SectionList").val();
            var acid = $("#M_AcyearList").val();
            $("#M_StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            $.getJSON('/MedicalDetails/getStudent', { acid: acid, sec_id: secid, cid: cid },
               function (data) {
                   $("#M_StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                   $.each(data, function (i, v) {
                       $("#M_StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                   });
               });
            $.getJSON('/MedicalDetails/getStudent', { acid: acid, sec_id: secid, cid: cid },
              function (data) {
                  $("#M_StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                  $.each(data, function (i, v) {
                      $("#M_StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                  });
              });
        });
    });
</script>
}


