﻿@using eAcademy.Models
@model IEnumerable<eAcademy.ViewModel.ProgressCard>
@{
    ViewBag.Title = "AllSubjectMarks";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("CreateProgressCard") </h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <form action="@Url.Action("AllSubjectMarks", "ClassIncharge")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            <div class="col-md-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PC_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-md-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PC_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-sm btn_submit btn-down" id="btnCI_ProgressCard"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            </div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </form>

                    @if (ViewBag.List == 0)
                    {
                        <div class="NoRecords box-body">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                            </div>
                        </div>
                    }

                    else if (Session["sub1"] != null)
                    {
                        System.Collections.ArrayList sub = (System.Collections.ArrayList)Session["sub1"];
                        System.Collections.ArrayList mark = (System.Collections.ArrayList)Session["mark"];
                        System.Collections.ArrayList name = (System.Collections.ArrayList)Session["name"];

                        System.Collections.ArrayList sid1 = (System.Collections.ArrayList)Session["sid1"];
                        System.Collections.ArrayList sid2 = (System.Collections.ArrayList)Session["sid2"];
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="box-body" id="show">
                            <div id="tbl_scrol">
                                <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("SubjectMarkDetails")<hr /></h2>
                                <table border="1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            @for (int i = 0; i < sub.Count; i++)
                                            {

                                                <th>
                                                    @sub[i] Mark
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int j = 0; j < name.Count; j++)
                                        {

                                            <tr>
                                                <td>
                                                    @name[j]
                                                </td>


                                                @if (Convert.ToInt32(sid2[j]) == Convert.ToInt32(sid2[j]))
                                                {

                                                    for (int k = 0; k < sub.Count; k++)
                                                    {
                                                        if (Convert.ToInt32(sid2[j]) == Convert.ToInt32(sid2[j]))
                                                        {
                                                            <td>
                                                                @mark[k]
                                                            </td>
                                                            j = j + mark.Count;
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {

        $("#btnCI_ProgressCard").click(function (event) {

            var yearId = $("#PC_allAcademicYears").val();
            var studentId = $("#PC_allExams").val();

            $("#PC_allAcademicYears").addClass("current_button");
            $("#PC_allExams").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'PC_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'PC_allExams') {
                            
                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
            });
        });
    </script>
}