﻿@model IEnumerable<eAcademy.ViewModel.RankList>
@{
    ViewBag.Title = "AllStudentRank";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int i = 1;
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")



<section class="content" style="height:100%">

    <div class="row">
        @if (ViewBag.success != null)
        {
            <div class="alert alert-success alert-dismissable">
                <b>Success! :- @ViewBag.success</b>

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
        }

        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Create Progress Card</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->

                    <form action="@Url.Action("AllStudentRank", "ClassIncharge")" method="post" enctype="multipart/form-data">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")

                            <div class="col-lg-4">
                                <div>Academic Year <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PC_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), "-- Select Year --")
                            </div>

                            <div class="col-lg-4">
                                <div>Exam <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PC_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), "-- Select Year --")
                            </div>


                            <div class="col-lg-4">
                                <div class="CI_ProgressCard-message"><label></label></div>
                                <button type="submit" class="btn btn-sm btn_submit" id="btnCI_ProgressCard"><i class="fa fa-caret-right"></i> Submit</button>
                            </div>



                        </div>


                        @if (ViewBag.list != null)
                        {
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <div class="box-body" id="show">
                                <form action="@Url.Action("RankComment", "ClassIncharge")" method="post" enctype="multipart/form-data">

                                    <div id="tbl_scrol">
                                        <table class="table table-bordered table-striped col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.StudentRegisterId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.StudentName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalMark)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Result)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.StudentRank)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Comment)
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StudentRegisterId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StudentName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TotalMark)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Result)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StudentRank)
                                                        </td>
                                                        <td>

                                                            @{var comment = "Comment" + i;
                                                            var id = "Id" + i;

                                                            <input type="text" id=@comment name=@comment required>
                                                                <input type="hidden" value=@item.MarkTotalId id=@id name=@id />
                                                            }
                                                        </td>
                                                    </tr>
                                                            i++;
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="hidden" name="count" id="count" value="@ViewBag.list" />
                                        <div class="CI_RankComment-message col-md-12"><label class="col-md-12"></label></div>

                                        <div class="col-md-12"><button type="submit" class="btn pull-right btn-sm btn_save" id="btnCI_RankComment"><i class="fa fa-save"></i> Submit</button></div>

                                    </div>
                                </form>
                            </div>
                        }
                    </form>






                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>

</section>