﻿@using eAcademy.Models
@{
    ViewBag.Title = "AttendanceReport";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("AttendanceReport")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div> 
                                    @Html.DropDownList("CI_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                                </div>

                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                                </div>

                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("CI_allStudents", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectStudent"), Value = "" } })
                                </div>

                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="txt_FromDate" name="txt_FromDate" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="txt_ToDate" name="txt_ToDate" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" readonly />
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <input type="hidden" id="classSec" value="@ViewBag.ClassWithSectionId" />
                                    <button type="button" class="btn btn-sm btn_submit btn-down" id="btnAttendanceReport"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                    <div class="col-lg-6" id="Result" style="display:none">
                        <table class="table table-bordered table-striped col-lg-12">
                            <tr>
                                <td class="col-lg-6">
                                    @ResourceCache.Localize("TotalNumberOfWorkingDays")
                                </td>
                                <td class="col-lg-6">
                                    <label id="NumberOfWorkingDays"> @ResourceCache.Localize("Day(s)")</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">
                                    @ResourceCache.Localize("NumberOfPresentDays")
                                </td>
                                <td class="col-lg-6">
                                    <label id="PresentCount"> @ResourceCache.Localize("Day(s)")</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">
                                    @ResourceCache.Localize("NumberOfHalfDays")
                                </td>
                                <td class="col-lg-6">
                                    <label id="HalfDaysCount"> @ResourceCache.Localize("Day(s)")</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">
                                    @ResourceCache.Localize("NumberOfAbsentDays")
                                </td>
                                <td class="col-lg-6">
                                    <label id="AbsentCount"> @ResourceCache.Localize("Day(s)")</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">
                                    @ResourceCache.Localize("AttendancePercentage")
                                </td>
                                <td class="col-lg-6">
                                    <label id="attendancePercentageVal"> % </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        
        $('#CI_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);
        setDate(@Session["Add_ChosenAcademicYearId"]);

            $('#CI_allAcademicYears').change(function (event) {
            $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $("#CI_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            $("#txt_FromDate, #txt_ToDate").val("");
            $("#txt_FromDate, #txt_ToDate").datepicker("destroy");
            $("#classSec").val("empty");
            event.preventDefault();
            var YearId = $('#CI_allAcademicYears').val();
            LoadClassWithSection(YearId);
            setDate(YearId);
        });

        function LoadClassWithSection(YearId) {
            
            $.getJSON('/ClassIncharge/getClassWithSection', { passYearId: YearId },
                function (orderdetails) {
                    $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                    });
                });
        }

        function setDate(yearId) {
            $.getJSON("/Dashboard/CustomeActiveDate", { acid: yearId },
           function (data) {

               var mdate = data.sd + "------" + data.ed;
               console.log(mdate);
               $(function () {
                   var dates = $("#txt_FromDate, #txt_ToDate").datepicker({
                       dateFormat: 'dd/mm/yy',
                       minDate: data.sd,
                       maxDate: data.ed,
                       changeMonth: true,
                       changeYear: true,
                       onSelect: function (selectedDate) {
                           var option = this.id == "txt_FromDate" ? "minDate" : "maxDate",
                           instance = $(this).data("datepicker"),
                           date = $.datepicker.parseDate(
                           instance.settings.dateFormat ||
                           $.datepicker._defaults.dateFormat,
                           selectedDate, instance.settings);
                           dates.not(this).datepicker("option", option, date);
                       }
                   });
               });
           });
        }

        $('#CI_ClassWithSection').change(function (event) {
            $("#CI_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            event.preventDefault();
            LoadStudentDetailsCIReport();
        });

        function LoadStudentDetailsCIReport() {
            var yearId = $('#CI_allAcademicYears').val();
            var classWithSection = $("#CI_ClassWithSection").val();
            var clasSec = classWithSection.toString();
            var split = clasSec.split(' ');
            var classId = split[0];
            var secId = split[1];

            $.getJSON('/ClassIncharge/GetStudents', { passYearId: yearId, passClassId: classId, passSecId: secId },
                function (orderdetails) {
                    $("#CI_allStudents").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#CI_allStudents").append($('<option></option>').val(c.StudentRegId).html(c.StudentName));
                    });
                });
        }


        $("#btnAttendanceReport").click(function (event) {
            $("#Result").hide();
            var yearId = $("#CI_allAcademicYears").val();
            var classWithSection = $("#CI_ClassWithSection").val();
            var studentId = $("#CI_allStudents").val();
            var fromDate = $("#txt_FromDate").val();
            var toDate = $("#txt_ToDate").val();

            $("#CI_allAcademicYears").addClass("current_button");
            $("#CI_ClassWithSection").addClass("current_button");
            $("#CI_allStudents").addClass("current_button");
            $("#txt_FromDate").addClass("current_button");
            $("#txt_ToDate").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'CI_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'CI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'CI_allStudents') {

                        a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                    }
                    if (null_id == 'txt_FromDate') {

                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'txt_ToDate') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();

                var values = { CI_allAcademicYears: yearId, CI_ClassWithSection: classWithSection, CI_allStudents: studentId, txt_FromDate: fromDate, txt_ToDate: toDate };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ClassIncharge/AttendanceReport',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {

                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $("#Result").show();
                                $("#NumberOfWorkingDays").text(data.NumberOfWorkingDays + " " + "@ResourceCache.Localize("Day(s)")");
                                $("#PresentCount").text(data.PresentCount + " " + "@ResourceCache.Localize("Day(s)")");
                                $("#HalfDaysCount").text(data.HalfDaysCountVal + " " + "@ResourceCache.Localize("Day(s)")");
                                $("#AbsentCount").text(data.AbsentCount + " " + "@ResourceCache.Localize("Day(s)")");
                                $("#attendancePercentageVal").text(data.attendancePercentage + " " + "%");
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {

                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    </script>
}