﻿@using eAcademy.Models
@{
    ViewBag.Title = "ClassAttendance";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">

        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("StudentsAttendance")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <div class="box-body" id="MyInfoText" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("CI_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input class="col-lg-12" type="text" id="txt_AttendaceDate" name="txt_AttendaceDate" placeholder="@ResourceCache.Localize("Date")" title="@ResourceCache.Localize("Date")" required="required" readonly />
                        </div>
                        <div class="col-lg-3">
                            <input type="hidden" id="CI_allAcademicYears" name="CI_allAcademicYears" value="@Session["List_ChosenAcademicYearId"]" />
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnClassAttendance"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="Stu_AttendanceList" style="display:none">
                            <input type="hidden" id="ivalue" name="ivalue" />
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("ClassAttendance")</h2>
                                    <table border="1" class="table table-bordered table-striped col-lg-12">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("StudentId")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("StudentName")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Attendance")<input type="checkbox" name="present" id="present" class="rrr" value="P" /> @ResourceCache.Localize("AllPresent")  <span class="glyphicon glyphicon-asterisk"></span>
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Reason")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Remark")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="CI_Att_StudentList"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="hidden" id="count" class="col-lg-3" />
                                <button type="button" class="btn pull-right btn-sm btn_save" id="btnSave_Stu_Attendance"><i class="fa fa-save"></i> @ResourceCache.Localize("Save")</button>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {

        $("#CI_allAcademicYears").val(@Session["Add_ChosenAcademicYearId"]);
        LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);

        var att = "att";

        $("#btnClassAttendance").click(function (event) {
            $("#Loading_Sec").addClass("loading-new");
            event.preventDefault();
            $("#jsonSuccessMsg").hide();
            $('#CI_Att_StudentList').empty();
            $("#Stu_AttendanceList").hide();
            $("#present").removeAttr("checked");
            var yearId = $("#CI_allAcademicYears").val();
            var classWithSection = $("#CI_ClassWithSection").val();
            var clasSec = classWithSection.toString();
            var split = clasSec.split(' ');
            var classId = split[0];
            var secId = split[1];
            var date = $("#txt_AttendaceDate").val();


            $("#CI_allAcademicYears").addClass("current_button");
            $("#CI_ClassWithSection").addClass("current_button");
            $("#txt_AttendaceDate").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'CI_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'CI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'txt_AttendaceDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                }
                else {
                }
            });

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                $("#Loading_Sec").removeClass("loading-new");
                return false;
            }
            else {

                $("#MandatoryFieldErrorMessage_List").hide();

                $('#CI_Att_StudentList').empty();
                var dt = date.split('/');
                date = dt[2] + '/' + dt[1] + '/' + dt[0];
               // alert("date=" + date);
                $.getJSON('/ClassIncharge/GetStudentListToMarkAttendance', { passYearId: yearId, passClassId: classId, passSecId: secId, passDate: date },
                  function (data) {

                      if (data.StudentCount == "empty") {
                          $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").show();
                          $("#InfoText").text("@ResourceCache.Localize("No_student_available_for_the_selected_class")");
                      }

                      if (data.msg == "new") {
                          $('#CI_Att_StudentList').empty();
                          $.each(data.list, function (i, v) {

                              var atn = "atn" + i;
                              var cmt = "cmt" + i;
                              row = $("<tr id=''><td><label>" + v.StudentRegId + "</label></td><td><label>" + v.StudentName + "</label></td><td> <select class=" + att + " id='" + atn + "'> </select></td><td><input type='text' size='20'  placeholder='@ResourceCache.Localize("CommentsGoHere")' id='" + cmt + "'/><input type='hidden' value='" + v.Student_RegId + "' id='" + i + "'/></td><td><input style='height:23px;width:22px;' type='button' class='btn_view_remark btn_Remark  ui-icon-document' id='" + v.Student_RegId + "' value=''  title='@ResourceCache.Localize("ViewRemarks")'/></td></tr>");

                              $('#CI_Att_StudentList').append(row);
                              $("#Stu_AttendanceList").show();
                              $("#count").val(i);
                          });

                          $.getJSON('/ClassIncharge/GetAttendanceStatusList',
                          function (orderdetails) {
                              $(".att").empty().append('<option value="0">@ResourceCache.Localize("SelectStatus")</option>');
                              $.each(orderdetails, function (i, c) {
                                  $(".att").append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                              });
                          });

                      }

                      if (data.msg == "old") {
                          $('#CI_Att_StudentList').empty();
                          $.each(data.ExistList, function (i, v) {

                              var atn = "atn" + i;
                              var cmt = "cmt" + i;

                              row = $("<tr><td><label>" + v.StudentId + "</label></td><td><label>" + v.StudentName + "</label></td><td> <select class=" + att + " id='" + atn + "'> </select></td><td><input type='text' size='20'  placeholder='@ResourceCache.Localize("CommentsGoHere")' value='" + v.comment + "' id='" + cmt + "'/><input type='hidden' value='" + v.StudentRegId + "' id='" + i + "'/></td><td><input style='height:23px;width:22px;' type='button' class='btn_view_remark btn_Remark  ui-icon-document' id='" + v.StudentRegId + "' value=''  title='@ResourceCache.Localize("ViewRemarks")'/></td></tr>");
                              $('#CI_Att_StudentList').append(row);
                              $("#Stu_AttendanceList").show();
                              $("#count").val(i);


                              $.getJSON('/ClassIncharge/GetAttendanceStatusList',
                              function (orderdetails) {
                                  $.each(orderdetails, function (i, c) {
                                      $("#" + atn).append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                                  });
                                  $("#" + atn).val(v.status);
                              });
                          });

                          if (data.status == "P") {
                              $('#present').prop("checked", true);
                          }
                          else {
                              $("#present").removeAttr("checked");
                          }
                      }
                  });
                $("#Loading_Sec").removeClass("loading-new");
            }
        });

        $("#btnSave_Stu_Attendance").click(function () {
            var yearId = $("#CI_allAcademicYears").val();
            var classId = $("CI_ClassWithSection").val();
            var date = $("#txt_AttendaceDate").val();
            var dateVal = $("#txt_AttendaceDate").val();
            var c = $("#count").val();

            var atn = [];
            var cmt = [];
            var id = [];

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'CI_allAcademicYears') {

                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'CI_ClassWithSection') {

                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'txt_AttendaceDate') {

                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                }
                else {
                }
            });

            var attStatus = 1;
            for (var i = 0; i <= c; i++) {

                atn[i] = $("#atn" + i).val();
                cmt[i] = $("#cmt" + i).val();
                id[i] = $("#" + i).val();


                if (atn[i] == "0" || atn[i] == null || atn[i] == "") {
                    attStatus = 0;

                }
                else {
                    $("#errorMsg").text("");
                    $("#div_Error").hide();
                }
            }

            if (attStatus == 0) {
                a.push("@ResourceCache.Localize("Please_select_attendance_status_to_all_student")");
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }


                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];
                $("#MandatoryFieldErrorMessage_List").hide();
                var dt = date.split('/');
                date = dt[2] + '/' + dt[1] + '/' + dt[0];
                var values = { Att_allAcademicYears: yearId, Att_class: classId, Att_sec: secId, txt_AttendanceDate: date, DateVal: dateVal, Id: id, atn_status: atn, atn_comment: cmt, TotalCount: c };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ClassIncharge/AddStudentAttendance',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();

                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.InfoMessage != "" && data.InfoMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#MyInfoText").show();
                                $("#AddInfoText").empty();
                                $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });


            $(document).on('click', '.btn_view_remark', function () {
                var id = $(this).attr('id');
                var url = "StudentRemark/" + id;
                window.open(url);
            });

            $('#CI_allAcademicYears').change(function (event) {
                $("#Stu_AttendanceList").hide();
                $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                $("#txt_AttendaceDate").val("");
                event.preventDefault();
                var YearId = $('#CI_allAcademicYears').val();
                $("#show").hide();
                LoadClassWithSection(YearId);
            });
            $('#CI_ClassWithSection').change(function (event) {
                $("#Stu_AttendanceList").hide();
                $("#txt_AttendaceDate").val("");
            });

            function LoadClassWithSection(YearId) {
                $.getJSON('/ClassIncharge/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                    });
                });
        }

        $("#txt_AttendaceDate").datepicker("destroy");
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/ClassIncharge/PastActiveDate",

            function (data) {

                $.each(data.HolidaysList, function (i, c) {
                    HolidayDate1[i] = c.Date;
                    HolidayReason1[i] = c.Holiday;
                });

                var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];

                $(function () {
                    var dates = $("#txt_AttendaceDate").datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate: data.StartingEnableDate,
                        maxDate: data.EndingEnableDate,
                        changeMonth: true,
                        changeYear: true,

                        beforeShowDay: function (date) {
                            show = true;
                            for (var i = 0; i < holidays.length; i++) {
                                if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                            }
                            if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                            var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                            return display;
                        },

                    });
                });
            });

    });


    </script>
}

