﻿@model IEnumerable<eAcademy.ViewModel.ProgressCard>
@using eAcademy.Models
@{
    ViewBag.Title = "CreateProgressCard";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("CreateProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="bs-example btn-down" id="Comment_Error" style="display:none">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger">
                                        <strong>@ResourceCache.Localize("Error")!</strong> <b id="Comment_ErrorText" style="font-weight:normal"></b>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body" id="MyInfoText" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PC_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "0" } })
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>
                            <div class="col-lg-3">
                                <div class="col-lg-12"> <button type="button" class="btn btn-sm btn_submit btn-down" id="btnCI_ProgressCard"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit") </button></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="subjectList" style="display: none">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @ResourceCache.Localize("Subject")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("Status")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="CI_MarkEnteredSubjectList"></tbody>
                            </table>
                            <div class="col-lg-12">
                                <div id="CI_CalculateTotal" style="display: none">
                                    <button type="button" class="btn  btn_submit btn_exWidth" id="btnCI_CalculateTotal"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("CalculateTotal")</button>
                                </div>
                                <div id="CI_GenerateRank" style="display: none">
                                    <button type="button" class="btn  btn_submit btn_exWidth" id="btnCI_GenerateRank"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("GenerateRank")</button>
                                </div>
                                <div id="CI_ViewRank" style="display: none">
                                    <button type="button" class="btn  btn_submit btn_exWidth" id="btnCI_ViewRank"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("ViewRank")</button>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="RankList" style="display: none">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @ResourceCache.Localize("RegId")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Name")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("TotalMark")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Result")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Rank")
                                            </th>
                                            <th>
                                                @ResourceCache.Localize("Comments")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="CI_RankList"></tbody>
                                </table>
                                <input type="hidden" id="count" />
                                <button type="button" class="btn btn_exWidth btn_submit btn-down" id="btnCI_saveComment"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("SaveComments")</button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#PC_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);

            $('#PC_allAcademicYears').change(function (event) {
                event.preventDefault();
                var YearId = $('#PC_allAcademicYears').val();
                LoadClassWithSection(YearId);
            });

            function LoadClassWithSection(YearId) {
                $.getJSON('/ClassIncharge/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $("#PC_allAcademicYears").addClass("col-lg-12");
            $("#CI_ClassWithSection").addClass("col-lg-12");

            $("#btnCI_ProgressCard").click(function (event) {
                $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $("#Comment_Error").hide();
                $("#Comment_ErrorText").empty();
                //$("#InfoText").hide();
                var yearId = $("#PC_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var examId = $("#allExams").val();

                $("#PC_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");
                $("#allExams").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'PC_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                var values = { PC_allAcademicYears: yearId, CI_ClassWithSection: classWithSection, allExams: examId, };

                $.ajax({
                    url: '/ClassIncharge/CreateProgressCard',
                    type: 'POST',
                    processData: false,
                    contentType: false,


                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();

                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else {

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                                $("#subjectList").hide();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {

                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();

                                $("#subjectList").show();
                                $('#CI_MarkEnteredSubjectList').empty();


                                var status = "Mark Entered";
                                $.each(data.getMarkList, function (i, v) {
                                    row = $('<tr><td><label id="Subject">' + v.Subject + ' </td><td><label id="Status">' + status + '</label> </td></tr>');
                                    $('#CI_MarkEnteredSubjectList').append(row);
                                });

                                if (data.Message == "@ResourceCache.Localize("Please_ask_all_the_faculties_to_fill_marks")") {
                                    $("#subjectList").hide();
                                    $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                    $("#ErrorText").text("@ResourceCache.Localize("Please_ask_all_the_faculties_to_fill_marks")");
                                }

                                //calculate total
                                if (data.Message == "@ResourceCache.Localize("Calculate_Total")") {
                                    $("#CI_CalculateTotal").show();
                                    $("#btnCI_CalculateTotal").click(function (event) {

                                        if (yearId == "" || classWithSection == "" || examId == "") {
                                            $("#MandatoryFieldErrorMessage_List").show();
                                            return false;
                                        }
                                        $("#MandatoryFieldErrorMessage_List").hide();
                                        $.post('/ClassIncharge/CalculateTotal', { passYearId: yearId, passClassWithSection: classWithSection, passexamId: examId },
                                           function (data) {
                                               if (data.InfoMessage != "" && data.InfoMessage != null) {
                                                   $("#jsonExceptionMsg").hide();
                                                   $("#jsonSuccessMsg").hide();
                                                   $("#jsonErrorMsg").hide();
                                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                                   $("#btnCI_GenerateRank").hide();
                                                   $("#btnCI_CalculateTotal").hide();
                                                   $("#MyInfoText").show();
                                                   $("#AddInfoText").empty();
                                                   $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                                   $("#Loading_Sec").removeClass("loading-new");
                                               }
                                               if (data.Message == "@ResourceCache.Localize("Calculated_total_successfully_to_all_students")") {
                                                   $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                                   $("#SuccessText").text("@ResourceCache.Localize("Calculated_total_successfully_to_all_students")");
                                                   $("#btnCI_GenerateRank").show();
                                                   $("#btnCI_CalculateTotal").hide();
                                               }
                                           });

                                    });

                                }

                                if (data.Message == "@ResourceCache.Localize("TotalAlreadyCalculated")") {
                                    $("#btnCI_CalculateTotal").hide();
                                    $("#CI_GenerateRank").show();
                                    $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").show();
                                    $("#InfoText").show();
                                    $("#InfoText").text("@ResourceCache.Localize("TotalAlreadyCalculated")");
                                    $("#btnCI_GenerateRank").show();
                                }
                                $("#btnCI_GenerateRank").click(function (event) {

                                    $("#Comment_Error").hide();
                                    $("#Comment_ErrorText").empty();
                                    if (yearId == "" || classWithSection == "" || examId == "") {
                                        $("#MandatoryFieldErrorMessage_List").show();
                                        return false;
                                    }

                                    $("#MandatoryFieldErrorMessage_List").hide();
                                    $.post('/ClassIncharge/GenerateRank', { passYearId: yearId, passClassWithSection: classWithSection, passexamId: examId },
                                       function (data) {
                                           if (data.InfoMessage != "" && data.InfoMessage != null) {
                                               $("#jsonExceptionMsg").hide();
                                               $("#jsonSuccessMsg").hide();
                                               $("#jsonErrorMsg").hide();
                                               $("#MyInfoText").show();
                                               $("#AddInfoText").empty();
                                               $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                               $("#Loading_Sec").removeClass("loading-new");
                                           }
                                           if (data.Message == "@ResourceCache.Localize("Generated_rank_successfully_to _all_students")") {
                                               $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").show();
                                               $("#InfoText").empty();
                                               $("#InfoText").show();
                                               $("#InfoText").text("@ResourceCache.Localize("Generated_rank_successfully_to _all_students")");
                                               $("#btnCI_ViewRank").show();
                                           }
                                       });
                                });

                                // view rank
                                if (data.Message == "@ResourceCache.Localize("Rank_already_generated")") {
                                    $("#CI_ViewRank").show();
                                    $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").show();
                                    $("#InfoText").empty();
                                    $("#InfoText").show();
                                    $("#InfoText").text("@ResourceCache.Localize("RankGeneratedSuccessfully")");
                                    $("#btnCI_GenerateRank").hide();
                                    $("#btnCI_ViewRank").show();
                                }
                                $("#btnCI_ViewRank").click(function (event) {
                                    $("#Comment_Error").hide();
                                    $("#Comment_ErrorText").empty();
                                    if (yearId == "" || classWithSection == "" || examId == "") {
                                        $("#MandatoryFieldErrorMessage_List").show();
                                        return false;
                                    }
                                    $("#MandatoryFieldErrorMessage_List").hide();
                                    $.post('/ClassIncharge/AllStudentRank', { passYearId: yearId, passClassWithSection: classWithSection, passexamId: examId },

                                           function (data) {
                                               $("#RankList").show();
                                               $("#CI_RankList").empty();
                                               $.each(data.StudentRanklist, function (i, v) {
                                                   var cmt = "cmt" + i;
                                                   var MarkTotalId = "MarkTotalId" + i;
                                                   row = $('<tr><td><label id="StudentRegisterId">' + v.StudentRegisterId + ' </td><td><label id="StudentName">' + v.StudentName + '</label> </td> <td><label id="TotalMark">' + v.TotalMark + '</label> </td> <td><label id="Result">' + v.Result + '</label> </td> <td><label id="StudentRank">' + v.StudentRank + '</label> </td> <td><input type="text" id=' + cmt + ' value=' + v.Comment + ' size="20"  placeholder="@ResourceCache.Localize("CommentsGoHere")" /> <input type="hidden" id=' + MarkTotalId + ' value=' + v.MarkTotalId + ' /> </td></tr>');
                                                   $("#count").val(i);
                                                   $('#CI_RankList').append(row);
                                               });
                                           });
                                });

                                // save comments
                                $("#btnCI_saveComment").click(function (event) {
                                    $("#Loading_Sec").addClass("loading-new");
                                    $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                                    $("#Comment_Error").hide();
                                    $("#Comment_ErrorText").empty();
                                    if (yearId == "" || classWithSection == "" || examId == "") {
                                        $("#Loading_Sec").removeClass("loading-new");
                                        $("#MandatoryFieldErrorMessage_List").show();
                                        return false;
                                    }

                                    var yearId = $("#PC_allAcademicYears").val();
                                    var classWithSection = $("#CI_ClassWithSection").val();
                                    var examId = $("#allExams").val();

                                    var c = $("#count").val();

                                    var cmt = [];
                                    var id = [];


                                    for (var i = 0; i <= c; i++) {

                                        cmt[i] = $("#cmt" + i).val();
                                        id[i] = $("#MarkTotalId" + i).val();

                                    }
                                    
                                    $("#MandatoryFieldErrorMessage_List").hide();
                                    var values = { Id: id, rank_comment: cmt, TotalCount: c, Att_allAcademicYears: yearId, Att_classWithSection: classWithSection, Exam: examId };
                                   
                                    $.ajax({
                                        url: '/ClassIncharge/RankComment',
                                        type: 'POST',
                                        data: JSON.stringify(values),
                                        dataType: 'json',
                                        contentType: "application/json",
                                        success: function (data) {
                                            if (data.Message == "@ResourceCache.Localize("CommentsSavedSuccessfully")") {
                                                $("#Loading_Sec").removeClass("loading-new");
                                                $("#Comment_Error").hide();
                                                $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                                $("#SuccessText").text("@ResourceCache.Localize("CommentsSavedSuccessfully")");
                                                $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                                                //$("#InfoText").empty();
                                                $("#InfoText").hide();
                                            }
                                            if (data.ErrorMessage == "Progress_card_already_generated") {
                                                $("#Loading_Sec").removeClass("loading-new");
                                                $("#SuccessText").hide();
                                                $("#InfoText").hide();
                                                $("#Comment_Error").show();
                                                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                                $("#Comment_ErrorText").text("@ResourceCache.Localize("Progress_card_already_generated")");
                                            }
                                        }
                                    });
                                });
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    }
                });
            });
        });
    </script>
}