﻿
@*@{
    ViewBag.Title = "GradeResult";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

<h2>GradeResult</h2>*@

@using eAcademy.Models;
@model IEnumerable<eAcademy.ViewModel.R_ExamResult>
@{
    ViewBag.Title = "GradeResult";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("GradeResult")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("GradeResult", "GradeResult")" method="post" enctype="multipart/form-data">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-lg-12 row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_allAcademicYears", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_allClass", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("R_ExamResult_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), @ResourceCache.Localize("SelectExamType"), new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SortBy")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("sort", ViewBag.SortList as List<SelectListItem>, new { @class = "col-lg-12 filterItem current_button" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div> <button type="button" class=" btn btn-sm btn_search filterItem btn-down" id="ExamResultFilter" name="ExamResultFilter"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                                </div>
                            </div>
                            <div class="row col-lg-12  col-xs-12 col-sm-12  btn-down" id="show">
                                <table class="col-lg-12  col-xs-12 col-sm-12  " id="ExamResultGrid"></table>
                                <div id="pager"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#R_ExamResult_allAcademicYears').val(@Session["List_ChosenAcademicYearId"]);
        $('#R_ExamResult_allAcademicYears').change(function (event) {
            event.preventDefault();
            var YearId = $('#R_ExamResult_allAcademicYears').val();
            AssignAcademicYear(YearId);
            $('#R_ExamResult_allClass').val("");
            $('#show').hide();
            $("#R_ExamResult_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#R_ExamResult_allExams').val("");
            $('#sort').val("");
        });
        $('#R_ExamResult_allClass').change(function () {
            $("#R_ExamResult_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#R_ExamResult_allExams').val("");
            $('#show').hide();
            $('#sort').val("");
        });
        $('#R_ExamResult_Section').change(function () {
            $('#R_ExamResult_allExams').val("");
            $('#show').hide();
            $('#sort').val("");
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#R_ExamResult_allClass').change(function (event) {
            // alert("e");
            event.preventDefault();
            LoadSection_ExamResult();
        });

        function LoadSection_ExamResult() {
            //  alert("e1");
            var yearId = $("#R_ExamResult_allAcademicYears").val();
            var classId = $('#R_ExamResult_allClass').val();
            $.getJSON('/ExamReport/GetSelectedClassSection', { passClassId: classId },
                function (orderdetails) {
                    $("#R_ExamResult_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#R_ExamResult_Section").append($('<option></option>').val(c.SectionId).html(c.SectionName));
                    });
                });
        }

        $("#btnReport_ExamResult").click(function (event) {
            var yearId = $("#R_ExamResult_allAcademicYears").val();
            var classId = $("#R_ExamResult_allClass").val();
            var secId = $("#R_ExamResult_Section").val();
            var examId = $("#R_ExamResult_allExams").val();
            var sort = $("#sort").val();
            if (yearId == "" || classId == "" || secId == "" || examId == "" || sort == "") {
                $(".Report_ExamResult-message").text("Please select all the mantratory fields").css("color", "#ff0000");
                return false;
            }
        });
        $('#Class').change(function () {
            var year = $('#Class').val();
            //$("#Rep_section").empty().append('<option value="0">Select</option>');
            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {
                   $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                   $.each(data, function (i, c) {
                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });
               });
        });
        $('#Rpt_Section').change(function () {
            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
                   $.each(data, function (i, c) {
                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });
               });
        });
        $('#show').hide();
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#ExamResultGrid').setGridWidth(width, true); //Back to original width
            $('#ExamResultGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        //Function TimeTable
        jQuery("#ExamResultGrid").jqGrid({
            url: "/ExamReport/JQgridExamResult",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("StudentId")', '@ResourceCache.Localize("RollNumber")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("Total")', '@ResourceCache.Localize("Result")', '@ResourceCache.Localize("Rank")', '@ResourceCache.Localize("Comments")'],
            colModel: [
                    { key: false, name: 'StudentId', index: 'StudentId', editable: true },
                    { key: false, name: 'RollNumber', index: 'RollNumber', editable: true },
                    { key: false, name: 'StudentName', index: 'StudentName', editable: true },
                      { key: false, name: 'Total', index: 'Total', editable: true },
                        { key: false, name: 'Result', index: 'Result', editable: true },
                        { key: false, name: 'Rank', index: 'Rank', editable: true },
                            { key: false, name: 'Comment', index: 'Comment', editable: true },
            ],
            pager: jQuery("#pager"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("ExamResult")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            shrinkToFit: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
               ).jqGrid('navButtonAdd', '#pager',
               {
                   caption: "@ResourceCache.Localize("Excel") ",
                   buttonicon: "ui-icon-bookmark",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../ExamReport/ExamResultReport_ExportToExcel";
                   }
               }).jqGrid('navButtonAdd', '#pager',
               {
                   caption: "@ResourceCache.Localize("Pdf") ",
                   buttonicon: "ui-icon-print",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../ExamReport/ExamResultReport_ExportToPdf?pdf=true";
                   }
               });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#ExamResultFilter').click(function (event) {
            var acyear = $('#R_ExamResult_allAcademicYears').val();
            var classs = $('#R_ExamResult_allClass').val();
            var sec = $('#R_ExamResult_Section').val();
            var examtypeid = $('#R_ExamResult_allExams').val();
            var sort = $('#sort').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'R_ExamResult_allAcademicYears') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'R_ExamResult_allClass') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'R_ExamResult_Section') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'R_ExamResult_allExams') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectExam")');
                }
                if (null_id == 'sort') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSortBy")');
                }
            }
        });
        if (flag == 0) {
            $('#show').show();
            $('#Err').hide();
            event.preventDefault();
            ExamResultFilterGrid();
        }
        if (a.length != 0) {
            $('#show').hide();
            $('#Err').show();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").show();
            var li = [];
            $("#jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
        }
    });
    function ExamResultFilterGrid() {
        var postDataValues = $("#ExamResultGrid").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#ExamResultGrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    }
    });
    </script>
}
