﻿@using eAcademy.Models
@{
    ViewBag.Title = "GradeProgressCard";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("GenerateProgressCard")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="box-body" id="MyInfoText" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PC_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                            </div>
                            <div class="col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>
                            <div class="col-lg-3">
                                <div class="col-lg-12"> <button type="button" class="btn btn-sm btn_submit btn-down" id="btnCI_GradeProgressCard"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit")</button></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="subjectList" style="display: none">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @ResourceCache.Localize("Subject")
                                        </th>
                                        <th>
                                            @ResourceCache.Localize("Status")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="CI_GradeEnteredSubjectList"></tbody>
                            </table>
                            <div class="col-lg-12">
                                <div id="CI_ViewGrade" style="display: none">
                                    <button type="button" class="btn  btn_submit btn_exWidth" id="btnCI_ViewGrade"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("ViewGrade")</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="GradeList" style="display: none">
                            <div class="btn-down">
                                <div id="box" class="col-lg-12 "> </div>
                            </div>
                            <input type="hidden" id="count" />
                            <button type="button" class="btn btn_exWidth btn_submit btn-down" id="btnCI_saveComment"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("SaveComments")</button>
                        </div>
                        <div id="NoGradeAssigned">
                            <label> @ResourceCache.Localize("NoGradeAssigned") </label>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#PC_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);

            $("#NoGradeAssigned").hide();
            $('#CI_ClassWithSection').change(function (event) {
                $("#subjectList").hide();
                $("#GradeList").hide();
            });
            $('#allExams').change(function (event) {
                $("#subjectList").hide();
                $("#GradeList").hide();
            });
            $('#PC_allAcademicYears').change(function (event) {
                $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#allExams").val("");
                $("#subjectList").hide();
                $("#GradeList").hide();
                LoadClassWithSection();
            });


            function LoadClassWithSection() {
                //alert("a")
                var YearId = $('#PC_allAcademicYears').val();
                $.getJSON('/ClassIncharge/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }

            $("#PC_allAcademicYears").addClass("col-lg-12");
            $("#CI_ClassWithSection").addClass("col-lg-12");

            $("#btnCI_GradeProgressCard").click(function (event) {
                $("#subjectList").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#CI_ViewGrade").hide();
                $("#GradeList").hide();
                $("#subjectList").hide();

                var yearId = $("#PC_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var examId = $("#allExams").val();

                $("#PC_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");
                $("#allExams").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'PC_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                var values = { PC_allAcademicYears: yearId, CI_ClassWithSection: classWithSection, allExams: examId, };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ClassIncharge/GradeProgressCard',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {

                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();

                                $('#CI_GradeEnteredSubjectList').empty();
                                var status = "Mark Entered";

                                if (data.GradeList.length != 0) {
                                    $.each(data.GradeList, function (i, v) {
                                        row = $('<tr><td><label id="Subject">' + v.Subject + ' </td><td><label id="Status">' + status + '</label> </td></tr>');
                                        $('#CI_GradeEnteredSubjectList').append(row);
                                    });
                                    $("#subjectList").show();
                                }

                                if (data.Message == "@ResourceCache.Localize("Please_ask_all_the_faculties_to_fill_marks")") {
                                    $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                    $("#ErrorText").text("@ResourceCache.Localize("Please_ask_all_the_faculties_to_fill_marks")");
                                    $("#Loading_Sec").removeClass("loading-new");
                                    return false;
                                }
                                $("#CI_ViewGrade").show();
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });

            $("#btnCI_ViewGrade").click(function (event) {
                $("#GradeProgressCard").empty();
                $("#box").empty();
                var yearId = $("#PC_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var examId = $("#allExams").val();

                if (yearId == "" || classWithSection == "" || examId == "") {
                    $("#MandatoryFieldErrorMessage_List").show();
                    return false;
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                $.post('/ClassIncharge/AllStudentGrade', { passYearId: yearId, passClassWithSection: classWithSection, passexamId: examId },

                       function (data) {
                           $("#GradeList").show();

                           var subjectCount = data.SubjectCount;
                           var studentCount = data.StudentCount;

                           // alert(subjectCount);

                           mytable = $('<table class="col-lg-12 table table-bordered table-striped"></table>').attr({ id: "GradeProgressCard" });
                           myhead = $('<thead></thead>').appendTo(mytable);
                           myheadRow = $('<tr></tr>').appendTo(myhead);

                           var cols = new Number(subjectCount);
                           var rows = new Number(studentCount);

                           $('<th class="title"></th>').text("Roll Number").appendTo(myheadRow);
                           $('<th class="title"></th>').text("Name").appendTo(myheadRow);

                           for (var i = 0; i < cols; i++) {
                               var sub = data.subjectList[i].Subject;
                               $('<th class="title" id="Subject' + i + '"></th>').text(sub).appendTo(myheadRow);
                           }

                           $('<th class="title"></th>').text("Comment").appendTo(myheadRow);



                           for (var i = 0; i < rows; i++) {

                               var sname = data.StudentList[i].stuName;
                               var rolNo = data.StudentList[i].stuRollNum;
                               var reg_Id = data.StudentList[i].stu_RegId;

                               if (data.ExistCmtCount != "0") {
                                   var cmtValue = data.ExistCmt[i].Comment;
                               }


                               var row = $('<tr><td id="stuRollNo' + i + '">' + rolNo + '</td><td>' + sname + '</td></tr>').appendTo(mytable);

                               for (var j = 0; j < cols; j++) {
                                   $('<td id="StuRollNo' + i + 'Subject' + j + '" class=""></td>').appendTo(row);
                               }

                               if (data.ExistCmtCount == "0") {
                                   $('<td><input type="text" id="comment' + i + '" /> <input type="hidden"  value="' + reg_Id + '"  id="StuRegId' + i + '" /> </td>').appendTo(row);
                               }
                               else {
                                   $('<td><input type="text" id="comment' + i + '" value="' + cmtValue + '" readonly />  </td>').appendTo(row);
                               }

                           }

                           $("#count").val(studentCount);
                           mytable.appendTo("#box");

                           for (var i = 0; i < subjectCount; i++) {
                               for (var j = 0; j < studentCount ; j++) {
                                   var x = "Empty";
                                   for (var k = 0; k < data.GradeList.length; k++) {

                                       var List = data.GradeList[k];
                                       var RollNum = List.RollNumber;
                                       var sub = List.Subject;


                                       var rno = $("#stuRollNo" + j).html();
                                       var subj = $("#Subject" + i).html();

                                       if (rno == RollNum && subj == sub) {

                                           var grade = List.Grade;
                                           x = "Value";
                                           $("#StuRollNo" + j + "Subject" + i).append($('<div class = "item assigned">' + grade + '</div>'))
                                       }
                                   }
                                   if (x == "Empty") {

                                       grade = "-";
                                       $("#StuRollNo" + j + "Subject" + i).append($('<div class = "item assigned">' + grade + '</div>'));
                                       $("#NoGradeAssigned").show();
                                   }
                               }

                           }



                       });
            });
            // save comments
            $("#btnCI_saveComment").click(function (event) {

                var yearId = $("#PC_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var examId = $("#allExams").val();

                if (yearId == "" || classWithSection == "" || examId == "") {
                    $("#MandatoryFieldErrorMessage_List").show();
                    return false;
                }

                var c = $("#count").val();

                var cmt = [];
                var id = [];

                for (var i = 0; i < c; i++) {

                    cmt[i] = $("#comment" + i).val();
                    id[i] = $("#StuRegId" + i).val();

                }
                $("#MandatoryFieldErrorMessage_List").hide();
                var values = { Id: id, rank_comment: cmt, TotalCount: c, Att_allAcademicYears: yearId, Att_classWithSection: classWithSection, Exam: examId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ClassIncharge/GradeComment',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.InfoMessage != "" && data.InfoMessage != null) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#MyInfoText").show();
                            $("#AddInfoText").empty();
                            $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message == "Comments saved successfully") {
                            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                            $("#ErrorText").empty();
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                            $("#SuccessText").text("@ResourceCache.Localize("CommentsSavedSuccessfully")");
                            $("#MandatoryFieldSuccessMessage_ListWthMsgInfo").hide();
                            $("#InfoText").empty();
                            $("#InfoText").hide();
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ErrorMessage == "Progress card already generated") {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").text("@ResourceCache.Localize("Progress_card_already_generated")");
                            $("#SuccessText").empty();
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });


        });
    </script>
}
