﻿@using eAcademy.Models
@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Graph")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("CI_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                        </div>
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                        </div>

                        <div class="col-lg-3">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnShowGraph"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                    </div>
                </form>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="Div_Graph" style="display:none">
                    <div class="row">
                        <section class="col-lg-12">
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-clipboard "></i>
                                    <h3 class="box-title">@ResourceCache.Localize("DailyAttendance")</h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                <div id="NoRecordsDaily" class="NoRecords box-body" style="display:none">
                                    <div class="alert alert-info alert-dismissable">
                                        <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
                                    </div>
                                </div>
                                <div id="tabs-1" style="height: 500px" class="col-lg-12 monthly_attendance">
                                    <div id="Daily_AttendanceChart" style="height: 500px; width: 100%;">
                                        <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col-lg-6">
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-clipboard "></i>
                                    <h3 class="box-title">@ResourceCache.Localize("MonthlyAttendance")</h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                <div id="NoRecordsMonthly" class="NoRecords box-body" style="display:none">
                                    <div class="alert alert-info alert-dismissable">
                                        <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
                                    </div>
                                </div>
                                <div id="tabs-2" style="height: 500px" class="col-lg-12 monthly_attendance">
                                    <div id="Monthly_AttendanceChart" style="height: 500px; width: 100%;">
                                        <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col-lg-6">
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-clipboard "></i>
                                    <h3 class="box-title">@ResourceCache.Localize("StudentStrength")</h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                <div id="NoRecordStudents" class="NoRecords box-body" style="display:none">
                                    <div class="alert alert-info alert-dismissable">
                                        <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
                                    </div>
                                </div>
                                <div id="tabs-3" style="height: 500px" class="col-lg-12 monthly_attendance">
                                    <div id="StudentchartContainer" style="height: 500px; width: 100%;">
                                        <b>@ResourceCache.Localize("Info:NoDetailsFound")</b>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>

    </div>
</section>


@section scriptsContainer{

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#CI_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
            LoadClassWithSection(@Session["Add_ChosenAcademicYearId"]);

            $('#CI_allAcademicYears').change(function (event) {
                event.preventDefault();
                $("#Div_Graph").hide();
                var YearId = $('#CI_allAcademicYears').val();
                LoadClassWithSection(YearId);
            });

            function LoadClassWithSection(YearId) {
                $.getJSON('/ClassIncharge/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }
            $('#CI_ClassWithSection').change(function (event) {
                $("#Div_Graph").hide();
            });

            $("#btnShowGraph").click(function (event) {
                var yearId = $("#CI_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();

                $("#CI_allAcademicYears").addClass("current_button");
                $("#CI_ClassWithSection").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'CI_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'CI_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }
                $("#MandatoryFieldErrorMessage_List").hide();
                event.preventDefault();


                // Daily Attendance
                var options1 = $.getJSON("/ClassIncharge/DailyAttendance", { passYearId: yearId, passClassWithSec: classWithSection },
                function (data) {
                    $("#Div_Graph").show();
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $("#NoRecordsDaily").hide();
                        $("#tabs-1").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").empty();
                        $("#ErrorText").text(data.ExceptionError);
                        return false;
                    }
                    else if (data.ErrorMessage == "You_are_not_a_class_Teacher") {
                        $("#NoRecordsDaily").hide();
                        $("#tabs-1").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").empty();
                        $("#ErrorText").text("@ResourceCache.Localize("You_are_not_a_class_Teacher")");
                        return false;
                    }

                    else if (data.ErrorMessage == "NoDetailsFound") {
                        $("#tabs-1").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                        $("#NoRecordsDaily").show();
                        return false;
                    }
                    else if (data.ErrorMessage == "Please_select_all_the_mandatory_fields") {
                        $("#tabs-1").hide();
                        $("#NoRecordsDaily").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").empty();
                        $("#ErrorText").text("@ResourceCache.Localize("Please_select_all_the_mandatory_fields")");
                        return false;
                    }
                    else {
                        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                        $("#NoRecordsDaily").hide();
                        $("#ErrorText").empty();
                        $("#tabs-1").show();
                        var d1 = [];
                        var c = [];
                        var j = 1;
                        var p = [];
                        var Month = data.month;
                        for (var x = 0; x < data.dateCount; x++) {
                            var AllDate = data.Day;
                            var singleDay = AllDate.slice(x, j);
                            d1[x] = singleDay;
                            var AllDatePresent = data.PresentCount;
                            var SingleDatePresent = AllDatePresent.slice(x, j);
                            c[x] = SingleDatePresent;
                            var AllDatePercentage = data.PercentageList;
                            var SingleDatePercentage = AllDatePercentage.slice(x, j);
                            p[x] = SingleDatePercentage;
                            j++;
                        }
                        var date1 = [];
                        var percentage = [];
                        for (var k = 0; k < data.dateCount; k++) {
                            var a1 = d1[k]; var b1 = c[k];
                            var x1 = parseInt(a1), y1 = parseInt(b1);
                            var z1 = p[k];
                            date1.push({ x: x1, y: y1, z: z1 });  //label: x1 + ' ' + Month,
                            var p1 = parseInt(p[k]);
                            percentage.push({ x: p1 });
                        }
                        var chart = new CanvasJS.Chart("Daily_AttendanceChart",
                        {
                            //   theme: "theme2",
                            exportEnabled: true,
                            title: {
                                text: "Attendance",
                                fontFamily: "arial black",
                                fontColor: "#695A42"
                            },
                            axisY: {
                                title: "Present Students",
                                //suffix: " kPa"
                            },

                            //     animationEnabled: true,
                            axisX: {
                                interval: 1,
                                title: "Date",
                                intervalType: "month",
                                // suffix: "/2/2015"
                                //  prefix: data.month,
                                suffix: Month
                            },
                            data: [
                            {
                                //  markerSize: 0,
                                toolTipContent: "<span style='\"'color: {color};'\"'><strong>Day</strong></span> {x}  <br/><span style='\"'color: {color};'\"'><strong>Present</strong></span> {y}  <br/><span style='\"'color: {color};'\"'><strong>Percentage</strong></span> {z}",
                                type: "spline",
                                //type: "column",
                                //column
                                //  showInLegend: true,
                                //  legendText: "Month: " + Month,

                                //    indexLabel: percentage + "%",
                                dataPoints: date1

                            }

                            ]
                        });

                        chart.render();
                    }
                });
                // Monthly attendance
                var options2 = $.getJSON("/ClassIncharge/MonthlyAttendance", { passYearId: yearId, passClassWithSec: classWithSection },
                function (data) {
                    $("#Div_Graph").show();
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $("#NoRecordsMonthly").hide();
                        $("#tabs-2").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").empty();
                        $("#ErrorText").text(data.ExceptionError);
                        return false;
                    }
                    else if (data.ErrorMessage == "You_are_not_a_class_Teacher") {
                        $("#NoRecordsMonthly").hide();
                        $("#tabs-2").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").empty();
                        $("#ErrorText").text("@ResourceCache.Localize("You_are_not_a_class_Teacher")");
                        return false;
                    }
                    else if (data.ErrorMessage == "NoDetailsFound") {
                        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                        $("#tabs-2").hide();
                        $("#NoRecordsMonthly").show();
                        return false;
                    }
                    else if (data.ErrorMessage == "Please_select_all_the_mandatory_fields") {
                        $("#NoRecordsMonthly").hide();
                        $("#tabs-2").hide();
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").empty();
                        $("#ErrorText").text("@ResourceCache.Localize("Please_select_all_the_mandatory_fields")");
                        return false;
                    }
                    else {
                        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                        $("#NoRecordsMonthly").hide();
                        $("#tabs-2").show();
                        $("#ErrorText").empty();
                        $("#Div_Graph").show();

                        var month = [];
                        var presentCount = [];
                        var monthName = [];
                        var percentage = [];
                        var j = 1;

                        var Year = data.Year;
                        for (var x = 0; x < data.monthCount; x++) {
                            var AllMonth = data.month1;
                            var singleMonth = AllMonth.slice(x, j);
                            month[x] = singleMonth;
                            var AllMonthPresentCount = data.presentDaysCount;
                            var SingleMonthPresentCount = AllMonthPresentCount.slice(x, j);
                            presentCount[x] = SingleMonthPresentCount;
                            var AllMonthName = data.monthName;
                            var singleMonthName = AllMonthName.slice(x, j);
                            monthName[x] = singleMonthName;
                            var AllMonthPercentage = data.PercentageList;
                            var singleMonthPercentage = AllMonthPercentage.slice(x, j);
                            percentage[x] = singleMonthPercentage;
                            j++;
                        }


                        var month1 = [];


                        for (var k = 0; k < data.monthCount; k++) {

                            var a1 = month[k]; var b1 = presentCount[k]; var c1 = monthName[k];
                            var x1 = parseInt(a1), y1 = parseInt(b1);
                            var z1 = percentage[k];
                            month1.push({ label: c1, y: y1, x: x1, z: z1 });
                        }
                        var chart = new CanvasJS.Chart("Monthly_AttendanceChart",
                        {
                            title: {
                                text: "Attendance"
                            },
                            axisY: {
                                title: "Present Students"
                                //suffix: " kPa"
                            },
                            //  animationEnabled: true,
                            exportEnabled: true,
                            axisX: {
                                title: "Month"
                                // suffix: "/2/2015"
                                //  prefix: data.month,
                                // suffix: Month


                            },
                            data: [
                            {
                                //   markerSize: 0,
                                //  indexLabel: data.Percentage+"%"
                                toolTipContent: "<span style='\"'color: {color};'\"'><strong>Month</strong></span> {x}  <br/><span style='\"'color: {color};'\"'><strong>Present Students</strong></span> {y}   <br/><span style='\"'color: {color};'\"'><strong>Percentage</strong></span> {z}",
                                type: "spline",
                                //     showInLegend: true,
                                legendText: "Academic Year: " + Year,
                                //  indexLabel: data.Percentage+"%",
                                dataPoints: month1

                            }

                            ]
                        });
                        chart.render();
                    }
                });
                // male / Female
                var options3 = $.getJSON("/ClassIncharge/MaleFemale", { passYearId: yearId, passClassWithSec: classWithSection },
               function (data) {
                   $("#Div_Graph").show();
                   if (data.ExceptionError != "" && data.ExceptionError != null) {
                       $("#NoRecordStudents").hide();
                       $("#tabs-3").hide();
                       $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                       $("#ErrorText").empty();
                       $("#ErrorText").text(data.ExceptionError);
                       return false;
                   }
                   else if (data.ErrorMessage == "You_are_not_a_class_Teacher") {
                       $("#NoRecordStudents").hide();
                       $("#tabs-3").hide();
                       $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                       $("#ErrorText").empty();
                       $("#ErrorText").text("@ResourceCache.Localize("You_are_not_a_class_Teacher")");
                       return false;
                   }

                   else if (data.ErrorMessage == "NoDetailsFound") {
                       $("#tabs-3").hide();
                       $("#NoRecordStudents").show();
                       return false;
                   }
                   else if (data.ErrorMessage == "Please_select_all_the_mandatory_fields") {
                       $("#NoRecordStudents").hide();
                       $("#tabs-3").hide();
                       $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                       $("#ErrorText").empty();
                       $("#ErrorText").text("@ResourceCache.Localize("Please_select_all_the_mandatory_fields")");
                       return false;
                   }
                   else {
                       $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                       $("#NoRecordStudents").hide();
                       $("#ErrorText").empty();
                       $("#Div_Graph").show();
                       $("#tabs-3").show();
                       var chart = new CanvasJS.Chart("StudentchartContainer",
                       {
                           title: {
                               text: "Male/Female distribution",
                               fontFamily: "arial black"
                           },
                           //animationEnabled: true,
                           exportEnabled: true,
                           legend: {
                               verticalAlign: "bottom",
                               horizontalAlign: "center"
                           },
                           theme: "theme1",
                           data: [
                           {
                               type: "pie",
                               indexLabelFontFamily: "Garamond",
                               indexLabelFontSize: 14,
                               indexLabelFontWeight: "bold",
                               startAngle: 0,
                               indexLabelFontColor: "MistyRose",
                               indexLabelLineColor: "darkgrey",
                               indexLabelPlacement: "inside",
                               toolTipContent: "{name}: {y} Students",
                               showInLegend: true,
                               indexLabel: "#percent%",
                               dataPoints: [
                                   { y: data.maleCount, name: "Boys", legendMarkerType: "triangle" },
                                   { y: data.FemaleCount, name: "Girls", legendMarkerType: "square" }
                               ]
                           }
                           ]
                       });
                       chart.render();
                   }
               });

            });
        });
    </script>
}
