﻿@model IEnumerable<eAcademy.ViewModel.LeaveRequestStatus>
@using eAcademy.Models
@{
    ViewBag.Title = "ViewLeaveRequest";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int k = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageLeaveRequest")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <div id="show">
                        <form action="@Url.Action("LeaveRequest", "ClassIncharge")" method="post" enctype="multipart/form-data">
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            <div class="box-body row border-radius-none">
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                                @if (ViewBag.InfoMsg != null)
                                {
                                    <div class="alert alert-info alert-dismissable">
                                        <strong>@ResourceCache.Localize("Info") </strong> <b> @ViewBag.InfoMsg </b>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    </div>
                                }
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("FromDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="SM_txt_FromDate_List" name="SM_txt_FromDate_List" placeholder="@ResourceCache.Localize("FromDate")" title="@ResourceCache.Localize("FromDate")" required="required" value="@ViewBag.fDate" readonly />
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ToDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12" type="text" id="SM_txt_ToDate_List" name="SM_txt_ToDate_List" placeholder="@ResourceCache.Localize("ToDate")" title="@ResourceCache.Localize("ToDate")" required="required" value="@ViewBag.toDate" readonly />
                                </div>
                                <div class="col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Status", ViewBag.StatusList as List<SelectListItem>, ResourceCache.Localize("SelectStatus"))
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn btn-sm btn_submit btn-down" id="btn_List_ParentLeaveReason"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>
                                <div class="box-footer clearfix no-border">
                                </div>
                            </div>
                        </form>
                        @if (ViewBag.OnSubmit == "X")
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                @if (ViewBag.val == "empty")
                                {
                                    <div class="NoRecords box-body">
                                        <div class="alert alert-info alert-dismissable" id="NoRecords">
                                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <form action="@Url.Action("LeaveRequestDecision", "ClassIncharge")" method="post" enctype="multipart/form-data">
                                        @Html.Partial("~/Views/Shared/Print.cshtml")
                                        <div class="box-body">
                                            <div id="tbl_scrol">
                                                <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentLeaveRequestDetails")</h2>
                                                <table border="1" class="table table-bordered table-striped col-lg-12" id="LR">
                                                    <tr>
                                                        <th id="hideFromPrint">
                                                            @ResourceCache.Localize("SelectAll")
                                                            <input type="checkbox" id="selectAll" name="selectAll">
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ClassIncharge)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.FromDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ToDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.NumberOfDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.LeaveReason)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Status)
                                                        </th>
                                                    </tr>
                                                    @foreach (var item in Model)
                                                    {
                                                        k++;
                                                        var sel_Stu = "selectStudent" + k;
                                                        var Req_id = "Req_id" + k;
                                                        <tr id="hideFromPrintTR">
                                                            <td id="hideFromPrintTD">
                                                                <input type="checkbox" id=@sel_Stu name=@sel_Stu class="checkbox1">
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ClassIncharge)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.From_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.To_Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NumberOfDays)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LeaveReason)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Status)
                                                                <input type="hidden" id=@Req_id name=@Req_id value="@item.RequestId">
                                                            </td>
                                                        </tr>
                                                    }

                                                </table>
                                            </div>
                                        </div>
                                        <div class="row box-body col-lg-12">
                                            <input type="hidden" id="count" name="count" value="@ViewBag.list">
                                            <input type="submit" class="btn btn-sm btn-success btn_double" id="BtnApprove" name="BtnApprove" value="@ResourceCache.Localize("Approve")" />
                                            <input type="submit" class="btn btn-sm btn-danger" id="BtnReject" name="BtnReject" value="@ResourceCache.Localize("Decline")" />
                                        </div>
                                    </form>
                                }
                            </div>
                        }
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#btn_List_ParentLeaveReason").click(function (event) {
            $("#successmsg").hide();
            var fdate = $("#SM_txt_FromDate_List").val();
            var todate = $("#SM_txt_ToDate_List").val();
            var status = $("#Status").val();
            $("#SM_txt_FromDate_List").addClass("current_button");
            $("#SM_txt_ToDate_List").addClass("current_button");
            $("#Status").addClass("current_button");
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'SM_txt_FromDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'SM_txt_ToDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                        }
                        if (null_id == 'Status') {

                            a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

            });
            var HolidayDate1 = [];
            var HolidayReason1 = [];
            $.getJSON("/ClassIncharge/CurrentActiveDate",
                 function (data) {
                     $.each(data.HolidaysList, function (i, c) {
                         HolidayDate1[i] = c.Date;
                         HolidayReason1[i] = c.Holiday;
                     });
                     var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                     $(function () {
                         var dates = $("#SM_txt_FromDate_List, #SM_txt_ToDate_List").datepicker({
                             dateFormat: 'dd/mm/yy',
                             minDate: data.StartingEnableDate,
                             maxDate: data.EndingEnableDate,
                             changeMonth: true,
                             changeYear: true,
                             beforeShowDay: function (date) {
                                 show = true;
                                 for (var i = 0; i < holidays.length; i++) {
                                     if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                 }
                                 if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                 var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                 return display;
                             },
                             onSelect: function (selectedDate) {
                                 var option = this.id == "SM_txt_FromDate_List" ? "minDate" : "maxDate",
                                 instance = $(this).data("datepicker"),
                                 date = $.datepicker.parseDate(
                                 instance.settings.dateFormat ||
                                 $.datepicker._defaults.dateFormat,
                                 selectedDate, instance.settings);
                                 dates.not(this).datepicker("option", option, date);
                             },

                         });
                     });
                 });

            $("#BtnApprove").click(function (event) {
                var fdate = $("#SM_txt_FromDate_List").val();
                var todate = $("#SM_txt_ToDate_List").val();
                var status = $("#Status").val();

                $("#SM_txt_FromDate_List").addClass("current_button");
                $("#SM_txt_ToDate_List").addClass("current_button");
                $("#Status").addClass("current_button");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'SM_txt_FromDate_List') {

                            a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'SM_txt_ToDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                    if (null_id == 'Status') {

                        a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                    }
                }
                else {
                }
            });

            var c = $("#count").val();
            var atLeastOneIsChecked = false;
            $('input:checkbox').each(function () {
                if ($(this).is(':checked')) {
                    atLeastOneIsChecked = true;
                    // Stop .each from processing any more items
                    return false;
                }
            });

            if (atLeastOneIsChecked == false) {
                a.push("@ResourceCache.Localize("Please_select_atleast_one_student")");;
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
            }

        });

        $("#BtnReject").click(function (event) {
            var fdate = $("#SM_txt_FromDate_List").val();
            var todate = $("#SM_txt_ToDate_List").val();
            var status = $("#Status").val();

            $("#SM_txt_FromDate_List").addClass("current_button");
            $("#SM_txt_ToDate_List").addClass("current_button");
            $("#Status").addClass("current_button");

            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'SM_txt_FromDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                    }
                    if (null_id == 'SM_txt_ToDate_List') {

                        a.push('@ResourceCache.Localize("Please_select_to_date")');
                    }
                    if (null_id == 'Status') {

                        a.push('@ResourceCache.Localize("PleaseSelectStatus")');
                    }
                }
                else {
                }
            });

            var c = $("#count").val();

            var atLeastOneIsChecked = false;
            $('input:checkbox').each(function () {
                if ($(this).is(':checked')) {
                    atLeastOneIsChecked = true;
                    // Stop .each from processing any more items
                    return false;
                }
            });

            if (atLeastOneIsChecked == false) {
                a.push("@ResourceCache.Localize("Please_select_atleast_one_student")");;
            }

            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_List").show();
                $(".List_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".List_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_List").hide();
            }

        });

    });
    </script>
}