﻿@model IEnumerable<eAcademy.ViewModel.RemarkList>
@{
    ViewBag.Title = "StudentRemarks";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")




<section class="content" style="height:100%">
    <div class="row">

        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-primary ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">Student Remark</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    <form>
                        <div class="box-body border-radius-none">
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")

                            <div class="col-lg-3">
                                <div>Academic Year <span class="glyphicon glyphicon-asterisk"></span></div>
                                  @Html.DropDownList("CI_Remark_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), "-- Select Year --")
                            </div>

                            <div class="col-lg-3">
                                <div>class <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("CI_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = "-- Select Class --", Value = "0" } })
                            </div>

                            <div class="col-lg-3">
                                <div>Date <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="CI_RemarkDate" name="CI_RemarkDate" placeholder="Date" title="Date" required="required" />
                            </div>

                            <div class="col-lg-3">
                                <div class="CI_Remarks_message col-lg-12"><label class="col-md-12"></label></div>
                                <div class="col-md-12"> <button type="button" class="btn btn-sm btn_submit" id="btnCI_Remarks"><i class="fa fa-caret-right"></i> Submit</button></div>
                            </div>

                        </div>




                        <div class="col-lg-12" id="RemarksList" style="display:none">

                            <input type="hidden" id="ivalue" name="ivalue" />
                            @Html.Partial("~/Views/Shared/Print.cshtml")
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <table class="table table-bordered table-striped col-lg-12">
                                        <thead>
                                            <tr>
                                                <th>
                                                    All   <input type="checkbox" id="CI_Remark_allSelect" />
                                                </th>
                                                <th>
                                                    Student Id
                                                </th>
                                                <th>
                                                    Student Name
                                                </th>
                                                <th>
                                                    Remarks
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="CI_StudentList"></tbody>
                                    </table>

                                </div>
                            </div>



                            <div class="col-lg-6">
                                <div class="col-lg-12"><label></label></div>
                                <div class="col-md-12"> <button type="button" class="btn btn-sm btn_save" id="btnSaveCI_Remark"><i class="fa fa-save"></i> Save</button></div>

                            </div>
                        </div>

                    </form>
                    <div class="box-footer clearfix no-border">

                    </div>
                </div>
            </div>
        </section>

    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#CI_Remark_allAcademicYears').change(function (event) {
                event.preventDefault();
                LoadClassWithSection();
            });


            function LoadClassWithSection() {
                var YearId = $('#CI_Remark_allAcademicYears').val();
                $.getJSON('/ClassIncharge/getClassWithSection', { passYearId: YearId },
                    function (orderdetails) {
                        $("#CI_ClassWithSection").empty().append('<option value="">Select class</option>');
                        $.each(orderdetails, function (i, c) {
                            $("#CI_ClassWithSection").append($('<option></option>').val(c.ClassIdSecId).html(c.ClassNameSecName));
                        });
                    });
            }


            $("#btnCI_Remarks").click(function (event) {
                event.preventDefault();
                $('#CI_StudentList').empty();
                var yearId = $("#CI_Remark_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var date = $("#CI_RemarkDate").val();

                if (yearId == "" || classWithSection == "" || date == "") {
                    $(".CI_Remarks_message").text("Please select all the mantratory fields").css("color", "#ff0000");
                    return false;
                }

                alert(yearId);
                alert(classWithSection);
                alert(date);

                $("#RemarksList").show();
                $.post('/ClassIncharge/getStudentList', { passYearId: yearId, passClassIdSecId: classWithSection, passDate: date },
                  function (data) {
                      $(".CI_Remarks_message").hide();

                      if (data.msg == "old")
                      {
                          $.each(data.getMarkExist, function (i, v) {

                              var txt_Remark = "txt_Remark" + i;
                              var id = "ID" + i;
                              row = $('<tr><td><label >' + v.rollnumber + '</label></td><td><label id="Name">' + v.name + '</label> </td><td><input type="textbox" value=' + v.Remark + ' id=' + txt_Remark + ' name="' + txt_Remark + '" /><input type="hidden" id=' + id + ' name="' + id + '" value="' + v.id + '"  /></td></tr>');
                              $('#CI_StudentList').append(row);
                              $("#ivalue").val(i);
                          });
                      }

                      if (data.msg == "new")
                      {
                          $.each(data.studentList, function (i, v) {
                              console.log(i);
                              var txt_mark = "txt_mark" + i;
                              var id = "ID" + i;
                              row = $('<tr><td><label >' + v.rollnumber + '</label></td><td><label id="Name">' + v.name + '</label> </td><td><input type="textbox" id=' + txt_mark + ' name="' + txt_mark + '" /><input type="hidden" id='+ id +' name="' + id + '" value="' + v.id + '"  /></td></tr>');
                              $('#CI_StudentList ').append(row);
                              $("#ivalue").val(i);
                          });
                      }

                  }, 'json');
            });


            $("#btnSaveMark").click(function () {
             //   alert("v");
                var yearId = $("#Mark_allAcademicYears").val();
                var classWithSection = $("#CI_ClassWithSection").val();
                var clasSec = classWithSection.toString();
                var split = clasSec.split(' ');
                var classId = split[0];
                var secId = split[1];
                var subId = $("#Mark_allSubjects").val();
                var examId = $("#Mark_Exam").val();

                if (yearId == "" || classId == "" || secId == "" || subId == "" || examId == "") {
                    alert("empdsd");
                    $(".SaveMark_message").text("Please select all the mantratory fields").css("color", "#ff0000");
                    return false;
                }

                var c = $("#ivalue").val();

                var mark = [];
                var id = [];
             //   alert(c);

                for (var i = 0; i <= c; i++) {

                    mark[i] = $("#txt_mark" + i).val();
                    id[i] = $("#ID" + i).val();



                    if (mark[i] == "0" || mark[i] == null || mark[i] == "") {
                     //   alert("g");
                        alert(mark[i]);
                        $(".SaveMark_message").text("Please select all the mantratory fields").css("color", "#ff0000");
                        return false;
                    }
                    else {
                        $("#errorMsg").text("");
                        $("#div_Error").hide();
                    }

                }

                $(".SaveMark_message").hide();
                var values = { Mark_allAcademicYears: yearId, Mark_allClass: classId, Mark_Section: secId, Mark_allSubjects: subId, Mark_Exam: examId, Mark: mark, Id: id, TotalCount: c };

                $.ajax({
                    url: '/MarksInfo/Mark',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {

                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {

                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {


                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);

                        }

                        if (data.ExceptionError != "" && data.ExceptionError != null) {


                            $("#jsonErrorMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonExceptionMsg").show();
                            $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }


                    }

                });
            });




            $("#CI_Remark_allAcademicYears").change(function (event) {

                var acid = $("#CI_Remark_allAcademicYears").val();
                $.getJSON("/ClassIncharge/getDate", { acid: acid },

                    function (data) {
                        var mdate = data.sd + "------" + data.ed;
                        console.log(mdate);
                        $(function () {
                            var dates = $("#CI_RemarkDate").

                                dateFormat: 'yy/mm/dd',
                                minDate: data.sd,
                                maxDate: data.ed,
                                changeMonth: true,
                                changeYear: true
                            });
                        });
                    });
            });


        });
    </script>
}