﻿@model eAcademy.Models.StudentParentProfile
@using eAcademy.Models
@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("StudentDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body row border-radius-none">
                        <table id="t1" border="1" class="col-lg-12 table table-bordered table-striped">
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Name")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentName)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Gender")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentGender)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("DateOfBirth")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentDob)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("BloodGroup")</td>
                                <td class="col-lg-6">@ViewBag.StudentBloodGroup</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Email")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentEmail)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("MobileNumber")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentMobile)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("PlaceOfBirth")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentPlaceOfBirth)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Height")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentHeight)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Weight")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentWeight)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Address")</td>
                                <td class="col-lg-6"> @Html.DisplayFor(model => model.StudentAddress) </td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("City")</td>
                                <td class="col-lg-6"> @Html.DisplayFor(model => model.StudentCity)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("State")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentState)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Country")</td>
                                <td class="col-lg-6">@ViewBag.StudentCountryname</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("PostalCode")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentPostalCode)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("EmergencyContactPersonName")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentEmergencyContactPersonName)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("EmergencyContactPersonPhone")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.StudentEmergencyContactPersonPhone)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("PrimaryUserWorkingDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body row border-radius-none">
                        <table id="t1" border="1" class="col-lg-12 table table-bordered table-striped">
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("PrimaryUser")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUser)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Address")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUserCompanyAddress)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("City")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUserCompanyCity)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("State")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUserCompanyState)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("Country")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUserCompanyCountry)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("ContactNumber")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUserCompanyContactNumber)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-6">@ResourceCache.Localize("YearlyIncome")</td>
                                <td class="col-lg-6">@Html.DisplayFor(model => model.PrimaryUserYearlyIncome)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        @if (ViewBag.FatherName != null)
        {
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-gray">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">@ResourceCache.Localize("FatherDetails")</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body row border-radius-none">
                            <table id="t1" border="1" class="col-lg-12 table table-bordered table-striped">
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Name")</td>
                                    <td class="col-lg-6">@ViewBag.FatherName</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("DateOfBirth")</td>
                                    <td class="col-lg-6">@ViewBag.FatherDOB</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Email")</td>
                                    <td class="col-lg-6">@ViewBag.FatherEmail</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("MobileNumber")</td>
                                    <td class="col-lg-6">@ViewBag.FatherMobile</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Qualification")</td>
                                    <td class="col-lg-6">@ViewBag.FatherQualification</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Occupation")</td>
                                    <td class="col-lg-6">@ViewBag.FatherOccupation</td>
                                </tr>
                            </table>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (ViewBag.MotherName != null)
        {
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-gray">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">@ResourceCache.Localize("MotherDetails")</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body row border-radius-none">
                            <table id="t1" border="1" class="col-lg-12 table table-bordered table-striped">
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Name")</td>
                                    <td class="col-lg-6">@ViewBag.MotherName</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("DateOfBirth")</td>
                                    <td class="col-lg-6">@ViewBag.MotherDOB</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Email")</td>
                                    <td class="col-lg-6">@ViewBag.MotherEmail</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("MobileNumber")</td>
                                    <td class="col-lg-6">@ViewBag.MotherMobile</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Qualification")</td>
                                    <td class="col-lg-6">@ViewBag.MotherQualification</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Occupation")</td>
                                    <td class="col-lg-6">@ViewBag.MotherOccupation</td>
                                </tr>
                            </table>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (ViewBag.GuardianName != null)
        {
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="div_student">
                    <div class="box box-solid bg-teal-gradient ">
                        <div class="box-header bg-gray">
                            <i class="fa fa-clipboard "></i>
                            <h3 class="box-title">@ResourceCache.Localize("GuardianDetails")</h3>
                            <div class="box-tools pull-right">
                                <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body row border-radius-none">
                            <table id="t1" border="1" class="col-lg-12 table table-bordered table-striped">
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Name")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianName</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Gender")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianGender</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("RelationshipToStudent")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianRelationship</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("DateOfBirth")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianDob</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Email")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianEmail</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("MobileNumber")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianMobile</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("Qualification")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianQualification</td>
                                </tr>
                                <tr>
                                    <td class="col-lg-6">@ResourceCache.Localize("YearlyIncome")</td>
                                    <td class="col-lg-6">@ViewBag.GuardianIncome</td>
                                </tr>
                            </table>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
                </div>
            </section>
        }
        <a style="margin-left: 15px;" class="bottomNav" onclick="history.go(-1); return false;" href="#">@ResourceCache.Localize("Back")</a><br />
    </div>
</section>



