﻿@model  eAcademy.Models.M_StudentRegisteration
@using eAcademy.HelperClass
@using eAcademy.Models
    @{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ResourceCache.Localize("BillReceipt")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/Bill.css" rel="stylesheet" />
    <link href="~/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="show">
        <div class="col-sm-12 head">
            <center><img src="~/img/logo.png" /></center>
            <label id="SchoolName"></label>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-12">
            @*<h3><b>@ResourceCache.Localize("FeesPaidReceipt")</b></h3>*@
        </div>
        <div class="col-sm-12 ">
            <input type="hidden" id="FeeCollectionId" name="FeeCollectionId" value="@Model.ReceiptNo" />
            <table border="0" class="col-sm-12 row " id="head_Table">
                <tr class="tr_width">
                    <td class="td_width"><span>@ResourceCache.Localize("ReceiptNo")</span></td>
                    <td class="td_width thalignment1"><label>@Model.ReceiptNo</label></td>
                    <td class="td_width thalignment1"><span>@ResourceCache.Localize("Date")</span></td>
                    <td class="td_width thalignment1"><label>@DateTimeByZone.getCurrentDate().ToShortDateString()</label></td>
                </tr>
                <tr class="tr_width">
                    <td class="td_width"><span>@ResourceCache.Localize("StudentName")</span></td>
                    <td class="td_width thalignment1"><label>@Model.StuFirstName</label></td>
                    <td class="td_width thalignment1"><span>@ResourceCache.Localize("StudentId")</span></td>
                    <td class="td_width thalignment1"><label>@Model.StudentId</label></td>
                </tr>
                <tr class="tr_width">
                    <td class="td_width"><span>@ResourceCache.Localize("RollNumber")</span></td>
                    <td class="td_width thalignment1"><label>@Model.StudentRollNumber</label></td>
                    <td class="td_width thalignment1"><span>@ResourceCache.Localize("AcademicYear")</span></td>
                    <td class="td_width thalignment1"><label>@Model.txt_academicyear</label></td>
                </tr>
                <tr class="tr_width">
                    <td class="td_width"><span>@ResourceCache.Localize("Class")</span></td>
                    <td class="td_width thalignment1"><label>@Model.txt_Class</label></td>
                    <td class="td_width thalignment1"><span>@ResourceCache.Localize("Section")</span></td>
                    <td class="td_width thalignment1"><label>@Model.txt_Section</label></td>
                </tr>
            </table>

            <table class="table-responsive table table-bordered table-hover table-striped  col-sm-12 row" id="FeePaidDetails">
                <thead>
                    <tr>
                        <th class=".th1" >@ResourceCache.Localize("SNo")</th>
                        <th class=".th2">@ResourceCache.Localize("FeesHead")</th>
                        <th class=".th3">@ResourceCache.Localize("Amount")</th>
                        <th class=".th3">@ResourceCache.Localize("ServiceTax")</th>
                        <th class=".th3">@ResourceCache.Localize("Total")</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="col-sm-12 row">
                <div class="col-sm-3 pull-left Sign">
                    <a role="button" href="#" id="printpage" name="printpage" onclick="window.print(); return false;"><i class="fa fa-print fa-2x"></i></a>
                </div>
                <div class="col-sm-3 pull-right Sign">
                    <label class="pull-right">@ResourceCache.Localize("AccountClerk")</label>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/OnlineRegisterJs/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#PrintPage').click(function () {
                window().print();
                //return false;
            });
            $.getJSON('/Report/getschoolname',
            function (data) {
                $('#SchoolName').text(data.name)

            });
            var feecollectionId = $('#FeeCollectionId').val();
            var ss={ feecollectionId: feecollectionId };
            $.ajax({
                type: 'GET',
                url: '/FeeCollection/GetFeeCategory',
                data: ss,
                dataType: 'json',
                contentType: "application/json",
                success:function(data)
                {
                    if(data.list!=null)
                    {
                        var subtable = 0;
                        
                        $('#FeePaidDetails tbody').append().empty();
                        $.each(data.list, function (i, v) {
                            subtable = '<tr><td>' + (i + 1) + '</td><td>' + v.FeeCategory + '</td><td>' + v.Amount + '</td><td>' + v.ServicesTax + '</td><td>' + v.Total + '</td></tr>';
                            $('#FeePaidDetails tbody').append(subtable);
                        });
                        $('#FeePaidDetails tbody').append('<tr><td colspan="4" class="alignment">Fine</td><td>' + data.Fine + '</td></tr>');
                        $('#FeePaidDetails tbody').append('<tr><td colspan="4" class="alignment">Discount</td><td>' + data.discount + '</td></tr>');
                        $('#FeePaidDetails tbody').append('<tr><td colspan="4" class="alignment">VAT</td><td>' + data.vat + '</td></tr>');
                        $('#FeePaidDetails tbody').append('<tr><td colspan="4" class="alignment"><b>TotalAmount</b></td><td><b>' +  data.totalamount + '</b></td></tr>');
                    }
                }
                
            });

        });

    </script>
</body>
</html>
