﻿@using eAcademy.Models
@{
    ViewBag.Title = "CollectFee";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content  " style="height:100%">
    <div class="row">
        <section class="col-xs-12 ">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeCollection")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("CollectFee", "FeeCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                    </div>
                    <div class="box-body row border-radius-none">
                        <div class="col-xs-12">
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptNumber") </label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_recId" name="txt_recId" value="@ViewBag.recID" readonly title="@ResourceCache.Localize("ReceiptNumber")" /></div>
                            </div>
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ReceiptDate")</label>  </div>
                                <div><input class="col-xs-12" type="text" id="txt_recdate" name="txt_recdate" value="@ViewBag.sysDate" readonly title="@ResourceCache.Localize("ReceiptDate")" /></div>
                            </div>
                            <div class="col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentId")</label> </div>
                                <div><input class="col-xs-12" type="text" id="txt_rNo" name="txt_rNo" placeholder="@ResourceCache.Localize("StudentId")" title="@ResourceCache.Localize("StudentId")" maxlength="15" /></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <hr />
                            </div>
                            <div class="col-sm-2" style="Color:darkblue;font-size:xx-large;font-weight:500;"><center> (OR)</center></div>
                            <div class="col-sm-5">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("AcyearList", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("Select Academic Year"), new { @class = "current_button", @title = @ResourceCache.Localize("AcademicYear") })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")<span class="glyphicon glyphicon-asterisk"></span></label></div>
                                <div>
                                    @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "current_button", @title = @ResourceCache.Localize("Class"), @value = "" })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    <select id="SectionList" name="SectionList" class="current_button" title="Section">
                                        <option value="">@ResourceCache.Localize("SelectSection")</option>
                                    </select>
                                 </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <select id="StudentList" name="StudentList" class="current_button" title="Student">
                                    <option value="">@ResourceCache.Localize("SelectStudentName")</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-sm-12">
                            <button type="button" class="btn btn_double btn-sm btn_submit  btngetFee col-sm-4 col-md-3 col-lg-2" id="btngetFee" name="btngetFee"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                            <button type="button" class="btn btn-sm btn_cancel" id="btncancel_Fee" name="btncancel_Fee" title="Cancel" > <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                            @*<a href="#"><button>Cancel</button></a>*@
                            @*<button type="reset" class=" btn  btn-sm btn_reset  col-sm-4 col-md-3 col-lg-2" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>*@
                        </div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row">
                        </div>
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
    </div>
</section>
<section class="content" style="height:100%; display:none;" id="idSection_FeeCollection">
    <div class="row">
        <!-- solid sales graph -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("FeeStructure")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @using (Html.BeginForm("CollectFee", "FeeCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body row border-radius-none">
                        <div class="col-sm-12">
                            <table class="table table-responsive table-bordered col-sm-12">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@ResourceCache.Localize("FeeCategory")</th>
                                        <th>@ResourceCache.Localize("Amount")</th>
                                        <th>@ResourceCache.Localize("Tax")</th>
                                        <th>@ResourceCache.Localize("Total")</th>
                                        <th>@ResourceCache.Localize("LastDate")</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_paymentCategory"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer no-border">
                        <div class="row footer">
                        </div>
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_CollectFee">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Summary")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <div class="col-sm-12">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeAmount")</label> </div>
                            <div> <input class="col-md-12" type="text" id="txt_totalamt" name="txt_totalamt" placeholder="@ResourceCache.Localize("FeeAmount")" readonly title="@ResourceCache.Localize("FeeAmount")" />    </div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Discount(%)")</label>  </div>
                            <div> <input class="col-md-12" type="text" id="txt_discount" name="txt_discount" placeholder="@ResourceCache.Localize("Discount(%)")" title="@ResourceCache.Localize("Discount(%)")" maxlength="7" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("LateCharge")</label> </div>
                            <div> <input class="col-md-12" type="text" id="txt_late" name="txt_late" placeholder="@ResourceCache.Localize("LateCharge")" title="@ResourceCache.Localize("LateCharge")" maxlength="7" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("VAT")</label> <input type="checkbox" id="vat_check" name="vat_check" /></div>
                            <div> <input class="col-md-12" type="text" id="txt_Vat" name="txt_Vat" placeholder="@ResourceCache.Localize("VAT")" title="@ResourceCache.Localize("VAT")" readonly /></div>
                        </div>
                        <div class="col-sm-12">
                            <input type="hidden" id="txt_collectedTotal1" name="txt_collectedTotal1" />
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div> <input class="col-md-12" type="text" id="txt_collectedTotal" name="txt_collectedTotal" placeholder="@ResourceCache.Localize("Total")" title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("PaymentMode")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                <select class="col-xs-12" id="txt-paymentMode" name="txt-paymentMode" title="Payment Mode">
                                    <option value="0">@ResourceCache.Localize("SelectPaymentMode")</option>
                                    <option value="1">Cash</option>
                                    <option value="2">Cheque</option>
                                    <option value="3">DD</option>
                                </select>
                            </div>
                        </div>
                        <div id="txt-cheque" style="display:none;">
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("BankName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-xs-12" type="text" id="txt-bankCheque" name="txt-bankCheque" placeholder="@ResourceCache.Localize("BankName")" title="@ResourceCache.Localize("BankName")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ChequeNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="text" id="txt-ChequeNo" name="txt-ChequeNo" placeholder="@ResourceCache.Localize("ChequeNumber")" title="@ResourceCache.Localize("ChequeNumber")" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div id="txt-dd" style="display:none;">
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("BankName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-xs-12" type="text" id="txt-bankDD" name="txt-bankDD" placeholder="@ResourceCache.Localize("BankName")" title="@ResourceCache.Localize("BankName")" maxlength="30" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("DDNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <input class="col-xs-12" type="text" id="txt-DDNo" name="txt-DDNo" placeholder="@ResourceCache.Localize("DDNumber")" title="@ResourceCache.Localize("DDNumber")" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Remark")</label> </div>
                            <div>
                                <textarea class="col-md-12" id="txt_remark" name="txt_remark" placeholder="@ResourceCache.Localize("Remark")" title="@ResourceCache.Localize("Remark")" style="resize:none;" maxlength="250"></textarea>
                                <span id="chars">250</span>@ResourceCache.Localize("CharactersRemaining")
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer btn-down">
                            <button type="button" class="btn btn_double btn-sm btn_add" id="btnCollectFee" name="btnCollectFee" title="Collect Fee"> <i class="fa fa-plus"></i>@ResourceCache.Localize("CollectFee")</button>
                            <button type="reset" class=" btn  btn-sm btn_reset" id="btnReset" name="btnReset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_RefundFee" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("ReFund")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                        <div class="col-sm-12">
                            <input type="hidden" id="CollectedId" name="CollectedId" />
                            <input type="hidden" id="FeeId" name="FeeId" />
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> </div>
                            <div> <input class="col-md-12" type="text" id="txt_RefundFeeCategory" name="txt_RefundFeeCategory" readonly title="@ResourceCache.Localize("FeeCategory")" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("CollectedAmount")</label>  </div>
                            <div> <input class="col-md-12" type="text" id="txt_CollectedAmount" name="txt_CollectedAmount" title="@ResourceCache.Localize("CollectedAmount")" readonly /></div>
                        </div>
                        <div class="col-sm-12" id="ExistAmt" style="display:none;">
                            <div><label class="input-label-sm">@ResourceCache.Localize("ExitRefundAmount")</label>  </div>
                            <div> <input class="col-md-12" type="text" id="txt_ExitRefundAmount" name="txt_ExitRefundAmount" title="@ResourceCache.Localize("AlreadyRefundamount")" readonly /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("RefundAmount")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-md-12 current_button1" type="text" id="txt_RefundAmount" name="txt_RefundAmount" placeholder="@ResourceCache.Localize("RefundAmount")" title="@ResourceCache.Localize("RefundAmount")" maxlength="5" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("NetAmount")</label></div>
                            <div> <input class="col-md-12 " type="text" id="txt_NetAmount" name="txt_NetAmount" readonly /></div>
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("Reason")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><textarea id="Reason" name="Reason" class="current_button1" placeholder="@ResourceCache.Localize("Reason")" title="@ResourceCache.Localize("Reason")"></textarea></div>
                            <span id="chars1">250</span>@ResourceCache.Localize("CharactersRemaining")
                        </div>
                        <div class="col-sm-12">
                            <div><label class="input-label-sm">@ResourceCache.Localize("ReceivedBy")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-md-12 current_button1" type="text" id="txt_receiveby" name="txt_receiveby" placeholder="@ResourceCache.Localize("enter_who_received_amount")" title="@ResourceCache.Localize("Receivedperson")" maxlength="30" /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer btn-down">
                            <button type="button" class="btn btn_double btn-sm btn_add" id="btnrefundFee" name="btnrefundFee" title="Refund Fee"> <i class="fa fa-plus"></i>@ResourceCache.Localize("RefundFee")</button>
                            <button type="reset" id="Btn_Cancel" name="Btn_Cancel" class=" btn  btn-sm btn_reset  " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Cancel") </button>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
    </div>
</section> 

@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">

    $("#txt_rNo").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_late").filter_input({ regex: '[0-9.]' });
    $("#txt_discount").filter_input({ regex: '[0-9]' });
    $("#txt-bankCheque").filter_input({ regex: '[0-9A-Za-z ]' });
    $("#txt-ChequeNo").filter_input({ regex: '[0-9A-Za-z ]' });
    $("#txt-bankDD").filter_input({ regex: '[0-9A-Za-z ]' });
    $("#txt-DDNo").filter_input({ regex: '[0-9A-Za-z]' });
    $("#txt_remark").filter_input({ regex: '[0-9A-Za-z ]' });
    var tt1 = 0;// over all total
    var total_term = 0;
    var total_main = 0;
    var term_main = 0;
    var term_main1 = 0;
    var mainfee_total = [];
    var Term_Count, a_Count, VAT_amount = 0, Overall_Count = 0;
    var FeeCatIDList = new Array;
    var SubFeeCatIDList = new Array;
    var PayTypeIDList = new Array;
    var SubPayTypeIDList = new Array;
    var PaymentTypeIdList = [];
    var AmountList = [];
    var TaxList = [];
    var TotalAmountList = [];
    var itemtoRemove;
    $(document).ready(function () {
        $('#AcyearList').val(@Session["Add_ChosenAcademicYearId"]);
        $('#AcyearList').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcyearList').val();
            AssignAcademicYear(YearId);
            Add_AssignAcademicYear(YearId);
        });
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        $("#ClassList").change(function () {
            $("#txt_rNo").val("").html("");
            //$("#div-feeDetais1").hide();
            //$("#div-TermfeeDetais1").hide();
            var cid = $("#ClassList").val();
            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            //$.getJSON('/FeeManagement/getSection', { cid: cid },

            //function (data) {
            //    $("#SectionList").empty().append('<option value="">Select Section</option>');
            //    $.each(data, function (i, c) {
            //        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
            //    });

            //});

            $.getJSON('/FeeCollection/getSection', { cid: cid },

           function (data) {
               $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
               $.each(data, function (i, c) {
                   $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
               });

           });
        });

        $("#SectionList").change(function () {
            $("#txt_rNo").val("").html("");
            $("#div-feeDetais1").hide();
            $("#div-TermfeeDetais1").hide();
            var cid = $("#ClassList").val();
            var secid = $("#SectionList").val();
            var acid = $("#AcyearList").val();
            $("#StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            $("#StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
            $.getJSON('/FeeManagement/getStudent', { acid: acid, sec_id: secid, cid: cid },

               function (data) {
                   $("#StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                   $.each(data, function (i, v) {
                       $("#StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                   });
               });

            $.getJSON('/FeeCollection/getStudent', { acid: acid, sec_id: secid, cid: cid },
              function (data) {
                  $("#StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                  $.each(data, function (i, v) {
                      $("#StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                  });
              });

        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        var maxLength = 250;
        $('#txt_remark').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });
        $('#Reason').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars1').text(length);
        });
        function_VAT();
        $(document).on('click', '.btngetFee', (function () {
            var rno = $("#txt_rNo").val();
            var acid = $("#AcyearList").val();
            $('#idSection_RefundFee').hide();
            $('#idSection_CollectFee').show();
            if (rno == "0" || rno == null || rno == "") {
                if (acid == "0" || acid == null || acid == "") {
                    $('#MandatoryFieldErrorMessage_AddWithMsg').show();
                    $("#AddErrorText").html("@ResourceCache.Localize("Enter_either_StudentId_or_Academic_Details")");
                    return false;
                }
                else {
                    $("#AddErrorText").text("");
                    $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                    var a = [];
                    var field_val = [];
                    $(".current_button").each(function () {
                        var valu = $(this).val();
                        var field_name = $(this).attr('name');
                        if (valu == '') {
                            var null_id = $(this).attr('id');
                            if (null_id == 'AcyearList') {
                                a.push('@ResourceCache.Localize("SelectAcademicYear").');
                            }
                            if (null_id == 'ClassList') {
                                a.push('@ResourceCache.Localize("PleaseSelectClass").');
                            }
                            if (null_id == 'SectionList') {
                                a.push('@ResourceCache.Localize("PleaseSelectSection").');
                            }
                            if (null_id == 'StudentList') {
                                a.push('@ResourceCache.Localize("PleaseSelectStudent").');
                            }
                        }
                    });
                    if (a.length != 0) {
                        $('#MandatoryFieldErrorMessage_Add').show();
                        $(".Add_jErr").append().empty();
                        $.each(a, function (i, v) {
                            if (a[i] != "" && a[i] != null) {
                                li = $("<li></li>").text(a[i]);
                                $(".Add_jErr").append(li);
                            }
                        });
                        a = [];
                        return false;
                    }
                    else {
                        $("#MandatoryFieldErrorMessage_Add").hide();
                        var cid = $("#ClassList").val();
                        var secid = $("#SectionList").val();
                        var stdid = $("#StudentList").val();
                        val_Term = { acid: acid };
                        function_TermCount();
                        values = { AcYearId: acid, ClassId: cid, SectionId: secid, StudentId: stdid }
                        $.ajax(
                            {
                                url: '/FeeCollection/getStudentFeeDetails',
                                type: 'POST',
                                data: JSON.stringify(values),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data) {
                                    if (data.ans == null) {
                                        $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                                        $("#AddErrorText").html("@ResourceCache.Localize("InvalidStudent")");
                                        $('#MandatoryFieldErrorMessage_Add').hide();
                                    }
                                    else {
                                        $("#txt_rNo").val(data.ans.StudentId).html(data.ans.StudentId);
                                    }
                                }
                            });
                        val_id = { acid: acid, cid: cid, secid: secid, stdid: stdid };
                        function_collectFee();
                    }
                }
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
                values = { RegNo: rno };
                $.ajax({
                    url: '/FeeCollection/getStudentFeeDetailsByRollNumber',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.ans == null) {
                            $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                            $("#AddErrorText").html("@ResourceCache.Localize("InvalidStudentID")");
                            $('#MandatoryFieldErrorMessage_Add').hide();
                        }
                        else {
                            var aaa = data.ans.AcademicYearId;
                            val_Term = { acid: aaa };
                            function_TermCount();
                            $("#AddErrorText").text("");
                            $("#MandatoryFieldErrorMessage_AddWithMsg").hide();
                            $('#MandatoryFieldErrorMessage_Add').hide();
                            $("#AcyearList").val(data.ans.AcademicYearId);
                            $.ajax({
                                url: '/FeeCollection/getClass',
                                type: 'POST',
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data1) {
                                    $("#ClassList").empty().append('<option value="0">@ResourceCache.Localize("SelectClass")</option>');
                                    $.each(data1, function (i, c) {
                                        $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                                    });
                                    $("#ClassList").val(data.ans.ClassId);
                                }
                            });
                            val_cid = { cid: data.ans.ClassId };
                            $.ajax({
                                url: '/FeeCollection/getSection',
                                type: 'POST',
                                data: JSON.stringify(val_cid),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data2) {
                                    $("#SectionList").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                                    $.each(data2, function (i, c) {
                                        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                                    });
                                    $("#SectionList").val(data.ans.SectionId);
                                }
                            });
                            val_sid = { acid: data.ans.AcademicYearId, sec_id: data.ans.SectionId, cid: data.ans.ClassId };
                            $.ajax({
                                url: '/FeeCollection/getStudent',
                                type: 'POST',
                                data: JSON.stringify(val_sid),
                                dataType: 'json',
                                contentType: "application/json",
                                success: function (data3) {
                                    $("#StudentList").empty().append('<option value="0">@ResourceCache.Localize("SelectStudent")</option>');
                                    $.each(data3, function (i, v) {
                                        $("#StudentList").append($('<option></option>').val(v.sid).html(v.sname));
                                    });
                                    $("#StudentList").val(data.ans.StudentRegId);
                                }
                            });
                            val_id = { acid: data.ans.AcademicYearId, cid: data.ans.ClassId, secid: data.ans.SectionId, stdid: data.ans.StudentRegId }
                            function_collectFee();
                        }
                    }
                });
            }
        }));
        $(document).on('click', '.annualcb', (function () {
            FeeCatIDList = [];
            PayTypeIDList = [];
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            for (var i = 1; i <= a_Count; i++) {
                var check = $("#cb" + i).is(':checked');
                if (check == true) {
                    var yyy = 0;
                    $("#cb_amt" + i).val($("#hiddenamt" + i).val()).html($("#hiddenamt" + i).val());
                    var amnt = $("#cb_amt" + i).html();
                    mainfee_total[i] = parseFloat(amnt);
                    FeeCatIDList.push($("#FeeCategoryId" + i).val());
                    PayTypeIDList.push($("#TermId" + i).val());
                    for (var j = 1; j <= Term_Count; j++) {
                        var check1 = $("#tab" + i + " #scb" + j).is(':checked');
                        if (check1 == true) {
                            yyy = yyy + parseFloat($("#tab" + i + " #scb_amt" + j).html());
                        }
                    }
                    $("#tab" + i).find(':checkbox').prop("checked", false);
                    total_term = total_term - parseFloat(yyy);
                    $("#tab" + i).hide();
                }
                else {
                    $("#tab" + i).show();
                    mainfee_total[i] = 0;
                }
            }
            total_main = 0;
            for (var i = 1; i <= a_Count; i++) {
                if (mainfee_total != 0) {
                    total_main = total_main + mainfee_total[i];
                }
            }
            $("#txt_totalamt").val(total_main).html(total_main);
            $("#txt_collectedTotal").val(total_main).html(total_main);
            $("#txt_collectedTotal1").val(total_main);
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);
        }));
        var termfee_total = [, ];
        var calTotal = 0;
        $(document).on('click', '.termcb', (function () {
            var scb_count = 0;
            calTotal = 0;
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
            SubFeeCatIDList = [];
            SubPayTypeIDList = [];
            for (var j = 1; j <= a_Count; j++) {
                for (var i = 1; i <= Term_Count; i++) {
                    var ch1 = "#cb" + j;
                    var ch2 = "#scb" + i;
                    var check = $("#tab" + j + " #scb" + i).is(':checked');
                    if (check == true) {
                        scb_count++;
                        if (scb_count == Term_Count) {
                            $("#tab" + j).hide();
                            $("#cb" + j).prop("checked", true);
                            $("#cb_amt" + j).val($("#hiddenamt" + j).val()).html($("#hiddenamt" + j).val());
                            for (var k = 1; k <= a_Count; k++) {
                                var check = $("#cb" + k).is(':checked');
                                if (check == true) {
                                    var amnt = $("#cb_amt" + k).html();
                                    mainfee_total[k] = parseFloat(amnt);
                                    $("#tab" + k).hide();
                                }
                                else {
                                    $("#tab" + k).show();
                                    mainfee_total[k] = 0;
                                }
                            }
                            total_main = 0;
                            term_main1 = 0;
                            for (var k = 1; k <= a_Count; k++) {
                                if (mainfee_total != 0) {
                                    total_main = total_main + mainfee_total[k];
                                }
                            }
                            $("#txt_totalamt").val(total_main).html(total_main);
                            $("#txt_collectedTotal").val(total_main).html(total_main);
                            $("#txt_collectedTotal1").val(total_main);
                            var collectedTotal1 = $("#txt_collectedTotal1").val();
                            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
                            $("#txt_Vat").val(vvv_vat).html(vvv_vat);
                            $("#tab" + j).find(':checkbox').prop("checked", false);
                            var removeItem = $("#tab" + j + " #SubFeeCategoryId" + i).val();
                            SubFeeCatIDList = jQuery.grep(SubFeeCatIDList, function (value) {
                                return value != removeItem;
                            });
                            var removeItem_termid = $("#tab" + j + " #SubTermId" + i).val();
                            SubPayTypeIDList = jQuery.grep(SubPayTypeIDList, function (value) {
                                return value != removeItem_termid;
                            });
                            FeeCatIDList.push($("#FeeCategoryId" + j).val());
                            PayTypeIDList.push($("#TermId" + j).val());
                        }
                        else {
                            var xxxx = $("#tab" + j + " #scb_amt" + i).html();
                            termfee_total[j, i] = parseFloat(xxxx);
                            calTotal = parseFloat(calTotal) + termfee_total[j, i];
                            $("#cb_amt" + j).val(calTotal).html(calTotal);
                            SubFeeCatIDList.push($("#tab" + j + " #SubFeeCategoryId" + i).val());
                            SubPayTypeIDList.push($("#tab" + j + " #SubTermId" + i).val());
                            term_main = parseFloat(xxxx);
                            term_main1 = term_main1 + term_main;
                        }
                    }
                }
                scb_count = 0;
                calTotal = 0;
            }
            total_term = term_main1;
            $("#txt_totalamt").val(term_main1).html(term_main1);
            $("#txt_collectedTotal").val(term_main1).html(term_main1);
            $("#txt_collectedTotal1").val(term_main1);
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);
            term_main1 = 0;
        }));
        $(document).on('click', '.annualcb', (function () {
            tt1 = total_main + total_term;
            $("#txt_totalamt").val(tt1).html(tt1);
            $("#txt_collectedTotal").val(tt1).html(tt1);
            $("#txt_collectedTotal1").val(tt1);
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        }));
        $(document).on('click', '.termcb', (function () {
            tt1 = total_main + total_term;
            $("#txt_totalamt").val(tt1).html(tt1);
            $("#txt_collectedTotal").val(tt1).html(tt1);
            $("#txt_collectedTotal1").val(tt1);
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = collectedTotal1 * (parseFloat(VAT_amount) / 100);
            $("#txt_Vat").val(vvv_vat).html(vvv_vat);
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        }));
        $("#txt_late").keyup(function () {
            function_keyup();
        });
        $("#txt_discount").keyup(function () {
            function_keyup();
        });
        $("#vat_check").click(function () {
            function_keyup();
        });
        $("#btnCollectFee").click(function () {
            var CollectionDate = $("#txt_recdate").val();
            var Acid = $("#AcyearList").val();
            var Cid = $("#ClassList").val();
            var Sec_id = $("#SectionList").val();
            var Std_id = $("#StudentList").val();
            var txt_collectedTotal = $("#txt_collectedTotal").val();
            var txt_Vat;
            var txt_late = $("#txt_late").val();
            var txt_discount = $("#txt_discount").val();
            var txt_totalamt = $("#txt_totalamt").val();
            var txt_paymentMode = $("#txt-paymentMode").val();
            var txt_bankCheque = $("#txt-bankCheque").val();
            var txt_ChequeNo = $("#txt-ChequeNo").val();
            var txt_bankDD = $("#txt-bankDD").val();
            var txt_DDNo = $("#txt-DDNo").val();
            var txt_remark = $("#txt_remark").val();
            var bank_name = "";
            if (txt_paymentMode == 2) {
                bank_name = txt_bankCheque;
            }
            else if (txt_paymentMode == 3) {
                bank_name = txt_bankDD;
            }
            var vat_checked = $("#vat_check").is(":checked");
            if (vat_checked == true) {
                txt_Vat = $("#txt_Vat").val();
            }
            else {
                txt_Vat = 0;
            }
            if (txt_collectedTotal == null || txt_collectedTotal == "" || txt_collectedTotal == 0 || txt_collectedTotal == 'NaN') {
                $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                $("#ErrorText").show();
                $("#ErrorText").text("@ResourceCache.Localize("PleaseSelectFeeCategory")");
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                if (txt_paymentMode == null || txt_paymentMode == "" || txt_paymentMode == 0) {
                    $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                    $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                    $("#ErrorText").text("@ResourceCache.Localize("Please_Select_Payment_Mode")");
                    return false;
                }
                else {
                    if (txt_paymentMode == 2) {
                        if (txt_bankCheque == null || txt_bankCheque == "" || txt_bankCheque == 0) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").text("@ResourceCache.Localize("EnterBankName")");
                            return false;
                        }
                        else if (txt_ChequeNo == null || txt_ChequeNo == "" || txt_ChequeNo == 0) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").text("@ResourceCache.Localize("EnterChequeNumber")");
                            return false;
                        }
                        else {
                            collection_function();
                        }
                    }
                    else if (txt_paymentMode == 3) {
                        if (txt_bankDD == null || txt_bankDD == "" || txt_bankDD == 0) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").text("@ResourceCache.Localize("EnterBankName")");
                            return false;
                        }
                        else if (txt_DDNo == null || txt_DDNo == "" || txt_DDNo == 0) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").text("@ResourceCache.Localize("EnterDDNumber")");
                            return false;
                        }
                        else {
                            collection_function();
                        }
                    }
                    else {
                        collection_function();
                    }
                }
            }
            function collection_function() {
                FeeCollection_Value = { FeeCollectiondate: CollectionDate, AcademicYearId: Acid, ClassId: Cid, SectionId: Sec_id, StudentRegId: Std_id, FeeAmount: txt_totalamt, AmountCollected: txt_collectedTotal, Fine: txt_late, Discount: txt_discount, VAT: txt_Vat, PaymentMode: txt_paymentMode, BankName: bank_name, ChequeNumber: txt_ChequeNo, DDNumber: txt_DDNo, Remark: txt_remark, FeeCategoryId: FeeCatIDList, PaymentTypeId: PayTypeIDList, SubFeeCategoryId: SubFeeCatIDList, SubPaymentTypeId: SubPayTypeIDList };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/FeeCollection/CollectFee',
                    type: 'POST',
                    data: JSON.stringify(FeeCollection_Value),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (list) {
                        if (list.ErrorMessage != "" && list.ErrorMessage != null) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").html(list.ErrorMessage).val(list.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (list.Message != "" && list.Message != null) {
                            $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                            $("#SuccessText").html(list.Message).val(list.Message);
                            $("#txt_collectedTotal").val("").html("");
                            $("#txt_late").val("").html("");
                            $("#txt_discount").val("").html("");
                            $("#txt_totalamt").val("").html("");
                            $("#txt-bankCheque").val("").html("");
                            $("#txt-ChequeNo").val("").html("");
                            $("#txt-bankDD").val("").html("");
                            $("#txt-DDNo").val("").html("");
                            $("#txt_remark").val("").html("");
                            $("#txt_Vat").val("").html("");
                            $("#vat_check").prop("checked", false);
                            val_id = { acid: Acid, cid: Cid, secid: Sec_id, stdid: Std_id };
                            var sssss = list.collectionid;
                            $('#txt_recId').val((sssss + 1));
                            function_collectFee();
                            var encrpt = list.encrptycollectionid;
                            $("#Loading_Sec").removeClass("loading-new");
                            window.open('/FeeCollection/BillReceipt/' + encrpt, "wndPopUp", 'width=900,height=850,resizable=no');
                        }
                        if (list.ExceptionError != "" && list.ExceptionError != null) {
                            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").html(list.ExceptionError).val(list.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            }
        });
    });

    $("#btnReset").click(function () {
        $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("#ErrorText").hide();
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#txt-cheque").hide();
        $("#txt-dd").hide();


    });
    function function_keyup() {
        var discount = $("#txt_discount").val();
        var lateCharge = $("#txt_late").val();
        var collectedTotal = $("#txt_totalamt").val();
        var Check_VAT = $("#vat_check").is(":checked");
        if (Check_VAT == true) {
            var collectedTotal1 = $("#txt_collectedTotal1").val();
            var vvv_vat = $("#txt_Vat").val();
            var vat_collect = parseFloat(collectedTotal1) + parseFloat(vvv_vat);
            if (discount == null || discount == 0 || discount == "") {
                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {
                    $("#txt_collectedTotal").val(vat_collect).html(vat_collect);
                }
                else {
                    var ttl2 = parseFloat(lateCharge) + parseFloat(collectedTotal) + parseFloat(vvv_vat);
                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                }
            }
            else {
                var discount_amt = parseFloat(collectedTotal) * (parseFloat(discount) / 100);
                var ttl1 = parseFloat(collectedTotal) - discount_amt;
                var ttl5 = ttl1 + parseFloat(vvv_vat);
                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {
                    $("#txt_collectedTotal").val(ttl5).html(ttl5);
                }
                else {
                    var ttl2 = parseFloat(lateCharge) + ttl5;
                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                }
            }
        }
        else {
            if (discount == null || discount == 0 || discount == "") {
                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {
                    $("#txt_collectedTotal").val(collectedTotal).html(collectedTotal);
                }
                else {
                    var ttl2 = parseFloat(lateCharge) + parseFloat(collectedTotal);
                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                }
            }
            else {
                var discount_amt = parseFloat(collectedTotal) * (parseFloat(discount) / 100);
                var ttl1 = parseFloat(collectedTotal) - discount_amt;
                if (lateCharge == null || lateCharge == 0 || lateCharge == "") {
                    $("#txt_collectedTotal").val(ttl1).html(ttl1);
                }
                else {
                    var ttl2 = parseFloat(lateCharge) + ttl1;
                    $("#txt_collectedTotal").val(ttl2).html(ttl2);
                }
            }
        }
    }
    //Create Table Structure for Fee Collection
    function function_collectFee() {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#txt_totalamt").val("").html("");
        $("#txt_discount").val("").html("");
        $("#txt_late").val("").html("");
        $("#txt_Vat").val("").html("");
        $("#txt_collectedTotal").val("").html("");
        $("#txt_remark").val("").html("");
        $("#txt_collectedTotal").val("").html("");
        $("#txt_collectedTotal1").val("");
        mainfee_total = [];
        tt1 = 0;
        total_term = 0;
        total_main = 0;
        term_main = 0;
        term_main1 = 0;
        var annual_count = 0;
        var id_cb = 0, tab = 0;
        $.ajax({
            url: '/FeeCollection/getFees',
            type: 'POST',
            data: JSON.stringify(val_id),
            dataType: 'json',
            contentType: "application/json",
            success: function (list) {
                if (list.ans == 0) {
                    $(".NoRecords").show();
                    $("#idSection_FeeCollection").hide();
                }
                else {
                    $("#idSection_FeeCollection").show();
                    $(".NoRecords").hide();
                    var td_body = 0;
                    var feeid = 0;
                    var subid_cb = 0;
                    $("#tbody_paymentCategory").append().empty();
                    var x = 1;
                    var scb_amt, cb_amt;
                    $.each(list.ans, function (i, v) {
                        var row, table1;
                        id_cb = "cb" + (annual_count + 1);
                        if (feeid == v.FeeId) {
                            subid_cb = "scb" + x;
                            scb_amt = "scb_amt" + x;
                            feeid = v.FeeId;
                            table = "<tr><td><input type='hidden' value='" + v.FeeCategoryId + "'  id='SubFeeCategoryId" + x + "'    /><input type='hidden' value='" + v.TermId + "'   id='SubTermId" + x
                                + "'    /><input class='termcb' type='checkbox' id='" + subid_cb + "' /></td><td>" +
                                v.PaymentType + "</td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td><label id='" + scb_amt + "' >" + v.Total + "</abel></td><td><label class='SubLDate' id='SubLDate" + x + "' >" + v.Ldate + "</label></td></tr>";
                            x++;
                            $("#" + td_body).append(table);
                            if (x > Term_Count) {
                                x = 1;
                            }
                            else {
                            }
                        }
                        else {
                            td_body = "td_body" + (annual_count + 1);
                            tab = "tab" + (annual_count + 1);
                            cb_amt = "cb_amt" + (annual_count + 1);
                            feeid = v.FeeId;
                            row = "<tr><td><input type='hidden'   value='" + v.FeeCategoryId + "'  id='FeeCategoryId" + (annual_count + 1) + "'    /><input type='hidden' value='" + v.TermId + "'  id='TermId" + (annual_count + 1) + "'    /><input type='hidden'  id='CollectionId" + (annual_count + 1) + "' name='CollectionId" + (annual_count + 1) + "'    /><input   class='annualcb' id='" + id_cb + "' type='checkbox'  /></td><td>" + v.FeeCategory
                                + "<table  id=" + tab + " border='1' class='col-sm-12'><tbody id=" + td_body + "></tbody></table></td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td><input type='hidden' value=" + v.Total + "   id='hiddenamt" + (annual_count + 1) + "'  /><label id='" + cb_amt + "' >" + v.Total
                                + "</label></td><td><label id='Ldate" + (annual_count + 1) + "'  >" + v.Ldate
                                + "</label> <a  class='Refund_link AddDelete' id='refund_" + (annual_count + 1) + "' name='refund_" + (annual_count + 1) + "' style='display:none;color:blue;'>(Refund)</a></td></tr>";
                            annual_count++;
                            a_Count = annual_count;
                            
                        }
                        $("#tbody_paymentCategory").append(row);
                        Overall_Count++;
                    });
                    $.each(list.result, function (index, v) {
                        if (v.PaymentTypeId == 0) {
                            for (var i = 1; i <= a_Count; i++) {
                                if ($("#FeeCategoryId" + i).val() == v.FeeCategoryId) {
                                    $('#cb' + i).closest('tr').addClass("highlightPaiedList");
                                    $('#cb' + i).prop('disabled', true);
                                    $('#Ldate' + i).text("Paid");
                                    $('#refund_' + i).show();
                                    $('#CollectionId' + i).val(v.CollectedId);
                                    $('#tab' + i).addClass("highlightPaiedList");
                                    $('#tab' + i + ' *').attr("disabled", "disabled");
                                    $('#tab' + i + ' .SubLDate').text("Paid");
                                }
                            }
                        }
                        else {
                            var flag1 = 0;
                            for (var j = 1; j <= a_Count; j++) {
                                for (var i = 1; i <= Term_Count; i++) {
                                    if (flag1 == 0) {
                                        if ($('#tab' + j + " #SubFeeCategoryId" + i).val() == v.FeeCategoryId && $('#tab' + j + " #SubTermId" + i).val() == v.PaymentTypeId) {
                                            $('#tab' + j + ' #scb' + i).closest('tr').addClass("highlightPaiedList");
                                            $('#tab' + j + ' #scb' + i).prop('disabled', true);
                                            $('#tab' + j + ' #SubLDate' + i).text("Paid");
                                            flag1++;
                                            $('#cb' + j).prop('disabled', true);
                                        }
                                    }
                                }
                            }
                        }
                    });
                }

            }
        });
    }
    $(document).on('click', '.Refund_link', (function () {
        var rno = $("#txt_rNo").val();
        var acid = $("#AcyearList").val();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#txt_RefundAmount").val("");
        $("#Reason").val("");
        $("#txt_receiveby").val("");
        var null_id = [];
        null_id = $(this).attr('id').split('_');
        var CollectionId = $("#CollectionId" + null_id[1]).val();
        $.getJSON("/FeeCollection/GetRefundDetails", { CollectionId: CollectionId },
                            function (data) {
                                if (data.ans == null) {
                                    $("#div_Error").show();
                                    $("#errorMsg").html("Invalid Student ");
                                }
                                else {
                                    $('#btnrefundFee').attr('disabled', false);
                                    $('#idSection_RefundFee').show();
                                    $('#idSection_CollectFee').hide();
                                    $('#CollectedId').val(CollectionId);
                                    $('#txt_RefundFeeCategory').val(data.ans.FeeCategoryname);
                                    $('#txt_CollectedAmount').val(data.ans.CollectedAmount);
                                    var tot = $('#txt_CollectedAmount').val();
                                    if (tot <= 0) {
                                        $('#txt_RefundAmount').prop('readonly', true);
                                    }
                                    else {
                                        $('#txt_RefundAmount').prop('readonly', false);
                                    }
                                }
                                if (data.result != 0 && data.result != null) {
                                    $('#ExistAmt').show();
                                    $('#txt_ExitRefundAmount').val(data.result);
                                }
                                else {
                                    $('#ExistAmt').hide();
                                }
                                if (data.amount != null) {
                                    $('#txt_RefundAmount').val(data.amount);
                                    if (data.amount != 0) {
                                        $('#txt_RefundAmount').prop('readonly', true);
                                        $('#FeeId').val(data.ans.FeeId);
                                    }
                                    else {
                                        $('#FeeId').val(0).html(0);
                                        $('#txt_RefundAmount').prop('readonly', false);
                                    }
                                    var x = $("#txt_RefundAmount").val();
                                    var tot = $('#txt_CollectedAmount').val();
                                    if (0 < tot) {
                                        if (x <= tot) {
                                            var z = tot - x;
                                            $("#txt_NetAmount").val(z).html(z);
                                        }
                                    }
                                    else {
                                        $('#txt_RefundAmount').prop('readonly', true);
                                    }
                                }
                            });
    }));
    $('#Btn_Cancel').click(function () {
        $('#idSection_RefundFee').hide();
        $('#idSection_CollectFee').show();
    });
    $("#txt_RefundAmount").keyup(function () {
        var x = parseInt($("#txt_RefundAmount").val(), 10);
        var tot = parseInt($('#txt_CollectedAmount').val(), 10);
        if (x < tot) {
            var z = tot - x;
            $("#txt_NetAmount").val(z).html(z);
        }
        else {
            $("#txt_NetAmount").val(0).html(0);
        }
    });
    $('#btnrefundFee').click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
        $("#MandatoryFieldSuccessMessage_EditWithMsg").hide();
        var flag = 0;
        var a = [];
        var field_val = [];
        $(".current_button1").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '' || valu == null) {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_RefundAmount') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("EnterRefundAmount")');
                }
                if (null_id == 'Reason') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("EnterReason")');
                }
                if (null_id == 'txt_receiveby') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("EnterReceivedBy")');
                }
            }
        });
        if (flag == 0) {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var cid = $("#CollectedId").val();
            var extamt = $('#txt_CollectedAmount').val();
            var reamt = $('#txt_RefundAmount').val();
            var netamount = $('#txt_NetAmount').val();
            var reason = $('#Reason').val();
            var receiveby = $('#txt_receiveby').val();
            var feeid = $('#FeeId').val();
            /// if (extamt >= reamt) {

            //if (reamt <= extamt) {
            var ee = { refundamt: reamt, netamount: netamount, Reason: reason, ReceivedBy: receiveby, ExistCollectedamt: extamt, CollectionId: cid, FeeId: feeid }
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/FeeCollection/FeesRefund',
                type: 'POST',
                data: JSON.stringify(ee),
                dataType: 'json',
                contentType: "application/json",
                success: function (list) {
                    var totalError = list.ex;
                    var li = [];
                    if (list.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (list.ErrorMessage != "" && list.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(list.ErrorMessage).val(list.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (list.Message != "" && list.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(list.Message).val(list.Message);
                        $('#btnrefundFee').attr('disabled', true);
                        $("#Loading_Sec").removeClass("loading-new");

                    }
                }
            });

            @*} else {
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").show();
                $(".jErrMsg").html("@ResourceCache.Localize("Please_enter_refund_amount_is_less_than_collected_amount")").val("@ResourceCache.Localize("Please_enter_refund_amount_is_less_than_collected_amount")");
            }*@
        }
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
    });
    $("#btncancel_Fee").click(function () {
        //alert('cancel button click');
        location.reload();


    });


    function function_TermCount() {
        $.ajax({
            url: '/FeeCollection/getTermCount',
            type: 'POST',
            data: JSON.stringify(val_Term),
            dataType: 'json',
            contentType: "application/json",
            success: function (list) {
                Term_Count = list;
            }
        });
    }
    function function_VAT() {
        $.getJSON('/FeeCollection/getVAT', function (data) {
            if (data != "" || data != null) {
                VAT_amount = parseFloat(data);
            }
            else {
                VAT_amount = 0;
            }
        });
    }
</script>
}