﻿@using eAcademy.Models
@{
    ViewBag.Title = "FeeRefundReports";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FeesRefundReport")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("", "")" method="post" id="myform">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/JsonError.cshtml")
                            <div id="parent col-sm-12" class="row">
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("acYear_Fees", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button filterItem", @title = @ResourceCache.Localize("AcademicYear") })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = " current_button filterItem", @title = @ResourceCache.Localize("Class") })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        <select id="SectionList" name="SectionList" class="current_button filterItem" title="Section">
                                            <option value="">@ResourceCache.Localize("SelectSection")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12"><label class="input-label-sm">@ResourceCache.Localize("Option")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div class="col-sm-4">
                                        <input type="radio" id="SortOption" name="SortOption" value="ManagementRefund" class="OO  sortoption1 current_button">@ResourceCache.Localize("Management")
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" id="SortOption" name="SortOption" value="StudentRefund" class="OO sortoption2 current_button">@ResourceCache.Localize("Student")
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" id="SortOption" name="SortOption" value="AdmissionRefund" class="OO sortoption3 current_button">@ResourceCache.Localize("Admission")
                                    </div>
                                </div>
                                <div class="col-sm-4" id="SortByprocess" style="display:none; margin-left:-15px;">
                                    <div class="col-sm-12"><label class="input-label-sm">@ResourceCache.Localize("SortBy")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div class="col-lg-6">
                                        <input type="radio" id="Sort" name="Sort" value="Paid" class="SS Sort1">@ResourceCache.Localize("Paid")
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="radio" id="Sort" name="Sort" value="Due" class="SS Sort2 ">@ResourceCache.Localize("Due")
                                    </div>
                                </div>
                                <div class="col-sm-4" id="Fee_Cat" style="display:none; ">
                                    <div class="col-sm-12"><label class=" input-label-sm">@ResourceCache.Localize("FeeCategory")</label></div>
                                    <div class="col-sm-12">
                                        <select id="FeecategoryList" name="FeecategoryList" class="current_button filterItem" title="FeecategoryList">
                                            <option value="">@ResourceCache.Localize("SelectFeeCategory")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" id="btnRefund_Filter" name="btnRefund_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                            <div class="box-body col-sm-12 col-md-12 col-lg-12 col-xs-12" id="show">
                                <table class="col-sm-12 col-md-12 col-lg-12 col-xs-12 table table-bordered table-striped"  id="grid1"></table>
                                <div id="pager1"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#acYear_Fees').val(@Session["CurrentAcYearId"]);
        $('#acYear_Fees').change(function (event) {
            event.preventDefault();
            var YearId = $('#acYear_Fees').val();
            AssignAcademicYear(YearId);
            $('#ClassList').val("");
            $('#SectionList').val("");
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $("#ClassList").change(function () {
            //$("#txt_rNo").val("").html("");
            //$("#div-feeDetais1").hide();
            //$("#div-TermfeeDetais1").hide();
            var cid = $("#ClassList").val();

            $("#SectionList").empty().append('<option value="">Select Section</option>');
            $("#StudentList").empty().append('<option value="">Select Student</option>');

            $.getJSON('/FeeManagement/getSection', { cid: cid },

            function (data) {
                $("#SectionList").empty().append('<option value="">Select Section</option>');
                $.each(data, function (i, c) {
                    $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });

            //$('#ClassList').change(function () {
                var year = $('#acYear_Fees').val();
                var clas = $('#ClassList').val();
                $.getJSON('/FeeCollection/GetFeeCategory1', { year: year, clas: clas },
                   function (data) {
                       $("#FeecategoryList").empty().append('<option value="">@ResourceCache.Localize("SelectFeeCategory")</option>');
                       $.each(data, function (i, c) {
                           $("#FeecategoryList").append($('<option></option>').val(c.FeeCategoryId).html(c.FeecategoryName));
                       });
                   //});
            });

           // $.getJSON('/FeeCollection/getSection', { cid: cid },

           //function (data) {
           //    $("#SectionList").empty().append('<option value="">Select Section</option>');
           //    $.each(data, function (i, c) {
           //        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
           //    });

           });
     

        $("#show").hide();
        var width = $('#show').width();
        $('#grid1').setGridWidth(width, true); //Back to original width
        $('#grid1').setGridWidth($('#show').width(), true); //Resized to new width as per window
        jQuery("#grid1").jqGrid({
            url: "/FeeCollection/FeeRefundResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("StudentId")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("FeeCategory")', '@ResourceCache.Localize("ReFund")', '@ResourceCache.Localize("NetAmount")', '@ResourceCache.Localize("Reason")', '@ResourceCache.Localize("Date")'],
            colModel: [
                { key: true, hidden: true, name: 'FeeConfigId', index: 'FeeConfigId' },
                { key: false, name: 'AcademicYear', index: 'AcademicYear' },
                { key: false, name: 'Class', index: 'Class' },
                 { key: false, name: 'StudentId', index: 'StudentId' },
                { key: false, name: 'StudentName', index: 'StudentName' },
                { key: false, name: 'FeeCategory', index: 'FeeCategory' },
                { key: false, name: 'Refund', index: 'Refund' },
                { key: false, name: 'NetAmount', index: 'NetAmount' },
                 { key: false, name: 'Reason', index: 'Reason' },
                { key: false, name: 'Date', index: 'Date' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100,250,500,1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "No records to display",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
              ).jqGrid('navButtonAdd', '#pager1',
              {
                  caption: " Excel ",
                  buttonicon: "ui-icon-bookmark",
                  onClickButton: function () {
                      window.location.href = "../FeeCollection/FeesRefundlistReport_ExportToExcel";
                  }
              }).jqGrid('navButtonAdd', '#pager1',
              {
                  caption: " Pdf ",
                  buttonicon: "ui-icon-print",
                  position: "last",
                  onClickButton: function () {
                      window.location.href = "../FeeCollection/FeesRefundlistReport_ExportToPdf";
                  }
              });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + 'Refund Fee Student List');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRefund_Filter').click(function (event) {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            var flag = 0;
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'acYear_Fees') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'ClassList') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'SectionList') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
            });
            var pri = $('input[name=SortOption]:checked').val();
            if (pri == "ManagementRefund") {
                $('.sortoption1').addClass('filterItem');
                $('.sortoption2').removeClass('filterItem');
                $('.sortoption3').removeClass('filterItem');
                var sorr = $('input[name=Sort]:checked').val();
                if (sorr == "Paid") {
                    $('.Sort1').addClass('filterItem');
                    $('.Sort2').removeClass('filterItem');
                }
                else if (sorr == "Due") {
                    $('.Sort1').removeClass('filterItem');
                    $('.Sort2').addClass('filterItem');
                }
                if (sorr == "" || sorr == null) {
                    flag = 1;
                    @*$("#jsonError").hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Please_select_any_sort_option")").val("@ResourceCache.Localize("Please_select_any_sort_option")");*@
                    a.push('@ResourceCache.Localize("Please_select_any_sort_option")');
                }
                else {
                    if (flag == 0) {
                        event.preventDefault();
                        $("#show").show();
                        filterGrid();
                    }
                }
            }
            else if (pri == "StudentRefund") {
                $('.sortoption2').addClass('filterItem');
                $('.sortoption1').removeClass('filterItem');
                $('.sortoption3').removeClass('filterItem');
                if (flag == 0) {
                    event.preventDefault();
                    $("#show").show();
                    filterGrid();
                }
            }
            else if (pri == "AdmissionRefund") {
                $('.sortoption3').addClass('filterItem');
                $('.sortoption1').removeClass('filterItem');
                $('.sortoption2').removeClass('filterItem');
                if (flag == 0) {
                    event.preventDefault();
                    $("#show").show();
                    filterGrid();
                }
            }
            else {
                flag = 1;
                a.push('@ResourceCache.Localize("Please_select_any_sort_option")');
            }
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        }
        $(".OO").change(function (event) {
            var pri = $('input[name=SortOption]:checked').val();
            if (pri == "ManagementRefund") {
                $('#SortByprocess').show();
                $('#Fee_Cat').show();
            }
            else {
                $('#SortByprocess').hide();
                $('#Fee_Cat').hide();
            }
        });
   
    });
    </script>
}