﻿@using eAcademy.Models
@{
    ViewBag.Title = "AdmissionFeesCollection";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("AdmissionFeesCollection")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form method="post" action="@Url.Action("AdmissionFeesCollection", "Admission")">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ApplicationId")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input type="text" id="ApplicationId" name="ApplicationId" class="col-lg-12 current_button" placeholder="@ResourceCache.Localize("ApplicationNumber")">
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Admission_AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ClassForAdmission")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Admission_Class", new SelectList(ViewBag.classess, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = " col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" id="GetFees" name="GetFees" class="btn btn-sm btn_search btn-success btn-down"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                            </div>
                            <div id="FeesTable" style="display:none">
                                <div class="row col-sm-12">
                                    <div class="col-lg-12 table-content-margin table-responsive" style="margin-top: 19px;">
                                        <div class="box-header bg-gray fee ">
                                            <i class="fa fa-clipboard "></i>
                                            <h3 class="box-title">@ResourceCache.Localize("FeesStructure")</h3>
                                        </div><!-- /.box-header -->
                                        <table class="table table-bordered table-hover table-striped tr-content-mandatory table-max" style="/* border: 1px solid rgb(143, 143, 143); */" id="feesstructure">
                                            <thead class="tablehead-mail">
                                                <tr style="/* margin-top: 58px; */">
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("SNo")</th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">
                                                        @ResourceCache.Localize("FeeCategory")
                                                    </th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">
                                                        @ResourceCache.Localize("Amount")
                                                    </th>
                                                    <th class="tr-content" style=" border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("Tax")</th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("Total")</th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("LastDate")</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 table-content-margin table-responsive">
                                        <div class="box-header bg-gray fee ">
                                            <i class="fa fa-clipboard "></i>
                                            <h3 class="box-title">@ResourceCache.Localize("Below Fees Must Paid")</h3>
                                        </div><!-- /.box-header -->
                                        <table class="table table-bordered table-hover table-striped tr-content-mandatory table-max" style=" padding-bottom: 11px;" id="paidFees">
                                            <thead class="tablehead-mail" style="">
                                                <tr>
                                                    <th class="tablehead-mail" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("SNo")</th>
                                                    <th class="tr-content" style=" border: 1px solid rgb(143, 143, 143);">
                                                        @ResourceCache.Localize("FeeCategory")
                                                    </th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">
                                                        @ResourceCache.Localize("Ammount")
                                                    </th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("Tax")</th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("Total")</th>
                                                    <th class="tr-content" style="border: 1px solid rgb(143, 143, 143);">@ResourceCache.Localize("LastDate")</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div class="row col-lg-2 table-content-margin">
                                            <button type="button" class=" btn btn-primary btn-mdpull-right btn-down" id="FeesPay" name="FeesPay">@ResourceCache.Localize("PayFees")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ApplicationId").filter_input({ regex: '[0-9]' });
        $('#Admission_AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);            
        $('#Admission_AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Admission_AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Admission_Class').val('');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#GetFees').click(function () {
            var applicationid = $('#ApplicationId').val();
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1; 
                    var null_id = $(this).attr('id');
                    if (null_id == 'ApplicationId') {
                        a.push('@ResourceCache.Localize("Please_enter_application_id")');
                    }
                    if (null_id == 'Admission_AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Admission_Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                }
            });
            if (flag == 0) {
                var Check = {
                    ApplicationID: applicationid, AcademicYearId: year, AdmissionClassId: classs//, Source: source
                };
                $.ajax({
                    type: "POST",
                    url: '/Admission/CheckStatus',
                    traditional: true,
                    data: Check,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jsonInfoMsg").hide();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonInfoMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#Err').hide();
                            $('#FeesTable').show();
                            var datavalue = {
                                AcademicYearId: year, ClassId: classs
                            };
                            var p = 0;
                            $.ajax({
                                type: "POST",
                                url: '/Admission/getFeesStructure',
                                traditional: true,
                                data: datavalue,
                                success: function (data) {
                                    if (data == null) {
                                        alert("Error");
                                    }
                                    else {
                                        $('#FeesPay').show();
                                        var td_body = 0;
                                        var feeid = 0;
                                        var total = 0;
                                        var head = "<tr><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("FeeCategory")</th><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("Amount")</th><th class='tr-content' style=' border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("Tax")</th><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("Total")</th><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("LastDate")</th></tr>";
                                        $("#feesstructure").empty().append(head);
                                        $.each(data, function (i, v) {
                                            var row, table;
                                            if (feeid == v.FeeId) {
                                                feeid = v.FeeId;
                                                table = "<tr class='tr-content-email'><td>" + v.PaymentType + "</td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td>" + v.Total + "</abel></td><td>" + v.Ldate + "</td></tr>";
                                                $("#" + td_body).append(table);
                                            }
                                            else {
                                                td_body++;
                                                feeid = v.FeeId;
                                                row = "<tr class='tr-content-email'><td>" + v.FeeCategory
                                                    + "<table class='table table-bordered table-striped rm-line'><tbody id=" + td_body + "></tbody></table></td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td>" + v.Total + " </td><td>" + v.Ldate
                                                    + "</td></tr>";
                                                total = total + v.Total;
                                                $("#feesstructure").append(row);
                                            }
                                        });
                                        var row1 = "<tr class='tr-content-email'><td style='border:transparent'></td><td style='border:transparent'></td><td >@ResourceCache.Localize("Total") </td><td>" + total + "</abel></td><td style='border:transparent'></td></tr>";
                                        $("#feesstructure").append(row1);
                                    }
                                }
                            });
                            $.ajax({
                                type: "POST",
                                url: '/Admission/GetPayFeesStructure',
                                traditional: true,
                                data: datavalue,
                                success: function (data) {
                                    if (data == null) {
                                        alert("Error");
                                    }
                                    else {
                                        var td_body = 0;
                                        var feeid = 0;
                                        var total = 0;
                                        var sub_total = 0;
                                        var p = 0;
                                        //alert("Head create");
                                        var head = "<tr><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("FeeCategory")</th><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("Amount")</th><th class='tr-content' style=' border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("Tax")</th><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("Total")</th><th class='tr-content' style='border: 1px solid rgb(143, 143, 143);'>@ResourceCache.Localize("LastDate")</th></tr>";
                                        $("#paidFees").empty().append(head);
                                        $.each(data.result, function (i, s) {
                                            var row, table;
                                            //alert("Head create inside function");
                                            if (s.TermId == 0) {
                                                feeid = s.FeeId;
                                                var flag = 0;
                                                $.each(data.result, function (i, v) {
                                                    if (feeid == v.FeeId && v.TermId == data.termid) {
                                                        feeid = v.FeeId;
                                                        flag = 1;
                                                        table = "<tr class='tr-content-email'><td><input id='feecategoryid" + p + "' name='feecategoryid" + p + "' value='" + v.FeeCategoryId + "' style='display:none;' /><input id='paymenttypeid" + p + "' name='paymenttypeid" + p + "' value='" + v.TermId + "' style='display:none;' />" + v.FeeCategory + " " + v.PaymentType + "</td><td><input id='amount" + p + "' name='amount" + p
                                                            + "' value='" + v.Amount + "' style='display:none;' />" + v.Amount + "</td><td><input id='servicetax" + p + "' name='servicetax" + p + "' value='" + v.ServicesTax + "' style='display:none;' />" + v.ServicesTax
                                                            + "</td><td><input id='total" + p + "' name='total" + p + "' value='" + v.Total + "' style='display:none;' />" + v.Total + "</abel></td><td>" + v.Ldate + "</td></tr>";
                                                        p++;
                                                        //alert("Total" + v.Total);
                                                        sub_total = v.Total;
                                                        
                                                    }
                                                });
                                                //alert("flag" + flag);
                                                if (flag == 0) {
                                                    row = "<tr class='tr-content-email'><td><input id='feecategoryid" + p + "' name='feecategoryid" + p + "' value='" + s.FeeCategoryId + "' style='display:none;' /><input id='paymenttypeid" + p + "' name='paymenttypeid" + p + "' value='" + s.TermId + "' style='display:none;' />" + s.FeeCategory + " </td><td><input id='amount" + p + "' name='amount" + p
                                                        + "' value='" + s.Amount + "' style='display:none;' />" + s.Amount + "</td><td><input id='servicetax" + p + "' name='servicetax" + p + "' value='" + s.ServicesTax + "' style='display:none;' />" + s.ServicesTax
                                                        + "</td><td><input id='total" + p + "' name='total" + p + "' value='" + s.Total + "' style='display:none;' />" + s.Total + "</abel></td><td>" + s.Ldate + "</td></tr>";
                                                    total = total + s.Total;
                                                    p++;
                                                    $("#paidFees").append(row);
                                                }
                                                else if (flag == 1) {
                                                    $("#paidFees").append(table);
                                                    total = total + sub_total;
                                                }
                                            }
                                        });
                                        var row1 = "<tr class='tr-content-email'><td style='border:transparent'></td><td style='border:transparent'></td><td >@ResourceCache.Localize("Total")</td><td><input id='totalAmount' id='totalAmount' value='" + total + "' style='display:none;' />" + total + "</abel></td><td style='border:transparent'></td></tr>";
                                        $("#paidFees").append(row1);
                                    }
                                }
                            });
                        }
                        else if (data.Info != "" && data.Info != null) {
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonInfoMsg").show();
                            $("#jInfoMsg").html(data.Info).val(data.Info);
                        }
                    }
                });
            }
            if (a.length != 0) {
                $('#Err').show();
                $('#FeesTable').hide();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonInfoMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#FeesPay').click(function () {
            $('#FeesPay').show();
            var feecategoryid1 = [];
            var paymenttypeid1 = [];
            var amount1 = [];
            var servicetax1 = [];
            var total1 = [];
            var count = $('#paidFees tr').length;
            for (i = 0; i < count - 2; i++) {
                feecategoryid1[i] = $('#feecategoryid' + (i)).val();
                paymenttypeid1[i] = $('#paymenttypeid' + (i)).val();
                amount1[i] = $('#amount' + (i)).val();
                servicetax1[i] = $('#servicetax' + (i)).val();
                total1[i] = $('#total' + (i)).val();
            }
            var Total_Amt = $('#totalAmount').val();
            var AppId = $('#ApplicationId').val();
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var RR = {
                NoOfFees: count - 2, feecategoryid: feecategoryid1, paymenttypeid: paymenttypeid1, amount: amount1, servicetax: servicetax1, total: total1, TotalAmount: Total_Amt, AcademicYearId: year, ClassId: classs, ApplicationId: AppId
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/OnlineRegister/PayFees',
                traditional: true,
                data: RR,
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $('#Err').show();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#divStudent").hide();
                        $("#jsonError").show();
                        $("#jsonInfoMsg").hide();
                        $("#jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $("#jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonInfoMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    if (data.Message != "" && data.Message != null) {
                        $('#FeesPay').hide();
                        $('#Err').show();
                        $("#jsonError").hide();
                        $("#jsonErrorMsg").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonInfoMsg").hide();
                        $("#jsonSuccessMsg").show();
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#jSuccessMsg").html("@ResourceCache.Localize("Fees_collected_successfully")").val("@ResourceCache.Localize("Fees_collected_successfully")");
                            var sssss = data.collectionid;
                            var encrpt = data.encrptycollectionid;
                            window.open('/Admission/BillReceipt/' + encrpt, "wndPopUp", 'width=900,height=850,resizable=no');
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            });
        });
    </script>
}