﻿@{
    ViewBag.Title = "Conformation";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <section class="col-lg-12">
        <div id="div_student">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header  bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ConfirmationProcess")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    <form action="@Url.Action("Confirmation", "Admission")" method="post">
                        @if (ViewBag.norecordfounderror != null)
                        {
                            <div class="alert alert-danger">
                                <strong>@ResourceCache.Localize("Error")! </strong>@ViewBag.norecordfounderror
                            </div>
                        }
                        <div class="row">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                        </div>
                        <div class=" col-xs-12 col-lg-12">
                            <div class="col-xs-12 col-lg-4 col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Admission_AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-sm-12 filterItem current_button current_button2" })
                                <input type="hidden" id="records" name="records" value="@ViewBag.Records" />
                            </div>
                            <div class="col-lg-4 col-xs-12 col-sm-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Admission_Class", new SelectList(ViewBag.vacancyclassess, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 filterItem current_button current_button2" })
                            </div>
                            <div class="col-lg-4 col-xs-12 col-sm-6">
                                <button type="button" id="ConfirmationProcessFilter" name="ConfirmationProcessFilter" class=" btn btn-sm btn_search btn-success btn-down filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row col-lg-12 col-sm-12 col-md-12" id="gridtable" style="display:none;">
                                <table class="col-lg-12  col-sm-12 col-md-12" id="ConfirmationProcessFilterGrid"></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xs-12 col-sm-12" id="Des_div" style="display:none;">
                            <div class="col-lg-6 col-xs-12 col-sm-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="textarea2 formdash current_button2" id="Descriptions" name="Descriptions" placeholder="@ResourceCache.Localize("Description")" maxlength="250"></textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="row col-lg-12 col-xs-12 col-sm-12">
                                <input type="button" id="AcceptConfirmation" name="AcceptConfirmation" class=" btn btn-sm btn_search btn-success btn-down" value="@ResourceCache.Localize("Accept")" style=" margin-left: 0px;" />
                                <input type="button" id="RejectConfirmation" name="RejectConfirmation" class="btn btn-sm btn_search btn-danger btn-down" value="@ResourceCache.Localize("Reject")" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </div>
    </section>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#Admission_AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);
        $('#Admission_AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Admission_AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Admission_Class').val('');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }


        $(document).on('click', '#cb_ConfirmationProcessFilterGrid', function () {
            if ($(this).is(':checked')) {
                $('.cbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.cbox').each(function () {
                    this.checked = false;
                });
            }
        })

        $(document).on('click', '.cbox', function () {
            if (this.checked) {
                $('.cbox').each(function () {
                    if (this.checked) {
                        $('#cb_ConfirmationProcessFilterGrid').prop("checked", true);
                    }
                });
            }
        });

        $(document).on('click', '.cbox', function () {
            if ($("input[class='cbox']").length == $("input[class='cbox']:checked").length) {
                $("#cb_ConfirmationProcessFilterGrid").attr("checked", "checked");
            }
            else {
                $("#cb_ConfirmationProcessFilterGrid").removeAttr("checked");
            }
        });











        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });
        $(window).bind('resize', function () {
            var width = $('#gridtable').width();
            $('#ConfirmationProcessFilterGrid').setGridWidth(width, true); //Back to original width
            $('#ConfirmationProcessFilterGrid').setGridWidth($('#gridtable').width(), true); //Resized to new width as per window
        }).trigger('resize');
        jQuery("#ConfirmationProcessFilterGrid").jqGrid({
            url: "/Admission/JQgridConfirmationProcess",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("AdmissionId")', '@ResourceCache.Localize("PrimaryUsername")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("ApplyClass")', '@ResourceCache.Localize("ApplicationId")', '@ResourceCache.Localize("StatusFlag")', '@ResourceCache.Localize("Source")'], //,'Acadmicyear','class','distance','sibling','sameschool'
            colModel: [
                    { key: false, name: 'StudentAdmissionId', index: 'StudentAdmissionId' },
                    { key: false, name: 'PrimaryUserName', index: 'PrimaryUserName' },
                    { key: false, name: 'StuFirstName', index: 'StuFirstName' },
                     { key: false, name: 'txt_AdmissionClass', index: 'txt_AdmissionClass' },
                        { key: true, hidden: true, name: 'ApplicationId', name: 'ApplicationId' },
                          { key: false, name: 'Applicationstatus', index: 'Applicationstatus' },
                          { key: false, name: 'ApplicationSource', index: 'ApplicationSource' },
            ],
            pager: jQuery("#pager"),
            rowList: [50, 100, 250, 500, 1000],
            multiselect: true,
            height: '100%',
            width: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("ApplicationConfirmation")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
        ).jqGrid('navButtonAdd', '#pager',
        {
            caption: '@ResourceCache.Localize("Excel")',
            buttonicon: "ui-icon-bookmark",
            position: "last",
            onClickButton: function () {
                window.location.href = "../Admission/ConfirmationProcess_ExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#pager',
        {
            caption: '@ResourceCache.Localize("Pdf")',
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../Admission/ConfirmationProcess_ExportToPdf?pdf=true";
            }
        });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#ConfirmationProcessFilter').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var Class = $('#Admission_Class').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Admission_AcademicYear') {
                        a.push('PleaseSelectAcademicYear');
                    }
                    if (null_id == 'Admission_Class') {
                        a.push('PleaseSelectClass');
                    }
                }
            });
            if (flag == 0) {
                $('#Err').hide();
                $('#gridtable').show();
                $('#Des_div').show();
                event.preventDefault();
                ConfirmationProcessfilterGrid();
            }
            if (a.length != 0) {
                $('#gridtable').hide();
                $('#Des_div').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function ConfirmationProcessfilterGrid() {
            var postDataValues = $("#ConfirmationProcessFilterGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#ConfirmationProcessFilterGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        $('#AcceptConfirmation').click(function () {
            var grid = $('#ConfirmationProcessFilterGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var des = $('#Descriptions').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button2").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Admission_AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Admission_Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Descriptions') {
                        a.push('@ResourceCache.Localize("Please_enter_descriptions")');
                    }
                }
            });
            if (flag == 0) {
                if (ids.length > 0) {
                    var names = [];
                    for (var i = 0, il = ids.length; i < il; i++) {
                        var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                        names.push(name);
                    }
                    var Registers = {
                        RegId: names, SelectCount: ids.length, AcademicYearId: year, Classid: classs, description: des
                    };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/Admission/ConfirmationAccept',
                        traditional: true,
                        data: Registers,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#Err').show();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#ConfirmationProcessFilterGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $('#Err').show();
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
                else {
                    $('#Err').show();
                    $("#jsonError").hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Please_select_any_records")").val("@ResourceCache.Localize("Please_select_any_records")");
                }
            }
            if (a.length != 0) {
                $('#gridtable').show();
                $('#Des_div').show();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#RejectConfirmation').click(function () {
            var grid = $('#ConfirmationProcessFilterGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var des = $('#Descriptions').val();
            var field_val = [];
            var a = [];
            var flag = 0;
            $(".current_button2").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Admission_AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Admission_Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Descriptions') {
                        a.push('@ResourceCache.Localize("Please_enter_descriptions")');
                    }
                }
            });
            if (flag == 0) {
                if (ids.length > 0) {
                    var names = [];
                    for (var i = 0, il = ids.length; i < il; i++) {
                        var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                        names.push(name);
                    }
                    var Registers = {
                        RegId: names, SelectCount: ids.length, AcademicYearId: year, Classid: classs, description: des
                    };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/Admission/ConfirmationReject',
                        traditional: true,
                        data: Registers,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#Err').show();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#ConfirmationProcessFilterGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $('#Err').show();
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
                else {
                    $('#Err').show();
                    $("#jsonError").hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Please_select_any_records")").val("@ResourceCache.Localize("Please_select_any_records")");
                }
            }
            if (a.length != 0) {
                $('#gridtable').show();
                $('#Des_div').show();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
    </script>
}