﻿@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-8">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header  bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Admission_vacuncy_setting")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <div class="panel-body">
                            <div>
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            </div>
                            <div class="col-lg-8 table-content-margin">
                                    <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span>
                                    @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = " filterItem" })<span id="Err_AcademicYear" class="colors2"></span>
                            </div>
                            <div id="Configuration_Div" style="display:none;">
                                <div class="col-lg-12 " id="AddClassvacancy">
                                    <div class="table-content-margin table-responsive">
                                        <table class="table table-bordered table-hover table-striped" id="ClassVacancyTable"></table>
                                    </div>
                                    <button type="button" class=" btn btn-sm btn_search btn-success btn-down" id="ClassVacancySave" name="ClassVacancySave"><i class="fa fa-plus"></i>@ResourceCache.Localize("Save")</button>
                                </div>
                                <div class="col-lg-12" id="UpdateClassvacancy" style="display:none">
                                    <div class=" table-content-margin table-responsive">
                                        <table class="table table-bordered table-hover table-striped" id="ClassVacancyEditTable"></table>
                                    </div>
                                    <button type="button" class="btn btn-sm btn_search btn-success btn-down " id="ClassVacancyUpdate" name="ClassVacancyUpdate"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);  
            vacancyclass();
            $('#AcademicYear').change(function (event) {
                event.preventDefault();
                var YearId = $('#AcademicYear').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            function vacancyclass()
            {
                $("#jsonError").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                var year1 = $('#AcademicYear').val();
                if (year1 == "" && year == null) {
                    $('#Configuration_Div').hide();
                }
                else {
                    $('#Configuration_Div').show();
                    $('#AddClassvacancy').hide();
                    $('#UpdateClassvacancy').hide();
                    var year = $('#AcademicYear').val();
                    var Registers = {
                        AcademicYear: year
                    };
                    $.ajax({
                        type: "POST",
                        url: '/Admission/GetEditVacancyClass',
                        traditional: true,
                        data: Registers,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#AddClassvacancy').show();
                                $('#UpdateClassvacancy').hide();
                            }
                            else {
                                $('#AddClassvacancy').hide();
                                $('#UpdateClassvacancy').show();
                                var row1 = ('<tr class="tr-content-email"><th class="tr-content col-sm-3">@ResourceCache.Localize("Class")</th><th class="tr-content col-sm-3">@ResourceCache.Localize("Vacancy")</th><th class="col-sm-3 tr-content">@ResourceCache.Localize("Status")</th><th  class="col-sm-3 tr-content">Age limit</th></tr>')
                                $("#ClassVacancyEditTable").empty().append(row1);
                                $.each(data.result, function (i, c) {
                                    if (c.status == true) {
                                        var row = "<tr class='tr-content-email'><td><input id='Edit_classid" + i + "' name='Edit_classid" + i + "' value='" + c.classid + "' style='display:none;' />" + c.txt_class + "</td><td><input type='text' id='Edit_vacancy" + i + "' name='Edit_vacancy" + i + "' maxlength='2' value='" + c.Vacancy + "'' /></td><td class='checkboxaligncenter'><input type='checkbox' id='check1" + i + "' name='check1" + i + "' checked /></td><td><input id='E_datepicker" + i + "' class='usedatepicker ' value='" + c.AgeLimit + "'/></td></tr>";
                                        $("#ClassVacancyEditTable").append(row);
                                        var datevalue = $("#E_datepicker" + i).val();
                                        if (datevalue == "null") {
                                            $("#E_datepicker" + i).val("");
                                        }
                                        $(".usedatepicker").datepicker({
                                            changeMonth: true,
                                            changeYear: true,
                                            maxDate: 0,
                                            dateFormat: 'dd/mm/yy',
                                        });
                                    }
                                    else {
                                        var row1 = "<tr class='tr-content-email'><td><input id='Edit_classid" + i + "' name='Edit_classid" + i + "' value='" + c.classid + "' style='display:none;' />" + c.txt_class + "</td><td><input type='text' id='Edit_vacancy" + i + "' name='Edit_vacancy" + i + "' maxlength='2' value='" + c.Vacancy + "'' /></td><td class='checkboxaligncenter'><input type='checkbox' id='check1" + i + "' name='check1" + i + "'  /></td><td><input id='E_datepicker" + i + "' class='usedatepicker' value='" + c.AgeLimit + "'/></td></tr>";
                                        $("#ClassVacancyEditTable").append(row1);
                                        var datevalue = $("#E_datepicker" + i).val();
                                        if (datevalue == "null") {
                                            $("#E_datepicker" + i).val("");
                                        }
                                    }
                                    $(".usedatepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: 0,
                                        dateFormat: 'dd/mm/yy',
                                    });
                                    $("#Edit_vacancy" + i + "").filter_input({ regex: '[0-9]' });
                                });
                                if (data.pastAcademicyear == false) {
                                    $('#ClassVacancyUpdate').prop('disabled', true);
                                }
                                else {
                                    $('#ClassVacancyUpdate').prop('disabled', false);
                                }
                            }
                        }
                    });
                }
            }
        $('#UpdateClassvacancy').hide();
        $.ajax({
            type: "GET",
            url: '/Admission/GetActiveClass',
            traditional: true,
            success: function (data) {
                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                    $("#divStudent").hide();
                    $("#jsonError").hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                }
                else {
                    var row1 = ('<tr class="tr-content-email"><th class="tr-content col-sm-3">@ResourceCache.Localize("Class")</th><th class="tr-content col-sm-3">@ResourceCache.Localize("Vacancy")</th><th class="col-sm-3 tr-content">@ResourceCache.Localize("Status")</th><th  class="col-sm-3 tr-content">Age limit</th></tr>');
                    $("#ClassVacancyTable").empty().append(row1);
                    $.each(data, function (i, c) {
                        $(".usedatepicker").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            maxDate: 0,
                            dateFormat: 'dd/mm/yy',
                        });
                        $("#ClassVacancyTable").append(row);
                    });
                }
            }
        });
        $('#ClassVacancySave').click(function () {
            var classid1 = [];
            var vacancy1 = [];
            var agelimitedate = [];
            var count = $('#ClassVacancyTable tr').length;
            for (i = 0; i < count - 1; i++) {
                classid1[i] = $('#classid' + (i)).val();
                vacancy1[i] = $('#vacancy' + (i)).val();
                agelimitedate[i] = $('#Edit_vacancy' + (i)).val();
            }
            var year = $('#AcademicYear').val();
            var Registers = {
                Count: count - 1, clssid: classid1, vacancy: vacancy1, AcademicYearId: year
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/Admission/ClassVacancySave',
                traditional: true,
                data: Registers,
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $("#jsonError").hide();
                        $("#jsonErrorMsg").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").show();
                        $("#jSuccessMsg").html(data.Message).val(data.Message);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                    alert("Critical Error!. Failed to call the server.");
                }
            });
        });
            /// always work this function
        $('#AcademicYear').change(function () {
            $("#jsonError").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            var year1 = $('#AcademicYear').val();
            if (year1 == "" && year == null) {
                $('#Configuration_Div').hide();
            }
            else {
                $('#Configuration_Div').show();
                $('#AddClassvacancy').hide();
                $('#UpdateClassvacancy').hide();
                var year = $('#AcademicYear').val();
                var Registers = {
                    AcademicYear: year
                };
                $.ajax({
                    type: "POST",
                    url: '/Admission/GetEditVacancyClass',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#AddClassvacancy').show();
                            $('#UpdateClassvacancy').hide();
                        }
                        else {
                            $('#AddClassvacancy').hide();
                            $('#UpdateClassvacancy').show();
                            var row1 = ('<tr class="tr-content-email"><th class="tr-content col-sm-3">@ResourceCache.Localize("Class")</th><th class="tr-content col-sm-3">@ResourceCache.Localize("Vacancy")</th><th class="col-sm-3 tr-content">@ResourceCache.Localize("Status")</th><th  class="col-sm-3 tr-content">Age limit</th></tr>')
                            $("#ClassVacancyEditTable").empty().append(row1);
                            $.each(data.result, function (i, c) {
                                if (c.status == true) {
                                    var row = "<tr class='tr-content-email'><td><input id='Edit_classid" + i + "' name='Edit_classid" + i + "' value='" + c.classid + "' style='display:none;' />" + c.txt_class + "</td><td><input id='Edit_vacancy" + i + "' name='Edit_vacancy" + i + "' value='" + c.Vacancy + "'' /></td><td class='checkboxaligncenter'><input type='checkbox' id='check1" + i + "' name='check1" + i + "' checked /></td><td><input id='E_datepicker" + i + "' class='usedatepicker'  value='" + c.AgeLimit + "'/></td></tr>";
                                    $(".usedatepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: 0,
                                        dateFormat: 'dd/mm/yy',
                                    });
                                    $("#ClassVacancyEditTable").append(row);
                                    $(".usedatepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: 0,
                                        dateFormat: 'dd/mm/yy',
                                    });
                                    var datevalue = $("#E_datepicker" + i).val();
                                    if (datevalue == "null") {
                                        $("#E_datepicker" + i).val("");
                                    }
                                    $("#Edit_vacancy" + i + "").filter_input({ regex: '[0-9]' });
                                }
                                else {
                                    var row1 = "<tr class='tr-content-email'><td><input id='Edit_classid" + i + "' name='Edit_classid" + i + "' value='" + c.classid + "' style='display:none;' />" + c.txt_class + "</td><td><input id='Edit_vacancy" + i + "' name='Edit_vacancy" + i + "' value='" + c.Vacancy + "'' /></td><td class='checkboxaligncenter'><input type='checkbox' id='check1" + i + "' name='check1" + i + "'  /></td><td><input id='E_datepicker" + i + "' class='usedatepicker'  value='" + c.AgeLimit + "'/></td></tr>";
                                    $(".usedatepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: 0,
                                        dateFormat: 'dd/mm/yy',
                                    });
                                    $("#ClassVacancyEditTable").append(row1);
                                    $(".usedatepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: 0,
                                        dateFormat: 'dd/mm/yy',
                                    });
                                    var datevalue = $("#E_datepicker" + i).val();
                                    if (datevalue == "null") {
                                        $("#E_datepicker" + i).val("");
                                    }
                                    $("#Edit_vacancy" + i + "").filter_input({ regex: '[0-9]' });
                                }
                            });
                            if (data.pastAcademicyear == false) {
                                $('#ClassVacancyUpdate').prop('disabled', true);
                            }
                            else {
                                $('#ClassVacancyUpdate').prop('disabled', false);
                            }
                        }
                    }
                });
            }
        });
        $('#ClassVacancyUpdate').click(function () {
            var classid1 = [];
            var vacancy1 = [];
            var Status = [];
            var agelimitedate = [];
            var count = $('#ClassVacancyEditTable tr').length;            
            for (i = 0; i < count - 1; i++) {
                classid1[i] = $('#Edit_classid' + (i)).val();
                vacancy1[i] = $('#Edit_vacancy' + (i)).val();
                agelimitedate[i] = $('#E_datepicker' + (i)).val();
                var check = $("#check1" + (i)).is(':checked');
                if (check == true) {
                    Status[i] = true;
                }
                if (check == false) {
                    Status[i] = false;
                }
            }
            var year = $('#AcademicYear').val();
            var Registers = {
                Count: count - 1, clssid: classid1, vacancy: vacancy1, AcademicYearId: year, Status: Status, AgeLimitDate: agelimitedate
            };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/Admission/ClassVacancyUpdate',
                traditional: true,
                data: Registers,
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $("#jsonError").hide();
                        $("#jsonErrorMsg").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").show();
                        $("#jSuccessMsg").html(data.Message).val(data.Message);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                    alert("Critical Error!. Failed to call the server.");
                }
            });
        });
    });
</script>
}