﻿@using eAcademy.Models
@{
    ViewBag.Title = "AdmissionFeesCollection";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("PreadmissionRefund")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-xs-12" id="Err" style="">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ApplicationId")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input type="text" id="ApplicationId" name="ApplicationId" class="col-lg-12 current_button" placeholder="@ResourceCache.Localize("ApplicationNumber")">
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PreAdmissionRefund_AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("ClassForAdmission")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("PreAdmissionRefund_Class", new SelectList(ViewBag.classess, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = " col-lg-12 current_button" })
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <button type="button" id="btnPreadmissionRefund_Filter" name="btnPreadmissionRefund_Filter" class="btn btn-sm btn_search btn-success btn-down"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                            </div>
                            <div class="row col-sm-12  table-responsive" id="FeesTable" style="display:none;">
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input type="text" id="Academiyear" name="Academiyear" class="col-lg-12 current_button" readonly>
                                </div>
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AppliedClass")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input type="text" id="ApplyClass" name="ApplyClass" class="col-lg-12 current_button" readonly>
                                </div>
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input type="text" id="StudentName" name="StudentName" class="col-lg-12 current_button" readonly>
                                    <input type="hidden" id="FeeCollectionId" name="FeeCollectionId" class="col-lg-12">
                                </div>
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover table-striped tr-content-mandatory table-max" style=" padding-bottom: 11px;" id="paidFees">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("SNo")</th>
                                                <th>
                                                    @ResourceCache.Localize("FeeCategory")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Ammount")
                                                </th>
                                                <th>@ResourceCache.Localize("Tax")</th>
                                                <th>@ResourceCache.Localize("Total")</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("RefundAmount")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div><input class="col-md-12 current_button1" type="text" id="txt_refund" name="txt_refund" placeholder="@ResourceCache.Localize("EnterRefundAmount")" title="@ResourceCache.Localize("RefundAmount")" maxlength="30" /></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("ReceivedBy")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div><input class="col-md-12 current_button1" type="text" id="txt_receiveby" name="txt_receiveby" placeholder="@ResourceCache.Localize("enter_who_received_amount")" title="@ResourceCache.Localize("ReceivedBy")" maxlength="30" /></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Reason")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        <div> <textarea id="Reason" name="Reason" class="current_button1"></textarea></div>
                                        <span id="chars">250</span>@ResourceCache.Localize("CharactersRemaining")
                                    </div>
                                    <div class="row col-lg-2 table-content-margin">
                                        <button type="button" class=" btn btn-primary btn-mdpull-right btn-down" id="PreadmissionRefundfee" name="PreadmissionRefundfee">@ResourceCache.Localize("RefundFee")</button>
                                    </div>
                                 </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ApplicationId").filter_input({ regex: '[0-9]' });
        $('#PreAdmissionRefund_AcademicYear').val(@Session["CurrentAcYearId"]);
        $('#PreAdmissionRefund_AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#PreAdmissionRefund_AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Admission_Class').val('');
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#PreAdmissionRefund_AcademicYear').change(function () {
            var yearid = $('#Admission_AcademicYear').val();
            $.getJSON('/Admission/JsonvacuncyClass', { yearid: yearid },
                   function (data) {
                       $("#PreAdmissionRefund_Class").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                       $.each(data, function (i, c) {
                           $("#PreAdmissionRefund_Class").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                       });
                   });
        });
        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });
        var total = 0;
        $("#txt_refund").filter_input({ regex: '[0-9.]' });
        $('#btnPreadmissionRefund_Filter').click(function () {
            $('#FeesTable').hide();
            $("#jsonError").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonInfoMsg").hide();
            var flag = 0;
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'ApplicationId') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterApplicationId")');
                    }
                    if (null_id == 'PreAdmissionRefund_AcademicYear') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseselectAcademicyear")');
                    }
                    if (null_id == 'PreAdmissionRefund_Class') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                }
            });
            if (flag == 0) {
                var applicationid = $('#ApplicationId').val();
                var year = $('#PreAdmissionRefund_AcademicYear').val();
                var feeclass = $('#PreAdmissionRefund_Class').val();
                var Check = {
                    ApplicationId: applicationid, AcademicYearId: year, ClassId: feeclass
                };
                //, Source: source
                $.ajax({
                    type: "POST",
                    url: '/Admission/GetAdmissionPaidFeesRefund',
                    traditional: true,
                    data: Check,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jsonInfoMsg").hide();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonInfoMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.info != "" && data.info != null) {
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonInfoMsg").show();
                            $("#jInfoMsg").html(data.info).val(data.info);
                        }
                        if (data.list != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonInfoMsg").hide();
                            $('#FeesTable').show();
                            //var total = 0;
                            var k = 1;
                            var p = 0;
                            $("#paidFees tbody").empty();
                            $.each(data.list, function (i, s) {
                                var rows = "<tr><td><input type='hidden' id='CollectedFeeCatId" + p + "' name='CollectedFeeCatId" + p + "' value='" + s.CollectedFeeCatId + "' style='display:none;' />" + k + "</td><td >" + s.FeeCategory + "</td><td>" + s.Amount + " </td><td>" + s.ServicesTax + "</td><td>" + s.Total + "</td></tr>";
                                total = total + s.Total;
                                $("#paidFees").append(rows);
                                k++;
                                p++;
                                $('#FeeCollectionId').val(s.FeecollectionId);
                            });
                            var row1 = "<tr><td ></td><td ></td><td></td><td>Total </td><td>" + total + "</td></tr>";
                            $("#paidFees").append(row1);
                            $('#Academiyear').val(data.result.txt_academicyear).html(data.result.txt_academicyear);
                            $('#ApplyClass').val(data.result.txt_ApplyClass).html(data.result.txt_ApplyClass);
                            $('#StudentName').val(data.result.StuFirstName).html(data.result.StuFirstName);
                        }
                    }
                });
            }
            if (a.length != 0) {
                $('#FeesTable').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonInfoMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
        });
        $('#PreadmissionRefundfee').click(function () {
            $("#jsonError").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonInfoMsg").hide();
            var flag = 0;
            var a = [];
            var field_val = [];
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_receiveby') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("EnterReceivedBy")');
                    }
                    if (null_id == 'Reason') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("EnterReason")');
                    }
                    if (null_id == 'txt_refund') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseEnterRefundAmount")');
                    }
                }
            });
            if (flag == 0) {
                var feecategoryid1 = [];
                var count = $('#paidFees tr').length;
                for (i = 0; i < count - 2; i++) {
                    feecategoryid1[i] = $('#CollectedFeeCatId' + (i)).val();
                }
                var receivedby = $('#txt_receiveby').val();
                var reason = $('#Reason').val();
                var refundamount = $('#txt_refund').val();
                var feecollectionid = $('#FeeCollectionId').val();
                var applicationid = $('#ApplicationId').val();
                var RR = {
                    ReceivedBy: receivedby, reason: reason, AmountRefunded: refundamount, FeeCollectionidstudent: feecollectionid, TotalAmount: total, StudentApplicationid: applicationid
                };//
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/PreAdmissionFeeRefunds',
                    traditional: true,
                    data: RR,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jsonInfoMsg").hide();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonInfoMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#FeesPay').show();
                            $('#Refundfee').hide();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonInfoMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonInfoMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
        });
    });
    </script>
}