﻿@{
    ViewBag.Title = "SelectionProcess";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header  bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("SelectionProcess")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    <form action="@Url.Action("SelectionProcess", "Admission")" method="post">
                        <div class="col-xs-12" id="Err" style="display:none;">
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        </div>
                        <div class="row col-lg-12">
                            <div class="col-lg-4  col-sm-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Admission_AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-md-12 filterItem current_button" })<span id="Err_AcademicYear" class="colors2"></span>
                                <input type="hidden" id="Academicyearid" name="Academicyearid" />
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Admission_Class", new SelectList(ViewBag.classess, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 filterItem current_button" })
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="col-lg-12"><label class="input-label-sm">@ResourceCache.Localize("Option")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div class="col-lg-6">
                                    <input type="radio" id="SelectOption" name="SelectOption" value="Selection" class="OO current_button">@ResourceCache.Localize("ApplicationSelection")
                                </div>
                                <div class="col-lg-6">
                                    <input type="radio" id="SelectOption" name="SelectOption" value="Email" class="OO current_button">@ResourceCache.Localize("SendEmail")
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-12">
                            <div class="col-lg-12" id="SelectProcess" style="display:none; margin-left:-15px;">
                                <div class="col-lg-12"><label class="input-label-sm">@ResourceCache.Localize("Application_selection_by")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                <div class="col-lg-1">
                                    <input type="radio" id="Sort" name="Sort" value="All" class="SS Sort2">@ResourceCache.Localize("All_Applications")
                                </div>
                                <div class="col-lg-2">
                                    <input type="radio" id="Sort" name="Sort" value="Distance" class="SS ">@ResourceCache.Localize("Distance")
                                </div>
                                <div class="col-lg-3">
                                    <input type="radio" id="Sort" name="Sort" value="Sibling" class="SS ">@ResourceCache.Localize("Already_Sibling_Studing_Here")
                                </div>
                                <div class="col-lg-3">
                                    <input type="radio" id="Sort" name="Sort" value="Worksamschool" class="SS ">@ResourceCache.Localize("Parents_Working_Here")
                                </div>
                                <div class="col-lg-2">
                                    <input type="radio" id="Sort" name="Sort" value="Pending" class="SS Sort1">@ResourceCache.Localize("Waiting_List")
                                </div>
                            </div>
                            <div class="col-lg-4" id="distance1" style="display:none ;margin-left:12px;">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Distance")</label> </div>
                                <select id="FilterDistance" name="FilterDistance" class="filterItem">
                                    <option value="Select">@ResourceCache.Localize("Select")</option>                                   
                                    <option value="5">5km</option>
                                    <option value="10">10Km</option>
                                    <option value="15">15Km</option>
                                    <option value="20">20Km</option>                                   
                                </select>
                            </div>
                            <div class="col-lg-4" id="sibling1" style="display:none ;margin-left:12px;">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Sibling")</label> </div>
                                <select id="NoOfSbling" name="NoOfSbling" class="filterItem">
                                    <option value="Select">@ResourceCache.Localize("Select")</option>
                                    <option id="1" value="Yes">@ResourceCache.Localize("Yes")</option>
                                    <option id="1" value="No">@ResourceCache.Localize("No")</option>
                                </select>
                            </div>
                            <div class="col-lg-4" id="Worksamschool1" style="display:none;margin-left:12px;">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Parents_Working_In_The_School")</label></div>
                                <select id="WorkSameSchool" name="WorkSameSchool" class="filterItem">
                                    <option value="Select">@ResourceCache.Localize("Select")</option>
                                    <option id="1" value="Yes">@ResourceCache.Localize("Yes")</option>
                                    <option id="1" value="No">@ResourceCache.Localize("No")</option>
                                </select>
                            </div>
                            <div class="col-lg-4 " id="Emailprocess" style="display:none">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Flag")</label> </div>
                                <select id="StatusFlag" name="StatusFlag" class="filterItem">
                                    <option value="Select">@ResourceCache.Localize("Select")</option>
                                    <option value="InterView&Entrance">@ResourceCache.Localize("InterView&Entrance")</option>
                                    <option value="NotFeePaid">@ResourceCache.Localize("Conditioanloffer_Without_FeePaid")</option>
                                    <option value="InterView">@ResourceCache.Localize("InterView")</option>                                    
                                    <option value="Pending">@ResourceCache.Localize("Waiting_List")</option>
                                    <option value="AddMore">@ResourceCache.Localize("AddMoreDetails")</option>
                                    <option value="Reject">@ResourceCache.Localize("Reject")</option>
                                </select>
                            </div>
                        </div>
                        <div class=" row col-sm-12">
                            <div class="col-sm-4">
                                <button type="button" id="SelectionProcessFilter" name="SelectionProcessFilter" class="btn btn-sm btn_search btn-success btn-down filterItem btn_double "><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                <button type="button" id="Refresh" name="Refresh" class="btn btn-sm btn_search btn-success btn-down filterItem"><i class="fa fa-refresh"></i>@ResourceCache.Localize("Refresh")</button>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="selectiontable" style="display:none;">
                            <table class="col-lg-12  col-xs-12 col-sm-12 col-md-12" id="SelectionProcessGrid"></table>
                            <div id="SelectionProcessGridPager"></div>                          
                        </div>
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="Conditionaltable" style="display:none;">
                            <table class="col-lg-12  col-xs-12 col-sm-12 col-md-12" id="ConditionaltableGrid"></table>
                            <div id="ConditionaltableGridPager"></div>
                            <div class="col-sm-6">
                                <label class="input-label-sm">@ResourceCache.Localize("Description")<span class="mandatory">*</span></label>
                                <textarea class="textarea2 formdash current_button2" id="description" name="description" placeholder="@ResourceCache.Localize("Description")" maxlength="250"></textarea>
                                <span id="chars">250</span>@ResourceCache.Localize("CharactersRemaining")
                                <div id="feedatepickerdiv" class="row">
                                    <div class="col-md-3">
                                        <label class="input-label-sm">@ResourceCache.Localize("PleaseSelectLastDateforfeespay")<span class="mandatory">*</span></label>
                                        <input id='FeeDatepicker' name="FeeDatepicker" placeholder="Last Date" readonly="" type="text" />
                                    </div>
                                </div>
                            </div>
                            <input type="button" id="Btn_Offered" name="Btn_Offered" class="btn btn-sm btn_search btn-success btn-down" value="Send Fee" />
                            <input type="button" id="Btn_Pending" name="Btn_Pending" class="btn btn-sm btn_search btn-primary btn-down" value="Waiting List" />
                            <input type="button" id="Btn_Quiet" name="Btn_Quiet" class="btn btn-sm btn_search btn-danger btn-down" value="Reject" />
                        </div> 
                    </form>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-lg-6 col-sm-12 col-md-12" id="VacancyDetails_Sec" style="display:none;">
            <div id="div_student col-lg-6 col-sm-12 col-md-12">
                <div class="box box-solid bg-teal-gradient tbl_responsive">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("VacancyDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body ">
                        <form action="" method="post">
                            <div class="panel-body">
                                <div class="table-content-margin table-responsive">
                                    <table class="table table-bordered table-striped" id="VacancySeatTable" border="1"></table>
                                </div>
                                <div class="box-footer clearfix">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-lg-6 col-sm-12 col-md-12" id="StatusFlagDetails_Sec" style="display:none;">
            <div id="div_student col-lg-6 col-sm-12 col-md-12">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("StatusFlagDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <form action="" method="post">
                            <div class="bs-callout bs-callout-danger" id="callout-inputgroup-text-input-only">
                                <h4 id="textual-<input>s-only">
                                    <code class="code">
                                        <p class="code2">
                                          @ResourceCache.Localize("Application_status_details")
                                        </p>
                                    </code>
                                    <a class="anchorjs-link" href="#textual-&lt;input&gt;s-only"><span class="anchorjs-icon"></span></a>
                                </h4>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#Go" id="Conditional" name="Conditional" class="underline">@ResourceCache.Localize("Conditionaloffer")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <label id="txt_Conditional"></label> 
                                        </div>
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#" id="Pending" name="Pending" class="underline">@ResourceCache.Localize("Waiting_List")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2"><label id="txt_Pending"></label> </div>
                                    </div>
                                    <div class="col-lg-12  col-xs-12 col-md-12">
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#" id="Reject" name="Reject" class="underline">@ResourceCache.Localize("Reject")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2"><label id="txt_Reject"></label> </div>
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#" id="AddMore" name="AddMore" class="underline">@ResourceCache.Localize("AddMore")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2"> <label id="txt_AddMore"></label>  </div>
                                    </div>
                                    <div class="col-lg-12  col-xs-12 col-md-12">
                                        <div class="col-lg-4 col-xs-4 ">
                                            <a href="#" id="FeesPaid" name="FeesPaid" class="underline">@ResourceCache.Localize("FeesPaid")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2 "> <label id="txt_FeesPaid"></label>  </div>
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#" id="Accepted" name="Accepted" class="underline">@ResourceCache.Localize("Accepted")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2"> <label id="txt_Accept"></label>  </div>
                                    </div>
                                    <div class="col-lg-12  col-xs-12 col-md-12">
                                        <div class="col-lg-4 col-xs-4 ">
                                            <a href="#" id="Enrolled" name="Enrolled" class="underline">@ResourceCache.Localize("Enrolled")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2 "> <label id="txt_Enrolled"></label>  </div>
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#" id="Incomplete" name="Incomplete" class="underline">@ResourceCache.Localize("InComplete")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2"> <label id="txt_Incomplete"></label>  </div>
                                    </div>
                                    <div class="col-lg-12  col-xs-12 col-md-12">
                                        <div class="col-lg-4 col-xs-4 ">
                                            <a href="#" id="InterViewed" name="InterViewed" class="underline">@ResourceCache.Localize("InterView")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2 "> <label id="txt_InterViewed"></label>  </div>
                                        <div class="col-lg-4 col-xs-4">
                                            <a href="#" id="Entrance" name="Entrance" class="underline">@ResourceCache.Localize("InterView&Entrance")</a>
                                        </div>
                                        <div class="col-lg-2 col-xs-2"> <label id="txt_Entrance"></label></div>
                                    </div>
                                    <div class="col-lg-12  col-xs-12 col-md-12">
                                        <div class="col-lg-4 col-xs-4 ">
                                            <label>@ResourceCache.Localize("Total_Application")</label>
                                        </div>
                                        <div class="col-lg-2 col-xs-2 "> <label id="txt_total"></label>  </div>                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-lg-12 col-sm-12 col-md-12" id="StatusFlagDetailsList_Sec" style="display:none;">
            <div id="div_student col-lg-6 col-sm-12 col-md-12">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Application_status_details")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <form action="" method="post">
                            <div class="col-lg-12  col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6 table-content-margin">
                                            <label>@ResourceCache.Localize("AcademicYear"): </label>
                                            <label for="AcyearId" ></label>
                                            <input type="hidden" id="AcyearId" name="AcyearId" class="filterItem">
                                        </div>
                                        <div class="col-lg-8 col-sm-6 table-content-margin">
                                           <label>@ResourceCache.Localize("StatusFlag"): </label>
                                            <label for="Status"></label>
                                            <input type="hidden" id="Status_flag" name="Status_flag" class="filterItem">
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="Flagtable" style="display:none;">
                                <table class="col-lg-12 col-xs-12  col-sm-12 col-md-12" id="FlagdatalistGrids"></table>
                                <div id="FlagdatalistGridsPager"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <div id="Go"></div>
</div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#Admission_AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);
        VacancytableAndstatus();

        $('#Admission_AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Admission_AcademicYear').val();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#AcademicyearId').change(function () {
            var yearid = $('#AcademicyearId').val();
            $.getJSON('/Admission/JsonvacuncyClass', { yearid: yearid },
                   function (data) {
                       $("#AdmissionClass").empty().append('<option value="">Select Class</option>');
                       $.each(data, function (i, c) {
                           $("#AdmissionClass").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                       });
                   });
        });

        $(document).on('click', '#cb_ConditionaltableGrid', function () {
            if ($(this).is(':checked')) {
                $('.cbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.cbox').each(function () {
                    this.checked = false;
                });
            }
        })

        $(document).on('click', '.cbox', function () {
            if (this.checked) {
                $('.cbox').each(function () {
                    if (this.checked) {
                        $('#cb_ConditionaltableGrid').prop("checked", true);
                    }
                });
            }
        });

        $(document).on('click', '.cbox', function () {
            if ($("input[class='cbox']").length == $("input[class='cbox']:checked").length) {
                $("#cb_ConditionaltableGrid").attr("checked", "checked");
            }
            else {
                $("#cb_ConditionaltableGrid").removeAttr("checked");
            }
        });

        function VacancytableAndstatus()
        {
            var year = $('#Admission_AcademicYear').val();
            if (year == "" && year != null) {
                $('#VacancyDetails_Sec').hide();
                $('#StatusFlagDetails_Sec').hide();
            }
            else {
                $('#VacancyDetails_Sec').show();
                $('#StatusFlagDetails_Sec').show();
                var Registers = {
                    AcademicYearId: year
                };
                $.ajax({
                    type: "POST",
                    url: '/Admission/FlagCount',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        $('#txt_Conditional').html(data.Conditional);
                        $('#txt_Pending').html(data.Pending);
                        $('#txt_Reject').html(data.Reject);
                        $('#txt_AddMore').html(data.AddMore);
                        $('#txt_FeesPaid').html(data.FeesPaid);
                        $('#txt_Accept').html(data.Accept);
                        $('#txt_Enrolled').html(data.Enrolled);
                        $('#txt_Incomplete').html(data.InComplete);
                        $('#txt_InterViewed').html(data.InterView);
                        $('#txt_Entrance').html(data.InterViewEntrance);
                        var count = data.Conditional + data.Pending + data.Reject + data.AddMore + data.FeesPaid + data.Accept + data.Enrolled + data.InComplete + data.InterView + data.InterViewEntrance;
                        $('#txt_total').html(count);
                        $('.Acyear').attr('href', function () {
                            return this.href.replace('aid', year);
                        });
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '/Admission/Vacancytable',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        var row1 = ('<tr class="tr-content-email"><th class="tr-content">@ResourceCache.Localize("Class")</th><th class="tr-content">@ResourceCache.Localize("Vacancy")</th><th class="tr-content">@ResourceCache.Localize("Accept")</th><th class="tr-content">@ResourceCache.Localize("Conditionaloffer")</th><th class="tr-content">@ResourceCache.Localize("Pending")</th><th class="tr-content">@ResourceCache.Localize("AddMoreDetails")</th><th class="tr-content">@ResourceCache.Localize("Reject")</th><th class="tr-content">@ResourceCache.Localize("Enrolled")</th><th class="tr-content">@ResourceCache.Localize("AvailableSeats")</th></tr>');//('<tr class="tr-content-email"><th class="tr-content">Class</th><th class="tr-content">Vacancy</th>//
                        $("#VacancySeatTable").empty().append(row1);
                        $.each(data.vacancy, function (i, c) {
                            var bal = 0;
                            bal = c.Vacancy - data.Accept[i];
                            if (bal <= 0) {
                                bal = 0;
                            }
                            var row = "<tr class='tr-content-email'><td>" + c.txt_class + "</td><td>" + c.Vacancy + "</td><td>" + data.Accept[i] + "</td><td>" + data.Conditional[i] + "</td><td>" + data.Pending[i] + "</td><td>" + data.AddMore[i] + "</td><td>" + data.Reject[i] + "</td><td>" + data.Enrolled[i] + "</td>//<td>" + bal + "</td></tr>";//"<tr class='tr-content-email'><td>" + c.txt_class + "</td><td>" + c.Vacancy + "</td>
                            $("#VacancySeatTable").append(row);
                        });
                    }
                });
            }
        }
        $(window).bind('resize', function () {
            var width = $('#content').width();
            $('#SelectionProcessGrid').setGridWidth(width, true); //Back to original width
            $('#SelectionProcessGrid').setGridWidth($('#selectiontable').width(), true); //Resized to new width as per window
            var width = $('#selectiontable').width();
            $('#FlagdatalistGrids').setGridWidth(width, true); //Back to original width
            $('#FlagdatalistGrids').setGridWidth($('#selectiontable').width(), true); //Resized to new width as per window
        }).trigger('resize');
        $('#Admission_AcademicYear').change(function (){
            var year = $('#Admission_AcademicYear').val();
            if (year == "" && year != null) {
                $('#VacancyDetails_Sec').hide();
                $('#StatusFlagDetails_Sec').hide();
            }
            else {
                $('#VacancyDetails_Sec').show();
                $('#StatusFlagDetails_Sec').show();
                var Registers = {
                    AcademicYearId: year
                };
                $.ajax({
                    type: "POST",
                    url: '/Admission/FlagCount',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        $('#txt_Conditional').html(data.Conditional);
                        $('#txt_Pending').html(data.Pending);
                        $('#txt_Reject').html(data.Reject);
                        $('#txt_AddMore').html(data.AddMore);
                        $('#txt_FeesPaid').html(data.FeesPaid);
                        $('#txt_Accept').html(data.Accept);
                        $('#txt_Enrolled').html(data.Enrolled);
                        $('#txt_Incomplete').html(data.InComplete);
                        $('#txt_InterViewed').html(data.InterView);
                        $('#txt_Entrance').html(data.InterViewEntrance);
                        var count = data.Conditional + data.Pending + data.Reject + data.AddMore + data.FeesPaid + data.Accept + data.Enrolled + data.InComplete + data.InterView + data.InterViewEntrance;
                        $('#txt_total').html(count);
                        $('.Acyear').attr('href', function () {
                            return this.href.replace('aid', year);
                        });
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '/Admission/Vacancytable',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        var row1 = ('<tr class="tr-content-email"><th class="tr-content">@ResourceCache.Localize("Class")</th><th class="tr-content">@ResourceCache.Localize("Vacancy")</th><th class="tr-content">@ResourceCache.Localize("Accept")</th><th class="tr-content">@ResourceCache.Localize("Conditionaloffer")</th><th class="tr-content">@ResourceCache.Localize("Pending")</th><th class="tr-content">@ResourceCache.Localize("AddMoreDetails")</th><th class="tr-content">@ResourceCache.Localize("Reject")</th><th class="tr-content">@ResourceCache.Localize("Enrolled")</th><th class="tr-content">@ResourceCache.Localize("AvailableSeats")</th></tr>');//('<tr class="tr-content-email"><th class="tr-content">Class</th><th class="tr-content">Vacancy</th>//
                        $("#VacancySeatTable").empty().append(row1);
                        $.each(data.vacancy, function (i, c) {
                            var bal = c.Vacancy - data.Accept[i];
                            var row = "<tr class='tr-content-email'><td>" + c.txt_class + "</td><td>" + c.Vacancy + "</td><td>" + data.Accept[i] + "</td><td>" + data.Conditional[i] + "</td><td>" + data.Pending[i] + "</td><td>" + data.AddMore[i] + "</td><td>" + data.Reject[i] + "</td><td>" + data.Enrolled[i] + "</td>//<td>" + bal + "</td></tr>";//"<tr class='tr-content-email'><td>" + c.txt_class + "</td><td>" + c.Vacancy + "</td>
                            $("#VacancySeatTable").append(row);
                        });
                    }
                });
            }
        });
        jQuery("#SelectionProcessGrid").jqGrid({
            url: "/Admission/JQgridSelectionProcess",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("AdmissionId")', '@ResourceCache.Localize("PrimaryUsername")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("ApplyClass")', '@ResourceCache.Localize("Distance")', '@ResourceCache.Localize("Sibling")', '@ResourceCache.Localize("ParentsWorkSameSchool")', '@ResourceCache.Localize("ApplicationId")', '@ResourceCache.Localize("StatusFlag")', '@ResourceCache.Localize("Source")', '@ResourceCache.Localize("Actions")'], //,'Acadmicyear','class','distance','sibling','sameschool'
            colModel: [
                   { key: true, hidden: true, name: 'ApplicationId', index: 'ApplicationId' },
                    { key: false, name: 'StudentAdmissionId', index: 'StudentAdmissionId' },
                    { key: false, name: 'PrimaryUserName', index: 'PrimaryUserName' },
                    //{ key: false, name: 'PrimaryUserName', index: 'PrimaryUserName', formatter: 'showlink', formatoptions: { baseLinkUrl: 'StudentBioData', target: '_blank' } },
                    { key: false, name: 'StuFirstName', index: 'StuFirstName' },
                     { key: false, name: 'txt_AdmissionClass', index: 'txt_AdmissionClass' },
                      { key: false, name: 'Distance', index: 'Distance' },
                       { key: false, name: 'SiblingStatus', index: 'SiblingStatus' },
                        { key: false, name: 'WorkSameSchool', index: 'WorkSameSchool' },
                        { key: true, hidden: true, name: 'ApplicationId', name: 'ApplicationId' },
                          { key: false, name: 'statusFlag', index: 'statusFlag' },
                          { key: false, name: 'ApplicationSource', index: 'ApplicationSource' },
                           { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#SelectionProcessGridPager"),
            rowList: [50,100,250,500,1000],
            // multiselect: true,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("ApplicationSelection")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            gridComplete: function () {
                var ids = jQuery("#SelectionProcessGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeCatIdId = ids[i];
                    be = '<a href="/Admission/StudentBioData?Id=' + FeeCatIdId + '"  target="_blank" title="Click to view profile">Click</a>';
                    jQuery("#SelectionProcessGrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#SelectionProcessGridPager', { edit: false, add: false, del: false, search: false,refresh:false }
           ).jqGrid('navButtonAdd', '#SelectionProcessGridPager',
           {
               caption: '@ResourceCache.Localize("Excel")',
               buttonicon: "ui-icon-bookmark",
               position: "last",
               onClickButton: function () {
                   window.location.href = "../Admission/SelectionProcess_ExportToExcel";
               }
           }).jqGrid('navButtonAdd', '#SelectionProcessGridPager',
           {
               caption:'@ResourceCache.Localize("Pdf")',
               buttonicon: "ui-icon-print",
               position: "last",
               onClickButton: function () {
                   window.location.href = "../Admission/SelectionProcess_ExportToPdf?pdf=true";
               }
           });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        jQuery("#ConditionaltableGrid").jqGrid({
            url: "/Admission/JQgridSelectionProcess",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("AdmissionId")', '@ResourceCache.Localize("PrimaryUsername")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("ApplyClass")', '@ResourceCache.Localize("Distance")', '@ResourceCache.Localize("Sibling")', '@ResourceCache.Localize("ParentsWorkSameSchool")', '@ResourceCache.Localize("ApplicationId")', '@ResourceCache.Localize("StatusFlag")', '@ResourceCache.Localize("Source")'], //,'Acadmicyear','class','distance','sibling','sameschool'
            colModel: [
                   { key: true, hidden: true, name: 'ApplicationId', index: 'ApplicationId' },
                    { key: false, name: 'StudentAdmissionId', index: 'StudentAdmissionId' },
                    { key: false, name: 'PrimaryUserName', index: 'PrimaryUserName' },
                    //{ key: false, name: 'PrimaryUserName', index: 'PrimaryUserName', formatter: 'showlink', formatoptions: { baseLinkUrl: 'StudentBioData', target: '_blank' } },
                    { key: false, name: 'StuFirstName', index: 'StuFirstName' },
                    { key: false, name: 'txt_AdmissionClass', index: 'txt_AdmissionClass' },
                     { key: false, name: 'Distance', index: 'Distance' },
                     { key: false, name: 'SiblingStatus', index: 'SiblingStatus' },
                     { key: false, name: 'WorkSameSchool', index: 'WorkSameSchool' },
                     { key: true, hidden: true, name: 'ApplicationId', name: 'ApplicationId' },
                     { key: false, name: 'statusFlag', index: 'statusFlag' },
                     { key: false, name: 'ApplicationSource', index: 'ApplicationSource' },

            ],
            pager: jQuery("#ConditionaltableGridPager"),
            rowList: [50,100,250,500,1000],
            multiselect: true,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("ApplicationSelection")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
        }).navGrid('#ConditionaltableGridPager', { edit: false, add: false, del: false, search: false, refresh: false }
   ).jqGrid('navButtonAdd', '#ConditionaltableGridPager',
   {
       caption: '@ResourceCache.Localize("Excel")',
       buttonicon: "ui-icon-bookmark",
       position: "last",
       onClickButton: function () {
           window.location.href = "../Admission/SelectionProcess_ExportToExcel";
       }
   }).jqGrid('navButtonAdd', '#ConditionaltableGridPager',
   {
       caption: '@ResourceCache.Localize("Pdf")',
       buttonicon: "ui-icon-print",
       position: "last",
       onClickButton: function () {
           window.location.href = "../Admission/SelectionProcess_ExportToPdf?pdf=true";
       }
   });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#SelectionProcessFilter').click(function (event) {
            $('#Err').hide();
            $("#jsonError").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Admission_AcademicYear') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Admission_Class') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                }
            });
            var pri = $('input[name=SelectOption]:checked').val();
            if (pri == "" || pri == null) {
                flag = 1;
                a.push('@ResourceCache.Localize("PleaseSelectAnyOption")');
            }
            if (flag == 0) {
                var year = $('#Admission_AcademicYear').val();
                var Class = $('#Admission_Class').val();
                var pri = $('input[name=SelectOption]:checked').val();
                if (year == "" || year == null || Class == "" || Class == null || pri == "" || pri == null) {
                    $('#Err').show();
                    $("#jsonError").hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Enter_all_mandatory_fields")").val("@ResourceCache.Localize("Enter_all_mandatory_fields")");
                    $('#selectiontable').hide();
                }
                else {
                    if (pri == "Selection") {
                        $('#Conditionaltable').hide();
                        var sorr = $('input[name=Sort]:checked').val();
                        if (sorr == "Pending") {
                            $('.Sort1').addClass('filterItem');
                            $('.Sort2').removeClass('filterItem');
                        }
                        else if (sorr == "All") {
                            $('.Sort1').removeClass('filterItem');
                            $('.Sort2').addClass('filterItem');
                        }
                        else {
                            $('.Sort1').removeClass('filterItem');
                            $('.Sort2').removeClass('filterItem');
                        }
                        if (sorr == "Select" || sorr == null) {
                            $("#jErrMsg").val("");
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html("@ResourceCache.Localize("Please_select_any_sort_option")").val("@ResourceCache.Localize("Please_select_any_sort_option")");
                            $('#selectiontable').hide();
                        }
                        else {
                            $('#Err').hide();
                            $('#selectiontable').show();
                            event.preventDefault();
                            SelectionProcessfilterGrid();
                        }
                    }
                    else if (pri == "Email") {
                        var flag = $('#StatusFlag').val();                      
                        if (flag == "Select" || flag == null) {
                            $("#jErrMsg").val("");
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html("@ResourceCache.Localize("Please_select_any_flag_option")").val("@ResourceCache.Localize("Please_select_any_flag_option")");
                            $('#selectiontable').hide();
                        }
                        else if (flag == "InterView&Entrance" || flag == "InterView")
                        {
                            $('#Conditionaltable').show();
                            $('#selectiontable').hide();
                            $("#jsonErrorMsg").hide();
                            event.preventDefault();
                            ConditionalfilterGrid();
                        }
                        else if (flag == "NotFeePaid") {
                            $('#Conditionaltable').show();
                            $('#selectiontable').hide();
                            $("#jsonErrorMsg").hide();
                            event.preventDefault();
                            ConditionalfilterGrid();
                        }
                            //else if (flag == "Reject") {
                            //    $('#Conditionaltable').show();
                            //    $('#selectiontable').hide();
                            //    event.preventDefault();
                            //    ConditionalfilterGrid();
                            //}
                        else {                          
                            $('#Err').hide();
                            $('#selectiontable').show();
                            $('#Conditionaltable').hide();
                            $("#jsonErrorMsg").hide();
                            event.preventDefault();
                            SelectionProcessfilterGrid();
                        }
                    }
                }
            }
            if (a.length != 0) {
                $('#selectiontable').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function SelectionProcessfilterGrid() {
            var postDataValues = $("#SelectionProcessGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#SelectionProcessGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        function ConditionalfilterGrid() {
            var postDataValues = $("#ConditionaltableGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#ConditionaltableGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        $('#Btn_Email').click(function () {
            var grid = $('#SelectionProcessGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var flag = $('#StatusFlag').val();

            if (ids.length > 0) {
                var names = [];
                for (var i = 0, il = ids.length; i < il; i++) {
                    var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                    names.push(name);
                }
                var Registers = {
                    RegId: names, SelectCount: ids.length
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/SendEmailFlag',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            else {
                $('#Err').show();
                $("#jsonError").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html("@ResourceCache.Localize("Please_select_students")").val("@ResourceCache.Localize("Please_select_students")");
            }
        });
        $('#Btn_Offered').click(function () {
            $("#Loading_Sec").addClass("loading-new");
            var a = [];
            var flag = 0;
            var grid = $('#ConditionaltableGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var des = $('#description').val();
            var lastdate = $('#FeeDatepicker').val();
            if (des == '') {
                a.push('Please enter description');
                flag = 1;
            }
            if (lastdate == '') {
                flag = 1;
                a.push("Please Select Fee Pay Last Date");
            }
            if (ids.length <= 0) {
                flag = 1;
                a.push("@ResourceCache.Localize("Please_select_students")");
            }
            if (a.length != 0 && flag == 1) {
                $('#Err').show();
                $('#FeesTable').hide();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonInfoMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                getfeestructure();
            }
        });


        $("#FeeDatepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        function getfeestructure() {
            var YearId = $('#Admission_AcademicYear').val();
            var classId = $('#Admission_Class').val();
            var value = { YearId: YearId, classId: classId }
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                type: "POST",
                url: '/Admission/GetFeestructure',
                traditional: true,
                data: value,
                success: function (data) {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $('#Err').show();
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        //sendoffer();    
                        $("#Loading_Sec").addClass("loading-new");
                        GetVacuncylist();                      
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            });
        }

        function sendoffer() {
            var grid = $('#ConditionaltableGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var flag = $('#StatusFlag').val();
            var des = $('#description').val();
            var lastdate = $('#FeeDatepicker').val();
            if (ids.length > 0) {
                var names = [];
                for (var i = 0, il = ids.length; i < il; i++) {
                    var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                    names.push(name);
                }
                var Registers = {
                    RegId: names, SelectCount: ids.length, description: des, FeePaidLastDate: lastdate
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/Offered',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            else {
                $('#Err').show();
                $("#jsonError").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html("@ResourceCache.Localize("Please_select_students")").val("@ResourceCache.Localize("Please_select_students")");
            }
        }
        function GetVacuncylist() {           
            var grid = $('#ConditionaltableGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var flag = $('#StatusFlag').val();
            var des = $('#description').val();
            if (ids.length > 0) {
                var names = [];
                for (var i = 0, il = ids.length; i < il; i++) {
                    var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                    names.push(name);
                }
                var namecount = names.length;
                var YearId = $('#Admission_AcademicYear').val();
                var classId = $('#Admission_Class').val();
                var value = { YearId: YearId, classId: classId }
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/Getconditionalofferdetails',
                    traditional: true,
                    data: value,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                            var b_vacuncy = data.balancevacuncy;
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            var b_vacuncy = parseInt(data.balancevacuncy);
                            var result = b_vacuncy - namecount;
                            if (result < 0) {
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                                return false;
                            }
                            else {
                                $("#Loading_Sec").addClass("loading-new");
                                sendoffer();
                            }
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            }
        }

        $('#Btn_Quiet').click(function () {
            var grid = $('#ConditionaltableGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var flag = $('#StatusFlag').val();
            var des = $('#description').val();
            var a = [];
            var flag = 0;
            if (des == '') {
                a.push('Please enter description');
                flag = 1;
            }
            if (ids.length <= 0) {
                flag = 1;
                a.push("@ResourceCache.Localize("Please_select_students")");
            }
            if (a.length != 0 && flag == 1) {
                $('#Err').show();
                $('#FeesTable').hide();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonInfoMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
            if (ids.length > 0) {
                var names = [];
                for (var i = 0, il = ids.length; i < il; i++) {
                    var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                    names.push(name);
                }
                var Registers = {
                    RegId: names, SelectCount: ids.length, description: des
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/ConfirmationReject',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            else {
                $('#Err').show();
                $("#jsonError").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html("@ResourceCache.Localize("Please_select_students")").val("@ResourceCache.Localize("Please_select_students")");
            }
        });
        $('#Btn_Pending').click(function () {
            var a = [];
            var flag = 0;
            var grid = $('#ConditionaltableGrid');
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            var year = $('#Admission_AcademicYear').val();
            var classs = $('#Admission_Class').val();
            var flag = $('#StatusFlag').val();
            var des = $('#description').val();
            if (des == '') {
                a.push('Please enter description');
                flag = 1;
            }
            if (ids.length <= 0) {
                flag = 1;
                a.push("@ResourceCache.Localize("Please_select_students")");
            }
            if (a.length != 0) {
                $('#Err').show();
                $('#FeesTable').hide();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonInfoMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }

            if (ids.length > 0) {
                var names = [];
                for (var i = 0, il = ids.length; i < il; i++) {
                    var name = grid.jqGrid('getCell', ids[i], 'ApplicationId');
                    names.push(name);
                }
                var Registers = {
                    RegId: names, SelectCount: ids.length, description: des
                };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/ConfirmationPending',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#Err').show();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }
            else {
                $('#Err').show();
                $("#jsonError").hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html("@ResourceCache.Localize("Please_select_students")").val("@ResourceCache.Localize("Please_select_students")");
            }
        });


        $('#Refresh').click(function () {
            $('#Err').hide();
            $("#jsonError").hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#SelectionProcessGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            $("#ConditionaltableGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        });
        $('#SelectProcess').hide();
        $('#Emailprocess').hide();
        $('#Email').hide();
        $(".SS").change(function (event) {
            var pri = $('input[name=Sort]:checked').val();
            var theText = "Select";
            if (pri == "Distance") {
                $('#distance1').show();
                $('#NoOfSbling').val(theText);
                $('#WorkSameSchool').val(theText);
                $('#StatusFlag').val(theText);
            }
            else {
                $('#distance1').hide();
            }
            if (pri == "Sibling") {
                $('#sibling1').show();
                $('#filter').val(theText);
                $('#WorkSameSchool').val(theText);
                $('#StatusFlag').val(theText);
            }
            else {
                $('#sibling1').hide();
            }
            if (pri == "Worksamschool") {
                $('#Worksamschool1').show();
                $('#FilterDistance').val(theText);
                $('#NoOfSbling').val(theText);
                $('#StatusFlag').val(theText);
            }
            else {
                $('#Worksamschool1').hide();
            }
            if (pri == "Pending") {
                $('#WorkSameSchool').val(theText);
                $('#FilterDistance').val(theText);
                $('#NoOfSbling').val(theText);
                $('#StatusFlag').val(theText);
            }
            if (pri == "All") {
                $('#WorkSameSchool').val(theText);
                $('#FilterDistance').val(theText);
                $('#NoOfSbling').val(theText);
                $('#StatusFlag').val(theText);
            }
        });
        $(".OO").change(function (event) {
            var pri = $('input[name=SelectOption]:checked').val();
            if (pri == "Selection") {
                $('#SelectProcess').show();
                $('#Emailprocess').hide();
                $('#StatusFlag').attr('selected', false);
                $('#Btn_Email').hide();
            }
            else {
                $('#FilterDistance').attr('selected', false);
                $('#NoOfSbling').attr('selected', false);
                $('#WorkSameSchool').attr('selected', false);
                $('#SelectProcess').hide();
            }
            if (pri == "Email") {
                $('#Emailprocess').show();
                $('#Email').show();
                $('#Btn_Email').show();
                $('#SelectProcess').hide();
                $('#distance1').hide();
                $('#sibling1').hide();
                $('#Worksamschool1').hide();
                $('#FilterDistance').attr('selected', false);
                $('#NoOfSbling').attr('selected', false);
                $('#WorkSameSchool').attr('selected', false);
            }
            else {
                var theText = "Select";
                $('#StatusFlag').val(theText);
                $('#StatusFlag').attr('selected', false);
                $('#Emailprocess').hide();
                $('#Btn_Email').hide();
            }
        });
        $("#SelectionProcessGrid").find('input[type=checkbox]').each(function () {
            $(this).change(function () {
                var colid = $(this).parents('tr:last').attr('id');
                if ($(this).is(':checked')) {
                    $("#SelectionProcessGrid").jqGrid('setSelection', colid);
                    $(this).prop('checked', true);
                }
                return true;
            });
        });
        $('#Enrolled').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Enrolled";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Conditional').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Conditionaloffer";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Pending').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Pending";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Reject').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Reject";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#AddMore').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "AddMore";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Accepted').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Accepted";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();              
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Incomplete').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Incomplete";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#FeesPaid').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "FeesPaid";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Enrolled').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "Enrolled";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#InterViewed').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "InterView";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        $('#Entrance').click(function (event) {
            var year = $('#Admission_AcademicYear').val();
            var flag = "InterView&Entrance";
            if (year != null && flag != "") {
                $('#Err').hide();
                $('#StatusFlagDetailsList_Sec').show();
                $('#Flagtable').show();
                var yy = $('#Admission_AcademicYear option:selected').text();
                jQuery("label[for='AcyearId']").html(yy);
                jQuery("label[for='Status']").html(flag);
                $("#AcyearId").val(yy);
                $("#Status_flag").val(flag);
                event.preventDefault();
                StatusFlagListfilterGrid();
                $('html, body').animate({
                    scrollTop: $("#StatusFlagDetailsList_Sec").offset().top
                }, -1000);
            }
        });
        function StatusFlagListfilterGrid() {
            var postDataValues = $("#FlagdatalistGrids").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#FlagdatalistGrids').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        jQuery("#FlagdatalistGrids").jqGrid({
            url: "/Admission/StatusFlagApplicationList",
            datatype: 'json',
            mtype: 'Get',
            //  postData: { AcyearId: year, StatusFlag: flag },
            colNames: ['@ResourceCache.Localize("StudentAdmissionId")', '@ResourceCache.Localize("PrimaryUsername")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("ApplyClass")', '@ResourceCache.Localize("Distance")', '@ResourceCache.Localize("Sibling")', '@ResourceCache.Localize("ParentsWorkSameSchool")', '@ResourceCache.Localize("ApplicationId")', '@ResourceCache.Localize("StatusFlag")', '@ResourceCache.Localize("ApplicationSource")'], //,'Acadmicyear','class','distance','sibling','sameschool'
            colModel: [
                    { key: false, name: 'StudentAdmissionId', index: 'StudentAdmissionId' },
                    { key: false, name: 'PrimaryUserName', index: 'PrimaryUserName' },
                    { key: false, name: 'StuFirstName', index: 'StuFirstName' },
                     { key: false, name: 'txt_AdmissionClass', index: 'txt_AdmissionClass' },
                      { key: false, name: 'Distance', index: 'Distance' },
                       { key: false, name: 'SiblingStatus', index: 'SiblingStatus' },
                        { key: false, name: 'WorkSameSchool', index: 'WorkSameSchool' },
                        { key: true, hidden: true, name: 'ApplicationId', name: 'ApplicationId' },
                          { key: false, name: 'statusFlag', index: 'statusFlag' },
                          { key: false, name: 'ApplicationSource', index: 'ApplicationSource' },
            ],
            pager: jQuery("#FlagdatalistGridsPager"),
            rowList: [50,100, 250,500,1000],
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("StudentList")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
        }).navGrid('#FlagdatalistGridsPager', { edit: false, add: false, del: false, search: false,refresh:false }//);
        ).jqGrid('navButtonAdd', '#FlagdatalistGridsPager',
        {
            caption:'@ResourceCache.Localize("Excel")',
            buttonicon: "ui-icon-bookmark",
            position: "last",
            onClickButton: function () {
                window.location.href = "../Admission/StatusFlagDatalist_ExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#FlagdatalistGridsPager',
         {
             caption:'@ResourceCache.Localize("Pdf")',
             buttonicon: "ui-icon-bookmark",
             position: "last",
             onClickButton: function () {
                 window.location.href = "../Admission/StatusFlagDatalist_ExportToPdf?pdf=true";
             }
         });
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif"/>')
    });
    </script>
}