﻿@{
    Layout = null;
}
@using eAcademy.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ResourceCache.Localize("StatusFlagDataList")</title>
    <link rel="icon" href="http://acestranetworks.com/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/plugins/plugin.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/chosen.css">
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/metismenu.min.css" rel="stylesheet" />
    <script src="~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-6 table-content-margin">
                <div class="col-lg-4">
                    <label>@ResourceCache.Localize("AcademicYear")</label>
                </div>
                <div class="col-lg-3">
                    <input type="hidden" id="AcyearId" name="AcyearId" value="@ViewBag.yearid" class="filterItem" readonly />
                    <input type="Text" value="@ViewBag.yy" class="filterItem" readonly />
                </div>
            </div>
            <div class="col-lg-6 table-content-margin">
                <div class="col-lg-4">
                    <label> @ResourceCache.Localize("StatusFlag")</label>
                </div>
                <div class="col-lg-3">
                    <input type="Text" id="StatusFlag" name="StatusFlag" value="@ViewBag.flag" class="filterItem" readonly />
                </div>
            </div>
        </div>
        <div class="row col-lg-12" id="show">
            <table class="col-lg-12" id="FlagdatalistGrid"></table>
            <div id="pager"></div>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/jquery-ui1.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
    $(document).ready(function () {
        var year = $('#AcyearId').val();
        var flag = $('#StatusFlag').val();
        if (year != null && flag != "") {
            jQuery("#FlagdatalistGrid1").jqGrid({
                url: "/Admission/StatusFlagApplicationList",
                datatype: 'json',
                mtype: 'Get',
                postData: { AcyearId: year, StatusFlag: flag },
                colNames: ['@ResourceCache.Localize("StudentAdmissionId")', '@ResourceCache.Localize("PrimaryUsername")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("ApplyClass")', '@ResourceCache.Localize("Distance")', '@ResourceCache.Localize("Sibling")', '@ResourceCache.Localize("ParentsWorkSameSchool")', '@ResourceCache.Localize("ApplicationId")', '@ResourceCache.Localize("StatusFlag")', '@ResourceCache.Localize("ApplicationSource")'], //,'Acadmicyear','class','distance','sibling','sameschool'
                colModel: [
                        { key: false, name: 'StudentAdmissionId', index: 'StudentAdmissionId' },
                        { key: false, name: 'PrimaryUserName', index: 'PrimaryUserName' },
                        { key: false, name: 'StuFirstName', index: 'StuFirstName' },
                         { key: false, name: 'txt_AdmissionClass', index: 'txt_AdmissionClass' },
                          { key: false, name: 'Distance', index: 'Distance' },
                           { key: false, name: 'SiblingStatus', index: 'SiblingStatus' },
                            { key: false, name: 'WorkSameSchool', index: 'WorkSameSchool' },
                            { key: true, hidden: true, name: 'ApplicationId', name: 'ApplicationId' },
                              { key: false, name: 'statusFlag', index: 'statusFlag' },
                              { key: false, name: 'ApplicationSource', index: 'ApplicationSource' },
                ],
                pager: jQuery("#pager"),
                rowNum: 10,
                rowList: [10, 20, 30, 40],
                height: '100%',
                viewrecords: true,
                caption: '@ResourceCache.Localize("StudentList")',
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
            }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: true }
              ).jqGrid('navButtonAdd', '#pager',
              {
                  caption: '@ResourceCache.Localize("Excel")',
                  buttonicon: "ui-icon-bookmark",
                  position: "last",
                  onClickButton: function () {
                      window.location.href = "../Admission/StatusFlagDatalist_ExportToExcel";
                  }
              }).jqGrid('navButtonAdd', '#pager',
               {
                   caption: '@ResourceCache.Localize("Pdf")',
                   buttonicon: "ui-icon-bookmark",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../Admission/StatusFlagDatalist_ExportToPdf?pdf=true";
                   }
               });
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
                function SelectionProcessExportDataToExcel(tableCtrl) {
                    //  Export the data from our jqGrid into a "real" Excel 2007 file
                    ExportJQGridDataToExcel(tableCtrl, "StudentList.xlsx");
                }
            }
        });
    </script>
</body>
</html>