﻿@model IEnumerable<eAcademy.Models.M_StudentRegisteration>
@using eAcademy.Models
@{
    ViewBag.Title = "StudentBioData";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
<style type="text/css">
    li.table-content-margin {
        margin-top: 30px;
    }

    ul li {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    textarea {
        padding: 3px;
        width: 103%;
        height: 191px;
    }
    td {
        padding-top: 20px;
        padding-bottom: 20PX;
        padding-left: 15px;
        WIDTH: 533px;
        font-size: 14px;
        font-weight: 500;
    }

    th {
        width: 166px;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 600;
    }

    .forms {
        width: 100%;
    }

    .forms1 {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        width: 40%;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        float: left;
    }

    .forms2 {
        padding-top: 20px;
        padding-left: 15px;
        font-size: 14px;
        padding-right: 15px;
        width: 60%;
        position: relative;
        float: left;
    }

    #img1 {
        width: 99px;
        height: 118px;
    }
</style>
<div class="main-tab-form2">
    <section id="intro">
        <div class="main ">
            <div class="main-inner">
                <div class="col-sm-12">
                    <div class="row">
                        <div class=" col-lg-12 col-lg-offset-0 span12">
                            <div class="widget ">
                                <div class="widget-header">
                                    <i id="1" class="fa fa-child fa-2x"></i>
                                    <h3>@ResourceCache.Localize("Candidate_Bio_Data")</h3>
                                </div> <!-- /widget-header -->
                                <div class="widget-content">
                                    <div class="tabbable">
                                        <br>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="jscontrols">
                                                <form action="@Url.Action("Admission","StudentBioData")" method="post">
                                                    <fieldset id="fieldset-border">
                                                        <div id="show" class=" col-lg-offset-0 col-lg-12">
                                                            <div class="pull-right">
                                                                <img id="img1" src="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().StudentPhoto.ToString()">
                                                            </div>
                                                            <div class="col-xs-10 ">
                                                                <div class="">
                                                                    <input type="hidden" id="Stuadmissionid" name="Stuadmissionid" value="@Model.FirstOrDefault().Stuadmissionid">
                                                                    <input type="hidden" id="PrimaryUserName" name="PrimaryUserName" value="@Model.FirstOrDefault().PrimaryUser">
                                                                    <input type="hidden" id="PrimaryuserEmail" name="PrimaryuserEmail" value="@Model.FirstOrDefault().primaryUserEmail">
                                                                    <input type="hidden" id="StudentName" name="StudentName" value="@Model.FirstOrDefault().StuFirstName" />
                                                                    <input type="hidden" id="ApplyClass" name="ApplyClass" value="@Model.FirstOrDefault().AdmissionClass" />
                                                                    <input type="hidden" id="txt_class" name="txt_class" value="@Model.FirstOrDefault().txt_ApplyClass" />
                                                                    <input type="hidden" id="AcyearId" name="AcyearId" value="@Model.FirstOrDefault().AcademicyearId" />
                                                                    <input type="hidden" id="txt_academicyear" name="txt_academicyear" value="@Model.FirstOrDefault().txt_academicyear" />
                                                                    <input type="hidden" id="SiblingCount" name="SiblingCount" value="@Model.FirstOrDefault().NoOfSbling" />
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="margin-content3">
                                                                        <center><h3><b>@ResourceCache.Localize("StudentDetails")</b></h3></center>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("FirstName")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().StuFirstName</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("MiddleName")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().StuMiddlename</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("LastName")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().StuLastname</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Gender")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().Gender</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("DateOfBirth")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_dob</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("PlaceOfBirth")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PlaceOfBirth</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Community")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_community</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Religion")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().Religion</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Nationality")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().Nationality</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("ClassForAdmission")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_ApplyClass</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("AcademicYear")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_academicyear</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("BloodGroup")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_bloodgroup</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Height")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().Height</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Weight")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().Weights</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("IdentificationMark")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().IdentificationMark</div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="margin-content3">
                                                                        <center><h3><b>@ResourceCache.Localize("ParentsDetails")</b></h3></center>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("ThePrimaryUser")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PrimaryUser</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("FatherFirstName")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().FatherFirstName</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Father_Last_Name")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherLastName</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("FatherDOB")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_Fatherdob</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Father_Qualification")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().FatherQualification</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("FatherOccupation")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().FatherOccupation</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Father_Mobile_Number")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().FatherMobileNo</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Father_Email_Address")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().FatherEmail</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("MotherFirstName")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherFirstname</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Mother_Last_Name")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherLastName</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("MotherDOB")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_Motherdob</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Mother_Qualification")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherQualification</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("MotherOccupation")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherOccupation</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Mother_Mobile_Number")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherMobileNo</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Mother_Email_Address")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().MotherEmail</div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="margin-content3">
                                                                        <center><h3><b>@ResourceCache.Localize("WorkDetails")</b></h3></center>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("CompanyName")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().UserCompanyname</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("Office_Contact_Number")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().CompanyContact</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("AddressLine1")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().CompanyAddress1</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("AddressLine2")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().CompanyAddress2</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("City")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().CompanyCity</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("State")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().CompanyState</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Country")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_ComCountry</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("PostalCode")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().CompanyPostelcode</div>
                                                                </div>
                                                                @if (Model.FirstOrDefault().GuardianRequried == "Yes")
                                                                {
                                                                    <div class="row ">
                                                                        <div class="margin-content3">
                                                                            <center><h3><b>@ResourceCache.Localize("Guardiandetails")</b></h3></center>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("GuardianFirstName")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianFirstname</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("Guardian_Last_Name")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianLastName</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("GuardianDOB")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().txt_Guardiandob</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Gender")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianGender</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Qualification")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianQualification</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("MobileNumber")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianMobileNo</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("EmailAddress")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianEmail</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Occupation")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianOccupation</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("AnnualIncome")</div>
                                                                        <div class="forms2">@Model.FirstOrDefault().GuardianIncome</div>
                                                                    </div>
                                                                }
                                                                <div class="row ">
                                                                    <div class="margin-content3">
                                                                        <center><h3><b>@ResourceCache.Localize("CommunicationDetails")</b></h3></center>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label id="5">@ResourceCache.Localize("MailingAddress")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("AddressLine1")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().LocAddress1</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("AddressLine2")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().LocAddress2</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("City")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().LocCity</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("State")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().LocState</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Country")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_LocCountry</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("PostalCode")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().LocPostelcode</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Distance")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().Distance</div>
                                                                </div>
                                                                <div class="row forms margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label id="5">@ResourceCache.Localize("PermenantAddress")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("AddressLine1") </div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PerAddress1</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("AddressLine2") </div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PerAddress2</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("City")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PerCity</div>
                                                                </div>
                                                                <div class="row forms ">
                                                                    <div class=" forms1">@ResourceCache.Localize("State")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PerState</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Country")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().txt_PerCountry</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("PostalCode")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().PerPostelcode</div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="margin-content3">
                                                                        <center><h3><b>@ResourceCache.Localize("Emergency_Contact_Person_Details")</b></h3></center>
                                                                    </div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Name")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().EmergencyContactPersonName</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("RelationshipToStudent")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().ContactPersonRelationship</div>
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("ContactNumber")</div>
                                                                    <div class="forms2">@Model.FirstOrDefault().EmergencyContactNumber</div>
                                                                </div><div id="PreviousSchool">
                                                                </div>
                                                                @{
                                                                    var id = Model.FirstOrDefault().NoOfSbling;
                                                                    <input type="text" id="siblings_pdf" name="siblings_pdf" value="@Model.FirstOrDefault().NoOfSbling" style="display:none">
                                                                    <input type="text" id="Onlineregid" name="Onlineregid" value="@Model.FirstOrDefault().OnlineRegid" style="display:none">
                                                                    <input type="text" id="stuAdmissionId" name="stuAdmissionId" value="@Model.FirstOrDefault().Stuadmissionid" style="display:none">
                                                                    <div class="row forms margin-content3">
                                                                        <div class="forms1">
                                                                            @ResourceCache.Localize("No.Of_Sibling_Studying_In_This_School")
                                                                        </div>
                                                                        <div class="forms2">
                                                                            <label><b>@Model.FirstOrDefault().NoOfSbling</b></label>
                                                                        </div>
                                                                    </div>
                                                                    if (id != 0 && id != null)
                                                                    {
                                                                        <div class="row ">
                                                                            <div class="margin-content3">
                                                                                <center><h3><b>@ResourceCache.Localize("SibilingDetails")</b></h3></center>
                                                                            </div>
                                                                        </div>
                                                                        <input type="text" id="Onlineregid" name="Onlineregid" value="@Model.FirstOrDefault().OnlineRegid" style="display:none">
                                                                        <input type="text" id="stuAdmissionId" name="stuAdmissionId" value="@Model.FirstOrDefault().Stuadmissionid" style="display:none">
                                                                        <div class="col-md-12 margin-content3 table-responsive">
                                                                            <table class="table table-bordered table-hover table-sortable" id="Siblingtable_Pdf">
                                                                                <tbody>
                                                                                    <tr class="padding-right-content">
                                                                                        <th class="text-center">@ResourceCache.Localize("SibilingDetails")</th>
                                                                                        <th class="text-center">@ResourceCache.Localize("StudentId")</th>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    }
                                                                    var work = Model.FirstOrDefault().WorkSameSchool;
                                                                    if (work == "Yes")
                                                                    {
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("Parents_Work_in_this_institute")</div>
                                                                            <div class="forms2">@ResourceCache.Localize("Yes")</div>
                                                                        </div>
                                                                    }
                                                                    else if (work == "No")
                                                                    {
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("Parents_Work_in_this_institute")</div>
                                                                            <div class="forms2">@ResourceCache.Localize("No")</div>
                                                                        </div>
                                                                    }
                                                                }

                                                                <div class="row forms">
                                                                    <div class=" forms1">
                                                                        @ResourceCache.Localize("Communication")
                                                                    </div>
                                                                    @if ((ViewBag.Email == true && ViewBag.Sms == true && ViewBag.App == true) || (ViewBag.Email == true && ViewBag.Sms == true) || (ViewBag.Sms == true && ViewBag.App == true))
                                                                    {
                                                                        <div class="forms2">
                                                                            @if (Model.FirstOrDefault().SmsRequired == true && Model.FirstOrDefault().EmailRequired == true)
                                                                            {

                                                                               @ResourceCache.Localize("Email") @ResourceCache.Localize("SMS")
                                                                            }
                                                                            else if (Model.FirstOrDefault().EmailRequired == true)
                                                                            {
                                                                                @ResourceCache.Localize("Email")
                                                                            }
                                                                            else if (Model.FirstOrDefault().SmsRequired == true)
                                                                            {
                                                                                @ResourceCache.Localize("SMS")
                                                                            }

                                                                        </div>
                                                                    }
                                                                    else if (ViewBag.Email == true || ViewBag.App == true)
                                                                    {
                                                                        <div class="forms2">
                                                                            @ResourceCache.Localize("Email")
                                                                        </div>
                                                                    }
                                                                    else if (ViewBag.Sms == true)
                                                                    {
                                                                        <div class="forms2">
                                                                          @ResourceCache.Localize("SMS")
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Transport_Requied")</div>
                                                                    @if (Model.FirstOrDefault().TransportRequired == true)
                                                                    {
                                                                        <div class="forms2">@ResourceCache.Localize("Yes")</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="forms2">@ResourceCache.Localize("No")</div>
                                                                    }

                                                                </div>

                                                                @if (Model.FirstOrDefault().TransportRequired == true)
                                                                {
                                                                    <div class="col-md-12 margin-content3 table-responsive">
                                                                        <table class="table table-bordered table-hover table-sortable">
                                                                            <tbody>
                                                                                <tr class="padding-right-content">
                                                                                    <th class="text-center">@ResourceCache.Localize("Destination")</th>
                                                                                    <th class="text-center">@ResourceCache.Localize("PickPoint")</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>@ViewBag.TransportDestination</td>
                                                                                    <td>@ViewBag.TransportPickpoint</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                }
                                                                <div class="row forms">
                                                                    <div class=" forms1">@ResourceCache.Localize("Hostel_Required")</div>
                                                                    @if (Model.FirstOrDefault().HostelRequired == true)
                                                                    {

                                                                        <div class="forms2">@ResourceCache.Localize("Yes")</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="forms2">@ResourceCache.Localize("No")</div>
                                                                    }
                                                                </div>
                                                                @if (Model.FirstOrDefault().HostelRequired == true)
                                                                {
                                                                    <div class="col-md-12 margin-content3 table-responsive">
                                                                        <table class="table table-bordered table-hover table-sortable">
                                                                            <tbody>
                                                                                <tr class="padding-right-content">
                                                                                    <th class="text-center">@ResourceCache.Localize("Cap_FEECATEGORY")</th>
                                                                                    <th class="text-center">@ResourceCache.Localize("Sub_fee_category")</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>@ResourceCache.Localize("Food")</td>
                                                                                    <td>@ViewBag.FoodSubCategory</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>@ResourceCache.Localize("Accomodation")</td>
                                                                                    <td>@ViewBag.AccomSubCategory</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                }
                                                                @{
                                                                    <div class="row ">
                                                                        <div class="margin-content3">
                                                                            <center><h3><b>@ResourceCache.Localize("Upload_Certificate_Details")</b></h3></center>
                                                                        </div>
                                                                    </div>
                                                                    if (Model.FirstOrDefault().BirthCertificate != null)
                                                                    {
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("BirthCertificate")</div>
                                                                            <div class="forms2">
                                                                                <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().BirthCertificate.ToString()">@ResourceCache.Localize("Click_to_view_birth_certificate")</a>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    if (Model.FirstOrDefault().CommunityCertificate != null)
                                                                    {
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("CC")</div>
                                                                            <div class="forms2">
                                                                                <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().CommunityCertificate.ToString()" target="_blank">@ResourceCache.Localize("Click_to_view_community_certificate")</a>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    if (Model.FirstOrDefault().IncomeCertificate != null)
                                                                    {
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("IncomeCertificate")</div>
                                                                            <div class="forms2">
                                                                                <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().IncomeCertificate.ToString()" target="_blank">@ResourceCache.Localize("Click_to_view_income_certificate")</a>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    if (Model.FirstOrDefault().TransferCertificate != null)
                                                                    {
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("TC")</div>
                                                                            <div class="forms2">
                                                                                <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().TransferCertificate.ToString()" target="_blank">@ResourceCache.Localize("Click_to_view_transfer_certificate")</a>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                                @{
                                                                    var ss = Model.FirstOrDefault().txt_ApplyClass;
                                                                    if (ss != "PreKG")
                                                                    {
                                                                        <div id="PreviousSchool">
                                                                            <div class="row col-lg-12 margin-content6">
                                                                                <div class="col-lg-2">
                                                                                    <label>@ResourceCache.Localize("PreviousSchoolInformation")</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row col-lg-12 margin-content6">
                                                                                <div class="">
                                                                                    <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                                                                        <tbody>
                                                                                            <tr class="">
                                                                                                <th class="text-center">@ResourceCache.Localize("SchoolName")</th>
                                                                                                <th class="text-center">@ResourceCache.Localize("Medium")</th>
                                                                                                <th class="text-center">@ResourceCache.Localize("Class")</th>                                                                                                
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="text" id="Txt_PreSchoolName" name="Txt_PreSchoolName" value="@Model.FirstOrDefault().PreSchool"></td>
                                                                                                <td><input type="text" id="Txt_PreMedium" name="Txt_PreMedium" value="@ViewBag.previousBoardtxt"></td>
                                                                                                <td><input type="text" id="Txt_PreClass" name="Txt_PreClass" value="@ViewBag.previousclass_text"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="widget box-solid bg-teal-gradient">
                                                                    <div class="box-header bg-light-gray">
                                                                        <h3 class="subHeading"><i class="fa fa-cogs fa-1x"></i>
                                                                            @ResourceCache.Localize("Action_To_Be_Taken") </h3>
                                                                    </div>
                                                                    <div class="box-body row border-radius-none  ">                                                                     
                                                                            <div class="col-lg-6">
                                                                                <span><b>Select Status Flag</b></span>
                                                                                <ul>
                                                                                    <li class="table-content-margin ">
                                                                                        <div class="col-xs-6">
                                                                                            <input type="radio" name="StatusFlag" value="InterView&Entrance">
                                                                                            @ResourceCache.Localize("InterView&Entrance")
                                                                                        </div>
                                                                                        <div class="col-xs-6">
                                                                                            <input class="col-lg-offset-1" type="radio" name="StatusFlag" value="InterView">
                                                                                            @ResourceCache.Localize("InterView")
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="table-content-margin ">
                                                                                        <div class="col-xs-6">
                                                                                            <input class="col-lg-offset-1" type="radio" name="StatusFlag" value="AddMore">@ResourceCache.Localize("AddMoreDetails")
                                                                                        </div>
                                                                                        <div class="col-xs-6">
                                                                                            <input class="col-lg-offset-1" type="radio" name="StatusFlag" value="Pending">
                                                                                            @ResourceCache.Localize("Waiting_List")
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="table-content-margin ">
                                                                                        <div class="col-xs-6">
                                                                                            <input type="radio" name="StatusFlag" value="Conditionaloffer">@ResourceCache.Localize("Conditionaloffer")
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="table-content-margin ">
                                                                                        <div class="col-xs-6">
                                                                                            <input type="radio" name="StatusFlag" value="Reject">@ResourceCache.Localize("Quiet")
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div id="feedatepickerdiv" style="display:none">
                                                                                <div class="col-md-4">
                                                                                    <label class="input-label-sm">@ResourceCache.Localize("PleaseSelectDateforFeePayLastDate")<span class="mandatory">*</span></label>
                                                                                    <input id='FeeDatepicker' name="FeeDatepicker" placeholder="LastDate" readonly="" type="text" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6" style="margin-bottom: 20px;">
                                                                                <div>
                                                                                    @ResourceCache.Localize("Description")<span class="glyphicon glyphicon-asterisk"></span>
                                                                                    <textarea class="textarea2 formdash" id="Descriptions" name="Descriptions" placeholder="@ResourceCache.Localize("Description")" maxlength=" 250"></textarea>
                                                                                    <span id="chars">250</span>@ResourceCache.Localize("CharactersRemaining")
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>                                                                   
                                                                </div>
                                                        </div>
                                                        <div class="row col-lg-12">
                                                            <div class="col-lg-6">
                                                                <input type="button" id="UpdateApplicationStatus" name="UpdateApplicationStatus" class="btn btn-success" value="@ResourceCache.Localize("Save")">
                                                            </div>
                                                            <div class="col-lg-6" id="Emailbutton" style="display:none;">
                                                                <input type="button" id="SendEmail" name="SendEmail" class="btn btn-success pull-right" value="@ResourceCache.Localize("SendEmail")">
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                                <div class="row col-lg-12">
                                                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /widget-content -->
                    </div> <!-- /widget -->
                </div> <!-- /span8 -->
            </div> <!-- /row -->
        </div> <!-- /container -->
    </section>
</div> <!-- /main-inner -->
<!--.footer-->
@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
            });
            var cc = $('#SiblingCount').val();
            if (cc != 0) {
                var stuid = $('#stuAdmissionId').val();
                if (stuid != null) {
                    var ss = {
                        Stuadmissionid: stuid // OnlineRegid: OnlineRegid,
                    }
                    $.ajax({
                        type: "POST",
                        url: '/OnlineRegister/GetSibling',
                        data: ss,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            else {
                                $.each(data, function (i, c) {
                                    var row = ('<tr id="rowCount' + i + '"><td><input style="margin-top: 15px;"  readonly  type="text" value="' + c.StudentRegId + '" /></td><td><input style="  margin-top: 15px;" readonly type="text"  value="' + c.StudentID + '"/></td></tr>')
                                    $("#Siblingtable_Pdf").append(row);
                                    count++;
                                });
                            }
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                            alert("Critical Error!. Failed to call the server.");
                        }
                    });
                }
            }
            var classid = $('#ApplyClass').val();
            if (classid == 1 || classid == "") {
                $('#PreviousSchool2').hide();
            }
            else if (classid != 1) {
                $('#PreviousSchool2').show();
            }
            $('#UpdateApplicationStatus').click(function () {
                GetVacuncylist();
                //getfeestructure();
            });
            function updatestatusflag() {
                var StatusFlag = $('input[name=StatusFlag]:checked').val();
                var Descriptions = $('#Descriptions').val();
                var id = $('#Stuadmissionid').val();
                var yearid = $('#AcyearId').val();
                var classid = $('#ApplyClass').val();
                var lastdate = $('#FeeDatepicker').val();
                if (StatusFlag == "Conditionaloffer") {
                    if (lastdate == '') {
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html("Please Select Fee Pay Last Date").val("Please Select Fee Pay Last Date");
                        return false;
                    }
                }
                else {
                    $("#feedatepickerdiv").hide();
                    lastdate = null;
                }
                var Selection = {
                    StatusFlag: StatusFlag, Descriptions: Descriptions, Stuadmissionid: id, AcademicYearId: yearid, Classid: classid,FeePaidLastDate:lastdate
                }
                $.ajax({
                    type: "POST",
                    url: '/Admission/UpdateStatusFlag',
                    data: Selection,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#divStudent").hide();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                $('#Emailbutton').show();
                                $("#divStudent").hide();
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#divStudent").hide();
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            }
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
            }

            function getfeestructure() {
                var StatusFlag = $('input[name=StatusFlag]:checked').val();
                if (StatusFlag == "Conditionaloffer") {
                    var YearId = $('#AcyearId').val();
                    var classId = $('#ApplyClass').val();
                    var value = { YearId: YearId, classId: classId }
                    $.ajax({
                        type: "POST",
                        url: '/Admission/GetFeestructure',
                        traditional: true,
                        data: value,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#Err').show();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                updatestatusflag();
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    });
                }
                else {
                    updatestatusflag();
                }
            }

            $('input:radio[name="StatusFlag"]').change(function () {
                if ($(this).is(':checked') && $(this).val() == 'Conditionaloffer') {
                    $("#feedatepickerdiv").show();
                }
                else {
                    $("#feedatepickerdiv").hide();
                }
            });
            $("#FeeDatepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                minDate:0
            });
            function GetVacuncylist() {
                var StatusFlag = $('input[name=StatusFlag]:checked').val();
                if (StatusFlag == "Conditionaloffer") {
                    var YearId = $('#AcyearId').val();
                    var classId = $('#ApplyClass').val();
                    var value = { YearId: YearId, classId: classId }
                    $.ajax({
                        type: "POST",
                        url: '/Admission/Getconditionalofferdetails',
                        traditional: true,
                        data: value,
                        success: function (data) {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $('#Err').show();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            if (data.Message != "" && data.Message != null) {
                                getfeestructure();
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    });
                }
                else {
                    $("#feedatepickerdiv").hide();
                    updatestatusflag();
                }
            }

            $('#SendEmail').click(function () {
                var StatusFlag = $('input[name=StatusFlag]:checked').val();
                var Descriptions = $('#Descriptions').val();
                var Useremail = $('#PrimaryuserEmail').val();
                var Username = $('#PrimaryUserName').val();
                var id = $('#stuAdmissionId').val();
                var sname = $('#StudentName').val();
                var applyclass = $('#ApplyClass').val();
                var AcyearId = $('#AcyearId').val();
                var txt_class = $('#txt_class').val();
                var txt_Academicyear = $('#txt_academicyear').val();
                var lastdate = $('#FeeDatepicker').val();
                if (StatusFlag == "Conditionaloffer") {
                    if (lastdate == '') {
                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html("Please Select Fee Pay Last Date").val("Please Select Fee Pay Last Date");
                        return false;
                    }
                }
                else {
                    lastdate = null;
                }
                var Selection = {
                    StatusFlag: StatusFlag, Descriptions: Descriptions, StudentAdmissionId: id, PrimaryuserEmail: Useremail, PrimaryUserName: Username, StudentName: sname, ApplyClass: applyclass, AcyearId: AcyearId, txt_ApplyClass: txt_class, txt_Academicyear: txt_Academicyear,feepaylastdate:lastdate
                }
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Admission/Email',
                    data: Selection,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#divStudent").hide();
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $('#Emailbutton').hide();
                                $("#divStudent").hide();
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#divStudent").hide();
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                        alert("Critical Error!. Failed to call the server.");
                    }
                });
                //}
            });
        });
    </script>
}