﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.RollNumberList>
@{
    ViewBag.Title = "Format RollNumber";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-4 pull-right" id="idSection_updateAcademic" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_Roll_number_Format")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditMarkDetails", "MarkConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="hidden_format" name="hidden_format" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcdemicYear")</label></div>
                            <div><input class="col-lg-12" id="acYear_Roll1" name="acYear_Roll1" type="text" title="@ResourceCache.Localize("AcademicYear")" readonly /></div>
                            <input type="hidden" id="acYearId_Roll" name="acYearId_Roll" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label></div>
                            <div><input class="col-lg-12" id="class_Roll1" name="class_Roll1" type="text" title="@ResourceCache.Localize("Class")" readonly /></div>
                            <input type="hidden" id="classId_Roll1" name="classId_Roll1" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label></div>
                            <div><input class="col-lg-12" id="Section_Roll1" name="Section_Roll1" type="text" title="@ResourceCache.Localize("Section")" readonly /></div>
                            <input type="hidden" id="SectionId_Roll1" name="SectionId_Roll1" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("RollNumberFormat")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" id="txt_rollNumber1" name="txt_rollNumber1" type="text" required placeholder="@ResourceCache.Localize("RollNumberFormat")" title="@ResourceCache.Localize("RollNumberFormat")" maxlength="10" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdateFormat" name="btnUpdateFormat" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm  btn_cancel" id="btncancel_updateAcademic" name="btncancel_updateAcademic" title="Cancel"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class=" col-xs-12 col-sm-12 col-md-4  pull-right" id="idSection_addAcademic">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_RollNumber_Format")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("AddRollNumber", "RollNumberManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div>
                                @Html.DropDownList("acYear_Roll", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div>@Html.DropDownList("class_Roll", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "current_button" })</div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk "></span></div>
                            <div> @Html.DropDownList("Section_Roll", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button" })</div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("RollNumber")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div>
                                <input class="col-lg-12 current_button" id="txt_rollNumber" name="txt_rollNumber" type="text" required placeholder="@ResourceCache.Localize("RollNumberFormat")" title="@ResourceCache.Localize("RollNumberFormat")" maxlength="10" />
                            </div>
                        </div>
                    </div>
                                  <!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddFormat" name="btnAddFormat" title="Add"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8 ">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageRollNumberFormat")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                <div class="box-body">
                    <div class="col-lg-6">
                        <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>
                            @*<input class="col-lg-12 filterItem" type="text" id="yr_search" name="yr_search" placeholder="Academic Year" title="Academic Year" required="required" />*@
                            @Html.DropDownList("yr_search", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="filterBtn" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div>
                <div class="col-lg-12" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_rollNumber").filter_input({ regex: '[0-9A-Za-z \\.\\-\\#]' });
    $("#txt_rollNumber1").filter_input({ regex: '[0-9A-Za-z \\.\\-\\#]' });
    $(function () {
        $('#yr_search').val(@Session["CurrentAcYearId"]);
        $('#acYear_Roll').val(@Session["CurrentAcYearId"]);
        getclass()
        $('#yr_search').change(function (event) {
            event.preventDefault();
            var YearId = $('#yr_search').val();
            AssignAcademicYear(YearId);


            $('#acYear_Roll').val(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $('#acYear_Roll').change(function (event) {
            event.preventDefault();
            var YearId = $('#acYear_Roll').val();
            AssignAcademicYear(YearId);

            $('#yr_search').val(YearId);
        });

        $("#class_Roll").change(function () {

            var cid = $("#class_Roll").val();

            $("#Section_Roll").empty().append('<option value>Select Section</option>');


            $.getJSON('/RollNumberManagement/getSection', { cid: cid },

            function (data) {
                $("#Section_Roll").empty().append('<option value>Select Section</option>');
                $.each(data, function (i, c) {
                    $("#Section_Roll").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });
        });
        function getclass()
        {
            $("#class_Roll").empty().append('<option value >@ResourceCache.Localize("SelectClass")</option>');
            $("#Section_Roll").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
            $("#Subjects").empty().append('<option value>@ResourceCache.Localize("SelectSubject")</option>');

            $.getJSON('/RollNumberManagement/getClass',

           function (data) {
               console.log("hi");
               $("#class_Roll").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
               $.each(data, function (i, c) {
                   $("#class_Roll").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
        }
        $("#class_Roll").change(function () {

            var cid = $("#class_Roll").val();

            $("#Section_Roll").empty().append('<option value>Select Section</option>');


            $.getJSON('/RollNumberManagement/getSection', { cid: cid },

            function (data) {
                $("#Section_Roll").empty().append('<option value>Select Section</option>');
                $.each(data, function (i, c) {
                    $("#Section_Roll").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });
        });
        var AcademicYearId;
        jQuery("#grid1").jqGrid({
            url: "/RollNumberManagement/FormatRollNumberList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("FormatId")', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class/Section")', '@ResourceCache.Localize("RollNumberFormat")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'FormatId', index: 'FormatId' },
                { key: false, name: 'AcademicYear', index: 'AcademicYear', editable: true },
                { key: false, name: 'ClassSection', index: 'ClassSection', editable: true },
                { key: false, name: 'RollNumberFormat', index: 'RollNumberFormat', editable: true },
                 { key: false, name: 'Status', index: 'Status', editable: true },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    AcademicYearId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_AcademicYear btn_Edit ui-icon-pencil' id='" + AcademicYearId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Excel ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../RollNumberManagement/FormatExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Pdf ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../RollNumberManagement/FormatExportToPDF";
                    }
                });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("RollNumberFormat")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#filterBtn').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_AcademicYear', function () {
            var id = $(this).attr('id');
            values = { id: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/RollNumberManagement/EditRollNumber',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#idSection_addAcademic").hide();
                    $("#idSection_updateAcademic").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#hidden_format").val(id).html(id);
                    $("#acYear_Roll1").val(data.ans.AcademicYear);
                    $("#acYearId_Roll").val(data.ans.AcademicYearId);
                    $("#class_Roll1").val(data.ans.Class);
                    $("#classId_Roll1").val(data.ans.ClassId);
                    $("#Section_Roll1").val(data.ans.Section);
                    $("#SectionId_Roll1").val(data.ans.SectionId);
                    $("#txt_rollNumber1").val(data.ans.RollNumberFormat);
                    if (data.ans.Status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.Status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                }
            });
        });
        $("#btncancel_updateAcademic").click(function () {
            $("#idSection_addAcademic").show();
            $("#idSection_updateAcademic").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
    });
    $("#btnAddFormat").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation();
        if (bool == true) {
            var acYear_Roll = $("#acYear_Roll").val();
            var class_Roll = $("#class_Roll").val();
            var Section_Roll = $("#Section_Roll").val();
            var txt_rollNumber = $("#txt_rollNumber").val();
            var values = { acYear_Roll: acYear_Roll, class_Roll: class_Roll, Section_Roll: Section_Roll, txt_rollNumber: txt_rollNumber };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/RollNumberManagement/AddRollNumber',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        }
    });
    $("#btnUpdateFormat").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation1();
        if (bool == true) {
            var hidden_format = $("#hidden_format").val();
            var AcademicYearId = $("#acYearId_Roll").val();
            var ClassId = $("#classId_Roll1").val();
            var SectionId = $("#SectionId_Roll1").val();
            var FormatId = $("#txt_rollNumber1").val();
            var check = $("#txt_status").is(':checked');
            var Status;
            if (check == true) {
                Status = "Active";
            }
            else {
                Status = "Inactive";
            }
            var values = { AcademicYearId: AcademicYearId, ClassId: ClassId, SectionId: SectionId, txt_rollNumber: FormatId, FormatId: hidden_format, Status: Status };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/RollNumberManagement/SaveEditRollNumber',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        }
                    }
                }
            });
        }
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'acYear_Roll') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear").');
                }
                if (null_id == 'class_Roll') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass").');
                }
                if (null_id == 'Section_Roll') {
                    a.push('@ResourceCache.Localize("PleaseSelectSection").');
                }
                if (null_id == 'txt_rollNumber') {
                    a.push('@ResourceCache.Localize("Roll_number_format_is_required").');
                }
            }
            else {
                if (field_name == 'txt_rollNumber') {
                    var sname = $("#txt_rollNumber").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 10) {
                            a.push('@ResourceCache.Localize("Roll_number_should_not_exceed_10_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_rollNumber1') {
                    a.push('@ResourceCache.Localize("Roll_number_format_is_required").');
                }
            }
            else {
                if (field_name == 'txt_rollNumber1') {
                    var sname = $("#txt_rollNumber1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 10) {
                            a.push('@ResourceCache.Localize("Roll_number_should_not_exceed_10_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    </script>
}