﻿@using eAcademy.Areas.FinancialAccounting.LocalResource
@{
    ViewBag.Title = "EmployeeSalaryConfiguration";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
<style>
    #Employeeimg{
        width:118px !important;
        height:98px !important;
    }
</style>
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-12 pull-right">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EmployeeSalaryConfiguration")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-sm-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div class="row">
                            </div>
                            <div class="col-md-8 col-sm-12" id="Request_Div">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm"> @ResourceCache.Localize("EmployeeId")<span class="glyphicon glyphicon-asterisk"></span></label>  </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12" type="text" id="RequestId" name="RequestId" placeholder="@ResourceCache.Localize("EmployeeId")" title="@ResourceCache.Localize("EmployeeId")" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" id="BtnSearch" name="BtnSearch" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Search")</button>
                                    </div>
                                
                            </div>
                            <div class="col-md-8 col-sm-12" id="Employee" style="display:none;">
                                <div class="col-sm-12">
                                    <div class="col-sm-offset-4 col-sm-3">
                                        <img id="Employeeimg" src="" />
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <h3><center> @ResourceCache.Localize("EmployeeDetails")</center></h3>
                                </div>
                                <div class="col-sm-12">                                    
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeName")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="hidden" id="EmpregRegId" name="EmpregRegId" />
                                        <input type="hidden" id="Etype" name="Etype" />
                                        <input class="col-lg-12 " type="text" id="txt_EmployeeName" name="txt_EmployeeName" title="@ResourceCache.Localize("EmployeeName")" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm"> @ResourceCache.Localize("EmployeeId")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="col-lg-12 " id="txt_EmployeeId" name="txt_EmployeeId" title="@ResourceCache.Localize("EmployeeId")" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeTypes")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="col-lg-12 " id="txt_EmployeeType" name="txt_EmployeeType" title="@ResourceCache.Localize("EmployeeTypes")" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm"> @ResourceCache.Localize("EmployeeDesignation")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="col-lg-12 " id="txt_EmployeeDesignation" name="txt_EmployeeDesignation" title="@ResourceCache.Localize("EmployeeDesignation")" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12" id="SalaryPackage" style="display:none;">
                                <div class="col-sm-12">
                                    <div class="row col-sm-12">
                                        <h3><center>@ResourceCache.Localize("Earning")</center></h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BasicSalary")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12 current_button" type="text" id="txt_BasicSalary" name="txt_BasicSalary" title="@ResourceCache.Localize("BasicSalary")" value="0" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("DearnessAllowance")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12 current_button" type="text" id="txt_DearnessAllowance" name="txt_DearnessAllowance" title="@ResourceCache.Localize("DearnessAllowance")" value="0" maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm"> @ResourceCache.Localize("HouseRentAllowance")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12 current_button" type="text" id="txt_HouseRentAllowance" name="txt_HouseRentAllowance" title="@ResourceCache.Localize("HouseRentAllowance")" value="0" maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("MedicalAllowance")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12 current_button" type="text" id="txt_MedicalAllowance" name="txt_MedicalAllowance" title="@ResourceCache.Localize("MedicalAllowance")" value="0" maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("OtherAllowance")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12 current_button" type="text" id="txt_OtherAllowance" name="txt_OtherAllowance" title="@ResourceCache.Localize("OtherAllowance")" value="0" maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4 btn-down">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("GrossEarnings")</label></div>
                                    </div>
                                    <div class="col-sm-4 btn-down">
                                        <input class="col-lg-12 current_button" type="text" id="txt_GrossEarning1" name="txt_GrossEarning1" title="@ResourceCache.Localize("GrossEarnings")" value="0" readonly />
                                    </div>
                                </div>
                                
                                    <div class="row col-sm-12">
                                        <h3><center>@ResourceCache.Localize("Deduction")</center></h3>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("ProvidentFund")</label></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="col-lg-12 current_button" type="text" id="txt_ProvidentFund" name="txt_ProvidentFund" title="@ResourceCache.Localize("ProvidentFund")" value="0" maxlength="5" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("ESI")</label></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="col-lg-12 current_button" type="text" id="txt_ESI" name="txt_ESI" title="@ResourceCache.Localize("ESI")" value="0" maxlength="5" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 btn-down ">
                                            <div><label class="input-label-sm">@ResourceCache.Localize("GrossDeduction")</label></div>
                                        </div>
                                        <div class="col-sm-4 btn-down">
                                            <input class="col-lg-12 current_button" type="text" id="txt_GrossDeduction" name="txt_GrossDeduction" title="@ResourceCache.Localize("GrossDeduction")" value="0" readonly maxlength="5" />
                                        </div>
                                    </div>
                                
                                <div class="row col-sm-12 btn-down">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("NetSalary")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="current_button" id="txt_NetSalary" name="txt_NetSalary" title="@ResourceCache.Localize("NetSalary")" readonly />
                                    </div>
                                </div>
                                <div class=" col-sm-12 btn-down" id="Save_Div">
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddSalary" name="btnAddSalary" title="@ResourceCache.Localize("AddSalary")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                    </div>
                                    @*<div class="col-sm-3">
                                        <button type="reset" id="Btn_reset" name="Btn_reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                                    </div>*@
                                </div>
                                <div class=" col-sm-12 btn-down" id="Update_Div" style="display:none;">
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn_double  btn-sm btn_add" id="btnUpdateSalary" name="btnUpdateSalary" title="@ResourceCache.Localize("UpdateSalary")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Update")</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" id="BtnCancel" name="BtnCancel" class="btn btn-sm btn-danger btn_double"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12" id="IncrementPackage" style="display:none;">                                
                                    <div class="row col-sm-12">
                                        <h3><center>@ResourceCache.Localize("Increment")</center></h3>
                                        <input type="hidden" id="EmployeeSalaryConfigId" name="EmployeeSalaryConfigId" />
                                        <input type="hidden" id="SalaryIncrementId" name="SalaryIncrementId" />
                                    </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BasicSalary")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="col-lg-12 current_button1" type="text" id="txt_oldBasicSalary" name="txt_oldBasicSalary" title="@ResourceCache.Localize("BasicSalary")" value="0" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4 ">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("GrossEarnings")</label></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <input class="col-lg-12 current_button1" type="text" id="txt_oldGrossEarning1" name="txt_oldGrossEarning1" title="@ResourceCache.Localize("GrossEarnings")" value="0" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4  ">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("GrossDeduction")</label></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <input class="col-lg-12 current_button1" type="text" id="txt_oldGrossDeduction" name="txt_oldGrossDeduction" title="@ResourceCache.Localize("GrossDeduction")" value="0" readonly maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("OldNetSalary")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="current_button1" id="txt_oldNetSalary" name="txt_oldNetSalary" title="@ResourceCache.Localize("OldNetSalary")" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4  ">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("IncrementSalary")</label></div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <input class="col-lg-12 current_button1" type="text" id="txt_Increment" name="txt_Increment" title="@ResourceCache.Localize("IncrementSalary")" value="0" maxlength="5" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("NetSalary")</label></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="current_button1" id="txt_NewNetSalary" name="txt_NewNetSalary" title="@ResourceCache.Localize("NetSalary")" readonly value="0" />
                                    </div>
                                </div>                                
                                    <div class=" col-sm-12 btn-down" id="IncrementSave_Div">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddIncrement" name="btnAddIncrement" title="@ResourceCache.Localize("AddIncrementSalary")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Save") </button>
                                        </div>
                                        @*<div class="col-sm-3">
                                            <button type="button" id="Btn_reset1" name="Btn_reset1" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                                        </div>*@
                                    </div>
                                    <div class=" col-sm-12 btn-down" id="IncrementUpdate_Div" style="display:none;">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn_double  btn-sm btn_add" id="btnUpdateIncrement" name="btnUpdateIncrement" title="@ResourceCache.Localize("UpdateIncrementSalary")"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Update")</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" id="BtnCancel" name="BtnCancel" class="btn btn-sm btn-danger btn_double"><i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel")</button>
                                        </div>
                                    </div>
                                </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class=" col-xs-12 col-sm-12 col-md-12 ">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EmployeeSalaryConfigurationDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12 btn-down" id=" show">
                            <table class="col-lg-12 col-xs-12 col-sm-12 col-md-12" border="1" id="hostelgrid"></table>
                            <div id="pager"></div>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                    </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#hostelgrid').setGridWidth(width);
            $('div').setGridWidth(width);
        });
        $('#Btn_reset1').click(function () {        
        });
        $("#RequestId").filter_input({ regex: '[0-9A-Za-z ]' });
        $('#txt_BasicSalary').filter_input({ regex: '[0-9 ]' });
        $('#txt_DearnessAllowance').filter_input({ regex: '[0-9 ]' });
        $('#txt_HouseRentAllowance').filter_input({ regex: '[0-9 ]' });
        $('#txt_MedicalAllowance').filter_input({ regex: '[0-9 ]' });
        $('#txt_OtherAllowance').filter_input({ regex: '[0-9 ]' });
        $('#txt_GrossEarning1').filter_input({ regex: '[0-9 ]' });
        $('#txt_ProvidentFund').filter_input({ regex: '[0-9 ]' });
        $('#txt_ESI').filter_input({ regex: '[0-9 ]' });
        $('#txt_GrossDeduction').filter_input({ regex: '[0-9 ]' });
        $('#txt_NetSalary').filter_input({ regex: '[0-9 ]' });
        $('#txt_Increment').filter_input({ regex: '[0-9 ]' });
        var xcount = 0;
        $("#txt_DearnessAllowance").focusout(function () {
            var DA = $('#txt_DearnessAllowance').val();
            if (DA == '') {
                var ss = 0;
                $('#txt_DearnessAllowance').val(ss).html(ss);
            }
            else {
                Checkvalue();
            }
        });
        $("#txt_HouseRentAllowance").focusout(function () {
            var DA = $('#txt_HouseRentAllowance').val();
            if (DA == '') {
                var ss = 0;
                $('#txt_HouseRentAllowance').val(ss).html(ss);
            }
            else {
                Checkvalue();
            }
        });
        $("#txt_MedicalAllowance").focusout(function () {
            var DA = $('#txt_MedicalAllowance').val();
            if (DA == '') {
                var ss = 0;
                $('#txt_MedicalAllowance').val(ss).html(ss);
            }
            else {
                Checkvalue();
            }
        });
        $("#txt_OtherAllowance").focusout(function () {
            var DA = $('#txt_OtherAllowance').val();
            if (DA == '') {
                var ss = 0;
                $('#txt_OtherAllowance').val(ss).html(ss);
            }
            else {
                Checkvalue();
            }
        });
        $("#txt_ProvidentFund").focusout(function () {
            var DA = $('#txt_ProvidentFund').val();
            if (DA == '') {
                var ss = 0;
                $('#txt_ProvidentFund').val(ss).html(ss);
            }
            else {
                Checkvalue();
            }
        });
        $("#txt_ESI").focusout(function () {
            var DA = $('#txt_ESI').val();
            if (DA == '') {
                var ss = 0;
                $('#txt_ESI').val(ss).html(ss);
            }
            else {
                Checkvalue();
            }
        });
        function Checkvalue() {
            var BS = $('#txt_BasicSalary').val();
            var DA = $('#txt_DearnessAllowance').val();
            var HRA = $('#txt_HouseRentAllowance').val();
            var MA = $('#txt_MedicalAllowance').val();
            var OA = $('#txt_OtherAllowance').val();
            var PF = $('#txt_ProvidentFund').val();
            var ESI = $('#txt_ESI').val();
            var GD = $('#txt_GrossDeduction').val();
            var NS = $('#txt_NetSalary').val();
            var GE = $('#txt_GrossEarning1').val();
            var y = parseFloat(BS) + parseFloat(DA) + parseFloat(HRA) + parseFloat(MA) + parseFloat(OA);
            if (y >= 0) {
                $("#txt_GrossEarning1").val(y);
            }
            else {
                y = GE;
                $("#txt_GrossEarning1").val(GE);
            }
            var x = parseFloat(PF) + parseFloat(ESI);
            if (x >= 0) {
                $('#txt_GrossDeduction').val(x);
            }
            else {
                x = GD;
                $('#txt_GrossDeduction').val(x);
            }
            var z = parseFloat(y) - parseFloat(x);
            if (z >= 0) {
                $("#jsonErrorMsg").hide();
                $("#jErrMsg").html("").val("");
                $("#txt_NetSalary").val(z).html(z);
            }
            else {
                $("#txt_NetSalary").val(0).html(0);
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html("@ResourceCache.Localize("Pleaseentergrossearningamountisgreaterthangrossdeductionamount")").val("@ResourceCache.Localize("Pleaseentergrossearningamountisgreaterthangrossdeductionamount")");
                $('html,body').animate({
                    // scroll to end of page
                    scrollTop: 0
                }, 700);
                return false;
            }
        }
        $("#txt_Increment").focusout(function () {
            var d = $("#txt_Increment").val();
            var ge = $('#txt_oldNetSalary').val();
            var x = parseFloat(ge) + parseFloat(d);
            if (x >= 0) {
                $("#txt_NewNetSalary").val(x);
            }
            else {
                x = gd;
                $("#txt_NewNetSalary").val(ge);
            }
        });
        $("#BtnSearch").click(function () {
            var RegId = $('#RequestId').val();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            if (RegId != '' && RegId != null) {
                var ss = { RegId: RegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/EmployeeSalary/CheckStaff',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#IncrementPackage').hide();
                            $('#Employee').hide();
                            $('#SalaryPackage').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#IncrementPackage').hide();
                            $('#Employee').hide();
                            $('#SalaryPackage').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.Techemployee != "" && data.Techemployee != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#IncrementPackage').hide();
                            $('#Employee').show();
                            $('#SalaryPackage').show();
                            $('#txt_EmployeeName').val(data.Techemployee.EmployeeName);
                            $('#txt_EmployeeId').val(data.Techemployee.EmployeeId);
                            $('#txt_EmployeeType').val(data.Techemployee.EmployeeType);
                            $('#txt_EmployeeDesignation').val(data.Techemployee.EmployeeDesignation);
                            $('#EmpregRegId').val(data.Techemployee.EmployeeRegisterId);
                            $('#Etype').val(data.Techemployee.Etype);
                            $('#txt_BasicSalary').val(data.Techemployee.Salary);
                            $('#txt_GrossEarning1').val(data.Techemployee.Salary);
                            $('#txt_NetSalary').val(data.Techemployee.Salary);
                            $('#txt_DearnessAllowance').val(0);
                            $('#txt_HouseRentAllowance').val(0);
                            $('#txt_MedicalAllowance').val(0);
                            $('#txt_OtherAllowance').val(0);
                            $('#txt_ProvidentFund').val(0);
                            $('#txt_ESI').val(0);
                            $('#Employeeimg').attr('src', '/img/EmployeePhotos/' + data.Techemployee.EmployeeId + '/' + data.Techemployee.ImgFile + '');
                        }
                        else if (data.otheremployee != "" && data.otheremployee != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#IncrementPackage').hide();
                            $('#Employee').show();
                            $('#SalaryPackage').show();
                            $('#txt_EmployeeName').val(data.otheremployee.EmployeeName);
                            $('#txt_EmployeeId').val(data.otheremployee.EmployeeId);
                            $('#txt_EmployeeType').val(data.otheremployee.EmployeeType);
                            $('#txt_EmployeeDesignation').val(data.otheremployee.EmployeeDesignation);
                            $('#EmpregRegId').val(data.otheremployee.EmployeeRegisterId);
                            $('#Etype').val(data.otheremployee.Etype);
                            $('#txt_BasicSalary').val(data.otheremployee.Salary);
                            $('#txt_GrossEarning1').val(data.otheremployee.Salary);
                            $('#txt_NetSalary').val(data.otheremployee.Salary);
                            $('#txt_DearnessAllowance').val(0);
                            $('#txt_HouseRentAllowance').val(0);
                            $('#txt_MedicalAllowance').val(0);
                            $('#txt_OtherAllowance').val(0);
                            $('#txt_ProvidentFund').val(0);
                            $('#txt_ESI').val(0);
                            $('#Employeeimg').attr('src', '/img/OthersPhotos/' + data.otheremployee.EmployeeId + '/' + data.otheremployee.ImgFile + '');
                        }
                    },
                });
            }
            else {
                $("#Loading_Sec").removeClass("loading-new");
                $('#IncrementPackage').hide();
                $('#Employee').hide();
                $('#Rooms').hide();
                $("#jsonErrorMsg").show();
                $("#jErrMsg").html("@ResourceCache.Localize("Please_enter_employee_Id")");
                return false;
            }
        });
        $('#btnAddSalary').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_BasicSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterbasicsalary")');
                    }
                    if (null_id == 'txt_DearnessAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterdearnessallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_HouseRentAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterhouserentallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_MedicalAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Please enter medical allowance minmum value 0")');
                    }
                    if (null_id == 'txt_OtherAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterotherallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_GrossEarning1') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossearning")');
                    }
                    if (null_id == 'txt_ProvidentFund') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterprovidentfundminmumvalue0")');
                    }
                    if (null_id == 'txt_ESI') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenteresiminmumvalue0")');
                    }
                    if (null_id == 'txt_GrossDeduction') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossdeduction")');
                    }
                    if (null_id == 'txt_NetSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenternetsalary")');
                    }
                }
            });
            if (flag == 0) {
                var Empid = $('#EmpregRegId').val();
                var Etype = $('#Etype').val();
                var BS = $('#txt_BasicSalary').val();
                var DA = $('#txt_DearnessAllowance').val();
                var HRA = $('#txt_HouseRentAllowance').val();
                var MA = $('#txt_MedicalAllowance').val();
                var OA = $('#txt_OtherAllowance').val();
                var GE = $('#txt_GrossEarning1').val();
                var PF = $('#txt_ProvidentFund').val();
                var ESI = $('#txt_ESI').val();
                var GD = $('#txt_GrossDeduction').val();
                var NS = $('#txt_NetSalary').val();
                var grossearn = parseInt(GE);
                var grossded = parseInt(GD);
                if (grossearn >= grossded) {
                    var ss = { EmployeeRegisterId: Empid, Etype: Etype, BasicSalary: BS, DearnessAllowance: DA, HouseRenAllowance: HRA, MedicalAllowance: MA, OtherAllowance: OA, GrossEarning: GE, ProvidentFund: PF, ESI: ESI, GrossDeduction: GD, NetSalary: NS };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/EmployeeSalary/SaveEmployeeSalaryConfig',
                        traditional: true,
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#div_Error").hide();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jsonError").show();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }
                            else if (data.Message != "" && data.Message != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $('#IncrementPackage').hide();
                                $('#Employee').hide();
                                $('#SalaryPackage').hide();
                                $("#Request_Div").show();
                                $("#RequestId").val("");
                                $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }
                        },
                    });
                }
                else {
                    $("#Loading_Sec").removeClass("loading-new");
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Pleaseentergrossearningamountisgreaterthangrossdeductionamount")").val("@ResourceCache.Localize("Pleaseentergrossearningamountisgreaterthangrossdeductionamount")");
                }
            }
            if (a.length != 0) {
                $("#Loading_Sec").removeClass("loading-new");
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#Btn_reset').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var x = $('#txt_BasicSalary').val();
            $('#txt_DearnessAllowance').val(0);
            $('#txt_HouseRentAllowance').val(0);
            $('#txt_MedicalAllowance').val(0);
            $('#txt_OtherAllowance').val(0);
            $('#txt_GrossEarning1').val(x);
            $('#txt_ProvidentFund').val(0);
            $('#txt_ESI').val(0);
            $('#txt_GrossDeduction').val(0);
            $('#txt_NetSalary').val(x);            
        });
        $(document).on('click', '.btn_edit_SalaryConfig', function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var id = $(this).attr('id');
            values = { Id: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/EmployeeSalary/EditEmployeesalaryConfig',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != '' && data.ErrorMessage != null) {                        
                        $("#Loading_Sec").removeClass("loading-new");                        
                        $('#IncrementPackage').hide();
                        $("#Employee").hide();
                        $("#SalaryPackage").hide();
                        $("#Request_Div").show();
                        $("#Save_Div").show();
                        $("#Update_Div").hide();
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $("#errormsg").hide();
                        $('#successmsg').hide();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);                        
                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);
                        return false;
                    }
                    if (data.Employee != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#IncrementPackage').hide();
                        $('#Employee').show();
                        $('#SalaryPackage').show();
                        $("#Request_Div").hide();
                        $("#Save_Div").hide();
                        $("#Update_Div").show();
                        // Error Messages
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#div_Error").hide();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jsonError").hide();
                        $('#txt_EmployeeName').val(data.Employee.EmployeeName);
                        $('#txt_EmployeeId').val(data.Employee.EmployeeId);
                        $('#txt_EmployeeType').val(data.Employee.EmployeeType);
                        $('#txt_EmployeeDesignation').val(data.Employee.EmployeeDesignation);
                        $('#EmpregRegId').val(data.Employee.EmployeeRegisterId);
                        $('#Etype').val(data.Employee.Etype);
                        $('#txt_BasicSalary').val(data.Employee.BasicSalary);
                        $('#txt_DearnessAllowance').val(data.Employee.DearnessAllowance);
                        $('#txt_HouseRentAllowance').val(data.Employee.HouseRentAllowance);
                        $('#txt_MedicalAllowance').val(data.Employee.MedicalAllowance);
                        $('#txt_OtherAllowance').val(data.Employee.OtherAllowance);
                        $('#txt_GrossEarning1').val(data.Employee.GrossEarning);
                        $('#txt_ProvidentFund').val(data.Employee.ProvidentFund);
                        $('#txt_ESI').val(data.Employee.ESI);
                        $('#txt_GrossDeduction').val(data.Employee.GrossDeduction);
                        $('#txt_NetSalary').val(data.Employee.NetSalary);
                        if (data.Employee.Etype == "Tech") {
                            $('#Employeeimg').attr('src', '/img/EmployeePhotos/' + data.Employee.EmployeeId + '/' + data.Employee.ImgFile + '');
                        }
                        else {
                            $('#Employeeimg').attr('src', '/img/OthersPhotos/' + data.Employee.EmployeeId + '/' + data.Employee.ImgFile + '');
                        }
                    }
                    if (data.EmployeeIncrement != '' && data.EmployeeIncrement != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#IncrementPackage').show();
                        $('#Employee').show();
                        $('#SalaryPackage').hide();
                        $("#Request_Div").hide();
                        $("#IncrementSave_Div").hide();
                        $("#IncrementUpdate_Div").show();
                        // Error Messages
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#div_Error").hide();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jsonError").hide();
                        $('#txt_EmployeeName').val(data.EmployeeIncrement.EmployeeName);
                        $('#txt_EmployeeId').val(data.EmployeeIncrement.EmployeeId);
                        $('#txt_EmployeeType').val(data.EmployeeIncrement.EmployeeType);
                        $('#txt_EmployeeDesignation').val(data.EmployeeIncrement.EmployeeDesignation);
                        $('#EmpregRegId').val(data.EmployeeIncrement.EmployeeRegisterId);
                        $('#Etype').val(data.EmployeeIncrement.Etype);
                        $('#txt_oldBasicSalary').val(data.EmployeeIncrement.BasicSalary);
                        $('#txt_oldGrossEarning1').val(data.EmployeeIncrement.GrossEarning);
                        $('#txt_oldGrossDeduction').val(data.EmployeeIncrement.GrossDeduction);
                        $('#txt_oldNetSalary').val(data.EmployeeIncrement.NetSalary);
                        $('#txt_Increment').val(data.EmployeeIncrement.IncrementSalary);
                        $('#EmployeeSalaryConfigId').val(data.EmployeeIncrement.EmployeeSalaryConfigId);
                        $('#SalaryIncrementId').val(data.EmployeeIncrement.IncrementId);
                        var x = parseFloat(data.EmployeeIncrement.NetSalary) + parseFloat(data.EmployeeIncrement.IncrementSalary);
                        $('#txt_NewNetSalary').val(x);
                        if (data.Employee.Etype == "Tech") {
                            $('#Employeeimg').attr('src', '/img/EmployeePhotos/' + data.EmployeeIncrement.EmployeeId + '/' + data.EmployeeIncrement.ImgFile + '');
                        }
                        else {
                            $('#Employeeimg').attr('src', '/img/OthersPhotos/' + data.EmployeeIncrement.EmployeeId + '/' + data.EmployeeIncrement.ImgFile + '');
                        }
                    }
                }
            });
        });
        $('#BtnCancel').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            $('#txt_DearnessAllowance').val(0);
            $('#txt_HouseRentAllowance').val(0);
            $('#txt_MedicalAllowance').val(0);
            $('#txt_OtherAllowance').val(0);
            $('#txt_GrossEarning1').val(0);
            $('#txt_ProvidentFund').val(0);
            $('#txt_ESI').val(0);
            $('#txt_GrossDeduction').val(0);
            $("#Request_Div").show();
            $("#Save_Div").show();
            $("#Update_Div").hide();
            $('#Employee').hide();
            $('#SalaryPackage').hide();
            $('#IncrementPackage').hide();
        });
        $('#btnUpdateSalary').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_BasicSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterbasicsalary")');
                    }
                    if (null_id == 'txt_DearnessAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterdearnessallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_HouseRentAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterhouserentallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_MedicalAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentermedicalallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_OtherAllowance') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterotherallowanceminmumvalue0")');
                    }
                    if (null_id == 'txt_GrossEarning1') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossearning")');
                    }
                    if (null_id == 'txt_ProvidentFund') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterprovidentfundminmumvalue0")');
                    }
                    if (null_id == 'txt_ESI') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenteresiminmumvalue0")');
                    }
                    if (null_id == 'txt_GrossDeduction') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossdeduction")');
                    }
                    if (null_id == 'txt_NetSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenternetsalary")');
                    }
                }
            });
            if (flag == 0) {
                var Empid = $('#EmpregRegId').val();
                var Etype = $('#Etype').val();
                var BS = $('#txt_BasicSalary').val();
                var DA = $('#txt_DearnessAllowance').val();
                var HRA = $('#txt_HouseRentAllowance').val();
                var MA = $('#txt_MedicalAllowance').val();
                var OA = $('#txt_OtherAllowance').val();
                var GE = $('#txt_GrossEarning1').val();
                var PF = $('#txt_ProvidentFund').val();
                var ESI = $('#txt_ESI').val();
                var GD = $('#txt_GrossDeduction').val();
                var NS = $('#txt_NetSalary').val();
                var grossearn = parseInt(GE);
                var grossded = parseInt(GD);
                if (grossearn >= grossded) {
                    var ss = { EmployeeRegisterId: Empid, Etype: Etype, BasicSalary: BS, DearnessAllowance: DA, HouseRenAllowance: HRA, MedicalAllowance: MA, OtherAllowance: OA, GrossEarning: GE, ProvidentFund: PF, ESI: ESI, GrossDeduction: GD, NetSalary: NS };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        type: "POST",
                        url: '/EmployeeSalary/UpdateEmployeeSalaryConfig',
                        traditional: true,
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#div_Error").hide();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jsonError").show();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }
                            else if (data.Message != "" && data.Message != null) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }
                        },
                    });
                }
                else {
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Pleaseentergrossearningamountisgreaterthangrossdeductionamount")").val("@ResourceCache.Localize("Pleaseentergrossearningamountisgreaterthangrossdeductionamount")");
                }
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        jQuery("#hostelgrid").jqGrid({
            url: "/EmployeeSalary/EmployeeSalaryConfigList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("EmployeeName")', '@ResourceCache.Localize("EmployeeTypes")', '@ResourceCache.Localize("EmployeeDesignation")', '@ResourceCache.Localize("BasicSalary")', '@ResourceCache.Localize("GrossEarnings")', '@ResourceCache.Localize("GrossDeduction")', '@ResourceCache.Localize("NetSalary")', '@ResourceCache.Localize("Actions")'],    @*'@Resource.DA', '@Resource.HRA', '@Resource.MA', '@Resource.OA','@Resource.PF', '@Resource.ESI',*@
            colModel: [
                  { key: true, hidden: true, name: 'EmployeeSalaryConfigIdEtype', index: 'EmployeeSalaryConfigIdEtype' },
                    { key: false, name: 'EmployeeId', index: 'EmployeeId' },
                    { key: false, name: 'EmployeeName', index: 'EmployeeName' },
                    { key: false, name: 'EmployeeType', index: 'EmployeeType' },
                     { key: false, name: 'EmployeeDesignation', index: 'EmployeeDesignation' },
                     { key: false, name: 'BasicSalary', index: 'BasicSalary' },
                    //{ key: false, name: 'DearnessAllowance', index: 'DearnessAllowance' },
                    //{ key: false, name: 'HouseRentAllowance', index: 'HouseRentAllowance' },
                    //{ key: false, name: 'MedicalAllowance', index: 'MedicalAllowance' },
                    //{ key: false, name: 'OtherAllowance', index: 'OtherAllowance' },
                    { key: false, name: 'GrossEarning', index: 'GrossEarning' },
                    //{ key: false, name: 'ProvidentFund', index: 'ProvidentFund' },
                    //{ key: false, name: 'ESI', index: 'ESI' },
                    { key: false, name: 'GrossDeduction', index: 'GrossDeduction' },
                    { key: false, name: 'NetSalary', index: 'NetSalary' },
                    { name: 'act', index: 'act', width: 100, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager"),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("EmployeeSalaryConfigurationDetails")',
            emptyrecords: "@ResourceCache.Localize("Norecordstodisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#hostelgrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeConfigId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_SalaryConfig btn_Edit ui-icon-pencil' id='" + FeeConfigId + "' value=''  title='Edit'/>";
                    re = "<input style='height:23px;width:22px;' type='button' class='btn_Add_Increment btn_Increment  ui-icon-plusthick' id='" + FeeConfigId + "' value='' title='Increment'/>";
                    jQuery("#hostelgrid").jqGrid('setRowData', ids[i], { act: be + re });
                }
            },
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: true }
                ).jqGrid('navButtonAdd', '#pager',
                {
                    caption: "@Resource.ExporttoExcel",
                    buttonicon: "ui-icon-bookmark",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../EmployeeSalary/EmployeeSalaryConfig_ExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager',
                {
                    caption: "@Resource.Exporttopdf",
                    buttonicon: "ui-icon-bookmark",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../EmployeeSalary/EmployeeSalaryConfig_ExportToPdf?pdf=true";
                    }
                });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#hostelfilter').click(function (event) {
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'List_Roomnumber') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Please_select_hostel_room_number")');
                    }
                }
            });
            if (flag == 0) {
                event.preventDefault();
                hostelfilterGrid();
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function hostelfilterGrid() {
            var postDataValues = $("#hostelgrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#hostelgrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        $(document).on('click', '.btn_Add_Increment', function () {
            $('#txt_Increment').val(0);
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var id = $(this).attr('id');
            values = { Id: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/EmployeeSalary/Employeeincrement',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != '' && data.ErrorMessage != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#IncrementPackage').hide();
                        $('#Employee').hide();
                        $('#SalaryPackage').hide();
                        $("#Request_Div").show();
                        $("#IncrementSave_Div").show();
                        $("#IncrementUpdate_Div").hide();
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $('html,body').animate({
                            // scroll to end of page
                            scrollTop: 0
                        }, 700);
                        return false;
                    }
                    if (data.Employee != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $('#IncrementPackage').show();
                        $('#Employee').show();
                        $('#SalaryPackage').hide();
                        $("#Request_Div").hide();
                        $("#IncrementSave_Div").show();
                        $("#IncrementUpdate_Div").hide();
                        // Error Messages
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#div_Error").hide();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jsonError").hide();
                        $('#txt_EmployeeName').val(data.Employee.EmployeeName);
                        $('#txt_EmployeeId').val(data.Employee.EmployeeId);
                        $('#txt_EmployeeType').val(data.Employee.EmployeeType);
                        $('#txt_EmployeeDesignation').val(data.Employee.EmployeeDesignation);
                        $('#EmpregRegId').val(data.Employee.EmployeeRegisterId);
                        $('#Etype').val(data.Employee.Etype);
                        $('#txt_oldBasicSalary').val(data.Employee.BasicSalary);
                        $('#txt_oldGrossEarning1').val(data.Employee.GrossEarning);
                        $('#txt_oldGrossDeduction').val(data.Employee.GrossDeduction);
                        $('#txt_oldNetSalary').val(data.Employee.NetSalary);
                        $('#txt_NewNetSalary').val(data.Employee.NetSalary);
                        $('#EmployeeSalaryConfigId').val(data.Employee.EmployeeSalaryConfigId);
                        if (data.Employee.Etype == "Tech") {
                            $('#Employeeimg').attr('src', '/img/EmployeePhotos/' + data.Employee.EmployeeId + '/' + data.Employee.ImgFile + '');
                        }
                        else {
                            $('#Employeeimg').attr('src', '/img/OthersPhotos/' + data.Employee.EmployeeId + '/' + data.Employee.ImgFile + '');
                        }
                    }
                }
            });
        });
        $('#btnAddIncrement').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_oldBasicSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterbasicsalary")');
                    }
                    if (null_id == 'txt_oldGrossEarning1') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossearning")');
                    }
                    if (null_id == 'txt_oldGrossDeduction') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossdeduction")');
                    }
                    if (null_id == 'txt_oldNetSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenteroldnetsalary")');
                    }
                    if (null_id == 'txt_Increment') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterincrementsalary")');
                    }
                    if (null_id == 'txt_NewNetSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenternewnetsalary")');
                    }
                }
            });
            if (flag == 0) {
                var SalaryConfigid = $('#EmployeeSalaryConfigId').val();
                var Etype = $('#Etype').val();
                var EmployeeRegisterId = $('#EmpregRegId').val();
                var BS = $('#txt_oldBasicSalary').val();
                var GE = $('#txt_oldGrossEarning1').val();
                var GD = $('#txt_oldGrossDeduction').val();
                var NS = $('#txt_oldNetSalary').val();
                var Increment = $('#txt_Increment').val();
                var NewNS = $('#txt_NewNetSalary').val();
                var ss = { EmployeeRegisterId: EmployeeRegisterId, Etype: Etype, BasicSalary: BS, GrossEarning: GE, GrossDeduction: GD, NetSalary: NS, IncrementSalary: Increment, NewNetSalary: NewNS, SalaryConfigId: SalaryConfigid };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/EmployeeSalary/SaveEmployeeSalaryIncrement',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#btnUpdateIncrement').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_oldBasicSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterbasicsalary")');
                    }
                    if (null_id == 'txt_oldGrossEarning1') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossearning")');
                    }
                    if (null_id == 'txt_oldGrossDeduction') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseentergrossdeduction")');
                    }
                    if (null_id == 'txt_oldNetSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenteroldnetsalary")');
                    }
                    if (null_id == 'txt_Increment') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenterincrementsalary")');
                    }
                    if (null_id == 'txt_NewNetSalary') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseenternewnetsalary")');
                    }
                }
            });
            if (flag == 0) {
                var SalaryConfigid = $('#EmployeeSalaryConfigId').val();
                var Etype = $('#Etype').val();
                var EmployeeRegisterId = $('#EmpregRegId').val();
                var BS = $('#txt_oldBasicSalary').val();
                var GE = $('#txt_oldGrossEarning1').val();
                var GD = $('#txt_oldGrossDeduction').val();
                var NS = $('#txt_oldNetSalary').val();
                var Increment = $('#txt_Increment').val();
                var NewNS = $('#txt_NewNetSalary').val();
                var incrementId = $('#SalaryIncrementId').val();
                var ss = { EmployeeRegisterId: EmployeeRegisterId, Etype: Etype, BasicSalary: BS, GrossEarning: GE, GrossDeduction: GD, NetSalary: NS, IncrementSalary: Increment, NewNetSalary: NewNS, SalaryConfigId: SalaryConfigid, SalaryIncrementId: incrementId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/EmployeeSalary/UpdateEmployeeSalaryIncrement',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#hostelgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
}