﻿@{
    ViewBag.Title = "EmployeeMonthlySalary";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Areas.FinancialAccounting.LocalResource
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EmployeeMonthlySalary")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form method="post">
                            <div class="col-sm-12">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div id="parent" class="row">
                                <div class="col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div> @Html.DropDownList("EmployeeType", new SelectList(ViewBag.EmployeeTypes, "EmployeeTypeId", "EmployeeTypes"), @ResourceCache.Localize("SelectEmployeeType"), new { @class = "Employee-input current_button" })</div>
                                </div>
                                <div class="col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Month")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("month", new SelectList(ViewBag.month, "MonthsId", "MonthsName"), @ResourceCache.Localize("Selectmonth"), new { @class = "col-lg-12 current_button" })
                                </div>
                                <div class="col-sm-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Year")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input type="text" id="Year" name="Year" value="@ViewBag.year" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" id="GetEmployeeSalary" name="GetEmployeeSalary" class="btn btn-sm btn_search filterItem btn-down"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                                <div class="col-sm-12 table-content-margin table-responsive btn-down" id="show" style="display:none;">
                                    <input type="hidden" id="etype" name="etype" />
                                    <input type="hidden" id="mon" name="mon" />
                                    <input type="hidden" id="ye" name="ye" />
                                    <center><h3><label><span id="monthss"></span>@ResourceCache.Localize("Month")<span id="staffs"></span>@ResourceCache.Localize("SalaryList")</label></h3></center>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <div id="tbl_scrol">
                                        <h2 id="Report_head" class="Active_Print"> @ResourceCache.Localize("EmployeeSalaryDetail")<hr /></h2>
                                        <table class="table-responsive col-sm-12" border="1">
                                            <tr>
                                                <th>@ResourceCache.Localize("SNo")</th>
                                                <th>@ResourceCache.Localize("EmployeeId")</th>
                                                <th>@ResourceCache.Localize("EmployeeName")</th>
                                                <th>@ResourceCache.Localize("EmployeeCategory")</th>
                                                <th>@ResourceCache.Localize("EmployeeDesignation")</th>
                                                <th>@ResourceCache.Localize("BasicSalary")</th>
                                                <th>@ResourceCache.Localize("ActualSalary")</th>
                                                <th>@ResourceCache.Localize("NoofWorkingDays")</th>
                                                <th>@ResourceCache.Localize("PresentDays")</th>
                                                <th>@ResourceCache.Localize("LeaveDays")</th>
                                                <th>@ResourceCache.Localize("SalaryDeduction")</th>
                                                <th>@ResourceCache.Localize("NetSalary")</th>
                                            </tr>
                                            <tbody id="Tbl_Salary"></tbody>
                                        </table>
                                    </div>
                                <div class=" col-sm-3" id="btnSalary_Div" style="display:none;">
                                    <button type="button" id="GenerateSalary" name="GenerateSalary" class="btn  btn-success  btn-down">@ResourceCache.Localize("GenerateSalary")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#GetEmployeeSalary').click(function (event) {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            $('#jsonInfoMsg').hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'EmployeeType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseselectemployeecategory")');
                    }
                    if (null_id == 'month') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Pleaseselectmonth")');
                    }
                    if (null_id == 'Year') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseenterYear")');
                    }
                }
            });
            if (flag == 0) {
                var EmployeeCategory = $('#EmployeeType').val();
                var month = $('#month').val();
                var Year = $('#Year').val();
                $('#etype').val(EmployeeCategory);
                $('#mon').val(month);
                $('#ye').val(Year);
                var ss = { EmployeeCategoryId: EmployeeCategory, monthId: month, Year: Year };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/EmployeeSalary/EmployeeSalaryDetails',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').hide();
                            $('#btnSalary_Div').hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $('#jsonInfoMsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').hide();
                            $('#btnSalary_Div').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $('#jsonInfoMsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.Salary != "" && data.Salary != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').show();
                            $('#btnSalary_Div').show();
                            var s = 0;
                            var totalsalary = 0;
                            $("#monthss").text($('#month option:selected').text());
                            $("#staffs").text($('#EmployeeType option:selected').text());
                            $("#Tbl_Salary").empty();
                            $.each(data.Salary, function (i, v) {
                                s++;
                                var row = $('<tr><td>' + s + '</td><td>' + v.EmployeeId + '</td><td>' + v.EmployeeName + '</td><td>' + v.EmployeeType + '</td><td>' + v.EmployeeDesignation + '</td><td>' + v.BasicSalary + '</td><td>' + v.ActualSalary + '</td><td>' + v.TotalNoofWorkingDays + '</td><td>' + v.WorkingDays + '</td><td>' + v.NoOfDaysLeave + '</td><td>' + v.DeductionAmount + '</td><td>' + v.NetSalary + '</td></tr>');
                                $('#Tbl_Salary').append(row);
                                totalsalary = totalsalary + v.NetSalary;
                            });
                            var row1 = $('<tr><td colspan=10></td><td>@ResourceCache.Localize("TotalSalary")</td><td>' + totalsalary + '</td></tr>');
                            $('#Tbl_Salary').append(row1);
                        }
                        else if (data.InfoMsg != "" && data.InfoMsg != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').show();
                            $('#btnSalary_Div').hide();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $('#jsonInfoMsg').show();
                            $("#jInfoMsg").html(data.InfoMsg).val(data.InfoMsg);
                            var s = 0;
                            var totalsalary = 0;
                            $("#monthss").text($('#month option:selected').text());
                            $("#staffs").text($('#EmployeeType option:selected').text());
                            $("#Tbl_Salary").empty();
                            $.each(data.AlreadySalary, function (i, v) {
                                s++;
                                var row = $('<tr><td>' + s + '</td><td>' + v.EmployeeId + '</td><td>' + v.EmployeeName + '</td><td>' + v.EmployeeType + '</td><td>' + v.EmployeeDesignation + '</td><td>' + v.BasicSalary + '</td><td>' + v.ActualSalary + '</td><td>' + v.TotalNoofWorkingDays + '</td><td>' + v.WorkingDays + '</td><td>' + v.NoOfDaysLeave + '</td><td>' + v.DeductionAmount + '</td><td>' + v.NetSalary + '</td></tr>');
                                $('#Tbl_Salary').append(row);
                                totalsalary = totalsalary + v.NetSalary;
                            });
                            var row1 = $('<tr><td colspan=10></td><td>@ResourceCache.Localize("TotalSalary")</td><td>' + totalsalary + '</td></tr>');
                            $('#Tbl_Salary').append(row1);
                        }
                    },
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $('#jsonInfoMsg').hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#GenerateSalary').click(function (event) {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            $('#jsonInfoMsg').hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'EmployeeType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectEmployeeCategory")');
                    }
                    if (null_id == 'month') {
                        flag = 1;
                        a.push(' @ResourceCache.Localize("Pleaseselectmonth")');
                    }
                    if (null_id == 'Year') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseenterYear")');
                    }
                }
            });
            if (flag == 0) {
                var EmployeeCategory = $('#etype').val();
                var month = $('#mon').val();
                var Year = $('#ye').val();
                var ss = { EmployeeCategoryId: EmployeeCategory, monthId: month, Year: Year };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/EmployeeSalary/GenerateEmployeeSalary',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $('#jsonInfoMsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').show();
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $('#jsonInfoMsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#show').show();
                            $('#btnSalary_Div').hide();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
}