﻿@using eAcademy.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<style>
    /*@@media(min-width:1280px) and (max-width:1919px){
  .input_width {
    width: 99px;
}
    .input-label-sm{
    margin-left:-1px;
    }

    }*/
    #Edit_tblPckpoint input{
        width: 100%;
    }
   
</style>
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 pull-right" id="EditRoute" style="display: none">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditMapping")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Edit.cshtml")
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("RouteName")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="Edit_txt_RouteName" name="Edit_txt_RouteName" placeholder="@ResourceCache.Localize("RouteName")" title="@ResourceCache.Localize("RouteName")" required="required" maxlength="50" />
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationNumber")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Edit_RegisterNumber", new SelectList(ViewBag.allVehicleRegisterNumber, "Id", "RegistrationNumber"), @ResourceCache.Localize("SelectRegistrationNumber"), new { @class = "current_button" })
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Destination")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Edit_Destination", new SelectList(ViewBag.allDestination, "DestinationId", "DestinationName"), ResourceCache.Localize("SelectDestination"), new { @class = "current_button" })
                            </div>
                            <div class="col-xs-12">
                                <table id="Edit_tblPckpoint" class="table table-bordered table-striped table-responsive col-xs-12" border="1" style="display:none">
                                    <thead>
                                        <tr>
                                            <td class="col-lg-4">@ResourceCache.Localize("PickPoint")</td>
                                            <td class="col-lg-4">@ResourceCache.Localize("DepartureTime")</td>
                                            <td class="col-lg-4">@ResourceCache.Localize("LeavingTime")</td>
                                        </tr>
                                    </thead>
                                    <tbody id="Edit_PickPointDetails"></tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SchoolInTime")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="Edit_txt_SchoolInTime" name="Edit_txt_SchoolInTime" placeholder="@ResourceCache.Localize("SchoolInTime")" title="@ResourceCache.Localize("SchoolInTime")" required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SchoolOutTime")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="Edit_txt_SchoolOutTime" name="Edit_txt_SchoolOutTime" placeholder="@ResourceCache.Localize("SchoolOutTime")" title="@ResourceCache.Localize("SchoolOutTime")" required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ParkingStartTime")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="Edit_txt_ParkingStartTime" name="Edit_txt_ParkingStartTime" placeholder="@ResourceCache.Localize("ParkingStartTime")" title="@ResourceCache.Localize("ParkingStartTime")" required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ParkingEndTime")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="Edit_txt_ParkingEndTime" name="Edit_txt_ParkingEndTime" placeholder="@ResourceCache.Localize("ParkingEndTime")" title="@ResourceCache.Localize("ParkingEndTime")" required="required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Driver")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Edit_Driver", new SelectList(ViewBag.allDriver, "DriverId", "DriverName"), ResourceCache.Localize("Driver"), new { @class = "current_button" })
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Helper")</label> </div>
                                    @Html.DropDownList("Edit_Helper", new SelectList(ViewBag.allHelper, "HelperId", "HelperName"), ResourceCache.Localize("Helper"), new { @class = "current_button col-xs-12" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-lg-6">
                                    <div><label class="input-label-sm main">@ResourceCache.Localize("Status")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div class="col-xs-12 col-lg-12">
                                        <select name="status" id="status" class="col-lg-12 col-xs-12 ">
                                            <option value="true">@ResourceCache.Localize("Active")</option>
                                            <option value="false">@ResourceCache.Localize("In_Active")</option>
                                        </select>
                                    </div>
                                    @*<div class="col-lg-12 col-xs-12" id="editInActive" style="display: none">
                                        <select name="status" id="status" class="col-lg-12 col-xs-12 ">
                                            <option value="true">@ResourceCache.Localize("Active")</option>
                                            <option value="false">@ResourceCache.Localize("In_Active")</option>
                                        </select>
                                    </div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="hidden" id="Evalue" name="Evalue" />
                                    <input type="hidden" id="RouteId" name="RouteId" />
                                    <button type="button" class="btn btn-sm btn_update btn_double btn-down " id="btnUpdateRoute" title="Update"><i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-sm btn_cancel btn-down" name="btnCancel_EditRoute" id="btnCancel_EditRoute" title="Cancel"><i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                                </div>
                            </div>
                         </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4  pull-right" id="AddRoute">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("AddMapping")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="row">
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RouteName")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_RouteName" name="txt_RouteName" placeholder="@ResourceCache.Localize("RouteName")" title="@ResourceCache.Localize("RouteName")" required="required" maxlength="50" />
                                </div>
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationNumber")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("RegisterNumber", new SelectList(ViewBag.allVehicleRegisterNumber, "Id", "RegistrationNumber"), ResourceCache.Localize("SelectRegistrationNumber"), new { @class = "current_button" })
                                </div>
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Destination")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Destination", new SelectList(ViewBag.allDestination, "DestinationId", "DestinationName"), ResourceCache.Localize("SelectDestination"), new { @class = "current_button" })
                                </div>
                                <div class="col-lg-12">
                                    <table id="tblPckpoint" class="table-bordered table-striped" style="display:none">
                                        <thead>
                                            <tr>
                                                <td class="col-lg-4">@ResourceCache.Localize("PickPoint")</td>
                                                <td class="col-lg-4">@ResourceCache.Localize("DepartureTime")</td>
                                                <td class="col-lg-4">@ResourceCache.Localize("LeavingTime")</td>
                                            </tr>
                                        </thead>
                                        <tbody id="PickPointDetails"></tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SchoolInTime")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_SchoolInTime" name="txt_SchoolInTime" placeholder="@ResourceCache.Localize("SchoolInTime")" title="@ResourceCache.Localize("SchoolInTime")" required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("SchoolOutTime")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_SchoolOutTime" name="txt_SchoolOutTime" placeholder="@ResourceCache.Localize("SchoolOutTime")" title="@ResourceCache.Localize("SchoolOutTime")" required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ParkingStartTime")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_ParkingStartTime" name="txt_ParkingStartTime" placeholder="@ResourceCache.Localize("ParkingStartTime")" title="@ResourceCache.Localize("ParkingStartTime")" required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ParkingEndTime")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                    <input class="col-lg-12 current_button" type="text" id="txt_ParkingEndTime" name="txt_ParkingEndTime" placeholder="@ResourceCache.Localize("ParkingEndTime")" title="@ResourceCache.Localize(" parkingendtime")" required="required" />
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Driver")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Driver", new SelectList(ViewBag.allDriver, "DriverId", "DriverName"), ResourceCache.Localize("Driver"), new { @class = "current_button" })
                                </div>
                                <div class="col-lg-6">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Helper")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>

                                    @Html.DropDownList("HelperId", new SelectList(ViewBag.allHelper, "HelperId", "HelperName"), ResourceCache.Localize("Helper"), new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" id="ivalue" />
                                <button type="button" id="btnAddMapping" class="btn btn-sm btn_save btn_double"><i class="fa fa-plus"></i>@ResourceCache.Localize("Save")</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("ManageRoute")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("RegistrationNumber")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("ListRegisterNumber", new SelectList(ViewBag.allVehicleRegisterNumber, "Id", "RegistrationNumber"), ResourceCache.Localize("SelectRegistrationNumber"), new { @class = "current_button filterItem" })
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <button type="button" class="btn btn-sm btn_search filterItem btn-down" id="Route_filterButton">
                                        <i class="fa fa-search"></i>@ResourceCache.Localize("Submit")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                        <table class="col-lg-12" id="RouteListGrid"></table>
                        <div id="RouteListPager"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_SchoolInTime").timepicker({ timeFormat: 'HH:mm' });
    $("#txt_SchoolOutTime").timepicker({ timeFormat: 'HH:mm' });
    $("#txt_ParkingStartTime").timepicker({ timeFormat: 'HH:mm' });
    $("#txt_ParkingEndTime").timepicker({ timeFormat: 'HH:mm' });
    $("#Edit_txt_SchoolInTime").timepicker({ timeFormat: 'HH:mm' });
    $("#Edit_txt_SchoolOutTime").timepicker({ timeFormat: 'HH:mm' });
    $("#Edit_txt_ParkingStartTime").timepicker({ timeFormat: 'HH:mm' });
    $("#Edit_txt_ParkingEndTime").timepicker({ timeFormat: 'HH:mm' });
    $("#Edit_txt_RouteName").filter_input({ regex: '[0-9A-Za-z ]' });
    $("#txt_RouteName").filter_input({ regex: '[0-9A-Za-z ]' });
    //$(".timepic").timepicker({ timeFormat: 'HH:mm' });
    $('#Destination').change(function (event) {
        $('#PickPointDetails').empty();
        $("#tblPckpoint").hide();
        event.preventDefault();
        var DestinationId = $("#Destination").val();
        $.getJSON("/Transport/Mapping/getPickPoints", { PassDestinationId: DestinationId },
              function (data) {

                  $.each(data.PickPoint, function (i, v) {

                      var txt_PickPoint = "txt_PickPoint" + i;

                      var txt_DepartureTime = "txt_DepartureTime" + i;
                      var txt_LeavingTime = "txt_LeavingTime" + i;
                      var Pid = "PickID" + i;
                      row = $('<tr><td><label >' + v.PickPoint + '</label></td><td><input type="textbox" class="input_width"  id=' + txt_DepartureTime + ' name="' + txt_DepartureTime + '" /><input type="hidden" id=' + Pid + ' name="' + Pid + '" value="' + v.id + '"  /></td><td><input type="textbox" class="input_width" id=' + txt_LeavingTime + ' name="' + txt_LeavingTime + '" /></td></tr>');
                      $('#PickPointDetails').append(row);
                      $("#ivalue").val(i);

                      $("#" + txt_DepartureTime).timepicker({ timeFormat: 'HH:mm' });
                      $("#" + txt_LeavingTime).timepicker({ timeFormat: 'HH:mm' });

                      $("#tblPckpoint").show();
                  });
              });
    });

    $("#btnAddMapping").click(function () {

        $("#jsonSuccessMsg").hide();
        $("#jsonErrorMsg").hide();
        $("#jsonExceptionMsg").hide();
        $("#jsonError").hide();
        $("#MandatoryFieldErrorMessage_Add").hide();
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_RouteName') {
                    a.push('@ResourceCache.Localize("Please_enter_route_name")');
                }
                if (null_id == 'RegisterNumber') {
                    a.push('@ResourceCache.Localize("Please_select_register_number")');
                }
                if (null_id == 'Destination') {
                    a.push('@ResourceCache.Localize("Please_select_destination")');
                }
                if (null_id == 'txt_SchoolInTime') {
                    a.push('@ResourceCache.Localize("Please_select_school_in_time")');
                }
                if (null_id == 'txt_SchoolOutTime') {
                    a.push('@ResourceCache.Localize("Please_select_school_out_time")');
                }
                if (null_id == 'txt_ParkingStartTime') {
                    a.push('@ResourceCache.Localize("Please_select_parking_start_time")');
                }
                if (null_id == 'txt_ParkingEndTime') {
                    a.push('@ResourceCache.Localize("Please_select_parking_reach_time")');
                }
                if (null_id == 'Driver') {
                    a.push('@ResourceCache.Localize("PleaseSelectDriver")');
                }
                if (null_id == 'Helper') {
                    a.push('@ResourceCache.Localize("PleaseSelectHelper")');
                }
            }
            else {
            }
        });

        var c = $("#ivalue").val();

        if (a.length != 0) {
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_Add").hide();
        }
        var RouteName = $("#txt_RouteName").val();
        var RegisterNumber = $("#RegisterNumber").val();
        var DestinationId = $("#Destination").val();
        var SchoolInTime = $("#txt_SchoolInTime").val();
        var SchoolOutTime = $("#txt_SchoolOutTime").val();
        var ParkingStartTime = $("#txt_ParkingStartTime").val();
        var ParkingEndTime = $("#txt_ParkingEndTime").val();
        var driver = $("#Driver").val();
        var helperId = $("#HelperId").val();
        var id = [];
        var departureTime = [];
        var LeaveTime = [];
        for (var i = 0; i <= c; i++) {
            id[i] = $("#PickID" + i).val();
            departureTime[i] = $("#txt_DepartureTime" + i).val();
            LeaveTime[i] = $("#txt_LeavingTime" + i).val();
            if (departureTime[i] == null || departureTime[i] == "") {
                a.push('@ResourceCache.Localize("Please_select_departure_time_to_all_pick_point")');
            }
            else if (LeaveTime[i] == null || LeaveTime[i] == "") {
                a.push('@ResourceCache.Localize("Please_select_leaving_time_to_all_pick_point")');
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
            }

            if (departureTime[i] != null || departureTime[i] != "" || LeaveTime[i] != null || LeaveTime[i] != "") {
                var deptTime = departureTime[i];
                var leavTime = LeaveTime[i];
                if (deptTime > leavTime) {
                    a.push('@ResourceCache.Localize("Departure_time_should_be_less_than_leaving_time")');
                }
            }
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }
        }

        $("#MandatoryFieldErrorMessage_Add").hide();
        var values = {
            txt_RouteName: RouteName, RegisterNumber: RegisterNumber, Destination: DestinationId, txt_SchoolInTime: SchoolInTime, txt_SchoolOutTime: SchoolOutTime, txt_ParkingStartTime: ParkingStartTime,
            txt_ParkingEndTime: ParkingEndTime, Driver: driver, Helper: helperId, TotalCount: c, PickPointId: id, DepartureTime: departureTime, LeavingTime: LeaveTime
        };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/Transport/Mapping/AddMapping',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $("#Loading_Sec").removeClass("loading-new");
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                }
                else {

                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    }
                    if (data.Message != "" && data.Message != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jsonErrorMsg").hide();
                        $("#RouteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                    }
                }
            }
        });
    });
    var RouteMapId;
    jQuery("#RouteListGrid").jqGrid({
        url: "/Transport/Mapping/RouteListResults",
        datatype: 'json',
        mtype: 'Get',
        colNames: ['Id', '@ResourceCache.Localize("RouteName")', '@ResourceCache.Localize("RegistrationNumber")', '@ResourceCache.Localize("Destination")', '@ResourceCache.Localize("PickPoint")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Actions")'],
        colModel: [
            { key: true, hidden: true, name: 'Id', index: 'Id' },
            { key: false, name: 'RouteName', index: 'RouteName' },
            { key: false, name: 'RegistrationNumber', index: 'RegistrationNumber' },
            { key: false, name: 'Destination', index: 'Destination' },
            { key: false, name: 'PickPoints', index: 'PickPoints' },
            { key: false, name: 'status', index: 'status' },
            { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
        ],
        pager: jQuery("#RouteListPager"),
        rowNum: 10,
        rowList: [10, 25, 50, 100],
        height: '100%',
        viewrecords: true,
        emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        autowidth: true,
        hoverrows: true,
        gridComplete: function () {
            var ids = jQuery("#RouteListGrid").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
                RouteMapId = ids[i];
                be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Route btn_Edit ui-icon-pencil' id='" + RouteMapId + "' value=''  title='Edit'/>";
                jQuery("#RouteListGrid").jqGrid('setRowData', ids[i], { act: be });
            }
        },
    }).navGrid('#RouteListPager', { edit: false, add: false, del: false, search: false, refresh: false }
                    ).jqGrid('navButtonAdd', '#RouteListPager',
                    {
                        caption: "@ResourceCache.Localize("Excel")",
                        buttonicon: "ui-icon-bookmark",
                        onClickButton: function () {
                            window.location.href = "../Mapping/RouteList_ExportToExcel";
                        }
                    }).jqGrid('navButtonAdd', '#RouteListPager',
    {
        caption: "@ResourceCache.Localize("Pdf")",
        buttonicon: "ui-icon-print",
        position: "last",
        onClickButton: function () {
            window.location.href = "../Mapping/RouteList_ExportToPdf";
        }
    });
    $("#RouteListGrid").setCaption(' <span class="fa fa-table"></span>' + 'Route List');
    $(".ui-jqgrid .loading").empty();
    $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
    $('#Route_filterButton').click(function (event) {
        var vehicleRegId = $("#ListRegisterNumber").val();
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'ListRegisterNumber') {
                    a.push('@ResourceCache.Localize("Please_select_registration_number")');
                }
            }
            else {
            }
        });
        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_List").show();
            $(".List_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".List_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $("#MandatoryFieldErrorMessage_List").hide();
        }
        $("#MandatoryFieldErrorMessage_List").hide();
        event.preventDefault();
        Route_filterGrid();
    });
    function Route_filterGrid() {
        var postDataValues = $("#RouteListGrid").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#RouteListGrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    };
    $(document).on('click', '.btn_edit_Route', function () {
        var id = $(this).attr('id');

        $('#Edit_PickPointDetails').empty();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        $("#MandatoryFieldErrorMessage_Edit").hide();
        $("#MandatoryFieldErrorMessage_EditWithMsg").hide();
        $("#RouteId").val(id);
        $.getJSON('/Transport/Mapping/EditRoute', { passId: id },
           function (data) {

               $("#EditRoute").show();
               $("#AddRoute").hide();

               if (data.getRow.Status == true) {
                   $('#status').val("true").attr("selected", "true");
               }
               else {
                   $('#status').val("false").attr("selected", "true");
               }

               //if (data.getRow.Status == true) {
               //    alert("tr");
               //    $("#editActive").show();
               //    $("#editInActive").hide();
               //    $("#status").val("true");
               //}
               //else {
               //    alert("fa");
               //    $("#editInActive").show();
               //    $("#editActive").hide();
               //   // $("#status").val("false");
               //}
               $("#Edit_txt_RouteName").val(data.getRow.txt_RouteName);
               $("#Edit_txt_SchoolInTime").val(data.getRow.Edit_txt_SchoolInTime);
               $("#Edit_txt_SchoolOutTime").val(data.getRow.Edit_txt_SchoolOutTime);
               $("#Edit_txt_ParkingStartTime").val(data.getRow.Edit_txt_ParkingStartTime);
               $("#Edit_txt_ParkingEndTime").val(data.getRow.Edit_txt_ParkingEndTime);
               $("#Edit_RegisterNumber").val(data.getRow.RegisterNumber);
               $("#Edit_Destination").val(data.getRow.Destination);
               $("#Edit_Driver").val(data.getRow.Driver);
               $("#Edit_Helper").val(data.getRow.Helper);
               $.each(data.PickPointList, function (i, v) {

                   var txt_PickPoint = "Edit_txt_PickPoint" + i;

                   var txt_DepartureTime = "Edit_txt_DepartureTime" + i;
                   var txt_LeavingTime = "Edit_txt_LeavingTime" + i;
                   var Pid = "Edit_PickID" + i;
                   row = $('<tr><td><label >' + v.PickPoint + '</label></td><td><input type="textbox" class="current_button timepic input_width"  id=' + txt_DepartureTime + ' name="' + txt_DepartureTime + '"  value="' + v.DepartureTime + '"  /><input type="hidden" id=' + Pid + ' name="' + Pid + '" value="' + v.id + '"  /></td><td><input type="textbox" class="current_button input_width" id=' + txt_LeavingTime + ' name="' + txt_LeavingTime + '"  value="' + v.LeavingTime + '" /></td></tr>');
                   $('#Edit_PickPointDetails').append(row);
                   $("#Evalue").val(i);
                   $("#" + txt_DepartureTime).timepicker({ timeFormat: 'HH:mm' });
                   $("#" + txt_LeavingTime).timepicker({ timeFormat: 'HH:mm' });
                   $("#Edit_tblPckpoint").show();
               });
           });
    });

    $('#Edit_Destination').change(function (event) {
        $('#Edit_PickPointDetails').empty();
        $("#Edit_tblPckpoint").hide();
        event.preventDefault();
        var DestinationId = $("#Edit_Destination").val();
        $.getJSON("/Transport/Mapping/getPickPoints", { PassDestinationId: DestinationId },
              function (data) {

                  $.each(data.PickPoint, function (i, v) {

                   //   var txt_PickPoint = "Edit_PickID" + i;

                      var txt_DepartureTime = "Edit_txt_DepartureTime" + i;
                      var txt_LeavingTime = "Edit_txt_LeavingTime" + i;
                      var Pid = "Edit_PickID" + i;
                      row = $('<tr><td><label >' + v.PickPoint + '</label></td><td><input type="textbox" class="input_width"  id=' + txt_DepartureTime + ' name="' + txt_DepartureTime + '" /><input type="hidden" id=' + Pid + ' name="' + Pid + '" value="' + v.id + '"  /></td><td><input type="textbox" class="input_width" id=' + txt_LeavingTime + ' name="' + txt_LeavingTime + '" /></td></tr>');
                      $('#Edit_PickPointDetails').append(row);
                      $("#Evalue").val(i);

                      $("#" + txt_DepartureTime).timepicker({ timeFormat: 'HH:mm' });
                      $("#" + txt_LeavingTime).timepicker({ timeFormat: 'HH:mm' });

                      $("#Edit_tblPckpoint").show();
                  });
              });
    });

    $("#btnUpdateRoute").click(function () {

        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Edit_txt_RouteName') {
                    a.push('@ResourceCache.Localize("Please_enter_route_name")');
                }
                if (null_id == 'Edit_RegisterNumber') {
                    a.push('@ResourceCache.Localize("Please_select_register_number")');
                }
                if (null_id == 'Edit_Destination') {
                    a.push('@ResourceCache.Localize("Please_select_destination")');
                }
                if (null_id == 'Edit_txt_SchoolInTime') {
                    a.push('@ResourceCache.Localize("Please_select_school_in_time")');
                }
                if (null_id == 'Edit_txt_SchoolOutTime') {
                    a.push('@ResourceCache.Localize("Please_select_school_out_time")');
                }
                if (null_id == 'Edit_txt_ParkingStartTime') {
                    a.push('@ResourceCache.Localize("Please_select_parking_start_time")');
                }
                if (null_id == 'Edit_txt_ParkingEndTime') {
                    a.push('@ResourceCache.Localize("Please_select_parking_reach_time")');
                }
                if (null_id == 'Edit_Driver') {
                    a.push('@ResourceCache.Localize("PleaseSelectDriver")');
                }
                if (null_id == 'Edit_Helper') {
                    a.push('@ResourceCache.Localize("PleaseSelectHelper")');
                }
            }
            else {
            }
        });

        if (a.length != 0) {
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#MandatoryFieldErrorMessage_Edit").show();
            $(".Edit_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Edit_jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        var RouteName = $("#Edit_txt_RouteName").val();
        var RegisterNumber = $("#Edit_RegisterNumber").val();
        var DestinationId = $("#Edit_Destination").val();
        var SchoolInTime = $("#Edit_txt_SchoolInTime").val();
        var SchoolOutTime = $("#Edit_txt_SchoolOutTime").val();
        var ParkingStartTime = $("#Edit_txt_ParkingStartTime").val();
        var ParkingEndTime = $("#Edit_txt_ParkingEndTime").val();
        var driver = $("#Edit_Driver").val();
        var helper = $("#Edit_Helper").val();
        var status = $("#status").val();
        var rowId = $("#RouteId").val();
        var c = $("#Evalue").val();
        var id1 = [];
        var departureTime = [];
        var LeaveTime = [];
        for (var i = 0; i <= c; i++) {
            id1[i] = $("#Edit_PickID" + i).val();
            departureTime[i] = $("#Edit_txt_DepartureTime" + i).val();
            LeaveTime[i] = $("#Edit_txt_LeavingTime" + i).val();
            if (departureTime[i] == null || departureTime[i] == "") {
                a.push('@ResourceCache.Localize("Please_select_departure_time_to_all_pickpoint")');
            }
            else if (LeaveTime[i] == null || LeaveTime[i] == "") {
                a.push('@ResourceCache.Localize("Please_select_leaving_time_to_all_pickpoint")');
            }
            else {
                $("#errorMsg").text("");
                $("#div_Error").hide();
            }
            if (departureTime[i] != null || departureTime[i] != "" || LeaveTime[i] != null || LeaveTime[i] != "") {
                var deptTime = departureTime[i];
                var leavTime = LeaveTime[i];
                if (deptTime > leavTime) {
                    a.push('@ResourceCache.Localize("Departure_time_should_be_less_than_leaving_time")');
                            }
                        }
                        if (a.length != 0) {
                            $("#MandatoryFieldErrorMessage_Edit").show();
                            $(".Edit_jErr").append().empty();
                            $.each(a, function (i, v) {
                                if (a[i] != "" && a[i] != null) {
                                    li = $("<li></li>").text(a[i]);
                                    $(".Edit_jErr").append(li);
                                }
                            });
                            a = [];
                            return false;
                        }
                        else {
                            $("#MandatoryFieldErrorMessage_Edit").hide();
                        }
                    }
        $("#MandatoryFieldErrorMessage_Edit").hide();
                    var values = {
                        Edit_txt_RouteName: RouteName, Edit_RegisterNumber: RegisterNumber, Edit_Destination: DestinationId, Edit_txt_SchoolInTime: SchoolInTime, Edit_txt_SchoolOutTime: SchoolOutTime, Edit_txt_ParkingStartTime: ParkingStartTime,
                        Edit_txt_ParkingEndTime: ParkingEndTime, Edit_Driver: driver, Edit_Helper: helper, TotalCount: c, PickPointId: id1, DepartureTime: departureTime, LeavingTime: LeaveTime, rowId: rowId, Status: status
                    };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/Transport/Mapping/UpdateMapping',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $("#Loading_Sec").removeClass("loading-new");
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                            }
                            else {

                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $("#Loading_Sec").removeClass("loading-new");
                                    $(".jsonError").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").show();
                                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $("#Loading_Sec").removeClass("loading-new");
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").show();
                                    $("#RouteListGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                                }
                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $("#Loading_Sec").removeClass("loading-new");
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonExceptionMsg").show();
                                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                }
                            }
                        }
                    });

                });
$("#btnCancel_EditRoute").click(function () {

    $("#EditRoute").hide();
    $("#AddRoute").show();
    $("#errorMsg").empty();
    $("#div_Error").hide();
    $(".jsonError").hide();
    $(".jsonErrorMsg").hide();
    $(".jsonSuccessMsg").hide();
    $(".jsonExceptionMsg").hide();
});


                $('#lang').change(function (event) {
                    event.preventDefault();
                    var CultureId = $('#lang').val();
                    $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                        function (data) {
                            $("#lang").val(data.selVal);
                            location.reload();
                        });
                });
                $(window).load(function () {
                    $.getJSON('/Home/getCulture',
                       function (data) {
                           if (data.cul == "empty") {
                           }
                           else {
                               $("#lang").val(data.cul);
                           }
                       });
                });
</script>
}