﻿@using eAcademy.Models;
@{
    ViewBag.Title = "ErrorPartial";
}
<div class="row">
    <div class="box-body jsonErrorMsg" id="jsonErrorMsg" style="display:none;">
        <div class="alert alert-danger alert-dismissable">
            @* <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <b>
                @ResourceCache.Localize("Error")
            </b>
            <div id="jErrMsg" class="jErrMsg"></div>
        </div>
    </div>
    <div class="box-body jsonSuccessMsg" id="jsonSuccessMsg" style="display:none;">
        <div class="alert alert-success alert-dismissable">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <b>@ResourceCache.Localize("Success")</b>
            <div id="jSuccessMsg" class="jSuccessMsg"></div>
        </div>
    </div>
    <div class="box-body jsonExceptionMsg" id="jsonExceptionMsg" style="display:none;">
        <div class="alert alert-danger alert-dismissable">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <b>@ResourceCache.Localize("Error")</b>
            <div id="jExceptionMsg" class="jExceptionMsg"></div>
        </div>
    </div>
    <div class="box-body jsonError" id="jsonError" style="display:none;">
        <div class="alert alert-danger alert-dismissable">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <b>@ResourceCache.Localize("Error") </b>
            <div><ul id="jErr" class="jErr"><li></li></ul></div>
        </div>
    </div>
    <div class="box-body div_Error" id="div_Error" style="display:none;">
        <div class="alert alert-danger alert-dismissable">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <b>@ResourceCache.Localize("Error")</b>
            <div><ul id="errorMsg" class="errorMsg"><li></li></ul></div>
        </div>
    </div>
</div>