﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.MapFeatureRole>
@{
    ViewBag.Title = "MapRole";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditRole" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Edit_Map_Role_to_Feature")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditMapRole", "UserConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="mapId_hide" name="mapId_hide" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Role")</label> </div>
                            <input id="RoleId1" name="RoleId1" type="hidden" />
                            <div><input class="col-lg-12" id="Role" name="Role" type="text" readonly title="@ResourceCache.Localize("Role")" placeholder="@ResourceCache.Localize("Role")" required disabled /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Feature")</label> </div>
                            <input id="FeatureId1" name="FeatureId1" type="hidden" />
                            <div><input class="col-lg-12" id="Feature" name="Feature" type="text" readonly title="@ResourceCache.Localize("Feature")" placeholder="@ResourceCache.Localize("Feature")" required /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm"> @ResourceCache.Localize("Feature_Details")</label> </div>
                            <div><textarea class="col-lg-12" id="feature_details" name="feature_details" placeholder="@ResourceCache.Localize("Feature_Details")" readonly required title="@ResourceCache.Localize("Feature_Details")"> </textarea></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">Status</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /> <label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnUpdateMapRole" name="btnUpdateMapRole" title="Update"> <i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateRole" name="btncancel_updateRole" title="Update"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddRole">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Map_Role_to_Feature")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("MapRole", "UserConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Role")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("RoleId", new SelectList(ViewBag.RoleId, "RoleId", "RoleType"), @ResourceCache.Localize("Select_Role"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Feature") </label> <span class="glyphicon glyphicon-asterisk"></span></div>                         
                            <div>
                                @*@Html.ListBox(
                                      "FeatureId",
                               new MultiSelectList(ViewBag.FeatureId, "FeatureId", "FaetureType"),
                               new { @class = "chzn-select current_button", data_placeholder = @ResourceCache.Localize("Select Feature") }
                                            )*@
        @Html.ListBox("FeatureId", new SelectList(new[] { "" }), new { @class = "list-group current_button1", data_placeholder = @ResourceCache.Localize("Select Feature") })

                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddMapRoleXX" name="btnAddMapRoleXX" title="Add Role"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset" id="ResetMapRole" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_Roles_to_Features")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div class="col-sm-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Role")</label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                        <div>@Html.DropDownList("txtRoleType", new SelectList(ViewBag.RoleId1, "RoleId", "RoleType"), @ResourceCache.Localize("All_Roles"), new { @class = "filterItem" })</div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnRole_Filter" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
               
                <div class="box-body corner_ui" >
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        var MapRoleId;
        $('#RoleId').change(function () {
            var roles = $('#RoleId').val();
            $.ajax({
                type: "GET",
                url: "/UserConfiguration/GetFeatureslist",
                data: { roles: roles },
                dataType: "json",
                success: function (records) {
                    $("#FeatureId").empty();
                    if (records != "") {
                        $.each(records, function (key, value) {
                            $('#FeatureId').append('<option value="' + value.FeaturedId + '">' + value.Feature + '</option>');
                        });
                    }
                    else {
                        $("#FeatureId").empty();
                    }
                },

            });
        });
        jQuery("#grid1").jqGrid({
            url: "/UserConfiguration/MapRoleResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("Role")', '@ResourceCache.Localize("Feature")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'], // '@ResourceCache.Localize("Feature_Details")',
            colModel: [
                { key: true, hidden: true, name: 'MRid', index: 'MRid' },
                { key: false, name: 'RoleType', index: 'RoleType' },
                { key: false, name: 'FeatureType', index: 'Status' },
                //{ key: false, name: 'FeatureDetails', index: 'FeatureDetails' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    MapRoleId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_MapRole btn_Edit ui-icon-pencil' id='" + MapRoleId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
        ).jqGrid('navButtonAdd', '#pager1',
        {
            caption: " Excel ",
            buttonicon: "ui-icon-bookmark",
            onClickButton: function () {
                window.location.href = "../UserConfiguration/MapRoleExportToExcel";
            }
        }).jqGrid('navButtonAdd', '#pager1',
        {
            caption: " Pdf ",
            buttonicon: "ui-icon-print",
            position: "last",
            onClickButton: function () {
                window.location.href = "../UserConfiguration/MapRoleExportToPDF";
            }
        });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Role_with_Feature_List")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRole_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_MapRole', function () {
            var id = $(this).attr('id');
            values = { mapId: id };
            $.ajax({
                url: '/UserConfiguration/EditMapRole',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_AddRole").hide();
                    $("#idSection_EditRole").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#mapId_hide").val(id).html(id);
                    $("#RoleId1").val(data.ans.RoleId).html(data.ans.RoleId);
                    $("#Role").val(data.ans.RoleType).html(data.ans.RoleType);
                    $("#FeatureId1").val(data.ans.FeatureId).html(data.ans.FeatureId);
                    $("#Feature").val(data.ans.FeatureType).html(data.ans.FeatureType);
                    $("#feature_details").val(data.ans.FeatureDetails).html(data.ans.FeatureDetails);
                    if (data.ans.Status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.Status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                }
            });
        });
        $("#btncancel_updateRole").click(function () {
            $("#idSection_AddRole").show();
            $("#idSection_EditRole").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#ResetMapRole").click(function () {
            $("#idSection_AddRole").show();
            $("#idSection_EditRole").hide();
            $(".jsonError").hide();
            $("#jExceptionMsg").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $("#FeatureId").empty();
        });
        $("#btnAddMapRoleXX").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var roleid = $("#RoleId").val();
                var rid = $("#FeatureId").val();
                var values = { RoleId: roleid, FeatureId: String(rid) };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/UserConfiguration/MapRole',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        $("#btnUpdateMapRole").click(function () {
            var mapid = $("#mapId_hide").val();
            var roleid = $("#RoleId1").val();
            var fid = $("#FeatureId1").val();
            var check = $("#txt_status").is(':checked');
            var Status;
            if (check == true) {
                Status = "Active";
            }
            else {
                Status = "Inactive";
            }
            var values = { MRid: mapid, RoleId: roleid, FeatureId: fid, status: Status };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/UserConfiguration/SaveEditMapRole',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'RoleId') {
                    a.push('@ResourceCache.Localize("Select_Role").');
                }
                if (null_id == 'FeatureId') {
                    a.push('@ResourceCache.Localize("Select_Feature").');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}