﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.UserLogList>
@{
    ViewBag.Title = "UserActivity";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("User_Activity")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="box-body" id="show">
                        <input type="hidden" id="count" name="count" value="@ViewBag.count" />
                        @if (ViewBag.count > 0)
                        {
                            @Html.Partial("~/Views/Shared/Print.cshtml")
    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("User_Activity")</h2>
                                <table  class="table table-bordered table-striped" border="1">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("SNo")</th>
                                            <th>@ResourceCache.Localize("User_Id")</th>
                                            <th>@ResourceCache.Localize("User_Type")</th>
                                            <th>@ResourceCache.Localize("Features")</th>
                                            <th>@ResourceCache.Localize("Activity")</th>
                                            <th>@ResourceCache.Localize("Time")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="manageAcademicYear">
                                        @foreach (var item in Model)
                                        {
                                            sno++;
                                            <tr>
                                                <td>@sno</td>
                                                <td>@item.UserRegId</td>
                                                <td>@item.UserType</td>
                                                <td>@item.Link</td>
                                                <td>@item.Activity</td>
                                                <td>@item.Time</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@ResourceCache.Localize("SNo")</th>
                                            <th>@ResourceCache.Localize("User_Id")</th>
                                            <th>@ResourceCache.Localize("User_Type")</th>
                                            <th>@ResourceCache.Localize("Features")</th>
                                            <th>@ResourceCache.Localize("Activity")</th>
                                            <th>@ResourceCache.Localize("Time")</th>
                                        </tr>
                                    </tfoot>
                                </table>
                           
                        }
                        else
                        {
                            @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                        }
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var rec = $('#count').val();
            if (rec == 0) {
                $('.NoRecords').show();
            }
            else {
                $('.NoRecords').hide();
            }
        });
    </script>
}