﻿@model IEnumerable<eAcademy.DataModel.UserLog>
@using eAcademy.Models
@{
    ViewBag.Title = "UserLog";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("Manage_User_Log")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")                
                <div class="widget-content">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    </div>
                    <div id="parent" class="row">
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("From")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input type="text" id="Fromdate" name="Fromdate" class="col-lg-12 current_button filterItem" readonly placeholder="@ResourceCache.Localize("Select From Date")" />
                       </div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("To")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <input type="text" id="Todate" name="Todate" class="col-lg-12 current_button filterItem" readonly placeholder="@ResourceCache.Localize("Select To Date")" /></div>
                        <div class="col-sm-3">
                            <div><label class="input-label-sm">Login Source</label> <span class="glyphicon glyphicon-asterisk"></span></div>                            
                            <select id="Source" name="Source" class="col-lg-12 current_button filterItem">
                                <option value="">select source</option>
                                <option value="Web">Web</option>
                                <option value="App">App</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="userLogfilter" name="userLogfilter" class="btn btn-sm btn_search filterItem btn-down1"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>
                    <div class="col-lg-12 btn-down" >
                        <table class="col-lg-12" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        var dates = $("#Fromdate, #Todate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            onSelect: function (selectedDate) {
                var option = this.id == "Fromdate" ? "minDate" : "maxDate",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(
                instance.settings.dateFormat ||
                $.datepicker._defaults.dateFormat,
                selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
        jQuery("#grid1").jqGrid({
            url: "/UserConfiguration/UserResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("User_Id")', '@ResourceCache.Localize("User_Type")', '@ResourceCache.Localize("Ip_Address")', '@ResourceCache.Localize("Login_Time")', '@ResourceCache.Localize("Logout_Time")','LoginSource', '@ResourceCache.Localize("Activity")'], //'Ip Address', 'Session Id',
            colModel: [
                  { key: true, hidden: true, name: 'userid', index: 'userid' },
                { key: false, name: 'UserRegId', index: 'UserRegId' },
                { key: false, name: 'UserType', index: 'UserType' },
                 { key: false, name: 'IpAddress', index: 'IpAddress' },
                //{ key: false, name: 'SessionId', index: 'SessionId' },
                 {
                     key: false, name: 'LoginTime', index: 'LoginTime'
                     //, formatter: 'date',
                     //formatoptions: {
                     //    srcformat: 'ISO8601Long',
                     //    newformat: 'd-m-Y H:i:s',
                     //    defaultValue: null // does nothing!
                     //},
                 },
                {
                    key: false, name: 'LogoutTime', index: 'LogoutTime'
                    //, formatter: 'date',
                    //formatoptions: {
                    //    srcformat: 'ISO8601Long',
                    //    newformat: 'd-m-Y H:i:s',
                    //    defaultValue: null // does nothing!
                    //},
                },
                  { key: false, name: 'LoginSource', index: 'LoginSource' },
                 { key: false, name: 'Link', index: 'Link', formatter: 'showlink', formatoptions: { baseLinkUrl: '/UserConfiguration/UserActivity' } },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100,250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    RoleId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Role btn_Edit fa fa-edit' id='" + RoleId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../UserConfiguration/UserlogExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../UserConfiguration/UserlogExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("UserLogDetails")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />');


        $('#userLogfilter').click(function (e) {           

            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Fromdate') {
                        a.push('@ResourceCache.Localize("Please_select_from_date")');
                }
                if (null_id == 'Todate') {
                    a.push('@ResourceCache.Localize("Please_select_to_date")');
                }
                    if (null_id == 'Source') {
                        a.push('please select login source');
                    }
            }
        });
        if (flag == 0) {
            e.preventDefault();
            userLogfilterGrid1();
        }
        if (a.length != 0) {
            $('.NoRecords').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").show();
            var li = [];
            $("#jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
        }
    });
        function userLogfilterGrid1() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            var newdt;
            $('.filterItem').each(function (index, item) {
                //postDataValues[$(item).attr('id')] = $(item).val();
                if (index == 0 || index == 1) {
                    var dt = $(item).val().split('/');
                    newdt = dt[2] + '/' + dt[1] + '/' + dt[0];
                }
                else {
                    newdt = $(item).val();
                }
                postDataValues[$(item).attr('id')] = newdt;
            });
        var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');     
        $('#grid1').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    }
    });
    </script>
}
