﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.Ranklist>
@{
    ViewBag.Title = "Fee";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FeesDetails")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("", "")" method="post">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div class="col-lg-2 col-sm-6 col-xs-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label><span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    @Html.DropDownList("AcyearList", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button1" })
                                </div>
                            </div>
                            <div class="col-lg-2  col-sm-6 col-xs-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("PaymentType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Termtype", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectOption"), Value = "0" } }, new { @class = "col-md-12 current_button1" })<span id="Err_Termtype" class="colors2"></span>
                            </div>
                            <div class="col-lg-2  col-sm-6 col-xs-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("FeeCatList", new SelectList(ViewBag.feeCategory, "FeeCatId", "FeeType"), @ResourceCache.Localize("SelectFeeCategory"), new { @class = "current_button1" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-xs-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label><span class="glyphicon glyphicon-asterisk"></span> </div>
                                <div>
                                    @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "current_button1" })
                                </div>
                            </div>
                            <div class="col-lg-2  col-sm-6 col-xs-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    <select id="SectionList" name="SectionList" class="current_button1">
                                        <option>@ResourceCache.Localize("SelectSection")</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-lg-2  col-sm-6 col-xs-6">
                                <div><label class="input-label-sm">@ResourceCache.Localize("FeeParticular")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("FeeParticular", ViewBag.FeePaticular as List<SelectListItem>, new { @class = "col-md-12 current_button1" })<span id="Err_FeeParticular" class="colors2"></span>
                            </div>
                            <div class="col-lg-2  col-sm-6 col-xs-6">
                                <div> <button type="button" class="btn btn-sm btn_search btn-down " id="FeesDueDetails" name="FeesDueDetails"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button></div>
                            </div>
                            <div class="col-xs-12 btn-down" id="No_Records">
                                @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                            </div>
                            <div id="show" class="box-body row border-radius-none" style="display:none;">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <center><label id="lbl1" class="label label-primary">@ResourceCache.Localize("Cap_FEES_DETAILS")</label></center>
                                        <table class="col-sm-4" border="0">
                                            <tr>
                                                <td><p>@ResourceCache.Localize("Cap_YEAR")</p></td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Year"></p></td>                                          
                                                <td><p>@ResourceCache.Localize("Cap_CLASS")</p></td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Class" ></p></td>
                                            </tr>
                                            <tr>
                                                <td><p>@ResourceCache.Localize("Cap_SECTION")</p></td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_Sec"></p></td>                                           
                                                <td><p>@ResourceCache.Localize("Cap_PAYMENT_TYPE")</p></td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_PaymentType" ></p></td>
                                            </tr>
                                            <tr>
                                                <td><p>@ResourceCache.Localize("Cap_FEES_CATEGORY")</p></td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_FeeCat" ></p></td>                                           
                                                <td><p>@ResourceCache.Localize("Cap_FEES_PARTICULAR")</p></td>
                                                <td><p>:</p></td>
                                                <td><p id="Txt_FeeParticular" ></p></td>
                                            </tr>
                                        </table>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Print.cshtml")
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("FeeDetails")</h2>
                                    <table class="col-lg-12 table table-bordered table-striped" id="show" border="1">
                                        <thead>
                                            <tr>
                                                <th>@ResourceCache.Localize("SNO")</th>
                                                <th>@ResourceCache.Localize("RollNumber")</th>
                                                <th>@ResourceCache.Localize("StudentName")</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-duelist"></tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcyearList').val(@Session["List_ChosenAcademicYearId"]);
        ChangeClassandSection();
        function ChangeClassandSection() {
            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
            $.getJSON('/FeeManagement/getClass',
           function (data) {
               $("#ClassList").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
               $.each(data, function (i, c) {
                   $("#ClassList").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
            var year = $('#AcyearList').val();
            $.getJSON('/Report/getTerm', { year: year },
               function (data) {
                   $("#Termtype").empty().append('<option value="0">@ResourceCache.Localize("Annual")</option>');
                   $.each(data, function (i, c) {
                       $("#Termtype").append($('<option></option>').val(c.termid).html(c.termname));
                   });
               });
        }
        $("#ClassList").change(function () {
            // $("#txt_rNo").val("").html("");
            //$("#div-feeDetais1").hide();
            //$("#div-TermfeeDetais1").hide();
            var cid = $("#ClassList").val();

            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentList").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');

            //$.getJSON('/FeeManagement/getSection', { cid: cid },

            //function (data) {
            //    $("#SectionList").empty().append('<option value="">Select Section</option>');
            //    $.each(data, function (i, c) {
            //        $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
            //    });

            //});

            $.getJSON('/FeeCollection/getSection', { cid: cid },

           function (data) {
               $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
               $.each(data, function (i, c) {
                   $("#SectionList").append($('<option></option>').val(c.SectionId).html(c.Section));
               });

           });
        });
        $('#AcyearList').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcyearList').val();
            AssignAcademicYear(YearId);
            $('#FeeCatList').val("");
            $('#ClassList').val("");
            $("#Termtype").empty().append('<option value="0">@ResourceCache.Localize("Annual")</option>');
            $("#NoRecords").hide();
            $("#show").hide();
            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#FeeParticular').val("");
        });
        $('#FeeCatList').change(function () {
            $('#ClassList').val("");
            $("#show").hide();
            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#FeeParticular').val("");
        });
        $('#ClassList').change(function () {
            $("#show").hide();
            $("#SectionList").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $('#FeeParticular').val("");
        });
        $('#SectionList').change(function () {
            $("#show").hide();
            $('#FeeParticular').val("");
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $('#AcyearList').change(function () {
            var year = $('#AcyearList').val();
            $.getJSON('/Report/getTerm', { year: year },
               function (data) {
                   $("#Termtype").empty().append('<option value="0">@ResourceCache.Localize("Annual")</option>');
                   $.each(data, function (i, c) {
                       $("#Termtype").append($('<option></option>').val(c.termid).html(c.termname));
                   });
               });
        });
        $('#FeesDueDetails').click(function () {
            var acid = $("#AcyearList").val();
            var cid = $("#ClassList").val();
            var sid = $('#SectionList').val();
            var payid = $('#Termtype').val();
            var feeid = $('#FeeCatList').val();
            var FeeParticular = $('#FeeParticular').val();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button1").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcyearList') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'ClassList') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'SectionList') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                    if (null_id == 'Termtype') {
                        a.push('@ResourceCache.Localize("PleaseSelectPaymentType")');
                    }
                    if (null_id == 'FeeCatList') {
                        a.push('@ResourceCache.Localize("PleaseSelectFeeCategory")');
                    }
                    if (null_id == 'FeeParticular') {
                        a.push('@ResourceCache.Localize("Please_select_fee_particular")');
                    }
                }
            });
            if (flag == 0) {
                var acid = $("#AcyearList").val();
                var cid = $("#ClassList").val();
                var sid = $('#SectionList').val();
                var payid = $('#Termtype').val();
                var feeid = $('#FeeCatList').val();
                $.getJSON('/AcademicReport/GetStudentFeelist', { aid: acid, cid: cid, sid: sid, payid: payid, feeid: feeid, req: FeeParticular },
                  function (data) {
                      if (data.result != null) {
                          $('#show').show();
                          $('.NoRecords').hide();
                          $('#Txt_Year').text($('#AcyearList option:selected').text());
                          $('#Txt_Class').text($('#ClassList option:selected').text());
                          $('#Txt_Sec').text($('#SectionList option:selected').text());
                          $('#Txt_PaymentType').text($('#Termtype option:selected').text());
                          $('#Txt_FeeCat').text($('#FeeCatList option:selected').text());
                          $('#Txt_FeeParticular').text($('#FeeParticular option:selected').text());
                          $("#tbody-duelist").empty().append();
                          var k = 0;
                          $.each(data.result, function (i, c) {
                              $("#div-DueList").show();
                              k = i + 1;
                              row = '<tr><td>' + k + '</td> <td> ' + c.StudentRollNumber + ' </td> <td>' + c.StuFirstName + ' </td></tr>';
                              $("#tbody-duelist").append(row);
                          });
                      }
                      else if (data.Success != null || data.Success != "") {
                          $('#Err').hide();
                          $('.NoRecords').show();
                          $('#show').hide();
                      }
                      else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                          $('#Err').show();
                          $('.NoRecords').hide();
                          $('#show').hide();
                          $("#jsonError").hide();
                          $("#jsonExceptionMsg").hide();
                          $("#jsonSuccessMsg").hide();
                          $("#jsonErrorMsg").show();
                          $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                      }
                      else {
                      }
                  });
            }
            if (a.length != 0) {
                $('#show').hide();
                $('#Err').show();
                $('.NoRecords').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
    });
</script>
}