﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.EventList>
@{
    ViewBag.Title = "FunctionTimeTable";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<!-- Content Header (Page header) -->
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("FunctionTimeTable")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("", "")" method="post" id="myform">
                            <div class="col-xs-12" id="Err" style="display:none;">
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            </div>
                            <div id="parent" class="row">
                                <div class=" col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("AcademicYear", new SelectList(ViewBag.academicyear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "col-md-12 filterItem current_button" })<span id="Err_AcademicYear" class="colors2"></span>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <button type="button" id="FuntionTimetablefilter" class="btn btn-sm btn_search filterItem btn-down"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-12 col-xs-12 col-sm-12 btn-down" id="show" style="display:none;">
                            <table class="col-lg-12 col-xs-12 col-sm-12" id="funtiongrid"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["List_ChosenAcademicYearId"]);
        $('#AcademicYear').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#funtiongrid').setGridWidth(width, true); //Back to original width
            $('#funtiongrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        //Function TimeTable
        jQuery("#funtiongrid").jqGrid({
            url: "/AcademicReport/JQgridFuntionTimeTable",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['@ResourceCache.Localize("EventDates")', '@ResourceCache.Localize("EventName")', '@ResourceCache.Localize("EventDescription")', '@ResourceCache.Localize("AcademicYear")'],
            colModel: [
                    { key: false, name: 'EventDates', index: 'EventDates', editable: true },
                    { key: false, name: 'EventName', index: 'EventName', editable: true },
                    { key: false, name: 'EventDecribtion', index: 'EventDecribtion', editable: true },
                    { key: true, hidden: true, name: 'AcademicYear', index: 'AcademicYear' },
            ],
            pager: jQuery("#pager"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("FunctionTimeTable")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
               ).jqGrid('navButtonAdd', '#pager',
               {
                   caption: "@ResourceCache.Localize("Excel")",
                   buttonicon: "ui-icon-bookmark",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../AcademicReport/FunctionListReport_ExportToExcel";
                   }
               }).jqGrid('navButtonAdd', '#pager',
               {
                   caption: "@ResourceCache.Localize("Pdf") ",
                   buttonicon: "ui-icon-print",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../AcademicReport/FunctionListReport_ExportToPdf?pdf=true";
                   }
               });
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#FuntionTimetablefilter').click(function (event) {
                var acyear = $('#AcademicYear').val();
                var a = [];
                var field_val = [];
                var flag = 0;
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '') {
                        flag = 1;
                        var null_id = $(this).attr('id');
                        if (null_id == 'AcademicYear') {
                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
            }
        });
        if (flag == 0) {
            $('#show').show();
            $('#Err').hide();
            event.preventDefault();
            FuntionTimetablefilterGrid();
        }
        if (a.length != 0) {
            $('#show').hide();
            $('#Err').show();
            $('.NoRecords').hide();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").show();
            var li = [];
            $("#jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
        }
    });
    function FuntionTimetablefilterGrid() {
        var postDataValues = $("#funtiongrid").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#funtiongrid').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
    }
    });
    </script>
}