﻿@using eAcademy.Areas.Communication.LocalResources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")

<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12" id="AddHomework">
            <div>
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-plus"></i>
                        <h3 class="box-title">@ResourceCache.Localize("SendEmail/SMS")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <form>
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")
                            <div class="NoRecords box-body" id="info_text" style="display:none">
                                <div class="alert alert-info alert-dismissable">
                                    <b>@ResourceCache.Localize("Info:Message_can_send_for_current_academic_year_only")</b>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Commn_allAcademicYears", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("AcademicYear"), new { @class = "current_button" })
                            </div>
                            <div class="col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="Commn_txt_Date" name="Commn_txt_Date" placeholder="@ResourceCache.Localize("Date")" title="Date @ResourceCache.Localize("Date")" required="required" readonly />
                            </div>
                            <div class="col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Title")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12 current_button" type="text" id="Commn_txt_title" name="Commn_txt_title" placeholder="@ResourceCache.Localize("Title")" title="@ResourceCache.Localize("Title")" required="required" />
                            </div>
                            <div class="col-lg-12">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <textarea class="col-lg-12 current_button" id="Commn_txt_description" name="Commn_txt_description" placeholder="@ResourceCache.Localize("Description")" title="@ResourceCache.Localize("Description")" required="required" maxlength="250"></textarea>
                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                            <div class="col-lg-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("SelectFile")</label></div>
                                <input type="file" id="CFile" name="CFile" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">@ResourceCache.Localize("egPdfDocx")
                                <p>@ResourceCache.Localize("TotalSize") <span id="fileSize">0</span></p>
                                <p class="File_message"></p>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <label class="input-label-sm">@ResourceCache.Localize("CommunicationType")</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="checkbox" name="Mail" id="Mail" value="email" />
                                    <label class="input-label-sm">@ResourceCache.Localize("Communication_Type_Email")</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="checkbox" name="Sms" id="Sms" value="sms" />
                                    <label class="input-label-sm">@ResourceCache.Localize("SMS")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 " id="Div_SelectOption">
                                    <div class="col-lg-12"><label class="input-label-sm">@ResourceCache.Localize("To")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="All" class="current_button"> @ResourceCache.Localize("All")
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="Class" class="current_button">@ResourceCache.Localize("Class")
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="Student" class="current_button">@ResourceCache.Localize("Student")
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="AllStaff" class="current_button">@ResourceCache.Localize("AllStaff")
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="radio" id="SelectOption" name="SelectOption" value="SingleStaff" class="current_button">@ResourceCache.Localize("SingleStaff")
                                    </div>
                                </div>
                            </div>
                            <div id="Div_Class" style="display:none">
                                <div class="col-lg-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AllClass")</label>  <input class="current_button" id="check_AllClass1" value="AllClass" name="check_AllClass1" type="checkbox" /></div>
                                    <div id="div_SelClass">
                                        @Html.ListBox("Class", new MultiSelectList(ViewBag.allClasses, "ClassId", "ClassName"), new { @class = "chzn-select current_button", data_placeholder = ResourceCache.Localize("ChooseClass") })
                                    </div>
                                </div>
                            </div>
                            <div id="Div_Student" style="display:none">
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Stu_allClass", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("SelectClass"), new { @class = "current_button" })
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Stu_Section", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button" })
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" id="btnShowStudents" class="btn btn-sm btn_save btn-down btn_double"> @ResourceCache.Localize("Submit")</button>
                                </div>
                                <div class="box-body" id="Div_StudentList" style="display:none">
                                    <div id="tbl_scrol">
                                        <table class="table table-bordered table-striped col-lg-12">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" name="AllEmp" id="AllEmp" />@ResourceCache.Localize("SelectAll")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("StudentId")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("StudentName")
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="Communication_StudentList"></tbody>
                                        </table>
                                        <input type="hidden" id="StudentCount" />
                                    </div>
                                </div>
                                <div class="col-lg-12"></div>
                            </div>
                            <div id="Div_AllStaff" style="display:none">
                                <div class="col-lg-12 col-sm-12">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Staff")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AllStaff")</label>  <input class="current_button" id="check_AllStaff" name="check_AllStaff" type="checkbox" /></div>
                                    <div id="div_selStaf">
                                        @Html.ListBox("Staff", new MultiSelectList(ViewBag.AllEmployeeType, "EmployeeTypeId", "EmployeeType"), new { @class = "chzn-select current_button", data_placeholder = ResourceCache.Localize("ChooseStaff") })
                                    </div>
                                </div>
                            </div>
                            <div id="Div_SingleStaff" style="display:none">
                                <div class="col-lg-4 col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Staff")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("allStaff", new SelectList(ViewBag.AllEmployeeType, "EmployeeTypeId", "EmployeeType"), ResourceCache.Localize("SelectStaffType"), new { @class = "current_button" })
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" id="btnShowStaff" class="btn btn-sm btn_save btn-down btn_double">@ResourceCache.Localize("Submit")</button>
                                </div>
                                <div class="box-body" id="Div_EmployeeList" style="display:none">
                                    <div id="tbl_scrol">
                                        <table class="table table-bordered table-striped col-lg-12">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" name="AllStaff" id="AllStaff" />@ResourceCache.Localize("SelectAll")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("EmployeeId")
                                                    </th>
                                                    <th>
                                                        @ResourceCache.Localize("EmployeeName")
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="Commn_EmployeeList"></tbody>
                                        </table>
                                        <input type="hidden" id="EmployeeCount" />
                                    </div>
                                </div>
                                <div class="col-lg-12"></div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                            <div class="col-lg-12">
                                <button type="button" id="btnAddCommunication" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Submit")</button>
                                <button type="reset" id="btnResetCommn" class="btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
            $('#chars1').text(length);
        });
        $('#Commn_allAcademicYears').val(@Session["Add_ChosenAcademicYearId"]);
        $('#Commn_allAcademicYears').change(function (event) {
            event.preventDefault();
            //  $("#Class_chosen ul").remove("li");
            $("#Stu_allClass").val("");
            $("#Stu_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            //   $("#Staff_chosen").val("");
            $("#allStaff").val("");
            $("#Div_StudentList").hide();
            $("#Div_EmployeeList").hide();
            var YearId = $('#Commn_allAcademicYears').val();
            AssignAcademicYear(YearId);
        });

        $.getJSON('/Communication/Message/GetCommunicationStatus',
        function (data) {
            var emailStatus = data.EmailStatus;
            var smsStatus = data.MobileStatus;
            if (emailStatus == true) {
                $("#Mail").prop("disabled", false);
            }
            else {
                $("#Mail").prop("disabled", true);
            }
            if (smsStatus == true) {
                $("#Sms").prop("disabled", false);
            }
            else {
                $("#Sms").prop("disabled", true);
            }
        });

        $("#allStaff").change(function (event) {
            $("#Div_EmployeeList").hide();
        });
        $("#Stu_allClass").change(function (event) {
            $("#Div_StudentList").hide();
        });
        $("#Stu_Section").change(function (event) {
            $("#Div_StudentList").hide();
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $("#Commn_txt_title").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $('#Stu_allClass').change(function (event) {
            var ClassId = $('#Stu_allClass').val();
            $("#Stu_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $.getJSON('/Communication/Message/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#Stu_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Stu_Section").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        });
        $("#Div_SelectOption input:radio").click(function () {
            var selVal = $('input[name=SelectOption]:checked').val();
            if (selVal == "Class") {
                $("#Div_Class").show();
                $("#Div_Student").hide();
                $("#Div_AllStaff").hide();
                $("#Div_SingleStaff").hide();
            }
            if (selVal == "Student") {
                $("#Div_Class").hide();
                $("#Div_Student").show();
                $("#Div_AllStaff").hide();
                $("#Div_SingleStaff").hide();
            }
            if (selVal == "AllStaff") {
                $("#Div_Class").hide();
                $("#Div_Student").hide();
                $("#Div_AllStaff").show();
                $("#Div_SingleStaff").hide();
            }
            if (selVal == "SingleStaff") {
                $("#Div_Class").hide();
                $("#Div_Student").hide();
                $("#Div_AllStaff").hide();
                $("#Div_SingleStaff").show();
            }
            if (selVal == "All") {
                $("#Div_Class").hide();
                $("#Div_Student").hide();
                $("#Div_AllStaff").hide();
                $("#Div_SingleStaff").hide();
            }
        });
        $("#check_AllClass1").click(function (event) {
            if (this.checked) {
                $("#div_SelClass").hide();
            }
            else {
                $("#div_SelClass").show();
            }
        });
        $("#check_AllStaff").click(function (event) {
            if (this.checked) {
                $("#div_selStaf").hide();
            }
            else {
                $("#div_selStaf").show();
            }
        });
        var HolidayDate1 = [];
        var HolidayReason1 = [];
        $.getJSON("/Communication/Message/FutureActiveDate",
             function (data) {
                 $.each(data.HolidaysList, function (i, c) {
                     HolidayDate1[i] = c.Date;
                     HolidayReason1[i] = c.Holiday;
                 });
                 var holidays = HolidayDate1;
                 $(function () {
                     var dates = $("#Commn_txt_Date").datepicker({
                         dateFormat: 'dd/mm/yy',
                         minDate: data.StartingEnableDate,
                         maxDate: data.EndingEnableDate,
                         changeMonth: true,
                         changeYear: true,
                         beforeShowDay: function (date) {
                             show = true;
                             for (var i = 0; i < holidays.length; i++) {
                                 if (new Date(holidays[i]).toString() == date.toString()) { return [true, 'holiday green', HolidayReason1[i]]; }//No Holidays
                             }
                             if (date.getDay() == 0 || date.getDay() == 7) { return [false, 'holiday red', '']; }//No Weekends
                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                             return display;
                         },
                     });
                 });
             });
        $("#btnAddCommunication").click(function () {
            $("#jsonSuccessMsg").hide();
            $("#Commn_allAcademicYears").addClass("current_button");
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Commn_allAcademicYears') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Commn_txt_Date') {
                        a.push('@ResourceCache.Localize("PleaseSelectDate")');
                    }
                    if (null_id == 'Commn_txt_title') {
                        a.push('@ResourceCache.Localize("PleaseEnterTitle")');
                    }
                    if (null_id == 'Commn_txt_description ') {
                        a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                    }
                }
                else {
                }
            });
            var comment = $('#Commn_txt_description').val();
            if (comment.length > 250) {
                a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters").');
            }
            var comment = $('#Commn_txt_description').val();
            if (comment.length == 0) {
                a.push('@ResourceCache.Localize("PleaseEnterDescription")');
            }
            else {
                var txchar = $("#Commn_txt_description").val().replace(/ /g, '');
                if (txchar.length == 0) {
                    a.push('@ResourceCache.Localize("PleaseEnterDescription")');
                }
            }
            var optVal = $('input[name=SelectOption]:checked').val();
            if (optVal == null) {
                a.push('@ResourceCache.Localize("PleaseSelectToOption")');
            }
            var comType;
            if (document.getElementById('Mail').checked) {
                comType = "selected";
            }
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }

            var data = new FormData();

            if ($('#CFile').val() != "") {
                var ext = $('#CFile').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['doc', 'docx', 'pdf', 'txt']) == -1) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text("@ResourceCache.Localize("Invalid_extension_File_format_does_not_support")");
                    return false;
                }
                var files = $("#CFile").get(0).files;
                if (files.length > 0) {
                    updateSize(files);
                    data.append("HelpSectionImages", files[0]);
                }
            }
            data.append("year", jQuery('#Commn_allAcademicYears').val());
            data.append("date", jQuery('#Commn_txt_Date').val());
            data.append("title", jQuery('#Commn_txt_title').val());
            data.append("desc", jQuery('#Commn_txt_description').val());
            data.append("To", optVal);
            if (document.getElementById('Mail').checked) {
                data.append("email", jQuery('#Mail').val());
            }

            if (document.getElementById('Sms').checked) {
                data.append("sms", jQuery('#Sms').val());
            }
            var selVal = $('input[name=SelectOption]:checked').val();
            if (selVal == "Class") {
                var checkclass;
                var status = $("#check_AllClass1").is(':checked');
                if (status == true) {
                    checkclass = "on";
                    data.append("allclass", checkclass);
                }
                else {
                    checkclass = "off";
                    data.append("allclass", checkclass);
                    data.append("singleClass", jQuery('#Class').val());
                }
                var choosenClass = $("#Class").val();
                if (checkclass == "off" && choosenClass == null) {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Communication/Message/SendMessage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.InfoMessage != "" && data.InfoMessage != null) {
                                $("#info_text").show();
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $("#Loading_Sec").removeClass("loading-new");
                            }

                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                reset();
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });

            }
            if (selVal == "Student") {
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Stu_allClass') {
                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                        if (null_id == 'Stu_Section') {
                            a.push('@ResourceCache.Localize("PleaseSelectSection")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }

                var s = $("#StudentCount").val();
                var id = [];
                var studentRegId = [];
                var isCheck;
                for (var i = 0; i <= s; i++) {
                    if ($("#" + i).prop('checked') == true) {
                        isCheck = "checked";
                        studentRegId[i] = $("#RegId" + i).val();
                    }
                    else {
                        studentRegId[i] = "No";
                    }
                }
                if (isCheck != "checked") {
                    a.push('@ResourceCache.Localize("Please_select_any_student")');
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                data.append("Stu_allClass", jQuery('#Stu_allClass').val());
                data.append("Stu_Section", jQuery('#Stu_Section').val());
                data.append("Stu_RegId", studentRegId);
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Communication/Message/SendMessage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                reset();
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
            if (selVal == "AllStaff") {
                var checkStaff;
                var status = $("#check_AllStaff").is(':checked');
                if (status == true) {
                    checkStaff = "on";
                    data.append("allstaffCategory", checkStaff);
                }
                else {
                    checkStaff = "off";
                    data.append("allstaffCategory", checkStaff);
                    data.append("singleStaffCategory", jQuery('#Staff').val());
                }
                var choosenStaffCategory = $("#Staff").val();
                if (checkStaff == "off" && choosenStaffCategory == null) {
                    a.push('@ResourceCache.Localize("PleaseSelectStaffCategory")');
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Communication/Message/SendMessage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                reset();
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
            if (selVal == "SingleStaff") {
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'allStaff') {
                            a.push('@ResourceCache.Localize("PleaseSelectStaffCategory")');
                        }
                    }
                    else {
                    }
                });
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                var c = $("#EmployeeCount").val();
                var id = [];
                var empRegId = [];
                var EmpId;
                var x = 0;
                var isCheck;
                for (var i = 0; i <= c; i++) {
                    if ($("#" + i).prop('checked') == true) {
                        isCheck = "checked";
                        empRegId[i] = $("#RegId" + i).val();
                    }
                    else {
                        empRegId[i] = "No";
                    }
                }
                if (isCheck != "checked") {
                    a.push('@ResourceCache.Localize("PleaseSelectAnyEmployee")');
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_Add").show();
                    $(".Add_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".Add_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_Add").hide();
                }
                data.append("emp_allStaff", jQuery('#allStaff').val());
                data.append("emp_RegId", empRegId);
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Communication/Message/SendMessage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                reset();
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
            if (selVal == "All") {
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/Communication/Message/SendMessage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                reset();
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });

        $("#btnShowStudents").click(function () {
            $("#MandatoryFieldErrorMessage_AddWithMsgInfo").hide();
            $("#AddInfo_jErr").empty();
            $("#Div_StudentList").hide();
            var yearId = $("#Commn_allAcademicYears").val();
            var classId = $("#Stu_allClass").val();
            var secId = $("#Stu_Section").val();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '' || valu == "") {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Commn_allAcademicYears') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'Stu_allClass') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass")');
                    }
                    if (null_id == 'Stu_Section') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection")');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }
            $('#Communication_StudentList').empty();
            $.getJSON('/Communication/Message/GetStudentList', { passYearId: yearId, passClassId: classId, passSecId: secId },
              function (data) {
                  if (data.StudentCount == "empty") {
                      $("#MandatoryFieldErrorMessage_AddWithMsgInfo").show();
                      $("#AddInfo_jErr").text("@ResourceCache.Localize("No_student_available_for_the_selected_class")");
                  }
                  else {
                      $.each(data.list, function (i, v) {
                          row = $("<tr id=''><td><input type=checkbox class=att id=" + i + " name=" + i + "></td><td><label>" + v.StudentId + "</label></td><td><label>" + v.StudentName + "</label><input type='hidden' value='" + v.Student_RegId + "' id='RegId" + i + "'/></tr>");
                          $('#Communication_StudentList').append(row);
                          $("#StudentCount").val(i);
                      });
                      $("#Div_StudentList").show();
                  }
              });
        });
        $("#btnShowStaff").click(function () {
            $("#MandatoryFieldErrorMessage_AddWithMsgInfo").hide();
            $("#Div_EmployeeList").hide();
            $('#Commn_EmployeeList').empty();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'allStaff') {
                        a.push('@ResourceCache.Localize("PleaseSelectStaffCategory")');
                    }
                }
                else {
                }
            });
            if (a.length != 0) {
                $("#MandatoryFieldErrorMessage_Add").show();
                $(".Add_jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".Add_jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $("#MandatoryFieldErrorMessage_Add").hide();
            }
            var EmployeeTypeId = $("#allStaff").val();
            $.getJSON('/Communication/Message/GetEmployeeList', { passEmployeeTypeId: EmployeeTypeId },
            function (data) {
                if (data.EmployeeCount == "empty") {
                    $("#MandatoryFieldErrorMessage_AddWithMsgInfo").show();
                    $("#AddInfo_jErr").text("@ResourceCache.Localize("NoFacultyAvailableForTheSelectedCategory")");
                    }
                    else {
                        $.each(data.list, function (i, v) {
                            row = $("<tr id=''><td><input type=checkbox class=ttt id=" + i + " name=" + i + "></td><td><label>" + v.EmployeeId + "</label></td><td><label>" + v.Name + "</label><input type='hidden' value='" + v.EmployeeRegId + "' id='RegId" + i + "'/></tr>");
                            $('#Commn_EmployeeList').append(row);
                            $("#Div_EmployeeList").show();
                            $("#EmployeeCount").val(i);
                        });
                    }
                });
            });

            $("#btnResetCommn").click(function (event) {
                $("#MandatoryFieldErrorMessage_Add").hide();
                $("#jsonSuccessMsg").hide();
                reset();
            });

            function reset() {
                $("#Div_Class").hide();
                $("#Div_Student").hide();
                $("#Div_AllStaff").hide();
                $("#Div_SingleStaff").hide();
                $("input:radio").attr("checked", false);
                $("#Commn_txt_Date").val("");
                $("#Commn_txt_title").val("");
                $("#Commn_txt_description").val("");
                $("#CFile").val("");
                $('#Mail').attr('checked', false);
                $('#Sms').attr('checked', false);
                $("#Stu_allClass").val("");
                $("#Stu_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                $("#Div_StudentList").hide();
                $("#allStaff").val("");
                $("#Div_EmployeeList").hide();
                $('#Class').val('').trigger('chosen:updated');
                $('#Staff').val('').trigger('chosen:updated');
                $("#fileSize").text("0");
            }

            $("#AllEmp").click(function (event) {
                if (this.checked) {
                    $('.att').each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $('.att').each(function () {
                        this.checked = false;
                    });
                }
            });
            $(document).on('click', '.att', function () {
                if (this.checked) {
                    $('.att').each(function () {
                        if (this.checked) {
                            $('#AllEmp').prop("checked", true);
                        }
                    });
                }
            });
            $(document).on('click', '.att', function () {
                if ($("input[class='att']").length == $("input[class='att']:checked").length) {
                    $("#AllEmp").attr("checked", "checked");
                }
                else {
                    $("#AllEmp").removeAttr("checked");
                }
            });
            $("#AllStaff").click(function (event) {
                if (this.checked) {
                    $('.ttt').each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $('.ttt').each(function () {
                        this.checked = false;
                    });
                }
            });
            $(document).on('click', '.ttt', function () {
                if (this.checked) {
                    $('.ttt').each(function () {
                        if (this.checked) {
                            $('#AllStaff').prop("checked", true);
                        }
                    });
                }
            });
            $(document).on('click', '.ttt', function () {
                if ($("input[class='ttt']").length == $("input[class='ttt']:checked").length) {
                    $("#AllStaff").attr("checked", "checked");
                }
                else {
                    $("#AllStaff").removeAttr("checked");
                }
            });
            function updateSize(files) {
                var fsize;
                var nBytes = 0,
                    oFiles = files,
                    nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }
                var sOutput = nBytes + " bytes";
                for (var aMultiples = ["KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                    fsize = nApprox.toFixed(3) + " " + aMultiples[nMultiple];
                }
                document.getElementById("fileSize").innerHTML = fsize;
                if (nBytes > 5242880) {
                    $("#MandatoryFieldErrorMessage_AddWithMsg").show();
                    $("#AddErrorText").text(" @ResourceCache.Localize("File_size_should_be_less_than_5MB")");
                $("#MandatoryFieldErrorMessage_EditWithMsg").show();
                $("#EditErrorText").text(" @ResourceCache.Localize("File_size_should_be_less_than_5MB")");

                return false;
            }
        }
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    });
    </script>
}