﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ExamList>
@{
    ViewBag.Title = "ExamConfig";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <!-- solid sales graph -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditExam" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditExam")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditExam", "ExamConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <input type="hidden" id="examid" name="examid" />
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ExamName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-lg-12 current_button" type="text" id="txtexam" name="txtexam" placeholder="@ResourceCache.Localize("ExamName")" required title="@ResourceCache.Localize("ExamName")" maxlength="30" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div><input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_update" id="btnupdateExam" name="btnupdateExam" title="Update"> <i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateExam" name="btncancel_updateExam" title="Update"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddExam">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Addexam")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("ExamConfig", "ExamConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ExamName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_exam" name="txt_exam" placeholder="@ResourceCache.Localize("ExamName")" required title="@ResourceCache.Localize("ExamName")" maxlength="30" /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_add " id="btnAddExam" name="btnAddExam" title="Add"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add")</button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ExamConfiguration")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")                    
                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                                        
                    <div id="parent" class="row">
                        <div class="col-sm-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("ExamName") </label> <span class="glyphicon glyphicon-asterisk"></span> </div>
                            <div><input class="col-lg-6 filterItem" type="text" id="txtExamName" name="txtExamName" placeholder="Exam" title="@ResourceCache.Localize("ExamName")" maxlength="30" /></div>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" id="btnTerm_Filter" class="btn btn-sm btn-down btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_exam").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txtexam").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txtExamName").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {
        $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
        $("input").keypress(function (evt) {
            //Deterime where our character code is coming from within the event
            var charCode = evt.charCode || evt.keyCode;
            if (charCode == 13) { //Enter key's keycode
                return false;
            }
        });
        var ExamId;
        jQuery("#grid1").jqGrid({
            url: "/ExamConfiguration/ExamResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("ExamName")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'eid', index: 'eid' },
                { key: false, name: 'Exam', index: 'Exam' },
            { key: false, name: 'status', index: 'status' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    ExamId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Exam btn_Edit ui-icon-pencil' id='" + ExamId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../ExamConfiguration/ExamExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../ExamConfiguration/ExamExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("ExamList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnTerm_Filter').click(function (event) {            
            $(".filterItem").each(function () {
                var valu = $(this).val();              
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');                    
                    if (null_id == 'txtExamName') {                        
                        $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                        $("#ErrorText").text('@ResourceCache.Localize("Exam_name_is_required").');
                    }
                }
                else {
                    $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                    event.preventDefault();
                    filterGrid();
                }
            });
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Exam', function () {
            var id = $(this).attr('id');
            values = { ExamId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/ExamConfiguration/EditExam',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_AddExam").hide();
                    $("#idSection_EditExam").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#txtexam").val(data.ans.Exam).html(data.ans.Exam);
                    if (data.ans.status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                    $("#examid").val(id).html(id);
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });
        });
        $("#btncancel_updateExam").click(function () {
            $("#idSection_AddExam").show();
            $("#idSection_EditExam").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btnAddExam").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var exam = $("#txt_exam").val();
                var values = { txt_exam: exam };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ExamConfiguration/ExamConfig',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#txt_exam").val("");
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        $("#btnupdateExam").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation1();
            if (bool == true) {
                var exam = $("#txtexam").val();
                var examid = $("#examid").val();
                var check = $("#txt_status").is(':checked');
                var Status;
                if (check == true) {
                    Status = "Active";
                }
                else {
                    Status = "Inactive";
                }
                var values = { examid: examid, txt_exam: exam, status: Status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ExamConfiguration/SaveEditExam',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);                                    
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_exam') {
                    a.push('@ResourceCache.Localize("Exam_name_is_required").');
                }
            }
            else {
                if (field_name == 'txt_exam') {
                    var sname = $("#txt_exam").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Exam_name_should_contain_3_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'txtexam') {
                    a.push('@ResourceCache.Localize("Exam_name_is_required").');
                }
            }
            else {
                if (field_name == 'txtexam') {
                    var sname = $("#txtexam").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength < 3 || snameLength > 30) {
                            a.push('@ResourceCache.Localize("Exam_name_should_contain_3_characters_can_not_exceed_30_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}