﻿@using eAcademy.Models
@{
    ViewBag.Title = "IndividualStudentReport";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}

@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("IndividualStudentReport")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-xs-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>

                                    @Html.DropDownList("fAcyearId", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("fClassId", new SelectList(ViewBag.allClasses, "ClassId", "ClassName"), ResourceCache.Localize("PleaseSelectClass"), new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Section")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("fSectionId", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSection"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")<span class="glyphicon glyphicon-asterisk"></span></label> </div>
                                <div>
                                    @Html.DropDownList("fStudentId", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectStudentName"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-3 col-sm-3">
                                    <button type="button" class="btn btn-sm btn_submit btn-down filterItem" id="btnstudentsearch"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                                </div>
                            </div>
                            <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="show">
                                <h3>@ResourceCache.Localize("StudentReport")</h3>
                                <table class="col-lg-12 col-xs-12  col-sm-12 col-md-12" id="IndividualStudentSearchGrid" style="width: 1528px;"></table>
                                <div id="IndividualStudentSearchPager" style="width: 1528px;"></div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>



@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {

        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#IndividualStudentSearchGrid').setGridWidth(width, true); //Back to original width
            $('#IndividualStudentSearchGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window

        }).trigger('resize');

        $('#fAcyearId').val(@Session["Add_ChosenAcademicYearId"]);
        var YearId = $('#fAcyearId').val();
        AssignAcademicYear(YearId);
        Add_AssignAcademicYear(YearId);


        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        //Class with Section Change Function

        $('#fClassId').change(function (event) {
            var ClassId = $('#fClassId').val();
            $.getJSON('/SportsReport/GetSelectedClassSection', { passClassId: ClassId },
                function (orderdetails) {
                    $("#fSectionId").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#fSectionId").append($('<option></option>').val(c.selSectionId).html(c.selSectionName));
                    });
                });
        });

        //Section with Change Function to get Student

        $('#fSectionId').change(function (event) {
            var YearId = $('#fAcyearId').val();
            var ClassId = $('#fClassId').val();
            var SecId = $('#fSectionId').val();
            $.getJSON('/SportsReport/GetSectionStudents', { passYearId: YearId, passClassId: ClassId, passSecId: SecId },
                function (orderdetails) {
                    $("#fStudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudent")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#fStudentId").append($('<option></option>').val(c.id).html(c.name));
                    });
                });
        });

        //Grid

        jQuery("#IndividualStudentSearchGrid").jqGrid({
            url: "/SportsReport/IndividualStudentListSearch",
            datatype: 'json',
            mtype: 'Get',
            colNames: ["@ResourceCache.Localize("AcademicYear")", "@ResourceCache.Localize("ClassName")", "@ResourceCache.Localize("SectionName")", "@ResourceCache.Localize("SessionName")", "@ResourceCache.Localize("GameName")", "@ResourceCache.Localize("LevelName")", "@ResourceCache.Localize("StudentType")", "@ResourceCache.Localize("HouseName")", "@ResourceCache.Localize("GameType")", "@ResourceCache.Localize("PrizeStatus")", "@ResourceCache.Localize("Marks")", "@ResourceCache.Localize("Description")"],
            colModel: [
                   { key: true, name: 'AcademicYear', index: 'AcademicYear' },
                    { key: false, name: 'ClassName', index: 'ClassName' },
                     { key: false, name: 'SectionName', index: 'SectionName' },
                      { key: false, name: 'SessionName', index: 'SessionName' },
                       { key: false, name: 'GameName', index: 'GameName' },
                       { key: false, name: 'LevelName', index: 'LevelName' },
                       { key: false, name: 'StudentType', index: 'StudentType' },
                      { key: false, name: 'HouseName', index: 'HouseName' },
                      { key: false, name: 'GameType', index: 'GameType' },
                      { key: false, name: 'PrizeStatus', index: 'PrizeStatus' },
                      { key: false, name: 'Marks', index: 'Marks' },
                      { key: false, name: 'Description', index: 'Description' },

            ],
            pager: jQuery("#IndividualStudentSearchPager"),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: "IndividualStudentReport",
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#IndividualStudentSearchPager', { edit: false, add: false, del: false, search: false, refresh: true }
                       ).jqGrid('navButtonAdd', '#IndividualStudentSearchPager',
                       {
                           caption: 'Excel',
                           buttonicon: "ui-icon-bookmark",
                           position: "last",
                           onClickButton: function () {
                               window.location.href = "../SportsReport/StudentListSearchExportToExcel";
                           }
                       }).jqGrid('navButtonAdd', '#IndividualStudentSearchPager',
                       {
                           caption: 'Pdf',
                           buttonicon: "ui-icon-bookmark",
                           position: "last",
                           onClickButton: function () {
                               window.location.href = "../SportsReport/StudentListSearchExportToPDF?pdf=true";
                           }
                       });
        $("#IndividualStudentSearchGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("IndividualStudentList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


        //SearchButton
        $('#btnstudentsearch').click(function (event) {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            var a = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'fAcyearId') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                    }
                    if (null_id == 'fClassId') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectClassName")');
                    }
                    if (null_id == 'fSectionId') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectSectionName")');
                    }
                    if (null_id == 'fStudentId') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("PleaseSelectStudentName")');
                    }
                }
            });
            if (flag == 0) {
                $('#show').show();
                event.preventDefault();
                filterGrid();
            }
            if (a.length != 0) {
                $('#show').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }

        });

        function filterGrid() {
            var postDataValues = $("#IndividualStudentSearchGrid").jqGrid('getGridParam', 'postData');
            $('.current_button').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#IndividualStudentSearchGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#IndividualStudentSearchGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };

    });

    </script>
}