﻿@using eAcademy.Models
@{
    ViewBag.Title = "LevelReport";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}


@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("LevelReport")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-xs-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div class="col-sm-4 col-md-2 col-lg-2">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = "current_button" })

                            </div>
                            <div class="col-sm-4 col-lg-2">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("SName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSession"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-2">
                                <div> <label class="input-label-sm">@ResourceCache.Localize("GameName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div>
                                    @Html.DropDownList("GName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectGameName"), Value = "" } }, new { @class = "current_button" })
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-2">
                                <div><label class="input-label-sm">@ResourceCache.Localize("LevelName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("Level", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectLevel"), Value = "" } }, new { @class = "current_button" })
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    <button type="button" class="btn btn-sm btn_submit btn-down " id="ReportSearch"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                            <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="show">
                           <h3>@ResourceCache.Localize("ReportList")</h3>
                                <table class="col-lg-12 col-xs-12  col-sm-12 col-md-12" id="LevelSearchGrid" style="width: 1528px;"></table>
                                <div id="Levelpager" style="width: 1528px;"></div>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
</form>
</div>
</div>
</div>
</section>
</div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#LevelSearchGrid').setGridWidth(width, true); //Back to original width
            $('#LevelSearchGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');

        $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
        var YearId = $('#Acyear').val();
        AssignAcademicYear(YearId);
         Add_AssignAcademicYear(YearId);
            getSessionAcademicYear(YearId);
            getAcademicYearGame(YearId);



        $('#Acyear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Acyear').val();
            AssignAcademicYear(YearId);
          //  $('#fAcademicYear').val(YearId);
            Add_AssignAcademicYear(YearId);
            getSessionAcademicYear(YearId);
            getAcademicYearGame(YearId);
           // fgetSessionAcademicYear(YearId);
        });

        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        function getSessionAcademicYear(YearId) {
            $.getJSON('/SportsReport/GetSessionReport', { passAcademicYearId: YearId },
                function (orderdetails) {
                    $("#SName").empty().append('<option value="">@ResourceCache.Localize("SelectSession")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#SName").append($('<option></option>').val(c.SessionId).html(c.SessionName));
                    });
                });
        }

        function getAcademicYearGame(YearId) {
            $.getJSON('/SportsReport/GetGameReport', { passAcademicYearId: YearId },
               function (orderdetails) {
                   $("#GName").empty().append('<option value="">@ResourceCache.Localize("SelectGameName")</option>');
                   $.each(orderdetails, function (i, c) {
                       $("#GName").append($('<option></option>').val(c.GameId).html(c.GameName));
                   });
               });
        }

        //AcademicYear With Session Change function
        @*$('#Acyear').change(function (event) {
            var AcademicYearId = $('#Acyear').val();
            $.getJSON('/SportsReport/GetSessionReport', { passAcademicYearId: AcademicYearId },
                function (orderdetails) {
                    $("#SName").empty().append('<option value="">@ResourceCache.Localize("SelectSession")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#SName").append($('<option></option>').val(c.SessionId).html(c.SessionName));
                    });
                });
        });*@

        //AcademicYear With GameName Change function
        @*$('#Acyear').change(function (event) {
            var AcademicYearId = $('#Acyear').val();
            $.getJSON('/SportsReport/GetGameReport', { passAcademicYearId: AcademicYearId },
                function (orderdetails) {
                    $("#GName").empty().append('<option value="">@ResourceCache.Localize("SelectGameName")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#GName").append($('<option></option>').val(c.GameId).html(c.GameName));
                    });
                });
        });*@


        //GameName With Level Change function
        $('#GName').change(function (event) {
            var GameId = $('#GName').val();
            $.getJSON('/SportsReport/GetGameLevelReport', { passGameId: GameId },
                function (orderdetails) {
                    $("#Level").empty().append('<option value="">@ResourceCache.Localize("SelectLevel")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#Level").append($('<option></option>').val(c.GameLevelId).html(c.GameLevelName));


                    });
                });
        });

        //Grid
        jQuery("#LevelSearchGrid").jqGrid({
            url: "/SportsReport/GameLevelReportList",
            datatype: 'json',
            mtype: 'Get',
            colNames: ["@ResourceCache.Localize("StudentName")", "@ResourceCache.Localize("Class")", "@ResourceCache.Localize("HouseName")", "@ResourceCache.Localize("Result")"],
            colModel: [
                { key: true, name: 'StudentName', index: 'StudentName' },
                { key: false, name: 'Class', index: 'Class' },
                { key: false, name: 'HouseName', index: 'HouseName' },
                { key: false, name: 'Result', index: 'Result' },

            ],
            pager: jQuery("#Levelpager"),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: "LevelReportList",
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#Levelpager', { edit: false, add: false, del: false, search: false, refresh: true }
                       ).jqGrid('navButtonAdd', '#Levelpager',
                       {
                           caption: "Excel ",
                           buttonicon: "ui-icon-bookmark",
                           position: "last",
                           onClickButton: function () {
                               window.location.href = "../SportsReport/LevelSearchResultToExcel";
                           }
                       }).jqGrid('navButtonAdd', '#Levelpager',
                       {
                           caption: "Pdf ",
                           buttonicon: "ui-icon-bookmark",
                           position: "last",
                           onClickButton: function () {
                               window.location.href = "../SportsReport/LevelSearchResultToPDF?pdf=true";
                           }
                       });
        $("#LevelSearchGrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("LevelReportList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')


        //SearchButton
        $('#ReportSearch').click(function (event) {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#jsonError").hide();
            var a = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'Acyear') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                    }
                    if (null_id == 'SName') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectSessionName")");
                    }
                    if (null_id == 'GName') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectGameName")");
                    }
                    if (null_id == 'Level') {
                        flag = 1;
                        a.push("@ResourceCache.Localize("PleaseSelectLevelName")");
                    }
                }
            });
            if (flag == 0) {
                $('#show').show();
                event.preventDefault();
                filterGrid();
            }
            if (a.length != 0) {
                $('#show').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }


        });

        function filterGrid() {
            var postDataValues = $("#LevelSearchGrid").jqGrid('getGridParam', 'postData');
            $('.current_button').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#LevelSearchGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#LevelSearchGrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };


    });

</script>
    }