﻿@using eAcademy.Models
@{
    ViewBag.Title = "OverAllReport";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class=" col-xs-12 col-sm-12 col-md-9 col-lg-9 " id="Section_OverAllReport">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("OverAllReport")</span>
                    <div class="box-tools">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_Add.cshtml")

                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Acyear1", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = " current_button" })
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnsubmityear1" name=" btnsubmityear"><i class="fa fa-caret-right"></i>@ResourceCache.Localize("Submit")</button>
                        </div>
                        <div class="col-xs-12 alert alert-info alert-dismissable" id="NoRecords1" style="display:none">
                            
                                    <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                                
                        </div>
                        <div id="box1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                        
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <hr />
                            </div>
                            <div class="col-sm-2" style="Color:darkblue;font-size:medium;font-weight:100;"><center>@ResourceCache.Localize("SessionWise")</center></div>
                            <div class="col-sm-5">
                                <hr />
                            </div>
                        </div>
                        
                        <div class="col-lg-3">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            @Html.DropDownList("Acyear", new SelectList(ViewBag.allAcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("PleaseSelectAcademicYear"), new { @class = " current_button" })
                        </div>
                        <div class="col-lg-3">
                            <div> <label class="input-label-sm">@ResourceCache.Localize("SessionName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>                               
                                @Html.DropDownList("SName", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("PleaseSelectSession"), Value = "" } }, new { @class = "current_button" })
                            </div>
                        </div>
                       
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn_submit btn-down" id="btnsubmityear" name=" btnsubmityear"><i class="fa fa-caret-right"></i>Submit</button>
                            </div>
                        <div class="col-xs-12 alert alert-info alert-dismissable" id="NoReport" style="display:none">
                            <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                        </div> 
                            <div id="box" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                        </div>
                </form>
            </div>
            <div class="box-footer no-border">
            </div>
        </section>
    </div>
</section>

@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">


        $('#Acyear').val(@Session["Add_ChosenAcademicYearId"]);
        var YearId = $('#Acyear').val();
        AssignAcademicYear(YearId);
        Add_AssignAcademicYear(YearId);
        getSessionAcademicYear(YearId);

        $('#Acyear').change(function (event) {
            event.preventDefault();
            var YearId = $('#Acyear').val();
            AssignAcademicYear(YearId);
            //  $('#fAcademicYear').val(YearId);
            Add_AssignAcademicYear(YearId);
            getSessionAcademicYear(YearId);
        });
        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                      function (orderdetails) {
                      });
        }
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }

        function getSessionAcademicYear(YearId) {
            //var YearId = $('#Acyear').val();
            //var SessionId = $('#SName').val();

            $.getJSON('/SportsReport/GetSelectedYearSession', { passYearId: YearId },
                function (orderdetails) {
                    $("#SName").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSession")</option>');
                    $.each(orderdetails, function (i, c) {
                        $("#SName").append($('<option></option>').val(c.SessionlId).html(c.SessionName));
                    });
                });
        }


    @*$('#Acyear').change(function (event) {

        var YearId = $('#Acyear').val();
        var SessionId = $('#SName').val();

        $.getJSON('/SportsReport/GetSelectedYearSession', { passYearId: YearId },
            function (orderdetails) {
                $("#SName").empty().append('<option value="">@ResourceCache.Localize("PleaseSelectSession")</option>');
                $.each(orderdetails, function (i, c) {
                    $("#SName").append($('<option></option>').val(c.SessionlId).html(c.SessionName));
                });
            });
    });*@

    $('#btnsubmityear').click(function () {
        //alert("submit");
        var YearId = $('#Acyear').val();

        var SessionId = $('#SName').val();

        //alert("YearId==" + YearId);
        //alert("SessionId==" + SessionId);
        var a = [];
        var field_val = [];
        var flag = 0;
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Acyear') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'SName') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSession")');
                }
            }
            else {
            }
        });
        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }

        $.getJSON('/SportsReport/GetOverAllReport', { passYearId: YearId, passSessionId: SessionId },
        function (data) {

            if (data.ErrorMessage == "NoRecords") {
                $("#NoReport").show();
                //alert("NoRecords");
                $("#AllReportTable").empty();
                $("#AllReportTable").remove();
                $("#AllReportTable tbody").empty();
            }
            else {

                $("#NoRecords").hide();
                $("#AllReportTable").empty();
                $("#AllReportTable").remove();
                $("#AllReportTable tbody").empty();

                mytable = $('<table border="1" class="table-responsive col-sm-12"></table>').attr({ id: "AllReportTable" });
                myhead = $('<thead></thead>').appendTo(mytable);
                myheadtr = $('<tr></tr>').appendTo(myhead);


                $('<th>@ResourceCache.Localize("House_Name")</th><th>@ResourceCache.Localize("NumberOfGameConducted")</th><th>@ResourceCache.Localize("NumberOfGameParticipated")</th><th>@ResourceCache.Localize("PointsEarned")</th><th>@ResourceCache.Localize("NoParticipation")</th>').appendTo(myheadtr);
                mytbody = $('<tbody></tbody>').appendTo(mytable);
                $.each(data.AllReportList, function (i, v) {

                    var mytbodytd = $('<tr><td> ' + v.HouseName + ' </td><td> ' + v.NumberofGamesConducted + ' </td><td> ' + v.NumberofGamesParticipated + ' </td><td> ' + v.Points + ' </td><td> ' + v.NoParticipation + ' </td></tr>').appendTo(mytbody);
                });

                mytable.appendTo("#box");
            }
        });

    });
        $('#Acyear1').val(@Session["Add_ChosenAcademicYearId"]);
        var YearId1 = $('#Acyear1').val();
        AssignAcademicYear(YearId1);
        Add_AssignAcademicYear(YearId1);
        $('#Acyear1').change(function (event) {
            event.preventDefault();
            var YearId = $('#Acyear1').val();
            AssignAcademicYear(YearId1);
            //  $('#fAcademicYear').val(YearId);
            Add_AssignAcademicYear(YearId1);
           // getSessionAcademicYear(YearId);
        });
        //function AssignAcademicYear(YearId) {
        //    $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
        //              function (orderdetails) {
        //              });
        //}
        //function Add_AssignAcademicYear(YearId) {
        //    $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
        //              function (orderdetails) {
        //              });
        //}


    $('#btnsubmityear1').click(function () {

        var YearId = $('#Acyear1').val();

        var a = [];
        var field_val = [];
        var flag = 0;
        $(".current_button").each(function () {
            var valu = $(this).val();
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Acyear1') {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }

            }
            else {
            }
        });
        if (a.length != 0) {
            $("#MandatoryFieldErrorMessage_Add").show();
            $(".Add_jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".Add_jErr").append(li);
                }
            });
            a = [];
            return false;
        }

        $.getJSON('/SportsReport/GetOverAllYearReport', { passYearId: YearId },
        function (data) {
            if (data.ErrorMessage == "NoRecords") {
                $("#NoRecords1").show();
                $("#AllReportTable").empty();
                $("#AllReportTable").remove();
                $("#AllReportTable tbody").empty();
            }
            else {

                $("#NoRecords1").hide();
                $("#AllReportTable1").empty();
                $("#AllReportTable1").remove();
                $("#AllReportTable1 tbody").empty();

                mytable = $('<table border="1" class="table-responsive col-sm-12"></table>').attr({ id: "AllReportTable1" });
                myhead = $('<thead></thead>').appendTo(mytable);
                myheadtr = $('<tr></tr>').appendTo(myhead);


                $('<th>@ResourceCache.Localize("House_Name")</th><th>@ResourceCache.Localize("NumberOfGameConducted")</th><th>@ResourceCache.Localize("NumberOfGameParticipated")</th><th>@ResourceCache.Localize("PointsEarned")</th><th>@ResourceCache.Localize("NoParticipation")</th>').appendTo(myheadtr);
                mytbody = $('<tbody></tbody>').appendTo(mytable);
                $.each(data.AllYearReportList, function (i, v) {

                    var mytbodytd = $('<tr><td> ' + v.HouseName + ' </td><td> ' + v.NumberofGamesConducted + ' </td><td> ' + v.NumberofGamesParticipated + ' </td><td> ' + v.Points + ' </td><td> ' + v.NoParticipation + ' </td></tr>').appendTo(mytbody);
                });

                mytable.appendTo("#box1");
            }

        });

    });
                 </script>
                }    
