﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ActivityIncharge>
@{
    ViewBag.Title = "ExtraActivities";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<style>
</style>
<section class="content" style="height:100%">
    <div class="row">
        <ul id="myTab" class="nav nav-tabs">
            <li class=""><a class="" href="#ActivityList" id="Alist" name="Alist" data-toggle="tab">@ResourceCache.Localize("ActivityList")</a></li>
            <li class=""><a href="#StudentList" id="Slist" name="Slist" data-toggle="tab">@ResourceCache.Localize("StudentList")</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="ActivityList">
                <section class="content" style="height:100%">
                    <div class="row">
                        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditFacility" style="display:none;">
                            <!-- solid sales graph -->
                            <div class="box box-solid bg-teal-gradient">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <h3 class="box-title">@ResourceCache.Localize("EditActivityIncharge")</h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                @using (Html.BeginForm("SaveEditActivityIncharge", "SchoolManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                    <div class="box-body row border-radius-none">
                                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                        <input type="hidden" id="hide_ActivityInchargeId" name="hide_ActivityInchargeId" />
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                                            <div>
                                                <input type="text" class="col-lg-12" id="Act_AcYear" name="Act_AcYear" title="@ResourceCache.Localize("AcademicYear")" readonly />
                                                <input type="hidden" id="Act_HideAcYearId" name="Act_HideAcYearId" />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectFacility")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("Act_ActivityId", new SelectList(ViewBag.Activity, "aid", "atype"), new { @title = @ResourceCache.Localize("SelectFacility") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectEmployee")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("Act_EmpRId", new SelectList(ViewBag.Employee, "empid", "ename"), new { @title = @ResourceCache.Localize("SelectEmployee") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeId")</label> </div>
                                            <div>
                                                <input type="hidden" class="col-lg-12" id="Act_EmpRegId1" name="Act_EmpRegId1" />
                                                <input type="text" class="col-lg-12" id="Act_EmpId1" name="Act_EmpId1" placeholder="@ResourceCache.Localize("EmployeeId")" title="@ResourceCache.Localize("EmployeeId")" readonly />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                                            <div>
                                                <textarea class="col-lg-12 current_button" id="Act_Note1" name="Act_Note1" placeholder="@ResourceCache.Localize("Note")" title="@ResourceCache.Localize("Note")" style="resize:none;" maxlength="250"></textarea>
                                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                                            <div>
                                                <input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer no-border">
                                        <div class="row">
                                            <div class="footer">
                                                <button type="button" class="btn btn_double btn-sm btn_update" id="updateAddActivity" name="updateAddActivity" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateActivity" name="btncancel_updateActivity" title="Update"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                                            </div>
                                        </div><!-- /.row -->
                                    </div>
                                }
                            </div><!-- /.box -->
                        </section><!-- right col -->
                        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddFacility">
                            <!-- solid sales graph -->
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Activity")</span>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                @using (Html.BeginForm("ExtraActivities", "SchoolManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                    <div class="box-body row border-radius-none">
                                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("AcademicYrid", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button", @title = @ResourceCache.Localize("AcademicYear") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectActivity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("ExActivityId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("Select Acivity"), Value = "" } }, new { @class = "current_button", @title = "Activity" })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectEmployee") </label><span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("EmployeeId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectEmployee"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("Employee") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeId")</label> </div>
                                            <div>
                                                <input type="hidden" class="col-lg-12" id="Emp_RegId" name="Emp_RegId" value="0" />
                                                <input type="text" class="col-lg-12" id="Emp_Id1" name="Emp_Id1" placeholder="@ResourceCache.Localize("EmployeeId")" title="@ResourceCache.Localize("EmployeeId")" readonly />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                                            <div>
                                                <textarea class="col-lg-12 current_button" id="desc" name="desc" placeholder="@ResourceCache.Localize("Note")" title="@ResourceCache.Localize("Note")" style="resize:none;" maxlength="250"></textarea>
                                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer no-border">
                                        <div class="row">
                                            <div class="footer">
                                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddActivity" name="btnAddActivity" title="Add"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="Btn_Reset"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                                            </div>
                                        </div><!-- /.row -->
                                    </div><!-- /.box-footer -->
                                }
                            </div><!-- /.box -->
                        </section><!-- right col -->
                        <section class="col-xs-12 col-sm-12 col-md-8">
                            <!-- TO DO List -->
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-clipboard "></i>
                                    <h3 class="box-title">@ResourceCache.Localize("ManageActivityIncharge") </h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div><!-- /.box-header -->
                                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                <div class="box-body">
                                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                                    <div class="col-lg-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                                        <div>
                                            @Html.DropDownList("FAcademicYrId", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem", @title = @ResourceCache.Localize("AcademicYear") })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="submit" id="btnActivity_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                    </div>
                                    <div class="box-footer clearfix no-border">
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-body">
                                    <div class="box-body" id="show">
                                        <table class="table table-bordered table-striped" border="1" id="grid2"></table>
                                        <div id="pager2"></div>
                                    </div>
                                    <div class="box-footer clearfix no-border">
                                    </div>
                                </div>
                            </div><!-- /.box -->
                            <!-- quick email widget -->
                        </section><!-- /.Left col -->
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="StudentList">
                <section class="content" style="height:100%">
                    <div class="row">
                        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_editStudentActivity" style="display:none;">
                            <!-- solid sales graph -->
                            <div class="box box-solid bg-teal-gradient">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <h3 class="box-title">@ResourceCache.Localize("EditStudentActivity")</h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                @using (Html.BeginForm("SaveEditStudentActivity", "SchoolManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                    <div class="box-body row border-radius-none">
                                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                        <input type="hidden" id="StudentActivityId" name="StudentActivityId" />
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                                            <div>
                                                <input type="text" class="col-lg-12" title="@ResourceCache.Localize("AcademicYear")" id="AcademicYear_Act" name="AcademicYear_Act" readonly />
                                                <input type="hidden" id="Fac_AcYearId1" name="Fac_AcYearId1" />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                                            <div>
                                                <input type="text" class="col-lg-12" title="@ResourceCache.Localize("Class")" id="Class_Act" name="Class_Act" readonly />
                                                <input type="hidden" id="Act_ClassId1" name="Act_ClassId1" />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> </div>
                                            <div>
                                                <input type="text" class="col-lg-12" title="@ResourceCache.Localize("Section")" id="Section_Act" name="Section_Act" readonly />
                                                <input type="hidden" id="Act_SectionId1" name="Act_SectionId1" />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Student")</label> </div>
                                            <div>
                                                <input type="text" class="col-lg-12" title="@ResourceCache.Localize("StudentName")" id="Student_Act" name="Student_Act" readonly />
                                                <input type="hidden" id="Act_StudentId1" name="Act_StudentId1" />
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectActivity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("ActivityId1", new SelectList(ViewBag.Activity, "aid", "atype"))
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Notes")</label> </div>
                                            <div>
                                                <textarea class="col-lg-12" id="std_Note1" name="std_Note1" placeholder="@ResourceCache.Localize("Note")" title="@ResourceCache.Localize("Note")" style="resize:none;" maxlength="250"></textarea>
                                                <span id="chars3">250</span> @ResourceCache.Localize("CharactersRemaining")
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                                            <div>
                                                <input type="checkbox" id="txt_status1" name="txt_status1" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer no-border">
                                        <div class="row">
                                            <div class="footer">
                                                <button type="button" class="btn btn_double btn-sm btn_update" id="updateStudentActivity" name="updateStudentActivity" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateStudentActivity" name="btncancel_updateStudentActivity" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                                            </div>
                                        </div><!-- /.row -->
                                    </div><!-- /.box-footer -->
                                }
                            </div><!-- /.box -->
                        </section><!-- right col -->
                        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddStudentActivity">
                            <!-- solid sales graph -->
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("AddStudentInActivity")</span>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                @using (Html.BeginForm("SaveStudentActivity", "SchoolManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                    <div class="box-body row border-radius-none">
                                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectAcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("Fac_AcYearId", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button", @title = @ResourceCache.Localize("AcademicYear") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("SelectActivity")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("ActivityId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("Select Acivity"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("SelectActivity") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("Act_ClassId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("Class") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("Act_SectionId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("SelectSection") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                            <div>
                                                @Html.DropDownList("Act_StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("SelectStudentName") })
                                            </div>
                                        </div>
                                        <div>
                                            <div><label class="input-label-sm">@ResourceCache.Localize("Note")</label> </div>
                                            <div>
                                                <textarea class="col-lg-12" id="std_Note" name="std_Note" placeholder="@ResourceCache.Localize("Note")" title="@ResourceCache.Localize("Note")" style="resize:none;" maxlength="250"></textarea>
                                                <span id="chars2">250</span> @ResourceCache.Localize("CharactersRemaining")
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer no-border">
                                        <div class="row">
                                            <div class="footer">
                                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddStudentActivity" name="btnAddStudentActivity" title="Add"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="Btn_Reset1"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                                            </div>
                                        </div><!-- /.row -->
                                    </div><!-- /.box-footer -->
                                }
                            </div><!-- /.box -->
                        </section><!-- right col -->
                        <section class="col-xs-12 col-sm-12 col-md-8">
                            <!-- TO DO List -->
                            <div class="box box-solid bg-teal-gradient ">
                                <div class="box-header bg-gray">
                                    <i class="fa fa-clipboard "></i>
                                    <h3 class="box-title">@ResourceCache.Localize("ManageStudentList")</h3>
                                    <div class="box-tools pull-right">
                                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div><!-- /.box-header -->
                                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                <div class="box-body">
                                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                                    <div class="col-lg-6">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                                        <div>
                                            @Html.DropDownList("FAcademicYrId1", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), "All", new { @class = "filterItem", @title = @ResourceCache.Localize("AcademicYear") })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="submit" id="btnStudent_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                    </div>
                                    <div class="box-footer clearfix no-border">
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-body">
                                    <div class="box-body" id="show">
                                        <table class="table table-bordered table-striped col-lg-12" border="1" id="grid1"></table>
                                        <div id="pager1"></div>
                                    </div>
                                    <div class="box-footer clearfix no-border">
                                    </div>
                                </div>
                            </div><!-- /.box -->
                            <!-- quick email widget -->
                        </section><!-- /.Left col -->
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#Alist").click(function () {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#Slist").click(function () {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });


        $("#Act_ClassId").change(function () {
            var cid = $("#Act_ClassId").val();
            $("#Act_StudentId").empty().append('<option value="">Select Student</option>');
            $.getJSON('/SchoolManagement/getSectionList', { cid: cid },
               function (data) {
                   $("#Act_SectionId").empty().append('<option value="">Select Section</option>');

                   $.each(data, function (i, c) {
                       $("#Act_SectionId").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });

               });
        });

        $("#Act_SectionId").change(function () {
            var cid = $("#Act_ClassId").val();
            var sec_id = $("#Act_SectionId").val();
            var acid = $("#Fac_AcYearId").val();
            $.getJSON('/SchoolManagement/getStudent', { acid: acid, cid: cid, sec_id: sec_id },
               function (data) {
                   $("#Act_StudentId").empty().append('<option value="">Select Student</option>');
                   $.each(data, function (i, c) {
                       $("#Act_StudentId").append($('<option></option>').val(c.sid).html(c.sname));
                   });

               });

        });
        $('#FAcademicYrId1').val(@Session["CurrentAcYearId"]);
        $('#Fac_AcYearId').val(@Session["Add_ChosenAcademicYearId"]);
        $('#FAcademicYrId').val(@Session["CurrentAcYearId"]);
        $('#AcademicYrid').val(@Session["Add_ChosenAcademicYearId"]);

        ClassSectionActivitychanges();
        function ClassSectionActivitychanges() {
            $("#ActivityId").empty().append('<option value>@ResourceCache.Localize("SelectFacility")</option>');
            $("#Act_ClassId").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
            $("#Act_SectionId").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
            $("#Act_StudentId").empty().append('<option value>@ResourceCache.Localize("SelectStudentName")</option>');
            $.getJSON('/SchoolManagement/getActivity',
                 function (data) {
                     $("#ActivityId").empty().append('<option value>@ResourceCache.Localize("SelectActivity")</option>');
                     $.each(data, function (i, c) {
                         $("#ActivityId").append($('<option></option>').val(c.aid).html(c.atype));
                     });
                 });
            $.getJSON('/SchoolManagement/getClassList',
               function (data) {
                   $("#Act_ClassId").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                   $.each(data, function (i, c) {
                       $("#Act_ClassId").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });
               });
            $("#ExActivityId").empty().append('<option value>@ResourceCache.Localize("SelectActivity")</option>');
            $("#EmployeeId").empty().append('<option value>@ResourceCache.Localize("SelectEmployee")</option>');
            $("#Emp_Id1").empty();
            $.getJSON('/SchoolManagement/getActivity',
               function (data) {
                   $("#ExActivityId").empty().append('<option value>@ResourceCache.Localize("SelectActivity")</option>');
                   $.each(data, function (i, c) {
                       $("#ExActivityId").append($('<option></option>').val(c.aid).html(c.atype));
                   });
               });
        }
        $('#FAcademicYrId1').change(function (event) {
            event.preventDefault();
            var YearId = $('#FAcademicYrId1').val();
            AssignAcademicYear(YearId);
           // $('#Fac_AcYearId').val(YearId);
        });


        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }


        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }

        $('#Fac_AcYearId').change(function (event) {
            event.preventDefault();
            var YearId = $('#Fac_AcYearId').val();
            AssignAcademicYear(YearId);
            Add_AssignAcademicYear(YearId)
            $('#FAcademicYrId1').val(YearId);
        });
        $('#FAcademicYrId').change(function (event) {
            event.preventDefault();
            var YearId = $('#FAcademicYrId').val();
            AssignAcademicYear(YearId);
            //$('#AcademicYrid').val(YearId);
        });
        //function AssignAcademicYear(YearId) {
        //    $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
        //              function (orderdetails) {
        //              });
        //}

        $('#AcademicYrid').change(function (event) {
            event.preventDefault();
            var YearId = $('#AcademicYrid').val();
            AssignAcademicYear(YearId);
            Add_AssignAcademicYear(YearId)
            $('#FAcademicYrId').val(YearId);
        });

        var maxLength = 250;
        $('#desc').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });
        $('#Act_Note1').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars1').text(length);
        });
        $('#std_Note').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars2').text(length);
        });
        $('#std_Note1').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars3').text(length);
        });
        $('#Btn_Reset').click(function () {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            var length = 250;
            $('#chars').text(length);
            $('#chars1').text(length);
        });
        $('#Btn_Reset1').click(function () {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            var length = 250;
            $('#chars2').text(length);
            $('#chars3').text(length);
        });
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
        var ID_Activity, ID_Student;
        $("#AcademicYrid").change(function () {
            $("#ExActivityId").empty().append('<option value>@ResourceCache.Localize("SelectActivity")</option>');
            $("#EmployeeId").empty().append('<option value>@ResourceCache.Localize("SelectEmployee")</option>');
            $("#Emp_Id1").empty();
            $.getJSON('/SchoolManagement/getActivity',
               function (data) {
                   $("#ExActivityId").empty().append('<option value>@ResourceCache.Localize("SelectActivity")</option>');
                   $.each(data, function (i, c) {
                       $("#ExActivityId").append($('<option></option>').val(c.aid).html(c.atype));
                   });
               });
        });
        $("#ExActivityId").change(function () {
            $("#EmployeeId").empty().append('<option value>@ResourceCache.Localize("SelectIncharge")</option>');
            $("#Emp_Id1").empty();
            $.getJSON('/SchoolManagement/getEmployee',
               function (data) {
                   $("#EmployeeId").empty().append('<option value>@ResourceCache.Localize("SelectIncharge")</option>');
                   $.each(data, function (i, c) {
                       $("#EmployeeId").append($('<option></option>').val(c.empid).html(c.ename));
                   });
               });
        });
        $("#EmployeeId").change(function () {
            var EmpRid = $("#EmployeeId").val();
            $.getJSON('/SchoolManagement/getEmployeeId', { EmpRegid: EmpRid },
               function (data) {
                   $("#Emp_RegId").val(data.ans).html(data.ans);
               });
            $("#Emp_Id1").val(EmpRid).html(EmpRid);
        });
        $("#Act_EmpRId").change(function () {
            var EmpRid = $("#Act_EmpRId").val();
            $.getJSON('/SchoolManagement/getEmployeeId', { EmpRegid: EmpRid },
               function (data) {
                   $("#Act_EmpRegId1").val(data.ans).html(data.ans);
               });
            $("#Act_EmpId1").val(EmpRid).html(EmpRid);
        });
        jQuery("#grid2").jqGrid({
            url: "/SchoolManagement/ExtraActivityResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Activity")', '@ResourceCache.Localize("ActivityIncharge")', '@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("InchargeContact")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'AIID', index: 'AIID' },
                { key: false, name: 'Fac_AcYear', index: 'Fac_AcYear' },
                { key: false, name: 'Activity', index: 'Activity' },
                { key: false, name: 'Fac_Incharge', index: 'Fac_Incharge' },
                { key: false, name: 'EmpId', index: 'EmpId' },
                { key: false, name: 'EmpContact', index: 'EmpContact' },
                 { key: false, name: 'Note', index: 'Note' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 50, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager2"),
            rowList: [50,100,250,500,1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "No records to display",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid2").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    ID_Activity = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Activity btn_Edit ui-icon-pencil' id='" + ID_Activity + "' value=''  title='Edit'/>";
                    jQuery("#grid2").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager2', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager2',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../SchoolManagement/ActivityExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager2',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../SchoolManagement/ActivityExportToPDF";
                }
            });
        $("#grid2").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("ActivityList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        jQuery("#grid1").jqGrid({
            url: "/SchoolManagement/StudentActivityResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class/Section")', '@ResourceCache.Localize("Activity")', '@ResourceCache.Localize("StudentName")', '@ResourceCache.Localize("Description")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],// '@ResourceCache.Localize("ActivityIncharge")',
            colModel: [
                { key: true, hidden: true, name: 'StdActivityId', index: 'StdActivityId' },
                { key: false, name: 'Fac_AcYear', index: 'Fac_AcYear' },
                { key: false, name: 'ClassSection', index: 'ClassSection', width: 100, },
                { key: false, name: 'Activity', index: 'Activity' },
                //{ key: false, name: 'Fac_Incharge', index: 'Fac_Incharge', width: 100 },
                { key: false, name: 'Student', index: 'Student', width: 100 },
                 { key: false, name: 'Note', index: 'Note', width: 100 },
                { key: false, name: 'Status', index: 'Status', width: 50 },
                { name: 'act', index: 'act', width: 50, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    ID_Student = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_StudentActivity btn_Edit ui-icon-pencil' id='" + ID_Student + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../SchoolManagement/StudentAcivityExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../SchoolManagement/StudentActivityExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("StudentActivityList")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnActivity_Filter').click(function (event) {
            event.preventDefault();
            filterGrid1();
        });
        $('#btnStudent_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid1() {
            var postDataValues = $("#grid2").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid2').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid2").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Activity', function () {
            $('#desc').empty();
            var id = $(this).attr('id');
            values = { ActivityId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/SchoolManagement/EditActivityIncharge',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_AddFacility").hide();
                    $("#idSection_EditFacility").show();
                    // Error Messages
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    // Values
                    $("#hide_ActivityInchargeId").val(id).html(id);
                    $("#Act_AcYear").val(data.ans.AcYear).html(data.ans.AcYear);
                    $("#Act_HideAcYearId").val(data.ans.AcYearId).html(data.ans.AcYearId);
                    $("#Act_ActivityId").val(data.ans.ActivityId);
                    $("#Act_EmpRId").val(data.ans.EmpId);
                    $("#Act_EmpRegId1").val(data.ans.EmpRegId);
                    $("#Act_EmpId1").val(data.ans.EmpId).html(data.ans.EmpId);
                    $("#Act_Note1").val(data.ans.Note).html(data.ans.Note);
                    var length = $("#Act_Note1").val().length;
                    $('#chars1').text(length);
                    if (data.ans.status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });
        });
        $("#btncancel_updateActivity").click(function () {
            $("#idSection_EditFacility").hide();
            $("#idSection_AddFacility").show();
            $('#Act_Note1').empty();
            $('#desc').empty();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btnAddActivity").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var acid = $("#AcademicYrid").val();
                var ActivityId = $("#ExActivityId").val();
                var empid = $("#EmployeeId").val();
                var desc = $("#desc").val();
                var EmpRegId = $("#Emp_RegId").val();
                var values = { Fac_AcYearId: acid, ActivityId: ActivityId, EmpId: empid, Note: desc, EmpRegId: EmpRegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/SchoolManagement/ExtraActivities',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid2").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        $("#updateAddActivity").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation1();
            if (bool == true) {
                var ActivityInchargeId = $("#hide_ActivityInchargeId").val();
                var acid = $("#Act_HideAcYearId").val();
                var Facid = $("#Act_ActivityId").val();
                var empid = $("#Act_EmpRId").val();
                var desc = $("#Act_Note1").val();
                var EmpRegId = $("#Act_EmpRegId1").val();
                var check = $("#txt_status").is(':checked');
                var status;
                if (check == true) {
                    status = "Active";
                }
                else {
                    status = "Inactive";
                }
                var values = { ActivityInchargeId: ActivityInchargeId, Fac_AcYearId: acid, FacId: Facid, EmpId: empid, Note: desc, EmpRegId: EmpRegId, Status: status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/SchoolManagement/SaveEditActivityIncharge',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid2").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    $("#Fac_AcYearId").change(function () {
        $("#ActivityId").empty().append('<option value>@ResourceCache.Localize("SelectFacility")</option>');
        $("#Act_ClassId").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
        $("#Act_SectionId").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
        $("#Act_StudentId").empty().append('<option value>@ResourceCache.Localize("SelectStudentName")</option>');
        $.getJSON('/SchoolManagement/getActivity',
             function (data) {
                 $("#ActivityId").empty().append('<option value>@ResourceCache.Localize("SelectActivity")</option>');
                 $.each(data, function (i, c) {
                     $("#ActivityId").append($('<option></option>').val(c.aid).html(c.atype));
                 });
             });
        $.getJSON('/SchoolManagement/getClassList',
           function (data) {
               $("#Act_ClassId").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
               $.each(data, function (i, c) {
                   $("#Act_ClassId").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });
           });
    });
    $(document).on('click', '.btn_edit_StudentActivity', function () {
        $('#std_Note').empty();
        var id = $(this).attr('id');
        values = { std_Activityid: id };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/SchoolManagement/EditStudentActivity',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $("#idSection_AddStudentActivity").hide();
                $("#idSection_editStudentActivity").show();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                $("#StudentActivityId").val(id).html(id);
                $("#AcademicYear_Act").val(data.ans.AcYear).html(data.ans.AcYear);
                $("#Fac_AcYearId1").val(data.ans.AcYearId).html(data.ans.AcYearId);
                $("#Student_Act").val(data.ans.Student).html(data.ans.Student);
                $("#Act_StudentId1").val(data.ans.StdRegId).html(data.ans.StdRegId);
                $("#Class_Act").val(data.ans.Class).html(data.ans.Class);
                $("#Act_ClassId1").val(data.ans.ClassId).html(data.ans.ClassId);
                $("#Section_Act").val(data.ans.Section).html(data.ans.Section);
                $("#Act_SectionId1").val(data.ans.SectionId).html(data.ans.SectionId);
                $("#ActivityId1").val(data.ans.ActivityId);
                $("#std_Note1").val(data.ans.Note).html(data.ans.Note);
                var length = $("#std_Note1").val().length;
                $('#chars3').text(length);
                if (data.ans.Status == true) {
                    $("#txt_status1").prop("checked", true);
                }
                if (data.ans.Status == false) {
                    $("#txt_status1").prop("checked", false);
                }
                $("#Loading_Sec").removeClass("loading-new");
            }
        });
    });
    $("#btncancel_updateStudentActivity").click(function () {
        $("#idSection_editStudentActivity").hide();
        $("#idSection_AddStudentActivity").show();
        $('#std_Note1').empty();
        $('#std_Note').empty();
        $(".jsonError").hide();
        $(".jsonExceptionMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonErrorMsg").hide();
    });
    $("#btnAddStudentActivity").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var acid = $("#Fac_AcYearId").val();
        var cid = $("#Act_ClassId").val();
        var secid = $("#Act_SectionId").val();
        var stdid = $("#Act_StudentId").val();
        var ActivityId = $("#ActivityId").val();
        var desc = $("#std_Note").val();
        var values = { Fac_AcYearId: acid, Act_ClassId: cid, Act_SectionId: secid, Act_StudentId: stdid, ActivityId: ActivityId, Note: desc };
        $("#Loading_Sec").addClass("loading-new");
        $.ajax({
            url: '/SchoolManagement/SaveStudentActivity',
            type: 'POST',
            data: JSON.stringify(values),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonError").show();
                    $(".jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $(".jErr").append(li);
                        }
                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }
                else {
                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.Message != "" && data.Message != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").show();
                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                        $(".jsonError").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonExceptionMsg").show();
                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                }
            }
        });
    });
    $("#updateStudentActivity").click(function () {
        $(".jsonError").hide();
        $(".jsonErrorMsg").hide();
        $(".jsonSuccessMsg").hide();
        $(".jsonExceptionMsg").hide();
        var bool = jsFormValidation4();
        if (bool == true) {
            var StudentActivityId = $("#StudentActivityId").val();
            var acid = $("#Fac_AcYearId1").val();
            var stdid = $("#Act_StudentId1").val();
            var cid = $("#Act_ClassId1").val();
            var secid = $("#Act_SectionId1").val();
            var ActivityId = $("#ActivityId1").val();
            var desc = $("#std_Note1").val();
            var check = $("#txt_status1").is(':checked');
            var status;
            if (check == true) {
                status = "Active";
            }
            else {
                status = "Inactive";
            }
            var values = { StudentActivityId: StudentActivityId, Fac_AcYearId: acid, Act_StudentId: stdid, Act_ClassId: cid, Act_SectionId: secid, ActivityId: ActivityId, Note: desc, Status: status };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/SchoolManagement/SaveEditStudentActivity',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    var totalError = data.ex;
                    var li = [];
                    if (data.Success == 0) {
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        $(".jsonError").show();
                        $(".jErr").append().empty();
                        $.each(totalError, function (i, v) {
                            if (totalError[i] != "" && totalError[i] != null) {
                                li = $("<li></li>").text(totalError[i]);
                                $(".jErr").append(li);
                            }
                        });
                        $("#Loading_Sec").removeClass("loading-new");
                    }
                    else {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").show();
                            $(".jSuccessMsg").html(data.Message).val(data.Message);
                            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.ExceptionError != "" && data.ExceptionError != null) {
                            $(".jsonError").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonExceptionMsg").show();
                            $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                }
            });
        }
    });
    //--------------------------------------------------------------------Js Validation-----------------
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'AcademicYrid') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'ExActivityId') {
                    a.push('@ResourceCache.Localize("SelectActivity")');
                }
                if (null_id == 'EmployeeId') {
                    a.push('@ResourceCache.Localize("SelectEmployee")');
                }
            }
            else {
                if (field_name == 'desc') {
                    var sname = $("#desc").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 250) {
                            a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters")');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Act_ActivityId') {
                    a.push('@ResourceCache.Localize("SelectActivity")');
                }
                if (null_id == 'Act_EmpRId') {
                    a.push('@ResourceCache.Localize("SelectEmployee")');
                }
            }
            else {
                if (field_name == 'Act_Note1') {
                    var sname = $("#Act_Note1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 250) {
                            a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters")');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    //-------------------------------------------------------------------//-----------------------------------------------------//
    function jsFormValidation3() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Fac_AcYearId') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'ActivityId') {
                    a.push('@ResourceCache.Localize("SelectActivity")');
                }
                if (null_id == 'Act_ClassId') {
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (null_id == 'Act_SectionId') {
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (null_id == 'Act_StudentId') {
                    a.push('@ResourceCache.Localize("PleaseSelectStudent")');
                }
            }
            else {
                if (field_name == 'std_Note') {
                    var sname = $("#std_Note").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 250) {
                            a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters")');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation4() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'ActivityId1') {
                    a.push('@ResourceCache.Localize("SelectActivity")');
                }
            }
            else {
                if (field_name == 'std_Note1') {
                    var sname = $("#std_Note1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 250) {
                            a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters")');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}