﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.FaciltyIncharge>
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditFacility" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditFacilityIncharge")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditFacilityIncharge", "SchoolManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                    @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                    <div class="box-body row border-radius-none">
                        <input type="hidden" id="hide_FacilityInchargeId" name="hide_FacilityInchargeId" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                            <div>
                                <input type="text" class="col-lg-12" id="Fac_AcYear" name="Fac_AcYear" title="@ResourceCache.Localize("AcademicYear")" readonly />
                                <input type="hidden" id="Fac_HideAcYearId" name="Fac_HideAcYearId" />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Facility")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("FacId1", new SelectList(ViewBag.Facility, "fid", "ftype"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("FacEmpRId", new SelectList(ViewBag.Employee, "empid", "ename"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeId")</label> </div>
                            <div>
                                <input type="hidden" class="col-lg-12" id="EmpRegId1" name="EmpRegId1" />
                                <input type="text" class="col-lg-12" id="EmpId1" name="EmpId1" placeholder="@ResourceCache.Localize("EmployeeId")" title="@ResourceCache.Localize("EmployeeId")" readonly />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div>
                                <textarea class="col-lg-12" id="Note1" name="Note1" placeholder="@ResourceCache.Localize("Note")" title="@ResourceCache.Localize("Note")" style="resize:none;" maxlength="250"></textarea>
                                <span id="chars1">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div>
                                <input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer">
                            <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdateFacility" name="btnUpdateFacility" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateFacility" name="btncancel_updateFacility" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div>
                       <!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddFacility">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Add_Facility_Incharge")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("Facilities", "SchoolManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("Fac_AcYearId", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Facility")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("FacId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectFacility"), Value = "" } }, new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("EmpId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectEmployee"), Value = "" } }, new { @class = "current_button" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("EmployeeId")</label> </div>
                            <div>
                                <input type="hidden" class="col-lg-12" id="EmpRegId" name="EmpRegId" value="0" />
                                <input type="text" class="col-lg-12" id="EmpId11" name="EmpId11" placeholder="@ResourceCache.Localize("EmployeeId")" title="@ResourceCache.Localize("EmployeeId")" readonly />
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label> </div>
                            <div>
                                <textarea class="col-lg-12" id="Note" name="Note" placeholder="@ResourceCache.Localize("Note")" title="@ResourceCache.Localize("Note")" style="resize:none;" maxlength="250"></textarea>
                                <span id="chars">250</span> @ResourceCache.Localize("CharactersRemaining")
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer">
                            <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddFacility" name="btnAddFacility" title="Add Role"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                            <button type="reset" class=" btn  btn-sm btn_reset" title="Clear" id="Btn_Reset" name="Btn_Reset"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageFacilityDetails") </h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/JsonError.cshtml")
                    <div class="col-lg-6">
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                        <div>
                            @Html.DropDownList("FAcademicYrId", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem", @title = @ResourceCache.Localize("AcademicYear") })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnRole_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div><!-- /.box-body -->
                <div class="box-body">
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FAcademicYrId').val(@Session["CurrentAcYearId"]);
            $('#Fac_AcYearId').val(@Session["Add_ChosenAcademicYearId"]);
            Faculty();
            $('#FAcademicYrId').change(function (event) {
                event.preventDefault();
                var YearId = $('#FAcademicYrId').val();
                AssignAcademicYear(YearId);
               // $('#Fac_AcYearId').val(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            $('#Fac_AcYearId').change(function (event) {
                event.preventDefault();
                var YearId = $('#Fac_AcYearId').val();
                AssignAcademicYear(YearId);
                Add_AssignAcademicYear(YearId)
                $('#FAcademicYrId').val(YearId);
            });
            function Add_AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                          function (orderdetails) {
                          });
            }

            $('#Btn_Reset').click(function () {
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                var length = 250;
                $('#chars').text(length);
                $('#chars1').text(length);
            });
            function Faculty()
            {
                $("#FacId").empty().append('<option value>@ResourceCache.Localize("SelectFacility")</option>');
                $("#EmpId").empty().append('<option value>@ResourceCache.Localize("SelectEmployee")</option>');
                $("#EmpId1").empty();
                $.getJSON('/SchoolManagement/getFacility',
                   function (data) {
                       $("#FacId").empty().append('<option value>@ResourceCache.Localize("SelectFacility")</option>');
                       $.each(data, function (i, c) {
                           $("#FacId").append($('<option></option>').val(c.fid).html(c.ftype));
                       });
                   });
            }
        var maxLength = 250;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
            $('#chars1').text(length);
        });
        $("#Fac_AcYearId").change(function () {
            $("#FacId").empty().append('<option value>@ResourceCache.Localize("SelectFacility")</option>');
            $("#EmpId").empty().append('<option value>@ResourceCache.Localize("SelectEmployee")</option>');
            $("#EmpId1").empty();
            $.getJSON('/SchoolManagement/getFacility',
               function (data) {
                   $("#FacId").empty().append('<option value>@ResourceCache.Localize("SelectFacility")</option>');
                   $.each(data, function (i, c) {
                       $("#FacId").append($('<option></option>').val(c.fid).html(c.ftype));
                   });
               });
        });
        $("#FacId").change(function () {
            $("#EmpId").empty().append('<option value>@ResourceCache.Localize("SelectIncharge")</option>');
            $("#EmpId1").empty();
            $.getJSON('/SchoolManagement/getEmployee',
               function (data) {
                   $("#EmpId").empty().append('<option value>@ResourceCache.Localize("SelectIncharge")</option>');
                   $.each(data, function (i, c) {
                       $("#EmpId").append($('<option></option>').val(c.empid).html(c.ename));
                   });
               });
        });
        $("#EmpId").change(function () {
            var EmpRid = $("#EmpId").val();
            $.getJSON('/SchoolManagement/getEmployeeId', { EmpRegid: EmpRid },
               function (data) {
                   console.log(data.ans);
                   $("#EmpRegId").val(data.ans).html(data.ans);
               });
            $("#EmpId11").val(EmpRid).html(EmpRid);
        });
        var Warden_Id, delete_WardenId;
        jQuery("#grid1").jqGrid({
            url: "/SchoolManagement/FacilityResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Facility")', '@ResourceCache.Localize("FacilityIncharge")', '@ResourceCache.Localize("EmployeeId")', '@ResourceCache.Localize("InchargeContact")', '@ResourceCache.Localize("Note")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'FacilityId', index: 'FacilityId' },
                { key: false, name: 'Fac_AcYear', index: 'Fac_AcYear' },
                { key: false, name: 'Fac', index: 'Fac' },
                { key: false, name: 'Fac_Incharge', index: 'Fac_Incharge' },
                { key: false, name: 'EmpId', index: 'EmpId' },
                { key: false, name: 'EmpContact', index: 'EmpContact' },
                 { key: false, name: 'Note', index: 'Note' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 50, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    Warden_Id = ids[i];
                    delete_WardenId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Facility btn_Edit ui-icon-pencil' id='" + Warden_Id + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../SchoolManagement/FacilityExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../SchoolManagement/FacilityExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("FacilityIncharge")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnRole_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_Facility', function () {
            $('#Note').empty();
            var id = $(this).attr('id');
            values = { FacilityId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/SchoolManagement/EditFacilityIncharge',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_AddFacility").hide();
                    $("#idSection_EditFacility").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#hide_FacilityInchargeId").val(id).html(id);
                    $("#Fac_AcYear").val(data.ans.AcYear).html(data.ans.AcYear);
                    $("#Fac_HideAcYearId").val(data.ans.AcYearId).html(data.ans.AcYearId);
                    $("#FacId1").val(data.ans.FacId);
                    $("#FacEmpRId").val(data.ans.EmpId);
                    $("#EmpRegId1").val(data.ans.EmpRegId);
                    $("#EmpId1").val(data.ans.EmpId).html(data.ans.EmpId);
                    $("#Note1").val(data.ans.Note).html(data.ans.Note);
                    var length = $("#Note1").val().length;
                    var length = maxLength - length;
                    $('#chars1').text(length);
                    if (data.ans.status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });
        });
        $("#btncancel_updateFacility").click(function () {
            $("#idSection_EditFacility").hide();
            $("#idSection_AddFacility").show();
            $('#Note1').empty();
            $('#Note').empty();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btnAddFacility").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var acid = $("#Fac_AcYearId").val();
                var Facid = $("#FacId").val();
                var empid = $("#EmpId").val();
                var desc = $("#Note").val();
                var EmpRegId = $("#EmpRegId").val();
                var values = { Fac_AcYearId: acid, FacId: Facid, EmpId: empid, Note: desc, EmpRegId: EmpRegId };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/SchoolManagement/Facilities',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        $("#btnUpdateFacility").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation1();
            if (bool == true) {
                var FacilityInchargeId = $("#hide_FacilityInchargeId").val();
                var acid = $("#Fac_HideAcYearId").val();
                var Facid = $("#FacId1").val();
                var empid = $("#FacEmpRId").val();
                var desc = $("#Note1").val();
                var EmpRegId = $("#EmpRegId1").val();
                var check = $("#txt_status").is(':checked');
                var status;
                if (check == true) {
                    status = "Active";
                }
                else {
                    status = "Inactive";
                }
                var values = { FacilityInchargeId: FacilityInchargeId, Fac_AcYearId: acid, FacId: Facid, EmpId: empid, Note: desc, EmpRegId: EmpRegId, Status: status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/SchoolManagement/SaveEditFacilityIncharge',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'Fac_AcYearId') {
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (null_id == 'FacId') {
                    a.push('@ResourceCache.Localize("SelectFacility")');
                }
                if (null_id == 'EmpId') {
                    a.push('@ResourceCache.Localize("SelectEmployee")');
                }
            }
            else {
                if (field_name == 'Note') {
                    var sname = $("#Note").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 250) {
                            a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '') {
                var null_id = $(this).attr('id');
                if (null_id == 'FacId1') {
                    a.push('@ResourceCache.Localize("SelectFacility").');
                }
                if (null_id == 'FacEmpRId') {
                    a.push('@ResourceCache.Localize("SelectEmployee").');
                }
            }
            else {
                if (field_name == 'Note1') {
                    var sname = $("#Note1").val();
                    if (sname != '') {
                        var snameLength = sname.length;
                        if (snameLength > 250) {
                            a.push('@ResourceCache.Localize("Description_should_not_exceed_250_characters").');
                        }
                    }
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}