﻿@using eAcademy.Areas.LibraryManagement.LocalResource
@{
    ViewBag.Title = "BookTakenReturnReports";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("BookSearchList")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-xs-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div id="parent" class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("BookTitle")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Lib_BookTitile", new SelectList(ViewBag.AllBookTitle, "BookTitleId", "BookTitle"), @ResourceCache.Localize("SelectBookTitile"), new { @class = "col-md-12 filterItem current_button" })<span id="Err_AcademicYear" class="colors2"></span>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AuthorName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <select id="Lib_BookAuthor" name="Lib_BookAuthor" class="current_button filterItem">
                                        <option value="">@ResourceCache.Localize("SelectAuthor")</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <button type="button" id="BookSearchfilter" class="btn btn-sm btn_search filterItem btn-down"><i class=" fa fa-search"></i> @ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                        </form>
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" id="show" style="display:none;">
                            <table class="col-lg-12 col-xs-12  col-sm-12 col-md-12" id="BookSearchGrid"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).bind('resize', function () {
                var width = $('#show').width();
                $('#BookSearchGrid').setGridWidth(width, true); //Back to original width
                $('#BookSearchGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
               
            }).trigger('resize');
            $('#Lib_BookTitile').change(function () {
                var title = $('#Lib_BookTitile').val();
                $.getJSON('/Library/GetbookAuthor', { title: title },
                   function (data) {
                       $("#Lib_BookAuthor").empty().append('<option value="">@ResourceCache.Localize("SelectAuthor")</option>');
                       $.each(data, function (i, c) {
                           $("#Lib_BookAuthor").append($('<option></option>').val(c.AuthorId).html(c.AuthorName));
                       });
                   });
            });
           
            jQuery("#BookSearchGrid").jqGrid({
                url: "/Library/BookSearchResults",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['', '@ResourceCache.Localize("BookId")', '@ResourceCache.Localize("BookTitle")', '@ResourceCache.Localize("AuthorName")', '@ResourceCache.Localize("Edition")', '@ResourceCache.Localize("BookSection")', '@ResourceCache.Localize("BookType")', '@ResourceCache.Localize("RackNo")', '@ResourceCache.Localize("TotalNoOfBook")', '@ResourceCache.Localize("NoOfAvailable")', '@ResourceCache.Localize("Status")'],
                colModel: [
                    { key: true, hidden: true, name: 'BookEntryRegisterId', index: 'BookEntryRegisterId' },
                    { key: false, name: 'BookId', index: 'BookId' },
                    { key: false, name: 'BookTitle', index: 'BookTitle' },
                    { key: false, name: 'AuthorName', index: 'AuthorName' },
                    //{ key: false, name: 'Booklanaguage', index: 'Booklanaguage' },
                    // { key: false, name: 'PublicationName', index: 'PublicationName' },
                    { key: false, name: 'BookEdition', index: 'BookEdition' },
                     { key: false, name: 'BookSection', index: 'BookSection' },
                    { key: false, name: 'BookType', index: 'BookType' },
                     { key: false, name: 'RackNo', index: 'RackNo' },
                    { key: false, name: 'TotalNoOfBook', index: 'TotalNoOfBook' },
                     { key: false, name: 'NoOfAvailable', index: 'NoOfAvailable' },
                    { key: false, name: 'Status', index: 'Status' },
                ],
                pager: jQuery("#pager"),                
                rowList: [50,100, 250,500,1000],
                height: '100%',
                viewrecords: true,
                caption: '@ResourceCache.Localize("BookSearchList")',
                emptyrecords: "@ResourceCache.Localize("Norecordstodisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                multiselect: false,
            }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
                   ).jqGrid('navButtonAdd', '#pager',
                   {
                       caption: "Excel ",
                       buttonicon: "ui-icon-bookmark",
                       position: "last",
                       onClickButton: function () {
                           window.location.href = "../Library/BookSearchExportToExcel";
                       }
                   }).jqGrid('navButtonAdd', '#pager',
                   {
                       caption: "Pdf ",
                       buttonicon: "ui-icon-print",
                       position: "last",
                       onClickButton: function () {
                           window.location.href = "../Library/BookSearchExportToPDF?pdf=true";
                       }
                   });
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#BookSearchfilter').click(function (event) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").hide();
                var a = [];
                var flag = 0;
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'Lib_BookTitile') {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Selectbooktitle")');
                        }
                        if (null_id == 'Lib_BookAuthor') {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Selectauthorname")');
                        }
                    }
                });
                if (flag == 0) {
                    $('#show').show();
                    event.preventDefault();
                    BookSearchfilterGrid();
                }
                if (a.length != 0) {
                    $('#show').hide();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
            });
            function BookSearchfilterGrid() {
                var postDataValues = $("#BookSearchGrid").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#BookSearchGrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
            }
            $('#lang').change(function (event) {
                event.preventDefault();
                var CultureId = $('#lang').val();
                $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                    function (data) {
                        $("#lang").val(data.selVal);
                        location.reload();
                    });
            });
            $(window).load(function () {
                $.getJSON('/Home/getCulture',
                   function (data) {
                       if (data.cul == "empty") {
                       }
                       else {
                           $("#lang").val(data.cul);
                       }
                   });
            });
        });
    </script>
}