﻿@using eAcademy.Areas.LibraryManagement.LocalResource
@{
    ViewBag.Title = "BookRegister";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("BookEntry")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-sm-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div id="AddBookEntry">
                                <div class=" col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookTitle")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button" type="text" id="txt_BookTitle" name="txt_BookTitle" placeholder="@ResourceCache.Localize("BookTitle")" title="@ResourceCache.Localize("BookTitle")" required="required" maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("AuthorName")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3" id="TextBoxContainer">
                                        <input class="col-lg-12 current_button" type="text" id="txt_AuthorName1" name="txt_AuthorName1" placeholder="@ResourceCache.Localize("AuthorName")" title="@ResourceCache.Localize("AuthorName")" required="required" maxlength="50" />
                                        <input class="col-lg-12" type="hidden" id="txt_Count" name="txt_Count" value="1" />
                                    </div>
                                    <div class="col-sm-2">
                                        <a id="btnAddAuthor" name="btnAddAuthor" class="cursor"><i class="fa fa-plus "> @ResourceCache.Localize("Add") </i> </a> / <a id="btnDelAuthor" name="btnDelAuthor" class="cursor"><i class="fa fa-trash"> @ResourceCache.Localize("Delete")</i></a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("PublicationName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button" type="text" id="txt_PublicationName" name="txt_PublicationName" placeholder="@ResourceCache.Localize("PublicationName")" title="@ResourceCache.Localize("PublicationName")" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookLanguage")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_Booklanaguage" name="txt_Booklanaguage" placeholder="@ResourceCache.Localize("BookLanguage")" title="@ResourceCache.Localize("BookLanguage")" required="required" maxlength="10" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Edition")</label></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_Edition" name="txt_Edition" placeholder="@ResourceCache.Localize("Edition")" title="@ResourceCache.Localize("Edition")" maxlength="10" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="txt_BookType" name="txt_BookType" class="col-lg-12 current_button">
                                            <option value="">--@ResourceCache.Localize("Select")--</option>
                                            <option value="TextBook">@ResourceCache.Localize("TextBook")</option>
                                            <option value="Reference">@ResourceCache.Localize("Refference")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookPrice")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_BookPrice" name="txt_BookPrice" placeholder="@ResourceCache.Localize("BookPrice")" title="@ResourceCache.Localize("BookPrice")" required="required" maxlength="5" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("NoOfCopies")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_NoOfCopy" name="txt_NoOfCopy" placeholder="@ResourceCache.Localize("NoOfCopies")" title="@ResourceCache.Localize("NoOfCopies")" required="required" maxlength="3" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookSection")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_BookSection" name="txt_BookSection" placeholder="@ResourceCache.Localize("BookSection")" title="@ResourceCache.Localize("BookSection")" required="required" maxlength="20" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("RackNo")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_RackNo" name="txt_RackNo" placeholder="@ResourceCache.Localize("Eg:-1,2,3_(or)_cs01")" title="@ResourceCache.Localize("RackNo")" required="required" maxlength="10" />
                                    </div>
                                </div>
                                <div class="box-footer clearfix no-border">
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" id="btnAddBook" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Save")</button>
                                    <button type="reset" id="btnreset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                                </div>
                            </div>
                            <div id="EditBookEntry" style="display:none;">
                                <div class=" col-sm-12">
                                    <div class="col-sm-3">
                                        <input class="col-lg-12" type="hidden" id="BookEntryRegisterId" name="BookEntryRegisterId" value="" />
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookTitle")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button2" type="text" id="txtEdit_BookTitle" name="txt_BookTitle" placeholder="@ResourceCache.Localize("BookTitle")" title="@ResourceCache.Localize("BookTitle")" required="required" maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("AuthorName")</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3" id="TextBoxContainer1">
                                    </div>
                                    <input class="col-lg-12" type="hidden" id="txtEdit_Count" name="txtEdit_Count" value="" />
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("PublicationName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button2" type="text" id="txtEdit_PublicationName" name="txt_PublicationName" placeholder="@ResourceCache.Localize("PublicationName")" title="@ResourceCache.Localize("PublicationName")" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookLanguage")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_Booklanaguage" name="txtEdit_Booklanaguage" placeholder="@ResourceCache.Localize("BookLanguage")" title="@ResourceCache.Localize("BookLanguage")" required="required" maxlength="10" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("Edition")</label></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_Edition" name="txtEdit_Edition" placeholder="@ResourceCache.Localize("Edition")" title="@ResourceCache.Localize("Edition")" maxlength="10" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookType")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="txtEdit_BookType" name="txtEdit_BookType" class="col-lg-12 current_button2">
                                            <option value="">--@ResourceCache.Localize("Select")--</option>
                                            <option value="TextBook">@ResourceCache.Localize("TextBook")</option>
                                            <option value="Reference">@ResourceCache.Localize("Refference")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookPrice")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_BookPrice" name="txtEdit_BookPrice" placeholder="@ResourceCache.Localize("BookPrice")" title="@ResourceCache.Localize("BookPrice")" required="required" maxlength="5" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("NoOfCopies")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 " id="txtEdit_NoOfCopy" name="txtEdit_NoOfCopy" placeholder="@ResourceCache.Localize("NoOfCopies")" title="@ResourceCache.Localize("NoOfCopies")" maxlength="3" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("BookSection")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_BookSection" name="txtEdit_BookSection" placeholder="@ResourceCache.Localize("BookSection")" title="@ResourceCache.Localize("BookSection")" required="required" maxlength="20" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">@ResourceCache.Localize("RackNo")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_RackNo" name="txtEdit_RackNo" placeholder="@ResourceCache.Localize("RackNo")" title="@ResourceCache.Localize("RackNo")" required="required" maxlength="10" />
                                    </div>
                                </div>
                                <div class="box-footer clearfix no-border">
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" id="btnUpdateBook" class="btn btn-sm btn_save btn_double">@ResourceCache.Localize("Update")</button>
                                    <button type="button" id="btnCancel" name="btnCancel" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset")</button>
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-down" id="show">
                                <table class="col-xs-12 col-sm-12 col-md-12  col-lg-12" id="BookDetailsgrid"></table>
                                <div id="pager1"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#BookDetailsgrid').setGridWidth(width, true); //Back to original width
            $('#BookDetailsgrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        $("#txt_BookTitle").filter_input({ regex: '[0-9A-Za-z &()-_=,]' });
        $("#txt_AuthorName1").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txt_PublicationName").filter_input({ regex: '[0-9A-Za-z &()-_=,]' });
        $("#txt_Booklanaguage").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_Edition").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#txt_BookType").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_BookPrice").filter_input({ regex: '[0-9]' });
        $("#txt_NoOfCopy").filter_input({ regex: '[0-9]' });
        $("#txt_BookSection").filter_input({ regex: '[A-Za-z ]' });
        $("#txt_RackNo").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#txtEdit_BookTitle").filter_input({ regex: '[0-9A-Za-z ]' });
        $("#txtEdit_PublicationName").filter_input({ regex: '[0-9A-Za-z &()-_=,]' });
        $("#txtEdit_Booklanaguage").filter_input({ regex: '[A-Za-z ]' });
        $("#txtEdit_Edition").filter_input({ regex: '[0-9A-Za-z \\.]' });
        $("#txtEdit_BookType").filter_input({ regex: '[A-Za-z ]' });
        $("#txtEdit_BookPrice").filter_input({ regex: '[0-9]' });
        $("#txtEdit_NoOfCopy").filter_input({ regex: '[0-9]' });
        $("#txtEdit_BookSection").filter_input({ regex: '[A-Za-z ]' });
        $("#txtEdit_RackNo").filter_input({ regex: '[0-9A-Za-z \\.]' });
        
        $('#btnCancel').click(function () {
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $('#btnAddBook').attr('disabled', false);
        });
        jQuery("#BookDetailsgrid").jqGrid({
            url: "/Library/BookDetailsResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("BookEntryRegisterId")', '@ResourceCache.Localize("BookTitle")', '@ResourceCache.Localize("BookLanguage")', '@ResourceCache.Localize("BookType")', '@ResourceCache.Localize("BookPrice")', '@ResourceCache.Localize("NoOfCopies")','@ResourceCache.Localize("BookIds")', '@ResourceCache.Localize("BookSection")', '@ResourceCache.Localize("RackNo")', '@ResourceCache.Localize("DateOfEntry")', '@ResourceCache.Localize("Actions")'], //'Resource.PublicationName','Resource.Edition',
            colModel: [
                { key: true, hidden: true, name: 'BookEntryRegisterId', index: 'BookEntryRegisterId' },
                { key: false, name: 'BookEntryRegisterId', index: 'BookEntryRegisterId' },
                { key: false, name: 'BookTitle', index: 'BookTitle' },
                //{ key: false, name: 'PublicationName', index: 'PublicationName' },
                { key: false, name: 'Booklanaguage', index: 'Booklanaguage' },
                //{ key: false, name: 'Edition', index: 'Edition' },
                { key: false, name: 'BookType', index: 'BookType' },
                { key: false, name: 'BookPrice', index: 'BookPrice' },
                { key: false, name: 'NoOfCopy', index: 'NoOfCopy' },
                { key: false, name: 'BookIds', index: 'BookIds' },
                { key: false, name: 'BookSection', index: 'BookSection' },
                { key: false, name: 'RackNo', index: 'RackNo' },
                { key: false, name: 'DateofEntry', index: 'DateofEntry' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),
            rowList: [50,100, 250,500,1000],
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("Norecordstodisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#BookDetailsgrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeCatIdId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_BookEntry btn_Edit ui-icon-pencil' id='" + FeeCatIdId + "' value=''  title='Edit'/>";
                    jQuery("#BookDetailsgrid").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
          ).jqGrid('navButtonAdd', '#pager1',
          {
              caption: "Excel",
              buttonicon: "ui-icon-bookmark",
              onClickButton: function () {
                  window.location.href = "../Library/BookDetailsExportToExcel";
              }
          }).jqGrid('navButtonAdd', '#pager1',
          {
              caption: "Pdf ",
              buttonicon: "ui-icon-print",
              position: "last",
              onClickButton: function () {
                  window.location.href = "../Library/BookDetailsExportToPDF";
              }
          });
        $("#BookDetailsgrid").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("BookDetails")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnTerm_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#BookDetailsgrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#BookDetailsgrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
            $("#BookDetailsgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $('#btnCancel').click(function () {
            $('#EditBookEntry').hide();
            $('#AddBookEntry').show();
        });
        $("#btnAddAuthor").click(function () {
            var count = $('#txt_Count').val();
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            if (count != 0 && count < 4) {
                var author = $('#txt_AuthorName' + count).val();
                if (author != '' && author != null) {
                    var cc = count++;
                    $('#txt_Count').val(count).html(count);
                    $("#TextBoxContainer").append('<input class="col-lg-12 current_button1" id= "txt_AuthorName' + count + '" name = "txt_AuthorName' + count + '" type="text" placeholder="Enter Author Name" title="Author Name" required="required"  maxlength="50" />');
                    $("#txt_AuthorName" + count).filter_input({ regex: '[0-9A-Za-z ]' });
                }
                else {
                    $("#jsonErrorMsg").show();
                    $("#jErrMsg").html("@ResourceCache.Localize("Enterauthorname")");
                    return false;
                }
            }
        });
        $("#btnDelAuthor").click(function () {
            var count = $('#txt_Count').val();
            if (count > 1) {
                $('#txt_AuthorName' + count).remove();
                var cc = count--;
                $('#txt_Count').val(count).html(count);
            }
        });
        $('#btnreset').click(function () {
            var count = $('#txt_Count').val();          
            for (var i = 1; 1 < count; i++) {
                var name = "txt_AuthorName" + count;
                $("#" + name).remove();                
                count--;
            }
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
            $('#btnAddBook').attr('disabled', false);
        });
        $('#btnAddBook').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var a = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_BookTitle') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooktitle")');
                    }
                    if (null_id == 'txt_AuthorName1') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterauthorname")');
                    }
                    if (null_id == 'txt_PublicationName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterpublicationname")');
                    }
                    if (null_id == 'txt_Booklanaguage') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooklanaguage")');
                    }
                    if (null_id == 'txt_BookType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooktype")');
                    }
                    if (null_id == 'txt_BookPrice') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbookprice")');
                    }
                    if (null_id == 'txt_NoOfCopy') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enternoofcopy")');
                    }
                    if (null_id == 'txt_BookSection') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooksection")');
                    }
                    if (null_id == 'txt_RackNo') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterrackno")');
                    }
                }
            });
            if (flag == 0) {
                var count = $('#txt_Count').val();
                var Author = [];
                for (i = 0; i < count; i++) {
                    Author[i] = $('#txt_AuthorName' + (i + 1)).val();
                }
                var BookTitle = $('#txt_BookTitle').val();
                var PublicationName = $('#txt_PublicationName').val();
                var Booklanaguage = $('#txt_Booklanaguage').val();
                var Edition = $('#txt_Edition').val();
                var BookType = $('#txt_BookType').val();
                var BookPrice = $('#txt_BookPrice').val();
                var NoOfCopy = $('#txt_NoOfCopy').val();
                var BookSection = $('#txt_BookSection').val();
                var RackNo = $('#txt_RackNo').val();
                var ss = { BookTitle: BookTitle, AuthorName: Author, PublicationName: PublicationName, Booklanaguage: Booklanaguage, Edition: Edition, BookType: BookType, BookPrice: BookPrice, NoOfCopy: NoOfCopy, BookSection: BookSection, RackNo: RackNo, NoOfAuthor: count };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Library/BookEntry',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jsonInfoMsg").hide();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#BookDetailsgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $('#btnAddBook').attr('disabled', true);
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#Loading_Sec").removeClass("loading-new");
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#div_Error").hide();
                $('#errormsg').hide();
                $('#successmsg').hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                $('html,body').animate({
                    // scroll to end of page
                    scrollTop: 0
                }, 700);
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $(document).on('click', '.btn_edit_BookEntry', function () {
            var id = $(this).attr('id');
            values = { Bookregisterid: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/Library/EditBookEntry',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (data.ErrorMessage != '' && data.ErrorMessage != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#jsonError").hide();
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").show();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                    }
                    if (data.ans != null) {
                        $("#Loading_Sec").removeClass("loading-new");
                        $("#AddBookEntry").hide();
                        $("#EditBookEntry").show();
                        // Error Messages
                        $("#jsonExceptionMsg").hide();
                        $("#jsonSuccessMsg").hide();
                        $("#jsonErrorMsg").hide();
                        $("#div_Error").hide();
                        $('#errormsg').hide();
                        $('#successmsg').hide();
                        $("#jsonError").hide();
                        // Values
                        $('#BookEntryRegisterId').val(id);
                        $('#txtEdit_BookTitle').val(data.ans.BookTitle);
                        $('#txtEdit_PublicationName').val(data.ans.PublicationName);
                        $('#txtEdit_Booklanaguage').val(data.ans.Booklanaguage);
                        $('#txtEdit_Edition').val(data.ans.Edition);
                        $('#txtEdit_BookType').val(data.ans.BookType);
                        $('#txtEdit_BookPrice').val(data.ans.BookPrice);
                        $('#txtEdit_NoOfCopy').val(data.ans.NoOfCopy);
                        $('#txtEdit_BookSection').val(data.ans.BookSection);
                        $('#txtEdit_RackNo').val(data.ans.RackNo);
                        $('#TextBoxContainer1').empty();
                        if (data.author != null) {
                            $.each(data.author, function (i, v) {
                                if (i == 0) {
                                    $("#TextBoxContainer1").append('<input class="col-lg-12 current_button2" id= "txtEdit_AuthorName' + i + '" name = "txtEdit_AuthorName' + i + '" type="text" placeholder="Enter Author Name" title="Author Name" required="required"  maxlength="50" value="' + v.AuthorName + '" /> <input class="col-lg-12" type="hidden" id="AuthorId' + i + '" name="AuthorId' + i + '" value="' + v.Authorid + '" />');
                                }
                                else {
                                    $("#TextBoxContainer1").append('<input class="col-lg-12 " id= "txtEdit_AuthorName' + i + '" name = "txtEdit_AuthorName' + i + '" type="text" placeholder="Enter Author Name" title="Author Name" required="required"  maxlength="50" value="' + v.AuthorName + '" /> <input class="col-lg-12" type="hidden" id="AuthorId' + i + '" name="AuthorId' + i + '" value="' + v.Authorid + '" />');
                                }
                            });
                            $('#txtEdit_Count').val(data.author.length).html(data.author.length);
                        }
                    }
                }
            });
        });
        $('#btnUpdateBook').click(function () {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#div_Error").hide();
            $('#errormsg').hide();
            $('#successmsg').hide();
            $("#jsonError").hide();
            var a = [];
            var flag = 0;
            $(".current_button2").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txtEdit_BookTitle') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooktitle")');
                    }
                    if (null_id == 'txtEdit_AuthorName0') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterauthorname")');
                    }
                    if (null_id == 'txtEdit_PublicationName') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterpublicationname")');
                    }
                    if (null_id == 'txtEdit_Booklanaguage') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooklanaguage")');
                    }
                    if (null_id == 'txtEdit_BookType') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooktype")');
                    }
                    if (null_id == 'txtEdit_BookPrice') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbookprice")');
                    }
                    if (null_id == 'txtEdit_BookSection') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterbooksection")');
                    }
                    if (null_id == 'txtEdit_RackNo') {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Enterrackno")');
                    }
                }
            });
            if (flag == 0) {
                var count = $('#txtEdit_Count').val();
                var Author = [];
                var Authorid = [];
                for (i = 0; i < count; i++) {
                    Author[i] = $('#txtEdit_AuthorName' + i).val();
                }
                for (i = 0; i < count; i++) {
                    Authorid[i] = $('#AuthorId' + i).val();
                }
                var id = $('#BookEntryRegisterId').val();
                var BookTitle = $('#txtEdit_BookTitle').val();
                var PublicationName = $('#txtEdit_PublicationName').val();
                var Booklanaguage = $('#txtEdit_Booklanaguage').val();
                var Edition = $('#txtEdit_Edition').val();
                var BookType = $('#txtEdit_BookType').val();
                var BookPrice = $('#txtEdit_BookPrice').val();
                var NoOfCopy = $('#txtEdit_NoOfCopy').val();
                var BookSection = $('#txtEdit_BookSection').val();
                var RackNo = $('#txtEdit_RackNo').val();
                var ss = { BookEntryRegisterId: id, BookTitle: BookTitle, AuthorName: Author, AuthorId: Authorid, PublicationName: PublicationName, Booklanaguage: Booklanaguage, Edition: Edition, BookType: BookType, BookPrice: BookPrice, NoOfCopy: NoOfCopy, BookSection: BookSection, RackNo: RackNo, NoOfAuthor: count };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Library/Update',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $('#FeesTable').hide();
                            $('#Err').show();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#divStudent").hide();
                            $("#jsonError").show();
                            $("#jsonInfoMsg").hide();
                            $("#jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#BookDetailsgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#Loading_Sec").removeClass("loading-new");
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#div_Error").hide();
                $('#errormsg').hide();
                $('#successmsg').hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                $('html,body').animate({
                    // scroll to end of page
                    scrollTop: 0
                }, 700);
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    });
    </script>
}