﻿@using eAcademy.Areas.LibraryManagement.LocalResource
@{
    ViewBag.Title = "FineCollection";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@using eAcademy.Models
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("LibraryFineCollection")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-xs-12">
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div id="parent" class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("AcademicYear", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectYear"), new { @class = "col-lg-12 current_button filterItem" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "col-lg-12 current_button filterItem" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("Rpt_Section", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "col-lg-12 current_button filterItem" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("StudentName")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    @Html.DropDownList("StudentId", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectStudentName"), Value = "" } }, new { @class = "col-lg-12 current_button filterItem" })
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <button type="button" id="FineCollectionfilter" class="btn btn-sm btn_search filterItem btn-down"><i class=" fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                        </form>
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12 btn-down" id="show" style="display:none;">
                            <table class="col-lg-12 col-xs-12 col-sm-12 col-md-12" id="FineCollectionGrid"></table>
                            <div id="pager"></div>
                            <div class="row col-sm-12" id="totalamount">
                                <div class="col-sm-offset-6  col-sm-3 ">
                                    <label>@ResourceCache.Localize("TotalAmount")</label>
                                    <input type="text" id="total" name="total" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" id="CollectFine" class="btn btn-sm btn_search filterItem btn-down">@ResourceCache.Localize("CollectFine")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsContainer{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#AcademicYear').val(@Session["Add_ChosenAcademicYearId"]);
        function Add_AssignAcademicYear(YearId) {
            $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                      function (orderdetails) {
                      });
        }
        $('#AcademicYear').change(function (event) {
            Add_AssignAcademicYear(YearId);
            event.preventDefault();
            var YearId = $('#AcademicYear').val();
            AssignAcademicYear(YearId);
            $('#Class').val("");
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        $('#Class').change(function () {
            $("#Rpt_Section").empty().append('<option value="">@ResourceCache.Localize("SelectSection")</option>');
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        $('#Rpt_Section').change(function () {
            $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
        });
        $('#Class').change(function () {
            var year = $('#Class').val();
            //$("#Rep_section").empty().append('<option value="0">Select</option>');
            $.getJSON('/Report/getSectionList', { clas: year },
               function (data) {
                   $("#Rpt_Section").empty().append('<option value="">Select Section</option>');
                   $.each(data, function (i, c) {
                       $("#Rpt_Section").append($('<option></option>').val(c.sec_id).html(c.sec));
                   });
               });
        });

        $('#Rpt_Section').change(function () {
            var year = $('#AcademicYear').val();
            var clas = $('#Class').val();
            var sec = $('#Rpt_Section').val();
            //$("#Rep_regid").empty().append('<option value="">Select</option>');
            $.getJSON('/Report/getStuRegid', { year: year, clas: clas, sec: sec },
               function (data) {
                   $("#StudentId").empty().append('<option value="">@ResourceCache.Localize("SelectStudentName")</option>');
                   $.each(data, function (i, c) {
                       $("#StudentId").append($('<option></option>').val(c.reg_id).html(c.sname));
                   });
               });
        });

        function AssignAcademicYear(YearId) {
            $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                      function (orderdetails) {
                      });
        }
        $(window).bind('resize', function () {
            var width = $('#show').width();
            $('#FineCollectionGrid').setGridWidth(width, true); //Back to original width
            $('#FineCollectionGrid').setGridWidth($('#show').width(), true); //Resized to new width as per window
        }).trigger('resize');
        jQuery("#FineCollectionGrid").jqGrid({
            url: "/Library/StudentlibraryfinelistResults",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['', '@ResourceCache.Localize("BookId")', '@ResourceCache.Localize("BookTitle")', '@ResourceCache.Localize("DateOfTaken")', '@ResourceCache.Localize("DateofReturn")', '@ResourceCache.Localize("DueDays")', '@ResourceCache.Localize("FineAmount")'],
            colModel: [
                { key: true, hidden: true, name: 'StudentTakkenId', index: 'StudentTakkenId' },
                { key: false, name: 'BookId', index: 'BookId' },
                { key: false, name: 'BookTitle', index: 'BookTitle' },
                { key: false, name: 'Dateoftaken', index: 'Dateoftaken' },
                { key: false, name: 'DateofReturn', index: 'DateofReturn' },
                 { key: false, name: 'DueDays', index: 'DueDays' },
                { key: false, name: 'FineAmount', index: 'FineAmount' },
            ],
            pager: jQuery("#pager"),
            rowList: [50,100,250,500,1000],
            height: '100%',
            viewrecords: true,
            caption: '@ResourceCache.Localize("Student_library_fine_list")',
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false,
        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false }
               ).jqGrid('navButtonAdd', '#pager',
               {
                   caption: "Excel",
                   buttonicon: "ui-icon-bookmark",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../Library/StudentlibraryfinelistExportToExcel";
                   }
               }).jqGrid('navButtonAdd', '#pager',
               {
                   caption: "Pdf",
                   buttonicon: "ui-icon-print",
                   position: "last",
                   onClickButton: function () {
                       window.location.href = "../Library/StudentlibraryfinelistExportToPDF?pdf=true";
                   }
               });
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#FineCollectionfilter').click(function (event) {
            $("#jsonExceptionMsg").hide();
            $("#jsonSuccessMsg").hide();
            $("#jsonErrorMsg").hide();
            $("#divStudent").hide();
            $("#jsonError").hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("Pleaseselectacademicyear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("Pleaseselectclass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("Pleaseselectsection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("Pleaseselectstudentname")');
                    }
                }
            });
            if (flag == 0) {
                $('#show').show();
                event.preventDefault();
                FineListfilterGrid();
                var id = [];
                var acyear = $('#AcademicYear').val();
                var classs = $('#Class').val();
                var sec = $('#Rpt_Section').val();
                var studentid = $('#StudentId').val();
                var fineamount = 0;
                var ss = { AcademicYear: acyear, Class: classs, Section: sec, StudentRegisterId: studentid, Fineamount: fineamount, id: id };
                $.ajax({
                    type: "POST",
                    url: '/Library/GetFineTotal',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        if (data != "" && data != null) {
                            $('#totalamount').show();
                            $('#total').val(data);
                        }
                        else {
                            $('#totalamount').hide();
                        }
                    },
                });
            }
            if (a.length != 0) {
                $('#show').hide();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        function FineListfilterGrid() {
            var postDataValues = $("#FineCollectionGrid").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            $('#FineCollectionGrid').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');
        }
        $('#CollectFine').click(function () {
            var count = $('#FineCollectionGrid tbody tr').length;
            var id = [];
            for (i = 0; i < count; i++) {
                var ss = $('#FineCollectionGrid').find(' tbody tr:eq(' + (i + 1) + ')').attr('id');
                id[i] = ss;
            }
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'AcademicYear') {
                        a.push('@ResourceCache.Localize("Pleaseselectacademicyear")');
                    }
                    if (null_id == 'Class') {
                        a.push('@ResourceCache.Localize("Pleaseselectclass")');
                    }
                    if (null_id == 'Rpt_Section') {
                        a.push('@ResourceCache.Localize("Pleaseselectsection")');
                    }
                    if (null_id == 'StudentId') {
                        a.push('@ResourceCache.Localize("Pleaseselectstudentname")');
                    }
                }
            });
            if (flag == 0) {
                var acyear = $('#AcademicYear').val();
                var classs = $('#Class').val();
                var sec = $('#Rpt_Section').val();
                var studentid = $('#StudentId').val();
                var fineamount = $('#total').val();
                var ss = { AcademicYear: acyear, Class: classs, Section: sec, StudentRegisterId: studentid, Fineamount: fineamount, id: id };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/Library/CollectFine',
                    traditional: true,
                    data: ss,
                    success: function (data) {
                        $("#Loading_Sec").removeClass("loading-new");
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").show();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $("#jErr").append(li);
                                }
                            });
                        }
                        else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                        }
                        else if (data.Message != "" && data.Message != null) {
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            var encrpt = data.Encryptid;
                            window.open('/LibraryManagement/Library/LibraryBillReceipt/' + encrpt, "wndPopUp", 'width=900,height=850,resizable=no');
                            $('html,body').animate({
                                // scroll to end of page
                                scrollTop: 0
                            }, 700);
                            $('#totalamount').hide();
                            return false;
                        }
                    },
                });
            }
            if (a.length != 0) {
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#divStudent").hide();
                $("#jsonError").show();
                var li = [];
                $("#jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
            }
        });
        $('#lang').change(function (event) {
            event.preventDefault();
            var CultureId = $('#lang').val();
            $.getJSON('/Home/ChangeCulture', { PassCulture: CultureId },
                function (data) {
                    $("#lang").val(data.selVal);
                    location.reload();
                });
        });
        $(window).load(function () {
            $.getJSON('/Home/getCulture',
               function (data) {
                   if (data.cul == "empty") {
                   }
                   else {
                       $("#lang").val(data.cul);
                   }
               });
        });
    });
</script>
}