﻿@using eAcademy.Areas.LibraryManagement.

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}


@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">


        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">xfddsf</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form>
                            <div class="col-sm-12">
                                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                                @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select id="lang" name="lang">
                                        <option value="en-IN">English</option>
                                        <option value="fr-FR">French</option>
                                        <option value="de-DE">Arabic</option>
                                    </select>
                                </div>
                            </div>
                            <div id="AddBookEntry">
                                <div class=" col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">BookTitle</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button" type="text" id="txt_BookTitle" name="txt_BookTitle" placeholder="Enter book title" title="Book Title" required="required" maxlength="50" />
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Author Name</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3" id="TextBoxContainer">
                                        <input class="col-lg-12 current_button" type="text" id="txt_AuthorName1" name="txt_AuthorName1" placeholder="Enter Author Name" title="Author Name" required="required" maxlength="50" />

                                        <input class="col-lg-12" type="hidden" id="txt_Count" name="txt_Count" value="1" />
                                    </div>
                                    <div class="col-sm-2">

                                        <a id="btnAddAuthor" name="btnAddAuthor" class="cursor"><i class="fa fa-plus "> Add </i> </a> / <a id="btnDelAuthor" name="btnDelAuthor" class="cursor"><i class="fa fa-trash"> Delete</i></a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">PublicationName</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button" type="text" id="txt_PublicationName" name="txt_PublicationName" placeholder="Enter Publication Name" title="Publication name" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Lanquage</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_Booklanaguage" name="txt_Booklanaguage" placeholder="Enter Book Lanaguage" title="Book Lanaguage" required="required" maxlength="10" />
                                    </div>


                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Edition</label></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_Edition" name="txt_Edition" placeholder="Enter Edition" title="Book Edition" maxlength="10" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Type</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">

                                        <select id="txt_BookType" name="txt_BookType" class="col-lg-12 current_button">
                                            <option value="">--Select--</option>
                                            <option value="TextBook">TextBook</option>
                                            <option value="Refference">Refference</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Price</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_BookPrice" name="txt_BookPrice" placeholder="Enter Book Price" title="Book Price" required="required" maxlength="5" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">No Of Copies</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_NoOfCopy" name="txt_NoOfCopy" placeholder="Enter No Of Copy" title="No Of Copy" required="required" maxlength="3" />
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Section</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_BookSection" name="txt_BookSection" placeholder="Enter Book Section" title="Book Section" required="required" maxlength="20" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Rack No</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button" id="txt_RackNo" name="txt_RackNo" placeholder="Enter Rack No" title="Rack No" required="required" maxlength="10" />
                                    </div>
                                </div>
                                @*<div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div><label class="input-label-sm">BarcodeNumber/Book Number</label></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div><label class="input-label-sm">Start Number</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="col-lg-12 current_button" id="txt_StartNo" name="txt_StartNo" placeholder="Enter Start No" title="Start No" required="required" />
                                        </div>
                                        <div class="col-sm-3">
                                            <div><label class="input-label-sm">End Number</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="col-lg-12 current_button" id="txt_EndNo" name="txt_EndNo" placeholder="Enter End No" title="End No" required="required" />
                                        </div>
                                    </div>*@
                                <div class="box-footer clearfix no-border">
                                </div>

                                <div class="col-lg-12">
                                    <button type="button" id="btnAddBook" class="btn btn-sm btn_save btn_double">Save</button>
                                    <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>Reset</button>
                                </div>

                            </div>

                            <div id="EditBookEntry" style="display:none;">
                                <div class=" col-sm-12">
                                    <div class="col-sm-3">
                                        <input class="col-lg-12" type="hidden" id="BookEntryRegisterId" name="BookEntryRegisterId" value="" />
                                        <div><label class="input-label-sm">BookTitle</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button2" type="text" id="txtEdit_BookTitle" name="txt_BookTitle" placeholder="Enter book title" title="Book Title" required="required" maxlength="50" />
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Author Name</label>  <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3" id="TextBoxContainer1">


                                        <input class="col-lg-12" type="hidden" id="txtEdit_Count" name="txtEdit_Count" value="" />
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">PublicationName</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="col-lg-12 current_button2" type="text" id="txtEdit_PublicationName" name="txt_PublicationName" placeholder="Enter Publication Name" title="Publication name" required="required" maxlength="50" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Lanquage</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_Booklanaguage" name="txtEdit_Booklanaguage" placeholder="Enter Book Lanaguage" title="Book Lanaguage" required="required" maxlength="10" />
                                    </div>


                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Edition</label></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_Edition" name="txtEdit_Edition" placeholder="Enter Edition" title="Book Edition" maxlength="10" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Type</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">

                                        <select id="txtEdit_BookType" name="txtEdit_BookType" class="col-lg-12 current_button2">
                                            <option value="">--Select--</option>
                                            <option value="TextBook">TextBook</option>
                                            <option value="Refference">Refference</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Price</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_BookPrice" name="txtEdit_BookPrice" placeholder="Enter Book Price" title="Book Price" required="required" maxlength="5" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">No Of Copies</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 " id="txtEdit_NoOfCopy" name="txtEdit_NoOfCopy" placeholder="Enter No Of Copy" title="No Of Copy" maxlength="3" readonly />
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Book Section</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_BookSection" name="txtEdit_BookSection" placeholder="Enter Book Section" title="Book Section" required="required" maxlength="20" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div><label class="input-label-sm">Rack No</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-lg-12 current_button2" id="txtEdit_RackNo" name="txtEdit_RackNo" placeholder="Enter Rack No" title="Rack No" required="required" maxlength="10" />
                                    </div>
                                </div>
                                @*<div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div><label class="input-label-sm">BarcodeNumber/Book Number</label></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div><label class="input-label-sm">Start Number</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="col-lg-12 current_button" id="txt_StartNo" name="txt_StartNo" placeholder="Enter Start No" title="Start No" required="required" />
                                        </div>
                                        <div class="col-sm-3">
                                            <div><label class="input-label-sm">End Number</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="col-lg-12 current_button" id="txt_EndNo" name="txt_EndNo" placeholder="Enter End No" title="End No" required="required" />
                                        </div>
                                    </div>*@
                                <div class="box-footer clearfix no-border">
                                </div>

                                <div class="col-lg-12">
                                    <button type="button" id="btnUpdateBook" class="btn btn-sm btn_save btn_double">Update</button>
                                    <button type="reset" class=" btn  btn-sm btn_reset " title="Clear"> <i class="fa fa-refresh"></i>Reset</button>
                                </div>

                            </div>
                            <div class="col-lg-12 btn_down">


                                <table class="col-lg-12" id="BookDetailsgrid"></table>
                                <div id="pager1"></div>


                            </div>
                        </form>
                    </div>



                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>
@section scriptsContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#txt_Booklanaguage").filter_input({ regex: '[A-Za-z ]' });
            $("#txt_Edition").filter_input({ regex: '[0-9A-Za-z \\.]' });
            $("#txt_BookType").filter_input({ regex: '[A-Za-z ]' });
            $("#txt_BookPrice").filter_input({ regex: '[0-9]' });
            $("#txt_NoOfCopy").filter_input({ regex: '[0-9]' });
            $("#txt_BookSection").filter_input({ regex: '[A-Za-z ]' });
            $("#txt_Edition").filter_input({ regex: '[0-9A-Za-z \\.]' });
            $("#txt_RackNo").filter_input({ regex: '[0-9A-Za-z \\.]' });

            jQuery("#BookDetailsgrid").jqGrid({

                url: "/Library/BookDetailsResults",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['', 'BookEntryRegisterId', 'Book title', 'Publication Name', 'Book Language', 'Edition', 'Book Type', 'Book Price', 'No.of.Copy', 'Book Section', 'Rack No', 'Date Of Entry', 'Action'],
                colModel: [
                    { key: true, hidden: true, name: 'BookEntryRegisterId', index: 'BookEntryRegisterId' },
                    { key: false, name: 'BookEntryRegisterId', index: 'BookEntryRegisterId' },
                    { key: false, name: 'BookTitle', index: 'BookTitle' },
                    { key: false, name: 'PublicationName', index: 'PublicationName' },
                    { key: false, name: 'Booklanaguage', index: 'Booklanaguage' },
                    { key: false, name: 'Edition', index: 'Edition' },
                    { key: false, name: 'BookType', index: 'BookType' },
                    { key: false, name: 'BookPrice', index: 'BookPrice' },
                    { key: false, name: 'NoOfCopy', index: 'NoOfCopy' },
                    { key: false, name: 'BookSection', index: 'BookSection' },
                    { key: false, name: 'RackNo', index: 'RackNo' },
                    { key: false, name: 'DateofEntry', index: 'DateofEntry' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#pager1"),
                rowNum: 10,
                rowList: [3, 5, 10, 20],
                height: '100%',
                viewrecords: true,
                emptyrecords: "No records to display",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,



                gridComplete: function () {
                    var ids = jQuery("#BookDetailsgrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        FeeCatIdId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_BookEntry btn_Edit ui-icon-pencil' id='" + FeeCatIdId + "' value=''  title='Edit'/>";
                        //de = "<input style='height:23px;width:22px;' type='button' class='btn_del_StudentAchievement btn_Delete ui-icon-trash' id='" + cl + "' value='' title='Delete'/>";
                        jQuery("#BookDetailsgrid").jqGrid('setRowData', ids[i], { act: be });
                    }
                },

            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
          ).jqGrid('navButtonAdd', '#pager1',
          {
              caption: " Export to Excel ",
              buttonicon: "ui-icon-bookmark",
              onClickButton: function () {
                  window.location.href = "../Library/BookDetailsExportToExcel";
                  //ExportDataToExcel("#grid");
              }
          }).jqGrid('navButtonAdd', '#pager1',
          {
              caption: " Export to Pdf ",
              buttonicon: "ui-icon-print",
              position: "last",
              onClickButton: function () {

                  window.location.href = "../Library/BookDetailsExportToPDF";
                  //exportPDF();
              }
          });

            $("#BookDetailsgrid").setCaption(' <span class="fa fa-table"></span>' + 'Book Details');

            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')



            $('#btnTerm_Filter').click(function (event) {
                event.preventDefault();
                filterGrid();
            });

            function filterGrid() {

                var postDataValues = $("#BookDetailsgrid").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#BookDetailsgrid').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');

                $("#BookDetailsgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };
            $("#btnAddAuthor").click(function () {
                var count = $('#txt_Count').val();
                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#div_Error").hide();
                $('#errormsg').hide();
                $('#successmsg').hide();
                $("#jsonError").hide();
                if (count != 0 && count < 4) {
                    var author = $('#txt_AuthorName' + count).val();

                    if (author != '' && author != null) {

                        var cc = count++;
                        $('#txt_Count').val(count).html(count);
                        $("#TextBoxContainer").append('<input class="col-lg-12 current_button1" id= "txt_AuthorName' + count + '" name = "txt_AuthorName' + count + '" type="text" placeholder="Enter Author Name" title="Author Name" required="required"  maxlength="50" />');
                    }
                    else {

                        $("#jsonErrorMsg").show();
                        $("#jErrMsg").html("Enter author name");


                        return false;

                    }
                }


            });
            $("#btnDelAuthor").click(function () {
                var count = $('#txt_Count').val();

                if (count > 1) {
                    $('#txt_AuthorName' + count).remove();
                    var cc = count--;

                    $('#txt_Count').val(count).html(count);

                }


            });

            $('#btnAddBook').click(function () {

                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#div_Error").hide();
                $('#errormsg').hide();
                $('#successmsg').hide();
                $("#jsonError").hide();
                var a = [];
                var flag = 0;
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');

                    if (valu == '') {


                        var null_id = $(this).attr('id');

                        if (null_id == 'txt_BookTitle') {
                            flag = 1;
                            a.push('Enter book title');
                        }
                        if (null_id == 'txt_AuthorName1') {
                            flag = 1;
                            a.push('Enter author name');
                        }
                        if (null_id == 'txt_PublicationName') {
                            flag = 1;
                            a.push('Enter publication name');
                        }
                        if (null_id == 'txt_Booklanaguage') {
                            flag = 1;
                            a.push('Enter book lanaguage');
                        }

                        if (null_id == 'txt_BookType') {
                            flag = 1;
                            a.push('Enter book type');
                        }
                        if (null_id == 'txt_BookPrice') {
                            flag = 1;
                            a.push('Enter book price');
                        }
                        if (null_id == 'txt_NoOfCopy') {
                            flag = 1;
                            a.push('Enter no of copy');
                        }
                        if (null_id == 'txt_BookSection') {
                            flag = 1;
                            a.push('Enter book section');
                        }
                        if (null_id == 'txt_RackNo') {
                            flag = 1;
                            a.push('Enter rack no');
                        }

                    }


                });

                if (flag == 0) {

                    var count = $('#txt_Count').val();
                    var Author = [];
                    for (i = 0; i < count; i++) {
                        Author[i] = $('#txt_AuthorName' + (i + 1)).val();

                    }


                    var BookTitle = $('#txt_BookTitle').val();
                    var PublicationName = $('#txt_PublicationName').val();
                    var Booklanaguage = $('#txt_Booklanaguage').val();

                    var Edition = $('#txt_Edition').val();
                    var BookType = $('#txt_BookType').val();
                    var BookPrice = $('#txt_BookPrice').val();
                    var NoOfCopy = $('#txt_NoOfCopy').val();
                    var BookSection = $('#txt_BookSection').val();
                    var RackNo = $('#txt_RackNo').val();

                    var ss = { BookTitle: BookTitle, AuthorName: Author, PublicationName: PublicationName, Booklanaguage: Booklanaguage, Edition: Edition, BookType: BookType, BookPrice: BookPrice, NoOfCopy: NoOfCopy, BookSection: BookSection, RackNo: RackNo, NoOfAuthor: count };

                    $.ajax({
                        type: "POST",
                        url: '/Library/BookEntry',
                        traditional: true,
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $('#FeesTable').hide();
                                $('#Err').show();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#divStudent").hide();
                                $("#jsonError").show();
                                $("#jsonInfoMsg").hide();
                                $("#jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });

                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {


                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            else if (data.Message != "" && data.Message != null) {

                                $("#BookDetailsgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }



                        },


                    });

                }

                if (a.length != 0) {

                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#div_Error").hide();
                    $('#errormsg').hide();
                    $('#successmsg').hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {

                        if (a[i] != "" && a[i] != null) {

                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    $('html,body').animate({
                        // scroll to end of page
                        scrollTop: 0
                    }, 700);
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }


            });

            $(document).on('click', '.btn_edit_BookEntry', function () {
                var id = $(this).attr('id');
                values = { Bookregisterid: id };
                $.ajax({
                    url: '/Library/EditBookEntry',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.ErrorMessage != '' && data.ErrorMessage != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);

                        }
                        if (data.ans != null) {
                            $("#AddBookEntry").hide();
                            $("#EditBookEntry").show();
                            // Error Messages
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").hide();
                            $("#div_Error").hide();
                            $('#errormsg').hide();
                            $('#successmsg').hide();
                            $("#jsonError").hide();
                            // Values

                            $('#BookEntryRegisterId').val(id);
                            $('#txtEdit_BookTitle').val(data.ans.BookTitle);
                            $('#txtEdit_PublicationName').val(data.ans.PublicationName);
                            $('#txtEdit_Booklanaguage').val(data.ans.Booklanaguage);

                            $('#txtEdit_Edition').val(data.ans.Edition);
                            $('#txtEdit_BookType').val(data.ans.BookType);
                            $('#txtEdit_BookPrice').val(data.ans.BookPrice);
                            $('#txtEdit_NoOfCopy').val(data.ans.NoOfCopy);
                            $('#txtEdit_BookSection').val(data.ans.BookSection);
                            $('#txtEdit_RackNo').val(data.ans.RackNo);
                            if (data.author != null) {
                                $.each(data.author, function (i, v) {



                                    $("#TextBoxContainer1").append('<input class="col-lg-12 current_button1" id= "txtEdit_AuthorName' + i + '" name = "txtEdit_AuthorName' + i + '" type="text" placeholder="Enter Author Name" title="Author Name" required="required"  maxlength="50" value="' + v.AuthorName + '" /> <input class="col-lg-12" type="hidden" id="AuthorId' + i + '" name="AuthorId' + i + '" value="' + v.Authorid + '" />');
                                });

                                $('#txtEdit_Count').val(data.author.length).html(data.author.length);
                            }


                        }
                    }
                });

            });

            $('#btnUpdateBook').click(function () {

                $("#jsonExceptionMsg").hide();
                $("#jsonSuccessMsg").hide();
                $("#jsonErrorMsg").hide();
                $("#div_Error").hide();
                $('#errormsg').hide();
                $('#successmsg').hide();
                $("#jsonError").hide();
                var a = [];
                var flag = 0;
                $(".current_button2").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');

                    if (valu == '') {


                        var null_id = $(this).attr('id');

                        if (null_id == 'txtEdit_BookTitle') {
                            flag = 1;
                            a.push('Enter book title');
                        }
                        if (null_id == 'txtEdit_AuthorName0') {
                            flag = 1;
                            a.push('Enter author name');
                        }
                        if (null_id == 'txtEdit_PublicationName') {
                            flag = 1;
                            a.push('Enter publication name');
                        }
                        if (null_id == 'txtEdit_Booklanaguage') {
                            flag = 1;
                            a.push('Enter book lanaguage');
                        }

                        if (null_id == 'txtEdit_BookType') {
                            flag = 1;
                            a.push('Enter book type');
                        }
                        if (null_id == 'txtEdit_BookPrice') {
                            flag = 1;
                            a.push('Enter book price');
                        }

                        if (null_id == 'txtEdit_BookSection') {
                            flag = 1;
                            a.push('Enter book section');
                        }
                        if (null_id == 'txtEdit_RackNo') {
                            flag = 1;
                            a.push('Enter rack no');
                        }

                    }


                });

                if (flag == 0) {

                    var count = $('#txtEdit_Count').val();
                    var Author = [];
                    var Authorid = [];
                    for (i = 0; i < count; i++) {
                        Author[i] = $('#txtEdit_AuthorName' + i).val();

                    }
                    for (i = 0; i < count; i++) {
                        Authorid[i] = $('#AuthorId' + i).val();

                    }

                    var id = $('#BookEntryRegisterId').val();
                    var BookTitle = $('#txtEdit_BookTitle').val();
                    var PublicationName = $('#txtEdit_PublicationName').val();
                    var Booklanaguage = $('#txtEdit_Booklanaguage').val();

                    var Edition = $('#txtEdit_Edition').val();
                    var BookType = $('#txtEdit_BookType').val();
                    var BookPrice = $('#txtEdit_BookPrice').val();
                    var NoOfCopy = $('#txtEdit_NoOfCopy').val();
                    var BookSection = $('#txtEdit_BookSection').val();
                    var RackNo = $('#txtEdit_RackNo').val();

                    var ss = { BookEntryRegisterId: id, BookTitle: BookTitle, AuthorName: Author, AuthorId: Authorid, PublicationName: PublicationName, Booklanaguage: Booklanaguage, Edition: Edition, BookType: BookType, BookPrice: BookPrice, NoOfCopy: NoOfCopy, BookSection: BookSection, RackNo: RackNo, NoOfAuthor: count };

                    $.ajax({
                        type: "POST",
                        url: '/Library/Update',
                        traditional: true,
                        data: ss,
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $('#FeesTable').hide();
                                $('#Err').show();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#divStudent").hide();
                                $("#jsonError").show();
                                $("#jsonInfoMsg").hide();
                                $("#jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $("#jErr").append(li);
                                    }
                                });

                            }
                            else if (data.ErrorMessage != "" && data.ErrorMessage != null) {


                                $("#jsonError").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            }
                            else if (data.Message != "" && data.Message != null) {

                                $("#BookDetailsgrid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#jsonError").hide();
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $('#errormsg').hide();
                                $('#successmsg').hide();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $('html,body').animate({
                                    // scroll to end of page
                                    scrollTop: 0
                                }, 700);
                                return false;
                            }



                        },


                    });

                }

                if (a.length != 0) {

                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#div_Error").hide();
                    $('#errormsg').hide();
                    $('#successmsg').hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {

                        if (a[i] != "" && a[i] != null) {

                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    $('html,body').animate({
                        // scroll to end of page
                        scrollTop: 0
                    }, 700);
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }




            });
        });

    </script>
}