﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.ConfigFee>
@{
    ViewBag.Title = "FeeConfig";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditFeeCategory" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditFee")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <input type="hidden" id="feeid" name="feeid" />
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                            <div><input class="col-lg-12" id="acYear_Fees1" name="acYear_Fees1" type="text" title="@ResourceCache.Localize("AcademicYear")" readonly /></div>
                            <input type="hidden" id="acid" name="acid" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                            <div><input class="col-lg-12" id="class_Fees1" name="class_Fees1" type="text" title="@ResourceCache.Localize("Class")" readonly /></div>
                            <input type="hidden" id="cid" name="cid" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> </div>
                            <div><input class="col-lg-12" id="feeCategory1" name="feeCategory1" type="text" title="@ResourceCache.Localize("FeeCategory")" readonly /></div>
                            <input type="hidden" id="fid" name="fid" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Fees")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12" type="text" id="txt_fees1" name="txt_fees1" placeholder="@ResourceCache.Localize("FeesAmount")" required title="@ResourceCache.Localize("FeesAmount")" maxlength="10" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ServiceTax")</label><input id="txt_checkcTax1" name="txt_checkcTax1" type="checkbox" checked /></div>
                            <div><input class="col-lg-12 current_button" type="text" id="ServicesTax1" name="ServicesTax1" placeholder="@ResourceCache.Localize("ServiceTax")" required title="@ResourceCache.Localize("ServiceTax")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div><input class="col-lg-12 current_button" type="text" id="tTotal1" name="tTotal1" placeholder="@ResourceCache.Localize("Total")" required title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("LastDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-lg-12 txt_ldate1" type="text" id="txt_ldate1" name="txt_ldate1" placeholder="@ResourceCache.Localize("LastDate")" required title="@ResourceCache.Localize("LastDate")" readonly /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_update" id="updateFeeConfig" name="updateFeeConfig" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update")</button>
                                <button type="button" class="btn btn-sm  btn_cancel" id="btncancel_updateFeeConfig" name="btncancel_updateFeeConfig" title="Cancel"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_RefundFeeCategory" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("RefundFee")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        <input type="hidden" id="feeid2" name="feeid2" />
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                            <div><input class="col-lg-12" id="acYear_Fees2" name="acYear_Fees2" type="text" title="@ResourceCache.Localize("AcademicYear")" readonly /></div>
                            <input type="hidden" id="acid2" name="acid2" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                            <div><input class="col-lg-12" id="class_Fees2" name="class_Fees2" type="text" title="@ResourceCache.Localize("Class")" readonly /></div>
                            <input type="hidden" id="cid2" name="cid2" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> </div>
                            <div><input class="col-lg-12" id="feeCategory2" name="feeCategory2" type="text" title="@ResourceCache.Localize("FeeCategory")" readonly /></div>
                            <input type="hidden" id="fid2" name="fid2" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Fees")</label> </div>
                            <div><input class="col-lg-12" type="text" id="txt_fees2" name="txt_fees2" placeholder="@ResourceCache.Localize("FeesAmount")" required title="@ResourceCache.Localize("FeesAmount")" maxlength="10" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ServicesTax")</label> <input id="txt_checkcTax2" name="txt_checkcTax2" type="checkbox" checked /></div>
                            <div><input class="col-lg-12 current_button" type="text" id="ServicesTax2" name="ServicesTax2" placeholder="@ResourceCache.Localize("ServicesTax")" required title="@ResourceCache.Localize("ServicesTax")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div><input class="col-lg-12 current_button" type="text" id="tTotal2" name="tTotal2" placeholder="@ResourceCache.Localize("Total")" required title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("RefundAmount")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" type="text" id="RefundAmt" name="RefundAmt" placeholder="@ResourceCache.Localize("RefundAmount")" required title="@ResourceCache.Localize("RefundAmount")" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("NetTotalAmount")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" type="text" id="tNetamt" name="tNetamt" placeholder="@ResourceCache.Localize("NetTotalAmount")" required title="@ResourceCache.Localize("NetTotalAmount")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Description")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><textarea class="col-lg-12 current_button" id="Description" name="Description" placeholder="@ResourceCache.Localize("Description")" required title="@ResourceCache.Localize("Description")" maxlength="250"></textarea></div>
                            <span id="chars"></span> @ResourceCache.Localize("CharactersRemaining")
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_update" id="updateRefundFeeConfig" name="updateRefundFeeConfig" title="Update"> <i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn btn-sm  btn_cancel" id="btncancel_updateRefundFeeConfig" name="btncancel_updateRefundFeeConfig" title="Cancel"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddFeeCategory">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Addfees")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("FeeConfig", "FeeConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/JsonError.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("acYear_Fees", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), "Select Academic Year", new { @class = "current_button", @title = "AcademicYear" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AllClass")</label>  <input class="current_button" id="txt_checkclass" name="txt_checkclass" type="checkbox" /></div>
                            <div>
                                @Html.ListBox(
                                             "class_Fees",
                                                    new MultiSelectList(ViewBag.ClassList, "ClassId", "ClassType"),
                                      new { @class = "chzn-select current_button", data_placeholder = "Choose Class" }
                                            )
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>
                                @Html.DropDownList("feeCategory", new SelectList(ViewBag.feeCategory, "FeeCatId", "FeeType"), "Select Fee Category", new { @class = "current_button", @title = "Fee Category" })
                            </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Fees")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_fees" name="txt_fees" placeholder="@ResourceCache.Localize("FeesAmount")" required title="@ResourceCache.Localize("FeesAmount")" maxlength="10" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("ServiceTax")</label> <input id="txt_checkcTax" name="txt_checkcTax" type="checkbox" checked /></div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_ServicesTax" name="txt_ServicesTax" placeholder="@ResourceCache.Localize("ServiceTax")" required title="@ResourceCache.Localize("ServiceTax")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                            <div><input class="col-lg-12 current_button" type="text" id="txt_Total" name="txt_Total" placeholder="@ResourceCache.Localize("Total")" required title="@ResourceCache.Localize("Total")" readonly /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("LastDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-lg-12 current_button" type="text" id="txt_Feesldate" name="txt_Feesldate" placeholder="@ResourceCache.Localize("LastDate")" required title="@ResourceCache.Localize("LastDate")" readonly /></div>
                        </div>
                        <div id="div_TermWise" style="display:none">
                            <div><input class="current_button" id="txt_checkterm" name="txt_checkterm" type="checkbox" /><label class="input-label-sm">@ResourceCache.Localize("TermWise")</label> </div>
                        </div>
                        <div>
                            <div><input id="hidden-count" name="hidden-count" type="hidden" value="0" /></div>
                        </div>
                        <div>
                            <table class="table-bordered table-striped" id="termtable">
                                <tbody id="termDetails"></tbody>
                            </table>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddFee" name="btnAddFee" title="Add Year"> <i class="fa fa-plus"></i> @ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" id="btnRestFee" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="footer col-sm-12">
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_InfoRefundFeeConfig" name="btncancel_InfoRefundFeeConfig" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->

            </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">Manage Fee</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">            
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                    
                    <div id="parent" class="row">
                        <div class="col-lg-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear") </label> <span class="glyphicon glyphicon-asterisk"></span>  </div>
                            <div>
                                @Html.DropDownList("ddAcademicYear", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("All"), new { @class = "filterItem", @title = "AcademicYear" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" id="btnTerm_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>

                </div><!-- /.box-body -->
                
                <div class="box-body" id="show">
                    <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                    <div id="pager1"></div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
        <div id="dialog-confirm" title="Delete from list?" style="display:none;height:100px !important ">
            <p><span class="ui-icon ui-icon-alert" style="float:left;  margin:0 7px 20px 0; "></span>@ResourceCache.Localize("These_Fees_will_be_permanently_deleted_and_cannot_be_recovered._Are_you_sure?")</p>
        </div>
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $("#txt_fees").filter_input({ regex: '[0-9.]' });
        $("#txt_fees1").filter_input({ regex: '[0-9.]' });
        $(document).ready(function () {
            $('#acYear_Fees').val(@Session["Add_ChosenAcademicYearId"]);
            $('#ddAcademicYear').val(@Session["List_ChosenAcademicYearId"]);
            $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
            CurrentDate();
            CurrentAcademicTermCheck();
            //List
            $('#ddAcademicYear').change(function (event) {
                event.preventDefault();
                var YearId = $('#ddAcademicYear').val();
                AssignAcademicYear(YearId);                
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },  // for change list academic year
                          function (orderdetails) {
                          });
            }

            function Add_AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                          function (orderdetails) {
                              CurrentAcademicTermCheck(YearId);
                          });
            }
            //Add
            $('#acYear_Fees').change(function (event) {
                event.preventDefault();
                var YearId = $('#acYear_Fees').val();
                AssignAcademicYear(YearId);
                $('#ddAcademicYear').val(YearId);
                Add_AssignAcademicYear(YearId);               
                CurrentDate();
               
            });
            function CurrentAcademicTermCheck() {                                   // function to check Term Exist are not.............
                var YearId = $('#acYear_Fees').val();
                $("#div_Error").hide();
                $.getJSON("/FeeConfiguration/CurrentAcademicTermCheck", { YearId: YearId },
                    function (orderdetails) {
                        if (orderdetails.Message == "HaveTerm") {                           
                            $('#div_TermWise').show();
                        } else {                          
                            $('#div_TermWise').hide();
                        }
                    });
            }
            function CurrentDate() {
                var acid = $("#acYear_Fees").val();
                $("#div_Error").hide();
                $.getJSON("/FeeConfiguration/CurrentAcademic", { acid: acid },
                    function (data) {                       
                        if (data.Message == null || data.Message == "") {
                            $('#btnAddFee').show();
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jErrMsg").html("").val("");
                            var HolidayDate1 = [];
                            var HolidayReason1 = [];
                            $.each(data.HolidaysList, function (i, c) {
                                HolidayDate1[i] = c.Date;
                                HolidayReason1[i] = c.Holiday;
                            });
                            //$.getJSON("/Dashboard/FutureActiveDate",
                            //     function (data) {
                            $("#txt_Feesldate").datepicker("destroy");
                            var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                            //$(function () {
                            var dates = $("#txt_Feesldate").datepicker({
                                dateFormat: 'dd/mm/yy',
                                minDate: '0',//data.StartingEnableDate,
                                maxDate: data.ed,
                                changeMonth: true,
                                changeYear: true,
                                beforeShowDay: function (date) {
                                    show = true;
                                    for (var i = 0; i < holidays.length; i++) {
                                        if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                    }
                                    if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                    var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                    return display;
                                },
                                onSelect: function (selectedDate) {
                                    var option = this.id == "txt_Feesldate" ? "minDate" : "maxDate",
                                    instance = $(this).data("datepicker"),
                                    date = $.datepicker.parseDate(
                                    instance.settings.dateFormat ||
                                    $.datepicker._defaults.dateFormat,
                                    selectedDate, instance.settings);
                                    dates.not(this).datepicker("option", option, date);
                                },
                            });
                            //});
                            //});
                        }
                        else {
                            $('#btnAddFee').hide();
                            $("#txt_Feesldate").datepicker("destroy");
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.Message).val(data.Message);
                        }
                    });
            }

            var maxLength = 250;
            $('textarea').keyup(function () {
                var length = $(this).val().length;
                var length = maxLength - length;
                $('#chars').text(length);
            });
            var FeeConfigId;
            jQuery("#grid1").jqGrid({
                url: "/FeeConfiguration/FeeConfigResults",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("FeeCategory")', '@ResourceCache.Localize("Amount")', '@ResourceCache.Localize("Tax")', '@ResourceCache.Localize("Total")', '@ResourceCache.Localize("LastDate")', '@ResourceCache.Localize("Term")', '@ResourceCache.Localize("Action")'],
                colModel: [
                    { key: true, hidden: true, name: 'FeeConfigId', index: 'FeeConfigId' },
                    { key: false, name: 'AcYear', index: 'AcYear' },
                    { key: false, name: 'Class', index: 'Class' },
                    { key: false, name: 'FeeCategory', index: 'FeeCategory' },
                    { key: false, name: 'Amount', index: 'Amount' },
                    { key: false, name: 'Tax', index: 'Tax' },
                    { key: false, name: 'Total', index: 'Total' },
                    { key: false, name: 'Date', index: 'Date' },
                    { key: false, name: 'Term', index: 'Term', formatter: 'showlink', formatoptions: { baseLinkUrl: '/FeeConfiguration/TermFee' } },
                    { name: 'act', index: 'act', width: 150, sortable: false, align: 'center' },
                ],
                pager: jQuery("#pager1"),
                rowList: [50, 100, 250, 500, 1000],
                rowNum: 50,
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
                gridComplete: function () {
                    var ids = jQuery("#grid1").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        FeeConfigId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_FeeCat btn_Edit ui-icon-pencil' id='" + FeeConfigId + "' value=''  title='Edit'/>";
                        de = "<input style='height:23px;width:22px;' type='button' class='btn_del_FeeCat btn_Delete ui-icon-trash' id='" + FeeConfigId + "' value='' title='Delete'/>";
                        re = "<input style='height:23px;width:22px;' type='button' class='btn_Refund_FeeCat btn_ReFund ui-icon-arrowreturn-1-w' id='" + FeeConfigId + "' value='' title='Refund'/>";
                        jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be + de + re });
                    }
                },
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Excel ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../FeeConfiguration/FeeConfigExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Pdf ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../FeeConfiguration/FeeConfigExportToPDF";
                    }
                });
            $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("FeeConfig")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $(document).on('click', '.btn_del_FeeCat', function () {
                var id = $(this).attr('id');
                $("#dialog-confirm").dialog({
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $(this).dialog("close");
                            $.getJSON('/FeeConfiguration/DeleteFee', { passId: id },
                               function (data) {
                                   if (data.InfoMessage != null) {
                                       $("#idSection_AddFeeCategory").hide();
                                       $("#idSection_EditFeeCategory").hide();
                                       $("#idSection_RefundFeeCategory").hide();
                                       $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                       $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                       $("#info_text").show();
                                   }
                                   else {
                                       $("#info_text").hide();
                                   }

                                   if (data.Message != "" && data.Message != null) {
                                       $(".jsonError").hide();
                                       $(".jsonErrorMsg").hide();
                                       $(".jsonExceptionMsg").hide();
                                       $(".jsonSuccessMsg").hide();
                                       $("#MandatoryFieldSuccessMessage_ListWthMsg").show();
                                       $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                                       $("#SuccessText").html(data.Message).val(data.Message);
                                       $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                   }
                                   else if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                       $(".jsonError").hide();
                                       $(".jsonExceptionMsg").hide();
                                       $(".jsonSuccessMsg").hide();
                                       $(".jsonErrorMsg").hide();
                                       $("#MandatoryFieldSuccessMessage_ListWthMsg").hide();
                                       $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                                       $("#ErrorText").html(data.ErrorMessage).val(data.ErrorMessage);
                                   }
                                   else {
                                   }
                               });
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
            $('#btnTerm_Filter').click(function (event) {
                event.preventDefault();
                filterGrid();
            });
            function filterGrid() {
                var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#grid1').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };
            $('#acYear_Fees').change(function () {
                var acid = $("#acYear_Fees").val();
                if (acid == "" || acid == null || acid == 0) {
                    $("#div_Error").show();
                    $("#schedule_Error").text("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                    return false;
                }
                else {
                    $("#div_Error").hide();
                    $.getJSON("/FeeConfiguration/CurrentAcademic", { acid: acid },
                        function (data) {
                            if (data.Message == null || data.Message == "") {
                                $('#btnAddFee').show();
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jErrMsg").html("").val("");
                                var HolidayDate1 = [];
                                var HolidayReason1 = [];
                                $.getJSON("/Dashboard/FutureActiveDate",
                                     function (data) {
                                         $.each(data.HolidaysList, function (i, c) {
                                             HolidayDate1[i] = c.Date;
                                             HolidayReason1[i] = c.Holiday;
                                         });
                                         var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                                         $(function () {
                                             var dates = $("#txt_Feesldate").datepicker({
                                                 dateFormat: 'dd/mm/yy',
                                                 minDate: '0',//data.StartingEnableDate,
                                                 maxDate: data.EndingEnableDate,
                                                 changeMonth: true,
                                                 changeYear: true,
                                                 beforeShowDay: function (date) {
                                                     show = true;
                                                     for (var i = 0; i < holidays.length; i++) {
                                                         if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                                     }
                                                     if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                                     var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                                     return display;
                                                 },
                                                 onSelect: function (selectedDate) {
                                                     var option = this.id == "txt_Feesldate" ? "minDate" : "maxDate",
                                                     instance = $(this).data("datepicker"),
                                                     date = $.datepicker.parseDate(
                                                     instance.settings.dateFormat ||
                                                     $.datepicker._defaults.dateFormat,
                                                     selectedDate, instance.settings);
                                                     dates.not(this).datepicker("option", option, date);
                                                 },
                                             });
                                         });
                                     });
                            }
                            else {
                                $('#btnAddFee').hide();
                                $("#txt_Feesldate").datepicker("destroy");
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.Message).val(data.Message);
                            }
                        });
                }
            });
            $(document).on('click', '.btn_edit_FeeCat', function () {
                var id = $(this).attr('id');
                values = { FeeId: id };
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/FeeConfiguration/EditFeeConfig',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.ans != "") {
                            $("#idSection_AddFeeCategory").hide();
                            $("#idSection_EditFeeCategory").show();
                            $("#idSection_RefundFeeCategory").hide();
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            if (data.InfoMessage != null) {
                                $("#idSection_AddFeeCategory").hide();
                                $("#idSection_EditFeeCategory").hide();
                                $("#idSection_RefundFeeCategory").hide();
                                $("#Loading_Sec").removeClass("loading-new");
                                $("#info_text").show();
                            }
                            else {
                                $("#info_text").hide();
                            $("#feeid").val(id).html(id);
                            $("#acYear_Fees1").val(data.ans.AcYear).html(data.ans.AcYear);
                            $("#acid").val(data.ans.AcYearId).html(data.ans.AcYearId);
                            $("#class_Fees1").val(data.ans.Class).html(data.ans.Class);
                            $("#cid").val(data.ans.ClassId).html(data.ans.ClassId);
                            $("#feeCategory1").val(data.ans.FeeCategory).html(data.ans.FeeCategory);
                            $("#fid").val(data.ans.FeeCategoryId).html(data.ans.FeeCategoryId);
                            $("#txt_fees1").val(data.ans.Amount).html(data.ans.Amount);
                            $("#txt_ldate1").val(data.ans.Date).html(data.ans.Date);
                            if (data.ans.Tax != 0) {
                                $("#txt_checkcTax1").prop("checked", true);
                            }
                            if (data.ans.Tax == 0) {
                                $("#txt_checkcTax1").prop("checked", false);
                            }
                            $("#ServicesTax1").val(data.ans.Tax).html(data.ans.Tax);
                            $("#tTotal1").val(data.ans.Total).html(data.ans.Total);
                            $("#Loading_Sec").removeClass("loading-new");
                            var acid = $("#acid").val();
                            if (acid == "" || acid == null || acid == 0) {
                                $("#div_Error").show();
                                $("#schedule_Error").text("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                                return false;
                            }
                            else {
                                $("#div_Error").hide();
                                $.getJSON("/FeeConfiguration/CurrentAcademic", { acid: data.ans.AcYearId },
                                    function (data) {
                                        if (data.Message == null || data.Message != "") {
                                            var HolidayDate1 = [];
                                            var HolidayReason1 = [];
                                            $.getJSON("/Dashboard/FutureActiveDate",
                                                 function (data) {
                                                     $.each(data.HolidaysList, function (i, c) {
                                                         HolidayDate1[i] = c.Date;
                                                         HolidayReason1[i] = c.Holiday;
                                                     });
                                                     var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                                                     $(function () {
                                                         var dates = $("#txt_ldate1").datepicker({
                                                             dateFormat: 'dd/mm/yy',
                                                             minDate: data.StartingEnableDate,
                                                             maxDate: data.EndingEnableDate,
                                                             changeMonth: true,
                                                             changeYear: true,
                                                             beforeShowDay: function (date) {
                                                                 show = true;
                                                                 for (var i = 0; i < holidays.length; i++) {
                                                                     if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                                                 }
                                                                 if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                                                 var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                                                 return display;
                                                             },
                                                             onSelect: function (selectedDate) {
                                                                 var option = this.id == "txt_ldate1" ? "minDate" : "maxDate",
                                                                 instance = $(this).data("datepicker"),
                                                                 date = $.datepicker.parseDate(
                                                                 instance.settings.dateFormat ||
                                                                 $.datepicker._defaults.dateFormat,
                                                                 selectedDate, instance.settings);
                                                                 dates.not(this).datepicker("option", option, date);
                                                             },
                                                         });
                                                     });
                                                 });
                                        }
                                        else {
                                            $("#txt_ldate1").datepicker("destroy");
                                        }
                                    });
                            }
                        }
                        }
                        else if (data.ErrorMessage != null || data.ErrorMessage != "") {
                            $("#idSection_AddFeeCategory").show();  
                            $("#idSection_EditFeeCategory").hide();
                            $("#idSection_RefundFeeCategory").hide();
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $("#MandatoryFieldErrorMessage_ListWthMsg").show();
                            $("#ErrorText").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });
            $("#btncancel_InfoRefundFeeConfig").click(function () {
                $("#idSection_AddFeeCategory").show();
                $("#info_text").hide();
                $("#idSection_RefundFeeCategory").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });
            $("#btncancel_updateFeeConfig").click(function () {
                $("#idSection_AddFeeCategory").show();
                $("#idSection_EditFeeCategory").hide();
                $("#idSection_RefundFeeCategory").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });
            $("#btnRestFee").click(function () {
                location.reload();
                $("#idSection_AddFeeCategory").show();
                $("#idSection_EditFeeCategory").hide();
                $("#idSection_RefundFeeCategory").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();                        
                $("#termtable").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });
            
            $(document).on('click', '.btn_Refund_FeeCat', function () {
                var id = $(this).attr('id');
                values = { FeeId: id };
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/FeeConfiguration/RefundFeeConfig',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.ans != "") {
                            $("#idSection_AddFeeCategory").hide();
                            $("#idSection_EditFeeCategory").hide();
                            $("#idSection_RefundFeeCategory").show();
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $("#feeid2").val(id).html(id);
                            $("#acYear_Fees2").val(data.ans.AcYear).html(data.ans.AcYear);
                            $("#acid2").val(data.ans.AcYearId).html(data.ans.AcYearId);
                            $("#class_Fees2").val(data.ans.Class).html(data.ans.Class);
                            $("#cid2").val(data.ans.ClassId).html(data.ans.ClassId);
                            $("#feeCategory2").val(data.ans.FeeCategory).html(data.ans.FeeCategory);
                            $("#fid2").val(data.ans.FeeCategoryId).html(data.ans.FeeCategoryId);
                            $("#txt_fees2").val(data.ans.Amount).html(data.ans.Amount);
                            if (data.ans.Tax != 0) {
                                $("#txt_checkcTax2").prop("checked", true);
                            }
                            if (data.ans.Tax == 0) {
                                $("#txt_checkcTax2").prop("checked", false);
                            }
                            $("#ServicesTax2").val(data.ans.Tax).html(data.ans.Tax);
                            $("#tTotal2").val(data.ans.Total).html(data.ans.Total);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else if (data.ErrorMessage != null || data.ErrorMessage != "") {
                            $("#idSection_AddFeeCategory").show();
                            $("#idSection_EditFeeCategory").hide();
                            $("#idSection_RefundFeeCategory").hide();
                            $(".jsonError").hide();
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").show();
                            $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });
            $("#btncancel_updateRefundFeeConfig").click(function () {
                $("#idSection_AddFeeCategory").show();
                $("#idSection_EditFeeCategory").hide();
                $("#idSection_RefundFeeCategory").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });
            $("#RefundAmt").change(function () {
                var x = $("#RefundAmt").val();
                var tot = $('#tTotal2').val();
                if (x <= tot) {
                    var z = tot - x;
                    $("#tNetamt").val(z).html(z);
                }
                else {
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html("@ResourceCache.Localize("Enter_refund_amount_is_less_than_total_amount")").val("@ResourceCache.Localize("Enter_refund_amount_is_less_than_total_amount")");
                    return false;
                }
            });
            $("#updateRefundFeeConfig").click(function () {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                var bool = jsFormValidation2();
                if (bool == true) {
                    var acid = $("#acid2").val();
                    var cid = $("#cid2").val();
                    var FeeCatid = $("#fid2").val();
                    var Fee = $("#txt_fees2").val();
                    var Tax = $("#ServicesTax2").val();
                    var Total = $("#tTotal2").val();
                    var feeid = $("#feeid2").val();
                    var refundamt = $('#RefundAmt').val();
                    var netamt = $('#tNetamt').val();
                    var des = $('#Description').val();
                    var values = { feeid: feeid, acYear_Fees: acid, class_Fees: cid, feeCategory: FeeCatid, txt_fees: Fee, ServicesTax: Tax, Total: Total, RefundAmount: refundamt, NetAmount: netamt, Description: des };
                    if (Total >= refundamt) {
                        $("#Loading_Sec").addClass("loading-new");
                        $.ajax({
                            url: '/FeeConfiguration/SaveRefundFeeConfig',
                            type: 'POST',
                            data: JSON.stringify(values),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                var totalError = data.ex;
                                var li = [];
                                if (data.Success == 0) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonError").show();
                                    $(".jErr").append().empty();
                                    $.each(totalError, function (i, v) {
                                        if (totalError[i] != "" && totalError[i] != null) {
                                            li = $("<li></li>").text(totalError[i]);
                                            $(".jErr").append(li);
                                        }
                                    });
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                else {
                                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                        $(".jsonError").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonErrorMsg").show();
                                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.Message != "" && data.Message != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").show();
                                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonExceptionMsg").show();
                                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                }
                            }
                        });
                    }
                    else {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("Refund_amount_not_greater_than_total_amount")").val("@ResourceCache.Localize("Refund_amount_not_greater_than_total_amount")");
                    }
                }
            });
            var ServicesTax;
            $.getJSON("/FeeConfiguration/getTax",
                  function (data) {
                      ServicesTax = data.ans;
                  });
            $("#txt_fees").keyup(function () {
                var x = $("#txt_fees").val();
                var y = x * (ServicesTax / 100);
                $("#txt_ServicesTax").val(y).html(y);
                var check = $("#txt_checkcTax").is(":checked");
                if (check == true) {
                    var z = parseFloat(x) + parseFloat(y);
                    $("#txt_Total").val(z).html(z);
                    $("#txt_ServicesTax").val(y).html(y);
                }
                else {
                    $("#txt_Total").val(x).html(x);
                    $("#txt_ServicesTax").val("");
                }
            });
            $("#txt_checkcTax").click(function () {
                var x = $("#txt_fees").val();
                var y = x * (ServicesTax / 100);
                var check = $("#txt_checkcTax").is(":checked");
                if (check == true) {
                    var z = parseFloat(x) + parseFloat(y);
                    $("#txt_Total").val(z).html(z);
                    $("#txt_ServicesTax").val(y).html(y);
                }
                else {
                    $("#txt_Total").val(x).html(x);
                    $("#txt_ServicesTax").val("");
                }
            });
            $("#txt_fees1").keyup(function () {
                var x = $("#txt_fees1").val();
                var y = x * (ServicesTax / 100);
                $("#ServicesTax1").val(y).html(y);
                var check = $("#txt_checkcTax1").is(":checked");
                if (check == true) {
                    var z = parseFloat(x) + parseFloat(y);
                    $("#tTotal1").val(z).html(z);
                    $("#ServicesTax1").val(y).html(y);
                }
                else {
                    $("#tTotal1").val(x).html(x);
                    $("#ServicesTax1").val("");
                }
            });
            $("#txt_checkcTax1").click(function () {
                var x = $("#txt_fees1").val();
                var y = x * (ServicesTax / 100);
                var check = $("#txt_checkcTax1").is(":checked");
                if (check == true) {
                    var z = parseFloat(x) + parseFloat(y);
                    $("#tTotal1").val(z).html(z);
                    $("#ServicesTax1").val(y).html(y);
                }
                else {
                    $("#tTotal1").val(x).html(x);
                    $("#ServicesTax1").val("0").html("0");
                }
            });
            $(document).on("keyup", ".cls_fees", function () {
                var acid = $("#acYear_Fees").val();
                //alert(acid);
                $.getJSON("/FeeConfiguration/getTerms", { acid: acid },
                    function (data) {
                        $.each(data, function (i, v) {
                            // i = i + 1;
                            $("#txt-fees" + i).keyup(function () {
                                var ans = $(this).val();
                                var y = ans * (ServicesTax / 100);
                                $("#txt_ServicesTax" + i).val(y).html(y);
                                var check = $("#txt_checkcTax" + i).is(":checked");
                                if (check == true) {
                                    var z = parseFloat(ans) + parseFloat(y);
                                    $("#txt_Total" + i).val(z).html(z);
                                }
                                else {
                                    $("#txt_Total" + i).val(ans).html(ans);
                                }
                            });
                        });
                    });
            });

            $(document).on("click", ".checkcTax", function () {

                var check = $(this).prop('checked');
                var null_id = $(this).attr('id');
                var ret = null_id.split("txt_checkcTax");
                var str1 = ret[0];
                var str2 = ret[1];
                //alert("check==" + check);
                //alert("null_id==" + null_id);
                //alert("str2==" + str2);

                var ans = $("#txt-fees" + str2).val();
                var y = ans * (ServicesTax / 100);
                $("#txt_ServicesTax" + str2).val(y).html(y);
                if (check == true) {
                    var z = parseFloat(ans) + parseFloat(y);
                    $("#txt_Total" + str2).val(z).html(z);
                }
                else {
                    $("#txt_Total" + str2).val(ans).html(ans);
                }

            });
            
            $("#btnAddFee").click(function () {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                var bool = jsFormValidation();
                if (bool == true) {
                    var acid = $("#acYear_Fees").val();
                    var cid = $("#class_Fees").val();
                    var FeeCatid = $("#feeCategory").val();
                    var Fee = $("#txt_fees").val();
                    var tax = $("#txt_ServicesTax").val();
                    if (tax==0)
                    {
                        var Tax = 0.00;
                    }
                    else {
                        var Tax = tax;
                    }
                    var Total = $("#txt_Total").val();
                    var LastDate = $("#txt_Feesldate").val();
                    var status = $("#txt_checkclass").is(':checked');
                    var status1 = $("#txt_checkterm").is(':checked');
                    var checkclass, checkterm;
                    var Termid = [];
                    var TermFee = [];
                    var Term_Tax = [];
                    var Term_Total = [];
                    var Term_Ldate = [];
                    var Count = $('#hidden-count').val();
                    if (status == true) {
                        checkclass = "on";
                    }
                    else {
                        checkclass = "off";
                    }
                    if (status1 == true) {
                        checkterm = "on";
                        for (var i = 0; i < Count; i++) {
                            Termid[i] = $("#th" + i).val();
                            TermFee[i] = $("#txt-fees" + i).val();
                            Term_Tax[i] = $("#txt_ServicesTax" + i).val();
                            Term_Total[i] = $("#txt_Total" + i).val();
                            Term_Ldate[i] = $("#ldate" + i).val();
                            if (TermFee[i] == "0" || TermFee[i] == null || TermFee[i] == "") {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html("@ResourceCache.Localize("Fill_Amount_for_all_Term")").val("@ResourceCache.Localize("Fill_Amount_for_all_Term")");
                                return false;
                            }
                            else if (Term_Ldate[i] == "0" || Term_Ldate[i] == null || Term_Ldate[i] == "") {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html("@ResourceCache.Localize("Select_date_for_All_Term")").val("@ResourceCache.Localize("Select_date_for_All_Term")");
                                return false;
                            }
                            else {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").hide();
                            }
                        }
                    }
                    var values = { acYear_Fees: acid, class_Fees: String(cid), feeCategory: FeeCatid, txt_fees: Fee, txt_ldate: LastDate, ServicesTax: Tax, Total: Total, txt_checkclass: checkclass, txt_checkterm: checkterm, Termid: Termid, Fees: TermFee, Tax: Term_Tax, Term_Total: Term_Total, LastDate: Term_Ldate, Count: Count };
                  //  alert(JSON.stringify(values));
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/FeeConfiguration/FeeConfig',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            else {
                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $(".jsonError").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").show();
                                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $(".jsonError").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").show();
                                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                                    $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $(".jsonError").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonExceptionMsg").show();
                                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                            }
                        }
                    });
                }
            });
            $("#updateFeeConfig").click(function () {
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                $("#MandatoryFieldErrorMessage_ListWthMsg").hide();
                var bool = jsFormValidation1();
                if (bool == true) {
                    var acid = $("#acid").val();
                    var cid = $("#cid").val();
                    var FeeCatid = $("#fid").val();
                    var Fee = $("#txt_fees1").val();
                    var Tax = $("#ServicesTax1").val();
                    var Total = $("#tTotal1").val();
                    var LastDate = $("#txt_ldate1").val();
                    var feeid = $("#feeid").val();
                    var values = { feeid: feeid, acYear_Fees: acid, class_Fees: String(cid), feeCategory: FeeCatid, txt_fees: Fee, LastDate: LastDate, ServicesTax: Tax, Total: Total };
                    $("#Loading_Sec").addClass("loading-new");
                    $.ajax({
                        url: '/FeeConfiguration/SaveEditFeeConfig',
                        type: 'POST',
                        data: JSON.stringify(values),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            var totalError = data.ex;
                            var li = [];
                            if (data.Success == 0) {
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonError").show();
                                $(".jErr").append().empty();
                                $.each(totalError, function (i, v) {
                                    if (totalError[i] != "" && totalError[i] != null) {
                                        li = $("<li></li>").text(totalError[i]);
                                        $(".jErr").append(li);
                                    }
                                });
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            else {
                                if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                    $(".jsonError").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").show();
                                    $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.Message != "" && data.Message != null) {
                                    $(".jsonError").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").show();
                                    $(".jSuccessMsg").html(data.Message).val(data.Message);
                                    $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                if (data.ExceptionError != "" && data.ExceptionError != null) {
                                    $(".jsonError").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonExceptionMsg").show();
                                    $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                            }
                        }
                    });
                }
            });
            $("#txt_Feesldate").click(function () {
                AcYearValidation();
            });
            $("#txt_checkterm").click(function () {
                AcYearValidation();
            });
            function AcYearValidation() {
                var acid = $("#acYear_Fees").val();
                if (acid == "" || acid == null || acid == 0) {
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").show();
                    $(".jErrMsg").html("@ResourceCache.Localize("PleaseSelectAcademicYear")").val("@ResourceCache.Localize("PleaseSelectAcademicYear")");
                    return false;
                }
                else {
                    $(".jsonError").hide();
                    $(".jsonErrorMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonExceptionMsg").hide();
                }
            }
        });
        function jsFormValidation() {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'acYear_Fees') {
                        a.push('@ResourceCache.Localize("SelectAcademicYear").');
                    }
                    if (null_id == 'class_Fees') {
                        var status = $("#txt_checkclass").is(':checked')
                        if (status == false) {
                            a.push('@ResourceCache.Localize("Select_either_All_Class_or_Single_Class").');
                        }
                    }
                    if (null_id == 'feeCategory') {
                        a.push('@ResourceCache.Localize("SelectFeeCategory").');
                    }
                    if (null_id == 'txt_fees') {
                        a.push('@ResourceCache.Localize("Feeisrequired").');
                    }
                    if (null_id == 'txt_Feesldate') {
                        a.push('@ResourceCache.Localize("Last_date_is_required").');
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
        function jsFormValidation1() {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_fees1') {
                        a.push('@ResourceCache.Localize("Feeisrequired").');
                    }
                    if (null_id == 'txt_ldate1') {
                        a.push('@ResourceCache.Localize("Last_date_is_required").');
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
        function jsFormValidation2() {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '' || valu == null) {
                    var null_id = $(this).attr('id');
                    if (null_id == 'RefundAmt') {
                        a.push('@ResourceCache.Localize("Refund_amount_is_required").');
                    }
                    if (null_id == 'tNetamt') {
                        a.push('@ResourceCache.Localize("Net_amount_is_required").');
                    }
                    if (null_id == 'Description') {
                        a.push('@ResourceCache.Localize("Descriptionisrequired").');
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }


        $('#txt_checkterm').click(function () {
            var isChecked = $('#txt_checkterm:checked').val();
            var acid = $("#acYear_Fees").val();
            var cid = $().val();
            var fid = $().val();
            if (isChecked == "on") {
                $.getJSON("/FeeConfiguration/getTermsCount", { acid: acid },
                     function (data) {

                         $('#hidden-count').val(data);
                     });

                $.getJSON("/FeeConfiguration/getTerms", { acid: acid },
                    function (data) {
                        $("#termtable").show();
                        $('#termDetails').append().empty();
                        $.each(data, function (i, v) {
                            //i = i + 1;
                            row = $('<tr><td><input type="hidden" name="th' + i + '" id="th' + i + '" value="' + v.TermID
                                + '"</td><td><label class="col-lg-12">' + v.TermName + '</label></td><td><input class="col-lg-12  cls_fees " type="text" id="txt-fees' + i
                                + '" name="txt_fees' + i + '" placeholder="Enter Fees Amount" required title="Fees Amount" /></td><td><input class="col-lg-12" type="text" id="txt_ServicesTax' + i
                                + '" name="txt_ServicesTax' + i + '" placeholder="Services Tax" required title="Services Tax" readonly /></td><td><input class="col-lg-12 checkcTax"  id="txt_checkcTax' + i + '"  name="txt_checkcTax' + i + '" type="checkbox" checked /></td><td><input class="col-lg-12" type="text" id="txt_Total' + i
                                + '"  name="txt_Total' + i + '" placeholder="Total Amount" required title="Total Amount" readonly /></td><td><input class="col-lg-12 ldate" type="text" id="ldate' + i
                                + '" name="ldate' + i + '" placeholder="Select Last Date to Pay" required title="Last Date" readonly /></td></tr>');
                            $('#termDetails').append(row);
                            var n = i;
                            $.getJSON("/FeeConfiguration/CurrentAcademicterm", { acid: acid, tid: v.TermID },
                                function (data) {
                                    if (data.Message == null || data.Message == "") {
                                        var HolidayDate1 = [];
                                        var HolidayReason1 = [];
                                        var sdate = data.StartingEnableDate;
                                        var edate = data.EndingEnableDate;
                                        $.getJSON("/Dashboard/FutureActiveDate",
                                             function (data) {
                                                 $.each(data.HolidaysList, function (i, c) {
                                                     HolidayDate1[i] = c.Date;
                                                     HolidayReason1[i] = c.Holiday;
                                                 });
                                                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                                                 $(function () {
                                                     var dates = $("#ldate" + n).datepicker({
                                                         dateFormat: 'dd/mm/yy',
                                                         minDate: sdate,
                                                         maxDate: edate,
                                                         changeMonth: true,
                                                         changeYear: true,
                                                         beforeShowDay: function (date) {
                                                             show = true;
                                                             for (var i = 0; i < holidays.length; i++) {
                                                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                                             }
                                                             if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                                             return display;
                                                         },
                                                         onSelect: function (selectedDate) {
                                                             var option = this.id == "ldate" + n ? "minDate" : "maxDate",
                                                             instance = $(this).data("datepicker"),
                                                             date = $.datepicker.parseDate(
                                                             instance.settings.dateFormat ||
                                                             $.datepicker._defaults.dateFormat,
                                                             selectedDate, instance.settings);
                                                             dates.not(this).datepicker("option", option, date);
                                                         },

                                                     });
                                                 });
                                             });
                                    }
                                    else {
                                        $("#ldate" + n).datepicker("destroy");
                                    }

                                });
                        });

                    });

                $.getJSON("/FeeConfiguration/getDate", { acid: acid },
                    function (data) {
                        $(".ldate").datepicker("destroy");
                        var mdate = data.sd + "------" + data.ed;
                        $(function () {
                            var dates = $(".ldate").datepicker({
                                dateFormat: 'dd/mm/yy',
                                minDate: data.sd,
                                maxDate: data.ed,
                                changeMonth: true,
                                changeYear: true
                            });
                        });
                    });

            }
            else {
                $('#termDetails').append().empty();
            }

        });
    </script>
}