﻿@using eAcademy.Models
@model IEnumerable<eAcademy.DataModel.FeeCategory>
@{
    ViewBag.Title = "FeeCategory";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditFeeCategory" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditFeeCategory")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditFeeCategory", "FeeConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="hideen_FeeCatId" name="hideen_FeeCatId" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-lg-12 current_button" type="text" id="txt_feetype1" name="txt_feetype1" placeholder="@ResourceCache.Localize("FeeCategory")" required title="@ResourceCache.Localize("FeeCategory")" maxlength="30" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Status")</label> </div>
                            <div>
                                <input type="checkbox" id="txt_status" name="txt_status" value="Active" /><label class="input-label-sm">@ResourceCache.Localize("Active")</label>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double  btn-sm btn_update" id="btnupdateFeeCategory" name="btnupdateFeeCategory" title="Update"> <i class="fa fa-repeat"></i> @ResourceCache.Localize("Update") </button>
                                <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateFeeCategory" name="btncancel_updateFeeCategory" title="Cancel"> <i class="fa fa-remove"></i> @ResourceCache.Localize("Cancel") </button>
                            </div>
                        </div><!-- /.row -->
                    </div>
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddFeeCategory">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("Addfeecategory")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("FeeCategory", "FeeConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div> <input class="col-lg-12 current_button" type="text" id="txt_feetype" name="txt_feetype" placeholder="@ResourceCache.Localize("FeeCategory")" required title="@ResourceCache.Localize("FeeCategory")" maxlength="30" /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row">
                            <div class="footer">
                                <button type="button" class="btn btn_double btn-sm btn_add" id="btnAddFeeCategory" name="btnAddFeeCategory" title="Add"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                                <button type="reset" class=" btn  btn-sm btn_reset" title="Clear"> <i class="fa fa-refresh"></i> @ResourceCache.Localize("Reset") </button>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageFeeCategory")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                <div class="box-body">
                    @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                    <div id="parent" class="row">
                        <div class="col-lg-6">
                            <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory") </label> <span class="glyphicon glyphicon-asterisk"></span>  </div>
                            <div>
                                @Html.DropDownList("ddFeeCategory", new SelectList(ViewBag.feeCategory, "FeeCatId", "FeeType"), @ResourceCache.Localize("All"), new { @class = "filterItem" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" id="btnTerm_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                        </div>
                    </div>
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
    $("#txt_feetype").filter_input({ regex: '[0-9A-Za-z- ]' });
    $("#txt_feetype1").filter_input({ regex: '[0-9A-Za-z- ]' });
    $(document).ready(function () {
        $("input").keypress(function (evt) {
            //Deterime where our character code is coming from within the event
            var charCode = evt.charCode || evt.keyCode;
            if (charCode == 13) { //Enter key's keycode
                return false;
            }
        });
        var FeeCatIdId;
        jQuery("#grid1").jqGrid({
            url: "/FeeConfiguration/FeeCategoryResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("FeeCategory")', '@ResourceCache.Localize("Status")', '@ResourceCache.Localize("Edit")'],
            colModel: [
                { key: true, hidden: true, name: 'FeeCatId', index: 'FeeCatId' },
                { key: false, name: 'FeeType', index: 'FeeType' },
                { key: false, name: 'Status', index: 'Status' },
                { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
            ],
            pager: jQuery("#pager1"),            
            rowList: [50, 100, 250, 500, 1000],
            rowNum: 50,
            height: '100%',
            viewrecords: true,
            emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            hoverrows: true,
            gridComplete: function () {
                var ids = jQuery("#grid1").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    FeeCatIdId = ids[i];
                    be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_FeeCat btn_Edit ui-icon-pencil' id='" + FeeCatIdId + "' value=''  title='Edit'/>";
                    jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                }
            },
        }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
            ).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Excel ",
                buttonicon: "ui-icon-bookmark",
                onClickButton: function () {
                    window.location.href = "../FeeConfiguration/FeeCategoryExportToExcel";
                }
            }).jqGrid('navButtonAdd', '#pager1',
            {
                caption: " Pdf ",
                buttonicon: "ui-icon-print",
                position: "last",
                onClickButton: function () {
                    window.location.href = "../FeeConfiguration/FeeCategoryExportToPDF";
                }
            });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("FeeCategory")');
        $(".ui-jqgrid .loading").empty();
        $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
        $('#btnTerm_Filter').click(function (event) {
            event.preventDefault();
            filterGrid();
        });
        function filterGrid() {
            var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
            $('.filterItem').each(function (index, item) {              
                postDataValues[$(item).attr('id')] = $(item).val();
            });
            //alert(JSON.stringify(postDataValues));
            $('#grid1').jqGrid().setGridParam({
                postData: postDataValues, page: 1
            }).trigger('reloadGrid');        
            $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        };
        $(document).on('click', '.btn_edit_FeeCat', function () {
            var id = $(this).attr('id');
            values = { FeeId: id };
            $("#Loading_Sec").addClass("loading-new");
            $.ajax({
                url: '/FeeConfiguration/EditFeeCategory',
                type: 'POST',
                data: JSON.stringify(values),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#idSection_AddFeeCategory").hide();
                    $("#idSection_EditFeeCategory").show();
                    $(".jsonError").hide();
                    $(".jsonExceptionMsg").hide();
                    $(".jsonSuccessMsg").hide();
                    $(".jsonErrorMsg").hide();
                    $("#txt_feetype1").val(data.ans.FeeType).html(data.ans.FeeType);
                    $("#hideen_FeeCatId").val(id).html(id);
                    if (data.ans.Status == true) {
                        $("#txt_status").prop("checked", true);
                    }
                    if (data.ans.Status == false) {
                        $("#txt_status").prop("checked", false);
                    }
                    $("#Loading_Sec").removeClass("loading-new");
                }
            });
        });
        $("#btncancel_updateFeeCategory").click(function () {
            $("#idSection_AddFeeCategory").show();
            $("#idSection_EditFeeCategory").hide();
            $(".jsonError").hide();
            $(".jsonExceptionMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonErrorMsg").hide();
        });
        $("#btnAddFeeCategory").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation();
            if (bool == true) {
                var FeeType = $("#txt_feetype").val();
                var values = { txt_feetype: FeeType };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/FeeConfiguration/FeeCategory',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $("#txt_feetype").val("");
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError); $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            }
        });
        $("#btnupdateFeeCategory").click(function () {
            $(".jsonError").hide();
            $(".jsonErrorMsg").hide();
            $(".jsonSuccessMsg").hide();
            $(".jsonExceptionMsg").hide();
            var bool = jsFormValidation1();
            if (bool == true) {
                var feeType = $("#txt_feetype1").val();
                var FeeCatid = $("#hideen_FeeCatId").val();
                var check = $("#txt_status").is(':checked');
                var status;
                if (check == true) {
                    status = "Active";
                }
                else {
                    status = "Inactive";
                }
                var values = { feeid: FeeCatid, txt_feetype: feeType, Status: status };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/FeeConfiguration/SaveEditFeeCategory',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $(".jsonError").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonErrorMsg").show();
                                $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonExceptionMsg").hide();
                                $(".jsonSuccessMsg").show();
                                $(".jSuccessMsg").html(data.Message).val(data.Message);
                                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $(".jsonError").hide();
                                $(".jsonErrorMsg").hide();
                                $(".jsonSuccessMsg").hide();
                                $(".jsonExceptionMsg").show();
                                $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
           }
        });
    });
    function jsFormValidation() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '' || valu == null) {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_feetype') {
                    a.push('@ResourceCache.Localize("Fee_Category_is_required").');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
    function jsFormValidation1() {
        var a = [];
        var field_val = [];
        $(".current_button").each(function () {
            var valu = $(this).val();
            var field_name = $(this).attr('name');
            if (valu == '' || valu == null) {
                var null_id = $(this).attr('id');
                if (null_id == 'txt_feetype1') {
                    
                    a.push('@ResourceCache.Localize("Fee_Category_is_required").');
                }
            }
        });
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
        else {
            $(".jsonError").hide();
            return true;
        }
    }
</script>
}