﻿@using eAcademy.Models
@{
    ViewBag.Title = "FeeRefundConfigReport";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        <section class="col-lg-12">
            <div id="div_student">
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray">
                        <i class="fa fa-clipboard "></i>
                        <h3 class="box-title">@ResourceCache.Localize("Fees_Refund_Config_Report")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body">
                        <form action="@Url.Action("", "")" method="post" id="myform">
                            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/JsonError.cshtml")
                            <div id="parent" class="row">
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                    <div>
                                        @Html.DropDownList("acYear_Fees", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button filterItem", @title = @ResourceCache.Localize("AcademicYear") })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label></div>
                                    <div>
                                        @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "ClassId", "ClassType"), @ResourceCache.Localize("SelectClass"), new { @class = "current_button filterItem", @title = @ResourceCache.Localize("Class") })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" id="btnRefund_Filter" name="btnRefund_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                                <div id="pager1"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix no-border">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section scriptsDataTableContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#acYear_Fees').val(@Session["Add_ChosenAcademicYearId"]);
         
            $('#acYear_Fees').change(function (event) {
                $('#ClassList').val("");                
                event.preventDefault();
                var YearId = $('#acYear_Fees').val();
                AssignAcademicYear(YearId);

            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

          
        jQuery("#grid1").jqGrid({
            url: "/FeeConfiguration/FeeRefundConfigResults",
            datatype: 'json',
            mtype: 'GET',
            colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("FeeCategory")', '@ResourceCache.Localize("Amount")', '@ResourceCache.Localize("Tax")', '@ResourceCache.Localize("TotalAmount")', '@ResourceCache.Localize("ReFund")', '@ResourceCache.Localize("PayableAmount")', '@ResourceCache.Localize("Date")', '@ResourceCache.Localize("EmployeeName")'],
                colModel: [
                    { key: true, hidden: true, name: 'FeeConfigId', index: 'FeeConfigId' },
                    { key: false, name: 'AcYear', index: 'AcYear' },
                    { key: false, name: 'Class', index: 'Class' },
                    { key: false, name: 'FeeCategory', index: 'FeeCategory' },
                    { key: false, name: 'Amount', index: 'Amount' },
                    { key: false, name: 'Tax', index: 'Tax' },
                    { key: false, name: 'TotalAmount', index: 'TotalAmount' },
                     { key: false, name: 'ReFund', index: 'ReFund' },
                    { key: false, name: 'NetAmount', index: 'NetAmount' },
                    { key: false, name: 'Date', index: 'Date' },
                     { key: false, name: 'EmployeeName', index: 'EmployeeName' },
                ],
                pager: jQuery("#pager1"),                
                rowList: [50, 100, 250,500,1000],
                rowNum: 50,
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
              ).jqGrid('navButtonAdd', '#pager1',
              {
                  caption: " Excel ",
                  buttonicon: "ui-icon-bookmark",
                  onClickButton: function () {
                      window.location.href = "../FeeConfiguration/FeeRefundConfigExportToExcel";
                  }
              }).jqGrid('navButtonAdd', '#pager1',
              {
                  caption: " Pdf ",
                  buttonicon: "ui-icon-print",
                  position: "last",
                  onClickButton: function () {
                      window.location.href = "../FeeConfiguration/FeeRefundConfigExportToPDF";
                  }
              });
        $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Refund_Fee_Config_List")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#btnRefund_Filter').click(function (event) {
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
                var flag = 0;
                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '' || valu == null) {
                        var null_id = $(this).attr('id');
                        if (null_id == 'acYear_Fees') {
                            flag = 1;
                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'ClassList') {
                            flag = 1;
                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
            }
        });
        if (flag == 0) {
            event.preventDefault();
            filterGrid();
        }
        if (a.length != 0) {
            $(".jsonError").show();
            $(".jErr").append().empty();
            $.each(a, function (i, v) {
                if (a[i] != "" && a[i] != null) {
                    li = $("<li></li>").text(a[i]);
                    $(".jErr").append(li);
                }
            });
            a = [];
            return false;
        }
    });
    function filterGrid() {
        var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
        $('.filterItem').each(function (index, item) {
            postDataValues[$(item).attr('id')] = $(item).val();
        });
        $('#grid1').jqGrid().setGridParam({
            postData: postDataValues, page: 1
        }).trigger('reloadGrid');
        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };
    });
    </script>
}