﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.TermFeeList>
@{
    ViewBag.Title = "TermFee";
    Layout = "~/Views/Shared/afterLogin.cshtml";
    int sno = 0;
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content" style="height:100%">
    <div class="row">
        @if (TempData["Editid"] != null)
        {
            <section class="col-sm-12 col-md-4 noprint pull-right">
                <!-- solid sales graph -->
                <div class="box box-solid bg-teal-gradient ">
                    <div class="box-header bg-gray ">
                        <i class="fa fa-pencil-square-o "></i>
                        <h3 class="box-title">@ResourceCache.Localize("EditFee")</h3>
                        <div class="box-tools pull-right">
                            <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div><!-- /.box-header -->
                    @using (Html.BeginForm("SaveEditTermFeeConfig", "FeeConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body row border-radius-none">
                            @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                            <input type="hidden" id="feeid1" name="feeid1" value="@TempData["Editid"]" />
                            @Html.Partial("~/Views/Shared/TempMessage.cshtml")
                            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            @Html.Partial("~/Views/Shared/JsonError.cshtml")
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                                <div><input class="col-lg-12" id="acYear_Fees1" name="acYear_Fees1" type="text" value="@TempData["AcYear"]" title="@ResourceCache.Localize("AcademicYear")" readonly /></div>
                                <input type="hidden" id="acYear_Fees" name="acYear_Fees" value="@TempData["AcYId"]" />
                                <input type="hidden" id="acYear_Term" name="acYear_Term" value="@TempData["TermId"]" />
                            </div>
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                                <div><input class="col-lg-12" id="class_Fees1" name="class_Fees1" type="text" value="@TempData["Class"]" title="@ResourceCache.Localize("Class")" readonly /></div>
                                <input type="hidden" id="class_Fees" name="class_Fees" value="@TempData["ClassId"]" />
                            </div>
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("FeeCategory")</label> </div>
                                <div><input class="col-lg-12" id="feeCategory1" name="feeCategory1" type="text" value="@TempData["FeeCategory"]" title="@ResourceCache.Localize("FeeCategory")" readonly /></div>
                                <input type="hidden" id="feeCategory" name="feeCategory" value="@TempData["FeeId"]" />
                            </div>
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("Fees")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div><input class="col-lg-12" type="text" id="txt_fees" name="txt_fees" value="@TempData["Fee"]" placeholder="@ResourceCache.Localize("Fees")" required title="@ResourceCache.Localize("Fees")" maxlength="10" /></div>
                            </div>
                            @if (Convert.ToInt32(TempData["ServicesTax"]) == 0)
                            {
                                <div>
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ServicesTax")</label> <input id="txt_checkcTax" name="txt_checkcTax" type="checkbox" /></div>
                                    <div><input class="col-lg-12 current_button" type="text" id="txt_ServicesTax" name="txt_ServicesTax" value="@TempData["ServicesTax"]" placeholder="@ResourceCache.Localize("ServicesTax")" required title="@ResourceCache.Localize("ServicesTax")" readonly /></div>
                                </div>
                            }
                            @if (Convert.ToInt32(TempData["ServicesTax"]) != 0)
                            {
                                <div>
                                    <div><label class="input-label-sm">@ResourceCache.Localize("ServicesTax")</label> <input id="txt_checkcTax" name="txt_checkcTax" type="checkbox" checked /></div>
                                    <div><input class="col-lg-12 current_button" type="text" id="txt_ServicesTax" name="txt_ServicesTax" value="@TempData["ServicesTax"]" placeholder="@ResourceCache.Localize("ServicesTax")" required title="@ResourceCache.Localize("ServicesTax")" readonly /></div>
                                </div>
                            }
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("Total")</label> </div>
                                <div><input class="col-lg-12 current_button" type="text" id="txt_Total" name="txt_Total" placeholder="@ResourceCache.Localize("Total Amount")" value="@TempData["Total"]" required title="@ResourceCache.Localize("Total Amount")" readonly /></div>
                            </div>
                            <div>
                                <div><label class="input-label-sm">@ResourceCache.Localize("LastDate")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                <div> <input class="col-lg-12" type="text" id="txt_ldate" name="txt_ldate" value="@TempData["ldate"]" placeholder="@ResourceCache.Localize("LastDate")" required title="@ResourceCache.Localize("LastDate")" readonly /></div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer no-border">
                            <div class="row btn-down">
                                <button type="submit" class="btn btn_double btn-sm btn_update" id="btnEditTermFee" name="btnEditTermFee" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                                <a href="@Url.Action("FeeConfig", "FeeConfiguration")" class=" btn btn-sm btn_cancel "> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel")</a>
                            </div><!-- /.row -->
                        </div>
                    }
                </div><!-- /.box -->
            </section><!-- right col -->
        }
        <section class="col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray ">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageTermFees")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <input type="hidden" id="record" name="record" value="@ViewBag.count" />
                    @if (ViewBag.count > 0)
                    {
                        @Html.Partial("~/Views/Shared/Print.cshtml")
                        <div class="box-body" id="show">
                            <div id="tbl_scrol">
                                <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("TermFeeDetails")</h2>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>@ResourceCache.Localize("SNo")</th>
                                            <th>@ResourceCache.Localize("AcademicYear")</th>
                                            <th>@ResourceCache.Localize("Term")</th>
                                            <th>@ResourceCache.Localize("Class")</th>
                                            <th>@ResourceCache.Localize("FeeCategory")</th>
                                            <th>@ResourceCache.Localize("Amount")</th>
                                            <th>@ResourceCache.Localize("ServicesTax")</th>
                                            <th>@ResourceCache.Localize("Total")</th>
                                            <th>@ResourceCache.Localize("Last Date to Pay")</th>
                                            <th class="noprint">@ResourceCache.Localize("Edit")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="manageAcademicYear">
                                        @foreach (var item in Model)
                                        {
                                            sno++;
                                            <tr>
                                                <td>@sno</td>
                                                <td>@item.AcYear</td>
                                                <td>@item.Term</td>
                                                <td>@item.Class</td>
                                                <td>@item.FeeCategory</td>
                                                <td>@item.Amount</td>
                                                <td>@item.Tax</td>
                                                <td>@item.Total</td>
                                                <td>@item.LastDate.ToShortDateString()</td>
                                                <td class="noprint">@Html.EncodedActionLink("<i class='fa fa-edit'></i>", "EditTermFeeConfig", "FeeConfiguration", new { feeid = item.TermFeeId }, null)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    @*<tfoot>
                                        <tr>
                                            <th>@ResourceCache.Localize("SNo")</th>
                                            <th>@ResourceCache.Localize("AcademicYear")</th>
                                            <th>@ResourceCache.Localize("Term")</th>
                                            <th>@ResourceCache.Localize("Class")</th>
                                            <th>@ResourceCache.Localize("FeeCategory")</th>
                                            <th>@ResourceCache.Localize("Amount")</th>
                                            <th>@ResourceCache.Localize("ServicesTax")</th>
                                            <th>@ResourceCache.Localize("Total")</th>
                                            <th>@ResourceCache.Localize("Last Date to Pay")</th>
                                            <th class="noprint">@ResourceCache.Localize("Edit")</th>
                                        </tr>
                                    </tfoot>*@
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.Partial("~/Views/Shared/NoRecordsFound.cshtml")
                    }
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        var rec = $('#record').val();
        if (rec == 0) {
            $('.NoRecords').show();
        }
        else {
            $('.NoRecords').hide();
        }
        var acid = $("#acYear_Fees").val();
        var tid = $("#acYear_Term").val();
        if (acid != "" || acid != null || acid != 0) {
            $("#div_Error").hide();
            $.getJSON("/FeeConfiguration/CurrentAcademicterm", { acid: acid, tid: tid },
                function (data) {
                    if (data.Message == null || data.Message == "") {
                        var HolidayDate1 = [];
                        var HolidayReason1 = [];
                        var sdate = data.StartingEnableDate;
                        var edate = data.EndingEnableDate;
                        $.getJSON("/Dashboard/FutureActiveDate",
                             function (data) {
                                 $.each(data.HolidaysList, function (i, c) {
                                     HolidayDate1[i] = c.Date;
                                     HolidayReason1[i] = c.Holiday;
                                 });
                                 var holidays = HolidayDate1;      //["8/04/2015", "08/20/2015"];
                                 $(function () {
                                     var dates = $("#txt_ldate").datepicker({
                                         dateFormat: 'dd/mm/yy',
                                         minDate: sdate,
                                         maxDate: edate,
                                         changeMonth: true,
                                         changeYear: true,
                                         beforeShowDay: function (date) {
                                             show = true;
                                             for (var i = 0; i < holidays.length; i++) {
                                                 if (new Date(holidays[i]).toString() == date.toString()) { return [false, 'holiday green', HolidayReason1[i]]; }//No Holidays
                                             }
                                             if (date.getDay() == 0 || date.getDay() == 6) { return [false, 'holiday red', '']; }//No Weekends
                                             var display = [show, '', (show) ? '' : 'Holidays'];//With Fancy hover tooltip!
                                             return display;
                                         },
                                         onSelect: function (selectedDate) {
                                             var option = this.id == "txt_ldate" ? "minDate" : "maxDate",
                                             instance = $(this).data("datepicker"),
                                             date = $.datepicker.parseDate(
                                             instance.settings.dateFormat ||
                                             $.datepicker._defaults.dateFormat,
                                             selectedDate, instance.settings);
                                             dates.not(this).datepicker("option", option, date);
                                         },
                                     });
                                 });
                             });
                    }
                    else {
                        $("#txt_ldate").datepicker("destroy");
                    }
                });
        }
        $("#txt_fees").filter_input({ regex: '[0-9.]' });
        var ServicesTax;
        $.getJSON("/FeeConfiguration/getTax",
              function (data) {
                  ServicesTax = data.ans;
              });
        $("#txt_fees").keyup(function () {
            var x = $("#txt_fees").val();
            var y = x * (ServicesTax / 100);
            $("#txt_ServicesTax").val(y).html(y);
            var check = $("#txt_checkcTax").is(":checked");
            if (check == true) {
                var z = parseFloat(x) + parseFloat(y);
                $("#txt_Total").val(z).html(z);
            }
            else {
                $("#txt_Total").val(x).html(x);
            }
        });
        $("#txt_checkcTax").click(function () {
            var x = $("#txt_fees").val();
            var y = x * (ServicesTax / 100);
            var check = $("#txt_checkcTax").is(":checked");
            if (check == true) {
                var z = parseFloat(x) + parseFloat(y);
                $("#txt_Total").val(z).html(z);
            }
            else {
                $("#txt_Total").val(x).html(x);
            }
        });
    </script>
}