﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.AdminSelectionList>
@{
    ViewBag.Title = "FeesStructure";
    Layout = "~/Views/Shared/RegisterAfterLogin.cshtml";
}
<style>
    .tr-content{
        text-align:center;
        border: 1px solid #337ab7;
    }
    .table_ele{
        width:100%;
    }
    #FeesPay ,#Div_homePage{
        margin-bottom:20px;
    }
</style>
<div class="container">
    <div class="row table-content-margin">
        
          
                
                <div class="panel-body">
                    <div class="email-body-content">
                        <div class="col-sm-12">
                            
                            <div class="col-sm-6">
                                <div class="col-sm-6">
                                    @ResourceCache.Localize("Application_Number ")
                                </div>
                                <div class="col-sm-6">
                                   <label>@Model.FirstOrDefault().StudentAdmissionId</label>
                                    <input type="hidden" id="ApplicationId" name="ApplicationId" value="@Model.FirstOrDefault().StudentAdmissionId" />
                                </div>
                                <div class="col-sm-6">
                                   @ResourceCache.Localize("StudentName")
                                </div>
                                <div class="col-sm-6">
                                    <label>@Model.FirstOrDefault().StuFirstName</label>
                                </div>
                                <div class="col-sm-6">
                                    @ResourceCache.Localize("AcademicYear")
                                </div>
                                <div class="col-sm-6">
                                    <label>@Model.FirstOrDefault().txt_AcademicYear</label>
                                    <input type="hidden" id="AcyearId" name="AcyearId" value="@Model.FirstOrDefault().AcademicyearId" />
                                </div>
                                <div class="col-sm-6">
                                  @ResourceCache.Localize("ApplyClass")
                                </div>
                                <div class="col-sm-6">
                                    <label>@Model.FirstOrDefault().txt_AdmissionClass</label>
                                    <input type="hidden" id="ApplyClass" name="ApplyClass" value="@Model.FirstOrDefault().ClassId" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @if (Model.FirstOrDefault().Photo != null)
                                {
                                <div class="col-sm-12">
                                    <div class="col-sm-12"><img src="/Documents/@Model.FirstOrDefault().StudentAdmissionId/@Model.FirstOrDefault().Photo" style=""  id="Edit_choosenImg" /></div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box-body">
                                <div class="alert alert-success alert-dismissable">
                                    <center> <strong>@ResourceCache.Localize("FeesStructure")</strong></center>
                                </div>
                            </div> 
                            <table class="table table-bordered table-hover table-striped tr-content-mandatory table-max" id="feesstructure">
                                <thead class="tablehead-mail">
                                    <tr style="/* margin-top: 58px; */">
                                        <th class="tr-content" >@ResourceCache.Localize("SNo")</th>
                                        <th class="tr-content" >
                                            @ResourceCache.Localize("FeeCategory")
                                        </th>
                                        <th class="tr-content" >
                                            @ResourceCache.Localize("Amount")
                                        </th>
                                        <th class="tr-content">@ResourceCache.Localize("Tax")</th>
                                        <th class="tr-content">@ResourceCache.Localize("Total")</th>
                                        <th class="tr-content">@ResourceCache.Localize("LastDate")</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="box-body">
                                <div class="alert alert-danger alert-dismissible">
                                    <center> <strong>@ResourceCache.Localize("Below")</strong>@ResourceCache.Localize("Fees_to_be_Paid_Immediately")</center>
                                </div>
                            </div> 
                            <table class="table table-bordered table-hover table-striped tr-content-mandatory table-max" id="paidFees">
                                <thead class="tablehead-mail" style="">
                                    <tr>
                                        <th class="tablehead-mail" >@ResourceCache.Localize("SNo")</th>
                                        <th class="tr-content" >
                                            @ResourceCache.Localize("FeeCategory")
                                        </th>
                                        <th class="tr-content">
                                            @ResourceCache.Localize("Ammount")
                                        </th>
                                        <th class="tr-content" >@ResourceCache.Localize("Tax")</th>
                                        <th class="tr-content">@ResourceCache.Localize("Total")</th>
                                        <th class="tr-content">@ResourceCache.Localize("LastDate")</th>
                                    </tr>
                                </thead>
                            </table>  
                            <table class="table table-bordered table-hover table-striped tr-content-mandatory" id="TransportFees" style="display:none">
                                <thead class="tablehead-mail" style="">
                                    <tr>
                                        <th class="tr-content">@ResourceCache.Localize("Destination")</th>
                                        <th class="tr-content">@ResourceCache.Localize("PickupPoint") </th>
                                        <th class="tr-content">@ResourceCache.Localize("Amount")</th>
                                        <th class="tr-content">@ResourceCache.Localize("LastDate")</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-hover table-striped tr-content-mandatory" id="HostelFees" style="display:none">
                                <thead class="tablehead-mail" style="">
                                    <tr>
                                        <th class="tr-content">@ResourceCache.Localize("Category")</th>
                                        <th class="tr-content">@ResourceCache.Localize("SubCategory")</th>
                                        <th class="tr-content">@ResourceCache.Localize("Amount")</th>
                                        <th class="tr-content">@ResourceCache.Localize("LastDate")</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="col-sm-12">
                                <button type="button" class=" btn btn-primary btn-mdpull-right" id="FeesPay" name="FeesPay">@ResourceCache.Localize("PayFees")</button>
                            </div>
                            <div class="col-sm-12">
                            </div>
                            <div id="Div_homePage" class="col-xs-3">
                                @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                                @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                            </div>
                           
                        </div>
                    </div>
                </div>
    </div>
</div>
<div class="col-lg-6 table-content-margin">
</div>
@section scriptsContainer{
    <script type="text/javascript">
        var PickpointValue;
        var DestinationValue;
        var CategoryIdValue = [];
        var SubCategoryIdValue = [];
       

    $(document).ready(function () {
        var year = $('#AcyearId').val();
        var classs = $('#ApplyClass').val();
        var AppId = $('#ApplicationId').val();
        var datavalue = {
            AcademicYearId: year, ClassId: classs, ApplicationNumber: AppId
        };
        var p = 0;
        $.ajax({
            type: "GET",
            url: '/OnlineRegister/GetPayFeesStructure',
            traditional: true,
            data: datavalue,
            success: function (data) {
                var totalError = data.ex;
                var li = [];
                if (data.Success == 0) {
                    $('#show').hide();
                    $('#Err').show();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    $("#jErr").append().empty();
                    $.each(totalError, function (i, v) {
                        if (totalError[i] != "" && totalError[i] != null) {
                            li = $("<li></li>").text(totalError[i]);
                            $("#jErr").append(li);
                        }
                    });
                }
                else if (data == null) {
                    alert("Error");
                }
                else {
                    var td_body = 0;
                    var feeid = 0;
                    var total = 0;
                    var sub_total = 0;
                    var p = 0;
                    var head = "<tr><th class='tr-content'>@ResourceCache.Localize("FeeCategory")</th><th class='tr-content' >@ResourceCache.Localize("Amount")</th><th class='tr-content' >@ResourceCache.Localize("Tax")</th><th class='tr-content'>@ResourceCache.Localize("Total")</th><th class='tr-content' >@ResourceCache.Localize("LastDate")</th></tr>";
                    $("#paidFees").empty().append(head);
                    $.each(data.result, function (i, s) {
                        var row, table;
                        if (s.TermId == 0) {
                            feeid = s.FeeId;
                            var flag = 0;
                            $.each(data.result, function (i, v) {
                                if (feeid == v.FeeId && v.TermId == data.termid) {
                                    feeid = v.FeeId;
                                    flag = 1;
                                    table = "<tr class='tr-content-email'><td><input id='feecategoryid" + p + "' name='feecategoryid" + p + "' value='" + v.FeeCategoryId + "' style='display:none;' /><input id='paymenttypeid" + p + "' name='paymenttypeid" + p + "' value='" + v.TermId + "' style='display:none;' />" + v.FeeCategory + " " + v.PaymentType + "</td><td><input id='amount" + p + "' name='amount" + p
                                        + "' value='" + v.Amount + "' style='display:none;' />" + v.Amount + "</td><td><input id='servicetax" + p + "' name='servicetax" + p + "' value='" + v.ServicesTax + "' style='display:none;' />" + v.ServicesTax
                                        + "</td><td><input id='total" + p + "' name='total" + p + "' value='" + v.Total + "' style='display:none;' />" + v.Total + "</abel></td><td>" + data.lastdate + "</td></tr>";
                                    p++;
                                    sub_total = v.Total;
                                }
                            });
                            if (flag == 0) {
                                row = "<tr class='tr-content-email'><td><input id='feecategoryid" + p + "' name='feecategoryid" + p + "' value='" + s.FeeCategoryId + "' style='display:none;' /><input id='paymenttypeid" + p + "' name='paymenttypeid" + p + "' value='" + s.TermId + "' style='display:none;' />" + s.FeeCategory + " </td><td><input id='amount" + p + "' name='amount" + p
                                    + "' value='" + s.Amount + "' style='display:none;' />" + s.Amount + "</td><td><input id='servicetax" + p + "' name='servicetax" + p + "' value='" + s.ServicesTax + "' style='display:none;' />" + s.ServicesTax
                                    + "</td><td><input id='total" + p + "' name='total" + p + "' value='" + s.Total + "' style='display:none;' />" + s.Total + "</abel></td><td>" + data.lastdate + "</td></tr>";
                                total = total + s.Total;
                                p++;
                                $("#paidFees").append(row);
                            }
                            else if (flag == 1) {
                                $("#paidFees").append(table);
                                total = total + sub_total;
                            }
                        }
                    });
                    var row1 = "<tr class='tr-content-email'><td style='border:transparent'></td><td style='border:transparent'></td><td>Total </td><td><input id='totalAmount' id='totalAmount' value='" + total + "' style='display:none;' />" + total + "</abel></td><td style='border:transparent'></td></tr>";
                    $("#paidFees").append(row1);
                    if (data.getTransportfeeid != null) {
                        $("#TransportFees").show();
                        DestinationValue = data.getTransportfeeid.DestinationId;
                        PickpointValue = data.getTransportfeeid.Id;
                        row = "<tr class='tr-content-email'><td><input  id='Destination' name='Destination'  value='" + data.getTransportfeeid.DestinationId + "' style='display:none;'/>" + data.getTransportfeeid.DestinationName + "</td><td><input  id='Pickpoint' name='Pickpoint'  value='" + data.getTransportfeeid.Id + "'  style='display:none;'/>" + data.getTransportfeeid.Pickpoint + "</td><td>" + data.getTransportfeeid.TransportFee + "</td><td>" + data.lastdate + "</td></tr>";                      
                            $("#TransportFees").append(row);
                    } else {
                        $("#TransportFees").hide();
                    }
                    if (data.gethostelfee != null) {
                        $("#HostelFees").show();

                        $.each(data.gethostelfee, function (i, q) {
                            CategoryIdValue[i] = q.CategoryId;
                            SubCategoryIdValue[i] = q.SubCategoryId;                      
                            row = "<tr class='tr-content-email'><td><input  id='HostelCategoryName' name='HostelCategoryName'  value='" + q.CategoryId + "' style='display:none;'/>" + q.CategoryName + "</td><td><input  id='HostelSubCategoryName' name='HostelSubCategoryName'  value='" + q.SubCategoryId + "' style='display:none;'/>" + q.SubCategoryName + "</td><td>" + q.hostelfee + "</td><td>" + data.lastdate + "</td></tr>";                          
                            $("#HostelFees").append(row);
                        });                       
                    }
                    else {
                        $("#HostelFees").hide();
                      }
                        }                                                       
            }
        });
        $.ajax({
            type: "GET",
            url: '/OnlineRegister/getFeesStructure',
            traditional: true,
            data: datavalue,
            success: function (data) {
                if (data == null) {
                    alert("Error");
                }
                else {                
                    var td_body = 0;
                    var feeid = 0;
                    var total = 0;
                    var head = "<tr><th class='tr-content'>@ResourceCache.Localize("FeeCategory")</th><th class='tr-content' >@ResourceCache.Localize("Amount")</th><th class='tr-content' >@ResourceCache.Localize("Tax")</th><th class='tr-content'>@ResourceCache.Localize("Total")</th><th class='tr-content'>@ResourceCache.Localize("LastDate")</th></tr>";
                        $("#feesstructure").empty().append(head);
                        $.each(data, function (i, v) {
                            var row, table;
                            if (feeid == v.FeeId) {
                                feeid = v.FeeId;
                                table = "<tr class='tr-content-email'><td>" + v.PaymentType + "</td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td>" + v.Total + "</abel></td><td>" + v.Ldate + "</td></tr>";
                                $("#" + td_body).append(table);
                            }
                            else {
                                td_body++;
                                feeid = v.FeeId;
                                row = "<tr class='tr-content-email'><td>" + v.FeeCategory
                                    + "<table class='table-bordered table-striped table_ele'><tbody id=" + td_body + "></tbody></table></td><td>" + v.Amount + "</td><td>" + v.ServicesTax + "</td><td>" + v.Total + " </td><td>" + v.Ldate
                                    + "</td></tr>";
                                total = total + v.Total;
                                $("#feesstructure").append(row);
                            }
                        });
                        var row1 = "<tr class='tr-content-email'><td style='border:transparent'></td><td style='border:transparent'></td><td >Total </td><td>" + total + "</abel></td><td style='border:transparent'></td></tr>";
                        $("#feesstructure").append(row1);
                    }
                }
            });
            $('#FeesPay').click(function () {
                var feecategoryid1 = [];
                var paymenttypeid1 = [];
                var amount1 = [];
                var servicetax1 = [];
                var total1 = [];
                var count = $('#paidFees tr').length;
                for (i = 0; i < count - 2; i++) {
                    feecategoryid1[i] = $('#feecategoryid' + (i)).val();
                    paymenttypeid1[i] = $('#paymenttypeid' + (i)).val();
                    amount1[i] = $('#amount' + (i)).val();
                    servicetax1[i] = $('#servicetax' + (i)).val();
                    total1[i] = $('#total' + (i)).val();
                }
                var Total_Amt = $('#totalAmount').val();
                var AppId = $('#ApplicationId').val();
                var AccommodationCategoryId = [];
                var AccommodationSubCategoryId = [];
                var FoodCategoryId = [];
                var FoodSubCategoryId = [];
                var HostelCount = $('#HostelFees tr').length;
             
                for (i = 0; i < HostelCount - 1; i++) {                  
                    if (i == 0 && i != 1) {
                        AccommodationCategoryId = CategoryIdValue[i];
                        AccommodationSubCategoryId = SubCategoryIdValue[i];                                             
                    }
                    else {
                        FoodCategoryId = CategoryIdValue[i];
                        FoodSubCategoryId = SubCategoryIdValue[i];                                           
                    }                                                       
                }             
                var Registers = {
                    NoOfFees: count - 2, feecategoryid: feecategoryid1, paymenttypeid: paymenttypeid1, amount: amount1, servicetax: servicetax1, total: total1, TotalAmount: Total_Amt, AcademicYearId: year, ClassId: classs, ApplicationId: AppId,
                    DestinationId: DestinationValue, PickPointId: PickpointValue, FoodCategoryId: FoodCategoryId, FoodSubCategoryId: FoodSubCategoryId, AccommodationCategoryId: AccommodationCategoryId, AccommodationSubCategoryId: AccommodationSubCategoryId
                };
             
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    type: "POST",
                    url: '/OnlineRegister/PayFees',
                    traditional: true,
                    data: Registers,
                    success: function (data) {
                        if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                            $("#jsonError").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").hide();
                            $("#jsonErrorMsg").show();
                            $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        if (data.Message != "" && data.Message != null) {
                            $('#FeesPay').hide();
                            $('#Div_homePage').show();
                            $("#jsonError").hide();
                            $("#jsonErrorMsg").hide();
                            $("#jsonExceptionMsg").hide();
                            $("#jsonSuccessMsg").show();
                            $("#jSuccessMsg").html(data.Message).val(data.Message);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    },
                    error: function (xhr) {

                    }
                });
            });
        });
    </script>
}