﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/OnlineRegisterCss/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Header</title>
    <style>
        .school-logo {
            display: inline-block;
            width: 42px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 20px;
            color: white;
        }
        .logo-section {
            background-color: #333333;
            margin-top: -11px;
            margin-left: -11px;
            margin-right: -11px;
            margin-bottom: -11px;
            height: 50px;
        }
        h3.h3-email {
            margin-top: 5px;
            margin-bottom: 0px;
        }
        .text-email {
            padding-left: 10px;
            line-height: 2;
        }
        .navbar-inner {
            padding: 4px 0;
            background: #0085A2;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
        }
        .pull-right {
            float: right;
        }
        .school-name {
            text-transform: uppercase;
            color: white;
            padding-right: 20px;
            margin-top: 0px;
        }
        .schoolnme {
            font-weight: 600;
        }
        h3 {
            font-size: 18px;
            margin-top: 15px;
        }
        .fa-globe:before {
            content: "\f0ac";
        }
        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
        }
        .fa-lg {
            font-size: 1.33333333em;
            line-height: 0.75em;
            vertical-align: -15%;
        }
        .fa-2x {
            font-size: 2em;
        }
        .fa-3x {
            font-size: 3em;
        }
        .navbar-inner {
            padding: 4px 0;
            background: #0085a2;
            border-radius: 0;
            margin-top: -8px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class=" m-head " align="center">
            <div class="head-logo img-responsive">
                <a href="#" class=""><img src="/../Images/school logo and text w.png" class="h-logo img-responsive" /></a>
            </div>
            <div id="main-nav" class="head-icon">
                <a href="http://chentoro.com/st25/" class="scroll-link"><i class="fa fa-home"></i></a>
            </div>
        </div>
    </div>
</body>
</html>