﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.M_PreviousApplicationStatus>
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/RegisterAfterLogin.cshtml";
    string format = "";
}
<fieldset class=" ">
    <div class="email-body-content">
        @if (Model != null)
        {
            <div> <label class="here-head">@ResourceCache.Localize("Previous_Application_Details")</label></div>
    <div id="no-more-tables">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationRegisterNumber)
                    </th>
                    <th>
                        @ResourceCache.Localize("StudentName")
                    </th>
                    <th>
                        @ResourceCache.Localize("AcademicYear")
                    </th>
                    <th>
                        @ResourceCache.Localize("AppliedClass")
                    </th>
                    <th>
                        @ResourceCache.Localize("ApplicationStatus")
                    </th>
                    <th>
                        @ResourceCache.Localize("PrintAdmissionForm") 
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationRegisterNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreStudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreAcademicYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreApplyClass)
                        </td>
                        <td title="@ResourceCache.Localize("Click_here_to_view_more_info")">
                            <u>
                                @{ ViewBag.ss = item.stuid.ToString();}
                                @if (item.ApplicationFormat == "AdmissionForm1")
                                {
                                    if (item.PreApplicationStatus == "Enrolled")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "Enrolled", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll" }) <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "Accepted")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "Accept", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll violet" })  <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "Pending")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "Pending", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll red" }) <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "AddMore")
                                    {
                                        @Html.ActionLink(ResourceCache.Localize("AddMore"), "AdmissionForm1", "OnlineRegister", new { Id = item.OnlnlineId, StudentId = item.stuid }, new { @class = "enroll" })  @*, Sid = item.stuid*@
                                    }
                                    else if (item.PreApplicationStatus == "Reject")
                                    {
                                        @Html.ActionLink("Quiet", "Reject", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll" }) <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "FeesPaid")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "FeesPaid", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll" })<label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "Conditionaloffer")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "FeesStructure", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll violet" }) <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "InterView&Entrance")
                                    {
                                        <label>InterView&Entrance</label> <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "InterView")
                                    {
                                        <label>InterView</label> <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "InComplete")
                                    {
                                        @Html.ActionLink(ResourceCache.Localize("InComplete"), item.ApplicationFormat, "OnlineRegister", new { Id = item.OnlnlineId }, new { @class = "enroll red" })  @*, Sid = item.stuid*@
                                    }

                                }
                                else if (item.ApplicationFormat == "AdmissionForm4")
                                {
                                    if (item.PreApplicationStatus == "Enrolled")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "Enrolled", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll" }) <label><strong>/</strong> @Html.ActionLink("Print", "StepReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "Accepted")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "Accept", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll violet" })  <label><strong>/</strong> @Html.ActionLink("Print", "StepReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "Pending")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "Pending", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll red" }) <label><strong>/</strong> @Html.ActionLink("Print", "StepReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "AddMore")
                                    {
                                        @Html.ActionLink(ResourceCache.Localize("AddMore"), "AdmissionForm4", "OnlineRegister", new { Id = item.OnlnlineId, Sid = item.stuid }, new { @class = "enroll" })  @*, Sid = item.stuid*@
                                    }
                                    else if (item.PreApplicationStatus == "Reject")
                                    {
                                        @Html.ActionLink("Quiet", "Reject", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll" }) <label><strong>/</strong> @Html.ActionLink("Print", "StepReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "FeesPaid")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "FeesPaid", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll" })<label><strong>/</strong> @Html.ActionLink("Print", "StepReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "Conditionaloffer")
                                    {
                                        @Html.ActionLink(item.PreApplicationStatus, "FeesStructure", "OnlineRegister", new { Id = item.stuid }, new { @class = "enroll violet" }) <label><strong>/</strong> @Html.ActionLink("Print", "StepReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "InterView&Entrance")
                                    {
                                        <label>InterView&Entrance</label> <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "InterView")
                                    {
                                        <label>InterView</label> <label><strong>/</strong> @Html.ActionLink("Print", "SingleReport", "OnlineRegister", new { Id = item.PrimaryUserAdmissionId, Sid = item.stuid }, new { @class = "enroll" })</label>
                                    }
                                    else if (item.PreApplicationStatus == "InComplete")
                                    {
                                        @Html.ActionLink(ResourceCache.Localize("InComplete"), item.ApplicationFormat, "OnlineRegister", new { Id = item.OnlnlineId }, new { @class = "enroll red" })  @*, Sid = item.stuid*@
                                    }

                                }
                                                            </u>
                        </td>
                        <td>
                        @Html.ActionLink("DownloadPdf", "SingleReport", "OnlineRegister", new { Id = item.priAdmissionid, Sid = item.stuid }, new { @class = "enroll red" })  @*, Sid = item.stuid*@
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
            if (Model.OrderByDescending(q => q.StudentRegId).FirstOrDefault().PreApplicationStatus != "InComplete")
            {
                <div class="row btn-top">
                 @Html.ActionLink(ResourceCache.Localize("Clickhere"), Model.FirstOrDefault().ApplicationFormat, "OnlineRegister", new { Id = Model.FirstOrDefault().OnlnlineId }, new { @class = "here" })  @*, Sid = ViewBag.Sid*@
                    <label>@ResourceCache.Localize("to_Add_New_Student")</label>
                </div>
            }
        }
        else
        {
            format = ViewBag.formformat;
            <div class="row btn-top ">
                @Html.ActionLink(ResourceCache.Localize("Clickhere"), format, "OnlineRegister", new { Id = ViewBag.Onlineid }, new { @class = "here" }) @*, Sid = ViewBag.Sid*@
                <label>@ResourceCache.Localize("to_Add_New_Student")</label>
            </div>
        }
            </div>
</fieldset>