﻿@using eAcademy.Models;
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/RegisterBeforLogin.cshtml";
}

<style>
    .field i{
    display:none;
    }
    #cen {
    background-color:#fff;
    }
</style>
<div class="col-sm-6 ">
    <div class=" margin-content3">
        <p class="lead"><span class="text-success"> @ResourceCache.Localize("Procedure_For_Applying_School")@ResourceCache.Localize("Admission")</span></p>
        <ul class="list-unstyled" style="line-height: 2">
            <li>@ResourceCache.Localize("1Register_user")</li>
            <li>@ResourceCache.Localize("2Login")</li>
            <li>@ResourceCache.Localize("3Fill_the_Admission_Form")</li>
            <li>@ResourceCache.Localize("4Upload_Student_&_Parent_Details")</li>
            <li>@ResourceCache.Localize("5Attach_Files")</li>
            <li>@ResourceCache.Localize("6Track_Application_Status")</li>
        </ul>
        <p><a href="@Url.Action("Register", "OnlineRegister")" class="myButton3">@ResourceCache.Localize("RegisterNow")</a></p>
    </div>
</div>
<div class="col-sm-6">
    @if (ViewBag.RegisterMessage != null)
    { <div class="alert alert-success">
        @*fade in*@
        <strong>@ResourceCache.Localize("Success")!</strong> @ViewBag.RegisterMessage
    </div>
    }
</div>

@if (ViewBag.Email == true && ViewBag.Sms == true && ViewBag.App == true)
{
    @Html.Partial("~/Views/OnlineRegister/PartialView_LoginWitnEmailAndMobile.cshtml")
}
else if (ViewBag.Email == true && ViewBag.Sms == true)
{
    @Html.Partial("~/Views/OnlineRegister/PartialView_LoginWitnEmailAndMobile.cshtml")
}
else if (ViewBag.App == true && ViewBag.Sms == true)
{
    @Html.Partial("~/Views/OnlineRegister/PartialView_LoginWitnEmailAndMobile.cshtml")
}
else if (ViewBag.Email == true || ViewBag.App == true)
{
    @Html.Partial("~/Views/OnlineRegister/PartialView_LoginWithEmail.cshtml")
}
else if (ViewBag.Sms == true)
{
    @Html.Partial("~/Views/OnlineRegister/PartialView_LoginWithMobile.cshtml")
}
@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}