﻿
@using eAcademy.Models;

<style>
  #Appendcaptcha span{
  width: 44px;
 font-size:25px;
}
 #Appendcaptcha input{
  background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
 margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}
</style>
<div id="login-overlay" class="col-sm-6">
    <div class=" margin-content3">
        <p class="lead">@ResourceCache.Localize("Parent / Guardian") <span class="text-success">@ResourceCache.Localize("Login")</span></p>
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>
        <form id="loginForm" method="POST" action="@Url.Action("Login", "OnlineRegister")" novalidate="novalidate" class="">
            <div class="body">
                <div>
                    <p>@ResourceCache.Localize("EmailAddress/MobileNumber")<span class="mandatory">*</span></p>
                    <input type="text" class="newinput current_button" id="Username" name="Username" value="@Request["Username"]" required="" placeholder='@ResourceCache.Localize("EmailAddress/MobileNumber")' title="@ResourceCache.Localize("EmailAddress/MobileNumber")" maxlength="150">
                    <label id="Err_Username" style="color:crimson;display:none">@ResourceCache.Localize("Enter_email_address_or_mobile_number")</label>
                </div>
                <div>
                    <p>@ResourceCache.Localize("Password")<span class="mandatory">*</span></p>
                    <input type="password" class="newinput current_button" id="passwords" name="passwords" value="" required="" placeholder="@ResourceCache.Localize("Password")" title="@ResourceCache.Localize("Please_enter_your_password")" maxlength="20">
                </div>
                <div>
                    <p>@ResourceCache.Localize("Captcha")<span class="mandatory">*</span></p>
                    <span id="Appendcaptcha"></span>
                    <input type="text" id="Captcha" name="Captcha" class="newinput" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5">
                    @*<input type="text" id="Captcha" name="Captcha" class="captcha newinput current_button" maxlength="5" size="5" placeholder="Enter captcha code" />*@
                    @*<div class=" ">@Html.Partial("~/Views/Shared/Captcha.cshtml")</div>
                    <a data-ajax="true" data-ajax-success="Register" href="/OnlineRegister/Login" class="cap-blk blk"><i class="fa fa-refresh"></i></a>*@
                </div>
                @if (ViewBag.Email == true || ViewBag.App == true)
                {
                    <input type="hidden" id="UsernameType" name="UsernameType" value="Email">
                }
                else if (ViewBag.Sms == true)
                {
                    <input type="hidden" id="UsernameType" name="UsernameType" value="Mobile">
                }
                <p class="mtop"><button type="submit" id="login" name="login" class="myButton1">@ResourceCache.Localize("Login")</button></p>
                <a href="@Url.Action("ForgetPassword", "OnlineRegister")" class="text-h">@ResourceCache.Localize("Forgotpassword")</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/OnlineRegisterJs/jquery.js"></script>
<script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
      
        $(document).ready(function () {
            $("#cen").css("background-color:white;");
            captchaCode();
            var cpsval;
            function captchaCode() {
                var Numb1, Numb2, Numb3, Numb4, Numb5, Code;
                Numb1 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb2 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb3 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb4 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb5 = (Math.ceil(Math.random() * 10) - 1).toString();
                Code = Numb1 + Numb2 + Numb3 + Numb4 + Numb5;
                $.getJSON('/Report/ChangeCaptchaValue', { Captchavalue: Code },
                      function (orderdetails) {
                      });
                cpsval = Code;
                $("#Appendcaptcha span").remove();
                $("#Appendcaptcha input").remove();
                $("#Appendcaptcha").append("<span id='code'>" + Code + "</span><input type='button' id='capchadesign' class='refreshcaptcha'/> ");  //onclick='captchaCode();
            }
            $(document).on('click', '.refreshcaptcha', function () {
                captchaCode();
            });

            //function changecaptchastore() {
                
            //}
            $("input").keypress(function (evt) {
                var charCode = evt.charCode || evt.keyCode;
                if (charCode == 13) { //Enter key's keycode
                    return false;
                }
                });
            //$('#getcaptcha').click(function () {
            //    var ss1 = { prefix: 'null', noisy: true };
            //    alert(ss1);
            //    $.ajax({
            //        type: "POST",
            //        url: '/OnlineRegister/CaptchaImage1',
            //        data: ss1,
            //        success: function (img) {
            //            if (img != null) {
            //                $('#captcha').attr("src", img);
            //            }
            //        },
            //    });

            //});

            $('#passwords').filter_input({ regex: '[0-9A-Za-z \\.]' });

            $('#Captcha').filter_input({ regex: '[0-9]' });

            $("#login").click(function (event) {
                $('#Err').hide();
                var type = "";
                var a = [];
                var field_val = [];
                var flag = 0;
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '') {
                        flag = 1;
                        var null_id = $(this).attr('id');
                        if (null_id == 'Username') {
                            a.push('@ResourceCache.Localize("Email_or_mobile_number_is_required")');
                        }
                        if (null_id == 'passwords') {
                            a.push('@ResourceCache.Localize("Password_is_required")');
                        }
                    } else {
                      
                        if (field_name == 'Username') {
                            var email = $('#Username').val().toLowerCase();
                            var email_regexpr = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/;
                            if (!email.match(email_regexpr) || email.length == 0) {
                                var mobile_regexpr = /^[789]\d{9}$/;
                                if (!email.match(mobile_regexpr) || email.length == 0 || email.length > 10) {
                                    flag = 1;
                                    a.push('@ResourceCache.Localize("Enter_correct_email_or_mobile_number")');
                                }
                                else {
                                    type = "Mobile";
                                }
                            }
                            else {
                                type = "Email";
                            }
                        }
                        if (field_name == 'passwords') {
                            var email = $('#passwords').val();
                            var email_regexpr = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){3,20}$/;
                            if (!email.match(email_regexpr) || email.length == 0) {
                                flag = 1;
                                a.push('@ResourceCache.Localize("Password_must_be_3-20_alphanumeric_characters")');
                            }
                        }
                       
                    }

                });

                var cat = $('#Captcha').val();
                if (cat == "" || cat == null) {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Captcha_is_required")');
                }
                if (flag == 0) {
                    var pwdlength = $("#passwords").val().length;
                    if (pwdlength > 3 && pwdlength < 20) {
                    }
                    else {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Password_must_be_3-20_alphanumeric_characters")');
                    }
                }
                var getcaptcha = $('#Captcha').val();
                if (getcaptcha != "") {
                if (cpsval != getcaptcha) {
                    a.push('@ResourceCache.Localize("Captcha_is_mismatch")');
                    captchaCode();
                }
                }
                if (a.length != 0) {
                    $('#successmsg').hide();
                    $('#Err').show();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $('#errormsg').hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
                if (flag == 0) {
                    $('#UsernameType').val(type);
                    return true;
                }
                else {
                    return false;
                }
            });
            $("input").each(function () {
                $(this).val("");
            });



        });
   
    </script>
