﻿@using eAcademy.Models;
<style>
    #Appendcaptcha span {
        width: 44px;
        font-size: 25px;
    }

    #Appendcaptcha input {
        background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
        margin: 5px 0 0;
        padding: 0;
        border: medium none;
        cursor: pointer;
        width: 15px;
    }
</style>
<div id="login-overlay" class="col-sm-6">
    <div class=" margin-content3">
        <p class="lead">@ResourceCache.Localize("Forgot")<span class="text-success">@ResourceCache.Localize("Password")</span></p>
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>

        <form method="POST" action="@Url.Action("ForgetPassword", "OnlineRegister")" novalidate="novalidate">
            <div>
                <p class="control-label">@ResourceCache.Localize("EmailAddress")</p>
                <input type="text" class="form-control current_button" id="Username" name="Username" required="" value="@Request["Username"]" title="@ResourceCache.Localize("EmailAddress")" placeholder="@ResourceCache.Localize("EnterEmailAddress")" maxlength="150">
                <span class="help-block"></span>
            </div>
            <div class="capt">
                <p class="control-label">@ResourceCache.Localize("Captcha")<span class="mandatory">*</span></p>
                <span id="Appendcaptcha"></span>
                <input type="text" id="Captcha" name="Captcha" class="newinput" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5">
                @*@Html.Partial("~/Views/Shared/Captcha.cshtml")
                <a data-ajax="true" data-ajax-success="StudentLogin" href="/OnlineRegister/ForgetPassword" class="cap-blk blk"><i class="fa fa-refresh"></i></a>*@
            </div>
            <input type="hidden" id="UsernameType" name="UsernameType" value="Email">
            <div>
                <button type="submit" id="Btn_Forget" name="Btn_Forget" class="myButton1">@ResourceCache.Localize("Submit")</button>
                <a href="@Url.Action("Login", "OnlineRegister")" class="myButton">@ResourceCache.Localize("Cancel")</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/OnlineRegisterJs/jquery.js"></script>
<script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            captchaCode();
            var cpsval;
            function captchaCode() {
                var Numb1, Numb2, Numb3, Numb4, Numb5, Code;
                Numb1 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb2 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb3 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb4 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb5 = (Math.ceil(Math.random() * 10) - 1).toString();
                Code = Numb1 + Numb2 + Numb3 + Numb4 + Numb5;
                $.getJSON('/Report/ChangeCaptchaValue', { Captchavalue: Code },
                      function (orderdetails) {
                      });
                cpsval = Code;
                $("#Appendcaptcha span").remove();
                $("#Appendcaptcha input").remove();
                $("#Appendcaptcha").append("<span id='code'>" + Code + "</span><input type='button' id='capchadesign' class='refreshcaptcha'/> ");  //onclick='captchaCode();
            }
            $(document).on('click', '.refreshcaptcha', function () {
                captchaCode();
            });
            $('.fa-pencil-square-o').hide();
            $('#Captcha').filter_input({ regex: '[0-9]' });
            $('#Btn_Forget').click(function () {
                $('#Err').hide();
                var type = "";
                var a = [];
                var field_val = [];
                var flag = 0;
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    var field_name = $(this).attr('name');
                    if (valu == '') {
                        flag = 1;
                        var null_id = $(this).attr('id');
                        if (null_id == 'Username') {
                            a.push('@ResourceCache.Localize("Entercorrectemailaddress")');
                        }                        
                    }
                    if (field_name == 'Username') {
                        var email = $('#Username').val().toLowerCase();
                        var email_regexpr = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/;
                        if (!email.match(email_regexpr) || email.length == 0) {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Enter_correct_email_address")');
                        }
                        else {
                            type = "Email";
                        }

                    }                    
                });
                var getcaptcha = $('#Captcha').val();
                if (getcaptcha != "") {
                    if (cpsval != getcaptcha) {
                        a.push('@ResourceCache.Localize("Captcha_is_mismatch")');
                        captchaCode();
                    }
                }
                if (a.length != 0) {
                    $('#successmsg').hide();
                    $('#Err').show();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $('#errormsg').hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
                if (flag == 0) {
                    $('#UsernameType').val(type);
                    return true;
                }
                else {
                    return false;
                }
            });
        });
    </script>

