﻿@using eAcademy.Models;
<style>
    #Appendcaptcha span {
        width: 44px;
        font-size: 25px;
    }

    #Appendcaptcha input {
        background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
        margin: 5px 0 0;
        padding: 0;
        border: medium none;
        cursor: pointer;
        width: 15px;
    }
</style>
<div id="login-overlay" class="col-sm-6">
    <div class=" margin-content3">
        <p class="lead"><span class="text-success"> @ResourceCache.Localize("Parent_Guardian") @ResourceCache.Localize("Register")</span></p>
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="control-label">@ResourceCache.Localize("Sibling_studying_here?")<span class="mandatory">*</span></p>
            </div>
            <div class="col-sm-2">
                <input type="radio" name="SiblingStudy" value="Yes" class="Sibling">@ResourceCache.Localize("Yes")
            </div>
            <div class="col-sm-2">
                <input type="radio" name="SiblingStudy" value="No" class="Sibling">@ResourceCache.Localize("No")
            </div>
        </div>
        <form id="loginForm" method="POST" action="@Url.Action("Register", "OnlineRegister")" novalidate="novalidate" class="form-3">
            <div class=" body" id="NewUser" style="display:none;">
                    <p class="control-label">@ResourceCache.Localize("MobileNumber")<span class="mandatory">*</span></p>
                    <div>
                        <input type="text" class="form-control current_button" id="Username" name="Username" value="@Request["Username"]" required="" title="@ResourceCache.Localize("Please_enter_you_username")" placeholder="@ResourceCache.Localize("MobileNumber")" maxlength="10">
                        <span class="text-muted">@ResourceCache.Localize("Please_submit_a_valid_Mobile_number_for_all_future_correspondence")</span>
                        <label id="Err_Username" style="color:crimson;display:none">@ResourceCache.Localize("Enter_only_mobile_number")</label>
                    </div>
                <p class="control-label">@ResourceCache.Localize("Password")<span class="mandatory">*</span></p>
                <div>
                    <input type="password" class="form-control current_button" id="passwords" name="passwords" value="" required="" title="@ResourceCache.Localize("Please_enter_your_password")" placeholder="@ResourceCache.Localize("Password")" maxlength="20">
                    <label id="Err_Pwd" style="color:crimson;display:none">@ResourceCache.Localize(" Enter_One_Uppercase_One_Lowercase_One_Special_Charracter_and_One_Numeric_digit")</label>
                </div>
                <p class="control-label ">@ResourceCache.Localize("Re-Enter_Password")<span class="mandatory">*</span></p>
                <div>
                    <input type="password" class="form-control current_button" id="repasswords" name="repasswords" value="" required="" title="@ResourceCache.Localize("Please_enter_your_password")" placeholder="@ResourceCache.Localize("Re-Enter_Password")" maxlength="20">
                    <label id="Err_RePwd" style="color:crimson;display:none">@ResourceCache.Localize("Enter_Same_Password")</label>
                </div>
            </div>
            <div class="body" id="ExitsUser" style="display:none;">
                <div>
                    <p class="control-label">@ResourceCache.Localize("Parent_Id_(or)_Student_Id")<span class="mandatory">*</span></p>

                    <input type="text" class="form-control current_button1" id="StudentId" name="StudentId" value="" placeholder="@ResourceCache.Localize("Parent_Id_(or)_Student_Id")" title="@ResourceCache.Localize("Parent_Id_(or)_Student_Id")" maxlength="15">

                </div>
            </div>
            <div class="field" id="CaptCha1" style="display:none;">
                <p class="control-label">@ResourceCache.Localize("Captcha")<span class="mandatory">*</span></p>
                <div class="capt">
                    <span id="Appendcaptcha"></span>
                    <input type="text" id="Captcha" name="Captcha" class="newinput" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5">
                    @*@Html.Partial("~/Views/Shared/Captcha.cshtml")
                    <a data-ajax="true" data-ajax-success="Register" href="/OnlineRegister/Register" class="cap-blk blk"><i class="fa fa-refresh"></i></a>*@
                </div>
            </div>
            @if (ViewBag.Email == true || ViewBag.App == true)
            {
                <input type="hidden" id="UsernameType" name="UsernameType" value="Email">
            }
            else if (ViewBag.Sms == true)
            {
                <input type="hidden" id="UsernameType" name="UsernameType" value="Mobile">
            }
            <button type="submit" id="BtnReg" name="command" class="myButton3" style="display:none;" value="Register">@ResourceCache.Localize("Register")</button>
            <button type="submit" id="BtnGet" name="command" class="myButton2" style="display:none;" value="GetUser">@ResourceCache.Localize("GetUser")</button>
            <a href="@Url.Action("Login", "OnlineRegister")" id="Cancel" class="myButton" style="display:none;margin-left:0px;">@ResourceCache.Localize("Cancel")</a>
        </form>
    </div>
</div>
<script src="~/js/OnlineRegisterJs/jquery.js"></script>
<script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            captchaCode();
            var cpsval;
            function captchaCode() {
                var Numb1, Numb2, Numb3, Numb4, Numb5, Code;
                Numb1 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb2 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb3 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb4 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb5 = (Math.ceil(Math.random() * 10) - 1).toString();
                Code = Numb1 + Numb2 + Numb3 + Numb4 + Numb5;
                $.getJSON('/Report/ChangeCaptchaValue', { Captchavalue: Code },
                      function (orderdetails) {
                      });
                cpsval = Code;
                $("#Appendcaptcha span").remove();
                $("#Appendcaptcha input").remove();
                $("#Appendcaptcha").append("<span id='code'>" + Code + "</span><input type='button' id='capchadesign' class='refreshcaptcha'/> ");  //onclick='captchaCode();
            }
            $(document).on('click', '.refreshcaptcha', function () {
                captchaCode();
            });
            $("#Username").filter_input({ regex: '[0-9]' });
        $("#BtnReg").click(function (event) {
            $('#Err').hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            var type = "";            
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'Username') {
                        a.push('@ResourceCache.Localize("Mobile_number_is_required")');
                    }
                    if (null_id == 'passwords') {
                        a.push('@ResourceCache.Localize("Password_is_required")');
                    }
                    if (null_id == 'repasswords') {
                        a.push('@ResourceCache.Localize("Re-Enter_Password_is_required")');
                    }
                }
                else {
                    if (field_name == 'Username') {
                        var email = $('#Username').val().toLowerCase();
                        var email_regexpr = /^[789]\d{9}$/;
                        if (!email.match(email_regexpr) || email.length == 0) {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Enter_only_mobile_number")');
                        }
                        else {
                            type = "Mobile";
                        }
                    }
                    if (field_name == 'passwords') {
                        var email = $('#passwords').val();
                        var email_regexpr = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){3,20}$/;
                        if (!email.match(email_regexpr) || email.length == 0) {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Password_must_be_3-20_alphanumeric_characters")');
                        }
                    }
                }
            });
            var cat = $('#Captcha').val();
            if (cat == "" || cat == null) {
                flag = 1;
                a.push('@ResourceCache.Localize("Captcha_is_required")');
            }
            if (flag == 0) {
                var pwdlength = $("#passwords").val().length;
                if (pwdlength > 3 && pwdlength < 20) {
                }
                else {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Password_must_be_3-20_alphanumeric_characters")');
                }
                var repwdlength = $("#repasswords").val().length;
                if (repwdlength > 3 && repwdlength < 15) {
                }
                else {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Re-Enter_password_must_be_3-20_alphanumeric_characters ")');
                }
                if (flag == 0) {
                    var pwd = $("#passwords").val();
                    var rpwd = $("#repasswords").val();
                    if (rpwd != null || rpwd != "") {
                        if (pwd != rpwd) {
                            flag = 1;
                            a.push('@ResourceCache.Localize("Enter_Same_Password")');
                            }
                        }
                    }
            }
            var getcaptcha = $('#Captcha').val();
            if (getcaptcha != "") {
                if (cpsval != getcaptcha) {
                    a.push('@ResourceCache.Localize("Captcha_is_mismatch")');
                    captchaCode();
                }
            }
                if (a.length != 0) {
                    $('#successmsg').hide();
                    $('#Err').show();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $('#errormsg').hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
                if (flag == 0) {
                    $('#UsernameType').val(type);
                    return true;
                }
                else {
                    return false;
                }
            });
           
    });
    </script>
