﻿@using eAcademy.Models;
@model eAcademy.ViewModel.VM_Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/RegisterBeforLogin.cshtml";
}
<div class="col-sm-6 ">
    <div class=" margin-content3">
        <p class="lead"><span class="text-success"> @ResourceCache.Localize("Procedure_For_Applying_School") @ResourceCache.Localize("Admission")</span></p>
        <ul class="list-unstyled" style="line-height: 2">
            <li>@ResourceCache.Localize("1Register_user")</li>
            <li>@ResourceCache.Localize("2Login")</li>
            <li>@ResourceCache.Localize("3Fill_the_Admission_Form")</li>
            <li>@ResourceCache.Localize("4Upload_Student_&_Parent_Details")</li>
            <li>@ResourceCache.Localize("5Attach_Files")</li>
            <li>@ResourceCache.Localize("6Track_Application_Status")</li>
        </ul>
        <p><a href="@Url.Action("Register", "OnlineRegister")" class="myButton3">@ResourceCache.Localize("RegisterNow")</a><a href="@Url.Action("Login", "OnlineRegister")" class="myButton3 login_margin">@ResourceCache.Localize("Login")</a></p>
           </div>
</div>
@if (ViewBag.Email == true && ViewBag.Sms == true && ViewBag.App == true)
{
  @Html.Partial("~/Views/OnlineRegister/PartialView_RegisterWithEmailAndMobileNo.cshtml")
}
else if (ViewBag.Email == true && ViewBag.Sms == true)
{
  @Html.Partial("~/Views/OnlineRegister/PartialView_RegisterWithEmailAndMobileNo.cshtml")
}
else if (ViewBag.App == true && ViewBag.Sms == true)
{
    @Html.Partial("~/Views/OnlineRegister/PartialView_RegisterWithEmailAndMobileNo.cshtml")
}
else if (ViewBag.Email == true || ViewBag.App == true)
{
   @Html.Partial("~/Views/OnlineRegister/PartialView_RegisterWithEmail.cshtml")
}
else if (ViewBag.Sms == true)
{
   @Html.Partial("~/Views/OnlineRegister/PartialView_RegisterWithMobile.cshtml")
}
@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fa-pencil-square-o').hide();
            $("input").keypress(function (evt) {
                var charCode = evt.charCode || evt.keyCode;
                if (charCode == 13) { //Enter key's keycode
                    return false;
                }
            });
            $('#passwords').filter_input({ regex: '[0-9A-Za-z \\.]' });
            $('#repasswords').filter_input({ regex: '[0-9A-Za-z \\.]' });
            $('#Captcha').filter_input({ regex: '[0-9]' });
            //$(".Sibling").change(function (event) {
            //    var pri = $('input[name=SiblingStudy]:checked').val();
            //    alert("pri" = pri);
            //    if (pri == "No") {
            //        $('#NewUser').show();
            //        $('#ExitsUser').hide();
            //        $('#BtnReg').show();
            //        $('#BtnGet').hide();
            //        $('#Cancel').show();
            //        $('#CaptCha1').show();
            //        $('#Err').hide();
            //        $('#successmsg').hide();
            //        alert("no");
            //    }
            //    else {
            //        $('#NewUser').hide();
            //        $('#ExitsUser').show();
            //        $('#BtnGet').show();
            //        $('#BtnReg').hide();
            //        $('#Cancel').show();
            //        $('#CaptCha1').show();
            //        $('#Err').hide();
            //        $('#successmsg').hide();
            //        alert("yes");
            //    }
            //});
            $("input[name='SiblingStudy']").change(function () {
                if ($('input:radio[name=SiblingStudy]:checked').val() == "Yes") {
                    //alert($('input:radio[name=SiblingStudy]:checked').val());
                    ////$('#select-table > .roomNumber').attr('enabled',false);
                    $('#NewUser').hide();
                            $('#ExitsUser').show();
                            $('#BtnGet').show();
                            $('#BtnReg').hide();
                            $('#Cancel').show();
                            $('#CaptCha1').show();
                            $('#Err').hide();
                            $('#successmsg').hide();
                            $('#StudentId').val("");
                           
                }
                if ($('input:radio[name=SiblingStudy]:checked').val() == "No") {
                    $('#NewUser').show();
                            $('#ExitsUser').hide();
                            $('#BtnReg').show();
                            $('#BtnGet').hide();
                            $('#Cancel').show();
                            $('#CaptCha1').show();
                            $('#Err').hide();
                            $('#successmsg').hide();
                            $('#Username').val("");
                            $('#passwords').val("");
                            $('#repasswords').val("");
                }
            });



            $("#BtnGet").click(function (event) {
                $('#Err').hide();
                var a = [];
                var flags = 0;
                var sid = $('#StudentId').val();
                if (sid == "") {
                    flags = 1;
                    a.push('@ResourceCache.Localize("StudentId_(or)_ParentId_is_required")');
                }
                var cat = $('#Captcha').val();
                if (cat == "" || cat == null) {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Captcha_is_required")');
                }
                if (a.length != 0) {
                    $('#successmsg').hide();
                    $('#Err').show();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $("#divStudent").hide();
                    $('#errormsg').hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
                if (flags == 0) {
                    return true;
                }
                else {
                    return false;
                }
            });
        });
    </script>
}