﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.M_GetFlagDetails>
@{
    ViewBag.Title = "Reject";
    Layout = "~/Views/Shared/RegisterAfterLogin.cshtml";
}
<fieldset class="alert-danger ">
    <div class="email-body-content">
        <div class="text-email">
            <h3 class="h3-email">
               @ResourceCache.Localize("Hi") @Model.FirstOrDefault().PrimaryUserName
            </h3>
        </div>
        <div class="text-email">
            <div class="margin-content3">
                @ResourceCache.Localize("We_regret_to_inform_you_that_the_application")<a class="alert-link"> Application Number =@Model.FirstOrDefault().ApplicationNo
                <br />
                @ResourceCache.Localize("StudentName"):@Model.FirstOrDefault().StudentName <br/>@ResourceCache.Localize("AcademicYear"):@Model.FirstOrDefault().Txt_Academicyear <br/> @ResourceCache.Localize("Class"):@Model.FirstOrDefault().Txt_class<br/> </a>
                @ResourceCache.Localize("have_been_quieted ")
            </div>
        </div>
        <div id="Div_homePage" class="col-xs-3">
            @Html.ActionLink(ResourceCache.Localize("GoToHomePage"), "HomePage", "OnlineRegister", new { Id = ViewBag.Regid, Sid = ViewBag.sid }, null)
        </div>
    </div>
</fieldset>