﻿@using eAcademy.Models;
@{
    Layout = null;
    var k = 0;
}
@model IEnumerable<eAcademy.Models.M_StudentRegisteration>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ResourceCache.Localize("Admission Form")</title>
    <meta name="viewport" content="width=device-width">
    <link href="~/css/OnlineRegisterCss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/OnlineRegisterCss/font-awesome.min1.css" rel="stylesheet" />
    <link href="~/css/print.css" rel="stylesheet" media="print" />
    <link href="~/css/OnlineRegisterCss/preadmission.css" rel="stylesheet" />
    <link href="~/css/OnlineRegisterCss/step-form.css" rel="stylesheet" />
    <link href="~/css/OnlineRegisterCss/form-one.css" rel="stylesheet" />
    <link href="~/css/OnlineRegisterCss/form-one2.css" rel="stylesheet" />
    <link href="~/css/OnlineRegisterCss/font-awesome.min.css" rel="stylesheet" />   
    <style type="text/css">
        td {
            padding-top: 20px;
            padding-bottom: 20PX;
            padding-left: 15px;
            WIDTH: 533px;
            font-size: 14px;
            font-weight: 500;
        }

        th {
            width: 166px;
            padding-left: 15px;
            font-size: 14px;
            font-weight: 600;
        }

        .td1 {
            width: 120px;
            text-align: center;
            font-family: 'Times New Roman';
            font-size: 28px;
            font-weight: 800;
        }

        .forms {
            padding-bottom: 5px;
        }

        .forms1 {
            padding-top: 20px;
            padding-left: 15px;
            width: 25%;
            font-size: 25px;
            font-weight: 500;
            position: relative;
            float: left;
            font-family: 'Times New Roman';
        }


        .forms2 {
            padding-top: 20px;
            margin-left: 25px;
            font-size: 25px;
            padding-right: 15px;
            width: 65%;
            position: relative;
            float: left;
            font-weight: 600;
            font-family: 'Times New Roman';
        }

        .container {
            width: 1260px;
        }

        .studentphoto {
            position: absolute;
            right: 25px;
            border: 3px solid gray;
            margin-top: 20px;
        }

        .schoollogo1 {
            position: absolute;
            left: 60px;
            margin-top: 30px;
        }

        .s1 {
            position: absolute;
            right: 35px;
            font-size: 25px;
            margin-top: 200px;
            font-style: normal;
            font-family: 'Times New Roman';
        }

        .formheading {
            /*color:#7B278E;*/
            font-size: 50px;
        }

        .address {
            font-size: 25px;
            padding-bottom: 10px !important;
            padding-top: 10px !important;
            font-family: 'Times New Roman';
        }

        body {
            background: transparent !important;
            border: 1px solid gray;
        }

        .widget {
            margin-top: -90px !important;
        }

        hr {
            border: 1px solid gray;
            width: auto;
        }

        .sideheading {
            text-align: left;
        }

        .colon {
            width: 75%;
            padding-right: 60px;
            padding-left: 60px;
        }

        u {
            height: 3px;
        }
    </style>
</head>
<body>
    <div class="main-tab-form2">
        <section id="intro">
            <div class="main ">
                <div class="main-inner">
                    <div class="container">
                        <div class="row">
                            <div class=" col-lg-12 col-lg-offset-0 span12">
                                <div class="widget">
                                    <div class="schoollogo1 img-responsive img-thumbnail">
                                        <img src="~/img/logo.png" alt="School logo" width="100" height="110" />
                                    </div>
                                    <div class="formheading"><center><h1><b>@Session["SSchoolName"]</b></h1></center> </div>
                                    <div class="address">
                                        <center>@Session["SchoolAddress1"], @Session["SchoolCity"], @Session["SchoolCountry"], @Session["SchoolPincode"].</center>
                                    </div>
                                    <div class="address">
                                        <center>Ph:+ @Session["SchoolPhone"]  Fax: +@Session["SchoolFax"]</center>
                                    </div>
                                    <hr>
                                    <div class="formheading">
                                        <center><h2><b><u>@ResourceCache.Localize("AdmissionForm")</u></b></h2></center>
                                    </div>
                                    <!-- /widget-header -->
                                    <div class="widget-content">
                                        <div class="tabbable">
                                            <br>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="jscontrols">
                                                    <form id="edit-profile2" class="form-vertical">
                                                        <fieldset id="fieldset-border">
                                                            <div id="show" class=" col-lg-offset-0 col-lg-12">
                                                                <div class="">
                                                                    <div class="studentphoto img-responsive img-thumbnail"><img id="img1" src="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().StudentPhoto.ToString()" width="150" height="160"></div>
                                                                    <div class="s1"><label>@ResourceCache.Localize("StudentPhoto")</label></div>
                                                                    <div class="row">
                                                                        <div class="margin-content3 col-lg-6">
                                                                            <center><h2><b><u>@ResourceCache.Localize("StudentDetails")</u></b></h2></center>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("ApplicationNumber")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Stuadmissionid</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("FirstName")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().StuFirstName</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("MiddleName")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().StuMiddlename</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("LastName")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().StuLastname</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Gender")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Gender</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("DateOfBirth")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_dob</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("PlaceOfBirth")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().PlaceOfBirth</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Community")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_community</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Religion")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Religion</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Nationality")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Nationality</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("BloodGroup")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_bloodgroup</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("AcademicYear")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_academicyear</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("ApplyClass")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_ApplyClass</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("ThePrimaryUser")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().PrimaryUser</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("FatherName")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().FatherFirstName</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("FatherOccupation")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().FatherOccupation</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Father_Mobile_Number")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().FatherMobileNo</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Father_Email_Address")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().FatherEmail</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("MotherName")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().MotherFirstname</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("MotherOccupation")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().MotherOccupation</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Mother_Mobile_Number")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().MotherMobileNo</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Mother_Email_Address")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().MotherEmail</div>
                                                                    </div>
                                                                    <div class="row ">
                                                                        <div class="margin-content3 col-lg-6">
                                                                            <center><h2><b><u>@ResourceCache.Localize("Parent/Guardian_working_details")</u></b></h2></center>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("CompanyName")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().UserCompanyname</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("Office_Contact_Number")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().CompanyContact</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("AddressLine1")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().CompanyAddress1</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("AddressLine2")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().CompanyAddress2</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("City")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().CompanyCity</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("State")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().CompanyState</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Country")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_ComCountry</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("PostalCode")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().CompanyPostelcode</div>
                                                                    </div>

                                                                    @if (Model.FirstOrDefault().GuardianRequried == "Yes")
                                                                    {
                                                                        <div class="row ">
                                                                            <div class="margin-content3 col-lg-6">
                                                                                <table class="table-responsive"><thead><tr><td class="td1">@ResourceCache.Localize("Guardiandetails")</td></tr></thead></table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row ">
                                                                            <div class="margin-content3 col-lg-6">
                                                                                <center><h2><b><u>@ResourceCache.Localize("Guardiandetails")</u></b></h2></center>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row forms ">
                                                                            <div class=" forms1">@ResourceCache.Localize("GuardianName")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianFirstname</div>
                                                                        </div>
                                                                        <div class="row forms ">
                                                                            <div class=" forms1">@ResourceCache.Localize("Guardian_Last_Name")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianLastName</div>
                                                                        </div>
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("Gender")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianGender</div>
                                                                        </div>
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("Qualification")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianQualification</div>
                                                                        </div>
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("MobileNumber")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianMobileNo</div>
                                                                        </div>
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("EmailAddress")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianEmail</div>
                                                                        </div>
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("Occupation")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianOccupation</div>
                                                                        </div>
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("AnnualIncome")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().GuardianIncome</div>
                                                                        </div>
                                                                    }
                                                                    <div class="row forms margin-content3">
                                                                        <div class="col-lg-6">
                                                                            <center><h2><b><u>@ResourceCache.Localize("CommunicationDetails")</u></b></h2></center>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("AddressLine1")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().LocAddress1</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("AddressLine2")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().LocAddress2</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("City")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().LocCity</div>
                                                                    </div>
                                                                    <div class="row forms ">
                                                                        <div class=" forms1">@ResourceCache.Localize("State")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().LocState</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Country")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().txt_LocCountry</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("PostalCode") </div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().LocPostelcode</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("StudentEmailAddress")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Email</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("StudentMobileNumber")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Contact</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Distance")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().Distance</div>
                                                                    </div>
                                                                    <div class="row forms margin-content3">
                                                                        <div class="col-lg-6">
                                                                            <center><h2><b><u>@ResourceCache.Localize("EmergencyContactDetails")</u></b></h2></center>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Name")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().EmergencyContactPersonName</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("Relationship_with_the_Student")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().ContactPersonRelationship</div>
                                                                    </div>
                                                                    <div class="row forms">
                                                                        <div class=" forms1">@ResourceCache.Localize("ContactNumber")</div>
                                                                        <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().EmergencyContactNumber</div>
                                                                    </div>
                                                                    @{
                                                                        var id = Model.FirstOrDefault().NoOfSbling;
                                                                        <input type="text" id="siblings_pdf" name="siblings_pdf" value="@Model.FirstOrDefault().NoOfSbling" style="display:none">
                                                                        <input type="text" id="Onlineregid" name="Onlineregid" value="@Model.FirstOrDefault().OnlineRegid" style="display:none">
                                                                        <input type="text" id="stuAdmissionId" name="stuAdmissionId" value="@Model.FirstOrDefault().Stuadmissionid" style="display:none">
                                                                        <div class="row forms">
                                                                            <div class=" forms1">@ResourceCache.Localize("NumberOfSiblings")</div>
                                                                            <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().NoOfSbling</div>
                                                                        </div>
                                                                        if (id != 0)
                                                                        {
                                                                            <input type="text" id="Onlineregid" name="Onlineregid" value="@Model.FirstOrDefault().OnlineRegid" style="display:none">
                                                                            <input type="text" id="stuAdmissionId" name="stuAdmissionId" value="@Model.FirstOrDefault().Stuadmissionid" style="display:none">
                                                                            <div class="col-md-12 margin-content3 table-responsive" id="Div_Sibling" style="display:none;">
                                                                                <table class="table table-bordered table-hover table-sortable" id="Siblingtable_Pdf">
                                                                                    <tbody>
                                                                                        <tr class="padding-right-content">
                                                                                            <th class="text-center">@ResourceCache.Localize("Student_Register_Id")</th>
                                                                                            <th class="text-center">@ResourceCache.Localize("StudentId")</th>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        }
                                                                        var work = Model.FirstOrDefault().WorkSameSchool;
                                                                        if (work == "Yes")
                                                                        {
                                                                            <div class="row forms">
                                                                                <div class=" forms1">@ResourceCache.Localize("Are_you/spouse_employeed_here?")</div>
                                                                                <div class="forms2"><span class="colon">:</span>@ResourceCache.Localize("Yes")</div>
                                                                            </div>
                                                                            <div class="row forms">
                                                                                <div class=" forms1">@ResourceCache.Localize("EmployeeDesignation")</div>
                                                                                <div class="forms2"><span class="colon">:</span>@ViewBag.EmployeeDesignation</div>
                                                                            </div>
                                                                            <div class="row forms">
                                                                                <div class=" forms1">@ResourceCache.Localize("EmployeeId")</div>
                                                                                <div class="forms2"><span class="colon">:</span>@Model.FirstOrDefault().EmployeeId</div>
                                                                            </div>

                                                                        }
                                                                        else if (work == "No")
                                                                        {
                                                                            <div class="row forms">
                                                                                <div class=" forms1">@ResourceCache.Localize("Are_you/spouse_employeed_here?")</div>
                                                                                <div class="forms2"><span class="colon">:</span>@ResourceCache.Localize("No")</div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            @{
                                                                var ss = Model.FirstOrDefault().txt_ApplyClass;
                                                                if (ss != "PreKG")
                                                                {
                                                                    <div id="">
                                                                        <div class="row col-lg-12 margin-content6">
                                                                            <div class="col-lg-6">
                                                                                <center><h2><b><u>@ResourceCache.Localize("PreviousSchoolInformation")</u></b></h2></center>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row col-lg-12 margin-content6">
                                                                            <div class="">
                                                                                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                                                                    <tbody>
                                                                                        <tr class="">
                                                                                            <th class="text-center">@ResourceCache.Localize("SchoolName")</th>
                                                                                            <th class="text-center">@ResourceCache.Localize("Medium")</th>
                                                                                            <th class="text-center">@ResourceCache.Localize("Class")</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><input type="text" id="Txt_PreSchoolName" name="Txt_PreSchoolName" value="@Model.FirstOrDefault().PreSchool"></td>
                                                                                            <td><input type="text" id="Txt_PreMedium" name="Txt_PreMedium" value="@ViewBag.previousBoardtxt"></td>
                                                                                            <td><input type="text" id="Txt_PreClass" name="Txt_PreClass" value="@ViewBag.previousclass_text"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                            <div class="row forms">
                                                                <div class=" forms1">
                                                                    @ResourceCache.Localize("Communication")
                                                                </div>
                                                                @if ((ViewBag.Email == true && ViewBag.Sms == true && ViewBag.App == true) || (ViewBag.Email == true && ViewBag.Sms == true) || (ViewBag.Sms == true && ViewBag.App == true))
                                                                {
                                                                    <div class="forms2">
                                                                        @if (Model.FirstOrDefault().SmsRequired == true && Model.FirstOrDefault().EmailRequired == true)
                                                                        {
                                                                           <span class="colon">:</span>@ResourceCache.Localize("Email")<span>,</span> @ResourceCache.Localize("SMS");
                                                                        }
                                                                        else if (Model.FirstOrDefault().EmailRequired == true)
                                                                        {
                                                                        <span class="colon">:</span>@ResourceCache.Localize("Email")
                                                                        }
                                                                        else if (Model.FirstOrDefault().SmsRequired == true)
                                                                        {
                                                                        <span class="colon">:</span>@ResourceCache.Localize("SMS")
                                                                        }

                                                                    </div>

                                                                }
                                                                else if (ViewBag.Email == true || ViewBag.App == true)
                                                                {
                                                                    <div class="forms2">
                                                                        <span class="colon">:</span>@ResourceCache.Localize("Email")
                                                                    </div>
                                                                }
                                                                else if (ViewBag.Sms == true)
                                                                {
                                                                    <div class="forms2">
                                                                        <span class="colon">:</span>@ResourceCache.Localize("SMS")
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="row forms">
                                                                <div class=" forms1">@ResourceCache.Localize("Transport_Requied")</div>
                                                                @if (Model.FirstOrDefault().TransportRequired == true)
                                                                {
                                                                    <div class="forms2"><span class="colon">:</span>@ResourceCache.Localize("Yes")</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="forms2"><span class="colon">:</span>@ResourceCache.Localize("No")</div>
                                                                }

                                                            </div>
                                                            @if (Model.FirstOrDefault().TransportRequired == true)
                                                            {
                                                                <div class="col-md-12 margin-content3 table-responsive">
                                                                    <table class="table table-bordered table-hover table-sortable">
                                                                        <tbody>
                                                                            <tr class="padding-right-content">
                                                                                <th class="text-center">@ResourceCache.Localize("Destination")</th>
                                                                                <th class="text-center">@ResourceCache.Localize("PickPoint")</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>@ViewBag.TransportDestination</td>
                                                                                <td>@ViewBag.TransportPickpoint</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            }
                                                            <div class="row forms">
                                                                <div class=" forms1">@ResourceCache.Localize("Hostel_Required")</div>
                                                                @if (Model.FirstOrDefault().HostelRequired == true)
                                                                {

                                                                    <div class="forms2"><span class="colon">:</span>@ResourceCache.Localize("Yes")</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="forms2"><span class="colon">:</span>@ResourceCache.Localize("No")</div>
                                                                }
                                                            </div>
                                        
                                                @if (Model.FirstOrDefault().HostelRequired == true)
                                                {
                                                    <div class="col-md-12 margin-content3 table-responsive">
                                                        <table class="table table-bordered table-hover table-sortable">
                                                            <tbody>
                                                                <tr class="padding-right-content">
                                                                    <th class="text-center">@ResourceCache.Localize("Cap_FEECATEGORY")</th>
                                                                    <th class="text-center">@ResourceCache.Localize("Sub_fee_category")</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>@ResourceCache.Localize("Food")</td>
                                                                    <td>@ViewBag.FoodSubCategory</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>@ResourceCache.Localize("Accomodation")</td>
                                                                    <td>@ViewBag.AccomSubCategory</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                }
                                                @{
                                                    if (Model != null)
                                                    {
                                                        k = 1;
                                                        <input type="hidden" id="Pdf_page" name="Pdf_page" value="@k" />
                                                    }
                                                }
                                                </fieldset>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /widget-content -->
                        </div> <!-- /widget -->
                    </div> <!-- /span8 -->
                </div> <!-- /row -->
            </div> <!-- /container -->
        </section>
    </div> <!-- /main-inner -->
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/OnlineRegisterJs/jquery.min.js"></script>
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/jquery-ui1.js"></script>
    <script src="~/js/OnlineRegisterJs/Registerform.js"></script>
</body>
</html>