﻿@using eAcademy.Models;
@model IEnumerable<eAcademy.Models.M_StudentRegisteration>
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/RegisterAfterLogin.cshtml";
    string formtype = "ApplicationForm1";
}
<style>
    #img1 {
        width: 99px;
        height: 118px;
    }
    .FormAlignment{
       margin-left:-14px;
   }
    .box_border{
        border: 1px solid rgb(235, 235, 234);
    }
    .center1{
        margin-left:auto !important;
        margin-right:auto !important;
        text-align:center;
        margin:10px 0px 0px 0px;
    }

</style>
<div class="main-tab-form2">
    <section id="intro">
        <div class="main ">
            <div class="main-inner">
                <div class="container">
                    <div class="row Report_page">
                        <div class=" col-lg-12 FormAlignment">
                            <form id="edit-profile2" class="form-vertical" action="@Url.Action("PDF2", "OnlineRegister")" method="post">
                                <div class="widget ">
                                    <div class="widget-header">
                                        <i id="1" class="fa fa-child fa-2x"></i>
                                        <h3>@ResourceCache.Localize("AdmissionForm")</h3>
                                    </div> <!-- /widget-header -->
                                    <div class="widget-content box_border">
                                        <div class="tabbable">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="jscontrols">
                                                    <fieldset id="fieldset-border">
                                                        <input type="hidden" id="OnlineRegid" name="OnlineRegid" value="@Model.FirstOrDefault().OnlineRegid">
                                                        <input type="hidden" id="Stuadmissionid" name="Stuadmissionid" value="@Model.FirstOrDefault().Stuadmissionid">
                                                        <div class=" box-body" >
                                                            <div class="alert alert-info alert-dismissable" >
                                                                <b>@ResourceCache.Localize("Info")</b>
                                                                <ul>
                                                                    <li>@ResourceCache.Localize("Checkabovedetails")</li>
                                                                    @{
                                                                        formtype = @ViewBag.formformat;
                                                                    }
                                                                    @*<li><button type="button" onclick="location.href='@Html.ActionLink("", formtype, "OnlineRegister", new { Id = Model.FirstOrDefault().OnlineRegid }, new { @class = "enroll red" })'" >Click here</button>to update your details</li>*@                                                                    
                                                                    <li><button type="submit" id="Pdf" name="Pdf" class="btn-success">@ResourceCache.Localize("Clickhere")</button>@ResourceCache.Localize("to_Generate_Pdf")</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class=" pull-right"><img id="img1" src="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().StudentPhoto.ToString()"  width="100" height="100" /></div>
                                                        <div class="col-lg-offset-1 col-lg-8">

                                                            <div class="row col-lg-12">
                                                                <center><label id="3"><b>@ResourceCache.Localize("StudentDetails")</b></label></center>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("ApplicationNumber")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="ApplicationNumber" name="ApplicationNumber" value="@Model.FirstOrDefault().Stuadmissionid">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("FirstName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="StuFirstname" name="StuFirstname" value="@Model.FirstOrDefault().StuFirstName">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("MiddleName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="StuMiddlename" name="StuMiddlename" value="@Model.FirstOrDefault().StuMiddlename">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("LastName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="StuLastname" name="StuLastname" value="@Model.FirstOrDefault().StuLastname">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Gender")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="Gen" name="Gen" value="@Model.FirstOrDefault().Gender">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("DateOfBirth")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="DOB" name="DOB" value="@Model.FirstOrDefault().txt_dob">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("PlaceOfBirth")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="PlaceOfBirth" name="PlaceOfBirth" value="@Model.FirstOrDefault().PlaceOfBirth">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Community")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="Community" name="Community" value="@Model.FirstOrDefault().txt_community">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Religion")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="Religion" name="Religion" value="@Model.FirstOrDefault().Religion">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Nationality")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="Nationality" name="Nationality" value="@Model.FirstOrDefault().Nationality">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("AcademicYear")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="AcademicyearId" name="AcademicyearId" value="@Model.FirstOrDefault().txt_academicyear" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("ClassForAdmission")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="ApplyClass" name="ApplyClass" value="@Model.FirstOrDefault().txt_ApplyClass" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("BloodGroup")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="BloodGroup" name="BloodGroup" value="@Model.FirstOrDefault().txt_bloodgroup" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Height")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="BloodGroup" name="BloodGroup" value="@Model.FirstOrDefault().Height" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Weight")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="BloodGroup" name="BloodGroup" value="@Model.FirstOrDefault().Weights" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("IdentificationMark")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="BloodGroup" name="BloodGroup" value="@Model.FirstOrDefault().IdentificationMark" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <center><label id="3"><b>@ResourceCache.Localize("ParentsDetails")</b></label></center>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3 ">
                                                                <div class="col-lg-6">
                                                                    <label id="2">@ResourceCache.Localize("PrimaryUser")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="Primary" name="Primary" value="@Model.FirstOrDefault().PrimaryUser" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("FatherFirstName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FatherFirstname" name="FatherFirstname" value="@Model.FirstOrDefault().FatherFirstName">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Father_Last_Name")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FatherLastName" name="FatherLastName" value="@Model.FirstOrDefault().FatherLastName">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("FatherOccupation")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FatherOccupation" name="FatherOccupation" value="@Model.FirstOrDefault().FatherOccupation">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("FatherDOB")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FatherDOB1" name="FatherDOB1 " value="@Model.FirstOrDefault().txt_Fatherdob">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Father_Qualification")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FatherOccupation" name="FatherOccupation" value="@Model.FirstOrDefault().FatherQualification">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Father_Mobile_Number")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FatherContact" name="FatherContact" value="@Model.FirstOrDefault().FatherMobileNo">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Father_Email_Address")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FartherEmail" name="FartherEmail" value="@Model.FirstOrDefault().FatherEmail">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("MotherFirstName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherFirstname" name="MotherFirstname" value="@Model.FirstOrDefault().MotherFirstname">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Mother_Last_Name")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherLastName" name="MotherLastName" value="@Model.FirstOrDefault().MotherLastName">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("MotherDOB")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherDOB1" name="MotherDOB1" value="@Model.FirstOrDefault().txt_Motherdob">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Mother_Qualification")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherQualification" name="MotherQualification" value="@Model.FirstOrDefault().MotherQualification">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("MotherOccupation")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherOccupation" name="MotherOccupation" value="@Model.FirstOrDefault().MotherOccupation">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Mother_Mobile_Number")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherContact" name="MotherContact" value="@Model.FirstOrDefault().MotherMobileNo">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Mother_Email_Address")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherEmail" name="MotherEmail" value="@Model.FirstOrDefault().MotherEmail">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("TotalIncome")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="MotherEmail" name="MotherEmail" value="@Model.FirstOrDefault().TotalIncome">
                                                                </div>
                                                            </div>
                                                            @{
                                                                var work = Model.FirstOrDefault().WorkSameSchool;
                                                                if (work == "Yes")
                                                                {
                                                                    <div class="row col-lg-12  margin-content3">
                                                                        <div class="col-lg-6">
                                                                            <label id="7">@ResourceCache.Localize("Are_you/spouse_employeed_here?")</label>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" readonly value="Yes" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="row margin-content3 col-lg-12 ">
                                                                        <div class="col-lg-6">
                                                                            <label>@ResourceCache.Localize("EmployeeDesignation") </label>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" id="EmployeeDesignationId" name="EmployeeDesignationId" value="@ViewBag.EmployeeDesignation" readonly />
                                                                        </div>
                                                                    </div>
                                                                    <div class="row margin-content3 col-lg-12 ">
                                                                        <div class="col-lg-6">
                                                                            <label>@ResourceCache.Localize("EmployeeId")</label>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" id="EmployeeId" name="EmployeeId" value="@Model.FirstOrDefault().EmployeeId" readonly />
                                                                        </div>
                                                                    </div>

                                                                }
                                                                else if (work == "No")
                                                                {<div class="row col-lg-12  margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label id="7">@ResourceCache.Localize("Are_you/spouse_employeed_here?")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input type="text" readonly value="No" />
                                                                    </div>
                                                                </div>
                                                                }
                                                            }

                                                            <div class="row col-lg-12 margin-content3">
                                                                <center><label id="3"><b>@ResourceCache.Localize("WorkDetails")</b></label></center>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label id="3">@ResourceCache.Localize("CompanyName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FaCompanyAddress1" name="FaCompanyAddress1" value="@Model.FirstOrDefault().UserCompanyname">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("WorkContactNumber")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="CompanyContact" name="CompanyContact" value="@Model.FirstOrDefault().CompanyContact">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("AddressLine1")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FaCompanyAddress1" name="FaCompanyAddress1" value="@Model.FirstOrDefault().CompanyAddress1">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("AddressLine2")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FaCompanyAddress2" name="FaCompanyAddress2" value="@Model.FirstOrDefault().CompanyAddress2">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("City")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FaCompanyCity" name="FaCompanyCity" value="@Model.FirstOrDefault().CompanyCity">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("State")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FaCompanyState" name="FaCompanyState" value="@Model.FirstOrDefault().CompanyState">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class=" col-lg-6">
                                                                    <label>@ResourceCache.Localize("Country")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="FaCompanyCountry" name="FaCompanyCountry" value="@Model.FirstOrDefault().txt_ComCountry">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class=" col-lg-6">
                                                                    <label>@ResourceCache.Localize("PostalCode")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input readonly type="text" id="CompanyPostelcode" name="CompanyPostelcode" value="@Model.FirstOrDefault().CompanyPostelcode">
                                                                </div>
                                                            </div>
                                                            @if (Model.FirstOrDefault().GuardianRequried == "Yes")
                                                            {
                                                                <div class="row col-lg-12 margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("GuardianFirstName") </label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianName" name="GuardianName" value="@Model.FirstOrDefault().GuardianFirstname">
                                                                    </div>
                                                                </div>
                                                                <div class="row col-lg-12 margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("Guardian_Last_Name") </label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianName" name="GuardianName" value="@Model.FirstOrDefault().GuardianLastName">
                                                                    </div>
                                                                </div>
                                                                <div class="row col-lg-12 margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("GuardianDOB") </label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianName" name="GuardianName" value="@Model.FirstOrDefault().txt_Guardiandob">
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-content3 col-lg-12 ">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("RelationshipToStudent")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="relationShiptochild" name="relationShiptochild" value="@Model.FirstOrDefault().GuRelationshipToChild">
                                                                    </div>
                                                                </div>
                                                                <div class="row col-lg-12 margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("Gender")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="Gender" name="Gender" value="@Model.FirstOrDefault().GuardianGender">
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-content3 col-lg-12 ">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("Qualification")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianQualification" name="GuardianQualification" value="@Model.FirstOrDefault().GuardianQualification">
                                                                    </div>
                                                                </div>
                                                                <div class="row col-lg-12 margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("MobileNumber")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianContact" name="GuardianContact" value="@Model.FirstOrDefault().GuardianMobileNo">
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-content3 col-lg-12 ">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("EmailAddress")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianEmail" name="GuardianEmail" value="@Model.FirstOrDefault().GuardianEmail">
                                                                    </div>
                                                                </div>
                                                                <div class="row col-lg-12 margin-content3">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("Occupation")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input readonly type="text" id="GuardianOccupation" name="GuardianOccupation" value="@Model.FirstOrDefault().GuardianOccupation">
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-content3 col-lg-12 ">
                                                                    <div class="col-lg-6">
                                                                        <label>@ResourceCache.Localize("AnnualIncome")</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input type="text" id="GuardianIncome" name="GuardianIncome" value="@Model.FirstOrDefault().GuardianIncome">
                                                                    </div>
                                                                </div>
                                                            }
                                                            <div class="row col-lg-12 margin-content3">
                                                                <center><label id="3"><b>@ResourceCache.Localize("CommunicationDetails")</b></label></center>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label id="5">@ResourceCache.Localize("MailingAddress")</label>
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label id="5">@ResourceCache.Localize("AddressLine1")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocAddress1" name="LocAddress1" value="@Model.FirstOrDefault().LocAddress1">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("AddressLine2")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocAddress2" name="LocAddress2" value="@Model.FirstOrDefault().LocAddress2">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("City")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocCity" name="LocCity" value="@Model.FirstOrDefault().LocCity">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("State")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocState" name="LocState" value="@Model.FirstOrDefault().LocState">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Country")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly value="@Model.FirstOrDefault().txt_LocCountry" />
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("PostalCode")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocPostelcode" name="LocPostelcode" value="@Model.FirstOrDefault().LocPostelcode">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("StudentEmailAddress")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocPostelcode" name="LocPostelcode" value="@Model.FirstOrDefault().Email">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("StudentMobileNumber")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocPostelcode" name="LocPostelcode" value="@Model.FirstOrDefault().Contact">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Distance")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="Distance" name="Distance" value="@Model.FirstOrDefault().Distance">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <center><label id="5"><b>@ResourceCache.Localize("PermenantAddress")</b></label></center>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label id="5">@ResourceCache.Localize("AddressLine1")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocAddress1" name="LocAddress1" value="@Model.FirstOrDefault().PerAddress1">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("AddressLine2")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocAddress2" name="LocAddress2" value="@Model.FirstOrDefault().PerAddress2">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("City")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocCity" name="LocCity" value="@Model.FirstOrDefault().PerCity">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("State")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocState" name="LocState" value="@Model.FirstOrDefault().PerState">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Country")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly value="@Model.FirstOrDefault().txt_PerCountry" />
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("PostalCode")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="LocPostelcode" name="LocPostelcode" value="@Model.FirstOrDefault().PerPostelcode">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label id="6">@ResourceCache.Localize("EmergencyContactPersonName")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="EmergencyContactPersonName" name="EmergencyContactPersonName" value="@Model.FirstOrDefault().EmergencyContactPersonName">
                                                                </div>
                                                            </div>
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("RelationshipToStudent")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="ContactPersonRelationship" name="ContactPersonRelationship" value="@Model.FirstOrDefault().ContactPersonRelationship">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("ContactNumber")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly id="EmergencyContactNumber" name="EmergencyContactNumber" value="@Model.FirstOrDefault().EmergencyContactNumber">
                                                                </div>
                                                            </div>
                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Communication")</label>
                                                                </div>
                                                                @if ((ViewBag.Email == true && ViewBag.Sms == true && ViewBag.App == true) || (ViewBag.Email == true && ViewBag.Sms == true) || (ViewBag.Sms == true && ViewBag.App == true))
                                                                {


                                                                    <div class="col-lg-6">
                                                                        @if (Model.FirstOrDefault().SmsRequired == true && Model.FirstOrDefault().EmailRequired == true)
                                                                        {
                                                                         
                                                                            <input type="text" readonly value="SMS,Email">
                                                                        }
                                                                        else if (Model.FirstOrDefault().EmailRequired == true)
                                                                        {
                                                                         
                                                                            <input type="text" readonly value="Email">
                                                                        }
                                                                        else if (Model.FirstOrDefault().SmsRequired == true)
                                                                        {
                                                                           
                                                                            <input type="text" readonly value="SMS">
                                                                        }

                                                                    </div>

                                                                }
                                                                else if (ViewBag.Email == true || ViewBag.App == true)
                                                                {
                                                                    <div class="col-lg-6">
                                                                      
                                                                        <input type="text" readonly value="Email">
                                                                    </div>
                                                                }
                                                                else if (ViewBag.Sms == true)
                                                                {
                                                                    <div class="col-lg-6">
                                                                       
                                                                        <input type="text" readonly value="SMS">
                                                                    </div>
                                                                }
                                                            </div>

                                                            <div class="row col-lg-12 margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Transport_Required")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    @if (Model.FirstOrDefault().TransportRequired == true)
                                                                    {
                                                                        <input type="text" readonly id="Transport_Required" name="Transport_Required" value="Yes" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" readonly id="Transport_Required" name="Transport_Required" value="No" />
                                                                    }
                                                                </div>
                                                            </div>

                                                            @if (Model.FirstOrDefault().TransportRequired == true)
                                                            {
                                                                <div class="col-md-12 margin-content3 table-responsive">
                                                                    <table class="table table-bordered table-hover table-sortable">
                                                                        <tbody>
                                                                            <tr class="padding-right-content">
                                                                                <th class="text-center">@ResourceCache.Localize("Destination")</th>
                                                                                <th class="text-center">@ResourceCache.Localize("PickPoint")</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>@ViewBag.TransportDestination</td>
                                                                                <td>@ViewBag.TransportPickpoint</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            }
                                                            <div class="row margin-content3 col-lg-12 ">
                                                                <div class="col-lg-6">
                                                                    <label>@ResourceCache.Localize("Hostel_Required")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    @if (Model.FirstOrDefault().HostelRequired == true)
                                                                    {
                                                                        <input type="text" readonly id="Hostel_Required" name="Hostel_Required" value="Yes">
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" readonly id="Hostel_Required1" name="Hostel_Required1" value="No">
                                                                    }
                                                                </div>
                                                            </div>

                                                            @if (Model.FirstOrDefault().HostelRequired == true)
                                                            {
                                                                <div class="col-md-12 margin-content3 table-responsive">
                                                                    <table class="table table-bordered table-hover table-sortable">
                                                                        <tbody>
                                                                            <tr class="padding-right-content">
                                                                                <th class="text-center">@ResourceCache.Localize("Cap_FEECATEGORY")</th>
                                                                                <th class="text-center">@ResourceCache.Localize("Sub_fee_category")</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><label>@ResourceCache.Localize("Food")</label></td>
                                                                                <td><input type="text" readonly value="@ViewBag.FoodSubCategory"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><label>@ResourceCache.Localize("Accomodation")</label></td>
                                                                                <td><input type="text" readonly value="@ViewBag.AccomSubCategory"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            }
                                                            <div class="row col-lg-12  margin-content3">
                                                                <div class="col-lg-6">
                                                                    <label id="7">@ResourceCache.Localize("Number_Of_Siblings_Studying_In_This_School")</label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" readonly value="@Model.FirstOrDefault().NoOfSbling" />
                                                                </div>
                                                            </div>
                                                            @{
                                                                var id = Model.FirstOrDefault().NoOfSbling;
                                                                if (id != 0 && id != null)
                                                                {
                                                                    <input type="text" id="siblings_pdf" name="siblings_pdf" value="@Model.FirstOrDefault().NoOfSbling" style="display:none">
                                                                    <div class="col-md-12 margin-content3 table-responsive">
                                                                        <table class="table table-bordered table-hover table-sortable" id="Siblingtable">
                                                                            <tbody>
                                                                                <tr class="padding-right-content">
                                                                                    <th class="text-center">@ResourceCache.Localize("StudentRegisterId")</th>
                                                                                    <th class="text-center">@ResourceCache.Localize("StudentId")</th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <input type="text" id="Onlineregid" name="Onlineregid" value="@Model.FirstOrDefault().OnlineRegid" style="display:none">
                                                                        <input type="text" id="stuAdmissionId" name="stuAdmissionId" value="@Model.FirstOrDefault().Stuadmissionid" style="display:none">
                                                                    </div>
                                                                }                                                              
                                                            }
                                                            <div id="PreviousSchool_Report">
                                                                <div class="col-lg-5 margin-content3">
                                                                    <center><label><b>@ResourceCache.Localize("PreviousSchoolInformation")</b></label></center>
                                                                </div>
                                                                <div class="row clearfix">
                                                                    <div class="col-md-12  margin-content3 table-responsive">
                                                                        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                                                            <tbody>
                                                                                <tr class="">
                                                                                    <th class="text-center">@ResourceCache.Localize("SchoolName")</th>
                                                                                    <th class="text-center">@ResourceCache.Localize("Medium")</th>
                                                                                    <th class="text-center">@ResourceCache.Localize("Class")</th>                                                                                  
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><input type="text" readonly id="Txt_PreSchoolName" name="Txt_PreSchoolName" value="@Model.FirstOrDefault().PreSchool"></td>
                                                                                    <td><input type="text" readonly id="Txt_PreMedium" name="Txt_PreMedium" value="@ViewBag.previousBoardtxt"></td>
                                                                                    <td><input type="text" readonly id="Txt_PreClass" name="Txt_PreClass" value="@ViewBag.previousclass_text"></td>                                                                                   
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @{
                                                                <div class="row col-lg-12  margin-content3">
                                                                    <center><label id="3"><b>@ResourceCache.Localize("Upload_Certificate_Details")</b></label></center>
                                                                </div>
                                                                if (Model.FirstOrDefault().BirthCertificate != null)
                                                                {
                                                                    <div class="row col-lg-12  margin-content3">
                                                                        <div class=" col-lg-6">@ResourceCache.Localize("BirthCertificate")</div>
                                                                        <div class="col-lg-6">
                                                                            <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().BirthCertificate.ToString()">@ResourceCache.Localize("Click_to_view_birth_certificate")</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                if (Model.FirstOrDefault().CommunityCertificate != null)
                                                                {
                                                                    <div class="row col-lg-12  margin-content3">
                                                                        <div class=" col-lg-6">@ResourceCache.Localize("CC")</div>
                                                                        <div class="col-lg-6">
                                                                            <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().CommunityCertificate.ToString()" target="_blank">@ResourceCache.Localize("Click_to_view_community_certificate")</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                if (Model.FirstOrDefault().IncomeCertificate != null)
                                                                {
                                                                    <div class="row col-lg-12  margin-content3">
                                                                        <div class=" col-lg-6">@ResourceCache.Localize("IncomeCertificate")</div>
                                                                        <div class="col-lg-6">
                                                                            <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().IncomeCertificate.ToString()" target="_blank">@ResourceCache.Localize("Click_to_view_income_certificate")</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                if (Model.FirstOrDefault().TransferCertificate != null)
                                                                {
                                                                    <div class="row col-lg-12  margin-content3">
                                                                        <div class=" col-lg-6">@ResourceCache.Localize("TC")</div>
                                                                        <div class="col-lg-6">
                                                                            <a href="/Documents/@Model.FirstOrDefault().Stuadmissionid/@Model.FirstOrDefault().TransferCertificate.ToString()" target="_blank">@ResourceCache.Localize("Click_to_view_transfer_certificate")</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <div class=" box-body col-xs-12">
                                                            <div class="alert alert-info alert-dismissable">
                                                                <b>@ResourceCache.Localize("Info") </b>
                                                                <ul>
                                                                    <li>@ResourceCache.Localize("Checkabovedetails")</li>
                                                                    @{
                                                                        formtype = @ViewBag.formformat;
                                                                    }
                                                                    @*<li><button type="button" onclick="location.href='@Html.ActionLink("", formtype, "OnlineRegister", new { Id = Model.FirstOrDefault().OnlineRegid }, new { @class = "enroll red" })'" >Click here</button>to update your details</li>*@                                                                    
                                                                    <li><button type="submit" id="Pdf2" name="Pdf2" class="btn-success">@ResourceCache.Localize("Clickhere")</button>@ResourceCache.Localize("to_Generate_Pdf")</li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /widget-content -->
                                </div> <!-- /widget -->
                                <div class="row  col-xs-12">
                                    @*<div class="center1">
                                        <button type="submit" id="Pdf" name="Pdf" class="btn-success">GeneratePdf</button>
                                    </div>*@
                                    <div id="Div_homePage" class="center1" style="display:none;">
                                        @Html.ActionLink(ResourceCache.Localize("GoToHomePage"), "HomePage", "OnlineRegister", new { Id = ViewBag.Regid, Sid = ViewBag.sid }, null)
                                    </div>
                                </div>
                                @*<div id="myLoadingElement" class="loading1">
                    <p class="loading2">
                        Loading, please wait...<img src="~/Images/wheel.gif" alt="Loading..." />
                    </p>
                </div>*@
                                @*<div class="loader"></div>*@
                            </form>
                        </div> <!-- /span8 -->
                    </div> <!-- /row -->
                </div> <!-- /container -->
            </div> <!-- /main-inner -->
        </div> <!-- /main -->
    </section>
    @section scriptsContainer{
        <script type="text/javascript">
            $(document).ready(function () {
                //$("footer").removeClass("footer1").addClass("footer3");
                $('#Pdf').click(function () {
                    $('#Div_homePage').show();
                });
                $('#Pdf2').click(function () {
                    $('#Div_homePage').show();
                });
                //$("#edit-profile2").submit(function (e) {
                //    $("#myLoadingElement").show();
                //});
            });
        </script>
    }
    <!-- /main -->
</div>