﻿@using eAcademy.Models;
@{
    ViewBag.Title = "UserResetPassword";
    Layout = "~/Views/Shared/RegisterBeforLogin.cshtml";
}
<style>
    #Appendcaptcha span {
        width: 44px;
        font-size: 25px;
    }

    #Appendcaptcha input {
        background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
        margin: 5px 0 0;
        padding: 0;
        border: medium none;
        cursor: pointer;
        width: 15px;
    }
</style>
<div class="col-sm-6 ">
    <div class=" margin-content3">
        <p class="lead">@ResourceCache.Localize("Procedure_For_Applying_Forget")<span class="text-success">@ResourceCache.Localize("Password")</span></p>
        <ul class="list-unstyled" style="line-height: 2">
            <li>@ResourceCache.Localize("1Enter_New_Password")</li>
            <li>@ResourceCache.Localize("2Enter_Re-Enter_Password")</li>
            <li>@ResourceCache.Localize("3Update_New_Password")</li>
            <li>@ResourceCache.Localize("4Use_New_password_to_Login")</li>
        </ul>
        <p><a href="@Url.Action("Login", "OnlineRegister")" class="myButton3">@ResourceCache.Localize("Signin")</a></p>
    </div>
</div>
<div id="login-overlay" class="col-sm-6">
    <div class=" margin-content3">
        <p class="lead">@ResourceCache.Localize("Reset")<span class="text-success">@ResourceCache.Localize("Password")</span></p>
        <div class="col-xs-12" id="Err">
            @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
            @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
        </div>

        <form method="POST" action="@Url.Action("UserResetPassword", "OnlineRegister")" novalidate="novalidate">
            <input type="hidden" value="@ViewBag.uid" name="uid" id="uid">
            <div>
                <p class="control-label">@ResourceCache.Localize("NewPassword")</p>
                <input type="password" class="form-control current_button" id="passwords" name="passwords" value="" required="" placeholder="@ResourceCache.Localize("NewPassword")" title="@ResourceCache.Localize("Please_enter_your_new_password")" min="3" maxlength="20">
                <span class="help-block"></span>
            </div>
            <div>
                <p class="control-label">@ResourceCache.Localize("Re-Enter_Password ")</p>
                <input type="password" class="form-control current_button" id="repasswords" name="repasswords" value="" required="" placeholder="@ResourceCache.Localize("Re-Enter_Password ")" title="@ResourceCache.Localize("Please_enter_your_password")" min="3" maxlength="20">
                <span class="help-block"></span>
            </div>
           
            <div class="capt">
                <p class="control-label">@ResourceCache.Localize("Captcha")<span class="mandatory">*</span></p>
                <span id="Appendcaptcha"></span>
                <input type="text" id="Captcha" name="Captcha" class="newinput" placeholder="@ResourceCache.Localize("Enter_Security_Code")" required autocomplete="off" maxlength="5">
                @*@Html.Partial("~/Views/Shared/Captcha.cshtml")
                <a data-ajax="true" data-ajax-success="ForgetPassword" href="/OnlineRegister/UserResetPassword" class="cap-blk blk"><i class="fa fa-refresh"></i></a>*@
            </div>

            <div>
                <button type="submit" class="myButton2">@ResourceCache.Localize("UpdatePassword")</button>

                <a href="@Url.Action("Login", "OnlineRegister")" class="myButton">@ResourceCache.Localize("Cancel")</a>
            </div>


        </form>

    </div>

</div>

@section scriptsContainer{
    <script type="text/javascript">
        $(document).ready(function () {
            captchaCode();
            var cpsval;
            function captchaCode() {
                var Numb1, Numb2, Numb3, Numb4, Numb5, Code;
                Numb1 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb2 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb3 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb4 = (Math.ceil(Math.random() * 10) - 1).toString();
                Numb5 = (Math.ceil(Math.random() * 10) - 1).toString();
                Code = Numb1 + Numb2 + Numb3 + Numb4 + Numb5;
                $.getJSON('/Report/ChangeCaptchaValue', { Captchavalue: Code },
                      function (orderdetails) {
                      });
                cpsval = Code;
                $("#Appendcaptcha span").remove();
                $("#Appendcaptcha input").remove();
                $("#Appendcaptcha").append("<span id='code'>" + Code + "</span><input type='button' id='capchadesign' class='refreshcaptcha'/> ");  //onclick='captchaCode();
            }
            $(document).on('click', '.refreshcaptcha', function () {
                captchaCode();
            });
        $('.fa-pencil-square-o').hide();
        $("input").keypress(function (evt) {
            //Deterime where our character code is coming from within the event
            var charCode = evt.charCode || evt.keyCode;
            if (charCode == 13) { //Enter key's keycode
                return false;
            }
        });
        $('#passwords').filter_input({ regex: '[0-9A-Za-z \\.]' });
        $('#repasswords').filter_input({ regex: '[0-9A-Za-z \\.]' });
        $('#Captcha').filter_input({ regex: '[0-9]' });
        $("#Reset").click(function (event) {
            $('#Err').hide();
            var a = [];
            var field_val = [];
            var flag = 0;
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    flag = 1;
                    var null_id = $(this).attr('id');
                    if (null_id == 'passwords') {
                        a.push('@ResourceCache.Localize("Password_is_required")');
                    }
                    if (null_id == 'repasswords') {
                        a.push('@ResourceCache.Localize("Re-EnterPassword_is_required ")');
                    }
                }
                if (field_name == 'passwords') {
                    var email = $('#passwords').val();
                    var email_regexpr = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){3,20}$/;
                    if (!email.match(email_regexpr) || email.length == 0) {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Password_must_be_3-20_alphanumeric_characters")');
                    }
                }
                if (field_name == 'repasswords') {
                    var email = $('#repasswords').val();
                    var email_regexpr = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+){3,20}$/;
                    if (!email.match(email_regexpr) || email.length == 0) {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Re-EnterPassword_must_be_3-20_alphanumeric_characters")');
                    }
                }
            });
            var cat = $('#Captcha').val();
            if (cat == "" || cat == null) {
                flag = 1;
                a.push('@ResourceCache.Localize("Captcha_is_required")');
            }
            if (flag == 0) {
                var pwdlength = $("#passwords").val().length;
                if (pwdlength > 3 && pwdlength < 20) {
                }
                else {
                    flag = 1;
                    a.push('@ResourceCache.Localize("Password_must_be_3-20_alphanumeric_characters")');
                    }
                    var repwdlength = $("#repasswords").val().length;
                    if (repwdlength > 3 && repwdlength < 20) {
                    }
                    else {
                        flag = 1;
                        a.push('@ResourceCache.Localize("Re-EnterPassword_must_be_3-20_alphanumeric_characters")');
                    }
            }
            var getcaptcha = $('#Captcha').val();
            if (getcaptcha != "") {
                if (cpsval != getcaptcha) {
                    a.push('@ResourceCache.Localize("Captcha_is_mismatch")');
                    captchaCode();
                }
            }
                if (a.length != 0) {
                    $('#successmsg').hide();
                    $('#Err').show();
                    $("#jsonExceptionMsg").hide();
                    $("#jsonSuccessMsg").hide();
                    $("#jsonErrorMsg").hide();
                    $('#errormsg').hide();
                    $("#divStudent").hide();
                    $("#jsonError").show();
                    var li = [];
                    $("#jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $(".jsonError").hide();
                }
                if (flag == 0) {
                    return true;
                }
                else {
                    return false;
                }
            });
        });
    </script>
}