@media(min-width:300px) and (max-width:420px)
{
	.col-lg-12.margin-content-body-form
	{
	  margin-left: 0px;
	}
}

.col-lg-12.margin-content-body-form
	{
	  margin-left: 50px;
	}
	
input#Gender
 {
  margin-right: 10px;
  margin-left: 10px;
}
.fixed {
    position:fixed !important;
    top:0;
}
#header {
  display: block;
  height: 49px;
  position: relative;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));
  background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
  background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
  background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
  background-repeat: repeat-x;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: whitesmoke;
  background-color: #555;
}
.navbar-default
{
background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
}
logo-section>span {
  display: inline-block;
  height: 40px;
  float: left;
}
img.schoollogo {
  vertical-align: middle;
  width: 75%;
  margin-top: 5px;
}

.navbar {
  min-height: 100px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  margin-top: 25px;
}
#school-logo {
  display: inline-block;
  width: 175px;
  margin-top: 13px;
  margin-left: 9px;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.left-allign
{
	margin-left:120px;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
} 
 
 i.fa.fa-user.fa-5x {
  margin-top: 30px;
  margin-left: 20px;
}
 
 #bgimg {
    background-image: url("img/banner.jpg");
}

.reg-content-align
{
text-align:left;
}
.margin-content 
{
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.margin-content2 {
  margin-bottom: 30px;
  line-height: 2;
  font-size: 16px;
}

.margin-content3
{
	margin-top:30px;
}
.col-xs-6.margin-content3 {
  margin-top: 60px;
}

select#Community {
  width: 173px;
}
select#BloodGroup {
  width: 173px;
}
select#ApplyClass {
  width: 173px;
}
select#perCountry {
  width: 173px;
}

select#Sibling {
  width: 173px;
}
label#dd {
  margin-left: 0;
  margin-right: 10px;
}
.form-group {
  margin-top: 0px;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}
.margin-content
{
	margin-top:200px;
	margin-bottom:60px;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


/*****Footer***/

.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
  background: #555555;
  background-image: -webkit-linear-gradient(#E2E2EC,#555555);
  color:  #333333;
  border-top: 1px solid #e2e2e2;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

button.btn.btn-primary.nextBtn.btn-md.pull-right {
  margin-bottom: 50px;
}

/****</Footer>****/



form.go-bottom input, form.go-bottom textarea {
	padding: 12px 12px 12px 12px;
}
form.go-bottom label {
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
	padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
	top: 100%;
	margin-top: -16px;
}
form.go-right label {
	border-radius: 0 5px 5px 0;
	height: 100%;
	top: 0;
	right: 100%;
	width: 100%;
	margin-right: -100%;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
	right: 0;
	margin-right: 0;
	width: 40%;
	padding-top: 5px;
}

.container.jumbotron
 {
  margin-top: 139px;

  color: #555555;
}

.margin-content5
{
  margin-top: -39px;
  margin-bottom: 60px;
}

.margin-content6
{
	margin-top:32px;
}

.margin-right-content
{
	margin-left:15px;
}
.padding-right-content
 {
 padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
}
.col-lg-offset-5.margin-content8 
{
  margin-top: 0px;
  margin-bottom: 20px;
}

span.mandatory {
  color: rgb(220, 20, 60);
  font-size: 15px;
}

h3 {
  font-size: 18px;
}

.margin-content7 {
  margin-top: 25px;
  margin-bottom: 5px;
}