/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute !important;
  bottom: 0 !important;
  /*width: 100% !important;*/
  /* Set the fixed height of the footer here */
  /*height: 60px !important;
  background-color: #f5f5f5 !important;*/
   background: #555555;
  background-image: linear-gradient(to bottom, rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
  color: white;
  border-top: 1px solid #e2e2e2;
  padding-top: 24px;
  padding-bottom: 24px;
 
}
.footer p.pull-left {
padding-top: 15px;
}

.footer ul {
    font-size: 13px !important;
    list-style-type: none !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-top: 15px !important;
    color: white !important;
}
@media (max-width:650px)
{
    .footer {
  position: absolute !important;
  bottom: 0 !important;
  /*width: 100% !important;*/
  /* Set the fixed height of the footer here */
  /*height: 60px !important;
  background-color: #f5f5f5 !important;*/
   background: #555555;
  background-image: linear-gradient(to bottom, rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
  color: white;
  border-top: 1px solid #e2e2e2;
  padding-top: 33px;
  padding-bottom: 31px;
width: 660px;}
}
@media (max-width:360px)
{
    .footer {
  position: absolute !important;
  bottom: 0 !important;
  /*width: 100% !important;*/
  /* Set the fixed height of the footer here */
  /*height: 60px !important;
  background-color: #f5f5f5 !important;*/
   background: #555555;
  background-image: linear-gradient(to bottom, rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
  color: white;
  border-top: 1px solid #e2e2e2;
  padding-top: 33px;
  padding-bottom: 31px;
width: auto;}
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}*/
