﻿@using eAcademy.Models
@{
    ViewBag.Title = "ExamAttendance";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ExamAttendance")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <form>
                    @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                        <div class="box-body" id="MyInfoText" style="display:none">
                            <div class="alert alert-info alert-dismissable">
                                <strong>@ResourceCache.Localize("Info") </strong> <b id="AddInfoText" style="font-weight:normal">  </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ExamAtn_allAcademicYears", new SelectList(ViewBag.ExamAtn_AcademicYears, "AcademicYearId", "AcademicYear"), ResourceCache.Localize("SelectYear"))
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Exam")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ExamAtn_allExams", new SelectList(ViewBag.allExams, "ExamId", "ExamName"), ResourceCache.Localize("--SelectExam--"))
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Date")</label><span class="glyphicon glyphicon-asterisk"></span></div>
                                <input class="col-lg-12" type="text" id="ExamAtn_txt_ExamDate" name="ExamAtn_txt_ExamDate" placeholder="@ResourceCache.Localize("Date")" title="@ResourceCache.Localize("Date")" required="required" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Schedule")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ExamAtn_TimeSchedule", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectSchedule--"), Value = "" } })
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Room")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ExamAtn_Room", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("--SelectRoom--"), Value = "" } })
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                                @Html.DropDownList("ExamAtn_ClassWithSection", new List<SelectListItem>() { new SelectListItem() { Text = ResourceCache.Localize("SelectClass"), Value = "" } })
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <button type="button" class="btn btn-sm btn_submit btn-down" id="btnShowStudentList"><i class="fa fa-caret-right"></i> @ResourceCache.Localize("Submit") </button>
                        </div>
                        <div class="box-footer clearfix no-border">
                        </div>
                        <div class="NoRecords box-body" id="NoRecords" style="display:none">
                            <div class="alert alert-info alert-dismissable" id="NoRecords">
                                <b>@ResourceCache.Localize("Info:NoRecordsFound")</b>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="div_StudentList" style="display:none">
                            <div class="box-body" id="show">
                                <div id="tbl_scrol">
                                    <h2 id="Report_head" class="Active_Print">@ResourceCache.Localize("StudentExamAttendance")<hr /></h2>
                                    <table border="1" class="table-bordered table-striped col-lg-12">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @ResourceCache.Localize("RollNumber")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("StudentName")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Attendance")<input type="checkbox" name="present" id="present" class="rrr" value="P" /> @ResourceCache.Localize("AllPresent")
                                                </th>
                                                <th>
                                                    @ResourceCache.Localize("Reason")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ExamStudentList"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <input type="hidden" id="count" class="col-lg-3" />
                                <button type="button" class="btn pull-right btn-sm btn_save" id="btnSaveExamAttendance"><i class="fa fa-save"></i> @ResourceCache.Localize("Save")</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
        </section>
    </div>
</section>


@section scriptsContainer{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#ExamAtn_allAcademicYears").val(@Session["Add_ChosenAcademicYearId"]);
            $("#ExamAtn_allAcademicYears").addClass("current_button");
            $("#ExamAtn_allExams").addClass("current_button");
            $("#ExamAtn_txt_ExamDate").addClass("current_button");
            $("#ExamAtn_TimeSchedule").addClass("current_button");
            $("#ExamAtn_Room").addClass("current_button");
            $("#ExamAtn_ClassWithSection").addClass("current_button");

            $('#ExamAtn_allAcademicYears').change(function (event) {
                $("#ExamAtn_TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                $("#ExamAtn_Room").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                $("#ExamAtn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#ExamAtn_txt_ExamDate").val("");
                event.preventDefault();
                $("#div_StudentList").hide();
                var YearId = $('#ExamAtn_allAcademicYears').val();
                AssignAcademicYear(YearId);
            });

            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }

            $('#ExamAtn_allExams').change(function (event) {
                event.preventDefault();
                $("#ExamAtn_TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                $("#ExamAtn_Room").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                $("#ExamAtn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                $("#ExamAtn_txt_ExamDate").val("");
                $("#MyInfoText").hide();
                $("#div_StudentList").hide();
                $("#ExamAtn_txt_ExamDate").datepicker("destroy");
                var YearId = $('#ExamAtn_allAcademicYears').val();
                var ExamId = $('#ExamAtn_allExams').val();
                var date1 = [];

                $.getJSON('/ExamAttendance/GetExamDates', { PassYearId: YearId, PassExamId: ExamId },
                    function (data) {
                      //  alert("ExamDateCount=" + data.count);
                        if (data.count == 0) {
                            $("#AddInfoText").text("@ResourceCache.Localize("Exam_timetable_is_not_created")");
                            $("#MyInfoText").show();
                            return false;
                        }
                        $.each(data.getDate, function (i, c) {
                            date1[i] = c.date;
                        });
                    });

                var availableDates = date1; //["5-3-2017", "14-3-2017", "20-3-2017"];

                function available(date) {
                    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                    if ($.inArray(dmy, availableDates) != -1) {
                        return [true, "", "Available"];
                    } else {
                        return [false, "", "unAvailable"];
                    }
                }
                $('#ExamAtn_txt_ExamDate').datepicker({
                    dateFormat: 'dd/mm/yy',
                    beforeShowDay: available,
                    onSelect: function (dateText, inst) {
                        var date = $(this).val();
                        $("#div_StudentList").hide();
                        var YearId = $('#ExamAtn_allAcademicYears').val();
                        var ExamId = $('#ExamAtn_allExams').val();
                        $("#ExamAtn_TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                        $("#ExamAtn_Room").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                        $("#ExamAtn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');

                        var dt = date.split('/');
                        date = dt[2] + '/' + dt[1] + '/' + dt[0];
                        $.getJSON('/ExamAttendance/GetScheduleByDate', { PassYearId: YearId, PassExamId: ExamId, PassDate: date },
                        function (data) {
                            $("#ExamAtn_TimeSchedule").empty().append('<option value="">@ResourceCache.Localize("Select_Schedule")</option>');
                            if (data.length == 0) {
                                $("#AddInfoText").text("@ResourceCache.Localize("Exam_timetable_is_not_created")");
                                $("#MyInfoText").show();
                                return false;
                            }
                            $.each(data, function (i, c) {
                                $("#ExamAtn_TimeSchedule").append($('<option></option>').val(c.ScheduleValue).html(c.ScheduleName));
                            });
                        });

                    }
                });

            });

            $("#ExamAtn_TimeSchedule").change(function (event) {
                $("#div_StudentList").hide();
                $("#MyInfoText").hide();
                $("#jsonSuccessMsg").hide();
                $("#MandatoryFieldErrorMessage_List").hide();
                $("#ExamAtn_Room").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                $("#ExamAtn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                var YearId = $('#ExamAtn_allAcademicYears').val();
                var ExamId = $('#ExamAtn_allExams').val();
                var date = $('#ExamAtn_txt_ExamDate').val();
                var schedule = $('#ExamAtn_TimeSchedule').val();
                var dt = date.split('/');
                date = dt[2] + '/' + dt[1] + '/' + dt[0];
                $.getJSON('/ExamAttendance/GetRooomBySchedule', { PassYearId: YearId, PassExamId: ExamId, PassDate: date, PassSchedule: schedule },
              function (data) {
                  $("#ExamAtn_Room").empty().append('<option value="">@ResourceCache.Localize("SelectRoom")</option>');
                  //  alert(data.length);
                  if (data.length == 0) {
                      $("#AddInfoText").text("@ResourceCache.Localize("Exam_room_is_not_assigned_or_You_are_not_incharge_for_selected_exam")");
                      $("#MyInfoText").show();
                      return false;
                  }
                  $.each(data, function (i, c) {
                      $("#ExamAtn_Room").append($('<option></option>').val(c.RoomId).html(c.RoomNumber));
                  });
              });

            });


            $("#ExamAtn_Room").change(function (event) {
                $("#div_StudentList").hide();
                $("#MyInfoText").hide();
                $("#ExamAtn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                var YearId = $('#ExamAtn_allAcademicYears').val();
                var ExamId = $('#ExamAtn_allExams').val();
                var date = $('#ExamAtn_txt_ExamDate').val();
                var schedule = $('#ExamAtn_TimeSchedule').val();
                var RoomId = $('#ExamAtn_Room').val();
                var dt = date.split('/');
                date = dt[2] + '/' + dt[1] + '/' + dt[0];
                $.getJSON('/ExamAttendance/GetClassWithSection', { PassYearId: YearId, PassExamId: ExamId, PassDate: date, PassSchedule: schedule, PassRoomId: RoomId },
                function (data) {
                    $("#ExamAtn_ClassWithSection").empty().append('<option value="">@ResourceCache.Localize("SelectClass")</option>');
                    if (data.length == 0) {
                        $("#AddInfoText").text("@ResourceCache.Localize("Exam_room_is_not_assigned")");
                        $("#MyInfoText").show();
                        return false;
                    }
                    $.each(data, function (i, c) {
                        $("#ExamAtn_ClassWithSection").append($('<option></option>').val(c.ClassWithSectionId).html(c.ClassWithSectionName));
                    });
                });
            });

            $("#ExamAtn_ClassWithSection").change(function (event) {
                $("#div_StudentList").hide();
            });

            $("#btnShowStudentList").click(function (event) {
                event.preventDefault();
                $('#present').prop("checked", false);
                $("#MandatoryFieldErrorMessage_List").hide();
                $("#jsonSuccessMsg").hide();
                $('#ExamStudentList').empty();
                $("#div_StudentList").hide();
                $("#MyInfoText").hide();

                var YearId = $('#ExamAtn_allAcademicYears').val();
                var ExamId = $('#ExamAtn_allExams').val();
                var date = $('#ExamAtn_txt_ExamDate').val();
                var schedule = $('#ExamAtn_TimeSchedule').val();
                var RoomId = $('#ExamAtn_Room').val();
                var ClassWithSection = $('#ExamAtn_ClassWithSection').val();
                $("#Loading_Sec").addClass("loading-new");

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'ExamAtn_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'ExamAtn_allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                        if (null_id == 'ExamAtn_txt_ExamDate') {

                            a.push('@ResourceCache.Localize("PleaseSelectDate")');
                        }
                        if (null_id == 'ExamAtn_TimeSchedule') {

                            a.push('@ResourceCache.Localize("PleaseSelectSchedule")');
                        }
                        if (null_id == 'ExamAtn_Room') {

                            a.push('@ResourceCache.Localize("PleaseSelectRoom")');
                        }
                        if (null_id == 'ExamAtn_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                    }
                    else {
                    }
                });

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    $("#Loading_Sec").removeClass("loading-new");
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                    var dt = date.split('/');
                    date = dt[2] + '/' + dt[1] + '/' + dt[0];
                    $.getJSON('/ExamAttendance/GetStudentList', { PassYearId: YearId, PassExamId: ExamId, PassDate: date, PassSchedule: schedule, PassRoomId: RoomId, PassClassWithSection: ClassWithSection },
                    function (data) {
                        $('#ExamStudentList').empty();
                        if (data.msg == "new") {
                            var count = data.count;
                            if (count == 0) {
                                $("#NoRecords").show();
                            }

                            $.each(data.studentList, function (i, v) {
                                var atn = "atn" + i;
                                var att = "att";
                                var cmt = "cmt" + i;

                                row = $("<tr> <td><label>" + v.RollNumber + "</label> <input type='hidden' id='StudentRegId" + i + "' value='" + v.StudentRegId + "'  name='StudentRegId" + i + "' > <input type='hidden' id='RollNumberId" + i + "' value='" + v.RollNumberId + "'  name='RollNumberId" + i + "' ></td>  <td><label>" + v.StudentName + "</label></td> <td><select class=" + att + " id='" + atn + "'></select></td>  <td><input type='text' size='20'  placeholder='@ResourceCache.Localize("CommentsGoHere")' id='" + cmt + "'/></td> </tr>");
                                $('#ExamStudentList').append(row);
                                $("#div_StudentList").show();
                                $("#NoRecords").hide();
                                $("#count").val(i);
                            });

                            $(".att").empty().append('<option value="">@ResourceCache.Localize("SelectStatus")</option>');
                            $.each(data.attStatusList, function (i, c) {
                                $(".att").append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                            });

                        }


                        if (data.msg == "old") {

                            $.each(data.ExistList, function (i, v) {
                                var atn = "atn" + i;
                                var att = "att";
                                var cmt = "cmt" + i;

                                row = $("<tr id=''><td><label>" + v.RollNumber + "</label> <input type='hidden' id='Attendanceid" + i + "' value='" + v.rid + "'  name='Attendanceid" + i + "' ></td> <td><label>" + v.StudentName + "</label> </td>   <td> <select class=" + att + " id='" + atn + "'> </select></td> <td><input type='text' size='20'  placeholder='@ResourceCache.Localize("CommentsGoHere")' value='" + v.Comment + "'  id='" + cmt + "'/></td> </tr>");
                                $('#ExamStudentList').append(row);
                                $("#div_StudentList").show();
                                $("#NoRecords").hide();
                                $("#count").val(i);


                                $("#" + atn).empty().append('<option value="0">@ResourceCache.Localize("SelectStatus")</option>');
                                $.each(data.attStatusList, function (i, c) {
                                    $("#" + atn).append($('<option></option>').val(c.StatusValue).html(c.StatusName));
                                });

                                var selVal = v.AttStatus;
                                $("#" + atn).val(selVal);

                            });

                            if (data.schedule == "All") {
                                $('#present').prop("checked", true);

                            }

                        }

                    });
                    $("#Loading_Sec").removeClass("loading-new");
                }

            });


            $("#btnSaveExamAttendance").click(function () {
                $("#MyInfoText").hide();
                var YearId = $('#ExamAtn_allAcademicYears').val();
                var ExamId = $('#ExamAtn_allExams').val();
                var date = $('#ExamAtn_txt_ExamDate').val();
                var dateVal = $('#ExamAtn_txt_ExamDate').val();
                var schedule = $('#ExamAtn_TimeSchedule').val();
                var RoomId = $('#ExamAtn_Room').val();
                var ClassWithSection = $('#ExamAtn_ClassWithSection').val();

                var a = [];
                var field_val = [];
                $(".current_button").each(function () {
                    var valu = $(this).val();
                    if (valu == '') {
                        var null_id = $(this).attr('id');
                        if (null_id == 'ExamAtn_allAcademicYears') {

                            a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                        }
                        if (null_id == 'ExamAtn_allExams') {

                            a.push('@ResourceCache.Localize("PleaseSelectExam")');
                        }
                        if (null_id == 'ExamAtn_txt_ExamDate') {

                            a.push('@ResourceCache.Localize("PleaseSelectDate")');
                        }
                        if (null_id == 'ExamAtn_TimeSchedule') {

                            a.push('@ResourceCache.Localize("PleaseSelectSchedule")');
                        }
                        if (null_id == 'ExamAtn_Room') {

                            a.push('@ResourceCache.Localize("PleaseSelectRoom")');
                        }
                        if (null_id == 'ExamAtn_ClassWithSection') {

                            a.push('@ResourceCache.Localize("PleaseSelectClass")');
                        }
                    }
                    else {
                    }
                });

                $("#MandatoryFieldErrorMessage_List").hide();
                var c = $("#count").val();


                var RowId = [];
                var RollNumId = [];
                var regId = [];
                var comment = [];
                var Attendance = [];


                var attStatus = 1;
                for (var i = 0; i <= c; i++) {

                    RowId[i] = $("#Attendanceid" + i).val();
                    RollNumId[i] = $("#RollNumberId" + i).val();
                    regId[i] = $("#StudentRegId" + i).val();
                    comment[i] = $("#cmt" + i).val();
                    Attendance[i] = $("#atn" + i).val();

                    if (Attendance[i] == "") {
                        attStatus = 0;
                        return false;
                    }
                }

                if (attStatus == 0) {
                    a.push("@ResourceCache.Localize("Please_select_attendance_status_to_all_the_student")");
                }

                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                }

                $("#MandatoryFieldErrorMessage_List").hide();
                var dt = date.split('/');
                date = dt[2] + '/' + dt[1] + '/' + dt[0];
                var values = { AcademicYears: YearId, Exam: ExamId, Date: date, DateVal:dateVal, TotalCount: c, Schedule: schedule, ClassRoomId: RoomId, ClassWithSection: ClassWithSection, rid: RowId, Rollnumberid: RollNumId, StudentRegId: regId, AttendanceStatus: Attendance, Comment: comment };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/ExamAttendance/SaveAttendance',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        var totalError = data.ex;
                        var li = [];
                        if (data.Success == 0) {
                            $(".jsonExceptionMsg").hide();
                            $(".jsonSuccessMsg").hide();
                            $(".jsonErrorMsg").hide();
                            $(".jsonError").show();
                            $(".jErr").append().empty();
                            $.each(totalError, function (i, v) {
                                if (totalError[i] != "" && totalError[i] != null) {
                                    li = $("<li></li>").text(totalError[i]);
                                    $(".jErr").append(li);
                                }
                            });
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                        else {
                            if (data.InfoMessage != "" && data.InfoMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").hide();
                                $("#MyInfoText").show();
                                $("#AddInfoText").empty();
                                $("#AddInfoText").html(data.InfoMessage).val(data.InfoMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonErrorMsg").show();
                                $("#jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.Message != "" && data.Message != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonExceptionMsg").hide();
                                $("#jsonSuccessMsg").show();
                                $("#jSuccessMsg").html(data.Message).val(data.Message);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                            if (data.ExceptionError != "" && data.ExceptionError != null) {
                                $("#jsonErrorMsg").hide();
                                $("#jsonSuccessMsg").hide();
                                $("#jsonExceptionMsg").show();
                                $("#jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                $("#Loading_Sec").removeClass("loading-new");
                            }
                        }
                    }
                });
            });
        });
    </script>
}