﻿@using eAcademy.Models
@model IEnumerable<eAcademy.Models.MarkDetails>
@{
    ViewBag.Title = "MarkConfig";
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
@Html.Partial("~/Views/Shared/SubMenus.cshtml")
<section class="content sec_up" style="height:100%">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_EditMark" style="display:none;">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("EditMark")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEditMarkDetails", "MarkConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <input type="hidden" id="mid" name="mid" />
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> </div>
                            <div><input class="col-lg-12 current_button" id="acYear_Sub1" name="acYear_Sub1" type="text" title="@ResourceCache.Localize("AcademicYear")" readonly /></div>
                            <input type="hidden" id="acid" name="acid" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> </div>
                            <div><input class="col-lg-12 current_button" id="class_Sub1" name="class_Sub1" type="text" title="@ResourceCache.Localize("Class")" readonly /></div>
                            <input type="hidden" id="cid" name="cid" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> </div>
                            <div><input class="col-lg-12 current_button" id="Section1" name="Section1" type="text" title="@ResourceCache.Localize("Section")" readonly /></div>
                            <input type="hidden" id="sec_id" name="sec_id" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> </div>
                            <div><input class="col-lg-12 current_button" id="Subjects1" name="Subjects1" type="text" title="@ResourceCache.Localize("Subject")" readonly /></div>
                            <input type="hidden" id="sid" name="sid" />
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("MaximumMark")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" id="txt_maxMark1" name="txt_maxMark1" type="text" required placeholder="@ResourceCache.Localize("MaximumMark")" title="@ResourceCache.Localize("MaximumMark")" maxlength="3" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("MinimumMark")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" id="txt_minMark1" name="txt_minMark1" type="text" required placeholder="@ResourceCache.Localize("MinimumMark")" title="@ResourceCache.Localize("MinimumMark")" maxlength="3" /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer">
                            <button type="button" class="btn btn_double btn-sm btn_update" id="btnUpdateMark" name="btnUpdateMark" title="Update"> <i class="fa fa-repeat"></i>@ResourceCache.Localize("Update") </button>
                            <button type="button" class="btn  btn-sm btn_cancel" id="btncancel_updateMark" name="btncancel_updateMark" title="Update"> <i class="fa fa-remove"></i>@ResourceCache.Localize("Cancel") </button>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="idSection_AddMark">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-plus"></i> <span class="box-title">@ResourceCache.Localize("AddMark")</span>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                @using (Html.BeginForm("MarkConfig", "MarkConfiguration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body row border-radius-none">
                        @Html.Partial("~/Views/Shared/RequiredField.cshtml")
                        @Html.Partial("~/Views/Shared/ViewMessgae.cshtml")
                        @Html.Partial("~/Views/Shared/ModelValidation.cshtml")
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("acYear_Sub", new SelectList(ViewBag.AddacYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "current_button", @title = @ResourceCache.Localize("AcademicYear") }) </div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("class_Sub", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectClass"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("Class") })</div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("Section_sub", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSection"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("Section") })</div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("Subject")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div>@Html.DropDownList("Subjects", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSubject"), Value = "" } }, new { @class = "current_button", @title = @ResourceCache.Localize("Subject") })</div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("MaximumMark")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" id="txt_maxMark" name="txt_maxMark" type="text" required placeholder="@ResourceCache.Localize("MaximumMark")" title="@ResourceCache.Localize("MaximumMark")" maxlength="3" /></div>
                        </div>
                        <div>
                            <div><label class="input-label-sm">@ResourceCache.Localize("MinimumMark")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                            <div><input class="col-lg-12 current_button" id="txt_minMark" name="txt_minMark" type="text" required placeholder="@ResourceCache.Localize("MinimumMark")" title="@ResourceCache.Localize("MinimumMark")" maxlength="3" /></div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer no-border">
                        <div class="row footer">
                            <button type="button" class="btn btn_double  btn-sm btn_add" id="btnAddMark" name="btnAddMark" title="Add"> <i class="fa fa-plus"></i>@ResourceCache.Localize("Add") </button>
                            <button type="reset" class="btn  btn-sm btn_reset" title="Reset"> <i class="fa fa-refresh"></i>@ResourceCache.Localize("Reset") </button>
                        </div><!-- /.row -->
                    </div><!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </section><!-- right col -->
        <section class="col-xs-12 col-sm-12 col-md-4 noprint pull-right" id="info_text" style="display:none">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header bg-gray">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">@ResourceCache.Localize("Unable_to_do_changes_for_past_academic_year")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="NoRecords box-body">
                    <div class="alert alert-info alert-dismissable">
                        <b>@ResourceCache.Localize("Info:Cannot_edit_past_acamedicYear_records")</b>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-8">
            <!-- TO DO List -->
            <div class="box box-solid bg-teal-gradient ">
                <div class="box-header bg-gray">
                    <i class="fa fa-clipboard "></i>
                    <h3 class="box-title">@ResourceCache.Localize("ManageMarkDetails")</h3>
                    <div class="box-tools pull-right">
                        <a class="" data-widget="collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div><!-- /.box-header -->
                @Html.Partial("~/Views/Shared/JsonError.cshtml")
                @Html.Partial("~/Views/Shared/MandatoryFieldErrorMessage_List.cshtml")
                <div class="box-body">
                    <div class="col-lg-4">
                        <div><label class="input-label-sm">@ResourceCache.Localize("AcademicYear")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>@Html.DropDownList("acYear_mark", new SelectList(ViewBag.acYear, "AcademicYearId", "AcademicYear1"), @ResourceCache.Localize("SelectAcademicYear"), new { @class = "filterItem" })</div>
                    </div>
                    <div class="col-lg-4">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Class")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>@Html.DropDownList("class_mark", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectClass"), Value = "0" } }, new { @class = "filterItem" })</div>
                    </div>
                    <div class="col-lg-4">
                        <div><label class="input-label-sm">@ResourceCache.Localize("Section")</label> <span class="glyphicon glyphicon-asterisk"></span></div>
                        <div>@Html.DropDownList("section_mark", new List<SelectListItem>() { new SelectListItem() { Text = @ResourceCache.Localize("SelectSubject"), Value = "0" } }, new { @class = "filterItem" })</div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="btnMark_Filter" class="btn btn-down btn-sm btn_search filterItem"><i class="fa fa-search"></i>@ResourceCache.Localize("Search")</button>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
                <div class="box-body">
                    <div class="box-body" id="show">
                        <table class="table table-bordered table-striped" border="1" id="grid1"></table>
                        <div id="pager1"></div>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
            </div>
            <!-- quick email widget -->
        </section><!-- /.Left col -->
    </div>
</section>
@section scriptsDataTableContainer{
    <script src="~/js/jquery.filter_input.js"></script>
    <script type="text/javascript">
        $("#txt_maxMark").filter_input({ regex: '[0-9]' });
        $("#txt_minMark").filter_input({ regex: '[0-9]' });
        $("#txt_maxMark1").filter_input({ regex: '[0-9]' });
        $("#txt_minMark1").filter_input({ regex: '[0-9]' });
        $(document).ready(function () {
            $('#acYear_Sub').val(@Session["Add_ChosenAcademicYearId"]);
            $('#acYear_mark').val(@Session["List_ChosenAcademicYearId"]);
            getclass();
            //Add
            $('#acYear_Sub').change(function (event) {
                event.preventDefault();
                var YearId = $('#acYear_Sub').val();
                AssignAcademicYear(YearId);
                $('#acYear_mark').val(YearId);
                Add_AssignAcademicYear(YearId);
            });
            //List
            $('#acYear_mark').change(function (event) {
                event.preventDefault();
                var YearId = $('#acYear_mark').val();
                AssignAcademicYear(YearId);
            });
            function AssignAcademicYear(YearId) {
                $.getJSON('/Report/ChangeAcademicyear', { YearId: YearId },
                          function (orderdetails) {
                          });
            }
            function Add_AssignAcademicYear(YearId) {
                $.getJSON('/Report/AddChangeAcademicyear', { YearId: YearId },  // for change add form academic year
                          function (orderdetails) {
                          });
            }
            function getclass() {
                $("#class_mark").empty().append('<option value="0">@ResourceCache.Localize("SelectClass")</option>');
                $("#section_mark").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                $.getJSON('/MarkConfiguration/getClassList',
                   function (data) {
                       $.each(data, function (i, c) {
                           $("#class_mark").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                       });
                   });
                $("#class_Sub").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
                $("#Section_sub").empty().append('<option value>@ResourceCache.Localize("SelectSection")</option>');
                $("#Subjects").empty().append('<option value>@ResourceCache.Localize("SelectSubject")</option>');

                $.getJSON('/MarkConfiguration/getClass',
               function (data) {
                   $("#class_Sub").empty().append('<option value>@ResourceCache.Localize("SelectClass")</option>');
                   $.each(data, function (i, c) {
                       $("#class_Sub").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });

               });

            }

            var markId;
            jQuery("#grid1").jqGrid({
                url: "/MarkConfiguration/MarkResults",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['', '@ResourceCache.Localize("AcademicYear")', '@ResourceCache.Localize("Class")', '@ResourceCache.Localize("Section")', '@ResourceCache.Localize("Subject")', '@ResourceCache.Localize("MaximunMark")', '@ResourceCache.Localize("MinimumMark")', '@ResourceCache.Localize("Edit")'],
                colModel: [
                    { key: true, hidden: true, name: 'MId', index: 'MId' },
                    { key: false, name: 'AcademicYear', index: 'AcademicYear' },
                    { key: false, name: 'Class', index: 'Class' },
                    { key: false, name: 'Section', index: 'Section' },
                    { key: false, name: 'Subject', index: 'Subject' },
                    { key: false, name: 'MaximumMark', index: 'MaximumMark' },
                    { key: false, name: 'MinimumMark', index: 'MinimumMark' },
                    { name: 'act', index: 'act', width: 75, sortable: false, align: 'center' },
                ],
                pager: jQuery("#pager1"),
                rowList: [50, 100, 250, 500, 1000],
                rowNum: 50,
                height: '100%',
                viewrecords: true,
                emptyrecords: "@ResourceCache.Localize("NoRecordsToDisplay")",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                autowidth: true,
                hoverrows: true,
                gridComplete: function () {
                    var ids = jQuery("#grid1").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        markId = ids[i];
                        be = "<input style='height:23px;width:22px;' type='button' class='btn_edit_Mark btn_Edit ui-icon-pencil' id='" + markId + "' value=''  title='Edit'/>";
                        jQuery("#grid1").jqGrid('setRowData', ids[i], { act: be });
                    }
                },
            }).navGrid('#pager1', { edit: false, add: false, del: false, search: false, refresh: false }
                ).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Excel ",
                    buttonicon: "ui-icon-bookmark",
                    onClickButton: function () {
                        window.location.href = "../MarkConfiguration/MarkExportToExcel";
                    }
                }).jqGrid('navButtonAdd', '#pager1',
                {
                    caption: " Pdf ",
                    buttonicon: "ui-icon-print",
                    position: "last",
                    onClickButton: function () {
                        window.location.href = "../MarkConfiguration/MarkExportToPDF";
                    }
                });
            $("#grid1").setCaption(' <span class="fa fa-table"></span>' + '@ResourceCache.Localize("Mark")');
            $(".ui-jqgrid .loading").empty();
            $(".ui-jqgrid .loading").prepend('<img id="theImg" height="100" width="100"  src="/Images/ajax-loader1.gif" />')
            $('#btnMark_Filter').click(function (event) {
                event.preventDefault();
                var acid = $("#acYear_mark").val();
                var cid = $("#class_mark").val();
                var sec_id = $("#section_mark").val();
                var a = [];
                var flag = 0;
                if (acid == "0" || acid == null || acid == "") {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectAcademicYear")');
                }
                if (cid == "0" || cid == null || cid == "") {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectClass")');
                }
                if (sec_id == "0" || sec_id == null || sec_id == "") {
                    flag = 1;
                    a.push('@ResourceCache.Localize("PleaseSelectSection")');
                }
                if (flag == 0) {
                    $("#MandatoryFieldErrorMessage_List").hide();
                    filterGrid();
                    return true;
                }
                if (a.length != 0) {
                    $("#MandatoryFieldErrorMessage_List").show();
                    $(".List_jErr").append().empty();
                    $.each(a, function (i, v) {
                        if (a[i] != "" && a[i] != null) {
                            li = $("<li></li>").text(a[i]);
                            $(".List_jErr").append(li);
                        }
                    });
                    a = [];
                    return false;
                }
                else {
                    $("#MandatoryFieldErrorMessage_List").hide();
                    return true;
                }
            });
            function filterGrid() {
                var postDataValues = $("#grid1").jqGrid('getGridParam', 'postData');
                $('.filterItem').each(function (index, item) {
                    postDataValues[$(item).attr('id')] = $(item).val();
                });
                $('#grid1').jqGrid().setGridParam({
                    postData: postDataValues, page: 1
                }).trigger('reloadGrid');
                $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
            };
            $(document).on('click', '.btn_edit_Mark', function () {
                var id = $(this).attr('id');
                values = { markId: id };
                $("#Loading_Sec").addClass("loading-new");
                $.ajax({
                    url: '/MarkConfiguration/EditMarkDetails',
                    type: 'POST',
                    data: JSON.stringify(values),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $("#idSection_AddMark").hide();
                        $("#idSection_EditMark").show();
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").hide();
                        if (data.InfoMessage != null) {
                            $("#idSection_AddMark").hide();
                            $("#idSection_EditMark").hide();
                            $("#Loading_Sec").removeClass("loading-new");
                            $("#info_text").show();
                        }
                        else {
                            $("#info_text").hide();
                            $("#acYear_Sub1").val(data.ans.AcYear).html(data.ans.AcYear);
                            $("#class_Sub1").val(data.ans.Class).html(data.ans.Class);
                            $("#Section1").val(data.ans.Section).html(data.ans.Section);
                            $("#Subjects1").val(data.ans.Subject).html(data.ans.Subject);
                            $("#txt_maxMark1").val(data.ans.MaxMark).html(data.ans.MaxMark);
                            $("#txt_minMark1").val(data.ans.MinMark).html(data.ans.MinMark);
                            $("#mid").val(id).html(id);
                            $("#acid").val(data.ans.AcYearId).html(data.ans.AcYearId);
                            $("#cid").val(data.ans.ClassId).html(data.ans.ClassId);
                            $("#sec_id").val(data.ans.SectionId).html(data.ans.SectionId);
                            $("#sid").val(data.ans.SubjectId).html(data.ans.SubjectId);
                            $("#Loading_Sec").removeClass("loading-new");
                        }
                    }
                });
            });
            $("#btncancel_updateMark").click(function () {
                $("#MandatoryFieldErrorMessage_List").hide();
                $("#idSection_AddMark").show();
                $("#idSection_EditMark").hide();
                $(".jsonError").hide();
                $(".jsonExceptionMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonErrorMsg").hide();
            });
            $("#btnAddMark").click(function () {
                $("#MandatoryFieldErrorMessage_List").hide();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                var bool = jsFormValidation();
                if (bool == true) {
                    var acid = $("#acYear_Sub").val();
                    var cid = $("#class_Sub").val();
                    var secid = $("#Section_sub").val();
                    var sub = $("#Subjects").val();
                    var max = $("#txt_maxMark").val();
                    var min = $("#txt_minMark").val();
                    var min1 = 0;
                    var max1 = 0;
                    min1 = parseInt(min);
                    max1 = parseInt(max);
                    if (min1 < max1) {
                        var values = { acYear_Sub: acid, class_Sub: cid, Section_sub: secid, Subjects: sub, txt_maxMark: max, txt_minMark: min };
                        $("#Loading_Sec").addClass("loading-new");
                        $.ajax({
                            url: '/MarkConfiguration/MarkConfig',
                            type: 'POST',
                            data: JSON.stringify(values),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                var totalError = data.ex;
                                var li = [];
                                if (data.Success == 0) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonError").show();
                                    $(".jErr").append().empty();
                                    $.each(totalError, function (i, v) {
                                        if (totalError[i] != "" && totalError[i] != null) {
                                            li = $("<li></li>").text(totalError[i]);
                                            $(".jErr").append(li);
                                        }
                                    });
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                else {
                                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                        $(".jsonError").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonErrorMsg").show();
                                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.Message != "" && data.Message != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").show();
                                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonExceptionMsg").show();
                                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                }
                            }
                        });
                    }
                    else {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("Maximum_mark_must_greater_than_minimum_mark")").val("@ResourceCache.Localize("Maximum_mark_must_greater_than_minimum_mark")");
                    }
                }
            });
            $("#btnUpdateMark").click(function () {
                $("#MandatoryFieldErrorMessage_List").hide();
                $(".jsonError").hide();
                $(".jsonErrorMsg").hide();
                $(".jsonSuccessMsg").hide();
                $(".jsonExceptionMsg").hide();
                var bool = jsFormValidation1();
                if (bool == true) {
                    var acid = $("#acid").val();
                    var cid = $("#cid").val();
                    var secid = $("#sec_id").val();
                    var sub = $("#sid").val();
                    var mid = $("#mid").val();
                    var txt_maxMark = $("#txt_maxMark1").val();
                    var txt_minMark = $("#txt_minMark1").val();
                    var min1 = 0;
                    var max1 = 0;
                    min1 = parseInt(txt_minMark);
                    max1 = parseInt(txt_maxMark);
                    if (min1 < max1) {
                        var values = { acid: acid, cid: cid, sec_id: secid, sid: sub, mid: mid, txt_maxMark: txt_maxMark, txt_minMark: txt_minMark };
                        $("#Loading_Sec").addClass("loading-new");
                        $.ajax({
                            url: '/MarkConfiguration/SaveEditMarkDetails',
                            type: 'POST',
                            data: JSON.stringify(values),
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                var totalError = data.ex;
                                var li = [];
                                if (data.Success == 0) {
                                    $(".jsonExceptionMsg").hide();
                                    $(".jsonSuccessMsg").hide();
                                    $(".jsonErrorMsg").hide();
                                    $(".jsonError").show();
                                    $(".jErr").append().empty();
                                    $.each(totalError, function (i, v) {
                                        if (totalError[i] != "" && totalError[i] != null) {
                                            li = $("<li></li>").text(totalError[i]);
                                            $(".jErr").append(li);
                                        }
                                    });
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                                else {
                                    if (data.ErrorMessage != "" && data.ErrorMessage != null) {
                                        $(".jsonError").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonErrorMsg").show();
                                        $(".jErrMsg").html(data.ErrorMessage).val(data.ErrorMessage);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.Message != "" && data.Message != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonExceptionMsg").hide();
                                        $(".jsonSuccessMsg").show();
                                        $(".jSuccessMsg").html(data.Message).val(data.Message);
                                        $("#grid1").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    if (data.ExceptionError != "" && data.ExceptionError != null) {
                                        $(".jsonError").hide();
                                        $(".jsonErrorMsg").hide();
                                        $(".jsonSuccessMsg").hide();
                                        $(".jsonExceptionMsg").show();
                                        $(".jExceptionMsg").html(data.ExceptionError).val(data.ExceptionError);
                                        $("#Loading_Sec").removeClass("loading-new");
                                    }
                                    $("#Loading_Sec").removeClass("loading-new");
                                }
                            }
                        });
                    }
                    else {
                        $(".jsonError").hide();
                        $(".jsonExceptionMsg").hide();
                        $(".jsonSuccessMsg").hide();
                        $(".jsonErrorMsg").show();
                        $(".jErrMsg").html("@ResourceCache.Localize("Maximum_mark_must_greater_than_minimum_mark")").val("@ResourceCache.Localize("Maximum_mark_must_greater_than_minimum_mark")");
                    }
                }
            });
        });
        $("#acYear_mark").change(function () {
            $("#class_mark").empty().append('<option value="0">@ResourceCache.Localize("SelectClass")</option>');
            $("#section_mark").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
            $.getJSON('/MarkConfiguration/getClassList',
               function (data) {
                   $.each(data, function (i, c) {
                       $("#class_mark").append($('<option></option>').val(c.ClassId).html(c.ClassType));
                   });
               });
        });
        $("#class_mark").change(function () {
            var cid = $("#class_mark").val();
            $.getJSON('/MarkConfiguration/getSectionList', { cid: cid },
               function (data) {
                   $("#section_mark").empty().append('<option value="0">@ResourceCache.Localize("SelectSection")</option>');
                   $.each(data, function (i, c) {
                       $("#section_mark").append($('<option></option>').val(c.SectionId).html(c.Section));
                   });
               });
        });
        function jsFormValidation() {
            $("#MandatoryFieldErrorMessage_List").hide();
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'acYear_Sub') {
                        a.push('@ResourceCache.Localize("PleaseSelectAcademicYear").');
                    }
                    if (null_id == 'class_Sub') {
                        a.push('@ResourceCache.Localize("PleaseSelectClass").');
                    }
                    if (null_id == 'Section_sub') {
                        a.push('@ResourceCache.Localize("PleaseSelectSection").');
                    }
                    if (null_id == 'Subjects') {
                        a.push('@ResourceCache.Localize("PleaseSelectSubjects").');
                    }
                    if (null_id == 'txt_maxMark') {
                        a.push('@ResourceCache.Localize("Maximum_mark_is_required").');
                    }
                    if (null_id == 'txt_minMark') {
                        a.push('@ResourceCache.Localize("Minimum_mark_is_required").');
                    }
                }
                else {
                    if (field_name == 'txt_maxMark') {
                        var sname = $("#txt_maxMark").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 3) {
                                a.push('@ResourceCache.Localize("Maximum_mark_should_not_exceed_3_digit").');
                            }
                        }
                    }
                    if (field_name == 'txt_minMark') {
                        var sname = $("#txt_minMark").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 3) {
                                a.push('@ResourceCache.Localize("Minimum_mark_should_not_exceed_3_digit").');
                            }
                        }
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }
        function jsFormValidation1() {
            var a = [];
            var field_val = [];
            $(".current_button").each(function () {
                var valu = $(this).val();
                var field_name = $(this).attr('name');
                if (valu == '') {
                    var null_id = $(this).attr('id');
                    if (null_id == 'txt_maxMark1') {
                        a.push('@ResourceCache.Localize("Maximum_mark_is_required").');
                    }
                    if (null_id == 'txt_minMark1') {
                        a.push('@ResourceCache.Localize("Minimum_mark_is_required").');
                    }
                }
                else {
                    if (field_name == 'txt_maxMark1') {
                        var sname = $("#txt_maxMark1").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 3) {
                                a.push('@ResourceCache.Localize("Maximum_mark_should_not_exceed_3_digit").');
                            }
                        }
                    }
                    if (field_name == 'txt_minMark1') {
                        var sname = $("#txt_minMark1").val();
                        if (sname != '') {
                            var snameLength = sname.length;
                            if (snameLength > 3) {
                                a.push('@ResourceCache.Localize("Minimum_mark_should_not_exceed_3_digit").');
                            }
                        }
                    }
                }
            });
            if (a.length != 0) {
                $(".jsonError").show();
                $(".jErr").append().empty();
                $.each(a, function (i, v) {
                    if (a[i] != "" && a[i] != null) {
                        li = $("<li></li>").text(a[i]);
                        $(".jErr").append(li);
                    }
                });
                a = [];
                return false;
            }
            else {
                $(".jsonError").hide();
                return true;
            }
        }

        $("#acYear_Sub").change(function () {
            $("#class_Sub").empty().append('<option value>Select Class</option>');
            $("#Section_sub").empty().append('<option value>Select Section</option>');
            $("#Subjects").empty().append('<option value>Select Subject</option>');

            $.getJSON('/MarkConfiguration/getClass',

           function (data) {
               $("#class_Sub").empty().append('<option value>Select Class</option>');
               $.each(data, function (i, c) {
                   $("#class_Sub").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
        });

        $("#class_Sub").change(function () {

            var cid = $("#class_Sub").val();

            $("#Section_sub").empty().append('<option value>Select Section</option>');
            $("#Subjects").empty().append('<option value>Select Subject</option>');

            $.getJSON('/MarkConfiguration/getSection', { cid: cid },

            function (data) {
                $("#Section_sub").empty().append('<option value>Select Section</option>');
                $.each(data, function (i, c) {
                    $("#Section_sub").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });
        });


        $("#acYear_Sub1").change(function () {


            $("#class_Sub1").empty().append('<option value>Select Class</option>');
            $("#Section_sub1").empty().append('<option value>Select Section</option>');
            $("#Subjects1").empty().append('<option value>Select Subject</option>');

            $.getJSON('/MarkConfiguration/getClass',

           function (data) {
               $("#class_Sub1").empty().append('<option value>Select Class</option>');
               $.each(data, function (i, c) {
                   $("#class_Sub1").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
        });

        $("#class_Sub1").change(function () {

            var cid = $("#class_Sub1").val();

            $("#Section_sub1").empty().append('<option value>Select Section</option>');
            $("#Subjects1").empty().append('<option value>Select Subject</option>');

            $.getJSON('/MarkConfiguration/getSection', { cid: cid },
            function (data) {
                $("#Section_sub1").empty().append('<option value>Select Section</option>');
                $.each(data, function (i, c) {
                    $("#Section_sub1").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });
        });


        $("#Section_sub1").change(function () {

            var acid = $("#acYear_Sub1").val();
            var cid = $("#class_Sub1").val();
            var sec_id = $("#Section_sub1").val();
            $("#Subjects1").empty().append('<option value >Select Subject</option>');

            $.getJSON('/MarkConfiguration/getSubject', { acid: acid, cid: cid, sec_id: sec_id },
            function (data) {
                $("#Subjects1").empty().append('<option value >Select Section</option>');
                $.each(data, function (i, c) {
                    $("#Subjects1").append($('<option></option>').val(c.sub_id).html(c.sub_name));
                });

            });
        });

        $("#acYear_Roll").addClass("col-lg-12");
        $("#class_Roll").addClass("col-lg-12");
        $("#Section_Roll").addClass("col-lg-12");
        $("#acYear_Roll").change(function () {


            $("#class_Roll").empty().append('<option value >Select Class</option>');
            $("#Section_Roll").empty().append('<option value>Select Section</option>');
            $("#Subjects").empty().append('<option value>Select Subject</option>');

            $.getJSON('/RollNumberManagement/getClass',

           function (data) {
               $("#class_Roll").empty().append('<option value>Select Class</option>');
               $.each(data, function (i, c) {
                   $("#class_Roll").append($('<option></option>').val(c.ClassId).html(c.ClassType));
               });

           });
        });

        $("#class_Roll").change(function () {

            var cid = $("#class_Roll").val();

            $("#Section_Roll").empty().append('<option value>Select Section</option>');


            $.getJSON('/RollNumberManagement/getSection', { cid: cid },

            function (data) {
                $("#Section_Roll").empty().append('<option value>Select Section</option>');
                $.each(data, function (i, c) {
                    $("#Section_Roll").append($('<option></option>').val(c.SectionId).html(c.Section));
                });

            });
        });


        $("#Section_sub").change(function () {

            var acid = $("#acYear_Sub").val();
            var cid = $("#class_Sub").val();
            var sec_id = $("#Section_sub").val();


            $("#Subjects").empty().append('<option value>Select Subject</option>');

            $.getJSON('/MarkConfiguration/getSubject', { acid: acid, cid: cid, sec_id: sec_id },

            function (data) {
                $("#Subjects").empty().append('<option value>Select Subject</option>');
                $.each(data, function (i, c) {
                    $("#Subjects").append($('<option></option>').val(c.sub_id).html(c.sub_name));
                });

            });
        });





    </script>
}